<link href="catalog/view/javascript/bootstrap/css/bootstrap.css?v={{ app_version }}" type="text/css" rel="stylesheet"/>
<link type="text/css" href="/public/fonts/giga/iconfont.css?v={{ app_version }}" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/account/stock/detail.css?v={{ app_version }}" rel="stylesheet"
      type="text/css">
<link href="/catalog/view/javascript/toast/jquery.toast.min.css?v={{ app_version }}" rel="stylesheet" media="screen">
<link href="/catalog/view/javascript/toast/jquery.toast.update.css?v={{ app_version }}" rel="stylesheet" media="screen">

{# 公用样式css#}
<link href="/public/css/common/common.css?v={{ app_version }}" rel="stylesheet" type="text/css">
{# 公用样式css#}

{# 可用库存css #}
<link href="catalog/view/theme/default/stylesheet/account/stock/detail_available.css?v={{ app_version }}" rel="stylesheet" type="text/css">
{# 可用库存css #}

{# 合约中库存的css #}
<link href="catalog/view/theme/default/stylesheet/account/stock/detail_contract.css?v={{ app_version }}" rel="stylesheet" type="text/css">
{# 合约中库存的css #}

{# 锁定库存的css #}
<link href="catalog/view/theme/default/stylesheet/account/stock/detail_locking.css?v={{ app_version }}" rel="stylesheet" type="text/css">
{# 锁定库存的css #}
<div class="in-house-detail">
  <div class="in-house-detail-title">
    <div class="in-house-detail-title-left">
      <div>
        <img class="item-img" src="{{ product.image|resize(60,60) }}" alt="{{ product.sku }}">
      </div>
      <div>
        <div class="light-gray margin-bottom-10">Item Code</div>
        <div class="dark-gray">
          <a
            style="color: inherit"
            class="hover-blue"
            href="{{ url('product/product',{'product_id':product.product_id}) }}"
            target="_blank">
            {{ product.sku }} {{ product.product_id|productTags }}
          </a>
        </div>
      </div>
    </div>
    <div class="in-house-detail-title-middle">
      <div class="light-gray margin-bottom-10">Seller</div>
      <div class="dark-gray">
        <a
          style="color: inherit"
          class="hover-blue"
          href="{{ url('customerpartner/profile',{'id': product.customerPartner.store.customer_id}) }}"
          target="_blank">
          {{ product.customerPartner.store.screenname }}
        </a>
      </div>
    </div>
    <div class="in-house-detail-title-right">
      <div class="light-gray margin-bottom-10">L*W*H</div>
      {% for item in size %}
        <div class="dark-gray">
          {{ item.length|number_format(2) }}" * {{ item.width|number_format(2) }}" * {{ item.height|number_format(2) }}"
          {% if product.combo_flag == 1 %} x{{ item.qty }} {% endif %}
        </div>
      {% endfor %}
      <div class="dark-gray"> ({{ volume|number_format(4) }} m³)</div>
    </div>
  </div>
  <div class="stock-tabs-con">
    <div role="tabpanel" class="tab-pane active">
      <div class="panel-default">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="sales_list">
          <li role="presentation" class="{{ tab_id == 'tab_available' ? 'active' : '' }}">
            <a href="#validGoods"
               aria-controls="sale_order"
               role="tab"
               data-toggle="tab">
              {{ text_available_qty }}({{ qty_info.0|default(0) }})
            </a>
          </li>
          <li role="presentation" class="{{ tab_id == 'tab_contract' ? 'active' : '' }}">
            <a
              href="#promiseeGoods"
              aria-controls="upload"
              role="tab"
              data-toggle="tab">
              {{ text_agreement_qty }}({{ qty_info.1|default(0) }})
            </a>
          </li>
          <li role="presentation" class="{{ tab_id == 'tab_locking' ? 'active' : '' }}">
            <a
              href="#lockGoods"
              aria-controls="record"
              role="tab"
              data-toggle="tab">
              {{ text_blocked_qty }}({{ qty_info.2|default(0) }})
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div
            role="tabpanel"
            data-url="{{ url('account/stock/management/detailAvailable',{'product_id':product.product_id}) }}"
            class="tab-pane {{ tab_id == 'tab_available' ? 'active' : '' }}"
            id="validGoods"></div>
          <div
            role="tabpanel"
            data-url="{{ url('account/stock/management/detailContract',{'product_id':product.product_id}) }}"
            class="tab-pane {{ tab_id == 'tab_contract' ? 'active' : '' }}"
            id="promiseeGoods"></div>
          <div
            role="tabpanel"
            data-url="{{ url('account/stock/management/detailLocking',{'product_id':product.product_id}) }}"
            class="tab-pane {{ tab_id == 'tab_locking' ? 'active' : '' }}"
            id="lockGoods"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js?v={{ app_version }}" type="text/javascript"></script>
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap.min.js?v={{ app_version }}"></script>
{# layer #}
<script type="text/javascript" src="catalog/view/javascript/layer/layer.js"></script>
{# layer #}
<script src="catalog/view/javascript/common.js?v={{ app_version }}" type="text/javascript"></script>
<script type="text/javascript" src="/catalog/view/javascript/toast/jquery.toast.min.js" charset="UTF-8"></script>
<script>
  let msgContainer = $('.in-house-detail');
  // 初始化
  $(function () {
    msgContainer.find('.tab-content').find('div').each(function (index, item) {
      item = $(item);
      if (item.hasClass('active')) {
        loadContainer(item);
      }
    })
    // tab标签点击事件
    msgContainer.find('li').on('click', function () {
        let item = $(this);
        let id = item.find('a').attr('href');
        let tabContainer = $(id);
        if (tabContainer.html() === '' || tabContainer.html() === null || tabContainer.html() === undefined) {
          loadContainer(tabContainer);
        }
      }
    )
  })

  function loadContainer(container) {
    let con = $(container);
    let url = con.attr('data-url');
    let layer1 = layer.load();
    con.load(url, function () {
      layer.close(layer1);
    })
  }
</script>
