{#入出库流水页#}
<link href="catalog/view/javascript/jquery/datetimepicker/datepickernew/bootstrap-datetimepicker.min.css?v={{ app_version }}" type="text/css" rel="stylesheet" media="screen"/>
<div class="bills-container inner-container form-wrapper giga-content" id ="discrepancyTab">
  <form action="#" id="discrepancySearch">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="billItemCode">{{ text_item_code }}</label>
          <input autocomplete="off" type="text" id="filter_item_code" name="filter_item_code" value="{{ search.filter_item_code }}" class="form-control" placeholder="{{ text_item_code }}">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="filter_type">{{ text_discrepancy_type }}</label>
          <select name="filter_type" id="filter_type" class="form-control">
            <option value="0">{{ text_please_select }}</option>
            {% for key,name in discrepancy_record_type %}
              <option value="{{ key }}" {{ search.filter_type == key ? 'selected' : '' }}>
                {{ name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="billCreationDateFrom" class="pl-8">{{ text_pick_month }}</label>
          <div class="datetimepicker-range pd-top-0">
            <div class="datetimepicker col-sm-12 padding-left-0 padding-right-0 datetimepicker-month">
              <input type="text" name="filter_created_month" class="form-control" id="filter_created_month" value="{{ search.filter_created_month }}" placeholder="Pick a month..." autocomplete="off">
              <span class="title"></span>
              <span class="icon"><i class="giga icon-date-icon"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-right bill-btn-con">
        <button type="button" class="giga-btn-primary" title="Filter" data-toggle="tooltip" data-original-title="Filter" id="btn_filter">
          {{ text_filter_btn }}</button>
        <button type="button" class="giga-btn-default giga-btn-reset" data-toggle="tooltip" title="Reset" data-original-title="Reset" id="btn_reset">
          <i class="giga icon-reset3"></i>
        </button>
        <button type="button" class="giga-btn-default giga-btn-download" data-toggle="tooltip" title="Download" data-original-title="Download" id="btn_download">
          <i class="giga icon-xiazai"></i>
        </button>
      </div>
    </div>
  </form>
  {# 顶部总计 #}
  <div class="inHouse-quick-view-tab flex-around">
    {% for totalItem in total_list %}
      <div class="quick-view-tab">
        <div class="quick-view-tab-title">{{ totalItem.desc }}</div>
        <div class="quick-view-txt {{ record_colors[totalItem.type] }}">{{ totalItem.count > 0 ? (totalItem.type == 1 ? '+' : '-') : '' }} {{ totalItem.count }}</div>
      </div>
      {% if loop.last != true %}
      <div class="guid"></div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="table-con">
    <div class="table-fixed-title table-header-shadow">
      <table class="table-header table mrb0 ">
        <tr>
          <th class="bills-image border-top-none">{{ text_image }}</th>
          <th class="bills-itemcode border-top-none">{{ text_item_code }}</th>
          <th class="bills-seller border-top-none">{{ text_seller }}</th>
          <th class="bills-out-type border-top-none">{{ text_discrepancy_type }}</th>
          <th class="bills-create-time border-top-none">
            <span>{{ text_creation_time }}</span>
            <span class="pos-relative">
            <i onclick="loadUrl('{{ sort.createUrl('creation_time', 'asc') }}')"
               class="gcl gcldown-solid my-sort my-sort-up {{ sort.getAttributeSortDirection('creation_time') == 'asc' ? 'active' : '' }}">
            </i>
            <i onclick="loadUrl('{{ sort.createUrl('creation_time', 'desc') }}')"
               class="gcl gcliup my-sort my-sort-down  my-sort-down-bct {{ sort.getAttributeSortDirection('creation_time') == 'desc' ? 'active' : '' }}">
            </i>
          </span>
          </th>
          <th class="bills-quantity text-center border-top-none">{{ text_quantity }}</th>
          <th class="bills-reason border-top-none">{{ text_discrepancy_reason }}</th>
          <th class="bills-type border-top-none">{{ text_invoice_type }}</th>
          <th class="bills-id border-top-none">{{ text_invoice_id }}</th>
        </tr>
      </table>
    </div>
    <div class="inHouse-table-con">
      {% if list is not empty %}
        <table class="table-body table table-hover">
          {% for item in list %}
            <tr>
              <td class="bills-image"><img class="item-img" src="{{ item.image|resize(40,40) }}" alt=""></td>
              <td class="bills-itemcode">
                <a href="{{ url('product/product',{'product_id':item.product_id}) }}" target="_blank" class="hover-a-link hover-pointer">{{ item.sku|upper }}</a>
                {% for tag in item.tags %}
                {{ tag }}
                {% endfor %}
              </td>
              <td class="bills-seller">
                <a title="{{ item.screenname }}"
                   class="hover-a-link hover-pointer"
                   href="{{ url('customerpartner/profile',{'id':item.seller_id}) }}"
                   target="_blank">{{ item.screenname|truncate(10,'...',30) }}</a>
              </td>
              <td class="bills-out-type pad-lf-12"><span class="tip-cricle {{ record_colors[item.type] }}"></span><span>{{ item.type_desc }}</span></td>
              <td class="bills-create-time pad-lf-10">{{ item.creation_time }}</td>
              <td class="bills-quantity text-center"><span class="{{ record_colors[item.type] }}">{{ item.type == 1 ? '+' : '-' }} {{ item.quantity }}</span></td>
              <td class="bills-reason pad-lf-10"><span>{{ item.reason_desc }}</span></td>
              <td class="bills-type pad-lf-10"><span>{{ item.invoice_type_desc }}</span></td>
              <td class="bills-id pad-lf-12 {{ item.order_url ? 'link-color' : '' }}">
                {% if item.order_url %}
                  <a href="{{ item.order_url }}" class="them-color" target="_blank">{{ item.order_id }}</a>
                  {% if item.is_cwf %}
                    <i class="giga icon-cwf" style="color: #1f5268;font-size: 15px;" data-toggle="tooltip"
                       data-original-title="{{ cwf }}"></i>
                  {% endif %}
                {% else %}
                  {{ text_na }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <div class="order-row text-center td-copy-padding">
          {{ is_search ? text_no_data_found : text_no_search_record }}
        </div>
      {% endif %}
    </div>
  </div>
  {# 分页 #}
  <div class="row mt-2">
    <div class="col-sm-12 text-right page-con">
      <ul id="bos_pagination_charge"></ul>
    </div>
  </div>
  {# 分页 #}
</div>
<script src="catalog/view/javascript/jquery/datetimepicker/datepickernew/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<script >
  let discrepancyTab = $('#discrepancyTab');
  let discrepancySearch = discrepancyTab.find("#discrepancySearch");
  let filterCreatedMonth = discrepancySearch.find('#filter_created_month');
  //URL
  let  discrepancyUrl = "{{ url('account/stock/management/discrepancyTab') }}";
  // filter button
  let filterButton = discrepancySearch.find('button[id="btn_filter"]');
  let resetButton = discrepancySearch.find('button[id="btn_reset"]');
  let downloadButton = discrepancySearch.find('button[id="btn_download"]');

  let itemCodeInput = discrepancyTab.find("input[name='filter_item_code']");

  // 时间选择器
  filterCreatedMonth.datetimepicker({
    format: 'yyyy-mm',
    pickTime: false,
    language: 'zh-CN',
    startView: 3,
    minView: 3,
    autoclose: 1,
  }).on('dp.hide', function () {
  });

  // 加载url
  function loadUrl(url) {
    block.blockUI();
    $('#tab_discrepancy').load(url, function () {
      block.unBlockUI();
    });
  }

  //搜索
  filterButton.on('click', function () {
    if (filterCreatedMonth.val() === '') {
      loadUrl(discrepancyUrl + '&' + $.param(getQueryParams()));
      return;
    }
    if (checkMonth()) {
      loadUrl(discrepancyUrl + '&' + $.param(getQueryParams()));
    }
  });

  // button 刷新
  resetButton.on('click', function () {
    loadUrl(discrepancyUrl);
  });

  // button 下载
  downloadButton.on('click', function () {
    if (filterCreatedMonth.val() === '') {
      $.toast({
        heading: false,
        text: '{{ text_please_select_a_month }}',
        position: 'top-center',
        showHideTransition: 'fade',
        icon: 'error',
        hideAfter: 3000,//3秒自动隐藏
        allowToastClose: true,
        loader: false,
        afterHidden: function () {
        }
      });
      return;
    }
    if (checkMonth()) {
      location.href = discrepancyUrl + '&export=1&' + $.param(getQueryParams());
    }
  })
  // 进行Monthinput的格式校验
  function checkMonth() {
    let monthRe = /^\d{4}-\d{2}$/;
    if (monthRe.test(filterCreatedMonth.val())) {
      return true;
    } else {
      $.toast({
        heading: false,
        text: 'Formatting error. Please use the following date format: yyyy-mm',
        position: 'top-center',
        showHideTransition: 'fade',
        icon: 'error',
        hideAfter: 3000,//3秒自动隐藏
        allowToastClose: true,
        loader: false
      });
      return false;
    }
  }

  // 搜索条件获取
  function getQueryParams() {
    let queryParams = discrepancySearch.serializeArray();
    let params = {};
    for (let item of queryParams) {
      let value = item['value'].trim();
      if (value !== '' && value !== '*') {
        params[item['name']] = value;
      }
    }
    return params;
  }

  $(function () {
    itemCodeInput.on('keyup', function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        loadUrl(discrepancyUrl + '&' + $.param(getQueryParams()));
        return true;
      }
    })
    itemCodeInput.on('keypress', function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        return false;
      }
    })

    $('#bos_pagination_charge').bootstrapPaginator({
      /*当前使用的是3版本的bootstrap*/
      bootstrapMajorVersion: 3,
      /*配置的字体大小是小号*/
      size: 'normal',
      /*当前页*/
      currentPage: {{ paginator.getPage() }},
      /*一共多少页*/
      totalPages: {{ max(paginator.getPageCount(), 1) }},
      /*页面上最多显示几个含数字的分页按钮*/
      numberOfPages: 5,
      pageRange: [10, 20, 30, 40, 50],
      rowsOfPage: {{ paginator.getPageSize() }},
      total: {{ paginator.getTotalCount() }},
      onPageClicked: function (event, originalEvent, type, page) {
        loadUrl('{{ paginator.getUrlWithNoPage() }}&page=' + page);
      }
    });
  })
</script>
