<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css?v={{ app_version }}" type="text/css"
      rel="stylesheet" media="screen"/>
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js?v={{ app_version }}"></script>
<div class="inHouseQuery inner-container giga-content">
  <form id="stock_search_form">
    <div class="inHouse-query-con flex-between">
      <div class="query-btn">
        <div class="form-group">
          <div class="input-group">
            <input
              autocomplete="off"
              type="text"
              name="filter_item_code"
              value="{{ request.filter_item_code_arr|join(',') }}"
              class="form-control query-input"
              placeholder="{{ text_item_code_input_placeholder }}">
            <div class="input-group-addon  hover-pointer" onclick="stockSearch();return false;">
              <i class="giga icon-search-whitex them-color"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="check-btn flex-start">
        <div class="check-btn-item {% if request.filter_stock_type b-and 1 %} them-color {% endif %} ">
          <input
            {% if request.filter_stock_type b-and 1 %}
              checked
            {% endif %}
            onchange="stockSearch()"
            name="filter_stock_type[]"
            value="1"
            type="checkbox">
          Available QTY>0
        </div>
        <div class="check-btn-item {% if request.filter_stock_type b-and 2 %} them-color {% endif %}">
          <input
            {% if request.filter_stock_type b-and 2 %}
              checked
            {% endif %}
            onchange="stockSearch()"
            name="filter_stock_type[]"
            value="2"
            type="checkbox">
          Agreement QTY>0
        </div>
        <div class="check-btn-item {% if request.filter_stock_type b-and 4 %} them-color {% endif %}">
          <input
            {% if request.filter_stock_type b-and 4 %}
              checked
            {% endif %}
            onchange="stockSearch()"
            name="filter_stock_type[]"
            value="4"
            type="checkbox">
          Blocked QTY>0
        </div>
        <div class="check-btn-item {% if request.filter_stock_type b-and 8 %} them-color {% endif %}">
          <input
            {% if request.filter_stock_type b-and 8 %}
              checked
            {% endif %}
            onchange="stockSearch()"
            name="filter_stock_type[]"
            value="8"
            type="checkbox">
          Storage Fee>0
        </div>
      </div>
      <div class="download-btn">
        <button
          type="button"
          class="giga-btn-default giga-btn-download"
          onclick="stockDownload();"
          data-toggle="tooltip" title=""
          data-original-title="Download">
          <i class="giga icon-xiazai"></i>
        </button>
      </div>
    </div>
    <div class="inHouse-quick-view-tab flex-around">
      <div class="quick-view-tab">
        <div class="quick-view-tab-title">{{ text_available_qty }}</div>
        <div class="quick-view-txt">{{ total_info.a_qty|default(0) }}</div>
      </div>
      <div class="guid"></div>
      <div class="quick-view-tab">
        <div class="quick-view-tab-title">{{ text_agreement_qty }}</div>
        <div class="quick-view-txt">{{ total_info.m_qty|default(0) }}</div>
      </div>
      <div class="guid"></div>
      <div class="quick-view-tab">
        <div class="quick-view-tab-title">{{ text_blocked_qty }}</div>
        <div class="quick-view-txt">{{ total_info.l_qty|default(0) }}</div>
      </div>
      <div class="guid"></div>
      <div class="quick-view-tab">
        <div class="quick-view-tab-title">{{ text_storage_fee_to_be_paid }}</div>
        <div class="quick-view-txt">{{ total_info.w_fee|formatPrice(currency) }}</div>
      </div>
    </div>
  </form>
  <div class="table-con">
    <div class="table-fixed-title table-header-shadow">
      <table class="table-header table mrb0 ">
        <tr>
          <th class="inHouse-index border-top-none">#</th>
          <th class="inHouse-image border-top-none">{{ text_image }}</th>
          <th class="inHouse-itemcode border-top-none">{{ text_item_code }}</th>
          <th class="inHouse-seller border-top-none">{{ text_seller }}</th>
          <th class="inHouse-vaild border-top-none text-center">
            <span>{{ text_available_qty }}</span>
            <span class="pos-relative">
            <i
              onclick="stock.loadUrl('{{ sort.createUrl('a_qty', 'asc') }}')"
              class="gcl gcldown-solid my-sort  my-sort-up {{ sort.getAttributeSortDirection('a_qty') == 'asc' ? 'active' : '' }}">
           </i>
            <i
              onclick="stock.loadUrl('{{ sort.createUrl('a_qty', 'desc') }}')"
              class="gcl gcliup my-sort my-sort-down aq {{ sort.getAttributeSortDirection('a_qty') == 'desc' ? 'active' : '' }}">
            </i>
            </span>
            <i class="giga icon-V10-wenhaotishi house-ques-icon "
               data-toggle="tooltip" title=""
               data-original-title="{{ text_available_qty_tips }}">
            </i>
          </th>
          <th class="inHouse-promise border-top-none text-center ">
            <span>{{ text_agreement_qty }}</span>
            <span class="pos-relative">
            <i
              onclick="stock.loadUrl('{{ sort.createUrl('m_qty', 'asc') }}')"
              class="gcl gcldown-solid my-sort  my-sort-up {{ sort.getAttributeSortDirection('m_qty') == 'asc' ? 'active' : '' }}">
            </i>
            <i
              onclick="stock.loadUrl('{{ sort.createUrl('m_qty', 'desc') }}')"
              class="gcl gcliup my-sort my-sort-down agq {{ sort.getAttributeSortDirection('m_qty') == 'desc' ? 'active' : '' }}">
            </i>
            </span>

            <i class="giga icon-V10-wenhaotishi house-ques-icon "
               data-toggle="tooltip" title=""
               data-original-title="{{ text_agreement_qty_tips }}">
            </i>
          </th>
          <th class="inHouse-lock border-top-none text-center pos-relative">
            <span>{{ text_blocked_qty }}</span>
            <span class="pos-relative">
            <i
              onclick="stock.loadUrl('{{ sort.createUrl('l_qty', 'asc') }}')"
              class="gcl gcldown-solid my-sort  my-sort-up {{ sort.getAttributeSortDirection('l_qty') == 'asc' ? 'active' : '' }}">
            </i>
            <i
              onclick="stock.loadUrl('{{ sort.createUrl('l_qty', 'desc') }}')"
              class="gcl gcliup my-sort my-sort-down bq {{ sort.getAttributeSortDirection('l_qty') == 'desc' ? 'active' : '' }}">
            </i>
            </span>

            <i class="giga icon-V10-wenhaotishi house-ques-icon "
               data-toggle="tooltip" title=""
               data-original-title="{{ text_blocked_qty_tips }}">
            </i>
          </th>
          <th class="inHouse-topay border-top-none text-center ">
            <span>{{ text_storage_fee }}</span>
            <span class="pos-relative">
            <i
              onclick="stock.loadUrl('{{ sort.createUrl('w_fee', 'asc') }}')"
              class="gcl gcldown-solid my-sort  my-sort-up {{ sort.getAttributeSortDirection('w_fee') == 'asc' ? 'active' : '' }}">
            </i>
            <i
              onclick="stock.loadUrl('{{ sort.createUrl('w_fee', 'desc') }}')"
              class="gcl gcliup my-sort my-sort-down sf {{ sort.getAttributeSortDirection('w_fee') == 'desc' ? 'active' : '' }}">
            </i>
          </span>
            <i class="giga icon-V10-wenhaotishi house-ques-icon "
               data-toggle="tooltip" title=""
               data-original-title="{{ text_storage_fee_tips }}">
            </i>
          </th>
        </tr>
      </table>
    </div>

    <div class="inHouse-table-con">
      <table class="table-body table table-hover">
        {% if list.count > 0 %}
          {% for k,item in list %}
            {% set params = [item.availableQty,item.agreementQty,item.blockQty] %}
            <tr>
              <td class="inHouse-index">{{ k+1 }}</td>
              <td class="inHouse-image"><img class="item-img" src="{{ item.image|resize(40,40) }}" alt="{{ item.sku }}">
              </td>
              <td class="inHouse-itemcode">
                <a
                  class="hover-a-link hover-pointer"
                  href="{{ url('product/product',{'product_id':item.product_id}) }}"
                  target="_blank">
                  {{ item.sku }} {{ item.product_id|productTags }}
                </a>
              </td>
              <td class="inHouse-seller">
                <a title="{{ item.store.screenname }}"
                   class="hover-a-link hover-pointer"
                   href="{{ url('customerpartner/profile',{'id':item.store.customer_id}) }}"
                   target="_blank">{{ item.store.screenname|truncate(10,'...',30) }}</a>
              </td>
              <td class="inHouse-vaild text-center">
                {% if item.availableQty > 0 %}
                <a href="javascript:;"
                   onclick="openDetailWindow({{ item.product_id }},'tab_available','{{ params|join(',') }}')"
                   class="link-color">
                  {{ item.availableQty }}
                  {% else %}
                    0
                  {% endif %}
                </a>
              </td>
              <td class="inHouse-promise text-center">
                {% if item.agreementQty > 0 %}
                  <a href="javascript:;"
                     onclick="openDetailWindow({{ item.product_id }},'tab_contract','{{ params|join(',') }}')"
                     class="link-color">
                    {{ item.agreementQty }}
                  </a>
                {% else %}
                  0
                {% endif %}
              </td>
              <td class="inHouse-lock text-center">
                {% if item.blockQty > 0 %}
                <a href="javascript:;"
                   onclick="openDetailWindow({{ item.product_id }},'tab_locking','{{ params|join(',') }}')"
                   class="link-color">
                  {{ item.blockQty }}
                  {% else %}
                    0
                  {% endif %}
                </a>
              </td>
              <td class="inHouse-topay text-center"><span>{{ item.feeTotal|formatPrice(currency) }}</span></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="9">
              {{ list_empty_reason ? text_no_search_record : text_no_stock_record }}
            </td>
          </tr>
        {% endif %}
      </table>
    </div>
  </div>
  {# 分页 #}
  <div class="row mt-2">
    <div class="col-sm-12 text-right page-con">
      <ul id="bos_pagination_stock"></ul>
    </div>
  </div>
  {# 分页 #}
</div>
<script>
  let stockUrl = '{{ stock_url }}';
  let stockSort = '{{ sort_url }}';
  let stockDetailUrl = '{{ url('account/stock/management/detail') }}';
  let stockDownloadUrl = '{{ url('account/stock/management/stockDownload') }}';
  let stockForm = $('#stock_search_form');
  let input = stockForm.find("input[name='filter_item_code']");
  var stock = {
    loadUrl: function (url) {
      block.blockUI();
      $('#tab_stock').load(url, function () {
        block.unBlockUI();
      });
    }
  };

  function openDetailWindow(productId, tab, params) {
    let contentUrl = stockDetailUrl;
    contentUrl += '&product_id=' + productId;
    if (tab) {
      contentUrl += '&tab_id=' + tab;
    }
    if (params) {
      contentUrl += '&params=' + params;
    }
    layer.open({
      type: 2,
      area: ['1000px', '70%'],
      title: '{{ text_inventory_report }}',
      fixed: false, //不固定Change
      skin: 'yzc_layer no_padding',
      scrollbar: false,
      content: contentUrl,
    });
  }

  // 获取查询参数
  function getStockQueryParams() {
    let formParams = stockForm.serializeArray();
    let params = {};
    for (let item of formParams) {
      let key = item['name'];
      let value = item['value'];
      if (value === '') {
        continue;
      }
      // checkbox 单独讨论
      if (key.indexOf('filter_stock_type') !== -1) {
        if (params.hasOwnProperty('filter_stock_type')) {
          params['filter_stock_type'] += parseInt(value);
        } else {
          params['filter_stock_type'] = parseInt(value);
        }
      } else {
        params[key] = value;
      }
    }
    return params;
  }

  // 开始搜索
  function stockSearch() {
    let params = getStockQueryParams();
    if (stockSort) {
      stockUrl += '&sort=' + stockSort;
    }
    stock.loadUrl(stockUrl + '&' + $.param(params))
  }

  // 下载
  function stockDownload() {
    if (stockSort) {
      stockDownloadUrl += '&sort=' + stockSort;
    }
    location.href = stockDownloadUrl + '&' + $.param(getStockQueryParams())
  }

  function openCartPage(){
    window.location.href = "{{ url('checkout/cart') }}";
  }

  $(function () {
    input.on('keyup', function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        stockSearch();
      }
    })
    input.on('keypress', function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        return false;
      }
    })
    $('#bos_pagination_stock').bootstrapPaginator({
      /*当前使用的是3版本的bootstrap*/
      bootstrapMajorVersion: 3,
      /*配置的字体大小是小号*/
      size: 'normal',
      /*当前页*/
      currentPage: {{ paginator.getPage() }},
      /*一共多少页*/
      totalPages: {{ max(paginator.getPageCount(), 1) }},
      /*页面上最多显示几个含数字的分页按钮*/
      numberOfPages: 5,
      pageRange: [10, 20, 30, 40, 50],
      rowsOfPage: {{ paginator.getPageSize() }},
      total: {{ paginator.getTotalCount() }},
      onPageClicked: function (event, originalEvent, type, page) {
        stock.loadUrl('{{ paginator.getUrlWithNoPage() }}&page=' + page);
      }
    });
  })
</script>
