{{ header }}{{ separate_column_left }}
<div
  {% if separate_view is defined and separate_view %}
    class="container-fluid" id="content" style="margin-left: 15%"
  {% else %}
    class="container"
  {% endif %}
>
  {% include 'giga/template/_parts/breadcrumb.twig' %}
  <div class="row giga-content">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div class="{{ class }}">{{ content_top }}
      <h1>{{ text_bill_detail }}</h1>
      <div class="row col-sm-12" id="box-shadow" style="margin-left: 0;padding: 0;">
        <div class="panel panel-default" style="margin-bottom: 0">
          <div class="panel-body" style="font-weight: bold">
            <p style="color: darkorange;">Money from your orders is being resolved</p>
            <p>
              Sales Revenue is on hold and will be released in the next billing cycle
              Sales revenue is being held and will be released 7 days after the expected delivery date.
            </p>
            <h1 style="color: darkorange;margin-top: 40px">{{ remaining_balance }}</h1>
            <p>{{ settlement_period }}：{{ bill.start_date }} ~ {{ bill.end_date }} </p>
            <p>{{ total_beginning_balance }} : {{ bill.reserve_format }}</p>
            <a style="margin-top: 40px" onclick="history.go(-1);return false;" class="btn btn-primary">BACK</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}