{% if list %}
    {% for item in list %}
        <div class="coupon">
            <div class="one-coupon">
                <div class="coupon-left">
                    {% if item.buyer_scope %}
                        <div class="new-buyer">{{ item.buyer_scope }}</div>
                    {% endif %}
                    <div class="coupon-information">
                        <div class="money">
                            <div class="dollar">{{ item.country_monetary_unit }}</div>
                            <div class="number font-number font-number">{{ item.denomination_int }}
                            {% if item.denomination_deci %}
                            <span class="decimal-num">.{{ item.denomination_deci }}</span>
                            {% endif %}
                            </div>
                            <div class="off">{{ text_off }}</div>
                        </div>
                        <div class="Order-over">
                            {{ text_order_over }}&nbsp;{{ item.country_monetary_unit }}{{ item.order_amount }}
                        </div>
                        <div class="nowtime">
                            {{ item.effective_time_format }}&nbsp;-&nbsp;{{ item.expiration_time_format }}
                        </div>
                    </div>
                    <div class="dashed-stutas{% if (item.remain_qty < 1)%} gray-dashed{% else %} red-dashed{% endif %}">
                    </div>
                    <div class="left-top-circle"></div>
                    <div class="left-bottom-circle"></div>
                </div>
                {% if (item.num >= item.per_limit) %}
                    <div class="received-right right">
                        <div class="received-img">
                            <img src="image/coupon/received.png" alt="">
                        </div>
                    </div>
                {% elseif (item.remain_qty < 1) %}
                    <div class="claimed-right right">
                        <div class="all-claimed">{{ text_all_claimed }}</div>
                    </div>
                {% else %}
                    <div id="right_parent_{{ item.id }}">
                        <div class="coupon-right right">
                            <div class="get-now" data-id="{{ item.id }}" id="coupon_{{ item.id }}">
                                {{ text_get_now }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}