{# (1452)优惠券中心2020-11-10 #} {{ header }}
<link type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/account/coupon.css" rel="stylesheet" />
<link href="/catalog/view/javascript/layer/theme/yzc/layuiOris.css" rel="stylesheet" />
<div id="content" class="coupon-ticket">
    <div class="coupon-page">
        <div class="top-picture">
            <!-- <div class="giga-coupon">
                {{ text_coupon_banner_title }}
            </div>
            <div class="hand-picked-coupons-for-you">
                {{ text_coupon_banner_detial }}
            </div> -->
        </div>
        <div class="all-coupon" id="parent_tag">
            <div id="no-coupon" class="no-coupon">{{ text_coupon_list_empty }}</div>
        </div>
        <div id="loading-bot" class="bot-text loading-bot">Loading...</div>
        {# <div id="end-bot" class="bot-text end">- End -</div> #}
        <div class="coupon-description" id="coupon-description">
            <div class="coupon-policy">
                {{ text_coupon_rule_title }}
            </div>
            <div class="coupon-rules">
                <div class="coupon-rule"><span class="rules-num">1</span><span class="rules-content">{{ text_coupon_rule_detail_one }}</span></div>
                <div class="coupon-rule"><span class="rules-num">2</span><span class="rules-content">{{ text_coupon_rule_detail_two }}</span></div>
                <div class="coupon-rule"><span class="rules-num">3</span><span class="rules-content">{{ text_coupon_rule_detail_three }}</span></div>
                 <div class="coupon-rule"><span class="rules-num">4</span><span class="rules-content">{{ text_coupon_rule_detail_four }}</span></div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
<script type="text/javascript" src="catalog/view/javascript/layerOris.js"></script>
<script type="text/javascript">
    var page = 0;
    var next_page = true;
    var loading = true;
    var is_login = '{{ is_login }}';

    $(document).ready(function() {
        getCouponTemList();
        $('body').on('click', '.get-now', function(){
            var id = $(this).data('id');
            draw(id, this);
        })
    });

    function draw(id, that) {
        if (! is_login) {
            window.location.href = "{{ url('account/login') }}";
            return;
        }
        $.ajax({
            url: "{{ url('account/coupon/management_center/drawCoupon') }}",
            type: 'post',
            data: {'couponId': id},
            dataType: 'json',
            beforeSend: function() {
                $('#coupon_'+id).button('loading');
                $(that).on('click.disable', false);
            },
            complete: function() {
                $('#coupon_'+id).button('reset');
                $(that).off('click.disable');
            },
            success: function(data) {
                if (data.status == 0) {
                    layerOris.commonLayer('error','{{ text_draw_error_title_message }}', data.msg, 5);
                } else if (data.status == 1) {
                    layerOris.commonLayer('success','{{ text_draw_success_title_message }}', data.msg, 3);
                } else if (data.status == 2) { // 领取完毕
                    layerOris.commonLayer('error','{{ text_draw_error_title_message }}', data.msg, 5);
                    var successDom = '<div class="claimed-right right">\n' +
                        '                        <div class="all-claimed">{{ text_all_claimed }}</div>\n' +
                        '                        <div class="right-top-circle"></div>\n' +
                        '                        <div class="right-bottom-circle"></div>\n' +
                        '                    </div>'
                    $('#right_parent_'+id)
                    .html(successDom)       // 右侧置灰
                    .siblings().find('div.dashed-stutas').removeClass('red-dashed').addClass('gray-dashed'); // 分解虚线置灰
                } else if (data.status == 3 || data.status == 4) { // 领取达到上限
                    if (data.status == 3) {
                        layerOris.commonLayer('error','{{ text_draw_error_title_message }}', data.msg, 5);
                    } else {
                        layerOris.commonLayer('success','{{ text_draw_success_title_message }}', data.msg, 3);
                    }

                    var successDom = '<div class="received-right right">\n' +
                        '                        <div class="received-img">\n' +
                        '                            <img src="image/coupon/received.png" alt="">\n' +
                        '                        </div>\n' +
                        '                    </div>';
                    $('#right_parent_'+id).html(successDom)
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                if (xhr.status == 200) {
                    try {
                        var responsContent = xhr.responseText;
                        if (responsContent.indexOf('<title>Account Login</title>')) {
                            window.location.href = "{{ url('account/login') }}";
                        }
                    } catch (e) {
                        layerOris.commonLayer('error',null,null,5)
                    }

                    return;
                }

                layerOris.commonLayer('error',null,null,5)
            }
        });
    }
    function checkHasCoupons() {
        // 检查是否存在优惠券，没有给提示
        var $coupon = $('#content').find('div.all-coupon div.coupon');
        if ($coupon && $coupon.length > 0){
            $('#no-coupon').hide();
            $('#coupon-description').show();
        } else {
            $('#no-coupon').show();
            $('#coupon-description').hide();
        }
    }
    function getCouponTemList() {
        page = (page) + 1;
        loading = false;
        var that = this;
        $('#loading-bot').html('Loading...');
        $.ajax({
            url: "{{ url('account/coupon/index/getCouponList') }}",
            type: 'post',
            data: {'page': page},
            success: function(data) {
                $('#loading-bot').html('');
                if (data.trim()) {
                    $('#parent_tag').append(data);
                } else {
                    next_page = false;
                    $('#end-bot').show();
                }
                loading = true;
                that.checkHasCoupons();
            },
            error: function() {
                $('#loading-bot').html('');
                that.checkHasCoupons();
            }
        });
    }
    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
        var scrollHeight = $(document).height();   //当前页面的总高度
        var clientHeight = $(this).height();    //当前可视的页面高度
        var totalHeight = parseFloat(clientHeight) + parseFloat(scrollTop);
        if (scrollHeight - totalHeight < 300) {
            if (loading && next_page) {
                getCouponTemList();
            }
        }
    });
</script>