<div class="tab-available">
    {% if (total == 0) %}
        <div class="no-data">
            {{ text_no_coupon_data }}
        </div>
    {% else %}
        <div class="available-hide">
            {% for k,v in coupon_list %}
                <div class="all-available">
                    {% if coupon_status == 1 %} {# 有效的 #}
                        <div class="available-top top-background">
                            <div class="giga-coupon giga-available">
                                {{ text_giga_coupon }}
                            </div>
                        </div>
                    {% else %} {# 已使用&无效的 #}
                        <div class="used-top top-background">
                            <div class="giga-coupon giga-used">
                                {{ text_giga_coupon }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="{{ coupon_status == 1 ? 'available-bottom' : 'used-bottom' }} coupon-bottom">
                        <div class="information">
                            <div class="top-information">
                                <div class="mark-dollar {{ coupon_status == 1 ? ' available-dollar' : ' used-dollar' }}">{{ country_monetary_unit }}</div>
                                <div class="much {{ coupon_status == 1 ? ' available-much' : ' used-much' }} font-number">
                                    <span>{{ v.denomination_int }}</span>
                                    {% if v.denomination_deci %}
                                        <span class="decimal-num">.{{ v.denomination_deci }}</span>
                                    {% endif %}
                                </div>
                                <div class="exclusive-to{% if (v.denomination_deci|length+v.denomination_int|length)>4  %} font13{% endif %}">
                                    {% if (v.buyer_scope == 1) %}
                                        <div class="exclusive-to-new-buyer">
                                            {{ text_exclusive_to_new_buyer }}
                                        </div>
                                    {% endif %}
                                    <div class="order-over">
                                        {{ text_order_over }}&nbsp;{{ country_monetary_unit }}{{ v.order_amount }}
                                    </div>
                                </div>
                            </div>
                            <div class="effective-date">{{ v.effective_time_format }}&nbsp;-&nbsp;{{ v.expiration_time_format }}</div>
                        </div>
                        {% if coupon_status == 1 %}
                            <div class="use-now buy_now" >
                                {{ text_used_now }}
                            </div>
                        {% elseif coupon_status == 2 %}
                            <img src="image/coupon/used.png" alt="" class="used-picture">
                        {% else %}
                            <img src="image/coupon/expired.png" alt="" class="used-picture">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{#          分页#}
<div class="row mt-2 pages">
    <div class="col-sm-12 text-right" style="justify-content: flex-end;align-items: center">
        {% if coupon_status == 1 %} {# 有效的 #}
            <ul id="bos_pagination_available"></ul>
        {% elseif coupon_status == 2 %} {# 已使用 #}
            <ul id="bos_pagination_used"></ul>
        {% else %} {# 无效的 #}
            <ul id="bos_pagination_invalid"></ul>
        {% endif %}
    </div>
</div>
{#          分页#}

<script>
    // 有效的优惠券列表
    var coupon_list_link = "{{ url('account/coupon/management_center/getMyCouponList') }}";
    $(document).ready(function () {
        if ('{{ coupon_status }}' == 1) {
            pagination_available();
        } else if ('{{ coupon_status }}' == 2) {
            pagination_used();
        } else {
            pagination_invalid();
        }

        $('.buy_now').click(function(){
            window.location.href = "{{ url('common/home') }}";
        });
    })
    function pagination_available() {
        if ({{ total_pages }}) {
            $('#bos_pagination_available').bootstrapPaginator({
                /*当前使用的是3版本的bootstrap*/
                bootstrapMajorVersion: 3,
                /*配置的字体大小是小号*/
                size: 'normal',
                /*当前页*/
                currentPage: {{ page }},
                /*一共多少页*/
                totalPages: {{ total_pages }},
                /*页面上最多显示几个含数字的分页按钮*/
                numberOfPages: 5,
                pageRange: [20,40,60,100],
                rowsOfPage: {{ page_limit }},
                total: {{ total }},
                onPageClicked: function (event, originalEvent, type, page) {
                    let url = coupon_list_link  + '&status=1&page=' + page;
                    block.blockUI();
                    $('#home').load(url, function () {
                        block.unBlockUI();
                    });
                }
            });
        }
    }

    function pagination_used() {
        if ({{ total_pages }}) {
            $('#bos_pagination_used').bootstrapPaginator({
                /*当前使用的是3版本的bootstrap*/
                bootstrapMajorVersion: 3,
                /*配置的字体大小是小号*/
                size: 'normal',
                /*当前页*/
                currentPage: {{ page }},
                /*一共多少页*/
                totalPages: {{ total_pages }},
                /*页面上最多显示几个含数字的分页按钮*/
                numberOfPages: 5,
                pageRange: [20,40,60,100],
                rowsOfPage: {{ page_limit }},
                total: {{ total }},
                onPageClicked: function (event, originalEvent, type, page) {
                    let url = coupon_list_link  + '&status=2&page=' + page;
                    block.blockUI();
                    $('#profile').load(url, function () {
                        block.unBlockUI();
                    });
                }
            });
        }
    }

    function pagination_invalid() {
        if ({{ total_pages }}) {
            $('#bos_pagination_invalid').bootstrapPaginator({
                /*当前使用的是3版本的bootstrap*/
                bootstrapMajorVersion: 3,
                /*配置的字体大小是小号*/
                size: 'normal',
                /*当前页*/
                currentPage: {{ page }},
                /*一共多少页*/
                totalPages: {{ total_pages }},
                /*页面上最多显示几个含数字的分页按钮*/
                numberOfPages: 5,
                pageRange: [20,40,60,100],
                rowsOfPage: {{ page_limit }},
                total: {{ total }},
                onPageClicked: function (event, originalEvent, type, page) {
                    let url = coupon_list_link  + '&status=3&page=' + page;
                    block.blockUI();
                    $('#messages').load(url, function () {
                        block.unBlockUI();
                    });
                }
            });
        }
    }
</script>