{% set titleStr = 'My Contacts' %}
{{ this.title(titleStr) }}
{{ this.params('breadcrumbs', [
  'home',
  {
    text: 'Message Center',
    href: url('account/message_center/seller'),
  },
  {
    text: titleStr,
    href: url('account/message_center/address_book'),
  }
]) }}

{{ css([
    'css/common/common.css',
    'css/common/common-ext.css',
    'static/message/message-common.css',
    'static/message/buyer-message-common.css',
    'static/customerpartner/message_center/my-message-common.css',
]) }}

<link rel="stylesheet" type="text/css" href="catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css">
<script type="text/javascript" src="/catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>

<style>
.search-btn {
  margin-top: 24px;
}

.search-btn button {
  margin-right: 10px;
}

.action-col {
  display: flex;
  height: 54px !important;
  padding: 0 28px !important;
  align-items: center;
  justify-content: center;
}

.text-left {
  text-align: left;
}


{# 行内编辑元素样式调整 #}
.contact-inline-btn {
  color: #004BD8;
  font-size: 14px;
  padding: 4px 8px;
  background: rgba(40, 97, 206, 0.1);
  border: 1px solid #496DE5;
  border-radius: 100px;
}

.contact-inline-btn:hover {
  cursor: pointer;
}

.edit-col:hover .contact-inline-btn,
.contact-inline-label
{
  display: inline-block;
}

.edit-col:hover .contact-inline-label,
.contact-inline-btn {
  display: none;
}

#page-addrbook .letter-count {
  font-size: 14px !important;
  bottom: 8px !important;
}

#page-addrbook .error-tip {
  font-size: 14px !important;
  margin-top: 0px !important;
}

#page-addrbook .table > thead > tr > th {
  vertical-align: middle;
}
</style>

{% if separate_view is defined and separate_view %}
  <div class="container-fluid" id="content" style="margin-left: 235px">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li>
          <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="container">
    {% endif %}
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
      {% else %}
        {% set class = 'col-sm-12' %}
      {% endif %}
      {% if separate_view == 0 %}
        {% set table_div_class = 'overflow: hidden;' %}
      {% endif %}
      <div ng-app="app" ng-cloak class="msgcent-mymessage" id="page-addrbook">
        <div id="content" class="{{ class }} msgb">{{ content_top }}
          {{ message_column }}

          <div class="msgcent msg-card" style="{{ table_div_class }}">
            <div class="msgb msg-card__title msgcent msg-detail__header">
              My Contacts
            </div>
            <div class="msgcent msg-form__container">
              <div class="tab-content main">
                <div role="tabpanel" class="tab-pane active" id="upload">
                  <div>
                    <div class="filter-wrapper form-wrapper">
                      <div class="oris-row">
                        <div class="oris-col-3 mymessage-col">
                          <label for="input-filter-seller-name" class="mymessage-label">{{ text_seller_store }}</label>
                          <input type="text" name="filter_seller_name" value="{{ search.filter_seller_name }}" placeholder="{{ column_seller_store }}" id="input-filter-seller-name" class="oris-input"/>
                        </div>

                        <div class="oris-col-3 mymessage-col oris-select">
                          <label for="input-filter-status" class="mymessage-label">{{ column_status }}</label>
                          <select name="filter_status" id="input-filter-status" class="selectpicker" data-dropup-auto=false>
                            <option value="">All</option>
                            <option value="1" {% if search.filter_buyer_control_status == "1" %} selected {% endif %}>{{ text_active }}</option>
                            <option value="0" {% if search.filter_buyer_control_status == "0" %} selected {% endif %}>{{ text_inactive }}</option>
                          </select>
                        </div>
                        
                        <div class="oris-col-5 mymessage-col search-btn">
                          <button type="button" onclick="filterData();" class="oris-button oris-button-bigger">{{ button_filter }}</button>
                          <button type="button" onclick="clrFilterData(this);" class="oris-button oris-button-default oris-button-bigger msg-w80">Reset</button>
                          <button type="button" onclick="downloadItemCodeMapping();" class="oris-button oris-button-default msg-icon-button" data-toggle="tooltip" title="Download">
                            <i class="giga icon-xiazai1"></i>
                          </button>
                          <button type="button" onclick="addTo();" class="oris-button oris-button-bigger" style="display:none" id="add_to_btn">Add to</button>
                        </div>

                      </div>
                    </div>

                    <div class="msgcent msg-table__container mt-10">
                    <table class="table oris-table oris-scroll-table oris-table-minicheck msgcent" style="margin-bottom:0px;">
                      <thead>
                        <tr>
                          <td clsss="oris-w42"><input type="checkbox" style="margin: 0" name="address_all_selected" onclick="checkAll(this)"/>
                          <th>#</th>
                          <th class="text-left" style="width: 160px">
                           {# {% if sort == 'ctc.`screenname`' %}
                              <a style="cursor: pointer" href="{{ sort_seller_name }}" class="{{ order|lower }}">{{ column_seller_store }}</a>
                            {% else %}#}
                              {{ column_seller_store }}
                          {#  {% endif %}#}
                          </th>
                          <th>{{ column_language }}</th>
                          <th class="text-left">{{ column_main_category }}</th>
                          <th class="text-center">Number of<br>transactions</th>
                          <th class="text-right">Total amount of<br>transactions</th>
                          <th class="text-left">{{ column_Last_transaction_time }}</th>
                          <th class="text-center" >
                            <span data-toggle="tooltip" title="{{ tip_coop_seller_status }}" class="toggle-mark">
                              {{ column_coop_status_seller }}
                              <i class="giga icon-V10-wenhaotishi"></i>
                            </span>
                          </th>
                          <th class="text-center">
                           {# {% if sort == 'bts.`buyer_control_status`' %}
                              <a style="cursor: pointer" href="{{ sort_coop_status_buyer }}" class="{{ order|lower }}">
                                <span data-toggle="tooltip" title="{{ tip_coop_buyer_status }}" class="toggle-mark">
                                  {{ column_status }}
                                  <i class="giga icon-V10-wenhaotishi"></i>
                                </span>
                              </a>
                            {% else %}#}
                              <span href="{{ sort_coop_status_buyer }}">
                                <span data-toggle="tooltip" title="{{ tip_coop_buyer_status }}" class="toggle-mark">
                                  {{ column_status }}
                                  <i class="giga icon-V10-wenhaotishi"></i>
                                </span>
                              </span>
                           {# {% endif %}#}
                          <th class="text-center oris-w120 pr-24" >
                            <span data-toggle="tooltip" title="{{ tip_subscribed }}" class="toggle-mark">
                              {{ text_subscribed }}
                              <i class="giga icon-V10-wenhaotishi"></i>
                            </span>
                          </th>
                          </th>
                          <th class="text-center fixed-right oris-w120 action-col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {# @TODO 修改表格中行内编辑的交互 #}
                        {% if list %}
                          {% for data in list %}
                            <tr id="data_{{ data.seller_id }}">
                              <td clsss="oris-w42">
                                <input type="checkbox" name="selected[]" style="margin: 0" onclick="inputChecked()" value="{{ data.seller_id }}"
                                data-id="{{ data.seller_id }}" data-name="{{ data.screenname }}"/>
                              </td>
                              <td>
                                <input hidden value="{{ data.id }}" name="id" type="text"/>
                                {{ data.no }}
                              </td>
                              <td class="text-left">
                                <span class="msg-subject-tdspan" title="{{ data.screenname }}" style="width:160px;vertical-align:middle">
                                  <a href="{{ url('customerpartner/profile', {'id':data.seller_id}) }}" target="_blank" style="color:#3A75DC;" onmousemove="addUnderline(this)" onmouseout="removeUnderline(this)">
                                    {{ data.screenname }}
                                  </a>
                                </span>
                              </td>
                              <td>{{ data.language_format }}</td>
                              <td class="text-left">{{ data.main_cate_name }}</td>
                              <td style="text-align: center">{{ data.number_of_transaction }}</td>
                              <td style="text-align: right">{{ data.money_of_transaction }}</td>
                              <td style="text-align: left">
                                {{ data.last_transaction_time=='0000-01-01 00:00:00'?'':data.last_transaction_time }}
                              </td>
                              <td class="text-center pr-24">
                                {% if data.coop_status_seller == 0 %}
                                  {{ text_inactive }}
                                {% elseif data.coop_status_seller == 1 %}
                                  {{ text_active }}
                                {% endif %}
                              </td>
                              <td class="text-center edit-col pr-24">
                                {% if data.coop_status_buyer == 1 %}
                                  <span class="contact-inline-label form-display">{{ text_active }}</span>
                                  <span class="contact-inline-btn" onclick="checkControlStatus(this, 0)" data-id="{{data.seller_id}}">{{ text_inactive }}</span>
                                {% elseif data.coop_status_buyer == 0 %}
                                  <span class="contact-inline-label form-display">{{ text_inactive }}</span>
                                  <span class="contact-inline-btn" onclick="checkControlStatus(this, 1)" data-id="{{data.seller_id}}">{{ text_active }}</span>
                                {% endif %}
                                {# @TODO 需要确认交互，是否和subscribe保持一致 #}
                                {# <select class="form-edit form-control" style="display: none" name="coop_status_buyer">
                                  <option value="0" {% if data.coop_status_buyer == 0 %} selected {% endif %}>{{ text_inactive }}</option>
                                  <option value="1" {% if data.coop_status_buyer == 1 %} selected {% endif %}>{{ text_active }}</option>
                                </select> #}
                              </td> 
                              <td class="text-center edit-col oris-w120" style="padding-right:42px !important">
                                {% if data.is_product_subscribed == 1 %}
                                  <span class="contact-inline-label form-display">{{ column_subscribed }}</span>
                                  <span class="contact-inline-btn" onclick="checkSubscribedStatus(this, 0)" data-id="{{data.seller_id}}">Unsubscribe</span>
                                {% elseif data.is_product_subscribed == 0 %}
                                  <span class="contact-inline-label form-display">{{ column_unsubscribed }}</span>
                                  <span class="contact-inline-btn" onclick="checkSubscribedStatus(this, 1)" data-id="{{data.seller_id}}">Subscribe</span>
                                {% endif %}
                                {# <select class="form-edit form-control" style="display: none" name="coop_status_buyer">
                                  <option value="0" {% if data.coop_status_buyer == 0 %} selected {% endif %}>{{ text_inactive }}</option>
                                  <option value="1" {% if data.coop_status_buyer == 1 %} selected {% endif %}>{{ text_active }}</option>
                                </select> #}
                              </td>
                              <td class="text-center fixed-right oris-w120">
                                <a onclick="sendMsg(this)" data-id="{{ data.seller_id }}" data-name="{{ data.screenname }}" data-toggle="tooltip" title="Compose" class="btn-text"
                                  style="margin-right: 20px">
                                  <i class="giga icon-youjian-01" style="font-size: 20px;"></i>
                                </a>
                                {# @TODO 替换投诉图标 #}
                                <a onclick="handleComplaint(this)" data-id="{{ data.seller_id }}" data-toggle="tooltip" title="Complaint" class="btn-text">
                                  <i class="giga icon-shiwu-chuizi" style="font-size: 20px;"></i>
                                </a>                                
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                        {% else %}
                          </tbody>
                        </table>
                        <div class="msg-empty">
                          <div class="msg-empty-container">
                            <div class="msg-empty-icon">
                              <img src="{{ asset("image/icons/empty.png") }}"></img>
                            </div>
                            <div class="msg-empty-title">No Records Found !</div>
                          </div>
                        </div>
                        {% endif %}
                    </div> 

                    <div class="oris-row oris-pagination">
                      <ul id="bos_pagination"></ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="complaint-container" style="display:none">
              <div class="oris-comments">
                <textarea rows="4" class="oris-input complaint-content msg-form" id="complaint-content" placeholder="Please enter content..." style="height:230px;"></textarea>
                <span class="letter-count"><span id="complaint-len" class="link-color">0</span>/500</span>
              </div>
              <div class="error-tip text-danger hidden">Content can not be blank.</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}

<script type="text/javascript" src="catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js"></script>

<script>
var complainBtn = null;

//计算word 数量
$("#complaint-content").bind('input propertychange change', function () {
  calcComplaintContent();
});

$(function(){
  initPagination();
  //初始化下拉选择框
  $("#input-filter-status").selectpicker();
  checkAddTo();
})

window.addEventListener("pageshow", () => {
  checkAddTo();
});

// 显示错误提示
function toggleFormError(el, show=true) {
  show ? $(el + " .error-tip").removeClass("hidden") : $(el + " .error-tip").addClass("hidden");
  let formRed = el + " .msg-form";
  show ? $(formRed).addClass("error-input") : $(formRed).removeClass("error-input");
}

//刷新投诉理由内容数据
function calcComplaintContent() {
  var val = $("#complaint-content").val();
  var data = toolString.calcStringLength(val, 500);
  $("#complaint-content").val(data.fullStr);
  $("#complaint-len").text(data.len);
}

//检查是否显示add to 按钮
function checkAddTo() {
  var length = $("#page-addrbook input[name='selected[]']:checked").length;
  if(length <= 0) {
    $("#add_to_btn").hide();
  } else {
    $("#add_to_btn").show();
  }
}

// 勾选框控制按钮是否显示
$("#page-addrbook input[name='selected[]'] ,#page-addrbook input[name='address_all_selected']").on('change', function() {
  checkAddTo();
});

function initPagination() { // 需要返回分页数据
  $('#bos_pagination').bootstrapPaginator({
    /*当前使用的是3版本的bootstrap*/
    bootstrapMajorVersion: 3,
    /*配置的字体大小是小号*/
    size: 'normal',
    /*当前页*/
    currentPage: {{ paginator.getPage() }},
    /*一共多少页*/
    totalPages: {{ max(paginator.getPageCount(), 1) }},
    /*页面上最多显示几个含数字的分页按钮*/
    numberOfPages: 5,
    pageRange: [10, 20, 30, 50, 100],
    total: {{ paginator.getTotalCount() }},
    rowsOfPage: {{ paginator.getPageSize() }},
    onPageClicked: function (event, originalEvent, type, page) {
      filterData(page, originalEvent['page_info'] || {});
    }
  });
}

function handleComplaint(el) {
  layer.open({
    type: 1,
    area: ['640px', 'auto'],
    title: "Reasons for complaint",
    skin: 'oris-layer',
    scrollbar: false,
    content: $(".complaint-container"),
    btn: ['Submit', 'Cancel'],
    yes: function (layerIndex, layerObj) {
      if(!$("#complaint-content").val().trim()) {
        toggleFormError(".complaint-container");
        return false;
      }

      complainBtn = $("a.layui-layer-btn0");
      if(complainBtn.hasClass("layui-btn-disabled")){
          return;
      }
      complainBtn.addClass("layui-btn-disabled"); 

      complain($(el).data('id'), $("#complaint-content").val());
      calcComplaintContent();
    },
    btn2: function (index, layerObj) {
      $("#complaint-content").val("");
      calcComplaintContent();
      toggleFormError(".complaint-container", false);
    },
    cancel: function() {
      $("#complaint-content").val("");
      calcComplaintContent();
      toggleFormError(".complaint-container", false);
    }
  });
}

// 添加下划线
function addUnderline(obj) {
  $(obj).css("text-decoration", "underline");
}

// 移除下划线
function removeUnderline(obj) {
  $(obj).css("text-decoration", "");
}

// 转跳到新消息页面
function jump2Msg(data) {
  localStorage.setItem('receivers', JSON.stringify(Array.from(data)));
  window.location = "{{url('account/message_center/message/new')}}";
}

//群发接口
function addTo() {
  let receivers = [];
  $("#page-addrbook input[name='selected[]']:checked").each(function() {
    receivers.push(JSON.stringify({
      id: $(this).data('id'),
      name: $(this).data('name')
    }))
  })
  jump2Msg(receivers)
}
//单发接口
function sendMsg(el) {
  let receivers = [JSON.stringify({
      id: $(el).data('id'),
      name: $(el).data('name')
    })];
  jump2Msg(receivers)
}

function filterData(page, page_info) {
  // customer name
  let filter_seller_name = encodeURIComponent($("#input-filter-seller-name").val().trim());
  // buyer 控制状态
  let filter_buyer_control_status = $("#input-filter-status").val();
  let url = "{{ url('account/message_center/address_book') }}";
  url += "&filter_seller_name=" + filter_seller_name;
  url += "&filter_buyer_control_status=" + filter_buyer_control_status;

  if (page) {
      url += "&page=" + page;
  }

  if (page_info) {
      for (let i in page_info) {
          url += '&' + i + '=' + page_info[i];
      }
  }

  location = url;
}

function clrFilterData(button) {
  let url = "{{ url('account/message_center/address_book') }}";
  location = url;
}

// 修改Buyer合作状态
function checkControlStatus(el,status) {
  let sellerId = $(el).data('id');
  let data = {};
  data["seller_id"] = sellerId;
  data["status"] = status;
  $.ajax({
    url: "{{ url('account/message_center/address_book/checkControlStatus') }}",
    type: 'post',
    dataType: 'json',
    data: data,
    beforeSend: function() {
    },
    success: function(json) {
      window.location.reload();
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
}

function inputChecked() {
  if ($('input[name="selected[]"]').length == $('input[name="selected[]"]:checked').length) {
      $('input[name=address_all_selected]').prop('checked', true);
  } else {
      $('input[name=address_all_selected]').prop('checked', false);
  }
}

function checkAll(that) {
  $('input[name*=\'selected\']').prop('checked', that.checked);
}

// 修改Buyer订阅Seller新品上架状态
function checkSubscribedStatus(el, status) {
  let sellerId = $(el).data('id');
  let data = {};
  data["seller_id"] = sellerId;
  data["status"] = status;
  $.ajax({
    url: "{{ url('account/message_center/address_book/checkSubscribedStatus') }}",
    type: 'post',
    dataType: 'json',
    data: data,
    beforeSend: function() {
    },
    success: function(json) {
      window.location.reload();
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
}

// 投诉
function complain(sellerId, reason) {
  let data = {};
  data["seller_id"] = sellerId;
  data["reason"] = reason;
  $.ajax({
    url: "{{ url('account/message_center/address_book/complain') }}",
    type: 'post',
    dataType: 'json',
    data: data,
    beforeSend: function () {
    },
    success: function (json) {
      layer.closeAll();
      layer.alert("Your report has been sent to GIGA Marketplace, and we will feedback the processing result to you as soon as possible. Thank you for your support.", {
        closeBtn: 0,
        btnAlign: 'c',
        title: 'Attention',
        btn: ['I Know'],
        skin: 'oris-layer'},
      function () {
          layer.closeAll();
          window.location.reload();
      }); 

      complainBtn.removeClass("layui-btn-disabled");
    },
    error: function (xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      block.unBlockUI();
      complainBtn.removeClass("layui-btn-disabled");
    }
  });
}

// 下载数据
function downloadItemCodeMapping() {
  let url = '{{ url('account/message_center/address_book/download') }}';

  let filter_seller_name = $("#input-filter-seller-name").val();
  if (filter_seller_name) {
    url += '&filter_seller_name=' + filter_seller_name;
  }
  let filter_buyer_control_status = $("#input-filter-status").val();
  if (filter_buyer_control_status) {
    url += '&filter_buyer_control_status=' + filter_buyer_control_status;
  }

  window.location.href = url;
}


function edit(id) { // 显示编辑
  $("#" + id + " .form-edit").css("display", "block");
  $("#" + id + " .btn-form-edit").css("display", "inline-block");
  // 隐藏展示
  $("#" + id + " .form-display").css("display", "none");
  $("#" + id + " .btn-form-display").css("display", "none");
}

function back(id) {
  $("#" + id + " .form-display").css("display", "block");
  $("#" + id + " .btn-form-display").css("display", "inline-block");
  $("#" + id + " .form-edit").css("display", "none");
  $("#" + id + " .btn-form-edit").css("display", "none");
}

</script>
