{% trans_default_category 'catalog/view/customerpartner/marketing_campaign/discount/index' %}

{{ js(['js/common/toolString.js']) }}

{# 全店折扣活动弹框 #}
{% include 'yzcTheme/template/customerpartner/marketing_campaign/discount/components/store_wide_discounts_modal.twig' %}

<div id="buyerDiscountPage">
  <form action="#">
    <div class="oris-row">
      <div class="oris-col-3">
        <label class="text-weight-normal" for="searchName">{{__('活动名称')}}</label>
        <input type="text" name="searchName" id="searchName" class="oris-input" autocomplete="off" value="{{ search.event_name }}"/>
      </div>
      <div class="oris-col-3">
        <label class="text-weight-normal" for="searchBuyer">Buyer Name / ID</label>
        <input type="text" name="searchBuyer" id="searchBuyer" class="oris-input" autocomplete="off" value="{{ search.filter_keywords }}" />
      </div>
      <div class="oris-col-3 oris-select">
        <label class="text-weight-normal" for="searchStatus">{{__('状态')}}</label>
        <select class="oris-select-prerender" name="searchStatus" id="searchStatus">
          <option value="">---{{ __('请选择', {}, 'common') }}---</option>
          {% for index,status in discount_status_list %}
          <option value="{{ index }}" {% if search.filter_status==index %}selected{% endif %}>{{ status }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="oris-col-3 p24-t">
        <button id="filterBtn" type="button" class="oris-button oris-button-bigger width80">{{__('查询')}}</button>
        <button id="addBtn" type="button" class="oris-button-light pull-right flex-layout">
          <i class="giga icon-jia">&nbsp;</i>{{__('添加活动')}}
        </button>
      </div>
    </div>
  </form>
  <table class="oris-table m20-t">
    <thead>
      <tr>
        <th class="oris-w220">{{__('活动名称')}}</th>
        <th class="oris-w120">{{__('折扣')}}</th>
        <th class="oris-w100">{{__('活动产品')}}</th>
        <th class="oris-w340">{{__('活动适用的buyer')}}</th>
        <th class="oris-w340">{{__('活动有效期间')}}</th>
        <th class="oris-w160">{{__('修改时间')}}</th>
        <th class="oris-w120">{{__('状态')}}</th>
        <th class="oris-w100 min-width-action text-center">{{__('操作')}}</th>
      </tr>
    </thead>
    <tbody>
      {% if list|length %}
      {% for e,item in list %}
      <tr>
        <td>
          <span class="max-line2" title="{{ item.name }}">{{ item.name }}</span>
        </td>
        <td>{{ item.discount_off }}% OFF</td>
        <td>{{ item.product_scope_name }}</td>
        <td>
          {% if item.buyer_scope==-1 %}
          {{__('所有Buyer')}}
          {% else %}
          {% for index,buyer in item.buyers %}
          {% if index < 2 %} <span>{{buyer.buyer.nickname}}({{buyer.buyer.user_number}})</span>
            {% if item.buyers|length > 1 and index==0 %}
            ,
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if item.buyers|length > 2 %}
            ...,etc.
            {% endif %}
            {% endif %}
        </td>
        <td>{{item.effective_time}} - {{item.expiration_time}}</td>
        <td>{{item.update_time}}</td>
        <td><span class="oris-circle {{ item.color_status_name }}"></span>{{item.effective_status_name}}</td>
        <td class="text-center">
          <a href="javascript:void(0)" data-index="{{e}}" class="btn-text action-edit">
            <span><i class="giga icon-seller_bianji-01" data-toggle="tooltip" title="{{__('编辑')}}"></i></span>
          </a>&nbsp;
          <a href="javascript:void(0)" data-disountId="{{item.id}}" class="btn-text action-delete">
            <span>
              <i class="giga icon-seller_lajitong-01" data-toggle="tooltip" title="{{__('删除')}}"></i>
            </span>
          </a>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr class="no-records">
        <td colspan="7">{{__('没有数据')}}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if list|length %}
  {# 分页 #}
  <div class="oris-row oris-pagination">
    <ul id="tablePagination"></ul>
  </div>
  {# 分页 #}
  {% endif %}
</div>
{% apply script %}
<script type="text/javascript">
var data = {
  // 弹框的数据
  modalData: {
    discount: null,     // 折扣
    product_scope: '1', // 商品范围默认所有产品
    buyer_scope: '1',   // 使用折扣的Buyer  范围
    buyer_ids: '',      // Buyers
    effective_time: '', // 有效时间
    expiration_time: '',// 失效时间
    discount_id: 0,     // 0代表新增
    event_name: ''      // 活动名称
  },
  list: {{ list }},
  countryId: {{ country_id }},
  tipstext: {
    addTitle: "{{__('添加全店折扣活动')}}",
    editTitle: "{{__('编辑全店折扣活动')}}",
    deleteComfirm: "{{__('是否删除该折扣设置，删除后Buyer将不再享有该折扣。')}}",
    setName: "{{__('请输入活动名称')}}",
    setPrice: "{{__('请设置价格折扣')}}",
    rangePrice: "{{__('请输入1-70的正整数')}}",
    setBuyer: "{{__('请选择使用这个折扣的Buyer')}}",
    setDate: "{{__('请选择设置折扣有效期')}}",
    confirmTips: "{{__('如果设置的产品折扣优惠过高，导致Buyer购买的价格过低，平台会根据当前行业标准向Seller收取更高物流费，同时云送仓的运费将加收25%的附加费。是否确定创建活动？<br>可通过帮助中心了解更多物流报价信息。')}}"
  }
};
var buyerDiscountPage = {
  $modal: $('#detailModal'),
  init: function() {
    block.unBlockUI();
    // 初始化查询条件是否有值
    $('#searchStatus').selectpicker();
    $('.selectpicker').selectpicker();
    // 初始化日期控件
    $('#modalDateFrom').datetimepicker({
      minView: 1,
      pickDate: true,
      pickTime: true,
      format: 'yyyy-mm-dd hh:00:00',
      startDate: moment(new Date()).add(-1, 'days').format('YYYY-MM-DD 00:00:00'),
      autoclose: true,
    });
    $('#modalDateTo').datetimepicker({
      minView: 1,
      pickDate: true,
      pickTime: true,
      format: 'yyyy-mm-dd hh:59:59',
      startDate: moment(new Date()).add(-1, 'days').format('YYYY-MM-DD 00:00:00'),
      autoclose: true,
    }).on('changeDate', function(ev) {
      // 选中日期后默认选中的时间减1秒
      var time = $(this).val();
      var that = this;
      if (time) {
        setTimeout(function() {
          $(that).val(moment(time).subtract(1, 'hours').format('YYYY-MM-DD HH:mm:ss'));
        }, 200)
      }
    })
    // 初始化分页
    $('#tablePagination').bootstrapPaginator({
      /*当前使用的是3版本的bootstrap*/
      bootstrapMajorVersion: 3,
      /*配置的字体大小是小号*/
      size: 'normal',
      /*当前页*/
      currentPage: {{ paginator.getPage() }},
      /*一共多少页*/
      totalPages: {{ max(paginator.getPageCount(), 1) }},
      /*页面上最多显示几个含数字的分页按钮*/
      numberOfPages: 5,
      pageRange: [10, 20, 30, 50, 100],
      rowsOfPage: {{ paginator.getPageSize() }},
      total: {{ paginator.getTotalCount() }},
      onPageClicked: function(event, originalEvent, type, page) {
        block.blockUI();
        buyerDiscountPage.loadPage('{{ paginator.getUrlWithNoPage() }}&page_limit=' + originalEvent['page_info']['page_limit'] + '&page=' + page);
      }
    });
  },
  bindClick: function() {
    // Filter查询
    $('#storeWideDiscounts').find('#filterBtn').bind('click', function() {
      var params = `&filter_keywords=${$('#searchBuyer').val() }&filter_status=${$('#searchStatus').val()}&event_name=${$('#searchName').val()}`;
      var url = "{{ url('customerpartner/marketing_campaign/discount/index') }}" + params;
      block.blockUI();
      buyerDiscountPage.loadPage(url)
    });
    $('#storeWideDiscounts').find('#addBtn').bind('click', function() {
      methods.renderModalData(null);
      buyerDiscountPage.$modal.modal('show').find('.modal-title').html(data.tipstext.addTitle);
    })
    $('#storeWideDiscounts').find('#submitDetail').bind('click', function() {
      console.log('click submitDetail')
      methods.handleSubmitClick();
    })
    $('#storeWideDiscounts').find('#cancelDetail').bind('click', function(){
      // 取消modal
      buyerDiscountPage.$modal.modal('hide');
    })
    $('#storeWideDiscounts').find('.action-edit').bind('click', function() {
      // 编辑
      methods.renderModalData($(this).attr('data-index'));
      buyerDiscountPage.$modal.modal('show').find('.modal-title').html(data.tipstext.editTitle);
    })
    $('#storeWideDiscounts').find('.action-delete').bind('click', function() {
      var id = $(this).attr('data-disountId');
      // 删除弹框
      layer.confirm(data.tipstext.deleteComfirm, {
        title: "{{__('确认confirm')}}",
        skin: 'oris-layer',
        btn: ["{{__('确认')}}", "{{__('取消')}}"],
        scrollbar: false
      }, function(index) {
        layer.close(index);
        methods.deleteService(id);
      }, function(index) {
        layer.close(index);
      });
    })
  },
  bindChange: function() {
    $('#modalBuyerRange').on('changed.bs.select', function() {
      if ($(this).val() == '1') {
        $('#modalBuyerSelect').show();
      } else {
        $('#modalBuyerSelect').hide();
      }
    });
    $('#storeWideDiscounts').on('blur', '#modalDisount', function() {
      modalValidator.discountIsInvalid();
    }).on('blur', '#modalName', function() {
      modalValidator.nameIsInvalid();
    })
    $('#modalBuyerSelect').on('changed.bs.select', function() {
      modalValidator.buyerIsInvalid();
    });
    $('#modalDateFrom').bind('input propertychange change', function() {
      modalValidator.effectiveIsInvalid();
    });
    $('#modalDateTo').bind('input propertychange change', function() {
      modalValidator.expirationIsInvalid();
    })
  },
  loadPage: function(url) {
    url = url || '/index.php?route=customerpartner/marketing_campaign/discount/index';
    $('#storeWideDiscounts').load(url, function () {
      block.unBlockUI();
      $('.modal-backdrop').remove();
    });
  },
};
var methods = {
  handleSubmitClick: function() {
    if (modalValidator.do()) {
      return;
    }
    // 禁用btn
    $('#submitDetail').on('click.disable', false);
    $('#submitDetail').prop('disabled', true);
    // 非美国
    if (data.countryId !== 223) {
      return this.submitService();
    }
    let that = this;
    let lock = false; // 防止重复点击确认按钮
    // 美国国别二次弹框确认
    layer.confirm(data.tipstext.confirmTips, {
      title: "{{__('注意')}}",
      skin: 'oris-layer',
      btn: ["{{__('是')}}", "{{__('否')}}"],
      scrollbar: false,
      cancel: function(index, layero) {
        layer.close(index);
        $('#submitDetail').off('click.disable');
        $('#submitDetail').prop('disabled', false);
      }
    }, function(index) {
      if (!lock) {
        lock = true;
        layer.close(index);
        that.submitService();
      }
    }, function(index) {
      layer.close(index);
      $('#submitDetail').off('click.disable');
      $('#submitDetail').prop('disabled', false);
    });
  },
  // 发送提交请求
  submitService: function() {
    block.blockUI();
    $.ajax({
      url: 'index.php?route=customerpartner/marketing_campaign/discount/store',
      data: data.modalData,
      method: 'post',
      cache: false,
      dataType: 'json',
      success: function(res) {
        if (res.code == 200) {
          buyerDiscountPage.$modal.modal('hide');
          block.unBlockUI();
          buyerDiscountPage.loadPage();
          $.toast({
            heading: false,
            text: "{{__('提交成功')}}",
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        } else {
          block.unBlockUI();
          $.toast({
            heading: false,
            text: res.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        }
        $('#submitDetail').off('click.disable');
        $('#submitDetail').prop('disabled', false);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        $('#submitDetail').off('click.disable');
        $('#submitDetail').prop('disabled', false);
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    })
  },
  deleteService: function(id) {
    block.blockUI();
    $.ajax({
      url: 'index.php?route=customerpartner/marketing_campaign/discount/del',
      data: {
        discount_id: id
      },
      method: 'post',
      cache: false,
      dataType: 'json',
      success: function(res) {
        if (res.code == 200) {
          block.unBlockUI();
          buyerDiscountPage.loadPage();
          $.toast({
            heading: false,
            text: res.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        } else {
          block.unBlockUI();
          $.toast({
            heading: false,
            text: res.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        }
      }
    })
  },
  renderModalData: function(index) {
    var item = data.list[index];
    data.modalData.discount_id = index ? item.id : 0;
    $('#modalDisount').val(index ? item.discount_off : '');
    data.modalData.discount = index ? item.discount_off : '';
    data.modalData.event_name = index ? item.name : '';
    $('#modalName').val(data.modalData.event_name);
    $('#modalBuyerRange').selectpicker('val', index ? item.buyer_scope : '1');
    data.modalData.buyer_scope = index ? item.buyer_scope : '1';
    if (index) {
      if (item.buyer_scope == '-1') {
        $('#modalBuyerSelect').find('select').selectpicker('val', '');
        data.modalData.buyer_ids = null;
      } else {
        let buyers = [];
        item.buyers.forEach(one => {
          if (one.buyer && one.buyer.customer_id > 0) {
            buyers.push(one.buyer.customer_id + '');
          }
        });
        $('#modalBuyerSelect').find('select').selectpicker('val', buyers);
        data.modalData.buyer_ids = buyers.join(',');
      }
    } else {
      $('#modalBuyerSelect').find('select').selectpicker('val', '');
      data.modalData.buyer_ids = null;
    }
    $('#modalDateFrom').val(index ? item.effective_time_current_zone : '');
    data.modalData.effective_time = index ? item.effective_time_current_zone : '';
    $('#modalDateTo').val(index ? item.expiration_time_current_zone : '');
    data.modalData.expiration_time = index ? item.expiration_time_current_zone : '';
    $('#detailModal').find('.text-danger').html('');
  },
  changeName: function(obj) {
    //获取输入内容
    var calcReturn = toolString.calcStringLength($(obj).val(), 200);
    $(obj).val(calcReturn.fullStr);
  }
};
// 校验数据
var modalValidator = {
  do: function() {
    var result = this.nameIsInvalid();
    result = this.discountIsInvalid() || result;
    result = this.buyerIsInvalid() || result;
    result = this.effectiveIsInvalid() || result;
    return this.expirationIsInvalid() || result;
  },
  nameIsInvalid: function() {
    var result = false;
    var name = $('#modalName').val();
    if (!name) {
      $('#modalName').siblings('.text-danger').html(data.tipstext.setName);
      return true;
    }
    data.modalData.event_name = name;
    $('#modalName').siblings('.text-danger').html('');
    return result;
  },
  discountIsInvalid: function() {
    var result = false;
    var discount = $('#modalDisount').val();
    if (!discount) {
      $('#modalDisount').siblings('.text-danger').html(data.tipstext.setPrice);
      return true;
    }
    var regx = /^(?:|[1-6][0-9]|70|[1-9])$/;
    if (!regx.test(discount)) {
      $('#modalDisount').siblings('.text-danger').html(data.tipstext.rangePrice);
      return true;
    }
    data.modalData.discount = discount;
    $('#modalDisount').siblings('.text-danger').html('');
    return result;
  },
  buyerIsInvalid: function() {
    var result = false;
    var buyerScope = $('#modalBuyerRange').val();
    data.modalData.buyer_scope = buyerScope;
    if (buyerScope == '-1') {
      // 全部buyer
      data.modalData.buyer_ids = null;
    } else {
      // 部分buyer
      var buyers = $('#modalBuyerSelect').find('select').val();
      if (!buyers || buyers.length === 0) {
        $('#modalBuyerSelect').find('.text-danger').html(data.tipstext.setBuyer);
        return true
      }
      data.modalData.buyer_ids = buyers.join(',');
    }
    $('#modalBuyerSelect').find('.text-danger').html('');
    return result;
  },
  effectiveIsInvalid: function() {
    var result = false;
    var effective = $('#modalDateFrom').val();
    if (!effective) {
      $('#modalDateFrom').parent().siblings('.text-danger').html(data.tipstext.setDate);
      result = true
    } else {
      data.modalData.effective_time = effective;
      $('#modalDateFrom').parent().siblings('.text-danger').html('');
    }
    return result;
  },
  expirationIsInvalid: function() {
    var result = false;
    var expiration = $('#modalDateTo').val();
    if (!expiration) {
      $('#modalDateTo').parent().siblings('.text-danger').html(data.tipstext.setDate);
      result = true
    } else {
      data.modalData.expiration_time = expiration;
      $('#modalDateTo').parent().siblings('.text-danger').html('');
    }
    return result;
  }
}
$(function() {
  buyerDiscountPage.init();
  buyerDiscountPage.bindClick();
  buyerDiscountPage.bindChange();
});
</script>
{% endapply %}