<div role="tabpanel" class="tab-pane active">
  <div class="bg-white p-2">
    {#<div class="form-group">#}
      {#<button type="button" class="btn btn-primary doAddWarehouseMapping">Add Warehouse Mapping</button>#}
    {#</div>#}

    <div class="filter-wrapper form-wrapper">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label class="" ><span style="font-weight: bold">Platform</span></label>
            <select id="input-wh_platform_id" name="platform_id" class="form-control">
              <option value="0">--{{ __('请选择', {}, 'common') }}--</option>
              {% for item in platformKeyList %}
                <option value="{{ item.platform_id }}" {% if item.platform_id == filter_platform_id %}selected{% endif %}>
                  {{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="" for="input-item_code"><span style="font-weight: bold">Platform WareHouse Name</span></label>
            <input type="text" name="filter_platform_warehouse_name" value="{{ platform_warehouse_name }}"
                   placeholder="" id="input-platform_warehouse_name" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="" ><span style="font-weight: bold">B2B WareHouse Code</span></label>
            <select id="input-warehouse_id" name="warehouse_id" class="form-control">
              <option value="0">--{{ __('请选择', {}, 'common') }}--</option>
              {% for item in warehouseKeyList %}
                <option value="{{ item.WarehouseID }}" {% if item.WarehouseID == filter_warehouse_id %}selected{% endif %}>
                  {{ item.WarehouseCode }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group pull-right">
            <label class="form-control" style="visibility: hidden;height: 20px;"></label>
            <button type="button" onclick="filterWarehouseMapping(this);" class="btn btn-primary">{{ button_filter }}</button>
            <button type="button" onclick="clrFilterWarehouseMapping(this)" class="btn btn-default" data-toggle="tooltip" title="Reset">Reset</button>
            <button type="button" onclick="downloadWarehouseMapping();" class="btn btn-default"
                    data-toggle="tooltip" title="{{ text_commodity_statistics }}">
              <i class="fa fa-download"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary doAddWarehouseMapping mr-1"><i class="fa fa-plus"></i> Create</button>
    </div>

    <table class="table main table-hover">
      <thead>
      <tr>
        <th class="text-left" style="width: 30px">#</th>
        <th class="text-left my-hover"><a onclick="sortWarehouseMapping('platform','{{ order }}');"
            {% if sort == 'platform' %} class="{{ class_order|lower }}" {% endif %}>Platform </a></th>
        <th class="text-left" style="word-break: normal;width: 300px">Platform Warehouse Name</th>
        <th class="text-left my-hover"><a onclick="sortWarehouseMapping('warehouse_code','{{ order }}');"
            {% if sort == 'warehouse_code' %} class="{{ class_order|lower }}" {% endif %}>B2B Warehouse Code </a></th>
        <th class="text-left">Zip Code</th>
        <th class="text-left">State</th>
        <th class="text-left">City</th>
        <th class="text-left">Address</th>
        <th class="text-center my-hover" style="width: 85px"><a onclick="sortWarehouseMapping('date_modified','{{ order }}');"
            {% if sort == 'date_modified' %} class="{{ class_order|lower }}" {% endif %}>Last Modified </a></th>
        <th class="text-center" style="width: 80px">Action</th>
      </tr>
      </thead>
      <tbody>
      {% if warehouseMappingList %}
        {% for item in warehouseMappingList %}
          <tr id="tr_{{ item.id }}">
            <td class="text-left">{{ loop.index }}</td>
            <td class="text-left">{{ item.platform_name }}</td>
            <td class="text-left" >{{ item.platform_warehouse_name|replace({' ':'&nbsp'}) }}</td>
            <td class="text-left">{{ item.WarehouseCode }}</td>
            <td class="text-left">{{ item.ZipCode }}</td>
            <td class="text-left">{{ item.State }}</td>
            <td class="text-left" style="word-break: keep-all">{{ item.City }}</td>
            <td class="text-left" style="word-break: keep-all">{{ item.Address1 }}</td>
            <td class="text-center">{{ item.date_modified }}</td>
            <td class="text-center">
              <div class="action-group">
                <button class="doEditWarehouseMapping" title="" data-toggle="tooltip"
                        data-original-title="Edit" data-id="{{ item.id }}"
                        data-platform_id="{{ item.platform_id }}"
                        data-platform_name="{{ item.platform_name }}"
                        data-warehouse_name="{{ item.platform_warehouse_name }}"
                        data-warehouse_id="{{ item.warehouse_id }}" data-address="{{ item.Address1 }}"
                        data-state="{{ item.State }}" data-city="{{ item.City }}"
                        data-zip_code="{{ item.ZipCode }}">
                  <i class="giga icon-action-edit"></i>
                </button>
                <button onclick="toDeleteWH({{ item.id  }}, '{{ item.platform_name | e('js')  }}', '{{ item.platform_warehouse_name | e('js')  }}', '{{ item.WarehouseCode | e('js')  }}')"
                        id="toDeleteWH" data-original-title="Delete" title="" data-toggle="tooltip">
                  <i class="giga icon-action-delete-entry"></i></button>
              </div>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="10">{{ text_no_results }}</td>
        </tr>
      {% endif %}
      </tbody>
    </table>

    {#分页#}
    <div class="row">
      <div class="col-sm-12 text-right">
        <ul id="bos_pagination_mapping_warehouse"></ul>
      </div>
    </div>

    <div class="text-center">
      <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
    </div>
  </div>
</div>

<!-- （Modal） -->
<div class="modal fade" id="myModalWarehouseMapping" tabindex="-1" role="dialog"
     aria-labelledby="myModalWarehouseMappingLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-warehousemapping-area">
    <div class="modal-content">
      <div class="modal-header modal-warehousemapping-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                style="opacity: 1;">&times;
        </button>
        <h4 class="modal-title" id="myModalWarehouseMappingLabel">Add Warehouse Mapping</h4>
      </div>
      <div class="modal-body">
        <div style="">
          <form role="form">
            <div class="my-tip">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="vertical-align: middle"></span>
              <span id="wh_tip">
                [Platform-Platform Warehouse Name] has already built the mapping. Please edit in the listing page.</span>
            </div>
            <input type="hidden" id="mapping_warehouse_id" name="mapping_warehouse_id" value="0">
            <div class="form-group">
              <label for="platform_id">Platform</label>
              <select id="platform_id" name="platform_id" class="form-control">
                <option value="0">--{{ __('请选择', {}, 'common') }}--</option>
                {% for item in platformKeyList %}
                  <option value="{{ item.platform_id }}">{{ item.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="platform_warehouse_name">Platform Warehouse Name</label>
              <input type="text" class="form-control" id="platform_warehouse_name"
                     name="platform_warehouse_name" class="form-control">
            </div>
            <div class="form-group">
              <label for="warehouse_id">B2B Warehouse Code</label>
              <select id="warehouse_id" name="warehouse_id" class="form-control">
                <option value="0">--{{ __('请选择', {}, 'common') }}--</option>
                {% for item in warehouseKeyList %}
                  <option value="{{ item.WarehouseID }}">{{ item.WarehouseCode }}</option>
                {% endfor %}
              </select>
              <input type="hidden" name="warehouse_id_old" id="warehouse_id_old" value="">
              <input type="hidden" name="platform_name_old" id="platform_name_old" value="">
              <input type="hidden" name="platform_warehouse_name_old" id="platform_warehouse_name_old" value="">

            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" id="address" class="form-control" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" class="form-control" id="state" class="form-control" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" class="form-control" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="zip_code">Zip Code</label>
                  <input type="text" class="form-control" id="zip_code" class="form-control" readonly>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="myModalWarehouseMappingFooter" class="modal-footer" style="text-align: center;">
        <button id="myModalWarehouseMappingSubmit" type="button" class="btn btn-primary btn-submit">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>


<script>
    var warehouseKeyListJson = {{ warehouseKeyListJson }};
    $(function () {
        $(".tooltip").remove();
        block.unBlockUI();

        $("#myModalWarehouseMapping").modal({backdrop: 'static', keyboard: false, show: false});

        initMappingWarehouseList();
    });

    function initMappingWarehouseList() {
        //分页链接
        paginationMappingWarehouseList();
    }

    function paginationMappingWarehouseList() {
        if ({{ total_pages }}) {
            //total_pages
            $('#bos_pagination_mapping_warehouse').bootstrapPaginator({
                /*当前使用的是3版本的bootstrap*/
                bootstrapMajorVersion: 3,
                /*配置的字体大小是小号*/
                size: 'normal',
                /*当前页*/
                currentPage: {{ page_num }},
                /*一共多少页*/
                totalPages: {{ total_pages }},
                /*页面上最多显示几个含数字的分页按钮*/
                numberOfPages: 5,
                total: {{ total }},
                rowsOfPage: {{ page_limit | default('20') }},
                /*设置显示的样式，默认是箭头	*/
                // itemTexts: function(type, page, current) {
                //     switch(type) {
                //         case "first": // type值固定
                //             return `<span class="glyphicon glyphicon-fast-backward"></span>`;
                //         case "prev":
                //             return `<span class="glyphicon glyphicon-step-backward"></span>`;
                //         case "next":
                //             return `<span class="glyphicon glyphicon-step-forward"></span>`;
                //         case "last":
                //             return `<span class="glyphicon glyphicon-fast-forward"></span>`;
                //         case "page":
                //             return page;
                //     }
                // },
                onPageClicked: function (event, originalEvent, type, page) {
                    block.blockUI();
                    let url = getUrlMappingWarehouseList(page);

                    $('#show-mapping_warehouse_list').load(url);
                }
            });
        }
    }

    function getUrlMappingWarehouseList(page) {
      let url = '{{ urlWarehouseMapping|e }}';
      let filter_platform_id = $("#input-wh_platform_id").val();
      if (filter_platform_id) {
        url += '&platform_id=' + encodeURIComponent(filter_platform_id);
      }
      let filter_platform_warehouse_name = $("#input-platform_warehouse_name").val();
      if (filter_platform_warehouse_name) {
        url += '&platform_warehouse_name=' + encodeURIComponent(filter_platform_warehouse_name);
      }
      let filter_warehouse_id = $("#input-warehouse_id").val();
      if (filter_warehouse_id) {
        url += '&warehouse_id=' + encodeURIComponent(filter_warehouse_id);
      }
        if (page) {
            url += "&page_num=" + page;
        }
        return url;
    }

    function refreshMappingWarehouseList() {
        block.blockUI();
        $('#show-mapping_warehouse_list').load('index.php?route=account/mapping_warehouse/index');
    }

    function refreshMappingWarehouseListEdit() {
        $("#bos_pagination_mapping_warehouse").find(".active a").click();
    }

    $(".doAddWarehouseMapping").off("click").on("click", function () {
        initModalWarehouseMapping();
        $("#myModalWarehouseMapping").modal("show");
    });
    //change B2B Wareouse Code
    $("#warehouse_id").off("change").on("change", function () {
        let warehouse_id = $(this).val();
        if (warehouseKeyListJson.hasOwnProperty(warehouse_id)) {
            $("#address").val(warehouseKeyListJson[warehouse_id]["Address1"]);
            $("#state").val(warehouseKeyListJson[warehouse_id]["State"]);
            $("#city").val(warehouseKeyListJson[warehouse_id]["City"]);
            $("#zip_code").val(warehouseKeyListJson[warehouse_id]["ZipCode"]);
        } else {
            cleanWarehouseAddress();
        }
    });

    function initModalWarehouseMapping() {
        $("#myModalWarehouseMapping #myModalWarehouseMappingLabel").text("Add Warehouse Mapping");
        $("#myModalWarehouseMapping #mapping_warehouse_id").val(0);
        $("#myModalWarehouseMapping #platform_id").val(0).attr("disabled", false);
        $("#myModalWarehouseMapping #platform_warehouse_name").val("").attr("disabled", false);
        $("#myModalWarehouseMapping #warehouse_id").val(0).attr("disabled", false);
        $("#myModalWarehouseMapping .my-tip").hide();

        cleanWarehouseAddress();
        $("#myModalWarehouseMapping #myModalWarehouseMappingSubmit").attr("url", "index.php?route=account/mapping_warehouse/save");
    }

    function initEditModalWarehouseMapping() {
        $("#myModalWarehouseMapping #myModalWarehouseMappingLabel").text("Edit Warehouse Mapping");
        $("#myModalWarehouseMapping #mapping_warehouse_id").val(0);
        $("#myModalWarehouseMapping #platform_id").val(0).attr("disabled", false);
        $("#myModalWarehouseMapping #platform_warehouse_name").val("").attr("disabled", false);
        $("#myModalWarehouseMapping #warehouse_id").val(0).attr("disabled", false);
        $("#myModalWarehouseMapping .my-tip").hide();

        cleanWarehouseAddress();
        $("#myModalWarehouseMapping #myModalWarehouseMappingSubmit").attr("url", "index.php?route=account/mapping_warehouse/updates");
    }

    function cleanWarehouseAddress() {
        $("#myModalWarehouseMapping #address").val("");
        $("#myModalWarehouseMapping #state").val("");
        $("#myModalWarehouseMapping #city").val("");
        $("#myModalWarehouseMapping #zip_code").val("");

        $("#myModalWarehouseMapping .form-group").removeClass("has-error");
    }

    $("#myModalWarehouseMappingSubmit").off("click").on("click", function () {
        if (!beforeSubmitWarehouseMappingCheck()) {
            return false;
        }

        var mapping_warehouse_id = parseInt($("#mapping_warehouse_id").val());
        if (mapping_warehouse_id < 1) {
            //add
            submitWarehouseAdd();
        } else {
            //edit
            submitWarehouseEdit();
        }
    });

    function beforeSubmitWarehouseMappingCheck() {
        var mapping_warehouse_id = $("#myModalWarehouseMapping #mapping_warehouse_id").val();
        var platform_id = $("#myModalWarehouseMapping #platform_id").val();
        var platform_warehouse_name = $.trim($("#myModalWarehouseMapping #platform_warehouse_name").val());
        var warehouse_id = $("#myModalWarehouseMapping #warehouse_id").val();
        var tip = '';
        $("#myModalWarehouseMapping .form-group").removeClass("has-error");

      if (platform_id < 1) {
          tip = 'Platform can not be left blank.';
          $("#myModalWarehouseMapping #wh_tip").val(tip).text(tip);
          $("#myModalWarehouseMapping .my-tip").show();
          $("#myModalWarehouseMapping #platform_id").focus().parent().addClass('has-error');

            return false;
        }
        if (platform_warehouse_name.length < 1) {
          tip = 'Platform Warehouse Name can not be left blank.';
          $("#myModalWarehouseMapping #wh_tip").val(tip).text(tip);
          $("#myModalWarehouseMapping .my-tip").show();

          $("#myModalWarehouseMapping #platform_warehouse_name").focus().parent().addClass('has-error');
            return false;
        }
        if (platform_warehouse_name.length > 200) {
          tip = 'Platform Warehouse Name can not be more than 200 characters.';
          $("#myModalWarehouseMapping #wh_tip").val(tip).text(tip);
          $("#myModalWarehouseMapping .my-tip").show();

          $("#myModalWarehouseMapping #platform_warehouse_name").focus().parent().addClass('has-error');
          return false;
        }
        if (warehouse_id < 1) {
          tip = 'B2B Warehouse Code can not be left blank.';
          $("#myModalWarehouseMapping #wh_tip").val(tip).text(tip);
          $("#myModalWarehouseMapping .my-tip").show();

          $("#myModalWarehouseMapping #warehouse_id").focus().parent().addClass('has-error');
          return false;
        }

      $("#myModalWarehouseMapping #wh_tip").val(tip).text(tip);
      $("#myModalWarehouseMapping .my-tip").hide();
      return true;
    }

    function submitWarehouseAdd() {
        let warehouse_id = $("#myModalWarehouseMapping #warehouse_id").val();
        let platform_name = $("#myModalWarehouseMapping #platform_id").find("option:selected").text();
        let platform_warehouse_name = $.trim($("#myModalWarehouseMapping #platform_warehouse_name").val());
        let platform_warehouse_code_text = $.trim($("#myModalWarehouseMapping #warehouse_id>option:selected").text());
        let lockded = false;

        let str='<div style="text-align: left">' +
        '<p class="sub-title1">Do you confirm to submit this warehouse <br> mapping [ ' + platform_name + ' - '
          + platform_warehouse_name + ' - ' + platform_warehouse_code_text + ' ] ?</p>';

        layer.confirm(str, {
            title: 'Confirm',
            btn: ['Yes', 'No'],
            skin: 'yzc_layer',
            yes: function (index) {
                if(!lockded) {
                    lockded = true;
                    var sendData = $("#myModalWarehouseMapping").find("form").serialize();
                    var url = $("#myModalWarehouseMapping #myModalWarehouseMappingSubmit").attr("url");
                    sendData += '&platform_name=' + platform_name;
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        data: sendData,
                        url: url,
                        beforeSend: function () {
                            $('#myModalWarehouseMappingSubmit').button('loading');
                        },
                        complete: function (xhr, status) {
                            lockded = false;
                            $('#myModalWarehouseMappingSubmit').button('reset');
                        },
                        success: function (result, status, xhr) {
                            if (result.ret) {
                                layer.msg(result.msg);
                                $("#myModalWarehouseMapping").modal("hide");
                                refreshMappingWarehouseList();
                            } else {
                                $("#myModalWarehouseMapping #wh_tip").val(result.msg).text(result.msg);
                                $("#myModalWarehouseMapping .my-tip").show();
    /*                          layer.alert(result.msg, {
                                    title: 'Message',
                                    btn: 'OK',
                                    skin: 'yzc_layer' //样式类名
                                    , closeBtn: 0
                                });*/
                            }
                        }
                    });
                    layer.close(index);
                }
            }
        })
    }

    function submitWarehouseEdit() {
        let mapping_warehouse_id              = $("#myModalWarehouseMapping #mapping_warehouse_id").val();
        let warehouse_id                      = $("#myModalWarehouseMapping #warehouse_id").val();
        let platform_name                     = $("#myModalWarehouseMapping #platform_id").find("option:selected").text();
        let platform_warehouse_name           = $.trim($("#myModalWarehouseMapping #platform_warehouse_name").val());
        let platform_warehouse_code_text      = $.trim($("#myModalWarehouseMapping #warehouse_id>option:selected").text());
        let platform_warehouse_code_text_old  = '';
        let warehouse_id_old                  = $("#myModalWarehouseMapping #warehouse_id_old").val();
        let platform_name_old                 = $("#myModalWarehouseMapping #platform_name_old").val();
        let platform_warehouse_name_old       = $("#myModalWarehouseMapping #platform_warehouse_name_old").val();

      if (warehouseKeyListJson.hasOwnProperty(warehouse_id_old)) {
            platform_warehouse_code_text_old = warehouseKeyListJson[warehouse_id_old]["WarehouseCode"];
        }
        let x = 0;//x值为该Buyer系统中使用了该Platform Warehouse Name的状态为New Order/Check label 的 Dropship销售订单数量

        let content='<div style="text-align: left">' +
        '<p class="sub-title1">Do you confirm to change this warehouse mapping ['
          + platform_name_old + ' - ' + platform_warehouse_name_old + ' - ' + platform_warehouse_code_text_old + '] to ['
          + platform_name + ' - ' + platform_warehouse_name + ' - ' + platform_warehouse_code_text + '] ?</p>' +
        '<p class="sub-title2">Change this mapping will not affect the imported sales orders.</p><div>';

        //todo 检查发货仓库
        $.ajax({
            async: false,
            type: 'GET',
            dataType: 'json',
            data: {id:mapping_warehouse_id},
            url: 'index.php?route=account/mapping_warehouse/checkOrderNum',
            beforeSend: function () {
                $('#myModalWarehouseMappingSubmit').button('loading');
            },
            complete: function (xhr, status) {
                $('#myModalWarehouseMappingSubmit').button('reset');
            },
            success: function (result, status, xhr) {
                if (result.ret && result.num > 0) {
                    x = result.num
                }
            }
        });
        if (x > 0) {
            content += '<font color="red">' + x + ' new orders were set to be shipped from warehouse [' + platform_warehouse_code_text_old + '], please cancel those orders and import again if you want to modify.</font>';
            content += '<br>After changing the warehouse mapping, the imported order will be shipped base on new warehouse mapping.';
            layer.confirm(content, {
                title: 'Confirm',
                btn: ['Yes','No'],
                skin: 'yzc_layer',
                yes: function (index) {
                    layer.close(index);
                    submitDataWarehouseEdit();
                }
            });
            return false;
        }
        layer.confirm(content, {
            title: 'Confirm',
            btn: ['Yes','No'],
            skin: 'yzc_layer',
            yes: function (index) {
                layer.close(index);
                submitDataWarehouseEdit();
            }
        });
    }

    function submitDataWarehouseEdit() {
        let sendData = {};
        sendData.mapping_warehouse_id = $("#myModalWarehouseMapping").find("#mapping_warehouse_id").val();
        sendData.warehouse_id = $("#myModalWarehouseMapping").find("#warehouse_id").val();
        sendData.platform_id = $("#myModalWarehouseMapping").find("#platform_id").val();
        sendData.platform_warehouse_name = $.trim($("#myModalWarehouseMapping #platform_warehouse_name").val());
        sendData.platform_name = $("#myModalWarehouseMapping #platform_id").find("option:selected").text();

      var url = $("#myModalWarehouseMappingSubmit").attr("url");
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: sendData,
                    url: url,
                    beforeSend: function () {
                        $('#myModalWarehouseMappingSubmit').button('loading');
                    },
                    complete: function (xhr, status) {
                        $('#myModalWarehouseMappingSubmit').button('reset');
                    },
                    success: function (result, status, xhr) {
                        if (result.ret) {
                            layer.msg(result.msg);
                            $("#myModalWarehouseMapping").modal("hide");
                            refreshMappingWarehouseListEdit();
                        } else {
                            $("#myModalWarehouseMapping #wh_tip").val(result.msg).text(result.msg);
                            $("#myModalWarehouseMapping .my-tip").show();
/*                            layer.alert(result.msg, {
                                title: 'Message',
                                btn: 'OK',
                                skin: 'yzc_layer' //样式类名
                                , closeBtn: 0
                            });*/
                        }
                    }
                });
    }

    $(".doEditWarehouseMapping").off("click").on("click", function () {
        initEditModalWarehouseMapping();
        let that = this;
        $("#myModalWarehouseMapping #mapping_warehouse_id").val($(that).data('id'));
        $("#myModalWarehouseMapping #platform_id").val($(that).data('platform_id'));
        $("#myModalWarehouseMapping #platform_warehouse_name").val($(that).data('warehouse_name'));
        $("#myModalWarehouseMapping #warehouse_id").val($(that).data('warehouse_id'));

        $("#myModalWarehouseMapping #warehouse_id_old").val($(that).data('warehouse_id'));
        $("#myModalWarehouseMapping #platform_name_old").val($(that).data('platform_name'));
        $("#myModalWarehouseMapping #platform_warehouse_name_old").val($(that).data('warehouse_name'));

        $("#myModalWarehouseMapping #address").val($(that).data('address'));
        $("#myModalWarehouseMapping #state").val($(that).data('state'));
        $("#myModalWarehouseMapping #city").val($(that).data('city'));
        $("#myModalWarehouseMapping #zip_code").val($(that).data('zip_code'));

        $("#myModalWarehouseMapping").modal("show");
    });

    function toDeleteWH(id, platform, platform_wh_name, wh_code) {

      //二次提示
      var str='<div style="text-align: left">' +
        '<p class="sub-title1">Do you confirm to delete this warehouse mapping ['+platform+' - '+platform_wh_name+' - '+wh_code+']? </p>' +
        '<p class="sub-title2">Deleting this mapping will not affect the imported sales orders.</p><div>';
      var tmplayer = layer.confirm(str, {
        title: 'Confirm',
        skin: 'yzc_layer',
        btn: ['Yes','No'] //按钮
      }, function(){
        //删除逻辑
        $.ajax({
          type: 'POST',
          dataType: 'json',
          data: {id:id},
          url: '{{ urlWarehouseMappingToDelete }}',
          success: function (json) {
            if (json['ret']){
              layer.msg(json['msg']);
              $("#tr_"+id).hide();
              refreshMappingWarehouseList();
            }
          }
        });

        layer.close(tmplayer);
      }, function(){
        layer.close(tmplayer);
      });

    }


    function getUrlForWHFilter() {
      let url = '{{ urlWarehouseMapping|e }}';
      let filter_platform_id = $("#input-wh_platform_id").val();
      if (filter_platform_id) {
        url += '&platform_id=' + encodeURIComponent(filter_platform_id);
      }
      let filter_platform_warehouse_name = $("#input-platform_warehouse_name").val();
      if (filter_platform_warehouse_name) {
        url += '&platform_warehouse_name=' + encodeURIComponent(filter_platform_warehouse_name);
      }
      let filter_warehouse_id = $("#input-warehouse_id").val();
      if (filter_warehouse_id) {
        url += '&warehouse_id=' + encodeURIComponent(filter_warehouse_id);
      }
      return url;
    }

    function filterWarehouseMapping(button) {
      block.blockUI();
      var url = getUrlForWHFilter();
      $(button).button('loading');
      $('#show-mapping_warehouse_list').load(url);

    }

    function clrFilterWarehouseMapping(button) {
      block.blockUI();

      $("#input-wh_platform_id").val(0);
      $("#input-platform_warehouse_name").val("");
      $("#input-warehouse_id").val(0);

      var url = '{{ urlWarehouseMappingRest }}';
      $(button).button('loading');
      $('#show-mapping_warehouse_list').load(url);
    }

    function sortWarehouseMapping(sort,order) {
      var url = getUrlForWHFilter();

      url += '&sort=' + encodeURIComponent(sort);
      if (order){
        url += '&order=' + encodeURIComponent(order);
      }
      url += "&page_num={{ page_num }}";
      block.blockUI();
      $('#show-mapping_warehouse_list').load(url);
    }

    function downloadWarehouseMapping() {
      let url = '{{ urlWarehouseMappingDownload }}';
      let filter_platform_id = $("#input-wh_platform_id").val();
      if (filter_platform_id) {
        url += '&platform_id=' + encodeURIComponent(filter_platform_id);
      }
      let filter_platform_warehouse_name = $("#input-platform_warehouse_name").val();
      if (filter_platform_warehouse_name) {
        url += '&platform_warehouse_name=' + encodeURIComponent(filter_platform_warehouse_name);
      }
      let filter_warehouse_id = $("#input-warehouse_id").val();
      if (filter_warehouse_id) {
        url += '&warehouse_id=' + encodeURIComponent(filter_warehouse_id);
      }
      window.location.href = url;
    }


</script>