<div class="ing-box">
  <div class="hot-product-box-content {% if isHot or isWillEnd%} m24-b {% endif %}">
    <div class="hot-product-box">
      {% if isHot %}
      <div class="hot-content m24-b">
        <div class="hot-product-box-title display-no real-time-hot">Real-time Hot Deals</div>
        {# 左右缩略图 #}
        <div id="elementHot" class="left-right-thumbnails">
          
        </div>
        <div class="view-more-btn hot-btn display-none cursor-pointer">
          View&nbsp;More&nbsp;
          <span class="border-radius-circle">
            <i class="giga icon-V10_shouyeyouxiadown"></i>
          </span> 
        </div>
      </div>
      {% endif %}
      {% if isWillEnd %}
      <div class="time-tow-hour-box">
        <div class="default-flex-end m10-b ends-box">
          <div class="hot-product-box-title m20-r m0-b">Ends in</div>
          <div class="start-time">
            <!-- <span class="start-time-text">Starts in</span> -->
            <span class="time-box" id="willEndIntervalHour">{{ willEndIntervalHour }}</span>h<span class="time-box" id="willEndIntervalMinute">{{ willEndIntervalMinute }}</span>m<span class="time-box" id="willEndIntervalSecond">{{ willEndIntervalSecond }}</span>s
          </div>
        </div>
        <div id="elementWillEnd" class="left-right-thumbnails">
          
        </div>
        <div class="view-more-btn will-end-btn display-no cursor-pointer"></div>
      </div>
      {% endif %}
    </div>
  </div>
  {# 吸顶搜索部分 #}
  <div class="search-conntent-box">
    <div class="hot-product-box-title">All active products</div>
    {% include 'yzcTheme/template/account/marketing_time_limit/on_sale_nav.twig'%}
    <script src="/public/static/account/marketing_time_limit/js/on_sale_nav.js?v={{ app_version }}"></script>
    <div class="search-main-content">
      <div class="flex-layout search-condition">
        <div class="search-condition-left">
          <div class="flex-layout">
            <div class="text-bold mr-1">Unit  Price:</div>
            <div class="edit icon">
              <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control input-focus border-r2" id="min_price" placeholder="Min" value="" autocomplete="off">
              <span class="currency-icon">$</span>
            </div>
            <div class="edit m24-l">
              <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control input-focus border-r2" id="max_price" placeholder="Max" value="" autocomplete="off">
              <span class="currency-icon">$</span>
            </div>
            <div class="btn_search" style="padding: 0;">
              <a class="filter_button filter-price btn_go" href="javascript:void(0);" data-cnzz-event="分类列表页|CL_Filter_UnitPrice">Go</a>
            </div>
            <div class="text-bold mr-1 m40-l">Qty:</div>
            <div class="edit icon">
              <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control input-focus border-r2 paddding-normal" id="min_quantity" placeholder="Min" value="" autocomplete="off">
            </div>
            <div class="edit m24-l">
              <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control input-focus border-r2 paddding-normal" id="max_quantity" placeholder="Max" value="" autocomplete="off">
            </div>
            <div class="btn_search" style="padding: 0;">
              <a class="filter_button filter-price btn_go" href="javascript:void(0);" data-cnzz-event="分类列表页|CL_Filter_UnitPrice">Go</a>
            </div>
          </div>       
          </div>
          <div class="search-condition-right">
            <div class="flex-layout">
              <div class="text-bold mr-1">Sort By:</div>
              <a class="sort-item" id="discount" data-cnzz-event="分类列表页|CL_Sort_Price">Discount
                <span class="sequence-icon">
                 <i class="giga icon-down-solid sort-up" sort-type='DESC'></i>
                 <i class="giga icon-iup sort-down" sort-type='ASC'></i>
               </span>
              </a>
              <a class="sort-item" id="price" data-cnzz-event="分类列表页|CL_Sort_Price">Price
                <span class="sequence-icon">
                 <i class="giga icon-down-solid" sort-type='ASC'></i>
                 <i class="giga icon-iup" sort-type='DESC'></i>
               </span>
              </a>
              <a class="sort-item last" id="quantity" data-cnzz-event="分类列表页|CL_Sort_StockQty">
                Qty
                <span class="sequence-icon">
                  <i class="giga icon-down-solid" sort-type='ASC'></i>
                  <i class="giga icon-iup" sort-type='DESC'></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        {# 上下缩略图 #}
        <div class="up-dowm-thumbnails" id="search-content-up-down-thumbnails">
          
        </div>
        {% if isWillSale %}
        <div class="more-active-to-come will-sale-btn" id="More_activities_to_come">
          More promotional events&nbsp;
          <span class="border-radius-circle">
            <i class="giga icon-V10_youjiantougengduo"></i>
          </span>
        </div>
        {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
  let listAllFirst = {{ listAllFirst }};
  let isLogin = {{ isLogin ? 1 : 0 }};
  var isOnSale = parseInt("{{ isOnSale|default(0) }}");
  var isWillSale = parseInt("{{ isWillSale }}");
  var isWillEnd = parseInt("{{ isWillEnd|default(0) }}");
  var isHot=parseInt('{{isHot | default(0)}}'); //判断是否有最近上新/实时热抢模块
  var current_Category_id;
  var flagBtn = true;
  var isCurrentSort='discount';
  var defaultMsg = {
    page: 1,
    category_id: 0,
    page_limit: 20,
    min_price: $('#min_price').val(),
    max_price: $('#max_price').val(),
    min_quantity: $('#min_quantity').val(),
    max_quantity: $('#max_quantity').val(),
    sort: $('.sort-item.active').attr('id'),
    order: $('.sort-item').find('.active').attr('sort-type')
  };
  var Hour=Number({{willEndIntervalHour|default(0)}});
  var Minute =Number({{willEndIntervalMinute|default(0)}});
  var Second =Number({{willEndIntervalSecond|default(0)}});
  var timeBox,timeNum =0;
  $(function () {
    history.scrollRestoration = 'manual';
    windowScrollClass.windowScrollFn();
    onSaleBtnClass.btnClick();
    var category_id = $('.triangle-black').attr('data');
    $(".item-nav").each(function () {
      if (category_id == $(this).attr('data')) {
        $('.nav-content-ul').attr('is-first-load', 'yes');
        $(this).click();
        return false;
      }
    });
    if (isHot == 1) {
      $('#elementHot').attr("page",1);
      $('.view-more-btn.hot-btn').click();
    }
    if (isWillEnd  == 1) {
      $('#elementWillEnd').attr("page",1);
      $('.view-more-btn.will-end-btn').click();
    }
    getIndexTimeInterval.indexTimeInterval(); 
  });
  var windowScrollClass = {
    windowScrollFn: function () {
      $(window).scroll(function () {
        var changeTab=$('.navigation-active').attr('data-type');
        if ($(this).scrollTop() >= $(".nav-bar").offset().top&&changeTab ==1) {
          $('.nav-bar-content').addClass('ceiling-nav-bar');
          $('.search-main-content').css('margin-top', '95px');
          if($('.load').length>=1){
            $('.load').parent().css('position','static');
            $('.load').css('position','fixed');
            $('.load').css('margin','auto');
            $('.load').css('left','50%');
            $('.load').css('right','50%');
            $('.load').css('top','8%');
          }
        } else {
          $('.nav-bar-content').removeClass('ceiling-nav-bar');
          $('.search-main-content').css('margin-top', '0px');
          if($('.load').length>=1){
            $('.load').parent().css('position','relative');
            $('.load').css('position','absolute');
            $('.load').css('margin','auto');
            $('.load').css('left','50%');
            $('.load').css('right','50%');
            $('.load').css('top','0');
          }
        }
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        var footerHeight = $("footer").height() + ($(".search-main-content .up-dowm-thumbnails-item").height() + 300);
        if (scrollHeight - scrollTop - windowHeight < footerHeight) {
          var category_id = $('.triangle-black').attr('data');
          initClassFn.getAllActivePricudt('#search-content-up-down-thumbnails', category_id);
        }
      })
    }
  };
  var onSaleBtnClass = {
    btnClick: function () { 
      $('.view-more-btn.hot-btn').click(function () {
        $('.view-more-btn.hot-btn').removeClass('cursor-pointer');
        $('.view-more-btn.hot-btn').addClass('cursor-drop');
        $('.view-more-btn.hot-btn').html('loading....');
        var page = $('#elementHot').attr('page');
        var isEnd=$('#elementHot').attr('data-end'); // 1：结束
        if(isEnd == 1){
          return
        }
        $.ajax({
          url: "{{ url('account/marketing_time_limit/listHot') }}",
          data: {"page": page,page_limit:9},
          type: 'GET',
          dataType: 'json',   
          success: function (data) {
            $('.view-more-btn.hot-btn').removeClass('cursor-drop');
            $('.view-more-btn.hot-btn').addClass('cursor-pointer');
            $('.view-more-btn.hot-btn').html(`View&nbsp;More&nbsp;
              <span class="border-radius-circle">
                <i class="giga icon-V10_shouyeyouxiadown"></i>
              </span> `)
            $('#elementHot').attr('data-end', data.isEnd);
            $('#elementHot').append(data.html); 
            $('#elementHot').attr("page",++page);
            $('.real-time-hot').show();
            data.isEnd == 1 ? $('.view-more-btn.hot-btn').hide() : $('.view-more-btn.hot-btn').show();
          },
          complete: function (xhr, textStatus) {

          }
        });
      });
      $('.view-more-btn.will-end-btn').click(function () {
        $('.view-more-btn.will-end-btn').removeClass('cursor-pointer');
        $('.view-more-btn.will-end-btn').addClass('cursor-drop');
        $('.view-more-btn.will-end-btn').html('loading....');
        var page =$('#elementWillEnd').attr('page');
        var isEnd=$('#elementWillEnd').attr('data-end'); // 1：结束
        if(isEnd == 1){
          return
        }
        $.ajax({
          url: "{{ url('account/marketing_time_limit/listWillEnd') }}",
          data: {"page": page},
          type: 'GET',
          dataType: 'json',    
          success: function (data) {
            $('.view-more-btn.will-end-btn').removeClass('cursor-drop');
            $('.view-more-btn.will-end-btn').addClass('cursor-pointer');
            $('.view-more-btn.will-end-btn').html(`View&nbsp;More&nbsp;
              <span class="border-radius-circle">
                <i class="giga icon-V10_shouyeyouxiadown"></i>
              </span> `)
            $("#elementWillEnd").append(data.html);
            $('#elementWillEnd').attr('data-end', data.isEnd);
            $('#elementWillEnd').attr("page",++page);
            $('.ends-box').css('display','flex');
            data.isEnd == 1 ? $('.view-more-btn.will-end-btn').hide() : $('.view-more-btn.will-end-btn').show();
          }, 
          complete: function (xhr, textStatus) {

          }
        });
      });
      $('.filter_button').click(function () {
        if (!isLogin) {
          layer.alert('Login/Register to get the price/quantities！', {
            title: 'Message',
            btn : 'OK',
            skin: 'yzc_layer', //样式类名
            closeBtn: 0
          });
          return false;
        }
        defaultMsg.page = 1;
        defaultMsg.category_id = current_Category_id;
        defaultMsg.page_limit = 20;
        defaultMsg.min_price = $('#min_price').val();
        defaultMsg.max_price = $('#max_price').val();
        defaultMsg.min_quantity = $('#min_quantity').val();
        defaultMsg.max_quantity = $('#max_quantity').val();
        defaultMsg.sort = $('.sort-item.active').attr('id');
        defaultMsg.order = $('.sort-item').find('.active').attr('sort-type');
        initClassFn.loadSynData(1, current_Category_id, '#search-content-up-down-thumbnails', false, defaultMsg);
      });
      $('.sort-item').click(function () {
        if (isCurrentSort != $(this).attr('id')) {
          isCurrentSort = $(this).attr('id');
          flagBtn = false;
        }
        $('.sort-item,.icon-iup,.icon-down-solid').removeClass('active');
        $(this).addClass('active');
        if (flagBtn == true) {
          $(this).find('.icon-iup').removeClass('active');
          $(this).find('.icon-down-solid').addClass('active');
          flagBtn = false;
        } else {
          $(this).find('.icon-down-solid').removeClass('active');
          $(this).find('.icon-iup').addClass('active');
          flagBtn = true;
        }
        defaultMsg.page = 1;
        defaultMsg.category_id = current_Category_id;
        defaultMsg.page_limit = 20;
        defaultMsg.min_price = $('#min_price').val();
        defaultMsg.max_price = $('#max_price').val();
        defaultMsg.min_quantity = $('#min_quantity').val();
        defaultMsg.max_quantity = $('#max_quantity').val();
        defaultMsg.sort = $(this).attr('id');
        defaultMsg.order = $('.sort-item').find('.active').attr('sort-type');
        initClassFn.loadSynData(1, current_Category_id, '#search-content-up-down-thumbnails', false, defaultMsg);
      });
      //分类跳转
      $('#More_activities_to_come').click(function(){
        $('.activity-navigation-ul li').click();
      })
    },
  };
  var initClassFn = {
    getAllActivePricudt: function (loadHtml, categoryId) {
      if ($(loadHtml).attr("data-loadsuccess") == 'true') {
        var t = $(loadHtml);
        var page = t.attr("page");
        defaultMsg.page = page;
        defaultMsg.category_id = categoryId;
        defaultMsg.min_price = $('#min_price').val();
        defaultMsg.max_price = $('#max_price').val();
        defaultMsg.min_quantity = $('#min_quantity').val();
        defaultMsg.max_quantity = $('#max_quantity').val();
        defaultMsg.sort = $('.sort-item.active').attr('id');
        defaultMsg.order = $('.sort-item').find('.active').attr('sort-type');
        if ($(loadHtml).attr('data-end') == '1') {
          $('.will-sale-btn').css('display', 'block');
          return;
        }
        var category_id = $('.triangle-black').attr('data');
        initClassFn.loadSynData(page, category_id, loadHtml, false, defaultMsg);
      }
    },
    loadSynData: function (page, category_id, htmlcon, isTrigger, postMsg) {
      $('.will-sale-btn').css('display', 'none');
      var searchHeight = $('.search-main-content').height();
      if (current_Category_id == category_id && isTrigger) { //与当前选中分类比较，如选中当前则回到分类导航顶部
        if ($(window).scrollTop() >= $(".nav-bar").offset().top) { //吸顶之后  回到吸顶位置
          $(window).scrollTop(Math.ceil($(".nav-bar").offset().top));
        } else { //不吸顶的情况 
          if ($(".nav-bar").offset().top - $(this).scrollTop() < 150) {
            $(window).scrollTop($(window).scrollTop() - 150);
          }
        }
        return
      }
      current_Category_id = category_id; //判断是否重复点击当前nav
      $(htmlcon).attr('data-loadsuccess', false);
      if (page === 1) {
        if ($(window).scrollTop() >= $(".nav-bar").offset().top) { //吸顶之后的位置
          $(htmlcon).html("<div style='width:100%;height:" + searchHeight + "px'> <div class='load' style ='position: fixed;margin:auto;left: 50%;right: 50%;top:18%'></div></div>");
        } else {
          $(htmlcon).html("<div style='width:100%;position:relative;height:" + searchHeight + "px'> <div class='load' style ='position: absolute;margin:auto;left: 50%;right: 50%;top:0'></div></div>");
        }
        waitBlock.blockUI();
      }

      if (page == 1 && listAllFirst.hasOwnProperty("html")) {//第一页直接展示JSON内容
        $(htmlcon).html(listAllFirst.html);
        delete listAllFirst.html;
        listAllFirst.isEnd == 1 ? $('.will-sale-btn').show() : $('.will-sale-btn').hide();
        $(htmlcon).attr('data-end', listAllFirst.isEnd);
        if ($(window).scrollTop() >= $(".nav-bar").offset().top && page === 1) { //判断是否吸顶(只有切换tab 的时候回到最初吸顶位置，其他保留历史查询位置)
          $(window).scrollTop(Math.ceil($(".nav-bar").offset().top));
        }
        $(htmlcon).attr("page", ++page);
        $(htmlcon).attr('data-loadsuccess', true);
        $('.nav-content-ul').attr('is-first-load', 'no');
        return;
      }
      
      $.ajax({
        url: `{{ url('account/marketing_time_limit/listAll') }}`,
        data: postMsg,
        type: 'GET',
        dataType: 'json',
        success: function (data) {
          var htmls = '';
          htmls = data['html'];
          waitBlock.unBlockUI();
          if (current_Category_id == data.category_id) {
            if (page === 1) {
              $(htmlcon).html(htmls);
            } else {
              $(htmlcon).append(htmls);
            }
          } else {
            return;
          }
          data.isEnd == 1 ? $('.will-sale-btn').show() : $('.will-sale-btn').hide();
          $(htmlcon).attr('data-end', data.isEnd);
          if ($(window).scrollTop() >= $(".nav-bar").offset().top && page === 1) { //判断是否吸顶(只有切换tab 的时候回到最初吸顶位置，其他保留历史查询位置)
            $(window).scrollTop(Math.ceil($(".nav-bar").offset().top));
          }
          $(htmlcon).attr("page", ++page);
          $(htmlcon).attr('data-loadsuccess', true);
          $('.nav-content-ul').attr('is-first-load', 'no');
        },
        complete: function (xhr, textStatus) {
          //waitBlock.unBlockUI();
        }
      })
    }
  };
  //倒计时
  var getIndexTimeInterval={
    indexTimeInterval:function(){
      timeBox=window.setInterval(function () {
        sellerSetIntervalFn.getSerterval(Hour,Minute,Second);
      }, 1000);
    }
  };
  var sellerSetIntervalFn={
    getSerterval:function(Hour,Minute,Second){     
      var H=$('#willEndIntervalHour').html();
      var M=$('#willEndIntervalMinute').html();
      var S=$('#willEndIntervalSecond').html();
      if(H== '00' && M== '00' && S=='00'){ //00:00:00:00清掉定时器
        clearInterval(timeBox);
        return
      }
      var totalTime=Hour*60*60+Minute*60+Second;
      timeNum++; //计数器
      residueTime=(totalTime-timeNum);
      var hour=sellerSetIntervalFn.checkTime(Math.floor((residueTime / 3600)));
      var minute =sellerSetIntervalFn.checkTime(Math.floor((residueTime - ((hour*3600)))/60));//计算分
      var second =sellerSetIntervalFn.checkTime(Math.floor(residueTime - ((hour * 3600) + (minute*60))));//计算秒
      $('#willEndIntervalHour').html(hour) //时
      $('#willEndIntervalMinute').html(minute); //分
      $('#willEndIntervalSecond').html(second); //秒  
    },
    checkTime(i){
      if(i<10){
        i='0'+i
      }
      return i;
    }
  };
</script>
