{% set cnzzEventMapProduct = {
  'common/home':                                  '首页|Hm_Channel_Product',
  'account/marketing_time_limit':                 '首页|Hm_Promotion_Product',
  'account/marketing_time_limit/index':           '首页|Hm_Promotion_Product',
  'account/marketing_time_limit/listHot':         '首页|Hm_Promotion_Product',
  'account/marketing_time_limit/listWillEnd':     '首页|Hm_Promotion_Product',
  'account/marketing_time_limit/listAll':         '首页|Hm_Promotion_Product',
  'account/marketing_time_limit/listWillSale':    '首页|Hm_Promotion_Product',
  'account/marketing_time_limit/sellerOnSale':    '店铺页|Sh_Promotion_Product',
  'account/marketing_time_limit/sellerWillSale':  '店铺页|Sh_Promotion_Product',
}
%}
{% set cnzzEventMapStore = {
  'common/home':                                  '首页|Hm_Channel_StoreName',
  'account/marketing_time_limit':                 '首页|Hm_Promotion_StoreName',
  'account/marketing_time_limit/index':           '首页|Hm_Promotion_StoreName',
  'account/marketing_time_limit/listHot':         '首页|Hm_Promotion_StoreName',
  'account/marketing_time_limit/listWillEnd':     '首页|Hm_Promotion_StoreName',
  'account/marketing_time_limit/listAll':         '首页|Hm_Promotion_StoreName',
  'account/marketing_time_limit/listWillSale':    '首页|Hm_Promotion_StoreName',
}
%}
{% for activeId,activeInfo in resultList %}
  {% for sellerId, store in activeInfo %}
    <div class="will-box-item">
      <div class="store-msg-flex">
        <div class="store-logo-msg">
          <div class="store-logo" onclick="getSeller('{{store.seller_id}}')">
            <a {% if cnzzEventMapStore[route] %} data-cnzz-event="{{ cnzzEventMapStore[route] }}" {% endif %} >
              <img src="{{ store.avatar_show }}" class="img-responsive">
            </a>
          </div>
          <div class="store-msg-group">
            <div class="flex-layout">
              {# onclick="getSeller('{{store.seller_id}}')" #}
              <div class="store-name-big"><a onclick="getSeller('{{store.seller_id}}')" {% if cnzzEventMapStore[route] %} data-cnzz-event="{{ cnzzEventMapStore[route] }}" {% endif %} >{{ store.screenname }}</a></div>
            </div>
            <div class="store-discount">UP TO {{ store.max_discount_show }}% OFF</div>
          </div>
        </div>
        <div class="time-detail">
          <span class="start-after">Starts in</span><span class="text-bold">{{ store.start_after }}</span>
          <div class="will-view-more"><a href="{{ url('marketing_campaign/time_limit_activity',{'id': activeId, 'time_token': store.tokenTime}) }}" target="_blank" time-limit="{{ activeId }}"> View More&nbsp;></a></div>
        </div>
      </div>
      <div class="store-product-msg">
        {% for product in store.productList %}
        <div class="store-product-msg-item">
          <div class="store-product-msg-item-img">
            <span class="product-discount">{{ product.discountShow }}% OFF</span>
            <a target="_blank" href="{{ product.href }}" title="{{product.name}}" {% if cnzzEventMapProduct[route] %} data-cnzz-event="{{ cnzzEventMapProduct[route] }}" {% endif %} >
              <div class="con-img">
                <div class="full-height img-responsive product-will-sale-img" title="testTT" style="background: url('{{ product.thumb }}') no-repeat center;background-size: 100%;"></div>
              </div>        
            </a>
          </div>
          <span class="price-name-group">
            {% if isLogin and product['can_sell'] == 1 and product['unsee'] == 0 %}
              {# 已登录 #}           
              {# 精细化可卖、上架可见 #}
              <span class="store-product-price">
                {% if product['min_price'] == product['max_price'] %}
                  {{ product['min_price_show'] }}
                {% else %}
                  {{ product['min_price_show'] }}-{{ product['max_price_show'] }}
                {% endif %}
              </span>
            {% else %}
              <span class="store-product-name">{{ product.sku }}</span>
            {% endif %}
          </span>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endfor %}