<!-- 店铺-限时限量活动--进行中 -->
{{ this.title('Limited Sales Promotions') }}
{{ this.params('breadcrumbs', 'hide') }}
{{ css(['css/common/common.css','static/account/marketing_time_limit/css/seller_ing.css']) }}
<div class="seller-ing-box main-bg pb-20">
  <div class="center-module">
    <div class="seller-ing-box-bk">
      <div class="seller-discount-title">UP TO {{ maxDiscountShow }}% OFF</div>
      <div class="seller-time-tip">Time remaining before promotion ends</div>
      <div class="seller-time flex-layout">
        <div class="seller-ing-width-full color-ff font-size26 mt-4">
          <span class="span-time color-d3" id="intervalDay">{{ willEndIntervalDay }}</span>&nbsp;:
          <span class="span-time color-ff66" id="intervalHour">{{ willEndIntervalHour }}</span>&nbsp;:
          <span class="span-time color-ff66" id="intervalMinute">{{ willEndIntervalMinute }}</span>&nbsp;:
          <span class="span-time color-ff66" id="intervalSecond">{{ willEndIntervalSecond }}</span>
        </div>
        <div class="seller-ing-width-full">
          <span class="span-time-title">DAYS</span>
          <span class="span-time-title">HRS</span>
          <span class="span-time-title">MIN</span>
          <span class="span-time-title">SEC</span>
        </div>
      </div>
      <div class="view-event-rule">View event rules</div>
    </div>
    {% if productList %}
      <div class="seller-product-box">
        {% for product in productList %}
          <div class="seller-product-item">
            {% include 'giga/template/_parts/home.twig' %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <a class="more-active-to-come" href="{{ url('seller_store/home',{'id': sellerId|default(0)}) }}"  target="_blank">
      More promotional events&nbsp;
      <span class="border-radius-circle">
        <i class="giga icon-V10_youjiantougengduo"></i>
      </span>
    </a>
  </div>
  <div class="view-event-rule-modal">
    <div class="view-event-rule-modal-content">
      <div>{{ rules }}</div>
      <div class="m30-t">* The Qty mentioned on this page refers to the quantity that can be sold for the promotion,&nbsp;not Available Qty.</div> 
    </div>
  </div>
</div>
<script>
  var sellerId = parseInt("{{ sellerId|default(0) }}");
  var willEndIntervalInt = parseInt("{{ expirationTimestamp|default(0) }}") - (parseInt(Date.parse(new Date()) / 1000));
  var Day=Number({{willEndIntervalDay|default(0)}});
  var Hour=Number({{willEndIntervalHour|default(0)}});
  var Minute =Number({{willEndIntervalMinute|default(0)}});
  var Second =Number({{willEndIntervalSecond|default(0)}});
  var timeNum =0,interObj,residueTime,timeBox;
  $(function () {
    sellerOnSaleClass.btnClickFn();
    getSertervalType.getTime();
  });
  var sellerOnSaleClass = {
    btnClickFn: function () {
      $('.view-event-rule').click(function () {
        layer.open({
          type: 1,
          title: 'View event rules',
          closeBtn: 1,
          skin: 'oris-layer', //seller-ing-modal-title
          shadeClose: true,
          offset: 'auto',
          area: ['480px', 'auto'],
          content: $(".view-event-rule-modal"), 
        });
      })
    }
  }
  var getSertervalType={
    getTime:function(){
      timeBox=window.setInterval(function () {
        setIntervalFn.getSerterval(Day,Hour,Minute,Second);
      }, 1000);
    }
  }
  var setIntervalFn={
    getSerterval:function(Day,Hour,Minute,Second){     
      var D=$('#intervalDay').html();
      var H=$('#intervalHour').html();
      var M=$('#intervalMinute').html();
      var S=$('#intervalSecond').html();
      if(D=='00'&& H== '00' && M== '00' && S=='00'){ //00:00:00:00清掉定时器
        clearInterval(timeBox);
        return
      }
      var totalTime=Day*24*60*60+Hour*60*60+Minute*60+Second;
      timeNum++; //计数器
      residueTime=(totalTime-timeNum);
      var day=setIntervalFn.checkTime(Math.floor(residueTime/(3600 * 24)));
      var hour=setIntervalFn.checkTime(Math.floor((residueTime / 3600) - (day * 24)));
      var minute =setIntervalFn.checkTime(Math.floor((residueTime - ((day * 24*3600)+(hour*3600)))/60));//计算分
      var second =setIntervalFn.checkTime(Math.floor(residueTime - ((day * 24 * 3600) + (hour * 3600) + (minute*60))));//计算秒
      $('#intervalDay').html(day); //天
      $('#intervalHour').html(hour) //时
      $('#intervalMinute').html(minute); //分
      $('#intervalSecond').html(second); //秒  
    },
    checkTime(i){
      if(i<10){
        i='0'+i
      }
      return i;
    }
  };
</script>