{% trans_default_category 'catalog/view/customerpartner/warehouse/receipt' %}
{{ cssOrigin(['/catalog/view/theme/yzcTheme/stylesheet/customerpartner/warehouse/shipping_order_book_modal.css']) }}
{# 查看托书#}
<div class="modal fade oris-modal order-book-modal order-book-modal-view" id="orderBookModalView" tabindex="-1" role="dialog"
     aria-labelledby="orderBookModal" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" aria-label="Close">
          <i class="giga icon-V10_danchuangguanbi"></i>
        </button>
        <h4 class="modal-title" id="">
          {{ __('查看托书') }}
        </h4>
      </div>
      <div class="modal-body overflow-auto oris-scrollbar">
        <form >
          <div class="oris-row info-module shipper-content">
            <div class="create-title m08-b flex-layout">
              <span class="Y-axis"></span>
              <span class="text-larger text-bold">{{ __('托运人') }}</span>
            </div>
            <div class="oris-row ">
              <div class="col-sm-6">
                <label class="oris-label">
                  <span>{{ __('公司名称') }}</span>
                  <i class="giga icon-V10-wenhaotishi"
                     data-toggle="tooltip" title="" data-original-title="{{ __('请填写英文') }}"></i>
                </label>
                <div class="view-content oris-scrollbar">{{ receipt.shippingOrderBook.company_name }}</div>
              </div>
              <div class="col-sm-6">
                <label class="oris-label">
                  <span>{{ __('地址') }}</span>
                  <i class="giga icon-V10-wenhaotishi"
                     data-toggle="tooltip" title="" data-original-title="{{ __('请填写英文') }}"></i>
                </label>
                <div class="view-content oris-scrollbar">{{ receipt.shippingOrderBook.address }}</div>
              </div>
            </div>
            <div class="oris-row m18-t">
              <div class="col-sm-6">
                <label class="oris-label"><span>{{ __('联系人') }}</span></label>
                <div class="view-content oris-scrollbar">{{ receipt.shippingOrderBook.contacts }}</div>
              </div>
              <div class="col-sm-6">
                <label class="oris-label">
                  <span>{{ __('电话') }}</span>
                </label>
                <div class="view-content oris-scrollbar">{{ receipt.shippingOrderBook.contact_number }}</div>
              </div>
            </div>
            <div class="oris-row m18-t">
              <div class="col-sm-6">
                <label class="oris-label">
                  <span>{{ __('收货人') }}</span>
                  <span class="text-weight-normal">{{  __('（非必填）')  }}</span>
                </label>
                <div class="view-content textarea-content oris-scrollbar">{{ receipt.shippingOrderBook.consignee }}</div>
              </div>
              <div class="col-sm-6">
                <label class="oris-label">
                  <span>{{ __('到货受通知人') }}</span>
                  <span class="text-weight-normal">{{  __('（非必填）')  }}</span>
                </label>
                <div class="view-content textarea-content oris-scrollbar">{{ receipt.shippingOrderBook.notify_party }}</div>
              </div>
            </div>
          </div>
          <div class="oris-row info-module">
            <div class="create-title m08-b flex-layout">
              <span class="Y-axis"></span>
              <span class="text-larger text-bold">{{ __('Bond') }}</span>
            </div>
            <div class="oris-row ">
              <div class="col-sm-12 flex-layout p12-l">
                <label class="oris-label mb-0">{{ __('自有Bond') }}:</label>
                <div class="m08-l flex-layout" id="">
                  <div id="" class="mr-4" data-toggle="popover" data-placement="bottom"
                       data-content="" data-html="true" data-trigger="click">
                    <input type="radio" class="oris-radio yes-bond" value="1" name="bond" disabled
                      {% if not receipt or (receipt and receipt.shippingOrderBook.is_self_bond == 1) %} checked {% endif %}>
                    <span class="m08-l">{{ __('是') }}</span>
                  </div>
                  <div>
                    <input type="radio" class="oris-radio no-bond" value="0" name="bond" disabled
                      {% if receipt and receipt.shippingOrderBook.is_self_bond == 0 %} checked {% endif %}>
                    <span class="m08-l">{{ __('否') }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div id=""
                 class="m10-t bond-info  {% if receipt and receipt.shippingOrderBook.is_self_bond == 0 %} none {% endif %}">
              <div class="oris-row">
                <div class="col-sm-3">
                  <label class="text-label"><span>{{ __('CIN') }}</span></label>
                  <div class="view-content oris-scrollbar">{{ receipt.shippingOrderBook.bond_cin }}</div>
                </div>
                <div class="col-sm-3">
                  <label class="text-label">
                    <span>{{ __('抬头') }}</span>
                    <i class="giga icon-V10-wenhaotishi text-size-normal"
                       data-toggle="tooltip" title="" data-original-title="{{ __('请填写英文') }}"></i>
                  </label>
                  <div class="view-content oris-scrollbar">{{ receipt.shippingOrderBook.bond_title }}</div>
                </div>
                <div class="col-sm-6">
                  <label class="text-label">
                    <span>{{ __('地址') }}</span>
                    <i class="giga icon-V10-wenhaotishi text-size-normal"
                       data-toggle="tooltip" title="" data-original-title="{{ __('请填写英文') }}"></i>
                  </label>
                  <div class="view-content oris-scrollbar">{{ receipt.shippingOrderBook.bond_address }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="oris-row info-module">
            <div class="create-title m08-b flex-layout">
              <span class="Y-axis"></span>
              <span class="text-larger text-bold">{{ __('运输信息') }}</span>
            </div>
            <div class="oris-row ">
              <div class="col-sm-6">
                <label class="oris-label">{{ __('起运港') }}</label>
                <div class="view-content" id="portView">{{ __('请填写') }}</div>
              </div>
              <div class="col-sm-6">
                <label class="oris-label">
                  <span>{{ __('箱唛') }}</span>
                </label>
                <div class="view-content">{{ receipt.shippingOrderBook.marks_numbers }}</div>
              </div>
            </div>
            <div class="oris-row m18-t">
              <div class="col-sm-6">
                <label class="oris-label">{{ __('集装箱尺寸') }}</label>
                <div class="view-content" id="sizeView">{{ __('请填写') }}</div>
              </div>
              <div class="col-sm-6">
                <label class="oris-label">
                  <span>{{ __('箱量') }}</span>
                </label>
                <div class="view-content">{{ receipt.shippingOrderBook.container_load }}</div>
              </div>
            </div>
            <div class="oris-row m18-t">
              <div class="col-sm-12">
                <table class="oris-table shipping-list">
                  <thead>
                  <tr>
                    <th class="oris-w280">
                      {{ __('品名') }}
                      <i class="giga icon-V10-wenhaotishi"
                         data-toggle="tooltip" title="" data-original-title="{{ __('请填写英文') }}"></i>
                    </th>
                    <th class="oris-w160 text-center">
                      {{ __('HS编码') }}
                      <i class="giga icon-V10-wenhaotishi"
                         data-toggle="tooltip" title="" data-original-title="{{ __('ten_hscode_second') }}"></i>
                    </th>
                    <th class="oris-w120 text-center">{{ __('件数') }}</th>
                    <th class="oris-w120 text-center">{{ __('重量（千克）') }}</th>
                    <th class="oris-w120 text-center">{{ __('体积（立方米）') }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% if receipt.shippingOrderBook.shipping_list %}
                    {% for list in json_decode(receipt.shippingOrderBook.shipping_list) %}
                      <tr>
                        <td>
                          <div class="view-content oris-scrollbar">{{ list.description }}</div>
                        </td>
                        <td class="text-center">
                          <div class="view-content">{{ list.hscode }}</div>
                        </td>
                        <td class="text-center">
                          <div class="view-content">{{ list.qty }}</div>
                        </td>
                        <td class="text-center">
                          <div class="view-content">{{ list.weight }}</div>
                        </td>
                        <td class="text-center">
                          <div class="view-content">{{ list.volume }}</div>
                        </td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="oris-row info-module">
            <div class="create-title m12-b flex-layout">
              <span class="Y-axis"></span>
              <span class="text-larger text-bold">{{ __('贸易方式') }}</span>
            </div>
            <div class="oris-row ">
              <div class="col-sm-12 flex-layout">
                <div class="m08-l flex-layout" id="">
                  <div class="mr-4">
                    <input type="radio" class="oris-radio delivery-fob" value="1" name="delivery" disabled
                      {% if not receipt or (receipt and receipt.shippingOrderBook.terms_of_delivery == 1) %} checked {% endif %}>
                    <span class="m08-l">{{ __('FOB') }}</span>
                  </div>
                  <div>
                    <input type="radio" class="oris-radio delivery-ddp" value="2" name="delivery" disabled
                      {% if not receipt or (receipt and receipt.shippingOrderBook.terms_of_delivery == 2) %} checked {% endif %}>
                    <span class="m08-l">{{ __('DDP') }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="oris-row info-module">
            <div class="create-title m12-b flex-layout">
              <span class="Y-axis"></span>
              <span class="text-larger text-bold">{{ __('起运港拖车报关') }}</span>
            </div>
            <div class="oris-row ">
              <div class="col-sm-12 flex-layout p12-l">
                <label class="oris-label">{{ __('使用拖车') }}:</label>
                <div class="m08-l flex-layout" id="">
                  <div id="" class="mr-4" data-toggle="popover" data-placement="bottom"
                       data-content="" data-html="true" data-trigger="click">
                    <input type="radio" class="oris-radio yes-trailer" value="1" name="trailerService" disabled
                      {% if not receipt or (receipt and receipt.shippingOrderBook.is_use_trailer == 1) %} checked {% endif %}>
                    <span class="m08-l">{{ __('是') }}</span>
                  </div>
                  <div>
                    <input type="radio" class="oris-radio no-trailer" value="0" name="trailerService" disabled
                      {% if receipt and receipt.shippingOrderBook.is_use_trailer == 0 %} checked {% endif %}>
                    <span class="m08-l">{{ __('否') }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="" class="m10-t trailer-info
              {% if receipt and receipt.shippingOrderBook.is_use_trailer == 0 %} none {% endif %}">
              <div class="oris-row">
                <div class="col-sm-6">
                  <label class="text-label"><span>{{ __('拖车地址') }}</span></label>
                  <div class="view-content oris-scrollbar">{{ receipt.shippingOrderBook.trailer_address }}</div>
                </div>
                <div class="col-sm-6">
                  <label class="text-label"><span>{{ __('拖车联系方式') }}</span></label>
                  <div class="view-content oris-scrollbar">{{ receipt.shippingOrderBook.trailer_contact }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="oris-row info-module">
            <div class="create-title m08-b flex-layout">
              <span class="Y-axis"></span>
              <span class="text-larger text-bold">{{ __('特殊产品说明') }}</span>
            </div>
            <div class="oris-row ">
              <div class="col-sm-12 flex-layout">
                <div class="m08-l flex-layout">
                  <div class="mr-4">
                    <input type="checkbox" class="oris-checkbox" value="1" name="special" disabled>
                    <span class="m08-l">{{ __('危险品') }}</span>
                  </div>
                  <div class="mr-4">
                    <input type="checkbox" class="oris-checkbox" value="2" name="special" disabled>
                    <span class="m08-l">{{ __('反倾销') }}</span>
                  </div>
                  <div>
                    <input type="checkbox" class="oris-checkbox" value="3" name="special" disabled>
                    <span class="m08-l">{{ __('带电池') }}</span>
                  </div>
                </div>
                <div class="error-prompt text-danger text-less"></div>
              </div>
            </div>
          </div>
          <div class="oris-row info-module">
            <div class="create-title m08-b flex-layout">
              <span class="Y-axis"></span>
              <span class="text-larger text-bold">{{ __('备注-Remarks') }}</span>
              <span>{{  __('（非必填）')  }}</span>
            </div>
            <div class="oris-row ">
              <div class="col-sm-12">
                <div class="view-content oris-scrollbar textarea-content">{{ receipt.shippingOrderBook.remark }}</div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var shippingOrderBookView = {
    initialize: function (operating) {
      //查看时把特殊产品说明选中
      if ({{ receipt|js_json }}) {
        var special_product_type = {{ receipt.shippingOrderBook.special_product_type|js_var }};
        $("input[name=special]").each(function () {
          var val = $(this).val();
          if (special_product_type && special_product_type.indexOf(val) > -1) {
            $(this).attr('checked', true)
          }
        })
      }
      $('#orderBookModalView .modal-body').animate({scrollTop: 0}, 800);
    },
    bindClick: function () {
      $("#orderBookModalView")
        .on('click', '.close-modal', function () {
          $("#orderBookModalView").modal('hide');
        })
    }
  };

</script>