{% trans_default_category 'catalog/view/account/phone/verify_change' %}
{{ this.title(__('验证手机号')) }}
{{ css(['static/account/phone/verify.css','css/common/common.css']) }}
{{ cssOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css',
  'catalog/view/theme/yzcTheme/stylesheet/app.css'
]) }}
{{ jsOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js',
]) }}

<div id="page-verify" class="page-verify">

  <div id="verifyNumber" class="verify-number">
    <div class="pull-right">
      {{ widget('LangChangeWidget', {mode: 2}) }}
    </div>
    <h3 class="text-center text-bold m30-b verify-phone-number">{{ __('验证手机号') }}</h3>
    <div class="verify-msg ">
      <div class="oris-select m24-t relative" id="countryCodeList">
        <span class="msg-title text-tips country-code none">{{ __('国家/ 编码') }}</span>
        <select class="selectpicker" id="countryCode">
          <option value="">{{ __('国家/ 编码') }}</option>
          {% for i, item in smsCountryCodeOptions %}
          <option value="{{ item.id }}" data-index="{{ i }}">{{ item.desc }}+{{ item.code }}</option>
          {% endfor %}
        </select>
        <input type="text" class="oris-input placeholder" placeholder="{{ __('请选择', {}, 'common') }}"/>
      </div>
      <div class="m24-t pos-rela telNum" id="telNum">
        <span class="msg-title text-tips {% if phone=='' %}none{% endif %}">{{ __('手机号码') }}</span>
        <input id="telephoneNum" class="oris-input" type="text" placeholder="{{ __('手机号码') }}" maxlength="20"
               onkeyup="value=value.replace(/[^\d]/g,'')"  onblur="value=value.replace(/[^\d]/g,'')"
               autocomplete="off" value="{{ phone }}">
        <div class="text-danger text-small mt-octal1 numError none">{{ __('手机号码是11位数字，请重新输入') }}</div>
        <div class="text-danger text-small mt-octal1 return-error"></div>
      </div>
      <div class="m24-t pos-rela verCode" id="verCode">
        <span class="msg-title text-tips none">{{ __('验证码') }}</span>
        <input id="verifyCode" class="oris-input" type="text" placeholder="{{ __('验证码') }}" autocomplete="off" maxlength="6"
               onkeyup="value=value.replace(/\s+/g,'')" onblur="value=value.replace(/\s+/g,'')"
               onkeydown="value=value.replace(/\s+/g,'')">
        <div class="text-success text-small mt-octal1 codeSent none">{{ __('验证码已发送到你的手机，5分钟内输入有效，请不要轻易告知他人') }}</div>
        <div class="text-danger text-small mt-octal1 return-error"></div>
        {% if countDown and countDown.countDown>0 %}
          <button class="link-color get-code" id="getNum" disabled>
            <span id="getCode" class="none">{{ __('点此获取') }}</span>
            <span id="resentCode" data-interval="{{ countDown.countDownInterval }}">{{ countDown.countDown }}</span>
            <span id="resentUnit">{{ countDown.countDownUnit }}</span>
          </button>
        {% else %}
          <button class="link-color get-code" id="getNum" disabled>
            <span id="getCode">{{ __('点此获取') }}</span>
            <span id="resentCode"></span>
            <span id="resentUnit"></span>
          </button>
        {% endif %}
      </div>
      <button id="verifyBtn" class="oris-button oris-wAll m24-t" disabled>{{ __('确定') }}</button>
    </div>
    <hr>
    <div class="verify-tip">
      <div class="m16-t">
        <div class="message-authentication-code">{{ __('没有收到短信验证码？') }}</div>
        <div>{{ __('1、网络通讯异常可能会造成短信丢失，请重新获取或稍后再试。') }}</div>
        <div>{{ __('2、请核实手机是否已欠费停机，或者屏蔽了系统短信。') }}</div>
        <div>{{ __('3、您也可以尝试将SIM卡移动到另一部手机，然后重试。') }}</div>
      </div>
    </div>
  </div>
  <div id="verifySuccess" class="verify-number none">
    <h3 class="text-center text-bold m30-b">{{ __('验证手机号') }}</h3>
    <div id="verifySuccessTips" class="verify-success-tips">
      <div class="flex-layout">
        <i class="giga icon-v10tongguo-01"></i>
        <div>
          <div class="text-bold text-larger mb-octal1">{{ __('添加成功，您的手机号码为<span id="savedNumber"></span>') }}</div>
          <div>{{ __('此手机号可作为安全验证的方式用于找回密码、修改手机号等场景，但不能作为登录名使用。') }}</div>
        </div>
      </div>
      <div class="mt-octal1 m40-l link-color">
        {{ __('<span id="returnTime">3</span>s后返回<a class="link underline" id="redirect-home" href=":url">:page</a>', {
          url: url('common/redirect/home'),
          page: customer.isPartner() ? __('Seller Central页面') : __('首页')
        }) }}
      </div>
    </div>
  </div>
</div>

<script>
  let $telephoneNum = $("#telephoneNum");
  let $verifyCode =$("#verifyCode");
  var countDown= new Object();
  let time =0;
  let unit;
  let interval;
  let telCheck = false;

  $(document).ready(function () {
    var list ={{ smsCOuntryCodeOptions | js_json }}
    var val ={{ countryCodeId |js_var }}
    if(val){
      $('.selectpicker').selectpicker('val',val)
    }else{
      $('.selectpicker').selectpicker('val',)
    }
    countrySelect();
    var that = '#telephoneNum';
    verifyTel();
    time = Number( $("#resentCode").text());
    unit = $("#resentUnit").text();
    interval = Number( $("#resentCode").attr('data-interval'));
    if (time){
      countdown()
    }
  });

  $("#countryCodeList").on('click',function () {
    var list = {{ smsCountryCodeOptions |js_json}}
      $("#countryCodeList .dropdown-menu li:not(:first-child)").each(function (i,n) {
        var opt = `<span class="code">${list[i].desc}</span><span class="right-country-code"> +${list[i].code}</span>`;
        $(this).children('a.dropdown-item').html(opt)
      })
  });

  $("#countryCode").on('changed.bs.select',function () {
    verifyTel();
    countrySelect()
  });

  //选择国家码样式
  function countrySelect() {
    var countryList = {{ smsCountryCodeOptions |js_json}}
    var index = $('#countryCode').children('option:selected').attr('data-index');
    if(countryList[index]){
      var countryValue = `<span class="select-country">${countryList[index].desc}</span><span class="country-style"> +${countryList[index].code}</span>`;
      $("#countryCodeList").find('div.filter-option-inner-inner').html(countryValue);
      $('.select-country').addClass('counrty-code-color')
      $('.country-style').addClass('counrty-code-color')
      $('#countryCodeList').find('span.country-code').removeClass('none')
    }else {
      $('#countryCodeList').find('span.country-code').addClass('none')
    }
  }

  //验证手机号码
  function verifyTel() {
    var phoneRule = /^\d{11}$/;
    var countryCode=$("#countryCode").val();
    if(countryCode==1){
      if (!phoneRule.test($telephoneNum.val())){
        $("#getNum").attr('disabled','disabled');
        telCheck = false;
      }else{
        if (time < 1){
          $("#getNum").removeAttr('disabled');
        }
        $telephoneNum.next('.numError').addClass('none');
        $telephoneNum.removeClass('border-danger');
        $telephoneNum.prev('.msg-title').removeClass('text-danger');
        $telephoneNum.next().next('.return-error').html('');
        telCheck = true;
      }
    }else if(countryCode=='') {
      $("#getNum").attr('disabled', 'disabled');
      telCheck = false;
    }else{
      if (!$telephoneNum.val()){
        $("#getNum").attr('disabled','disabled');
        telCheck = false;
      }else{
        if (time < 1){
          $("#getNum").removeAttr('disabled');
        }
        $telephoneNum.next('.numError').addClass('none');
        $telephoneNum.removeClass('border-danger');
        $telephoneNum.prev('.msg-title').removeClass('text-danger');
        $telephoneNum.next().next('.return-error').html('');
        telCheck = true;
      }
    }
  }

  //监听手机号
  $telephoneNum.on('blur',function () {
    var countryCode=$("#countryCode").val();
    var phoneRule = /^\d{11}$/;
    if(countryCode==1){
      if (!phoneRule.test($telephoneNum.val())){
        $("#getNum").attr('disabled','disabled');
        $telephoneNum.next('.numError').removeClass('none');
        $telephoneNum.addClass('border-danger');
        $telephoneNum.prev('.msg-title').addClass('text-danger');
        $telephoneNum.next().next('.return-error').html('');
        telCheck = false;
      }else{
        if (time < 1 ){
          $("#getNum").removeAttr('disabled');
        }else{
          $("#getNum").attr('disabled','disabled');
        }
        $telephoneNum.next('.numError').addClass('none');
        $telephoneNum.removeClass('border-danger');
        $telephoneNum.prev('.msg-title').removeClass('text-danger');
        $telephoneNum.next().next('.return-error').html('');
        telCheck = true;
      }
    }else {
      if (time < 1 ){
        $("#getNum").removeAttr('disabled');
      }else{
        $("#getNum").attr('disabled','disabled');
      }
      $telephoneNum.next('.numError').addClass('none');
      $telephoneNum.removeClass('border-danger');
      $telephoneNum.prev('.msg-title').removeClass('text-danger');
      $telephoneNum.next().next('.return-error').html('');
      telCheck = true;
    }
  });

  //监听验证码
  $verifyCode.on('blur change input',function () {
    $verifyCode.next('.numError').addClass('none');
    $verifyCode.removeClass('border-danger');
    $verifyCode.prev('.msg-title').removeClass('text-danger');
    $verifyCode.next().next('.return-error').html('');
  });

  //校验手机号码,验证码是否为空
  function checkTelNum(that){
    if ($(that).val() && ($(that).val().trim()!='')){
      $(that).prev('.msg-title').removeClass('none');
    }else{
      $(that).prev('.msg-title').addClass('none');
    }
    verifyTel();
  }

  //倒计时
  function countdown(){
    $("#resentCode").html(time);
    $("#resentUnit").html(unit);
    $("#getNum").attr('disabled','disabled');
    let countdown = setInterval(function () {
      if (time < 2 ){
        if ($("#telephoneNum").val()){
          $("#getNum").removeAttr('disabled');
        }
        $("#getCode").removeClass('none');
        $("#resentCode,#resentUnit").html('');
        clearInterval(countdown);
        time=0;
      }else{
        time=time-1;
        $("#resentCode").html(time);
        $("#resentUnit").html(unit);
      }
    },interval)
  }

  //监听输入框是否有值
  $(".verify-msg .oris-input").on('change input keyup blur',function () {
    var that = this;
    checkTelNum(that);
    if (telCheck==true && $("#verifyCode").val() && $("#verifyCode").val()!=' '){
      $("#verifyBtn").removeAttr('disabled');
    }else{
      $("#verifyBtn").attr('disabled','disabled')
    }
    if (!$telephoneNum.val() && !$("#verifyCode").val()){
      $(".return-error").html('');
      $(".numError,.codeSent").addClass('none');
      $(".msg-title").removeClass('text-danger');
      $(".border-danger").removeClass('border-danger');
    }
  });

  //验证码倒计时
  $("#getNum").on('click',function () {
    $("#getNum").attr('disabled','disabled');
    $verifyCode.val('');
    countDown = verifyNum();
    if (JSON.stringify(countDown) != "{}"){
      time = countDown.time;
      unit = countDown.unit;
      interval = countDown.interval;
      countdown();
    }
  });

  //发送验证码，获取重发时间
  function verifyNum() {
    $verifyCode.next('.numError').addClass('none');
    $verifyCode.removeClass('border-danger');
    $verifyCode.prev('.msg-title').removeClass('text-danger').addClass('none');
    $verifyCode.next().next('.return-error').html('');
    var phone = {
      phone:$("#telephoneNum").val(),
      country_code:$("#countryCode").val()
    };
    $.ajax({
      url : {{ url('account/phone/sendVerifyCode')|js_var }},
      type : 'post',
      async : false,
      data: JSON.stringify(phone),
      dataType:'json',
      contentType:'application/json',
      success : function(res) {
        if (res.code==200){
          var data= res.data;
          if (data.result=='success'){
            countDown.time = data.countDown.countDown;
            countDown.interval = data.countDown.countDownInterval;
            countDown.unit = data.countDown.countDownUnit;
            time = countDown.time;
            $("#getCode").addClass('none');
            if ($(".codeSent").hasClass('none')){
              $(".codeSent").removeClass('none');
            }else{
              $(".codeSent").addClass('none');
              setTimeout(function () {
                $(".codeSent").removeClass('none');
              },300)
            }
            $(".return-error").html('');
            $("#verifyCode").removeClass('border-danger');
            $(".verCode").children('.msg-title').removeClass('text-danger');
          }else{
            if ($("#telephoneNum").val()){
              $("#getNum").removeAttr('disabled');
            }
            if (data.errors.phone){
              $("#telNum").find('.return-error').html(data.errors.phone);
              $("#telephoneNum").addClass('border-danger');
              $("#telNum").find('.msg-title').addClass('text-danger');
              $(".codeSent").addClass('none');
            }
            if (data.errors.verify_code){
              $("#verCode").find('.return-error').html(data.errors.verify_code);
              $("#verifyCode").addClass('border-danger');
              $("#verCode").find('.msg-title').addClass('text-danger');
              $("#verCode").find('.codeSent').addClass('none');
            }
            countDown= new Object();
            time = 0;
            return
          }
        }else{
          if ($("#telephoneNum").val()){
            $("#getNum").removeAttr('disabled');
          }
          if (!$(".verifyCode").val()){
            $("#verifyBtn").attr('disabled','disabled');
          }
          $.toast({
            heading: false,
            text: res.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 3000,
            allowToastClose: true,
            loader: false
          });
          countDown= new Object();
          time = 0;
          return
        }
      },
      error : function() {
        countDown= new Object();
        time = 0;
        if ($("#telephoneNum").val()){
          $("#getNum").removeAttr('disabled');
        }
        if (!$(".verifyCode").val()){
          $("#verifyBtn").attr('disabled','disabled');
        }
        $.toast({
          heading: false,
          text: __('信息获取失败，请刷新后重试'),
          position: 'top-center',
          showHideTransition: 'fade',
          icon: 'error',
          hideAfter: 3000,
          allowToastClose: true,
          loader: false
        });
      }
    });
    return countDown;
  }

  //点击提交
  $("#verifyBtn").on('click',function () {
    var phoneRule = /^\d{11}$/;
    if ($telephoneNum.val() && $verifyCode.val()){
        $telephoneNum.next('.numError').addClass('none');
    } else {
    return false
  }
    submit()
  });

  function submit() {
    var num = {
      phone:$("#telephoneNum").val(),
      verify_code:$("#verifyCode").val(),
      country_code:$("#countryCode").val()

    };
    $.ajax({
      url : {{ url('account/phone/verifyCode')|js_var }},
      type : 'post',
      async : false,
      data: JSON.stringify(num),
      dataType:'json',
      contentType:'application/json',
      success : function(res) {
        if (res.code==200){
          let data= res.data;
          if (data.result=='fail'){
            if (data.errors.phone){
              $("#telNum").find('.return-error').html(data.errors.phone);
              $("#telephoneNum").addClass('border-danger');
              $("#telNum").find('.msg-title').addClass('text-danger');
            }
            if (data.errors.verify_code){
              $("#verCode").find('.return-error').html(data.errors.verify_code);
              $("#verifyCode").addClass('border-danger');
              $("#verCode").find('.msg-title').addClass('text-danger');
              $("#verCode").find('.codeSent').addClass('none');
            }
          }else{
            let showPhone =  data.phone;
            $("#verifyNumber").addClass('none');
            $("#verifySuccess").removeClass('none');
            $("#savedNumber").html(showPhone);
            let time =3;
            let countdown = setInterval(function () {
              if (time < 2){
                clearInterval(countdown);
                window.location.href = $('#redirect-home').attr('href');
              }else{
                time=time-1;
                $("#returnTime").html(time);
              }
            },1000)
          }
        }else{
          $(".codeError,.codeSent").addClass('none');
          $(".return-error").html('');
          $("#verifyCode").removeClass('border-danger');
          $(".verCode").children('.msg-title').removeClass('text-danger');
          $.toast({
            heading: false,
            text: res.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 3000,
            allowToastClose: true,
            loader: false
          });
        }
      },
      error : function() {
        $.toast({
          heading: false,
          text: __('信息获取失败，请刷新后重试'),
          position: 'top-center',
          showHideTransition: 'fade',
          icon: 'error',
          hideAfter: 3000,
          allowToastClose: true,
          loader: false
        });
      }
    });
  }
</script>
