{{ header }}
{#<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">#}
<style>
  .title_information {
    cursor: pointer;
  }

  #help-center .panel a.active, .titleLight {
    color: #FA6400;
  }

  #information_right .btn {
    text-transform: uppercase;
  }

  #accordion .well {
    border: none;
  }

  .container .left div a {
    white-space: normal;
    text-align: left;
    width: 100%;
  }

  #accordion div > a span:nth-child(2) {
    float: right;
  }

  #accordion div {
    border-top: 1px solid #cccc;
  }

  #accordion div .active {
    color: #FA6400 !important;
  }

  #accordion > div {
    padding: 10px 0;
  }

  #accordion > div a {
    color: #444;
    font-size: 14px;
    font-weight: lighter;
  }

  #accordion > div a span:hover {
    color: #FA6400;
  }

  #accordion > div > a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }

  .clearfix .row > div {
    text-align: center;
  }
</style>
<div class="breadcrumb-wrapper clearfix">
  <h1 style="text-align: center">Help Center</h1>
  {#{% include 'giga/template/_parts/breadcrumb.twig' %}#}
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}
</div>
<div id="help-center">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-4 left">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {% if tree_html %}
            {{ tree_html }}
          {% else %}
{#            {{ text_no_results }}#}
            Login in to get more information.
          {% endif %}
        </div>
      </div>
      <div class="col-md-8 col-md-push-1">
        <div class="right1" id="information_right" style="overflow-x: auto;overflow-y: auto">
          <div>
          {% if cur_info_id is defined and cur_info_id > 0 %}
          <h3>{{ heading_title }}</h3>
          {% if fileName and fileUrl %}
            <a class="btn btn-primary" href="{{ fileUrl }}">download</a>
          {% endif %}
        </div>
        <div style="margin-top: 25px;">
          {{ description |replace({'&nbsp;': ' '}) }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

<style>
  p, span {
    word-wrap: break-word;
    word-break: normal;
  }

  .toggle-icon-info {
    transform: rotate(-180deg);
  }
</style>

<script type="text/javascript">
  $('#accordion').find('.btn').on('click', function () {
    let item = $(this);
    let icon = item.find('i');
    if (item.attr('aria-expanded') === 'false') {
      icon.parent('span').addClass('toggle-icon-info');
    } else {
      icon.parent('span').removeClass('toggle-icon-info')
    }
    let href = item.attr('data-href');
    if (href === '' || href === undefined || href === null) {
      return;
    }
    $('#accordion').find('.btn').removeClass('active');
    item.addClass('active');
    block.blockUI();
    $("#information_right").load(href, function () {
      href = href.replace(/\/resolveDetailInfo/i,'');
      window.history.pushState({},'',href);
      block.unBlockUI();
    })
  })
  $(document).ready(function () {
    $(".title_information").click(function () {
      $(".title_information").removeClass("active");
      $(this).addClass("active");
    });

    let information_id = getQueryVariable("information_id");
    let heading = 0;
    if (information_id) {
      heading = $("#title_information" + information_id).parent().parent().attr("aria-labelledby");
      $("#" + heading).find("span").click();
      showDescription(information_id);
      $(".title_information").removeClass("active");
      $("#title_information" + information_id).addClass("active");
    }
  });

  function downloadFile(path) {
    window.location.href = "index.php?route=information/information/downloadInformationFile&filePath=" + path.trim();
  }

  function showDescription(information_id) {
    let description = $("#div_information" + information_id).html();
    $("#information_right").html(description);
  }

  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      if (pair[0] == variable) {
        return pair[1];
      }
    }
    return (false);
  }
</script>
{{ footer }}
