<link rel="stylesheet" href="catalog/view/javascript/layui/css/layui.css">

<link href="admin/view/stylesheet/bootstrap.css" rel="stylesheet" media="screen"/>
<link type="text/css" href="admin/view/stylesheet/stylesheet.css" rel="stylesheet" media="screen"/>
<link type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/MP/separate_seller.css?v={{ app_version }}" rel="stylesheet" media="screen"/>
<link type="text/css" href="admin/view/stylesheet/stylesheet_giga.css?v={{ app_version }}" rel="stylesheet" media="screen"/>
<link type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/seller/style.css?v={{ app_version }}" rel="stylesheet" media="screen"/>
<link type="text/css" href="/public/fonts/giga/iconfont.css?v={{ app_version }}" rel="stylesheet">{#B2B页面改版 图标字体#}
<!-- seller 账单总单 -->

<style>
  .inst {
    font-size: 20px;
    text-align: center;
    padding: 8px;
    margin-bottom: 0;
  }

  h2 .giga {
    font-size: 26px;
  }
  #bill{
    border-radius: 3px;
    background-color: #fff;
    margin-top: 3px;
    padding: 15px 20px;
    box-shadow: #aaa 0 0 6px;
  }
  .total a,
  .total a:hover{
    color: #183464;
  }
</style>
<div id="settle_bill">
  <h2>
    <span> {{ language.text_bill }} </span>
    <a href="{{ info.pdf_url }}"><i class="giga icon-bg-pdf pull-right download_pdf"></i></a>
  </h2>
  <div id="description">
    <p class="inst">{{ language.invoice_statements }}</p>
    <ol style="padding-left: 40px;padding-right: 20px">
      <li style="list-style: decimal;">
        {{ language.invoice_statements_line1 }}
      </li>
      {#      <li style="list-style: decimal;">#}
      {#        {{ language.invoice_statements_line2 }}#}
      {#      </li>#}
      <li style="list-style: decimal;">
        {% if account_info.id %}
          {% if account_info.account_type==3 %}
            {% if account_info.p_id %}
              {{ language.invoice_statements_line3_3|format(account_info.p_id) }}
            {% else %}
              {{ language.invoice_statements_line3 }}
            {% endif %}
          {% else %}
            {{ language.invoice_statements_line3_2|format(account_info.bank_account) }}
          {% endif %}
        {% else %}
          {{ language.invoice_statements_line3 }}
        {% endif %}
      </li>
      <li style="list-style: decimal;">
        {{ language.invoice_statements_line4 |format(help_center_url) }}
      </li>
    </ol>
  </div>
  <tr id="bill">
    <h4 style="line-height: 25px;font-size: 15px;margin-bottom: 13px;">
      {{ info.start_bill_overview }}
    </h4>
    <table class="table">
      <tr style="height: 38px">
        <td class="col-sm-3" style="margin-top: -15px;"> {{ language.settlement_processed }}</td>
        <td colspan="3" class="col-sm-9">
          <form class="layui-form" action="">
            <div class="layui-form-item">
              <div class="layui-input-block">
                <select name="interest" lay-filter="aihao" onchange="chang_seller_bill(this)">
                  {% for bill_time in list %}
                    {% if bill_time.id==show_default_id %}
                      <option value="{{ bill_time.id }}" selected> {{ bill_time.start_date }} - {{ bill_time.end_date }}
                        ({{ bill_time.status_info }})
                      </option>
                    {% else %}
                      <option value="{{ bill_time.id }}"> {{ bill_time.start_date }} - {{ bill_time.end_date }}
                        ({{ bill_time.status_info }})
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td class="col-sm-3"></td>
        <td class="col-sm-3">{% if show_prev_url %}<a
            href="{{ show_prev_url }}">{{ language.previous_bill }}</a>{% endif %}</td>
        <td class="col-sm-3">{% if show_next_url %} <a
            href="{{ show_next_url }}">{{ language.upcoming_bill }}</a>{% endif %}</td>
      </tr>

    </table>
    {% for type_info in detail %}
      {% set loop_out= loop.index %}
      <table class="table  ">
        {% for sub_bill_info in type_info['child'] %}
          {% set sub_bill_title=(loop.index==1 and loop_out==1)?language.current_charges_generated:'' %}
          {% set sub_bill_type=(loop.index==1)?(language['bill_type'][type_info.code]):'' %}
          <tr>
            <td class="col-sm-3"><span>{{ sub_bill_title }}</span></td>
            <td class="col-sm-3">{{ sub_bill_type }}</td>
            <td class="col-sm-3">{{ language['bill_type'][sub_bill_info.code] }}</td>
            <td class="col-sm-3 text-right">{{ sub_bill_info.value }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td class="col-sm-3"></td>
          <td class="col-sm-3"></td>
          <td class="col-sm-3"></td>
          <td class="col-sm-3 text-right border-bot-top ">{{ language.sub_total }}
              {% if type_info.type_id in [31,35] %}
               <span style="font-weight: 700"> {{ type_info.total }}</span>
              {% else %}
                  <span style="text-decoration: underline;font-weight: 700"> <a class="acolor" href="{{ type_info.detail_url }}" target="_blank">{{ type_info.total }}</a></span>
              {% endif %}

          </td>
        </tr>
      </table>
    {% endfor %}
    <table class="table ">
      <tr>
        <td class="col-sm-3">{{ language.settlement_amount }}</td>
        <td class="col-sm-3 border-bot-top">{{ language.closing_balance }}</td>
        <td class="col-sm-3 border-bot-top">{{ language.total_balance }}</td>
        <td class="col-sm-3 text-right border-bot-top total" style="font-weight: bold">
          {% if bill_file or info.remark%}
          <a{% if info.total_val<0 %} style="color: red" {% endif %}  data-toggle="modal" data-target="#exampleModalCenter"  style="text-decoration: underline;cursor: pointer;" >{{ info.total }}</a>
            {% else %}
          <span {% if info.total_val<0 %} style="color: red" {% endif %}  >{{ info.total }}</span>
          {% endif %}
          {% if show_default.start_date>list[6].start_date %}
          <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="" data-original-title="{{ email_tip }}" style="font-weight:initial "></i>
          {% endif %}
        </td>

      </tr>
      {% if info.settlement_status==1 and info.total_val>0  and info.total_val<500  and info.settle_apply!=1 %}
        <tr style="text-align: right">
         <td style="text-align: right;padding: 0 8px"> <button class="btn btn-primary" style="width: 150px;" onclick="handleApply({{ info.id }})">Apply for settlement</button>
           <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-original-title="{{ settle_tip }}"></i></td>
        </tr>
      {% endif %}

    </table>
    <!-- 查看审核详细弹出框内容 -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="width: 800px">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">View the voucher
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </h5>
          </div>
          <div class="modal-body">
            {% if bill_file %}
            <p>Bank voucher：
              {% for item in bill_file %}
                <a
                  href="index.php?route=account/seller_bill/bill/downloadFile&file_id={{ item.id }}">{{ item.file_name }}</a>;
              {% endfor %}
              {% endif %}
                </p>
            {% if info.remark %}
              <p>Message：{{ info.remark }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ footer }}
<style>
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    border: none;
    color: #183464 !important;
  }

  .table > tbody > tr > td {
    word-wrap: break-word;
    word-break: keep-all !important;
    display: inline-block;
  }

  .table > tbody > tr > td > span {
    display: inline-block;
  }


  #settle_bill {
    color: #183464 !important;
    /*margin-left: 15%;*/
    /*width: 85%;*/
    padding: 0 2% 20px 2%;
    /*background-color: #eee;*/
  }

  #description {
    margin: 20px auto;
    border: 1px solid #183464;
    background-color: #bbc8df;
    border-radius: 10px
  }


  #description li {
    margin-bottom: 10px;
  }


  #settle_bill .date {
    font-weight: bold;
  }

  .text-right {
    text-align: right;
  }

  .border-bot {
    border-bottom: 1px solid #183464 !important;
  }

  .border-bot-top {
    border-top: 1px solid #183464 !important;
  }

  #search-sort-category, #search-sort-title {
    width: auto;
  }

  #search-sort-category ul {
    width: auto;
    height: 320px;
    overflow: auto;
    border: 1px solid #183464
  }

  #content .table .dropdown-menu a:hover {
    cursor: pointer;
  }

  .layui-form-select dl dd.layui-this {
    background-color: #EDEFF3 !important;
    color: #183464 !important;
  }

  .acolor {
    color: #183464;
  }

  /*.layui-layer-content {*/
  /*  color: #FFFFFF !important;*/
  /*}*/

  .layui-input-block {
    margin-left: 0px;
  }

  .pdf {
    cursor: pointer;
  }

  .fa-2x {
    font-size: 35px;
  }
  .giga{
    font-size: 12px;
  }
  .yzc_layer .layui-layer-content{
    text-align: left;
  }

</style>

<script>
  // $("#search-sort-category li").click(function () {
  //     var that = this;
  //     let cat_id = $(that).attr("value");
  //     window.location.href = 'index.php?route=account/seller_bill/bill&bill_id=' + cat_id;
  //     // let cat_name = $(that).find("a").html();
  //     // $("#search-sort-title").html(cat_name);
  //     // $("select[name='category_id']").val(cat_id);
  // });


  function show_tip(obj) {
    var txt = $(obj).data('show');
    layer.tips(txt, obj, {
      tips: [1, '#EDEFF3'],
      time: 0
    });
  }

  function close_tip() {
    layer.closeAll();
  }
</script>


<script type="text/javascript" src="catalog/view/javascript/layui/layui.js"></script>
<script type="text/javascript" src="catalog/view/javascript/layer/layer.js"></script>
<script>
  layui.use(['form'], function () {
    var form = layui.form, layer = layui.layer

    form.on('select()', function (data) {
      window.location.href = 'index.php?route=account/seller_bill/bill&bill_id=' + data.value;
    });

  });

  $(document).delegate('.download_pdf', 'mouseover', function () {
    let that = this;
    layer.tips("{{ language.download_tips }}", that, {tips: [1, '#333333'], area: ['auto', 'auto'], time: -1});
  });

  $(document).delegate('.download_pdf', 'mouseout', function () {
    layer.closeAll();
  })


  function handleApply(id) {
    layer.confirm("{{ language.confirm_multiple_tip }}", {
        title: 'Notice',
        skin: 'yzc_layer', //样式类名
        btn: ['OK', 'Cancel']
      }, //按钮
      function (index) {
        $.ajax({
          url:"index.php?route=account/seller_bill/bill/applySettlement",
          type: 'post',
          data: {"id":id},
          dataType: 'json',
          success: function (res) {
            if (res.code == 200) {
              layer.msg(res.msg, {time: 2000});
              location.reload();
            } else {
              layer.msg(res.msg, {time: 2000, icon: 5});
            }
          },

        });
        layer.close(index);
      });
  }
</script>
<style>
  .layui-layer-setwin{
    top: 12px;
  }
</style>

