{% trans_default_category 'catalog/view/account/seller_bill/bill' %}
{{ this.params('pageTitle', {show: true}) }}

<div id="page-frozen_list.twig">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ __('解冻详情') }}</h4>
  </div>
  <div class="modal-body">
    <div>
      <div class="oris-row">
        <div class="oris-col-4">
          <span>{{ __('发生时间') }}:</span>
          <span id="takeTime"></span>
        </div>
        <div class="oris-col-4 just-flex">
          <span>{{ __('订单项类型') }}:</span>
          <span id="orderType"></span>
        </div>
        <div class="oris-col-4">
          <span>{{ __('费用编号') }}:</span>
          <span id="feeNum"></span>
        </div>
      </div>
      <div class="oris-row m10-t">
        <div class="oris-col-4">
          <span>{{ __('Item Code') }}:</span>
          <span id="itemCode"></span>
        </div>
        <div class="oris-col-4">
          <span>{{ __('数量') }}:</span>
          <span id="qty"></span>
        </div>
        <div class="oris-col-4">
          <span>{{ __('小计') }}:</span>
          <span id="subtotal"></span>
        </div>
      </div>
      <div class="oris-row m10-t">
        <span>{{ __('剩余冻结金额') }}:</span>
        <span id="frozenAmount"></span>
      </div>
    </div>
    <div class="m16-t">
     <table id="frozenListTable"></table>
    </div>
  </div>
</div>

<script>
  $("#detailTable").on('click','.view-frozen-list',function () {
    let dataId = $(this).attr('data-id');
    $("#takeTime").html($(this).attr('data-date'));
    $("#orderType").html($(this).attr('data-type'));
    $("#orderType").attr('title',$(this).attr('data-type'));
    $("#feeNum").html($(this).attr('data-no'));
    $("#itemCode").html($(this).attr('data-itemCode'));
    $("#qty").html($(this).attr('data-quantity'));
    $("#qty").val($(this).attr('data-quantity'));
    $("#frozenAmount").html($(this).attr('data-unfrozen'));
    $("#subtotal").html($(this).attr('data-total'));

    $("#frozenListTable").bootstrapTable('destroy');
    getFrozenList(dataId);
  })

  function getFrozenList(dataId){
    let url = 'index.php?route=account/seller_bill/bill_detail/getFrozenList';
    $("#frozenListTable").bootstrapTable('destroy');

    //表格列
    var showColumns;
    var pageSize =20;
    showColumns =[
        {
          field: 'release_time',
          title: "{{ __('可结算时间') }}"
        },
        {
          field: 'release_type',
          title: "{{ __('可结算时间类型') }}",
        },
        {
          field: 'release_qty',
          title: "{{ __('可结算数量') }}",
          formatter: function (value, row, index) {
            var show_quantity = $('#qty').html();
            if (show_quantity == 'N/A') {
              return 'N/A';
            } else {
              return value;
            }
          }
        },
        {
          field: 'release_amount_format',
          title: "{{ __('可结算金额') }}",
        },
      ]

    $("#frozenListTable").bootstrapTable({
      url:url,
      method: 'get',
      queryParams: function (params) {
        var requestData ={
          detail_id:dataId,
          page_limit:params.limit,
          page:(params.offset/ params.limit + 1),
        }
        return requestData;
      },
      onLoadSuccess: function(res){
      },
      formatNoMatches:function(){
        return "{{ __('暂无解冻记录') }}";
      },
      sidePagination: "server",
      striped: true, // 是否显示行间隔色
      pagination: true,
      pageNumber: 1,
      pageSize: pageSize,
      pageList: [5, 15, 20, 50, 100],
      columns:showColumns,
      classes: 'oris-table',
    })

  }
</script>
