{% trans_default_category 'catalog/view/account/seller_bill/bill' %}
{{ css(['/css/admin/app.css','/css/common/common.css','static/account/seller_bill/total.css']) }}
{{ cssOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css','admin/view/stylesheet/totalStyle.css']) }}
{{ jsOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js']) }}

{{ header }}{{ separate_column_left }}
<style>
  .bill-select{
    width: calc(100% - 130px);
    position: relative;
    z-index: 999;
    min-height: 38px;
  }
  .w100{
    width: 100% !important;
  }

  .bill-select .bs-caret{
    display: none;
  }
  .bill-select i{
    position: absolute;
    line-height: 38px;
    right: 5px;
    color: #ccc;
  }
  .bill-select .dropdown-menu{
    max-height: 298px !important;
  }
  .overflow{
    overflow: hidden;
  }
  .step-img{
    padding: 0 50px;
  }
  .time-line{
   border: 1px solid #ccc;
    flex: 1;
  }
  .step-icon{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
  .step-icon.step-active,
  .time-line.step-active{
    border-color: #3A75DC;
  }
  .step-icon.step-active i,
  .step-text.step-active{
    color: #3A75DC;
  }
  .step-txt > div{
    width: 150px;
  }
  .statement-msg{
    background-color:#dde1ea;
    border: 1px solid #8c9ab2;
    border-radius: 4px;
    padding: 12px 0;
  }
  .statement-msg > div > div:not(:last-child){
    margin-bottom: 14px;
  }
  .msg-val{
    margin-left: 4px;
    font-weight: bold;
  }

  .statement-list,
  .price-detail{
    border-bottom: 2px solid #183464;
  }
  .statement-details{
    margin-bottom:30px;
    overflow: hidden;
  }
  .price-detail>div{
    margin-bottom: 15px;
  }
  .subtotal-price{
    margin-top: 15px;
  }
  .details-price,
  .sub-price{
    text-align: right;
    width:150px ;
  }
  .layui-layer.layui-layer-loading{
    top: 50% !important;
    left: 50% !important;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
  }
  .placeholder{
    position: absolute;
    right: 15px;
    width: calc(100% - 160px);
  }
</style>
<div class="container-fluid giga-content" id="content" style="margin-left:235px;font-size: 14px">
  <!-- layer panels end -->
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  <div class="nav-oris">
    <div class="row">
      <div class="col-md-12">
        <h1><span class="statement-number" id="statementNum"></span>{{ __('结算总单') }}</h1>
      </div>
      <div class="col-md-12">
        {#Togglable tabs#}
        <ul class="nav nav-tabs" role="tablist">
          <li id="totalLi" class="active">
            <a data-href="index.php?route=account/seller_bill/bill" data-toggle="tab">{{ __('结算总单') }}</a>
          </li>
          <li id="detailLi">
            <a data-href="index.php?route=account/seller_bill/bill_detail" data-toggle="tab">{{ __('结算明细') }}</a>
          </li>
        </ul>
        {#tab页对应内容#}
        <div class="tab-content">
          <div class="tab-pane active" id="tabTotal">
            <fieldset>
              <div id="billTotal" class="ptb-2 overflow">
                <div class="flex-layout">
                  <div class="col-sm-6 flex-layout flex-between">
                    <label class="text-weight-normal oris-w120">{{ __('结算周期') }}: </label>
                    <div class="bill-select oris-select">
                      <select class="selectpicker w100" name="bill-period" id="billPeriod">
                      </select>
                      <i class="giga icon-DatePicker"></i>
                    </div>
                    <input type="text" class="oris-input placeholder"/>
                  </div>
                  <div class="col-sm-6 flex-layout flex-between">
                    <div>
                      <input type="checkbox" id="showZero">
                      <span>{{ __('不显示为0费用') }}</span>
                    </div>
                    <button class="oris-button oris-button-default" id="downloadBill">
                      <i class="giga icon-xiazai1"></i>
                    </button>
                  </div>
                </div>

                <div class="col-sm-12 m30-t none">
                  <div class="flex-layout step-img">
                    <div class="step-icon  step-active">
                      <i class="giga icon-jinhangzhong1 text-most"></i>
                    </div>
                    <div class="time-line"></div>
                    <div class="step-icon">
                      <i class="giga icon-shenpi-copy text-most"></i>
                    </div>
                    <div class="time-line"></div>
                    <div class="step-icon">
                      <i class="giga icon-complete-order text-most"></i>
                    </div>
                  </div>
                  <div class="flex-layout flex-between step-txt text-grey mt-1">
                    <div class="text-center">
                      <div class="step-text  step-active">{{ __('正在进行') }}</div>
                      <div class="step-time"></div>
                    </div>
                    <div class="text-center">
                      <div class="step-text">{{ __('结算中') }}</div>
                      <div class="step-time"></div>
                    </div>
                    <div class="text-center">
                      <div class="step-text">{{ __('已结算') }}</div>
                      <div class="step-time"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 statement-msg m20-t none" id="statementMsg"></div>
                <div class="col-sm-12 statement-list m20-t none" id="statementList"></div>
                <div class="col-sm-12 statement-total-price pt-2 none" id="endingPrice"></div>
                <div class="col-sm-12 pt-2 none" id="freezeAmount">
                  <div class="col-sm-7">{{ __('本期订单冻结金额') }}</div>
                  <div class="col-sm-5">
                    <div>
                      <div class="flex-between flex-layout">
                        <div>{{ __('本期订单冻结金额') }}</div>
                        <a id="frozenAmount" class="pointer"></a>
                      </div>
                      <div class="flex-between pt-2 flex-layout">
                        <div>{{ __('本期剩余冻结金额') }}</div>
                        <div id="overAmount" ></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="noContent" class="none text-most text-center m24-t">{{ __('暂无可查看的结算周期') }}</div>
              </div>
            </fieldset>
          </div>
          <div class="tab-pane" id="tabDetail">
            <fieldset>
              <div id="billDetail">
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 查看审核详细弹出框内容 -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered oris-buyer oris-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalCenterTitle">{{ __('查看凭证') }}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
<script>
  var bill_id;
  $(document).ready(function () {
    loadIndex = layer.load(2);
    $(".selectpicker").selectpicker({
    });
    if (location.href.split("bill_id=")[1]){
      bill_id = location.href.split("bill_id=")[1].split("&")[0];
    }
    loadBillList();   //获取周期，添加到select的里面
    //初始化刷新数据
    $(window).on('load', function() {
      $('.selectpicker').selectpicker('refresh');
      if (bill_id){
        $('#billPeriod').selectpicker('val', bill_id);
      }

    });
    if (!bill_id){
    getBillDetails();
    }
  });

  //获取结算周期列表
  function loadBillList(){
    $.ajax({
      url : "{{ url('account/seller_bill/bill_list/getSettlementCycle') }}",
      type : 'post',
      async : false,
      datatype : 'json',
      success : function(res) {
        var data = res.data;
        if(data.length > 0){
          var billList =[];
          for(var i=0;i<data.length;i++){
            var index = data[i];
            //拼接成多个<option><option/>
            billList.push('<option value="'+index.id+'" data-program="'+index.program_code+'">'+index.date_format+'</option>')
          }
          $("#billPeriod").html(billList.join(' '));    //根据parkID(根据你自己的ID写)填充到select标签中
          $("#billTotal").children('div.col-sm-12').removeClass('none')
        }else{
          $("#downloadBill").addClass('none');
          $("#noContent").removeClass('none');
          layer.close(loadIndex);
          return
        }
      },
      error : function() {
        alert("{{ __('查询出错') }}");
      }
    });
  }

  //获取结算单详情
  function getBillDetails(){
    var exist = $("#billPeriod").find("option:selected").selectpicker('val').get('0')
    if (exist){
      var id = bill_id ? bill_id :$("#billPeriod").find("option:selected").selectpicker('val').get('0').value;
    }else{
      return
    }

    var bill_id={
      bill_id:id,
    }
    $.ajax({
      url: "{{ url('account/seller_bill/bill/getTotalInfo') }}",
      type: 'post',
      dataType: 'json',
      contentType : "application/json",
      data:JSON.stringify(bill_id),
      success:function (res) {
       var data = res.data;
        if(res.code == 200){
          //结算单编号
          $("#statementNum").html(data.bill_info.serial_number);
          //结算单状态
          for(var m in data.bill_info.progress_bar){
            var index =Number(m)+1;
            $(".step-txt div:nth-child("+index+")").find('.step-time').html(data.bill_info.progress_bar[m].date_format)
            if(data.bill_info.progress_bar[m].is_select){
              if (index==1){
                $(".step-img").children('.step-icon,.time-line').removeClass('step-active');
                $(".step-txt .step-text").removeClass('step-active');
                $(".step-img .step-icon:first-child,.step-img .time-line:first-child").addClass('step-active');
                $(".step-txt div:first-child .step-text").addClass('step-active')
              }
              if(index==2){
                $(".step-img .step-icon:nth-child(3),.step-img .time-line:nth-child(2)").addClass('step-active');
                $(".step-txt div:nth-child("+index+") .step-text").addClass('step-active')
              }
              if (index==3){
                $(".step-img").children('.step-icon,.time-line').addClass('step-active');
                $(".step-txt .step-text").addClass('step-active')
              }

            }

          }
          //结算单基本信息
          var statementMsg =
              `<div class="col-sm-3">
                <div>
                  <span>{{ __('结算单编号') }}: </span>
                  <span class="msg-val statement-number">${data.bill_info.serial_number}</span>
                </div>
                <div>
                  <span>{{ __('客户号') }}: </span>
                  <span class="msg-val user-number">${data.bill_info.logistics_customer_name||(data.bill_info.firstname+data.bill_info.lastname)}</span>
                </div>
                <div>
                  <span>{{ __('收款账户类型') }}: </span>
                  <span class="msg-val">${data.bill_info.account_type}</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  <span>{{ __('结算周期') }}: </span>
                  <span class="msg-val statement-date">${data.bill_info.date_format}</span>
                </div>
                <div>
                  <span>{{ __('店铺名称') }}: </span>
                  <span class="msg-val limitVal store-name" data-num="47" title="${data.bill_info.screenname}">${data.bill_info.screenname}</span>
                </div>
                <div>
                  <span>{{ __('公司名称') }}: </span>
                  <span class="msg-val limitVal company-name" data-num="20" title="${data.bill_info.company}">${data.bill_info.company}</span>
                </div>
              </div>
              <div class="col-sm-3">
                <div>
                  <span>{{ __('国别/结算币种') }}: </span>
                  <span class="msg-val country-unit">${data.bill_info.country_name} / ${data.bill_info.currency_unit}</span>
                </div>
                <div>
                  <span>{{ __('Email') }}: </span>
                  <span class="msg-val limitVal email" data-num="20" title="${data.bill_info.email}">${data.bill_info.email}</span>
                </div>
                <div>
                  <span>{{ __('收款账户') }}: </span>
                  <span class="msg-val collection-account">${data.bill_info.bank_account}</span>
                </div>
              </div>`;
          $("#statementMsg").html(statementMsg);

          //结算单详情
          var statementDetails=`` ;
          for (var i in data.total_list){
            var detailsList = ``;
            for (var j in data.total_list[i].item_list){
              detailsList +=`
              <div class="flex-between flex-layout">
                 <div>${data.total_list[i].item_list[j].item_name}</div>
                 <div class="details-price" data-price="${data.total_list[i].item_list[j].amount_total}">${data.total_list[i].item_list[j].amount_total_format}</div>
              </div>`
            }
            if (data.total_list[i].is_jump==0){
              var amount_total_format =`  <div>${data.total_list[i].amount_total_format}</div>`
            }else{
              var amount_total_format =`  <a class="pointer" data-type="${data.total_list[i].type_id}">${data.total_list[i].amount_total_format}</a>`
            }

            statementDetails +=`
           <div class="statement-details">
                <div class="col-sm-7"> ${data.total_list[i].item_name}</div>
                <div class="col-sm-5">
                  <div class="price-detail">
                     ${detailsList}
                  </div>
                  <div class="subtotal-price flex-layout flex-end">
                    <div class="text-right">${data.total_list[i].type_name}</div>
                    <div class="sub-price" data-price="${data.total_list[i].amount_total}">
                     ${amount_total_format}
                    </div>
                  </div>
                </div>
              </div>
          `
          }
          $("#statementList").html(statementDetails);

          //订单冻结金额
          var versionNum = data.bill_info.program_code.toUpperCase();
          if ( versionNum == 'V1' ||versionNum == 'V2'){
            $("#freezeAmount").addClass('none')
          }else{
            if(data.frozen_total_format){
              $("#freezeAmount").removeClass('none')
              $("#frozenAmount").html(data.frozen_total_format)
              $("#overAmount").html(data.last_frozen_format)
            }else{
              $("#freezeAmount").addClass('none')
            }
          }

          //期末余额
          if (data.bill_info.files.length>0||data.bill_info.remark!=null){
            var filesList = ``;
            var remark = `<div class="mt-1"><span class="text-bold">{{ __('备注：') }}</span> <div class="break-word">${data.bill_info.remark}</div></div>`
            for(var i in data.bill_info.files){
              filesList+=`<a class="link-color limitVal" data-num="20" target="_blank" href="index.php?route=account/seller_bill/bill/downloadFile&file_id=${data.bill_info.files[i].id}" title="${data.bill_info.files[i].file_name}"> ${data.bill_info.files[i].file_name}</a><br>`
            }
            var exampleModal=`<div>
                                 <div>
                                    <span class="text-bold">{{ __('银行凭证：') }}</span>
                                    <div>${filesList}</div>
                                 </div>
                                 ${remark}
                              </div>`;
            $("#exampleModalCenter").find('.modal-body').html(exampleModal);

            if (data.ending_balance.amount_total>0){
              var totalPrice =`<div class="total-price pointer" id="totalPrice"  data-toggle="modal" data-target="#exampleModalCenter">${data.ending_balance.amount_total_format}</div>`
            }else{
              var totalPrice =`<div class="total-price text-danger text-bold pointer" id="totalPrice" data-toggle="modal" data-target="#exampleModalCenter">${data.ending_balance.amount_total_format}</div>`
            }
          }else{
            if (data.ending_balance.amount_total>0){
              var totalPrice =`<div class="total-price" id="totalPrice">${data.ending_balance.amount_total_format}</div>`
            }else{
              var totalPrice =`<div class="total-price text-danger text-bold" id="totalPrice">${data.ending_balance.amount_total_format}</div>`
            }
          }

          var ending =
              ` <div class="col-sm-7">${data.ending_balance.item_name}</div>
                <div class="col-sm-5">
                  <div>
                    <div class="flex-between flex-layout">
                      <div>${data.ending_balance.item_sub_name}</div>
                      ${totalPrice}
                    </div>
                  </div>
                </div>
          `
          $("#endingPrice").html(ending)
        }else{
         alert(res.msg)
        }
        page_show_limit();
      },
      complete:function(){
        layer.close(loadIndex);
        showZero()
      }
    });

  }

  $('#billPeriod').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
    getBillDetails();
    window.history.pushState(null,null,  "{{ url('account/seller_bill/bill') }}")
  });

  $("#showZero").on('change',function () {
    showZero()
  });
  function showZero() {
    if ($("#showZero").is(":checked")){
      $(".subtotal-price .sub-price").each(function () {
        var price = $(this).attr('data-price');
        if (price==0){
          $(this).parent('.subtotal-price').prev('div').addClass('none')
        }else{
          $(".details-price").each(function () {
            var price0 = $(this).attr('data-price');
            if (price0==0){
              $(this).parent('div').addClass('none')
            }
          })
        }
      })
    }else{
      $(".subtotal-price").prev('div').removeClass('none');
      $(".details-price").parent('div').removeClass('none')
    }
  }
  var page_show_limit  = function(){
    //显示长度限制
    $(".limitVal").each(function() {
      var dataNum = $(this).data("num");
      if ($.trim($(this).html()).length > dataNum) {
        var str = $(this).html().trim().substring(0, dataNum) + '...';
        $(this).html(str);
        $(this).addClass('cursor-d')
      } else {
        $(this).attr("title", '')
      }
    });
  };

  //下载文件
  $("#downloadBill").on('click',function () {
    var id = $("#billPeriod").find("option:selected").selectpicker('val').get('0').value;
    var showZero = $("#showZero").is(':checked');
    if (showZero){
      showZero=1
    }else{
      showZero=0
    }
    window.location.href = "/index.php?route=account/seller_bill/bill/downloadPDF&bill_id="+id+"&showZero="+showZero;


   /* $.ajax({
      url: "index.php?route=account/seller_bill/bill/bill_total_pdf?bill_id="+id,
      type: 'get',
      success:function (res) {
        var data = res.data;
        if(res.code == 200){
          console.log(data)
        }else{
          alert(res.msg)
        }
      }
    })*/
  })

  $('#detailLi').on('click', function () {
    var exist = $("#billPeriod").find("option:selected").selectpicker('val').get('0');
    if(exist){
      var bill_id = $("#billPeriod").find("option:selected").selectpicker('val').get('0').value;
      var href = $(this).find('a').attr('data-href')+'&bill_id='+bill_id;
    }else{
      var href = $(this).find('a').attr('data-href')
    }
    window.location.href = href ;
  });
  //
  $('body').on('click','.sub-price > a',function () {
    var bill_id = $("#billPeriod").find("option:selected").selectpicker('val').get('0').value;
    var type_id = $(this).attr('data-type');
    var version = $($("#billPeriod").find("option:selected").selectpicker('val').get('0')).attr("data-program");
    var href ='index.php?route=account/seller_bill/bill_detail'+'&bill_id='+bill_id+'&bill_type='+type_id+'&version='+version;
    window.open(href) ;
  });

  $("#frozenAmount").on('click',function () {
    let bill_id = $("#billPeriod").find("option:selected").selectpicker('val').get('0').value;
    let type_id = 81;
    let version = 'V3';
    let frozen_status = 1;
    let href ='index.php?route=account/seller_bill/bill_detail'+'&bill_id='+bill_id+'&bill_type='+type_id+'&version='+version+'&frozen_status='+frozen_status;
    window.open(href) ;
  })
  </script>
  {{ footer }}
