{{ header }}
{{ css(['css/common/common.css']) }}
<link rel="stylesheet" href="/catalog/view/theme/yzcTheme/stylesheet/buyer_central.css?v={{ app_version }}">
<div id="page-guide">
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}
  <div class="container mb30">
    <div class="main">
      <div class="col-sm-3 no-padding">
        <div class="message-box">
          {% if notices.messages %}
          <div class="new-message dividing-line-bottom">
              <div class="left-title2 mb16">
                New Messages
                <a class="more-detail" href="{{ notices.notice_action_link }}" target="_blank">View More</a>
              </div>
              <ul>
                {% for index,notice in notices.messages %}
                  {% if index < 4 %}
                    <li>
                      <div class="over">
                        <a href="{{ url('account/message_center/message/detail', {msg_id:notice.msg_id}) }}" target="_blank">
                          {% if  notice.is_read %}
                            <i class="gcl gclyuandian1 f12 circle-gray"></i>
                          {% else %}
                            <i class="gcl gclyuandian1 f12 "></i>
                          {% endif %}
                          <span class="font14 hover"> {{ notice.subject }}</span>
                        </a>
                      </div>
                      <div class="font12-gray {% if index<4  %} mb12 {% endif %} pl16">{{ notice.post_time }}</div>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
          {% endif %}
          <div>
              <div class="left-title2 mb16">{{ test_unread_message }}</div>
              <div class="unread-message">
                <a href="{{ messages.platform_secretary.link }}" target="_blank" class="hover">
                  Giga Help Desk:<span class="font14 bold margin-l-4">{{ messages.platform_secretary.count }}</span>
                </a>
                <a href="{{ messages.customer_service_reply.link }}" target="_blank"  class="hover">
                  Feedback to Request:<span class="font14 bold margin-l-4">{{ messages.customer_service_reply.count }}</span>
                </a>
                <a href="{{ messages.from_sellers.link }}" target="_blank" class="hover">
                  {{ test_from_sellers }}:<span class="font14 bold margin-l-4">{{ messages.from_sellers.count }}</span>
                </a>
                <a href="{{ messages.notice_and_letter.link }}" target="_blank"  class="hover">
                  {{ test_notice_and_letter }}:<span class="font14 bold margin-l-4">{{ messages.notice_and_letter.count }}</span>
                </a>
              </div>
          </div>
        </div>
        <div class="guide mt16">
          <div class="guide-title">
            <i class="giga icon-mulu-01 font-18"></i>
            <span class="font-bold">{{ text_guide }}</span>
          </div>
          <hr>
          <ul>
            {% for link in menu_name_links %}
              <li><a href="{{ link.link }}">{{ link.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-sm-9 central_content">
        <div class="col-sm-8 p0 ">
          <div class="Pending back-box">
            <div class="left-title mb16 pd16">{{ text_pending }}</div>
            <div class="flex-between">
              <div class="num">
                <a href="{{ buyer_sale_order_and_bid_statistics.to_be_paid.link }}" target="_blank">
                  <div class="hover pending-count">{{ buyer_sale_order_and_bid_statistics.to_be_paid.value }}</div>
                  {% if buyer_info.is_collection_from_domicile %}
                    <div class="Pending-content color6 hover text-center">
                      {{ text_to_be_paid }}
                    </div>
                  {% else %}
                    <div class="Pending-content color6 hover text-center">
                      {{ text_pending_payment }}
                    </div>
                  {% endif %}
                </a>
              </div>
              <div class="pending-border"></div>
              <div class="num">
                <a href="{{ buyer_sale_order_and_bid_statistics.tracking.link }}" target="_blank">
                      <div class="hover pending-count">{{ buyer_sale_order_and_bid_statistics.tracking.value }}</div>
                      <div class="Pending-content color6 hover text-center">
                        {{ text_tracking }}
                      </div>
                  </a>
              </div>
              <div class="pending-border"></div>
              <div class="num">
                <a href="{{ buyer_sale_order_and_bid_statistics.pending_bid.link }}" target="_blank">
                    <div class="hover pending-count">{{ buyer_sale_order_and_bid_statistics.pending_bid.value }}</div>
                    <div class="Pending-content color6 hover text-center">
                      {{ text_complex_txs }}
                    </div>
                </a>
              </div>
              <div class="pending-border"></div>
              <div class="num">
                <a href="{{ buyer_sale_order_and_bid_statistics.not_reach_rma.link }}" target="_blank">
                    <div class="hover pending-count">{{ buyer_sale_order_and_bid_statistics.not_reach_rma.value }}</div>
                    <div class="Pending-content color6 hover text-center">
                      RMA
                    </div>
                </a>
              </div>
              {% if buyer_sale_order_and_bid_statistics.safegurad_claim %}
              <div class="pending-border"></div>
              <div class="num">
                <a href="{{ buyer_sale_order_and_bid_statistics.safegurad_claim.link }}" target="_blank">
                    <div class="hover pending-count">{{ buyer_sale_order_and_bid_statistics.safegurad_claim.value }}</div>
                    <div class="Pending-content color6 hover text-center">
                      {{ safeguard_claim }}
                    </div>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="calendar-reminder mt16">
            <div class="left-title">Event Calendar</div>
            <div class="left-date">
              <span class="font20" id="newTime1"></span>
              <span class="more-detail2" id="viewMore">View More</span>
            </div>
            {#  日历  #}
            <div class="new-calendar">
              <table id="newCalendar" width="100%">
                <thead></thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
          <div class="salesRanking back-box mt16">
            <div class="tab-title" style="overflow: hidden">
              <div style="float:left;" class="left-title mb8">{{ text_sales_ranking }}</div>
              <ul class="nav nav-tabs f12" role="tablist">
                <li role="presentation" class="active">
                  <a class="text-center" href="#month1"
                     aria-controls="month1" role="tab"
                     data-toggle="tab"
                     target="_blank">
                    {{ text_nearly_one_month }}
                  </a>
                </li>
                <li role="presentation">
                  <a class="text-center" href="#month3" aria-controls="month3"
                     role="tab"
                     data-toggle="tab"
                     target="_blank">
                    {{ text_nearly_three_months }}
                  </a>
                </li>
                <li role="presentation">
                  <a class="text-center" href="#year" aria-controls="year"
                     role="tab" data-toggle="tab"
                     target="_blank">
                    {{ text_nearly_one_year }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content" style="clear: both">
              <div role="tabpanel" class="tab-pane active" id="month1">
                <table class="table font14 tab-head" style="margin-bottom: 0;">
                  <thead>
                  <tr>
                    <th width="10%" class="bold text-center">{{ text_rank }}</th>
                    <th width="24%" class="bold">{{ text_item_code }}</th>
                    <th width="41%" class="bold">{{ text_product_name }}</th>
                    <th class="bold">
                      <span data-toggle="tooltip"
                            data-original-title="Including the quantity of RMA"
                            class="toggle-mark">
                        <i class="giga icon-V10-wenhaotishi"></i>
                      </span>
                      {{ text_sales_volume }}
                    </th>
                  </tr>
                  </thead>
                </table>
                <div class="tab-body" style="overflow: auto">
                  <table class="table f12">
                    <tbody>
                    {% if sale_rankings.nearly_one_month_ranks %}
                      {% for index,rank in sale_rankings.nearly_one_month_ranks %}
                        <tr>
                          <td width="10%"  class="text-center">
                            <span class="{% if index<3 %}rank-orange {% else %} rank-gray {% endif %}">{{ rank.num }}</span>
                          </td>
                          <td width="24%" class="font14 font-400">{{ rank.item_code }}</td>
                          <td width="41%" class="pr-0">
                            <a class="font14 font-400 hover max-line2" href="{{ rank.link }}"
                               title="{{ rank.product_name }}"
                               target="_blank">{{ rank.product_name }}
                            </a>
                          </td>
                          <td class="font14 font-400 text-center pl20">{{ rank.count }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td class="text-center">
                          <div class="no-records-box">
                            <img src="/image/icons/calendar_status_kong.png" alt="">
                            <p class="text-center font14 font-400 mt16">No Records</p>
                          </div>
                        </td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="month3">
                <table class="table font14 tab-head" style="margin-bottom: 0;">
                  <thead>
                  <tr>
                    <th width="10%" class="bold text-center">{{ text_rank }}</th>
                    <th width="24%" class="bold">{{ text_item_code }}</th>
                    <th width="41%" class="bold">{{ text_product_name }}</th>
                    <th class="bold">
                      <span data-toggle="tooltip"
                            data-original-title="Including the quantity of RMA"
                            class="toggle-mark">
                        <i class="giga icon-V10-wenhaotishi"></i>
                      </span>
                      {{ text_sales_volume }}
                    </th>
                  </tr>
                  </thead>
                </table>
                <div class="tab-body" style="overflow: auto">
                  <table class="table f12">
                    <tbody>
                    {% if sale_rankings.nearly_three_months_ranks %}
                      {% for index,rank in sale_rankings.nearly_three_months_ranks %}
                        <tr>
                          <td width="10%"  class="text-center">
                            <span class="{% if index<3 %} rank-orange {% else %} rank-gray {% endif %}">{{ rank.num }}</span>
                          </td>
                          <td width="24%" class="font14 font-400">{{ rank.item_code }}</td>
                          <td width="41%" class="pr-0">
                            <a class="font14 font-400 hover max-line2" href="{{ rank.link }}"
                               title="{{ rank.product_name }}"
                               target="_blank">{{ rank.product_name }}
                            </a>
                          </td>
                          <td class="font14 font-400 text-center pl20">{{ rank.count }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td class="text-center" colspan="5">
                          <div class="no-records-box">
                            <img src="/image/icons/calendar_status_kong.png" alt="">
                            <p class="text-center font14 font-400 mt16">No Records</p>
                          </div>
                        </td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="year">
                <table class="table font14 tab-head" style="margin-bottom: 0;">
                  <thead>
                  <tr>
                    <th width="10%" class="bold text-center">{{ text_rank }}</th>
                    <th width="24%" class="bold">{{ text_item_code }}</th>
                    <th width="41%" class="bold">{{ text_product_name }}</th>
                    <th class="bold">
                      <span data-toggle="tooltip"
                            data-original-title="Including the quantity of RMA"
                            class="toggle-mark">
                        <i class="giga icon-V10-wenhaotishi"></i>
                      </span>
                      {{ text_sales_volume }}
                    </th>
                  </tr>
                  </thead>
                </table>
                <div class="tab-body" style="overflow: auto">
                  <table class="table f12" style="margin-bottom: 0">
                    <tbody>
                    {% if sale_rankings.nearly_one_year_ranks %}
                      {% for index,rank in sale_rankings.nearly_one_year_ranks %}
                        <tr>
                          <td width="10%"  class="text-center">
                            <span class="{% if index<3 %} rank-orange {% else %} rank-gray {% endif %}">{{ rank.num }}</span>
                          </td>
                          <td width="24%" class="font14 font-400">{{ rank.item_code }}</td>
                          <td width="41%" class="pr-0">
                            <a class="font14 font-400 hover max-line2" href="{{ rank.link }}"
                               title=" {{ rank.product_name }}"
                               target="_blank">{{ rank.product_name }}
                            </a>
                          </td>
                          <td class="font14 font-400 text-center pl20">{{ rank.count }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td class="text-center" colspan="5">
                          <div class="no-records-box">
                            <img src="/image/icons/calendar_status_kong.png" alt="">
                            <p class="text-center font14 font-400 mt16">No Records</p>
                          </div>

                        </td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 f12 right pl16" style="padding-right: 0;">
          {#  个人信息 #}
          <div class="personal-information back-box">
            <div class="flex">
              <div class="col-sm-4 p0 person-img">
                <i class="giga icon-buyer_Avatar_buyer_default-01"></i>
              </div>
              <div class="col-sm-8 p0">
                <div class="font16 over mb6 line-height17" title="{{ buyer_info.name }}">{{ buyer_info.name }}</div>
                <div class="font14 font-400 color6 over mb6" title="{{ buyer_info.number }}">ID: {{ buyer_info.number }}</div>
                <div class="font14  font-400 color6 over line-height16" title="{{ buyer_info.type }}">{{ buyer_info.type }}</div>
              </div>
            </div>
            <div class="line-height16">
              <span class="font14 font-400">Account Balance</span>
              <a href="{{ buyer_info.balance_link }}" class="hover font14 bold mlr4" target="_blank">{{ buyer_info.account_balance }}</a>
              <a href="{{ buyer_info.recharge_link }}" target="_blank" data-toggle="tooltip" title="Add Account Funds">
                <i class="giga icon-chongzhi1"></i>
              </a>
            </div>
          </div>
          {#  评分  #}
          <div class="score-panel back-box mt16">
            <div class="mb15">
              <span class="left-title2">GIGA Index</span>
              <span class="score my-score ml8">{{ comprehensive_total }}</span>
              {% if comprehensive_total!='--' %}
                <a class="more-detail" id="viewScoreDetail">View Details</a>
              {% endif %}
            </div>
            <div class="mb12 height16">
              <span class="font14 font-400 line-height16">Account Activity Level</span>
              {% if comprehensive_total=='--' %}
                <span class="color6">--</span>
              {% else %}
                {% if comprehensiveInfo.5.compare==2 %}
                  <span class="score-green margin-l-4">{{ comprehensiveInfo.5.score }}</span>
                  <i class="giga icon-xiangshangjiantou-01 score-green"></i>
                {% elseif comprehensiveInfo.5.compare==1 %}
                  <span class="score-orange margin-l-4">{{ comprehensiveInfo.5.score }}</span>
                  <img class="align-inherit" src="/image/icons/weibian.png" alt="">
                {% elseif comprehensiveInfo.5.compare==0 %}
                  <span class="score-red margin-l-4">{{ comprehensiveInfo.5.score }}</span>
                  <i class="giga icon-xiangxiajiantou-01 score-red"></i>
                {% endif %}
              {% endif %}
            </div>
            <div class="mb12 height16">
              <span class="font14 font-400 line-height16">Sales Volume</span>
              {% if comprehensive_total=='--' %}
                <span class="color6">--</span>
              {% else %}
                {% if comprehensiveInfo.6.compare==2 %}
                  <span class="score-green margin-l-4">{{ comprehensiveInfo.6.score }}</span>
                  <i class="giga icon-xiangshangjiantou-01 score-green"></i>
                {% elseif comprehensiveInfo.6.compare==1 %}
                  <span class="score-orange margin-l-4">{{ comprehensiveInfo.6.score }}</span>
                  <img class="align-inherit" src="/image/icons/weibian.png" alt="">
                {% elseif comprehensiveInfo.6.compare==0 %}
                  <span class="score-red margin-l-4">{{ comprehensiveInfo.6.score }}</span>
                  <i class="giga icon-xiangxiajiantou-01 score-red"></i>
                {% endif %}
              {% endif %}
            </div>
            <div class="mb12 height16">
              <span class="font14 font-400 line-height16">Buyer Credibility</span>
              {% if comprehensive_total=='--' %}
                <span class="color6">--</span>
              {% else %}
                {% if comprehensiveInfo.7.compare==2 %}
                  <span class="score-green margin-l-4">{{ comprehensiveInfo.7.score }}</span>
                  <i class="giga icon-xiangshangjiantou-01 score-green"></i>
                {% elseif comprehensiveInfo.7.compare==1 %}
                  <span class="score-orange margin-l-4">{{ comprehensiveInfo.7.score }}</span>
                  <img class="align-inherit" src="/image/icons/weibian.png" alt="">
                {% elseif comprehensiveInfo.7.compare==0 %}
                  <span class="score-red margin-l-4">{{ comprehensiveInfo.7.score }}</span>
                  <i class="giga icon-xiangxiajiantou-01 score-red"></i>
                {% endif %}
              {% endif %}
            </div>

            {% if leasing_manager.username %}
            <div class="dividing-line">
              <div class="left-title2 mb14">BD Manager</div>
              <div class="flex2">
                <div class="col-md-8 p0 bd-manager">
                  <div class="font14 font-400 manager-person-info over" title="{{ leasing_manager.username }}">{{ leasing_manager.username }}</div>
                  <div class="font14 font-400 line-height16 mb8" title="{{ leasing_manager.mobile_phone }}">{{ leasing_manager.mobile_phone }}</div>
                  <div class="font14 font-400 manager-email max-line2" title="{{ leasing_manager.email }}">{{ leasing_manager.email }}</div>
                </div>
                <div class="col-md-4 p0 text-right">
                  <span class="manager">
                    <img src="{{ leasing_manager.leasing_manage_pic }}" width="100%">
                  </span>
                </div>
              </div>

            </div>
            {% endif %}
          </div>
          <div class="unread mt16">
            {% if promotion_activities_count > 0 %}
              <div class="left-title2 mb16">
                {{ text_promotion_activity }}
                {% if promotion_activities_count > 2 %}
                  <a href="{{ view_all_promotion_activity_link }}" class="more-detail" target="_blank">View More</a>
                {% endif %}
              </div>
              <div class="dividing-line-bottom">
                {% for index,activity in promotion_activities %}
                  <div class="font14 font-400 hover over line-height16 mb6"><a href="{{ activity.link }}" target="_blank" class="hover">{{ activity.name }}</a></div>
                  <div class="font12-gray mb12">{{ activity.apply_start_time }} - {{ activity.apply_end_time }}</div>
                {% endfor %}
              </div>
            {% endif %}
            {# 新功能介绍 #}
            <div>
              <div class="left-title2 mb16">Introduction to New Functions</div>
              <div class="new-funs">
                <a href="{{ url('information/information', {'information_id': 208}) }}" target="_blank" class="hover">
                  GigaCloud Protection Service Guide
                </a>
                <a href="{{ url('information/information', {'information_id': 189}) }}" target="_blank" class="hover">
                  Shipment Tracking Visualization Guide
                </a>
                <a href="{{ url('information/information', {'information_id': 188}) }}" target="_blank" class="hover">
                  eBay Order Upload Operation Manual
                </a>
                <a href="{{ url('information/information', {'information_id': 207}) }}" target="_blank" class="hover">
                  Buyer Pick-up Business Guide
                </a>
                <a href="{{ url('information/information', {'information_id': 64}) }}" target="_blank" class="hover">
                  The Change of Payoneer and Pingpong Transaction Fees for Marketplace Buyers
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- 模态框（Modal） -->
  <div class="modalMonthEvent modal fade oris-modal my-modal" id="myModalMonthEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="giga icon-V10_danchuangguanbi"></i>
          </button>
          <h4 class="modal-title" id="myModalLabel">Recent events</h4>
        </div>
        <div class="modal-body">
          <div class="flex2">
            {#    左边日期面板    #}
            <div class="col-md-7 calendar-panel">
              <div class="flex">
                <div class="col-md-6 p0 font20 font-400 height22" id="newTime2"></div>
                <div class="col-md-6 p0 text-right">
                  <i class="giga icon-arrow-left-01 calendar-btn calendar-disabled" id="preMonth" disabled></i>
                  <i class="giga icon-V10_Sellerhoutai_youjiantou calendar-btn" id="nextMonth"></i>
                </div>
              </div>

              <table id="newCalendar2" width="100%">
                <thead>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
            {#    待办事件详情面板    #}
            <div class="col-md-5 p0 calendar-detail">
              <div class="font20 font-400 height22" id="exactDate"></div>
              {#  有数据    #}
              <div id="listEvent"></div>
              {#  无数据    #}
              <div id="listEvent-none">
                <div class="text-center mb16"><img src="/image/icons/calendar_status_kong.png" alt=""></div>
                <div class="text-center font14 font-400">No to-do events</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {#  评分   #}
  <div id="scoreDetail" class="score-detail-dailog" style="display: none">
    <div class="score-detail-colse text-right"> <i class="giga icon-V10_danchuangguanbi" id="closeScoreDailog"></i></div>
    <div class="score-detail-title text-center">GIGA Index</div>
    <div class="score-detail-sub-title text-center">
      GIGA  Index: <span class="score-detail-total">{{ comprehensive_total }}</span>
      <span class="score-detail-date">{{ __('更新时间', {}, 'catalog/view/customerpartner/seller_center/index') }}: {{ comprehensive_end_date }}</span>
    </div>
    <div class="score-detail-tabs">
      <div>
        <p class="score-detail-total-title">Account Activity Level</p>
        <p>
          <span class="score-detail-item">{{ comprehensiveInfo.5.score }}</span>
          <span class="score-detail-rule">(Full Score {{ comprehensiveInfo.5.full_score }})</span>
        </p>
        <p>
          {% if comprehensiveInfo.5.compare==2 %}
            <i class="giga icon-xiangshangjiantou-01 score-green"></i>
            <span class="score-item-flag">Above Average</span>
          {% elseif comprehensiveInfo.5.compare==1 %}
            <img class="align-inherit" src="/image/icons/weibian.png" alt="">
            <span class="score-item-flag">Equal to Average</span>
          {% elseif comprehensiveInfo.5.compare==0 %}
            <i class="giga icon-xiangxiajiantou-01 score-red"></i>
            <span class="score-item-flag">Below Average</span>
          {% endif %}
        </p>
      </div>
      {#    加号  #}
      <div>
        <p><img class="score-item-tab-score-img" src="image/add.jpg"></p>
      </div>
      <div>
        <p class="score-detail-total-title">Sales Volume</p>
        <p>
          <span class="score-detail-item">{{ comprehensiveInfo.6.score }}</span>
          <span class="score-detail-rule">(Full Score {{ comprehensiveInfo.6.full_score }})</span>
        </p>
        <p>
          {% if comprehensiveInfo.6.compare==2 %}
            <i class="giga icon-xiangshangjiantou-01 score-green"></i>
            <span class="score-item-flag">Above Average</span>
          {% elseif comprehensiveInfo.6.compare==1 %}
            <img class="align-inherit" src="/image/icons/weibian.png" alt="">
            <span class="score-item-flag">Equal to Average</span>
          {% elseif comprehensiveInfo.6.compare==0 %}
            <i class="giga icon-xiangxiajiantou-01 score-red"></i>
            <span class="score-item-flag">Below Average</span>
          {% endif %}
        </p>
      </div>
      {#    加号  #}
      <div>
        <p><img class="score-item-tab-score-img" src="image/add.jpg"></p>
      </div>
      <div>
        <p class="score-detail-total-title">Buyer Credibility</p>
        <p>
          <span class="score-detail-item">{{ comprehensiveInfo.7.score }}</span>
          <span class="score-detail-rule">(Full Score {{ comprehensiveInfo.7.full_score }})</span>
        </p>
        <p>
          {% if comprehensiveInfo.7.compare==2 %}
            <i class="giga icon-xiangshangjiantou-01 score-green"></i>
            <span class="score-item-flag">Above Average</span>
          {% elseif comprehensiveInfo.7.compare==1 %}
            <img class="align-inherit" src="/image/icons/weibian.png" alt="">
            <span class="score-item-flag">Equal to Average</span>
          {% elseif comprehensiveInfo.7.compare==0 %}
            <i class="giga icon-xiangxiajiantou-01 score-red"></i>
            <span class="score-item-flag">Below Average</span>
          {% endif %}
        </p>
      </div>
      {#   等号 #}
      <div>
        <p><img class="score-item-tab-score-img" src="image/equ.jpg"></p>
      </div>
      <div>
        <p><span class="score-equ-total">{{ comprehensive_total }}</span></p>
      </div>
    </div>
    <div class="how-to text-right">
      <a href="{{ help_center_url }}" target="_blank" class="link hot-to-txt">
        {{ __('如何提高你的GIGA Index&nbsp;&nbsp;&nbsp;&nbsp;查看详情', {}, 'catalog/view/customerpartner/seller_center/index') }}
      </a>
      <i class="giga icon-V10_Sellerhoutai_youjiantou go-how-to"></i>
    </div>
  </div>
</div>
<script>
  var FONT_COUNTRY_CURRENCY = {"DEU":"giga icon-ouyuanzhifu-01","JPN":"giga icon-riyuanzhifu-01","GBR":"giga icon-yingbangzhifu-01","USA":"giga icon-meiyuanzhifu-01"};
  var FONT_CONFIG = {
      "ToBePaid":{"fontColor":"#E00019","fontClass":"","fontBgColor":"#FAE0E0","bgColor":"#FFF5F5"},
      "Margin":{"fontColor":"#0CBA1A","fontClass":"giga icon-Margin-01","fontBgColor":"#0CBA1A1A","bgColor":"#EFFCED"},
      "Rebates":{"fontColor":"#AD3EFF","fontClass":"giga icon-rebates-01","fontBgColor":"#ad3eff1a","bgColor":"#F5F5FF"},
      "Future":{"fontColor":"#2861CE","fontClass":"giga icon-future-01","fontBgColor":"#2861CE1A","bgColor":"#F0F6FF"},
      "Spot":{"fontColor":"#FF8900","fontClass":"giga icon-jietiticheng","fontBgColor":"#FF89001A","bgColor":"#FFF7ED"}
  };
  var country = "{{ country|default('USA') }}";
  var objCollectionWeek = {{ objCollectionWeek|default('{}') }};
  var listCollectionMonth = {{ listCollectionMonth|default('[]') }};
  var currentMonth = objCollectionWeek.month;
  var currentYear = objCollectionWeek.year;
  var currentYmd = '';
  var clickType = 1; // 类型
  var clickDay = ''; // 天
  var clickMonth = objCollectionWeek.month; // 月
  var lastExactDate = ''; // 当前月的day
  var ymd = ''; // 年-月-日 的key值
  var numPending = {{ buyer_sale_order_and_bid_statistics|length|default(0) }};

  var currentMonthObject = null;
  var nextMonthObject = null;

  // 初始化数据
  $(function () {
      FONT_CONFIG.ToBePaid.fontClass = FONT_COUNTRY_CURRENCY[country];
      if(numPending<5){
          $(".num").css("width","calc(25% - 1px)")
      }else{
          $(".num").css("width","calc(20% - 1px)")
      }
    $("#newTime1").text(objCollectionWeek.monthEnglish+' '+objCollectionWeek.year);
    loadMonth(0,'',currentMonth,'out');
  });

  // viewMore按钮
  $("#viewMore").on('click',function () {
      LoadMonthAfterGetEvent();
    $("#myModalMonthEvent").modal('show');
    loadMonth(clickType,clickDay,clickMonth,'inner');
    // 加载右侧列表
    $("#exactDate").html(lastExactDate);
    disabledBtn(clickType);
    // 渲染事件
    let list = getListEventByKey(ymd);
    loadEventList(list);
  });

  // 日历点击事件
  $("body").on('click','.badge-box-td',function () {
    let day = $(this).find('span').attr('data-day');
    let month = $(this).find('span').attr('data-month');
    let type = $(this).find('span').attr('data-type');
    let typeStr = $(this).find('span').attr('data-type-str');
    let exactDate = $(this).find('span').attr('data-date');
    let ymd1 = $(this).find('span').attr('data-ymd');

    // 判断type是否是14天的日期
    if(type==0){
        LoadMonthAfterGetEvent();
        ymd = ymd1;
        if(ymd!=currentYmd){
            $("body #newCalendar .badge-box").removeClass('badge-active');
            $(this).find('span').addClass('badge-active');
        }else{
            $("body #newCalendar .badge-box").removeClass('badge-active');
        }
      $("#myModalMonthEvent").modal('show');
      // 判断当前点击的日期月份，不是当前月份是，type为2代表下一月
      if(currentMonth!=month){
        type = 2;
      }else{
        type = 1;
      }
      clickType = type;
      loadMonth(type,day,month,'inner');
      disabledBtn(type);
    }else{
        if(ymd1!=currentYmd){
            $("body #newCalendar2 .badge-box").removeClass('badge-active');
            $(this).find('span').addClass('badge-active');
        }else{
            $("body #newCalendar2 .badge-box").removeClass('badge-active');
        }

    }
    if(typeStr=='out'){
      clickMonth = month;
      clickDay = day;
      lastExactDate = exactDate;
    }
    // 加载右侧列表
    $("#exactDate").html(exactDate);

    // 渲染事件
    let list = getListEventByKey(ymd1);
    loadEventList(list);
  });

  // 被禁用的日期点击事件(仅限下一月)
  $("body").on('click','.badge-alive-td',function () {
    let day = $(this).find('span').attr('data-day');
    let month = $(this).find('span').attr('data-month');
    let type = $(this).find('span').attr('data-type');
    let typeStr = $(this).find('span').attr('data-type-str');
    let exactDate = $(this).find('span').attr('data-date');
    let ymd1 = $(this).find('span').attr('data-ymd');
    // 判断type是否是14天的日期
    $("body #newCalendar2 .badge-box").removeClass('badge-active');
    $(this).find('span').addClass('badge-active');
    loadMonth(type,day,month,'inner');

    if(typeStr=='out'){
      clickType = type;
      clickMonth = month;
      clickDay = day;
      lastExactDate = exactDate;
    }

    disabledBtn(type);
    // 加载右侧列表
    $("#exactDate").html(exactDate);

    // 渲染事件
    let list = getListEventByKey(ymd1);
    loadEventList(list);
  });

  // 禁用选择
  function disabledBtn(type){
    if(type==1){
      $("#preMonth").css('pointer-events','none');
      $("#preMonth").addClass('calendar-disabled');
      $("#nextMonth").css('pointer-events','all');
      $("#nextMonth").removeClass('calendar-disabled');
    }else{
      $("#nextMonth").css('pointer-events','none');
      $("#nextMonth").addClass('calendar-disabled');
      $("#preMonth").css('pointer-events','all');
      $("#preMonth").removeClass('calendar-disabled');
    }
  }

  // 日历月份切换——上一月,默认展示当天的日期
  $("#preMonth").on('click',function () {
    $(this).css('pointer-events','none');
    $("#nextMonth").css('pointer-events','all');
    $(this).addClass('calendar-disabled');
    $("#nextMonth").removeClass('calendar-disabled');

    let month = listCollectionMonth[0].month;
    loadMonth(1,currentMonthObject.day,month,'inner');
    $("#exactDate").html(currentMonthObject.dayEnglish);
    loadEventList(currentMonthObject.listEvent);
  });
  // 日历月份切换——下一月，默认展示当月的1号
  $("#nextMonth").on('click',function () {
    $(this).css('pointer-events','none');
    $(this).addClass('calendar-disabled');
    $("#preMonth").css('pointer-events','all');
    $("#preMonth").removeClass('calendar-disabled');
    let month = listCollectionMonth[1].month;
    loadMonth(2,1,month,'inner');
    $("#exactDate").html(nextMonthObject.dayEnglish);
    loadEventList(nextMonthObject.listEvent);
  });


  // 加载某月的日历 type 0表示14天类的数据 1上一月 2下一月 day几号
  function loadMonth(type,day,month,typeStr) {
    let arr = [];
    if(type==0){
      arr = objCollectionWeek.listDay;
    }else{
      arr = listCollectionMonth[type-1].listDay;
    }
    /*****加载表头*****/
    var titleOfWeek = objCollectionWeek.titleOfWeek;
    let headHtml = '';
    for(var i=0;i<titleOfWeek.length;i++){
      headHtml += `<th class="text-center font-400">${titleOfWeek[i]}</th>`;
    }
    if(type==0){
      $("#newCalendar thead").html(headHtml);
    }else{
      $("#newCalendar2 thead").html(headHtml);
    }
    /*****加载tbody*****/
    let html = '';
    let jWeek = 0;
    for (let j in arr){
      let num = parseInt(arr[j].month)-parseInt(currentMonth);
      if(jWeek%7==0){
        html+='<tr>';
      }
      if(arr[j].timeline==-1||currentYear!=arr[j].year&&arr[j].month!=currentMonth&&num==-10){
        html +=`<td class="text-center"><span class="badge-disabled no-cursor" disabled>${arr[j].day}</span>`;
      }else if(arr[j].timeline==1&&arr[j].month!=month){
        if(num>=0&&num<=1&&type!=0||num<0&&type!=0){
          let type2 = num==0?1:2;
          html +=`<td class="text-center"><div class="badge-alive-td"><span class="badge-disabled badge-alive" data-month="${arr[j].month}" data-day="${arr[j].day}" data-type="${type2}" data-date="${arr[j].dayEnglish}" data-ymd="${arr[j].ymd}" data-type-str="${typeStr}">${arr[j].day}</span>`;
        }else if(num>=0&&num<=1&&type==0||num<0&&type==0){
          html +=`<td class="text-center"><div class="badge-box-td"><span class="badge-box" data-month="${arr[j].month}" data-day="${arr[j].day}" data-type="0" data-date="${arr[j].dayEnglish}" data-ymd="${arr[j].ymd}" data-type-str="${typeStr}">${arr[j].day}</span>`;
        }else{
          html +=`<td class="text-center"><span class="badge-disabled no-cursor" disabled>${arr[j].day}</span>`;
        }

      }
      // 判断type为0的当天日期，type不为0的点击事件日期-选中效果
      else if(type==0&&arr[j].timeline==0||arr[j].ymd==currentYmd){
        if(arr[j].timeline==0&&typeStr=='out'){
          clickDay = arr[j].day;
          clickMonth = arr[j].month;
          lastExactDate = arr[j].dayEnglish;
          currentMonthObject = arr[j];
          ymd = arr[j].ymd;
            currentYmd = ymd;
        }

        html +=`<td class="text-center"><div class="badge-box-td"><span class="badge-box badge-c-active" data-month="${arr[j].month}" data-day="${arr[j].day}" data-type="${type}" data-date="${arr[j].dayEnglish}" data-date="${arr[j].dayEnglish}" data-ymd="${arr[j].ymd}" data-type-str="${typeStr}">${arr[j].day}</span>`;
      }else if(type!=0&&arr[j].timeline==0){
        html +=`<td class="text-center"><div class="badge-alive-td"><span class="badge-box badge-alive" data-month="${arr[j].month}" data-day="${arr[j].day}" data-type="1" data-date="${arr[j].dayEnglish}" data-ymd="${arr[j].ymd}" data-type-str="${typeStr}">${arr[j].day}</span>`;
      }else if(type!=0&&day==arr[j].day){
          html +=`<td class="text-center"><div class="badge-box-td"><span class="badge-box badge-active"  data-month="${arr[j].month}" data-day="${arr[j].day}" data-type="${type}" data-date="${arr[j].dayEnglish}" data-ymd="${arr[j].ymd}" data-type-str="${typeStr}">${arr[j].day}</span>`;
      }
      else{
        html +=`<td class="text-center"><div class="badge-box-td"><span class="badge-box"  data-month="${arr[j].month}" data-day="${arr[j].day}" data-type="${type}" data-date="${arr[j].dayEnglish}" data-ymd="${arr[j].ymd}" data-type-str="${typeStr}">${arr[j].day}</span>`;
      }

      // 活动事件拼接
      let listEvent = arr[j].listEvent;
      if(listEvent.length>0){
        html+='<div class="event-box">';
        for(var k=0;k<listEvent.length;k++){
            let mark = listEvent[k].mark;
          if(k<2){
            if(type==1&&num==1||type==2&&num==0){
              html+=`<a class="badge-tag" style="color:${FONT_CONFIG[mark].fontColor};background: ${FONT_CONFIG[mark].fontColor};opacity: 0.2"></a>`
            }else{
              html+=`<a class="badge-tag" style="color:${FONT_CONFIG[mark].fontColor};background: ${FONT_CONFIG[mark].fontColor}"></a>`
            }

          }
        }
        html+='</div></div></td>';
      }else{
        html+='<div class="event-box"></div></td>';
      }

      // 获取下一月的号的值
      if(type!=0&&arr[j].timeline==1&&arr[j].day==1&&(num==1||num<0)){
        nextMonthObject = arr[j];
      }
      jWeek++;
    }
    if(jWeek%7==0){
      html+='</tr>';
    }
    /*****渲染tbody*****/
    if(type==0){
      $("#newCalendar tbody").html(html);
    }else{
      let currentYear = listCollectionMonth[type-1].monthEnglish+' '+listCollectionMonth[type-1].year;
      $("#newTime2").text(currentYear);
      $("#newCalendar2 tbody").html(html);
    }
  };

  //加载日历后，查询日历的待处理事件
  function LoadMonthAfterGetEvent(){
    $.ajax({
        async:false,
      url: "{{ url('account/buyer_central/getCalendarRemainder') }}",
      type: 'GET',
      dataType: 'json',
      //data: data,
      beforeSend: function () {
      },
      success: function (json) {
        listCollectionMonth = json.data.listCollectionMonth;
      },
      error: function (xhr, ajaxOptions, thrownError,) {
      },
      complete :function(XMLHttpRequest, textStatus){
      }
    });
  }

  // 展示右侧的列表
  function loadEventList(list) {
    if(list.length>0){
      let html = '';
      for(var i=0;i<list.length;i++){
        let startIndex = list[i].description.indexOf('%s');
        let strLeft = list[i].description.substr(0,startIndex);
        let strRight = list[i].description.substr(startIndex+2);
        let mark = list[i].mark;
        html += `<div class="event-panel" style="background: ${FONT_CONFIG[mark].bgColor}"><div class="flex2">`;
        html += `<div class="event-img" style="background: ${FONT_CONFIG[mark].fontBgColor}"><i class="${FONT_CONFIG[mark].fontClass}" style="color:${FONT_CONFIG[mark].fontColor}"></i></div>`;
        html += `<div class="event-list">`;
        html += `<div class="event-list-top">`;
        html += `<span class="float-left font14 bold">${list[i].title}</span>`;
        html += `<span class="float-right f12 font-400 color6">${list[i].time}</span>`;
        html += `</div>`;
        html += `<div class="event-list-bottom both font14 font-400">`;
        html += `${strLeft}<a class="event-link" href="${list[i].url}" target="_blank">${list[i].orderNo}</a>${strRight}`;
        html += `</div></div></div></div>`;
      }
      $("#listEvent").html(html);
      $("#listEvent").show();
      $("#listEvent-none").hide();
    }else{
      $("#listEvent").hide();
      $("#listEvent-none").show();
    }

  };

  // 根据key找到活动事件
  function getListEventByKey(key) {
    var list = [];
    for (var i = 0; i < listCollectionMonth.length; i++) {
      let itemMonth = listCollectionMonth[i];
      if (itemMonth.listDay.hasOwnProperty(key)) {
        return itemMonth.listDay[key].listEvent;
      }
    }
    return list;
  };

  // 打开评分
  $('body').on("click","#viewScoreDetail",function () {
    scoreDailog=layer.open({
      type:1,
      area:['840px','400px'],
      title: '',
      closeBtn: 0,
      content: $('#scoreDetail'),
    })
  });

  // 关闭评分弹窗
  $('body').on("click","#closeScoreDailog",function () {
    layer.close(scoreDailog)
  });

  $(document).ready(function () {
    let information = $(".information").outerHeight();
    let Pending = $(".Pending").outerHeight();
    let title = $(".salesRanking .tab-title").outerHeight();
    let head = $(".salesRanking .tab-head").outerHeight();
    let unread = $(".unread").outerHeight();
    let promotion = $(".promotion").outerHeight();
    if (promotion == null || promotion == undefined || promotion == " ") {
      let salesRanking = parseInt(unread) - parseInt(Pending)- parseInt(32);
      $(".salesRanking ").height(salesRanking);
      let hi = parseInt(information) + parseInt(unread) + parseInt(10);
      $(".guide").height(hi)
      let body =  parseInt(salesRanking) - parseInt(title)- parseInt(head )- parseInt(10);
      $(".salesRanking  .tab-body").height(body);
    } else {
      let salesRanking = parseInt(promotion) + parseInt(unread) - parseInt(Pending)- parseInt(22);
      $(".salesRanking ").height(salesRanking);
      let body =  parseInt(salesRanking) - parseInt(title)- parseInt(head )- parseInt(10);
      $(".salesRanking  .tab-body").height(body);
      let hi = parseInt(information) +  parseInt(promotion) + parseInt(unread) + parseInt(20);
      $(".guide").height(hi)
    }

  })
</script>
{{ footer }}
