<div class="modal oris-modal fade" tabindex="-1" role="dialog" id="cancelConfirmDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="giga icon-V10_danchuangguanbi"></i>
        </button>
        <h3 class="modal-title" id="cancelConfirmLabel">
          Notice
        </h3>
      </div>
      <div class="modal-body" style="font-size: 14px;">
        <div id="noChoiceCancelConfirmBody">Do you confirm to cancel this order?</div>
        <div id="cancelConfirmBody">
          <form id="rma_radio_form">
            <div class="reason-container">
              <div class="required-before text-bold p6-b">{{ text_cancellation_reason }}</div>
              <div class="oris-comments">
                <textarea rows="4" class="oris-input msg-form" id="cancellation_reason" style="height:120px;"></textarea>
                <span class="letter-count"><span id="reason-len" class="link-color">0</span>/200</span>
              </div>
            </div>
            <span id="reason_alert" style="color:red;display: none">{{ text_cancellation_reason_warning }}</span>
          </form>
        </div>
      </div>
      <div class="modal-footer text-right">
        <button type="button" class="oris-button oris-button-default" data-dismiss="modal">{{ dialog_btn_no }}</button>
        <button type="button" class="oris-button" id="cancel_Confirm_btn" onclick="">{{ dialog_btn_yes }}</button>
      </div>
    </div>
  </div>
</div>

{% apply style %}
<style>
  #cancelConfirmDialog .picklabel {
    margin-left: 4px;
  }

  #cancelConfirmDialog .reason-container {
    margin-top: 24px;
  }

  #cancelConfirmDialog input[type=radio] {
    display: block !important;
  }

  #cancelConfirmDialog .modal-header {
    border-bottom: 1px solid #e5e5e5;
  }

  #cancelConfirmDialog .modal-body {
    min-height: 148px;
  }
</style>
{% endapply %}

<script>
  //计算word 数量
  $("#cancellation_reason").bind('input propertychange change', function () {
    var val = $("#cancellation_reason").val();
    var data = toolString.calcStringLength(val, 200);
    $("#cancellation_reason").val(data.fullStr);
    $("#reason-len").text(data.len);
  });

  function cancelConfirmDialog_corderInfo(id, order_id, order_status, order_date, pick_up_status, has_vp) {
    var myModal = $("#cancelConfirmDialog");
    myModal.modal();
    var needChoose = false;
    if ((order_status == 2 && pick_up_status != 20) || order_status == 127) {
      var needChoose = true;
    }
    if (!needChoose) {
      $("#cancelConfirmBody").css("display", "none");
      $("#noChoiceCancelConfirmBody").css("display", "");
      $("#cancelConfirmDialog .modal-dialog").width(480);
    } else {
      $("#cancelConfirmBody").css("display", "");
      $("#noChoiceCancelConfirmBody").css("display", "none");
      $("#cancelConfirmDialog .modal-dialog").width(600);
      if (has_vp){
        $("#stock_yes").css("display", "none");
      }
    }

    $("#cancel_Confirm_btn").on("click", function () {
      if (needChoose) {
        if ($("#cancellation_reason").val().trim().length < 1 || $("#cancellation_reason").val().trim().length > 200) {
          $("#reason_alert").css("display", "block");
          return;
        }
      }

      myModal.modal('hide');
      cancelOrder_corderInfo(id, order_id, order_status, order_date,needChoose);
    });
    myModal.on("hidden.bs.modal", function () {
      $(this).removeData("bs.modal");
      $("[name='rma_radio']").removeAttr("checked");
      $("#cancellation_reason").val('').text('');
      $("#cancel_Confirm_btn").off("click");
      $("#rma_alert").css("display", "none");
      $("#reason_alert").css("display", "none");
    });
  }


  //needChoose 目前是用来接收上层判断了订单状态的逻辑，如果有修改，需要调整
  function cancelOrder_corderInfo(id, order_id, order_status, order_date, needChoose) {
    let reason = '';
    if (needChoose) {
      reason = $("#cancellation_reason").val().trim();
    }
    let postData = {
      id: id,
      orderId: order_id,
      orderStatus: order_status,
      orderDate: order_date,
      reason: reason
    };

    block.blockUI();
    $.ajax({
      url: 'index.php?route=account/customer_order/cancelOrder',
      type: 'POST',
      data: postData,
      dataType: 'json',
      success: function (json) {
        if (json['success']) {
          /*
          var myModal = $("#alert_dialog");
          myModal.modal();
          $('#alert_title').text("{{ dialog_title_info }}");
          $('#alert_body').html(json['success']);
          $("#alert_confirm").on("click", function () {
            var url = getUrl();
            clearTimer();
            $('#order-show').load(url);
          });
          myModal.on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
            $('#alert_title').text("");
            $('#alert_body').html("");
            $("#alert_confirm").off("click");
          });
          */

          $.toast({
            heading: false,
            text: 'Send Successfully!',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
          {% if page_from == 'list' %}
            $('#order-show').load(getUrl());
            block.unBlockUI();
          {% else %}
            $('.cancel-btn').attr('disabled', true);
            $('.confirm-btn').attr('disabled', true);
            setTimeout(function() {
              window.location.reload();
            }, 2000);
          {% endif %}
        } else if (json['fail']) {
          {% if page_from == 'list' %}
            var myModal = $("#alert_dialog");
            myModal.modal();
            $('#alert_title').text("{{ dialog_title_error }}");
            $('#alert_body').html(json['fail']);
            myModal.on("hidden.bs.modal", function () {
              $(this).removeData("bs.modal");
              $('#alert_title').text("");
              $('#alert_body').html("");
            });
            block.unBlockUI();
          {% else %}            
            $('.cancel-btn').attr('disabled', true);
            $('.confirm-btn').attr('disabled', true);
            $.toast({
              heading: false,
              text: json['fail'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'error',
              hideAfter: 3000,
              allowToastClose: false,
              loader: false,
              afterHidden: function() {
                window.location.reload();
              }
            });
          {% endif %}
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        block.unBlockUI();
      }
    })
  }
</script>