<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="catalog/view/theme/yzcTheme/stylesheet/font_demo/iconfont.css?v={{ app_version }}" rel="stylesheet" type="text/css"/>
{#<link href="catalog/view/theme/yzcTheme/stylesheet/fonts.googleapis.com_open+sans.css" rel="stylesheet" type="text/css"/>#}
<link href="catalog/view/theme/yzcTheme/stylesheet/stylesheet.css?v={{ app_version }}" rel="stylesheet">
{#<link rel="icon" href="data:;base64,=">#}
<script type="text/javascript" src="catalog/view/javascript/layui/layui.all.js"></script>
<link rel="stylesheet" href="catalog/view/javascript/layui/css/layui.css">

<link href="catalog/view/javascript/diyUpload/file_upload/css/iconfont.css?v={{ app_version }}" rel="stylesheet" type="text/css"/>

  <style>
    .order_do img,.order_undo img{
      margin-top: -2px;
    }
  </style>
  <div class="modal-body" >
    <div class="container-fluid" >
      {% if importMode in [5,7] %}
        <div style="width:96%;margin: 0 auto;float: left;">
          <span style="color: orange;font-size:13px;">.Please review the mapping relationship between platform SKU and B2B Item Code.
            Wrong mapping relationship will impact the shipment.
          </span>
        </div>
      {% elseif  importMode == 4 %}
        <div style="width:96%;margin: 0 auto;float: left;">
          <span style="color: orange;font-size:13px;">.Please review the mapping relationship between SKU and B2B Item Code.
            Wrong mapping relationship will impact the shipment.
          </span>
        </div>
      {% endif %}
      {% if null != order_do['list'] %}
      <div style="width:96%;margin: 0 auto;float: left;">
        <div style="float: left;width: 100%;">
          <label style='font-weight: bold;margin-left: 2%;font-size: 16px;margin-top: 20px;color:black'>
            {% if order_do['amount'] == 1 %}
              These {{ order_do['amount'] }} order was successfully uploaded.
            {% else %}
              These {{ order_do['amount'] }} orders were successfully uploaded.
            {% endif %}
          </label>
          <table class="table table-hover" style="margin: 0 auto;width: 96%">
            <thead>
            <tr bgcolor="#F2F2F2">
              <th class="text-center">No.</th>
              <th class="text-center">Sales Order ID</th>
              <th class="text-center">{{ text_item_code }}</th>
              {% if importMode == 7 %}
                <th class="text-center">SKU</th>
                <th class="text-center">{{ text_sales_details.qty }}</th>
                <th class="text-center">Carrier Name</th>
              {% elseif importMode == 5 %}
                <th class="text-center">Item Number</th>
                <th class="text-center">{{ text_sales_details.qty }}</th>
                <th class="text-center">Carrier Name</th>
              {% elseif importMode == 4  %}
                <th class="text-center">SKU</th>
                <th class="text-center">{{ text_sales_details.qty }}</th>
                <th class="text-center">{{ text_sales_details.tracking_number }}</th>
              {% else %}
                <th class="text-center">{{ text_sales_details.qty }}</th>
                <th class="text-center">{{ text_sales_details.tracking_number }}</th>
              {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for key,value in order_do['list'] %}
              <tr >
                <td class="text-center">{{ key + 1 }}</td>
                <td class="text-center">{{ value.sale_order_id }}</td>
                <td class="text-center"><span><span style="margin-top: 100px;">{{ value.item_code }}</span>
                  {% if value['tag_array'] is not empty %}
                    {% for tag in value['tag_array'] %}
                      &nbsp;{{ tag }}
                    {% endfor %}
                  {% endif %}
                  </span>
                </td>
                {% if importMode == 5 or importMode == 7 %}
                  <td class="text-center">{{ value.item_code_pre }}</td>
                  <td class="text-center">{{ value.qty }}</td>
                  <td class="text-center">{{ value.carrier_name }}</td>
                {% elseif importMode == 4 %}
                  <td class="text-center">{{ value.item_code }}</td>
                  <td class="text-center">{{ value.qty }}</td>
                  <td class="text-center">{{ value.tracking_number }}</td>
                {% else %}
                  <td class="text-center">{{ value.qty }}</td>
                  <td class="text-center">{{ value.tracking_number }}</td>
                {% endif %}
              </tr>

            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
      {% if null != order_undo['list']  %}
      <div style="width:96%;margin: 0 auto;float: left;">
        <div style="float: left;width: 100%;">
          <label style='font-weight: bold;margin-left: 2%;font-size: 16px;margin-top: 20px;color:black'>
            {% if order_undo['amount'] == 1 %}
              These {{ order_undo['amount'] }} order is invalid and will be filtered out.
            {% else %}
              These {{ order_undo['amount'] }} orders are invalid and will be filtered out.
            {% endif %}
          </label>
          <table class="table table-hover" style="margin: 0 auto;width: 96%">
            <thead>
            <tr bgcolor="#F2F2F2">
              <th class="text-center">No.</th>
              <th class="text-center">Sales Order ID</th>
              <th class="text-center">{{ text_item_code }}</th>
              {% if importMode == 7 %}
                <th class="text-center">SKU</th>
                <th class="text-center">{{ text_sales_details.qty }}</th>
                <th class="text-center">Carrier Name</th>
              {% elseif importMode == 5 %}
                <th class="text-center">Item #</th>
                <th class="text-center">{{ text_sales_details.qty }}</th>
                <th class="text-center">Carrier Name</th>
              {% elseif importMode == 4  %}
                <th class="text-center">SKU</th>
                <th class="text-center">{{ text_sales_details.qty }}</th>
                <th class="text-center">{{ text_sales_details.tracking_number }}</th>
              {% else %}
                <th class="text-center">{{ text_sales_details.qty }}</th>
                <th class="text-center">{{ text_sales_details.tracking_number }}</th>
              {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for key,value in order_undo['list'] %}
              <tr >
                <td class="text-center">{{ key + 1 }}</td>
                <td class="text-center">{{ value.sale_order_id }}</td>
                <td class="text-center">
                  {% if importMode == 5 or importMode == 7 %}
                      <span style="margin-top: 4px;">
                      {{ value.item_code }}
                      {% if value['tag_array'] is not empty %}
                        {% for tag in value['tag_array'] %}
                          &nbsp;{{ tag }}
                        {% endfor %}
                      {% endif %}
                      </span>
                  {% endif %}
                </td>
                {% if importMode == 5 or importMode == 7 %}
                  <td class="text-center">{{ value.item_code_pre }}</td>
                  <td class="text-center">{{ value.qty }}</td>
                  <td class="text-center">{{ value.carrier_name }}</td>
                {% elseif importMode == 4 %}
                  <td class="text-center">{{ value.item_code }}</td>
                  <td class="text-center">{{ value.qty }}</td>
                  <td class="text-center">{{ value.tracking_number }}</td>
                {% else %}
                  <td class="text-center">{{ value.qty }}</td>
                  <td class="text-center">{{ value.tracking_number }}</td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}


      </div>
  </div>
  <div class="modal-footer" style="width:100%;float: right;">
    <div >
      <button type="button"  id='cm_btn' class="btn" style="background-color:#337AB7;color:#E9FFF8; " onclick="getNextUrl('{{ show_url }}')"   data-dismiss="modal" id="btnClose">{{ text_button_ok }}</button>
    </div>
  </div>
<script>
  function  getNextUrl(url) {
      $('#cm_btn').attr('disabled',true);
      var index = parent.layer.getFrameIndex(window.name);
      parent.layer.close(index);
      var show_flag = {{ show_flag }};
      if(show_flag == 1){
        window.parent.getLayUrl(url);
      }else if(show_flag == 0){
        var url_cancel = url.replace('dropshipUploadFileBoxShow','dropshipOrderState');
        window.parent.uploadFinish(url_cancel);
      }
  }
  $('[data-toggle="tooltip"]').tooltip();

</script>




