{{ this.title('Manifest Records') }}
{{ this.params('breadcrumbs', [
  'home',
  'current'
]) }}
{{ this.params('pageTitle', {show: true}) }}
{{ css([
  'static/account/corder_manifest_history_list.css'
]) }}

<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js?v={{ app_version }}"></script>

<div id="page-corder_manifest_history_list" class="buyer-page">
  <div class="inner-container">
    <div class="query-con">
      <div class="input-group">
        <span class="glyphicon glyphicon-remove-sign input-deleted" id="deleteInpt"></span>
        <input type="text" class="form-control query-input" placeholder="Sales Order ID" value="{{ order_id }}" id="query">
        <span class="input-group-btn">
          <button class="btn btn-default query-btn" type="button" onclick="searchOrder()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div>
      {% if list  %}
      {% else %}
        <div style="color:red">
          The Sales Order ID was not found.
        </div>
      {% endif %}

    </div>
    {% if list %}
      <div class="table-con">
        <div class="table-header">
          <div class="warehouse_code"><span class="table-label">B2B Warehouse Code</span></div>
          <div class="rpd"><span class="table-label">Ready for Pickup Date</span></div>
          <div class="cn"><span class="table-label">Carrier Name</span></div>
          <div class="mf"><span class="table-label">Manifest</span></div>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {% for key,value in list %}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <div class="table-item">
                  <div class="rpd">
                    <span class="table-info">
                      {% if value.warehouse_name !='warehouse_code' %}
                            {{ value.warehouse_name }}
                      {% endif %}
                    </span></div>
                  <div class="rpd"><span class="table-info">{{ value.order_date }}</span></div>
                  <div class="cn"><span class="table-info">{{ value.carrier_name }}</span></div>
                  <div class="mf">
                      <div class="upload-file" id="{{ value.order_id_all}}_show">
                        <span onclick="getManifestPdf(this)" style="cursor:pointer;color:#23527c;text-decoration:underline;" mean="{{ value.deal_file_path }}" > {{ value.file_name }}</span>
                      </div>
                    <div class="trans-btn">
                        <a class="giga icon-action-stretch coll-btn" role="button" data-toggle="collapse" data-parent="#accordion" href="#sale{{ key }}" aria-expanded="false" aria-controls="sale{{ key }}"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div id="sale{{ key }}" class="panel-collapse collapse" role="tabpane{{ key }}" aria-labelledby="headingSale{{ key }}">
                <div class="panel-body">
                  <div class="thead">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Sale Order ID(<span class="num">{{ value.order_amount }}</span>)</th>
                        <th>Status</th>
                        <th></th>
                        <th>B2B Item Code</th>
                        <th>Packages(<span class="num">{{ value.package_qty }}</span>)</th>
                      </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="tbody">
                    <table class="table">
                      <tbody>
                      {% for ks,vs in value.list %}
                        {% for k,v in vs.line_list %}
                        <tr>
                          {% if v.is_show %}
                            <td rowspan="{{ v.row_span }}">{{ ks + 1 }}</td>
                            <td rowspan="{{ v.row_span }}">{{ vs.order_id }}</td>
                            <td rowspan="{{ v.row_span }}"
                                {% if vs.order_status == '129' %}
                                    class="status-checkLabel"
                                {% elseif vs.order_status == '1' %}
                                    class="status-newOrder"
                                {% elseif vs.order_status == '2' %}
                                    class="status-beingProcessed"
                                {% else %}
                                    class="staus-common"
                                {% endif %}
                            >{{ vs.order_status_name }}</td>
                          {% endif %}
                          <td><a href="{{ v.product_link }}" target="_blank"><img class="item-img" src="{{ v.image_show }}" alt=""></a></td>
                          <td>
                            {{ v.item_code }}
                            {% if v['tag_array'] is not empty %}
                              {% for tag in v['tag_array'] %}
                                &nbsp;{{ tag }}
                              {% endfor %}
                            {% endif %}
                          </td>
                          <td>{{ v.package_qty }}</td>
                        </tr>
                        {% endfor %}
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 flex-col-center text-right flex-end manifest_pagination_container">
          <ul id="manifest_history_pagination"></ul>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script>
var manifest_common_label = [];
{# {% for key,value in list%}
    {% if value.is_synchroed  == '' %}
      var file_select_name = '{{ value.order_id_all }}' + '_div';
      var file_elem_name = '{{ value.order_id_all }}';
      var fileSelect_{{ key }}  = document.getElementById(file_select_name),
        fileElem_{{ key }} = document.getElementById(file_elem_name);

      fileSelect_{{ key }}.addEventListener("click", function (e) {

        if (fileElem_{{ key }}) {
          fileElem_{{ key }}.click();
        }
        e.preventDefault(); // prevent navigation to "#"
      }, false);
    {% endif %}

{% endfor %} #}

//分页
$('#manifest_history_pagination').bootstrapPaginator({
  /*当前使用的是3版本的bootstrap*/
  bootstrapMajorVersion: 3,
  /*配置的字体大小是小号*/
  size: 'normal',
  /*当前页*/
  currentPage: {{ page | default(1) }},
  /*一共多少页*/
  totalPages: {{ total_pages|js_var }},
  /*页面上最多显示几个含数字的分页按钮*/
  numberOfPages: 5,
  pageRange: [10, 20, 30, 50, 100],
  rowsOfPage: {{ page_limit | default(10) }},
  total: {{ total|js_var }},
  onPageClicked: function (event, originalEvent, type, page) {
    let order_id = $('#query').val().trim();
    let params = {};
    if (order_id) {
      params['order_id'] = order_id;
    }
    params['page'] = page;
    if (originalEvent['page_info'] && originalEvent['page_info']['page_limit']) {
      params['page_limit'] = originalEvent['page_info']['page_limit'];
    }
    window.location.href = '{{ url("account/customer_order/getManifestHistoryList") }}&' + $.param(params);
  }
});

$(document).ready(function () {
  //气泡
  $('[data-toggle="tooltip"]').tooltip();
  parent.layer.closeAll('loading');
  //input 清除
  $("#deleteInpt").on("click",function () {
    $("#query").val("");
  });
  $('#query').autocomplete({
    'minLength':1,
    'source': function(request, response) {
      if(encodeURIComponent(request)){
        $.ajax({
          url: "{{ url('account/customer_order/getSalesOrderBySearch',{'order_id':''}) }}" +  encodeURIComponent(request),
          dataType: 'json',
          success: function(json) {
            console.dir(json);
            response($.map(json.items, function(item) {
              return {
                label: item['order_id'],
                value: item['id']
              }
            }));
          }
        });
      }
    },
    'select': function(item) {
      $(this).val(item['label']);
    }

  });

  //点击其余某处联想框消失
  $("body").on("click",function (event) {
    if(event.target.className.indexOf("query-input")==-1){
      $('#think').hide();
    }
  })
  //切换伸缩
  $('body').on("click",'.coll-btn',function () {
    if($(this).attr('class').indexOf("icon-arrow-compress")!=-1){
      $(this).attr("class","giga icon-action-stretch coll-btn")
    }else{
      $(this).attr("class","giga icon-arrow-compress coll-btn")
    }
  })
});

  function getManifestPdf(obj) {
    var url = $(obj).attr('mean');
    var upload_info = 'Manifest';
    parent.layer.open({
      type: 2,
      area: ['700px', '500px'],
      title: upload_info,
      fixed: false, //不固定Change
      maxmin: true,
      skin: 'oris-layer layer-full',
      scrollbar: false,
      content: url,
    });
  }
  
  function searchOrder() {
    var order_id = $('#query').val().trim();
    var url_get ="{{ url('account/customer_order/getManifestHistoryList',{'order_id':''}) }}" +  encodeURIComponent(order_id);
    parent.layer.load(1,{shade: [0.3,'#000']});
    window.location.href = url_get;
  }
</script>