<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="catalog/view/theme/yzcTheme/stylesheet/font_demo/iconfont.css" rel="stylesheet" type="text/css"/>
<link href="catalog/view/theme/yzcTheme/stylesheet/fonts.googleapis.com_open+sans.css" rel="stylesheet" type="text/css"/>
<link type="text/css" href="/public/fonts/giga/iconfont.css?v={{ app_version }}" rel="stylesheet">{#B2B页面改版 图标字体#}
<link href="catalog/view/theme/yzcTheme/stylesheet/stylesheet.css?v={{ app_version }}" rel="stylesheet">
<link rel="icon" href="data:;base64,=">


<link href="catalog/view/javascript/diyUpload/file_upload/css/iconfont.css" rel="stylesheet" type="text/css"/>
<link href="catalog/view/javascript/diyUpload/file_upload/css/fileUpload.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="catalog/view/javascript/diyUpload/file_upload/js/fileUploadWalmart.js"></script>
<style>
  form {
    width: 100%;
  }

  i {

    padding-right: 5px;
  }

  #column1 {
    padding: 5px;
    background-color: #fff5ef;
    border-radius: 5px;
    color: #fa6400;
    margin: 10px 0;
  }

  #column1 a {
    float: right;
    padding: 0;
  }

  #column1 .well {
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  #column1 .well ul {
    padding: 0 15px;
  }

  .content {
    /*background-color: #e2eafa;*/
    overflow: hidden;

  }

  .name {
    color: #666;
    opacity: 0.85;
    padding: 10px 0;
  }

  .value {
    color: #000;
    opacity: 0.85;
    padding: 10px 0 10px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .order_value {
    color: #000;
    opacity: 0.85;
    padding: 10px 0 10px 0;
    vertical-align: text-bottom;
    display: inline-block;
    margin-right: 5px;
  }

  .list {
    margin: 5px 0;
    width: 100%;
    float: left;
    /*overflow: hidden;*/
  }

  .item {
    height: 40px;
    background-color: #fff5ef;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
  }

  .item div {
    overflow: hidden;
  }

  .detail {
    padding: 5px 0;
    clear: both;
    height: 45px;
  }

  .detail .num {
    color: #FA6400;
    border: 1px solid #FA6400;
    border-radius: 5px;
    padding: 2px 6px;
    margin: 5px 10px 5px 5px;
    float: left;
    width: 25px;

  }

  .s2 p, .detail p {
    float: right;
    min-width: 30%;
    margin: 0;
  }

  input[type=text] {
    #background-color: #e3e5e7;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  input[type=checkbox] {
    position: relative;
    width: 18px;
    height: 19px;
    margin-left: 5px;
    vertical-align: super;
  }

  input[type=checkbox]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    line-height: 15px;
    text-align: center;
    color: white;
    font-size: 14px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #aaa;
  }

  input[type=checkbox]:checked::before {
    content: '\2714';
    background-color: #468bff;
  }

  .s2s {
    color: #fff;
    background-color: #FA6400;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 3px;
    margin: 10px 5px;
    width: 30px;
    float: left;
  }

  .img_show {
    background-color: #eee;
    width: 100%;
    float: left;
    overflow: hidden;
    margin-top: 5px;
  }

  .s2 {
    background-color: #e8f8d6;
    padding: 5px 0;
    width: 100%;
    float: left;
    overflow: hidden;
  }

  .s2 p {
    padding-right: 30px;
  }

  .btn-primary {
    background-color: #468bff;
    border-color: #468bff;
  }

  .btn-default {
    border-color: #eee;
    color: #428BDD;
  }

  .selectFileBt {
    height: 35px;
    line-height: 35px;
    background-color: #468bff !important;
  }

  .icon-shanchu {
    color: #468bff !important;
  }

  .fileUploadContent .subberProgress .progress > div {
    background-color: #468bff !important;
  }

  .la {
    width: 10%;
    float: left;
    padding-left: 8px;
    text-align: left;
  }

  .modal-footer-walmart {
    text-align: center;
  }

</style>

<form enctype="multipart/form-data" id="form-upload">
  <div class="modal-body">
    <div id="column1">
      <i class="fa fa-info-circle" style=" color: #fa6400;"></i>User Notice
      <a class="btn " role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
         aria-controls="collapseExample">
        <i class="fa fa-angle-double-down"></i>
      </a>
      <div class="collapse" id="collapseExample">
        <div class="well">
          <ul>
            <li>If the product is a combo product, please upload the shipping label for each sub-item and fill in the
              corresponding tracking numbers.
            </li>
            <li>If the order is an S2S order, please upload the store label for each product(or sub-item).</li>
            <li>Before submitting, please make sure the tracking number and Order ID are consistent with those in
              preview picture of uploaded Label.
            </li>
            <li>
              Giga Cloud does not accept FedEx Express Overnight labels. Related service types include, but are not limited to: FedEx First Overnight, FedEx Priority Overnight, FedEx Standard Overnight etc.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="column2">
      {% for order in upload_file_info %}
      <div class="order">
        <div class="content">
          <div style="float: left;width: 100%;background: #E2EAFA;padding: 0 5px">
            <div style="float: left;width: 30%">
              <input type="hidden" id="order_id" name='order_id' value={{ order.id }}>
              <span class="name col-sm-4">Sales Order ID:</span>
              <span class="order_value">{{ order.order_id }}</span>

              <span id="{{ order.id }}_span" class="order_value">({{ order.total_file_amount }}
                /{{ order.total_file_amount }})</span>

            </div>
            {% if order.bol_flag == 1 %}
              <div
                style="width:69%;margin-left:1%;font-size:14px;height:35px;line-height: 35px;text-align: center;float: left;margin-top: 3px;">
                <div style="float:left;text-align:right;width: 9%;margin-right: 1%">
                  <span>BoL:</span>
                </div>
                <div style="float: left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;"
                     id="{{ order.id }}_bol_show">
                  <a style="cursor:pointer;color:#23527c;text-decoration:underline;" onclick="getBolPdf(this)"
                     mean="{{ order.bol_path }}">{{ order.bol_file_name }}</a>
                </div>

              </div>
            {% endif %}

          </div>
          {% for children in order.childrenList %}
            {% if not children.is_combo %}
              <div class="list">
                <div class="item">
                  {% if children.ship_to == 'Store' %}
                    <div style="width: 40px;float: left;">
                      <div class="s2s">S2S</div>
                    </div>
                  {% else %}
                    <div style="width: 40px;float: left;height: 1px">
                    </div>
                  {% endif %}
                  <div>
                    <div class="col-sm-3">
                      <span class="name col-sm-4">{{ text_item_code }}:</span>
                      <span class="value col-sm-8">{{ children.item_code }}</span>
                    </div>
                    <div class="col-sm-1">
                      <span class="name col-sm-5">{{ text_qty }}: </span>
                      <span class="value col-sm-7">{{ children.qty }}</span>
                    </div>
                    <div class="col-sm-2">
                      <span class="name col-sm-4">Weight:</span>
                      <span class="value col-sm-8">{{ children.weight }} {{ children.unit_name }}</span>
                    </div>
                    <div class="col-sm-4">
                      <span class="name col-sm-4">{{ text_ship_method }}: </span>
                      <span class="value col-sm-8" title="{{ children.carrier }}">{{ children.carrier }}</span>
                    </div>
                    {% if children.ship_to == 'Store' %}
                      <div class="col-sm-2">
                        <span class="name col-sm-5">Store ID: </span>
                        <span class="value col-sm-7">{{ children.store_id }}</span>
                      </div>
                    {% endif %}
                  </div>
                </div>

                {% if children.ship_to == 'Store' %}
                  <div class="s2">
                    {% if children.ship_to == 'Store' %}
                      <div style="width: 40px;float: left;">
                        <div class="s2s">S2S</div>
                      </div>
                    {% else %}
                      <div style="width: 40px;float: left;height: 1px">
                      </div>
                    {% endif %}
                    <div class="name la">Store Label:</div>
                    <div
                      style="float:left;width:35%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-top: 10px"
                      id="{{ children.store_label_container_id }}_pdf_show">
                      <a style="cursor:pointer;color:#23527c;text-decoration:underline;" onclick="getStoreLabelPdf(this)"
                         mean="{{ children.combo_info.0.store_deal_file_path }}">{{ children.combo_info.0.store_deal_file_name }}</a>
                    </div>
                    <p style="width: 30%"><span class="name col-sm-4">Package ASN:</span> <span
                        class="value col-sm-8" title="{{ children.package_asn }}">{{ children.package_asn }}</span></p>
                  </div>
                  <div class="img_show" id="{{ children.store_label_container_id }}_show" style="display: block">
                    <div style="width:5%;float: left;margin-left: 36px" class="name">
                      Preview:
                    </div>
                    <div style="width:35%;float: left;">
                      <span style="float: left;overflow: hidden" class="name"> Order ID: &nbsp;&nbsp;</span>
                      <img src="{{ children.combo_info.0.store_order_id_img }}"
                           style="height:25px;margin-left: 2%;margin-top:10px;width: 30%">

                    </div>
                    <div style="width:26%;float: left" class="name">
                      <span style="float: left;overflow: hidden"> Store ID:&nbsp;&nbsp;</span>
                      <img src="{{ children.combo_info.0.store_id_img }}" style="height:25px;margin-left: 2%;width: 40%">
                    </div>
                    <div style="width:29%;float: left;margin-left: 5px" class="name">

                      <span style="color:#938593;float: left;overflow: hidden"> &nbsp;Package ASN:</span>
                      <img src="{{ children.combo_info.0.package_asn_img }}"
                           style="height:25px;margin-left: 2%;width: 40%;">
                    </div>
                  </div>
                {% endif %}


                {% set k = 1 %}
                {% for detail in children.combo_info %}
                  <div class="detail">
                    <div class="num">{{ k }}</div>
                    <div class="la name"> Shipping Label:</div>

                    <div
                      style="float:left;width:35%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-top: 10px;margin-left: 10%"
                      id="{{ detail.container_id }}_pdf_show">
                      <a style="cursor:pointer;color:#23527c;text-decoration:underline;"
                         onclick="getCommonLabelPdf(this)"
                         mean="{{ detail.deal_file_path }}">{{ detail.file_name }}</a>
                    </div>
                    <p><span class="name col-sm-5">Tracking Number:</span>

                      <input id="{{ detail.container_id }}_tracking_number" style="background-color: #e3e5e7;height: 35px"
                             type="text" disabled="disabled" value="{{ detail.tracking_id }}"
                             name="{{ detail.container_id }}_tracking_number" class="value col-sm-7">

                    </p>
                  </div>
                  <div class="img_show" id="{{ detail.container_id }}_show" style="display: block">
                    <div style="width:5%;float: left;margin-left: 36px" class="name">
                      Preview:
                    </div>
                    <div style="width:35%;float: left;">
                      <span style="float: left;overflow: hidden" class="name"> Order ID: &nbsp;&nbsp;</span>
                      <img src="{{ detail.order_id_img }}"
                           style="height:25px;margin-left: 2%;margin-top:10px;width: 30%">

                    </div>
                    <div style="width:26%;float: left" class="name">
                      <span style="float: left;overflow: hidden"> Weight:&nbsp;&nbsp;</span>
                      <img src="{{ detail.weight_img }}" style="height:25px;margin-left: 2%;width: 40%">
                    </div>
                    <div style="width:29%;float: left;margin-left: 5px" class="name">

                      <span style="color:#938593;float: left;overflow: hidden"> &nbsp;Tracking Number:</span>
                      <img src="{{ detail.tracking_number_img }}" style="height:25px;margin-left: 2%;width: 40%;">
                    </div>
                  </div>
                  {% set k = k + 1 %}
                {% endfor %}
              </div>
            {% else %}
              <div class="list">
                <div class="item">
                  {% if children.ship_to == 'Store' %}
                    <div style="width: 40px;float: left;">
                      <div class="s2s">S2S</div>
                    </div>
                  {% else %}
                    <div style="width: 40px;float: left;height: 1px"></div>
                  {% endif %}
                  <div>
                    <div class="col-sm-3">
                      <span class="name col-sm-4">{{ text_item_code }}:</span>
                      <span class="value col-sm-8">{{ children.item_code }}
                        {#<i class="giga icon-combox"></i>#}
                        {{ image_icon_url }}
                      </span>
                    </div>
                    <div class="col-sm-1">
                      <span class="name col-sm-5">{{ text_qty }}:</span>
                      <span class="value col-sm-7">{{ children.qty }}</span>
                    </div>
                    <div class="col-sm-4">
                      <span class="name col-sm-4">{{ text_ship_method }}:</span>
                      <span class="value col-sm-8" title="{{ children.carrier }}">{{ children.carrier }}</span>
                    </div>
                    <div class="col-sm-2">
                      {% if children.ship_to == 'Store' %}
                        <span class="name col-sm-5">Store ID: </span>
                        <span class="value col-sm-7">{{ children.store_id }}</span>
                      {% endif %}
                    </div>
                    <div class="col-sm-2"></div>
                  </div>
                </div>
              </div>
              {% if children.ship_to == 'Store' %}
                <div class="s2">
                <div class=''>
                  {% if children.ship_to == 'Store' %}
                    <div style="width: 40px;float: left;">
                      <div class="s2s">S2S</div>
                    </div>
                  {% else %}
                    <div style="width: 40px;float: left;height: 1px"></div>
                  {% endif %}
                  <div class="name la">Store Label:</div>

                  <div
                    style="float: left;width:35%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-left: 10%;margin-top: 10px;"
                    id="{{ children.store_label_container_id }}_pdf_show">
                    <a style="cursor:pointer;color:#23527c;text-decoration:underline;" onclick="getStoreLabelPdf(this)"
                       mean="{{ children.combo_info.0.line.0.store_deal_file_path }}">{{ children.combo_info.0.line.0.store_deal_file_name }}</a>
                  </div>
                  <p><span class="name col-sm-4">Package ASN:</span> <span
                      class="value col-sm-8" title="{{ children.package_asn }}">{{ children.package_asn }}</span></p>
                </div>
              </div>
                <div class="img_show" id="{{ children.store_label_container_id }}_show" style="display: block">
                <div style="width:5%;float: left;margin-left: 36px" class="name">
                  Preview:
                </div>
                <div style="width:35%;float: left;">
                  <span style="float: left;overflow: hidden" class="name"> Order ID: &nbsp;&nbsp;</span>
                  <img src="{{ children.combo_info.0.line.0.store_order_id_img }}"
                       style="height:25px;margin-left: 2%;margin-top:10px;width: 30%">

                </div>
                <div style="width:26%;float: left" class="name">
                  <span style="float: left;overflow: hidden"> Store ID:&nbsp;&nbsp;</span>
                  <img src="{{ children.combo_info.0.line.0.store_id_img }}"
                       style="height:25px;margin-left: 2%;width: 40%">
                </div>
                <div style="width:29%;float: left;margin-left: 5px" class="name">

                  <span style="color:#938593;float: left;overflow: hidden"> &nbsp;Package ASN:</span>
                  <img src="{{ children.combo_info.0.line.0.package_asn_img }}"
                       style="height:25px;margin-left: 2%;width: 40%;">
                </div>
              </div>
              {% endif %}
              {% for detail in children.combo_info %}
                <div class="list">
                  <div class="item">
                    <div style="width: 40px;float: left;height: 1px">
                    </div>
                    <div>
                      <div class="col-sm-3">
                        <span class="name col-sm-6">{{ text_subitem_code }}:</span>
                        <span class="value col-sm-6">{{ detail.sku }}</span></div>
                      <div class="col-sm-1">
                        <span class="name col-sm-5">QTY:</span>
                        <span class="value col-sm-7">{{ detail.qty }}</span>
                      </div>
                      <div class="col-sm-2">
                        <span class="name col-sm-5">Weight:</span>
                        <span class="value col-sm-7">{{ detail.weight }} {{ detail.unit_name }}</span>
                      </div>
                      <div class="col-sm-2"></div>
                    </div>
                  </div>
                  {% set k = 1 %}
                  {% for line in detail.line %}
                    <div class="detail">
                      <div class="num">{{ k }}</div>
                      <div class="la name"> Shipping Label:</div>

                      <div
                        style="float:left;width:35%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-top: 10px;margin-left: 10%"
                        id="{{ line.container_id }}_pdf_show">
                        <a style="cursor:pointer;color:#23527c;text-decoration:underline;"
                           onclick="getCommonLabelPdf(this)"
                           mean="{{ line.deal_file_path }}">{{ line.file_name }}</a>
                      </div>
                      <p><span class="name col-sm-5">Tracking Number:</span>
                        <input id="{{ line.container_id }}_tracking_number" type="text"
                               style="background-color: #e3e5e7;height: 35px" disabled="disabled"
                               name="{{ line.container_id }}_tracking_number" value="{{ line.tracking_id }}"
                               class="value col-sm-7">
                      </p>
                    </div>

                    <div class="img_show" id="{{ line.container_id }}_show" style="display: block">
                      <div style="width:5%;float: left;margin-left: 36px" class="name">
                        Preview:
                      </div>
                      <div style="width:35%;float: left;">
                        <span style="float: left;overflow: hidden" class="name"> Order ID: &nbsp;&nbsp;</span>
                        <img src="{{ line.order_id_img }}"
                             style="height:25px;margin-left: 2%;margin-top:10px;width: 30%">

                      </div>
                      <div style="width:26%;float: left" class="name">
                        <span style="float: left;overflow: hidden"> Weight:&nbsp;&nbsp;</span>
                        <img src="{{ line.weight_img }}" style="height:25px;margin-left: 2%;width: 40%">
                      </div>
                      <div style="width:29%;float: left;margin-left: 5px" class="name">

                        <span style="color:#938593;float: left;overflow: hidden"> &nbsp;Tracking Number:</span>
                        <img src="{{ line.tracking_number_img }}" style="height:25px;margin-left: 2%;width: 40%;">
                      </div>
                    </div>
                    {% set k = k + 1 %}
                  {% endfor %}
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}

        </div>
        {% endfor %}
      </div>
    </div>
</form>
<script>
  function getBolPdf(obj) {
    var url = $(obj).attr('mean');
    var upload_info = 'Bol Label';
    parent.layer.open({
      type: 2,
      offset: ['150px', '380px'],
      area: ['700px', '400px'],
      title: upload_info,
      fixed: false, //不固定Change
      maxmin: true,
      skin: 'yzc_layer',
      scrollbar: false,
      content: url,
    });
  }
  function getCommonLabelPdf(obj) {
    var url = $(obj).attr('mean');
    var upload_info = 'Common Label';
    parent.layer.open({
      type: 2,
      offset: ['150px', '380px'],
      area: ['700px', '400px'],
      title: upload_info,
      fixed: false, //不固定Change
      maxmin: true,
      skin: 'yzc_layer',
      scrollbar: false,
      content: url,

    });
  }
  function getStoreLabelPdf(obj) {
    var url = $(obj).attr('mean');
    var upload_info = 'Store Label';
    parent.layer.open({
      type: 2,
      offset: ['150px', '380px'],
      area: ['700px', '400px'],
      title: upload_info,
      fixed: false, //不固定Change
      maxmin: true,
      skin: 'yzc_layer',
      scrollbar: false,
      content: url,
    });
  }
</script>

