<div class="modal-body">
    <h3 style="padding-bottom: 1px">{{ text_detail_info }}</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <td class="text-left">{{ column_line_item_number }}</td>
                <td class="text-left">{{ column_item_tax }}</td>
                <td class="text-left">{{ column_item_code }}</td>
                <td class="text-left">{{ column_alt_item_id }}</td>
                <td class="text-left">{{ column_qty }}</td>
                <td class="text-left">{{ column_ship_amount }}</td>
                <td class="text-left">{{ column_line_comments }}</td>
                <td class="text-left">{{ column_item_status }}</td>
            </tr>
            </thead>
            {% if details %}
            <tbody>
            {% for item in details %}
                <tr>
                    <td class="text-left">{{ item['line_item_number'] }}</td>
                    <td class="text-left">{{ item['item_tax'] }}</td>
                    {% if item['tag'] %}
                      <td class="text-left">{{ item['item_code'] }}
                        {% for tag in item['tag']%}
                          <span style="font-weight: bold; color: red;padding-left: 1px">{{ tag }}</span>
                        {% endfor %}
                      </td>
                    {% else %}
                        <td class="text-left">{{ item['item_code'] }}</td>
                    {% endif %}
                    <td class="text-left">{{ item['alt_item_id'] }}</td>
                    <td class="text-left">{{ item['qty'] }}</td>
                    <td class="text-left">{{ item['ship_amount'] }}</td>
                    <td class="text-left">{{ item['line_comments'] }}</td>
                    <td class="text-left">
                      {{ item['item_status_name'] }}
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="7">{{ text_no_results }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <h3 style="padding-top: 3px;padding-bottom: 1px">{{ text_shared_info }}</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <td class="text-left">{{ column_email }}</td>
                <td class="text-left">{{ column_ordersFrom }}</td>
                <td class="text-left">{{ column_discountAmount }}</td>
                <td class="text-left">{{ column_taxAmount }}</td>
                <td class="text-left">{{ column_orderTotal }}</td>
                <td class="text-left">{{ column_paymentMethod }}</td>
                <td class="text-left">{{ column_lineCount }}</td>
                <td class="text-left">{{ column_sell_manager }}</td>
            </tr>
            </thead>
            {% if all_details %}
            <tbody>
            {% for share in all_details %}
                <tr>
                    <td class="text-left">{{ share['email'] }}</td>
                    <td class="text-left">{{ share['orders_from'] }}</td>
                    <td class="text-left">{{ share['discount_amount'] }}</td>
                    <td class="text-left">{{ share['tax_amount'] }}</td>
                    <td class="text-left">{{ share['order_total'] }}</td>
                    <td class="text-left">{{ share['payment_method'] }}</td>
                    <td class="text-left">{{ share['line_count'] }}</td>
                    <td class="text-left">{{ share['sell_manager'] }}</td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="7">{{ text_no_results }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="table-responsive" style="padding-top: 1px">
        <table class="table table-hover">
            <thead>
            <tr>
                <td class="text-left">{{ column_shipName }}</td>
                <td class="text-left">{{ column_shipAddress1 }}</td>
                <td class="text-left">{{ column_shipAddress2 }}</td>
                <td class="text-left">{{ column_shipCity }}</td>
                <td class="text-left">{{ column_shipState }}</td>
                <td class="text-left">{{ column_shipZipCode }}</td>
                <td class="text-left">{{ column_shipCountry }}</td>
                <td class="text-left">{{ column_shipPhone }}</td>
                <td class="text-left">{{ column_shipMethod }}</td>
                <td class="text-left">{{ column_shipServiceLevel }}</td>
                <td class="text-left">{{ column_shipCompany }}</td>
            </tr>
            </thead>
            {% if all_details %}
            <tbody>
            {% for share in all_details %}
                <tr>
                    <td class="text-left">{{ share['ship_name'] | dbDecrypt }}</td>
                    <td class="text-left">{{ share['ship_address1'] | dbDecrypt }}</td>
                    <td class="text-left">{{ share['ship_address2'] | dbDecrypt }}</td>
                    <td class="text-left">{{ share['ship_city'] | dbDecrypt }}</td>
                    <td class="text-left">{{ share['ship_state'] }}</td>
                    <td class="text-left">{{ share['ship_zip_code'] }}</td>
                    <td class="text-left">{{ share['ship_country'] }}</td>
                    <td class="text-left">{{ share['ship_phone'] | dbDecrypt }}</td>
                    <td class="text-left">{{ share['ship_method'] }}</td>
                    <td class="text-left">{{ share['ship_service_level'] }}</td>
                    <td class="text-left">{{ share['ship_company'] }}</td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="11">{{ text_no_results }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="table-responsive" style="padding-top: 1px">
        <table class="table table-hover">
            <thead>
            <tr>
                <td class="text-left">{{ column_billName }}</td>
                <td class="text-left">{{ column_billAddress }}</td>
                <td class="text-left">{{ column_billCity }}</td>
                <td class="text-left">{{ column_billState }}</td>
                <td class="text-left">{{ column_billZipCode }}</td>
                <td class="text-left">{{ column_billCountry }}</td>
                <td class="text-left">{{ column_customerComments }}</td>
            </tr>
            </thead>
            {% if all_details %}
            <tbody>
            {% for share in all_details %}
                <tr>
                    <td class="text-left">{{ share['bill_name'] | dbDecrypt }}</td>
                    <td class="text-left">{{ share['bill_address'] | dbDecrypt }}</td>
                    <td class="text-left">{{ share['bill_city'] | dbDecrypt }}</td>
                    <td class="text-left">{{ share['bill_state'] }}</td>
                    <td class="text-left">{{ share['bill_zip_code'] }}</td>
                    <td class="text-left">{{ share['bill_country'] }}</td>
                    <td class="text-left">{{ share['customer_comments'] }}</td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="7">{{ text_no_results }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ button_close }}</button>
</div>