{{ this.title('Sales Orders Details') }}
{{ this.params('breadcrumbs', [
  'home',
  {
    text: 'Sales Order Management',
    href: url('修改url'),
  },
  'current'
]) }}
{{ this.params('pageTitle', {show: true}) }}
{{ css([
  'static/account/customer_order_salesOrderDetail_pick_up/customer_order_salesOrderDetail_pick_up.css',
  'css/common/common-ext.css',
]) }}
<link rel="stylesheet" href="catalog/view/javascript/corderTemp/iconfont.css">
<!-- <link rel="stylesheet" href="admin/view/stylesheet/stylesheet.css"> -->
<style>
  /*此页面整体屏幕 1140*/
  .center-module:not(.footer-content) {
    width: 1140px !important;
    margin: 0 auto;
  }
</style>
<div class="container customer-sales-order-content page-seller-portal">
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content main mb-4">
        <div role="tabpanel" class="tab-pane active" id="tab-1">
          <div class="bg-white p-2">
            <div class="info-wrapper m20-b mt-2">
              <div class="row mb-1">
                <ul>
                  <li>
                    <span><i class="giga icon-summary-po-id"></i></span>
                    <span class="title">Sales Order ID:</span>
                    <span class="value">
                     {{ base_info['order_id'] }}
                      {% if base_info.is_s2s %}
                        <p class="s2s">S2S</p>
                      {% endif %}
                    </span>
                  </li>
                  <li>
                    <span><i class="giga icon-summary-status"></i></span>
                    <span class="title">Order Status:</span>
                    <span class="value default-color">
                       {% if base_info['order_status'] == 1 %}
                         {% if base_info.order_mode == 1 %}
                           <span class="value" style="color:#337AB7;">To Be Paid</span>
                         {% else %}
                           <span class="value" style="color:#337AB7;">{{ base_info['order_status_name'] }}</span>
                         {% endif %}
                       {% elseif base_info['order_status'] == 2 %}
                         <span class="value" style="color:#008000">{{ base_info['order_status_name'] }}</span>
                       {% elseif base_info['order_status'] == 4 %}
                         <span class="value" style="color:#666666">{{ base_info['order_status_name'] }}</span>
                       {% elseif item['order_status'] == 8 %}
                       {% elseif base_info['order_status'] == 16 %}
                         <span class="value" style="color:#666666">{{ base_info['order_status_name'] }}</span>
                       {% elseif base_info['order_status'] == 32 %}
                         <span class="value" style="color:#666666">{{ base_info['order_status_name'] }}</span>
                       {% elseif base_info['order_status'] == 64 %}
                         <span class="value" style="color:#008000">{{ base_info['order_status_name'] }}</span>
                       {% elseif base_info['order_status'] == 127 %}
                         <span class="value" style="color:#fA6400">{{ base_info['order_status_name'] }}</span>
                       {% elseif base_info['order_status'] == 128 %}
                         <a data-toggle="tooltip" style="cursor: pointer"
                            onclick="redirectToDeliveryList('{{ base_info.id }}')"
                            title="{{ text_shared_info }}">{{ base_info['order_status_name'] }}<i
                             class="giga icon-V10-wenhaotishi" style="margin-left: 5px;" aria-hidden="true"></i></a>
                       {% elseif base_info['order_status'] == 129 %}
                         <span class="value" style="color:#FF0000">{{ base_info['order_status_name'] }}</span>
                       {% elseif base_info['order_status'] == 257 %}
                         <span class="value" style="color:#fA6400">{{ base_info['order_status_name'] }}</span>
                       {% endif %}
                      {{ order_status_label }}
                    </span>
                    <!--子状态-->
                    {% if pickUpStatus %}
                      <span class="order-children-status"
                            style="background:{{ pickUpStatus['color'] }}">{{ pickUpStatus['desc'] }}</span>
                    {% endif %}
                  </li>
                  <li>
                    <span><i class="giga icon-summary-day"></i></span>
                    <span class="title"> Creation Time:</span>
                    <span class="value">{{ base_info['create_time'] }}</span>
                  </li>
                  <li>
                    <span><i class="giga icon-summary-store"></i></span>
                    <span class="title">Order From:</span>
                    <span class="value">{{ base_info['orders_from'] }}</span>
                  </li>
                </ul>
              </div>
            </div>

            <!--订单提示-->
            <div class="remark-list">
              <!--待确认提示-->
              {% if pickUpInfoTbc and seconds_remaining %}
                <div class="to-be-confirmed-remark flex">
                  <span class="left-remark-icon flex">
                    <i class="giga icon-naozhong" style="margin-right: 3px;"></i>
                    Remaining Time
                    {# @TODO 替换倒计时时间 #}
                    <span style="margin-left:6px;">{{ dynamicWidget('time_count_down', { times: seconds_remaining }) }} </span>
                  </span>
                  <span class="left-remark-content">The order will be cancelled automatically if not confirmed within 48 hours.</span>
                </div>
              {% endif %}

              <!--待取货提示-->
              {% if base_info['order_status'] == 257 %}
                <div class="pedding-cargo-remark">
                  <div class="gantan"><i class="giga icon-icn--n"></i></div>
                  <div class="flex1 pedding-cargo-remark-font">
                    <div>Please complete the pick up within the specified time. Otherwise, the Marketplace will have the
                      right to restock the goods when timed out, and the relevant fees incurred will be borne by you.
                    </div>
                    <div class="mt5 pedding-cargo-remark-font">
                      If the order is not picked up within 7 business days, you need to pay the pallet usage fee (<span
                        class="text-bold ">$10</span> per pallet) and <span class="text-bold ">3</span> times packing
                      fee.
                    </div>
                  </div>
                </div>
              {% endif %}

              <!--超时未取货提示-->
              {% if pickUpTimeOut %}
                <div class="to-be-confirmed-remark">
                  <span class="left-remark-content">The order has not been picked up for more than 7 business days. If you'd like to cancel it, please contact the online customer service team.</span>
                </div>
              {% endif %}

              <!--取消订单原因提示-->
              {% if cancelMsg %}
                <div class="canceled-order-remark">
                <span class="left-remark-content">
                  <span class="text-bold">
                    Reason for Cancellation：
                  </span>
                  <span class="word-braek1">{{ cancelMsg }}</span>
                </span>
                </div>
              {% endif %}
            </div>

            <!--pick-up-information-->
            {% if not originPickUpInfo or not storePickUpInfo %}
              <div class="pick-up-information">
                <div class="pick-up-title">
                  <span class="line-style"></span>
                  {% if pickUpInfo.pick_up_status %}
                    <span class="line-text">Confirmed Pick-up Information</span>
                  {% else %}
                    <span class="line-text">Requested Pick-up Information</span>
                  {% endif %}

                  {#申请信息与仓库取货信息不一致#}
                  {% if oldPickUpInfo %}
                    <span class="ml-30 color-blue text-weight-normal pointer line-view"
                          onclick="getHistoryInformation()">
                      View the requested pick-up information
                    </span>
                  {% endif %}
                </div>
                <div class="pick-up-information-header">
                  <div class="pick-up-information-top">
                    <div class="pick-up-information-item p15-l">
                      <div class="pick-up-warehouse">
                        {% if pickUpInfo.pick_up_status %}
                          Confirmed Pick-up Warehouse
                        {% else %}
                          Requested Pick-up Warehouse
                        {% endif %}
                      </div>
                      <div class="pick-up-info">{{ warehouseInfo.WarehouseCode}}</div>
                    </div>
                    <div class="pick-up-information-item">
                      <div class="pick-up-warehouse">
                        {% if  pickUpInfo.pick_up_status %}
                          Confirmed Pick-up Date
                        {% else %}
                          Requested Pick-up Date
                        {% endif %}
                      </div>
                      <div class="pick-up-info">{{ pickUpInfo.apply_date }}</div>
                    </div>
                    <div class="pick-up-information-item">
                      <div class="pick-up-warehouse">
                        {% if  pickUpInfo.pick_up_status %}
                          Confirmed Pick-up Address
                        {% else %}
                          Requested Pick-up Address
                        {% endif %}
                      </div>
                      <div class="pick-up-info">{{ warehouseInfo.full_address}}</div>
                    </div>
                  </div>
                  <div class="pick-up-information-bottom m20-t">
                    <div class="pick-up-information-item p15-l">
                      <div class="pick-up-warehouse">Pick-up Person's Name</div>
                      <div class="pick-up-info">{{ pickUpInfo.user_name}}</div>
                    </div>
                    <div class="pick-up-information-item">
                      <div class="pick-up-warehouse">Pick-up Person's Contact Number</div>
                      <div class="pick-up-info">{{ pickUpInfo.user_phone}}</div>
                    </div>
                    <div class="pick-up-information-item">
                      <div class="pick-up-warehouse">Require Palletized Service?</div>
                      <div class="pick-up-info">{% if pickUpInfo.need_tray %} Yes {% else %} No {% endif %}</div>
                    </div>
                    <div class="pick-up-information-item">
                      <div class="pick-up-warehouse">Accept Warehouse Location Adjustment?</div>
                      <div class="pick-up-info">{% if pickUpInfo.can_adjust %} Yes {% else %} No {% endif %}</div>
                    </div>
                  </div>
                </div>
                <div class="pick-up-information-list m20-t">
                  <table>
                    <thead>
                    <tr>
                      <td width='20%' class="text-left-padding40">Item Code</td>
                      <td width='20%'>Qty</td>
                      <td width='20%'>Sub-item Code</td>
                      <td width='20%'>Sub-item Qty</td>
                      <!--待取货：显示托盘数-->
                      {% if pickUpInfo.stock_tray_num %}
                        <td width='20%'>Number of Pallets Used</td>
                      {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,value in productInfo %}
                      <!--new order下不显示子item code信息-->
                      {% if base_info['order_status'] == 1 %}
                        {% if value['crossRow'] %}
                          <tr>
                            <td class="text-left-padding40">
                              <span class="form-display sku-display">{{ value.itemCode }}</span>
                              {% if itemTags[value.itemCode] %}
                                {% for tagDetail in itemTags[value.itemCode] %}
                                  {{ tagDetail }}
                                {% endfor %}
                              {% endif %}
                            </td>
                            <td class="border-right">{{ value['qty'] }}</td>
                            <td></td>
                            <td></td>
                          </tr>
                        {% endif %}
                      {% else %}
                        <tr>
                          {% if value['crossRow'] %}
                            <td rowspan="{{ value['crossRow'] }}" class="text-left-padding40">
                              <span class="form-display sku-display">{{ value.itemCode }}</span>
                              {% if itemTags[value.itemCode] %}
                                {% for tagDetail in itemTags[value.itemCode] %}
                                  {{ tagDetail }}
                                {% endfor %}
                              {% endif %}
                            </td>
                          {% endif %}
                          {% if value['crossRow'] %}
                            <td rowspan="{{ value['crossRow'] }}" class="border-right">
                              {{ value['qty'] }}
                            </td>
                          {% endif %}
                          <td>{{ value['childItemCode'] }}</td>
                          <td>{{ value['childQty'] }}</td>
                          <!--待取货：显示托盘数-->
                          {% if pickUpInfo.stock_tray_num and key==0 %}
                            <td rowspan="{{ productInfoLineCount }}"
                                class="border-left">{{ pickUpInfo.stock_tray_num }}</td>
                          {% endif %}
                        </tr>
                      {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            {% endif %}

            <!--download BOL File -->
            {% if pickUpBolFiles %}
              <div class="download-bol-file m20-t">
                <div class="down-img-list">
                  {% for file in pickUpBolFiles %}
                    <div class="down-img-list-item">
                      <div class="down-img">
                        <img src="/image/product/downLoad-bol.jpg" width="129" height="129"/>
                        <div class="bol-file-bk">BOL File</div>
                        <div class="bol-file-bk-full">
                          <i class="giga icon-V10_chakan" onclick='viewShow("{{ file.filePath }}")'></i>
                          <a class="color-ff xia-zai-a" href="{{ file.downloadUrl }}"><i
                              class="giga icon-xiazai"></i></a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  <div class="download-hint">
                  <span class="down-hint-bk">
                    <i class="giga icon-jinggao"></i> 
                    <span class="hint">Please have the BOL with you when picking up the goods</span>
                  </span>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if pickUpFiles %}
              <div class="download-bol-file m20-t">
                <div class="down-img-list">
                  {% for key,file in pickUpFiles %}
                    <div class="down-img-list-item">
                      <div class="down-img">
                        <img src="{{ file.backImg }}" width="129" height="129"/>
                        <div class="bol-file-bk">Supporting File {{ key+1 }}</div>
                        <div class="bol-file-bk-full">
                          <i class="giga icon-V10_chakan" onclick='viewShow("{{ file.filePath }}")'></i>
                          <a class="color-ff xia-zai-a" href="{{ file.downloadUrl }}"><i
                              class="giga icon-xiazai"></i></a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}

            <!--to-be-confirmed-order-->
            <!--取货信息待确认 或者 在取货信息待确认下执行了cancel -->
            {% if originPickUpInfo and storePickUpInfo %}
              <div class="to-be-confirmed-order">
                <div class="compare-order-list">
                  <div class="compare-order-list-left">
                    <div class="left-header">Requested Pick-up Information</div>
                    <div class="left-content">
                      <table class="table">
                        <thead>
                        <tr>
                          <td class="text-left-padding">Item Code</td>
                          <td>Qty</td>
                          <td>Sub-item Code</td>
                          <td>Sub-item Qty</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for value in originPickUpInfo['lines'] %}
                          <tr>
                            {% if value.crossRow %}
                              <td rowspan="{{ value.crossRow }}" class="text-left">
                                <span>{{ value.itemCode }}</span>
                                {% if itemTags[value.itemCode] %}
                                  {% for tagDetail in itemTags[value.itemCode] %}
                                    {{ tagDetail }}
                                  {% endfor %}
                                {% endif %}
                              </td>
                            {% endif %}
                            {% if value.crossRow %}
                              <td rowspan="{{ value.crossRow }}"
                                  class="text-bold border-right">{{ value.qty }}</td>
                            {% endif %}
                            <td>{{ value.childItemCode }}</td>
                            <td>{{ value.childQty }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      <div class="compare-pick-up-information">
                        <div class="width300">
                          <div class="pick-up-warehouse">Requested Pick-up Warehouse</div>
                          <div class="pick-up-info">{{ originPickUpInfo.warehouseCode}}</div>
                        </div>
                        <div class="flex-custom">
                          <div class="pick-up-warehouse">Requested Pick-up Date</div>
                          <div class="pick-up-info">{{ originPickUpInfo.applyDate }}</div>
                        </div>
                        <div class="m16-t">
                          <div class="pick-up-warehouse">Requested Pick-up Address</div>
                          <div class="pick-up-info">{{ originPickUpInfo.warehouseFullAddress}}</div>
                        </div>
                        <div class="m20-t full-width flex-start">
                          <div class="width130">
                            <div class="pick-up-warehouse">Pick-up Person's Name</div>
                            <div class="pick-up-info">{{ pickUpInfo.user_name}}</div>
                          </div>
                          <div class="width180">
                            <div class="pick-up-warehouse">Pick-up Person's Contact Number</div>
                            <div class="pick-up-info">{{ pickUpInfo.user_phone}}</div>
                          </div>
                          <div class="flex-custom">
                            <div class="pick-up-warehouse">Require Palletized Service?</div>
                            <div class="pick-up-info">{% if pickUpInfo.need_tray %} Yes {% else %} No {% endif %}</div>
                          </div>
                        </div>
                        <div class="m20-t">
                          <div class="pick-up-warehouse">Accept Warehouse Location Adjustment?</div>
                          <div class="pick-up-info">{% if pickUpInfo.can_adjust %} Yes {% else %} No {% endif %}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="compare-order-list-right">
                    <div class="right-header">Available Warehouse Pick-up Information</div>
                    <div class="right-height">
                    <div class="right-content">
                      <table class="table">
                        <thead>
                        <tr>
                          <td class="text-left">Item Code</td>
                          <td>Qty</td>
                          <td>Sub-item Code</td>
                          <td>Sub-item Qty</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for value in storePickUpInfo['lines'] %}
                          <tr>
                            {% if value.crossRow %}
                              <td rowspan="{{ value.crossRow }}" class="text-left">
                                <span>{{ value.itemCode }}</span>
                                {% if itemTags[value.itemCode]  %}
                                  {% for tagDetail in itemTags[value.itemCode] %}
                                    {{ tagDetail }}
                                  {% endfor %}
                                {% endif %}
                              </td>
                            {% endif %}
                            {% if value.crossRow %}
                              {# 判断当前qty 是否发生变化 =>有变化  class 增加 color-blue #}
                              <td rowspan="{{ value.crossRow }}"
                                  class="text-bold  border-right {% if storePickUpInfo['itemCodeAndQty'][value.itemCode] != originPickUpInfo['itemCodeAndQty'][value.itemCode] %} color-blue {% endif %}">
                                {{ value.qty }}
                              </td>
                            {% endif %}
                            <td>{{ value.childItemCode }}</td>
                            <td class="{% if storePickUpInfo['itemCodeAndQty'][value.itemCode] != originPickUpInfo['itemCodeAndQty'][value.itemCode] %} color-blue {% endif %}">{{ value.childQty }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      <div class="compare-pick-up-information">
                        <div class="width300">
                          <div class="pick-up-warehouse">Available Pick-up Warehouse</div>
                          <div
                            class="pick-up-info {% if storePickUpInfo.WarehouseID != originPickUpInfo.WarehouseID %} pick-up-date {% endif %}">{{ storePickUpInfo.warehouseCode}}</div>
                        </div>
                        <div class="flex-custom">
                          <div class="pick-up-warehouse">Available Pick-up Date</div>
                          <div class="pick-up-info {% if storePickUpInfo.applyDate != originPickUpInfo.applyDate %} pick-up-date {% endif %}">{{ storePickUpInfo.applyDate }}</div>
                        </div>
                        <div class="m16-t">
                          <div class="pick-up-warehouse">Available Pick-up Address</div>
                          <div class="pick-up-info {% if storePickUpInfo.WarehouseID != originPickUpInfo.WarehouseID %} pick-up-date {% endif %}">{{ storePickUpInfo.warehouseFullAddress}}</div>
                        </div>
                      </div>
                    </div>
                    <!--取货信息待确认-->
                    {% if pickUpInfoTbc %}
                      <div class="btn-groups">
                        <a class="oris-button oris-button-default cancel-btn"
                           onclick="cancelConfirmDialog_corderInfo({{ base_info['id'] }},'{{ base_info['order_id'] }}',{{ base_info['order_status'] }},'{{ base_info['order_date'] }}','{{ pickUpInfo.pick_up_status }}',{{ hasVirtualPayment }})">Cancel
                          Order</a>
                        <a class="oris-button confirm-btn" onclick="confirm({{ base_info['id'] }})">Confirm</a>
                      </div>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}

            <!--order-list-->
            <div class="order-list">
              <label class="order-list-header"><i class="fa fa-list-ul"></i> Item List</label>
              <table class="table main table-hover">
                <thead>
                <tr>
                  <th>No.</th>
                  <th>Item Code</th>
                  <th>QTY</th>
                  <th>Total Purchase Amount</th>
                  <th>RMA ID</th>
                  <th>Item Comment</th>
                  <th>Purchase Order</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in item_list %}
                  <tr>
                    <td>#</td>
                    <td>
                      <span class="form-display sku-display">
                        {% if value.tag %}
                          {{ value.item_code }}
                          {% for tagDetail in value.tag %}
                            {{ tagDetail }}
                          {% endfor %}
                        {% else %}
                          {{ value.item_code }}
                        {% endif %}
                      </span>
                    </td>
                    <td class="text-price">{{ value.qty }}</td>
                    <td class="text-price">
                      {% if value.discount_amount > 0 %}
                        <span>{{ value.final_total_price }}</span>
                        <br/><span class="through-price">{{ value.total_price }}</span>
                      {% else %}
                        <span>{{ value.total_price }}</span>
                      {% endif %}
                    </td>
                    <td class="rma-id">
                      {% for ks,vs in value['rma_order_id_list'] %}
                        <a onmouseover="this.style.textDecoration='underline';"
                           onmouseout="this.style.textDecoration='none';"
                           style="text-decoration: none;cursor: pointer;"
                           href="index.php?route=account/rma_management&filter_rma_id={{ vs }}&tab_index=2">{{ vs }}
                          {% if vs %}
                            <i class="giga icon-table-link"></i>
                          {% endif %}
                        </a><br/>
                      {% endfor %}
                    </td>
                    <td>{{ value.line_comments }}</td>
                    <td>
                      {% if value['purchase_order_id'] != null %}
                        <a class="btn btn-info btn-yzc-default"
                           data-toggle="collapse"
                           href="#collapse_{{ key }}"
                           aria-expanded="false"
                           aria-controls="#collapse_{{ key }}"
                           onclick="changeIcon('{{ key }}')"
                           style="border-width: 0;width: 28px;height: 28px;text-align: center;padding: 0px;line-height: 28px;">
                          <i class="giga icon-action-stretch" style="font-size:16px;"
                             id="icon_down_{{ key }}"></i>
                          <i class="giga icon-arrow-compress" style="font-size: 16px;display: none"
                             id="icon_up_{{ key }}"></i>
                        </a>
                      {% endif %}
                    </td>
                  </tr>
                  {% if value['purchase_order_id'] != null %}
                    <tr>
                      <td colspan="7" style="padding: 0">
                        <div id="collapse_{{ key }}" class="collapse" style="margin-bottom: -20px;">
                          <table class="table main">
                            <thead>
                            <tr>
                              <th>Purchase Order ID</th>
                              <th>Item Code</th>
                              <th>Product Image</th>
                              <th>Store(Brand)</th>
                              <th>QTY</th>
                              <th>Unit Price <br> After Discount</th>
                              <th class="fulfillment-hint"> Fulfillment Per Unit
                                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title=""
                                   data-original-title="Fulfillment fee includes shipping fee and packing fee."></i>
                              </th>
                              <th>Total Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k,v in value.purchase_list %}
                              <tr>
                                <td>
                                  <a onmouseover="this.style.textDecoration='underline';"
                                     onmouseout="this.style.textDecoration='none';"
                                     style="text-decoration: none;cursor: pointer;"
                                     href="index.php?route=account/order/purchaseOrderInfo&order_id={{ v.purchase_order_id }}">{{ v.purchase_order_id }}
                                    {% if v.purchase_order_id %}<i class="giga icon-table-link"></i>{% endif %}
                                  </a>
                                  {% if (v.delivery_type==2) %}
                                    <i class="giga icon-cwf" style="color: #1f5268;font-size: 15px;"
                                       data-toggle="tooltip" data-original-title="{{ cwf }}"></i>
                                  {% endif %}
                                </td>
                                <td>
                                  {% if v.transaction_type.type_id in [2,3] %}
                                    <a href="{{ v.transaction_type.url }}" target="_blank">
                                      {{ v.transaction_type.icon }}
                                    </a>
                                  {% endif %}
                                  {{ v.sku }}
                                </td>
                                <td><img class="pic-w-40" src="{{ v.image }}"></td>
                                <td>{{ v.screenname }} {% if  v.name %}({{ v.name }}){% endif %}</td>
                                <td class="text-price">{{ v.qty }}</td>
                                <td class="text-price">
                                  {% if isEurope %}
                                    <i class="giga icon-vat"></i>
                                  {% endif %}
                                  {{ v['unit_price_show'] }}
                                  {% if v['amount_price_per'] != 0 %}
                                    <br/>
                                    (Discount <span style="color: red">{{ v['amount_price_per_show'] }}</span>)
                                  {% endif %}
                                </td>
                                <td class="text-price">
                                  <div id="freight">   {{ v['freight_show'] }}
                                    <ul class="dropdown-freight">
                                      {% if isCollectionFromDomicile %}
                                        <span
                                          style="color: #333333;border-bottom: 1px solid #e5e5e5;font-weight: bold;padding: 5px 0 5px 0; display: inline-block;width: 250px;">Fulfillment for {{ service_type[1] }} service</span>
                                        <br/>
                                      {% else %}
                                        <span
                                          style="color: #333333;border-bottom: 1px solid #e5e5e5;font-weight: bold;padding: 5px 0 5px 0;  display: inline-block;width: 250px;">Fulfillment for {{ service_type[0] }} service</span>
                                        <br/>
                                      {% endif %}
                                      <span
                                        style="border-bottom: 1px solid #e5e5e5;color: #333333;padding: 5px 0 5px 0; display: inline-block;font-weight: bold;width: 250px;">Shipping Fee <span
                                          style="color: #183463;margin-left: 50px">{{ v.freight_tips_show }}</span></span><br/>
                                      <span
                                        style="color: #333333;padding: 5px 0 5px 0;font-weight: bold;display: inline-block;width: 250px;">Packaging Fee <span
                                          style="color: #183463;margin-left: 50px"> {{ v.package_fee_tips_show }}</span></span>
                                    </ul>
                                  </div>
                                </td>
                                <td class="text-price">
                                  {% if v.discount_amount > 0 %}
                                    <span>{{ v.final_total_price_show }}</span>
                                    <br/>
                                    <span class="through-price"> {{ v['total_price_show'] }}</span>
                                  {% else %}
                                    <span>{{ v['total_price_show'] }}</span>
                                  {% endif %}
                                </td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
                {% if item_total_price|slice(1) != '0.00' and item_total_price|slice(0,-1) != '0.00' %}
                  <tr>
                    <td class="text-right" colspan="6">{{ text_sales_details['total_price_s'] }}</td>
                    <td>
                      <span style="color: red">{{ item_final_total_price }}</span>
                    </td>
                  </tr>
                {% endif %}
                </tbody>
              </table>
            </div>

            <!--order-comment-->
            <div class="order-comments">
              <label><i class="iconfont icon-beizhu"></i> Order Comments</label>
              <textarea readonly="">{{ base_info.customer_comments }}</textarea>
            </div>
            <div class="text-center mt-4">
              <a href="{{ href_go_back }}" class="btn btn-default">Go Back</a>
            </div>

            <!--历史申请信息-->
            <div class="history-pick-up-information" id="history-pick-up-information">
              <div class="history-information-title">
                <div class="history-information-warehouse">Requested Pick-up Warehouse: <span
                    class="text-bold default-color">{{ oldPickUpInfo.warehouseCode}}</span></div>
                <div class="history-information-pickup-date">Requested Pick-up Date: <span
                    class="text-bold default-color">{{ oldPickUpInfo.applyDate }}</span></div>
              </div>
              <div class="history-information-list">
                <table class="table">
                  <thead>
                  <tr>
                    <td width='25%' class="text-left-padding24">Item Code</td>
                    <td width='25% '>Qty</td>
                    <td width='25%'>Sub-item Code</td>
                    <td width='25%'>Sub-item Qty</td>
                  </tr>
                  </thead>
                  <tbody>
                  {% for value in oldPickUpInfo['lines'] %}
                    <tr>
                      {% if value.crossRow %}
                        <td rowspan="{{ value.crossRow }}" class="text-left-padding24">
                          <span>{{ value.itemCode }}</span>
                          {% if itemTags[value.itemCode]  %}
                            {% for tagDetail in itemTags[value.itemCode] %}
                              {{ tagDetail }}
                            {% endfor %}
                          {% endif %}
                        </td>
                      {% endif %}
                      {% if value.crossRow %}
                        <td rowspan="{{ value.crossRow }}"
                            class="text-bold border-right">{{ value.qty }}</td>
                      {% endif %}
                      <td>{{ value.childItemCode }}</td>
                      <td>{{ value.childQty }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{# 取消订单弹窗 #}
{% include "yzcTheme/template/account/corder_info_cancel_order_modal.twig" %}

<script>
  function changeIcon(id) {
    if ($("#icon_down_"+id).css('display') == 'none') {
      $("#icon_down_"+id).css('display', 'block');
      $("#icon_up_"+id).css('display', 'none');
    } else {
      $("#icon_up_"+id).css('display', 'block');
      $("#icon_down_"+id).css('display', 'none');
    }
  }

  function confirm(id) {
    layer.open({
      type: 1,
      title: 'Notice',
      closeBtn: 1,
      skin: 'oris-layer',
      shadeClose: true,
      offset: 'auto',
      area: ['400px', 'auto'],
      content: "Do you confirm the pick-up information provided by the warehouse?",
      btn: ['OK'],
      yes: function () {
        layer.closeAll();
        // 获取上门取货编辑信息
        block.blockUI();
        $.ajax({
          type: 'POST',
          url: '{{ url('account/customer_order/confirmPickingInfoHandle') }}',
          data: {sales_order_id: id},
          success: function (json) {
            var msgDiv = '<div class="success"><i class="giga icon-complete"></i>' + json['msg'] + '<div>';
            $('.cancel-btn').attr('disabled', true);
            $('.confirm-btn').attr('disabled', true);
            if (json['code'] == 200) {
              $.toast({
                heading: false,
                text: json['msg'],
                position: 'top-center',
                showHideTransition: 'fade',
                icon: 'success',
                hideAfter: 3000,
                allowToastClose: false,
                loader: false,
                afterHidden: function() {
                  window.location.reload();
                }
              });
            } else {
              $.toast({
                heading: false,
                text: json['msg'],
                position: 'top-center',
                showHideTransition: 'fade',
                icon: 'error',
                hideAfter: 3000,
                allowToastClose: false,
                loader: false,
                afterHidden: function() {
                  window.location.reload();
                }
              });
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            $.toast({
              heading: false,
              text: xhr.responseText,
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'error',
              hideAfter: 3000,
              allowToastClose: false,
              loader: false
            });
            block.unBlockUI();
          }
        })
      }
    });
  }

  //查看历史信息
  function getHistoryInformation() {
    layer.open({
      type: 1,
      title: 'Historical Application Information',
      closeBtn: 1,
      skin: 'oris-layer',
      shadeClose: true,
      offset: 'auto',
      area: ['800px', 'auto'],
      content: $("#history-pick-up-information"),
      btn: ['OK'],
      yes: function () {
        layer.closeAll();
        // layer.load(1, {
        //   shade: [0.1, '#fff'] //0.1透明度的白色背景
        // });
      }
    });
  }
  function viewShow(url){
    window.open(url,'_blank');
    stopBubbling1(event); //防止冒泡
  }
  function stopBubbling1(e) {
    e = window.event || e;
    if (e.stopPropagation) {
      e.stopPropagation();      //阻止事件 冒泡传播
    } else {
      e.cancelBubble = true;   //ie兼容
    }
  }
</script>
