{{ header }}
{{ css(['css/common/common.css']) }}
<link rel="stylesheet" href="catalog/view/javascript/corderTemp/iconfont.css">
<style>
  .page-seller-portal .through-price {
    text-decoration: line-through;
    color: #888 !important;
    font-size: 0.9em !important;
  }
  .btn-yzc-default {
    background-color: #fff;
    color: #000;
  }
  .btn-yzc-default:hover{
    background-color: #000 !important;
    color: #fff !important;
  }

  .float_tips_area {
    position:absolute;
    background-color: #ffffff;
    border-radius: 5px;
    display: none;
    right:0;
    width: 250px;

    text-align: center;
    z-index: 1000;
  }

  .mgf_tips_icons{
    display:inline-block;
  }

  .mgf_tips_icons:hover .float_tips_area{
    display:block;
    border: 1px solid #dedede;
  }

  .s2s {
    color: #fff;
    display: inline;
    background-color: #FA6400;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 3px;
    /*margin: 10px 5px;*/
    width: 30px;
    /*float: left;*/
  }
  #page-sales-order-management-detail .info-wrapper ul.service-msg{
    display: flex;
  }
  #page-sales-order-management-detail .info-wrapper ul.service-msg li{
    height: 91px;
    width: auto;
  }

  #page-sales-order-management-detail .info-wrapper ul.service-msg .type{
   flex: 1;
  }
  #page-sales-order-management-detail .info-wrapper ul.service-msg .service{
    width: 300px;
  }
  .carrier-status {
    color: #3a75dc;
  }

  .carrier-status:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .my_layer .layui-layer-content{
    margin: 0;
    padding: 0;
  }

  .pic-w-40{
    width: 40px;
    height: 40px;
  }

  .oris-circle{
    display: inline-block !important;
  }

  li.service div>a{
    display: inline-block;
    max-width: 280px;
  }
  .limit-discount {
    font-style: italic;
  }
  .limit-discount .percent-dis {
    color: #FF6600;
    font-weight: bold;
  }
</style>


<div id="page-sales-order-management-detail" class="container page-seller-portal">
  {#菜单#}
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}
  {#END 菜单#}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Sales Order Details</h1>
        {#<div id="content">#}
        <div class="tab-content main mb-4" style="float: left;">
          <div role="tabpanel" class="tab-pane active" id="tab-1">
            <div class="bg-white p-2">
              <div class="info-wrapper mb-4 mt-2">
                <div class="row m0" style="margin-bottom: 10px;">
                  <ul class="service-msg">
                    <li class="type">
                      <span><i class="giga icon-summary-po-id"></i></span>
                      <span class="title">{{ text_sales_details['sales_order_id'] }}</span>
                      <span class="value">
                        {{ base_info['order_id'] }}
                        {% if base_info.is_s2s %}
                          <p class="s2s">S2S</p>
                        {% endif %}
                      </span>
                    </li>
                    <li class="type">
                      <span><i class="giga icon-summary-status"></i></span>
                      <span class="title">{{ text_sales_details['order_status'] }}</span>
                      {% if base_info['order_status'] == 1 %}
                        {% if base_info.order_mode == 1 %}
                          <span class="value" style="color:#337AB7;">To Be Paid</span>
                        {% else %}
                          <span class="value" style="color:#337AB7;">{{ base_info['order_status_name'] }}</span>
                        {% endif %}

                      {% elseif base_info['order_status'] == 2 %}
                        <span class="value" style="color:#008000">{{ base_info['order_status_name'] }}</span>
                      {% elseif base_info['order_status'] == 4 %}
                        <span class="value" style="color:#666666">{{ base_info['order_status_name'] }}</span>
                      {% elseif item['order_status'] == 8 %}
                      {% elseif base_info['order_status'] == 16 %}
                        <span class="value" style="color:#666666">{{ base_info['order_status_name'] }}</span>
                      {% elseif base_info['order_status'] == 32 %}
                        <span class="value" style="color:#666666">{{ base_info['order_status_name'] }}</span>
                      {% elseif base_info['order_status'] == 64 %}
                        <span class="value" style="color:#008000">{{ base_info['order_status_name'] }}</span>
                      {% elseif base_info['order_status'] == 127 %}
                        <span class="value" style="color:#fA6400">{{ base_info['order_status_name'] }}</span>
                      {% elseif base_info['order_status'] == 128 %}
                        <a data-toggle="tooltip" style="cursor: pointer" onclick="redirectToDeliveryList('{{ base_info.id }}')" title="{{ text_shared_info }}">{{ base_info['order_status_name'] }}<i class="giga icon-V10-wenhaotishi" style="margin-left: 5px;" aria-hidden="true"></i></a>
                      {% elseif base_info['order_status'] == 129 %}
                        <span class="value" style="color:#FF0000">{{ base_info['order_status_name'] }}</span>
                      {% endif %}
                      {{ order_status_label }}
                    </li>
                    <li class="type">
                      <span><i class="giga icon-summary-day"></i></span>
                      <span class="title">{{ text_sales_details['order_date'] }}</span>
                      <span class="value">{{ base_info['create_time'] }}</span>
                    </li>
                    <li class="type">
                      <span><i class="giga icon-summary-store"></i></span>
                      <span class="title">{{ text_sales_details['order_from'] }}</span>
                      <span class="value">{{ base_info['orders_from'] }}</span>
                    </li>
                    {% if  safeguard_bills is not empty %}
                      <li class="service">
                        <span><i class="giga icon-v10bzfybz"></i></span>
                        <div class="">
                          {% for safeguard_bill in  safeguard_bills %}
                            {% if safeguard_bill.status==2 %}
                              {% set  service_desc_str='Canceled' %}
                            {% elseif safeguard_bill.expiration_time< now %}
                              {% set  service_desc_str='Invalid' %}
                            {% else %}
                              {% set  service_desc_str='Active' %}
                            {% endif %}
                            <span
                                class="oris-circle {% if safeguard_bill.status==2  or safeguard_bill.expiration_time< now %} oris-bg-info {% else %}oris-bg-success {% endif %} "
                                data-toggle="tooltip"
                                title="" data-original-title="{{ service_desc_str }}"></span>
                            <a
                                href="{{ url('account/safeguard/bill',{'filter_no': safeguard_bill.safeguard_no}) }}"
                                class="oris-link">{{ safeguard_bill.safeguardConfig.title }}</a><br>
                          {% endfor %}
                        </div>
                      </li>
                    {% endif %}
                  </ul>
                </div>
                <div style="float: left;width: 100%;">
                  <label style='font-weight: bold;font-size: 16px;margin-top: 20px;'><i style="font-size: 16px;" class="fa fa-list-ul"></i> {{ text_sales_details['item_list'] }}</label>
                  <table class="table main table-hover" style="">
                    <thead>
                    <tr>
                      <th class="text-center">{{ text_sales_details['number'] }}</th>
                      <th class="text-center">{{ text_sales_details['item_code'] }}</th>
                      <th class="text-center">{{ text_sales_details['qty'] }}</th>
                      <th class="text-center">Total Purchase Amount</th>
                      <th class="text-center">{{ text_sales_details['rma_id'] }}</th>
                      <th class="text-center">{{ text_sales_details['item_comment'] }}</th>
                      <th class="text-center">{{ text_sales_details['purchase_order'] }}</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% for key,value in item_list %}
                      <tr>
                        <td class="text-center" >#</td>
                        <td class="text-center" >
                          <span class="form-display sku-display">
                            {% if value.tag %}
                              {{ value.item_code }}
                              {% for tagDetail in value.tag %}
                                {{ tagDetail }}
                              {% endfor %}
                            {% else %}
                              {{ value.item_code }}
                            {% endif %}
                          </span>
                        </td>
                        <td class="text-center text-price" >{{ value.qty }}</td>
                        <td class="text-center text-price" >
                          {% if value.discount_amount > 0 %}
                            <span>{{ value.final_total_price }}</span>
                            <br/><span class="through-price">{{ value.total_price }}</span>
                          {% else %}
                            <span>{{ value.total_price }}</span>
                          {% endif %}
                        </td>
                        <td class="text-center" >
                          {% for ks,vs in value['rma_order_id_list'] %}
                            <a onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"  style="text-decoration: none;cursor: pointer;" href="index.php?route=account/rma_management&filter_rma_id={{ vs }}">{{ vs }}
                              {% if vs %}
                                <i class="giga icon-table-link"></i>
                              {% endif %}
                            </a><br/>
                          {% endfor %}
                        </td>
                        <td class="text-center" >{{ value.line_comments }}</td>
                        <td class="text-center" >
                          {% if value['purchase_order_id'] != null %}
                            <a class="btn btn-info btn-yzc-default"
                               data-toggle="collapse"
                               href="#collapse_{{ key }}"
                               aria-expanded="false"
                               aria-controls="#collapse_{{ key }}"
                               onclick="changeIcon('{{ key }}')"
                               style="border-width: 0;width: 28px;height: 28px;text-align: center;padding: 0px;line-height: 28px;">
                              <i class="giga icon-action-stretch" style="font-size:16px;"
                                 id ="icon_down_{{ key  }}"></i>
                              <i class="giga icon-arrow-compress" style="font-size: 16px;display: none"
                                 id ="icon_up_{{ key  }}"></i>
                            </a>
                          {% endif %}
                        </td>
                      </tr>
                      {% if value['purchase_order_id'] != null %}
                        <tr>
                          <td colspan="7" style="padding: 0">
                            <div id="collapse_{{ key }}" class="collapse" style="margin-bottom: -20px;">
                              <table class="table main">
                                <thead>
                                <tr>
                                  <th class="text-center" >{{ text_sales_details['purchase_order_id'] }}</th>
                                  <th class="text-center" >{{ text_sales_details['item_code'] }}</th>
                                  <th class="text-center" >Product Image</th>
                                  <th class="text-center" >{{ text_sales_details['store'] }}</th>
                                  <th class="text-center" >{{ text_sales_details['qty'] }}</th>
                                  {#<td class="text-center" >{{ text_sales_details['unit_price'] }}</td>#}
                                  <th class="text-center" >{{ text_sales_details['unit_price'] }}</th>
                                  {% if isEurope %}
                                    <th class="text-center" >{{ text_sales_details['service_fee'] }}</th>
                                  {% endif %}
                                  <th class="text-center"> Fulfillment Per Unit
                                    <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer;font-size: 12px" title="" data-original-title="Fulfillment fee includes shipping fee and packing fee."></i>
                                  </th>
                                  <th class="text-center" >Total Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for k,v in value.purchase_list %}
                                  <tr>
                                    <td class="text-center" >
                                      <a onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"  style="text-decoration: none;cursor: pointer;" href="index.php?route=account/order/purchaseOrderInfo&order_id={{ v.purchase_order_id }}">{{ v.purchase_order_id }}
                                        {% if v.purchase_order_id %}<i class="giga icon-table-link"></i>{% endif %}
                                      </a>
                                      {% if (v.delivery_type==2) %}
                                        <i class="giga icon-cwf" style="color: #1f5268;font-size: 15px;" data-toggle="tooltip" data-original-title="{{ cwf }}"></i>
                                      {% endif %}
                                    </td>
                                    <td class="text-center" >
                                      {% if v.transaction_type.type_id in [2,3] %}
                                        <a href="{{ v.transaction_type.url }}" target="_blank">
                                          {{ v.transaction_type.icon }}
                                        </a>
                                      {% endif %}
                                      {{ v.sku}}
                                    </td>
                                    <td class="text-center" ><img class="pic-w-40" src="{{ v.image }}"></td>
                                    <td class="text-center" >{{ v.screenname }} {% if  v.name %}({{ v.name }}){% endif %}</td>
                                    <td class="text-center text-price" >{{ v.qty }}</td>
                                    <td class="text-center text-price" >
                                      {# {% if isEurope %}
                                                       <i class="giga icon-vat"></i>
                                                     {% endif %}#}
                                      {{ v['unit_price_show'] }}
                                      {%  if v['amount_price_per'] != 0  %}
                                        <br/>
                                        (Discount <span style="color: red">{{ v['amount_price_per_show'] }}</span>)
                                      {%  endif %}
                                      {% if v['discountShow'] != '' %}
                                        <br/>
                                        <span class="limit-discount">Discount:<span class="percent-dis"> {{ v['discountShow'] }}% </span>OFF</span>
                                      {% endif %}
                                    </td>
                                    {% if isEurope %}
                                      <td class="text-center text-price" >
                                        {{ v['service_fee_show'] }}
                                        {%  if v['amount_service_fee_per'] != 0 %}
                                          <br/>
                                          (Discount <span style="color: red">{{ v['amount_service_fee_per_show'] }}</span>)
                                        {%  endif %}
                                        {% if v['discountShow'] != '' %}
                                          <br/>
                                          <span class="limit-discount">Discount:<span class="percent-dis"> {{ v['discountShow'] }}% </span>OFF</span>
                                        {% endif %}
                                      </td>
                                    {% endif %}
                                    <td class="text-center text-price" >
                                      <div id="freight">   {{ v['freight_show'] }}
                                        <ul class="dropdown-freight">
                                          {% if isCollectionFromDomicile %}
                                            <span style="color: #333333;border-bottom: 1px solid #e5e5e5;font-weight: bold;padding: 5px 0 5px 0; display: inline-block;width: 250px;">Fulfillment for {{ service_type[1] }} service</span><br/>
                                          {% else %}
                                            <span style="color: #333333;border-bottom: 1px solid #e5e5e5;font-weight: bold;padding: 5px 0 5px 0;  display: inline-block;width: 250px;">Fulfillment for {{ service_type[0] }} service</span><br/>
                                          {% endif %}
                                          <span style="border-bottom: 1px solid #e5e5e5;color: #333333;padding: 5px 0 5px 0; display: inline-block;font-weight: bold;width: 250px;">Shipping Fee <span style="color: #183463;margin-left: 50px">{{ v.freight_tips_show }}</span></span><br/>
                                          <span style="color: #333333;padding: 5px 0 5px 0;font-weight: bold;display: inline-block;width: 250px;">Packing Fee <span style="color: #183463;margin-left: 50px"> {{ v.package_fee_tips_show }}</span></span>
                                        </ul>
                                      </div>
                                    </td>
                                    <td class="text-center text-price" >
                                      {% if v.discount_amount > 0 %}
                                        <span>{{ v.final_total_price_show }}</span>
                                        <br/>
                                        <span class="through-price"> {{ v['total_price_show'] }}</span>
                                      {% else %}
                                        <span>{{ v['total_price_show'] }}</span>
                                      {% endif %}
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                    {% if item_total_price|slice(1) != '0.00' and item_total_price|slice(0,-1) != '0.00' %}
                      <tr>
                        <td class="text-right" colspan="6">{{ text_sales_details['total_price_s'] }}</td>
                        <td class="text-center" >
                          <span style="color: red">{{ item_final_total_price }}</span>
                        </td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div>
                <div style="float: left;width: 100%;margin-top: 20px;">
                  <label style='font-weight: bold;font-size: 16px;'><i style="font-size: 16px;" class="fa fa-truck"></i> {{ text_sales_details['shipping_information'] }}</label>
                  <table class="table main table-hover" style="margin: 0 auto;">
                    <thead>
                    <tr>
                      <th class="text-center">{{ text_sales_details['ship_to_name'] }}</th>
                      <th class="text-center">{{ text_sales_details['ship_to_phone'] }}</th>
                      <th class="text-center">{{ text_sales_details['ship_to_email'] }}</th>
                      <th class="text-center">{{ text_sales_details['ship_to_address'] }}</th>
                      {% if country_id == 223 %}
                        <th class="text-center">{{ text_sales_details['ship_to_service'] }}</th>
                      {% endif %}
                      {% if country_id == 107 %}
                        <th class="text-center">{{ text_sales_details['shipped_date'] }}</th>
                      {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="text-center" >
                        {{ base_info.ship_name }}
                        {% if base_info.order_mode != 3 %}
                          {{ base_info.ship_name_tips }}
                        {% endif %}
                      </td>
                      <td class="text-center" >
                        {{ base_info.ship_phone }}
                        {% if base_info.order_mode != 3 %}
                          {{ base_info.ship_phone_tips }}
                        {% endif %}
                      </td>
                      <td class="text-center" >{{ base_info.email }}</td>
                      <td class="text-center" >
                        {{ shipping_address }}
                        {% if base_info.order_mode != 3 %}
                          {{ base_info.ship_address_tips }}
                        {% endif %}
                      </td>
                      {% if country_id == 223 %}
                        <td class="text-center" >
                          {% if base_info.ship_method  %}
                            {{ base_info.ship_method }}
                          {% else %}
                            {{ base_info.ship_service_level }}
                          {% endif %}
                        </td>
                      {% endif %}
                      {% if country_id == 107 %}
                        <td class="text-center" >{{ base_info.shipped_date }}</td>
                      {% endif %}
                    </tr>
                    </tbody>
                  </table>

                  <table class="table main table-hover" style="margin: 0 auto;margin-top: 10px;">
                    <thead>
                    <tr>
                      <th class="text-center">{{ text_sales_details['item_code'] }}</th>
                      <th class="text-center">{{ text_sales_details['qty'] }}</th>
                      <th class="text-center">{{ text_sales_details['sub_item_code'] }}</th>
                      <th class="text-center">{{ text_sales_details['sub_item_qty'] }}</th>
                      <th class="text-center">{{ text_sales_details['item_status'] }}</th>
                      <th class="text-center">{{ text_sales_details['carrier'] }}</th>
                      <th class="text-center">{{ text_sales_details['tracking_number'] }}</th>
                      {% if base_info.order_mode == 3 %}
                        <th class="text-center">{{ text_sales_details['label'] }}</th>
                      {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if base_info.order_mode == 3 %}
                      {% for key,value in shipping_information %}
                        <tr>
                          {% if value['cross_row']  %}
                            <td class="text-center" rowspan="{{ value['cross_row'] }}">
                              {% if value.tag %}
                                <span class="form-display sku-display">{{ value.sku}}
                                  {% for tagDetail in value.tag %}
                                    {{ tagDetail }}
                                  {% endfor %}
                                </span>
                              {% else %}
                                <span class="form-display sku-display">{{ value.sku }}</span>
                              {% endif %}
                            </td>
                          {% endif %}
                          {% if value['cross_row']  %}
                            <td class="text-center" rowspan="{{ value['cross_row'] }}">
                              {{ value['qty'] }}
                            </td>
                          {% endif %}
                          <td class="text-center">{{ value['child_sku'] }}</td>
                          <td class="text-center text-price">{{ value['all_qty'] }}</td>
                          <td class="text-center">
                            {{ value['item_status_name'] }}
                          </td>
                          <td class="text-center">
                            {% for k,v in value['carrier_name'] %}
                              {{ v }}<br/>
                            {% endfor %}
                          </td>
                          <td class="text-center">
                            {% for k,v in value['tracking_number'] %}
                              {%  if value['carrier_name'][0] == 'Fedex' and  value['tracking_status'][k] == 1 %}
                                <a href="{{ text_fedex_homepage }}{{ v }}" target="_blank" class="cpbd" data-clipboard-text="{{ v }}"  style="cursor: pointer;color: #3a75dc" >{{ v }}
                                </a>
                                {% if trackingSearchShow and value['carrier_status'][k] %}
                                  &nbsp;-&nbsp;
                                  <span class="carrier-status" data-order="{{ base_info.order_id }}"
                                        data-tracking="{{ v }}"
                                      {% if value.child_sku %}
                                        data-shipsku="{{ value.child_sku }}"
                                      {% else %}
                                        data-shipsku="{{ value.sku }}"
                                      {% endif %}

                                  >{{ value['carrier_status'][k] }}</span>
                                {% endif %}
                                <br/>
                              {% else %}
                                {{ v }}
                                {% if value['tracking_status'][k] == 0 %}
                                  (invalid)
                                {% endif %}
                                {% if trackingSearchShow and value['carrier_status'][k] %}
                                  &nbsp;-&nbsp;
                                  <span class="carrier-status" data-order="{{ base_info.order_id }}"
                                        data-tracking="{{ v }}"
                                      {% if value.child_sku %}
                                        data-shipsku="{{ value.child_sku }}"
                                      {% else %}
                                        data-shipsku="{{ value.sku }}"
                                      {% endif %}
                                  >{{ value['carrier_status'][k] }}</span>
                                {% endif %}

                                <br/>
                              {% endif %}
                            {% endfor %}
                          </td>
                          {% if base_info.order_mode == 3 %}
                            <td class="text-left">
                              {% if value['store_file_path'][0] %}
                                {% for k,v in value['store_file_path'] %}
                                  <a href="{{ v }}" target="_blank" >[Store]{{ value['store_file_name'][k] }} {% if v %}<i class="giga icon-table-link"></i>{% endif %}</a><br/>
                                {% endfor %}
                              {% endif %}
                              {% if value['file_path'][0] %}
                                {% for k,v in value['file_path'] %}
                                  <a href="{{ v }}" target="_blank" >[Shipping]{{ value['file_name'][k] }} {% if v %}<i class="giga icon-table-link"></i>{% endif %}</a><br/>
                                {% endfor %}
                              {% endif %}
                            </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    {% else %}
                      {% for key,value in shipping_information %}
                        <tr>
                          {% if value['cross_row'] %}
                            <td class="text-center" rowspan="{{ value['cross_row'] }}">
                              {% if value.tag %}
                                <span class="form-display sku-display">{{ value.sku}}
                                  {% for tagDetail in value.tag %}
                                    {{ tagDetail }}
                                  {% endfor %}
                                </span>
                              {% else %}
                                <span class="form-display sku-display">{{ value.sku }}</span>
                              {% endif %}
                            </td>
                          {% endif %}
                          {% if value['cross_row']  %}
                            <td class="text-center" rowspan="{{ value['cross_row'] }}">
                              {{ value['qty'] }}
                            </td>
                          {% endif %}
                          <td class="text-center">{{ value['child_sku'] }}</td>
                          <td class="text-center">{{ value['all_qty'] }}</td>
                          <td class="text-center">
                            {{ value['item_status_name'] }}
                          </td>
                          {% if value['cross_tracking_row'] %}
                            <td class="text-center" rowspan="{{ value['cross_tracking_row'] }}" >
                              {% for k,v in value['carrier_name'] %}
                                {{ v }}<br/>
                              {% endfor %}
                            </td>
                          {% endif %}
                          {% if value['cross_tracking_row'] %}
                            <td class="text-center" rowspan="{{ value['cross_tracking_row'] }}" >
                              {% for k,v in value['tracking_number'] %}
                                {%  if value['carrier_name'][k] == 'Fedex' and value['tracking_status'][k] == 1 %}
                                  <a href="{{ text_fedex_homepage }}{{ v }}" target="_blank" class="cpbd" data-clipboard-text="{{ v }}"  style="color: #3a75dc;cursor: pointer;" >{{ v }}
                                  </a>
                                  {% if trackingSearchShow and  value['carrier_status'][k] %}
                                    &nbsp;-&nbsp;
                                    <span class="carrier-status" data-order="{{ base_info.order_id }}"
                                          data-tracking="{{ v }}"
                                        {% if value.child_sku %}
                                          data-shipsku="{{ value.child_sku }}"
                                        {% else %}
                                          data-shipsku="{{ value.sku }}"
                                        {% endif %}
                                    >{{ value['carrier_status'][k] }}</span>
                                  {% endif %}<br/>
                                {% else %}
                                  {{ v }}
                                  {% if value['tracking_status'][k] == 0 %}
                                    (invalid)
                                  {% endif %}
                                  {% if trackingSearchShow and  value['carrier_status'][k] %}
                                    &nbsp;-&nbsp;
                                    <span class="carrier-status" data-order="{{ base_info.order_id }}"
                                          data-tracking="{{ v }}"
                                        {% if value.child_sku %}
                                          data-shipsku="{{ value.child_sku }}"
                                        {% else %}
                                          data-shipsku="{{ value.sku }}"
                                        {% endif %}
                                    >{{ value['carrier_status'][k] }} </span>
                                  {% endif %}
                                  <br/>
                                {% endif %}
                              {% endfor %}
                            </td>
                          {% endif %}
                          {% if base_info.order_mode == 3 %}
                            <td class="text-left">
                              {% if value['store_file_path'][0] %}
                                {% for k,v in value['store_file_path'] %}
                                  <a href="{{ v }}" target="_blank" >[Store]{{ value['store_file_name'][k] }} {% if v %}<i class="giga icon-table-link"></i>{% endif %}</a><br/>
                                {% endfor %}
                              {% endif %}
                              {% if value['file_path'] %}
                                {% for k,v in value['file_path'][0] %}
                                  <a href="{{ v }}" target="_blank" >[Shipping]{{ value['file_name'][k] }} {% if v %}<i class="giga icon-table-link"></i>{% endif %}</a><br/>
                                {% endfor %}
                              {% endif %}
                            </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    {% endif %}
                    </tbody>
                  </table>
                </div>
                {% if base_info.ship_method == 'ASR' %}
                  <div style="float: left;width: 100%;margin-top: 20px;">
                    <label style='font-weight: bold;font-size: 16px;'><span class="iconfont icon-feiyong"> </span> {{ text_sales_details['signature_service_payment_details'] }}</label>
                    <table class="table main table-hover" style="margin: 0 auto;">
                      <thead>
                      <tr>
                        <th class="text-center">{{ text_sales_details['item_code'] }}</th>
                        <th class="text-center">{{ text_sales_details['qty'] }}</th>
                        <th class="text-center">{{ text_sales_details['sub_item_qty'] }} <i class="giga icon-V10-wenhaotishi" title="The number of sub-items in a combo product." style="cursor: pointer"  data-toggle="tooltip" aria-hidden="true"></i></th>
                        <th class="text-center">{{ text_sales_details['package_qty'] }} <i class="giga icon-V10-wenhaotishi" title="The number of individual packages when a product is shipped. One combo product may contain multiple sub-items.Each sub-item must be packaged separately." style="cursor: pointer"  data-toggle="tooltip" aria-hidden="true"></i></th>
                        <th class="text-center">{{ text_sales_details['price_per_package'] }} <i class="giga icon-V10-wenhaotishi" title="Signature service fee of each package." style="cursor: pointer" data-toggle="tooltip" aria-hidden="true"></i> </th>
                        <th class="text-center">Total Amount</th>
                        <th class="text-center">{{ text_sales_details['transaction_fee'] }}</th>
                        <th class="text-center">{{ text_sales_details['payment_method'] }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% if signature_list %}
                        {% for key,value in signature_list %}
                          <tr>
                            <td class="text-center" >
                              {% if value.tag %}
                                <span class="form-display sku-display">{{ value.item_code}}
                                  {% for tagDetail in value.tag %}
                                    {{ tagDetail }}
                                  {% endfor %}
                                </span>
                              {% else %}
                                <span class="form-display sku-display">{{ value.item_code }}</span>
                              {% endif %}
                            </td>
                            <td class="text-center" >{{ value['qty'] }}</td>
                            <td class="text-center" >{{ value['sub_item_qty'] }}</td>
                            <td class="text-center" >{{ value['package_qty'] }}</td>
                            <td class="text-center" >{{ value['price'] }}</td>
                            <td class="text-center" >{{ value['total'] }}</td>
                            <td class="text-center" >{{ value['poundage'] }}</td>
                            <td class="text-center" >{{ value['payment_method'] }}</td>
                          </tr>
                        {% endfor %}

                      {% else %}
                        <tr>
                          <td class="text-center" colspan="8">{{ text_no_results}}</td>
                        </tr>
                      {% endif %}
                      {% if all_total|slice(1) != '0.00' and all_total|slice(0,-1) != '0.00' %}
                        <tr>
                          <td class="text-right" colspan="7">{{ text_sales_details['sub_total'] }}</td>
                          <td class="text-center" ><span style="">{{ sub_total }}</span></td>
                        </tr>
                        <tr>
                          <td class="text-right" colspan="7">{{ text_sales_details['total_transaction_fee'] }}</td>
                          <td class="text-center" ><span style="">{{ fee_total }}</span></td>
                        </tr>
                        <tr>
                          <td class="text-right" colspan="7">{{ text_sales_details['total_signature_service_fee'] }}</td>
                          <td class="text-center" ><span style="color: red">{{ all_total }}</span></td>
                        </tr>
                      {% endif %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}
                <div style="float: left;width: 100%;margin-top: 20px;margin-bottom: 20px;">
                  <label style='font-weight: bold;font-size: 16px;float: left'><span class="iconfont icon-beizhu"> </span> {{ text_sales_details['order_comments'] }}</label>
                  <textarea rows="6" class="textarea-drag-none" style="min-height: 30px;border: 1px #eee solid;display: block;width: 100%;" readonly>{{ base_info.customer_comments }}
                  </textarea>
                </div>
              </div>

              <div class="text-center mt-4">
                <a href="{{ href_go_back }}" class="btn btn-default">{{ text_go_back }}</a>
              </div>

            </div>
          </div>
        </div>
        {#</div>#}
      </div>
    </div>
  </div>
</div>

<script>
  function changeIcon(line_id) {
    var icon_up = '#icon_up_' + line_id;
    var icon_down = '#icon_down_' + line_id;

    if ($(icon_down).is(':visible')) {
      $(icon_down).hide();
      $(icon_up).show();
    } else {
      $(icon_up).hide();
      $(icon_down).show();
    }
  }
  function redirectToDeliveryList(id) {
    window.location.href = "{{ url('account/deliverySignature',{'id':''}) }}" + id;
  }

  $('.carrier-status').click(function() {
    var order_id = $(this).attr("data-order");
    var tracking_number = $(this).attr("data-tracking");
    var data_shipsku = $(this).attr("data-shipsku");
    openTrackStatusDialog(order_id, tracking_number,data_shipsku);
  });

  {# trackingDetail订单状态详情页 #}
  function openTrackStatusDialog(order_id, tracking_number,data_shipsku) {

    var trackingDetailUrl = "{{ url('account/sales_order/tracking_search/detail',{'order_id':''}) }}"
      + escape(order_id) + '&tracking_number=' + escape(tracking_number) + '&tracking_shipsku=' + escape(data_shipsku);
    layer.open(
      {
        type: 2,
        area: ['520px', '526px'],
        title: 'Detailed View',
        fixed: false, //不固定Change
        maxmin: false,
        offset: "auto",
        skin: 'yzc_layer my_layer',
        scrollbar: false,
        resize: false,
        shadeClose: true,
        content: trackingDetailUrl,
        cancel: function (index, layer) {

        },
        success: function () {
        }
      }
    );
  }

</script>
{{ footer }}
