{{ header }}

{{ js([
    'js/common/countInput.js',
    'js/common/timecountdown.js',
    'js/common/mathematical.js'
  ])
}}
{{ css(['css/common/common-ext.css']) }}
{{ cssOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css']) }}
{{ jsOrigin(['/catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js','catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js']) }}

<style>
  .page-seller-portal .btn.btn-default.tab-btn:hover {
    background-color: #fa6400;
    border-color: #fa6400;
  }
  .page-seller-portal #track-btn-container {
    right: 12px;
    position: absolute;
  }
  .page-seller-portal #track-btn-item {
    font-size: 14px;
    background-color: #3a75dc;
    border-radius: 4px;
    padding: 6px 10px;
    color: #fff;
  }
.page-seller-portal .nav-tabs.main > li.tips {
    position: absolute;
    right: 150px;
    bottom: 14px;
}
.page-seller-portal .nav-tabs.main > li.tips a {
    color: #677999;
    font-size: 14px;
}
  .page-seller-portal #track-btn-item:hover {
    cursor: pointer;
    background-color: #2d57a9;
  }
  div.tab-btn > a.tab-btn {
    padding: 9px 18px;
    font-size: 16px;
    margin-right: 5px;
  }
</style>


<div id="page-sales-order-management" class="page-seller-portal">

  {#菜单#}
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}
  {#END 菜单#}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ heading_title_customer_order }}</h1>
        <div class="row">
          <div class="col-md-12">
            {#Togglable tabs#}
            <ul class="nav nav-tabs main" role="tablist" id="customerOrderTabs">
              {% if importOrder %}
                <li id="import_li" class="active" role="presentation"><a href="#tab-import" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
              {% endif %}
              <li id="order_li" role="presentation"><a href="#tab-orders" aria-controls="sales-order" role="tab"
                                                       data-toggle="tab">Sales Order</a></li>
              {# 24701 该模块不再需要#}
              {#<li id="needToBuy_li" role="presentation"><a href="#tab-need_to_buy" aria-controls="inventory" role="tab"#}
              {#                                             data-toggle="tab">Inventory to be Paid</a></li>#}
              {% if module_shipment_time_status %}
                <li class="tips">
                  <div>
                    <a href="{{ shipment_time_url }}"><i class="giga icon-V10-wenhaotishi"></i> Shipping Information</a>
                  </div>
                </li>
              {% endif %}
            </ul>
          </div>
          {% if is_usa  %}
            <div id="track-btn-container" role="presentation">
              <div id="track-btn-item">
                <i class="giga icon-tracking"></i>
                Track Shipment
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>


    {#tab页对应内容#}
    <div class="row mb-4">
      <div class="col-md-12">

        <div class="tab-content main">
          {% if importOrder %}
            <div class="tab-pane active" id="tab-import">
              <div id="order-import"></div>
            </div>
          {% endif %}
          <div class="tab-pane" id="tab-orders">
            <fieldset>
              <div id="order-show"></div>
            </fieldset>
          </div>
        {# 24701 该模块不再需要#}
        {#<div class="tab-pane" id="tab-need_to_buy">#}
        {#  <fieldset>#}
        {#    <div id="order-need-to-buy"></div>#}
        {#  </fieldset>#}
        {#</div>#}
        </div>
      </div>
      {#<div class="col-md-3">#}
      {#<div class="bg-white">#}
      {#<ul class="list-group">#}
      {#<li class="list-group-item">Cras justo odio</li>#}
      {#<li class="list-group-item">Dapibus ac facilisis in</li>#}
      {#<li class="list-group-item">Morbi leo risus</li>#}
      {#<li class="list-group-item">Porta ac consectetur ac</li>#}
      {#<li class="list-group-item">Vestibulum at eros</li>#}
      {#</ul>#}
      {#</div>#}
      {#</div>#}
    </div>

  </div>

</div>


{{ footer }}
<script>
  var timerIDArr = [];
  $(document).ready(function(){
    $("li[role=presentation] a:first").tab('show');
  });
  {% if importOrder %}
    $('#order-import').load("{{ url('account/customer_order/customerOrderImport') }}");
  {% endif %}

  {% if label_tag %}
    clearTimer();
    $('#order-show').load("{{ url('account/customer_order/customerOrderTable',{'label_tag':'1','filter_button':'1','filter_orderStatus':filter_orderStatus}) }}");
  {% else %}
    clearTimer();
    $('#order-show').load("{{ url('account/customer_order/customerOrderTable',{'initFilter':init_filter,'filter_flag':filter_flag, 'filter_orderStatus':filter_orderStatus}) }}");
  {% endif %}

  $('#order-need-to-buy').load("{{ url('account/customer_order/orderNeedToBuy') }}");

    {% if tab_index == 1 %}
    $(function () {
      $('#customerOrderTabs a[href="#tab-orders"]').tab('show');
    });
    {% elseif tab_index == 2 %}
    $(function () {
      $('#customerOrderTabs a[href="#tab-need_to_buy"]').tab('show');
    });
    {% elseif guide == 0 %}
        {% if checkoutViewBp %}
            $(function () {
                $('#customerOrderTabs a[href="#tab-orders"]').tab('show');
                clearTimer();
                $('#order-show').load("{{ url('account/customer_order/customerOrderTable',{'filter_orderStatus':'2','page_num':'1'}) }}");
            });
        {% elseif japan_home_pick == true or autoBuyer == true %}
        $(function () {
          $('#customerOrderTabs a[href="#tab-orders"]').tab('show');
          clearTimer();
          $('#order-show').load("{{ url('account/customer_order/customerOrderTable', {'filter_orderStatus':filter_orderStatus}) }}");
        });
        //需求13548 RMA Management 页面跳转 edit by xxl
        {% elseif fromRMALink %}
          $('#customerOrderTabs a[href="#tab-orders"]').tab('show');
          var order_id = '{{ order_id }}';
          clearTimer();
          $('#order-show').load("{{ url('account/customer_order/customerOrderTable',{'filter_orderId':''}) }}"+order_id+'&filter_tracking_number=2');
          //13548 end
        {% elseif from_buyer_central_query %}
            $('#customerOrderTabs a[href="#tab-orders"]').tab('show');
            let query = '{{ from_buyer_central_query }}';
            clearTimer();
            $('#order-show').load("{{ url('account/customer_order/customerOrderTable') }}" + query);
        {% else %}
            clearTimer();
            $('#order-show').load("{{ url('account/customer_order/customerOrderTable', {'filter_orderStatus':filter_orderStatus}) }}");
        {% endif %}
    {% else %}
        $(function () {
          clearTimer();
          $('#order-show').load("{{ url('account/customer_order/customerOrderTable', {'filter_orderStatus':filter_orderStatus}) }}");
          $('#customerOrderTabs a[href="#tab-need_to_buy"]').tab('show');
          $('#order-need-to-buy').load("{{ url('account/customer_order/orderNeedToBuy') }}");
        });
    {% endif %}

    function getNeedToBuy() {
      $('#customerOrderTabs a[href="#tab-need_to_buy"]').tab('show');
      $('#order-need-to-buy').load("{{ url('account/customer_order/orderNeedToBuy') }}");

  }

  $('#order_li').click(function () {
    clearTimer();
    $('#order-show').load("{{ url('account/customer_order/customerOrderTable',{'initFilter':'1', 'filter_orderStatus':filter_orderStatus}) }}");
  });
  function clearTimer() {
    for (let i = 0; i < timerIDArr.length; i++) {
      clearInterval(timerIDArr[i]);
    }
    timerIDArr.splice(0, timerIDArr.length)
  }

  //物流单查询转跳
  $('#track-btn-item').click(function(){
    window.open("{{ url('account/sales_order/tracking_search') }}","_blank");
  });
</script>

{#加载layui.js  2019/6/10 add by allen.tai #}
<script type="text/javascript" src="catalog/view/javascript/layer/layer.js"></script>

<script>
  //订单确认回退页面无数据问题
  window.addEventListener('pageshow', (e) => {
    if (e.persisted || (window.performance && 
      window.performance.navigation.type == 2)) {
      location.reload()
    }
  }, false)
</script>