{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div id="content" class="{{ class }}">
    <h1>
      {{ text_delivery_signature }}
    </h1>
    {% if summary_notice %}
      <h1 style="font-size: 15px;font-weight:bold;color: red">{{ summary_notice }}</h1>
    {% endif %}

    {% if delivery_brief %}
      <div class="table-responsive" style="margin-bottom: -20px">
        <table class="table text-center">
          <thead style="background-color: #f5f5f5">
          <tr>
            <td>{{ text_column_item_code }}</td>
            <td>{{ text_column_product_name }}</td>
            <td>{{ text_column_store_name }}</td>
            <td>{{ text_column_qty }}</td>
            <td>{{ text_column_unit_price }}</td>
            <td>{{ text_column_total_ds_fee }}</td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ delivery_brief.itemCode }}</td>
            <td>{{ delivery_brief.productName }}</td>
            <td>{{ delivery_brief.storeName }}</td>
            <td>{{ delivery_brief.qty }}</td>
            <td>{{ delivery_brief.unitPrice }}</td>
            <td style="color: red;font-weight: bold">{{ delivery_brief.totalFee }}</td>
            <td><i class="fa fa-caret-up" style="color: red;cursor: pointer" data-toggle="collapse"
                   data-target="#delivery_detail" onclick="changeCollapseIcon(this)"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    {% endif %}
    {% if delivery_list %}
      <div class="table-responsive collapse in" id="delivery_detail">
        <table class="table text-center">
          <thead style="background-color: #f5f5f5">
          <tr>
            <td>{{ text_column_image }}</td>
            <td>{{ text_column_item_code }}</td>
            <td>{{ text_column_product_name }}</td>
            <td>{{ text_column_product_qty }}</td>
            <td>{{ text_column_package }}<li class="giga icon-V10-wenhaotishi" style="color: #337ab7" data-toggle="tooltip" title = "{{ text_package_qty_tip }}"></li></td>
            <td>{{ text_column_detail_unit_price }}</td>
            <td>{{ text_column_total_ds_fee }}</td>
          </tr>
          </thead>
          <tbody>
          {% for item in delivery_list %}
            <tr>
              <td><img src="{{ item.image }}" class="img-thumbnail"></td>
              <td>{{ item.itemCode }}</td>
              <td><a href="{{ item.url }}">{{ item.productName }}</a></td>
              <td>{{ item.qty }}</td>
              <td>{{ item.packageQty }}</td>
              <td>{{ item.detailUnitPrice }}</td>
              <td>{{ item.detailTotalPrice }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="pull-right" style="padding-top: 20px"><a onclick="preCheckout()" class="btn btn-primary">{{ text_checkout }}</a></div>
    {% endif %}
  </div>
</div>
{{ footer }}
<script>
  function changeCollapseIcon(obj) {
    if($(obj).hasClass("fa-caret-up")){
      $(obj).removeClass("fa-caret-up").addClass("fa-caret-down");
    }else {
      $(obj).removeClass("fa-caret-down").addClass("fa-caret-up");
    }
  }

  function preCheckout() {
    $.ajax({
      url:"index.php?route=account/deliverySignature/preCheckout",
      type:"post",
      success: function() {
        deliverySignatureCheckout({{ delivery_brief.product_id }}, {{ delivery_brief.qty }}, '{{ checkout }}');
      }
    });
  }

  function deliverySignatureCheckout(product_id, quantity, url) {
    $.ajax({
      url: 'index.php?route=checkout/cart/add',
      type: 'post',
      data: 'product_id=' + product_id + '&quantity=' + (typeof(quantity) != 'undefined' ? quantity : 1),
      dataType: 'json',
      success: function(json) {
        if (json['success']) {
          location.href = url;
        }else{
          alert("{{ text_error_add_cart }}");
        }
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }
</script>
