{{ this.title('Personal Information') }}
{{ this.params('breadcrumbs', [
  'home',
  {
    text: 'Account Settings',
    href: url('account/setting')
  },
  'current'
]) }}
{{ this.params('pageTitle', {show: true}) }}

{{ css(['css/common/common.css']) }}
{{ cssOrigin([ 'catalog/view/theme/yzcTheme/stylesheet/app.css']) }}

<style>
  .page-seller-portal .edit-no{
    color:#999;
  }
  .page-seller-portal .edit-yes{
    color:black;
  }
  .page-seller-portal .border-radius-right-none{
    border-radius: 4px 0 0 4px !important;
  }
  .page-seller-portal .border-radius-left-none{
    border-radius: 0 4px 4px 0 !important;
  }
  .page-seller-portal .box-shadow-none{
    box-shadow: none !important;
  }
  .page-seller-portal .form-wrapper .input-group .addon.disabled.border-top-none{
    border-top: none !important;
  }
  .page-seller-portal label.required::before {
    content: '*';
    color: #ff414d;
  }
  .page-seller-portal .edit .oris-input{
    width: 300px;
  }
  .page-seller-portal .edit .oris-input[disabled]{
    background-color: #fafafa;
  }
  .page-seller-portal .edit > div:not(:last-child){
    margin-top: 24px;
  }
  .page-seller-portal .no-shadow .tab-pane > div{
    padding: 32px 36px;
  }
  .page-seller-portal .no-radius{
    border-radius: 0 !important;
  }
  .page-seller-portal .update-btn{
    display: flex;
    justify-content: center;
    margin-right: 108px;
    padding: 24px;
  }
  .page-seller-portal .buyer-info{
    width: 500px;
    margin: 0 auto;

  }
  .page-seller-portal .info-label {
    width: 120px;
    margin-right:16px;
    line-height: 41px;
    text-align: right;
    margin-bottom: 0;
  }
  .page-seller-portal .text-area{
    width: 300px;
    min-height: 40px;
    line-height: 20px;
    word-break: break-word;
    background-color: #fafafa;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    padding: 8px 15px;

  }
  .page-seller-portal .text-area:hover {
    cursor:not-allowed;
  }
  .page-seller-portal .just-flex-nick-name{
    display: flex;
    flex-direction: column;

  }
  .page-seller-portal label.lable-nick-name:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
  }
  .page-seller-portal label.lable-nick-name{
    margin-top: -8px;
  }
  .page-seller-portal .flex-layout-phone{
    margin-top: 16px !important;
  }
  .page-seller-portal .flex-layout-nickname{
    display: flex;
    align-items: baseline;
  }
</style>
<div id="page-account-edit" class="page-seller-portal">
  <div class="tab-content mtb-04 no-shadow no-radius verify-msg">
    <div role="tabpanel" class="tab-pane active" id="tab-1">
      <div class="bg-white">
        <div  class="form-wrapper edit buyer-info">
          <div class="flex-layout">
            <label class="info-label" for="user-id-number">Buyer ID</label>
            <input type="text" class="edit-no oris-input" value="{{ customer.user_number }}" disabled>
          </div>
          <div class="flex-layout">
            <label class="info-label" for="input-firstname" for="input-lastname">Buyer Name</label>
            <input type="text" class="edit-no oris-input"
                   value="{{ customer.firstname }} {{ customer.lastname }}" disabled>
          </div>
          <div class="flex-layout-nickname">
            <label class="info-label lable-nick-name" for="input-nickname" class="required">{{ entry_nickname }}</label>
            <div class="just-flex-nick-name">
              <input id="nickName" type="text" class="edit-yes oris-input nick-name" name="nickname" value="{{ customer.nickname }}"
                     placeholder="{{ entry_nickname }}" id="input-nickname" maxlength="12" autocomplete="off">
              <div class="text-danger text-small mt-octal1 numError none">nickName must be between 1 and 12 charachers.</div>
              <div class="text-danger text-small mt-octal1 return-error"></div>
            </div>{% if errors.nickname %}
            <div class="text-danger mt-octal1">{{ errors.nickname }}</div>
            {% endif %}
          </div>
          <div class="flex-layout flex-layout-phone" >
            <label class="info-label" for="input-telephone">{{ entry_telephone }}</label>
            <input type="tel"  class="edit-no oris-input" value="{{ customer.valid_mask_telephone }}"
                   placeholder="{{ entry_telephone }}" id="input-telephone" disabled/>
            {% if can_change_phone %}
              <a class="change-phone link m10-l" href="{{ url('account/phone/change') }}">Change</a>
            {% endif %}
          </div>
          <div class="flex-layout">
            <label class="info-label" for="input-email">{{ entry_email }}</label>
            <div class="edit-no  text-area">{{ customer.email }}</div>
          </div>
          <div class="update-btn">
            <button  id="personalBtn" class="oris-button mt-3 oris-button-bigger oris-w120 ">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ jsOrigin(['catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js']) }}
<script>
  let $nickName = $("#nickName");

  $(document).ready(function () {
    verifyTel();
  });

  //验证nickname
  function verifyTel() {
    var phoneRule = /^[\s\S]{1,12}$/;
    if (!phoneRule.test($nickName.val())){
      nickNameCheck = false;
    }else{
      $nickName.next('.numError').addClass('none');
      $nickName.removeClass('border-danger');
      $nickName.prev('.msg-title').removeClass('text-danger');
      $nickName.next().next('.return-error').html('');
      nickNameCheck = true;
    }
  }

  //监听nickName
  $nickName.on('blur',function () {
    var phoneRule = /^[\s\S]{1,12}$/;
    if (!phoneRule.test($nickName.val())){
      $nickName.next('.numError').removeClass('none');
      $nickName.addClass('border-danger');
      $nickName.prev('.msg-title').addClass('text-danger');
      $nickName.next().next('.return-error').html('');
      nickNameCheck = false;
    }else{
      $nickName.next('.numError').addClass('none');
      $nickName.removeClass('border-danger');
      $nickName.prev('.msg-title').removeClass('text-danger');
      $nickName.next().next('.return-error').html('');
      nickNameCheck = true;
    }
  })

  //监听输入框是否有值
  $(".verify-msg .oris-input").on('change input keyup blur',function () {
    var that = this;
    nickName(that);
    if (nickNameCheck==true){
      $("#personalBtn").removeAttr('disabled');
    }
    else{
      $("#personalBtn").attr('disabled','disabled')
    }
    if (!$nickName.val()){
      verifyTel()
    }
  });

  //校验nickname是否为空
  function nickName(that){
    if ($(that).val() && ($(that).val().trim()!='')){
      $(that).prev('.msg-title').removeClass('none');
    }else{
      $(that).prev('.msg-title').addClass('none');
    }
    verifyTel();
  }

  //点击提交
  $("#personalBtn").on('click',function (event) {
      var num = {
        nickname:$("#nickName").val(),
      };
      block.blockUI();
      $.ajax({
        url : {{ url('account/setting/updateByIdBuyer')|js_var }},
        type : 'post',
        async : false,
        data:  num,
        dataType:'json',
        ContentType:'application/x-www-form-urlencoded',
        success : function(res) {
          if (res.code == 200) {
            $.toast({
              heading: false,
              text: 'Successfully submitted.',
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'success',
              hideAfter: 3000,
              allowToastClose: false,
              loader: false,
            });
          } else {
            $.toast({
              heading: false,
              text: res.msg || 'Failed to submit. Please try again.',
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'error',
              hideAfter: 5000,
              allowToastClose: false,
              loader: false
            });
          }
          block.unBlockUI();
        },
        error : function() {
          $.toast({
            heading: false,
            text: 'Failed to submit. Please try again.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 3000,
            allowToastClose: true,
            loader: false
          });
          block.unBlockUI();
        }
      });
  });

</script>