{{ header }}
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"
        type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css"
      rel="stylesheet" media="screen"/>
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/bootstrap-table/bootstrap-table.js"></script>
<script src="catalog/view/javascript/layer/layer.js" type="text/javascript"></script>

<div id="page-inventory-management-index" class="page-seller-portal">
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ text_title_inventory_management }}</h1>
      </div>
    </div>


    <div class="row mb-4">
      <div class="col-md-12">
        <div class="tab-content main">
          <div role="tabpanel" class="tab-pane active">
            <div class="bg-white p-2">
              <div class="filter-wrapper form-wrapper mt-3 mb-3">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="input-sku">Item Code</label>
                      <input type="text" name="filter_sku" value="{{ filter_sku }}" placeholder="Item Code"
                             id="input-sku" class="form-control">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="input-stockNumberFlag">Available Stock Included</label>
                      <select name="filter_stockNumberFlag" id="input-stockNumberFlag" class="form-control">
                        <option value="">{{ __('请选择', {}, 'common') }}</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="text-right mt-3">
                      <button type="button" onclick="filter(this);" class="btn btn-primary" data-toggle="tooltip"
                              title="{{ text_filter }}">{{ text_filter }}</button>
                      <button id="download" onclick="downloadInventory();"
                        {#style="margin-right:10px"#}
                              class="btn btn-default"
                              data-toggle="tooltip" title="{{ text_download }}">
                        <i class="fa fa-download"></i>
                      </button>
                      <button type="button" onclick="reset(this)" class="btn btn-default" data-toggle="tooltip"
                              title="Reset">Reset
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="m-table">

                <table class="table table-hover main">
                  <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Item Code</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Cumulative Number of Entries</th>
                    <th class="text-center">Cumulative Number of Exits</th>
                    <th class="text-center"><span data-toggle="tooltip" title=""
                                                  data-original-title="{{ text_number_of_remaining_inventory }}">Number of Remaining Inventory <i
                          class="giga icon-V10-wenhaotishi small"></i></span></th>
                    <th class="text-center"><span data-toggle="tooltip" title=""
                                                  data-original-title="{{ text_sold_but_not_Shipped }}">Sold but not Shipped <i
                          class="giga icon-V10-wenhaotishi small"></i></span></th>
                    <th class="text-center">Blocked Stock</th>
                    <th class="text-center"><span data-toggle="tooltip" title=""
                                                  data-original-title="{{ text_number_of_available_inventory }}">Number of Available Inventory <i
                          class="giga icon-V10-wenhaotishi small"></i></span></th>
                    <th class="text-center">Action</th>
                  </tr>
                  </thead>
                </table>
               <div class="scroll">
                 <table class="table table-hover main table-striped">
                   <tbody>
                   {% for product in products %}
                     <tr>
                       <td class="text-center">{{ loop.index }}</td>
                       {% if product.tag %}
                         <td class="text-center" style="min-width: 120px">{{ product.sku }}
                           {% for tag in product.tag %}
                             <span>{{ tag }}</span>
                           {% endfor %}
                         </td>
                       {% else %}
                         <td class="text-center">{{ product.sku }}</td>
                       {% endif %}
                       <td class="text-center" width="67px">{% if product.image %} <a class="thumbnail"
                                                                                      style="margin-bottom: 0"
                                                                                      href="{{ product.image }}"
                                                                                      title='{{ product.name }}'><img
                             style="width: 35px;height: 35px" src="{{ product.image }}"/></a> {% else %} <span
                           class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>
                       <td class="text-center">{{ product.originalQty }}</td>
                       <td class="text-center">{{ product.outStockQty }}</td>
                       <td class="text-center">{{ product.onhandQty }}</td>
                       <td class="text-center">
                         {% if product.sold_out>0 %}
                           <a style="cursor: pointer"
                              onclick="showNotShipedOrder('{{ product.sku }}')">{{ product.sold_out }}&nbsp;<i
                               class="giga icon-table-link"></i>
                           </a>
                         {% else %}
                           {{ product.sold_out }}
                         {% endif %}
                       </td>
                       <td class="text-center">{{ product.blocked_stock }}</td>
                       <td class="text-center">{{ product.productCostQty }}</td>
                       <td class="text-center">
                         <div class="action-group">
                           <button type="button" class="" onclick="window.location.href = '{{ product.batchStockUrl }}'"
                                   data-toggle="tooltip" title="View">
                             <i class="giga icon-action-preview"></i>
                           </button>
                         </div>
                       </td>
                     </tr>
                   {% endfor %}
                   </tbody>
                 </table>
               </div>
              </div>

              {#分页#}
              <div class="row" style="margin-right: 0;margin-top: 15px">
                <div class="col-sm-12 text-right">
                  <ul id="bos_pagination"></ul>
                </div>
              </div>


              <div class="text-center mt-4">
                <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
              </div>


              <div class="well" id="sold_but_not_shipped_div"
                   style="margin-bottom: 0px;display: none;margin-top: 20px;">
                {# 表格结果 #}
                <div class="row">
                  <div style="padding: 10px 15px">
                    <table id="sold_but_not_shipped" class="table table-striped table-hover"></table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<style>
::-webkit-scrollbar
  {
    width:1px;
    height:16px;
    background-color:#F5F5F5;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #FFF;
  }
  #sold_but_not_shipped tr {
    text-align: left;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .m-table .scroll {
    max-height: 500px;
    border-top: 0;
    overflow-y: scroll;
  }

  .m-table table{
table-layout: fixed;
  }
</style>
<script>
    $(function () {
        init();
        $('.thumbnail').magnificPopup({
            type: 'image'
            // delegate: 'a',
            // gallery: {
            //     enabled: true
            // }
        });
    });

    function init() {
        let filter_stockNumberFlag = '{{ filter_stockNumberFlag }}';
        if (filter_stockNumberFlag) {
            $('#input-stockNumberFlag').val(filter_stockNumberFlag);
        }
        //分页链接
        pagination();
    }

    function pagination() {
        if ({{ total_pages }}) {
            $('#bos_pagination').bootstrapPaginator({
                /*当前使用的是3版本的bootstrap*/
                bootstrapMajorVersion: 3,
                /*配置的字体大小是小号*/
                size: 'normal',
                /*当前页*/
                currentPage: {{ page_num }},
                /*一共多少页*/
                totalPages: {{ total_pages }},
                /*页面上最多显示几个含数字的分页按钮*/
                numberOfPages: 5,
                total:{{ total_num }},
                rowsOfPage: {{ page_limit }},
                onPageClicked: function (event, originalEvent, type, page) {
                    let url = getUrl(page);
                    let data = originalEvent['page_info'] || {};
                    for (let i in data) {
                        url += '&' + i + '=' + data[i];
                    }
                    location.href = url;
                }
            });
        }
    }

    function getUrl(page) {
        let url = 'index.php?route=account/inventory_management';
        url += "&backUrlKey=" + '{{ backUrlKey }}';
        // SKU
        let filter_sku = $('input[name=\'filter_sku\']').val();
        if (filter_sku) {
            url += '&filter_sku=' + encodeURIComponent(filter_sku);
        }
        // 是否包含在库数量为0
        let filter_stockNumberFlag = $('select[name=\'filter_stockNumberFlag\']').val();
        if (filter_stockNumberFlag) {
            url += '&filter_stockNumberFlag=' + encodeURIComponent(filter_stockNumberFlag);
        }
        if (page) {
            url += "&page_num=" + page;
        }
        return url;
    }

    function filter(button) {
        block.blockUI();
        var url = getUrl(1);
        location.href = url;
        $(button).button('loading');
    }

    function reset(button) {
        block.blockUI();
        $('input[name=\'filter_sku\']').val("");
        $('select[name=\'filter_stockNumberFlag\']').val("");
        filter(button);
    }

    function showNotShipedOrder(item_code) {
        var backUrlKey = '{{ backUrlKey }}';
        $('#sold_but_not_shipped').bootstrapTable('destroy').bootstrapTable({
            url: 'index.php?route=account/inventory_management/soldNotShipedOrder&backUrlKey=' + backUrlKey,
            queryParams: function (params) {
                params.sku = item_code;
                params.pageSize = params.limit;
                params.page = parseInt((params.offset + 1) / params.limit + 1);
                return params;
            },
            sidePagination: "server",
            striped: true, // 是否显示行间隔色
            cache: false,
            pageSize: 20,
            pageNumber: 1,
            pagination: true, // 是否分页
            pageList: [20, 30, 50],
            maintainSelected: true,
            columns: [{
                field: 'salesOrderId',
                title: 'Sales Order ID'
            }, {
                field: 'checkoutTime',
                title: 'Checkout Time'
            }, {
                field: 'quantity',
                title: 'Quantity'
            }]
        });
        layer.open({
            type: 1,
            title: 'Sales Order',
            skin: 'yzc_layer',
            area: ['800px', 'auto'],
            offset: 'auto',
            minWidth: 600,
            maxHeight: 800,
            content: $("#sold_but_not_shipped_div")
        })
    }

    function downloadInventory() {
        let url = 'index.php?route=account/inventory_management/downloadInventory';
        // SKU
        let filter_sku = $('input[name=\'filter_sku\']').val();
        if (filter_sku) {
            url += '&filter_sku=' + encodeURIComponent(filter_sku);
        }
        // 是否包含在库数量为0
        let filter_stockNumberFlag = $('select[name=\'filter_stockNumberFlag\']').val();
        if (filter_stockNumberFlag) {
            url += '&filter_stockNumberFlag=' + encodeURIComponent(filter_stockNumberFlag);
        }
        window.location.href = url;
    }


</script>