{{ header }}
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"
        type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css"
      rel="stylesheet" media="screen"/>
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<style>
  .ml-1{
    margin-left: 10px;
  }
  .mr-1{
    margin-right: 10px;
  }
  .flex-layout{
    display: flex;
    align-items: center;
  }
  .border-radius-left-none{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
  .btn.btn-default{
    color: #3A75DC;
    border: 1px solid #3A75DC;
  }
  .btn.btn-default:hover,
  .btn.btn-default:focus{
    background: #3a75dc;
    color: #fff;
  }
  .btn.btn-primary{
    color: #fff;
    border: 1px solid #3A75DC;
    background: #3a75dc;
    line-height: 22px;
  }
  .main-content{
    background: #fff;
    padding: 20px 10px;
    margin-bottom: 30px;
  }
  .main-content .well{
    border: none;
  }
  .btn.btn-view{
    width: 28px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    text-align: center;
  }
  .btn.btn-view:hover,
  .btn.btn-view:focus{
    background: #fa6400;
    color: #fff;
  }
  .btn.btn-view i{
    font-size: 14px;
  }
  .p10{
    padding: 10px;
  }
  .clearfix{
    margin-top: 10px;
    text-align: right;
  }
</style>
<div id="account-customer-order" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <h2>{{ text_title_inventory_stock_in_record }}</h2>
    <div id="content" class="{{ class }} main-content">{{ content_top }}
      <div class="well">
        <div class="row">
          <div class="col-sm-4">
            {#入库单号#}
            <div class="form-group">
              <label class="control-label" for="input-receivingOrderNumber">Order ID</label>
              <input type="text" name="filter_receivingOrderNumber" value="{{ filter_receivingOrderNumber }}"
                     placeholder="Order ID" id="input-receivingOrderNumber" class="form-control"/>
            </div>
          </div>
          <div class="col-sm-4">
            {#集装箱号#}
            <div class="form-group">
              <label class="control-label" for="input-containerNumber">Container Number</label>
              <input type="text" name="filter_containerNumber" value="{{ filter_containerNumber }}"
                     placeholder="Container Number" id="input-containerNumber" class="form-control"/>
            </div>
          </div>
          <div class="col-sm-4">
            {#入库类型#}
            <div class="form-group">
              <label class="control-label">Receiving Category</label>
              <select name="filter_stockInType" class="form-control">
                <option value="">{{ __('请选择', {}, 'common') }}</option>
                {% for dic,value in STOCK_IN_TYPE %}
                  <option value="{{ dic }}" {% if filter_stockInType==dic %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-sm-8">
            {#入库日期#}
            <div class="form-group">
              <label class="control-label">Date of Received</label>
              <div class="flex-layout">
                <div class="input-group datetime col-sm-6 mr-1">
                  <span class="input-group-addon ">
                  <i class="fa fa-calendar"></i>
                  </span>
                  <input type="text" class="form-control datetimefrom border-radius-left-none" placeholder="from"
                         name="filter_receiptDateStart" value="{{ filter_receiptDateStart }}"/>
                </div>
                <div class="input-group datetime col-sm-6 ml-1">
                 <span class="input-group-addon ">
                    <i class="fa fa-calendar"></i>
                  </span>
                  <input type="text" class="form-control datetimeto border-radius-left-none" placeholder="to"
                         name="filter_receiptDateEnd" value="{{ filter_receiptDateEnd }}"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 pull-right text-right" style="margin-top: 25px;">
            <button type="button" onclick="filter(this);" class="btn btn-primary mr-1">{{ text_filter }}</button>
            <button id="exportCsvBtn" onclick="exportCsv();" class="btn btn-default " data-toggle="tooltip"
                    title="Export Csv">
              <i class="giga icon-xiazai1"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="table-responsive p10">
        <table id="stockInRecordTable" class="table table-hover">
          <thead>
          <tr>
            <td class="text-center">No.</td>
            {#                        <td class="text-center">Date of Application</td>#}
            <td class="text-center">Item Code</td>
            <td class="text-center">Mpn</td>
            <td class="text-center">Inventory Batch Quantity</td>
            <td class="text-center">Number of Exits</td>
            <td class="text-center">Container Number</td>
            <td class="text-center">Date of Received</td>
            {#                        <td class="text-center">Instock Days</td>#}
            <td class="text-center">Receiving Category</td>
            <td class="text-center">Order ID</td>
            <td class="text-center">Dispatch Record</td>
          </tr>
          </thead>
          <tbody>
          {% if batchStockInfo %}
            {% for batchStock in batchStockInfo %}
              <tr>
                <td class="text-center">
                  {{ batchStock.loopIndex }}
                  <input name="receive_number" hidden value="{{ batchStock.receive_number }}">
                  <input name="batch_id" hidden value="{{ batchStock.batch_id }}">
                </td>
                {#                            <td class="text-center">{{ batchStock.apply_date }}</td>#}
                <td class="text-center">{{ batchStock.sku }}</td>
                <td class="text-center">{{ batchStock.mpn }}</td>
                <td class="text-center">{{ batchStock.original_qty }}</td>
                <td class="text-center">{{ batchStock.original_qty-batchStock.onhand_qty }}</td>
                <td class="text-center">{{ batchStock.container_code }}</td>
                <td class="text-center">{{ batchStock.receive_date }}</td>
                <td class="text-center">{{ STOCK_IN_TYPE[batchStock.stock_in_type] }}</td>
                {#                            <td class="text-center">{{ batchStock.in_stock_days }}</td>#}
                <td class="text-center">
                  {% if batchStock.order_id_href %}
                    <a href="{{ batchStock.order_id_href }}"> {{ batchStock.order_id_name }} </a>
                  {% endif %}
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-view" onclick="showOutStockRecord({{ batchStock.batch_id }})">
                    <i class="giga icon-chakan1"></i>
                  </button>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <td colspan="10" align="center">No records.</td>
          {% endif %}
          </tbody>
        </table>
      </div>
      <div class="row" style="margin-right: 0">
        <div class="col-sm-6 text-left">
          <ul id="bos_pagination"></ul>
        </div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      <div class="buttons clearfix">
      <a href="{{ backUrl }}" class="btn btn-primary">Back</a>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}
<script>
  $('.datetimefrom').datetimepicker({
    pickDate: true,
    pickTime: false,
    format: 'YYYY-MM-DD'
  });
  $('.datetimeto').datetimepicker({
    pickDate: true,
    pickTime: false,
    format: 'YYYY-MM-DD'
  });
  $(document).ready(function () {
    $('.thumbnail').magnificPopup({
      type: 'image'
      // delegate: 'a',
      // gallery: {
      //     enabled: true
      // }
    });
  });
  $(function () {
    init();
  });

  function init() {
    //分页链接
    pagination();
  }

  function pagination() {
    if ({{ total_pages }}) {
      $('#bos_pagination').bootstrapPaginator({
        /*当前使用的是3版本的bootstrap*/
        bootstrapMajorVersion: 3,
        /*配置的字体大小是小号*/
        size: 'normal',
        /*当前页*/
        currentPage: {{ page_num }},
        /*一共多少页*/
        totalPages: {{ total_pages }},
        /*页面上最多显示几个含数字的分页按钮*/
        numberOfPages: 5,
        onPageClicked: function (event, originalEvent, type, page) {
          let url = getUrl(page);
          location.href = url;
        }
      });
    }
  }

  function getUrl(page) {
    let url = 'index.php?route=account/inventory_management/batchStock';
    url += "&backUrlKey=" + '{{ backUrlKey }}';
    url += '&product_id=' + {{ product_id }};
    // 入库单号
    let filter_receivingOrderNumber = $('input[name=\'filter_receivingOrderNumber\']').val();
    if (filter_receivingOrderNumber) {
      url += '&filter_receivingOrderNumber=' + encodeURIComponent(filter_receivingOrderNumber);
    }
    // 集装箱号
    let filter_containerNumber = $('input[name=\'filter_containerNumber\']').val();
    if (filter_containerNumber) {
      url += '&filter_containerNumber=' + encodeURIComponent(filter_containerNumber);
    }
    // 入库日期
    let filter_receiptDateStart = $('input[name=\'filter_receiptDateStart\']').val();
    if (filter_receiptDateStart) {
      url += '&filter_receiptDateStart=' + encodeURIComponent(filter_receiptDateStart);
    }
    let filter_receiptDateEnd = $('input[name=\'filter_receiptDateEnd\']').val();
    if (filter_receiptDateEnd) {
      url += '&filter_receiptDateEnd=' + encodeURIComponent(filter_receiptDateEnd);
    }
    // 入库类型
    let filter_stockInType = $('select[name=\'filter_stockInType\']').val();
    if (filter_stockInType) {
      url += '&filter_stockInType=' + encodeURIComponent(filter_stockInType);
    }

    // 入库天数
    // let filter_inStockDaysStart = $('input[name=\'filter_inStockDaysStart\']').val();
    // if (filter_inStockDaysStart) {
    //     url += '&filter_inStockDaysStart=' + encodeURIComponent(filter_inStockDaysStart);
    // }
    // let filter_inStockDaysEnd = $('input[name=\'filter_inStockDaysEnd\']').val();
    // if (filter_inStockDaysEnd) {
    //     url += '&filter_inStockDaysEnd=' + encodeURIComponent(filter_inStockDaysEnd);
    // }

    if (page) {
      url += "&page_num=" + page;
    }
    return url;
  }

  function filter(button) {
    var url = getUrl();
    location.href = url;
    $(button).button('loading');
  }

  function showOutStockRecord(batch_id) {
    var form1 = document.createElement("form");
    document.body.appendChild(form1);
    var input = document.createElement("input");
    input.type = "text";
    input.name = "stock_in_url";
    input.value = location.href;
    form1.appendChild(input);
    form1.method = "POST";
    form1.action = "index.php?route=account/inventory_management/outStockRecord&batch_id=" + batch_id + "&itemCode={{ itemCode }}";
    form1.submit();
  }

  function exportCsv() {
    {% if not batchStockInfo %}
    alert('No records found.');
    return;
    {% endif %}
    var downloadBtn = document.getElementById('downloadBtn');
    if (downloadBtn != null) {
      downloadBtn.click();
      return;
    }
    $.ajax({
      url: 'index.php?route=account/inventory_management/exportStockInCsv',
      type: 'post',
      data: {
        csv_filter_data: {{ csv_filter_data|json_encode|raw }},
        itemCode: '{{ itemCode }}'
      },
      dataType: 'json',
      beforeSend: function () {
        $('#exportCsvBtn').prop('disabled', true);
      },
      complete: function () {
        $('#exportCsvBtn').prop('disabled', false);
      },
      success: function (response) {
        if (response['success']) {
          var downloadBtn = document.createElement('a');
          downloadBtn.setAttribute('id', 'downloadBtn');
          downloadBtn.setAttribute('download', response['download_name']);
          downloadBtn.setAttribute('href', response['download_href']);
          downloadBtn.click();
          document.getElementById('stockInRecordTable').appendChild(downloadBtn);
        } else {
          alert(response['msg']);
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }
</script>