{{ header }}
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<style>
    .flag-margin-order{
        color: #FF784E;
        margin-left: 5px;
    }
</style>
<div id="account-order" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      <h2>{{ text_purchase_order_management }}</h2>
      <div class="well">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
                <label class="" for="input-orderId"><span style="font-weight: bold">{{ column_order_id}}</span></label>
              <input type="text" name="filter_orderId" value="{{ filter_orderId}}" placeholder="{{ column_order_id}}" id="input-orderId" class="form-control" />
            </div>
            <div class="form-group">
              <label class="" for="input-date-added"><span style="font-weight: bold">{{ column_orderDate_from}}</span></label>
              <div class="input-group datetime">
                <input type="text"  class="form-control date" name="filter_orderDate_from" value="{{ filter_orderDate_from}}" placeholder="{{ column_orderDate_from}}" id="input-orderDate" />
                <span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
              </div>
            </div>

          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="" for="input-item_code"><span style="font-weight: bold">{{ column_item_code_search}}</span></label>
              <input type="text" name="filter_item_code" value="{{ filter_item_code}}" placeholder="{{ column_item_code_search}}" id="input-item_code" class="form-control" />
            </div>
            <div class="form-group">
              <label class="" for="input-date-added"><span style="font-weight: bold">{{ column_orderDate_to}}</span></label>
              <div class="input-group datetime">
                <input type="text" name="filter_orderDate_to" value="{{ filter_orderDate_to}}" placeholder="{{ column_orderDate_to}}" id="input-orderDate" class="form-control date" />
                <span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span></div>
            </div>
            </div>

          <div class="col-sm-4">

            <div class="form-group">
              <label class="" for="input-orderId"><span style="font-weight: bold">Purchase Order Status</span></label>

              <select class="form-control" name="filter_rma_status" id="filter_rma_status">
                  <option value="5" selected >Completed</option>
              </select>
            </div>
            <br/>
            <div class="form-group">
              <button onclick="downloadPurchaseOrder();" class="btn btn-default pull-right" data-toggle="tooltip" title="{{ text_commodity_statistics }}">
                <i class="fa fa-download"></i></button>
              <button type="button" onclick="filter(this);" class="btn btn-primary pull-right" style="margin-right: 10px;">{{ button_filter}}</button>
            </div>

          </div>
          </div>
        </div>
      {% if orders %}
      <div class="table-responsive" style="width: 100%;float: left">
        <table class="table table-hover">
          <thead>
            <tr bgcolor="#F2F2F2">
              <td class="text-center">{{ column_order_id }}</td>
              <td class="text-center" style="width: 200px;">{{ column_item_code }}</td>
              <td class="text-center">{{ column_total_price }}</td>
              <td class="text-center">{{ column_payment_method }}</td>
              <td class="text-center">{{ column_order_date }}</td>
              <td class="text-center">Purchase Order Status</td>
              <td class="text-center">{{ column_action }}</td>
            </tr>
          </thead>
          <tbody>
           {% for order in orders %}
            <tr>
              <td class="text-center">
                  {{ order.order_id }}
              <td class="text-center" >
                {% for key,value in order.item_code_list %}
                  {% if value.is_margin %}
                    <a href="{{ value.url_margin }}">
                      <span class="flag-margin-order"><span class="giga icon-margin" data-toggle="tooltip" title="{{ value.tip_margin }}"></span></span>
                    </a>
                  {% endif %}
                  {{ value.sku }}
                {% if value.tag %}
                  {% for tagDetail in value.tag %}
                    {{ tagDetail }}
                  {% endfor %}
                {% endif %}
                  X {{ value.qty }}
                  <br/>
                {% endfor %}

              </td>
              <td class="text-center">{{ order.total }}</td>
              <td class="text-center">{{ order.payment_method }}</td>
              <td class="text-center">{{ order.date_added }}</td>
              <td class="text-center">{{ order.order_status_name }}</td>
              <td class="text-center">
                <a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-12 text-right">{{ pagination }}{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<script type="text/javascript">
  $('.date').datetimepicker({
    pickDate: true,
    pickTime: true,
    format: 'YYYY-MM-DD'
  });
  $(function () {
    block.unBlockUI();
  });
  function filter(button) {
    block.blockUI();
    var url = getUrlForFilter();
    $(button).button('loading');
    window.location.href = url;
  }
  function getUrlForFilter() {
    let url = 'index.php?route=account/order_for_giga';
    let filter_orderId = $('input[name=\'filter_orderId\']').val();
    if (filter_orderId) {
      url += '&filter_orderId=' + encodeURIComponent(filter_orderId);
    }
    let filter_orderDate_from = $('input[name=\'filter_orderDate_from\']').val();
    if (filter_orderDate_from) {
      url += '&filter_orderDate_from=' + encodeURIComponent(filter_orderDate_from);
    }
    let filter_orderDate_to = $('input[name=\'filter_orderDate_to\']').val();
    if (filter_orderDate_to) {
      url += '&filter_orderDate_to=' + encodeURIComponent(filter_orderDate_to);
    }
    let filter_item_code = $('input[name=\'filter_item_code\']').val();
    if (filter_item_code) {
      url += '&filter_item_code=' + encodeURIComponent(filter_item_code);
    }
    //新增查询
    return url;
  }
  function downloadPurchaseOrder() {
    url = 'index.php?route=account/order_for_giga/purchaseOrderFilterByCsv';
    let filter_orderId = $('input[name=\'filter_orderId\']').val();
    if (filter_orderId) {
      url += '&filter_orderId=' + encodeURIComponent(filter_orderId);
    }
    let filter_orderDate_from = $('input[name=\'filter_orderDate_from\']').val();
    if (filter_orderDate_from) {
      url += '&filter_orderDate_from=' + encodeURIComponent(filter_orderDate_from);
    }
    let filter_orderDate_to = $('input[name=\'filter_orderDate_to\']').val();
    if (filter_orderDate_to) {
      url += '&filter_orderDate_to=' + encodeURIComponent(filter_orderDate_to);
    }
    let filter_item_code = $('input[name=\'filter_item_code\']').val();
    if (filter_item_code) {
      url += '&filter_item_code=' + encodeURIComponent(filter_item_code);
    }
    window.location.href = url;
  }
</script>
{{ footer }}
