{{ header }}
<style>
  .label-flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .border-right-none{
    border-radius: 4px 0 0 4px !important;
  }
</style>
<div id="page-account-edit" class="page-seller-portal">
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ heading_title }}</h1>
        <div class="tab-content main mb-4">
          <div role="tabpanel" class="tab-pane active" id="tab-1">
            <div class="bg-white p-4">
              <form action="{{ action }}" method="post" enctype="multipart/form-data"  class="form-wrapper">
                <div class="row mb-1" style="display: none;">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="current_password">CURRENT PASSWORD</label>
                      <span class="input-required">REQUIRED</span>
                      <div >
                        <input type="password" name="current_password" value="{{ current_password }}" class="form-control right-disabled " id="current_password" placeholder="Current Password">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="label-flex-between">
                        <label for="input-password">NEW PASSWORD</label>
                        {% if error_password %}
                          <span class="input-required">{{ error_password }}</span>
                        {% else %}
                          <span class="input-required">REQUIRED</span>
                        {% endif %}
                      </div>
                      <div>
                        <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control right-disabled " />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="label-flex-between">
                        <label for="input-confirm">CONFIRM NEW PASSWORD</label>
                        {% if error_confirm %}
                          <span class="input-required">{{ error_confirm }}</span>
                        {% else %}
                          <span class="input-required">REQUIRED</span>
                        {% endif %}
                      </div>
                      <div>
                        <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control right-disabled ">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-3">
                  <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
