<style>
  #page-saved-items h4{
    color:#ffffff;
  }
  #page-saved-items .action-group a.batch-footer{
    padding: 0;
    text-align: center;
    padding-top: 6px;
  }
  #storeNameRemind .btn.btn-primary{
    color: #333;
    border: #ccc;
    background-color: #eee;
    padding: 5px 10px;
  }
  #storeNameRemind .btn.btn-primary i{
    font-size: 20px;
  }
  #page-saved-items div.cwf_check input[type=checkbox] {
    position: relative;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    vertical-align: super;
  }

  #page-saved-items div.cwf_check input[type=checkbox]::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    width: 18px;
    height: 18px;
    background-color: #eee;
    border: 2px solid #aaa;
  }

  /*#page-saved-items div.cwf_check input[type=checkbox]:checked::before {*/
    /*border: none;*/
    /*content: '\2714';*/
    /*background-color: #3a75dc;*/
  /*}*/
</style>
<div id="on_shelf">
  {% if on_shelf %}
    <div class="row mt-3 mb-1">
      <div class="col-md-12 form-inline pull-right">
        <div class="from-group pull-right">
          <a class="btn form-control ml-2" onclick="downloadValidWishList()" style="line-height: 24px;">
            <i class="giga icon-action-download"></i>&nbsp;{{ text_download }}
          </a>
          <a class="btn form-control ml-2" style="line-height: 24px;"
             title="Low Inventory Remind Quantity"
             data-toggle="modal" data-target="#remind-modal">
            <i class="fa fa-pencil"></i>&nbsp;{{ text_set_qty }}</a>
        </div>
        {% if has_cwf_freight %}
        <div style="line-height: 38px">
          Fulfillment options:
          <label class="radio-inline" style="font-weight: normal;cursor: pointer;margin-left: 10px"><input  name="fulfillment" onchange="changeFulfillment(this)" type="radio" value="0" checked="checked"/><span>Drop Shipping</span></label>
          <label class="radio-inline" style="font-weight: normal;cursor: pointer;"><input  name="fulfillment" onchange="changeFulfillment(this)" type="radio" value="1"/><span>Cloud Wholesale Fulfillment</span></label>
        </div>
        {% endif %}
      </div>
    </div>
    {% for key, productArr in on_shelf %}
      <div class="row mt-3 mb-1">
        <div class="col-md-12">
          <div style="font-size: 20px;" align="left">
            <span style="line-height: 50px">
              <a href="{{ productArr[0].customer_href }}">{{ key }}</a>
            </span>
            <span style="line-height: 50px">
              <a href="{{ productArr[0].concat_href }}" data-toggle="tooltip" title="{{ text_contact_seller }}"><i class="fa fa-envelope" style="font-size: 20px"></i></a>
            </span>
          </div>
        </div>
      </div>
      <table name="table_on_shelf" class="table main" style="word-break: break-word;">
        <thead>
        <tr>
          <th>
            <div class="text-left check">
              <input name="check_box" onclick="selectAll(this)" data-set=".checkboxes" type="checkbox">
              <span class="icon"></span>
            </div>
          </th>
          <th class="text-left">{{ column_sku }}</th>
          <th class="text-center">{{ column_image }}</th>
          <th class="text-left" style="width: 230px;">{{ column_name }}</th>
          <th class="text-right">Avail. Qty</th>
          {% if isCollectionFromDomicile %}
            <th class="text-center">
              Inventory
              <br/>Distribution&nbsp;<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                        style="color: #337AB7;cursor: pointer"
                                        title="Inventory Distribution."
              ></i>
            </th>
          {% endif %}
          <th class="text-right">{{ column_price }}</th>
          <th class="text-right">Fulfillment Per Unit
            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer"
                                                      title="Fulfillment fee includes shipping and packaging fees."
            ></i></th>
          <th class="text-center">Total</th>
          <th class="text-center">{{ column_action }}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in productArr %}
          <tr>
            <td class="text-center" hidden>
              <input name="can_add_cart" value="{% if product.has_cwf_freight and product.can_add_cart %}1{% else %}0{% endif %}" hidden>
            </td>
            <td class="text-left">
              <div class="check">
                <input class="checkboxes"
                       onclick="if (!$(this).is(':checked')) {$('#check_box').removeAttr('checked');}"
                       name="product_id[]"
                       value="{{ product.product_id }}"
                       type="checkbox">
                <span class="icon"></span>
              </div>
            </td>
            <td class="text-left">
              {% if product.tag %}
                <a href="{{ product.href }}">{{ product.sku }}<i class="giga icon-table-link"></i></a>
                {% for tagDetail in product.tag %}
                  {{ tagDetail }}
                {% endfor %}
              {% else %}
                <a href="{{ product.href }}">{{ product.sku }}<i class="giga icon-table-link"></i></a>
              {% endif %}
            </td>
            <td class="text-center">
              {% if product.thumb %}
                <a href="{{ product.href }}">
                  <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" style="width: 40px;"/>
                </a>
              {% endif %}
            </td>
            <td class="text-left">
              {% if product.brand %}
                <span style="color: #3EC2EA">【</span><a
                href="index.php?route=product/manufacturer/info&manufacturer_id={{ product.brand_id }}">{{ product.brand }}</a>
                <span style="color: #3EC2EA">】</span>
              {% endif %}
              <a href="{{ product.href }}">{{ product.name }}
              <i class="giga icon-table-link"></i></a></td>
            <td class="text-right">
              {% if product.quantity > product.remind %}
                <span class="text-price">{{ product.quantity }}</span>
              {% else %}
                <span class="text-price" style="color: red;font-weight: bold">{{ product.quantity }}</span>
              {% endif %}
            </td>
            {% if isCollectionFromDomicile %}
              <td class="text-center">
                {% for key,value in product.warehouse_list %}
                  {{ value.warehouse_code }}:
                  {% if value.stock_qty is not null %}
                    <span style="font-weight: bold">{{ value.stock_qty }}</span><br/>
                  {% elseif value.stock_qty < 0 %}
                    <span style="font-weight: bold">0</span><br/>
                  {% else %}
                    <span style="font-weight: bold">0</span><br/>
                  {% endif %}

                {% endfor %}
              </td>
            {% endif %}
            <td class="text-right">
              {% if product.price %}
                <div class="price">
                  {% if not product.special %}
                    <a data-toggle="modal" data-target="#price-modal" style="cursor: pointer;"
                       onclick="showPriceHistory({{ product.product_id }})">{{ product.price }}
                      <i class="giga icon-table-link"></i>
                      {% if product.priceChange>0 %}
                        </br><b style="color: red" data-toggle="tooltip"
                                title="the price is increased by{{ product.priceChangeCurrency }} from added to the list">&#8593;{{ product.priceChangeCurrency }}</b>
                      {% elseif product.priceChange<0 %}
                        </br><b style="color: green" data-toggle="tooltip"
                                title="the price is decreased by{{ product.priceChangeCurrency }} from added to the list">&#8595;{{ product.priceChangeCurrency }}</b>
                      {% endif %}
                    </a>
                  {% else %}
                    <a data-toggle="modal" data-target="#price-modal"
                       style="cursor: pointer;"
                       onclick="showPriceHistory({{ product.product_id }})">
                      {{ product.special }}{{ product.price }}
                      <i class="giga icon-table-link"></i>
                      {% if product.priceChange>0 %}
                        </br><b style="color: red" data-toggle="tooltip"
                                title="the price is increased by{{ product.priceChangeCurrency }} from added to the list">&#8593;{{ product.priceChangeCurrency }}</b>
                      {% elseif product.priceChange<0 %}
                        </br><b style="color: green" data-toggle="tooltip"
                                title="the price is decreased by{{ product.priceChangeCurrency }} from added to the list">&#8595;{{ product.priceChangeCurrency }}</b>
                      {% endif %}
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            </td>
            <td class="text-center">

              <span id="freight" name="freight" >
                <span style="cursor: pointer"> {{ product.freight_per }} </span>
                <ul class="dropdown-freight">

                  <span style="color: #333333;border-bottom: 1px solid #e5e5e5;font-weight: bold;padding: 5px 0 5px 0; display: inline-block;width: 250px;">Freight for
                    {% if isCollectionFromDomicile %}
                      {{ service_type[1] }}
                    {% else %}
                      {{ service_type[0] }}
                    {% endif %}
                    service</span><br/>
                  <span style="border-bottom: 1px solid #e5e5e5;color: #333333;padding: 5px 0 5px 0; display: inline-block;font-weight: bold;width: 250px;">Shipping Fee <span style="color: #183463;margin-left: 50px">{{ product.freight_show }}</span></span><br/>
                  <span style="color: #333333;padding: 5px 0 5px 0;font-weight: bold;display: inline-block;width: 250px;">Packaging Fee <span style="color: #183463;margin-left: 50px"> {{ product.package_fee_show }}</span></span>
                </ul>
              </span>
              <span id="freight" name="freight_cwf" style="display: none">
                <span>{{ product.freight_cwf_show }}<span class="caret"></span></span>
                <ul class="dropdown-freight"> {# 此弹窗通过css，hover伪类控制 在stylesheet.css中#}
                  <span style="color: #333333;border-bottom: 1px solid #e5e5e5;font-weight: bold;padding: 5px 0 5px 0; display: inline-block;width: 250px;">Freight for cloud wholesale fulfillment service</span><br/>
                                <span style="border-bottom: 1px solid #e5e5e5;color: #333333;padding: 5px 0 5px 0; display: inline-block;font-weight: bold;width: 250px;">
                                    <p style="margin: 0;padding: 0"> <span style="color: #333333;padding: 5px 0 5px 0;font-weight: bold;display: inline-block;width: 250px;">Shipping Fee<span style="color: #183463;margin-left: 50px"> {{ product.freight_cwf }}</span></span></p>
                                    <p style="margin: 0;padding: 0;font-size: 12px;font-weight: 400;color:#FA6400;">
                                      ${{ freight_rate }}/{{ volume_class }}. Min.qty/address.: {{ cloud_logistics_volume_lower }}{{ volume_class }}.<br>Products ≤ {{ cloud_logistics_volume_lower }}{{ volume_class }} are calculated as {{ cloud_logistics_volume_lower }}{{ volume_class }}.<br>Product volume: {{ product.volume }}{{ volume_class }}.
                                    </p>
                                  </span>
                                <br/>
                                <span style="color: #333333;padding: 5px 0 5px 0;font-weight: bold;display: inline-block;width: 250px;">Packaging Fee<span style="color: #183463;margin-left: 50px"> {{ product.package_fee_cwf }}</span></span>
                              </ul>
              </span>
              <div>
              {% if product.freightChange>0 %}
                <br><b style="color: red;cursor: pointer" data-toggle="tooltip"
                       title="the fulfillment per unit is increased by{{ product.freightChangeCurrency }} from added to the list">&#8593;{{ product.freightChangeCurrency }}</b>
              {% elseif product.freightChange<0 %}
                <br><b style="color: green;cursor: pointer" data-toggle="tooltip"
                       title="the fulfillment per unit is decreased by{{ product.freightChangeCurrency }} from added to the list">&#8595;{{ product.freightChangeCurrency }}</b>
              {% endif %}
              </div>
            </td>
            <td class="text-center">
              <span name="total_amount">
              {{ product.total_amount }}
              </span>
              <span name="total_amount_cwf" style="display: none">
                {{ product.total_amount_cwf }}
              </span>
            </td>
            <td class="text-center">
              <div class="action-group">
                {% if product.has_cwf_freight and product.can_add_cart %}
                <button name="cwf_add_cart" type="button" onclick="addCart('{{ product.product_id }}');"
                        data-toggle="tooltip"
                        title="{{ button_cart }}" class="btn btn-grey" style="display: none">
                  <i class="giga icon-cart-add"></i>
                </button>
                {% endif %}
                <button name="add_cart" type="button" onclick="addCart('{{ product.product_id }}');"
                        data-toggle="tooltip"
                        title="{{ button_cart }}" class="btn btn-grey"><i
                    class="giga icon-cart-add"></i>
                </button>
                <button type="button" data-toggle="modal"
                        onclick="Value({{ product.product_id }},{{ product.remind_qty }})" title="Edit"
                        data-target="#item_remind_qty" class="btn btn-grey"><i class="fa fa-pencil"></i>
                </button>
                <a href="{{ product.remove }}" data-toggle="tooltip" title="{{ button_remove }}"
                   class="btn btn-grey"><i class="giga icon-save-delete" style="line-height: 18px;"></i></a>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endfor %}

    <div class="row ml-1">
      <div class="col-md-5 action-group">
        <span><i class="giga icon-tables-selected-rows-action"></i></span>
        <a onclick="addSelected()" class="batch-footer" data-toggle="tooltip" title="{{ button_cart }}" aria-hidden="true">
          <i class="giga icon-cart-add"></i>
        </a>
        <a onclick="removeSelected()" class="batch-footer" data-toggle="tooltip" title="{{ button_remove }}" aria-hidden="true">
          <i class="giga icon-save-delete"></i>
        </a>
        <label for="">Select a group action...</label>
      </div>
      {#不要分页#}
    </div>
  {% else %}
    <div class="row mt-3 mb-1">
      <div class="col-md-12">
        {{ text_search }}
      </div>
    </div>
  {% endif %}
</div>

<div id="remind-modal" class="modal fade" role="dialog" style="display: none;" tabindex="-1"
     data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" style="border-radius: 10px">
            <div class="modal-header"style="border-top-left-radius: 8px;border-top-right-radius: 8px">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Set Low Inventory Quantity Alert</h4>
            </div>
            <div class="modal-body" style="overflow:auto;">
                <div id="colors-modal-body" style="height: 100%;width: 100%;">
                    <form id="form-remind"  onsubmit="return false">
                        <div style="min-height:250px" id="remindBody">
                            <span style="font-size: 16px;line-height: 40px;margin-left: 2%">{{ text_remind }}</span>
                            <div style="margin-top: 2%">
                              <span style="font-size: 15px;font-weight: bold;margin-left: 2%;color: #ccc">All your subscribed products</span>
                                <div id="products" style="width: 90%;display: flex;margin-left:2%;height: 34px;margin-top: 2%">
                                    <input placeholder=" Quantity" name="allProductsRemind" value="{{ allProductsRemind }}"
                                           style="border-radius: 5px;border: 1px solid #ccc;background-color: #eee;width: 95%" onkeyup="qty(this)">
                                </div>
                                <span style="font-size: 15px;font-weight: bold;margin-left: 2%;margin-top: 2%;color: #ccc">Subscribed products products from certain seller</span>
                                <div id="storeNameRemind">
                                    {% if sellerStoresRemind %}
                                        {% for sellerStoreRemind  in sellerStoresRemind %}
                                            <div name="storeName" id="storeName{{ loop.index0 }}"
                                                 style="width: 400px;display: flex;margin-left: 2%;margin-top: 2%">
                                                <select name="sellerNameRemind[{{ loop.index0 }}][seller_id]"
                                                        class="form-edit form-control" onchange="searchSeller(this);" style="width: 40%">
                                                    <option value="">-- Select--</option>
                                                    {% for seller  in sellers %}
                                                        {% if seller.seller_id == sellerStoreRemind.seller_id %}
                                                            <option value="{{ seller.seller_id }}" selected>{{ seller.screenname }}</option>
                                                        {% else %}
                                                            <option value="{{ seller.seller_id }}">{{ seller.screenname }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <input name="sellerNameRemind[{{ loop.index0 }}][remindQty]" placeholder=" Quantity"
                                                       value="{{ sellerStoreRemind.remind_qty }}"
                                                       style="border-radius: 5px;margin-left: 10px;border: 1px solid #ccc;background-color: #eee"
                                                       onkeyup="qty(this)">
                                                {% if loop.index0+1 != loop.length %}
                                                    <button type="button" onclick="addSellerRemind(this)" data-toggle="tooltip" title=""
                                                            class="btn btn-primary btn-submit"
                                                            style="margin-left: 10px;display: none;"><i class="fa fa-plus-circle"></i>
                                                    </button>
                                                    <button type="button" onclick="removeSellerRemind(this)" data-toggle="tooltip" title=""
                                                            class="btn btn-danger" style="margin-left: 10px"><i
                                                            class="fa fa-minus-circle"></i></button>
                                                {% else %}
                                                    <button type="button" onclick="addSellerRemind(this)" data-toggle="tooltip" title=""
                                                            class="btn btn-primary btn-submit"  style="margin-left: 10px;"><i
                                                            class="fa fa-plus-circle"></i></button>
                                                    <button type="button" onclick="removeSellerRemind(this)" data-toggle="tooltip" title=""
                                                            class="btn btn-danger"
                                                            style="margin-left: 10px;display: none"><i class="fa fa-minus-circle"></i>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div name="storeName" id="storeName0"
                                             style="width: 400px;display: flex;margin-left: 2%;margin-top: 2%">
                                            <select name="sellerNameRemind[0][seller_id]" class="form-edit form-control"
                                                    onchange="searchSeller(this);" style="width: 40%">
                                                <option value="">-- Select--</option>
                                                {% for seller  in sellers %}
                                                    <option value="{{ seller.seller_id }}">{{ seller.screenname }}</option>
                                                {% endfor %}
                                            </select>
                                            <input name="sellerNameRemind[0][remindQty]" placeholder=" Quantity"
                                                   style="border-radius: 5px;margin-left: 10px;border: 1px solid #ccc;background-color: #eee"
                                                   onkeyup="qty(this)">
                                            <button type="button" onclick="addSellerRemind(this)" data-toggle="tooltip" title=""
                                                    class="btn btn-primary btn-submit"  style="margin-left: 10px"><i
                                                    class="fa fa-plus-circle"></i></button>
                                            <button type="button" onclick="removeSellerRemind(this)" data-toggle="tooltip" title=""
                                                    class="btn btn-danger"
                                                    style="margin-left: 10px;display: none"><i class="fa fa-minus-circle"></i></button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
              <div style="text-align:center;line-height: 40px">
                <button onclick="addRemind()" data-toggle="tooltip" title="" class="btn btn-default"
                        data-original-title="{{ button_save }}">{{ button_save }}</button>
                <a data-toggle="tooltip" title="" class="btn btn-default"
                   data-original-title="{{ button_back }}" data-dismiss="modal" aria-hidden="true">{{ button_back }}</a>
              </div>
            </div>
        </div>
    </div>
</div>
<div id="item_remind_qty" class="modal fade" role="dialog" style="display: none;" tabindex="-1"
     data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Set Low Inventory Quantity Alert For This Item Code</h4>
            </div>
            <div class="modal-body" style="overflow:auto;">
                <div id="colors-modal-body" style="width: 100%;">
                    <form id="item-remind" onsubmit="return false">
                        <div style="min-height:100px;border-radius: 8px" id="remindBody">
                            <span style="font-size: 16px;line-height: 40px;margin-left: 2%">{{ text_remind }}</span>

                            <div id="products" style="display: flex;margin-left: 2%;height: 34px;margin-top: 2%">
                                <input type="hidden" id="item_product_id" name="item_product_id" value="" style="width: 95%">
                                <input id="itemCode_remind_qty" placeholder=" Quantity" name="itemCode_remind_qty" value=""
                                       style="border-radius: 5px;border: 1px solid #ccc;background-color: #eee;width: 95%" onkeyup="qty(this)">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
              <div style="text-align: center;line-height: 40px">
                <button onclick="addItemRemind()" data-toggle="tooltip" title="" class="btn btn-default"
                        data-original-title="{{ button_save }}">{{ button_save }}</button>
                <a data-toggle="tooltip" title="" class="btn btn-default"
                   data-original-title="{{ button_back }}" data-dismiss="modal" aria-hidden="true">{{ button_back }}</a>
              </div>
            </div>
        </div>
    </div>
</div>
<script>
    block.unBlockUI();
    var validCount = {{ search_vaild_count }};
     if(validCount == 0){
        $('#valid_li').removeClass('active');
        $('#expired_li').addClass('active');
         $('#tab-valid').removeClass('active');
         $('#tab-expired').addClass('active');
    }

    function addSellerRemind(obj) {
        var id = obj.parentElement.id;
        rowNo = id.split('storeName')[1];
        rowNo++;
        var storeName = '<div name="storeName" id="storeName' + rowNo + '" style="width: 400px;display: flex;margin-left: 2%;margin-top: 2%">\n' +
            '<select name="sellerNameRemind[' + rowNo + '][seller_id]" id="sellerNameNeedToBuy" class="form-edit form-control" onchange="searchSeller(this);" style="width: 40%">\n' +
            '<option value="">-- Select--</option>';
        {% for seller  in sellers %}
        storeName += '<option value="{{ seller.seller_id }}">{{ seller.screenname }}</option>'
        {% endfor %};
        storeName += '</select>' +
            '<input name="sellerNameRemind[' + rowNo + '][remindQty]"  placeholder="Quantity" style="border-radius: 5px;margin-left: 10px;border: 1px solid #ccc" onkeyup="qty(this)">\n' +
            '<button type="button" onclick="addSellerRemind(this)" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add" style="margin-left: 10px"><i class="fa fa-plus-circle"></i></button>' +
            '<button type="button"  onclick="removeSellerRemind(this)" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Remove" style="margin-left: 10px;display: none"><i class="fa fa-minus-circle">' +
            '</div>';
        $('#' + id).after(storeName);
        $('#' + id).find('button').eq(1).show();
        $('#' + id).find('button').eq(0).hide();
    }

    function removeSellerRemind(obj) {
        obj.parentNode.remove();
    }
    // $('input[type=radio][name=fulfillment]').change(function () {
    //   alert(11);
    //   $fulfillmentType = $("input[name=fulfillment]:checked").val();
    //   if ($fulfillmentType == 1) {
    //     $('#freight_cwf').show();
    //     $('#total_amount_cwf').show();
    //     $('#freight').hide();
    //     $('#total_amount').hide();
    //   } else {
    //     $('#freight_cwf').hide();
    //     $('#total_amount_cwf').hide();
    //     $('#freight').show();
    //     $('#total_amount').show();
    //   }
    // })
  // function changeFulfillment(obj) {
  //     alert(11);
  //     $fulfillmentType = $("input[name=fulfillment]:checked").val();
  //     if ($fulfillmentType == 1) {
  //       $('#freight_cwf').show();
  //       $('#total_amount_cwf').show();
  //       $('#freight').hide();
  //       $('#total_amount').hide();
  //     } else {
  //       $('#freight_cwf').hide();
  //       $('#total_amount_cwf').hide();
  //       $('#freight').show();
  //       $('#total_amount').show();
  //     }
  // }



</script>