{{ header }}
{#<link rel="stylesheet" href="/admin/view/stylesheet/stylesheet.css">#}
{{ js(['js/common/toolString.js']) }}
<style>
  .btn-cart-qty{
    width: 34px;
    border:1px solid #eee;
  }
  .btn-cart-btn{
    width: 100%;
  }
  .ysc-container{
    padding:30px 0;
    width: 1140px;
    margin: 0 auto;
  }
  i:hover{
    cursor: pointer;
  }
  .page-cart-wrapper a{
    color: #3A75DC;
  }
  .top-tip{
    display:flex;
    flex-wrap:wrap;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin-bottom: 30px;
  }
  .tip-icon{
    display:block;
    width:33px;
  }
  .tip-icon i{
    font-size: 16px;
    margin:0 10px;
    line-height: 3;
    cursor: unset;
  }
  .tip-text{
    width:calc(100% - 33px);
    position: relative;
    line-height: 24px;
  }
  .tip-text span a{
    color: #3A75DC;
    position: absolute;
    right: 16px;
  }
  .explain{
    margin-bottom: 40px;
  }
  .explain i{
    margin-right: 6px;
    font-size: 13px;
  }
  .explain .explain-text{
    font-size: 13px;
    color: #169BD5;
  }
  .title{
    font-size: 18px;
    color: #183464;
    margin-bottom: 20px;
  }
  /*.label-title{*/
  /*  padding-bottom: 10px;*/
  /*  border-bottom: 1px solid #677999;*/
  /*}*/
  .label-title span{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #183464;
  }
  .label-title i,.radio i{
    font-size: 12px;
  }
  label{
    font-weight: unset !important;
  }

  .check-divider{
    padding-bottom: 10px;
    border-bottom: 1px solid #677999;
  }
  .radio-con input{
    margin-right: 4px;
    height: 30px;
    line-height: 30px;
    vertical-align: text-top;
  }
  .no-required{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Roboto", Helvetica, Arial, serif !important;
    font-size: 14px;
    /* font-size: 12px; */
    line-height: 1.428571429;
    color: #333333;
  }
  .required:after{
    content:'*';
    color: red;
    margin:0  5px;
  }
  .my-label{
    height: 38px;
    line-height: 38px;
    display: inline-block;
    width: 8%;
  }
  .my-input{
    display: inline-block;
    width: 90%;
  }
  .my-input-no-label{
    display: inline-block;
    width: 98%;
  }
  .font16{
    font-size: 16px;
  }
  .basic-info{
    /*overflow: hidden;*/
  }
  .Gen-radio2-input{
    width: 270px;
    border-radius: 4px;
    border: 1px solid #aaa;
    background: #f3f5f7;
    height: 38px;
    padding: 8px 13px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #232424;
  }
  .Gen-radio2-input label input{
    margin-right: 10px;
  }
  .Bill-info{
    margin-top: 30px;
  }
  .marb10{
    margin-bottom: 10px;
  }
  .form-control.input-custom {
    border-radius: 4px;
    border: 1px solid #aaa;
    background: #f3f5f7;
  }
  .table tbody tr td .btn.btn-upload{
    width: auto;
    height: auto;
  }
  .table tbody tr td .btn.btn-upload i{
    font-size: 12px;
  }
  .thumbnail{
    margin-bottom: 0;
  }
  .submit-con{
    margin-top: 30px;
    text-align: center;
  }
  .numberCon{
    position: absolute;
    /*top: 11px;*/
    right: 25px;
    top: 36px;
    font-size: 12px;
    color: #b5b5b5;
  }
  .numberConO{
    position: absolute;
    top: 36px;
    right: 18px;
    font-size: 12px;
    color: #b5b5b5;
  }
  .numberCont{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #b5b5b5;
  }
  .pr45{
    padding-right: 62px;
  }
  .pr57{
      padding-right: 57px;
  }
  .red{
    color: red;
  }
  .radio-con{
      border-radius: 4px;
      border: 1px solid #aaa;
      background: #f3f5f7;
      padding:10px;
  }
  .radio-con label{
      padding-left: 10px;
  }
  .radio-con input[type="radio"] {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      position: absolute;
      right: 6px;
    top: 15px;
  }
  .radio-con input[type="radio"]::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #7F7F7F;
  }
  .radio-con input[type="radio"]:checked:before {
      content: '\e6ca';
      font-family: 'giga';
      font-size: 12px;
      background-color: #0477ff;
      width: 20px;
      height: 20px;
      color: #fff;
      border: none;
  }
  .radio-con input[type="radio"]:checked::after{
    width: 0;
    height: 0;
  }
  .input-con{
    padding: 10px;
  }

  .attachment-btn a{
    cursor: pointer;
    color: #3A75DC;
  }
  .protocol{
    margin-top: 100px;
    display: flex;
    margin: 0 155px;
  }

  .protocol input{
    display: block;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    width: 12px;
    top:20px;
  }
  .protocol span{
    display: block;
    height: 50px;
    line-height: 25px;
    text-align: center;
  }
  .protocol span a{
    color: #3A75DC;
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: relative;
    width: 14px !important;
    height: 14px !important;
    margin: 0 5px !important;
    vertical-align: sub !important;
  }
  .guide p{
    font-size: 16px;
    color: #FA6400;
  }
  .guide div{
    padding: 10px 0;
    border-top: 1px solid #B6B7B9;
  }
  .guide div img{
    width: 100%;
  }
  .guide-btn{
    text-align: center;
  }
  .guide-btn button{
    width: 80px;
    background: blue;
    color: #fff;
  }

  .popTip{
    position: absolute;
    z-index: 99;
    padding: 0 20px;
    display: inline-block;
  }
  .tag{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #B6B7B9;
    position:relative;
    background-color:#FFF;
    border-radius: 4px;
    padding: 5px 10px;
  }
  .tag:before,.tag:after{
    content:"";
    display:block;
    border-width:10px;
    position:absolute;
    top:-20px;
    left:20px;
    border-style:solid dashed dashed;
    border-color:transparent transparent #B6B7B9;
    font-size:0;
    line-height:0;
  }
  .tag:after{
    top:-19px;
    border-color:transparent transparent #FFF;
  }

  .tag i{
    margin-right: 10px;
  }
   /*模态框样式覆盖*/
  .close{
    background-color: #193465 !important;
  }
  /* 按钮样式 */
  #attachments{
    background-color: #fff;
    border: none;
    color: #3A75DC;
    outline: none
  }

  table tr th{
    font-size: 14px;
  }
  #icon-dui,#icon-cuo{
    font-size: 14px;
    vertical-align: middle
  }
</style>

<div id="page-cart-wrapper" class="page-seller-portal page-cart-wrapper">
  <div class="breadcrumb-wrapper text-center clearfix">
    <h1>{{ heading_title }}</h1>
    {% include 'giga/template/_parts/breadcrumb.twig' %}
  </div>
  <div class="ysc-container" style="min-height: 500px">
    <div class="top-tip">
      <div class="tip-icon">
        <i class="giga icon-icn--n" style="color: #AAAAAA;" data-toggle="tooltip"></i>
      </div>
      <div class="tip-text">
          <span>
            Cloud Wholesale Fulfillment requires the shipping addresses of orders to be in areas with high to moderate population densities. Giga Cloud Logistics reserves the right to refuse Cloud Wholesale Fulfillment services to accounts that consistently request order shipments to secluded areas.
            <a href="{{ information_url}}" target="_blank">{{ top_information_title }}</a>
          </span>
      </div>
    </div>
    <div class="basic-info">
      <form class="form-wrapper" id="formOrder">
        <div class="row" style="margin-bottom: 30px">
          <div class="col-xs-8">
            <div>
              <span>{{ info_cwf_type }}</span>
            </div>
            <div class="radio">
              <div class="col-xs-4 radio-con">
                <label>
                    <i class="giga icon-cangku" style="font-size: 20px;margin-right: 10px;" data-toggle="tooltip"></i>
                    <span>{{ info_cwf_type_fba }}</span>
                    <input type="radio" name="serverType" value="Amazon FBA warehouse" checked="checked" autocomplete="off">
                </label>
              </div>
              <div class="col-xs-4 radio-con" style="margin-left: 20px;">
                <label>
                  <i class="giga icon-dianpu" style="font-size: 20px;margin-right: 10px;" data-toggle="tooltip"></i>
                  <span>{{ info_cwf_type_ohter }}</span>
                  <input type="radio" name="serverType" value="Others" autocomplete="off" >
                </label>
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-original-title="{{ info_cwf_type_other_tips }}" data-html="true"></i>
              </div>
            </div>
          </div>
        </div>
        {#   shipping Address     #}
        <div class="check" style="margin-bottom: 30px">
          <div class="label-title check-divider" style="margin-bottom: 10px"><span>{{ table_ship_to }}</span></div>
          <div class="marb10 Gen-radio2 row">
            <div class="col-xs-6">
              <label or="ShipmentId" class="required">{{ table_recipient }}</label>
              <input type="text" class="form-control pr45 countInput" id="Recipient" name="Recipient" autocomplete="off"
                     placeholder="{{ table_recipient_tips }}" data-countid="RecipientCount" data-value="100" maxlength="100"
                     onkeyup="this.value=this.value.replace( /^\s*/, '');" >
              <span id="RecipientCount" class="numberCon">0/100</span>
            </div>
            <div class="col-xs-3">
              <label or="Phone" class="required">{{table_phone}}</label>
              <input type="text" class="form-control pr45 countInput" id="Phone" name="Phone" autocomplete="off"
                     placeholder="{{table_phone}}" data-countid="PhoneCount" data-value="30" maxlength="30"
                     onkeyup="this.value=this.value.replace( /^\s*/, '');" >
              <span id="PhoneCount" class="numberCon">0/30</span>
            </div>
            <div class="col-xs-3">
              <label or="Email" class="required">{{ table_email }}</label>
              <input type="text" class="form-control pr45 countInput" id="Email" name="Email" autocomplete="off"
                     placeholder="{{ table_email }}" data-countid="EmailCount" data-value="30" maxlength="30"
                     onkeyup="this.value=this.value.replace( /^\s*/, '');" >
              <span id="EmailCount" class="numberCon">0/30</span>
            </div>
          </div>
          <div class="row marb10">
            <div class="col-xs-6">
              <label class="required" for="Address" style="font-weight: unset">{{ table_address }}</label>
              <input type="text" class="form-control pr45 countInput" id="Address" name="Address" autocomplete="off"
                     placeholder="{{ table_address }}" data-countid="AddressCount" data-value="56" maxlength="56"
                     onkeyup="this.value=this.value.replace( /^\s*/, '');" >
              <span id="AddressCount" class="numberCon">0/56</span>
            </div>
            <div class="col-xs-3">
              <label class="required" for="City">{{ table_city }}</label>
              <input type="text" class="form-control pr45 countInput" id="City" name="City" autocomplete="off"
                     placeholder="{{ table_city }}" data-countid="CityCount" data-value="50" maxlength="50"
                     onkeyup="this.value=this.value.replace( /^\s*/, '');" >
              <span id="CityCount" class="numberCon">0/50</span>
            </div>
            <div class="col-xs-3">
              <label class="required" for="State">State</label>
              <select class="form-control" name="State" id="State" name="State" autocomplete="off" autocomplete="off">
                <option value="0">Please Select State</option>
                {% for k,v in zone %}
                  <option value="{{ v }}">{{ k }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <label class="required" for="ZIP">{{ table_zip_code }}</label>
              <input type="text" class="form-control pr45 countInput" id="ZIP" name="ZIP" autocomplete="off"
                     placeholder="{{ table_zip_code }}" data-countid="ZIPCount" data-value="20" maxlength="20"
                     onkeyup="this.value=this.value.replace( /^\s*/, '');" >
              <span id="ZIPCount" class="numberCon">0/20</span>
            </div>
            <div class="col-xs-3">
              <label for="Country">Country</label>
              <input type="text" class="form-control pr45" id="United" name="United" autocomplete="off"
                     placeholder="{{ table_united_states }}" value="{{ table_united_states }}" disabled>
            </div>
            <div class="col-xs-6 Amazon-radio2">
              <label for="FBACode">
                <span class="required">{{ fba_warehouse_code }}</span>
                <i class="giga icon-V10-wenhaotishi" style="font-size: 12px;" data-toggle="tooltip" data-original-title="{{ fba_warehouse_code_tips }}" data-html="true">
                </i>
              </label>
              <input type="text" class="form-control pr45 countInput" id="FBACode" name="FBACode" autocomplete="off"
                     placeholder="{{ fba_warehouse_code_placeholder }}" data-countid="FBAAINCount" data-value="100" maxlength="100"
                     onkeyup="this.value=this.value.replace( /^\s*/, '');" >
              <span id="FBAAINCount" class="numberCon">0/100</span>
            </div>
            <div class="col-xs-6 Gen-radio2" style="display: none">
              <label for="hasLoadingDock" style="height: 20px;">
                {{ info_dock_title }}
                <i class="giga icon-V10-wenhaotishi" style="font-size: 12px;" data-toggle="tooltip" data-original-title="{{ info_dock_title_tips }}"></i>
              </label>
              <div class="redio row">
                <div class="col-xs-5 Gen-radio2-input radio-dock" style="margin-left: 11px;">
                  <label>
                    <input type="radio" name="hasLoadingDock" value="Yes" checked="checked" autocomplete="off">Yes
                  </label>
                </div>
                <div class="col-xs-5 Gen-radio2-input radio-dock" style="margin-left: 20px">
                  <label>
                    <input type="radio" name="hasLoadingDock" value="No" autocomplete="off">No
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div>
        {#  General Information #}
        <div class="Bill-info">
          <div class="label-title check-divider" style="margin-bottom: 10px">
            <span>{{ info_feneral_information }}</span>
          </div>
          <div class="row">
            <div class="col-xs-3 marb10">
              <label for="ShipmentId" class="required">{{ bill_info_shipment }}</label>
              <input id="ShipmentId" type="text" class="form-control pr45 countInput" data-countid="ShipmentIdCount"
                     autocomplete="off"  placeholder="{{ bill_info_shipment }}" data-value="50" maxlength="50"
                     onkeyup="this.value=this.value.replace( /^\s*/, '');" >
              <span id="ShipmentIdCount" class="numberConO">0/50</span>
            </div>
            <div class="col-xs-3 marb10">
              <label for="AmazonReferenceId">
                <span class="required">{{ bill_info_amazon_ref }}</span>
              </label>
              <input id="AmazonReferenceId" type="text" class="form-control pr45 countInput"
                     data-countid="AmazonReferenceIdCount" autocomplete="off"  placeholder="{{ bill_info_amazon_ref }}"
                     data-value="50" maxlength="50" onkeyup="this.value=this.value.replace( /^\s*/, '');" >
              <span id="AmazonReferenceIdCount" class="numberConO">0/50</span>
            </div>
            <div class="col-xs-3 marb10">
              <label or="ShipmentId" class="required">{{ fba_amazon_reference_number_arn }}</label>
              <input id="AmazonReferenceNumber" type="text" class="form-control pr45 countInput"
                     data-countid="AmazonReferenceNumberCount" autocomplete="off"
                     placeholder="{{ fba_amazon_reference_number}}"  data-value="50" maxlength="50"
                     onkeyup="this.value=this.value.replace( /^\s*/, '');" >
              <span id="AmazonReferenceNumberCount" class="numberConO">0/50</span>
            </div>
            <div class="col-xs-3 marb10">
              <label for="PalletLabel">
                <span class="required">{{ pallet_label_label }}</span>
                <i class="giga icon-V10-wenhaotishi" style="font-size: 12px;" data-toggle="tooltip" data-original-title="{{ pallet_label_tip }}" data-html="true">
                </i>
              </label>

              <div>
                <button type="button"  id="team_lift" name="team_lift" data-tag_id="{{ bill_info_pallet_label }}" style="height: 38px;font-weight: normal" class="btn btn-primary btn-upload">
                  <i class="giga icon-shangchuan"></i> {{ button_upload }}
                </button>
                <input type="file" id="team_lift_upload" style="display: none" autocomplete="off">
              </div>
            </div>
          </div>

        </div>
        {# Bill-table     #}
        <div class="Bill-table" style="margin-top: 20px;">
          <div class="table-responsive">
            <table class="table main table-hover">
              <thead>
              <tr style="background: #f3f5f7">
                <th class="text-center" width="2%">{{ bill_table_head_order_num }}</th>
                <th class="text-center" width="5%">{{ bill_table_head_image }}</th>
                <th class="text-center" width="13%">{{ bill_table_head_item_code }}</th>
                <th class="text-center" width="18%"><span class="required">{{ bill_table_head_mer_sku }}</span><i style="font-size: 12px" class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-original-title="{{ bill_table_head_mer_sku_tips }}"></i> </th>
                <th class="text-center" width="18%"><span class="required">{{ bill_table_head_fn_sku }}</span><i style="font-size: 12px" class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-original-title="{{ bill_table_head_fn_sku_tips }}"></i> </th>
                <th class="text-center" width="5%">Volume <br>(per package)</th>
                <th class="text-center" width="12%">Overall&nbsp;Weight <br>(per package)</th>
                <th class="text-center">Team Lift<i style="font-size: 12px;margin-left: 5px" class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-original-title="{{ team_lift_tip }}">
                  </i>
                </th>
                <th class="text-center" width="5%">{{ bill_table_head_qty }}</th>
                <th class="text-center" width="13%"><span class="required">Box Label</span><i style="font-size: 12px" class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-original-title="{{ box_label_tip }}" data-html="true"></i>
                </th>
                <th class="text-center" width="13%"><span class="required">Item Label</span><i style="font-size: 12px" class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-original-title="{{ item_label_tip }}" data-html="true"></i>
                </th>
              </tr>
              </thead>
              <tbody>
              {% for i in cart %}
                <tr
                  {% if i.combo %}
                    style="background-color:#e3e3e3; cursor: not-allowed;"
                    onmouseover="mjstip.start(this)"
                    tips="Combo items cannot be shipped to Amazon FBA.  "
                  {% endif %}
                >
                  <td>
                    {{ loop.index }}
                    <input type="text" name="cart_id" value="{{ i.cart_id }}" hidden>
                    <input type="text" name="token_{{ i.cart_id }}" value="{{ i.token }}" hidden>
                    <input type="text" name="product_id_{{ i.cart_id }}" value="{{ i.product_id }}" hidden>
                    <input type="text" name="seller_id_{{ i.cart_id }}" value="{{ i.seller_id }}" hidden>
                  </td>
                  <td class="text-center">
                    <img src="{{ i.image }}" class="thumbnail pull-left">
                  </td>
                  <td class="text-center">
                    <a href="/index.php?route=product/product&product_id={{ i.product_id }}" target="_blank">
                      <span id="item_code_{{ i.cart_id }}">{{ i.sku }}</span>
                      {#                      <i class="giga icon-table-link"></i>#}
                    </a>
                    {#                    {% if i.combo %}#}
                    {#                      <i class="giga icon-gantanhao1" style="font-size: 18px;color: #da0000;" data-toggle="tooltip" data-original-title="{{ check_error_combo|format(i.sku) }}"></i>#}
                    {#                    {% endif %}#}
                  </td>
                  <td>
                    {% if i.combo %}
                      <input type="text" class="form-control input-custom" id="mer_sku_{{ i.cart_id }}" autocomplete="off" placeholder="{{ bill_table_head_mer_sku }}" onchange="check_mer_sku('{{ i.cart_id }}')" disabled>
                    {% else %}
                      <input type="text" class="form-control input-custom" id="mer_sku_{{ i.cart_id }}" autocomplete="off" placeholder="{{ bill_table_head_mer_sku }}">
                    {% endif %}
                  </td>
                  <td>
                    {% if i.combo  %}
                      <input type="text" class="form-control input-custom" id="fn_sku_{{ i.cart_id }}" autocomplete="off" placeholder="{{ bill_table_head_fn_sku }}"   onchange="check_fn_sku('{{ i.cart_id }}')" disabled>
                    {% else %}
                      <input type="text" class="form-control input-custom" id="fn_sku_{{ i.cart_id }}" autocomplete="off" placeholder="{{ bill_table_head_fn_sku }}">
                    {% endif %}
                  </td>
                  <td class="text-center">
                    <span>{{ i.total_volume_show }}</span>
                  </td>
                  <td class="text-center">
                    <span>{{ i.total_weight_show }}</span>
                  </td>
                  <td class="text-center">
                    <span style="position: relative" class="check-con">
                      {% if i.combo  %}
                        <input type="checkbox" style="width: 12px;height: 12px;" name="team_lift_status_{{ i.cart_id }}" {% if i.team_lift_status %} checked {% endif %} disabled>
                      {% else %}
                        <input type="checkbox" style="width: 12px;height: 12px;" name="team_lift_status_{{ i.cart_id }}" {% if i.team_lift_status %} checked {% endif %}>
                      {% endif %}
                    </span>
                  </td>
                  <td class="text-center">
                    <span id="quantity_{{ i.cart_id }}">{{ i.quantity }}</span>
                  </td>
                  <td class="text-center">
                    {% if i.combo  %}
                      <button type="button"  disabled id="btn_package_{{ i.cart_id }}" data-tag_id="{{ bill_table_head_package_label }}" class="btn btn-primary btn-upload" style="font-weight: normal;"><i class="giga icon-shangchuan"></i> {{ button_upload }}</button>
                    {% else %}
                      <button type="button"   id="btn_package_{{ i.cart_id }}" data-tag_id="{{ bill_table_head_package_label }}" class="btn btn-primary btn-upload" style="font-weight: normal;"><i class="giga icon-shangchuan"></i> {{ button_upload }}</button>
                    {% endif %}
                    <input type="file" id="btn_package_{{ i.cart_id }}_upload" style="display: none" autocomplete="off">
                  </td>
                  <td class="text-center">
                    {% if i.combo %}
                      <button type="button" disabled id="btn_product_{{ i.cart_id }}" data-tag_id="{{ bill_table_head_product_label }}" class="btn btn-primary btn-upload" style="font-weight: normal;"><i class="giga icon-shangchuan"></i> {{ button_upload }}</button>
                    {% else %}
                      <button type="button"  id="btn_product_{{ i.cart_id }}" data-tag_id="{{ bill_table_head_product_label }}" class="btn btn-primary btn-upload" style="font-weight: normal;"><i class="giga icon-shangchuan"></i> {{ button_upload }}</button>
                    {% endif %}

                    <input type="file" id="btn_product_{{ i.cart_id }}_upload" style="display: none" autocomplete="off">
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% for i in cart %}  {# 每行一个错 #}
              <p class="error_info" id="mer_sku_err_{{ i.cart_id }}" style="color: red;font-size: 12px;margin: 0;padding: 0;display: none;">Line {{ loop.index }}:{{ check_error_txt_common|format('Merchant SKU',0,50) }}</p>
              <p class="error_info" id="fn_sku_err_{{ i.cart_id }}" style="color: red;font-size: 12px;margin: 0;padding: 0;display: none;">Line {{ loop.index }}:{{ check_error_txt_common|format('FNSKU',0,50) }}</p>
              {% if i.combo %}
                <p class="error_info err_combo" id="err_combo_{{ i.cart_id }}" style="color: red;font-size: 12px;margin: 0;padding: 0;display: none;">Line {{ loop.index }}:{{ check_error_combo|format(i.sku) }}</p>
              {% endif %}
              <p class="error_info" id="package_label_err_{{ i.cart_id }}" style="color: red;font-size: 12px;margin: 0;padding: 0;display: none;">Line {{ loop.index }}: {{ check_error_load_package }}</p>
              <p class="error_info" id="product_label_err_{{ i.cart_id }}" style="color: red;font-size: 12px;margin: 0;padding: 0;display: none;">Line {{ loop.index }}: {{ check_error_load_product }}</p>
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
    {#  other Comments & Attachments  #}
    <div class="order-comments" style="margin-top: 20px;">
      <div class="label-title check-divider" style="margin-bottom: 10px"><span>{{ table_order_comments }} &Attachments</span></div>
      <form class="form-wrapper" style="position: relative">
        <textarea name="" id="textarea_comments"  class="form-control countInput"
                  placeholder="Inform the Marketplace of any additional details here." data-countid="comments"
                  data-value="2000" maxlength="2000" onkeyup="this.value=this.value.replace( /^\s*/, '');" ></textarea>
        <span id="comments" class="numberCont">0/2000</span>
      </form>
      <div style="margin-top: 10px">
        <button type="button"  id="attachments" data-tag_id="{{ button_attachments }}" class="btn-upload">
          +&nbsp;{{ button_attachments }}
        </button>
        <input type="file" id="attachments_upload" style="display: none;" multiple="multiple" autocomplete="off">
        <div id="pic_list" style="margin-top: 0px;"></div>
      </div>
    </div>
    {#   protocol 协议  #}
    <div class="protocol" style="margin-top: 100px;">
      <span style="position: relative;" class="check-con">
        <input id="protocol" type="checkbox" name="protocol" data-original-title="Please check the box of the confirmation above to proceed to checkout."  onchange="change_protocol()">
      </span>
      <span>I have read and agreed to '<a href="{{ information_url }}" target="_blank">{{ information_title }}</a>'.
          I confirm all information is correct and assume responsibility of any delivery consequences that may result from errors.
        </span>
    </div>
    <div class="submit-con">
      <input type="hidden" id="cart_info" value="{{ cart_info }}" />
      <input type="hidden" id="cart_num_info" value="{{ cart_num_info }}" />
      <input type="hidden" id="cart_price_info" value="{{ cart_price_info }}" />
      <input type="hidden" id="cart_type_info" value="{{ cart_type_info }}" />
      <span style="display:flex;justify-content: center;align-content: center;">
        <span style="margin-right: 10px" id="tooltip-btn" class="btn btn-primary" tabindex="0" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Please check the box of the confirmation above to proceed to checkout." disabled>{{ button_check_out }}</span>
        <button id="ValidatedForm" style="display: none;margin-right: 10px" class="btn btn-primary">{{ button_check_out }}</button>
        <button type="button"  id="back_cart" class="btn btn-default">{{ button_back_cart }}</button>
      </span>

{#      <button type="button"  id="btn_test" class="btn btn-default">TEST</button>#}
    </div>
  </div>

  {# Modal模态框 #}
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {#   header   #}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        {#    body    #}
        <div class="modal-body">
          <p></p>
          <div id="guide" class="guide">
            <p>5.Shipping labels</p>
          </div>
        </div>
        {#   footer   #}
        <div class="modal-footer guide-btn">
          <button type="button" id="Guide_Ok_btn" class="btn btn-primary"  data-dismiss="modal">ok</button>
        </div>
      </div>
    </div>
  </div>

  {# 跟随鼠标移动的提示框 #}
  <div id="mjs:tip" class="mjstip" style="position:absolute;left:0;top:0;display:none;"></div>

</div>


<style>
  .attach-list{
    padding: 2px;
    margin-left: 5px;
    margin-top: 3px;
    display: flex;
  }

  .attach-list:hover,.file_info:hover{
    background: #F3F5F7;
  }
  .attach-list a{
    color: #7F7F7F;
  }
  .href_color:hover{
    color: #7F7F7F;
  }
  .file_info{
    padding: 2px;
  }
  {# 跟随鼠标移动的提示框 #}
  .mjstip{width:200px;padding:8px;background:#000000;color:#ffffff;}
</style>

<script>
  {# 模态框 #}
  $(document).ready(function(){
    // ajax 获取弹窗数据
    $.ajax({
      url:'/index.php?route=checkout/cwf_info/cloudGuide',
      type:'post',
      contentType: false,
      processData: false,
      success:function(res){
        if(res.show){
          // 显示模态框
          $("#myModal").modal("show");
          $(".modal-title").text(res.guide_data.title);
          $(".modal-body>p").text(res.guide_data.content);
          // 图片数组
          var arr = res.guide_data.imgs;
          if(arr!=null){
            for(var i in arr){
              $("#guide>p").append("<div><img src="+arr[i]+"></div>");
            }
          }
        }
      }
    })
  })

  // ok
  $("#Guide_Ok_btn").click(function () {
    $.ajax({
      url:'/index.php?route=checkout/cwf_info/readCloudGuide',
      type:'post',
      contentType: false,
      processData: false,
      success:function (data) {

      }
    })
  })
</script>
<script>
    // 鼠标移入移出事件
    function checkOver() {
      removePopTip();
      // 判断按钮是否被禁用
      if(($('#ValidatedForm').prop("disabled")==true)){
        var str = 'Please check the box of the confirmation above to proceed to checkout.';
        addToolTip('ValidatedForm','button',str,'');
      }
    }

    // 鼠标移出事件
    function checkLeave() {
      if(!$('input[name="protocol"]:checked').val()){
        removePopTip();
      }
    }

    // 改变提交按钮的状态
    function change_protocol() {
      // 判断是否勾选声明
      if($('input[name="protocol"]:checked').val()){
        // 启用
        $('#tooltip-btn').css("display","none");
        $('#ValidatedForm').css("display","block");
      }else{ // 禁用
        $('#tooltip-btn').css("display","block");
        $("#ValidatedForm").css("display","none");
      }
    }

    // 表单验证
    $('#ValidatedForm').click(function () {
        // 调用气泡事件，防止在10秒内重复叠加
        removePopTip();
        // FBA验证
        var FBAArr = [
          {
            id: 'Address',
            regions: /^[a-zA-Z0-9-.\s_/()#,，]*$/,
            messages0:'Must be between 1-56 characters. ',
            messages: 'Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, \'#\', comma, periods and parentheses.'
          },
          {
            id: 'City',
            regions: /^[a-zA-Z0-9-.\s_/()]*$/,
            messages0:'Must be between 1-50 characters. ',
            messages: 'Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, periods and parentheses.'
          },
          {
            id: 'State',
            messages: 'Please Select State',
            type: 'select'
          },
          {
            id: 'ZIP',
            regions: /^[a-zA-Z0-9-.\s_/()]*$/,
            messages0:'Must be between 1-20 characters. ',
            messages: 'Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, periods and parentheses.'
          },
          {
            id: 'FBACode',
            regions: /^[a-zA-Z0-9-.\s_/()#,，]*$/,
            messages: 'Must be between 1-100 characters. Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, \'#\', comma, periods and parentheses.'
          },
          {
            id: 'ShipmentId',
            regions: /^[a-zA-Z0-9-.\s_/()]*$/,
            messages0:'Must be between 1-50 characters. ',
            messages: 'Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, periods and parentheses.'
          },
          {
            id: 'AmazonReferenceId',
            regions: /^[a-zA-Z0-9-.\s_/()]*$/,
            messages0:'Must be between 1-50 characters. ',
            messages: 'Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, periods and parentheses.'
          },
          {
            id: 'AmazonReferenceNumber',
            regions: /^[a-zA-Z0-9-.\s_/()]*$/,
            messages0:'Must be between 1-50 characters. ',
            messages: 'Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, periods and parentheses.'
          },
          {
            id: 'team_lift_upload',
            messages: 'Pallet Label must be a.pdf file and can not exceed 30M',
            type: 'upload'
          }
        ];

        // Other验证
        var OtherArr = [
          {
            id: 'Recipient',
            regions: /^[a-zA-Z0-9-.\s_/()]*$/,
            messages0:'Must be between 1-100 characters. ',
            messages: 'Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, periods and parentheses.'
          },
          {
            id: 'Phone',
            regions: /^[a-zA-Z0-9-.\s_/()]*$/,
            messages0:'Must be between 1-30 characters. ',
            messages: 'Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, periods and parentheses.'
          },
          {
            id: 'Email',
            regions: /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/,
            messages: 'Please enter the correct email address.'
          },
          {
            id: 'Address',
            regions: /^[a-zA-Z0-9-.\s_/()#,，]*$/,
            messages0:'Must be between 1-50 characters. ',
            messages: 'Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, \'#\', comma, periods and parentheses.'
          },
          {
            id: 'City',
            regions: /^[a-zA-Z0-9-.\s_/()]*$/,
            messages0:'Must be between 1-50 characters. ',
            messages: 'Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, periods and parentheses.'
          },
          {
            id: 'State',
            messages: 'Please Select State',
            type: 'select'
          },
          {
            id: 'ZIP',
            regions: /^[a-zA-Z0-9-.\s_/()]*$/,
            messages0:'Must be between 1-20 characters. ',
            messages: 'Characters allowed: ' +
              'Letters, numbers, underscores, hyphens, periods and parentheses.'
          }
        ];

        var json = [];
        if($('input[name="serverType"]:checked').val()!='Others'){
          json = FBAArr;

          // 将twig的变量转换成数组
          let cartArr= eval('{{ cart_json }}');
          // 判断table是否有数据
          if(cartArr!=null){
            // 遍历表格,获取需要验证的元素
            for(var i=0;i<cartArr.length;i++){
              var id = cartArr[i].cart_id;
              // 判断combo，1为禁用，0则启用
              if(cartArr[i].combo != 1){
                let obj1 = {
                  id:"mer_sku_"+id,
                  regions: /^[a-zA-Z0-9-.\s_/()]*$/,
                  messages: 'Must be between 1-50 characters. Characters allowed: ' +
                    'Letters, numbers, underscores, hyphens, periods and parentheses.'
                };
                let obj2 = {
                  id:"fn_sku_"+id,
                  regions: /^[a-zA-Z0-9-.\s_/()]*$/,
                  messages: 'Must be between 1-50 characters. Characters allowed: ' +
                    'Letters, numbers, underscores, hyphens, periods and parentheses.'
                };
                let obj3 = {
                  id: "btn_package_"+ id+"_upload",
                  messages: 'Box Label must be a.pdf file and can not exceed 30M',
                  type: 'upload'
                }
                let obj4 = {
                  id: 'btn_product_'+id+'_upload',
                  messages: 'Item Label must be a.pdf file and can not exceed 30M',
                  type: 'upload'
                };
                json.push(obj1,obj2,obj3,obj4);
              }
            }
          }
        } else{
          json = OtherArr;
        }

        var index = 0;
        for(var i=0;i<json.length;i++) {
            if(getForm(json[i])){
              index++;
              continue;
            }else{
              break;
            }
        }


        // ajax请求
        if(index == json.length){
          // 收集数据
          var data = {};
          let cart_id_str = '{{ cart_id_str }}';
          let buy_now_data = '{{ buy_now_data }}';
          data['cart_id_str']= cart_id_str;
          data['buy_now_data']= buy_now_data;
          data['cart_info']=$('#cart_info').val();
          data['cart_num_info']=$('#cart_num_info').val();
          data['cart_price_info']=$('#cart_price_info').val();
          data['cart_type_info']=$('#cart_type_info').val();
          data['cart_id_str']= cart_id_str;
          data['server_type']=$('input[name="serverType"]:checked').val();
          data['address']=$('#Address').val().trim();
          data['city']=$('#City').val().trim();
          data['state']=$('#State option:selected').val();
          data['zip']=$('#ZIP').val().trim();
          data['united']=$('#United').val();


          if($('input[name="serverType"]:checked').val()!='Others'){ // FBA
            // shipping
            data['fba_warehouse_code']=$("#FBACode").val().trim();
            // General information
            data['shipment_id']=$('#ShipmentId').val().trim();
            data['amazon_red_id']=$('#AmazonReferenceId').val().trim();
            data['fba_amazon_reference_number']=$("#AmazonReferenceNumber").val().trim();
            // pallet pdf文件
            data['pallet_label_file']={
              'file_name': $('#team_lift').parent().find('.file_info').data('file_name'),
              'file_new_name': $('#team_lift').parent().find('.file_info').data('file_new_name'),
              'file_type': $('#team_lift').parent().find('.file_info').data('file_type'),
              'file_new_path': $('#team_lift').parent().find('.file_info').data('file_new_path')
            }
            // table表格
            data['table']={};
            $('.Bill-table table tbody tr').each(function (i,v) {
              var tmp_cart_id=$(this).find('td:first').find('input[name="cart_id"]').val();
              data['table'][tmp_cart_id]={};
              data['table'][tmp_cart_id]['cart_id']=tmp_cart_id;
              data['table'][tmp_cart_id]['token']=$('input[name="'+('token_'+tmp_cart_id)+'"]').val();
              data['table'][tmp_cart_id]['product_id']=$('input[name="'+('product_id_'+tmp_cart_id)+'"]').val();
              data['table'][tmp_cart_id]['seller_id']=$('input[name="'+('seller_id_'+tmp_cart_id)+'"]').val();;
              data['table'][tmp_cart_id]['sku']=$('#item_code_'+tmp_cart_id).text();
              data['table'][tmp_cart_id]['mer_sku']=$('#mer_sku_'+tmp_cart_id).val();
              data['table'][tmp_cart_id]['fn_sku']=$('#fn_sku_'+tmp_cart_id).val();
              // TeamLift checkbox
              data['table'][tmp_cart_id]['team_lift_status'] = $('input[name="team_lift_status_' + tmp_cart_id + '"]').is(':checked') ? "1" : '0';
              data['table'][tmp_cart_id]['qty']=$('#quantity_'+tmp_cart_id).text();
              //pdf 文件
              data['table'][tmp_cart_id]['package_file_info']={
                'file_name': $('#btn_package_'+tmp_cart_id).parent().find('.file_info').data('file_name'),
                'file_new_name': $('#btn_package_'+tmp_cart_id).parent().find('.file_info').data('file_new_name'),
                'file_type': $('#btn_package_'+tmp_cart_id).parent().find('.file_info').data('file_type'),
                'file_new_path': $('#btn_package_'+tmp_cart_id).parent().find('.file_info').data('file_new_path')
              }
              data['table'][tmp_cart_id]['product_file_info']={
                'file_name': $('#btn_product_'+tmp_cart_id).parent().find('.file_info').data('file_name'),
                'file_new_name': $('#btn_product_'+tmp_cart_id).parent().find('.file_info').data('file_new_name'),
                'file_type': $('#btn_product_'+tmp_cart_id).parent().find('.file_info').data('file_type'),
                'file_new_path': $('#btn_product_'+tmp_cart_id).parent().find('.file_info').data('file_new_path')
              }
            })
          }else{ // Other
            data['recipient']=$('#Recipient').val().trim();
            data['phone']=$('#Phone').val().trim();
            data['email']=$('#Email').val().trim();
            // dock
            data['hasLoadingDock']=$('input[name="hasLoadingDock"]:checked').val();
          }

          //comments
          data['comments']=$('#textarea_comments').val().trim();

          //attachments
          data['attachments']=[];
          $('.attach-list').each(function (i,v) {
            data['attachments'].push({
              'file_name': $(this).data('file_name'),
              'file_new_name': $(this).data('file_new_name'),
              'file_type': $(this).data('file_type'),
              'file_new_path': $(this).data('file_new_path')
            });
          });

          // 发送请求
          var element = this;
          $.ajax({
            url:'/index.php?route=checkout/cwf_info/save_cwf_info',
            type:'post',
            data: data,
            dataType: 'json',
            beforeSend: function() {
              $(element).button('loading');
            },
            complete: function() {
              $(element).button('reset');
            },
            success:function(res){
              if(res.status==0){
                if (res.data[0] == 'address'){
                  addToolTip('Address','',res.msg,"top");
                  return;
                }else if (res.data[0] == 'state'){
                  addToolTip('State','',res.msg,"top");
                  return;
                }
                layer.alert('<div style="word-break: break-word">'+res.msg+'</div>',{skin:'yzc_layer',title: 'Alert',btn:['OK']},function () {
                  layer.closeAll();
                  if('data' in res){   //需要刷新数据
                    if(res['data'][0]=='table' && res['data'][1]=='qty'){   //需要刷新qty
                      $('.Bill-table table tbody tr').each(function (i,v) {
                        var tmp_cart_id = $(this).find('td:first').find('input[name="cart_id"]').val();
                        var qty_span=$('#quantity_'+tmp_cart_id);
                        if(Number(qty_span.html())!=res['data'][2][tmp_cart_id]['quantity']){
                          qty_span.css('color','#fda000');
                          qty_span.css('font-weight','700');
                          qty_span.html(res['data'][2][tmp_cart_id]['quantity']);
                          $('input[name="token_'+tmp_cart_id+'"]').val(res['data'][2][tmp_cart_id]['new_token']);
                        }
                      })
                    } else if(res['data'][0] == 'cart') {
                      window.location.href='/index.php?route=checkout/cart';
                    }
                  }
                });
              }else{   //success
                  //跳转到预下单页
                  let formSubmitUtil = {
                      post: function (URL, PARAMS) {
                          let temp = document.createElement("form");
                          temp.action = URL;
                          temp.method = "post";
                          temp.style.display = "none";
                          for (let x in PARAMS) {
                              let opt = document.createElement("textarea");
                              opt.name = x;
                              opt.value = PARAMS[x];
                              temp.appendChild(opt);
                          }
                          document.body.appendChild(temp);
                          temp.submit();
                          return temp;
                      }
                  };
                  formSubmitUtil.post('/index.php?route=checkout/pre_order&delivery_type=2&cart_id_str='+cart_id_str, {'buy_now_data': buy_now_data})
              }
            }
          })

        }
    });

    // 获取表单内容
    function getForm(obj) {
      // shipping 获取当前div的所有表单数组
      var Arrs = document.getElementById("formOrder").getElementsByTagName("input");
      // 获取所有select数组
      var selectArr = document.getElementById("formOrder").getElementsByTagName("select");

      // 判断当前是input 还是select
      if(obj.type&&obj.type=="select"){
        var Array = selectArr;
      }else{
        var Array = Arrs;
      }
      // 遍历数组，验证当前表单
      for (var i = 0;i<Array.length;i++) {
        if(obj.type == "select"){ // select
          var index = Array[i].selectedIndex;
          var value = Array[i].options[index].value;
          if(value==obj.messages || value=='0'){
            // return validated(Array[i].options[index],obj);
            addToolTip(obj.id,'select',obj.messages,"top");
            return false;
          }
          return true;
        }else if(obj.type == 'upload'&&Array[i].id == obj.id){ // upload按钮
          // 获取父级所有节点
          var btnArr = Array[i].parentNode.children;
          for(var j=0;j<btnArr.length;j++){
            // 找到兄弟节点button
            if(btnArr[j].nodeName == 'BUTTON'){
              if(obj.id == Array[i].id&&Array[i].value==""){
                addToolTip(btnArr[j].id,'button',obj.messages,"top");
                return false;
              }
            }
          }
          return true;
        } else{ // Input
          var index = Array[i];
          if(obj.id == index.id){
            // Arrs[i]当前输入框，obj验证规则
            return validated(Array[i],obj);
          }
        }
      }

    }
    // 验证规则
    function validated(form,obj) {
      // 获取当前元素的验证规则
      if(typeof obj.regions != "undefined"){
        var pattern = obj.regions;
      }
      // 如果表单为空，或者验证正则错误，则添加气泡提示错误信息。
      //为空
      if (form.value.trim()==""){
        // 添加气泡
        addToolTip(form.id,'',obj.messages0,"top");
        // 验证失败，返回false
        return false;
      }
      //验证错误
      if(pattern!=undefined&&!pattern.test(form.value)){
        // 添加气泡
        addToolTip(form.id,'',obj.messages,"top");
        // 验证失败，返回false
        return false;
      }
      // 验证成功，返回true
      return true;
    }

    // 添加气泡提示 id当前选择器，type元素类型:例如input, data提示的信息，placement悬浮位置
    function addToolTip(id,type,data,placement){
      var that = $("#"+id);
      // 获取当前元素的偏移值
      var offSet = that.offset();
      var top = offSet.top;
      var left = offSet.left;

      // 获取元素的高度
      var height = that[0].offsetHeight;
      // 设置气泡的偏移值 当前元素高度+当前元素的偏移值=top
      var offsetTop = top + height;
      var offsetLeft = left;
      var len = data.length;
      // 在当前元素后添加气泡div
      that.after("<div class='popTip'><div class='tag'><i class='giga icon-gantanhaojinggao' style='color:#FA6400'></i><span>"+data+"</span></div></div>");
      // $(".popTip").css({"width":popWidth});
      $(".popTip").offset({top:offsetTop,left:offsetLeft});
      // 滚动到当前元素的位置，并进行聚焦
      $('html , body').animate({scrollTop: top-height}, 1000);
      if(type != 'button'||type == undefined){
        that.css("border-color","#FA6400");
      }
      // 聚焦
      that.focus({
        preventScroll: true
      });
      // 在10秒后移除该元素
      setTimeout(function () {
        that.css("border-color","#aaa");
        $(".popTip").remove();
      },10000);

    }

    // 移除气泡
    function removePopTip(){
      $(".popTip").remove();
    }

    $(function(){
       //setTimeout(function(){
         $('input[name="serverType"]:eq(0)').click();
         $('.Gen-radio2').css('display','none');
         $('input[name="hasLoadingDock"]:eq(0)').click();
         $('#Recipient').val('');
         $('#Phone').val('');
         $('#Email').val('');
         $('#Address').val('');
         $('#City').val('');
         $('#State').val();
         $('#ZIP').val('');
         //info
         $('#ShipmentId').val('');
         $('#AmazonReferenceId').val('');
         $('#AmazonPOId').val('');
         //table
         $('.Bill-table table tbody tr').each(function (i,v) {
           var tmp_cart_id=$(this).find('td:first').find('input[name="cart_id"]').val();
           $('#mer_sku_'+tmp_cart_id).val('');
           $('#fn_sku_'+tmp_cart_id).val('');
           //pdf 文件
         })
         $('#textarea_comments').text('');

         // 协议声明按钮
         $('#ValidatedForm').css("disabled","disabled");
       //},300);
    })

    //服务类型
    $('input[name="serverType"]').change(function(){
        if($(this).val()=='Others'){   //other
            $('.Gen-radio2').css('display','block');
            $('.Amazon-radio2').css('display','none');
            $('.Bill-table').css('display','none');
            $('.Bill-info').css('display','none');
        }else{  //FBA
            $('.Gen-radio2').css('display','none');
            $('.Amazon-radio2').css('display','block');
          $('.Bill-table').css('display','block');
            $('.Bill-info').css('display','block');
        }
    });

  //分步校验
  //Recipient
  function check_recipient() {
      var recipient=$('#Recipient');
      var recipient_val=recipient.val();
      // var recipient_max_length=recipient.attr('maxlength');
      if(recipient_val.trim()==''||!preg_check(recipient_val.trim())){
          recipient.css('border-color','red');
          $('#recipient_err').css('display','block');
          return false;
      }else{
          recipient.css('border-color','');
          $('#recipient_err').css('display','none');
          return true;
      }
  }
  //Phone
  function check_phone() {
      var phone=$('#Phone');
      var phone_val=phone.val();
      if(phone_val.trim()==''||!preg_check(phone_val.trim())){
          phone.css('border-color','red');
          $('#phone_err').css('display','block');
          return false;
      }else{
          phone.css('border-color','');
          $('#phone_err').css('display','none');
          return true;
      }
  }
  //Email
  function check_email(){
      var email=$('#Email');
      var email_val=email.val();
      var email_reg=/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
      if(email_val.trim()==''||!(email_reg.test(email_val.trim()))){
          email.css('border-color','red');
          $('#email_err').css('display','block');
          return false;
      }else{
          email.css('border-color','');
          $('#email_err').css('display','none');
          return true;
      }
  }
  //Address
  function check_address(){
      var address=$('#Address');
      var address_val=address.val();
      if(address_val.trim()==''||!preg_check(address_val.trim())){
          address.css('border-color','red');
          $('#address_err').css('display','block');
          return false;
      }else{
          address.css('border-color','');
          $('#address_err').css('display','none');
          return true;
      }
  }
  //city
  function check_city() {
      var city=$('#City');
      var city_val=city.val();
      if(city_val.trim()==''||!preg_check(city_val.trim())){
          city.css('border-color','red');
          $('#city_err').css('display','block');
          return false;
      }else{
          city.css('border-color','');
          $('#city_err').css('display','none');
          return true;
      }
  }
  //state
  function check_state(){
      var state=$('#State');
      var state_val=state.val();
      if(state_val.trim()==''|| state_val.trim()=='0'){
          state.css('border-color','red');
          $('#state_err').css('display','block');
          return false;
      }else{
          state.css('border-color','');
          $('#state_err').css('display','none');
          return true;
      }
  }
  //zip
  function check_zip() {
      var zip=$('#ZIP');
      var zip_val=zip.val();
      if(zip_val.trim()==''||!preg_check(zip_val.trim())){
          zip.css('border-color','red');
          $('#zip_err').css('display','block');
          return false;
      }else{
          zip.css('border-color','');
          $('#zip_err').css('display','none');
          return true;
      }
  }

  // FBACode
  function check_FBACode() {

  }
  // ship to 数据验证
  function check_shipTo(){
    var check_recipient_res=check_recipient();
    var check_phone_res=check_phone();
    var check_email_res=check_email();
    var check_address_res=check_address();
    var check_city_res=check_city();
    var check_state_res=check_state();
    var check_zip_res=check_zip();
    return  check_recipient_res && check_phone_res && check_email_res && check_address_res && check_city_res && check_state_res && check_zip_res;
  }

  // 校验 bill of loading
  function check_bill_ship(){
      var shipment_id=$('#ShipmentId');
      var shipment_id_val=shipment_id.val();
      if(shipment_id_val.trim()==''||!preg_check(shipment_id_val.trim())){
          shipment_id.css('border-color','red');
          $('#shipment_err').css('display','block');
          return false;
      }else{
          shipment_id.css('border-color','');
          $('#shipment_err').css('display','none');
          return true;
      }
  }
  //Amazon reference id
  function check_amazon_ref_id(){
      var amazon_ref_id=$('#AmazonReferenceId');
      var amazon_ref_id_val=amazon_ref_id.val();
      if(amazon_ref_id_val.trim()==''||!preg_check(amazon_ref_id_val.trim())){
          amazon_ref_id.css('border-color','red');
          $('#amazon_ref_id_err').css('display','block');
          return false;
      }else{
          amazon_ref_id.css('border-color','');
          $('#amazon_ref_id_err').css('display','none');
          return true;
      }
  }
  //Amazon po id
  function check_amazon_po_id(){
      var amazon_po_id=$('#AmazonPOId');
      var amazon_po_id_val=amazon_po_id.val();
      //非必须
      amazon_po_id.css('border-color','');
      $('#amazon_po_id_err').css('display','none');
      return true;

  }
  // bill of loading info 部分
  function check_bill_info(){
      var check_bill_ship_res=check_bill_ship();
      var check_amazon_ref_id_res=check_amazon_ref_id();
      var check_amazon_po_id_res=check_amazon_po_id();
      return check_bill_ship_res && check_amazon_ref_id_res && check_amazon_po_id_res;
  }

  //bill of loading table
  function check_mer_sku($cart_id){
      var mer_sku=$('#mer_sku_'+$cart_id)
      var mer_sku_val=mer_sku.val();
      if(mer_sku_val.trim()==''||!preg_check(mer_sku_val.trim())){
          mer_sku.css('border-color','red');
          $('#mer_sku_err_'+$cart_id).css('display','block');
          return false;
      }else{
          mer_sku.css('border-color','');
          $('#mer_sku_err_'+$cart_id).css('display','none');
          return true;
      }
  }

  function check_fn_sku($cart_id){
      var fn_sku=$('#fn_sku_'+$cart_id)
      var fn_sku_val=fn_sku.val();
      if(fn_sku_val.trim()==''||!preg_check(fn_sku_val.trim())){
          fn_sku.css('border-color','red');
          $('#fn_sku_err_'+$cart_id).css('display','block');
          return false;
      }else{
          fn_sku.css('border-color','');
          $('#fn_sku_err_'+$cart_id).css('display','none');
          return true;
      }
  }
  
  function check_combo($cart_id) {
      var err_combo=$('#err_combo_'+$cart_id);
      if(err_combo.length){  //该行是combo
          err_combo.css('display','block');
          return false;
      }
      return true;
  }
  
  function check_package_label($cart_id) {
      var span=$('#btn_package_'+$cart_id).parent().find('.file_info');
      if(span.length>0){  //存在
          $('#package_label_err_'+$cart_id).css('display','none');
          return true;
      } else {    //不存在
          $('#package_label_err_' + $cart_id).css('display', 'block');
          return false;
      }
  }

  function check_product_label($cart_id) {
      var span=$('#btn_product_'+$cart_id).parent().find('.file_info');
      if(span.length>0){  //存在
          $('#product_label_err_'+$cart_id).css('display','none');
          return true;
      } else {    //不存在
          $('#product_label_err_' + $cart_id).css('display', 'block');
          return false;
      }
  }

  //bill of loading table 校验
  function check_bill_table(){
      var rtn=true;
      $('.Bill-info table tbody tr').each(function (i,v) {
          var tmp_cart_id=$(this).find('td:first').find('input[name="cart_id"]').val();
          var check_mer_sku_res=check_mer_sku(tmp_cart_id);
          var check_fn_sku_res=check_fn_sku(tmp_cart_id);
          var check_combo_res=check_combo(tmp_cart_id);
          var check_package_label_res= check_package_label(tmp_cart_id);
          var check_product_label_res= check_product_label(tmp_cart_id);
          rtn = (rtn && check_mer_sku_res && check_fn_sku_res && check_combo_res && check_package_label_res && check_product_label_res);
      });
      return rtn;
  }



  //上传 button 触发 file 上传
  $('.btn-upload').click(function () {
      var tag_id=$(this).attr('id');
      $('#'+tag_id+'_upload').click();
  });

  //attachments 展示
  function show_upload_label($file_info){
    // 获取attach-list的数量
    var num1 = $('.attach-list').length ;
    var num2 = $('.file_info').length + 1;
    var index = num1 + num2;
    var $file_name=$file_info['old_file_name']
    var new_file_name=$file_info['new_file_name'];
    var file_type=$file_info['file_type'];
    var new_file_path=$file_info['new_file_path'];
    var file_url=$file_info['file_url'];
    return '<span class="attach-list" onmouseenter="showIcon('+index+')" onmouseleave="showIcon2('+index+')" data-file_name="'+$file_name+'" data-file_new_name="'+new_file_name+'" data-file_type="'+file_type+'" data-file_new_path="'+new_file_path+'">' +
        '<a class="href_color" href="'+file_url+'" target="_blank">' + $file_name + '</a>&nbsp;&nbsp;&nbsp;&nbsp;<i onclick="close_span(this)" style="display:none;color:#7F7F7F" id="icon-cuo_'+index+'" class="giga icon-lajitong"  aria-hidden="true"></i><i id="icon-dui_'+index+'" class="giga icon-icon-test" style="color: #65B017"></i>' +
        '</span>';
  }

  //单个上传文件名称展示
  function show_upload_name($file_info){
      var num1 = $('.attach-list').length ;
      var num2 = $('.file_info').length + 1;
      var index = num1 + num2;
      var split_length=20
      var $file_name=$file_info['old_file_name']
      var new_file_name=$file_info['new_file_name'];
      var file_type=$file_info['file_type'];
      var new_file_path=$file_info['new_file_path'];
      var file_url=$file_info['file_url'];
      $show_name=$file_name.length>split_length?($file_name.substr(0,split_length)+'...'):$file_name;
      return '<span class="file_info" onmouseenter="showIcon('+index+')" onmouseleave="showIcon2('+index+')" style="line-height: 38px;" data-file_name="'+$file_name+'" data-file_new_name="'+new_file_name+'" data-file_type="'+file_type+'" data-file_new_path="'+new_file_path+'">' +
          '<a class="href_color" style="color:#7F7F7F" href="'+file_url+'" target="_blank"> <span style="word-break: break-all;cursor: pointer">'+$show_name+'</span></a>&nbsp;&nbsp;&nbsp;&nbsp;' +
          '<i onclick="close_name(this)" style="display:none;color:#7F7F7F" id="icon-cuo_'+index+'" class="giga icon-lajitong" aria-hidden="true"></i><i id="icon-dui_'+index+'" class="giga icon-icon-test" style="color: #65B017"></i>' +
          '</span>'
  }
  // 显示移除按钮
  function showIcon(index) {
    $("#icon-cuo_"+index).show();
    $("#icon-dui_"+index).hide();
  }
  // 隐藏移除按钮
  function showIcon2(index) {
    $("#icon-cuo_"+index).hide();
    $("#icon-dui_"+index).show();
  }
  // in array 查找
  function in_array(search, array) {
      for (var i in array) {
          if (array[i] == search) {
              return array[i];
          }
      }
      return false;
  }

  //team lift 上传---单个文件上传
  $('input[type="file"]').not('#attachments_upload').change(function () {
      var curr_id=$(this).attr('id');
      var button_id=curr_id.replace('_upload','');
      var tag_id = $('#'+ button_id).data('tag_id');
      var files = $(this)[0].files;
      var pic_size = {{ attachment_size }};    //大小5M
      file_tmp=files[0];
      if (file_tmp.size > pic_size) {    //文件大小
          layer.alert(tag_id+"{{ upload_size_type_error }}",{skin:'yzc_layer',title: 'Alert',btn:['OK']});
          $(this).val('');
          return ;
      }
      if (!(in_array(file_tmp.type,{{ other_type|json_encode }}))) {   // 文件名
          layer.alert(tag_id+"{{ upload_size_type_error }}",{skin:'yzc_layer',title: 'Alert',btn:['OK']});
          $(this).val('');
          return ;
      }
      var succ_call=function(list){
          $('#'+button_id).css('display','none');
          $('#'+button_id).parent().append(
              show_upload_name(list[0])
          );
      }
      var err_call=function (list) {
          var alert_msg=list[0]['msg'];
          layer.alert(alert_msg,{skin:'yzc_layer',title: 'Alert',btn:['OK']});
          $(this).val('');
          return;
      }
      upload_file(files,tag_id,succ_call,err_call);
  })

  // ajax 上传文件到后台
  $('#attachments_upload').change(function () {
      var files = $(this)[0].files;
      var pic_size ={{ attachment_size }};    //大小5M
      var err = [];
      for (var i = 0; i < files.length; i++) {
          var file_tmp = files[i];
          //校验
          if (file_tmp.size > pic_size) {    //文件大小
              err.push('{{ button_attachments }}'+' {{upload_attachment_error}}');
              continue;
          }
          if (!(in_array(file_tmp.type,{{ attachment_type|json_encode }}))) {   // 文件名
              err.push('{{ button_attachments }}'+' {{upload_attachment_error}}');
              continue;
          }
      }
      //文件校验完成--上传
      if(err.length>=1){
          var alert_msg='';
          for (i in err){
              alert_msg+=err[i]+'<br>';
          }
          layer.alert(alert_msg,{skin:'yzc_layer',title: 'Alert',btn:['OK']});
          $(this).val('');
          return;
      }
      //上传
      //错误回调
      var err_call=function (list) {
          var alert_msg='';
          $('#attachments_upload').val('');
          for (i in list){
              alert_msg+=list[i]['msg']+'<br>';
          }
          layer.alert(alert_msg,{skin:'yzc_layer',title: 'Alert',btn:['OK']});

          return;
      }
      //成功回调
      var attachments_display=function(list){
          $('#attachments_upload').val('');
          for(i in list){
              $('#pic_list').append(
                   show_upload_label(list[i])
              );
          }

      }
      upload_file(files,'{{ button_attachments }}',attachments_display,err_call);
  });
  
  function preg_check(s) {
      var reg=/^[a-zA-Z0-9-.\s_/()]*$/;
      var re=new RegExp(reg);
      if(re.test(s)){
          return true;
      }else{
          return false;
      }
  }


  // ajax 上传文件
  function upload_file(files,file_flag,succ_callback,fail_callback) {
      //校验合法,上传
      var fd = new FormData();
      for (var i = 0; i < files.length; i++) {
          var file_tmp = files[i];
          fd.append("file[]",file_tmp)
          fd.append("flag",file_flag);
      }
      $.ajax({
          url:'/index.php?route=checkout/cwf_info/upload',
          type:'post',
          data: fd,
          contentType: false,
          processData: false,
          success:function(res){
             if(res.status==0){
                 fail_callback(res.data)
             }else{
                 succ_callback(res.data)
             }
          }
      })
  }

//删除上传后显示的span
  function close_span(obj){
      $(obj).parent().remove();
  }

// 删除单个上传问价
  function close_name(obj){
      //先展示后删除
      $(obj).parent().parent().find('input[type="file"]').val('');
      $(obj).parent().parent().find('.btn-upload').css('display','');
      $(obj).parent().remove();
  }


  $('#back_cart').click(function(){
    window.location.href='/index.php?route=checkout/cart';
  });


</script>

<script>

  //封装一个限制字数方法
  var checkStrLengths = function (str, maxLength) {
    var maxLength = maxLength;
    var result = 0;
    result = str.length;
    return result;
  };

  //监听输入
  $(".countInput").on('input propertychange', function () {
    var flagId=$(this).attr('data-countid');
    var flagCount=$(this).attr('data-value');

    //获取输入内容
    var userDesc = $(this).val();
    var strValue = toolString.calcStringLength(userDesc,flagCount);

    //显示字数
    $(this).val(strValue.fullStr);
    $("#"+flagId).html(strValue.len + '/'+flagCount);

  });

  {# 跟随鼠标移动的提示框 #}
  var mjstip={$:function(ele){
      if(typeof(ele)=="object")
        return ele;
      else if(typeof(ele)=="string"||typeof(ele)=="number")
        return document.getElementById(ele.toString());
      return null;
    },
    mousePos:function(e){
      var x,y;
      var e = e||window.event;
      return{x:e.clientX+document.body.scrollLeft+document.documentElement.scrollLeft,
        y:e.clientY+document.body.scrollTop+document.documentElement.scrollTop};
    },
    start:function(obj){
      var self = this;
      var t = self.$("mjs:tip");
      obj.onmousemove=function(e){
        var mouse = self.mousePos(e);
        t.style.left = mouse.x + 10 + 'px';
        t.style.top = mouse.y + 10 + 'px';
        t.innerHTML = obj.getAttribute("tips");
        t.style.display = '';
      };
      obj.onmouseout=function(){
        t.style.display = 'none';
      };
    }
  }
</script>
{{ footer }}