{#{{ js('https://unpkg.com/vue/dist/vue.js') }}#}
{{ this.title('修改标题') }}
{{ this.params('breadcrumbs', [
  'home',
  {
    text: '修改导航',
    href: url('修改url'),
  },
  'current'
]) }}
{{ this.params('pageTitle', {show: true}) }}
{{ webpack_entry_asset('common/test_webpack/sampleVue') }}
<div id="app"></div>
