<!--促销活动-->
<!-- big_client_discount 是大客户折扣，因为样式与促销统一, 所以放到一起 -->
{# 1452优惠 #}
 {% set store_discount = xu_store_discount['store_discount'] %}
 {% set limit_discount = xu_store_discount['limit_discount'] %}
 {% set to_be_active = xu_store_discount['to_be_active'] %}
{% if activity_promotion_list or store_discount or  limit_discount or to_be_active %}
<div class="promotion" style="display: flex">
  <label class="mr-2 key text-muted">Promotion </label>
  <div style="width:76%">

    {#限时活动#}
    {% if limit_discount %}
      <div class="promotion-box-flex">
        <a href="{{ url('marketing_campaign/time_limit_activity',{'id': limit_discount.discount_id, 'time_token': limit_discount.discount_time_token}) }}" class="promotion-discount promotion-box-line" target="_blank">
          <span class="promotion-img promotion-left"></span>
          <span class="promption-display">
          <i class="giga icon-zhekou"></i>
          <span class="dis-off promotion-font-normal" title="{{ 100- limit_discount['discount']}}% OFF {{ limit_discount.buyer_show_discount_name }}">
            <span class="dis-off">{{ 100- limit_discount['discount']}}% OFF</span> {{ limit_discount.buyer_show_discount_name }}</span>
          <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
             title="{{ limit_discount.buyer_show_discount_tips }}"></i>
        </span>
          <span class="promotion-img promotion-right"></span>
        </a>
        {% if can_sell > 0  or is_seller_self %}
          <span class="promotion-inventory-group">Promotional Qty<span
              class="promotion-inventory-group-qty">{{ discount_stock_qty }}</span></span>
        {% endif %}
        {% if limit_discount['last_seconds'] < 86400 %}
        <span class="promotion-inventory-time">
        <i class="giga icon-shijian1 text-most limit-time-icon">
          <div class="promotion-inventory-pop-dow">Ends In<span class="m10-l promotion-display-line-block">{{ dynamicWidget('time_count_down', { times: limit_discount['last_seconds']}) }}</span></div>
        </i>
      </span>
      {% endif %}
      </div>
    {% endif %}

    {#全店折扣#}
    {% if store_discount %}
    <div class="promotion-box-flex">
      <a href="{{ partner['sellerHref'] }}" class="promotion-discount"  target="_blank">
        <span class="promotion-img promotion-left"></span>
        <span class="promption-display">
        <i class="giga icon-zhekou"></i>
        <span class="promotion-font-normal" title="Exclusive discount:{{ 100 - store_discount['discount'] }}% OFF">Exclusive discount:<span class="dis-off">{{ 100 - store_discount['discount'] }}% OFF</span></span>
        <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
           title="The discount is not applicable to custom price, Rebates transactions and agreement reached via BID; only applicable to direct purchase via Quick View of Normal, Margin, Future Goods and Spot Price transactions."></i>
      </span>
        <span class="promotion-img promotion-right"></span>
      </a>
      {% if store_discount['last_seconds'] < 86400 %}
      <span class="promotion-inventory-time m10-l">
        <i class="giga icon-shijian1 text-most limit-time-icon">
          <div class="promotion-inventory-pop-dow">Ends In<span class="m10-l promotion-display-line-block">{{ dynamicWidget('time_count_down', { times: store_discount['last_seconds']}) }}</span></div>
        </i>
      </span>
      {% endif %}
    </div>  
    {% endif %}

    {#平台活动#}
    {% if activity_promotion_list %}
    {% for item in activity_promotion_list %}
    <div class="promotion-box-flex">
      <a class="promotion-discount" href="{{ url('marketing_campaign/activity/index',{'code':item.code})}}" title="{{ item.promotion_content }}"  target="_blank">
        <span class="promotion-img promotion-left"></span>
        <span class="promotion-font-normal promotaion-ml-0" title="{{ item.promotion_content }}">{{ item.promotion_content }}</span>
        <span class="promotion-img promotion-right"></span>
      </a>
    </div>         
    {% endfor %}
    {% endif %}

    {#待开启限时#}
    {% if to_be_active and to_be_active['last_seconds'] < 86400 %} {# 即将开始活动，开始时间小于24小时 #}
    <div class="promotion-box-flex">
      <a href="{{ url('marketing_campaign/time_limit_activity',{'id': to_be_active.discount_id, 'time_token': to_be_active.discount_time_token}) }}" class="promotion-discount promotion-box-line-full"  target="_blank">
        <span class="promotion-img promotion-left promotion-left-will"></span>
        <span class="border-color84 promotion-left-will-box promption-display">
          <i class="giga icon-zhekou"></i>
          <span class="dis-off promotion-font-normal color-33" title="{{ 100- to_be_active['discount']}}% OFF {{ to_be_active.buyer_show_discount_name }}">
            <span class="dis-off">{{ 100- to_be_active['discount']}}% OFF</span> {{ to_be_active.buyer_show_discount_name }}</span>
          <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
            title="{{ to_be_active.buyer_show_discount_tips }}"></i>
        </span>
        <span class="promotion-img promotion-right promotion-right-will"></span>
      </a>
      <span class="promotion-start-after">Starts in</span>
      <span class="promotion-start-after-time">{{ dynamicWidget('time_count_down', { times: to_be_active['last_seconds']}) }}</span>
    </div>
    {% endif %}

    {# {% if big_client_discount > 0 %}
    <a href="{{ partner['sellerHref'] }}" class="promotion-discount"  target="_blank">
      <span class="promotion-img promotion-left"></span>
      <span>
        <i class="giga icon-zhekou"></i>Exclusive discount:
        <span class="dis-off">{{ 100 - big_client_discount}}% OFF</span>
        <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
          title="The discount is not applicable to custom price, Rebates transactions and agreement reached via BID; only applicable to direct purchase via Quick View of Normal, Margin, Future Goods and Spot Price transactions."></i>
      </span>
      <span class="promotion-img promotion-right"></span>
    </a>
    {% endif %}#}
  </div>
</div>
{% endif %}
