{#运费#}

<style>
    #freight{
        position: relative;
    }
    .triangle {
        display: none;
    }
    .triangle i{
        font-size: 25px;
    }

    .select .triangle{
        width: auto;
        display: block;
        position: absolute;
        top: -5px;
        right: 0;
        color: #fa6400;
    }
    /*云送仓新样式hover弹窗*/
    .freight .drop-hover-title{
      width: 100%;
      margin-bottom: 10px;
    }
    .freight .drop-hover-title-top{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .freight .drop-hover-title-top>div{
      width: auto;
    }
    .freight .drop-hover-icons{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .freight .drop-hover-icons>div{
      width: auto;
      margin-right: 10px;
    }
    .freight .drop-hover-icons>div:last-child{
      margin-right: 0;
    }
    .drop-hover-icons .icon-item{
      display: inline-block;
      width: 22px;
      height: 22px;
      background: #3A75DC;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 22px;
    }
    .freight .drop-hover-items{
      width: 100%;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .freight .drop-hover-items>p{
      margin: 0;
    }
    .freight .drop-bottom-tips{
      width: 100%;
    }
    .freight .hover-link{
      color: #3A75DC;
    }
    .freight .hover-link:hover{
      text-decoration: underline;
    }
    .num-mark{
      font-style: normal;
      position: relative;
      top:-2px;
      left: -2px;
    }
    .link-color{
      color: #3A75DC;
    }
    .border-bottom-gray{
      border-bottom: 1px solid #eee;

    }
    .drop-hover-items-label{
      display: inline-block;
      width: 150px;
    }
    .drop-hover-items-num{
      color: #000;
      font-weight: bolder;
    }
    .tooltip.fade .tooltip-inner>p{
      margin: 3px 0 3px 0;
      text-align: left;
    }
    .tooltip.fade .tooltip-inner{
      max-width: 400px !important;//修改宽度
    }
    /*云送仓新样式hover弹窗*/

    /*云送仓起送量说明强提醒*/
    .fee-tip-cloud-warehouse{
      display: block;
      color: #aaa;
      font-size: 12px;
      font-style: italic;
      text-align: center;
    }
    .fee-modal-cloud-warehouse{
      display: block;
      color: #fA6400;
      font-size: 12px;
      font-style: italic;
      text-align: left;
      position: relative;
      top: -6px;
    }

    /*云送仓起送量说明强提醒*/

    /*修改freight*/
    .freight div.freight-right-con{
      width: 100%;
      display: flex;
    }
    .freight .freight-right-con .freight0{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .price-mar-top{
      margin-top: 8px;
      display: inline-block;
    }
    .widthauto{
      width: auto !important;
    }
  .handling-time{
    color: #183463;
    margin: 0 3px;
  }

  /*修改freight*/
</style>
{% if is_seller_self %}
    {#Seller看到的选项，3个物流方式#}
    {#pickup和drop shopping#}
    <div class="freight">
        <label class="mr-2 key text-muted">{{ text_freight }}&nbsp;<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="{{ freight_tips }}"></i></label>
        <div class="display: inline-flex;">
          <div class="freight-right-con">
            <div id="freight" class="freight0 select">
              <div class="widthauto">
                <div class="triangle"><i class="gcl gclxuanzhong"></i></div>
                <input id="curr_freight" type="text" value="{{  seller_extra_fee.homepick  }}" hidden>
                <input type="radio" name="freight_radio" id="home_pickup" data-freight="{{ seller_extra_fee.homepick }}" value="home_pickup" checked onchange="handleProductPrice(this)">
                <span>{{ text_freight_home_pickup }}</span><br>
                <span class="price-mar-top">
                    <b class="freight_fee_show" style="color: #FA6400;">{{ seller_extra_fee_show.homepick }} </b>
                    <span class="freight_unit">/{{ text_unit }}</span>
                </span>
                <div class="dropdown-freight">
                  <ul style="padding: 0">
                    <span style="border-bottom: 1px solid #e5e5e5;color: #333333;padding: 5px 0 5px 0; display: inline-block;font-weight: bold;width: 250px;">{{ detail_shop_fee }} <span style="color: #183463;margin-left: 50px">{{ seller_freight_show.homepick }}</span></span><br/>
                    <span style="color: #333333;padding: 5px 0 5px 0;font-weight: bold;display: inline-block;width: 250px;">{{ detail_pack_fee }} <span style="color: #183463;margin-left: 50px"> {{ seller_package_fee_show.homepick }}</span></span>
                  </ul>
                  <div class="title1">
                    <span>To include our pickup service that buyer picks up goods from Giga Cloud warehouse by their designated carrier.</span>
                    {% if ship_max>0 %}
                      <br>
                      <span>Orders will be shipped from our warehouses within  {{ ship_min }}-{{ ship_max }}  business days after the order has been placed.</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div id="freight" class="freight0">
              <div class="widthauto">
                <div class="triangle"><i class="gcl gclxuanzhong"></i></div>
                <input id="curr_freight" type="text" value="{{  seller_extra_fee.dropshop }}" hidden>
                <input type="radio" name="freight_radio" id="drop_shopping" data-freight="{{ seller_extra_fee.dropshop }}" value="drop_shopping" onchange="handleProductPrice(this)">
                <span>{{ text_freight_drop_shipping }}</span><br>
                <span class="price-mar-top">
                    <b class="freight_fee_show">{{ seller_extra_fee_show.dropshop }} </b>
                    <span class="freight_unit">/{{ text_unit }}</span>
                </span>
                <div class="dropdown-freight">
                  <ul style="padding: 0">
                    <span style="border-bottom: 1px solid #e5e5e5;color: #333333;padding: 5px 0 5px 0; display: inline-block;font-weight: bold;width: 250px;">{{ detail_shop_fee }} <span style="color: #183463;margin-left: 50px">{{ seller_freight_show.dropshop }}</span></span><br/>
                    <span style="color: #333333;padding: 5px 0 5px 0;font-weight: bold;display: inline-block;width: 250px;">{{ detail_pack_fee }} <span style="color: #183463;margin-left: 50px"> {{ seller_package_fee_show.dropshop }}</span></span>
                  </ul>
                  <div class="title1">
                    {% if ship_max>0 %}
                      <span>
                        Orders will be shipped from our warehouses within
                        <span class="handling-time"> {{ ship_min }}-{{ ship_max }} </span>
                        business days after the order has been placed.
                      </span><br>
                    {% endif %}
                    {% if estimated_ship_day_show %}
                      <span>
                        Estimated delivery timeframes are between
                        <span class="handling-time"> {{ estimated_ship_day_min }}-{{ estimated_ship_day_max }} </span>
                        business days after shipping from our warehouses.
                        <a href="{{ help_center_url }}" target="_blank"><i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="Click to view shipping information"></i></a>
                      </span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    {#运送仓 放一行#}
    {% if cwf == 1 %}
        <div class="freight">
            <label class="mr-2 key text-muted"></label>
            <div class="display: inline-flex;">
              <div class="freight-right-con">
                <div id="freight" class="freight0">
                  <div class="widthauto">
                    <div class="triangle"><i class="gcl gclxuanzhong"></i></div>
                    <input type="radio" name="freight_radio" id="cwf" data-freight="{{ seller_extra_fee.cwf }}" value="cwf" onchange="handleProductPrice(this)">
                    <span>{{ text_freight_cloud_wholesale }}</span>
                    <span class="fee-tip-cloud-warehouse">(Min.qty/address.: 100ft³)</span>
                    <span class="price-mar-top">
                        <b class="freight_fee_show"> {{ seller_extra_fee_show.cwf }}</b>
                        <span class="freight_unit">/{{ text_unit }}</span>
                    </span>
                    <div class="dropdown-freight" >
                      <ul style="padding: 0">  {#此弹窗通过css，hover伪类控制 在stylesheet.css中#}
                        <li style="list-style: none">
                          <div class="drop-hover-title border-bottom-gray">
                            <div class="drop-hover-title-top">
                              <div>{{ text_freight_cloud_wholesale }}</div>
                              <div><a href="/index.php?route=information/information&information_id={{ cwf_info_id }}" class="hover-link" target="_blank">{{ cwf_freight_lear_more_btn }}</a></div>
                            </div>
                            <div class="fee-modal-cloud-warehouse">*Min.qty/address.: 100ft³</div>
                          </div>
                          <div class="drop-hover-icons border-bottom-gray">
                            <div><i class="giga icon-zhongliang icon-item" style="font-size: 13.4px" data-toggle="tooltip"  style="cursor: pointer" data-html="html" title="{{ weight_tip }}"></i> {{ seller_weight_total.cwf }}{{ weight_class }}
                              {% if combo_flag %}
                                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"  style="cursor: pointer" data-html="html" title="{{ seller_weight_list_str.cwf }}"></i>
                              {% endif %}
                            </div>
                            <div><i class="giga icon-tiji icon-item" style="font-size: 13.6px"  data-toggle="tooltip"  style="cursor: pointer" data-html="html" title="{{ volume_tip }}"></i> {{ seller_volume.cwf }}{{ volume_class }} <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"  style="cursor: pointer" data-html="html" title="{{ seller_wth_str.cwf }}"></i> </div>
                            <div><i class="giga icon-kache icon-item" style="font-size: 14px" data-toggle="tooltip" title="{{ cwf_shop_fee_tip }}"></i> {{ cwf_shop_fee_desc }}</div>
                          </div>
                          <div class="drop-hover-items border-bottom-gray">
                            <p>
                              <span class="drop-hover-items-label">{{ base_freight_label }}:</span>
                              <span class="drop-hover-items-num">{{ seller_freight_show.cwf }}</span>
                              <span class="link-color">(${{ seller_freight_rate.cwf }} / {{ volume_class }} )</span>
                            </p>
                            {% if seller_overweight_surcharge.cwf > 0 %}
                              <p>
                                            <span class="drop-hover-items-label">{{ overweight_surcharge_label }}:
                                                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"  style="cursor: pointer" title="{{ overweight_surcharge_tip|format(overweight_surcharge_min_weight.cwf,overweight_surcharge_rate.cwf) }}"></i>
                                            </span>
                                <span class="drop-hover-items-num">{{ seller_overweight_surcharge_show.cwf }}</span>
                              </p>
                            {% endif %}
                            <p>
                              <span class="drop-hover-items-label">{{ package_fee_label }}:</span>
                              <span class="drop-hover-items-num">{{ seller_package_fee_show.cwf }}</span>
                            </p>
                          </div>
                          <div class="drop-bottom-tips">
                            {% if country_code=='USA' and cloud_ship_max>0 %}
                              {# handlingTime为出库时效 #}
                              <span>Orders will be shipped from our warehouses within
                                <span id="handlingTime" class="handling-time"> {{ cloud_ship_min }}-{{ cloud_ship_max }} </span>
                                business days after the order has been placed.</span><br>
                            {% endif %}
                            <span>{{ estimated_delivery_time_content }}</span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    {% endif %}
{% else %}
    {#Buyer看到的选项#}
    {% if isCollectionFromDomicile or cwf!=2 %}
        <div class="freight">
            <label class="mr-2 key text-muted">{{ text_freight }}&nbsp;<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="{{ freight_tips }}"></i></label>
            <div class="display: inline-flex;">
              <div class="freight-right-con">
                {% if isCollectionFromDomicile %}   {#上门取货#}
                  <div id="freight" class="freight0 select">
                    <div class="widthauto">
                      <div class="triangle"><i class="gcl gclxuanzhong"></i></div>
                      <input id="curr_freight" type="text" value="{{  extra_fee.dropshop_or_homepick  }}" hidden>
                      <span>{{ text_freight_home_pickup }}</span><br>
                      <span class="price-mar-top">
                            <b class="freight_fee_show" style="color: #FA6400;">{{ extra_fee_show.dropshop_or_homepick }} </b>
                            <span class="freight_unit">/{{ text_unit }}</span>
                        </span>
                      <div class="dropdown-freight">
                        <ul style="padding: 0">
                          {#<span style="color: #333333;border-bottom: 1px solid #e5e5e5;font-weight: bold;padding: 5px 0 5px 0; display: inline-block;width: 250px;">{{ detail_box_title|format(service_type[1]) }}</span><br/>#}
                          <span style="border-bottom: 1px solid #e5e5e5;color: #333333;padding: 5px 0 5px 0; display: inline-block;font-weight: bold;width: 250px;">{{ detail_shop_fee }} <span style="color: #183463;margin-left: 50px">{{ freight_show.dropshop_or_homepick }}</span></span><br/>
                          <span style="color: #333333;padding: 5px 0 5px 0;font-weight: bold;display: inline-block;width: 250px;">{{ detail_pack_fee }} <span style="color: #183463;margin-left: 50px"> {{ package_fee_show.dropshop_or_homepick }}</span></span>
                        </ul>
                        <div class="title1">
                          <span>To include our pickup service that buyer picks up goods from Giga Cloud warehouse by their designated carrier.</span>
                          {% if ship_max>0 %}
                            <br>
                            <span>Orders will be shipped from our warehouses within  {{ ship_min }}-{{ ship_max }}  business days after the order has been placed.</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}    {#一件代发 and 运送仓#}
                  {% if cwf == 1 %} {#是美国客户有云送仓#}
                    {#一件代发#}
                    <div id="freight" class="freight0 select">
                      <div class="widthauto">
                        <div class="triangle"><i class="gcl gclxuanzhong"></i></div>
                        <input type="radio" name="freight_radio" id="drop_shopping" data-freight="{{ extra_fee.dropshop_or_homepick }}" value="drop_shopping" checked onchange="handleProductPrice(this)">
                        <span>{{ text_freight_drop_shipping }}</span><br>
                        <span class="price-mar-top">
                                <b class="freight_fee_show" style="color: #FA6400;">{{ extra_fee_show.dropshop_or_homepick }} </b>
                                <span class="freight_unit">/{{ text_unit }}</span>
                            </span>
                        <div class="dropdown-freight">
                          <ul style="padding: 0">  {#此弹窗通过css，hover伪类控制 在stylesheet.css中#}
                            <span style="border-bottom: 1px solid #e5e5e5;color: #333333;padding: 5px 0 5px 0; display: inline-block;font-weight: bold;width: 250px;">{{ detail_shop_fee }}<span style="color: #183463;margin-left: 50px">{{ freight_show.dropshop_or_homepick }}</span></span><br/>
                            <span style="color: #333333;padding: 5px 0 5px 0;font-weight: bold;display: inline-block;width: 250px;">{{ detail_pack_fee }} <span style="color: #183463;margin-left: 50px"> {{ package_fee_show.dropshop_or_homepick }}</span></span>
                          </ul>
                          <div class="title1">
                            {% if ship_max>0 %}
                              <span>
                                Orders will be shipped from our warehouses within
                                <span class="handling-time"> {{ ship_min }}-{{ ship_max }} </span>
                                business days after the order has been placed.
                              </span><br>
                            {% endif %}
                            {% if estimated_ship_day_show %}
                              <span>
                              Estimated delivery timeframes are between
                              <span class="handling-time"> {{ estimated_ship_day_min }}-{{ estimated_ship_day_max }} </span>
                              business days after shipping from our warehouses.
                              <a href="{{ help_center_url }}" target="_blank"><i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="Click to view shipping time and delivery area"></i></a>
                              </span>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    {# 云送仓#}
                    <div id="freight" class="freight0">
                      <div class="widthauto">
                        <div class="triangle"><i class="gcl gclxuanzhong"></i></div>
                        <input type="radio" name="freight_radio" id="cwf" data-freight="{{ extra_fee.cwf }}" value="cwf" onchange="handleProductPrice(this)">
                        <span>{{ text_freight_cloud_wholesale }}</span><br>
                        <span class="fee-tip-cloud-warehouse">(Min.qty/address.: 100ft³)</span>
                        <span class="price-mar-top">
                                <b class="freight_fee_show"> {{ extra_fee_show.cwf }}</b>
                                <span class="freight_unit">/{{ text_unit }}</span>
                            </span>
                        <div class="dropdown-freight" >
                          <ul style="padding: 0">  {#此弹窗通过css，hover伪类控制 在stylesheet.css中#}
                            <li style="list-style: none">
                              <div class="drop-hover-title border-bottom-gray">
                                <div class="drop-hover-title-top">
                                  <div>{{ text_freight_cloud_wholesale }}</div>
                                  <div><a href="/index.php?route=information/information&information_id={{ cwf_info_id }}" class="hover-link" target="_blank">{{ cwf_freight_lear_more_btn }}</a></div>
                                </div>
                                <div class="fee-modal-cloud-warehouse">*Min.qty/address.: 100ft³</div>
                              </div>
                              <div class="drop-hover-icons border-bottom-gray">
                                <div><i class="giga icon-zhongliang icon-item" style="font-size: 13.4px" data-toggle="tooltip"  style="cursor: pointer" data-html="html" title="{{ weight_tip }}"></i> {{ weight_total.cwf }}{{ weight_class }}
                                  {% if combo_flag %}
                                    <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"  style="cursor: pointer" data-html="html" title="{{ weight_list_str.cwf }}"></i>
                                  {% endif %}
                                </div>
                                <div><i class="giga icon-tiji icon-item" style="font-size: 14px"  data-toggle="tooltip"  style="cursor: pointer" data-html="html" title="{{ volume_tip }}"></i> {{ volume.cwf }}{{ volume_class }} <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"  style="cursor: pointer" data-html="html" title="{{ wth_str.cwf }}"></i> </div>
                                <div><i class="giga icon-kache icon-item" style="font-size: 14px" data-toggle="tooltip" title="{{ cwf_shop_fee_tip }}"></i> {{ cwf_shop_fee_desc }}</div>
                              </div>
                              <div class="drop-hover-items border-bottom-gray">
                                <p>
                                  <span class="drop-hover-items-label">{{ base_freight_label }}:</span>
                                  <span class="drop-hover-items-num">{{ freight_show.cwf }}</span>
                                  <span class="link-color">(${{ freight_rate.cwf }} / {{ volume_class }} )</span></p>
                                {% if overweight_surcharge.cwf > 0 %}
                                  <p>
                                              <span class="drop-hover-items-label">{{ overweight_surcharge_label }}:
                                                  <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"  style="cursor: pointer" title="{{ overweight_surcharge_tip|format(overweight_surcharge_min_weight.cwf,overweight_surcharge_rate.cwf) }}"></i>
                                              </span>
                                    <span class="drop-hover-items-num">{{ overweight_surcharge_show.cwf }}</span>
                                  </p>
                                {% endif %}
                                <p>
                                  <span class="drop-hover-items-label">{{ package_fee_label }}:</span>
                                  <span class="drop-hover-items-num">{{ package_fee_show.cwf }}</span>
                                </p>
                              </div>
                              <div class="drop-bottom-tips">
                                {% if country_code=='USA' and cloud_ship_max>0 %}
                                  {# handlingTime为出库时效 #}
                                  <span>Orders will be shipped from our warehouses within
                                    <span id="handlingTime" class="handling-time"> {{ cloud_ship_min }}-{{ cloud_ship_max }} </span>
                                    business days after the order has been placed.
                                  </span><br>
                                {% endif %}
                                <span>{{ estimated_delivery_time_content }}</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  {% elseif cwf ==0 %}   {#没有云送仓#}
                    {#一件代发#}
                    <div id="freight" class="freight0 select">
                      <div class="widthauto">
                        <div class="triangle"><i class="gcl gclxuanzhong"></i></div>
                        <input id="curr_freight" type="text" value="{{  extra_fee.dropshop_or_homepick  }}" hidden>
                        <span>{{ text_freight_drop_shipping }}</span><br>
                        <span class="price-mar-top">
                                <b class="freight_fee_show" style="color: #FA6400;">{{ extra_fee_show.dropshop_or_homepick }} </b>
                                <span class="freight_unit">/{{ text_unit }}</span>
                            </span>
                        <div class="dropdown-freight">
                          <ul style="padding: 0">
                            {#<span style="color: #333333;border-bottom: 1px solid #e5e5e5;font-weight: bold;padding: 5px 0 5px 0; display: inline-block;width: 250px;">{{ detail_box_title|format(service_type[0]) }}</span><br/>#}
                            <span style="border-bottom: 1px solid #e5e5e5;color: #333333;padding: 5px 0 5px 0; display: inline-block;font-weight: bold;width: 250px;">{{ detail_shop_fee }} <span style="color: #183463;margin-left: 50px">{{ freight_show.dropshop_or_homepick }}</span></span><br/>
                            <span style="color: #333333;padding: 5px 0 5px 0;font-weight: bold;display: inline-block;width: 250px;">{{ detail_pack_fee }} <span style="color: #183463;margin-left: 50px"> {{ package_fee_show.dropshop_or_homepick }}</span></span>
                          </ul>
                          <div class="title1">
                            {% if ship_max>0 %}
                              <span>Orders will be shipped from our warehouses within
                                <span class="handling-time"> {{ ship_min }}-{{ ship_max }} </span>
                                business days after the order has been placed.
                              </span><br>
                            {% endif %}
                            {% if estimated_ship_day_show %}
                              <span>Estimated delivery timeframes are between
                                <span class="handling-time"> {{ estimated_ship_day_min }}-{{ estimated_ship_day_max }} </span>
                                business days after shipping from our warehouses.
                                <a href="{{ help_center_url }}" target="_blank">
                                  <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer"
                                     title="Click to view shipping information"></i>
                                </a>
                              </span>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
        </div>
      <input type="hidden" id="product_volume" value="{{ volume.cwf }}">
      <input type="hidden" id="volume_lower" value="{{ volume_lower }}">
    {% endif %}
{% endif %}