<!--保证金-->
{% if margin_info %}
<div class="price">
    <div class="col-sm-11">
    <span class="text-muted col-sm-3">
        {{ text_margin_label }}({{ text_unit }})
        <a href="{{ margin_info['url_information'] }}" data-original-title="To view margin policy, please click here." data-toggle="tooltip"><i class="giga icon-V10-wenhaotishi" style="cursor: pointer"></i></a>
        <br>
        {{ margin_info['payment_ratio'] }}%&nbsp;{{ text_margin_deposit }}
    </span>
        {% for key, item in margin_info['lists'] %}
            <span class="col-sm-3 pcs"   {% if is_seller_self != 1 %} onmouseover="view()" onclick="loadMarginModal(this,1, {{ key }})"  {% endif %}>
                <span class="quick-box"></span>
                <strong>{{ item.price_currency }}</strong><br>
                <span class="text-muted">{{ item.quantity_show }}&nbsp;{{ text_pcs }}</span>
            </span>
        {% endfor %}
    </div>
    <div class="col-sm-1" style="padding: 0">
      {% if is_seller_self != 1 %}
        <span class="bid_title_span" data-toggle="tooltip" title=""
          {% if margin_info.is_bid %}
            data-original-title="Bid for a lower price"
          {% else %}
            data-original-title="Seller doesn't accept bid for the Margin Price transaction."
          {% endif %}
        >
          {% if margin_info.is_bid %}
          <button id="btn_margin_bid" class="btn bid_btn pull-right" data-confirm="{% if product_pending %}1{% else %}0{% endif %}" data-exc="1" onclick="loadMarginModal(this,0)" style="float: right;">{{ entry_btn_bid }}</button>
          {% else %}
          <button id="btn_margin_bid" class="btn bid_btn pull-right no-drop" data-confirm="{% if product_pending %}1{% else %}0{% endif %}" data-exc="1" style="float: right;cursor:no-drop;">{{ entry_btn_bid }}</button>
          {% endif %}
        </span>
      {% endif %}
    </div>
</div>
{% endif %}