{#库存数量#}
<style>
  .input-group .popover .btn-close {
    padding: 2px 6px;
    border: 1px solid #ccc;
    color: #3A75DC;
    background-color: #fff;
    border-radius: 4px;
    font-size: 12px;
  }

  .input-group .popover .btn-close:hover {
    background-color: #3A75DC;
    color: #fff;
  }

  .quantity .input-group-addon {
    line-height: 20px;
  }
  /* #29414详情活动 */
.enlarge-box-qty {
    margin-left: 5px;
    display: inline-block;
    padding: 9px 0;
    position: relative;
    cursor: default;
  }
  .enlarge-box-qty .pop-down:before, .enlarge-box-qty .pop-down:after{
    content: '';
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -14px;
    width: 0;
    height: 0;
    border-bottom: 14px solid #fff;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
  }
  .enlarge-box-qty .pop-down:before {
    top: -14px;
    border-bottom: 14px solid #cccccc;
  }
  .enlarge-box-qty .pop-down:after {
    top: -12px;
  }
  .enlarge-box-qty .pop-down {
    position: absolute;
    min-width: 360px;
    top: 61%;
    left: 10%;
    z-index: 999;
    display: none;
    margin-top: 16px;
    background: #fff;
    margin-left: -150px;
    padding: 15px 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #cccccc;
    cursor:default;
  }
  .enlarge-box-qty .pop-down .popover-content{
    padding: 0 0 8px 0;
    line-height: 18px;
  }
  .enlarge-box-qty .pop-down .popover-content:last-child{
    padding: 0;
  }
  .quantity-display-flex{
    display: flex;
    align-items: center;
  }
  .ml-5-quantity{
    margin-left: 5px;
  }
  .promotion-qty-tip{
    font-size: 13px;
    color: #999999;
  }
  .text-size-normal-14{
    font-size: 14px;
  }
  .colorFF66{
    color: #FF6600;
  }
</style>
<div class="quantity quantity-display-flex">
  <label class="mr-2 key text-muted">{{ entry_qty }}</label>
  <div class="input-group" style="width: 125px" tabindex="0" data-toggle="popover" data-placement="bottom"
    data-content="" data-html="true" data-trigger="hover">
    <span class="input-group-addon qty_reduce right-radius">
      <i class="giga icon-a-V10_jibuqijianhao text-size-normal"></i>
    </span>
    <input type="text" name="quantity" id="input-quantity" class="form-control center"
      onkeyup="inputQtyChangeAfter(this)" onafterpaste="inputQtyChangeAfter(this)" onchange="calculateTotal(this)"
      value="1" style="width: 60px;">
    <span class="input-group-addon qty_add left-radius">
      <i class="giga icon-iconfonticon02 text-size-normal"></i>
    </span>
    {#价格最优的提示#}
    <div class="popover fade bottom in" id="priceOptimalTip" style=" display: none;top: 30px;left: -50px;width: 280px">
      <div class="arrow" style="left: 50%;"></div>
      <div class="popover-title" style="display: none;"></div>
      <div class="popover-content">
        <div class="priceOptimalTipContent"></div>
        <div class="popover-btn text-right mt-1">
          <button type="button" class="btn btn-close" id="priceOptimalClose">Close</button>
        </div>
      </div>
    </div>
  </div>
  <span class="text-muted ml-5-quantity">{{ text_unit }}</span>
  <input type="hidden" name="product_id" value="{{ product_id }}" />
  <div>
    <span class="enlarge-box-qty"><b id="qty_available">{{ quantity }}</b> <span
        class="text-muted">{{ text_qty_available }}</span>
      {# 29414 店铺活动-活动库存 #}
      {% if can_show_discount_stock_diaglog  == 1 %}
      <div class="pop-down">
        <div class="popover-content text-size13 colorFF66">
          The following two inventory types cannot be both purchased at one time.
        </div>
        {% if discount_stock_qty !=0 %}
        <div class="popover-content text-size13">
          <b>Promotionlal Qty:{{discount_stock_qty}}</b>
          {% set limit_discount = xu_store_discount['limit_discount'] %}
          <div class="promotion-qty-tip text-size13">
            The promotion inventory is only used for the purchase of the promotion '{{ 100 - limit_discount.discount }}% OFF {{ limit_discount.buyer_show_discount_name }}'
          </div>
        </div>
        {% endif %}
        {% if other_stock_qty !=0 %}
        <div class="popover-content text-size13">
          <b>Non-promotional Qty:{{other_stock_qty}}</b>
          <div class="promotion-qty-tip text-size13">
            The inventory can be used for the purchases other than the above promotion event
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
      </span>
    {% if stock_tip_html %}
    {{ stock_tip_html }}
    {% endif %}
    {% if receipt_html %}
    {{ receipt_html }}
    {% endif %}
  </div>
</div>
<script>
  var can_show_discount_stock_diaglog=Number(`{{can_show_discount_stock_diaglog | js_var}}`);
  $(function(){
    promotionQtyDownPopBtnClick.promotionQtyDownPopFn();
  })
  $("#priceOptimalClose").on('click', function () {
    $("#priceOptimalTip").hide();
  });
  function showPriceOptimalTip(contentNew) {
    let ele = "#priceOptimalTip";
    let contentOld = $(ele).find(".priceOptimalTipContent").text();
    let timer = undefined;
    let timeout = 4000;
    if (contentOld != contentNew) {
      clearTimeout(timer);
      $(ele).hide();
      $(ele).find(".priceOptimalTipContent").text(contentNew);
      $(ele).show();
      timer = setTimeout(function () {
        $(ele).hide();
      }, timeout);
    } else {
      if ($(ele).is(":hidden")) {
        $(ele).show();
        timer = setTimeout(function () {
          $(ele).hide();
        }, timeout);
      }
    }
  }

  function showQtyDisableForFutures() {
    var content = 'The Quantity cannot be modified since the due amount of Future Goods Agreement must be paid in one time.'
    $("#input-quantity").parent('.input-group').addClass('disabled-qty').attr('data-content', content);
    $("#input-quantity").attr('disabled', 'disabled');
  }

  function showQtyEnableForFutures() {
    $("#input-quantity").parent('.input-group').removeClass('disabled-qty').attr('data-content', '');
    $("#input-quantity").removeAttr('disabled')
  }
  //#29414 店铺活动 -->选中协议，去除库存悬浮
  var  promotionQtyDownPopBtnClick={
    promotionQtyDownPopFn:function(){
      $('.enlarge-box-qty').mouseover(function(){
        let activeMargin=$('#wrapperBox').find('.protocol-wrapper-slide-active');
        let activeRebate=$('#wrapperBox').find('.rebate-li.protocol-wrapper-slide-active');
        if((activeMargin.length==0 || activeRebate.length >0) && can_show_discount_stock_diaglog == 1){
          $('.enlarge-box-qty .pop-down').css('display','block');
          $('.enlarge-box-qty').css('cursor','pointer');
        }
      })
      $('.enlarge-box-qty').mouseout(function(){
        $('.enlarge-box-qty .pop-down').css('display','none');
        $('.enlarge-box-qty').css('cursor','default');
      })
    }
  }
</script>
