<!--返点-->
{% if rebate_info %}
<div class="price">
    <div class="col-sm-11">
        <span class="text-muted col-sm-3">
            {{ text_rebates_label }}({{ text_unit }})
            <a target="_blank" href="{{ rebate_info['url_information'] }}"><i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="To review rebate policy, please click here." style="cursor: pointer"></i></a>
            <br>
        </span>
        {% for item in rebate_info['list'] %}
            <span class="col-sm-3 pcs" {% if is_seller_self != 1 and rebate_info['can_bid_rebates']%}  onmouseover="view()" onclick="loadRebatesModal({{ item.id }})" {% else %} data-toggle="tooltip" data-original-title="{{ rebate_info.bid_err_tips }}" {% endif %}>
                <span class="quick-box"></span>
                <strong>{{ item.price_currency }}</strong><br>
                <span class="text-muted">{{item['qty']}}&nbsp;{{text_pcs}}&nbsp;in&nbsp;{{item['day']}}&nbsp;Days</span>
            </span>
        {% endfor %}
    </div>
    <div class="col-sm-1" style="padding: 0">
      {% if is_seller_self !=1 %}
        {% if rebate_info['can_bid_rebates'] %}
          <span class="bid_title_span" data-toggle="tooltip" title="" data-original-title="Bid for a lower price">
                <button id="btn_rebates_bid" class="btn bid_btn pull-right" onclick="loadRebatesModal()" style="float: right;">{{ entry_btn_bid }}</button>
            </span>
        {% else %}
          <span class="bid_title_span" data-toggle="tooltip" title="" data-original-title="{{ rebate_info.bid_err_tips }}">
                <i style="font-style: normal" class="btn bid_btn pull-right disabled" style="float: right;">{{ entry_btn_bid }}</i>
            </span>
        {% endif %}
      {% endif %}
    </div>
</div>
{% endif %}