{#Transaction Type#}
{% if loginId != customer_id %}
    <div class="transaction_type_line">
        <label for="input-transaction_type" class="mr-2 key">{{ entry_transaction_type }}</label>
        <select name="transaction_type" class="select2_new" id="transaction_type" onchange="setProductPrice(this)">
            {% if product_type == 1%}
                <option
                        value='0'
                        agreement_code="{{ margin_agreement_code }}"
                        agreement_name="Margin">
                    Margin：Agreement ID（{{ margin_agreement_code  }}）</option>
            {% elseif 2 == product_type %}
                <option
                        value='0'
                        agreement_code="{{ futures_agreement_code }}"
                        agreement_name="Future Goods">Future Goods：Agreement ID（{{ futures_agreement_code  }}）</option>
            {% else %}
                <option value='0'>Normal Transaction</option>
            {% endif %}
            {% if transaction_info.transaction_type %}
                {% for k,v in  transaction_info.transaction_type %}
                    <option
                            value="{{ v.id }}_{{ v.type }}"
                            agreement_code="{{ v.agreement_code  }}"
                            agreement_name="{{ v.agreement_name }}"
                            mean="{{ v.price_show }}_{{ v.price_all_show }}_{{ k }}_{{ v.left_qty }}">
                        {% if v.type == 1 %}
                            Rebate
                        {% elseif v.type == 2 %}
                            Margin
                        {% elseif v.type == 3 %}
                            Future Goods
                        {% endif %}
                        : Agreement ID({{ v.agreement_code  }})
                    </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
{% endif %}