<style>
  /*云送仓新样式hover弹窗*/
  i.icon-V10-wenhaotishi{
    font-size: 12px;
  }
  .drop-hover-title{
    width: 100%;
    margin-bottom: 10px;
  }
  .drop-hover-title-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .drop-hover-title-top>div{
    width: auto;
  }
  .drop-hover-icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .drop-hover-icons>div{
    width: auto;
    margin-right: 10px;
  }
  .drop-hover-icons>div:last-child{
    margin-right: 0;
  }

  .drop-hover-icons .icon-item{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: #3A75DC;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
  }
  .drop-hover-items{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .drop-hover-items>p{
    margin: 0;
  }
  .drop-bottom-tips{
    width: 100%;
  }
  .hover-link{
    color: #3A75DC;
  }
  .hover-link:hover{
    text-decoration: underline;
  }
  .link-color{
    color: #3A75DC;
  }
  .border-bottom-gray{
    border-bottom: 1px solid #eee;

  }
  .drop-hover-items-label{
    display: inline-block;
    width: 150px;
  }
  .drop-hover-items-num{
    color: #000;
    font-weight: bolder;
  }
  .tooltip.fade .tooltip-inner>p{
    margin: 3px 0 3px 0;
    text-align: left;
  }
  .tooltip.fade .tooltip-inner{
    max-width: 400px !important;//修改宽度
  }
  /*云送仓新样式hover弹窗*/

  /*云送仓起送量说明强提醒*/
  .fee-modal-cloud-warehouse{
    display: block;
    color: #fA6400;
    font-size: 12px;
    font-style: italic;
    text-align: left;
    position: relative;
    top: -6px;
  }
  /*云送仓起送量说明强提醒*/

    #freightPer{
        padding: 0;
        background-color: transparent;
        font-weight: bold;
        font-size: 12px;
    }
  .form-group label {
    text-transform: none;
  }
  .dropdown-menu > li.freight-li > a:hover,
  .dropdown-menu > li.freight-li > a:focus{
      color: #3A75DC;
  }
  .dropdown-menu > li.freight-li > a{
    text-align: center;
    padding: 10px 20px;
      font-size: 12px;
  }
  .dropdown-menu > li.freight-li-selected > a,
  .dropdown-menu > li.freight-li-selected > a:hover{
      background-color: #3A75DC;
      color: #fff;
  }

    #freightPer{
        padding: 0;
        background-color: transparent;
        font-weight: bold;
        font-size: 12px;
    }
  .form-group label {
    text-transform: none;
  }
  .dropdown-menu > li.freight-li > a:hover,
  .dropdown-menu > li.freight-li > a:focus{
      color: #3A75DC;
  }
  .dropdown-menu > li.freight-li > a{
    text-align: center;
    padding: 10px 20px;
      font-size: 12px;
  }
  .dropdown-menu > li.freight-li-selected > a,
  .dropdown-menu > li.freight-li-selected > a:hover{
      background-color: #3A75DC;
      color: #fff;
  }
  .page-seller-portal tbody tr.no-top-td td {
    border-top: none !important;
    padding-top: 0 !important;
  }
  .page-seller-portal .campaign-dis {
      clear: both;
      font-size: 12px;
      width: 100%;
      margin-top: 6px;
      margin-left: 64px;
  }
  .page-seller-portal .campaign-dis img {
      margin-top: 1px;
      margin-right: 2px;
  }
  .page-seller-portal .campaign-dis .store-name{
      max-width: 80%;
      float: left;
      word-break: break-all;
      margin-right: 10px
  }
  .handlingTimeWaitDiv{
    text-align: center;
  }
  .handlingTimeDiv{
    display: none;
  }
  .big-client-discount {
    margin: 6px auto;
  }
  .big-client-discount span {
    color: #FA6400;
    font-size: 12px;
    background: rgba(250, 100, 0, 0.1);
    border-radius: 9px;
    padding: 2px 4px;
  }
</style>

<div class="page-seller-portal">
    <div class="container mb-2">
        <div class="row">
            <div class="col-sm-12">
                <div class="level1">
                    <div class="tab-content box-shadow">
                        <div role="tabpanel" class="tab-pane active" id="available">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="control-label">
                                            <label class="control-label" for="input-status"
                                                   style="">Category</label><br>
                                            <div class="dropdown select-line" style="position: relative">
                                                <button class="clear-btn"><i class="giga icon-sidebar-clear"></i>
                                                </button>
                                                <input type="text" name="Category" value=""
                                                       placeholder="Please select" id="Category"
                                                       role="button" data-toggle="dropdown" class="cat_input form-control"
                                                       category_id="{{ params.category_id }}" readonly
                                                       data-categoryid="{{ params.category_id }}"
                                                       style="background-color: #f3f5f7"/>
                                                {% if
                                                  (params.flag != 'unavailable' and available_categories is not empty)
                                                  or (params.flag == 'unavailable' and unavailable_categories is not empty)
                                                %}
                                                <ul class="dropdown-menu dropdown-button" role="menu"
                                                    aria-labelledby="dropdownMenu">
                                                  {% if params.flag != 'unavailable' %}
                                                    {% for level1 in available_categories %}
                                                        {% if level1.children %}
                                                            <li class="dropdown-submenu">
                                                            <a tabindex="-1" onclick="menuSelect(this);" level="1"
                                                               cat_name="{{ level1.name }}"
                                                               id="{{ level1.category_id }}"
                                                               pid="{{ level1.parent_id }}">{{ level1.name }}</a>
                                                            <ul class="dropdown-menu">
                                                                {% for level2 in level1.children %}
                                                                    {% if level2.children %}
                                                                        <li class="dropdown-submenu">
                                                                        <a onclick="menuSelect(this);" level="2"
                                                                           cat_name="{{ level2.name }}"
                                                                           id="{{ level2.category_id }}"
                                                                           pid="{{ level2.parent_id }}">{{ level2.name }}</a>
                                                                        <ul class="dropdown-menu">
                                                                            {% for level3 in level2.children %}
                                                                                <li>
                                                                                    <a onclick="menuSelect(this);"
                                                                                       level="3"
                                                                                       cat_name="{{ level3.name }}"
                                                                                       id="{{ level3.category_id }}"
                                                                                       pid="{{ level3.parent_id }}">{{ level3.name }}</a>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% else %}
                                                                        <li>
                                                                            <a onclick="menuSelect(this);" level="2"
                                                                               cat_name="{{ level2.name }}"
                                                                               id="{{ level2.category_id }}"
                                                                               pid="{{ level2.parent_id }}">{{ level2.name }}</a>
                                                                        </li>
                                                                    {% endif %}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% else %}
                                                            <li>
                                                                <a onclick="menuSelect(this);" level="1"
                                                                   cat_name="{{ level1.name }}"
                                                                   id="{{ level1.category_id }}"
                                                                   pid="{{ level1.parent_id }}">{{ level1.name }}</a>
                                                            </li>
                                                        {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                  {% else %}
                                                    {% for level1 in unavailable_categories %}
                                                      {% if level1.children %}
                                                        <li class="dropdown-submenu">
                                                        <a tabindex="-1" onclick="menuSelect(this);" level="1"
                                                           cat_name="{{ level1.name }}"
                                                           id="{{ level1.category_id }}"
                                                           pid="{{ level1.parent_id }}">{{ level1.name }}</a>
                                                        <ul class="dropdown-menu">
                                                          {% for level2 in level1.children %}
                                                            {% if level2.children %}
                                                              <li class="dropdown-submenu">
                                                              <a onclick="menuSelect(this);" level="2"
                                                                 cat_name="{{ level2.name }}"
                                                                 id="{{ level2.category_id }}"
                                                                 pid="{{ level2.parent_id }}">{{ level2.name }}</a>
                                                              <ul class="dropdown-menu">
                                                                {% for level3 in level2.children %}
                                                                  <li>
                                                                    <a onclick="menuSelect(this);"
                                                                       level="3"
                                                                       cat_name="{{ level3.name }}"
                                                                       id="{{ level3.category_id }}"
                                                                       pid="{{ level3.parent_id }}">{{ level3.name }}</a>
                                                                  </li>
                                                                {% endfor %}
                                                              </ul>
                                                            {% else %}
                                                              <li>
                                                                <a onclick="menuSelect(this);" level="2"
                                                                   cat_name="{{ level2.name }}"
                                                                   id="{{ level2.category_id }}"
                                                                   pid="{{ level2.parent_id }}">{{ level2.name }}</a>
                                                              </li>
                                                            {% endif %}
                                                            </li>
                                                          {% endfor %}
                                                        </ul>
                                                      {% else %}
                                                        <li>
                                                          <a onclick="menuSelect(this);" level="1"
                                                             cat_name="{{ level1.name }}"
                                                             id="{{ level1.category_id }}"
                                                             pid="{{ level1.parent_id }}">{{ level1.name }}</a>
                                                        </li>
                                                      {% endif %}
                                                      </li>
                                                    {% endfor %}
                                                  {% endif %}
                                                </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="ItemCode"
                                               for="input-order">Item Code</label>
                                        <input type="text" name="ItemCode" value="{{ params.item_code }}"
                                               placeholder="Item Code" id="itemCode" autocomplete="off"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label" for="productName">Product Name</label>
                                        <input type="text" name="productName" value="{{ params.product_name }}"
                                               placeholder="Product Name" id="productName"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <label class="control-label" for="input-status">{{ text_seller_label }}</label>
                                    <select name="seller_id" class="form-control" id="seller_id">
                                      <option
                                        value="0" {% if params.seller_id == '' or params.seller_id == 0 %} selected {% endif %} >
                                        All
                                      </option>
                                      {% for sellerId,sellerName in seller_list %}
                                        <option
                                          value="{{ sellerId }}" {% if params.seller_id==sellerId %} selected {% endif %} >
                                          {{ sellerName }}
                                        </option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                {% if params.flag!='unavailable' %}
                                    {% if has_cwf_freight %}
                                      <input name="fulfillment" id="fulfillment" type="hidden" value="{{ params.fulfillment }}">
                                      <div class="col-sm-4" style="display: none">
                                            <div class="form-group">
                                                <label class="control-label" for="input-status">Fulfillment options: <i
                                                            class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                                            title="Different fulfillment option will display different fulfillment rates. Products within each fulfillment option will be added to the corresponding shopping cart. E.g. drop shipping product will be added to the drop shipping shopping cart. "
                                                            style="font-size: 13px"></i></label>
                                                <select name="fulfillment-bak" class="form-control" id="fulfillment-bak">
                                                    <option value="1" {% if params.fulfillment==1 %} selected {% endif %} >
                                                        Drop Shipping
                                                    </option>
                                                    <option value="2" {% if params.fulfillment==2 %} selected {% endif %} >
                                                        Cloud Wholesale Fulfillment
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label class="control-label" for=""></label>
                                                <div class="check">
                                                    <input type="checkbox" {% if params.change_price %}  checked {% endif %}
                                                           id="changePrice"> Show Recent Changes Only
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="form-group pull-right">
                                                <label class="control-label"></label>
                                                <div>
                                                    <a class="btn btn-primary" data-toggle="tooltip"
                                                       title="{{ button_filter }}" onclick="filter()"
                                                       id="quote-filter-btn">{{ button_filter }} </a>
                                                    <a onclick="resetFilter();" class="btn btn-default reset"
                                                       data-toggle="tooltip" title="Reset"><i
                                                                class="giga icon-reset3" style="font-size: 13px"></i></a>
                                                    {% if params.flag!='unavailable' %}
                                                        <a class="btn btn-default" data-toggle="tooltip"
                                                           onclick="downloadAvailableWishList()"
                                                           title="Download">
                                                            <i class="gcl gclxiazai"></i></a>
                                                        <a type="button" class="btn btn-default" data-toggle="tooltip"
                                                           data-target="#modal-setting" title="Low inventory settings"
                                                           onclick="lowInventorySettings()">
                                                            <i class="gcl gclshezhi"></i>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="check">
                                                    {% if isCollectionFromDomicile %}
                                                        <input type="checkbox" {% if params.over_sized %}  checked {% endif %}
                                                               id="overSized"> Oversized Items &nbsp;
                                                    {% endif %}
                                                    <input type="checkbox" {% if params.change_price %}  checked {% endif %}
                                                           id="changePrice"> Show Recent Changes Only
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group pull-right">
                                                <div>
                                                    <a class="btn btn-primary" data-toggle="tooltip"
                                                       title="{{ button_filter }}" onclick="filter()"
                                                       id="quote-filter-btn">{{ button_filter }} </a>
                                                    <a onclick="resetFilter();" class="btn btn-default reset"
                                                       data-toggle="tooltip" title="Reset"><i
                                                                class="giga icon-reset3"></i></a>
                                                    {% if params.flag!='unavailable' %}
                                                        <a class="btn btn-default" data-toggle="tooltip"
                                                           onclick="downloadAvailableWishList()"
                                                           title="Download">
                                                            <i class="gcl gclxiazai"></i></a>
                                                        <a type="button" class="btn btn-default" data-toggle="tooltip"
                                                           data-target="#modal-setting" title="Low inventory settings"
                                                           onclick="lowInventorySettings()">
                                                            <i class="gcl gclshezhi"></i>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="col-sm-12">
                                        <div class="form-group pull-right"
                                             {% if is_usa and (not isCollectionFromDomicile) %}
                                             style="margin-top: 15px"
                                             {% endif %}
                                        >
                                            <div>
                                                <a class="btn btn-primary" data-toggle="tooltip"
                                                   title="{{ button_filter }}" onclick="filter()"
                                                   id="quote-filter-btn">{{ button_filter }} </a>
                                                <a onclick="resetFilter();" class="btn btn-default reset"
                                                   data-toggle="tooltip" title="Reset"><i class="giga icon-reset3"></i></a>
                                                {% if params.flag!='unavailable' %}
                                                    <a class="btn btn-default" data-toggle="tooltip"
                                                       onclick="downloadAvailableWishList()"
                                                       title="Download">
                                                        <i class="gcl gclxiazai"></i></a>
                                                    <a type="button" class="btn btn-default"
                                                       data-toggle="tooltip"
                                                       data-target="#modal-setting"
                                                       title="Low inventory settings">
                                                        <i class="gcl gclshezhi"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                            <div class="content-table" style="font-size: 12px">
                                <div class=" pull-right">
                                    <a class="btn btn-create" data-target=".modal-create " onclick="addGroup()"  data-toggle="tooltip" title="Create new group">
                                        <i class="gcl gcladd"></i> Create </a>
                                </div>
                                <div class=" pull-left">
                                  <a class="btn btn-text active" id="top_group-0" onclick="clickGroup(this,0)">All
                                    <span>({{ group_count_all }})</span>
                                  </a>
                                  {# 分组标题名称、编辑 #}
                               <div class="groupList" style="display: inline-block">
                                   {% if group_count %}
                                       {% for gitem in group_count %}
                                           {% if gitem.group_id and gitem.group_id!=item.group_id %}
                                               <div class="operate-g" style="display: inline-block">
                                                   <a class="btn btn-text"
                                                      id="top_group-{{ gitem.group_id }}"
                                                      onclick="clickGroup(this,0)"
                                                      title="{{ gitem.name }}">
                                                     {{ gitem.name }}
                                                       <span style="position: absolute;right: 0">({{ gitem.count }})</span>
                                                   </a>
                                                   <span class="group-operate" style="display: none">
                                              <button class="btn btn-group group-edit rename-set-{{ gitem.group_id }}" data-target=".modal-edit-name" new_name=""
                                                      onclick="renameWishGroupValue('{{ gitem.group_id }}','{{ gitem.name }}')">
                                                  <i class="gcl gcledit"></i>
                                              </button>
                                               <button class="btn btn-group group-delete" data-toggle="modal" onclick="delWishGroupDia('{{ gitem.group_id }}')">
                                                   <i class="gcl gcllajitong"></i>
                                               </button>
                                          </span>
                                               </div>
                                           {% endif %}
                                       {% endfor %}
                                   {% endif %}
                               </div>
                                </div>
                                <div style="clear: both">
                                    <table class="table save" style="margin-bottom: 0">
                                        <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" class="allcheck" onclick="changeStatusAll(this)">
                                            </th>
                                            <th colspan="2" class="text-center">Product Detail</th>
                                            <th class="text-center" style="cursor: pointer;{% if params.flag!='unavailable' %}width:130px {% endif %}">
                                            <a class="sequence " onclick="sort('order_by_store')">
                                              Seller
                                              <i class="gcl gclshengxu1"
                                                 style="font-size: 12px;{% if params.order_by_store=='ASC' %} color: #FA6400; {% else %}color: #ccc; {% endif %}"></i>
                                              <i class="gcl gcljiangxu1"
                                                 style="margin-left: -15px;font-size: 12px;{% if params.order_by_store=='DESC' %}color:#FA6400;{% else %}color:#ccc {% endif %}"></i>
                                            </a>
                                          </th>
                                            {% if params.flag!='unavailable' %}
                                              <th class="text-center" style="cursor: pointer">
                                                <a class="sequence" onclick="sort('order_by_qty')">
                                                  Avail. Qty
                                                  <i class="gcl gclshengxu1"
                                                     style="font-size: 12px;{% if params.order_by_qty=='ASC' %} color: #FA6400; {% else %}color: #ccc; {% endif %}"></i>
                                                  <i class="gcl gcljiangxu1"
                                                     style="margin-left: -15px;font-size: 12px;{% if params.order_by_qty=='DESC' %}color:#FA6400; {% else %}color:#ccc {% endif %}"></i>
                                                </a>
                                              </th>
                                                {% if isCollectionFromDomicile %}
                                                  <th width="12%">Inventory Distribution
                                                      <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                                      title="Show only the warehouse where the goods are available"
                                                      style="font-size: 13px"></i>
                                                  </th>
                                                {% endif %}
                                                <th>Unit Price</th>
                                                <th {% if isCollectionFromDomicile %}width="10%" {% endif %}>
                                                    <div class="dropdown">
                                                      {% if has_cwf_freight %}
                                                      {#云送仓的会显示下拉框#}
                                                        <button class="btn dropdown-toggle" type="button" id="freightPer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                            Fulfillment Per Unit
                                                            <i class="giga icon-sidebar-unfold" style="font-size: 12px"></i>
                                                            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{ tips_freight_per_unit }}" style="font-size: 13px;font-weight: initial"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pt-0 pb-0" aria-labelledby="freightPer">
                                                            <li class="freight-li {% if params.fulfillment==1 or params.fulfillment=='' %} freight-li-selected {% endif %}"><a href="javascript:void(0);" onclick="freightClick(1)" >{{ btn_view_drop_shipping_freight }}</a></li>
                                                            <li role="separator" class="divider"></li>
                                                            <li class="freight-li {% if params.fulfillment==2 %} freight-li-selected {% endif %}"><a href="javascript:void(0);" onclick="freightClick(2)" >{{ btn_view_cloud_wholesale_fulfillment_freight }}</a></li>
                                                        </ul>
                                                      {% else %}
                                                          Fulfillment Per Unit
                                                      {% endif %}
                                                    </div>
                                                     </th>
                                                <th>Total</th>
                                            {% endif %}
                                            <th class="text-center" {% if params.flag!='unavailable' %}width="90px" {% endif %}>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if  list.list %}
                                        {% for item in list.list %}
                                            <tr style="position: relative;">
                                                <td><input type="checkbox" class="check checkboxes"
                                                           onclick="changeStatusOne(this)"
                                                           id="product_id-{{ item.product_id }}"
                                                           value="{{ item.product_id }}" msg="{{ item.sku }}"></td>
                                                <td colspan="2" {% if params.flag=='unavailable' %}width="55%"
                                                    {% else %}width="25%"{% endif %} >
                                                    <div>
                                                       <div style="display: flex;">
                                                           <div class="img"
                                                                style="width: 65px;position: relative;">
                                                               <img src="{{ item.thumb }}" alt=""
                                                                    class="img-thumbnail" style="width: 100%;"/>
                                                               <div class="img-big">
                                                                   <img src="{{ item.popup_image }}" alt=""
                                                                        class="img-thumbnail" style="width: 100%;"/>
                                                               </div>
                                                           </div>
                                                           <div style="padding: 5px 0 5px 5px;flex: 1;">
                                                               <div>
                                                                   <a class="hover" href="./index.php?route=product/product&product_id={{ item.product_id }}" title="{{ item.name }}" style=''><span class="name">{{ item.name }}</span></a>
                                                               </div>
                                                               <div class="sku">
                                                                   {{ item.sku }}
                                                                   {% for tagDetail in item.tags %}
                                                                       {{ tagDetail }}
                                                                   {% endfor %}
                                                               </div>

                                                           </div>
                                                       </div>
                                                        {% if params.flag=='unavailable' %}
                                                            {% if item.status==0 or item.buyer_flag==0 or item.customer_status==0 %}
                                                                <p class="reason" style="margin: 0;">This product is unavailable and cannot be purchased.</p>
                                                            {% else %}
                                                                <p class="reason" style="margin: 0;">You are currently not authorised
                                                                    to retail following products.</p>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <a class=" hover store-name" href="index.php?route=customerpartner/profile&id={{ item.seller_id }}" title="{{ item.screenname }}">{{ item.screenname }}</a>
                                                    {# #22763 大客户折扣 #}
                                                    {% if item.big_client_discount > 0 %}
                                                    <div class="big-client-discount">
                                                      <span>{{ 100 - item.big_client_discount }}%OFF</span>
                                                    </div>
                                                    {% endif %}
                                                    <a href="index.php?route=message/seller/addMessage&receiver_id={{ item.seller_id }}">
                                                        <i class="giga icon-email-messages"
                                                           style="color: #FA6400;font-size: 12px"></i>
                                                    </a>
                                                </td>

                                                {% if params.flag!='unavailable' %}
                                                    <td class="text-center">
                                                       <span id="freight" name="freight">
                                                        {% if item.quantity > item.remind_qty %}
                                                            {{ item.quantity }}
                                                        {% else %}
                                                            <span class="text-price" class="hover" style="color: red;font-weight: bold;cursor: pointer">{{ item.quantity }}</span>
                                                          {% if item['expected_date'] %}
                                                             <i class="giga icon-gantanhaojinggao" style="color: #FF414D"></i>
                                                          <ul class="dropdown-freight">
                                                            <span style="color: #333333;padding: 5px 0 5px 0; display: inline-block;width: 250px;">More on the way,Estimated date:{{ item.expected_date|date('Y-m-d') }} </span>
                                                          </ul>
                                                         {% endif %}
                                                        {% endif %}
                                                       </span>
                                                    </td>
                                                    {% if isCollectionFromDomicile %}
                                                        <td class="text-center">
                                                            {% for key,value in item.warehouse_list %}
                                                                {% if value.stock_qty > 0 %}
                                                                    {{ value.warehouse_code }}:
                                                                    <span style="">{{ value.stock_qty }}</span>
                                                                    <br/>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                    {% endif %}
                                                   {# 下面是价格展示 #}
                                                    <td>
                                                        <span id="freight" name="freight">
                                                      {% if
                                                        item.vip_effective_status == 1
                                                        or (item.is_delicacy and item.vip_price and item.vip_future_price > item.vip_price and date(item.effective_time) > date())
                                                        or (not item.is_delicacy and item.future_price and item.future_price.new_price > item.normal_price and date(item.future_price.effect_time) > date())
                                                      %}
                                                                <span
                                                                  class="hover"
                                                                  style="cursor: pointer"
                                                                  onclick="showPriceHistory({{ item.product_id }})"
                                                                  onmouseleave="futurePriceOut()"
                                                                  onmouseenter="futurePrice({{ item.product_id }})">
                                                                  {{ item.price_show }}
                                                                <i class="giga icon-gantanhaojinggao" style="color: #FF414D"></i>
                                                                </span>
                                                        {# 判断是否显示discount expire start #}
                                                         {% set show_expire  = 1 %}
                                                         {% if (item.is_delicacy and item.vip_price and item.vip_future_price > item.vip_price and date(item.effective_time) > date())
                                                          or (not item.is_delicacy and item.future_price and item.future_price.new_price > item.normal_price and date(item.future_price.effect_time) > date()) %}
                                                          {% set show_expire = 0 %}
                                                        {% endif %}
                                                        {# end #}
                                                          <ul class="dropdown-freight">
                                                            {% if item.vip_effective_status==1 %}
                                                                <span style="color: #333333;padding: 5px 0 5px 0; display: inline-block;width: auto;">Current Price:{{ item.normal_price_show }},&nbsp;Limited Time Exclusive price:{{ item.price_show }} </span>
                                                                {% if show_expire %}
                                                                  <span style="color: #333333;padding: 5px 0 5px 0; display: inline-block;width: auto;">
                                                                    Discount Expires:&nbsp;{{ item.expiration_time }}
                                                                  </span>
                                                                {% endif %}
                                                            {% endif %}
                                                            {# 新的涨幅判断 #}
                                                            {% if
                                                              item.is_delicacy and item.vip_price
                                                              and item.vip_future_price > item.vip_price
                                                              and date(item.effective_time) > date() %}
                                                              <span
                                                                data-index="0"
                                                                style="color: #333333;padding: 5px 0 5px 0;font-size: 12px;display: inline-block;width:auto;">The price will go up by {{ (item.vip_future_price-item.vip_price)|formatPrice(currency) }} in
                                                                  <span
                                                                    id="effect_time_{{ item.product_id }}"
                                                                    data-date="{{ item.effective_time }}">
                                                                    {{ item.effective_time }}
                                                                  </span>
                                                                </span>
                                                             {% elseif
                                                              not item.is_delicacy and item.future_price
                                                              and item.future_price.new_price > item.normal_price
                                                              and date(item.future_price.effect_time) > date() %}
                                                              <span
                                                                data-index="2"
                                                                style="color: #333333;padding: 5px 0 5px 0;font-size: 12px;display: inline-block;width:auto;">
                                                                The price will go up by {{ (item.future_price.new_price-item.normal_price)|formatPrice(currency) }} in
                                                                <span
                                                                  id="effect_time_{{ item.product_id }}"
                                                                  data-date="{{ item.future_price.effect_time }}">
                                                                    {{ item.future_price.effect_time }}
                                                                  </span>
                                                                </span>
                                                            {% endif %}
                                                          </ul>
                                                      {% else %}
                                                        <span
                                                          class="hover"
                                                          style="cursor: pointer"
                                                          onclick="showPriceHistory({{ item.product_id }})">
                                                          {{ item.price_show }}
                                                        </span>
                                                      {% endif %}
                                                        </span>

                                                        {# #22763 大客户折扣 #}
                                                        {% if item.big_client_discount > 0 %}
                                                        </br>
                                                        <span class="text-tips text-small">
                                                          <span class="text-line-th">{{ item.old_price_show }}</span>
                                                          &nbsp;·&nbsp;
                                                          <span>{{100 - item.big_client_discount}}%OFF</span>
                                                        </span>
                                                        {% endif %}

                                                        {% if item.price_change>0 %}
                                                            </br><span style="color: #ff414d" data-toggle="tooltip"
                                                                    title="The price is increased by {{ item.price_change_show }} from added to the list">&#8593;{{ item.price_change_show }}</span>
                                                        {% elseif item.price_change<0 %}
                                                            </br><span style="color: #65B017" data-toggle="tooltip"
                                                                    title="The price is decreased by {{ item.price_change_show }} from added to the list">&#8595;{{ item.price_change_show }}</span>
                                                        {% endif %}
                                                        
                                                    </td>
                                                    <td>
                                                        {% if params.fulfillment!=2 %}
                                                            <span id="freight" name="freight">
                                                                  <span class="hover" style="cursor: pointer"> {{ item.total_freight_show }} </span>
                                                                  <ul class="dropdown-freight">
                                                                    <span style="color: #333333;border-bottom: 1px solid #e5e5e5;text-align:center;padding: 5px 0 5px 0; display: inline-block;width: auto;font-size: 12px">Fulfillment for
                                                                           {% if isCollectionFromDomicile %}
                                                                               Home Pick
                                                                           {% else %}
                                                                               Drop Shipping
                                                                           {% endif %}
                                                                      service</span><br/>
                                                                    <span style="border-bottom: 1px solid #e5e5e5;color: #333333;padding: 5px 0 5px 0; display: inline-block;width:auto;text-align: center">Shipping Fee <span
                                                                                style="color: #183463;margin-left: 50px">{{ item.freight_show }}</span></span><br/>
                                                                    <span style="color: #333333;padding: 5px 0 5px 0;display: inline-block;width: auto;text-align: center">Packing Fee <span
                                                                                style="color: #183463;margin-left: 50px"> {{ item.package_fee_show }}</span></span>
                                                                  </ul>
                                                                </span>
                                                        {% else %}
                                                            <span id="freight" name="freight_cwf" class="freight_cwf">
                                                        <span class="hover freight_cwf_hover" data-product_id="{{ item.product_id }}">{{ item.total_freight_show }}<span
                                                                    class="caret"></span></span>
                                                        <ul class="dropdown-freight" style="margin-top: -2px">
                                                          <li style="list-style: none">
                                                            <div class="drop-hover-title border-bottom-gray">
                                                              <div class="drop-hover-title-top">
                                                                <div>{{ text_freight_cloud_wholesale }}</div>
                                                                <div><a href="/index.php?route=information/information&information_id={{ cwf_info_id }}" class="hover-link" target="_blank">{{ cwf_freight_lear_more_btn }}</a></div>
                                                              </div>
                                                              <div class="fee-modal-cloud-warehouse">*Min.qty/address.: 100ft³</div>
                                                            </div>
                                                            <div class="drop-hover-icons border-bottom-gray">
                                                               <div><i class="giga icon-zhongliang icon-item" style="font-size: 13.4px"
                                                                       data-toggle="tooltip" style="cursor: pointer" data-html="html"
                                                                       title="{{ weight_tip }}"></i> {{ item.weight_total }}{{ weight_class }}
                                                                   {% if item.combo_flag %}
                                                                       <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                                                          style="cursor: pointer" data-html="html"
                                                                          title="{{ item.weight_list_str }}"></i>
                                                                   {% endif %}
                                                               </div>
                                                               <div><i class="giga icon-tiji icon-item" style="font-size: 13.6px"
                                                                            data-toggle="tooltip" style="cursor: pointer" data-html="html"
                                                                            title="{{ volume_tip }}"></i> {{ item.volume_inch }}{{ volume_class }} <i
                                                                                class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                                                                style="cursor: pointer" data-html="html"
                                                                                title="{{ item.wth_str }}"></i>
                                                               </div>
                                                                <div><i class="giga icon-kache icon-item" style="font-size: 14px" data-toggle="tooltip" title="{{ cwf_shop_fee_tip }}"></i> {{ cwf_shop_fee_desc }}</div>
                                                            </div>
                                                            <div class="drop-hover-items border-bottom-gray">
                                                              <p>
                                                                <span class="drop-hover-items-label">{{ base_freight_label }}:</span>
                                                                  <span class="drop-hover-items-num">{{ item.cwf_freight_show }}</span>
                                                                  <span class="link-color">(${{ item.freight_rate }} / {{ volume_class }} )</span>
                                                              </p>
                                                              {% if item.overweight_surcharge > 0 %}
                                                                  <p>
                                                                    <span class="drop-hover-items-label">{{ overweight_surcharge_label }}:
                                                                        <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                                                           style="cursor: pointer"
                                                                           title="{{ overweight_surcharge_tip|format(cwf_overweight_surcharge_min_weight,cwf_overweight_surcharge_rate) }}"></i>
                                                                    </span>
                                                                    <span class="drop-hover-items-num">{{ item.overweight_surcharge_show }}</span>
                                                                </p>
                                                              {% endif %}
                                                              <p>
                                                                <span class="drop-hover-items-label">{{ package_fee_label }}:</span>
                                                                <span class="drop-hover-items-num">{{ item.cwf_package_fee_show }}</span>
                                                              </p>
                                                            </div>
                                                            <div class="drop-bottom-tips">
                                                              <div class="handlingTimeWaitDiv"><i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i></div>
                                                               <span class="handlingTimeDiv">Orders will be shipped from our warehouses within
                                                                 <span class="handlingTime handling-time"> x-x </span>
                                                                 business days after the order has been placed.<br>
                                                               </span>
                                                               <span>{{ estimated_delivery_time_content }}</span>
                                                            </div>
                                                          </li>
                                                        </ul>
                                                      </span>
                                                        {% endif %}
                                                        {% if item.freight_change>0 %}
                                                            <br><span style="color: #ff414d;cursor: pointer"
                                                                   data-toggle="tooltip"
                                                                   title="The fulfillment per unit is increased by {{ item.freight_change_show }} from added to the list">&#8593;{{ item.freight_change_show }}</span>
                                                        {% elseif item.freight_change<0 %}
                                                            <br><span style="color: #65B017;cursor: pointer"
                                                                   data-toggle="tooltip"
                                                                   title="The fulfillment per unit is decreased by {{ item.freight_change_show }} from added to the list">&#8595;{{ item.freight_change_show }}</span>
                                                        {% endif %}

                                                    </td>
                                                    <td> {{ item.total_price_show }}</td>
                                                {% endif %}
                                                <td  {% if params.flag=='unavailable' %} class="text-center"{% endif %}>
                                                    <div>
                                                        {% if params.flag!='unavailable' %}
                                                            {% if ((params.fulfillment==2 and has_cwf_freight and item.can_add_cart) or params.fulfillment!=2) %}
                                                              {% if item.unsupport_stock %}
                                                                <button type="button" data-toggle="tooltip" 
                                                                  title="This Seller’s products cannot be directly purchased for stock up. You must first upload a sales order and pay for the items, then ship the items immediately." 
                                                                  class="btn btn-action disabled btn-action-disabled">
                                                                    <i class="giga icon-gouwuche-fuben"></i>
                                                                </button>
                                                              {% else %}
                                                                <button type="button" data-trigger="hover"
                                                                        data-toggle="tooltip"
                                                                        onclick="addCart('{{ item.product_id }}');"
                                                                        title=""
                                                                        class="btn btn-action" data-cnzz-event="Saved Itemst|SI_AddtoCart">
                                                                    <i class="giga icon-gouwuche-fuben"></i>
                                                                </button>
                                                              {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                        <button type="button" data-trigger="hover" data-toggle="tooltip"
                                                                title=""
                                                                class="btn btn-action btn-save"
                                                                id="product_id-{{ item.product_id }}"
                                                                onclick="changeHeartStatus(this,'{{ item.group_id }}')">
                                                            <i class="giga  icon-quxiaoshoucang"
                                                               id="product_id-{{ item.product_id }}"
                                                               style="color: #FA6400"></i>
                                                        </button>
                                                    </div>
                                                    {# 产品移动分组 #}
                                                    {% if group_count|length > 1 %}
                                                      <div
                                                        class="dropdown text-center dropdown-menu-product"
                                                        style="margin-top: 5px">
                                                        <a href="#"
                                                           class="dropdown-toggle"
                                                           data-toggle="dropdown"
                                                           role="button" aria-haspopup="true"
                                                           aria-expanded="false"
                                                           style="font-size: 12px;color: #ccc">
                                                          Move to
                                                          <i class="giga icon-arrow-down-outline-white"
                                                             style="font-size: 12px"></i>
                                                        </a>
                                                        <ul class="dropdown-menu"
                                                            style="right: 20px;left: auto;border-radius: 4px">
                                                          <li class="right-move-li right-move-0">
                                                            <a class="btn btn-text"
                                                               onclick="moveProductsToGroup('0','{{ item.product_id }}')">
                                                              All </a>
                                                          </li>
                                                          {% for gitem in group_count %}
                                                            {% if gitem.group_id and gitem.group_id!=item.group_id %}
                                                              <li class="right-move-li right-move-{{ gitem.group_id }}">
                                                                <a class="btn btn-text" onclick="moveProductsToGroup('{{ gitem.group_id }}','{{ item.product_id }}')"> {{ gitem.name }}</a>
                                                              </li>
                                                            {% endif %}
                                                          {% endfor %}
                                                        </ul>
                                                      </div>
                                                    {% endif %}
                                                </td>
                                                {% if item.campaign %}
                                                <tr class="no-top-td">
                                                  <td colspan="10">
                                                      {% for campaign in item.campaign  %}
                                                      <div class="campaign-dis">
                                                        <img class="pull-left" src="image/coupon/discount.png">
                                                        <span class="store-name">{{ campaign.promotion_content }}</span>
                                                        <a href="{{ url('marketing_campaign/activity/index',{'code':campaign.code})}}"
                                                               style="color: #fa6400"> Shopping More ></a>
                                                      </div>
                                                      {% endfor %}
                                                  </td>
                                                </tr>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        {% else %}
                                          <tr>
                                              <td {% if params.flag=='unavailable' %}colspan="5"
                                                  {% else %}colspan="9"{% endif %} class="text-center">
                                                     <h3 style="font-size: 20px;font-weight: initial;line-height: 30px">
                                                         <i class="giga icon-save-inactive" style="font-size: 30px;color: #FA6400;margin-right: 10px"></i>
                                                       There are currently no products available within this fulfillment category. </h3>
                                                  <div style="margin-top: 20px">
                                                      <a class="btn-shopping btn " href="index.php?route=common/home" >Continue Shopping > </a>
                                                  </div>

                                              </td>
                                          </tr>

                                        {% endif %}

                                        </tbody>
                                    </table>
                                    <hr style="margin-top: 0">
                                    <div class="operate" style="display: none;">
                                        <button type="button" class="btn btn-operate check-out"
                                                data-target=".modal-delete" onclick="deleteGood()"><i
                                                    class="gcl gcllajitong"></i>
                                            Remove
                                        </button>
                                        {% if params.flag!='unavailable' %}
                                            <button class="btn btn-operate btn-add check-out" onclick="addSelected()"
                                            ><i class="giga icon-gouwuche-fuben"></i>
                                                Add to cart
                                            </button>
                                        {% endif %}
                                        {# 底部批量移动分组 #}
                                        {% if group_count|length > 1 %}
                                        <div class="dropdown bottom-move-div" style="display: inline-block">
                                          <button class="btn btn-operate check-out" type="button"
                                                  data-toggle="dropdown" aria-haspopup="true"
                                                  aria-expanded="false">
                                            <i class="gcl gclchuku"></i> Move to
                                          </button>
                                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                                             <li class="bottom-move-li bottom-move-0">
                                               <a class="btn btn-text" onclick="moveProductsToGroup('0','0')"> All </a>
                                             </li>
                                             <li role="separator" class="divider"></li>
                                            {% for gitem in group_count %}
                                              {% if gitem.group_id %}
                                                <li class="bottom-move-li bottom-move-{{ gitem.group_id }}" data-group-id = '{{ gitem.group_id }}'>
                                                  <a class="btn btn-text" onclick="moveProductsToGroup('{{ gitem.group_id }}')"> {{ gitem.name }} </a>
                                                </li>
                                              {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </div>
                                      {% endif %}


                                    </div>
                                    {{ page_view }}

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-delete" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <div>Do you confirm to remove the item(s)?</div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-primary btn-delete" data-dismiss="modal"
                        onclick="removeAllSelect()">Remove
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-del-group" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <div>
                  Deleting this category will move all products in it to the “All” category. Press Delete to continue with deletion.
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button id="delWishGroup" type="button" class="btn btn-primary btn-delete" data-dismiss="modal"
                        group_id=""
                        onclick="delWishGroup()">Delete
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-create" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">New group</h4>
            </div>
            <div class="modal-body">
                <div style="position: relative">
                    <input type="text" class="form-control limit-input pr-4" placeholder="Name" id="addWishGroup-name"
                           maxlength="20">
                    <div class="limit"><span class="value">0</span>/20</div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-primary create" data-dismiss="modal" onclick="addWishGroup()">
                    submit
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-edit-name" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Rename group</h4>
            </div>
            <div class="modal-body">
                <div style="position: relative">
                    <input id="renameWishGroup-value" type="text" class="form-control limit-input pr-4" placeholder="Name"
                           maxlength="20" name="">
                    <div class="limit"><span class="value">0</span>/20</div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" id="renameWishGroup" class="btn btn-primary create" onclick="renameWishGroup()"
                        group_id="">submit
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-setting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Set Low Inventory Qty Alert</h4>
      </div>
      <div class="modal-body">
        <div class="stockTips">
          <p>The default minimum quantity to trigger a Low Inventory Alert is 20</p>
          <p>Lower Inventory Alert priority: Product Level > Store Level > Account-wide</p>
        </div>
        <div style="position:relative;width: 90%;margin: 10px auto">
          <label class="control-label" for="" style="font-weight: inherit;">
            Account-Wide (all products in Saved Items list)
          </label><br>
          <input id="allProductAlert" type="number" class="minimum" style="width: 100%;padding: 0 10px;"
                 value="{{ wish_remind.all }}">
        </div>
        <div style="width: 90%;margin: 10px auto">
          <label class="control-label" for="" style="font-weight: inherit;">
            Store Level (all products from specific store)
          </label> <br>
          <div class="multipleChoice shop" style="position:relative;">
                     <span class="unfold" onclick="storeOptionDetailClick(this)">
                         <i class="gcl gclxiadan1 optionDetail"
                            style="" title="View History"></i>
                     </span>
            <select
              id="wishStoreList"
              class="selectpicker"
              data-live-search="true"
              title="Please Select"
              multiple
              data-selected-text-format="count > 3"
              onchange="storeSelectOnChange()">
              {% if storeList %}
                {% for store in storeList %}
                  <option value="{{ store.customer_id }}">{{ store.screenname }}</option>
                {% endfor %}
              {% endif %}
            </select>
            <div class="box stores-box"></div>
          </div>
          <input id="shopProductAlert" type="number" class="minimum"
                 style="width:100%;padding: 0 10px;margin: 5px 0"
                 value="{{ wish_remind.store }}">
        </div>
        <div style="width: 90%;margin: 10px auto">
          <label class="control-label" for="" style="font-weight: inherit;">
            Product Level (specific product)
          </label> <br>
          <div class="multipleChoice product" style="position:relative;">
            <span class="unfold" onclick="productOptionDetailClick(this)">
              <i class="gcl gclxiadan1 optionDetail" style="" title="View History"></i>
            </span>
            <select id="wishProductList" class="selectpicker wish-productList" data-live-search="true" title="{{ __('请选择', {}, 'common') }}" multiple
              data-multiple-separator="" data-selected-text-format="count > 3" onchange="productSelectOnChange()">
              {% if productList %}
                {% for product in productList %}
                  <option value="{{ product.product_id }}">{{ product.sku }}
                    &nbsp;&nbsp;-&nbsp;&nbsp; {{ product.name }}</option>
                {% endfor %}
              {% endif %}
            </select>
            <div class="box1 products-box"></div>
          </div>
          <input id="productAlert" type="number" class="minimum" style="width: 100%;padding: 0 10px;margin: 5px 0;" value="{{ wish_remind.product }}">
        </div>

      </div>
      <div class="modal-footer" style="text-align: center">
        <button id="AlertSubmit" type="button" class="btn btn-primary setting" data-dismiss="modal"
                onclick="setProductAlertAll()">Submit
        </button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" name="flag" id="flag" value="{{ params.flag }}">
<script type="text/javascript">
  //#13779 获取产品的具体发货时效
  var productWishlistArr = [];
  $(".freight_cwf_hover").on('mouseover',function (e) {
    let product_id = $(this).data('product_id');
    let parentNode = $(this).parent();
    if(productWishlistArr.indexOf(product_id) == -1){
      productWishlistArr.push(product_id);
      if ($(parentNode).find(".handlingTime").length > 0) {
        $.ajax({
          url: "{{ url('product/product/getHandlingTime') }}",
          type: 'GET',
          data: {product_id: product_id},
          dataType: 'json',
          success: function (json) {
            $(parentNode).find(".handlingTimeWaitDiv").hide();
            if (json.hasOwnProperty('cloud_ship_min') && json.hasOwnProperty('cloud_ship_max') && json.cloud_ship_max>0) {
              let handlingTime = ' ' + json.cloud_ship_min + '-' + json.cloud_ship_max + ' ';
              $(parentNode).find(".handlingTime").html(handlingTime);
              $(parentNode).find(".handlingTimeDiv").show();
            }
          }
        });
      }
    }
  });

  //（Available列表|Unavailable列表）当前的记录数
  tab_list_record[{{ flag }}] = parseInt({{ list.list|length }});
  let current_group_id = parseInt({{ current_group_id }});
  let flag = $(".nav-tabs .active").attr('id') == 'unavailable' ? 1 : 0;
  $("a.btn.btn-text.active:eq(" + flag + ")").removeClass('active');
  $("a#top_group-" + current_group_id + ".btn.btn-text:eq(" + flag + ")").addClass('active');
  tab_current_group_id[$(".nav-tabs .active").attr('id')] = current_group_id;
  adjustGroupItems();
  setGroupWith();

  $(".close").on('click', function () {
    $("div.modal-backdrop").hide();
  });

  //创建分组
  $(".limit-input").bind("input propertychange change", function () {
    let len = $(this).val().length;
    $(".value").text(len)
  });
  //删除修改分组
  $(".operate-g").hover(function () {
    $(this).find(".group-operate").css("display", "inline-block");
    $(this).css('border', '1px dashed #ccc');
  }, function () {
    $(this).find(".group-operate").css("display", "none");
    $(this).css('border', '1px dashed transparent');
  });

  //清除Category
  $('ul.dropdown-menu li.dropdown-submenu').on('click', function () {
    $(this).parentsUntil('.control-label').find('.clear-btn').show();
  });
  $('ul.dropdown-menu li').on('click', function () {
    $(this).parentsUntil('.control-label').find('.clear-btn').show();
  });

  $(".clear-btn").on("click", function () {
    $(this).hide();
    let cat = $(this).parentsUntil('.control-label').find('.cat_input');
    cat.val('').removeAttr('category_id');
  });

  function sort(str) {
    var flag = $('.nav-tabs .active').attr('id');
    var flag_tab = '#bid-' + flag;
    let val = $('#sort').val();
    let order_by_store = '{{ params.order_by_store }}';
    let order_by_qty = '{{ params.order_by_qty }}';
    if (order_by_store == 'DESC' || order_by_qty == 'DESC') {
      str += '-ASC'
    } else {
      str += '-DESC'
    }
    sessionStorage.setItem('wishlist_sort',str);
    filter()
  }

  function futurePrice(product_id) {
    let id = 'effect_time_' + product_id;
    let effect_time = $('#' + id).attr('data-date');
    let startdate = new Date('{{ date }}').getTime();
    let enddate = new Date(effect_time).getTime();
    if (startdate < enddate) {
      timeIn = TimeDown(id, startdate, enddate)
    }
  }

  function futurePriceOut() {
    for(var i = 1; i < 1000; i++) {
      clearTimeout(i);
    }
  }

$(function () {
  let flag = $('.nav-tabs .active').attr('id');
  let flag_tab = '#bid-' + flag;
  let category_id = $(flag_tab + " #Category").attr('category_id');
  if (category_id) {
    $(flag_tab + " #Category").val(sessionStorage.getItem('cat_name'))
  }
  block.unBlockUI();
  // 自动隐藏clear btn
  $('input[name="Category"]').each(function (){
    let _this = $(this);
    if(!_this.attr('category_id')){
      _this.parentsUntil('.control-label').find('.clear-btn').hide();
    }
  })
});
  function freightClick(freightType) {
    $("#fulfillment").val(freightType);
    filter()
  }
</script>