{% trans_default_category 'catalog/view/customerpartner/product/lists_index' %}

 <!-- id="div-valid" -->
<div class="valid-tab-page">
  <div class="tab-content-sty">
    <div>
      <!--子菜单-->
      <div class="seller-tabs valid-count">
        <ul class="oris-tabs mymessage-buyer__contact-nav" class="tag-number" >
          <li class="oris-tab-pane  {% if search.filter_status == '' %} oris-pane-active {% endif %}" data-type="*">
            <a class="noticeTab" data-toggle="tab">{{ __('全部') }}
              <span class="oris-tab-num">{{ countWait+countOn+countOff }}</span>
            </a>
          </li>
          <li class="oris-tab-pane {% if search.filter_status == -1%}  oris-pane-active {% endif %}" data-type="-1">
            <a class="noticeTab" data-toggle="tab">{{ __('待上架') }}
              <span class="oris-tab-num">{{ countWait }}</span>
            </a>
          </li>
          <li class="oris-tab-pane {% if search.filter_status == 1%}  oris-pane-active {% endif %}" data-type="1">
            <a class="noticeTab" data-toggle="tab">{{ __('已上架') }}
              <span class="oris-tab-num">{{ countOn }}</span>
            </a>
          </li>
          <li class="oris-tab-pane {% if search.filter_status == 0 and search.filter_status !=''%}  oris-pane-active {% endif %}" data-type="0">
            <a class="noticeTab" data-toggle="tab">{{ __('已下架') }}
              <span class="oris-tab-num">{{ countOff }}</span>
            </a>
          </li>
        </ul>
      </div>
      <!--search start-->
      <div class="seller-myform">
        <div class="oris-row msgb-search-row">
          <div class="oris-col-3 mymessage-col">
            <label class="control-label mymessage-label" for="input-sku_mpn_valid">{{ __('Item Code/MPN') }}</label>
            <input type="text" name="filter_sku_mpn" value="{{ search.filter_sku_mpn }}" placeholder="{{ __('Item Code/MPN') }}" id="input-sku_mpn_valid" class="oris-input"/>
          </div>
          <div class="oris-col-3 mymessage-col oris-select">
            <label class="control-label mymessage-label" for="input-combo-valid-select">{{ __('Combo MPN') }}</label>
            <select name="filter_combo" id="input-combo-valid-select" class="selectpicker" >
              <option value="*">{{ __('请选择', {}, 'common') }}</option>
              {% for key, value in product_combos %}
                <option value="{{ key }}" {% if search.filter_combo is not null and search.filter_combo !='' and search.filter_combo==key %}selected{% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="oris-col-3 mymessage-col">
            <label class="control-label mymessage-label" for="input-name-valid">{{ __('产品标题') }}</label>
            <input type="text" name="filter_name" value="{{ search.filter_name }}"
                placeholder="{{ __('产品标题') }}" id="input-name-valid" class="oris-input"/>
          </div>
          <div class="oris-col-3 mymessage-col oris-select">
              <label class="control-label mymessage-label" for="filter_buyer_flag_valid">{{ __('单独售卖') }}</label>
              <select name="filter_buyer_flag" class="selectpicker" id="filter_buyer_flag_valid">
                <option value="*">{{ __('请选择', {}, 'common') }}</option>
                {% for key, value in product_buyFlags %}
                  <option value="{{ key }}" {% if search.filter_buyer_flag is not null and search.filter_buyer_flag !='' and search.filter_buyer_flag != '' and search.filter_buyer_flag==key %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="oris-col-3 mymessage-col oris-select">
            <label class="control-label mymessage-label" for="input-product_group_valid">{{ __('产品分组') }}</label>
            <select name="filter_product_group" class="selectpicker" id="input-product_group_valid" {{ is_deleted==1
              ?'disabled':'' }}>
              <option value="*">{{ __('请选择', {}, 'common') }}</option>
              {% if product_groups %}
              {% for product_group in product_groups %}
              <option value="{{ product_group.id }}" {{ product_group.id==search.filter_product_group_id?'Selected':'' }}>{{
                product_group.name }}</option>
              {% endfor %}
              {% endif %}
            </select>
          </div>
          <div class="oris-col-3 mymessage-col oris-select">
            <label class="control-label mymessage-label" for="input-original-product">{{ __('原创产品') }}</label>
            <select name="filter_original_design" class="form-control" id="input-original-product">
              <option value="*">{{ __('请选择', {}, 'common') }}</option>
              <option value="0" {{ 0==search.filter_original_design?'Selected':'' }}>{{ __('否' , {}, 'common') }}</option>
              <option value="1" {{ 1==search.filter_original_design?'Selected':'' }}>{{ __('是' , {}, 'common') }}</option>
            </select>
          </div>
          {% if is_usa %}
          <div class="oris-col-3 mymessage-col oris-select">
            <label class="control-label mymessage-label" for="selectDangerFlag">{{ __('含锂电池') }}</label>
            <select name="filter_danger_flag" class="form-control" id="selectDangerFlag">
              <option value="*">{{ __('请选择', {}, 'common') }}</option>
              <option value="0" {{ 0==search.filter_danger_flag?'Selected':'' }}>{{ __('否' , {}, 'common') }}</option>
              <option value="1" {{ 1==search.filter_danger_flag?'Selected':'' }}>{{ __('是' , {}, 'common') }}</option>
            </select>
          </div>
          {% endif %}
          <div class="oris-col-3 mymessage-col search-btn m24-t just-flex-important">
            <button type="button" onclick="filterValid(this);" class="oris-button oris-button-bigger m06-r"
              data-loading-text="Loading...">
              {{ __('查询', {}, 'common') }}
            </button>
            <button type="button" onclick="clear_filterValid(this)"
              class="oris-button oris-button-bigger oris-button-default m06-r" data-toggle="tooltip"
              title="{{ __('重置') }}" data-original-title="Reset">
              {{ __('重置') }}
            </button>
            <button type="button" onclick="func_downloadValid(this);" class="oris-button oris-button-default"
              data-toggle="tooltip" data-original-title="{{ __('下载', {}, 'common') }}">
              <i class="giga icon-xiazaixin-01"></i>
            </button>
          </div>
          </div>
          </div>   
        <div class="oris-row">
          <div class="form-group import-csv" id="import_csv">
            <a onclick="func_import_csv_file();" class="oris-button oris-button-bigger m06-r haveIconpd-11">
              <i class="giga icon-shangchuan-01"></i>&nbsp;{{ __('导入产品') }} </a>
            <a class="oris-button oris-button-default oris-button-bigger m06-r haveIconpd-11" data-toggle="modal" data-target="#uploadPrice">
              <i class="giga icon-seller_bianji-big"></i> {{ __('修改价格') }}</a>
            {% if (search.filter_status == -1  or search.filter_status == 0) and  search.filter_status != ''%}
            <a class="oris-button oris-button-default oris-button-bigger m06-r bulk-shelves-btn haveIconpd-11">
              <i class="giga icon-shangjia2"></i> {{ __('批量上架')}}</a>
            {% endif %}
            {% if search.filter_status == 1 %}
            <a class="oris-button oris-button-default oris-button-bigger bulk-removal-btn haveIconpd-11">
              <i class="giga icon-xiajia-01"></i> {{ __('批量下架')}}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- search end -->
      <form class="my-form-table" action="{{ url('customerpartner/product/lists/soft_delete') }}" method="post" enctype="multipart/form-data">
          <div class="table-responsive list-valid-table">
            <!--oris-table oris-scroll-table-->
            {% if products %}
            <table class="oris-table init-table" id="tableListValid">
              <thead>
              <tr>
                {% if search.filter_status != '' %}
                <th width="1" class="text-center"><input type="checkbox" class="width16"  id="selectAllValid"  onclick="$('#div-valid').find('input[name*=\'selected\']').prop('checked', this.checked);"/></th>
                {% endif %}
                <th class="text-left no-wrap">{{ __('Item code') }}</th>
                <th class="text-left no-wrap">{{ __('MPN') }}</th>
                <th class="text-left no-wrap">{{ __('产品标题') }}</th>
                {% if is_usa %}
                <th class="text-left no-wrap">{{ __('含锂电池') }}</th>
                {% endif %}
                <th class="text-center no-wrap">{{ __('Combo MPN') }}</th>
                <th class="text-center no-wrap">{{ __('单独售卖') }}<span class="vertical-align" data-toggle="tooltip" title="{{ __('单独售卖气泡') }}"><i class="giga icon-V10-wenhaotishi"></i></span></th>
                <th class="text-right no-wrap">{{ __('当前价格') }}<span class="vertical-align" data-toggle="tooltip" title="{{ __('不包含运费') }}"><i class="giga icon-V10-wenhaotishi"></i></span></th>
                <th class="text-right no-wrap min-w130">{{ __('更新价格') }}</th>
                <th class="text-left no-wrap">{{ __('生效日期') }}</th>
                <th class="text-center no-wrap">{{ __('价格是否可见') }}<span class="vertical-align" data-toggle="tooltip" title="{{ __('价格是否对非合作的买家可见') }}"><i class="giga icon-V10-wenhaotishi"></i></span></th>
                <th class="text-center no-wrap">{{ __('产品状态') }}</th>
                <th class="text-right no-wrap">{{ __('运输费') }}</th>
                <th class="text-right no-wrap">{{ __('一件代发打包费') }}</th>
                <th class="text-right no-wrap">{{ __('上门取货打包费') }}</th>
                <th class="text-center no-wrap">{{ __('产品分组') }}</th>
                <th class="text-center fixed-right">{{ __('操作') }}</th>
              </tr>
              </thead>
              <tbody>
              {% for product in products %}
                <tr>
                  {% if search.filter_status != '' %}
                  <td>
                    <input class="width16" type="checkbox" name="selected" value="{{ product['product_id'] }}">
                  </td>
                  {% endif %}
                  <td class="text-left">
                    <div class="over-td w120 original-img">
                      <p title="{{ product['sku'] }}">{{ product['sku'] }}</p>
                      {% if product.tag %}
                        {% for tag in product.tag %}
                          <span style="font-weight: bold; color: red;padding-left: 1px">{{ tag }}</span>
                        {% endfor %}
                      {% endif %}
                      {% if product.is_original_design %}
                        <div>
                          <img src="{{ product.originalImage }}">
                        </div>
                      {% endif %}
                    </div>
                  </td>
                  <td class="text-left">
                    <div class="over-td w120">
                      <p class="col-sm-12" title="{{ product['mpn'] }}">{{ product['mpn'] }}</p>
                    </div>
                  </td>
                  <td class="text-left">
                    <div class="over-td w240">
                      <img src="{{ product['thumb'] }}" alt="{{ product['thumb'] }}" class="img-thumbnail col-sm-3"/>
                      &nbsp;
                      {% if product['status'] == 1 and product['buyer_flag'] %}
                        <a href="{{ url('product/product') }}&product_id={{ product['product_id'] }}" target="_blank" class="col-sm-9 color33-a" title="{{ product['name'] }}">{{ product['name'] }}</a>
                      {% else %}
                        <p class="col-sm-9 color99-a" title="{{ product['name'] }}">{{ product['name'] }}</p>
                      {% endif %}
                    </div>
                  </td>
                  {% if is_usa %}
                  <td>
                    {{ product['danger_flag'] ? __('是', {}, 'common') : __('否', {}, 'common') }}
                  </td>
                  {% endif %}
                  <td class="text-center no-wrap">{{ product['show_combo_flag'] }}</td>
                  <td class="text-center no-wrap">{{ product['show_buyer_flag'] }}</td>
                  <td class="text-right no-wrap price-padding"><span data-productid="{{ product['product_id'] }}" class="action-chart">{{ product['show_price'] }}</span></td>
                  <td class="text-right no-wrap" data-line="line{{ loop.index }}">
                    <div class="view-data">{{ product['show_new_price'] }}</div>
                    <div class="edit-data dis-none">
                      {% if is_japan %}
                        <input type="number" name="modifyPrice" value="{{ product['new_price'] }}" onkeyup="this.value= this.value.match(/[0-9]*/) ? this.value.match(/[0-9]*/) : ''"  min="0" step="1">
                      {% else %}
                        <input type="number" name="modifyPrice" value="{{ product['new_price'] }}" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''" min="0" step="0.01">
                      {% endif %}
                    </div>
                  </td>
                  <td class="text-right no-wrap" data-line="line{{ loop.index }}">
                    <div class="view-data">{{ product['effect_time'] }}</div>
                    {% if product['status'] != -1 %}
                    <div class="edit-data dis-none">
                      <div class="datetimepicker">
                        <input
                          autocomplete="off"
                          type="text"
                          name="effectDate"
                          class="form-control"
                          placeholder="Pick a date..."
                          value="{{ product['effect_time'] }}">
                      </div>
                    </div>
                    {% endif %}
                  </td>
                  <td class="text-center no-wrap" data-line="line{{ loop.index }}">
                    <div class="view-data">{{ product['show_price_display'] }}</div>
                    <div class="edit-data dis-none">
                      <select class="form-control" name="displayPrice">
                        <option value="0" {% if product['price_display']==0 %}selected{% endif %}>{{ __('不可见') }}</option>
                        <option value="1" {% if product['price_display']==1 %}selected{% endif %}>{{ __('可见') }}</option>
                      </select>
                    </div>
                  </td>
                  {% set agreess_status = {'Under review':__('Under review'),'In Progress':__('In Progress')} %}
                  <td class="text-center no-wrap">
                    {{ product['show_status'] }}
                    {% if product.audit_progress %}
                      <br>({{ agreess_status[product.audit_progress] }})
                    {% endif %}
                  </td>
                  <td class="text-right no-wrap">{{ product['show_shipping_fee'] }}</td>
                  <td class="text-right no-wrap">{{ product['show_package_fee_d'] }}</td>
                  <td class="text-right no-wrap">{{ product['show_package_fee_h'] }}</td>
                  <td class="text-center no-wrap">{{ product['product_group_name'] }}</td>
                  <td class="text-center fixed-right" data-loop="{{ loop.index }}">
                    {# 默认“编辑”“更多”按钮 #}
                    <div class="edit-more just-flex" data-loop="{{ loop.index }}">
                      <a href="{{ url('pro/product') }}&product_id={{ product['product_id'] }}" class="color66-a m12-r">
                        <span data-toggle="tooltip" title="{{ __('编辑', {}, 'common') }}"><i class="giga icon-seller_bianji-big"></i></span>
                      </a>
                      <div class="btn-group action-group">
                        <a data-toggle="dropdown" title="{{ __('更多', {}, 'common') }}" class="dropdown-toggle ml-12 color66-a pointer" ><i class="giga icon-action-more"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li class="cursor-po action-do" data-type="delete" data-product_id="{{ product['product_id'] }}"  data-combo="{{ product['combo_flag'] }}" data-status="{{ product['status'] }}">
                            <a><i class="giga icon-lajitong"></i>&nbsp;{{ __('删除产品') }}</a>
                          </li>
                          {% if is_europe  == 0 or (is_europe == 1 and  product['product_type'] != 3) %}
                          {% if product['isShowPriceButton'] %}
                            <li class="cursor-po action-do" data-type="modify" data-product_id="{{ product['product_id'] }}" data-alarm_price="{{ product['alarm_price'] }}" data-status="{{ product['status'] }}" data-price="{{ product['price'] }}" data-new_price="{{ product['new_price'] }}">
                              <a><i class="giga icon-seller_bianji-big"></i>&nbsp;&nbsp;{{ __('修改价格') }}</a>
                            </li>
                          {% endif %}

                          {% endif %}
                          {% if product['isShowOnButton'] %}
                            <li class="cursor-po action-do" data-type="on" data-product_id="{{ product['product_id'] }}" data-combo="{{ product['combo_flag'] }}" data-status="{{ product['status'] }}" data-current_price="{{ product['price'] }}" data-buyer_flag="{{ product['buyer_flag'] }}">
                              <a><i class="giga icon-shangjia"></i>&nbsp;{{ __('上架商品') }}</a>
                            </li>
                          {% endif %}

                          {% if product['isShowOffButton'] %}
                            <li class="cursor-po action-do" data-type="off" data-product_id="{{ product['product_id'] }}" data-combo="{{ product['combo_flag'] }}" data-status="{{ product['status'] }}">
                              <a><i class="giga icon-xiajia"></i>&nbsp;{{ __('下架商品') }}</a>
                            </li>
                          {% endif %}
                          {% if product['isShowLTLButton'] %}
                            <li class="cursor-po action-do" data-type="ltl" data-product_id="{{ product['product_id'] }}">
                              <a><i class="giga icon-oversized ltl-color"></i>&nbsp;{{ __('设置为LTL发货的产品') }}</a>
                            </li>
                          {% endif %}
                          {% if product['isShowExpressButton'] %}
                            <li class="cursor-po action-do" data-type="cancel-ltl" data-danger_flag="{{product['danger_flag']}}" data-product_id="{{ product['product_id'] }}" data-danger_weight="{{ product['danger_weight'] }}">
                              <a><i class="giga icon-card"></i>&nbsp;{{ __('设置为快递发货的产品') }}</a>
                            </li>
                          {% endif %}
                          {# 复制产品按钮 普通商品才展示复制商品按钮，排除掉补运费商品 #}
                          {% if product['product_type'] == 0 %}
                            <li class="cursor-po">
                              <a href="{{ url('pro/product') }}&product_id={{ product['product_id'] }}&edit_type=copy">
                                <i class="giga icon-copy"></i>&nbsp;{{ __('复制产品') }}{{ prdoduct['product_type'] }}
                              </a>
                            </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                    {# “保存”“取消”按钮 #}
                    <div class="save-cancel dis-none" data-loop="{{ loop.index }}">
                      <div>
                        <div class="just-flex space-between">
                          <a class="color66-a m12-r save-btn-do pointer" data-product_id="{{ product['product_id'] }}" data-alarm_price="{{ product['alarm_price'] }}" data-status="{{ product['status'] }}" data-price="{{ product['price'] }}"  data-new_price="{{ product['new_price'] }}">
                           <span data-toggle="tooltip" title="{{ __('保存', {}, 'common') }}">
                             <i class="fa fa-floppy-o"></i>
                           </span>
                          </a>
                          <a class="color66-a cancel-btn-do pointer" data-product_id="{{ product['product_id'] }}">
                           <span data-toggle="tooltip" title="{{ __('取消', {}, 'common') }}">
                             <i class="fa fa-reply"></i>
                           </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <table class="oris-table init-table" id="tableListValid">
              <thead>
              <tr>
                <th width="1" class="text-center"><input type="checkbox" class="width16"  id="selectAllValid"  onclick="$('#div-valid').find('input[name*=\'selected\']').prop('checked', this.checked);"/></th>
                <th class="text-left no-wrap">{{ __('Item code') }}</th>
                <th class="text-left no-wrap">{{ __('MPN') }}</th>
                <th class="text-left no-wrap">{{ __('产品标题') }}</th>
                {% if is_usa %}
                  <th class="text-left no-wrap">{{ __('含锂电池') }}</th>
                {% endif %}
                <th class="text-center no-wrap">{{ __('Combo MPN') }}</th>
                <th class="text-center no-wrap">{{ __('单独售卖') }}<span class="vertical-align" data-toggle="tooltip" title="{{ __('单独售卖气泡') }}"><i class="giga icon-V10-wenhaotishi"></i></span></th>
                <th class="text-right no-wrap">{{ __('当前价格') }}<span class="vertical-align" data-toggle="tooltip" title="{{ __('不包含运费') }}"><i class="giga icon-V10-wenhaotishi"></i></span></th>
                <th class="text-right no-wrap min-w130">{{ __('更新价格') }}</th>
                <th class="text-left no-wrap">{{ __('生效日期') }}</th>
                <th class="text-center no-wrap">{{ __('价格是否可见') }}<span class="vertical-align" data-toggle="tooltip" title="{{ __('价格是否对非合作的买家可见') }}"><i class="giga icon-V10-wenhaotishi"></i></span></th>
                <th class="text-center no-wrap">{{ __('产品状态') }}</th>
                <th class="text-right no-wrap">{{ __('运输费') }}</th>
                <th class="text-right no-wrap">{{ __('一件代发打包费') }}</th>
                <th class="text-right no-wrap">{{ __('上门取货打包费') }}</th>
                <th class="text-center no-wrap">{{ __('产品分组') }}</th>
                <th class="text-center fixed-right">{{ __('操作') }}</th>
              </tr>
              </thead>
            </table>
            <div class="oris-empty">
              <div class="oris-empty-container">
              <div class="oris-empty-icon">
                  <img src='{{asset("image/icons/empty.png")}}'></img>
              </div>
              <div class="oris-empty-title">No Records Found !</div>
              </div>
            </div>
            {% endif %}
          </div>
      </form>
      <!--批量上下架-->
      <div class="modal fade in bulk-shelves-modal-box" tabindex="-1" role="dialog" id="bulk-shelves_modal" data-backdrop="static">
        <div class="modal-dialog oris-modal oris-seller" id="bulk-shelves_dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="giga icon-V10_danchuangguanbi close-icon"></i>
            </button>
              <h4 class="modal-title">{{  __('退返品政策确认')}}</h4>
            </div>
            <div class="modal-body max-modal-body">
              <div class="product-error-msg">
                <div class="font-size14 color-33">{{ __('有<span id="returnErrorNum">0</span> 个产品没有退返品政策信息，请批量设置退返品信息，如需单独设置请进入产品详情页单独修改')}}</div>
                <div class="error-mpn">MPN: <span class="error-mpn-msg"></span></div>
              </div>
              <div class="return-content-box">
                <div class="font-size14 color-33">
                  <div>Return & Warranty Information:</div>
                  <div>policies listed here are shown on product listings. The Seller agrees to these policies and to honor them for their Buyers/end customers.
                    Seller is required to process any RMA requests on the RMA Management page in accordance to these policies.</div>
                </div>
                <div class="m12-t">
                  <b>Return Policy (Marketplace RMA guidelines must be followed for processing all return requests)</b>
                  <div class="return-box-title">Unshipped Items Return Policy</div>
                  <div class="line-height40">
                    <input type="radio" name="allow_return" value="1" class="oris-radio-mini m6-r"/>
                    <input type="text" class="oris-input return-input undelivered-rate" onkeyup="this.value= this.value.match(/[0-9]*/) ? this.value.match(/[0-9]*/) : ''"/>% restocking fee will be charged for unshipped item returns without valid reason within
                    <input type="text" class="oris-input return-input undelivered-days" onkeyup="this.value= this.value.match(/[0-9]*/) ? this.value.match(/[0-9]*/) : ''"/>days of the original order being processed.
                  </div>
                  <div class="line-height40">
                    <input type="radio" name="allow_return" value="0" class="oris-radio-mini m6-r"/>Sellers do not accept return requests for unshipped items.
                  </div>
                  <div class="return-box-title">Shipped Items Return Policy</div>
                  <div class="line-height40">
                    <input type="radio" name="2" class="oris-radio-mini" checked/> <span class="m6-l">For quality or logistics issues, the Buyer can request a refund or reshipment within</span>
                    <input type="text" class="oris-input return-input before_days" onkeyup="this.value= this.value.match(/[0-9]*/) ? this.value.match(/[0-9]*/) : ''"/>days after the end customer has received the item. The reshipment fee will be borne by the Seller.
                  </div>
                  <div class="line-height40">
                    <input type="checkbox" class="oris-checkbox-mini m6-r" name="delivered_checked">After
                    <input type="text" class="oris-input return-input m6-r after_days" disabled/>days have passed since the end customer recieved their order, RMA requests will no longer be accepted aside from quality or logistics related issues.
                  </div>
                </div>
                <div class="m12-t">
                  <b>Warranty Policy (Marketplace RMA guidelines must be followed during after-sales services)</b>
                  <div class="line-height40 m12-t">
                    Beginning from the date of delivery, purchased products include a
                    <input type="text" class="oris-input return-input m6-r warranty-month" onkeyup="this.value= this.value.match(/[0-9]*/) ? this.value.match(/[0-9]*/) : ''"/>month warranty.In the event of manufacturing defects, the Buyer can request a refund, partial reshipment or full reshipment within the warranty period.
                  </div>
                  <div class="return-box-title colorF0">Please note that the warranty policy does not apply to the following situations:</div>
                  <ul class="line-height40 returnWarranty-content-li refund-policy-ul">
                    <li>Damage resulting from negligence, abuse, normal wear and tear or natural disaster and accidents, including but not limited to: burns, cuts, tears abrasions, scratches, watermarks, indentation or pet damage</li>
                    <li>Damage resulting from unauthorized modifications, except with written approval from Seller</li>
                    <li>Products not purchased through the Giga Cloud Marketplace</li>
                    <li>Products with their own individual warranty policy</li>
                    <li class="action-self remove-action-self">
                      <input class="oris-input newadd width90" type="text" name="conditions"  placeholder="Add more situations for approval. The new situations will be effective after being approved by Marketplace" autocomplete="off">
                      <i onclick="add(this)" class="giga icon-action-add new-add"></i>
                      <i onclick="del(this)" class="giga icon-action-remove remove"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer border-none">
              <div class="text-center">
                <button type="button" class="oris-button" id="submit-product">Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END-->

      {#分页#}
      {% if products %}
        <div class="oris-row oris-pagination">
          <ul id="valid_pagination"></ul>
        </div>
      {% endif %}
    </div>
  </div>
  <div id="panelsDelete" class="dis-none">
    <div class="panel-body layer-panel-box">
      <p>
        {{ __('一旦产品被删除成为无效产品，相关的专享价设置，不可见设置，Bid价格设置，返点模板，现货模板，期货模板以及合同都将被删除。') }}
      </p>
      <div id="panelsDeleteCombo" style="display: none">
        <p>
          {{ __('这是一个Combo产品，是否需要将子产品也设置为无效？') }}
        </p>
        <p class="text-center">
          <label style="cursor: pointer;"><input type="radio" name="is_delete_sub" value="0" style="cursor: pointer;">{{ __('否', {}, 'common') }}</label>&emsp;
          <label style="cursor: pointer;" style="cursor: pointer;"><input type="radio" name="is_delete_sub" value="1">{{ __('是', {}, 'common') }}</label>
        </p>
      </div>
    </div>
  </div>
</div>
 <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="uploadPrice">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">{{ __('更新价格') }}</h4>
       </div>
       <div class="modal-body">
         <div>
           <div class="upload-step">
             <div class="basic-msg flex-layout text-larger">
               <span class="mark-icon border-danger"></span>
               <span class="user-type">{{ __('下载模板') }}</span>
             </div>
             <div class="action-step">
               <button class="btn btn-primary" id="download_template">{{ __('下载模板') }}</button>
             </div>
           </div>
           <div class="upload-step">
             <div class="basic-msg flex-layout text-larger">
               <span class="mark-icon border-warning"></span>
               <span class="user-type">{{ __('选择文件并上传') }}</span>
             </div>
             <div class="action-step">
               <div class="flex-layout">
                 <div class="mr-1 relative" >
                   <input id="fakeUpload" class="btn btn-primary" type="button" value="{{ __('点击上传') }}">
                   <input id="myFile" class="uploaderInput" type='file' name='file' accept='text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel' title=" "/>
                 </div>
                 <div class="show_info"></div>
               </div>
             </div>
           </div>
           <div class="upload-step">
             <div class="basic-msg flex-layout text-larger">
               <span class="mark-icon border-warning"></span>
               <span class="user-type">{{ __('上传结果') }}</span>
             </div>
             <div class="action-step">
               <div class="mt-3">
                 <h4 class="text-bold mb-2" id="uploadMsg"></h4>
                 <div id="msgList" class="msg-list">

                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="mt-2 text-center">
           <button type="button" class="btn btn-primary" data-dismiss="modal">{{ __('返回', {}, 'common') }}</button>
         </div>
       </div>
     </div>
   </div>
 </div>
 {# 历史价格折线图弹框 #}
<div id="priceChartsLayer" class="none">
  <div id="priceLineCharts" style="width: 1000px;height:500px;"></div>
  <div class="text-center">
    <span class="chart-des">
      Slide the red dots to check the unit price on specific dates.
    </span>
  </div>
</div>
<script type="text/javascript">
  $("#download_template").click(function () {
    location.href = "{{ url('account/customerpartner/product_management/product/downloadModifyPriceTemplate') }}"
  });
  function func_import_csv_file() {
    window.open("{{ url('account/customerpartner/product_management/product/importProducts') }}");
  }

  function url_filter_valid(url) {
    var filter_name = $.trim($("#div-valid").find('input[name=\'filter_name\']').val());
    if (filter_name) {
      url += '&filter_name=' + encodeURIComponent(filter_name);
    }
    var filter_sku_mpn = $.trim($("#div-valid").find('input[name=\'filter_sku_mpn\']').val());
    if (filter_sku_mpn) {
      url += '&filter_sku_mpn=' + encodeURIComponent(filter_sku_mpn);
    }
    var filter_product_group_id = $("#div-valid").find('select[name=\'filter_product_group\']').val();
    if (filter_product_group_id != '*') {
      url += '&filter_product_group_id=' + encodeURIComponent(filter_product_group_id);
    }
    var filter_status = $('.oris-pane-active').data('type');
    if (filter_status != '*') {
      url += '&filter_status=' + encodeURIComponent(filter_status);
    }
    var filter_combo = $("#div-valid").find('select[name=\'filter_combo\']').val();
    if (filter_combo != '*') {
      url += '&filter_combo=' + encodeURIComponent(filter_combo);
    }
    var filter_buyer_flag = $("#div-valid").find('select[name=\'filter_buyer_flag\']').val();
    if (filter_buyer_flag != '*') {
      url += '&filter_buyer_flag=' + encodeURIComponent(filter_buyer_flag);
    }
    //是否原创
    var filter_original_design = $("#div-valid").find('select[name=\'filter_original_design\']').val();
    if (filter_original_design != '*') {
      url += '&filter_original_design=' + encodeURIComponent(filter_original_design);
    }
    {% if is_usa %}
    var filter_danger_flag = $("#div-valid").find('select[name=\'filter_danger_flag\']').val();
    if (filter_danger_flag != '*') {
      url += '&filter_danger_flag=' + encodeURIComponent(filter_danger_flag);
    }
    {% endif %}

    return url;
  }

  function filterValid(button) {
    layer.load();
    let url = "{{ url('customerpartner/product/lists/valid') }}";
    url = url_filter_valid(url);
    $('#div-valid').load(url);
    $(button).button('loading');
  }

  function clear_filterValid(button){
    layer.load();
    let url = "{{ url('customerpartner/product/lists/valid') }}";
    $('#div-valid').load(url);
    $(button).button('loading');
  }

  function func_downloadValid() {
    let url = "{{ url('customerpartner/product/lists/downloadValid') }}";
    url = url_filter_valid(url);
    window.location.href = url;
  }

  $("#div-valid").find("input[name='selected']").click(function () {
    $("#div-valid").find("input[name='selected']:checked").length == $("#div-valid").find("input[name='selected']").length ? $("#selectAllValid").prop("checked", true) : $("#selectAllValid").attr("checked", false);
  });
  function changeText(obj) {
    //获取输入内容
    var userDesc = $(obj).val();
    var calcReturn = calcStringLength(userDesc.trim(),400);
    $(obj).val(calcReturn.fullStr)
  }
  function calcStringLength(str, maxLenStr) {
    maxLenStr = maxLenStr || 0;
    var len = 0;
    var charCode = -1;
    var fullStr = '';
    if (!str || !str.length) {
      return maxLenStr ? fullStr : len;
    }
    for (var i = 0; i < str.length; i++) {
      charCode = str.charCodeAt(i);
      if (charCode >= 2048 && charCode <= 40869) {
        len += 2;
      } else {
        len++;
      }
      if (len <= maxLenStr) {
        fullStr += str[i];
      }
    }
    return maxLenStr ? fullStr : len;
  }
  function add(a) {
    $(".refund-policy-ul li:last-child").find('.new-add').hide();
    $(a).parent().after('<li class="action-self"><input class="oris-input newadd width90" type="text" name="conditions" placeholder="Add more situations for approval. The new situations will be effective after being approved by Marketplace" autocomplete=“off”> <i onclick="add(this)" class="giga icon-action-add new-add"></i> <i onclick="del(this)" class="giga icon-action-remove remove"></li>');
    $(".refund-policy-ul li:last-child").find('.new-add').show();
    $(".refund-policy-ul li:nth-child(n+9)").find('.new-add').hide();
  }
  function del(a) {
    $(a).parent().remove()
    $(".refund-policy-ul li:last-child").find('.new-add').show();
  }
  var validClass={
     doUndeliveredDays:function(){ //校验天数
        if($('input[name =allow_return]:checked').val() ==1){ //选择单选，但未填写信息
          if($('.undelivered-days').val()  == ''){
            $('.undelivered-days').addClass('warn-line');
            $('.modal-body').animate({scrollTop: 0},800);
            return false;
          }else{
            return true;
          }
        }else{
          return true;
        }
      },
      doBeforeDays:function(){
        if($('.before_days').val() == ''){
           $('.before_days').addClass('warn-line');
           $('.modal-body').animate({scrollTop: 0},800);
           return false;
        }else{
          return true;
        }
      },
      doRate:function(){ //校验百分比
        if($('input[name =allow_return]:checked').val() ==1){
          if($('.undelivered-rate').val() == ''){
            $('.undelivered-rate').addClass('warn-line');
            $('.modal-body').animate({scrollTop: 0},800);
            return false;
          }else{
            return true;
          }
        }else{
          return true;
        }
      },
      doMonth:function(){ //校验月份
        if($('.warranty-month').val() == ''){
          $('.warranty-month').addClass('warn-line');
          $('.modal-body').animate({scrollTop: 0},800);
          return false;
        }else{
            return true;
          }
      },
      doSubmitValid:function(){
        var result4=validClass.doRate();
        var result1=validClass.doUndeliveredDays();
        var result2=validClass.doBeforeDays();
        var result5=validClass.doMonth();
        if(!result1 || !result2 || !result4 || !result5){
          return false;
        }else{
          return true;
        }
      },
      doVaildNumOrRate:function(_this,num){
        var numReg = new RegExp("^[0-9]*$", "g");
        if ((_this.val() > num || _this.val() < 1) || !numReg.test(_this.val())) {
          layer.msg('please enter an integer from 1 to '+num+' !', {time: 1500});
          _this.addClass("warn-line");
          return false;
        }else{
          _this.removeClass("warn-line");
        }
      },
  }
  var btnClick={
    bulkShelvesBtn:function(){
      $('.bulk-shelves-btn').on('click',function(){
        var selectItems = $('#div-valid').find('input[name=\'selected\']:checked');
        var ids = [];
        var stringIds=''
        selectItems.each(function (index, item) {
          item = $(item);
          var id = parseInt(item.val());
          !!id && ids.push(id);
          stringIds=ids.join(',');
        });
        if (ids.length <= 0) {
          layer.msg('{{ __('请至少选择一个产品!') }}');
          return false;
        }
        //判断是否选择
          batchClass.checkReturnWarranty(stringIds);
      }),
      $('#submit-product').on('click',function(){ //添加退返品信息
        //数据校验
        var flag=validClass.doSubmitValid();
        if (!flag) {
          return;
        }
        var undelivered;
        var delivered;
        var return_warranty;
        var warranty_list=[];
        if($('input[name =allow_return]:checked').val() ==1){
          undelivered={
            days:$('.undelivered-days').val(),
            rate:$('.undelivered-rate').val(),
            allow_return:$('input[name =allow_return]:checked').val()
          }
        }else{
          undelivered={
            allow_return:$('input[name =allow_return]:checked').val()
          }
        }
        if($("input[name =delivered_checked]").is(':checked') ==true){
          delivered={
            after_days:$('.after_days').val(),
            delivered_checked:1,
            before_days:$('.before_days').val(),
          }
        }else{
          delivered={
            before_days:$('.before_days').val(),
            delivered_checked:0,
          }
        }
        return_warranty={
          return:{
            undelivered:undelivered,
            delivered:delivered
          },
          warranty: {
            conditions:[],
            month:$('.warranty-month').val()
          }
        }
        $('input[name =conditions]').each(function(item){
          return_warranty.warranty.conditions.push($(this).val());
        })
        window.return_warranty=return_warranty;
        let msg={
          product_ids:$('.error-mpn').attr('product_ids'),
          return_warranty:JSON.stringify(return_warranty),
          return_warranty_text:batchClass.returnPolicyContent(),
        }
        batchClass.addReturnWarranty(msg)
      }),
      $('.bulk-removal-btn').on('click',function(){ //批量下架
        var selectItems = $('#div-valid').find('input[name=\'selected\']:checked');
        var ids = [];
        var stringIds=''
        selectItems.each(function (index, item) {
          item = $(item);
          var id = parseInt(item.val());
          !!id && ids.push(id);
          stringIds=ids.join(',');
        });
        if (ids.length <= 0) {
          layer.msg('{{ __('请至少选择一个产品!') }}');
          return false;
        }
        batchClass.batchOffShelfProduct(stringIds);
      })
      //输入框失去焦点校验
      $('.warranty-month').on('blur',function(){
        validClass.doVaildNumOrRate($(this),999);
      })
      $('.before_days').on('blur',function(){
        validClass.doVaildNumOrRate($(this),999);
        $('.after_days').val($('.before_days').val());
      })
      $('.undelivered-days').on('blur',function(){
        if($('input[name =allow_return]:checked').val() ==1){
          validClass.doVaildNumOrRate($(this),999);
        }
      })
      $('.undelivered-rate').on('blur',function(){
        if($('input[name =allow_return]:checked').val() ==1){
          validClass.doVaildNumOrRate($(this),100);
        }
      })
      $('input[name=allow_return]').on('change',function(){
        $('.undelivered-rate,.undelivered-days').removeClass("warn-line");
      })
    },
    initContentList:function(){
      // 初始化 判断退返品政策自定义条数不能超过五条, 并且第一条禁止删除，最后一条非第五个有加号
      var $actionLi = $(".refund-policy-ul li.action-self");
        $actionLi.each(function(index, one){
          if($actionLi.length>=5){
              $(one).find('i.new-add').hide()
          }
          if (index === 0) {
            $(one).find('i.remove').hide();
          }
          if (index > 4) {
            $(one).remove();
          }
        })
    },
  }

  $().ready(function(){
    //初始化select
    $('#input-combo-valid-select').selectpicker();
    $('#filter_buyer_flag_valid').selectpicker();
    $('#input-product_group_valid').selectpicker();
    $('#input-status_valid').selectpicker();
    $('#input-original-product').selectpicker();
    $('#selectDangerFlag').selectpicker();
    initeTabsValidPage();
    moreBtnClick();
    saveModifyPriceValid();
    cancelModifyPrice();
    validCountFilter();
    priceCharts();
    layer.closeAll();
    btnClick.bulkShelvesBtn();
  });
  function initeTabsValidPage() {
    //初始化table右侧固定列
    var $tableListValid = $('#tableListValid.init-table');
    var $widthtableListValid = $tableListValid.find('th:last-child').width();
    var $fixedColumntableListValid = $tableListValid.clone().insertAfter($tableListValid).addClass('fixed-column');
    $fixedColumntableListValid.find('th:not(:last-child),td:not(:last-child)').remove();
    $fixedColumntableListValid.find('tr').each(function (i, elem) {
      $(this).height($tableListValid.find('tr:eq(' + i + ')').height());
      $(this).find('td').width($widthtableListValid);
    });

    // 初始化表格中的Date
    let seller_time_zones_no = Number('{{ seller_time_zones_no }}');
    $('#tableListValid').find("input[name='effectDate']").datetimepicker({
      minView: 1,
      pickDate: true,
      pickTime: true,
      format: 'yyyy-mm-dd hh',
      startDate: getCurrentTime(seller_time_zones_no + 1),
      autoclose: true
    });
  }

  var validMethods = {
    deleteProductAction: function(index, layero, domEle) {
      let productId = $(domEle).data('product_id');
      let combo = $(domEle).data('combo_flag');
      let is_delete_sub = $('input[name="is_delete_sub"]:checked').val();
      layer.closeAll();
      layer.load();
      $.ajax({
        url: "{{ url('customerpartner/product/lists/soft_delete') }}",
        type: 'POST',
        data: {id: productId, is_single: 1, is_delete_sub: is_delete_sub},
        success: function (data) {
          layer.closeAll();
          if (data.code == 200) {
            layer.msg(data.msg);
            setTimeout(function () {
              reloadTabs();
            }, 1500);
          } else if (data.code == 201) {
            var options = {
              title: "{{ __('提示', {}, 'common') }}",
              content: data.msg,
              btn: ["{{ __('好', {}, 'common') }}"],
            };
            layerOris.confirmLayer(options, reloadTabs, reloadTabs);
          } else {
            var options = {
              title: "{{ __('提示', {}, 'common') }}",
              content: data.msg,
              btn: ["{{ __('好', {}, 'common') }}"],
            };
            layerOris.confirmLayer(options);
          }
        }
      });
    },
    // 上架产品
    onShelfProductAction: function(index, layero, domEle) {
      let productId = $(domEle).data('product_id');
      let combo = $(domEle).data('combo_flag');
      layer.closeAll();
      layer.load();
      $.ajax({
        url: "{{ url('customerpartner/product/lists/onShelfProductAction') }}",
        type: 'POST',
        data: {product_id: productId, combo: combo, is_single: 1},
        success: function (data) {
          layer.closeAll();
          if (data.code === 400) {
            layer.msg(data.msg)
            reloadTabs();
            return ;
          }
          var options = {
            title: "{{ __('注意', {}, 'common') }}",
            content: data.msg,
            btn: ["{{ __('好', {}, 'common') }}"],
          };
          layerOris.confirmLayer(options, reloadTabs, reloadTabs);
        }
      });
    },
    // 下架产品
    offShelfProductAction: function (index, layero, domEle) {
      let productId = $(domEle).data('product_id');
      // 下架提醒
      $.ajax({
        url: "{{ url('customerpartner/product/lists/offShelfProductActionBeforeReminds') }}",
        type: 'post',
        data: {product_id: productId},
        success: function (data) {
          let combo = $(domEle).data('combo_flag');
          if (data.data && data.data.msg) {
            layer.closeAll();
            var options = {
              title: "{{ __('确认', {}, 'common') }}",
              content: data.data.msg,
              btn: ["{{ __('好', {}, 'common') }}"],
            };
            layerOris.confirmLayer(options, function () {
              offShelfProductActionRequest(productId, combo);
            });
          } else {
            offShelfProductActionRequest(productId, combo);
          }
        }
      });
    },
    cancelLtlWindow: function(index, layero, domEle) {
      // 获取弹框是否选中submit
      let productId = $(domEle).data('product_id');

      var $submitInput = layer.getChildFrame('body', index).find('input[name=isSubmitLTL]');
      if ($submitInput.length && $submitInput[0].checked) {
        layer.closeAll();
        layer.load();
        $.ajax({
          url: "{{ url('customerpartner/product/lists/ltlCancel') }}",
          method: 'post',
          data: {product_ids: productId},
          success: function (data) {
            var options = {
              title: '{{ __('提示', {}, 'common') }}',
              content: data.msg,
              btn: ['{{ __('好', {}, 'common') }}'],
            };
            layerOris.confirmLayer(options, reloadTabs, reloadTabs);
          }
        });
      }
    },
    ltlWindow: function(index, layero, domEle) {
      // 获取弹框是否选中submit
      let productId = $(domEle).data('product_id');

      var $submitInput = layer.getChildFrame('body', index).find('input[name=isSubmitLTL]');
      if ($submitInput.length && $submitInput[0].checked) {
        layer.closeAll();
        layer.load();
        $.ajax({
          url: "{{ url('customerpartner/product/lists/ltlSave') }}",
          method: 'post',
          data: {product_ids: productId},
          success: function (data) {
            var options = {
              title: '{{ __('提示', {}, 'common') }}',
              content: data.msg,
              btn: ['{{ __('好', {}, 'common') }}'],
            };
            layerOris.confirmLayer(options, reloadTabs, reloadTabs);
          }
        });
      }
    }
  };
  //#28103 批量功能
  var batchClass={
    checkReturnWarranty:function(product_ids){
      $.ajax({
          url: "index.php?route=customerpartner/product/lists/checkReturnWarranty" + "&product_ids=" + product_ids,
          type: 'get',
          dataType: 'json',
          success: function (res) {
            layer.closeAll();
            if(res.code == 200){ //不存在未设置退返品信息
              batchClass.batchOnShelfProduct(product_ids);
            }else if(res.code == 0){ //须设置退返品信息
              var obj =res.data;
              $('#bulk-shelves_modal').modal('show');
              //初始化 warn-line 样式
              $('#bulk-shelves_modal input[type =text]').removeClass('warn-line');
              $('#returnErrorNum').html(obj.products.length);
              var product_ids_list=[],error_mpn_list,error_mpn_list=[],error_mpn;
              obj.products.forEach(function(item){
                product_ids_list.push(item.product_id);
                error_mpn_list.push(item.mpn);
                product_ids=product_ids_list.join(',');
                error_mpn=error_mpn_list.join(',');
              })
              $('.error-mpn').attr('product_ids',product_ids);
              $('.error-mpn-msg').html(error_mpn);
              //回填数据
              $("input[name=allow_return]").each(function(radio){
                if(obj.return_warranty.return.undelivered.allow_return == $(this).val()){
                  //checked
                  $(this).attr('checked',true);
                }
              })
              //Unshipped
              if(obj.return_warranty.return.undelivered.allow_return == 1){
                $('.undelivered-rate').val(obj.return_warranty.return.undelivered.rate);
                $('.undelivered-days').val(obj.return_warranty.return.undelivered.days);
              }
              //Shipped
              obj.return_warranty.return.delivered.delivered_checked ==1 ? $('input[name =delivered_checked]').attr('checked',true) : $('input[name=delivered_checked]').attr('checked',false);
              $('.after_days').val(obj.return_warranty.return.delivered.after_days);
              $('.before_days').val(obj.return_warranty.return.delivered.before_days);
              //Warranty Policy
              $('.warranty-month').val(obj.return_warranty.warranty.month);
              if(obj.return_warranty.warranty.conditions){
                var contentList=obj.return_warranty.warranty.conditions;
                var contentHtml='';
                for(var i =0 ;i<contentList.length;i++){
                  contentHtml+=` <li class="action-self">
                              <input class="oris-input newadd width90" type="text" name="conditions" value="${contentList[i]}"
                                     placeholder="Add more situations for approval. The new situations will be effective after being approved by Marketplace" autocomplete="off">
                              <i onclick="add(this)" class="giga icon-action-add first-icon   new-add"></i>
                              <i onclick="del(this)" class="giga icon-action-remove remove"></i>
                            </li>`
                }
                $('.remove-action-self').before(contentHtml);
                btnClick.initContentList();
              }

            }
          },
          error: function (xhr, ajaxOptions, thrownError) {

          }
        });
    },
    //补充退返品信息
    addReturnWarranty:function(msg){
      $.ajax({
        url: "{{ url('customerpartner/product/lists/addReturnWarranty') }}",
        type: 'post',
        data: msg,
        success: function (res) {
          if(res.code ==200){
            var selectItems = $('#div-valid').find('input[name=\'selected\']:checked');
            var ids = [];
            var stringIds=''
            selectItems.each(function (index, item) {
              item = $(item);
              var id = parseInt(item.val());
              !!id && ids.push(id);
              stringIds=ids.join(',');
            }); 
            batchClass.batchOnShelfProduct(stringIds);
          }
        }
      });
    },
    //批量上架功能
    batchOnShelfProduct:function(product_ids){
      layer.closeAll();
      layer.load();
      $.ajax({
        url: "{{ url('customerpartner/product/lists/batchOnShelfProduct') }}",
        type: 'post',
        data: {product_ids: product_ids},
        success: function (res) {
          layer.closeAll();
          if(res.code == 200){
            $('#bulk-shelves_modal').modal('hide');
            layer.msg(res.msg,{time: 3000, skin: ''});
          }else{
            layer.msg(res.msg),{time: 3000, skin: ''};
            //window.location.reload();
          }
          setTimeout(function(){ //延迟刷新，保证看清提示
            batchClass.loadBtach();
          },2000)
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.closeAll();
        }
      });
    },
    //批量下架
    batchOffShelfProduct:function(product_ids){
      layer.closeAll();
      layer.load();
      $.ajax({
        url: "{{ url('customerpartner/product/lists/batchOffShelfProduct')}}",
        type: 'post',
        data: {product_ids: product_ids},
        success: function (res) {
          layer.closeAll();
          if(res.code == 200){
            layer.msg(res.msg,{time: 3000, skin: ''});
          }else{
            layer.msg(res.msg),{time: 3000, skin: ''};
            //window.location.reload();
          }
          setTimeout(function(){
            batchClass.loadBtach();
          },2000);
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.closeAll();
        }
      });
    },
    loadBtach:function(){
      var type = $('#div-valid div.valid-count .oris-tab-pane').data('type');
      let url = "{{ url('customerpartner/product/lists/valid') }}";
      url = url_filter_valid(url);
     // url += "&filter_hot_map_valid="+type;
      layer.load();
      $('#div-valid').load(url);
    },
    returnPolicyContent:function(){ //退返品模板
      let html = `<div class="return-policy">
                    <div class="policy-title">
                      <i class="giga icon-V10_tuifanpinshuai text-max text-bule"></i>
                      <span class="text-max text-bold"> Return Policy</span>
                      <span class="text-larger ml-1">Marketplace RMA guidelines must be followed for processing all return requests</span>
                    </div>
                    <div class="policy-content">
                      <h4 class="text-bule mt-3"> Unshipped Items Return Policy</h4>
                      <ul>${window.return_warranty.return.undelivered.allow_return == '1'?`<li><span class="text-warning text-bold"> ${window.return_warranty.return.undelivered.rate} % </span>restocking fee will be charged for unshipped item returns without valid reason within<span class="text-warning text-bold"> ${window.return_warranty.return.undelivered.days} </span>days of the original order being processed. </li>`:`<li>Sellers do not accept return requests for unshipped items. </li>`}
                      </ul>
                      <h4 class="text-bule mt-3">Shipped Items Return Policy</h4>
                      <ul>
                        <li>For quality or logistics issues, the Buyer can request a refund or reshipment within<span class="text-warning text-bold"> ${window.return_warranty.return.delivered.before_days} </span>days after the end customer has received the item. The reshipment fee will be borne by the Seller.</li>${window.return_warranty.return.delivered_checked?`<li>After<span class="text-warning text-bold"> ${window.return_warranty.return.delivered.after_days} </span>days have passed since the end customer recieved their order, RMA requests will no longer be accepted aside from quality or logistics related issues.</li>`:''}
                      </ul>
                    </div>
                  </div>
                  <div class="warranty-policy mt-5">
                    <div class="policy-title">
                      <i class="giga icon-fuwu text-max text-bule"></i>
                      <span class="text-max text-bold">Warranty Policy</span>
                      <span class="text-larger ml-1">Marketplace RMA guidelines must be followed during after-sales services </span>
                    </div>
                    <div class="policy-content">
                      <div>
                        Beginning from the date of delivery, purchased products include a
                        <span class="text-warning text-bold"> ${window.return_warranty.warranty.month} </span>
                        month warranty.In the event of manufacturing defects, the Buyer can request a refund, partial reshipment or full reshipment within the warranty period.
                      </div>
                      <h4 class="text-danger mt-2">Please note that the warranty policy does not apply to the following situations: </h4>
                      <ul>
                        <li>Damage resulting from negligence, abuse, normal wear and tear or natural disaster and accidents, including but not limited to: burns, cuts, tears abrasions, scratches, watermarks, indentation or pet damage</li>
                        <li>Damage resulting from unauthorized modifications, except with written approval from Seller</li>
                        <li>Products not purchased through the Giga Cloud Marketplace</li>
                        <li>Products with their own individual warranty policy</li>${window.return_warranty.warranty.conditions.length>0?'<li>'+window.return_warranty.warranty.conditions.join('</li><li>')+'</li>':''}
                      </ul>
                    </div>
                  </div>`
      return html
    }
  }

  function offShelfProductActionRequest(productId, combo) {
    layer.closeAll();
    layer.load();
    $.ajax({
      url: "{{ url('customerpartner/product/lists/offShelfProductAction') }}",
      type: 'post',
      data: {product_id: productId, combo: combo, is_single: 1},
      success: function (data) {
        layer.closeAll();
        if (data.code === 400) {
          layer.msg(data.msg)
          reloadTabs();
          return ;
        }
        var options = {
          title: "{{ __('注意', {}, 'common') }}",
          content: data.msg,
          btn: ["{{ __('好', {}, 'common') }}"],
        };
        layerOris.confirmLayer(options, reloadTabs, reloadTabs);
      }
    });
  }

  function moreBtnClick() {
    $('#div-valid').find('.action-do').click(function(){
      var that = this;
      var type = $(that).data('type');
      if(type === undefined){
        return false;
      }
      let productId = $(that).data('product_id');
      let isCombo = $(that).data('combo');
      $('input[name="is_delete_sub"][value="0"]').prop("checked", true);
      if (isCombo) {
        $("#panelsDeleteCombo").show();
      } else {
        $("#panelsDeleteCombo").hide();
      }
      switch(type) {
        case 'delete':
          // 删除产品
          var options = {
            title: "{{ __('确认', {}, 'common') }}",
            area: ['35%', 'auto'],
            content: $("#panelsDelete"),
            btn: ["{{ __('确认', {}, 'common') }}", "{{ __('取消', {}, 'common') }}"],
            params: that
          };
          layerOris.confirmLayer(options, validMethods.deleteProductAction);
          break;
        case 'on':
          // 上架商品
          var options = {
            title: "{{ __('确认', {}, 'common') }}",
            content: "{{ __('您确认要上架此产品吗?') }}",
            btn: ["{{ __('是', {}, 'common') }}", "{{ __('否', {}, 'common') }}"],
            params: that
          };
          layerOris.confirmLayer(options, function(){
            layer.closeAll();
            let current_price = $(that).data('current_price');
            let buyer_flag = $(that).data('buyer_flag');
            if (current_price <= 0 && buyer_flag == 1) {
              var options_new = {
                title: "{{ __('确认', {}, 'common') }}",
                content: "{{ __('产品当前价格为:current_price提示', {current_price: 0|formatPrice(currency)}) }}",
                btn: ["{{ __('仍提交') }}", "{{ __('取消') }}"],
                params: that,
              };
              layerOris.confirmLayer(options_new, validMethods.onShelfProductAction);
            } else {
              validMethods.onShelfProductAction(null, null, that);
            }
          });

          break;
        case 'off':
          // 下架商品
          var options = {
            title: "{{ __('确认', {}, 'common') }}",
            content: "{{ __('您确认要下架此产品吗?') }}",
            btn: ["{{ __('是', {}, 'common') }}", "{{ __('否', {}, 'common') }}"],
            params: that
          };
          layerOris.confirmLayer(options, validMethods.offShelfProductAction);
          break;
        case 'modify':
          // 修改价格
          toggleModifyPricevalid(this);
          break;
        case 'ltl':
          // 设置为LTL发货的产品
          var optionsLtl = {
            type: 2,
            area: ['1000px', '600px'],
            btn: ['{{ __('提交', {}, 'common') }}'],
            title: '{{ __('注意', {}, 'common') }}',
            content: "{{ url('customerpartner/product/lists/ltlWindow') }}&product_ids="+productId,
            params: that
          };
          layerOris.confirmLayer(optionsLtl, validMethods.ltlWindow);
          break;
        case 'cancel-ltl':
          // 危险品LTL，不允许取消ltl
          let isUsa = "{{is_usa}}";
          let isDanger = $(that).data('danger_flag');
          let dangerWeight = Number($(that).data('danger_weight'));
          if (isUsa && isDanger && dangerWeight >= 70) {
            layerOris.confirmLayer({
              btn: ['{{ __('确认', {}, 'common') }}'],
              title: '{{ __('注意', {}, 'common') }}',
              skin: 'oris-layer',
              content: "{{__('LTL危险品重量超过70磅，无法切换成 非LTL产品，如有疑问请联系平台客服。')}}"
            })
            break;
          }
          var optionsLtl = {
            type: 2,
            area: ['1000px', '600px'],
            btn: ['{{ __('提交', {}, 'common') }}'],
            title: '{{ __('注意', {}, 'common') }}',
            content: "{{ url('customerpartner/product/lists/ltlWindow') }}&isExpress=1&product_ids="+productId,
            params: that
          };
          layerOris.confirmLayer(optionsLtl, validMethods.cancelLtlWindow);
          break;
        default:
          break;
      }
    })
  }

  function getCurrentTime(t) {
    const time = new Date();
    const len = time.getTime();
    const offset = time.getTimezoneOffset() * 60000; //本地时间与GMT时间差值
    const utcTime = len + offset;  //格林尼治时间


    const date = new Date(utcTime + 3600000 * t); //格林尼治时间和当前时区差值
    const y = date.getFullYear(),
      mon = date.getMonth() + 1,
      d = date.getDate(),
      h = date.getHours(),
      m = date.getMinutes(),
      s = date.getSeconds();

    //不足两位补0
    function addZero(value) {
      if (value < 10) return "0" + value;
      else return value;
    }

    return  y + "-" + addZero(mon) + "-" + addZero(d) + " " + addZero(h) + ":" + addZero(m) + ":" + addZero(s);
  }

  function validEffectDate(effectDate, currentPrice, modifyPrice) {
    let currentTime = getCurrentTime(Number('{{ seller_time_zones_no }}'));
    if (currentPrice > modifyPrice && effectDate && ((new Date(currentTime)).getTime() >  (new Date(effectDate+':00:00')).getTime())) {
      layerOris.confirmLayer({
        title: "{{ __('确认', {}, 'common') }}",
        content:"{{ __('生效时间不能早于当前时间！') }}",
        btn:["{{ __('确认', {}, 'common') }}"]
      });
      return false
    }

    if (currentPrice < modifyPrice && effectDate) {
      // 校验日期是否是当前时间24小时之外
      var validTime = (new Date(currentTime)).getTime()+1000*60*60*24;
      var effectTime = (new Date(effectDate+':00:00')).getTime();
      if (effectTime < validTime) {
        // 日期不能为空
        let dateObject = new Date(validTime);
        if (dateObject.getMinutes() > 0 || dateObject.getSeconds() > 0) {
          dateObject = new Date(dateObject.getTime()+1000*60*60);
        }
        let formatDate = dateObject.getFullYear() + '-' + (dateObject.getMonth() + 1) + '-' + dateObject.getDate() + ' ' + dateObject.getHours();
        layerOris.confirmLayer({
          title: "{{ __('确认', {}, 'common') }}",
          content:'{{ __('生效时间必须大于当前时间+24小时！') }} (' + formatDate + ')',
          btn:["{{ __('确认', {}, 'common') }}"]
        });
        return false
      }
    }
    return  true;
  }

  // 保存Modify Price
  function saveModifyPriceValid() {
    $('#div-valid').find('a.save-btn-do').click(function(){
      let that = $(this);
      var options = {
        title: "{{ __('确认', {}, 'common') }}",
        content: "{{ __('您确认提交吗？', {}, 'common') }}",
        btn: ["{{ __('是', {}, 'common') }}", "{{ __('否', {}, 'common') }}"],
        params: that
      };
      layerOris.confirmLayer(options, function (layerIndex) {
        var $saveCancel = $(that).parent().parent().parent();
        // 获取此行数据loop-Index
        var index = $saveCancel.data("loop");
        var $curLine = $('#tableListValid').find(`td[data-line='line${index}']`);
        let product_id = $(that).data('product_id');
        let alarm_price = $(that).data('alarm_price');
        let status = $(that).data('status');
        let currentPrice   = $(that).data('price');
        let newPrice   = $(that).data('new_price');
        let modifyPrice = $.trim($curLine.find('input[name="modifyPrice"]').val());
        let effectDate   = $.trim($curLine.find('input[name="effectDate"]').val());
        let displayPrice   = $curLine.find('select[name="displayPrice"]').val();
        if (status != -1 && currentPrice != modifyPrice && !validEffectDate(effectDate, Number(currentPrice), Number(modifyPrice))) {
          return layer.close(layerIndex);
        }

        let isUSA = '{{ is_usa }}';
        let is_not_inner_account = '{{ is_not_inner_account }}';
        let isJP = '{{ is_japan }}';
        // 日本金额不能为小数
        if (isJP == '1'){
          if (isNaN(modifyPrice) || modifyPrice < 0 || modifyPrice > 9999999) {
            layerOris.confirmLayer({
              title: "{{ __('确认', {}, 'common') }}",
              content:'{{ __('价格只能是0到9999999之间的数字。') }}',
              btn:["{{ __('确认', {}, 'common') }}"]
            });
            return layer.close(layerIndex);
          }
        } else {
          if (isNaN(modifyPrice) || modifyPrice < 0 || modifyPrice > 9999999.99) {
            layerOris.confirmLayer({
              title: "{{ __('确认', {}, 'common') }}",
              content:'{{ __('价格只能是0.00到9999999.99之间的数字。') }}',
              btn:["{{ __('确认', {}, 'common') }}"]
            });
            return layer.close(layerIndex);
          }
        }

        if (Number(modifyPrice) < Number(alarm_price) && isUSA == '1' && is_not_inner_account == '1' && Number(newPrice) != Number(modifyPrice)) {
          layer.closeAll();
          let options = {
            title: '{{ __('注意', {}, 'common') }}',
            content: '{{ is_show_cwf_notice ? __('低价格有cwf提示', {}, 'catalog/view/pro/product/addproduct') : __('低价格无cwf提示', {}, 'catalog/view/pro/product/addproduct') }}',
            btn: ['{{ __('是', {}, 'common') }}', '{{ __('否', {}, 'common') }}'],
            params: that
          };
          layerOris.confirmLayer(options,function () {
            modifyPriceRequest(product_id, modifyPrice, effectDate, displayPrice, status, currentPrice, newPrice)
          }, null, function () {
            $curLine.find('input[name="modifyPrice"]').val('');
            $curLine.find('input[name="modifyPrice"]').focus();
          });
        } else {
          modifyPriceRequest(product_id, modifyPrice, effectDate, displayPrice, status, currentPrice, newPrice)
        }
      }, null, function(){
        var $saveCancel = $(that).parent().parent().parent();
        // 获取此行数据loop-Index
        var index = $saveCancel.data("loop");
        $saveCancel.hide().siblings().show();
        // 显示价格选择框
        var $curLine = $('#tableListValid').find(`td[data-line='line${index}']`);
        $curLine.find('div.view-data').toggle();
        $curLine.find('div.edit-data').toggle();
      });
    })
  }

  function modifyPriceRequest(product_id, modifyPrice, effectDate, displayPrice, status, currentPrice, newPrice) {
    layer.load();
    $.ajax({
      url: "{{ url('customerpartner/product/lists/modify') }}",
      method: 'post',
      dataType:'json',
      data: {'product_id':product_id, 'modify_price':modifyPrice, 'effect_time':effectDate, 'price_display':displayPrice},
      success: function (data) {
        layer.closeAll();
        if (data.code != 200) {
          let options = {
            title: "{{ __('注意', {}, 'common') }}",
            content: data.msg,
            btn: ["{{ __('好', {}, 'common') }}"],
          };
          layerOris.confirmLayer(options, reloadTabs, reloadTabs);
        } else {
          let is_need_audit = data.data.is_need_audit;
          if (status == -1) {
            reloadTabs();
            return;
          }
          if (is_need_audit && Number(currentPrice) < Number(modifyPrice)) {
            let options = {
              title: "{{ __('注意', {}, 'common') }}",
              content: "{{ __('价格调整触发审核，生效时间最早为审核通过时间之后24小时。') }}",
              btn: ["{{ __('好', {}, 'common') }}"],
            };
            layerOris.confirmLayer(options, reloadTabs, reloadTabs);
            return;
          }
          if (is_need_audit && Number(currentPrice) > Number(modifyPrice)) {
            let options = {
              title: "{{ __('注意', {}, 'common') }}",
              content: "{{ __('价格调整触发审核，需在审核通过后生效。') }}",
              btn: ["{{ __('好', {}, 'common') }}"],
            };
            layerOris.confirmLayer(options, reloadTabs, reloadTabs);
            return;
          }
          reloadTabs();
        }
      }
    });
  }

  // 取消Modify Price
  function cancelModifyPrice() {
    $('#div-valid').find('a.cancel-btn-do').click(function(){
      var $saveCancel = $(this).parent().parent().parent();
      // 获取此行数据loop-Index
      var index = $saveCancel.data("loop");
      $saveCancel.hide().siblings().show();
      // 显示价格选择框
      var $curLine = $('#tableListValid').find(`td[data-line='line${index}']`);
      $curLine.find('div.view-data').toggle();
      $curLine.find('div.edit-data').toggle();
    })
  }
  function toggleModifyPricevalid(that) {
    var $saveCancel = $(that).parent().parent().parent();
    // 获取此行数据loop-Index
    var index = $saveCancel.data("loop");
    $saveCancel.hide().siblings().show();
    // 显示价格选择框
    var $curLine = $('#tableListValid').find(`td[data-line='line${index}']`);
    $curLine.find('div.view-data').toggle();
    $curLine.find('div.edit-data').toggle();
    // 如果是修改价格, 表格向左移动（为了解决小屏幕洗啊修改价格输入框遮挡）
    var inputRight = document.body.offsetWidth - $curLine.find('input[name="modifyPrice"]')[0].getBoundingClientRect().right;
    if (inputRight < 460){
      $('.my-form-table .table-responsive')[0].scrollLeft = 360;
    }
  }

  // 点击筛选条件待上架、已上架、已下架
  function validCountFilter() {
    $('#div-valid div.valid-count .oris-tab-pane').click(function(){
      // 获取类型
      var type = $(this).data('type');

      $(this).addClass('oris-pane-active').siblings().removeClass('oris-pane-active');

      $("#div-valid").find('input[name=\'filter_name\']').val("");
      $("#div-valid").find('input[name=\'filter_sku_mpn\']').val("");
      $("#div-valid").find('select[name=\'filter_product_group\']').val("*");
      type != '' ? type :'*';
      $("#div-valid").find('select[name=\'filter_combo\']').val("*");
      $("#div-valid").find('select[name=\'filter_buyer_flag\']').val("*");
      $("#div-valid").find('select[name=\'filter_original_design\']').val("*");
      $("#div-valid").find('select[name=\'filter_danger_flag\']').val("*");

      let url = "{{ url('customerpartner/product/lists/valid') }}";
      url = url_filter_valid(url);
      layer.load();
      $('#div-valid').load(url);
    })
  }

  function valid_pagination() {
    if ({{ total }}) {
      $('#valid_pagination').bootstrapPaginator({
        /*当前使用的是3版本的bootstrap*/
        bootstrapMajorVersion: 3,
        /*配置的字体大小是小号*/
        size: 'normal',
        /*当前页*/
        currentPage: {{ paginator.getPage() }},
        /*一共多少页*/
        totalPages: {{ max(paginator.getPageCount(), 1) }},
        /*页面上最多显示几个含数字的分页按钮*/
        numberOfPages: 5,
        total:{{ paginator.getTotalCount() }},
        rowsOfPage:{{ page_limit|default(10) }},
        onPageClicked: function (event, originalEvent, type, page) {
          let url = '{{ paginator.getUrlWithNoPage() }}&page=' + page;
          layer.load();
          $('#div-valid').load(url, function () {
            layer.closeAll();
          });
        }
      });
    }
  }
  valid_pagination();


   // 改变上传按钮的hover颜色
   $("#myFile").mouseover(function () {
     $("#fakeUpload").addClass('btn-hover')
   });
   $("#myFile").mouseout(function () {
     $("#fakeUpload").removeClass('btn-hover')
   });
   var totalSize = 0;
   $(":file").change(function() {
     var file = this.files[0];
     var name = file.name;
     var size = file.size;
     var type = file.type;
     url = window.URL.createObjectURL(file);
     totalSize += size;

     $(".show_info").html("{{ __('文件名', {}, 'common/upload') }}：" + name );

     upload();
     this.value=null;
   })

   var uploadHandled = false;
   function upload(formData = new FormData()) {
     $("#uploadMsg").html('')
     $("#msgList").hide();

     if (!formData.has('file')) {
       var fileInput = document.getElementById("myFile");
       var file = fileInput.files[0];
       formData.append("file", file);
     }

     uploadHandled = false;
     // ajax异步上传
     $.ajax({
       url: "{{ url('account/customerpartner/product_management/product/modifyPricesFile') }}",
       type: "POST",
       data: formData,
       dataType:'json',
       contentType: false,
       processData: false,
       enctype: 'multipart/form-data',
       success: function(res) {
         switch (res.code) {
           case 200:
             uploadHandled = true;
             $("#uploadMsg").html(res.msg)
             $("#uploadMsg").addClass('text-success').removeClass('text-danger');
             break;
           case 400:
             let errors = res.data.errors;
             let errorHtml = '';
             for (var i = 0; i < errors.length; i++) {
               errorHtml += '<div id="textError"><span id="textErrorMsg">' + errors[i] + '</span></div>'
             }
             $("#uploadMsg").html(res.msg)
             $("#uploadMsg").addClass('text-danger').removeClass('text-success');
             $("#msgList").html(errorHtml)
             $("#msgList").show();
             break;
           case 202:
             layer.confirm(res.data.message, {
               btn: ["{{ __('是', {}, 'common') }}", "{{ __('否', {}, 'common') }}"],
               btnAlign: 'c',
               skin: 'yzc_layer',
               title: "{{ __('确认', {}, 'common') }}",
               area: '500px',
             }, function () {
               formData.append("skip_check_price", 0);
               layer.closeAll();
               upload(formData);
             });
             break;
           default:
             $("#uploadMsg").html(res.msg)
             $("#uploadMsg").addClass('text-danger').removeClass('text-success');
         }
       },
       error: function() {
         var options = {
           title: '{{ __('提示', {}, 'common') }}',
           content: '{{ __('哎呀！ 报错了，这可能是系统的问题。 请稍后重试或向我们报告问题！', {}, 'common') }}',
           btn: ['{{ __('好', {}, 'common') }}'],
         }
         layerOris.confirmLayer(options, function () {
           window.location.reload();
         })
       }
     })
   }

  /**
   * 表头排序
   * @param url
   * @param sort 列名
   * @param order
   */
   function loadSortValid(url, sort, order){
     layer.load();
     $('#div-valid').load(url + '&sort='+sort + '&order=' + order);
   }

   // 历史价格变动图标
   function priceCharts() {
    $('span.action-chart').click(function(){
      var productId = $(this).data('productid');
      if (productId) {
        var index = layer.load();
        getChartsData(productId, index);
      }
    })
   }

   function getChartsData(id, index) {
    $.ajax({
      url: "{{ url('customerpartner/product/lists/getPriceHistoryForSeller') }}",
      method: 'post',
      dataType:'json',
      data: {'product_id':id},
      success: function (data) {
        layer.close(index);
        if (data.code != 200) {
          return layer.msg(data.msg);
        } else {
          if (!data['data']['list'] || data['data']['list'].length === 0) {
            return
          }
          var xData = [];
          var yData = [];
          data['data']['list'].forEach(function(item){
            xData.push(item['add_date_format']);
            yData.push(+item['price'])
          })
          drawChart(data.data, xData, yData);
          // 展示图标
          var options = {
            title: 'Change in Unit Price',
            content: $('#priceChartsLayer'),
            area: ['1000px', '600px'],
            btn: ["{{ __('确认', {}, 'common') }}", "{{ __('取消', {}, 'common') }}"],
          }
          layerOris.confirmLayer(options);
        }
      },
      error: function(err){
        layer.close(index);
      }
    });
   }

    function drawChart(data, xData, yData) {
      var myChart = echarts.init(document.getElementById('priceLineCharts'));
      myChart.setOption({
        tooltip: {
          trigger: 'axis',
          position: function(pt) {
            return [pt[0], '5%'];
          }
        },
        toolbox: {
          feature: {
            saveAsImage: {
              name: data['item_code']
            }
          },
          left: 900
        },
        xAxis: {
          type: 'category', // category为一级分类,适用于离散的类目数据
          boundaryGap: false, // 无间隙
          data: xData
        },
        yAxis: {
          name: 'Unit Price(' + data['symbol'] + ')',
          type: 'value', // 'value' 数值轴，适用于连续数据。
          boundaryGap: [0, '100%'] // 分别表示数据最小值和最大值的延伸范围，可以直接设置数值或者相对的百分比，
        },
        dataZoom: [{ // 内置于坐标系中，使用户可以在坐标系上通过鼠标拖拽、鼠标滚轮、手指滑动（触屏上）来缩放或漫游坐标系
          type: 'inside',
          start: 0,
          end: 100
        }, {
          start: 0,
          end: 100, // handleIcon 手柄的 icon 形状，支持路径字符串
          handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
          handleSize: '80%', //  控制手柄的尺寸，可以是像素大小，也可以是相对于 dataZoom 组件宽度的百分比，默认跟 dataZoom 宽度相同。
          handleStyle: {
            color: 'pink',
            shadowBlur: 3, // shadowBlur图片阴影模糊值，shadowColor阴影的颜色
            shadowColor: 'red',
            shadowOffsetX: 2,
            shadowOffsetY: 2
          }
        }],
        series: [{
          name: 'Unit Price',
          type: 'line',
          smooth: true, // 开启平滑处理。true的平滑程度相当于0.5
          symbol: 'none', // 标记的图形。
          sampling: 'average', //  取过滤点的平均值
          itemStyle: {
            normal: {
              color: 'rgb(255, 70, 131)' //  图形的颜色。
            }
          },
          position: 'left',
          data: yData
        }]
      });
    }

    $('#uploadPrice').on('hidden.bs.modal', function () {
      if (uploadHandled) {
        window.location.reload();
      }
    })
 </script>
{{ footer }}
