{% trans_default_category 'catalog/view/customerpartner/product/lists_index' %}

<!-- id="div-invalid" -->
<div class="valid-tab-page">
  <div class="tab-content-sty">
    <!--search start-->
    <div class="seller-myform">
      <div class="oris-row msgb-search-row">
        <div class="oris-col-3 mymessage-col">
          <label class="control-label mymessage-label" for="input-sku_mpn_invalid">{{ __('Item Code/MPN') }}</label>
          <input type="text" name="filter_sku_mpn" value="{{ search.filter_sku_mpn }}"
                       placeholder="{{ __('Item Code/MPN') }}" id="input-sku_mpn_invalid" class="oris-input"/>
        </div>
        <div class="oris-col-3 mymessage-col oris-select">
          <label class="control-label mymessage-label" for="input-combo_invalid">{{ __('Combo MPN') }}</label>
          <select name="filter_combo" id="input-combo_invalid" class="selectpicker" >
            <option value="*">{{ __('请选择', {}, 'common') }}</option>
            {% for key, value in product_combos %}
              <option value="{{ key }}" {% if search.filter_combo is not null and search.filter_combo !='' and search.filter_combo==key %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="oris-col-3 mymessage-col">
          <label class="control-label mymessage-label" for="input-name_invalid">{{ __('产品标题') }}</label>
          <input type="text" name="filter_name" value="{{ search.filter_name }}"
                       placeholder="{{ __('产品标题') }}" id="input-name_invalid" class="oris-input"/>
        </div>
        <div class="oris-col-3 mymessage-col oris-select">
          <label class="control-label mymessage-label" for="filter_buyer_flag_invalid">{{ __('单独售卖') }}</label>
          <select name="filter_buyer_flag" id="filter_buyer_flag_invalid" class="selectpicker" >
            <option value="*">{{ __('请选择', {}, 'common') }}</option>
            {% for key, value in product_buyFlags %}
              <option value="{{ key }}" {% if search.filter_buyer_flag is not null and search.filter_buyer_flag!='' and search.filter_buyer_flag==key %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="oris-col-3 mymessage-col oris-select">
          <label class="control-label mymessage-label" for="input-status_invalid">{{ __('产品状态') }}</label>
          <select name="filter_status" id="input-status_invalid" class="selectpicker" >
            <option value="*">{{ __('请选择', {}, 'common') }}</option>
            {% if search.filter_status is not null and not search.filter_status %}
              <option value="0" selected="selected">Unavailable</option>
            {% else %}
              <option value="0">Unavailable</option>
            {% endif %}
          </select>
        </div>
        <div class="oris-col-3 mymessage-col search-btn m24-t just-flex-important">
          <button type="button" onclick="filterInvalid(this);" class="oris-button oris-button-bigger m06-r" data-loading-text="Loading...">
            {{ __('查询', {}, 'common') }}
          </button>
          <button type="button" onclick="clear_filterInvalid(this)" class="oris-button oris-button-bigger oris-button-default m06-r"
            data-toggle="tooltip" title="{{ __('重置') }}" data-original-title="Reset">
            {{ __('重置') }}
          </button>
          <button type="button" onclick="func_downloadInvalid(this);" class="oris-button oris-button-default"
            data-toggle="tooltip" data-original-title="{{ __('下载', {}, 'common') }}">
            <i class="giga icon-xiazaixin-01"></i>
          </button>
        </div>
      </div>
    </div>
    <!--search end-->
    <div>
      <form class="my-form-table" action="{{ soft_delete }}" method="post" enctype="multipart/form-data">
          <div class="table-responsive">
            {% if products %}
            <table class="oris-table init-table" id="tableListInvalid">
              <thead>
              <tr>
                <th width="1" style="text-align: center;"><input type="checkbox"  id="selectAllInvalid" onclick="$('#div-invalid').find('input[name*=\'selected\']').prop('checked', this.checked);"/></th>
                <th class="text-left no-wrap">{{ __('Item code') }}</th>
                <th class="text-left no-wrap">{{ __('MPN') }}</th>
                <th class="text-left no-wrap">{{ __('产品标题') }}</a></th>
                <th class="text-center no-wrap">{{ __('产品分组') }}</th>
                <th class="text-center no-wrap">{{ __('Combo MPN') }}</th>
                <th class="text-center no-wrap">{{ __('单独售卖') }}<span class="vertical-align" data-toggle="tooltip" title="{{ __('单独售卖气泡') }}"><i class="giga icon-V10-wenhaotishi"></i></span></th>
                <th class="text-right no-wrap">{{ __('当前价格') }}<span  class="vertical-align" data-toggle="tooltip" title="{{ __('不包含运费') }}"><i class="giga icon-V10-wenhaotishi"></i></span></th>
                <th class="text-center no-wrap">{{ __('产品状态') }}</th>
                <th class="text-right no-wrap">{{ __('运输费') }}</th>
                <th class="text-right no-wrap">{{ __('一件代发打包费') }}</th>
                <th class="text-right no-wrap">{{ __('上门取货打包费') }}</th>
                <th class="text-center fixed-right">{{ __('操作') }}</th>
              </tr>
              </thead>
              <tbody>
              {% for product in products %}
                <tr>
                  <td>
                    <input type="checkbox" name="selected" value="{{ product['product_id'] }}">
                  </td>
                  <td class="text-left">
                    <div class="over-td w120 original-img">
                      <p title="{{ product['sku'] }}">{{ product['sku'] }}</p>
                      {% if product.tag %}
                        {% for tag in product.tag %}
                          <span style="font-weight: bold; color: red;padding-left: 1px">{{ tag }}</span>
                        {% endfor %}
                      {% endif %}
                      {% if product.is_original_design %}
                        <div>
                          <img src="{{ product.originalImage }}">
                        </div>
                      {% endif %}
                    </div>
                  </td>
                  <td class="text-left">
                    <div class="over-td w120">
                      <p class="col-sm-12" title="{{ product['mpn'] }}">{{ product['mpn'] }}</p>
                    </div>
                  </td>
                  <td class="text-left">
                    <div class="over-td w240">
                      <img src="{{ product['thumb'] }}" alt="{{ product['thumb'] }}" class="img-thumbnail col-sm-3"/>&nbsp;
                      <p class="col-sm-9" title="{{ product['name'] }}">{{ product['name'] }}</p>
                    </div>
                  </td>
                  <td class="text-center no-wrap">{{ product['product_group_name'] }}</td>
                  <td class="text-center no-wrap">{{ product['show_combo_flag'] }}</td>
                  <td class="text-center no-wrap">{{ product['show_buyer_flag'] }}</td>
                  <td class="text-right no-wrap price-padding">{{ product['show_price'] }}</td>
                  <td class="text-center no-wrap">{{ product['show_status'] }}</td>
                  <td class="text-right no-wrap">{{ product['show_shipping_fee'] }}</td>
                  <td class="text-right no-wrap">{{ product['show_package_fee_d'] }}</td>
                  <td class="text-right no-wrap">{{ product['show_package_fee_h'] }}</td>
                  <td class="text-center fixed-right">
                    {% if product['product_type'] and  product['product_type']!=3 %}
                      <a class="recover_item btn-table color33-a pointer"
                         disabled
                         data-toggle="tooltip"
                         data-product-type="{{ product['product_type'] }}"
                         title="{{ product['product_type'] ? __('保证金产品不可以被恢复') : __('恢复', {}, 'common') }}"
                         data-product_id="{{ product['product_id'] }}">
                        <i class="giga icon-huifu-011"></i>
                      </a>
                    {% else %}
                      <a class="recover_item btn-table color33-a pointer"
                         data-toggle="tooltip"
                         data-product-type="{{ product['product_type'] }}"
                         title="{{ product['product_type'] ?  product['product_type']!=3? __('保证金产品不可以被恢复') : __('恢复', {}, 'common') : __('恢复', {}, 'common') }}"
                         data-product_id="{{ product['product_id'] }}">
                        <i class="giga icon-huifu-011"></i>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <table class="oris-table init-table" id="tableListInvalid">
              <thead>
              <tr>
                <th width="1" style="text-align: center;"><input type="checkbox"  id="selectAllInvalid" onclick="$('#div-invalid').find('input[name*=\'selected\']').prop('checked', this.checked);"/></th>
                <th class="text-left no-wrap">{{ __('Item code') }}</th>
                <th class="text-left no-wrap">{{ __('MPN') }}</th>
                <th class="text-left no-wrap">{{ __('产品标题') }}</a></th>
                <th class="text-center no-wrap">{{ __('产品分组') }}</th>
                <th class="text-center no-wrap">{{ __('Combo MPN') }}</th>
                <th class="text-center no-wrap">{{ __('单独售卖') }}<span class="vertical-align" data-toggle="tooltip" title="{{ __('单独售卖气泡') }}"><i class="giga icon-V10-wenhaotishi"></i></span></th>
                <th class="text-right no-wrap">{{ __('当前价格') }}<span class="vertical-align" data-toggle="tooltip" title="{{ __('不包含运费') }}"><i class="giga icon-V10-wenhaotishi"></i></span></th>
                <th class="text-center no-wrap">{{ __('产品状态') }}</th>
                <th class="text-right no-wrap">{{ __('运输费') }}</th>
                <th class="text-right no-wrap">{{ __('一件代发打包费') }}</th>
                <th class="text-right no-wrap">{{ __('上门取货打包费') }}</th>
                <th class="text-center fixed-right">{{ __('操作') }}</th>
              </tr>
              </thead>
            </table>  
            <div class="oris-empty">
              <div class="oris-empty-container">
              <div class="oris-empty-icon">
                  <img src='{{asset("image/icons/empty.png")}}''></img>
              </div>
              <div class="oris-empty-title">No Records Found !</div>
              </div>
            </div>
            {% endif %}
          </div>
      </form>

      {#分页#}
      {% if products %}
        <div class="oris-row oris-pagination">   
          <div class="position-ab">
              {#左侧删除#}
              <div class="table-bottom-action">
                <div class="bottom-action-left bottom-action-recovery">
                  <i class="fa fa-right-angle"></i>
                  <a data-toggle="tooltip" data-original-title="{{ __('恢复全部', {}, 'common') }}" class="recovery-btn" onclick="recoverProducts();return false;">
                    <i class="gcl gclweb-icon-"></i>
                  </a>
                  <span class="bottom-action-detail" data-title="Recovery Selected"></span>
                </div>
              </div>
            </div>
          <ul id="invalid_pagination"></ul>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
  function url_filterInvalid(url) {
    var filter_name = $.trim($("#div-invalid").find('input[name=\'filter_name\']').val());
    if (filter_name) {
      url += '&filter_name=' + encodeURIComponent(filter_name);
    }
    var filter_sku_mpn = $.trim($("#div-invalid").find('input[name=\'filter_sku_mpn\']').val());
    if (filter_sku_mpn) {
      url += '&filter_sku_mpn=' + encodeURIComponent(filter_sku_mpn);
    }
    var filter_status = $("#div-invalid").find('select[name=\'filter_status\']').val();
    if (filter_status != '*') {
      url += '&filter_status=' + encodeURIComponent(filter_status);
    }
    var filter_combo = $("#div-invalid").find('select[name=\'filter_combo\']').val();
    if (filter_combo != '*') {
      url += '&filter_combo=' + encodeURIComponent(filter_combo);
    }
    var filter_buyer_flag = $("#div-invalid").find('select[name=\'filter_buyer_flag\']').val();
    if (filter_buyer_flag != '*') {
      url += '&filter_buyer_flag=' + encodeURIComponent(filter_buyer_flag);
    }

    return url;
  }

  function filterInvalid(button) {
    layer.load();
    let url = "{{ url('customerpartner/product/lists/invalid') }}";
    url = url_filterInvalid(url);
    $('#div-invalid').load(url);
    $(button).button('loading');
  }

  function clear_filterInvalid(button){
    layer.load();
    let url = "{{ url('customerpartner/product/lists/invalid') }}";
    $('#div-invalid').load(url);
    $(button).button('loading');
  }

  function func_downloadInvalid(button) {
    let url = "{{ url('customerpartner/product/lists/downloadInvalid') }}";
    url = url_filterInvalid(url);
    window.location.href = url;
  }

  $("#div-invalid").find("input[type='checkbox']").change(function () {
    var num = $('#div-invalid').find("input[name^='selected']:checked").length;
    var msg = "";
    if (num > 0) {
      msg = "{{ __('恢复选择', {}, 'common') }} (" + num + ")";
    }
    $('#div-invalid').find(".bottom-action-detail").text(msg);
  });


  function batch_recover(callback) {
    var options = {
      title: "{{ __('确认', {}, 'common') }}",
      content: "{{ __('您确认要恢复这个产品吗？产品状态为已下架，若要上架商品，请在列表页action操作上架商品') }}",
      btn:["{{ __('确认', {}, 'common') }}", "{{ __('取消', {}, 'common') }}"],
      params: this
    };
    layerOris.confirmLayer(options, callback);
  }


  function recoverProducts() {
    var selectItems = $('#div-invalid').find('input[name=\'selected\']:checked');
    var ids = [];
    selectItems.each(function (index, item) {
      item = $(item);
      var id = parseInt(item.val());
      !!id && ids.push(id);
    });
    if (ids.length <= 0) {
      layer.msg('{{ __('请至少选择一个产品!') }}', {area: ['30%']});
      return false;
    }
    batch_recover(function () {
      layer.closeAll();
      layer.load();
      $.ajax({
        url: "{{ url('customerpartner/product/lists/batch_recover') }}",
        type: 'POST',
        data: {id: ids, is_single: 0},
        success: function (data) {
          layer.closeAll();
          if (data.code == 200) {
            layer.msg(data.msg);
            setTimeout(function () {
              reloadTabs();
            }, 1500);
          } else {
            var options = {
              title: "{{ __('提示', {}, 'common') }}",
              content: data.msg,
              btn:["{{ __('好', {}, 'common') }}"],
            };
            layerOris.confirmLayer(options);
          }
        }
      });
    });
  }



  var inValidMethods = {
    singleRecovery: function (index, layero, domEle) {
      var selectId = $(domEle).data('product_id');
      layer.close(index);
      layer.load();
      $.ajax({
        url: "{{ url('customerpartner/product/lists/batch_recover') }}",
        type: 'POST',
        data: {id: selectId, is_single: 1},
        success: function (data) {
          layer.closeAll();
          if (data.code == 200) {
            layer.msg(data.msg);
            setTimeout(function () {
              reloadTabs();
            }, 1500);
          } else {
            var options = {
              title: "{{ __('提示', {}, 'common') }}",
              content: data.msg,
              btn:["{{ __('好', {}, 'common') }}"],
            };
            layerOris.confirmLayer(options);
          }
        }
      });
    }
  }

  $().ready(function(){
    $('#input-combo_invalid').selectpicker();
    $('#filter_buyer_flag_invalid').selectpicker();
    $('#input-status_invalid').selectpicker();
    layer.closeAll();
  })

  function initeTabsInValidPage() {
    // 初始化table右侧固定列
    var $tableListInvalid = $('#tableListInvalid.init-table');
    var $widthtableListInvalid = $tableListInvalid.find('th:last-child').width();
    var $fixedColumntableListInvalid = $tableListInvalid.clone().insertAfter($tableListInvalid).addClass('fixed-column');
    $fixedColumntableListInvalid.find('th:not(:last-child),td:not(:last-child)').remove();
    $fixedColumntableListInvalid.find('tr').each(function (i, elem) {
      $(this).height($tableListInvalid.find('tr:eq(' + i + ')').height());
      $(this).find('td').width($widthtableListInvalid);
    });
  }
  initeTabsInValidPage();

  function recoverInit() {
    $('#div-invalid').find('.recover_item').click(function () {
      var product_type = $(this).data('product-type');
      if (product_type != 0 && product_type != 3) {
        return ;
      }
      var options = {
        title: "{{ __('确认', {}, 'common') }}",
        content: "{{ __('您确认要恢复这个产品吗？产品状态为已下架，若要上架商品，请在列表页action操作上架商品') }}",
        btn:["{{ __('确认', {}, 'common') }}", "{{ __('取消', {}, 'common') }}"],
        params: this
      };
      layerOris.confirmLayer(options, inValidMethods.singleRecovery);
    });
  }
  recoverInit();

  $('#div-invalid').find("input[name='selected']").click(function () {
    $('#div-invalid').find("input[name='selected']:checked").length == $('#div-invalid').find("input[name='selected']").length ? $("#selectAllInvalid").prop("checked", true) : $("#selectAllInvalid").attr("checked", false);
  });

  function invalid_pagination() {
    if ({{ total }}) {
      $('#invalid_pagination').bootstrapPaginator({
        /*当前使用的是3版本的bootstrap*/
        bootstrapMajorVersion: 3,
        /*配置的字体大小是小号*/
        size: 'normal',
        /*当前页*/
        currentPage: {{ paginator.getPage() }},
        /*一共多少页*/
        totalPages: {{ max(paginator.getPageCount(), 1) }},
        /*页面上最多显示几个含数字的分页按钮*/
        numberOfPages: 5,
        total:{{ paginator.getTotalCount() }},
        rowsOfPage:{{ page_limit|default(10) }},
        onPageClicked: function (event, originalEvent, type, page) {
          let url = '{{ paginator.getUrlWithNoPage() }}&page=' + page;
          layer.load();
          $('#div-invalid').load(url, function () {
            layer.closeAll();
          });
        }
      });
    }
  }
  invalid_pagination();


  /**
   * 表头排序
   * @param url
   * @param sort
   * @param order
   */
  function loadSortInvalid(url, sort, order) {
    layer.load();
    $('#div-invalid').load(url + '&sort=' + sort + '&order=' + order);
  }
</script>
{{ footer }}
