<style>
  .edit .form-group label{
    font-weight: initial;
    color: #677999;
    margin-right: 15px;
  }
  .edit{
    display: flex;
    align-items: center;
  }
  .edit .agreement-show{
    color: #183464;
    font-weight: bold;
  }
  .edit .agreement-show:hover{
    text-decoration: underline;
  }
  .edit .agreement-edit{
    display: none;
  }
  #futuresAgreementDetailPanel .detail-name{
    width: 145px;
  }
  #futuresAgreementDetailPanel .over-visible {
    overflow: visible !important;
  }
  #input_futures_price.border-highlight,
  #input_futures_qty.border-highlight{
    border-color: red;
  }
  .pending-st .btn.btn-default{
    height: 40px;
    line-height: 38px;
    padding: 0 13px;
  }
  .limit-discount {
    font-weight: normal;
    font-style: italic;
    color: #333;
  }
  .limit-discount .percent-dis {
    color: #FF6600;
    font-weight: bold;
  }
</style>
<div class="detail-main bg-white p-2">
  <div class="mb-3">
    <div class="title">Agreement Summary</div>
    <div class="summary over over-visible">
      <div class="abstract col-sm-3">
        <i class="gcl gcldingdanhao summary-icon"></i> <br>
        <p class="summary-name">Agreement ID</p>
        <p class="summary-detail">{{ agreement.agreement_no }}</p>
        <input type="hidden" id="agreement_id" value="{{ agreement.id }}">
      </div>
      <div class="abstract col-sm-3">
        <i class="gcl gclrenshu summary-icon"></i> <br>
        <p class="summary-name">Store</p>
        <p style="color: #3A75DC;">
          <span class="user_portrait" data-user_customer_id="{{ agreement.seller_id }}">
            <a class="link" target="_blank" href="{{ url('customerpartner/profile', {'id':agreement.seller_id}) }}">{{ partner.screenname }}</a>
          </span>
          <a style="color:#fa6400;position: absolute;" class="email" target="_blank" href="{{ url('message/seller/addMessage', {'receiver_id':agreement.seller_id}) }}">
            <i class="giga icon-xinfeng" data-toggle="tooltip" title="" aria-hidden="true" data-original-title="Contact Seller" style="position: relative;top: -2px;"></i>
          </a>
        </p>
      </div>
      <div class="abstract col-sm-3">
        <i class="giga icon-BusinessIcons_BusinessTagSale- summary-icon"></i> <br>
        <p class="summary-name">Agreement Status</p>
        <p style="color:{{ agreement_status_info.color }}">{{ agreement_status_info.name }}</p>
      </div>
      <div class="abstract col-sm-3">
        <i class="giga icon-jiaohuo summary-icon"></i> <br>
        <p class="summary-name">Delivery Status</p>
        <p style="color:{{ delivery_status_info.color }}">{{ delivery_status_info.name }}</p>
      </div>

    </div>
  </div>
  <div class="details mb-3">
    <div class="title">Agreement Detail</div>
    <div>
      <div class="row  ">
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">Item Code</span>
          <span class="my-color detail-content">
            <a href="{{ url('product/product', {'product_id':agreement.product_id}) }}" class="link"
               target="_blank">{{ agreement.sku }}
              </a>
            {% if agreement.tag %}
              {% for tagDetail in agreement.tag %}
                {{ tagDetail }}
              {% endfor %}
            {% endif %}
          </span>
        </div>
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">Delivery Date</span>
          <span class="detail-content">{{ agreement.show_delivery_date }}</span>
        </div>
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">{{ text_time_last_modified }}</span>
          {% if agreement.agreement_status == 7 %}
            <span class="detail-content">{{ agreement.de_update_time }}</span>
          {% else %}
            <span class="detail-content">{{ agreement.update_time }}</span>
          {% endif %}
        </div>
      </div>
      <div class="row  ">
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">{{ text_agreement_price }}</span>
          <span class="detail-content">{{ unit_price_show }}
            {% if agreement.discountShow != '' %}
              <span class="limit-discount">Discount:<span class="percent-dis"> {{ agreement.discountShow }}% </span>OFF</span>
            {% endif %}
          </span>
        </div>
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">{{ text_agreement_qty }}</span>
          <span class="{{ classA }} detail-content">{{ agreement.num }}</span>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">{{ text_deposit_amount }}</span>
          <span class="detail-content">{{ all_earnest_show }}</span>
        </div>
      </div>
    </div>
    {% if agreement.comments %}
    <div class="row">
      <div class="remarks" style="height: auto;min-height: 45px;">
        {{ agreement.comments }}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="mb-3">
    {% include 'yzcTheme/template/account/product_quotes/futures/message.twig' %}
  </div>
  {% if agreement.agreement_status in [1,2,3] and agreement.contract_status == 1%}
    <div>
      <div class="title edit-agreement" style="cursor: pointer;">Edit <i class="giga icon-edit"></i></div>
      <div class="row edit">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label" for="input_futures_price">{{ text_agreement_price }}({{ symbolLeft }}{{ symbolRight }})</label>
            <input type="number" name="filter_futures_price" value="{{ agreement.unit_price }}" placeholder="" id="input_futures_price" class="agreement-edit form-control" title=""
                   {% if country_id==107 %}
                     min="0" max="999999999" step="1"
                   {% else %}
                     min="0.01" max="9999999.99" step="0.01"
                   {% endif %} onchange="calculateFuturesPrice(2)" style="background-color: #FFFFFF;">
            <span class="agreement-show agreement-operate">{{ unit_price_show }}</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label" for="input_futures_qty">{{ text_agreement_qty }}</label>
            <input type="number" name="filter_agreement_num" value="{{ agreement.num }}" placeholder="" id="input_futures_qty" class="agreement-edit form-control" step="1" min="{{ agreement.min_num }}" max="{{ agreement.max_num }}" onchange="calculateFuturesPrice(1)" style="background-color: #FFFFFF;" title="">
            <span class="agreement-show agreement-operate">{{ agreement.num }}</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">{{ text_deposit_amount }}</label>
            <input type="hidden" name="" value="{{ agreement.buyer_payment_ratio }}" id="payment_ratio" class="form-control">
            <input type="hidden" name="" value="{{ all_earnest_show }}" id="input_futures_deposit" class="form-control agreement-edit form-control" readonly disabled>
            <span class="agreement-show agreement-operate" id="text_futures_deposit">{{ all_earnest_show }}</span>
          </div>
        </div>
      </div>
      <div class="agreement-edit" style="display: none;">
        <div id="error_edit_tip" style="color:red;"></div>
        <div class="row " style="padding: 10px;">
          <div class="request" style="text-align: right">
            <span style="color: #1e91cf">REQUIRED</span>
          </div>
          <div style="position: relative">
            <textarea id="input_futures_message" minlength="1" maxlength="2000" style="resize: none;height: 120px" class="form-control" placeholder="Enter message to seller..."></textarea>
            <span class="count-str" id="countStr">0/2000</span>
            <span id="error_futures_message" class="red" style="display: none;color:red;">{{ error_futures_bid_message }}</span>
          </div>
        </div>
        <div class="pending-st  text-center mt-1">
          <button id="futures-bid-btn" class="btn btn-primary cansub" onclick="submitEdit(this)">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-default btn-sm" onclick="cancelEdit()">Cancel</button>
        </div>
        {% if clause_url %}
          <div class="text-center promise mt-1">
            <input type="checkbox" class="promise-check" autocomplete="off" id="futures_agree_clause" name="futures_agree_clause"
                   value="1" onchange="futuresBtnStatus()" checked="checked">
            {{ futures_bid_agree_text }}
            <a href="{{ clause_url }}" target="_blank" style="color: #027DB4">
              {{ clause_title }}</a>
            <span id="error_futures_agree_clause" style="display: none;color: red">{{ error_futures_agree_clause }}</span>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>



<script>
  $(function () {
    block.unBlockUI();
  });
  var country_id = '{{ country_id }}';
  var precision = 2;
  if (107 == country_id){
    precision = 0;
  }
  var product_price = '{{ agreement.product_price }}';
  var symbolLeft = "{{ symbolLeft }}";
  var symbolRight = "{{ symbolRight }}";
  var url_futures_bid_list = '{{ url_bid_list }}';
  var can_buy_min_qty = Number('{{ agreement.min_num }}');//最小购买数量
  var can_buy_max_qty = Number('{{ agreement.max_num }}');//最大购买数量
  function calculateFuturesPrice(i) {
    var price = $('#input_futures_price').val();
    var qty   = $('#input_futures_qty').val();
    var payment_ratio = '{{ agreement.buyer_payment_ratio }}';

    var isValid = true;
    switch (i){
      case 1:
        if (!qty || !checkPositiveInteger(qty) || Number(qty) < can_buy_min_qty || Number(qty) > can_buy_max_qty){
          isValid = false;
          var words = '{{ error_futures_can_buy_qty }}'.replace('%max_qty', can_buy_max_qty);
          words = words.replace('%min_qty', can_buy_min_qty);
          $('#input_futures_qty').addClass('border-highlight');
          $('#error_edit_tip').text(words).css('display','block');
        }else {
          $('#input_futures_qty').removeClass('border-highlight');
          $('#error_edit_tip').text('').css('display','none');
        }
        break;
      case 2:
        if (107 == country_id) {
          if (!price || (!checkPositiveInteger(price)) || (price >= 999999999) || (price <=0)) {
            isValid = false;
            $('#input_futures_price').addClass('border-highlight');
            $('#error_edit_tip').text('{{ error_futures_edit_price_japan }}').css('display', 'block');
            break;
          } else {
            $('#input_futures_price').removeClass('border-highlight');
            $('#error_edit_tip').text('').css('display', 'none');
            break;
          }
        } else {
          if (!price || (!checkDecimalNumber(price)) || (price >= 9999999.99) || (price < 0.01)) {
            isValid = false;
            $('#input_futures_price').addClass('border-highlight');
            $('#error_edit_tip').text('{{ error_futures_edit_price }}').css('display', 'block');
            break;
          } else {
            $('#input_futures_price').removeClass('border-highlight');
            $('#error_edit_tip').text('').css('display', 'none');
            break;
          }
        }
        break;
    }

    if (isValid){
      payment_ratio = Number(payment_ratio) / 100;

      var deposit_per = operation(price, payment_ratio, 'multiply', precision);//每件产品的定金
      var final_payment = operation(price, deposit_per, 'subtract', precision);//每件产品的单价
      var deposit = operation(deposit_per, qty, 'multiply', precision);//Collateral Totals 协议定金

      $('#input_futures_deposit').val(symbolLeft + deposit + symbolRight);
      $('#text_futures_deposit').text(symbolLeft + deposit + symbolRight);
    }
  }
  function checkPositiveInteger(value) {
    //必填正整数校验
    if(!(/^[1-9]*[1-9][0-9]*$/.test(value)) || value <= 0){
      return false;
    }else{
      return true;
    }
  }
  function checkDecimalNumber(value) {
    //校验货币 两位小数
    if(!(/^[0-9]+(.[0-9]{1,2})?$/.test(value))){
      return false;
    }else{
      return true;
    }
  }
  /*判断obj是否为一个整数*/
  function isInteger(obj){
    return Math.floor(obj) === obj;
  }
  /**
   * 将一个浮点数转换成整数，返回整数和倍数
   * 如 3.14 》》314  倍数是100
   *
   */
  function toInteger(floatNum){
    var ret = {times:1,num:0};

    //是整数
    if(isInteger(floatNum)){
      ret.num = floatNum;
      return ret;
    }

    var strfi = floatNum + '';
    //查找小数点的下标
    var dotPos = strfi.indexOf('.');
    //获取小数的位数
    var len = strfi.substr(dotPos+1).length;
    //Math.pow(10,len)指定10的len次幂。
    var time = Math.pow(10,len);

    //将浮点数转化为整数
    var intNum = parseInt(floatNum*time + 0.5,10);
    ret.times = time;
    ret.num = intNum;
    return ret;
  }
  /**
   *进行运算
   *三个参数分别是要运算的两个数和运算符
   */
  function operation(a,b,op,precision){
    var o1 = toInteger(a);
    var o2 = toInteger(b);
    var n1 = o1.num;
    var n2 = o2.num;
    var t1 = o1.times;
    var t2 = o2.times;
    var max = t1 > t2 ? t1 : t2;
    var result = null;
    switch(op){
      case 'add':
        if(t1 === t2){
          result = n1 + n2;
        }else if(t1 > t2){
          result = n1 + n2 * (t1/t2);
        }else{
          result = n1 * (t2/t1) + n2;
        }
        result = result / max;
        break;
      case 'subtract':
        if(t1 === t2){
          result = n1  - n2;
        }else if(t1 > t2){
          result = n1 - n2 * (t1/t2);
        }else{
          result = n1 * (t2/t1) - n2;
        }
        result = result / max;
        break;
      case 'multiply':
        result = (n1 * n2)/(t1 * t2);
        break;
      case 'divide':
        result = (n1 / n2)/(t2 / t1);
        break;
    }
    if (isInteger(precision) && precision >= 0) {
      result = result + "";
      let len = result.length;
      let dotIndex = result.indexOf(".");
      if (dotIndex === -1) {
        result = Number(result).toFixed(precision);
      } else {
        let dotIndexBefore = dotIndex + precision;
        let dotIndexAfter = dotIndexBefore + 1;
        if (dotIndexAfter < len) {
          let n = result.substr(dotIndexAfter, 1);
          if(precision === 0){
            //为0时dotIndexBefore用的是小数点，所以要减一
            dotIndexBefore--;
          }
          let m = result.substr(dotIndexBefore, 1);
          result = result.slice(0, dotIndexBefore);
          if (n > 4) {
            if(m === '9'){
              //防止进位
              if(precision === 0){
                m = m + '.9';
              }else{
                m = m + '9';
              }
            }else{
              m = Number(m)+1;
            }
          }
          result = Number(result + m).toFixed(precision);
        }
      }
    }
    return result;
  }


  $('.edit-agreement').on('click',function () {
    $('.agreement-edit').show();
    $('#input_futures_deposit').attr('type', 'text');
    $('.agreement-operate').hide();

    $('html, body').animate({
      scrollTop: $(".edit-agreement").offset().top
    }, 500);
  });

  {% if ado=='edit' %}
  $('.edit-agreement').click();
  {% endif %}

  //监听输入
  $("#input_futures_message").on('input propertychange', function () {

    //获取输入内容
    var userDesc = $(this).val();

    //判断字数
    var len;
    if (userDesc) {
      len = checkStrLengths(userDesc, 2000);
    } else {
      len = 0
    }
    //显示字数
    $("#countStr").html(len + '/2000');

    if (len > 2000 || len < 1) {
      $("#countStr").addClass('red');
      $("#error_futures_message").show();
    } else {
      $("#countStr").removeClass('red');
      $("#error_futures_message").hide();
    }
  });
  function validateParam() {
    var isValid = true;

    var input_futures_qty = Number($('#input_futures_qty').val());
    var input_futures_price = $('#input_futures_price').val();
    var input_futures_message = $.trim($('#input_futures_message').val());
    var product_price = '{{ agreement.product_price }}';

    if(!input_futures_qty || !checkPositiveInteger(input_futures_qty) || input_futures_qty < can_buy_min_qty || input_futures_qty > can_buy_max_qty ){
      isValid = false;
      var words = '{{ error_futures_can_buy_qty }}'.replace('%max_qty', can_buy_max_qty);
      words = words.replace('%min_qty', can_buy_min_qty);
      $('#input_futures_qty').addClass('border-highlight');
      $('#error_edit_tip').text(words).css('display','block');
    }else{
      $('#input_futures_qty').removeClass('border-highlight');
      $('#error_edit_tip').text('').css('display','none');
    }


    if (107 == country_id) {
      if (!input_futures_price || (!checkPositiveInteger(input_futures_price)) || (input_futures_price >= 999999999) || (input_futures_price <=0)) {
        isValid = false;
        $('#input_futures_price').addClass('border-highlight');
        $('#error_edit_tip').text('{{ error_futures_edit_price_japan }}').css('display', 'block');
      }
    } else {
      if (!input_futures_price || (!checkDecimalNumber(input_futures_price)) || (input_futures_price >= 9999999.99) || (input_futures_price < 0.01)) {
        isValid = false;
        $('#input_futures_price').addClass('border-highlight');
        $('#error_edit_tip').text('{{ error_futures_edit_price }}').css('display', 'block');
      }
    }


    if(input_futures_message.length > 2000 || input_futures_message.length < 1){
      isValid = false;
      $('#error_futures_message').css('display','block');
    }else{
      $('#error_futures_message').css('display','none');
    }


    //同意条约
    if(!$('#futures_agree_clause').is(':checked')){
      isValid = false;
      $('#error_futures_agree_clause').css('display','block');
    }else{
      $('#error_futures_agree_clause').css('display','none');
    }

    return isValid;
  }
  function submitEdit(obj) {
    var submit_btn = $(obj);
    submit_btn.button('loading');

    if (validateParam()) {

      var input_futures_qty = Number($('#input_futures_qty').val());
      var input_futures_price = $('#input_futures_price').val();
      var input_futures_message = $.trim($('#input_futures_message').val());
      var agreement_id = '{{ agreement.agreement_id }}';
      var url = '{{ url_edit_agreement }}';
      var agreement_status = '{{ agreement.agreement_status }}';


      $.ajax({
        url: url,
        type: 'post',
        data: {agreement_id:agreement_id,qty:input_futures_qty,price:input_futures_price,message:input_futures_message},
        dataType: 'json',
        success: function (json) {
          if(json['code']){
            $.toast({
              heading: false,
              text: json['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'success',
              hideAfter: 5000,
              allowToastClose: false,
              loader: false
            });
            window.location.href = url_futures_bid_list;
          }else {
            $.toast({
              heading: false,
              text: json['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'error',
              hideAfter: 5000,
              allowToastClose: false,
              loader: false
            });
            submit_btn.button('reset');
          }
        }
      });

    } else {
      submit_btn.button('reset');
    }
  }

  function futuresBtnStatus() {
    //同意条约
    if($('#futures_agree_clause').is(':checked')){

      $('#futures-bid-btn').removeAttr("disabled").removeAttr("title");
    }else{
      $('#futures-bid-btn').attr("disabled",true).attr('title', '{{ tip_futures_place_bid_btn }}');
    }
  }
  function cancelEdit(){
    $('.agreement-edit').hide();
    $('.agreement-operate').show();
  }
</script>
