{{ header }}
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<style>
    .tip-num {
        text-align: center;
        display: inline-block;
        border-radius: 20px;
        font-style: normal;
        position: absolute;
        padding: 2px 8px;
        bottom: 30px;
        right: -2px;
        background: #fa6400;
        border: 1px solid #fa6400;
        color: #fff;
        font-size: 12px;
        line-height: 16px;
        z-index: 99;
    }
    .detail-main {
        overflow: hidden;
        border-radius: 4px;
        border: 1px solid #c4cad5;
        box-shadow: 0px 4px 10px 2px #c4cad5;
        margin-bottom: 40px;
    }

    .over {
        overflow: hidden;
    }

    .mb-3 {
        margin-bottom: 30px;
    }

    .title {
        font-size: 16px;
        color: #183464;
        margin-bottom: 20px;
        font-weight: bolder;
    }

    .abstract {
        border-right: 1px solid #eee;
        text-align: center;
    }

    .abstract:last-child {
        border: none;
    }

    .abstract p {
        margin: 5px 0;
    }

    .details .row {
        margin: 0 30px;
        border-bottom: 1px solid #eee;
        /*padding: 10px 0;*/
    }

    .details .row > div {
        display: flex;
        height: 45px;
        align-items: center;
        padding: 0;
    }

    .detail-name {
        width: 220px;
        display: inline-block;
        margin-right: 7px;
        color: #677999;
    }
    .detail-content{
        color: #183464;
        font-weight: bold;
    }

    .remarks {
        border: 1px solid #eee;
        border-radius: 8px;
        padding: 10px 5px;
        margin: 10px 0;
    }

    .count-str {
        position: absolute;
        right: 5px;
        bottom: 0px;
        color: #1e91cf
    }

    a.link {
        color: #3a75dc;
    }

    a.link：hover {
        text-decoration: underline;
    }

    .table thead td {
        font-weight: initial;
    }
    .summary-icon {
        color: #183464;
        font-size: 20px;
    }

    .summary-name {
        color: #677999;
    }
  .summary-detail{
    color: #7F7F7F;
  }
  .cansub.btn.btn-primary{
      height: 40px;
      line-height: 38px;
      color: #fff;
      padding: 0 13px;
  }
  .btn.btn-primary:hover{
      background-color: #2d57a9;
  }
</style>

<div id="page-bid-list-spot-price-bid" class="page-seller-portal">
    {#菜单#}
    {% include 'giga/template/_parts/breadcrumb_simple.twig' %}
    {#END 菜单#}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Future Goods Details of {{ agreement.agreement_no }}</h1>
                <div class="row">
                    <div class="col-md-12">
                        {#Togglable tabs#}
                        <ul class="nav nav-tabs main" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#agreement" aria-controls="home" role="tab" data-toggle="tab" data-translation="期货协议">Future Goods Agreement</a>
                            </li>
                            {% if agreement.agreement_status == 7 %}
                                <li role="presentation">
                                    <a href="#bail" aria-controls="profile" role="tab" data-toggle="tab" data-translation="期货保证金">Future Goods Deposit</a>
                                </li>
                                <li role="presentation">
                                    <a href="#warehousing" aria-controls="messages" role="tab" data-toggle="tab" data-translation="入仓">Warehouse Arrival</a>
                                </li>
                            {% endif %}
                            {% if agreement.delivery_status in [4,6,8] %}
                                <li role="presentation">
                                    <a href="#delivery" aria-controls="settings" role="tab" data-toggle="tab" data-translation="交割">Settlement</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {#tab页对应内容#}
        <div class="row mb-4">
            <div class="col-md-12">

                <!-- Tab panes -->
                <div class="tab-content ">
                    <div role="tabpanel" class="tab-pane active" id="agreement">
                        <div id="futuresAgreementDetailPanel"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="bail">
                        <div id="futuresDepositOrderDetail">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="warehousing">
                        <div id="futuresTransactionModeDetail">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="delivery">
                        <div id="futuresPurchaseRecordDetail">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{ footer }}
<script>
    let query = '';
    query += '&id=' + '{{ id }}';
    let ado = '&ado={{ ado }}';
    $('#futuresAgreementDetailPanel').load('index.php?route=account/product_quotes/futures/buyerFuturesAgreementDetail' + query + ado);
    {% if agreement.agreement_status == 7 %}
        $('#futuresDepositOrderDetail').load('index.php?route=account/product_quotes/futures/buyerFuturesDepositOrderDetail' + query);
        $('#futuresTransactionModeDetail').load('index.php?route=account/product_quotes/futures/buyerFuturesTransactionModeDetail' + query);
    {% endif %}
    {% if agreement.delivery_status in [4,6,8] %}
        $('#futuresPurchaseRecordDetail').load('index.php?route=account/product_quotes/futures/buyerFuturesPurchaseRecordDetail' + query);
    {% endif %}
    //封装一个限制字数方法
    var checkStrLengths = function (str, maxLength) {
        var maxLength = maxLength;
        var result = 0;
        result = str.length;
        return result;
    };
    block.blockUI();
</script>