{{header}}
<link rel="stylesheet" href="admin/view/stylesheet/stylesheet.css">
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>

<style>
  p{
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  div[class*='col-']{
    padding-left: 0;
    padding-right: 0;
  }
  .detail-main{
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #c4cad5;
    box-shadow: 0px 4px 10px 2px #c4cad5;
    margin-bottom: 40px;
  }
  .title{
    font-size: 16px;
    color: #183464;
    padding: 10px;
    margin-top: 10px;
    font-weight: bolder;
  }
  .detail-item{
    border-radius: 4px;
    border: 1px solid #c4cad5;
    padding: 10px;
  }
  .my-label{
    color: #c9c9c9;
  }
  .my-color{
    color: #027DB4;
  }
  .tip-left{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #027DB4;
    border-radius: 50%;
  }
  .comment-con{
    border-radius: 4px;
    border: 1px solid #c4cad5;
    background: #eee;
    height: 90px;
    padding: 10px;
    margin-left: 10px;
    overflow: auto;
    word-break: break-word;
  }
  .my-border-right{
    border-right: 1px solid #c4cad5;
  }
  .fl{
    float: left;
  }
  .my-height{
    overflow: auto;
    max-height: 400px;
  }
  .logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .time-icon{
    padding: 0 10px;
  }
  .message-content{
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #c4cad5;
    max-width: 400px;
    /*max-height: 100px;*/
    word-break: break-word;
    overflow: auto;
  }
  .fr{
    float: right;
  }
  .seller-msg,.buyer-msg{
    overflow: hidden;
  }
  .buyer-msg .msg-con p{
    text-align: right;
    padding-right: 10px;
  }
  .request{
    font-weight: normal;
    color:#027DB4 ;
  }
  .btns{
    margin: 15px 0;
  }
  .promise{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .promise-check{
    margin-top: 0 !important;
    margin-right: 2px !important;

  }
  .form-group-inner{
    width: 80%;
    margin-left: 10%;
  }
  .sub-title{
    background: #eee;
    /*border-radius: 4px;*/
    border: 1px solid #c4cad5;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    display: flex;
    align-items: center;

  }
  .pl10{
    padding-left: 10px;
  }
  .type-form-info{
    /*border-radius: 4px;*/
    border: 1px solid #c4cad5;
    padding: 15px 0;
  }
  .check-style{
    color: #193465;
    margin-right: 4px;
  }
  .buyer-logo{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: #677999;
    color: #fff;
  }
  .comment {
    padding: 0 10px;
  }
  .textarea-con {
    position: relative;
  }
  .count-str {
    position: absolute;
    right: 30px;
    bottom: 6px;
  }
  .success{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 8px 30px;
    text-align: left;
  }
  .success i{
    color: #2e9b01;
    font-size: 36px;
    margin-right: 10px;
  }
  .red {
    color: #ff0000;
    display: inline-block;
    min-height: 18px;
  }
  .none{
    display: none;
  }
  .borderbc{
    border-radius: 0 0 4px 4px;
  }
  .no-record {
    border-radius: 4px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    border: 1px solid #b9b9b9;
  }
  *{
    font-family: "Roboto", Helvetica, Arial, serif;;
  }
  @media (min-width: 768px){
    #menu .navbar-nav  li  a{
      padding: 14px 15px;
    }
  }
  #top-links .country-market-li .btn{
    box-shadow: none;
  }
  #menu li li a:hover{
    background-color: #478BFF;
  }
  .btns .btn.btn-default,
  .btns .btn-primary{
    height: 40px;
    line-height: 38px;
    padding: 0 13px;
  }
  .btns .btn.btn-default{
    box-shadow: none;
  }
  .btns .btn.btn-default a:hover{
    color: #fff;
  }
  .yzc_layer .layui-layer-ico{
    background: none;
  }
  .yzc_layer .layui-layer-close.layui-layer-close1:after{
    content: "\e6b4";
    font-family: 'giga';
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn0{
    border-color: #3A75DC;
    background-color: #3A75DC;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn0:hover{
    background-color: #2d57a9;
    opacity: 1;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn1{
    color: #3A75DC;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn1:hover{
    background-color: #3A75DC;
    color: #fff;
    opacity: 1;
  }
  .yzc_layer .layui-layer-content{
    text-align: left;
  }

</style>

<div id="page-bid-list-spot-price-bid" class="page-seller-portal">
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}
  <div class="container">
    <h1>Future Goods Details of {{ agreement.agreement_no }}</h1>
    <div class="detail-main bg-white p-2">
      <div class="basic">
        <div class="title">{{ test_detail_title }}</div>
        <div class="row detail-item ">
          <div class="col-sm-6 my-border-right">
            <div class="col-sm-6 my-border-right">
              <p>
                <span class="my-label">{{ column_agreement_no }}:</span>
                <span>{{ agreement.agreement_no }}</span>
              </p>
              <p>
                <span class="my-label">{{ column_store }}:</span>
                <a href="{{ url('customerpartner/profile', {'id':agreement.seller_id}) }}" target="_blank">
                  <span class="my-color">{{ agreement.screenname }}</span>
                </a>
              </p>
              <p>
                <span class="my-label">{{ column_item_code }}:</span>
                <a href="{{ url('product/product', {'product_id':agreement.product_id}) }}" target="_blank">
                  <span class="my-color">{{ agreement.sku }}</span>
                </a>
              </p>
              <p>
                <span class="my-label">{{ column_last_modified }}:</span>
                <span>
                  {% if agreement.delivery_id %}
                  {{ agreement.delivery_update_time }}
                  {% else %}
                  {{ agreement.agreement_update_time }}
                  {% endif %}
                </span>
              </p>
              <p>
                <span class="my-label">Status:</span>
                <span style="color: {{ agreement.status_color }}">
                  {% if 7 == agreement.delivery_status  %}
                    <i class="fa fa-exclamation-circle" data-toggle="tooltip" style="color: sandybrown"></i>
                  {% endif %}
                  {{ agreement.status_name }}
                </span>
              </p>
            </div>
            <div class="col-sm-6">
              <p>
                <i class="tip-left"></i>
                <span class="my-label">{{ column_qty_of_agreement }}:</span>
                <span>{{ agreement.num }}</span>
              </p>
              <p>
                <i class="tip-left"></i>
                <span class="my-label">{{ column_unit_price }}:</span>
                <span>{{ agreement.unit_price }}</span>
              </p>
              <p>
                <i class="tip-left"></i>
                <span class="my-label">{{ column_deposit_of_agreement }}:</span>
                <span>{{ agreement.deposit }}</span>
              </p>
              <p>
                <i class="tip-left"></i>
                <span class="my-label">{{ column_last_unit_price }}:</span>
                <span>{{ agreement.last_unit_price }}</span>
              </p>
              <p>
                <i class="tip-left"></i>
                <span class="my-label">{{ column_amount_of_agreement }}:</span>
                <span>{{ agreement.amount }}</span>
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <p>
                  <span class="my-label">{{ column_delivery_date }}: </span>
                  <span>
                    {% if agreement.delivery_date %} {{ agreement.delivery_date }} {% else %}N/A{% endif %}
                    {% if agreement.delivery_status==1  and days_tip %}
                    <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer"  data-original-title="{{ days_tip }}"></i>
                    {% endif %}
                  </span>
                </p>

              </div>
              <div class="col-sm-6">
                <p>
                  <span class="my-label">{{ futures_liquidation_day }}:</span>
                  <span>{{ agreement.liquidation_day }} Days</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="my-label">Comments:</p>
                <p class="comment-con">
                  {{ agreement.comments }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="message">
        <div class="title">Message</div>
        {% if message %}
        <div class="detail-item my-height">
          {% for item in message  %}
          {% if customer_id != item.customer_id %}
          <div class="seller-msg">
            <div class="logo fl">
              <img src="{{ agreement.avatar }}" onError ="this.src='/image/catalog/Logo/yzc_logo_45x45.png'" alt="">
            </div>
            <div class="msg-con fl">
              <p>
                <strong>{{ agreement.screenname }}</strong><i class="giga icon-Action-Time time-icon"></i>{{ item.create_time }}
              </p>
              <div class="message-content">
                {{ item.message }}
              </div>
            </div>
          </div>
          {% else %}
          <div class="buyer-msg">
            <div class="logo fr">
              <span class="buyer-logo">ME</span>
            </div>
            <div class="msg-con fr">
              <p>
                <strong>ME</strong><i class="giga icon-Action-Time time-icon"></i>{{ item.create_time }}
              </p>
              <div class="message-content">
                {{ item.message }}
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% else %}
          <div class="no-record">
            No records
          </div>
        {% endif %}
      </div>

      {% if agreement.agreement_status in [1,2,4,6] and not agreement.delivery_status %}
      <div class="Edit">
        <div class="row">
          <div class="col-xs-6">
            <div class="title">
              {% if agreement.agreement_status in [1,2] %}
                {% set title = 'Edit' %}
              {% else %}
                {% set title = 'Reapplied' %}
              {% endif %}
              {{ title }}
              {#<i class="fa fa-pencil-square-o" data-toggle="tooltip" style="cursor: pointer" title="" data-original-title="{{ title }}"></i>#}
            </div>
          </div>
          <div class="col-xs-6 text-right title request">
            REQUIRED
          </div>
        </div>
        {% if agreement.agreement_status in [4,6] and not is_futures %}
          <div class="no-record">
            {{ error_futures_seller }}
          </div>
        {% else %}
          <div class="row">
          <table class="table">
            <tr>
              <th class="text-center">{{ column_qty_of_agreement }}</th>
              <th class="text-center">{{ column_unit_price }}</th>
              <th class="text-center">{{ column_deposit_of_agreement }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="" data-original-title="{{ tip_futures_deposit }}"></i>
              </th>
              <th class="text-center">{{ column_last_unit_price }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="" data-original-title="{{ tip_futures_final_payment }}"></i>
              </th>
              <th class="text-center">{{ column_amount_of_agreement }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="" data-original-title="{{ tip_futures_amount }}"></i>
              </th>
            </tr>
            <tr>
              <td ><input type="number" class="form-control text-center" id="input_futures_qty" onchange="calculateFuturesPrice(1)"
                          min="5" max="9999" value="{{ agreement.num }}">
              </td>
              <td ><input type="number" class="form-control text-center" id="input_futures_price" onchange="calculateFuturesPrice(2)"
                          value="{{ agreement.unit_price }}">
              </td>
              <td ><input type="text" class="form-control text-center" id="input_futures_deposit"
                          value="{{ agreement.deposit }}" disabled></td>
              <td ><input type="text" class="form-control text-center" id="input_futures_final_payment"
                          value="{{ agreement.last_unit_price }}" disabled></td>
              <td ><input type="text" class="form-control text-center" id="input_futures_amount"
                          value="{{ agreement.amount }}" disabled></td>
            </tr>
            <tr>
              <td class="text" colspan="5">
                <div id="error_edit_tip" style="color: red;display: none" >error</div>
              </td>
            </tr>
          </table>
        </div>
          <div class="row">
          <div class="row comment textarea-con">
            <textarea class="my-textarea form-control" name="input_futures_message" id="input_futures_message" rows="5"
                      placeholder="Enter your message to seller..."></textarea>
            <span class="count-str" id="countStr">0/2000</span>
          </div>

          <div id="error_futures_message" style="color: red;display: none;margin-left: 10px">{{ error_futures_bid_message }}</div>
        </div>
        {% endif %}
      </div>
      {% endif %}

      {% if agreement.delivery_status in [3,5,6,7,8] or (4 == agreement.delivery_status and 0 != agreement.delivery_type) %}
      <div class="type">
        <div class="title">{{ text_select_delivery_method }}</div>
        {% if 2 != agreement.delivery_type or agreement.delivery_status in [3,7] %}
        <div class="type1 pl10">
          <div class="sub-title" style="border-radius: 4px 4px 0 0">
            <input autocomplete="off" style="margin-right: 6px;cursor: pointer" type="checkbox" name="select_delivery_type"
              {% if agreement.delivery_status not in [3,7] %} disabled {% endif %}
              value="1" id="checkFutureType" {% if agreement.delivery_type in [1,3] %} checked {% endif %}> {{ text_final_payment }}</div>
          <div class="type-form-info {% if agreement.delivery_type is null or agreement.delivery_type in [0,2] %}none{% endif %}"
               id="checkFutureTypeCon">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group form-group-inner">
                  <label class="control-label" for="i">{{ text_final_qty }}</label>
                  <input type="number" name=""
                         value="{% if agreement.last_purchase_num %}{{ agreement.last_purchase_num }}{% endif %}"
                         {% if agreement.delivery_status not in [3,7] %} disabled {% endif %}
                         onchange="calculateFinalPrice()" placeholder="Enter Quantity" id="d_last_purchase_num" class="form-control"/>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group form-group-inner">
                  <label class="control-label" for="i">{{ text_freight }}</label>
                  <input type="text" name="" value="{{ agreement.d_logistics_fee_total }}" disabled
                         placeholder="" id="d_logistics_fee_total" class="form-control"/>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group form-group-inner">
                  <label class="control-label" for="i">{{ text_final_amount }}</label>
                  <input type="text" name="" value="{{ agreement.d_final_payment_total }}" disabled
                         placeholder="" id="d_final_payment_total" class="form-control"/>
                </div>
              </div>
              <div class="text-center">
                <div id="error_delivery_tip" style="color: red;display: none" >error</div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {% if 1 != agreement.delivery_type or agreement.delivery_status in [3,7] %}
        <div class="type2 pl10">
          <div class="sub-title borderbc" >
            <div class="col-xs-8">
              <input autocomplete="off" style="margin-right: 6px;cursor: pointer" type="checkbox" name="select_delivery_type"
                {% if agreement.delivery_status not in [3,7] %} disabled {% endif %}
                value="2" id="checkMarginType" {% if agreement.delivery_type in [2,3] %} checked {% endif %}>{{ text_transfer_to_margin }}
            </div>
            <div class="col-xs-4" style="margin-left: 10%">
              {% if agreement.margin_agreement_code %}
                <b>Margin Agreement ID: </b>
                <a href="{{ agreement.margin_detail_url }}" class="my-color">{{ agreement.margin_agreement_code }}</a>
              {% endif %}
            </div>

          </div>
          <div class="type-form-info {% if agreement.delivery_type is null or agreement.delivery_type in [0,1] %}none{% endif %}"
               id="checkMarginTypeCon" style="border-radius: 0 0 4px 4px" >
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group form-group-inner">
                  <label class="control-label" for="i">{{ text_margin_qty }}</label>
                  <input type="number" name="" value="{% if agreement.margin_apply_num %}{{ agreement.margin_apply_num }}{% endif %}"
                         {% if agreement.delivery_status not in [3,7] %} disabled {% endif %} onchange="calculateMarginPrice()"
                         placeholder="Enter Quantity" id="d_margin_apply_num" class="form-control"/>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group form-group-inner">
                  <label class="control-label" for="i">{{ text_margin_price }}</label>
                  <input type="number" name="" value="{% if agreement.margin_unit_price %}{{ agreement.margin_unit_price }}{% endif %}"
                         {% if agreement.delivery_status not in [3,7] %} disabled {% endif %} onchange="calculateMarginPrice()"
                         placeholder="Enter Price" id="d_margin_unit_price" class="form-control"/>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group form-group-inner">
                  <label class="control-label" for="i">{{ text_margin_add_deposit }}</label>
                  <input type="text" name="" value="{% if agreement.margin_deposit_amount %}{{ agreement.margin_deposit_amount }}{% endif %}"
                         disabled placeholder="" id="d_margin_deposit_amount" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group form-group-inner">
                  <label class="control-label" for="i">{{ text_margin_final_price }}</label>
                  <input type="text" name="" value="{% if agreement.margin_last_price %}{{ agreement.margin_last_price }}{% endif %}"
                         disabled placeholder="" id="d_margin_last_price" class="form-control"/>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group form-group-inner">
                  <label class="control-label" for="i">{{ text_margin_amount }}</label>
                  <input type="text" name="" value="{% if agreement.margin_agreement_amount %}{{ agreement.margin_agreement_amount }}{% endif %}"
                         disabled placeholder="" id="d_margin_agreement_amount" class="form-control"/>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group form-group-inner">
                  <label class="control-label" for="i">{{ text_margin_term }}</label>
                  <input type="text" name="" value="30" disabled
                         placeholder="" id="d_margin_days" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="text-center">
              <div id="error_delivery_tip2" style="color: red;display: none" >error</div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {# Applied、Pending可编辑，Rejected、Time Out且存在有效期货模板可重新申请，BP可选择交割方式 #}
      {% if (agreement.agreement_status in [1,2] and not agreement.delivery_status)
          or (agreement.agreement_status in [4,6] and not agreement.delivery_status and is_futures)
          or agreement.delivery_status in [3,7] %}
      <div class="btns text-center">
        <button class="btn btn-primary" id="futures-bid-btn"
          {% if agreement.agreement_status in [1,2,4,6] and not agreement.delivery_status %}
            onclick="submitEdit(this)"
          {% else %}
            onclick="submitDelivery(this)"
          {% endif %}>Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default"><a href="{{ url('account/product_quotes/wk_quote_my', {'tab':'3'}) }}">Cancel</a></button>
      </div>
      <div class="text-center promise">
        <input type="checkbox" class="promise-check" autocomplete="off" id="futures_agree_clause" name="futures_agree_clause"
               value="1" onchange="futuresBtnStatus()" checked="checked">
        {{ futures_bid_agree_text }}
        <a href="{{ clause_url }}" target="_blank" style="color: #027DB4">
          {{ clause_title }}</a>
        <span id="error_futures_agree_clause" style="display: none;color: red">{{ error_futures_agree_clause }}</span>
      </div>
      {% endif %}
    </div>
  </div>

</div>
<script>
  var country_id = '{{ country_id }}';
  var precision = 2;
  if (107 == country_id){
    precision = 0;
  }
  var product_price = '{{ agreement.product_price }}';
  var num = Number('{{ agreement.num }}');
  var futures_bid_list = "{{ url('account/product_quotes/wk_quote_my', {'tab':'3'}) }}";

  function checkPositiveInteger(value) {
    //必填正整数校验
    if(!(/^[1-9]*[1-9][0-9]*$/.test(value)) || value <= 0){
      return false;
    }else{
      return true;
    }
  }

  function checkDecimalNumber(value) {
    //校验货币 两位小数
    if(!(/^[0-9]+(.[0-9]{1,2})?$/.test(value))){
      return false;
    }else{
      return true;
    }
  }
  /*判断obj是否为一个整数*/
  function isInteger(obj){
    return Math.floor(obj) === obj;
  }

  /**
   * 将一个浮点数转换成整数，返回整数和倍数
   * 如 3.14 》》314  倍数是100
   *
   */
  function toInteger(floatNum){
    var ret = {times:1,num:0};

    //是整数
    if(isInteger(floatNum)){
      ret.num = floatNum;
      return ret;
    }

    var strfi = floatNum + '';
    //查找小数点的下标
    var dotPos = strfi.indexOf('.');
    //获取小数的位数
    var len = strfi.substr(dotPos+1).length;
    //Math.pow(10,len)指定10的len次幂。
    var time = Math.pow(10,len);

    //将浮点数转化为整数
    var intNum = parseInt(floatNum*time + 0.5,10);
    ret.times = time;
    ret.num = intNum;
    return ret;
  }
  /**
   *进行运算
   *三个参数分别是要运算的两个数和运算符
   */
  function operation(a,b,op,precision){
    var o1 = toInteger(a);
    var o2 = toInteger(b);
    var n1 = o1.num;
    var n2 = o2.num;
    var t1 = o1.times;
    var t2 = o2.times;
    var max = t1 > t2 ? t1 : t2;
    var result = null;
    switch(op){
      case 'add':
        if(t1 === t2){
          result = n1 + n2;
        }else if(t1 > t2){
          result = n1 + n2 * (t1/t2);
        }else{
          result = n1 * (t2/t1) + n2;
        }
        result = result / max;
        break;
      case 'subtract':
        if(t1 === t2){
          result = n1  - n2;
        }else if(t1 > t2){
          result = n1 - n2 * (t1/t2);
        }else{
          result = n1 * (t2/t1) - n2;
        }
        result = result / max;
        break;
      case 'multiply':
        result = (n1 * n2)/(t1 * t2);
        break;
      case 'divide':
        result = (n1 / n2)/(t2 / t1);
        break;
    }
    if (isInteger(precision) && precision >= 0) {
      result = result + "";
      let len = result.length;
      let dotIndex = result.indexOf(".");
      if (dotIndex === -1) {
        result = Number(result).toFixed(precision);
      } else {
        let dotIndexBefore = dotIndex + precision;
        let dotIndexAfter = dotIndexBefore + 1;
        if (dotIndexAfter < len) {
          let n = result.substr(dotIndexAfter, 1);
          if(precision === 0){
            //为0时dotIndexBefore用的是小数点，所以要减一
            dotIndexBefore--;
          }
          let m = result.substr(dotIndexBefore, 1);
          result = result.slice(0, dotIndexBefore);
          if (n > 4) {
            if(m === '9'){
              //防止进位
              if(precision === 0){
                m = m + '.9';
              }else{
                m = m + '9';
              }
            }else{
              m = Number(m)+1;
            }
          }
          result = Number(result + m).toFixed(precision);
        }
      }
    }
    return result;
  }

  function calculateFuturesPrice(i) {
    var price = $('#input_futures_price').val();
    var qty = $('#input_futures_qty').val();
    var payment_ratio = '{{ agreement.buyer_payment_ratio }}';

    var isValid = true;
    switch (i){
      case 1:
        if (!qty || !checkPositiveInteger(qty) || Number(qty) < 5 || Number(qty) > 9999){
          isValid = false;
          $('#error_edit_tip').text('{{ error_futures_bid_qty }}').css('display','block');
        }else {
          $('#error_edit_tip').text('').css('display','none');
        }
        break;
      case 2:

        if(!price || (107 != country_id && !checkDecimalNumber(price))) {
          isValid = false;
          $('#error_edit_tip').text('{{ error_futures_bid_price_too_few }}').css('display', 'block');
          break;

        }else if (107 == country_id && !checkPositiveInteger(price)){
          isValid = false;
          $('#error_edit_tip').text('{{ error_futures_bid_price_japan }}').css('display', 'block');
          break;
        }else if (price < 0){
          isValid = false;
          $('#error_edit_tip').text('{{ error_futures_bid_price_too_few }}').css('display', 'block');
          break;
        }else if (parseFloat(price) > parseFloat(product_price)){
          isValid = false;
          $('#error_edit_tip').text('{{ error_futures_bid_price_too_much }}').css('display', 'block');
          break;
        }else {
          $('#error_edit_tip').text('').css('display','none');
        }
        break;
    }

    if (isValid){
      payment_ratio = Number(payment_ratio) / 100;

      var deposit_per = operation(price, payment_ratio, 'multiply', precision);
      var final_payment = operation(price, deposit_per, 'subtract', precision);
      var deposit = operation(deposit_per, qty, 'multiply', precision);
      var amount = operation(price, qty, 'multiply', precision);

      $('#input_futures_deposit').val(deposit);
      $('#input_futures_final_payment').val(final_payment);
      $('#input_futures_amount').val(amount);

    }
  }

  //期货尾款
  function calculateFinalPrice(i) {
    var last_purchase_num = $('#d_last_purchase_num').val();
    var logistics_fee = '{{ agreement.logistics_fee }}';
    var last_unit_price = '{{ agreement.last_unit_price }}';
    var isValid = true;
    var delivery_type = [];
    $("input:checkbox[name='select_delivery_type']:checked").each(function () {
      delivery_type.push($(this).val());
    });
    var delivery_type_str = delivery_type.join(',');
    if (delivery_type_str.length == 3){
      delivery_type_str = 3;
      var d_margin_apply_num = $('#d_margin_apply_num').val();
    }

    if (!last_purchase_num || !checkPositiveInteger(last_purchase_num) || Number(last_purchase_num) > num){
      isValid = false;
      $('#error_delivery_tip').text('{{ tip_delivery_qty }}').css('display','block');
    }else if (3 == delivery_type_str && (Number(last_purchase_num) + Number(d_margin_apply_num)) != num && d_margin_apply_num){
      isValid = false;
      $('#error_delivery_tip').text('{{ tip_delivery_qty_count }}').css('display', 'block');
    }else if (1 == delivery_type_str && Number(last_purchase_num) != num){
      isValid = false;
      $('#error_delivery_tip').text('{{ tip_delivery_qty_1 }}').css('display', 'block');
    }else {
      $('#error_delivery_tip').text('').css('display','none');
    }

    if (3 == delivery_type_str && (Number(last_purchase_num) + Number(d_margin_apply_num)) == num && !i){
      calculateMarginPrice(1);
    }

    if (isValid){
      var logistics_fee_total = operation(last_purchase_num, logistics_fee, 'multiply', precision);
      var final = operation(logistics_fee, last_unit_price, 'add', precision);
      var final_payment_total = operation(last_purchase_num, final, 'multiply', precision);

      $('#d_logistics_fee_total').val(logistics_fee_total);
      $('#d_final_payment_total').val(final_payment_total);
    }
    return isValid;
  }

  //转现货
  function calculateMarginPrice(i) {
    var d_margin_apply_num = $('#d_margin_apply_num').val();
    var d_margin_unit_price = $('#d_margin_unit_price').val();
    var futures_unit_price = '{{ agreement.unit_price }}';
    var unit_deposit = '{{ agreement.unit_deposit }}';
    var margin_payment_ratio = '{{ margin_payment_ratio }}';
    var isValid = true;
    var delivery_type = [];
    $("input:checkbox[name='select_delivery_type']:checked").each(function () {
      delivery_type.push($(this).val());
    });
    var delivery_type_str = delivery_type.join(',');
    if (delivery_type_str.length == 3){
      delivery_type_str = 3;
      var last_purchase_num = $('#d_last_purchase_num').val();
    }

    if (!d_margin_apply_num || !checkPositiveInteger(d_margin_apply_num) || Number(d_margin_apply_num) > num){
      isValid = false;
      $('#error_delivery_tip2').text('{{ tip_delivery_qty }}').css('display','block');
    }else if(!d_margin_unit_price || (107 != country_id && !checkDecimalNumber(d_margin_unit_price))) {
      isValid = false;
      $('#error_delivery_tip2').text('{{ tip_delivery_price_too_few }}').css('display', 'block');
    }else if (107 == country_id && !checkPositiveInteger(d_margin_unit_price)){
      isValid = false;
      $('#error_delivery_tip2').text('{{ tip_delivery_price_japan }}').css('display', 'block');
    }else if (d_margin_unit_price < 0){
      isValid = false;
      $('#error_delivery_tip2').text('{{ tip_delivery_price_too_few }}').css('display', 'block');
    }else if (parseFloat(d_margin_unit_price) > parseFloat(product_price)) {
      isValid = false;
      $('#error_delivery_tip2').text('{{ tip_delivery_margin_price_too_much }}').css('display', 'block');
    }else if (3 == delivery_type_str && (Number(last_purchase_num) + Number(d_margin_apply_num)) != num && last_purchase_num){
      isValid = false;
      $('#error_delivery_tip2').text('{{ tip_delivery_qty_count }}').css('display', 'block');
    }else if (2 == delivery_type_str && Number(d_margin_apply_num) != num) {
      isValid = false;
      $('#error_delivery_tip2').text('{{ tip_delivery_qty_2 }}').css('display', 'block');
    }else if(1 != delivery_type_str && parseFloat(futures_unit_price) > parseFloat(d_margin_unit_price)){
      isValid = false;
      $('#error_delivery_tip2').text('{{ tip_delivery_margin_price }}').css('display', 'block');
    }else {
      $('#error_delivery_tip2').text('').css('display','none');
    }

    if (3 == delivery_type_str && (Number(last_purchase_num) + Number(d_margin_apply_num)) == num && !i ){
      calculateFinalPrice(1);
    }

    if (isValid){
      var margin_deposit_paid_amount = operation(unit_deposit, d_margin_apply_num, 'multiply', precision);//已付定金金额
      var margin_unit_deposit = operation(d_margin_unit_price, margin_payment_ratio, 'multiply', precision);//定金单价
      var margin_deposit_amount = operation(margin_unit_deposit, d_margin_apply_num, 'multiply', precision);//转现货定金总金额
      var d_margin_deposit_amount = operation(margin_deposit_amount, margin_deposit_paid_amount, 'subtract', precision);//补足款
      var margin_last_price = operation(d_margin_unit_price, margin_unit_deposit, 'subtract', precision);//尾款单价
      var margin_last_price_amount = operation(margin_last_price, d_margin_apply_num, 'multiply', precision);//尾款总额
      var d_margin_agreement_amount = operation(d_margin_deposit_amount, margin_last_price_amount, 'add', precision);

      $('#d_margin_deposit_amount').val(d_margin_deposit_amount);
      $('#d_margin_last_price').val(margin_last_price);
      $('#d_margin_agreement_amount').val(d_margin_agreement_amount);
    }

    return isValid;
  }

  function futuresBtnStatus() {
    //同意条约
    if($('#futures_agree_clause').is(':checked')){

      $('#futures-bid-btn').removeAttr("disabled").removeAttr("title");
    }else{
      $('#futures-bid-btn').attr("disabled",true).attr('title', '{{ tip_futures_place_bid_btn }}');
    }
  }

  function validateParam() {
    var isValid = true;

    var input_futures_qty = Number($('#input_futures_qty').val());
    var input_futures_price = $('#input_futures_price').val();
    var input_futures_message = $.trim($('#input_futures_message').val());
    var product_price = '{{ agreement.product_price }}';

    if(!input_futures_qty || !checkPositiveInteger(input_futures_qty) || input_futures_qty < 5 ){
      isValid = false;
      $('#error_edit_tip').text('{{ error_futures_bid_qty }}').css('display','block');
    }else{
      $('#error_edit_tip').text('').css('display','none');
    }

    if(!input_futures_price || (107 != country_id && !checkDecimalNumber(input_futures_price))) {
      isValid = false;
      $('#error_edit_tip').text('{{ error_futures_bid_price_too_few }}').css('display', 'block');

    }else if (107 == country_id && !checkPositiveInteger(input_futures_price)){
      isValid = false;
      $('#error_edit_tip').text('{{ error_futures_bid_price_japan }}').css('display', 'block');
    }else if (input_futures_price < 0){
      isValid = false;
      $('#error_edit_tip').text('{{ error_futures_bid_price_too_few }}').css('display', 'block');
    }else if (parseFloat(input_futures_price) > parseFloat(product_price)) {
      isValid = false;
      $('#error_edit_tip').text('{{ error_futures_bid_price_too_much }}').css('display', 'block');
    }

    if(input_futures_message.length > 2000 || input_futures_message.length < 1){
      isValid = false;
      $('#error_futures_message').css('display','block');
    }else{
      $('#error_futures_message').css('display','none');
    }

    //同意条约
    if(!$('#futures_agree_clause').is(':checked')){
      isValid = false;
      $('#error_futures_agree_clause').css('display','block');
    }else{
      $('#error_futures_agree_clause').css('display','none');
    }

    return isValid;
  }

  function submitEdit(obj) {
    var submit_btn = $(obj);
    submit_btn.button('loading');

    if (validateParam()) {

      var input_futures_qty = Number($('#input_futures_qty').val());
      var input_futures_price = $('#input_futures_price').val();
      var input_futures_message = $.trim($('#input_futures_message').val());
      var agreement_id = '{{ agreement.agreement_id }}';
      var url = '';
      var agreement_status = '{{ agreement.agreement_status }}';
      if (1 == agreement_status || 2 == agreement_status){
          url = "{{ url('account/product_quotes/futures/editAgreement') }}";
      }else {
          url = "{{ url('account/product_quotes/futures/reapplyAgreement') }}";
      }

      $.ajax({
        url: url,
        type: 'post',
        //data: $('#form_futures_bid').serialize(),
        data: {agreement_id:agreement_id,qty:input_futures_qty,price:input_futures_price,message:input_futures_message},
        dataType: 'json',
        success: function (json) {
          if(json['code']){
            $.toast({
              heading: false,
              text: json['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'success',
              hideAfter: 5000,
              allowToastClose: false,
              loader: false
            });
            setTimeout(function () {
              window.location.href = futures_bid_list;
            }, 5000);
          }else {
            $.toast({
              heading: false,
              text: json['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'error',
              hideAfter: 5000,
              allowToastClose: false,
              loader: false
            });
            submit_btn.button('reset');
          }
        }
      });

    } else {
      submit_btn.button('reset');
    }
  }

  //选择交割方式
  function submitDelivery(obj) {
    var submit_btn = $(obj);

    var last_purchase_num = $('#d_last_purchase_num').val();
    var agreement_id = '{{ agreement.agreement_id }}';
    var margin_apply_num = $('#d_margin_apply_num').val();
    var margin_unit_price = $('#d_margin_unit_price').val();
    var isValid = true;

    var delivery_type = [];
    $("input:checkbox[name='select_delivery_type']:checked").each(function () {
        delivery_type.push($(this).val());
    });
    var delivery_type_str = delivery_type.join(',');
    if (delivery_type_str.length == 3){
        delivery_type_str = 3;
    }
    if (!delivery_type_str){
      $.toast({
        heading: false,
        text: 'Please select settlement methods.',
        position: 'top-center',
        showHideTransition: 'fade',
        icon: 'error',
        hideAfter: 5000,
        allowToastClose: false,
        loader: false
      });
      return false;
    }

    if (1 == delivery_type_str){
        isValid = calculateFinalPrice();
    }else if (2 == delivery_type_str){
        isValid = calculateMarginPrice();
    }else {
        isValid = calculateFinalPrice();
        isValid = isValid?calculateMarginPrice():isValid;
    }
    if(isValid){
      $('#error_delivery_tip').text('').css('display','none');
      submit_btn.button('loading');
      var postData = {agreement_id:agreement_id,delivery_type:delivery_type_str,last_purchase_num:last_purchase_num,margin_apply_num:margin_apply_num,margin_unit_price:margin_unit_price};
      $.ajax({
        url: "{{ url('account/product_quotes/futures/selectDelivery') }}",
        type: 'post',
        data: postData,
        dataType: 'json',
        success: function (json) {
          if(json['code']){
            $.toast({
              heading: false,
              text: json['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'success',
              hideAfter: 5000,
              allowToastClose: false,
              loader: false
            });
            setTimeout(function () {
              window.location.href = futures_bid_list;
            }, 5000);
          }else {
            $.toast({
              heading: false,
              text: json['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'error',
              hideAfter: 5000,
              allowToastClose: false,
              loader: false
            });
            submit_btn.button('reset');
          }
        }
      });
      submit_btn.button('reset');
    }
  }

  //封装一个限制字数方法
  var checkStrLengths = function (str, maxLength) {
    var maxLength = maxLength;
    var result = 0;
    result = str.length;
    return result;
  };

  //监听输入
  $("#input_futures_message").on('input propertychange', function () {

    //获取输入内容
    var userDesc = $(this).val();

    //判断字数
    var len;
    if (userDesc) {
      len = checkStrLengths(userDesc, 2000);
      $('#error_futures_message').css('display','none');
    } else {
      len = 0
    }
    //显示字数
    $("#countStr").html(len + '/2000');

    if (len > 2000) {
      $("#countStr").addClass('red');
    } else {
      $("#countStr").removeClass('red');
    }
  });

  //滑动抽屉
  $("#checkFutureType").on("click",function () {
    if ($(this).is(":checked")) {
      $("#checkFutureTypeCon").show();
    } else {
      $("#checkFutureTypeCon").hide();
    }
  });
  $("#checkMarginType").on("click",function () {
    if ($(this).is(":checked")) {
      $("#checkMarginTypeCon").show();
      $(this).parent().removeClass("borderbc");
    } else {
      $("#checkMarginTypeCon").hide();
      $(this).parent().addClass("borderbc");
    }
  })
</script>
{{footer}}
