<style>
  .title span{
    float: right;
  }
  .btn-recharge{
    box-shadow: 0 0 6px #666;
    background-color: #fce7c8;
    padding: 3px 12px;
    font-weight: initial;
    font-size: 13px;
  }
</style>
<div class="account-balance-wrapper">
  <ul>
    <li>
      <i class="giga icon-income"></i> {{ line_of_credit }} <span class="caret"></span>
      <div class="menu-pop-up">
        <div class="title">
          CURRENT MONTH'S ACCOUNT BALANCE
          <span><a href="{{ showDetail }}" style="color: #7f7f7f">Details></a></span>
        </div>
        <div class="list">
          <p><span class="left">Credit History</span><span class="right color-green"><span class="currency-icon">{{ recharge3 }}</span>{{ recharge1 }}{{ recharge2 }}</span></p>
          <p><span class="left">Payment History</span><span class="right"><span class="currency-icon">{{ amount3 }}</span>{{ amount1 }}{{ amount2 }}</span></p>
        </div>
        <div class="menu-pop-bottom">
          <div class="placeholder-div"></div>
          <div>
{#            <span data-toggle="tooltip" title="comming soon">Deposit</span>#}
{#            <span data-toggle="tooltip" title="comming soon">Withdraw</span>#}
          </div>
        <span><a class="btn btn-recharge" href="">Recharge</a></span>
        </div>
      </div>
    </li>
    {#<li><span class="corner-mark">2</span><i class="giga icon-inbox"></i> $1212</li>#}
  </ul>
</div>


<script>
  function showDetails() {
    location = 'index.php?route=customerpartner/creditline_amendment_record/showDetails';
  }
</script>

