{% if module_marketplace_status is defined and module_marketplace_status %}
    <style>
        ul.wk li a {
            color: #000;
            padding: 5px;
        }

        .open > .dropdown-menu.wk {
            right: auto;
        }

        header {
            z-index: 99 !important;
        }

        header .links .wk a {
            display: block;
            text-align: left;
        }
    </style>
    <li class="dropdown">
        <a href="{{ menusell }}" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-users"></i>
          <span class="hidden-xs hidden-sm hidden-md">{{ text_sell_header }}
            {% if wk_contact_total is defined and wk_contact_total > 0 %}
              <span class="header-badge-dot"></span>
            {% endif %}
          </span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            {% if logged and chkIsPartner and marketplace_seller_mode is defined and marketplace_seller_mode %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'profile' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_profile }}">{{ text_my_profile }}</a></li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'dashboard' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_dashboard }}">{{ text_dashboard }}</a></li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'orderhistory' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_orderhistory }}">{{ text_orderhistory }}</a></li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'transaction' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_transaction }}">{{ text_transaction }}</a></li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'productlist' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_productlist }}">{{ text_productlist }}</a></li>
                {% endif %}

                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'addproduct' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_addproduct }}">{{ text_addproduct }}</a></li>
                {% endif %}

                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'product_options' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_product_attribute_management }}">{{ text_product_attribute_management }}</a></li>
                {% endif %}

                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'downloads' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_download }}">{{ text_download }}</a></li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'manageshipping' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_add_shipping_mod }}">{{ text_wkshipping }}</a></li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'asktoadmin' in marketplace_allowed_account_menu %}
                    <li><a id="ask-to-admin" data-toggle="modal"
                           data-target="#myModal-seller-mail">{{ text_ask_admin }}</a></li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'information' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_information }}">{{ text_information }}</a></li>
                {% endif %}

                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'category' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_category }}">{{ text_category }}</a></li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'review' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_review }}">{{ text_review }}</a></li>
                {% endif %}
              {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'product_review' in marketplace_allowed_account_menu %}
                <li><a href="{{ product_review }}">{{ text_product_review }}</a></li>
              {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'buyers' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_buyers }}">{{ text_buyers }}</a></li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'brand' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_brands }}">{{ text_brand_center }}</a></li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'product_manage' in marketplace_allowed_account_menu %}
                    <li><a href="{{ mp_product_manage }}">{{text_product_manage }}</a></li>
                {% endif %}
              {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'delicacy_management' in marketplace_allowed_account_menu %}
                <li><a href="{{ mp_delicacy_management }}">{{ text_delicacy_management }}</a></li>
              {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'wk_communication' in marketplace_allowed_account_menu %}
                    <li>
                      <a href="{{ mp_communication }}">
                        {{ text_communication }}
                        {% if wk_contact_total is defined and wk_contact_total > 0 %}
                          <span class="badge communication_count">{{ wk_contact_total }}</span>
                        {% endif %}
                      </a>
                    </li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'rma_management' in marketplace_allowed_account_menu and country != 'JPN'%}
                    <li><a href="{{ mp_rma_management }}">{{ text_rma_management }}</a></li>
                {% endif %}
                {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'mp_pq' in marketplace_allowed_account_menu %}
                  {% if quote_enable %}
                    <li><a href="{{ mp_pq_add }}">{{ text_manage_quote_add }}</a></li>
                  {% endif %}
                    <li><a href="{{ mp_pq_list }}">{{ text_manage_quote_list }}</a></li>
                {% endif %}
              {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'mp_market_business' in marketplace_allowed_account_menu %}
              <li><a href="{{ mp_market_business }}">{{ text_market_business }}</a></li>
              {% endif %}
              {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and 'mp_rebates' in marketplace_allowed_account_menu %}
                <li><a href="{{ mp_rebates }}">{{ text_rebates }}</a></li>
              {% endif %}
                <li role="presentation" class="divider"></li>
                {% if separate_view is defined and separate_view %}
                    <li><a href="{{ separate_view }}">{{ text_separate_view }}</a></li>
                {% endif %}
            {% endif %}
            {#<li><a href="{{ menusell }}">{{ text_sell_header }}</a></li>#}
        </ul>
    </li>
{% endif %}
