{{ this.title('Sales and Purchase Agreement Details') }}
{{ this.params('breadcrumbs', [
  'home',
  {
    text: 'Sales and Purchase Agreement',
    href: url('account/tripartite_agreement'),
  },
  'current'
]) }}
{{ this.params('pageTitle', {show: true}) }}
{{ css(['css/common/common.css','css/common/common-ext.css','static/account/tripartite_agreement/seller_agreement_common.css','static/account/tripartite_agreement/detail.css']) }}
{{ js(['js/common/toolString.js', 'js/common/orisComponents.js']) }}
{{ cssOrigin([ 'catalog/view/javascript/datetimepicker/css/bootstrap-datetimepicker.min.css']) }}
{{ jsOrigin(['catalog/view/javascript/datetimepicker/bootstrap-datetimepicker.min.js']) }}                                 
<div id="agreement-detail-box agreement_detail_box" class="agreement-box">
  <div class="agreement-box-content">
    <div class="agreement-box-top">
      <div class="agreement-header">
        <div class="agreement-title">{{title}}</div>
        <a target="_blank"  href="{{ url('account/tripartite_agreement/downloadFile',{'agreement_id':id}) }}" class="agreement-down-btn"><i class="giga icon-xiazaixin-01 m6-r"></i><span class="download-text">Download</span></a>
      </div>
    </div>
    <div class="agreement-box-bottom">
      <div class="agreement-container">
        <div class="agreement-container-content">
          {{ content }}
          {% if status == 20 or status == 15 %}
          <span class="agreement-icon color-e6">
            <i class="giga icon-yiqianyue-01"></i>
          </span>
          {% endif %}
        </div>  
        {# 已签约图标 #}
        <div class="fixed-btn buyer-fixed-btn fix-footer " id="fixed-group-btn">
          <a class="oris-button oris-button-default oris-button-bigger m10-t text-size-normal" href="{{ url('account/tripartite_agreement') }}">Back</a>
          <!--取消-->
          {% if can_tripartite_cancel == true %}
          <a class="oris-button oris-button-default oris-button-bigger m10-l m10-t text-size-normal" id="cancel_agreement">Cancel the Agreement</a>
          {% endif %}
      
          {% if can_tripartite_delete == true %}
          <a class="oris-button oris-button-default oris-button-bigger m10-l m10-t text-size-normal" id="delete_agreement">Delete the Agreement</a>
          {% endif %}
      
          {#续签 协议中都能续签#}
          {% if status == 20 %}
          <a class="oris-button oris-button-bigger m10-l m10-t text-size-normal"  href="{{ url('account/tripartite_agreement/create',{'agreement_id':id,'renew':1}) }}">Renew the Agreement</a>
          {% endif %}
      
          {#提前终止#}
          {% if can_tripartite_terminate == true %}
          <a class="oris-button oris-button-bigger m10-l m10-t text-size-normal" id='termination_agreement'>Terminate the Agreement</a>
          {% endif %}
      
          {% if can_tripartite_edit == true %}
          <a class="oris-button oris-button-bigger m10-l m10-t text-size-normal" href="{{ url('account/tripartite_agreement/create',{'agreement_id':id}) }}">Edit the Agreement</a>
          {% endif %}
      
          {% if can_tripartite_handle == true %}
          <a class="oris-button oris-button-bigger to_deal_with_btn m10-l m10-t text-size-normal text-center">Process&nbsp;></a>
          {% endif %}
      
        </div>
      </div>
      <div class="agreement-msg">
        <div class="agreement-status">
          <!--待处理-->
          {% if status == 1 %}
          <div class="status-text">
            <i class="giga icon-quchuli-01 mr-octal1 text-bigger color-28"></i><span class="status-text-value color-4b">Process Pending</span>
          </div>
          <!--已取消-->
          {% elseif status == 5 %}
          <!--已取消-->
          <div  {% if not (request_seller_record and request_seller_record.type ==2) %}  class="status-text" {% endif %}>
            <i class="giga icon-v10quxiao-01 mr-octal1 text-bigger color-99"></i><span class="status-text-value color-99">Canceled</span>
          </div>
          <!--END-->

          {% elseif status == 10 %}
          <!--拒绝-->
          <div class="status-text">
            <i class="giga icon-V10_Sellerhoutai_tishishixin mr-octal1 text-bigger color-e6"></i><span class="status-text-value color-e6">Refused</span>
            <div class="reason-box">
              <div class="triangle"></div>
              <div class="reason-header">
                Reasons for Refusal:
              </div>
              <div class="reason-content">
                {{ recordsSort[3][0].message }}
              </div>
            </div>
          </div>
          <!--END-->

          {% elseif status == 15 %}
          <!--待生效-->
          <div  {% if not (request_seller_record and (request_seller_record.type == 1 or request_seller_record.type == 2)) %} class="status-text" {% endif %}>
            <i class="giga icon-dengdai mr-octal1 text-bigger color-f6"></i><span class="status-text-value color-f6">To Be Effective</span>

            {% if expire_time != terminate_time  %}
              <span class="early-termination color-e6 m8-t line-height15">Early termination</span>
              <div class="reason-box">
                <div class="triangle"></div>
                <div class="reason-header">
                  Early termination time:
                </div>
                <div class="early-termination color-33">
                  {{terminate_time|formatZone(country,null,'Y-m-d')  }}
                </div>
              </div>
            {% endif %}

          </div>
          <!--已生效-->

          {% elseif status == 20 %}
          <div  {% if not (request_seller_record or (expire_time != terminate_time)) %} class="status-text" {% endif %}>
            <i class="giga icon-shijian mr-octal1 text-bigger color-oa"></i><span class="status-text-value color-oa">Active</span>
            {% if seven_remind > 0 %}
            <span class="due-day">Due in {{ seven_remind}} days</span>
            {% endif %}

            {% if expire_time != terminate_time  %}
              <span class="early-termination color-e6 m8-t line-height15">Early termination</span>
              <div class="reason-box">
                <div class="triangle"></div>
                <div class="reason-header">
                  Early termination time:
                </div>
                <div class="early-termination color-33">
                  {{terminate_time|formatZone(country,null,'Y-m-d')  }}
                </div>
              </div>
            {% endif %}

          </div>
          {% endif %}
          <!--END-->


          <!--已终止-->
          {% if status == 25 %}
            <div class="status-text">
                <i class="giga icon-jinzhi mr-octal1 text-bigger color-99"></i><span class="status-text-value color-99">Terminated</span>
              {% if expire_time != terminate_time  %}
                <span class="early-termination color-e6 m8-t line-height15">Early termination</span>
                <div class="reason-box">
                  <div class="triangle"></div>
                  <div class="reason-header">
                    Early termination time:
                  </div>
                  <div class="early-termination color-33">
                    {{terminate_time|formatZone(country,null,'Y-m-d')  }}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
          <!--END-->

          <!--seller 提前终止 取消或者终止-->
          {% if request_seller_record%}
          <div class="status-text">
{#           <i class="giga icon-shijian mr-octal1 text-bigger color-oa"></i>#}
{#            <span class="status-text-value color-oa">Active</span>#}
            {% if request_seller_record.type == 1 %}
            <span class="early-termination color-e6 m8-t line-height15">Seller termination request</span>
            {% elseif  request_seller_record.type == 2 %}
            <span class="early-termination color-e6 m8-t line-height15">Seller cancellation request</span>
            {% endif %}
            <div class="reason-box">
              <div class="triangle"></div>
              {% if request_seller_record.type == 1 %}
              <div class="reason-header">                
                Termination Time:
              </div>
              <div class="early-termination color-33">
                  {{request_seller_record['request_time']|formatZone(country,null,'Y-m-d')  }}
              </div>
              {% endif %}
              <div class="reason-header {% if request_seller_record.type == 1 %} m8-t {% endif %}">                              
                Reasons for {% if request_seller_record.type == 1%}Termination:{% endif %}{% if request_seller_record.type == 2%}Cancellation:{% endif %}
              </div>
              <div class="early-termination color-33">
                {{request_seller_record['reason']  }}
              </div>
              <div class="to-deal-with color-33 to_deal_with_btn text-center">Process&nbsp;></div>
            </div>
          </div>
          {% endif %}
          <!--END--> 

          <div class="status-msg">
            <div class="flex-layout m16-b flex-wrap">
              <span class="oris-circle oris-bg-info padding2 color-dc"></span>
              <span class="status-title">Agreement Validity:<i class="giga icon-V10-wenhaotishi m8-l ver-middle" data-toggle="tooltip" title="Local Time"></i></span>
              <div class="status-value">{{ effect_time|formatZone(country,null,'Y-m-d') }} - {{ expire_time|formatZone(country,null,'Y-m-d')  }}</div>
            </div>
            <div class="flex-layout m16-b flex-wrap">
              <span class="oris-circle oris-bg-info padding2 color-dc" style="margin-bottom: 0px;"></span>
              <span class="status-title">Agreement Seller:</span>
              <div class="status-value">{{ seller.screenname}}</div>
            </div>
          </div>
        </div>


        {% if records %}
        <div class="agreement-history">
          <div class="agreement-history-header m16-b">Agreement Records</div>
          <div class="agreement-history-box">
            {% for k,records_val in records %}
              <div class="agreement-history-item">
                <div class="flex-layout flex-wrap">
                <span class="radius13">
                  <span class="oris-circle oris-bg-default margin0 padding4 color-b"></span>
                </span>
                  <span class="agreement-history-time">{{ records_val.create_time }}</span>
                  <div class="agreement-history-msg">
                    <div><span class="name">{{ records_val.customer_name }}:</span><span class="msg-value">{{ records_val.type_name }}</span></div>
                    {% if records_val.message %}
                    <div class="m8-t"><span class="name color-99">Comments:</span><span class="msg-value display-inline">{{ records_val.message }}</span></div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}

      </div>
    </div>        
  </div>        
  <!--To-deal-with-->
  <div class="modal fade in oris-modal" tabindex="-1" role="dialog" id="to_deal_with_modal" data-backdrop="static">
    <div class="modal-dialog  oris-buyer h-v-center" id="to_deal_with_modal_dialog">

      {% if can_tripartite_handle == true %}

      <div class="modal-content" style="width: 640px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="giga icon-V10_danchuangguanbi close-icon"></i>
        </button>
          <!--seller 申请提前终止-->
          {% if request_seller_record.type == 1 %}
          <h4 class="modal-title">Seller's requests for terminating the Sales and Purchase Agreement </h4>
          {% elseif  request_seller_record.type == 2 %}
          <!--seller 申请取消-->
          <h4 class="modal-title">Seller's requests for cancelling the Sales and Purchase Agreement</h4>
          {% endif %}

        </div>
        <div class="modal-body">

          {% if request_seller_record.type == 1 %}
            <!--seller 申请提前终止-->
            <div class="checkbox check-text">
              <span class="m24-r">Result</span>
              <div>
                <input type="radio" name="delivery_type170" value="1" class="oris-radio-mini modal-input">Agree to terminate the agreement
              </div>
              <div class="m30-l"><input type="radio" name="delivery_type170" value="2" class="oris-radio-mini modal-input">Refuse to terminate the agreement</div>
            </div>
            <!--END-->

          {% elseif  request_seller_record.type == 2 %}
            <!--待生效 seller 申请取消-->
            <div class="checkbox check-text">
              <span class="m24-r">Result</span>
              <div>
                <input type="radio" name="delivery_type170" value="1"  class="oris-radio-mini modal-input">Agree to cancel the agreement
              </div>
              <div class="m30-l"><input type="radio" name="delivery_type170" value="2" class="oris-radio-mini modal-input">Refuse to cancel the agreement</div>
            </div>
            <!--END-->
            {% endif %}
            <!--error-msg-->
            <div class="error-msg">Please select a result</div>
            <div class="oris-comments check-msg-box m20-t">
              <div><span class="color-e6 m5-r required-hint">*</span>Comments</div>
              <textarea name="" id="to-deal-width-text"  class="application countInput oris-input check-textarea m6-t" autoheight="true" maxlength="500" placeholder="Please enter your comments to Seller" data-countid="maxCount"></textarea>
              <span class="letter-count"><span id="maxCount" class="link-color">0</span>/500</span> 
            </div>
            <span class="check-hint">The result will be 'Refused' by default if this request is not processed within <span class="ml-04">{{ cancel_handle_request_remain_time[0] }}</span>d<span class="ml-04">{{ cancel_handle_request_remain_time[1] }}</span>h<span class="ml-04">{{ cancel_handle_request_remain_time[2] }}</span>m.</span>

        </div>
        <div class="modal-footer border-none"> 
          <div class="text-right">
            <button type="button" class="oris-button oris-button-default" data-dismiss="modal">Cancel
            </button>
            <button type="button" class="oris-button" id="submit-agreement-result">Submit
            </button>  
          </div>
        </div>
      </div>

      {% endif %}

    </div>
  </div>
  <!--END-->
  <!--取消协议-->
  <div class="modal fade in oris-modal" tabindex="-1" role="dialog" id="cancale_agreement_modal" data-backdrop="static">
    <div class="modal-dialog oris-buyer h-v-center" id="cancale_agreement_modal_modal_dialog">
      <div class="modal-content" style="width: 640px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="giga icon-V10_danchuangguanbi close-icon"></i>
        </button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">
            <div class="cancel_hint">
              Do you confirm to initiate the request to cancel this agreement?
            </div>
            <div class="oris-comments check-msg-box m20-t">
              <div><span class="color-e6 m5-r required-hint">*</span>Reasons for Cancellation</div>
              <textarea name=""  id="cancel-text" class="application countInput oris-input check-textarea m6-t" autoheight="true" maxlength="500" placeholder="Please enter the Reason for Cancellation" data-countid="cancelLen"></textarea>
              <span class="letter-count"><span id="cancelLen" class="link-color">0</span>/500</span> 
            </div>
            <span class="check-hint">Your cancellation request will be canceled automatically by the system if it is not processed by Seller before the agreement starts; and the request will be refused automatically if not processed by Seller within 7 days.</span>
        </div>
        <div class="modal-footer border-none"> 
          <div class="text-right">
            <button type="button" class="oris-button oris-button-default" data-dismiss="modal">Cancel
            </button>
            <button type="button" class="oris-button" id="submit-cancel">Ok</button>  
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END-->
  <!--协议中2天到期-->
  <div class="modal fade in oris-modal" tabindex="-1" role="dialog" id="pendding_agreement_modal" data-backdrop="static">
    <div class="modal-dialog oris-buyer h-v-center" id="pendding_agreement_modal_modal_modal_dialog">
      <div class="modal-content" style="width: 640px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="giga icon-V10_danchuangguanbi close-icon"></i>
          </button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">
          <div>
            <div><span class="color-e6 m5-r required-hint">*</span>Termination Time</div>
            <div class="oris-ingroup action-clear m6-t">
              <input type="text" name="filter_margin_date_to" value="" id='input_agreement_date_to' placeholder="Please enter the Termination Time" id="input_margin_date_to" class="oris-input" autocomplete="off" readonly="">
              <i class="giga icon-v10quxiao-01 oris-clear oris-clear-show"></i>
            </div>
          </div>
          <div class="oris-comments check-msg-box m20-t">
            <div><span class="color-e6 m5-r required-hint">*</span>Reasons for Termination</div>
            <textarea name="" id="termination-text" class="application countInput oris-input check-textarea m6-t" autoheight="true" maxlength="500" data-countid="addLen"
              placeholder="Please enter the Reason for Termination"></textarea>
            <span class="letter-count"><span id="addLen" class="link-color">0</span>/500</span>
          </div>
          <span class="check-hint">Your termination request will be canceled automatically by the system if it is not processed by Seller before termination time; and the request will be refused automatically if not processed by Seller within 7 days.</span>
        </div>
        <div class="modal-footer border-none">
          <div class="text-right">
            <button type="button" class="oris-button oris-button-default" data-dismiss="modal">Cancel
            </button>
            <button type="button" class="oris-button" id="submit-termination-agreement">Ok
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END-->
</div>
<script type="text/javascript">
$(function(){
  //协议期限
  for (var num = 1; num <= 2; num++) {
      num = num < 10 ? "0" + num : num + "";
      var dateVal = $(".agreement-container-content").find(".AgreementValidity" + num).html();
      var AgreementDate = `<input class="AgreementDate-input text-input date-form" type="text" disabled value="${dateVal}" >`
      $(".agreement-container-content").find(".AgreementValidity" + num).html(AgreementDate);
    }
    //普通参数
    var writeKeywords ={{ replace_value_input|js_json }};
    for(i=0;i<writeKeywords.length;i++){
      var className = writeKeywords[i];
      val = $(".agreement-container-content").find('.'+className).html() || '';
      var parameter = `<input class="parameter-input text-input" type="text"  disabled value="${val}" data-key="${className}">`
      $(".agreement-container-content").find('.' +className ).html(parameter);
    }

  //定义后台模板输出
  var can_tripartite_cancel ={{can_tripartite_cancel|js_var}}
  var status ={{ status|js_var }}
  
  //时间选择器
  $('#input_agreement_date_to').datetimepicker({
    container:'#pendding_agreement_modal .modal-content',
    minView:2,
    autoclose: true,
    pickDate: true,
    pickTime: false,
    format: 'yyyy-mm-dd',
    startDate: moment({{ current_time > effect_time ? current_time|js_var : effect_time|js_var  }}).format('YYYY-MM-DD'),
    endDate: moment({{ expire_time | js_var }}).add(-1, 'days').format('YYYY-MM-DD'),
  });
  //吸底
  buyerAgreementClass.scrollFooter();
  $('.to_deal_with_btn').on('click', function () {
    $('.countInput').val('');
    $('#maxCount').text(0);
    $('.error-msg').css('display','none');
    var checklist=$('.checkbox input[name=delivery_type170]'); //默认不选中
    for(var i=0;i<checklist.length;i++){
      checklist[i].checked=false;
    }
    $('.check-textarea').removeClass('border-color-error');
    $('#to_deal_with_modal').modal('show');
  })  
  //取消
  $('#cancel_agreement').on('click',function(){
    $('.countInput').val('');
    $('#cancelLen').text(0);
    //不同状态不模态框

    if(can_tripartite_cancel === true && status!==15){ //直接取消
      var deleteA = layer.confirm('Do you want to cancel the agreement?', {
      title: 'Confirm',
      skin: 'oris-layer',
      btn: ['OK', 'Cancel'] //按钮
    }, function (lay_index) {
      layer.close(lay_index);
        var msg={
        agreement_id:{{id| js_var}},
        reason:null,
          status:status,
      }
      buyerAgreementClass.submitCancelService(msg);
    });
    }else{
      $('.check-textarea').removeClass('border-color-error');
      $('#cancale_agreement_modal').modal('show')
    } 
  })
  //终止
  $('#termination_agreement').on('click',function(){
    $('#input_agreement_date_to').val('');
    $('.countInput').val('');
    $('#addLen').text(0);
    $('#input_agreement_date_to').removeClass('border-color-error');
    $('.check-textarea').removeClass('border-color-error');
    $('#pendding_agreement_modal').modal('show')
  })
  //监听输入
  $(".countInput").on('input propertychange', function () {
    var flagId = $(this).attr('data-countid');
    var userDesc = $(this).val();
    var strValue = toolString.calcStringLength(userDesc, 500);
    $("#" + flagId).html(strValue.len);
    $(this).val(strValue.fullStr);
  });
  //时间校验
  $('.oris-clear').on('click',function(){
      $('#input_agreement_date_to').val('');
      $('#input_agreement_date_to').addClass('border-color-error');
    })
    //输入框失焦验证
    $('.oris-input').on('change',function(){
      if($(this).val() == ''){
        $(this).addClass('border-color-error');
      }else{
        $(this).removeClass('border-color-error');
      }
    });
    //单选框监听
    $('.checkbox input[name=delivery_type170]').on('change',function(){
      var checkValue =$('.checkbox input[name=delivery_type170]:checked').val();
      if(checkValue){
        $('.error-msg').css('display','none');
      }else{
        $('.error-msg').css('display','block');
      }
    })
  //确认取消
  $('#submit-cancel').on('click', function () {
    var flag = buyerAgreementClass.doValidatorText('cancel-text');
    if (!flag) {
      return;
    }
    var cancelText=$('#cancel-text').val();
    var msg={
      agreement_id:{{id| js_var}},
      reason:cancelText,
      status:status,
    }
    buyerAgreementClass.submitCancelService(msg);
  })
  //提前终止
  $('#submit-termination-agreement').on('click', function () {
    var flag = buyerAgreementClass.doValidatorMultiple();
    if (!flag) {
      return;
    }
    var msg={
      terminate_time:$('#input_agreement_date_to').val()+' 23:59:59',
      reason:$('#termination-text').val(),
      agreement_id:{{id| js_var}},
    }
    buyerAgreementClass.submitTerminationService(msg);
  })
  //删除
  $('#delete_agreement').on('click',function(){
    var deleteA = layer.confirm('Do you want to delete this agreement?', {
      title: 'Confirm',
      skin: 'oris-layer',
      btn: ['OK', 'Cancel'] //按钮
    }, function (lay_index) {
      layer.close(lay_index);
      buyerAgreementClass.submitDeleteService();
    });
  })
  //其他
  $('#submit-agreement-result').on('click', function () {
    var flag=buyerAgreementClass.doSubmitValidfunction();
    if (!flag) {
      return;
    }
    var reson =$('#to-deal-width-text').val();
    var checkboxValue= $('.checkbox input[name=delivery_type170]:checked').val();
    //参数
    var msg={
      request_id:{{request_seller_record.id | js_var}},
      handle:{{ request_seller_record.type | js_var}},
      handle_type:Number(checkboxValue),
      agreement_id:{{id| js_var}},
      reason:reson
    }
    buyerAgreementClass.submitAgreementResultService(msg);
  })
})
var buyerAgreementClass = {
    //吸底
    scrollFooter:function(){
      let checkTop = $("footer").offset()['top'];
      let winHeight = $(window).height();
      let allHeight = $(document).height();
      $(window).scroll(function () {
        //scrollTop就是触发滚轮事件时滚轮的高度
        let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;     
        if (winHeight + scrollTop < checkTop) {
          $("#fixed-group-btn").addClass('fix-footer');
        } else {
          $("#fixed-group-btn").removeClass('fix-footer');
        }
      })
    },
    //校验规则
    doValidatorText: function (curId) {
      var countInput = $('#' + curId).val();
      if (countInput == '') {
        $('#' + curId).addClass('border-color-error');
        return false;
      } else {
        return true;
      }
    },
    //校验单选必填
    radioValid: function () {
      var checkValue = $('.checkbox input[name=delivery_type170]:checked').val();
      if (checkValue) {
        return true;
      } else {
        $('.error-msg').css('display', 'block');
        return false;
      }
    },
    //buyer 处理seller 申请校验
    doSubmitValidfunction:function(){
      var result1=false;
      var result2=false;
      result1=this.radioValid();
      result2=this.doValidatorText('to-deal-width-text');
      if(!result1 || !result2){
        return false;
      }else{
        return true;
      }    
    },
    //校验日期
    doValidatorDate: function () {
      var inputDate = $('#input_agreement_date_to').val();
      if (inputDate == '') {
        $('#input_agreement_date_to').addClass('border-color-error');
        return false;
      } else {
        return true;
      }
    },
    //多个字段校验
    doValidatorMultiple: function () {
      var result1 = false;
      var result2 = false;
      result1 = this.doValidatorDate();
      result2 = this.doValidatorText('termination-text');
      if (!result1 || !result2) {
        return false;
      } else {
        return true;
      }
    },
    //确认取消
    submitCancelService: function (msg) {
      $.ajax({
        url: '{{ url('account/tripartite_agreement/cancel') }}',
        data: msg,
        method: 'post',
        cache: false,
        dataType: 'json',
        beforeSend: function() {
          block.blockUI();
        },
        success: function (res) {
          $('#cancale_agreement_modal').modal('hide');
          var msgDiv = '<div class="success"><i class="giga icon-complete"></i>' + res['msg'] + '<div>';
          if (res['code'] == 200) {
            location.reload();
            $.toast({
              heading: false,
              text: res['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'success',
              hideAfter: 3000,
              allowToastClose: false,
              loader: false
            });
          } else {
            $.toast({
              heading: false,
              text: res['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'error',
              hideAfter: 3000,
              allowToastClose: false,
              loader: false
            });
          }  
          block.unBlockUI();
        },
        error: function (xhr, ajaxOptions, thrownError) {
          block.unBlockUI();
          console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      })
    },
    //删除
    submitDeleteService:function(){
      $.ajax({
        url: '{{ url('account/tripartite_agreement/delete') }}',
        data: { 'agreement_id':{{id| js_var}}},
        method: 'post',
        cache: false,
        dataType: 'json',
        beforeSend: function() {
          block.blockUI();
        },
        success: function (res) {
          var msgDiv = '<div class="success"><i class="giga icon-complete"></i>' + res['msg'] + '<div>';
          if (res['code'] == 200) {
            location.reload();
            $.toast({
              heading: false,
              text: res['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'success',
              hideAfter: 3000,
              allowToastClose: false,
              loader: false
            });
          } else {
            $.toast({
              heading: false,
              text: res['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'error',
              hideAfter: 3000,
              allowToastClose: false,
              loader: false
            });
          }   
          block.unBlockUI(); 
        },
        error: function (xhr, ajaxOptions, thrownError) {
          block.unBlockUI();
          console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      })
    },
    //提前终止
    submitTerminationService: function (msg) {
      $.ajax({
        url: '{{ url('account/tripartite_agreement/termination') }}',
        data: msg,
        method: 'post',
        cache: false,
        dataType: 'json',
        beforeSend: function() {
          $("#submit-termination-agreement").attr('disabled','disabled');
          block.blockUI();
        },
        complete: function() {
          $("#submit-termination-agreement").removeAttr('disabled');
        },
        success: function (res) { 
          $('#pendding_agreement_modal').modal('hide');
          var msgDiv = '<div class="success"><i class="giga icon-complete"></i>' + res['msg'] + '<div>';
          if (res['code'] == 200) {
            location.reload();
            $.toast({
              heading: false,
              text: res['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'success',
              hideAfter: 3000,
              allowToastClose: false,
              loader: false
            });
          } else {
            $.toast({
              heading: false,
              text: res['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'error',
              hideAfter: 3000,
              allowToastClose: false,
              loader: false
            });
          }
          block.unBlockUI(); 
        },
        error: function (xhr, ajaxOptions, thrownError) {
          block.unBlockUI(); 
          console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      })
    },
    //其他处理
    submitAgreementResultService: function (msg) {
      $.ajax({
        url: '{{ url('account/tripartite_agreement/review') }}',
        data: msg,
        method: 'post',
        cache: false,
        dataType: 'json',
        beforeSend: function() {
          $('#submit-agreement-result').attr('disabled','disabled');
          block.blockUI();
        },
        complete: function() {
          $("#submit-agreement-result").removeAttr('disabled');
        },
        success: function (res) {
          $('#to_deal_with_modal').modal('hide');
          var msgDiv = '<div class="success"><i class="giga icon-complete"></i>' + res['msg'] + '<div>';
          if (res['code'] == 200) {
            location.reload();
            $.toast({
              heading: false,
              text: res['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'success',
              hideAfter: 3000,
              allowToastClose: false,
              loader: false
            });
          } else {
            $.toast({
              heading: false,
              text: res['msg'],
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'error',
              hideAfter: 3000,
              allowToastClose: false,
              loader: false
            });
          }   
          block.unBlockUI();
        },
        error: function (xhr, ajaxOptions, thrownError) {
          block.unBlockUI();
          console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      })
    },
  }  
</script>
