{{ header }}
{{ separate_column_left }}
<style>
  p {
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  div[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .detail-main {
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #c4cad5;
    box-shadow: 0px 4px 10px 2px #c4cad5;
    margin-bottom: 40px;
  }

  .title {
    font-size: 16px;
    color: #183464;
    padding: 10px;
    margin-top: 10px;
    font-weight: bolder;
  }

  .detail-item {
    border-radius: 4px;
    border: 1px solid #c4cad5;
    padding: 10px;
  }
  .prompt:hover{
    color: #fff;
  }
  .my-label {
    color: #c9c9c9;
  }

  .my-color {
    color: #027DB4;
  }

  .tip-left {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #027DB4;
    border-radius: 50%;
  }

  .comment-con {
    border-radius: 4px;
    border: 1px solid #c4cad5;
    background: #eee;
    height: 90px;
    padding: 10px;
    margin-left: 10px;
    word-break: break-all;
    overflow: auto;
  }

  .my-border-right {
    border-right: 1px solid #c4cad5;
  }

  .fl {
    float: left;
  }

  .my-height {
    overflow: hidden;
  }

  .red {
    color: #ff0000;
    display: inline-block;
    min-height: 18px;
  }

  .green {
    color: green;
    display: inline-block;
    min-height: 18px;
  }

  .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .time-icon {
    padding: 0 10px;
  }

  .message-content {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #c4cad5;
  }

  .buyer-msg .msg-con p {
    text-align: right;
    padding-right: 10px;
  }


  .btns {
    margin: 15px 0;
  }
  .form-group .control-label{
    color:#545454;
  }
  .promise {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .promise-check {
    margin-top: 0 !important;
    margin-right: 2px !important;

  }

  .form-group-inner {
    width: 80%;
    margin-left: 10%;
  }

  .sub-title {
    background: #eee;
    border-radius: 4px;
    border: 1px solid #c4cad5;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;

  }

  .pl10 {
    padding-left: 10px;
  }

  .p10 {
    padding: 0 10px;
  }

  .type-form-info {
    border-radius: 4px;
    border: 1px solid #c4cad5;
    padding: 15px 0;
  }

  .check-style {
    color: #193465;
    margin-right: 4px;
  }

  .my-radio-group {
    padding-bottom: 10px;
    margin: 0 10px 10px 10px;
  }

  .my-radio-group .form-group {
    padding-top: 0;
  }

  .my-radio-group label {
    display: flex;
    align-items: center;
  }

  .my-radio-group label strong {
    margin-left: 8px;
  }

  .my-sub-title {
    margin-bottom: 10px;
    color: #0a001f;
  }

  .pay-method {
    display: none;
    border-top: 1px solid #c4cad5;
  }

  .prompt {
    background-color: #CC00FF;
    color: #fff;
    width: 15px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
  }

  .amMedthod span {
    color: #0a001f;
    margin-left: 15px;
  }

  .no-record {
    border-radius: 4px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    border: 1px solid #b9b9b9;
  }
  .count-str{
    position: absolute;
    right: 5px;
    bottom: 24px;
    color: #1e91cf
  }
  .cansub.btn-primary{
    box-shadow: none;
    height: 40px;
    line-height: 38px;
    padding: 0 13px;
  }
  .cansub.btn-primary:hover{
    background-color: #2d57a9;
  }
  .yzc_layer .layui-layer-ico{
    background: none;
  }
  .yzc_layer .layui-layer-close.layui-layer-close1:after{
    content: "\e6b4";
    font-family: 'giga';
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn0{
    border-color: #3A75DC;
    background-color: #3A75DC;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn0:hover{
    background-color: #2d57a9;
    opacity: 1;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn1{
    color: #3A75DC;
  }
  .yzc_layer .layui-layer-btn .layui-layer-btn1:hover{
    background-color: #3A75DC;
    color: #fff;
    opacity: 1;
  }
  .yzc_layer .layui-layer-content{
    text-align: left;
  }
</style>
<script type="text/javascript" src="/catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<link  href="/catalog/view/javascript/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" >
<link  href="/catalog/view/javascript/user_portrait/user_portrait.css" rel="stylesheet" media="screen" >
<script type="text/javascript" src="/catalog/view/javascript/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="catalog/view/javascript/user_portrait/user_portrait.js?v={{ app_version }}" charset="UTF-8"></script>
<div class="container-fluid" id="content" style="margin-left: 15%">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  <h1>Future Goods Details of {{ agreement.agreement_no }}</h1>
  <div class="detail-main bg-white p-2">
    <div class="basic">
      <div class="title">Future Goods Agreement Details</div>
      <div class="row detail-item ">
        <div class="col-sm-6 my-border-right">
          <div class="col-sm-6 my-border-right">
            <p>
              <span class="my-label">Agreement ID:</span>
              <span>{{ agreement.agreement_no }}</span>
            </p>
            <p>
              <span class="my-label">Name:</span>
              <span class="my-color">
                <span class="user_portrait"  data-user_customer_id="{{agreement.buyer_id}}" >
                {{ buyer.username }}
                {% if  buyer.user_number %}
                  ({{ buyer.user_number }})
                {% endif %}
              </span>
            </p>
            <p>
              <span class="my-label">Item Code:</span>
              <span class="my-color"><a href="index.php?route=product/product&product_id={{agreement.product_id }}" target="_blank">{{ product.sku }}</a></span>
            </p>
            <p>
              <span class="my-label">Last Modified:</span>
              {% if agreement.de_update_time %}
                <span>{{ agreement.de_update_time }}</span>
              {% else %}
                <span>{{ agreement.update_time }}</span>
              {% endif %}
            </p>
            <p>
              <span class="my-label">Status:</span>
              <span>
                  {% if agreement.delivery_status==7 %}
                    <i class="fa fa-exclamation-circle" data-toggle="tooltip" style="color: sandybrown" data-original-title="" title=""></i>
                  {% endif %}
                {{ status }}
              </span>
            </p>
          </div>
          <div class="col-sm-6">
            {% set classA='green' %}
            {% set classB='green' %}
            {% if is_in_template==1 %}
              {% set classA='red' %}
              {% set classB='red' %}
            {% elseif is_in_template==2 %}
              {% set classB='red' %}
            {% endif %}
            <p>
              <i class="tip-left"></i>
              <span class="my-label">Quantity of Agreement:</span>
              <span class="{{ classA }}">{{ agreement.num }}</span>&nbsp;&nbsp;&nbsp;
            </p>
            <p>
              {% if(is_japan) %}
                {% set point=0 %}
              {% else %}
                {% set point=2 %}
              {% endif %}
              <i class="tip-left"></i>
              <span class="my-label">Unit Price of Agreement:</span>
              <span class="{{ classB }}">{{ agreement.unit_price|parsePrice(is_japan) }}</span>
            </p>
            <p>
              <i class="tip-left"></i>
              {#定金单价金额#}
              {#定金金额#}
              {% set  earnest=agreement.num*unit_earnest %}
              <span class="my-label">Agreement Deposit:</span>
              <span class="{{ classB }}">{{ earnest|parsePrice(is_japan) }} </span>
            </p>
            <p>
              <i class="tip-left"></i>
              <span class="my-label">Agreement Final Payment Unit Price:</span>
              <span class="{{ classB }}">{{ (agreement.unit_price-unit_earnest)|parsePrice(is_japan) }}</span>
            </p>
            <p>
              <i class="tip-left"></i>
              <span class="my-label">Agreement Amount:</span>
              <span class="{{ classB }}">{{ (agreement.num*agreement.unit_price)|parsePrice(is_japan) }}</span>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <p>
                <span class="my-label">Delivery Date: </span>
                <span>
                  {% if agreement.delivery_date %}
                    {{ agreement.delivery_date }}
                  {% elseif agreement.expected_delivery_date %}
                    {{ agreement.expected_delivery_date }}
                    {% if agreement.delivery_status==1 and days_tip %}
                    <a class="prompt" data-toggle="tooltip" title="" data-original-title="{{ days_tip }}">?</a>
                    {% endif %}
                  {% else %}
                    {{ agreement.min_expected_storage_days }} - {{ agreement.max_expected_storage_days }} days
                  {% endif %}
                </span>
              </p>

            </div>
            <div class="col-sm-6">
              <p>
                <span class="my-label">Contract End Date:</span>
                <span>{{ liquidation_day }} Days</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="my-label">Comments:</p>
              <p class="comment-con">
                {{ agreement.comments }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'yzcTheme/template/customerpartner/future/message.twig' %}

    {% if agreement.agreement_status in [1,2] %}
      <div class="processingResult">
        <div class="title">Processing Result</div>
        <div class="row my-radio-group">
          <div class="col-sm-6">
            <div class="form-group">
              <div class="col-sm-4">
                <label for="pending" class="radio-inline">
                  <input id="pending" type="radio" value="2" {% if agreement.agreement_status in [1,2] %} checked {% endif %}name="processResult"><strong style="text-transform: none">Pending</strong>
                </label>
              </div>
              <div class="col-sm-4">
                <label for="approved" class="radio-inline">
                  <input id="approved" type="radio" value="3" name="processResult"><strong style="text-transform: none">Approved</strong>
                </label>
              </div>
              <div class="col-sm-4">
                <label for="rejected" class="radio-inline">
                  <input id="rejected" type="radio" value="4" name="processResult"><strong style="text-transform: none">Rejected</strong>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="pay-method">
          <div class="row p10">
            <div class="col-sm-5">
              <div class="form-group ">
                <label class="control-label" for="i">Confirm delivery date</label>

                <div class="input-group date" style="display: block">
                  <input type="text" name="pre_delivery_date" id="datetimepicker" readonly value="" placeholder="" data-date="" data-date-format="yyyy-mm-dd" class="form-control date">
                  <span class="input-group-btn">
                 <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span>
                  <span id="pre_delivery_date" class="red"></span>
                </div>

              </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
              <div class="form-group ">
                <label class="control-label" for="i">Days left</label>
                <div class="input-group">
                  <input style="border-radius: 8px 0 0 8px !important;" type="text" name="leave_days" value="" placeholder="" disabled class="form-control"/>
                  <div class="input-group-addon">Day(s)</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row p10">
            <div class="my-sub-title">Select a future goods deposit payment method</div>
            <div class="row my-radio-group" style="margin: 0;border-bottom: none">
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="radio-inline">
                    <input type="radio" value="1" name="payMethod" {% if credit<earnest %} disabled  style="border-color: #bbb;" {% endif %} >
                    <strong {% if credit<earnest %}  style="color: #bbb;" {% endif %} >Authorized credit
                      {% if credit %}
                        ({{ credit|parsePrice(is_japan) }})
                      {% endif %}
                    </strong>
                  </label>
                </div>
{#                <div class="col-sm-4">
                  <label class="radio-inline">
                    <input type="radio" value="2" name="payMethod" {% if expected_qty<agreement.num %} disabled  style="border-color: #bbb;" {% endif %} >
                    <strong {% if expected_qty<agreement.num %} disabled style="color: #bbb;" {% endif %}>Future goods in valid bills of lading
                      {% if expected_qty %}
                        ({{ expected_qty }})
                      {% endif %}
                    </strong>
                  </label>
                </div>#}
                {% if account_type==2 and is_usa %}
                  <div class="col-sm-4">
                    <label class="radio-inline">
                      <input type="radio" value="3" name="payMethod" {% if seller_bill_total<earnest %} disabled style="border-color: #bbb;" {% endif %}>
                      <strong{% if seller_bill_total<earnest %} style="color: #bbb;" {% endif %}>Receivables
                        {% if seller_bill_total %}
                          ({{ seller_bill_total|parsePrice(is_japan) }})
                        {% endif %}
                      </strong>
                    </label>
                  </div>
                {% endif %}

{#                <div class="col-sm-3">#}
{#                  <label class="radio-inline">#}
{#                    <input type="radio" value="4" name="payMethod" {% if product_amount<earnest %} disabled style="border-color: #bbb;" {% endif %}>#}
{#                    <strong {% if product_amount<earnest %} disabled style="color: #bbb;" {% endif %}>现货抵押物#}
{#                      {% if product_amount %}#}
{#                        ({{ product_amount|parsePrice(is_japan) }})#}
{#                      {% endif %}#}
{#                    </strong>#}
{#                  </label>#}
{#                </div>#}

              </div>
            </div>
          </div>
          <span id="payMethod" class="red"></span>
        </div>

        {% include 'yzcTheme/template/customerpartner/future/enter_message.twig' %}

      </div>

      <div class="approved-st" style="display: none">
        <div class="btns text-center ">
          <button class="btn btn-primary cansub" onclick="saveBid(this)" style="display: none">Submit</button>
          <button class="btn sub-disabled" data-toggle="tooltip" data-original-title="Please tick the box at bottom to agree with the Future Goods agreement.">Submit</button>
        </div>
        <div class="text-center promise">
          <input type="checkbox" class="promise-check" autocomplete="off">
          I've read and agree the terms of this agreements.
          <a href="{{ clause_url }}" target="_blank" style="color: #027DB4">
            {{ clause_title }}</a>
        </div>
      </div>

      <div class="pending-st text-center">
        <button class="btn btn-primary cansub" onclick="saveBid(this)">SEND</button>
      </div>

    {% endif %}

    {% if(margin_pay) %}
      <div class="amMedthod">
        <div class="title">Future Goods of payment method: <span>{{ margin_pay }}</span></div>
      </div>
    {% endif %}

    {% if(agreement.delivery_type) %}
      {% include 'yzcTheme/template/customerpartner/future/delivery_type.twig' %}
    {% endif %}

    {% if agreement.delivery_status==1 %}
      {% include 'yzcTheme/template/customerpartner/future/enter_message.twig' %}
      <div class="btns text-center">
        <button class="btn btn-sm approval" onclick="approval(2)" style="color:#1d1d1b;margin-right: 10px">Cancel to Deliver</button>
        <button class="btn btn-primary btn-sm approval" onclick="approval(3)">Confirm to Deliver</button>
      </div>
    {% elseif agreement.delivery_status==5 %}
      {% include 'yzcTheme/template/customerpartner/future/enter_message.twig' %}
      <div class="btns text-center">
        <button class="btn btn-sm approval" onclick="approval(7)" style="color:#1d1d1b;margin-right: 10px">Reject</button>
        <button class="btn btn-primary btn-sm approval" onclick="approval(6)">Approve</button>
      </div>
    {% endif %}
  </div>
</div>

</div>
<input type="hidden" id="agreement_id" value="{{ agreement.id }}">
{{ footer }}

<script>
    $('#datetimepicker').datetimepicker({
        autoclose: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        todayHighlight:true,
        startDate: "{{ date }}"
    }).on('changeDate', function (ev) {
        let timestamp=new Date(ev.date.toLocaleDateString()).getTime() + 24 * 60 * 60 * 1000 - 1;
        let days = getDistanceSpecifiedTime(timestamp)
        $('input[name="leave_days"]').val(days)
    });

    function handleBid(formData) {
        let flag = true;
        if (formData['agreement_status'] == 3) {
            if (!formData['pre_delivery_date']) {
                flag = false;
                $("#pre_delivery_date").html('Confirm Delivery Date can not be left blank!');
            } else {
                $("#pre_delivery_date").html('');
            }
            if (!formData['pay_method']) {
                flag = false;
                $("#payMethod").html('Select payment method for Future Goods.');
            } else {
                $("#payMethod").html('');
            }
        }
        if (!formData['message'].trim()) {
            flag = false;
            $("#enterMessageError").html('Message can not be left blank!');
        } else {
            $("#enterMessageError").html('');
        }
        return flag;
    }

    function saveBid(obj) {
      var submit_btn = $(obj);
      submit_btn.button('loading');

      let agreement_status = $('input[name="processResult"]:checked').val()
      let formData = {
        agreement_status: agreement_status,
        message: $('#enterMessage').val(),
        agreement_id: $('#agreement_id').val(),
        csrf_token: "{{ csrf_token }}"
      };

      if (agreement_status == 3 || agreement_status == 4) {
        formData['pre_delivery_date'] = $('input[name="pre_delivery_date"]').val()
        formData['pay_method'] = $('input[name="payMethod"]:checked').val()
        formData['amount'] = '{{ earnest }}'
        formData['unit_price'] = '{{ agreement.unit_price }}'
        formData['num'] = '{{ agreement.num }}'
        formData['product_id'] = '{{ agreement.product_id }}'
      }
      let checked = handleBid(formData)
      if (!checked) {
        submit_btn.button('reset');
        return
      }
      let layer_alarm_price = ({{ need_alarm }} && (agreement_status == 3))
        ? layerConfirm : layerConfirmResolve;
      layer_alarm_price('{{ is_show_cwf_notice ? error_product_price_approve_cwf : error_product_price_approve }}')
        .then(function () {
          layer.closeAll();
          $.ajax({
            url: "{{ url('account/product_quotes/futures/sellerProcessBid') }}",
            data: formData,
            type: "post",
            dataType: 'json',
            beforeSend: function () {
              $('.cansub').attr({disabled: "disabled"});
            },
            success: function (res) {
              if (res.code == 200) {
                $.toast({
                  heading: false,
                  text: res.msg,
                  position: 'top-center',
                  showHideTransition: 'fade',
                  icon: 'success',
                  hideAfter: 5000,
                  allowToastClose: false,
                  loader: false
                });
                setTimeout(function () {
                  location.reload();
                }, 5000);
              } else {
                $.toast({
                  heading: false,
                  text: res.msg,
                  position: 'top-center',
                  showHideTransition: 'fade',
                  icon: 'error',
                  hideAfter: 5000,
                  allowToastClose: false,
                  loader: false
                });
                submit_btn.button('reset');
              }
            },
            complete: function (res) {
              if (res.responseJSON.code != 200) {
                $('.cansub').attr({disabled: false});
              }
            }
          })
        })
        .catch(function () {
          layer.closeAll();
          submit_btn.button('reset');
        })
    }

    function approval(type) {
        let formData = {
            message: $('#enterMessage').val(),
            agreement_id: $('#agreement_id').val(),
            delivery_status: type,
            csrf_token: "{{ csrf_token }}"
        };
        let checked = handleBid(formData);
        if (!checked) {
            return
        }
        $.ajax({
            url: "{{ url('account/product_quotes/futures/sellerApproval') }}",
            data: formData,
            type: "post",
            dataType: 'json',
            beforeSend: function () {
                $('.approval').attr({disabled: "disabled"});
            },
            success: function (res) {
                if (res.code == 200) {
                    $.toast({
                        heading: false,
                        text: res.msg,
                        position: 'top-center',
                        showHideTransition: 'fade',
                        icon: 'success',
                        hideAfter: 5000,
                        allowToastClose: false,
                        loader: false
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 5000);
                } else {
                    $.toast({
                        heading: false,
                        text: res.msg,
                        position: 'top-center',
                        showHideTransition: 'fade',
                        icon: 'error',
                        hideAfter: 5000,
                        allowToastClose: false,
                        loader: false
                    });
                }
            },
            complete:function (res) {
                if (res.responseJSON.code != 200) {
                    $('.approval').attr({disabled: false});
                }
            }
        })
    }

    //封装一个限制字数方法
    var checkStrLengths = function (str, maxLength) {
        var maxLength = maxLength;
        var result = 0;
        result = str.length;
        return result;
    }

    //监听输入
    $("#enterMessage").on('input propertychange', function () {

        //获取输入内容
        var userDesc = $(this).val();

        //判断字数
        var len;
        if (userDesc) {
            len = checkStrLengths(userDesc, 2000);
        } else {
            len = 0
        }
        //显示字数
        $("#countStr").html(len + '/2000');

        if (len > 2000) {
            $("#countStr").addClass('red');
        } else {
            $("#countStr").removeClass('red');
        }
    });
    $(function () {
        $('input[name="processResult"]').click(function () {
            if ($(this).val() == 3) {
                $('.pay-method').show()
                $('.approved-st').show()
                $('.pending-st').hide()
            } else {
                $('.pay-method').hide()
                $('.approved-st').hide()
                $('.pending-st').show()
            }
        })

        $('.promise-check').click(function () {
            if ($(this).is(":checked")) {
                $('.cansub').show()
                $('.sub-disabled').hide()
            } else {
                $('.cansub').hide()
                $('.sub-disabled').show()
            }
        })
    });


    /**
     * 获取距离指定时间还有多少天
     */
    function getDistanceSpecifiedTime(dateTime) {
        // 指定日期和时间
        let EndTime = new Date(dateTime);
        // 当前系统时间
        let NowTime = new Date("{{ date }}");
        console.log(NowTime)
        let t = EndTime.getTime() - NowTime.getTime();
        let d = Math.floor(t / 1000 / 60 / 60 / 24);
        return d+1;
    }
</script>

