<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet"/>
<style>
  .quick-filter {
    text-align: center;
    margin-bottom: 30px;
  }

  .quick-title {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
  }

  .my-border-right {
    border-right: 1px solid #aaa;
  }

  .wait-number {
    font-style: normal;
    font-weight: bolder;
  }

  .quick-title.active, .quick-title:hover {
    background: #F3F5F7;
    color: #183464;
  }

  .quick-title.active .wait-number, .quick-title.active .wait-number:hover {
    color: #FA6400;
  }

  .quick-title:hover {
    cursor: pointer;
    color: #225cc1;
  }

  .mr4 {
    margin-right: 4px;
  }

  .layui-layer-dialog .layui-layer-content {
    word-break: break-word;
  }

  .success {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 8px 30px;
    text-align: left;
  }

  .success i {
    color: #2e9b01;
    font-size: 36px;
    margin-right: 10px;
  }

  tr td a {
    cursor: pointer;
    color: #0a001f;
  }

  .icon-help-inactive {
    color: #CC00FF;
  }
</style>
<div role="tabpanel" class="tab-pane active" id="futures-bid">
  <div class="bg-white p-2">
    <div class="filter-wrapper form-wrapper mt-3 mb-3">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label" for="input_futures_agreement_no">{{ column_agreement_no }}</label>
            <input type="number" name="filter_futures_agreement_no" value="{{ agreement_no }}"
                   placeholder="Agreement ID " id="input_futures_agreement_no" class="form-control"/>
          </div>
          <div class="form-group">
            <label class="control-label" for="input_futures_item_code">ITEM CODE/MPN</label>
            <input type="text" name="filter_futures_item_code" value="{{ item_code }}" placeholder="Item Code/MPN"
                   id="input_futures_item_code" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label" for="input_futures_agreement_status">{{ column_agreement_status }}</label>
            <select name="filter_futures_agreement_status" id="input_futures_agreement_status" class="form-control" onchange="delivery_disable(this)">
              <option value="0">--- {{ __('请选择', {}, 'common') }} ---</option>
              {% for k,v in agreement_status_list %}
                <option value="{{ k }}" {% if k == agreement_status %} selected {% endif %}> {{ v.name }} </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="input_futures_name">{{ column_name }}</label>
            <input type="text" name="filter_futures_name" value="{{ name }}" placeholder="Name"
                   id="input_futures_name" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label" for="input_futures_delivery_status">{{ column_delivery_status }}</label>
            <select name="filter_futures_delivery_status" id="input_futures_delivery_status"  onchange="agreement_disable(this)"  class="form-control">
              <option value="0">--- {{ __('请选择', {}, 'common') }} ---</option>
              {% for k,v in delivery_status_list %}
                <option value="{{ k }}" {% if k == delivery_status %} selected {% endif %}> {{ v.name }} </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label  class="control-label" >{{ column_date_from_to }}</label>
            <div class="datetimepicker-range">
              <div class="datetimepicker">
                <input type="text" name="filter_futures_date_from" value="{{ date_from }}" placeholder="Pick a date..."
                       id="input_futures_date_from" class="form-control"/>
                <span class="title">From</span>
                <span class="icon"><i class="giga icon-date-icon"></i></span>
              </div>
              <div class="datetimepicker">
                <input type="text" name="filter_futures_date_to" value="{{ date_to }}" placeholder="Pick a date..."
                       id="input_futures_date_to" class="form-control"/>
                <span class="title">To</span>
                <span class="icon"><i class="giga icon-date-icon"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group pull-right" style="margin-bottom: 0">
            <label class="control-label" for="input_futures_Name"></label>
            <div>
              <a onclick="filterFutures(this);" class="btn btn-primary" data-toggle="tooltip"
                 title="Filter" id="quote_futures_filter_btn">{{ button_filter }} </a>
              <a onclick="cleanFilterFutures(this);" class="btn btn-default"
                 data-toggle="tooltip" title="Reset">Reset</a>
              <button type="button" onclick="downloadFuturesBid()" class="btn btn-default" data-toggle="tooltip" title="Download"><i class="fa fa-download"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="quick-filter">

      <div class="row">

        <div class="margin-hot-map {% if 6 == status %} active {% endif %} " onclick="filterFutures('', 6)">
          <div class="hot-map-status">WAITING FOR REVIEW<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html="true" title="" data-original-title="Applied, pending future goods agreement waiting for review."></i></div>
          <div class="hot-map-num">{{ to_be_processed_count }}</div>
        </div>
        <div class="margin-hot-map {% if 2 == status %} active {% endif %} " onclick="filterFutures('', 2)">
          <div class="hot-map-status">WAITING FOR DELIVERY<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html="true" title="" data-original-title="{{ tip_text_to_be_delivered }}"></i></div>
          <div class="hot-map-num">{{ to_be_delivered_count }}</div>
        </div>
        <div class="margin-hot-map {% if 5 == status %} active {% endif %} " onclick="filterFutures('', 5)">
          <div class="hot-map-status">WAITING FOR APPROVAL<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html="true" title="" data-original-title="Approve the delivery method."></i></div>
          <div class="hot-map-num">{{ to_be_approval_count }}</div>
        </div>
      </div>

    </div>

    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-futures">
      <div class="table-responsive">
        <table class="table main table-hover">
          <thead>
          <tr>
            <th class="text-center">{{ column_agreement_no }}</th>
            <th class="text-center">{{ column_name }}</th>
            <th class="text-center" style="width: 120px">{{ column_item_code_seller }}</th>
            <th class="text-center">{{ column_qty_of_agreement }}</th>
            <th class="text-center">{{ column_unit_price }}</th>
            <th class="text-center">{{ column_amount_of_agreement }}</th>
            <th class="text-center">
              {{ column_delivery_date }}
              <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="" data-original-title="{{ tip_delivery_date }}"></i>
            </th>
            <th class="text-center">
              {{ column_delivery_type }}
              <i class="giga icon-V10-wenhaotishi prompt" data-toggle="tooltip" style="cursor: pointer" title="" data-original-title="{{ tip_delivery_type2 }}"></i>
            </th>
            <th class="text-center">{{ column_last_modified }}</th>
            <th class="text-center">{{ column_status }}</th>
            <th class="text-right" style="width: 100px">Action</th>
          </tr>
          </thead>
          <tbody>
          {% if agreement_list %}
            {% for item in agreement_list %}
              <tr>
                <td class="text-center">{{ item.agreement_no }}</td>
                <td class="text-center">{{ item.nickname }}({{ item.user_number }})</td>
                <td class="text-center"><a href="index.php?route=product/product&product_id={{ item.product_id }}" target="_blank"> {{ item.sku }} <br>({{ item.mpn }})</a></td>
                <td class="text-center">{{ item.num }}</td>
                <td class="text-center text-price">{{ item.unit_price }}</td>
                <td class="text-center text-price">{{ item.amount }}</td>
                <td class="text-center">
                  {{ item.delivery_date }}
                  {% if item.delivery_status==1  and item.days_tip %}
                    <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="" data-original-title="{{ item.days_tip }}"></i>
                  {% endif %}
                </td>
                <td class="text-center">{{ item.delivery_type_name }}</td>
                <td class="text-center text-price">{{ item.update_time }}</td>
                <td class="text-center" style="color: {{ item.status_color }}">
                  {% if 7 == item.delivery_status %}
                    <i class="fa fa-exclamation-circle" data-toggle="tooltip" style="color: sandybrown"></i>
                  {% endif %}
                  {{ item.status_name }}
                </td>
                <td class="text-right">

                  {% if item.delivery_status==1 %}
                    <a class="btn btn-primary" href="index.php?route=account/product_quotes/futures/sellerBidDetail&id={{ item.id }}" target="_blank" class="" data-toggle="tooltip" title="Deliver">
                      <i class="fa fa-handshake-o"></i>
                    </a>
                  {% endif %}
                  {% if item.delivery_status==5 %}
                    <a class="btn btn-primary" href="index.php?route=account/product_quotes/futures/sellerBidDetail&id={{ item.id }}" target="_blank" class="" data-toggle="tooltip" title="Review settlement methods">
                      <i class="fa fa-hand-pointer-o"></i>
                    </a>
                  {% endif %}
                  <a  class="btn btn-primary" href="index.php?route=account/product_quotes/futures/sellerBidDetail&id={{ item.id }}" target="_blank" class="" data-toggle="tooltip" title="view">
                    <i class="giga icon-action-preview"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="11" class="text-center">No records.</td>
            </tr>
          {% endif %}

          </tbody>
        </table>
      </div>
    </form>

    {{ page_view }}

  </div>
</div>
<script>
    $('#input_futures_date_from').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD 00:00:00'
    });
    $('#input_futures_date_to').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD 23:59:59'
    });
    $(function () {
        block.unBlockUI();
        let agreement_status = '{{ agreement_status }}';
        if (agreement_status != 7) {
            $('#input_futures_delivery_status').attr('disabled', true);
        }
    });


    function handlePage(event, originalEvent, type, page) {
        block.blockUI();
        let url = getUrlForFutures(page);
        $('#bid-future').load(url);
    }

    //切换热区状态
    $(".quick-title").click(function () {
        $(".quick-title").removeClass('active');
        $(this).addClass("active");
    });

    function getUrlForFutures(page, status, download = false) {
        let url = 'index.php?route=account/product_quotes/futures/sellerBidList';
        if (download) {
            url = 'index.php?route=account/product_quotes/futures/downloadFutureBid';
        }
        let filter_futures_agreement_no = $.trim($("#input_futures_agreement_no").val());
        let filter_futures_item_code = $.trim($("#input_futures_item_code").val());
        let filter_futures_agreement_status = $.trim($("#input_futures_agreement_status").val());
        let filter_futures_delivery_status = $.trim($("#input_futures_delivery_status").val());
        let filter_futures_name = $.trim($("#input_futures_name").val());
        let filter_futures_date_from = $.trim($("#input_futures_date_from").val());
        let filter_futures_date_to = $.trim($("#input_futures_date_to").val());
        if (status) {
            url += "&status=" + status;
        } else {

            if (filter_futures_agreement_no) {
                url += "&agreement_no=" + encodeURIComponent(filter_futures_agreement_no);
            }
            if (filter_futures_item_code) {
                url += "&item_code=" + encodeURIComponent(filter_futures_item_code);
            }
            if (filter_futures_agreement_status) {
                url += "&agreement_status=" + encodeURIComponent(filter_futures_agreement_status);
            }
            if (filter_futures_delivery_status) {
                url += "&delivery_status=" + encodeURIComponent(filter_futures_delivery_status);
            }
            if (filter_futures_name) {
                url += "&name=" + encodeURIComponent(filter_futures_name);
            }
            if (filter_futures_date_from) {
                url += "&date_from=" + encodeURIComponent(filter_futures_date_from);
            }
            if (filter_futures_date_to) {
                url += "&date_to=" + encodeURIComponent(filter_futures_date_to);
            }
        }

        if (page) {
            url += "&page=" + page;
        }
        return url;
    }

    function downloadFuturesBid() {
        let url = getUrlForFutures(1, '{{ status }}', true);
        location.href = url;

    }

    function filterFutures(button, status) {
        block.blockUI();
        var url = getUrlForFutures(1, status);
        $('#bid-future').load(url);
        $(button).button('loading');
    }

    function cleanFilterFutures(button) {
        $("#input_futures_agreement_no").val("");
        $("#input_futures_item_code").val("");
        $("#input_futures_agreement_status").val(0);
        $("#input_futures_delivery_status").val(0);
        $("#input_futures_name").val("");
        $("#input_futures_date_from").val("");
        $("#input_futures_date_to").val("");

        block.blockUI();
        var url = getUrlForFutures();
        $('#bid-future').load(url);
        $(button).button('loading');
    }



    function delivery_disable(obj) {
        if ($(obj).val() == 7) {
            $('#input_futures_delivery_status').attr('disabled', false);
        } else {
            $('#input_futures_delivery_status').attr('disabled', true);
        }
    }

    function agreement_disable(obj) {
        console.log($(obj).val())
        if ($(obj).val()!=0) {
            $('#input_futures_agreement_status').attr('disabled', true);
        } else {
            $('#input_futures_agreement_status').attr('disabled', false);
        }
    }
</script>