{{ header }}
{{ separate_column_left }}
<style>

  h3 {
    color: #3e2b75;
    margin: 20px 0px 16px 0px;
    font-size: 20px;
  }

  .comment {
    text-align: center;
  }

  .readme {
    margin: 20px;
  }

  .audit {
    cursor: pointer;
  }

  .my-label {
    display: inline-block;
    width: 100%;
  }

  .my-required {
    float: right;
    color: #3A75DC;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
  }

  .form-check-input {
    vertical-align: text-top;
    margin-right: 4px;
  }

  .comment {
    padding: 0 15px;
  }

  textarea.my-comments {
    height: 150px;
  }

  .textarea-con {
    position: relative;
  }

  .count-str {
    position: absolute;
    right: 30px;
    bottom: 6px;
  }

  .red {
    color: #ff0000;
    display: inline-block;
    min-height: 18px;
  }
  .wrap_content_top{
    z-index: 1 !important;
  }
  .el-notification{
    width: 390px !important;
  }
  .el-upload-list__item-thumbnail{
    width: 147px !important;
    height: 148px !important;
  }
</style>
<script type="text/javascript" src="/catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/layer/layer.js"></script>
<div class="container-fluid" id="content" style="margin-left: 15%">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row" style="padding: 0 15px">
    <h1>Credit Authorization Application Form
      {% if type=='add' or  type=='ti'or (type=='edit' and apply.status in [1,6,7]) %}
        <div class="pull-right">
          <button id="savePromise" class="btn btn-primary" {% if type=='edit' %}  style="display: none"  {% endif %} onclick="saveCredit()" data-toggle="tooltip" data-original-title="Save">
            <i class="fa fa-save"></i>
          </button>
          {% if type=='edit' %}
            <a href="javascript:void(0)" data-toggle="tooltip" onclick="handleEdit(this)" data-original-title="Edit" class="btn btn-default">
              <i class="fa fa-pencil"></i>
            </a>
          {% endif %}
          <a href="index.php?route=customerpartner/credit_manage" data-toggle="tooltip" data-original-title="Back" class="btn btn-default">
            <i class="fa fa-reply"></i>
          </a>
        </div>
      {% endif %}
    </h1>

    <div class="panel panel-default" id="box-shadow" style="margin-right: 0px;">
      <div class="panel-body">
        <form method="post" id="advForm" enctype="multipart/form-data">
          <h3>Applicant Information</h3>
          <div class="row">
            <div class="col-sm-5 ">
              <div class="form-group">
                <label>Credit Number</label>
                <input type="text" name="credit_number" class="form-control" disabled value="{{ credit_number }}">
                <input type="hidden" name="credit_number" value="{{ credit_number }}">
              </div>
              {% if(apply.status==5) %}
                <div class="form-group">
                  <label>Authorized credit term</label>
                  <input type="text" name="expiration_time" class="form-control" disabled
                         value="
{% if apply.credit_end_time==-1 %}
{{ apply.credit_start_time|date("Y-m-d H:i:s") }} - Permanently Effetive
{% else %}
{% if apply.credit_end_time %}
{{ apply.credit_start_time|date("Y-m-d H:i:s") }} - {{ apply.credit_end_time|date("Y-m-d H:i:s") }}
 {% endif %}
{% endif %}">
                </div>
              {% endif %}
            </div>
            <div class="col-sm-5 col-sm-offset-2">
              <div class="form-group">
                {% if apply.status in [6,7,8] %}
                <a class="pull-right audit" data-toggle="modal" data-target="#exampleModalCenter"> View Application Status</a>
                {% endif %}
                <!-- 查看审核详细弹出框内容 -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document" style="width: 800px">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Review Details
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </h5>
                      </div>
                      <div class="modal-body">
                        <table class="table">
                          <thead>
                          <tr>
                            <th scope="col">Review Time</th>
                            <th scope="col">Status</th>
                            <th scope="col">Reviewer</th>
                            <th scope="col">Results</th>
                            <th scope="col">Details</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for item in apply_operate %}
                            <tr>
                              <td>{{ item.create_time }}</td>
                              {% if item.audit_level==1 %}
                                <td>first review</td>
                                <td>Marketplace Operations</td>
                              {% else %}
                                <td>final review</td>
                                <td>Marketplace Finance</td>
                              {% endif %}
                              <td> <span  {% if item.status in [6,7,8] %} class="red" {% endif %}>{{ item.status_msg }}</span></td>
                              <td>{{ item.remark }}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end -->

                <label>status</label>
                <input type="text" name="status" class="form-control" disabled value="{{ status }}">
              </div>
              {% if(apply.status==5) %}
                <div class="form-group">
                  <label>Total Credit</label>
                  <div class="input-group">
                    <input type="text" name="credit_amount" class="form-control" style="border-radius: 8px 0px 0px 8px !important;" disabled value="{{ apply.credit_amount|parsePrice(is_japan) }}">
                    <span class="input-group-addon">{{currency}}</span>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <fieldset {% if type=='detail' or type=='edit' %} disabled {% endif %} id="field-set">
            {% if type=='detail' or type=='edit' %}
            <style>
              .el-upload-list__item-delete{
                display: none !important;
              }
              .el-upload--picture-card{
                display: none !important;
              }
            </style>
            {% endif %}
          <h3>Applicant Information</h3>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="my-label">first name <i class="my-required">REQUIRED</i></label>
                <input type="text" name="first_name" class="form-control" value="{{ apply.first_name }}" placeholder="First Name">
                <span id="firstName" class="red"></span>
              </div>
              <div class="form-group">
                <label class="my-label">Email <i class="my-required">REQUIRED</i></label>
                <input type="email" name="email" class="form-control" value="{{ apply.email }}" placeholder="Email">
                <span id="email" class="red"></span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="my-label">last name <i class="my-required">REQUIRED</i></label>
                <input type="text" name="last_name" class="form-control" value="{{ apply.last_name }}" placeholder="Last Name">
                <span id="lastName" class="red"></span>
              </div>
              <div class="form-group">
                <label class="my-label">phone <i class="my-required">REQUIRED</i></label>
                <input type="text" name="phone" class="form-control" value="{{ apply.phone }}" placeholder="Full phone number">
                <span id="phone" class="red"></span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="my-label">job title <i class="my-required">REQUIRED</i></label>
                <input type="text" name="job_title" class="form-control" value="{{ apply.job_title }}" placeholder="Job Title">
                <span id="jobTitle" class="red"></span>
              </div>
              <div class="form-group">
                <label class="my-label">id card <i class="my-required">REQUIRED</i></label>
                <input type="text" name="id_card" class="form-control" value="{{ apply.id_card }}" placeholder="Driver’s License Number">
                <span id="idCard" class="red"></span>
              </div>
            </div>
          </div>
          {#引入上传附件#}
            <h3><span class="my-promise" data-toggle="tooltip"  data-original-title="File format The format of file uploaded should be PDF, .PNG or .JPG Individual attachments should not be greater than 50MB">Credit Authorization Credentials<i class="giga icon-V10-wenhaotishi"></i></span> <span class="my-promise-tip">Please upload the your official signed Marketplace contract.</span> <i class="my-required">REQUIRED</i></h3>
          {{ upload_attach }}
          <span id="pdfOrImgs" class="red"></span>

          {% if type=='ti' %}
            <h3>Application Type <i class="my-required">REQUIRED</i>     <span id="type_id" class="red" style="font-size: 13px;"></span></h3>
            <div class="row">
              <div class="col-sm-6 ">
                <label>
                  <input type="checkbox" name="type_id[]" {% if  3 in type_id %} checked{% endif %} value="3" class="form-check-input"> Apply for higher credit
                </label>
              </div>
              <div class="col-sm-6">
                <label>
                  <input type="checkbox" name="type_id[]" {% if  (2 in type_id)  %} checked {% endif %}  {% if not can_credit %} checked onclick="return false;"  {% endif %}  value="2" class="form-check-input"> Apply for longer credit term.
                </label>
              </div>
            </div>
          {% endif %}
          <h3>Comments</h3>
          <div class="row comment textarea-con">
            <textarea name="comments" class="form-control my-comments" id="myComment">{{ apply.comments }}</textarea>
            <span class="count-str" id="countStr">0/2000</span>
          </div>
          <span id="myCommentUnmber" class="red"></span>
          <div class="comment">
            <label class="readme">
              {#<input id="myPromiseCheckbox" autocomplete="off" type="checkbox" class="form-check-input " {% if type!='add' %} checked {% endif %} }> I have read and agree to the terms and conditions of this agreements.#}
              {#<a href="#">Marketplace Credit Application Policy.</a>#}
              {#<span id="myPromise" class="red"></span>#}
            </label>
          </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<script>
    $('#input-date-from').datetimepicker({
        pickDate: true,
        pickTime: false
    });
    $('#input-date-to').datetimepicker({
        pickDate: true,
        pickTime: false
    });

    //封装一个限制字数方法
    var checkStrLengths = function (str, maxLength) {
        var maxLength = maxLength;
        var result = 0;
        result = str.length;
        return result;
    }
    // 详情页面统计指数
    $("#countStr").html( checkStrLengths($('#myComment').val(), 2000) + '/2000');
    //监听输入
    $("#myComment").on('input propertychange', function () {

        //获取输入内容
        var userDesc = $(this).val();

        //判断字数
        var len;
        if (userDesc) {
            len = checkStrLengths(userDesc, 2000);
        } else {
            len = 0
        }
        //显示字数
        $("#countStr").html(len + '/2000');

        if (len > 2000) {
            $("#countStr").addClass('red');
        } else {
            $("#countStr").removeClass('red');
        }
    });


    function handleEdit(obj) {
        $(obj).hide();
        $("#savePromise").show();
        $('#field-set').attr('disabled',false)
        $('.el-upload-list__item-delete').css("cssText", "display:inline-block !important;");
        $('.el-upload--picture-card').css("cssText", "display:inline-block !important;");
    }

    function saveCredit() {
        //校验必填
        let saveAble = true;
        let type = '{{ type }}';

        if ($("input[name='first_name']").val() == null || $("input[name='first_name']").val() == undefined || $("input[name='first_name']").val() == "") {
            saveAble = false;
            $("#firstName").html('First name can not be left blank.');
        } else if ($("input[name='first_name']").val().length > 50) {
            saveAble = false;
            $("#firstName").html('First name must be between 1 and 50 characters!');
        } else {
            $("#firstName").html('');
        }

        if ($("input[name='last_name']").val() == null || $("input[name='last_name']").val() == undefined || $("input[name='last_name']").val() == "") {
            saveAble = false;
            $("#lastName").html('Last name can not be left blank.');
        } else if ($("input[name='last_name']").val().length > 50) {
            saveAble = false;
            $("#lastName").html('Last name must be between 1 and 50 characters!');
        } else {
            $("#lastName").html('');
        }

        if ($("input[name='job_title']").val() == null || $("input[name='job_title']").val() == undefined || $("input[name='job_title']").val() == "") {
            saveAble = false;
            $("#jobTitle").html('Job title can not be left blank.');
        } else if ($("input[name='job_title']").val().length > 50) {
            saveAble = false;
            $("#jobTitle").html('Job title must be between 1 and 50 characters!');
        } else {
            $("#jobTitle").html('');
        }

        // 邮箱正则
        var emailReg = /^([a-zA-Z0-9._-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;

        if ($("input[name='email']").val() == null || $("input[name='email']").val() == undefined || $("input[name='email']").val() == "") {
            saveAble = false;
            $("#email").html('Email can not be left blank.');
        } else if (!emailReg.test($("input[name='email']").val())) {
            saveAble = false;
            $("#email").html('Email Address is not valid!');
        } else if ($("input[name='email']").val().length > 50) {
            saveAble = false;
            $("#email").html('Email must be between 1 and 50 characters!');
        } else {
            $("#email").html('');
        }

        if ($("input[name='phone']").val() == null || $("input[name='phone']").val() == undefined || $("input[name='phone']").val() == "") {
            saveAble = false;
            $("#phone").html('Phone can not be left blank.');
        } else if ($("input[name='phone']").val().length > 50 || $("input[name='phone']").val().length < 3) {
            saveAble = false;
            $("#phone").html('Phone must be between 3 and 50 characters!');
        } else {
            $("#phone").html('');
        }

        if ($("input[name='id_card']").val() == null || $("input[name='id_card']").val() == undefined || $("input[name='id_card']").val() == "") {
            saveAble = false;
            $("#idCard").html('ID card can not be left blank.');
        } else if ($("input[name='id_card']").val().length > 50) {
            saveAble = false;
            $("#idCard").html('ID card must be between 1 and 50 characters!');
        } else {
            $("#idCard").html('');
        }

        if (vm_4396.attach == null || vm_4396.attach == undefined || vm_4396.attach.length == 0) {
            saveAble = false;
            $("#pdfOrImgs").html("PDF or images can not be left blank.");
        } else {
            $("#pdfOrImgs").html('');
        }
        if (type == 'ti' && $("input[name='type_id[]']:checked").length == 0) {
            $("#type_id").html('Application Type can not be left blank.');
            saveAble = false;
        }
        //if (!$('#myPromiseCheckbox').prop('checked')) {
        //    $("#myPromise").html('Please tick the box at bottom to agreement with the credit agreement');
        //    saveAble = false;
        //}

        if ($("#myComment").val().length > 2000) {
            saveAble = false;
            $("#myCommentUnmber").html("Comments must be between 1 and 2000 characters!");
        } else {
            $("#myCommentUnmber").html('');
        }


        if (saveAble) {
            saveCreditWork();
        }
    }

    function saveCreditWork() {
        let formData = new FormData($('#advForm')[0]);
        $.ajax({
            url: 'index.php?route=customerpartner/credit_manage/saveCredit',
            data: formData,
            processData: false,
            cache: false,
            contentType: false,
            type: "post",
            dataType: 'json',
            success: function (res) {
                if (res.code == 200) {
                    layer.msg(res.msg, {time: 2000});
                    location.href = 'index.php?route=customerpartner/credit_manage'
                } else {
                    layer.msg(res.msg, {time: 2000, icon: 5});
                }
            }
        })
    }

</script>

