<div class="type">
  <div class="title">{{text_select_delivery_method}}</div>
  <fieldset disabled>
    {% if(agreement.delivery_type in [1,3]) %}
      <div class="type1 pl10">
        <div class="sub-title"><i class="giga icon-checkbox-ctive check-style"></i>{{text_final_payment}}</div>
        <div class="type-form-info">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group form-group-inner">
                <label class="control-label" for="i">{{text_final_qty}}</label>
                <input type="text" name="" value="{{ agreement.last_purchase_num }}"
                       placeholder="Enter Quantity" id="" class="form-control"/>
              </div>
            </div>
              {# 物流费#}
            {% if buyer_type %}
              {% set freight=product.package_fee %}
            {% else %}
              {% set freight=product.freight+product.package_fee %}
            {% endif %}
            <div class="col-sm-4">
              <div class="form-group form-group-inner">
                <label class="control-label" for="i">{{text_freight}}</label>
                <input type="text" name="" value="{{ (freight*agreement.last_purchase_num)|parsePrice(is_japan) }}"
                       class="form-control"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group form-group-inner">
                <label class="control-label" for="i">{{text_final_amount}}</label>
                <input type="text" name="" value="{{ ((agreement.unit_price-unit_earnest+freight)*agreement.last_purchase_num)|parsePrice(is_japan) }}"
                       class="form-control"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if(agreement.delivery_type in [2,3]) %}
      <div class="type2 pl10">
        <div class="sub-title"><i class="giga icon-checkbox-ctive check-style"></i>{{text_transfer_to_margin}}
          <div class="col-xs-3 pull-right">
            {% if margin_agreement_code %}
              <b>Margin Agreement ID: </b>
              <a href="index.php?route=account/product_quotes/margin_contract/view?&agreement_id={{ margin_agreement_code }}" class="my-color">{{ margin_agreement_code }}</a>
            {% endif %}
          </div>
        </div>
        <div class="type-form-info">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group form-group-inner">
                <label class="control-label" for="i">{{text_margin_qty}}</label>
                <input type="text" name="" value="{{ agreement.margin_apply_num }}"
                       placeholder="Enter Quantity" id="" class="form-control"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group form-group-inner">
                <label class="control-label" for="i">{{text_margin_price}}</label>
                <input type="text" name="" value="{{ agreement.margin_unit_price|parsePrice(is_japan) }}"
                       class="form-control"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group form-group-inner">
                <label class="control-label" for="i">{{text_margin_add_deposit}}</label>
                <input type="text" name="" value="{{ agreement.margin_deposit_amount|parsePrice(is_japan) }}"
                       class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group form-group-inner">
                <label class="control-label" for="i">{{ text_margin_final_price }}</label>
                <input type="text" name="" value="{{ agreement.margin_last_price|parsePrice(is_japan) }}"
                       placeholder="Enter Quantity" id="" class="form-control"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group form-group-inner">
                <label class="control-label" for="i">{{ text_margin_amount }}</label>
                <input type="text" name="" value="{{ (agreement.margin_agreement_amount)|parsePrice(is_japan) }}"
                       class="form-control"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group form-group-inner">
                <label class="control-label" for="i">{{text_margin_term}}</label>
                <input type="text" name="" value="{{ agreement.margin_days }}" class="form-control"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </fieldset>
</div>