{{ assetBundle('Seller\\VatAsset') }}
<style>
  #futuresAgreementDetailPanel .detail-name{
    width: 125px;
  }
  .limit-discount {
    font-weight: normal;
    font-style: italic;
    color: #333;
  }
  .limit-discount .percent-dis {
    color: #FF6600;
    font-weight: bold;
  }
</style>
<div class="detail-main bg-white p-2">
  <div class="mb-3">
    <div class="title">Agreement Summary</div>
    <div class="summary over over-visible">
      <div class="abstract col-sm-3">
        <i class="gcl gcldingdanhao summary-icon"></i> <br>
        <p class="summary-name">Agreement ID</p>
        <p class="summary-detail">{{ agreement.agreement_no }}</p>
      </div>
      <div class="abstract col-sm-3">
        <i class="gcl gclrenshu summary-icon"></i> <br>
        <p class="summary-name">Name</p>
        <p style="color: #3A75DC;">
          <span class="user_portrait" data-user_customer_id="{{ agreement.buyer_id }}">
              {{ buyer.username }}
              {% if  buyer.user_number %}
                ({{ buyer.user_number }})
              {% endif %}
          </span>
          <img data-toggle="tooltip" style="padding-left: 1px"
               src="{{ buyer_type ? asset('image/icons/HomePickup/home_pickup-15x15.png') : asset('image/icons/HomePickup/drop_shipping-15x15.png') }}"
               data-original-title="{{ img_tips }}">
          {{ ex_vat }}
        </p>
      </div>
      <div class="abstract col-sm-3">
        <i class="giga icon-BusinessIcons_BusinessTagSale- summary-icon"></i> <br>
        <p class="summary-name">Agreement Status</p>
        <p style="color:{{ agreement_status_info.color }}">{{ agreement_status_info.name }}</p>
      </div>
      <div class="abstract col-sm-3">
        <i class="giga icon-jiaohuo summary-icon"></i> <br>
        <p  class="summary-name">Delivery Status</p>
        <p style="color:{{ delivery_status_info.color }}">{{ delivery_status_info.name }}</p>
      </div>

    </div>
  </div>
  <div class="details mb-3">
    <div class="title">Agreement Detail</div>
    <div>
      <div class="row  ">
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">Item Code / MPN</span>
          <span class="my-color detail-content">
            <a href="index.php?route=product/product&product_id={{ agreement.product_id }}"
               target="_blank" class="link">{{ agreement.sku }}
              {% if  agreement.mpn %}
                /{{ agreement.mpn }}
              {% endif %}
            </a>
            {% if agreement.tag %}
              {% for tagDetail in agreement.tag %}
                {{ tagDetail }}
              {% endfor %}
            {% endif %}

          </span>
        </div>
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">Delivery Date</span>
          <span class="detail-content">{{ agreement.show_delivery_date }} </span>
        </div>
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">Time Last Modified</span>
          {% if agreement.de_update_time > agreement.update_time %}
            <span class="detail-content">{{ agreement.de_update_time }}</span>
          {% else %}
            <span class="detail-content">{{ agreement.update_time }}</span>
          {% endif %}
        </div>
      </div>
      <div class="row  ">
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">Agreement Price</span>
          <span class="detail-content">
            {{ unit_price_show }}
            {% if agreement.discountShow != '' %}
              <span class="limit-discount">Discount:<span class="percent-dis"> {{ agreement.discountShow }}% </span>OFF</span>
            {% endif %}
          </span>
        </div>
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">Agreement Quantity</span>
          <span class="{{ classA }}">{{ agreement.num }}</span>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">Deposit Amount</span>
          <span class="detail-content">{{ all_earnest_show }}</span>
        </div>
      </div>
    </div>
    {% if agreement.comments %}
    <div class="row">
      <div class="remarks" style="height: auto;min-height: 45px;">
        {{ agreement.comments }}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="mb-3">
    {% include 'yzcTheme/template/customerpartner/future/message.twig' %}
  </div>
  {% if agreement.agreement_status in [1,2] %}
    <div class="processingResult">
      <div class="title">Processing Result</div>
      <div class="row my-radio-group">
        <div class="col-sm-6" style="padding: 0">
          <div class="form-group" style="overflow: hidden;padding-top: 0">
            <div class="col-sm-4">
              <label for="approved" class="radio-inline">
                <input id="approved" type="radio" value="3" onclick="checkChoose(this)" name="processResult"><strong
                  style="text-transform: none;margin-left: 5px;">Approve</strong>
              </label>
            </div>
            <div class="col-sm-4">
              <label for="rejected" class="radio-inline">
                <input id="rejected" type="radio" value="4" onclick="checkChoose(this)" name="processResult"><strong
                  style="text-transform: none;margin-left: 5px">Rejected</strong>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row " style="padding:0 10px;">
{#        <div class="request" style="text-align: right">#}
{#          <span style="color: #1e91cf">REQUIRED</span>#}
{#        </div>#}
        <div style="position: relative">
          <textarea id="enterMessage" minlength="1" maxlength="2000" style="resize: none;height: 120px" class="form-control" placeholder="Enter message to buyer..."></textarea>
          <span class="count-str" id="countStr">0/2000</span>
          <span id="enterMessageError" class="red"></span>
        </div>
      </div>
    </div>
    <div class="pending-st  text-center" style="margin-top: 10px;">
      <button class="btn btn-primary cansub" id="agreementBid"  disabled='disabled' onclick="saveBid()">SEND</button>
    </div>
  {% endif %}
</div>


<script>
  //监听输入
  $("#enterMessage").on('input propertychange', function () {

    //获取输入内容
    var userDesc = $(this).val();

    //判断字数
    var len;
    if (userDesc) {
      len = checkStrLengths(userDesc, 2000);
    } else {
      len = 0
    }
    //显示字数
    $("#countStr").html(len + '/2000');

    if (len > 2000) {
      $("#countStr").addClass('red');
    } else {
      $("#countStr").removeClass('red');
    }
  });

  function saveBid() {
    let agreement_status = $('input[name="processResult"]:checked').val();
    let formData = {
      agreement_status: agreement_status,
      message: $('#enterMessage').val(),
      agreement_id: $('#agreement_id').val(),
      csrf_token: "{{ csrf_token }}",
      num: "{{ agreement.num }}",
      unit_price: "{{ agreement.unit_price }}",
      amount:"{{ all_seller_earnest }}",
      type:1,
    };

    let notice = '';
    let user_name = '{{ username }}';
    user_name = user_name.replace(/\s/g,"");

    if(agreement_status == 3){
      notice = 'Are you sure you want to approve the request of future goods agreement (Agreement ID ' + '{{ agreement.agreement_no }}' + ') from '+ user_name + '(' + '{{ buyer.user_number }}' + ') ?';
    }else if(agreement_status == 4){
      notice = ' Are you sure you want to reject the request of future goods agreement (Agreement ID ' + '{{ agreement.agreement_no }}' + ') from '+ user_name + '(' + '{{ buyer.user_number }}' + ') ?';
    }else{
      $.toast({
        heading: false,
        text: 'Please choose.',
        position: 'top-center',
        showHideTransition: 'fade',
        icon: 'error',
        hideAfter: 5000,
        allowToastClose: false,
        loader: false
      });
      return false;
    }
    let  need_alarm = '{{ need_alarm }}';
    let  amount_status = '{{ amount_status }}';
    let contractNotice = 'Seller cannot approve this Future Goods Agreement request due to insufficient estimated deposit totals for the Future Goods Contract (ID '+ '{{ agreement.contract_no }}' + '). You must pay additional deposit for the Future Goods Contract, otherwise you would not be able to approve this Future Goods Agreement request.';
    let layer_alarm_price = (need_alarm == 1 && (agreement_status == 3))
      ? layerConfirm : layerConfirmResolve;
    let layer_alarm_amount = (amount_status == false && (agreement_status == 3))
      ? layerConfirm : layerConfirmResolve;
    // 保证金不足，只需要弹框提示,满足条件进行freight判断
    if(amount_status == '0' && (agreement_status == 3)){
      layer_alarm_amount(contractNotice)
        .then(function () {
          layer.closeAll();
        })
        .catch(function () {
          layer.closeAll();
        });

    }else{
      layer_alarm_price('{{ is_show_cwf_notice ? error_product_price_approve_cwf : error_product_price_approve }}')
        .then(function () {
          let tmplayer = layer.confirm(notice, {
            title: 'Reminder',
            skin: 'yzc_layer',
            btnAlign: 'c',
            btn: ['Yes','No'] //按钮
          }, function () {
            layer.close(tmplayer);
            $.ajax({
              url: 'index.php?route=account/product_quotes/futures/sellerFuturesProcessBid',
              type: 'post',
              dataType: 'json',
              data: formData,
              beforeSend: function () {
                layer.load(1,{shade: [0.3,'#000']});
                $('.cansub').attr({disabled: "disabled"});
              },
              success: function (json) {
                layer.closeAll('loading');
                $('.cansub').attr({disabled: false});
                if (json.code == 200) {
                  if(json.msg){
                    $.toast({
                      heading: false,
                      text: json.msg,
                      position: 'top-center',
                      showHideTransition: 'fade',
                      icon: 'success',
                      hideAfter: 5000,
                      allowToastClose: false,
                      loader: false
                    });
                  }
                  $('#futuresAgreementDetailPanel').load('index.php?route=account/product_quotes/futures/sellerFuturesAgreementDetail&id='+  formData.agreement_id);
                } else {
                  $.toast({
                    heading: false,
                    text: json.msg,
                    position: 'top-center',
                    showHideTransition: 'fade',
                    icon: 'error',
                    hideAfter: 5000,
                    allowToastClose: false,
                    loader: false
                  });
                }
              },
              error: function (xhr, ajaxOptions, thrownError) {
                layer.closeAll('loading');
                $.toast({
                  heading: false,
                  text: thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText,
                  position: 'top-center',
                  showHideTransition: 'fade',
                  icon: 'error',
                  hideAfter: 5000,
                  allowToastClose: false,
                  loader: false
                });
                $('.cansub').attr({disabled: false});
              }
            });
          }, function () {
            layer.close(tmplayer);
          });
        })
        .catch(function () {
          layer.closeAll();
        });
    }
  }
  function checkChoose(obj) {
    var state = $(obj).prop("checked");
    if(state){
      $('#agreementBid').attr('disabled',false);
    }else{
      $('#agreementBid').attr('disabled',true);
    }
  }
</script>
