{{ assetBundle('Seller\\VatAsset') }}
<div class="detail-main bg-white p-2">
  <div class="mb-3">
    <div class="title">Summary of Future Goods Orders Deposits</div>
    <div class="summary over over-visible">
      <div class="abstract col-sm-3">
        <i class="gcl gcldingdanhao summary-icon"></i> <br>
        <p class="summary-name">Order ID</p>
        <p class="summary-detail">{{ purchase_order_info.order_id }}</p>
      </div>
      <div class="abstract col-sm-3">
        <i class="gcl gclrenshu summary-icon"></i> <br>
        <p class="summary-name">Name</p>
        <p style="color: #3A75DC;">
          <a class="link"
             style="cursor: pointer"
             data-trigger = "hover" data-toggle="tooltip"
             title="Click to send a message to Buyer."
             target="_blank"
             onclick="func_one_contact('{{ purchase_order_info.customer_id }}')"
          >
            {{ purchase_order_info.nickname }}
            {% if  purchase_order_info.user_number %}
              ({{ purchase_order_info.user_number }})
            {% endif %}
          </a>
          <img data-toggle="tooltip" style="padding-left: 1px"
               src="{{ purchase_order_info.is_homepick ? asset('image/icons/HomePickup/home_pickup-15x15.png') : asset('image/icons/HomePickup/drop_shipping-15x15.png') }}"
               data-original-title="{{ purchase_order_info.img_tips }}">
          {{ purchase_order_info.ex_vat }}


        </p>
      </div>
      <div class="abstract col-sm-3">
        <i class="giga icon-DatePicker summary-icon"></i> <br>
        <p class="summary-name">Order Date</p>
        <p class="summary-detail">{{ purchase_order_info.date_modified }}</p>
      </div>
      <div class="abstract col-sm-3">
        <i class="giga icon-BusinessIcons_BusinessTagSale- summary-icon"></i> <br>
        <p class="summary-name">Order Status</p>
        <p style="color:grey">{{ purchase_order_info.status_name }}</p>
      </div>
    </div>
  </div>
  <div class="details mb-3">
    <div class="title">Details of Future Goods Orders Deposits</div>
    <div>
      <div class="row  ">
        <div class="detail-item col-sm-3">
          <span class="text-right detail-name" style="width: 140px">Image</span>
          <span class="detail-content">
              <img src="{{ purchase_order_info.image_show }}" height="40px">
          </span>
        </div>
        <div class="detail-item col-sm-5">
          <span class="text-right detail-name">Item Code of Deposited Product</span>
          <span class="my-color  detail-content">
             <span>
               {{ purchase_order_info.sku }}
             </span>
            {% if purchase_order_info.tag %}
              {% for tagDetail in purchase_order_info.tag %}
                {{ tagDetail }}
              {% endfor %}
            {% endif %}
         </span>
        </div>
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">MPN of Deposited Product</span>
          <span class="detail-content">{{ purchase_order_info.mpn }}</span>
        </div>
      </div>
      <div class="row">
        <div class="detail-item col-sm-3">
          <span class="text-right detail-name" style="width: 140px">Deposit Amount</span>
          <span class="detail-content">{{ purchase_order_info.total_price }}</span>
        </div>
        <div class="detail-item col-sm-5">
          <span class="text-right detail-name">Deposited Product Quantity</span>
          <span class="detail-content">{{  purchase_order_info.quantity }}</span>
        </div>
        <div class="detail-item col-sm-4">
          <span class="text-right detail-name">Total Deposited Products</span>
          <span class="detail-content">{{  purchase_order_info.total_price }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function func_one_contact(buyer_id)
  {
    $.ajax({
      type: 'POST',
      url: 'index.php?route=account/customerpartner/buyer_management/list/addMessage',
      data:{
        receiver_id:buyer_id
      },
      async: false,
      success: function (response) {
        if(parseInt(response.error)==0){
          window.open('index.php?route=message/seller/addMessage','_blank')
        }
      },
    });
  }
</script>
