{# 消息中心左侧菜单样式引用 #}
{{ css([
    'static/message/message-column-left.css',
    'static/message/message-common.css'
]) }}
<script>
    $(function () {
        // Set last page opened on the menu
        $('#message-menu a[href]').on('click', function() {
            sessionStorage.setItem('message_menu', $(this).attr('href'));
        });

        var menuUrl = '{% if menuLink %} {{ menuLink }} {% endif %}';
        var menuObj = $('#message-menu a[href=\'' + menuUrl + '\']');
        var menuLength = menuObj.length;
        if (!menuUrl) {
            $('#message-menu #dashboard').addClass('active');
        } else if(menuLength === 0) {
            menuUrl = menuUrl.slice(0,menuUrl.lastIndexOf('/'));
            menuObj = $('#message-menu a[href=\'' + menuUrl + '\']');
            menuObj.parent().addClass('active');
        } else {
            menuObj.parent().addClass('active');
        }

        menuObj.parents('li > a').removeClass('collapsed');

        menuObj.parents('ul').addClass('in');

        menuObj.parents('li').addClass('active');


        //默认所有父级收起进入页面默认展开当前页面所在的列表
        let curMenu = $(".selectedIndex").closest(".msg-menu-container__item");
        curMenu.find('.msg-menu-container__item__text').removeClass('collapsed');
        curMenu.find('.msg-menu-container__child').removeClass('collapsed');
        curMenu.find('.msg-menu-container__child').addClass('collapse in');
    });
</script>
<div style="width: 230px">
    <nav id="message-column-left" class="msgcent msg-card msg_box col-sm-2">
        {# 创建新消息-操作按钮部分 #}
        <div class="new-btn-container">
            <a href="{{ url('account/message_center/message/new')}}">
                <div class="msg-col-btn msg-col-btn__new">
                    <i class="giga icon-seller_bianji-01 msg-icon-edit"></i>
                    Compose
                </div>
            </a>
            <a href="{{ url('account/message_center/platform_secretary')}}">
                <div class="msg-col-btn__genie-outter">
                    <div id="giga-genie" class="msg-col-btn msg-col-btn__genie oris-tooltip" data-toggle="tooltip"
                         title="Giga Help Desk is a Marketplace channel that gives feedback on issues with orders that have abnormal conditions." trigger="manual">
                        <i class="giga icon-zhinengkefu"></i>
                      Giga Help Desk
                    </div>
                    {% if under_giga_genie > 0 %}
                    <div class="genie-msg-corner">
                        {% if under_giga_genie > 99 %}
                            99+
                        {% elseif under_giga_genie > 0 %}
                            {{ under_giga_genie }}
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
        {# <div class="msg_title">
          {{ text_message_center }}
        </div> #}
        <ul id="message-menu" class="msg-menu-container" style="margin-bottom: 0">
            {% set i = 0 %}
            {% for menu in menus %}
                <li id="{{ menu.id }}" class="msg-menu-container__item">
                    {% if menu.href %}
                        <a href="{{ menu.href }}" title="{{ menu.name }}" 
                        {% if menu.id == checked_btn_id %}
                            class="selectedIndex parentSelected {% if menu.href %} parent msg-menu-container__item__text {% else %} msg-menu-container__child-item {% endif %}"
                        {% else %} 
                            class="{% if menu.href %} parent msg-menu-container__item__text {% else %} msg-menu-container__child-item {% endif %}"
                        {% endif %}><span> {{ menu.name_info ?: menu.name }}</span></a>
                    {% else %}
                        <a href="#collapse{{ i }}" title="{{ menu.name }}" data-toggle="collapse" class="parent collapsed msg-menu-container__item__text">
                            <span> {{ menu.name }}</span>
                            <i id="down-icon" class="message-menu-icon giga icon-V10_shouyeyouxiadown"></i>
                            <i id="up-icon" class="message-menu-icon giga icon-V10_shouyeyouxiaTOP"></i>
                        </a>
                    {% endif %}
                    {% if menu.children %}
                        <ul id="collapse{{ i }}" class="collapse msg-menu-container__child" aria-expanded="true">
                            {% for children_1 in menu.children %}
                                <li {% if children_1.id == checked_btn_id %}
                                    class="selectedIndex msg-menu-container__child-item"
                                {% else %} class="msg-menu-container__child-item"
                                        {% endif %}>
                                    {% if children_1.href %}
                                        <a href="{{ children_1.href }}" class="msg-menu-a msg-menu-container__child-item__text"><span>{{ children_1.name }}</span>
                                        {% if(children_1.unread) %}
                                            {% if children_1.unread > 99 %}
                                                <div class="msg-col-corner"> 99+</div>
                                            {% else %}
                                                <div class="msg-col-corner">{{ children_1.unread }}</div>
                                            {% endif %}
                                        {% endif %}
                                        </a>
                                    {% else %}
                                        <a href="#collapse{{ i }}" data-toggle="collapse" class="parent collapsed msg-menu-container__child-item__text"><span>{{ children_1.name }}</span></a>
                                    {% endif %}
                                </li>
                                {% set i = i + 1 %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% set i = i + 1 %}
            {% endfor %}
        </ul>
    </nav>
    {% if sales_link %}
        <nav id="message-column-guide" class="msg_box" style="margin-top: 15px">
            <div class="msg_title">
                {{ text_msg_guide }}
            </div>
            <div id="message-guide-div">
                <a href="{{ sales_link }}"><span> {{ text_msg_sales_order }}</span></a>
                <a href="{{ purchase_link }}"><span> {{ text_msg_purchase_order }}</span></a>
                <a href="{{ inventory_link }}"><span> {{ text_msg_inventory }}</span></a>
                <a href="{{ rma_link }}"><span> {{ text_msg_rma }}</span></a>
                <a href="{{ bid_link }}"><span> {{ text_msg_bid }}</span></a>
            </div>
        </nav>
    {% endif %}
</div>
<style>
    .msg_title {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        padding-bottom: 15px;
        border-bottom: 1px solid #EEEEEE;
    }
    .msg_box {
        width: 230px;
        /*height: 400px;*/
        float: left;
        margin-right: 17px;
        overflow: auto;
        background-color: #fff;
        padding: 16px 0px 0px 0px;
        border: 1px solid #EEEEEE;
    }
</style>
<style>
    #message-guide-div {
        margin-bottom: 25px;
    }

    #message-guide-div a {
        color: #545454;
        text-decoration: none;
        display: block;
        padding: 10px;
        cursor: pointer;
        border-bottom: 0px solid #515151;
    }

    /* 1st lvl */
    #message-guide-div > li {
        position: relative;
    }

    #message-guide-div a:hover {
        color: #FF592E;
        cursor: pointer;
    }

    #message-guide-div a {
        padding-left: 20px;
    }

    .parent {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #down-icon{
        display: none;
    }

    #up-icon {
        display: flex;
    }

    .collapsed #down-icon {
        display: flex;
    }

    .collapsed #up-icon {
        display: none;
    }

    .message-menu-icon {
        font-size: 12px;
    }

    #message-column-left .msg-icon-edit {
      margin-right: 4px;
    }

</style>

<script>
  $("#giga-genie").on('click', function() {
    window.location.href = '{{ url('account/message_center/platform_secretary') }}';
  })

  $("#giga-genie").tooltip({
    trigger: 'manual'
  });

  var timeoutId;
  $("#giga-genie").hover(function() {
    if (!timeoutId) {
      timeoutId = window.setTimeout(function() {
          timeoutId = null;
          $("#giga-genie").tooltip('show');
      }, 1000);
    }
  },
  function () {
    if (timeoutId) {
        window.clearTimeout(timeoutId);
        timeoutId = null;
    }
    else {
        $("#giga-genie").tooltip('hide');
    }
  });
</script>