<style>
  .btn-recharge{
      font-size: 14px;
      width: 200px;
      height: 32px;
  }
  .btn-funds{
      display: flex;
      justify-content: center;
  }
  .wallet .header-pop-up-list #menu_ul .divider{
      margin: 16px -16px;
  }
  .balance-menu-pop .balance-account span {
    font-size: 18px;
    font-weight: bold;
  }
  .balance-menu-pop .wid100 {
    width: 100% !important;
  }
  .balance-menu-pop .balance-account a {
    display: inline-block !important;
    padding: 4px 0 !important;
    float: right;
  }
</style>
<div class="account-balance-wrapper">
      <a onclick="showDetails()" data-cnzz-event="页面头部|Hd_Navigationbar_AccountBalance" class="wallet-total">
        <img src="image/icons/wallet.png">
        <span>Balance</span>
      </a>
</div>
<div class="header-pop-up balance-menu-pop">
    <div class="placeholder-div"></div>
    <div class="header-pop-up-list">
        <ul id="menu_ul">
            <li class="m0-t-i">Current Month's Account Balance</li>
            <li class="balance-account"><span>{{ line_of_credit }}</span><a class="balance-detail" href="{{ showDetail }}">&nbsp;Details ></a></li>
            <li class="history-list wid100"><span>Credit History</span><span class="balance-price">{{ recharge3 }}{{ recharge1 }}{{ recharge2 }}</span></li>
            <li class="history-list"><span>Payment History</span><span class="balance-price">{{ amount3 }}{{ amount1 }}{{ amount2 }}</span></li>
            <li role="separator" class="divider"></li>
            <li class="btn-funds m0-b-i"><a class="btn btn-recharge light-btn" href="{{ rechargeUrl }}"> Add Account Funds</a></li>
        </ul>
    </div>
</div>


<script>
  function showDetails() {
    location = 'index.php?route=account/balance/buyer_balance';
  }
</script>

