<style>
  .nearly {
    margin-right: 10px;
  }
</style>
<link href="/catalog/view/javascript/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"
      media="screen">
<div class="tab-content main">
  <div role="tabpanel" class="tab-pane active" id="tab">
    <div class="bg-white p-2">
      {# 大块 #}
      <div class="filter-wrapper form-wrapper">
        <div class="row">
          {# 查询条件 #}
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" style="width: 100%">
                CREDIT LINE FLOW
              </label>
              <select class="form-control" name="filterTypeVP" id="filterTypeVP">
                <option value="0" {% if 0 == type %} selected {% endif %}>All</option>
                <option value="1" {% if 1 == type %} selected {% endif %}>Received Credits</option>
                <option value="2" {% if 2 == type %} selected {% endif %}>Payments</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" style="width: 100%">
                EXCHANGE HOUR
                <div id="dateError" style="display: none;float: right">{{ error_date }}</div>
              </label>
              <div class="datetimepicker-range">
                <div class="datetimepicker">
                  <input id="effectTimeFromVP" type="text" class="form-control date" placeholder="Pick a date..."
                         name="filter_effectTimeFromVP" value="{{ TimeFrom }}"/>
                  <span class="title">From</span>
                  <span class="icon"><i class="giga icon-date-icon"></i></span>
                </div>
                <div class="datetimepicker">
                  <input id="effectTimeToVP" type="text" class="form-control date" placeholder="Pick a date..."
                         name="filter_effectTimeToVP" value="{{ TimeTo }}"/>
                  <span class="title">To</span>
                  <span class="icon"><i class="giga icon-date-icon"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <div style=" margin-top: 50px">
                <a class="nearly  week" id="week">ONE WEEK</a>
                <a class="nearly  month" id="month">ONE MONTH</a>
                <a class="nearly  year" id="year">ONE YEAR</a>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group pull-right">
              <label class="control-label" style="width: 100%">&nbsp;</label>
              <button type="button" onclick="filterVP(this);" class="btn btn-primary">{{ button_filter }}</button>
              <a onclick="cleanFilterVP(this);" class="btn btn-default"
                 data-toggle="tooltip" title="Reset"><i class="giga icon-reset3 fontw"></i></a>
              <button onclick="downloadVP();" class="btn btn-default" data-toggle="tooltip"
                      title="{{ button_download }}">
                <i class="giga icon-xiazai fontw"></i></button>
            </div>
          </div>
          {# END 查询条件 #}

        </div>
      </div>
      {# END 大块 #}

      <table class="table table-hover">
        <thead>
        <tr>
          <th class="text-center">Record Number</th>
          <th class="text-center" style="width: 160px;">Date</th>
          <th class="text-right" style="width: 240px;">Method | Remark</th>
          <th class="text-center">Received Credits</th>
          <th class="text-center">Payments</th>
        </tr>
        </thead>
        <tbody>
        {% if record_list %}
          {% for record in record_list %}
            <tr>
              <td class="text-center color-blank-gray">{{ record.serial_number }}</td>
              <td class="text-center">{{ record.create_time }}</td>
              <td class="text-right">
                {% if 1 == record.type %}
                  {{ record.method }} <br> <a href="{{ record.url }}" style="font-size: 12px;color: #ccc">Order
                  ID: {{ record.relation_id }}</a>
                {% elseif 2 == record.type %}
                  {{ record.method }} <br> <a href="{{ record.url }}" style="font-size: 12px;color: #ccc">RMA
                  ID: {{ record.rma_order_id }}</a>
                {% elseif 3 == record.type %}
                  {{ record.method }} <br> <a href="{{ record.url }}" style="font-size: 12px;color: #ccc">Agreement
                  ID: {{ record.agreement_code }}</a>
                {% elseif record.type in [4,5,6,8] %}
                  {{ record.method }}
                  <br>
                  <a
                    href="{{ record.url|default('javascript:void(0)') }}"
                    style="font-size: 12px;color: #ccc">
                    Charges Order ID: {{ record.fee_order_no }}
                  </a>
                {% elseif 7 == record.type %}
                  {{ record.method }}
                  <br>
                  <a
                    href="{{ record.url|default('javascript:void(0)') }}"
                    style="font-size: 12px;color: #ccc">
                    Claim of Protection Service. Claim Order ID: {{ record.fee_order_no }}
                  </a>
                {% endif %}
              </td>
              <td class="text-center color-blank-gray">{{ record.revenue }}</td>
              <td class="text-center color-blank-gray">{{ record.payment }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="5" class="text-center">No Record.</td>
          </tr>
        {% endif %}
        </tbody>
      </table>

      <div class="row" style="margin-right: 0">
        <div class="col-sm-12 text-right">
          <ul id="bos_pagination_vp"></ul>
        </div>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript" src="/catalog/view/javascript/datetimepicker/bootstrap-datetimepicker.min.js"
        charset="UTF-8"></script>
<script>
  $('#effectTimeFromVP').datetimepicker({
    minView: 2,
    format: 'yyyy-mm-dd',
    autoclose: true,
    forceParse: true
  });

  $('#effectTimeToVP').datetimepicker({
    minView: 2,
    format: 'yyyy-mm-dd',
    autoclose: true,
    forceParse: true
  });

  {% if TimeFrom %}
  var time_1 = "{{ TimeFrom }}";
  time_1 = time_1.split(" ")[0];
  $('#effectTimeFromVP').val(time_1);
  {% endif %}
  {% if TimeTo %}
  var time_2 = "{{ TimeTo }}";
  time_2 = time_2.split(" ")[0];
  $('#effectTimeToVP').val(time_2);
  {% endif %}

  let virtual_payment_url = 'index.php?route=account/balance/buyer_balance/tab_virtual_payment';

  $(function () {
    block.unBlockUI();
    paginationVP();
  });

  function paginationVP() {
    if ({{ total_pages }}) {
      //total_pages
      $('#bos_pagination_vp').bootstrapPaginator({
        /*当前使用的是3版本的bootstrap*/
        bootstrapMajorVersion: 3,
        /*配置的字体大小是小号*/
        size: 'normal',
        /*当前页*/
        currentPage: {{ page_num }},
        /*一共多少页*/
        totalPages: {{ total_pages }},
        /*页面上最多显示几个含数字的分页按钮*/
        numberOfPages: 5,
        total: {{ total }},
        rowsOfPage: {{ page_limit | default(100) }},

        onPageClicked: function (event, originalEvent, type, page) {
          block.blockUI();
          let url = getUrlVP(virtual_payment_url, page);
          $('#bid-virtual_payment').load(url);
        }
      });
    }
  }

  $('input[type=radio][name=timeSpaceVP]').change(function () {
    // if($("input[name='timeSpaceVP']:checked").val()==4){
    //   $("#effectTimeFromVP").attr("disabled",false);
    //   $("#effectTimeToVP").attr("disabled",false);
    // }else{
    //   $("#effectTimeFromVP").val("").attr("disabled",true);
    //   $("#effectTimeToVP").val("").attr("disabled",true);
    // }
  });

  function getUrlVP(url, page) {
    // let filterType = $("input[name='filterTypeVP']:checked").val();
    let filterType = $("#filterTypeVP option:selected").val();
    if (filterType) {
      url += '&filterType=' + encodeURIComponent(filterType);
    }
    let timeSpace = $("input[name='timeSpaceVP']:checked").val();
    let timeFrom = $("input[name='filter_effectTimeFromVP']").val();
    if (timeFrom) {
      url += '&timeFrom=' + encodeURIComponent(timeFrom);
    }
    let timeTo = $("input[name='filter_effectTimeToVP']").val();
    if (timeTo) {
      url += '&timeTo=' + encodeURIComponent(timeTo);
    }

    if (page) {
      url += "&page_num=" + page;
    }
    return url;
  }

  function cleanFilterVP(button) {
    block.blockUI();
    $('#bid-virtual_payment').load(virtual_payment_url);
    // $(button).button('loading');
  }

  function filterVP(button) {
    block.blockUI();
    let url = getUrlVP(virtual_payment_url);
    $('#bid-virtual_payment').load(url);
    // $(button).button('loading');
  }

  function downloadVP() {
    var url = 'index.php?route=account/balance/buyer_balance/downloadVirtualPayment';
    url = getUrlVP(url);
    location = url;
  }

  var now = new Date();
  $("#week").on('click', function () {
    var weektime1 = new Date().setDate((new Date().getDate() - 7));
    $('#effectTimeFromVP').datetimepicker('setDate', new Date(weektime1));
    $('#effectTimeToVP').datetimepicker('setDate', new Date());
  });
  $("#month").on('click', function () {
    var monthtime2 = new Date().setMonth((new Date().getMonth() - 1));
    $('#effectTimeFromVP').datetimepicker('setDate', new Date(monthtime2));
    $('#effectTimeToVP').datetimepicker('setDate', new Date());
  });
  $("#year").on('click', function () {
    var yeartime3 = new Date().setFullYear((new Date().getFullYear() - 1));
    $('#effectTimeFromVP').datetimepicker('setDate', new Date(yeartime3));
    $('#effectTimeToVP').datetimepicker('setDate', new Date());
  });

</script>