{{ header }}
<style>
  .recharge-apply-process {
    background: #fff;
    box-shadow: 0px -5px 7px rgba(0, 0, 0, 0.35);
    padding: 20px 25px;
  }

  .recharge-apply-process-header {
    display: flex;
    padding: 15px 100px;
    justify-content: space-between;
    /*background: rgba(242, 242, 242, 1);*/
    color: #aaa;
    align-items: center;
    margin-bottom: 50px;
  }

  .recharge-apply-process-header .item-wrap .icon.giga {
    font-size: 22px;
    vertical-align: middle;
  }

  .recharge-apply-process-content {
    min-height: 400px;
    margin-top: 20px;
    padding-left: 40px;
  }

  .recharge-apply-process-content .item-wrap {
    display: flex;
    height: 40px;
    margin-bottom: 20px;
    align-items: center;
  }

  .recharge-apply-process-content .item-wrap label {
    width: 150px;
    /*text-align: right;*/
    /*margin-right: 20px;*/
    margin-bottom: 0;
    font-weight: normal;
  }
  label{
    font-weight: normal;
  }

  .recharge-apply-process-content .item-wrap .account-content input {
    background: #f3f5f7;
    border: 1px solid #ccc;
    color: #333;
    min-width: 350px;
    padding: 0px 8px;
    margin-left: 20px;
    height: 40px;
    border-radius: 4px;
  }


  .recharge-apply-process-content .item-wrap .form-wrapper .mr-2 {
    text-align: left;
    width: 130px;
    margin-right: 5px;
  }

  .recharge-apply-process-content .item-wrap .form-wrapper .mr-2-1 {
    margin-right: 0;
    width: 110px;
  }

  .input-group-addon {
    background-color: #fff;
  }

  .item-wrap i {
    cursor: pointer;
  }

  .point {
    font-size: 12px;
    line-height: 60px;
    color: red;
    margin-left: 10px;
  }

  .path a {
    cursor: pointer;
    text-decoration: underline;
  }

  .path a:hover {
    /*color: #ccc;*/
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .emil {
    background-color: #f3f5f7;
    padding: 15px;
  }

  .emil .item-wrap label {
    text-align: left;
    margin-right: 0;
  }

  .recharge-apply-process-footer {
    margin: 30px;
    text-align: center;

  }

  #showResult {
    position: fixed;
    top: 70px;
    z-index: 10000;
    margin: 0 25%;
  }

  .alert .left,
  .alert .right {
    display: table-cell;
  }

  .alert .left {
    font-size: 20px;
    padding-right: 10px;
    color: #65b017;
  }

  .alert .right {
    width: 100%;
    margin-left: 30px;
  }

  .alert-success {
    background-color: #F0F7e8;
    border: none;
    color: #65b017;
  }

  .recharge-apply-process {
    position: relative;
  }

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    opacity: 0;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    /*初始状态 透明度为0*/
    40% {
      opacity: 0;
    }
    /*过渡状态 透明度为0*/
    100% {
      opacity: 1;
    }
    /*结束状态 透明度为1*/
  }

  @-webkit-keyframes fade-in { /*针对webkit内核*/
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .account-exist-wrapper {
    animation: fade-in; /*动画名称*/
    animation-duration: 0.6s; /*动画持续时间*/
    -webkit-animation: fade-in 0.6s; /*针对webkit内核*/
  }
  .form-wrapper label.radio-inline:not(.mr-2-1) span{
  color: #ccc;
}
  .form-wrapper label.radio-inline input[type="radio"]::before{
    font-size: 16px;
  }
  .form-wrapper label.radio-inline span{
    margin-left: 0;
  }

  /*进度条新样式*/
  .process-item-left{
    width: 25%;
    position: relative;
  }
  .process-item-middle{
    width: 50%;
    position: relative;
  }
  .process-item-right{
    width: 25%;
    position: relative;
  }
  .line{
    height: 2px;
    background: #f3f5f7;
  }
  .process-item.active .line{
    background: #3A75DC;
  }

  .process-icon1{
    position: absolute;
    text-align: center;
    left: -60px;
    top: -24px;
  }
  .process-icon2{
    position: absolute;
    text-align: center;
    left: 50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);  /*兼容-webkit-引擎浏览器*/
    -moz-transform:translateX(-50%);
    top: -24px;
  }
  .process-icon3{
    position: absolute;
    text-align: center;
    right: 0;
    transform:translateX(50%);
    -webkit-transform:translateX(50%);  /*兼容-webkit-引擎浏览器*/
    -moz-transform:translateX(50%);
    top: -24px;
  }
  .process-icon1 p,.process-icon2 p,.process-icon3 p{
    margin: 2px 0;
  }
  .process-icon1 i,.process-icon2 i,.process-icon3 i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border: 2px solid #f3f5f7;
    border-radius: 50%;
    color: #e3e3e3;
    margin: 0 auto;
    background: #fff;
  }
  .process-icon1 .process-txt,.process-icon2 .process-txt,.process-icon3 .process-txt{
    color: #e3e3e3;
  }
  .process-item.active .process-icon1 .process-txt,.process-item.active .process-icon2 .process-txt,.process-item.active .process-icon3 .process-txt{
    color: #3A75DC;
  }
  .process-item.active .process-icon1,.process-item.active .process-icon1 i,.process-item.active .process-icon2,.process-item.active .process-icon2 i,.process-item.active .process-icon3,.process-item.active .process-icon3 i {
    color: #3A75DC;
  }
  .process-item.active .process-icon1 i,.process-item.active .process-icon2 i,.process-item.active .process-icon3 i{
    border-color: #3A75DC;
  }
  .process-item.active.complete .process-icon1 i,.process-item.active.complete .process-icon2 i,.process-item.active.complete .process-icon3 i{
    color: #fff;
    background: #3A75DC;
  }
  .process-time{
    color: #888;
    font-size: 12px;
  }
  .rechange-error-mag{
    margin-left: 10px;
    padding: 4px 10px;
    border-radius: 4px;
    border: 1px solid #ff414d;
    background: #ffecee;
    width: 98%;
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 12px;
  }
  .rechange-error-mag i{
    color: #ff414d;
    margin-right: 4px;
  }
  .flex-s{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .imgList{
    overflow: hidden;
    padding: 0;
  }
  .imgList .img{
    float: left;
    list-style: none;
    width: 100px;
    height: 100px;
    border: 1px solid #eee;
    margin-left: 10px;
    position: relative;
    border-radius: 4px;
    line-height: 100px;
    overflow: hidden;
  }
  .imgList .img:first-child{
    margin-left: 0;
  }
  .operationButtons{
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    line-height: 100px;
    color: #fff;
    cursor: pointer;
  }
  /*.operationButtons.hide{*/
  /*  display: none;*/
  /*}*/
  .operationButtons .gcl{
    font-size: 20px;
    margin-right: 5px;
  }
  .operationButtons .gcl:hover{
    color: #3A75DC;
  }
  .show{
    text-align: center;
  }
  .img-modal-content .close span{
    font-size: 25px;
  }
  .help{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 12px;
  }
  i.icon-help-inactive{
    font-size: 14px;
  }
  .rejectionReason .reason{
    width:-webkit-calc(100% - 160px);
    width:-moz-calc(100% - 160px);
    width:calc(100% - 160px);
    height: 100px;
  }
  .btn-return{
    border: 1px solid #ccc;
    background-color: #f3f5f7;
    color: #3A75DC;
    width: 80px;
  }
  /*进度条新样式*/
</style>
<div id="page-account-balance-container" class="page-account-balance page-seller-portal">
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ detail_heading_title }}</h1>
        <div class="tab-content main mb-4">
          <div class="recharge-apply-process">
            <div class="recharge-apply-process-header">
              <div class="process-item process-item-left active {{ rechargeStatus > 1 ? 'complete' : '' }}">
                <div class="process-icon1">
                  <i class="giga icon-xieyixiangqing picon"></i>
                  <p class="process-txt">{{ title_status_application }}</p>
                  <p class="process-time">{{ apply_date }}</p>
                </div>
                <p class="line"></p>
              </div>
              <div class="process-item process-item-middle {{ rechargeStatus > 1 ? 'active complete' : '' }}">
                <div class="process-icon2">
                  <i class="giga icon-pending picon"></i>
                  <p class="process-txt">{{ title_status_pending }}</p>
                  <p class="process-time"></p>
                </div>
                <p class="line"></p>
              </div>
              <div class="process-item process-item-right {{ rechargeStatus > 2 ? 'active complete' : '' }}">
                <div class="process-icon3">
                  <i class="giga {{ rechargeStatus == 3 ? 'icon-cuowu2 picon' : 'icon-duihao1 picon' }}"></i>
                  <p class="process-txt">{{ rechargeStatus == 3 ? title_status_rejected : title_status_completed }}</p>
                  <p class="process-time">{{ rechargeStatus == 4 ? update_time : '' }}</p>
                </div>
                <p class="line"></p>
              </div>

{#              <div class="item-wrap" style="color: #fa6400">#}
{#                <span class="icon giga icon-duigou"></span>#}
{#                <span>{{ item_recharge_application }}</span>#}
{#              </div>#}
{#              <div class="item-wrap">#}
{#                <span class="icon giga icon-arrow-right-copy"></span>#}
{#              </div>#}
{#              <div class="item-wrap pending" {% if rechargeStatus >= 2 %}style="color: #fa6400"{% endif %}>#}
{#                <span class="icon giga icon-duigou"></span>#}
{#                <span>{{ item_pending }}</span>#}
{#              </div>#}
{#              <div class="item-wrap">#}
{#                <span class="icon giga icon-arrow-right-copy"></span>#}
{#              </div>#}
{#              <div class="item-wrap" {% if rechargeStatus >= 3 %}style="color: #fa6400"{% endif %}>#}
{#                <span class="icon giga icon-duigou"></span>#}
{#                <span>#}
{#                  {% if rechargeStatus == 3 %}#}
{#                    {{ item_rejection }}#}
{#                  {% elseif rechargeStatus == 4 %}#}
{#                    {{ item_complete }}#}
{#                  {% else %}#}
{#                    {{ item_complete }}#}
{#                  {% endif %}#}
{#                </span>#}
{#              </div>#}
            </div>
            <div class="recharge-apply-process-content">
              <div id="re" class="item-wrap">
                <label>{{ title_recharge_method }}</label>
                <div class="form-wrapper">
                  <span>{{ method_airwallex }}</span>
{#                  <label class="radio-inline mr-2 mr-2-1">#}
{#                    <input name="rechargeMethod" type="radio" value="1" checked="checked"/>#}
{#                    <span>{{ method_airwallex }}</span>#}
{#                  </label>&nbsp;&nbsp;#}
{#                  <label class="radio-inline mr-2">#}
{#                    <input name="rechargeMethod" type="radio" value="2" disabled/>#}
{#                    <span title="Temporarily unavailable">{{ method_wire_transfer }}</span>#}
{#                  </label>&nbsp;&nbsp;#}
{#                  <label class="radio-inline mr-2">#}
{#                    <input name="rechargeMethod" type="radio" value="3" disabled/>#}
{#                    <span title="Temporarily unavailable">{{ method_p_card }}</span>#}
{#                  </label>&nbsp;#}
                </div>
              </div>
              <div id="recharge-apply-div">
                <div >
                  <div><i class="giga icon-dingdanhao" style="margin-right: 5px;color: #3A75DC"></i> <label>{{ recharge_order_title }}</label></div>
                  <div class="item-wrap">
                    <div class="account-content">
                      <input style="margin-left: 0" type="text" value="{{ serialNumber }}"
                             disabled>
                    </div>
                  </div>
                </div>
                <div >
                  <div><i class="giga icon-account-blue" style="margin-right: 5px;color: #fb6400"></i> <label>{{ title_account }}</label></div>
                  <div class="item-wrap">
                    <div class="account-content">
                      <input style="margin-left: 0" type="text" value="{{ buyerAccount }}" title="{{ buyerAccount }}"
                             disabled>
                    </div>
                  </div>
                </div>
                <div >
                  <div><i class="giga icon-grid-view-grey" style="margin-right: 8px;color: #65b017"></i><label>{{ title_amount }}</label></div>
                  <div class="item-wrap">
                    <div class="input-group later-icon">
                      {% if currencySymbolLeft %}
                        <div style="border-radius: 4px 0 0 4px" class="input-group-addon">{{ currencySymbolLeft }}</div>
                      {% endif %}
                      <input id="airwallex-recharge-amount" name="rechargeAmount" type="number"
                             style="z-index: 0;width: 313px;border-radius: 0 4px 4px 0"
                             class="form-control password-input"
                             value="{{ amount }}"
                             disabled="disabled">
                      {% if currencySymbolRight %}
                        <div style="border-radius: 0 4px 4px 0" class="input-group-addon">{{ currencySymbolRight }}</div>
                      {% endif %}

                    </div>
                    <span id="moreThanBalanceError" style="display: none"
                          class="point">{{ error_more_than_balance }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="recharge-apply-process-footer">
              <button class="btn btn-return" onclick="goBack()">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="showResult"></div>
<script>
  function goBack() {
    window.location.href = '{{ backUrl }}';
  }
</script>
{{ footer }}