{{ header }}
<link href="catalog/view/javascript/uploadImgs/css/uploadImg.css" rel="stylesheet" type="text/css"/>
<style>
  * {
    font-family: Roboto;
    font-size: 14px;
  }

  .recharge-apply-process {
    background: #fff;
    box-shadow: 0px -5px 7px rgba(0, 0, 0, 0.35);
    padding: 20px 25px;
  }

  .recharge-apply-process-header {
    display: flex;
    padding: 15px 100px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .recharge-apply-process-header .item-wrap .icon.giga {
    font-size: 16px;
    vertical-align: middle;
  }

  .recharge-apply-process-content {
    min-height: 400px;
    margin-top: 20px;
    padding-left: 40px;
  }

  .recharge-apply-process-content .item-wrap {
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 20px;
  }

  .recharge-apply-process-content .item-wrap label {
    width: 150px;
    text-align: right;
    margin-right: 20px;
  }

  .recharge-apply-process-content .item-wrap .account-content input {
    background: #f3f5f7;
    border: 1px solid #ccc;
    color: #333;
    min-width: 350px;
    padding: 08px;
    margin-left: 20px;
    height: 40px;
  }

  .recharge-apply-process-content .item-wrap .form-wrapper .mr-2 {
    text-align: left;
    width: 130px;
    margin-right: 5px;
  }

  .recharge-apply-process-content .item-wrap .form-wrapper .mr-2-1 {
    margin-right: 0;
    width: 110px;
  }

  .input-group-addon {
    background-color: #fff;
    padding: 0;
    width: 38px;
  }

  .item-wrap i {
    cursor: pointer;
  }

  .point {
    font-size: 12px;
    line-height: 60px;
    color: red;
    margin-left: 10px;
  }

  .point2 {
    font-size: 12px;
    color: red;
    margin-left: 10px;
  }

  .path a {
    cursor: pointer;
    text-decoration: underline;
  }

  .path a:hover {
    /*color: #ccc;*/
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .emil {
    background-color: #f3f5f7;
    padding: 15px;
  }

  .emil .item-wrap label {
    text-align: left;
    margin-right: 0;
  }

  .recharge-apply-process-footer {
    margin: 30px;
    text-align: center;

  }

  #showResult {
    position: fixed;
    top: 125px;
    z-index: 10000;
    margin: 0 25%;
    width: 50%;
  }

  .alert .left,
  .alert .right {
    display: table-cell;
  }

  .alert .left {
    font-size: 20px;
    padding-right: 10px;
    color: #65b017;
  }

  .alert .right {
    width: 100%;
    margin-left: 30px;
  }

  .alert-success {
    background-color: #F0F7e8;
    border: none;
    color: #65b017;
  }

  .recharge-apply-process {
    position: relative;
  }

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    opacity: 0;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    /*初始状态 透明度为0*/
    40% {
      opacity: 0;
    }
    /*过渡状态 透明度为0*/
    100% {
      opacity: 1;
    }
    /*结束状态 透明度为1*/
  }

  @-webkit-keyframes fade-in { /*针对webkit内核*/
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .account-exist-wrapper {
    animation: fade-in; /*动画名称*/
    animation-duration: 0.6s; /*动画持续时间*/
    -webkit-animation: fade-in 0.6s; /*针对webkit内核*/
  }

  .account-register-wrapper {
    animation: fade-in; /*动画名称*/
    animation-duration: 0.6s; /*动画持续时间*/
    -webkit-animation: fade-in 0.6s; /*针对webkit内核*/
  }

  .form-wrapper label.radio-inline input[type="radio"]::before {
    font-size: 16px;
  }

  .form-wrapper label.radio-inline span {
    margin-left: 0;
  }

  label {
    margin-bottom: 0;
  }

  .iconMd {
    width: 25px;
  }

  .registerTextRow {
    padding-bottom: 15px;
  }

  /*wtf的样式*/
  .recharge-info-title {
    margin-bottom: 4px;
  }

  .recharge-info-title span {
    padding: 0 25px 5px 25px;
    color: #3A75DC;
    border-bottom: 2px solid #3A75DC;
    font-weight: bolder;
  }

  .recharge-main-con {
    min-height: 200px;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 20px;
  }

  .recharge-label {
    height: 38px;
    line-height: 38px;
    font-weight: normal;
  }

  .recharge-label.required:before {
    content: "*";
    color: #ff414d;
    position: relative;
    top: -2px;
  }

  .upload-imgs-tip {
    font-size: 12px;
    color: #888;
    padding-left: 10px;
  }

  .customer-item {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }

  .customer-item:last-child {
    border-bottom: none;
  }

  .customer-item-inner {
    display: flex;
    margin-bottom: 10px;
  }

  .customer-item-inner-top {
    justify-content: space-between;
  }

  .customer-item-inner-left {
    display: flex;
  }

  .recharge-customer-name label, .recharge-customer-country label, .recharge-customer-fee label {
    font-weight: normal;
    line-height: 23px;
  }

  .recharge-customer-name input {
    width: 536px;
    border-radius: 4px;
    margin-right: 60px;
  }

  .recharge-customer-country .input-group input {
    width: 113px;
    border-radius: 4px;
  }

  .recharge-customer-fee input {
    width: 60px;
    border-radius: 4px 0 0 4px;
    padding: 8px 6px;
  }

  .recharge-customer-fee input.customer-currency {
    width: 40px;
    width: 40px;
    border-radius: 0 4px 4px 0;
  }

  .recharge-customer-fee .icon-help-inactive, .recharge-customer-exchange .icon-help-inactive, .recharge-customer-relmoney .icon-help-inactive {
    position: relative;
    top: -4px;
  }

  .recharge-customer-money, .recharge-customer-exchange, .recharge-customer-relmoney {
    margin-right: 60px;
  }

  .recharge-customer-money label {
    font-weight: normal;
  }

  .recharge-customer-exchange label {
    font-weight: normal;
  }

  .recharge-customer-relmoney label {
    font-weight: normal;
  }

  .recharge-customer-money .input-group input {
    width: 113px;
    border-radius: 4px 0 0 4px;
  }

  .recharge-customer-money .input-group .input-group-addon {
    border-radius: 0 4px 4px 0;
  }

  .recharge-customer-exchange .input-group input {
    width: 113px;
    border-radius: 4px 0 0 4px !important;
  }

  .recharge-customer-exchange .input-group .input-group-addon {
    border-radius: 0 4px 4px 0;
  }

  .recharge-customer-relmoney .input-group input {
    width: 113px;
    border-radius: 4px 0 0 4px;
  }

  .recharge-customer-relmoney .input-group .input-group-addon {
    border-radius: 0 4px 4px 0;
  }

  .recharge-customer-name ul {
    padding: 0;
    margin: 0;
    width: 527px;
    border: 1px solid #eee;
    border-top: none;
    position: absolute;
    z-index: 99;
    background: #fff;
    border-radius: 0 0 4px 4px;
    max-height: 190px;
    overflow: auto;
  }

  .recharge-customer-name ul li {
    list-style: none;
    padding: 8px 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .recharge-customer-name ul li:hover {
    background: #f3f5f7;
    cursor: pointer;
  }

  .giga.icon-action-add, .giga.icon-action-remove {
    display: inline-block;
    width: 22px;
    text-align: center;
  }

  .page-seller-portal .btn.btn-default.add-customer {
    color: #fb6400;
  }

  .page-seller-portal .btn.btn-default.add-customer:hover {
    background: #fb6400;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid #fb6400;
  }

  .recharge-customer-country {
    margin-right: 30px;
  }

  .item-recharge-country {
    border-radius: 0 4px 4px 0;
  }

  .item-recharge-country img {
    margin: 0 2px;
  }

  /*wtf的样式*/

  /*进度条新样式*/
  .process-item-left {
    width: 25%;
    position: relative;
  }

  .process-item-middle {
    width: 50%;
    position: relative;
  }

  .process-item-right {
    width: 25%;
    position: relative;
  }

  .line {
    height: 2px;
    background: #f3f5f7;
  }

  .process-item.active .line {
    background: #3A75DC;
  }

  .process-icon1 {
    position: absolute;
    text-align: center;
    left: -60px;
    top: -24px;
  }

  .process-icon2 {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); /*兼容-webkit-引擎浏览器*/
    -moz-transform: translateX(-50%);
    top: -24px;
  }

  .process-icon3 {
    position: absolute;
    text-align: center;
    right: 0;
    transform: translateX(50%);
    -webkit-transform: translateX(50%); /*兼容-webkit-引擎浏览器*/
    -moz-transform: translateX(50%);
    top: -24px;
  }

  .process-icon1 p, .process-icon2 p, .process-icon3 p {
    margin: 2px 0;
  }

  .process-icon1 i, .process-icon2 i, .process-icon3 i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border: 2px solid #f3f5f7;
    border-radius: 50%;
    color: #e3e3e3;
    margin: 0 auto;
    background: #fff;
  }

  .process-icon1 .process-txt, .process-icon2 .process-txt, .process-icon3 .process-txt {
    color: #e3e3e3;
  }

  .process-item.active .process-icon1 .process-txt, .process-item.active .process-icon2 .process-txt, .process-item.active .process-icon3 .process-txt {
    color: #3A75DC;
  }

  .process-item.active .process-icon1, .process-item.active .process-icon1 i, .process-item.active .process-icon2, .process-item.active .process-icon2 i, .process-item.active .process-icon3, .process-item.active .process-icon3 i {
    color: #3A75DC;
  }

  .process-item.active .process-icon1 i, .process-item.active .process-icon2 i, .process-item.active .process-icon3 i {
    border-color: #3A75DC;
  }

  .process-item.active.complete .process-icon1 i, .process-item.active.complete .process-icon2 i, .process-item.active.complete .process-icon3 i {
    color: #fff;
    background: #3A75DC;
  }

  .process-time {
    color: #888;
    font-size: 12px;
  }

  .rechange-error-mag {
    margin-left: 10px;
    padding: 4px 10px;
    border-radius: 4px;
    border: 1px solid #ff414d;
    background: #ffecee;
    width: 98%;
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 12px;
  }

  .rechange-error-mag i {
    color: #ff414d;
    margin-right: 4px;
  }

  /*进度条新样式*/
  .help {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 12px;
  }

  .help:hover {
    color: #3a75dc;
  }

  i.icon-help-inactive {
    font-size: 14px;
  }

  .notLogged > p {
    margin-bottom: 8px;
  }

  .clo-process-tip {
    margin-bottom: 15px;
  }

  .process-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #3a75dc;
    border-radius: 50%;
    margin-right: 4px;
  }

  .process-hr {
    width: 1px;
    height: 20px;
    border: 1px solid #e6e6e6;
    margin-left: 5px;
  }

  .tooltip p {
    font-size: 12px;
    width: 400px;
  }

  #page-account-balance-container input {
    box-shadow: none;
  }

  #page-account-balance-container label {
    font-weight: normal;
  }

  .name-close:hover {
    color: #3A75DC;
    cursor: pointer;
  }

  .input_recharge_amount_div {
    width: 200px;
  }
</style>
<div id="page-account-balance-container" class="page-account-balance page-seller-portal">
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ heading_title }}</h1>
        <a class="help" href="{{ recharge_instructions_url }}"><i
              class="giga icon-V10-wenhaotishi"></i> {{ title_adding_account_funds }}</a>
        <div class="tab-content main mb-4">
          <div class="recharge-apply-process">
            <div class="recharge-apply-process-header">
              <div class="process-item process-item-left active">
                <div class="process-icon1">
                  <i class="giga icon-xieyixiangqing picon"></i>
                  <p class="process-txt">{{ title_status_application }}</p>
                  <p class="process-time">{{ "now"|date("Y-m-d H:i:s") }}</p>
                </div>
                <p class="line"></p>
              </div>
              <div class="process-item process-item-middle">
                <div class="process-icon2">
                  <i class="giga icon-pending picon"></i>
                  <p class="process-txt">{{ title_status_pending }}</p>
                  <p class="process-time"></p>
                </div>
                <p class="line"></p>
              </div>
              <div class="process-item process-item-right  ">
                <div class="process-icon3">
                  <i class="giga icon-duihao1 picon"></i>
                  <p class="process-txt">{{ title_status_completed }}</p>
                  <p class="process-time"></p>
                </div>
                <p class="line"></p>
              </div>

              {#              <div class="item-wrap" style="color: #fa6400">#}
              {#                <span class="icon giga icon-duigou"></span>#}
              {#                <span>{{ item_recharge_application }}</span>#}
              {#              </div>#}
              {#              <div class="item-wrap">#}
              {#                <span class="icon giga icon-arrow-right-copy"></span>#}
              {#              </div>#}
              {#              <div class="item-wrap pending">#}
              {#                <span class="icon giga icon-duigou"></span>#}
              {#                <span>{{ item_pending }}</span>#}
              {#              </div>#}
              {#              <div class="item-wrap">#}
              {#                <span class="icon giga icon-arrow-right-copy"></span>#}
              {#              </div>#}
              {#              <div class="item-wrap">#}
              {#                <span class="icon giga icon-duigou"></span>#}
              {#                <span>{{ item_complete }}</span>#}
              {#              </div>#}
            </div>
            <div class="recharge-apply-process-content">
              <div id="re" class="item-wrap">
                <label style="text-align: left">{{ title_recharge_method }}</label>
                <div class="form-wrapper">
                  <label class="radio-inline mr-2 mr-2-1">
                    <input name="rechargeMethod" type="radio" value="1" checked="checked"/>
                    <span>{{ method_airwallex }}</span>
                  </label>&nbsp;&nbsp;
                  <label class="radio-inline mr-2">
                    <input name="rechargeMethod" type="radio" value="2"/>
                    <span data-toggle="tooltip" data-original-title="">{{ method_wire_transfer }}</span>
                  </label>&nbsp;&nbsp;
                  <label class="radio-inline mr-2">
                    <input name="rechargeMethod" type="radio" value="3"/>
                    <span data-toggle="tooltip" data-original-title="">{{ method_p_card }}</span>
                  </label>&nbsp;
                  <label class="radio-inline mr-2">
                    <input name="rechargeMethod" type="radio" value="4"/>
                    <span data-toggle="tooltip" data-original-title="">{{ method_pingPong }}</span>
                  </label>&nbsp;
                </div>
              </div>
              <div id="airwallexRechargeType">
                {% if haveAirwallexAccount %}
                  <div id="recharge-apply-div">
                    <div style="margin-bottom: 15px">
                      <div style="margin-bottom: 5px"><i class="giga icon-account-blue"
                                                         style="margin-right: 5px;color: #fb6400"></i>
                        <label>{{ title_account }}</label></div>
                      <div class="item-wrap">
                        <div class="account-content">
                          <input style="margin-left: 0;border-radius: 4px" type="text" value="{{ buyerAccount }}"
                                 title="{{ buyerAccount }}"
                                 disabled>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div style="margin-bottom: 5px"><i class="giga icon-grid-view-grey"
                                                         style="margin-right: 8px;color: #65b017"></i><label>{{ title_amount }}</label>
                      </div>
                      <div class="input-group later-icon">
                        {% if currencySymbolLeft %}
                          <div class="input-group-addon"
                               style="border-radius: 4px 0 0 4px">{{ currencySymbolLeft }}</div>
                        {% endif %}
                        <input id="airwallex-recharge-amount" name="rechargeAmount" type="number"
                               style="z-index: 0;border-radius: 0 4px 4px 0;min-width: 313px"
                               class="form-control password-input"
                               min="0"
                               onkeyup="checkKeyUp(this)"
                               onblur="value = value.replace(/\.0*$/,'')">
                        {% if currencySymbolRight %}
                          <div class="input-group-addon">{{ currencySymbolRight }}</div>
                        {% endif %}

                      </div>
                      <span id="moreThanBalanceError" style="display: none"
                            class="point">{{ error_more_than_balance }}</span>
                    </div>
                  </div>
                {% else %}
                  <div class="notLogged">
                    {{ content_not_have_airwallex_account }}
                    <p>Airwallex transfer is in the early stage of promotion with no transaction fee charged. A 0.2%
                      transaction fee will be charged after the trial period. </p>
                    <p class="path">
                      <a class="register">{{ title_register }}&nbsp;></a>
                      {% if airwallexRegisterApplyFlag %}
                        <a class="ml-2 exist">{{ title_account_exist }}&nbsp;></a>
                      {% else %}
                        <a class="ml-2" style="cursor: not-allowed; color: gray; text-decoration: underline;"
                           title="{{ title_account_reapply_tip }}">{{ title_account_exist }}
                          &nbsp;></a>
                      {% endif %}
                    </p>
                    <div class="emil account-exist-wrapper" style="display: none">
                      {#                      {{ fill_airwallex_account_information }}#}
                      <div class="clo-process-tip">
                        <div style="display:flex;align-items: center">
                          <div class="process-circle"></div>
                          <div>Step1: Enter the email for your Airwallex account.</div>
                        </div>
                        <div class="process-hr"></div>
                        <div style="display:flex;align-items: center"><span class="process-circle"></span>Step2: Receive
                          Airwallex verification email within 2 business days and reply with confirmation response
                        </div>
                        <div class="process-hr"></div>
                        <div style="display:flex;align-items: center"><span class="process-circle"></span>Step3:
                          Airwallex account will be successfully linked to the Giga Cloud Marketplace within 2 business
                          days.
                        </div>
                      </div>
                      <div class="item-wrap">
                        <label>{{ title_airwallex_account }}</label>
                        <div class="account-content">
                          <input id="airwallexAccountIpt" class="airwallex" type="text"
                                 placeholder="{{ title_airwallex_account_placeholder }}">
                          <span id="airwallexAccountIptError" style="display: none"
                                class="point2">Can not be empty</span>
                        </div>
                      </div>
                      {% if haveAirwallexAccount == false %}
                        <div class="recharge-apply-process-footer">
                          <button disabled="disabled" class="btn btn-primary" style="width: 80px"
                                  id="accountExistSave">{{ btn_submit }}</button>
                          <button class="btn btn-default" onclick="clearLoginAccountData()"
                                  style="width: 80px;margin-left: 20px"
                                  id="accountExistClear">{{ btn_clear }}</button>
                        </div>
                      {% endif %}
                    </div>
                    <div class="emil account-register-wrapper" style="display: none">
                      <div class="row registerTextRow">
                        <div class="col-md-1 iconMd">
                          <i class="icon giga icon-zhuce" style="color: rgb(94,133,203)"></i>
                        </div>
                        <div class="col-md-11" style="width: 95%">
                          You are being redirected to the Airwallex webpage. Your Airwallex account will be verified
                          within
                          2-3 business days after registering, please monitor your account.
                        </div>
                      </div>
                      <div class="row registerTextRow">
                        <div class="col-md-1 iconMd">
                          <i class="icon giga icon-guanlian" style="color: rgb(216,144,96)"></i>
                        </div>
                        <div class="col-md-11" style="width: 95%">
                          Airwallex registration is reserved for companies only. Registrations from individuals are not
                          accepted at this time.
                        </div>
                      </div>
                      <div class="row registerTextRow">
                        <div class="col-md-1 iconMd">
                          <i class="icon giga icon-fuwu" style="color: rgb(152,184,118)"></i>
                        </div>
                        <div class="col-md-11" style="width: 95%">
                          New Airwallex users that register through GIGACLOUD will enjou lower rates. After the accounts
                          of
                          both parties are linked, your Airwallex account may no longer be linked to other third party
                          platforms. Please contact Airwallex if you have any question or concerns.
                        </div>
                      </div>
                      <div class="recharge-apply-process-footer">
                        <a class="btn btn-primary" href="{{ airwallexRegisterUrl }}"
                           id="registerBtn">{{ title_register }}</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
              <div id="wireTransferRechargeType" style="display: none">
                <div class="wtr-recharge-info" style="margin-bottom: 10px">
                  <p class="recharge-info-title">
                    <span>{{ title_recharge_information }}</span>
                  </p>
                  <div class="recharge-main-con">
                    <div class="recharge-total-money">
                      <div class="row">
                        <div class="col-sm-2">
                          <label for="recharge-money"
                                 class="required recharge-label">{{ title_recharge_method }}</label>
                        </div>
                        <div class="col-sm-10">
                          <div class="form-wrapper">
                            <label class="radio-inline mr-2 mr-2-1">
                              <input name="rechargeMethodinner" type="radio" value="1"/>
                              <span>{{ method_airwallex }}</span>
                            </label>&nbsp;&nbsp;
                            <label class="radio-inline mr-2">
                              <input name="rechargeMethodinner" type="radio" value="2"/>
                              <span data-toggle="tooltip" data-original-title="">{{ method_wire_transfer }}</span>
                            </label>&nbsp;&nbsp;
                            <label class="radio-inline mr-2">
                              <input name="rechargeMethodinner" type="radio" value="3"/>
                              <span data-toggle="tooltip" data-original-title="">{{ method_p_card }}</span>
                            </label>&nbsp;&nbsp;
                            <label class="radio-inline mr-2">
                              <input name="rechargeMethodinner" type="radio" value="4"/>
                              <span data-toggle="tooltip" data-original-title="">{{ method_pingPong }}</span>
                            </label>&nbsp;
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label for="recharge-money"
                                 class="required recharge-label">{{ title_recharge_amount }}</label>
                        </div>
                        <div class="col-sm-2">
                          <div class="input-group input_recharge_amount_div">
                            <input name="input_recharge_amount_2" type="number" min="0"
                                   style="border-radius: 4px 0 0 4px" type="text"
                                   class="form-control input-recharge-amount tofix" data-fix="2" aria-label="...">
                            <div class="input-group-btn">
                              <button style="height: 40px;box-shadow: none" type="button"
                                      class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false"><span id="currencyChoosed">----</span>
                                <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                {% for currency in currencies %}
                                  {% if currency.code != 'JPY' %}
                                    <li><a class="currency-type"
                                           data-symbol="{{ currency.symbol_left }}{{ currency.symbol_right }}"
                                           data-rate='{{ currency.rate }}'>{{ currency.code }}</a></li>
                                  {% endif %}
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <label for="recharge-money" class="required recharge-label">{{ title_upload_proof }}</label>
                        </div>
                        <div class="col-sm-12">
                          <div class="upload-content">
                            <div class="content-img">
                              <ul class="content-img-list" data-id="wireTransferRechargeType"></ul>
                              <div class="file">
                                <i class="gcl gcladd"></i>
                                <input type="file" name="file" accept="image/*,.pdf" class="upload"
                                       data-img-list-obj="uploadImgListWt"
                                       data-upload-url="{{ upload_recharge_proof_url }}"
                                       data-img-max-size="{{ upload_recharge_proof_max_size }}"
                                       data-img-types='{{ upload_recharge_proof_types }}'>
                                {#                                <input type="file" name="file" accept="image/*" class="upload" data-img-list-obj="uploadImgList" data-upload-url = "{{ upload_recharge_proof_url }}" data-img-max-size="{{ upload_recharge_proof_max_size }}" data-img-types='{{ upload_recharge_proof_types }}' multiple>#}
                              </div>
                            </div>
                            <div class="show"></div>
                            {#                            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="width: 80%;margin: 0px auto;">#}
                            {#                              <div class="modal-dialog modal-lg" role="document">#}
                            {#                                <div class="modal-content">#}

                            {#                                </div>#}
                            {#                              </div>#}
                            {#                            </div>#}
                          </div>
                          <div class='show' id="show"></div>
                        </div>
                        <div class="col-sm-12 upload-imgs-tip">{{ tips_upload_proof }}</div>
                        <div class="col-sm-12 rechange-error-mag"><i class="giga icon-gantanhaojinggao"></i>
                          {{ account_amount_tips }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wtr-customer-info">
                  <p class="recharge-info-title">
                    <span>{{ title_account_information }}</span>
                  </p>
                  <div class="recharge-main-con">
                    <div class="customer-item">
                      <div class="customer-item-inner customer-item-inner-top">
                        <div class="customer-item-inner-left">
                          <div class="recharge-customer-name">
                            <label for="" class="control-label">{{ title_recharge_account }}</label>
                            <input name="buyer_id" class="form-control" type="hidden"
                                   value="{{ customer_data.customer_id }}">
                            <input name="recharge_buyer" class="form-control" type="text" disabled
                                   value="{{ customer_data.value }}" autocomplete="off">

                          </div>
                          <div class="recharge-customer-country">
                            <label for="" class="control-label">{{ title_country }}</label>
                            <div class="input-group">
                              <input type="text" class="form-control" disabled value="{{ customer_data.country }}">
                              <span class="input-group-addon item-recharge-country">
                                <img src="{{ asset("image/HDFlags/#{customer_data.country}.png") }}" width="24px"
                                     height="16px">
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="action-btn">
                          <button class="btn btn-default add-customer"><i
                                class="giga icon-action-add"></i>{{ btn_add_customer }}</button>
                        </div>
                      </div>
                      <div class="customer-item-inner">
                        <div class="recharge-customer-money">
                          <label for="" class="control-label">{{ title_recharge_account_amount }}</label>
                          <div class="input-group">
                            <input name="item_recharge_amount" type="number" min="0"
                                   class="form-control item-recharge-amount-input tofix" data-fix="2">
                            <span class="input-group-addon item-recharge-currency">----</span>
                          </div>
                        </div>
                        <div class="recharge-customer-exchange">
                          <label for="" class="control-label">{{ title_exchange_rate }} <i
                                class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                title="{{ tips_exchange_rate }}"></i></label>
                          <div style="display:flex;align-items: center">
                            <div class="input-group">
                              <input type="text" class="form-control" value="1" disabled>
                              <span class="input-group-addon item-recharge-symbol">--</span>
                            </div>
                            <i class="giga icon-zhuanhuan" style="font-size: 12px;margin: 0 5px"></i>
                            <div class="input-group">
                              <input name="recharge_exchange_rate" type="hidden">
                              <input name="recharge_exchange_rate_show" type="text" class="form-control" disabled>
                              <span class="input-group-addon">{{ customer_data.currency }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="recharge-customer-relmoney">
                          <label for="" class="control-label">{{ title_expect_amount }} <i
                                class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                title="{{ tips_expect_amount }}"></i></label>
                          <div class="input-group">
                            <input name="expect_amount" type="text" class="form-control" disabled>
                            <input name="account_currency" type="text" hidden value="{{ customer_data.currency }}">
                            <span class="input-group-addon">{{ customer_data.currency }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="rechange-error-mag" style="display: none"></div>
                    </div>
                    {#这里插入item#}
                  </div>
                </div>
              </div>
              <div id="pCardRechargeType" style="display: none">
                <div class="pCard-recharge-info" style="margin-bottom: 10px">
                  <p class="recharge-info-title">
                    <span>{{ title_recharge_information }}</span>
                  </p>
                  <div class="recharge-main-con">
                    <div class="recharge-total-money">
                      <div class="row">
                        <div class="col-sm-2">
                          <label for="recharge-money"
                                 class="required recharge-label">{{ title_recharge_method }}</label>
                        </div>
                        <div class="col-sm-10">
                          <div class="form-wrapper">
                            <label class="radio-inline mr-2 mr-2-1">
                              <input name="rechargeMethodinnerCard" type="radio" value="1"/>
                              <span>{{ method_airwallex }}</span>
                            </label>&nbsp;&nbsp;
                            <label class="radio-inline mr-2">
                              <input name="rechargeMethodinnerCard" type="radio" value="2"/>
                              <span data-toggle="tooltip" data-original-title="">{{ method_wire_transfer }}</span>
                            </label>&nbsp;&nbsp;
                            <label class="radio-inline mr-2">
                              <input name="rechargeMethodinnerCard" type="radio" value="3"/>
                              <span data-toggle="tooltip" data-original-title="">{{ method_p_card }}</span>
                            </label>
                            <label class="radio-inline mr-2">
                              <input name="rechargeMethodinnerCard" type="radio" value="4"/>
                              <span data-toggle="tooltip" data-original-title="">{{ method_pingPong }}</span>
                            </label>&nbsp;
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label for="recharge-money"
                                 class="required recharge-label">{{ title_recharge_amount }}</label>
                        </div>
                        <div class="col-sm-2">
                          <div class="input-group input_recharge_amount_div">
                            <input name="input_recharge_amount_3" type="number" min="0"
                                   style="border-radius: 4px 0 0 4px" type="text"
                                   class="form-control input-recharge-amount tofix" data-fix="2" aria-label="...">
                            <div class="input-group-btn">
                              <button style="height: 40px;box-shadow: none" type="button"
                                      class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false"><span id="currencyChoosed">----</span>
                                <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                {% for currency in currencies %}
                                  <li><a class="currency-type"
                                         data-symbol="{{ currency.symbol_left }}{{ currency.symbol_right }}"
                                         data-rate='{{ currency.rate }}'>{{ currency.code }}</a></li>
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <label for="recharge-money" class="required recharge-label">{{ title_upload_proof }}</label>
                        </div>
                        <div class="col-sm-12">
                          <div class="upload-content">
                            <div class="content-img">
                              <ul class="content-img-list" data-id="pCardRechargeType"></ul>
                              <div class="file">
                                <i class="gcl gcladd"></i>
                                <input type="file" name="file" accept="image/*" class="upload"
                                       data-img-list-obj="uploadImgListPc"
                                       data-upload-url="{{ upload_recharge_proof_url }}"
                                       data-img-max-size="{{ upload_recharge_proof_max_size }}"
                                       data-img-types='{{ upload_recharge_proof_types }}'>
                              </div>
                            </div>
                            <div class="show"></div>
                          </div>
                          <div class='show' id="show"></div>
                        </div>
                        <div class="col-sm-12 upload-imgs-tip">{{ tips_upload_proof }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pCard-customer-info">
                  <p class="recharge-info-title">
                    <span>{{ title_account_information }}</span>
                  </p>
                  <div class="recharge-main-con">
                    <div class="customer-item">
                      <div class="customer-item-inner customer-item-inner-top">
                        <div class="customer-item-inner-left">
                          <div class="recharge-customer-name">
                            <label for="" class="control-label">{{ title_recharge_account }}</label>
                            <input name="buyer_id" class="form-control" type="hidden"
                                   value="{{ customer_data.customer_id }}">
                            <input name="recharge_buyer" class="form-control" type="text" disabled
                                   value="{{ customer_data.value }}" autocomplete="off">
                          </div>
                          <div class="recharge-customer-country">
                            <label for="" class="control-label">{{ title_country }}</label>
                            <div class="input-group">
                              <input type="text" class="form-control" disabled value="{{ customer_data.country }}">
                              <span class="input-group-addon item-recharge-country">
                                <img src="{{ asset("image/HDFlags/#{customer_data.country}.png") }}" width="24px"
                                     height="16px">
                              </span>
                            </div>
                          </div>
                          <div class="recharge-customer-fee">
                            <label for="" class="control-label">{{ title_commission }} <i
                                  class="giga icon-V10-wenhaotishi" style="cursor:pointer;" data-toggle="modal"
                                  data-target="#rechargeCustomerFeeModal"></i></label>
                            <div style="display: flex">
                              <input id="item_commission" name="commission" type="text" class="form-control" disabled
                                     value="">
                              <input type="text" class="form-control customer-currency" disabled value="USD"
                                     style="background: #fff;border-left: 0">
                            </div>
                          </div>
                        </div>
                        <div class="action-btn">
                          <button class="btn btn-default add-customer"><i
                                class="giga icon-action-add"></i>{{ btn_add_customer }}</button>
                        </div>
                      </div>
                      <div class="customer-item-inner">
                        <div class="recharge-customer-money">
                          <label for="" class="control-label">{{ title_recharge_account_amount }}</label>
                          <div class="input-group">
                            <input name="item_recharge_amount" type="number" min="0"
                                   class="form-control item-recharge-amount-input tofix" data-fix="2">
                            <span class="input-group-addon item-recharge-currency">----</span>
                          </div>
                        </div>
                        <div class="recharge-customer-exchange">
                          <label for="" class="control-label">{{ title_exchange_rate }} <i
                                class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                title="{{ tips_exchange_rate }}"></i></label>
                          <div style="display: flex;align-items: center">
                            <div class="input-group">
                              <input type="text" class="form-control" value="1" disabled>
                              <span class="input-group-addon item-recharge-symbol">--</span>
                            </div>
                            <i class="giga icon-zhuanhuan" style="font-size: 12px;margin: 0 5px"></i>
                            <div class="input-group">
                              <input name="recharge_exchange_rate" type="hidden">
                              <input name="recharge_exchange_rate_show" type="text" class="form-control" disabled>
                              <span class="input-group-addon">{{ customer_data.currency }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="recharge-customer-relmoney">
                          <label for="" class="control-label">{{ title_expect_amount }} <i
                                class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                title="{{ tips_expect_amount }}"></i></label>
                          <div class="input-group">
                            <input name="expect_amount" type="text" class="form-control" disabled>
                            <input name="account_currency" type="text" hidden value="{{ customer_data.currency }}">
                            <span class="input-group-addon">{{ customer_data.currency }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="rechange-error-mag" style="display: none"></div>
                    </div>
                    {#这里插入item#}
                  </div>
                </div>
              </div>

              <div id="pingPongRechargeType" style="display: none">
                <div class="pCard-recharge-info" style="margin-bottom: 10px">
                  <p class="recharge-info-title">
                    <span>{{ title_recharge_information }}</span>
                  </p>
                  <div class="recharge-main-con">
                    <div class="recharge-total-money">
                      <div class="row">
                        <div class="col-sm-2">
                          <label for="recharge-money"
                                 class="required recharge-label">{{ title_recharge_method }}</label>
                        </div>
                        <div class="col-sm-10">
                          <div class="form-wrapper">
                            <label class="radio-inline mr-2 mr-2-1">
                              <input name="rechargeMethodPingPong" type="radio" value="1"/>
                              <span>{{ method_airwallex }}</span>
                            </label>&nbsp;&nbsp;
                            <label class="radio-inline mr-2">
                              <input name="rechargeMethodPingPong" type="radio" value="2"/>
                              <span data-toggle="tooltip" data-original-title="">{{ method_wire_transfer }}</span>
                            </label>&nbsp;&nbsp;
                            <label class="radio-inline mr-2">
                              <input name="rechargeMethodPingPong" type="radio" value="3"/>
                              <span data-toggle="tooltip" data-original-title="">{{ method_p_card }}</span>
                            </label>
                            <label class="radio-inline mr-2">
                              <input name="rechargeMethodPingPong" type="radio" value="4"/>
                              <span data-toggle="tooltip" data-original-title="">{{ method_pingPong }}</span>
                            </label>&nbsp;
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <label for="recharge-money"
                                 class="required recharge-label">{{ title_recharge_amount }}</label>
                        </div>
                        <div class="col-sm-2">
                          <div class="input-group input_recharge_amount_div">
                            <input name="input_recharge_amount_4" type="number" min="0"
                                   style="border-radius: 4px 0 0 4px" type="text"
                                   class="form-control input-recharge-amount tofix" data-fix="2" aria-label="...">
                            <div class="input-group-btn">
                              <button style="height: 40px;box-shadow: none" type="button"
                                      class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false"><span id="currencyChoosed">----</span>
                                <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                {% for currency in currencies %}
                                  <li><a class="currency-type"
                                         data-symbol="{{ currency.symbol_left }}{{ currency.symbol_right }}"
                                         data-rate='{{ currency.rate }}'>{{ currency.code }}</a></li>
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <label for="recharge-money" class="required recharge-label">{{ title_upload_proof }}</label>
                        </div>
                        <div class="col-sm-12">
                          <div class="upload-content">
                            <div class="content-img">
                              <ul class="content-img-list" data-id="pCardRechargeType"></ul>
                              <div class="file">
                                <i class="gcl gcladd"></i>
                                <input type="file" name="file" accept="image/*" class="upload"
                                       data-img-list-obj="uploadImgListPp"
                                       data-upload-url="{{ upload_recharge_proof_url }}"
                                       data-img-max-size="{{ upload_recharge_proof_max_size }}"
                                       data-img-types='{{ upload_recharge_proof_types }}'>
                              </div>
                            </div>
                            <div class="show"></div>
                          </div>
                          <div class='show' id="show"></div>
                        </div>
                        <div class="col-sm-12 upload-imgs-tip">{{ tips_upload_proof }}</div>
                        <div class="col-sm-12 rechange-error-mag"><i class="giga icon-gantanhaojinggao"></i>
                          {{ account_amount_tips }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pingPong-customer-info">
                  <p class="recharge-info-title">
                    <span>{{ title_account_information }}</span>
                  </p>
                  <div class="recharge-main-con">
                    <div class="customer-item">
                      <div class="customer-item-inner customer-item-inner-top">
                        <div class="customer-item-inner-left">
                          <div class="recharge-customer-name">
                            <label for="" class="control-label">{{ title_recharge_account }}</label>
                            <input name="buyer_id" class="form-control" type="hidden"
                                   value="{{ customer_data.customer_id }}">
                            <input name="recharge_buyer" class="form-control" type="text" disabled
                                   value="{{ customer_data.value }}" autocomplete="off">
                          </div>
                          <div class="recharge-customer-country">
                            <label for="" class="control-label">{{ title_country }}</label>
                            <div class="input-group">
                              <input type="text" class="form-control" disabled value="{{ customer_data.country }}">
                              <span class="input-group-addon item-recharge-country">
                                <img src="{{ asset("image/HDFlags/#{customer_data.country}.png") }}" width="24px"
                                     height="16px">
                              </span>
                            </div>
                          </div>
                          <div class="recharge-customer-fee">
                            <label for="" class="control-label">{{ title_commission }} <i
                                  class="giga icon-V10-wenhaotishi" style="cursor:pointer;" data-toggle="modal"
                                  data-target="#rechargeCustomerFeeModal"></i></label>
                            <div style="display: flex">
                              <input id="item_commission_pp" name="commission" type="text" class="form-control" disabled
                                     value="">
                              <input type="text" class="form-control customer-currency" disabled value="USD"
                                     style="background: #fff;border-left: 0">
                            </div>
                          </div>
                        </div>
                        <div class="action-btn">
                          <button class="btn btn-default add-customer"><i
                                class="giga icon-action-add"></i>{{ btn_add_customer }}</button>
                        </div>
                      </div>
                      <div class="customer-item-inner">
                        <div class="recharge-customer-money">
                          <label for="" class="control-label">{{ title_recharge_account_amount }}</label>
                          <div class="input-group">
                            <input name="item_recharge_amount" type="number" min="0"
                                   class="form-control item-recharge-amount-input tofix" data-fix="2">
                            <span class="input-group-addon item-recharge-currency">----</span>
                          </div>
                        </div>
                        <div class="recharge-customer-exchange">
                          <label for="" class="control-label">{{ title_exchange_rate }} <i
                                class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                title="{{ tips_exchange_rate }}"></i></label>
                          <div style="display: flex;align-items: center">
                            <div class="input-group">
                              <input type="text" class="form-control" value="1" disabled>
                              <span class="input-group-addon item-recharge-symbol">--</span>
                            </div>
                            <i class="giga icon-zhuanhuan" style="font-size: 12px;margin: 0 5px"></i>
                            <div class="input-group">
                              <input name="recharge_exchange_rate" type="hidden">
                              <input name="recharge_exchange_rate_show" type="text" class="form-control" disabled>
                              <span class="input-group-addon">{{ customer_data.currency }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="recharge-customer-relmoney">
                          <label for="" class="control-label">{{ title_expect_amount }} <i
                                class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                title="{{ tips_expect_amount }}"></i></label>
                          <div class="input-group">
                            <input name="expect_amount" type="text" class="form-control" disabled>
                            <input name="account_currency" type="text" hidden value="{{ customer_data.currency }}">
                            <span class="input-group-addon">{{ customer_data.currency }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="rechange-error-mag" style="display: none"></div>
                    </div>
                    {#这里插入item#}
                  </div>
                </div>
              </div>
            </div>
            {% if haveAirwallexAccount %}
              <div class="recharge-apply-process-footer">
                <button class="btn btn-primary" id="save" disabled="disabled"
                        style="width: 80px">{{ btn_submit }}</button>
                <button class="btn btn-default" id="clear" disabled="disabled" onclick="clearData()"
                        style="width: 80px;margin-left: 20px">{{ btn_clear }}</button>
              </div>
            {% endif %}
            <div class="recharge-apply-process-footer">
              <button class="btn btn-primary" id="otherSave" style="display: none;width: 80px">{{ btn_submit }}</button>
              <button class="btn btn-default" id="otherClear" onclick="clearData()"
                      style="display: none;width: 80px;margin-left: 20px">
                {{ btn_clear }}</button>
            </div>
            <div class="loading" style="display: none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="showResult"></div>


<div class="modal fade bs-example-modal-lg" id="show_image" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content img-modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

{#手续费模态框#}
<div class="modal fade" id="rechargeCustomerFeeModal" tabindex="-1" role="dialog"
     aria-labelledby="rechargeCustomerFeeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="font-size: 21px"
                                                                                          aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="rechargeCustomerFeeModalLabel">{{ title_transaction_fee_rate }}</h4>
      </div>
      <div class="modal-body">
        <div style="margin-left: 0;width: 100%;margin-bottom: 15px;margin-top: 0" class="rechange-error-mag"><i
              class="giga icon-gantanhaojinggao"></i>
          {{ tips_transaction_fee_rate }}
        </div>
        <table style="margin-bottom: 0" class="table  table-bordered table-responsive">
          <thead>
          <tr>
            <th style="text-align: center">{{ title_account_funds_amount }}</th>
            <th style="text-align: center">{{ title_commission }}</th>
          </tr>
          </thead>
          <tbody>
          {% for commission in commissions %}
            <tr>
              <td style="text-align: center">{{ commission.desc }}</td>
              <td style="text-align: center">${{ commission.commission }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{#手续费模态框#}
<script type="text/javascript" src="catalog/view/javascript/uploadImgs/js/uploadImg.js"></script>
<script>
  var uploadImgListWt = [];//用于存放上传的图片
  var uploadImgListPc = [];//用于存放上传的图片
  var uploadImgListPp = [];//用于存放PingPong上传的图片

  function checkKeyUp(input) {
    {% if isJp %}
    var p2 = parseFloat(input.value).toFixed(0);
    if (!isNaN(p2)) {
      input.value = p2 >= 0 ? p2 : '0';
    }
    {% else %}
    var p2 = parseFloat(input.value).toFixed(2);
    input.value = p2 >= 0 ? (/\.0?$/.test(input.value) ? input.value : p2.replace(/0$/, '').replace(/\.0$/, '')) : '';
    {% endif %}
    // 获取余额
    if (input.value == '' || input.value == 0) {
      $("#moreThanBalanceError").css('display', '');
      $("#moreThanBalanceError").text("Please fill in the amount");
      $("#save").attr('disabled', 'disabled');
      $("#clear").attr('disabled', 'disabled');

    } else {
      $("#moreThanBalanceError").css('display', 'none');
      $("#save").removeAttr('disabled');
      $("#clear").removeAttr('disabled');
    }
  }

  $(".icon-mimayincang").click(function () {
    $(".balance").show();
    $(".icon-mimayincang").hide();
  });
  $(".balance").click(function () {
    $(".balance").hide();
    $(".icon-mimayincang").show();
  });
  $(".exist").click(function () {
    $(".account-register-wrapper").hide();
    $(".account-exist-wrapper").show();
    $("#accountExistSave").removeAttr("disabled");
    $(this).css("cursor", "not-allowed");
    $(this).css("color", "gray");
    $(".register").css("cursor", "pointer")
    $(".register").css("color", "#333");
  });
  $(".register").click(function () {
    $(".account-exist-wrapper").hide();
    $(".account-register-wrapper").show();
    $("#accountExistSave").attr("disabled", "disabled");
    $(this).css("cursor", "not-allowed");
    $(this).css("color", "gray");
    $(".exist").css("cursor", "pointer")
    $(".exist").css("color", "#333");
  });

  function airwallexRecharge(data) {
    // 组装数据
    $.ajax({
      url: "{{ apply_save_url }}",
      method: "POST",
      data: data,
      dataType: 'json',
      success: function (msg) {
        if (msg['success']) {
          myToastFn('{{ content_apply_successful_title }}', '{{ content_apply_successful }}', 'success');
          setTimeOut2(msg['redirect'].replace(/&amp;/, '&'));
        } else {
          var warningMsg = msg['msg'];
          myToastFn('Failed', warningMsg, 'error');
          $("#save").button('reset');
          $(".loading").hide();
        }
      },
      error: function () {
        myToastFn('Failed', 'Please contact with our customer service to argue.', 'error');
        $("#save").button('reset');
        $(".loading").hide();
      }
    });
  }

  //其他充值方式充值
  function otherRecharge(data) {
    // 组装数据
    $.ajax({
      url: "{{ apply_save_url }}",
      method: "POST",
      data: data,
      dataType: 'json',
      success: function (res) {
        if (res.code == 200) {
          myToastFn('{{ recharge_apply_success_title }}', res.data, 'success', 'index.php?route=account/balance/buyer_balance&tab=2');
        } else {
          $("#otherSave").button('reset');
          $("#otherClear").removeAttr('disabled');
          myToastFn('Failed', res.msg, 'error');
        }
        $(".loading").hide();
      },
      error: function () {
        $("#otherSave").button('reset');
        $("#otherClear").removeAttr('disabled');
        $(".loading").hide();
      }
    });
  }

  $("#save").click(function () {
    $("#save").button('loading');
    $("#showResult").empty();
    $(".loading").show();
    // Airwallex Account exist apply
    var data;
    var rechargeMethod = getRechargeMethod();
    if (rechargeMethod == 1) {
      // Airwallex支付
      var airwallexRechargeAmount = $("#airwallex-recharge-amount").val();
      if (airwallexRechargeAmount == '' || airwallexRechargeAmount == 0) {
        $("#moreThanBalanceError").css('display', '');
        $("#moreThanBalanceError").text("Please fill in the amount");
        $("#save").button('reset');
        $(".loading").hide();
        return;
      }

      data = {
        'rechargeMethod': rechargeMethod,
        'rechargeAmount': airwallexRechargeAmount
      };
      // 请求充值
      airwallexRecharge(data);
    }
  });

  $("#otherSave").click(function () {
    $("#otherSave").button('loading');
    $("#otherClear").attr('disabled', 'disabled');
    $(".loading").show();
    // 其他充值方式充值
    var data;
    var rechargeMethod = getRechargeMethod();
    if (rechargeMethod != 2 && rechargeMethod != 3 && rechargeMethod != 4) {
      otherSaveError('{{ recharge_method_does_not_exist }}');
      return;
    }
    //拼装数据
    //父div的名字，用于遍历下面输入的内容
    let itemsParentName = getItemParentDivName(rechargeMethod);
    let items = getItems(rechargeMethod, itemsParentName);
    let proofs = rechargeMethod == 2 ? uploadImgListWt : rechargeMethod == 3 ? uploadImgListPc : uploadImgListPp;
    let rechargeAmount = $('input[name="input_recharge_amount_' + rechargeMethod + '"]').val();
    var divName = getParentDivName(rechargeMethod);
    var rechargeCurrency = $(divName + " #currencyChoosed").html();
    //基础数据校验---START
    if (rechargeAmount == '' || rechargeAmount == 0) {
      otherSaveError('{{ recharge_amount_is_required }}');
      return;
    }
    if (rechargeCurrency == '') {
      otherSaveError('{{ recharge_currency_is_required }}');
      return;
    }
    if (proofs.length == 0) {
      otherSaveError('{{ please_upload_proofs }}');
      return;
    }
    var checkItem = false;
    var checkItemMsg = '';
    $.each(items, function (i, item) {
      if (item.buyer_id == '') {
        checkItem = true;
        checkItemMsg = '{{ buyer_data_error }}'
        return;
      }
      if (item.recharge_amount <= 0 || item.recharge_amount == '') {
        checkItem = true;
        checkItemMsg = '{{ recharge_amount_greater_equal }}'
        return;
      }
    })
    if (checkItem) {
      otherSaveError(checkItemMsg);
      return;
    }
    //基础数据校验---END
    data = {
      rechargeMethod: rechargeMethod,
      rechargeAmount: rechargeAmount,
      recharge_currency: rechargeCurrency,
      items: items,
      proofs: proofs,
    };
    otherRecharge(data)
  });

  function otherSaveError(msg) {
    myToastFn('Failed', msg, 'error');
    $("#otherSave").button('reset');
    $("#otherClear").removeAttr('disabled');
    $(".loading").hide();
  }

  $("#accountExistSave").click(function () {
    var airwallexAccount = $("#airwallexAccountIpt").val();
    if (airwallexAccount.trim() == '') {
      $("#airwallexAccountIptError").css('display', '');
      return;
    }
    var data = {"airwallexAccount": airwallexAccount};
    $("#accountExistSave").button('loading');
    $("#showResult").empty();
    $(".loading").show();
    // Airwallex Account exist apply
    $.ajax({
      url: "index.php?route=account/balance/recharge/airwallexAddAccount",
      method: "POST",
      data: data,
      dataType: 'json',
      success: function (msg) {
        if (msg['success']) {
          myToastFn('{{ content_apply_successful_title }}', '{{ content_apply_successful }}', 'success');
          setTimeOut2();
        } else {
          myToastFn('Failed', 'Please contact with our customer service to argue.', 'error');
          $("#save").button('reset');
          $(".loading").hide();
        }
      },
      error: function () {
        myToastFn('Failed', 'Please contact with our customer service to argue.', 'error');
        $("#save").button('reset');
        $(".loading").hide();
      }
    });
  });

  /**
   * 保存按钮控制
   * @param rm 传入充值类型编号
   */
  function submitBtn(rm) {
    if (rm == 1) {
      $("#save").show();
      $("#clear").show();
      $("#accountExistSave").show();
      $("#otherSave").hide();
      $("#otherClear").hide();
    } else {
      $("#save").hide();
      $("#clear").hide();
      $("#accountExistSave").hide();
      $("#otherSave").show();
      $("#otherClear").show();
    }
  }

  //获取所有items数据
  function getItems(rechargeMethod, name) {
    let els = $("." + name + " .recharge-main-con").children();
    let items = [];
    for (var i = 0, j = els.length; i < j; i++) {
      let item = $(els[i]);
      let buyer = item.find('input[name="buyer_id"]').val();
      let rechargeAmount = item.find('input[name="item_recharge_amount"]').val();
      let rechargeExchangeRate = item.find('input[name="recharge_exchange_rate"]').val();
      let expectAmount = item.find('input[name="expect_amount"]').val();
      let accountCurrency = item.find('input[name="account_currency"]').val();
      var commission = 0;
      if (rechargeMethod == 3 && i == 0) {
        commission = item.find("#item_commission").val();
      }
      if (rechargeMethod == 4 && i == 0) {
        commission = item.find("#item_commission_pp").val();
      }
      items.push({
        buyer_id: buyer,
        commission: commission,//手续费
        recharge_amount: rechargeAmount,//充值金额
        recharge_exchange_rate: rechargeExchangeRate,//汇率
        expect_amount: expectAmount,//预计到账金额
        account_currency: accountCurrency,//到账币种
      });
    }
    return items;
  }

  function getRechargeMethod() {
    let rechargeMethod = $('input:radio[name="rechargeMethod"]:checked').val();
    let rechargeMethodinner = $('input:radio[name="rechargeMethodinner"]:checked').val();
    let rechargeMethodinnerCard = $('input:radio[name="rechargeMethodinnerCard"]:checked').val();
    let rechargeMethodPingPong = $('input:radio[name="rechargeMethodPingPong"]:checked').val();
    if (rechargeMethod == 1) {
      return 1;
    } else if (rechargeMethodinner == 2) {
      return 2;
    } else if (rechargeMethodinnerCard == 3) {
      return 3;
    } else if (rechargeMethodPingPong == 4) {
      return 4;
    }
    return 0;
  }

  //获取这个充值方法顶级的div name
  function getParentDivName(rechargeMethod) {
    if (rechargeMethod == 1) {
      return '#airwallexRechargeType';
    } else if (rechargeMethod == 2) {
      return '#wireTransferRechargeType';
    } else if (rechargeMethod == 3) {
      return '#pCardRechargeType';
    } else if (rechargeMethod == 4) {
      return '#pingPongRechargeType';
    }
  }

  function getItemParentDivName(rechargeMethod) {
    return rechargeMethod == 2 ? 'wtr-customer-info' : rechargeMethod == 3 ? 'pCard-customer-info' : 'pingPong-customer-info';
  }

  //清除数据
  function clearData() {
    let rm = getRechargeMethod();
    if (rm == 1) {
      $('#airwallex-recharge-amount').val('');
      $("#save").attr('disabled', 'disabled');
      $("#clear").attr('disabled', 'disabled');
    } else {
      //清空上传的凭证和选中的币种
      var selectCurrency;
      var selectSymbol;
      if (rm == 2) {
        uploadImgListWt = [];
        selectCurrency = wtSelectCurrency = '----';
        selectSymbol = wtSelectSymbol = '--';
      } else if (rm == 3) {
        uploadImgListPc = [];
        selectCurrency = pSelectCurrency = '----';
        selectSymbol = pSelectSymbol = '--';
      } else if (rm == 4) {
        uploadImgListPp = [];
        selectCurrency = ppSelectCurrency = '----';
        selectSymbol = ppSelectSymbol = '--';
      }
      var divName = getParentDivName(rm);
      var boxId = $(divName + ' .content-img-list');
      var imgId = boxId.attr('data-id');
      $.each($(divName + ' .content-img-list .content-img-list-item'), function (index, obj) {
        img_container[imgId].imgSrc.splice(0, 1);
        img_container[imgId].imgFile.splice(0, 1);
        img_container[imgId].imgName.splice(0, 1);
        if (index == 0) {
          //执行一次，显示上传按钮
          boxId.parents('.content-img').find('.file').show();
        }
      });
      console.log(img_container[imgId]);
      addNewContent(boxId);
      //清空打款金额
      $('input[name="input_recharge_amount_' + rm + '"]').val('');
      $(divName + " #currencyChoosed").html(selectCurrency);
      //清空item
      let itemsParentName = getItemParentDivName(rm);
      let els = $("." + itemsParentName + " .recharge-main-con").children();
      for (var i = 0, j = els.length; i < j; i++) {
        let item = $(els[i]);
        if (i == 0) {
          //第一个只清除输入框
          item.find('input[name="item_recharge_amount"]').val('');
          item.find('input[name="recharge_exchange_rate"]').val('');
          item.find('input[name="recharge_exchange_rate_show"]').val('');
          item.find('input[name="expect_amount"]').val('');
          if (rm == 3) {
            item.find("#item_commission").val('');
          }
          if (rm == 4) {
            item.find("#item_commission_pp").val('');
          }
          item.find(".item-recharge-currency").html(selectCurrency);
          item.find(".item-recharge-symbol").html(selectSymbol);
        } else {
          //其他的直接删除
          item.remove();
        }
      }
    }


  }

  function clearLoginAccountData() {
    $('#airwallexAccountIpt').val('');
  }

  function clearBuyerData(item) {
    item = $(item);
    item.find('input[name="buyer_id"]').val('');//用户id
    let rechargeBuyer = item.find('input[name="recharge_buyer"]');
    rechargeBuyer.val('');
    rechargeBuyer.removeAttr('disabled');
    item.find('input[name="account_currency"]').val('{{ customer_data.currency }}');
    item.find('input[name="expect_amount"]').val('');
    item.find('#country').val('');
    item.find("#span_currency_1").html('{{ customer_data.currency }}');
    item.find("#span_currency_2").html('{{ customer_data.currency }}');
    item.find("#customer_flag_img").attr('src', '{{ asset("image/HDFlags/#{customer_data.country}.png") }}');
    //设置成默认汇率
    let rm = getRechargeMethod();
    let defaultCurrency = '{{ customer_data.currency }}';
    let rate;
    if (rm === 2) {
      rate = wtSelectCurrencyRate[defaultCurrency];
    } else {
      rate = pSelectCurrencyRate[defaultCurrency];
    }
    if (rate) {
      item.find('input[name="recharge_exchange_rate"]').val(rate);//汇率
      item.find('input[name="recharge_exchange_rate_show"]').val(rate.toFixed(3));//汇率
    } else {
      item.find('input[name="recharge_exchange_rate"]').val('');//汇率
      item.find('input[name="recharge_exchange_rate_show"]').val('');//汇率
    }
  }

  function setTimeOut2(redirect) {
    window.setTimeout(function () {
      if (redirect) {
        window.location.href = redirect;
      } else {
        window.location.href = 'index.php?route=account/balance/buyer_balance';
      }
    }, 5000);
  }
</script>
<script>
  var wtSelectCurrency = '----';//当前选择的币种
  var pSelectCurrency = '----';//当前选择的币种
  var ppSelectCurrency = '----';//pingPong当前选择的币种
  var wtSelectSymbol = '--';//当前选择的币种对应的符号
  var pSelectSymbol = '--';//当前选择的币种对应的符号
  var ppSelectSymbol = '--';//pingPong当前选择的币种对应的符号
  var wtSelectCurrencyRate = [];//当前选择币种对其他货币的汇率
  var pSelectCurrencyRate = [];//当前选择币种对其他货币的汇率
  var ppSelectCurrencyRate = [];//pingPong当前选择币种对其他货币的汇率
  $('input:radio[name="rechargeMethod"]').click(function () {
    let checkValue = $('input:radio[name="rechargeMethod"]:checked').val();
    selectedRechargeType(checkValue);
    submitBtn(checkValue);
  });
  $('input:radio[name="rechargeMethodinner"]').click(function () {
    let checkValue = $('input:radio[name="rechargeMethodinner"]:checked').val();
    selectedRechargeType(checkValue);
    submitBtn(checkValue);
  });
  $('input:radio[name="rechargeMethodinnerCard"]').click(function () {
    let checkValue = $('input:radio[name="rechargeMethodinnerCard"]:checked').val();
    selectedRechargeType(checkValue);
    submitBtn(checkValue);
  });
  $('input:radio[name="rechargeMethodPingPong"]').click(function () {
    let checkValue = $('input:radio[name="rechargeMethodPingPong"]:checked').val();
    selectedRechargeType(checkValue);
    submitBtn(checkValue);
  });

  function selectedRechargeType(checkValue) {
    if (checkValue == 1) {
      $("#airwallexRechargeType").show();
      $("#wireTransferRechargeType").hide();
      $("#pCardRechargeType").hide();
      $("#pingPongRechargeType").hide();
      $("#re").show();
      $("input:radio[name='rechargeMethod'][value='1']").prop("checked", true);
      //$("#save").attr('disabled', 'disabled');
    } else if (checkValue == 2) {
      $("#airwallexRechargeType").hide();
      $("#wireTransferRechargeType").show();
      $("#pCardRechargeType").hide();
      $("#pingPongRechargeType").hide();
      $("#re").hide();
      $("input:radio[name='rechargeMethodinner'][value='2']").prop("checked", true);
      $("#save").removeAttr('disabled');
    } else if (checkValue == 3) {
      $("#airwallexRechargeType").hide();
      $("#wireTransferRechargeType").hide();
      $("#pCardRechargeType").show();
      $("#pingPongRechargeType").hide();
      $("#re").hide();
      $("input:radio[name='rechargeMethodinnerCard'][value='3']").prop("checked", true);
      $("#save").removeAttr('disabled');
    } else if (checkValue == 4) {
      $("#airwallexRechargeType").hide();
      $("#wireTransferRechargeType").hide();
      $("#pCardRechargeType").hide();
      $("#pingPongRechargeType").show();
      $("#re").hide();
      $("input:radio[name='rechargeMethodPingPong'][value='4']").prop("checked", true);
      $("#save").removeAttr('disabled');
    }
  }

  //计算手续费
  //重新选择币种或者重新输入金额都要重新计算
  function calculateCommission(rechargeMethod) {
    if (rechargeMethod != 3 && rechargeMethod != 4) {
      //只有P卡与pingPong要
      return false;
    }
    // 美元汇率区间
    let commissions = JSON.parse('{{ commissions_json }}');
    //获取输入的金额
    let rechargeAmount = $('input[name="input_recharge_amount_' + rechargeMethod + '"]').val();
    //获取选择的币种
    var divName = getParentDivName(rechargeMethod);
    var rechargeCurrency = $(divName + " #currencyChoosed").html();
    if (!rechargeAmount || rechargeAmount == '0' || !rechargeCurrency || rechargeCurrency == '----') {
      //没选择币种不计算
      return false;
    }
    //转换成美元
    let usaAmount;
    if (rechargeMethod == 3) {
      usaAmount = rechargeAmount * pSelectCurrencyRate['USD'];
    } else {
      usaAmount = rechargeAmount * ppSelectCurrencyRate['USD'];
    }
    let isSetCommission = false;
    $.each(commissions, function (index, commission) {
      if (usaAmount < commission.max) {
        if (rechargeMethod == 3) {
          $(divName + " #item_commission").val(commission.commission);
        }
        if (rechargeMethod == 4) {
          $(divName + " #item_commission_pp").val(commission.commission);
        }
        isSetCommission = true;
        return false;
      }
    })
    if (!isSetCommission) {
      if (rechargeMethod == 3) {
        $(divName + " #item_commission").val(0);
      }
      if (rechargeMethod == 4) {
        $(divName + " #item_commission_pp").val(0);
      }
    }
    let item_recharge_amount = $(divName).find('input[name="item_recharge_amount"]');
    calculateExpectAmount(item_recharge_amount[0]);
    return true;
  }

  //计算预计到账金额,传入input框对象
  function calculateExpectAmount(obj) {
    var obj = $(obj);
    let rechargeAmount = obj.val();

    //获取选择的币种
    var rechargeCurrency = obj.next().html();
    let accountDiv = obj.parent().parent().parent();//充值到账父级DIV
    var accountCurrency = accountDiv.find('input[name="account_currency"]').val()
    if (!rechargeCurrency || rechargeCurrency == '----' || !accountCurrency) {
      return false;
    }
    let commission = 0;//手续费
    let commissionInput = accountDiv.parent().find('input[name="commission"]');
    if (commissionInput.length > 0) {
      commission = commissionInput.val();
    }
    var expectAmountObj = accountDiv.find('input[name="expect_amount"]');
    var rechargeExchangeRateObj = accountDiv.find('input[name="recharge_exchange_rate"]');
    var rechargeExchangeRateShowObj = accountDiv.find('input[name="recharge_exchange_rate_show"]');
    var fix = obj.attr("data-fix");
    //获取汇率
    var usdToCurrencyRate = JSON.parse('{{ currencies.USD.rate }}');// 美元兑换其他币种汇率
    let rm = getRechargeMethod();
    let selectCurrencyRate;
    let rechargeExchangeRate;
    if (rm == 2) {
      selectCurrencyRate = wtSelectCurrencyRate;
      rechargeExchangeRate = wtSelectCurrencyRate[accountCurrency];
    } else if (rm == 3) {
      selectCurrencyRate = pSelectCurrencyRate;
      rechargeExchangeRate = pSelectCurrencyRate[accountCurrency];
    } else {
      selectCurrencyRate = ppSelectCurrencyRate;
      rechargeExchangeRate = ppSelectCurrencyRate[accountCurrency];
    }
    if (rechargeExchangeRate) {
      // 汇率替换
      rechargeExchangeRateObj.val(rechargeExchangeRate);
      rechargeExchangeRateShowObj.val(rechargeExchangeRate.toFixed(3));
    }
    if (!rechargeAmount || rechargeAmount == 0 || rechargeAmount == '') {
      //没有输入退出
      expectAmountObj.val('');
      return;
    }
    // 开始计算
    var expectAmount;
    if (commission > 0) {
      // 扣除手续费 转换成美元再扣去手续费再转换成原币种
      expectAmount = (rechargeAmount * selectCurrencyRate['USD'] - commission) * usdToCurrencyRate[accountCurrency];
      if (expectAmount <= 0) {
        //不够扣除手续费的不继续计算
        expectAmountObj.val('');
        return;
      }
    } else {
      expectAmount = rechargeAmount * rechargeExchangeRateObj.val();
    }
    //日元是整数
    expectAmount = Math.round(expectAmount * 100) / 100;
    if (accountCurrency == 'JPY') {
      expectAmount = parseInt(Math.round(expectAmount));
    }
    expectAmountObj.val(expectAmount);
    return true;
  }

  //处理选择币种
  $('body').on("click", ".currency-type", function () {
    let rm = getRechargeMethod();
    var selectCurrency;
    var selectSymbol;
    if (rm == 2) {
      selectCurrency = wtSelectCurrency = $(this).html();
      selectSymbol = wtSelectSymbol = this.dataset.symbol;
      wtSelectCurrencyRate = JSON.parse(this.dataset.rate);
    } else if (rm == 3) {
      selectCurrency = pSelectCurrency = $(this).html();
      selectSymbol = pSelectSymbol = this.dataset.symbol;
      pSelectCurrencyRate = JSON.parse(this.dataset.rate);
    } else {
      selectCurrency = ppSelectCurrency = $(this).html();
      selectSymbol = ppSelectSymbol = this.dataset.symbol;
      ppSelectCurrencyRate = JSON.parse(this.dataset.rate);
    }
    var divName = getParentDivName(rm);
    $(divName + " #currencyChoosed").html(selectCurrency);
    $.each($(divName + " .item-recharge-currency"), function (i, obj) {
      $(obj).html(selectCurrency);
    });
    $.each($(divName + " .item-recharge-symbol"), function (i, obj) {
      $(obj).html(selectSymbol);
    });
    //重新计算手续费
    calculateCommission(rm);
    $.each($(divName).find('input[name="item_recharge_amount"]'), function (i, item_recharge_amount) {
      calculateExpectAmount(item_recharge_amount);
    })
    //

    //金额规格格式化
    let fixNum = selectCurrency == "JPY" ? 0 : 2;
    if (selectCurrency)
      currencyChange(divName, fixNum);
    loopFixNum(divName);
    //金额规格格式化
  })

  $('body').on("focus", '.recharge-customer-name input', function () {
    $(this).next().show()
  })
  $('body').on("click", ".customer-name-list li", function () {
    let obj = $(this);
    let txt = obj.html();
    let customerId = this.dataset.customerId;
    let country = this.dataset.country;
    let currency = this.dataset.currency;
    let flagUrl = this.dataset.flagUrl;
    let buyerInput = obj.parent().prev();
    buyerInput.val(txt);
    //锁定输入框
    buyerInput.attr('disabled', 'disabled');
    var item = obj.parent().parent().parent().parent().parent().parent();//找到这个item的根节点
    item.find('input[name="buyer_id"]').val(customerId);//customerId赋值
    item.find("#country").val(country);//修改国家
    item.find('input[name="account_currency"]').val(currency);//修改到账币种input框
    item.find("#span_currency_1").html(currency);//修改到账币种
    item.find("#span_currency_2").html(currency);//修改到账币种
    item.find("#customer_flag_img").attr('src', flagUrl);//修改到账币种
    item.find('input[name="recharge_exchange_rate"]').val('');//修改到账币种input框
    obj.parent().hide();
    //重新计算到账金额
    calculateExpectAmount(item.find('input[name="item_recharge_amount"]'));
  })
  window.addEventListener('click', event => {
    console.log(event.target.className);
    if ('customer-name-list' !== event.target.className && 'customer-name-list-item' !== event.target.className && 'form-control customer-name-input' !== event.target.className) {
      $(".customer-name-list").hide();
    }
  })
  //搜索充值账户
  $("body").on("input", '.customer-name-input', function (e) {
    linkCustomer(e)
  })
  //搜索充值账户 IE端
  $("body").on("propertychange", '.customer-name-input', function (e) {
    linkCustomer(e)
  })

  function linkCustomer(e) {
    let input = $(e.target);
    //账户输入框触发
    var ul = input.next();
    let kw = input.val().trim();//输入值
    ul.html('');//不管怎样，都要清除原来的提示框
    if (!kw) {
      return false;
    }
    $.ajax({
      url: "index.php?route=account/balance/recharge/getRechargeBuyerList&keyword=" + encodeURIComponent(kw),
      method: "GET",
      dataType: 'json',
      success: function (json) {
        if (json.code == 200) {
          ul.html('');//请求完毕也要清除，因为有可能多个请求同时进行
          $.each(json.data, function (i, customer) {
            let str = customer.value;
            ul.append('<li class="customer-name-list-item" data-customer-id="' + customer.customer_id + '" data-country="' + customer.country + '" data-currency="' + customer.currency + '" data-flag-url="{{ asset("image/HDFlags/'+ customer.country +'.png") }}">' + str + '</li>')
          });
        }
      }
    });
    ul.show();
  }

  //充值金额修改
  $("body").on("input", '.item-recharge-amount-input', function (e) {
    let input = $(e.target);
    fixFn(input);
    calculateExpectAmount(input);
  })
  //充值金额修改 IE端
  $("body").on("propertychange", '.item-recharge-amount-input', function (e) {
    let input = $(e.target);
    fixFn(input);
    calculateExpectAmount(input);
  })

  //校验充值金额
  function checkRechargeAmount(obj) {
    obj = $(obj);
    var errorDiv = obj.parent().parent().parent().next();
    $("#otherSave").removeAttr('disabled');
    let rm = getRechargeMethod();
    let itemsParentName = getItemParentDivName(rm);
    let items = getItems(rm, itemsParentName);
    errorTipHide(rm);

    var sumRecharge = 0;//总金额
    let rechargeAmount = $('input[name="input_recharge_amount_' + rm + '"]').val();//打款金额
    $.each(items, function (i, item) {
      sumRecharge = sumRecharge + Number(item.recharge_amount);
    })
    let toFixNumber = obj.attr("data-fix");
    if (toFixNumber > 0) {
      sumRecharge = sumRecharge.toFixed(toFixNumber);
      rechargeAmount = Number(rechargeAmount).toFixed(toFixNumber);
    }
    sumRecharge = parseFloat(sumRecharge);
    rechargeAmount = parseFloat(rechargeAmount);
    if (sumRecharge > rechargeAmount) {
      errorDiv.html('<i class="giga icon-gantanhaojinggao"></i>{{ error_recharge_max }}');
      errorDiv.show();
      $("#otherSave").attr('disabled', 'disabled');
      return false;
    } else if (sumRecharge < rechargeAmount) {
      // 钱少了
      return false;
    }
    return true;
  }

  function errorTipHide(rm) {
    let itemsParentName = getItemParentDivName(rm);
    $.each($("." + itemsParentName + " .rechange-error-mag"), function (i, errorItem) {
      $(errorItem).hide();
    })
  }

  //打款金额修改触发
  $("body").on("input", '.input-recharge-amount', function (e) {
    let rm = getRechargeMethod();
    let divName = getParentDivName(rm);
    //重新计算手续费
    calculateCommission(rm);
  })
  //打款金额修改触发 IE端
  $("body").on("propertychange", '.input-recharge-amount', function (e) {
    let rm = getRechargeMethod();
    let divName = getParentDivName(rm);
    //重新计算手续费
    calculateCommission(rm);
  })

  // 移除用户
  $('body').on("click", '.remove-customer', function () {
    $(this).parent().parent().parent().remove();
    let rm = getRechargeMethod();
    checkAccountLimit(rm)
    let divName = getParentDivName(rm);
    let item_recharge_amount = $(divName).find('input[name="item_recharge_amount"]');
    checkRechargeAmount(item_recharge_amount[0]);
  })

  //清除用户信息
  $('body').on("click", '.name-close', function () {
    let obj = $(this);
    var item = obj.parent().parent().parent().parent().parent();//找到这个item的根节点
    clearBuyerData(item);
  })

  //添加用户
  $('body').on("click", ".wtr-customer-info .add-customer", function () {
    let addHtml = getItemHtml(2);
    $(".wtr-customer-info .recharge-main-con").append(addHtml);
    checkAccountLimit(2)
  })

  $('body').on("click", ".pCard-customer-info .add-customer", function () {
    let addHtml = getItemHtml(3);
    $(".pCard-customer-info .recharge-main-con").append(addHtml);
    checkAccountLimit(3)
  })

  $('body').on("click", ".pingPong-customer-info .add-customer", function () {
    let addHtml = getItemHtml(4);
    $(".pingPong-customer-info .recharge-main-con").append(addHtml);
    checkAccountLimit(4)
  })

  function checkAccountLimit(rm) {
    let divName = getItemParentDivName(rm);
    let els = $("." + divName + " .recharge-main-con").children();
    var addBtn = $("." + divName + " .add-customer");
    if (els.length >= 5) {
      addBtn.attr('disabled', 'disabled');
      return false;
    } else {
      addBtn.removeAttr('disabled');
      return true;
    }
  }

  function getItemHtml(type) {
    var defaultCurrency = '{{ customer_data.currency }}';
    var selectCurrency;
    var selectSymbol;
    let toFixNum = 2;
    let rate;
    let rateShow = '';
    if (type == 2) {
      selectSymbol = wtSelectSymbol;
      selectCurrency = wtSelectCurrency;
      rate = wtSelectCurrencyRate[defaultCurrency];
    } else if (type == 3) {
      selectSymbol = pSelectSymbol;
      selectCurrency = pSelectCurrency;
      rate = pSelectCurrencyRate[defaultCurrency];
    } else {
      selectSymbol = ppSelectSymbol;
      selectCurrency = ppSelectCurrency;
      rate = ppSelectCurrencyRate[defaultCurrency];
    }
    if (rate !== undefined) {
      rateShow = rate.toFixed(3);
    }

    if (selectCurrency === "JPY") {
      toFixNum = 0;
    }
    let addHtml = `
      <div class="customer-item">
                      <div class="customer-item-inner customer-item-inner-top">
                        <div class="customer-item-inner-left">
                          <div class="recharge-customer-name">
                            <label for="" class="control-label">{{ title_recharge_account }}</label>
                            <div style='position:relative'>
                              <input name="buyer_id" class="form-control" type="hidden" value="">
                              <span style="position: absolute;top:10px;right:70px" class="name-close"><i class="giga icon-cuowu2"></i></span>
                              <input style="padding-right: 25px" name="recharge_buyer" class="form-control customer-name-input" type="text" value="" placeholder="{{ recharge_buyer_placeholder }}" autocomplete="off">
                              <ul class="customer-name-list" style="display: none">
                              </ul>
                            </div>
                          </div>
                          <div class="recharge-customer-country">
                            <label for="" class="control-label">{{ title_country }}</label>
                            <div class="input-group">
                              <input id="country" type="text" class="form-control" disabled="" value="">
                              <span class="input-group-addon item-recharge-country">
                                <img id="customer_flag_img" src="{{ asset("image/HDFlags/#{customer_data.country}.png") }}" width="24px" height="16px">
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="action-btn">
                          <button class="btn btn-default remove-customer"><i class="giga icon-action-remove"></i>{{ btn_remove_customer }}</button>
                        </div>
                      </div>
                      <div class="customer-item-inner">
                        <div class="recharge-customer-money">
                          <label for="" class="control-label">{{ title_recharge_account_amount }}</label>
                          <div class="input-group">
                            <input name="item_recharge_amount" type="number" min="0" class="form-control item-recharge-amount-input tofix" data-fix="${toFixNum}">
                            <span class="input-group-addon  item-recharge-currency">` + selectCurrency + `</span>
                          </div>
                        </div>
                        <div class="recharge-customer-exchange">
                          <label for="" class="control-label">{{ title_exchange_rate }}</label>
                          <div style="display: flex;align-items: center;">
                              <div class="input-group">
                                <input type="text" class="form-control" value="1" disabled>
                                <span class="input-group-addon item-recharge-symbol">` + selectSymbol + `</span>
                              </div>
                                <i class="giga icon-zhuanhuan" style="font-size: 12px;margin: 0 5px"></i>
                              <div class="input-group">
                                <input name="recharge_exchange_rate" type="hidden" value="` + rate + `">
                                <input name="recharge_exchange_rate_show" type="text" class="form-control" disabled value="` + rateShow + `">
                                <span id="span_currency_1" class="input-group-addon">` + defaultCurrency + `</span>
                              </div>
                           </div>
                        </div>
                        <div class="recharge-customer-relmoney">
                          <label for="" class="control-label">{{ title_expect_amount }}</label>
                          <div class="input-group">
                            <input name="expect_amount" type="text" class="form-control" disabled>
                            <input name="account_currency" type="text" value="` + defaultCurrency + `" hidden>
                            <span id="span_currency_2" class="input-group-addon">{{ customer_data.currency }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="rechange-error-mag" style="display: none"></div>
                    </div>
    `;
    return addHtml;
  }

  // 金额输入控制
  $("body").on("input", '.tofix', function () {
    fixFn(this);
    loopFixNum("wireTransferRechargeType");
    var obj = this;
    if (this.name != 'item_recharge_amount') {
      let rm = getRechargeMethod();
      let divName = getParentDivName(rm);
      obj = $(divName).find('input[name="item_recharge_amount"]');
      obj = obj[0];
    }
    checkRechargeAmount(obj);
  })
  $("body").on("propertychange", '.tofix', function () {
    fixFn(this);
    var obj = this;
    if (this.name != 'item_recharge_amount') {
      let rm = getRechargeMethod();
      let divName = getParentDivName(rm);
      obj = $(divName).find('input[name="item_recharge_amount"]');
      obj = obj[0];
    }
    checkRechargeAmount(obj);
  })

  function fixFn(even) {
    let toFixNumber = $(even).attr("data-fix");
    let val = $(even).val();
    if (toFixNumber == 2) {
      var potIndex = val.indexOf('.');
      if (potIndex >= 1) {
        //有小数点
        //并且是xx.0的格式不进行格式化，因为有可能输入xx.0x
        if (val.length <= potIndex + 3) {
          return;
        }
      }
      let valArr = val.split('.');
      if (valArr && valArr.length == 2) {
        let valDot = valArr[1].substring(0, 2);
        $(even).val(Number(valArr[0] + '.' + valDot))
      } else {
        $(even).val(Number(val))
      }
    } else {
      $(even).val(Math.floor(val))
    }
    let rm = getRechargeMethod();
    calculateCommission(rm);
  }

  // 金额输入控制
  //遍历校验金额位数
  function loopFixNum(type) {
    let inputArr = [];
    inputArr = $(type + " .tofix");
    inputArr.each((i, item) => {
      fixFn(item);
    });
  }

  //遍历校验金额位数
  //换币种跟换检验
  function currencyChange(type, numFix) {
    let inputArr = [];
    inputArr = $(type + " .tofix");
    inputArr.each((i, item) => {
      $(item).attr("data-fix", numFix);
    });
  }

  //换币种跟换检验
</script>
{#提示辅助类#}
<script>
  function myToastFn(title, message, type, jumpUrl = '') {
    $.toast({
      heading: title,
      text: message,
      position: 'top-center',
      showHideTransition: 'fade',
      icon: type,
      hideAfter: false,
      allowToastClose: true,
      loader: false,
      afterHidden: function () {
        if (jumpUrl) {
          block.unBlockUI()
          window.location.href = jumpUrl;
        } else {
          block.unBlockUI()
        }
      },
      afterShown: function () {
        block.blockUI()
        $("#Modal-Mask-layer").css('background-image','none')
      }
    })
  }
</script>
{{ footer }}
