{# 模块操作页面通用样式引用 #}
{% trans_default_category 'account/sidebar/price_calculator' %}
{{ css(['static/customerpartner/seller_store/home/components/modules/modules_common.css']) }}
<script type="text/x-template" id="calc-modal">
  <div class="calc-modal">
    <div class="modal fade myPriceModal" tabindex="-1" role="dialog" data-backdrop="static">
      <div class="modal-dialog oris-modal" style="width: 600px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" @click="handleClose">
              <i class="giga icon-V10_danchuangguanbi close-icon"></i>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              {{ __('一件代发建议价格估算（仅供参考）') }}
            </h4>
          </div>
          <div class="modal-body">
            <el-form class="pd20" :model="calcForm" ref="calcForm" label-width="142px">
              <el-form-item class="my-form-label" label="{{ __('销售渠道参考定价') }}" prop="referencePrice">
                <el-input v-model="calcForm.referencePrice" @blur="onBlur" @change="onChange"
                          :oninput="countryid!=107?validNumber2:validNumber3">
                  <template slot="append">${ currency }</template>
                </el-input>
              </el-form-item>
              <el-form-item class="my-form-label" label="{{ __('销售渠道费用比例') }}">
                <el-input v-model="calcForm.costRatio" :oninput="validNumber1" @change="onChange" @blur="onBlurProportion">
                  <template slot="suffix">%</template>
                </el-input>
              </el-form-item>
              <el-form-item class="my-form-label" label="{{ __('预留渠道利润比例') }}">
                <el-input v-model="calcForm.profitRatio" :oninput="validNumber1" @change="onChange" @blur="onBlurProportion">
                  <template slot="suffix">%</template>
                </el-input>
              </el-form-item>
              <el-form-item label="{{ __('运费') }}" prop="freight">
                <el-input v-model="calcForm.freight" @blur="onBlur" @change="onChange"
                          :oninput="countryid!=107?validNumber2:validNumber3">
                  <template slot="append">${ currency }</template>
                </el-input>
              </el-form-item>
              <el-form-item label="{{ __('打包费') }}" prop="packFee">
                <el-input v-model="calcForm.packFee" @blur="onBlur" @change="onChange"
                          :oninput="countryid!=107?validNumber2:validNumber3">
                  <template slot="append">${ currency }</template>
                </el-input>
              </el-form-item>
              <el-form-item class="my-form-label" label="{{ __('一件代发建议价格') }}">
                <span class="suggest-price-title">${ symbolleft} ${ suggestedPrice } ${ symbolright }</span>
              </el-form-item>
              <div class="text-center">
                <el-button class="oris-button-bigger oris-button btn-filter mr-10" @click.stop="getPrice">
                  {{ __('获取建议价') }}
                </el-button>
                <el-button class="oris-button-default oris-button-bigger oris-button mr-10 reset"
                           @click.stop="handleClose">{{ __('取消') }}
                </el-button>
              </div>
            </el-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<script>
  Vue.component('calc-modal', {
    template: '#calc-modal',
    delimiters: ['${', '}'],
    props: {
      visible: Boolean,
      currency: String,
      freight: [Number, String],
      packfee: [Number, String],
      symbolleft: String,
      symbolright: String,
      countryid: [Number,String]
    },
    data: () => {
      return {
        calcForm: {
          referencePrice: '0.00',
          costRatio: 5,
          profitRatio: 10,
          freight: 0,
          packFee: 0
        },
        suggestedPrice: '0.00',
        // 0.1-100.0
        validNumber1: 'this.value= this.value.match(/(100|((([1-9][0-9]{0,1}|\\d)(\\.\\d{0,1})?)?))/)?' +
          'this.value.match(/(100|((([1-9][0-9]{0,1}|\\d)(\\.\\d{0,1})?)?))/)[0]:\'\'',
        // 0.01-99999.99
        validNumber2: 'this.value= this.value.match(/(([1-9][0-9]{0,4}|\\d)(\\.\\d{0,2})?)?/)?' +
          'this.value.match(/(([1-9][0-9]{0,4}|\\d)(\\.\\d{0,2})?)?/)[0]:\'\'',
        // 1-9999999
        validNumber3: 'this.value= this.value.match(/([1-9]\\d{0,6}|0)?/) ? this.value.match(/([1-9]\\d{0,6}|0)?/)[0] : \'\'',
      }
    },
    methods: {
      // 初始化数据
      initData(){
        this.calcForm = {
          referencePrice: '0.00',
          costRatio: 5,
          profitRatio: 10,
          freight: 0,
          packFee: 0
        };
        this.suggestedPrice=this.countryid==107?0:'0.00';
        if(this.countryid==107){
          for(var key in this.calcForm){
            this.$set(this.calcForm,[key],parseInt(this.calcForm[key]));
          }
        }
      },
      // 失焦后，值赋为0
      onBlur(e) {
        if (e.target.value == '') {
          e.target.value = this.toFiexed2(0)
        }else{
          e.target.value = this.toFiexed2(e.target.value);
        }
      },
      // 百分比、平均售出天数失焦置为0,
      onBlurProportion(e){
        if (e.target.value == '') {
          e.target.value = 0;
        }
      },
      // 监听数值变化，判断是否为数字
      onChange(value) {
        let reg = /^[-+]?(([0-9]+)([.]([0-9]+))?|([.]([0-9]+))?)$/;
        if (reg.test(value)) {
          this.calcPrice();
        }
      },
      // 关闭弹窗
      handleClose() {
        this.$emit('closeCalcModal');
      },
      // 保留两位小数
      toFiexed2(num){
        return this.countryid == 107 ? mathematical.formatDecimal(num,0): mathematical.formatDecimal(num,2);
      },
      // 一件代发建议价格估算:
      // 公式：一件代发建议价格=渠道参考定价*（1-渠道预留利润比例-渠道手续费比例）- （运费+打包费）
      // arg1 = 1 - 渠道预留利润比例-渠道手续费比例
      // arg2 = 渠道参考定价* arg1
      // amount = arg2 - 运费 - 打包费
      calcPrice() {
        let arg1 = mathematical.accSub(1,mathematical.accMul(this.calcForm.costRatio,0.01));
        let arg2 = mathematical.accSub(arg1,mathematical.accMul(this.calcForm.profitRatio,0.01));
        let amount = mathematical.accMul(this.calcForm.referencePrice,arg2);
        amount = mathematical.accSub(amount,this.calcForm.freight);
        amount = mathematical.accSub(amount,this.calcForm.packFee);
        if (amount) {
          if (parseFloat(amount) < 0) {
            this.suggestedPrice = this.countryid==107?0:'0.00';
          } else {
            this.suggestedPrice = mathematical.MathToFixed(amount,this.countryid==107?0:2);
            this.suggestedPrice = mathematical.formatDecimal(this.suggestedPrice,this.countryid==107?0:2);
          }
        }
      },

      // 获取价格并提交于父组件
      getPrice(e) {
        try{
          e.stopPropagation();//非IE浏览器
        }
        catch(e){
          window.event.cancelBubble = true;//IE浏览器
        }
        this.$emit('getPrice', mathematical.formatDecimal(this.suggestedPrice,this.countryid==107?0:2));
      }

    },
    watch: {
      visible(val) {
        if (val) {
          this.initData();
          this.$set(this.calcForm, 'freight', this.toFiexed2(this.freight));
          this.$set(this.calcForm, 'packFee', this.toFiexed2(this.packfee));
        }else{
          this.initData();
        }
      }
    }
  })
</script>