{{ this.title('Buyer Protection Management') }}
{{ this.params('breadcrumbs', [
'home',
'current'
]) }}
{{ css('css/buyer/safeguard/index.css') }}
{{ cssOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css']) }}
{{ jsOrigin(['/catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js','catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js']) }}
{{ js(['js/common/toolString.js']) }}

{# 以下引入是日期范围选择器 #}
{{ js(['js/common/dateRangePicker.js']) }}
{{ css(['css/common/dateRangePicker.css']) }}

{# 定义nav导航数组 #}
{% set navDatas = [
{'id':'tab_bill_order','name': 'Purchased Service Query', 'url': bill_base_url, 'isShow': true},
{'id':'tab_claim_order','name':'Claim Query', 'url': claim_base_url, 'isShow': true,'show_number':claim_number},
{'id':'tab_auto_buy_plan','name':'Settings for API Users', 'url': 'account/safeguard/auto_buy_plan/list', 'isShow': isAutoBuyer}]
%}

<div class="page-content">
  {{ this.params('title', this.getTitle()) }}
  <div class="nav-oris">
    <div class="oris-row">
      <ul class="nav nav-tabs main" role="tablist">
        {% for one in navDatas %}
        {% if one.isShow %}
        <li>
          <a href="#{{one.id}}" role="tab" data-toggle="tab-ajax" data-url="{{ url(one.url) }}">
            {{one.name}}
            {% if one.show_number is defined and one.show_number > 0 %}
            <span class="tab-number">{{ one.show_number }}</span>
            {% endif %}
            {% if one.id=='tab_auto_buy_plan' %}
              <span id="dueSoon"
                    class="expiring-tip {% if isAboutToExpire == false %} noneI {% endif %}">Due Soon</span>
            {% endif %}
          </a>
        </li>
        {% endif %}
        {% endfor %}
        <a href="{{ url('information/information',{'information_id':safeguard_guide_id}) }}" target="_blank" class="service-link">
          <i class="giga icon-wenhao"></i>
          <span class="underline">GigaCloud Protection Service Statement</span>
        </a>
      </ul>
    </div>
    {#tab页对应内容#}
    <div class="tab-content m10-b">
      {% for one in navDatas %}
      {% if one.isShow %}
      <div class="tab-pane" id="{{one.id}}"></div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{# 理赔状态说明弹框 #}
<div id="popDescribe" class="none">
  <div class="pop-describe oris-modal">
    <div class="modal-header">
      <button type="button" class="close">
        <i class="giga icon-V10_danchuangguanbi close-icon"></i>
      </button>
      <span>The Statement of Claim Status:</span>
    </div>
    <div class="modal-body">
      <div class="status-title">
        <div class="flex-layout">
          <span class="oris-circle oris-bg-default m10-l"></span>In Progress:
        </div>
      </div>
      <div class="status-content">The claim application has been successfully submitted, and is being processed by the Marketplace.</div>
      <div class="status-title">
        <div class="flex-layout">
          <span class="oris-circle oris-bg-warning m10-l"></span>Info to be Added:
        </div>
      </div>
      <div class="status-content">The information provided in claim application is incomplete, and further information needs to be supplemented before the Marketplace continues to process the application. Once the deadline for supplement has expired, the claim status will be 'Failed' automatically. You need to submit a claim application again.</div>
      <div class="status-title">
        <div class="flex-layout">
          <span class="oris-circle oris-bg-success m10-l"></span>Succeeded:
        </div>
      </div>
      <div class="status-content">The claim application has been successfully processed, and the Marketplace has approved the application.</div>
      <div class="status-title">
        <div class="flex-layout">
          <span class="oris-circle oris-bg-info m10-l"></span>Failed:
        </div>
      </div>
      <div class="status-content">The claim application has been declined by the Marketplace. You can appeal to the Marketplace through customer service.</div>
    </div>
  </div>
</div>
{# 保单状态说明弹框 #}
<div id="popProtection" class="none">
  <div class="pop-describe oris-modal">
    <div class="modal-header">
      <button type="button" class="close">
        <i class="giga icon-V10_danchuangguanbi close-icon"></i>
      </button>
      <span>Statement of Protection Service Status:</span>
    </div>
    <div class="modal-body">
      <div class="status-title">
        <div class="flex-layout">
          <span class="oris-circle oris-bg-default m10-l"></span>Pending:
        </div>
      </div>
      <div class="status-content">
        Protection Service fee has been paid, but the Protection Service has not been effective, so the claim application cannot be initiated.
        <br>The Protection Service will not come into effect before the sales order is shipped from the warehouse.
      </div>
      <div class="status-title">
        <div class="flex-layout">
          <span class="oris-circle oris-bg-success m10-l"></span>Active:
        </div>
      </div>
      <div class="status-content">The Protection Service has been effective and the Sales Order is under protection, so the claim application can be initiated.</div>
      <div class="status-title">
        <div class="flex-layout">
          <span class="oris-circle oris-bg-info m10-l"></span>Invalid:
        </div>
      </div>
      <div class="status-content">The Policy has expired and the protection period has been overdue, so the claim application cannot be initiated.</div>
      <div class="status-title">
        <div class="flex-layout">
          <span class="oris-circle oris-bg-info m10-l"></span>Canceled:
        </div>
      </div>
      <div class="status-content">The Sales Order under protection has been canceled, and the Protection Service is canceled together. The Protection Service fee has been refunded to your credit line by the system.</div>
    </div>
  </div>
</div>
</div>