{{ assetBundle('Seller\\VatAsset') }}
{{ css(['css/common/bid/marginDetail.css']) }}
{{ jsOrigin(['/catalog/view/javascript/user_portrait/user_portrait.js']) }}

{{ this.title(__('Margin Details', {}, 'catalog/document')) }}
{{ this.params('breadcrumbs', [
  'home',
  {
    text: __('个人中心', {}, 'catalog/document'),
    href: url('customerpartner/seller_center/index'),
  },
  {
    text: __('Product Bidding', {}, 'catalog/document'),
    href: 'javascript:void(0)',
  },
  {
    text: __('Complex Transactions List', {}, 'catalog/document'),
    href: url('account/customerpartner/wk_quotes_admin', {tab:'margin'}),
  },
  'current'
]) }}
{{
  this.params('pageTitle', {
    show: true,
    title: this.getTitle(),
    backUrl: '',
    buttons: []
  })
}}

<div class="margin-detail">
  <div class="nav-oris">
    <div class="oris-row">
       {{content_top}}
       <ul class="nav nav-tabs">
         <li id="agreement_li" class="active"><a href="#tab-agreement" data-toggle="tab">{{ __('Agreement') }}</a></li>
         {% if advance_order_id > 0 %}
         <li id="voucher_li"><a href="#tab-voucher" data-toggle="tab">{{ __('Deposit') }}</a></li>
         {% if exist_performer %}
         <li id="partner_li"><a href="#tab-partner" data-toggle="tab">{{ __('Partner') }}</a></li>
         {% endif %}
         <li id="check_li"><a href="#tab-check" data-toggle="tab">{{ __('Settlement') }}</a></li>
         {% endif %}
       </ul>
       <div class="tab-content">
         <div class="tab-pane active" id="tab-agreement">
           <fieldset>
             <div id="margin-agreement"><div class="loading-text">{{__('Loading...')}}</div></div>
           </fieldset>
         </div>
         <div class="tab-pane" id="tab-voucher">
           <fieldset>
             <div id="margin-voucher"><div class="loading-text">{{__('Loading...')}}</div></div>
           </fieldset>
         </div>
         <div class="tab-pane" id="tab-partner">
           <fieldset>
             <div id="margin-partner"><div class="loading-text">{{__('Loading...')}}</div></div>
           </fieldset>
         </div>
         <div class="tab-pane" id="tab-check">
           <fieldset>
             <div id="margin-check"><div class="loading-text">{{__('Loading...')}}</div></div>
           </fieldset>
         </div>
       </div>
       {{content_bottom}}
     </div>
  </div>
</div>
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<script  type="text/javascript"src="catalog/view/javascript/layui/layui.all.js"></script>
<script type="text/javascript" src="public/js/common/toolString.js?v={{ app_version }}"></script>
<script>
  $('#margin-agreement').load("{{ url('account/product_quotes/margin_contract/info', {id:id}) }}");
  {% if advance_order_id > 0 %}
  $('#margin-voucher').load("{{ url('account/product_quotes/margin_contract/deposit', {id:id}) }}");
  {% if exist_performer %}
  $('#margin-partner').load("{{ url('account/product_quotes/margin_contract/partner', {id:id}) }}");
  {% endif %}
  $('#margin-check').load("{{ url('account/product_quotes/margin_contract/settlement', {id:id}) }}");
  {% endif %}
</script>