{% trans_default_category 'catalog/view/customerpartner/margin/agreement_index' %}

{{ header }}
{{ separate_column_left }}
<div class="container-fluid" id="content" style="margin-left: 235px;">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="main">
        <div class="col-sm-12">
          customerpartner/margin/agreement_index
        </div>
    </div>
</div>
{{ footer }}
