<style>
    #rma-details-panel-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 10px 5px 20px;
    }

    .upload_warp_img_div_del {
        position: absolute;
        top: 6px;
        width: 16px;
        right: 4px;
    }

    .upload_warp_img_div_top {
        position: absolute;
        top: 0;
        width: 100%;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.4);
        line-height: 30px;
        text-align: left;
        color: #fff;
        font-size: 12px;
        text-indent: 4px;
    }

    .upload_warp_img_div_text {
        white-space: nowrap;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .upload_warp_img_div img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }

    .upload_warp_img_div {
        position: relative;
        height: 100px;
        width: 120px;
        border: 1px solid #ccc;
        margin: 0px 30px 10px 0px;
        float: left;
        line-height: 100px;
        display: table-cell;
        text-align: center;
        background-color: #eee;
        cursor: pointer;
    }

    .upload_warp_img {
        border-top: 1px solid #D2D2D2;
        padding: 14px 0 0 14px;
        overflow: hidden
    }

    .upload_warp_left img {
        margin-top: 35px;
    }

    .upload_warp {
        margin: 10px;
    }

    .upload {
        border: 1px solid #ccc;
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 1px 0px #ccc;
        border-radius: 4px;
    }

    .hello {
        width: 100%;
        /*text-align: center;*/
    }

    .comments_textarea {
        resize: none;
        height: 140px !important;
    }

    .item_detail {
        /*color: #3c763d;*/
        color: #666;
        /*background-color: #dff0d8;*/
        padding: 10px;
        border: 1px double #c9d6e2;
        margin: 5px 0;
    }
</style>
<script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/magnific/magnific-popup.css" rel="stylesheet" type="text/css"/>

    {% if customerOrder %}

        {% for customerOrderLine in customerOrderLines %}
          {#SKU#}
          <div class="info-section mt-2 mb-4">
            <div class="info-group">
              <span class="title">{{ text_item_code }}</span>
              <span>{{ customerOrderLine.item_code }}</span>
            </div>
            <div class="info-group">
              <span class="title">{{ text_quantity }}</span>
              <span>{{ customerOrderLine.qty }}</span>
            </div>
            <div class="info-group">
              <span class="title">{{ text_item_status }}</span>
              <span>
                {% for order_status in customerOrderItemStatus %}
                  {% if customerOrderLine.item_status == order_status.DicKey %}
                    {{ order_status.DicValue }}
                  {% endif %}
                {% endfor %}
              </span>
            </div>
          </div>

          {#Order#}
          <table class="table main table-hover" id="orderInfo">
            <thead>
            <tr>
              <th>Order ID</th>
              <th>Store</th>
              <th>Image</th>
              <th width="20%">Product Name</th>
              <th>Quantity</th>
              {% if is_margin %}
                <th>Deposit Per Unit</th>
              {% endif %}
              <th>Unit Price After Discount</th>
              {% if isEurope %}
                <th>Service Fee After Discount</th>
              {% endif %}
              <th>Fulfillment Per Unit</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for orderDetail in customerOrderLine.orderDetails%}
              <tr>
                <td>
                  <a href="{{ orderDetail.orderHistoryUrl }}" target="_blank">#{{ orderDetail.order_id }}</a>
                  {% if (orderDetail.delivery_type==2) %}
                    <i class="giga icon-cwf" style="color: #1f5268;font-size: 15px;" data-toggle="tooltip" data-original-title="{{ cwf }}"></i>
                  {% endif %}
                </td>
                <td><a href="{{ orderDetail.contactSeller }}" target="_blank">{{ orderDetail.screenname }}</a></td>
                <td class="text-center">{% if orderDetail.image %} <a class="thumbnail" style="margin-bottom: 0;width: 40px;height: 40px;padding: 0" href="{{ orderDetail.image }}" title='{{ orderDetail.name }}'><img style="height: 38px" src="{{ orderDetail.image }}" /></a> {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>
                <td>{{ orderDetail.name }}</td>
                <td class="text-price">{{ orderDetail.qty }}</td>
                {% if is_margin %}
                  <td class="text-price">{{ orderDetail.advance_unit_price }}</td>
                {% endif %}
                <td class="text-price">
                  {% if isEurope %}
                  <span><img data-toggle="tooltip" title="" style="width: 21.81px" src="/image/product/vat.png" data-original-title="Service Fee"></span>
                  {% endif %}
                  {{ orderDetail.price_per }}
                </td>
                {% if isEurope %}
                  <td class="text-price">{{ orderDetail.service_fee_per }}</td>
                {% endif %}
                <td class="text-price">{{ orderDetail.freight }}
                  {% if orderDetail.freight_diff %}
                  <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" style="cursor: pointer;font-size: 12px" title="{{ orderDetail.tips_freight_difference_per }}"></i>
                  {% endif %}
                </td>
                <td class="text-price">{{ orderDetail.total }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% endfor %}



        <div id="error_msg_div">

        </div>


        <!--RMA Details-->
        <div class="section-title">
          <h2>RMA Details</h2>
          <button id="addDetailButton" onclick="addDetail(this);" class="btn btn-primary btn-right"><i class="giga icon-action-add"></i> Add Detail</button>
        </div>
        <form id="order_from" enctype="multipart/form-data" style="margin-bottom: 20px;">
          {#<div class="item_detail" id="table_details">#}

          {#</div>#}
        </form>
    {% endif %}

<script>
    var order_status = '{{ order_status }}';
    {% if selectItems %}
        var selectItems = {{ selectItems }};
        {% if margin_array %}
          var margin_array = {{ margin_array }};
        {% else %}
          var margin_array = [];
        {% endif %}
    {% endif %}
    $(document).ready(function () {
        $('.thumbnail').magnificPopup({
            type: 'image'
        });
    });

    function changeIcon(suffix) {
        if ($("#icon_down_" + suffix).css('display') == 'none') {
            $("#icon_down_" + suffix).css('display', 'block');
            $("#icon_up_" + suffix).css('display', 'none');
        } else {
            $("#icon_up_" + suffix).css('display', 'block');
            $("#icon_down_" + suffix).css('display', 'none');
        }
    }

    var index = 0;

    function addDetail(button) {
      if($("#orderInfo").find("tr").length<2){
          layer.alert('This order has not been paid, cannot apply for RMA.', {
            title: 'Message',
            btn : 'OK',
            skin: 'yzc_layer', //样式类名
            closeBtn: 0
          },function () {
            location.reload();
          });
        return;
      }

        $(button).button('loading');
       var customer_order_id = $('#customer_order_id').val();
        //校验销售订单有没有位处理RMA
        $.ajax({
            url: 'index.php?route=account/rma_management/checkRma',
            type: 'post',
            data: {'customer_order_id':customer_order_id},
            async: false,
            dataType: 'json',
            success: function (json) {
                if(json['success']){
                    if(json['count']>0) {
                        layer.alert('This sales order has an unprocessed return request, which can only be filled out again after processed.', {
                            title: 'Message',
                            btn : 'OK',
                            skin: 'yzc_layer' //样式类名
                            ,closeBtn: 0
                        },function () {
                            location.reload();
                        });
                        return;
                    }else if(json['countCwf']>0){
                      layer.alert('Only canceled cloud wholesale fulfillment orders can submit an RMA request.', {
                        title: 'Message',
                        btn : 'OK',
                        skin: 'yzc_layer' //样式类名
                        ,closeBtn: 0
                      },function () {
                        location.reload();
                      });
                      return;
                    }else{
                      if (salesOrderStatus != 32 && salesOrderStatus != 16) {
                        layer.alert('Order status isn\'t Completed or Canceled status,cannot apply for RMA.', {
                          title: 'Message',
                          btn : 'OK',
                          skin: 'yzc_layer' //样式类名
                          ,closeBtn: 0
                        },function () {
                          location.reload();
                        });
                        return;
                      }
                        countArray.push(index);
                        $("#order_from").append('<div class="item_detail" id="table_details' + index + '"></div>');
                        $('#table_details' + index).load('index.php?route=account/rma_management/orderDetailsTable&customer_order_id=' + encodeURIComponent($('#customer_order_id').val()) + '&count=' + index);
                        if (index > 1) {
                            $('#table_details' + index).css('margin-top','15px');
                        }
                        index++;
                    }
                }
                if(json['error']){
                    location = json['url'];
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $(button).button('reset');
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        })
    }

    function arrayIndex (arr, val) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == val) return i;
        }
        return -1;
    }

    function arrayRemove(arr, val) {
        var i = arrayIndex(arr, val);
        if (i > -1) {
            arr.splice(i, 1);
        }
    }

    function removeDetail(c) {
        $('#error_msg_div').hide();
        $('#table_details' + c).remove();
        arrayRemove(countArray, '' + c);
    }
</script>
