{{ header }}

<style>
  #rma-details-panel-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px 5px 20px;
  }

  .upload_warp_img_div_del {
    position: absolute;
    top: 6px;
    width: 16px;
    right: 4px;
  }

  .upload_warp_img_div_top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    line-height: 30px;
    text-align: left;
    color: #fff;
    font-size: 12px;
    text-indent: 4px;
  }

  .upload_warp_img_div_text {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .upload_warp_img_div img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }

  .upload_warp_img_div {
    position: relative;
    height: 100px;
    width: 26%;
    border: 1px solid #ccc;
    margin: 0px 30px 10px 0px;
    float: left;
    line-height: 100px;
    display: table-cell;
    text-align: center;
    background-color: #eee;
    cursor: pointer;
  }

  .upload_warp_img {
    min-height: 150px;
    border-top: 1px solid #D2D2D2;
    padding: 14px 0 0 14px;
    overflow: hidden
  }

  .upload_warp_left img {
    margin-top: 35px;
  }

  .upload_warp {
    margin: 10px;
  }

  .upload {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 1px 0px #ccc;
    border-radius: 4px;
  }

  .hello {
    width: 100%;
    /*text-align: center;*/
  }

  .comments_textarea {
    /*resize: none;*/
    overflow: auto;
    width: 100%;
    height: 100%;
    min-height: 206px !important;
  }

  .item_detail {
    /*color: #3c763d;*/
    color: #666;
    background-color: #dff0d8;
    padding: 10px;
    border: 1px double #c9d6e2;
    margin: 5px 0;
  }

  .error_a {
    cursor: pointer;
  }

  .error_a:hover {
    color: #00a2d4;
  }

  .buttons {
    text-align: center;
  }
</style>

<div id="account-customer-order" class="container page-seller-portal">

  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ heading_title }}</h1>
      </div>
    </div>


    <div class="row mb-4">
      <div id="content" class="col-sm-12">
        <div class="tab-content main">
          <div role="tabpanel" class="tab-pane active" id="tab-1">
            <div class="bg-white p-2">
              <table class="table table-hover table-bordered table-striped" style="">
                <tr>
                  <td rowspan="5" width="25%"><img src="{{ image }}" width="200px"></td>
                  <th width="20%">Item Code:</th>
                  <td>{{ order_detail.sku }}
                    {% if tag %}
                      {% for tagDetail in tag %}
                        {{ tagDetail }}
                      {% endfor %}
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Product Name:</th>
                  <td>{{ order_detail.name }}</td>
                </tr>
                <tr>
                  <th>Purchase Order ID:</th>
                  <td>#{{ order_detail.order_id }}</td>
                </tr>
                <tr>
                  <th>Purchase Order Date:</th>
                  <td>{{ order_detail.date_added }}</td>
                </tr>
                <tr>
                  <th>Purchase Quantity:</th>
                  <td><span class="text-price">{{ order_detail.quantity }}</span></td>
                </tr>
              </table>
              {% if rmaHistories %}
                <h3>{{ text_rma_history }}</h3>
                <table class="table table-hover" style="" id="rmaHistorys">
                  <thead>
                  <tr>
                    <th class="text-center">{{ column_apply_date }}</th>
                    <th class="text-center">{{ column_rma_id }}</th>
                    <th class="text-center">{{ column_rma_type }}</th>
                    <th class="text-center">{{ column_apply_type }}</th>
                    <th class="text-center">{{ column_status }}</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% if rmaHistories %}
                    {% for rmaHistory in rmaHistories %}
                      <tr style="cursor: pointer">
                        <td class="text-center">{{ rmaHistory.create_time }}</td>
                        <td class="text-center column_rma_id"
                            column_rma_id="{{ rmaHistory.rma_order_id }}">{{ rmaHistory.rma_order_id }}
                          {% if rmaHistory.rma_order_id %}&nbsp;<i class="giga icon-table-link"></i>{% endif %}</td>
                        <td class="text-center">{{ rmaHistory.order_type }}</td>
                        <td class="text-center">{{ rmaHistory.rma_type }}</td>
                        <td class="text-center">{{ rmaHistory.name }}</td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="5" class="text-center">{{ text_no_results }}</td>
                    </tr>
                  {% endif %}
                  </tbody>

                </table>
              {% endif %}
              <ul id="myTab" class="nav nav-tabs" style="">
                {% if noBinding.nobindingQty>0 %}
                  <li class="active">
                    <a href="#noBinding" data-toggle="tab">
                      Unassigned
                    </a>
                  </li>
                  {% if noBinding.bindingQty>0 %}
                    <li><a href="#binding" data-toggle="tab">Assigned</a></li>
                  {% endif %}
                {% elseif noBinding.bindingQty>0 %}
                  <li class="active"><a href="#binding" data-toggle="tab">Assigned</a></li>
                {% endif %}
              </ul>
              <div id="myTabContent" class="tab-content">
                {% if noBinding.nobindingQty>=0 %}
                  <div id="error_msg_div">

                  </div>
                  <div class="tab-pane fade in active" id="noBinding">
                    <div class="panel-body" id="rma-details-panel-body" style="padding: 5px;">
                      <form id="noBinding_from" enctype="multipart/form-data">
                        <input name="itemCode" id="itemCode" value="{{ order_detail.sku }}" hidden/>
                        <input name="orderId" id="orderId" value="{{ order_detail.order_id }}" hidden/>
                        <input name="productId" id="itemCode" value="{{ order_detail.product_id }}" hidden/>
                        <input name="buyerId" id="buyerId" value="{{ order_detail.buyer_id }}" hidden/>
                        <input name="sellerId" id="sellerId" value="{{ order_detail.seller_id }}" hidden/>
                        <input name="orderProductId" id="orderProductId" value="{{ order_detail.order_product_id }}"
                               hidden/>
                        <table class="table table-hover" style="" id="nobindingTable">
                          <thead>
                          <tr>
                            <th class="text-center">Returnable Quantity</th>
                            <th class="text-center">Unit Price After Discount</th>
                            {% if isEuropeCountry %}
                              <th class="text-center">Service Fee After Discount</th>
                            {% endif %}
                            <th class="text-center">Fulfillment per Unit
                              <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer;"
                                 title="" data-original-title="Fulfillment fee includes shipping and packaging fees."></i>
                            </th>
                            {% if noBinding  and noBinding.couponAndCampaignAmount > 0%}
                            <th class="text-center">Savings</th>
                            {% endif %}
                            <th class="text-center">Total</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% if noBinding %}
                            <tr>
                              <td class="text-center">{{ noBinding.nobindingQty }}</td>
                              <td class="text-center">
                               {# {% if isEuropeCountry %}
                                  <i class="giga icon-vat"></i>
                                {% endif %}#}
                                {{ noBinding.priceCur }}</td>
                              {% if isEuropeCountry %}
                                <td class="text-center">{{ noBinding.service_feeCur }}</td>
                              {% endif %}
                              <td class="text-center">{{ noBinding.freight }}<input type="hidden" id="noBindingPoundage"
                                                                                    value="{{ noBinding.poundage }}">
                              </td>
                              {% if noBinding  and noBinding.couponAndCampaignAmount > 0%}
                                <td class="text-center">{{ noBinding.couponAndCampaignAmountShow }}</td>
                              {% endif %}
                              <td class="text-center">{{ noBinding.totalCur }}
                                <input id="noBindingTotal" value="{{ unit_refund }}" hidden/>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="9" style="padding: 0">
                                <div>
                                  <table class="table" id="orderInfo">
                                    <thead>
                                    <tr>
                                      <th width="35%" class="text-center"><span style="color: red">*</span>Return
                                        Quantity
                                      </th>
                                      <th width="35%" class="text-center"><span style="color: red">*</span>Refund</th>
                                      <th class="text-center"><span style="color: red">*</span>Reason</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <td>
                                      <div class="form-group rmaFG required">
                                        <input type="number" id="returnQty" name="returnQty" class="form-control"
                                               value="{{ return_qty }}" onchange="checkRefundQty(this);"
                                               onkeyup="value=value.replace(/\D/g,'')" min="0" max="{{ return_qty }}"/>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group rmaFG required">
                                        <div style="display: flex">
                                          {% if  country == "JPY" %}
                                          <input type="number" id="refund" name="refund" class="form-control"
                                                 onchange="checkRefundAmount(this);"
                                                 value="{{ refund_money }}"
                                                 data-range='{{ refundRange|json_encode }}'
                                                 onkeyup="this.value= this.value.match(/[0-9]*/) ? this.value.match(/[0-9]*/) : ''"
                                                 min="0"
                                                 step="1"/><span
                                            style="font-size: 18px;line-height: 34px">({{ currency }})</span>
                                          {% else %}
                                          <input type="number" id="refund" name="refund" class="form-control"
                                                 onchange="checkRefundAmount(this);" onblur="fixedTwo(this)"
                                                 value="{{ refund_money }}"
                                                 data-range='{{ refundRange|json_encode }}'
                                                 onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"
                                                 min="0"
                                                 step="1"/><span
                                            style="font-size: 18px;line-height: 34px">({{ currency }})</span>
                                        </div>
                                        {% endif %}
                                      </div>
                                    </td>
                                    <td>
                                      <div class="form-group rmaFG required">
                                        <select type="text" id="rmaReason" name="rmaReason" class="form-control">
                                          <option value="">--{{ text_select }}--</option>
                                          {% for r in rmaReason %}
                                            <option
                                              value="{{ r.reason_id }}" {% if r.reason_id==reason_id %} selected{% endif %}>{{ r.reason }}</option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                      <input id="rmaOrderId" name="rmaOrderId" value="{{ rmaOrderId }}" hidden>
                                    </td>
                                    {% if (tip_rebate_refund is defined and tip_rebate_refund is not empty)
                                      or (msg_rebate_refund is defined and msg_rebate_refund is not empty) %}
                                      <tr>
                                        <td colspan="3">{{ tip_rebate_refund }}<br> <b
                                            style="color: red">{{ msg_rebate_refund }}</b></td>
                                      </tr>
                                    {% endif %}
                                    <tr>
                                      <td colspan="3"><b>Storage fees incurred before the seller agreed the RMA will be
                                          deducted by Marketplace after the seller agreed the RMA.</b></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          {% endif %}
                          </tbody>
                        </table>
                        <table class="table table-hover" style="">
                          <thead>
                          <tr>
                            <th width="35%" class="text-center"><span style="color: red">*</span>Comments</th>
                            <th class="text-center">Upload Images</th>
                          </tr>
                          </thead>
                          <tbody>
                          <td id="commentsTd">
                            <textarea class="comments_textarea " id="comments" name="comments">{{ comments }}</textarea>
                            <input name="rmaId" id="rmaId" value="{{ rmaId }}" hidden>
                          </td>
                          <td>
                            <div class="fileDiv">
                              <div id="appFile">
                                <div class="hello">
                                  <div class="upload">
                                    <div class="upload_warp">
                                      <a style="margin-right: 10px;" class="btn btn-success" @click="fileClick">Upload
                                        File</a>
                                      ${imgList.length}$ files are selected, ${bytesToSize(this.size)}$ in total.
                                    </div>
                                    <input @change="fileChange($event)" type="file" id="upload_file"
                                           name="upload_image" multiple
                                           style="display: none" accept="image/*"/>
                                    <div class="upload_warp_img">
                                      {% for image in imageResult %}
                                        <div class="upload_warp_img_div">
                                          <div class="upload_warp_img_div_top">
                                            <div class="upload_warp_img_div_text">
                                              {{ image.name }}
                                            </div>
                                            <img
                                              src="catalog/view/theme/yzcTheme/stylesheet/diyUpload/images/del.png"
                                              class="upload_warp_img_div_del"
                                              onclick="deleteImage(this,'{{ image.rmaId }}','{{ image.name }}','{{ image.id }}','{{ image.path }}')">
                                          </div>
                                          <img src="{{ image.path }}">
                                        </div>
                                      {% endfor %}
                                      <div class="upload_warp_img_div" v-for="(item,index) of imgList">
                                        <div class="upload_warp_img_div_top">
                                          <div class="upload_warp_img_div_text">
                                            ${item.file.name}$
                                          </div>
                                          <img src="catalog/view/theme/yzcTheme/stylesheet/diyUpload/images/del.png"
                                               class="upload_warp_img_div_del" @click="fileDel(index)">
                                        </div>
                                        <img :src="item.file.src">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                          </tbody>
                        </table>
                        <div class="buttons">
                          <a class="btn btn-primary btn1" id="test1">Submit</a>
                          <!--&emsp;<a onclick="backUrl()" class="btn btn-default">Back</a>-->
                        </div>
                      </form>
                    </div>
                  </div>
                  {% if noBinding.bindingQty>0 %}
                    <div class="tab-pane fade" id="binding">
                      <table class="table table-hover" style="">
                        <thead>
                        <tr>
                          <th class="text-center" width="30px">No.</th>
                          <th class="text-center">Sales Order ID</th>
                          <th class="text-center">Sales Order Date</th>
                          <th class="text-center">Sales Order Quantity</th>
                          <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if bindingInfos %}
                          {% for bindingInfo in bindingInfos %}
                            <tr class="text-center">
                              <td>{{ loop.index }}</td>
                              <td>{{ bindingInfo.order_id }}</td>
                              <td>{{ bindingInfo.create_time }}</td>
                              <td>{{ bindingInfo.qty }}</td>
                              <td>
                                <button class="btn btn-primary btn1" onclick="createRMA(this)">Create RMA</button>
                              </td>
                            </tr>
                          {% endfor %}
                        {% endif %}
                        </tbody>
                      </table>
                    </div>
                  {% endif %}
                {% elseif noBinding.bindingQty>0 %}
                  <div class="tab-pane fade in active" id="binding">
                    <table class="table table-hover" style="">
                      <thead>
                      <tr>
                        <th class="text-center">No.</th>
                        <th class="text-center">Sales Order ID</th>
                        <th class="text-center">Sales Order Date</th>
                        <th class="text-center">Sales Order Quantity</th>
                        <th class="text-center">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% if bindingInfos %}
                        {% for bindingInfo in bindingInfos %}
                          <tr class="text-center">
                            <td>{{ loop.index }}</td>
                            <td>{{ bindingInfo.order_id }}</td>
                            <td>{{ bindingInfo.create_time }}</td>
                            <td>{{ bindingInfo.qty }}</td>
                            <td>
                              <button class="btn btn-primary btn1" onclick="createRMA(this)">Create RMA</button>
                            </td>
                          </tr>
                        {% endfor %}
                      {% endif %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  var appFileArray = [];
  var heightNum = 0;
  var commentsHeight = 0;
  $("#rmaHistorys tbody").on("click", "tr", function () {
    var td = $(this).find("td.column_rma_id");
    var rma_id = $.trim(td.attr('column_rma_id'));
    location.href = 'index.php?route=account/rma_management&filter_rma_id=' + rma_id;
  });

  function checkRefundQty(input) {
    let refundInput = $('#refund');
    var qty = $(input).val();
    var maxQty = {{ noBinding.nobindingQty }};
    if (qty > (maxQty) || qty < 1) {
      var tmplayer = layer.alert('The return quantity is required. Please enter a number greater than 0 and equal or less than returnable quantity.', {
        title: 'Message',
        btn: 'OK',
        skin: 'yzc_layer' //样式类名
        , closeBtn: 0
      }, function () {
        layer.close(tmplayer);
        $(input).parent().addClass('has-error');
        $(input).focus();
      });
      $(input).parent().addClass('has-error');
      $(input).focus();
      return false;
    }
    $(input).parent().parent().removeClass('has-error');
    $(input).parent().removeClass('has-error');
    $(input).parent().next().remove();
    var valueCent = parseInt(accMul(refundInput.val(), 100));
    let priceRange = JSON.parse(refundInput.attr('data-range'));
    var totalPriceCent = parseInt(accMul(priceRange[qty], 100));
    var type_id = '{{ order_detail.type_id }}';
    if (type_id == '2') {
      var tips = 'The deposit will not be refunded for the products participating in the deposit, and only the balance payment amount can be applied for.';
    } else {
      var tips = 'The amount entered exceeds the total amount of the order details!';
    }
    if (valueCent > (totalPriceCent)) {
      var tmplayer = layer.alert(tips, {
        title: 'Message',
        btn: 'OK',
        skin: 'yzc_layer' //样式类名
        , closeBtn: 0
      }, function () {
        layer.close(tmplayer);
        $("#refund").parent().addClass('has-error');
      });
      $("#refund").parent().addClass('has-error');
      return false;
    } else {
      $("#refund").parent().removeClass('has-error');
    }
    return true;
  }

  function checkRefundAmount(input) {
    let refundInput = $('#refund');
    let priceRange = JSON.parse(refundInput.attr('data-range'));
    var valueCent = parseInt(accMul($(input).val(), 100));
    var totalPriceCent = parseInt(accMul(priceRange[$("#returnQty").val()], 100));
    if (valueCent > (totalPriceCent)) {
      var tmplayer = layer.alert('The amount entered exceeds the total amount of the order details!', {
        title: 'Message',
        btn: 'OK',
        skin: 'yzc_layer',//样式类名
        closeBtn: 0
      }, function () {
        layer.close(tmplayer);
        $(input).parent().addClass('has-error');
        $(input).focus();
      });
      $(input).parent().addClass('has-error');
      $(input).focus();
      return false;
    }
    $(input).parent().removeClass('has-error');
    return true;
  }

  var appFile = new Vue({
    el: '#appFile',
    delimiters: ['${', '}$'],
    data() {
      return {
        imgList: [],
        size: 0
      }
    },
    methods: {
      fileClick() {
        document.getElementById('upload_file').click()
      },
      fileChange(el) {
        if (!el.target.files[0].size) return;
        this.fileList(el.target);
        $(el.target).val(''); // 清空input值
      },
      fileList(fileList) {
        let files = fileList.files;
        if ((this.imgList.length + files.length) > 20) {
          layer.alert('The number of uploaded files cannot exceed 20..', {
            title: 'Message',
            btn: 'OK',
            skin: 'yzc_layer' //样式类名
            , closeBtn: 0
          });
          return;
        }
        let heightNum = Math.ceil((this.imgList.length + files.length) / 3);
        let commentsHeight = heightNum * 100 + 'px';
        document.getElementById('comments').style.height = commentsHeight;
        for (let i = 0; i < files.length; i++) {
          // 首先校验文件大小不超过10M
          if (files[i]['size'] > 10 * 1024 *1024) {
            layer.msg('Upload files can not greater than 10M.');
            continue;
          }
          //判断是否为文件夹
          if (files[i].type != '') {
            this.fileAdd(files[i]);
          } else {
            //文件夹处理
            if (fileList.items == undefined) {
              layer.alert('Wrong upload file type!', {
                title: 'Message',
                btn: 'OK',
                skin: 'yzc_layer' //样式类名
                , closeBtn: 0
              });
            } else {
              this.folders(fileList.items[i]);
            }
          }
        }
      },
      //文件夹处理
      folders(files) {
        let _this = this;
        //判断是否为原生file
        if (files.kind) {
          files = files.webkitGetAsEntry();
        }
        files.createReader().readEntries(function (file) {
          for (let i = 0; i < file.length; i++) {
            if (file[i].isFile) {
              _this.foldersAdd(file[i]);
            } else {
              _this.folders(file[i]);
            }
          }
        })
      },
      foldersAdd(entry) {
        let _this = this;
        entry.file(function (file) {
          _this.fileAdd(file)
        })
      },
      fileAdd(file) {
        //总大小
        this.size = this.size + file.size;
        //判断是否为图片文件
        if (file.type.indexOf('image') == -1) {
          file.src = 'catalog/view/theme/yzcTheme/stylesheet/diyUpload/images/wenjian.png';
          this.imgList.push({
            file
          });
        } else {
          let reader = new FileReader();
          reader.vue = this;
          reader.readAsDataURL(file);
          reader.onload = function () {
            file.src = this.result;
            this.vue.imgList.push({
              file
            });
          }
        }
      },
      fileDel(index) {
        this.size = this.size - this.imgList[index].file.size;//总大小
        this.imgList.splice(index, 1);
      },
      bytesToSize(bytes) {
        if (bytes === 0) return '0 B';
        let k = 1024,
          sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
          i = Math.floor(Math.log(bytes) / Math.log(k));
        return (bytes / Math.pow(k, i)).toFixed(2) + ' ' + sizes[i];
      },
      dragenter(el) {
        el.stopPropagation();
        el.preventDefault();
      },
      dragover(el) {
        el.stopPropagation();
        el.preventDefault();
      },
      drop(el) {
        el.stopPropagation();
        el.preventDefault();
        this.fileList(el.dataTransfer);
      }
    }
  });
  appFileArray.push(appFile);

  function backUrl() {
    window.history.back();
  }

  function createRMA(obj) {
    var td = $(obj).parent().parent().find("td");
    var sales_order_id = td.eq(1).text();
    location.href = 'index.php?route=account/rma_management&filter_order_id=' + encodeURIComponent(sales_order_id);
  }

  function submitRmaData(button) {
    // 清除提示
    $("#error_msg_div").empty();
    $(".has-error").removeClass('has-error');
    $(".text-danger").remove();


    if (!checkRefundAmount($("#refund"))) {
      $('#test1').button('reset');
      return false;
    }


    var returnableQty = $('#nobindingTable tbody').find('tr').eq(0).find('td')[0].innerHTML;
    var total = $('#noBindingTotal').val();
    var formData = new FormData();
    var datas = $("#noBinding_from").serializeArray();
    for (var i = 0; i < datas.length; i++) {
      formData.append(datas[i].name, datas[i].value);
    }

    for (var j = 0; j < appFileArray[0].imgList.length; j++) {
      formData.append('upload_imgs_' + j, appFileArray[0].imgList[j].file);
    }

    formData.append('returnableQty', returnableQty);
    formData.append('total', total);
    var rmaId = $('#rmaId').val();
    formData.append('rmaId', rmaId);
    $.ajax({
      url: 'index.php?route=account/rma/purchaseorderrma/updateRmaRequest',
      type: 'post',
      data: formData,
      async: false,
      cache: false,
      contentType: false,
      processData: false,
      dataType: 'json',
      success: function (json) {
        if (json != null) {
          if (json.error != undefined) {
            $('#test1').button('reset');
            var errorDiv = "<div class=\"alert alert-danger alert-dismissible\" role=\"alert\" style='width: 90%'>";
            errorDiv += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
            errorDiv += "<strong>Error Message!</strong><br/>";
            // var flag = true;
            for (var i = 0; i < json.error.length; i++) {
              if (json.error[i].displayType == 1) {
                // 上面展示
                errorDiv += "<u><a class='alert-link error_a' onclick=\"scrollById('" + json.error[i].href + "')\">" + json.error[i].errorMsg + "</a></u><br/>";
              } else if (json.error[i].displayType == 2) {
                errorDiv += "<u><a class='alert-link error_a' onclick=\"scrollById('" + json.error[i].href + "')\">" + json.error[i].errorMsg + "</a></u><br/>";
                $("#" + json.error[i].id).parent(" .form-group").addClass('has-error');
                $("#" + json.error[i].id).after('<div class="text-danger">' + json.error[i].errorMsg + "</div>");
              }
              if (json.error[i].id != null) {
                if (json.error[i].id == 'refund') {
                  $("#" + json.error[i].id).parent().parent(" .form-group").addClass('has-error');
                  $("#" + json.error[i].id).parent().after('<div class="text-danger">' + json.error[i].errorMsg + "</div>");
                } else if (json.error[i].id == 'comments') {
                  $("#" + json.error[i].id).css('border-color', '#a94442');
                  $("#" + json.error[i].id).after('<div class="text-danger">' + json.error[i].errorMsg + "</div>");
                } else {
                  $("#" + json.error[i].id).parent(" .form-group").addClass('has-error');
                  $("#" + json.error[i].id).after('<div class="text-danger">' + json.error[i].errorMsg + "</div>");
                }
              }
            }
            errorDiv += '</div>';
            $("#error_msg_div").append(errorDiv);
            $('html, body').animate({
              scrollTop: $("#error_msg_div").offset().top - 50
            }, 500);
          } else {

          }
        } else {
          location.href = "index.php?route=account/rma_management&filter_rma_id=" + encodeURIComponent($("#rmaOrderId").val());
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        $("#test1").button('reset');
        layer.alert(thrownError + "<br>" + xhr.statusText + "<br>" + xhr.responseText, {
          title: 'Message',
          btn: 'OK',
          skin: 'yzc_layer' //样式类名
          , closeBtn: 0
        });
      }
    });
  }

  $("#test1").click(function () {
    $(this).button('loading');
    setTimeout(function () {
      submitRmaData(this)
    }, 500);
  });

  function scrollById(id) {
    var container = $('#rma-details-panel-body');
    var scrollTo = $("#" + id);
    $('#rma-details-panel-body').animate({
      scrollTop: scrollTo.offset().top - container.offset().top + container.scrollTop() - 5
    }, 500);
  }

  function deleteImage(e, rmaId, fileName, id, path) {
    $(e).parent().parent().hide();
    $.ajax({
      url: 'index.php?route=account/rma_management/deleteRMAImage',
      type: 'post',
      data: {'rmaId': rmaId, 'fileName': fileName, 'id': id, 'path': path}
    })
  }
</script>
<script>
  function accMul(num1, num2) {
    var m = 0, s1 = num1.toString(), s2 = num2.toString();
    try {
      m += s1.split(".")[1].length
    } catch (e) {
    }
    ;
    try {
      m += s2.split(".")[1].length
    } catch (e) {
    }
    ;
    return Number(s1.replace(".", "")) * Number(s2.replace(".", "")) / Math.pow(10, m);
  }

  //保留两位
  function fixedTwo(that){
    let val = $(that).val();
    if (val){
      var len = val.split('.')[1]?val.split('.')[1].length:0;
      val = val==0?0:Number(val).toFixed(len);
      $(that).val(val);
    }
  }
</script>
{{ footer }}
