<style>
  .error {
    background-color: #ffecee;
    color: #ff414d;
    border: 1px solid #ff414d;
    margin: 5px 0;
    border-radius: 3px;
  }

  .add-left, .add-right {
    position: absolute;
    top: 1px;
    background-color: #ccc;
    height: 36px;
    line-height: 36px;
    width: 30px;
    text-align: center;
  }

  #purchase_order_rma input:focus {
    border: 1px solid #3A75DC;
    outline: none;
  }

  #purchase_order_rma .radius-left {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  #purchase_order_rma .radius-right {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  .warehouse-tip {
    background: rgb(255, 236, 238);
    border: 1px solid #ff414d;
    border-radius: 4px;
  }

  .warehouse-tip-top {
    color: #ff414d;
    font-weight: bold;
  }

  .warehouse-tip-middle {
    color: #aaa;
  }

  .warehouse-tip-bottom {
    color: #ff414d;
    font-size: 12px;
  }

</style>

<div id="purchase_order_rma_{{ order_id }}" class="purchase_order_rma">
  <form action="#" id="form_{{ order_id }}">
    <div class="item" style="">
      <h4>Item Code: <span>{{ order.sku }}</span></h4>
      <input type="hidden" name="itemCode" value="{{ order.sku }}">
      <input type="hidden" name="orderId" value="{{ order.order_id }}">
      <input type="hidden" name="productId" value="{{ order.product_id }}">
      <input type="hidden" name="buyerId" value="{{ order.buyer_id }}">
      <input type="hidden" name="sellerId" value="{{ order.seller_id }}">
      <input type="hidden" name="orderProductId" value="{{ order.order_product_id }}">
      <input type="hidden" name="total" value="{{ order.total }}">
      <input type="hidden" name="returnableQty" value="{{ order.quantity }}">
      <input type="hidden" name="unit_refund" value="{{ unit_refund }}">
      <div style="padding-top: 0">
        {% if isEurope %}
        <div class="itemcode">
          <div>
            Returnable Quantity
            <span> {{ order.quantity }}</span>
          </div>
          <div>
            Unit Price
            <span>
              {{ (order.price + order.amount_price_per)|parsePrice(is_japan)|formatPrice(currency) }}
            </span>
          </div>
          <div>
            Service Fee
            <span>
              {{ (order.service_fee_per + order.amount_service_fee_per)|parsePrice(is_japan)|formatPrice(currency) }}
            </span>
          </div>
          {% set freight_fee = order['freight_per'] + order['package_fee'] %}
          <div>Fulfillment per Unit
            <span>{{ freight_fee|parsePrice(is_japan)|formatPrice(currency) }}</span>
          </div>
          {% if order.discount_page_show == 1 %}
            <div>
              Save
              <span>
              -{{ (order.soa_coupon_amount+order.soa_campaign_amount)|parsePrice(is_japan)|formatPrice(currency) }}
            </span>
            </div>
          {% endif %}
          <div>Total Amount
            <span>{{ order.total_after_discount|parsePrice(is_japan)|formatPrice(currency) }}</span>
          </div>
        </div>
        {% else %}
        <div class="itemcode">
          <div>
            Returnable Quantity
            <span> {{ order.quantity }}</span>
          </div>
          <div class="min270">
            Unit Price After Discount
            <span>
              {{ (order.price + order.amount_price_per)|parsePrice(is_japan)|formatPrice(currency) }}
            </span>
          </div>
          {% set freight_fee = order['freight_per'] + order['package_fee'] %}
          <div>Fulfillment per Unit
            <span>{{ freight_fee|parsePrice(is_japan)|formatPrice(currency) }}</span>
          </div>
          {% if order.discount_page_show ==1 %}
            <div>
             Save
              <span>
              -{{ (order.soa_coupon_amount+order.soa_campaign_amount)|parsePrice(is_japan)|formatPrice(currency) }}
            </span>
            </div>
          {% endif %}
          <div>Total Amount
            <span>{{ order.total_after_discount|parsePrice(is_japan)|formatPrice(currency) }}</span>
          </div>
        </div>
        {% endif %}
        {% if
          (tipBuyerMsg is defined and tipBuyerMsg is not empty)
          or (msg_storage_fee is defined and msg_storage_fee is not empty)
        %}
          <div class="error col-sm-12">
            {% if tipBuyerMsg is defined and tipBuyerMsg is not empty %}
              <p class="p-clear-css">{{ tipBuyerMsg }}</p>
            {% endif %}
            {% if msg_storage_fee is defined and msg_storage_fee is not empty %}
              <p class="p-clear-css">{{ msg_storage_fee }}</p>
            {% endif %}
          </div>
        {% endif %}
        <div class="col-sm-6" style="position: relative">
          <label class="w22 required"> Return Quantity</label>
          <input
            type="text"
            name="returnQty"
            max="{{ order.quantity }}"
            min="1"
            placeholder="Return quantity"
            onchange="checkRefundQty(this)"
            onkeyup="value=value.replace(/\D/g,'')">
          <p class="prompt" style="display: none;margin-bottom: 0;position: absolute;right: 10px">
            <span style="color: #a30014;text-align: right;font-size: 12px">The quantity entered exceeds the returnable
              quantity of the order details!</span>
          </p>
        </div>
        <div class="col-sm-6" style="position: relative">
          <label class="w22 required"> Refund</label>
          <span style="position: relative;width: 69%;display: inline-block">
            <input
              type="text"
              onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"
              onchange="checkRefundAmount(this,true)"
              placeholder="Refund Amount"
              data-range='{{ refundRange|json_encode }}'
              max="{{ refundRange[order.quantity]|default(0) }}"
              name="refund"
              {% if left_symbol and left_symbol is not empty %}
                style="width: 100%;padding-left: 38px"
              {% endif %}
              {% if right_symbol and right_symbol is not empty %}
                style="width: 100%;padding-right: 38px"
              {% endif %}
            >
            {% if left_symbol and left_symbol is not empty %}
              <div class="add-left radius-left" style="left: 1px;border-radius:3px ">{{ left_symbol }}</div>
            {% endif %}
            {% if right_symbol and right_symbol is not empty %}
              <div class="add-right radius-right" style="right: 1px;border-radius:3px">{{ right_symbol }}</div>
            {% endif %}
          </span>
          <p class="prompt" style="display: none;margin-bottom: 0;position: absolute;right: 10px">
            <span style="color: #a30014;font-size: 12px">The amount entered exceeds the total amount of the order
              details!</span>
          </p>
        </div>
        <div class="col-sm-6">
          <label class="w22 required">Reason</label>
          <select name="rmaReason">
            <option value="">Please select a Reason</option>
            {% for item in reasons %}
              <option value="{{ item.reason_id }}">{{ item.reason }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-12">
          <label class="w11 required">Comments</label>
          <textarea
            name="comments"
            class="textarea"
            contenteditable="true"
            maxlength="1000"
            onchange="this.value=this.value.substring(0, 1000)"
            onkeydown="this.value=this.value.substring(0, 1000)"
            onkeyup="this.value=this.value.substring(0, 1000)"
            placeholder="comments" style="vertical-align: top"></textarea>
        </div>
        <div class="col-sm-12">
          <label class="w11" style="float: left">File Upload</label>
          <div style="width: 80%;float: left">
            <div class="upload-content">
              <div class="content-img">
                <ul class="content-img-list" data-id="{{ order_id }}"></ul>
                <div class="file">
                  <span>+</span>
                  <input
                    class="upload"
                    type="file"
                    name="file"
                    accept="image/*"
                    multiple
                    title="">
                </div>
              </div>
              <div class="show"></div>
            </div>
            <div class='show' id="show"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
