<style>
    .rmaFG {
        margin-bottom: 0px;
    }
    .checkbox-plus-2 span{
      float: none;
    }
</style>
<div class="form-wrapper">
    <h5>RMA ID:{{ rma_order_id }}</h5>
    <input name="rmaOrderId{{ count }}" value="{{ rma_order_id }}" hidden="true">
    <h5 style="display: none">No.{{ count+1 }}</h5>
    <table class="table">
        <thead>
        <th><span style="color: red">*</span>Item Code</th>
        <th><span style="color: red">*</span>Purchase Order ID</th>
        <th><span style="color: red">*</span>Store</th>
        {% if customerOrder.orders_from == 'amazon' or customerOrder.orders_from == 'amazonshz' %}
            <th><span style="color: red">*</span>ASIN</th>
        {% endif %}
        {#<th>Brand</th>#}
        {% if customerOrder.order_status !=16 %}
        <th><span style="color: red">*</span>The number of Defective Products</th>
        {% endif %}
        <th>Action</th>
        </thead>
        <tbody>

        <td>
            <div class="form-group rmaFG required">
                <select id="selectItemCode{{ count }}" style='margin-right: 15px;' name="itemCode{{ count }}" class="form-control">
                </select>
            </div>
        </td>
        <td>
            <div class="form-group rmaFG required">
                <select id="selectOrderId{{ count }}" name="orderId{{ count }}" class="form-control">
                </select>
            </div>
        </td>
        <td>
            <div class="form-group rmaFG required">
                <select id="selectSellers{{ count }}" style='margin-right: 15px;' name="sellers{{ count }}" class="form-control">
                </select>
            </div>
        </td>
        {% if customerOrder.orders_from == 'amazon' or customerOrder.orders_from == 'amazonshz' %}
            <td>
                <div class="form-group rmaFG required">
                    <input type="text" id="asin{{ count }}" name="asin{{ count }}" class="form-control" placeholder="Enter an ASIN"/>
                </div>
            </td>
        {% endif %}
        {#<td></td>#}
        {% if customerOrder.order_status !=16 %}
        <td>
            <div class="form-group rmaFG required">
                <input id="rmaQty{{ count }}" onchange="checkInputNumber(this)" name="rmaQty{{ count }}"
                       onkeyup="value=value.replace(/\D/g,'')" class="form-control" type="number" min="0"/>
            </div>
        </td>
          {% else %}
            <input id="rmaQty{{ count }}" onchange="checkInputNumber(this)" name="rmaQty{{ count }}" type="hidden" value="0"/>
        {% endif %}
        <td style="text-align: center">
            <div class="form-group" >
                <button class="fa fa-minus btn btn-danger" title="Delete" onclick="removeDetail({{ count }})">
                </button>
                <input id="transactionFee{{ count }}" name="transactionFee{{ count }}" type="hidden" value=""/>
                <input id="totalPrice{{ count }}" name="totalPrice{{ count }}" type="hidden" value=""/>
            </div>
        </td>
        </tbody>
    </table>
    {#备注信息#}
    <div class="form-group required">
        <label for="reason{{ count }}"><span style="color: red">*</span>Reason:</label>
        <select id="reason{{ count }}" name="reason{{ count }}" class="form-control">
            <option value="">Select a reason for your return request</option>
            {% for r in rmaReason %}
                <option value="{{ r.reason_id }}">{{ r.reason }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="comments{{ count }}">Comments:</label>
        <textarea class="form-control comments_textarea" id="comments{{ count }}" name="comments{{ count }}" placeholder="Enter additional comments"></textarea>
    </div>
    {#上传图片#}
    <h4><span style="color: red">*</span>Image Upload<span class="wenhao" data-toggle="tooltip"
                                                           title="{{ image_tip }}"><i class="giga icon-V10-wenhaotishi"></i></span></h4>
    <div class="fileDiv">
        <div id="appFile{{ count }}">
            <div class="hello">
                <div class="upload">
                    <div class="upload_warp">
                        <a style="margin-right: 10px;" class="btn btn-success" @click="fileClick">Upload
                            File</a>
                        ${imgList.length}$ files are selected, ${bytesToSize(this.size)}$ in total.
                    </div>
                    <input @change="fileChange($event)" type="file" id="upload_file{{ count }}"
                           name="upload_image{{ count }}" multiple
                           style="display: none" accept="image/*"/>
                    <div class="upload_warp_img">
                        <div class="upload_warp_img_div" v-for="(item,index) of imgList">
                            <div class="upload_warp_img_div_top">
                                <div class="upload_warp_img_div_text">
                                    ${item.file.name}$
                                </div>
                                <img src="catalog/view/theme/yzcTheme/stylesheet/diyUpload/images/del.png"
                                     class="upload_warp_img_div_del" @click="fileDel(index)">
                            </div>
                            <img :src="item.file.src">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#退返品类型#}
    <div class="panel panel-default" style="margin-top: 15px">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              {% if customerOrder.order_status == 32 %}
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-parent="#accordion">
                            <div class="rmaFG checkbox-plus-2">
                                <label for="collapseOne{{ count }}">
                                  <input type='checkbox' id='collapseOne{{ count }}' name="rma_type{{ count }}[]"
                                         onClick='collapse(this)' value="1">
                                  <span class="icon"></span>
                                  <span>Request Reshipment</span>
                                </label>
                            </div>
                        </a>
                    </h4>
                </div>
              {% endif %}
                <div class="panel-collapse collapse  collapseOne{{ count }}">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group required rmaFG">
                                    {#收货人姓名#}
                                    <label class="control-label" for="re_ship_to_name"><b>Shipping Recipient:</b></label>
                                    <input id="re_ship_to_name{{ count }}" name="re_ship_to_name{{ count }}"
                                           value="{{ customerOrder.ship_name }}" class="form-control">
                                </div>
                                <div class="form-group required rmaFG">
                                    {#收货人邮箱#}
                                    <label class="control-label" for="re_ship_to_email"><b>Recipient Email Address:</b></label>
                                    <input type="email" id="re_ship_to_email{{ count }}" name="re_ship_to_email{{ count }}"
                                           value="{{ customerOrder.email }}" class="form-control">
                                </div>
                                <div class="form-group required rmaFG">
                                    {#收货城市#}
                                    <label class="control-label" for="re_ship_to_city"><b>Shipping City:</b></label>
                                    <input id="re_ship_to_city{{ count }}" name="re_ship_to_city{{ count }}"
                                           value="{{ customerOrder.ship_city }}" class="form-control">
                                </div>
                                <div class="form-group required rmaFG">
                                    {#收货邮编#}
                                    <label class="control-label" for="re_ship_to_postal_code"><b>Shipping Postal
                                            Code:</b></label>
                                    <input id="re_ship_to_postal_code{{ count }}" name="re_ship_to_postal_code{{ count }}"
                                           value="{{ customerOrder.ship_zip_code }}" class="form-control">
                                </div>
                                {#<div class="form-group rmaFG">#}
                                {#发货服务#}
                                {#<label for="re_ship_to_service"><b>Shipping Service:</b></label>#}
                                {#<input id="re_ship_to_service{{ count }}" name="re_ship_to_service{{ count }}"#}
                                {#value="{{ customerOrder.ship_method }}" class="form-control">#}
                                {#</div>#}
                                {#数量#}
                                <div class="form-group required rmaFG">
                                    <label class="control-label" for="re_ship_to_qty"><b>Reshipped Quantity:</b></label>
                                    <input type="number" onchange="checkInputNumber(this)" id="re_ship_to_qty{{ count }}"
                                           min="0" name="re_ship_to_qty{{ count }}" onkeyup="value=value.replace(/\D/g,'')"
                                           value="" class="form-control" title="" >
                                </div>
                                {#<div class="form-group rmaFG">#}
                                {#Buyer 品牌#}
                                {#<label for="re_buyer_brand"><b>Buyer Brand:</b></label>#}
                                {#<input id="re_buyer_brand{{ count }}" name="re_buyer_brand{{ count }}" value=""#}
                                {#class="form-control"/>#}
                                {#</div>#}
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group required rmaFG">
                                    {#收货人电话#}
                                    <label class="control-label" for="re_ship_to_phone"><b>Recipient Phone #:</b></label>
                                    <input id="re_ship_to_phone{{ count }}" name="re_ship_to_phone{{ count }}"
                                           value="{{ customerOrder.ship_phone }}" class="form-control">
                                </div>
                                <div class="form-group required rmaFG">
                                    {#收货地址#}
                                    <label class="control-label" for="re_ship_to_address"><b>Shipping Address:</b></label>
                                    <input id="re_ship_to_address{{ count }}" name="re_ship_to_address{{ count }}"
                                           value="{{ customerOrder.ship_address1 }}" class="form-control">
                                </div>
                                <div class="form-group required required rmaFG">
                                    {#收货 州/地区#}
                                    <label class="control-label" for="re_ship_to_state"><b>Shipping State:</b></label>
                                    <input id="re_ship_to_state{{ count }}" name="re_ship_to_state{{ count }}"
                                           value="{{ customerOrder.ship_state }}" class="form-control">
                                </div>
                                <div class="form-group required rmaFG">
                                    {#收货国家#}
                                    <label class="control-label" for="re_ship_to_country"><b>Shipping Country:</b></label>
                                    <input id="re_ship_to_country{{ count }}" name="re_ship_to_country{{ count }}"
                                           value="{{ customerOrder.ship_country }}" class="form-control" readonly style="cursor: not-allowed;">
                                </div>

                                {#<div class="form-group rmaFG">#}
                                {#发货服务等级#}
                                {#<label for="re_ship_to_service_level"><b>Shipping Service Level:</b></label>#}
                                {#<input id="re_ship_to_service_level{{ count }}"#}
                                {#name="re_ship_to_service_level{{ count }}"#}
                                {#value="{{ customerOrder.ship_service_level }}" class="form-control">#}
                                {#</div>#}
                            </div>
                        </div>
                    </div>
                </div>
                {% if customerOrder.order_status == 16 %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-parent="#accordion">
                                    <div class="rmaFG checkbox-plus-2">
                                        <label for="collapseTwo{{ count }}">
                                          <input type='checkbox' id='collapseTwo{{ count }}' name="rma_type{{ count }}[]"
                                                 onClick='collapse(this)' value="2" checked>
                                          <span class="icon"></span>
                                          <span>Request Refund</span>
                                        </label>
                                        <span><span style="color: red">*</span><b style="font-size: 14px;">Notices: Transaction fees are at the buyer's own expense.</b></span>
                                    </div>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in collapseTwo{{ count }}">
                            <div class="panel-body">
                                <div class="form-group rmaFG">
                                    <label for="refund_amount{{ count }}"><span style="color: red">*</span><b>Amount
                                            ({{ currency }}):</b></label>
                                  <div style="display: flex">
                                    {% if  currency != "JPY" %}
                                        <input id="refund_amount{{ count }}" style="width: auto;"
                                               name="refund_amount{{ count }}"
                                               type="number"
                                               class="form-control"
                                               onchange="checkRefundAmount(this,{{ count }});"
                                               onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"
                                               step="0.01"/>
                                    {% else %}
                                        <input id="refund_amount{{ count }}" style="width: auto;"
                                               name="refund_amount{{ count }}"
                                               type="number"
                                               class="form-control"
                                               onchange="checkRefundAmount(this,{{ count }});"
                                               onkeyup="this.value= this.value.match(/[0-9]*/) ? this.value.match(/[0-9]*/) : ''"
                                               step="1"/>
                                    {% endif %}
                                    <label id="refund_msg{{ count }}" style="line-height: 38px"></label>
                                  </div>
                                  <span id="tip_refund{{ count }}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-parent="#accordion">
                                    <div class="rmaFG checkbox-plus-2">
                                        <label for="collapseTwo{{ count }}">
                                          <input type='checkbox' id='collapseTwo{{ count }}' name="rma_type{{ count }}[]"
                                                 onClick='collapse(this)' value="2">
                                          <span class="icon"></span>
                                          <span>Request Refund</span>
                                        </label>&emsp;
                                        <span><span style="color: red">*</span><b style="font-size: 14px;">Notice: Transaction fees are at the buyer's own expense.</b></span>
                                    </div>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse collapseTwo{{ count }}">
                            <div class="panel-body">
                                <div class="form-group rmaFG">
                                    <label for="refund_amount{{ count }}"><span style="color: red">*</span><b>Amount
                                            ({{ currency }}):</b></label>
                                  <div style="display: flex">
                                    {% if  currency != "JPY" %}
                                        <input id="refund_amount{{ count }}" style="width: auto;"
                                               name="refund_amount{{ count }}"
                                               type="number"
                                               class="form-control"
                                               onchange="checkRefundAmount(this,{{ count }});"
                                               onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"
                                               step="1"/>
                                    {% else %}
                                        <input id="refund_amount{{ count }}" style="width: auto;"
                                               name="refund_amount{{ count }}"
                                               type="number"
                                               class="form-control"
                                               onchange="checkRefundAmount(this,{{ count }});"
                                               onkeyup="this.value= this.value.match(/[0-9]*/) ? this.value.match(/[0-9]*/) : ''"
                                               step="1"/>
                                    {% endif %}
                                    <span id="refund_msg" style="line-height: 38px"></span>
                                  </div>
                                  <span id="tip_refund{{ count }}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        $('#addDetailButton').button('reset');
        for (var i = 0; i < selectItems.length; i++) {
            $("#selectItemCode{{ count }}").append("<option data-id=" + i + " value='" + selectItems[i].itemCode + "'>" + selectItems[i].itemCode + "</option>")
            if (i == 0) {
                // 加载OrderId
                var selectOrderIds = selectItems[i].items;
                for (var j = 0; j < selectOrderIds.length; j++) {
                    $("#selectOrderId{{ count }}").append("<option data-id=" + j + " value='" + selectOrderIds[j].orderId + "'>#" + selectOrderIds[j].orderId + "</option>");
                    if (j == 0) {
                        var selectSellers = selectOrderIds[j].items;
                        for (var z = 0; z < selectSellers.length; z++) {
                            $("#selectSellers{{ count }}").append("<option data-id=" + z + " value='" + selectSellers[z].sellerId + "'>" + selectSellers[z].sellerName + "</option>");
                            if(selectSellers[z].orderStatus != 16) {
                                $("#rmaQty{{ count }}").val(selectSellers[z].qty);
                            }
                            var transactionFeeTmp = selectSellers[z].transactionFee * 1000 / 1000;
                            var totalPriceTmp     = selectSellers[z].totalPrice * 1000 / 1000;
                            $("#rmaQty{{ count }}").attr("max", selectSellers[z].qty);
                            $("#transactionFee{{ count }}").val(transactionFeeTmp);
                            $("#totalPrice{{ count }}").val(totalPriceTmp);
                            $("#re_ship_to_qty{{ count }}").val(selectSellers[z].qty);
                            $("#re_ship_to_qty{{ count }}").attr("max", selectSellers[z].qty);
                            $("#refund_msg{{ count }}").html(selectSellers[z].tip_rebate_refund);
                            $("#tip_refund{{ count }}").html(selectSellers[z].msg_rebate_refund);
                            if(selectSellers[z].orderStatus == 16){
                                $("#refund_amount{{ count }}").val(totalPriceTmp);
                            }
                        }
                    }
                }
            }
        }
    });

    function checkInputNumber(input) {
        var max = $(input).attr('max');
        var min = $(input).attr('min');
        var value = $(input).val();
        if (value < min) {
            var tmplayer = layer.alert('Illegal input!', {
                title: 'Message',
                btn : 'OK',
                skin: 'yzc_layer' //样式类名
                ,closeBtn: 0
            }, function(){
                layer.close(tmplayer);
                $(input).parent().addClass('has-error');
                $(input).focus();
            });
            $(input).parent().addClass('has-error');
            $(input).focus();
        } else if (value > max) {
            var tmplayer = layer.alert('Please enter again if the number of inputs is greater than the order quantity!', {
                title: 'Message',
                btn : 'OK',
                skin: 'yzc_layer' //样式类名
                ,closeBtn: 0
            }, function(){
                layer.close(tmplayer);
                $(input).parent().addClass('has-error');
                $(input).focus();
            });
            $(input).parent().addClass('has-error');
            $(input).focus();
        } else if (value >= min && value <= max) {
            $(input).parent().removeClass('has-error');
        }
    }

    function checkRefundAmount(input,count) {
      // 获取PurchaseOrderID
      var order_id = $("#selectOrderId{{ count }}").val();
      var tips = 'The amount entered exceeds the total amount of the order details!';
      // type = 2 margin order_status 32 complete
      for (i = 0; i < margin_array.length; i++) {
        if(parseInt(order_id) == parseInt(margin_array[i]['order_id']) && margin_array[i]['type_id'] == '2' && order_status != '32'){
            var  tips = 'The deposit will not be refunded for the products participating in the deposit, and only the balance payment amount can be applied for.';
            break;
        }
      }
      var id = input.id.split('refund_amount')[1];
      if($('#collapseTwo'+id).prop('checked')) {
        var value = $(input).val();
        var totalPrice = $("#totalPrice"+id).val() * 1000 / 1000;
        if (parseFloat(value) > parseFloat(totalPrice)) {
          var tmplayer = layer.alert(tips, {
            title: 'Message',
            btn: 'OK',
            skin: 'yzc_layer' //样式类名
            , closeBtn: 0
          }, function () {
            layer.close(tmplayer);
            $(input).parent().addClass('has-error');
            $(input).focus();
          });
          $(input).parent().addClass('has-error');
          $(input).focus();
          return false;
        }
        $(input).parent().removeClass('has-error');
        return true;
      }else{
        $(input).parent().removeClass('has-error');
        return true;
      }
    }

    $("#selectItemCode{{ count }}").change(function () {
        // 清除后两个下拉框
        $('#selectOrderId{{ count }}').empty();
        $('#selectSellers{{ count }}').empty();
        var dataId = $(this).find('option:selected').attr("data-id");
        var selectOrderIds = selectItems[dataId].items;
        for (var j = 0; j < selectOrderIds.length; j++) {
            $("#selectOrderId{{ count }}").append("<option data-id=" + j + " value='" + selectOrderIds[j].orderId + "'>#" + selectOrderIds[j].orderId + "</option>");
            if (j == 0) {
                var selectSellers = selectOrderIds[j].items;
                for (var z = 0; z < selectSellers.length; z++) {
                    $("#selectSellers{{ count }}").append("<option data-id=" + z + " value='" + selectSellers[z].sellerId + "'>" + selectSellers[z].sellerName + "</option>");
                    var transactionFeeTmp = selectSellers[z].transactionFee * 1000 / 1000;
                    var totalPriceTmp     = selectSellers[z].totalPrice * 1000 / 1000;
                    $("#rmaQty{{ count }}").val(selectSellers[z].qty);
                    $("#rmaQty{{ count }}").attr("max", selectSellers[z].qty);
                    $("#transactionFee{{ count }}").val(transactionFeeTmp);
                    $("#totalPrice{{ count }}").val(totalPriceTmp);
                    $("#re_ship_to_qty{{ count }}").val(selectSellers[z].qty);
                    $("#re_ship_to_qty{{ count }}").attr("max", selectSellers[z].qty);
                    $("#refund_msg{{ count }}").html(selectSellers[z].tip_rebate_refund);
                    $("#tip_refund{{ count }}").html(selectSellers[z].msg_rebate_refund);
                    if(selectSellers[z].orderStatus == 16){
                        $("#refund_amount{{ count }}").val(totalPriceTmp);
                    }
                }
            }
        }
    });

    $("#selectOrderId{{ count }}").change(function () {
        // 清除后一个下拉框
        $('#selectSellers{{ count }}').empty();
        var dataId1 = $("#selectItemCode{{ count }}").find('option:selected').attr("data-id");
        var dataId2 = $(this).find('option:selected').attr("data-id");
        var selectOrderIds = selectItems[dataId1].items;
        var selectSellers = selectOrderIds[dataId2].items;
        for (var z = 0; z < selectSellers.length; z++) {
            $("#selectSellers{{ count }}").append("<option data-id=" + z + " value='" + selectSellers[z].sellerId + "'>" + selectSellers[z].sellerName + "</option>");
            $("#rmaQty{{ count }}").val(selectSellers[z].qty);
            $("#rmaQty{{ count }}").attr("max", selectSellers[z].qty);
            $("#transactionFee{{ count }}").val(selectSellers[z].transactionFee * 1000 / 1000);
            $("#totalPrice{{ count }}").val(selectSellers[z].totalPrice * 1000 / 1000);
            var totalPriceTmp     = selectSellers[z].totalPrice * 1000 / 1000;
            $("#re_ship_to_qty{{ count }}").val(selectSellers[z].qty);
            $("#re_ship_to_qty{{ count }}").attr("max", selectSellers[z].qty);
            $("#refund_msg{{ count }}").html(selectSellers[z].tip_rebate_refund);
            $("#tip_refund{{ count }}").html(selectSellers[z].msg_rebate_refund);
            if(selectSellers[z].orderStatus == 16){
              $("#refund_amount{{ count }}").val(totalPriceTmp);
            }
        }
    });

    function collapse(obj) {
        if ($(obj)[0].checked) {
            $('.' + $(obj)[0].id).collapse('show');
        } else {
            $('.' + $(obj)[0].id).collapse('hide');
        }
    }

    var appFile{{ count }} = new Vue({
        el: '#appFile{{ count }}',
        delimiters: ['${', '}$'],
        data() {
            return {
                imgList: [],
                size: 0
            }
        },
        methods: {
            fileClick() {
                document.getElementById('upload_file{{ count }}').click()
            },
            fileChange(el) {
                if (!el.target.files[0].size) return;
                this.fileList(el.target);
                el.target.value = ''
            },
            fileList(fileList) {
                let files = fileList.files;
                if ((this.imgList.length + files.length) > 20) {
                    layer.alert('The number of uploaded files cannot exceed 20.', {
                        title: 'Message',
                        btn : 'OK',
                        skin: 'yzc_layer' //样式类名
                        ,closeBtn: 0
                    });
                    return;
                }
                for (let i = 0; i < files.length; i++) {
                    if (i == 20 || this.imgList.length == 20) {
                        return;
                    }
                    //判断是否为文件夹
                    if (files[i].type != '') {
                        if (files[i].type.indexOf('image') == -1) {
                            layer.alert('Please upload image type files!', {
                                title: 'Message',
                                btn : 'OK',
                                skin: 'yzc_layer' //样式类名
                                ,closeBtn: 0
                            });
                        } else {
                            if (this.imgList.length > 20) {
                                layer.alert('The number of uploaded files cannot exceed 20.', {
                                    title: 'Message',
                                    btn : 'OK',
                                    skin: 'yzc_layer' //样式类名
                                    ,closeBtn: 0
                                });
                            } else {
                                this.fileAdd(files[i]);
                            }
                        }
                    } else {
                        //文件夹处理
                        if (fileList.items == undefined) {
                            layer.alert('Upload file type is incorrect!', {
                                title: 'Message',
                                btn : 'OK',
                                skin: 'yzc_layer' //样式类名
                                ,closeBtn: 0
                            });
                        } else {
                            if (this.imgList.length > 20) {
                                layer.alert('The number of uploaded files cannot exceed 20.', {
                                    title: 'Message',
                                    btn : 'OK',
                                    skin: 'yzc_layer' //样式类名
                                    ,closeBtn: 0
                                });
                            } else {
                                this.folders(fileList.items[i]);
                            }
                        }
                    }
                }
            },
            //文件夹处理
            folders(files) {
                let _this = this;
                //判断是否为原生file
                if (files.kind) {
                    files = files.webkitGetAsEntry();
                }
                files.createReader().readEntries(function (file) {
                    for (let i = 0; i < file.length; i++) {
                        if (file[i].isFile) {
                            _this.foldersAdd(file[i]);
                        } else {
                            _this.folders(file[i]);
                        }
                    }
                })
            },
            foldersAdd(entry) {
                let _this = this;
                entry.file(function (file) {
                    _this.fileAdd(file)
                })
            },
            fileAdd(file) {
                //总大小
                this.size = this.size + file.size;
                //判断是否为图片文件
                if (file.type.indexOf('image') == -1) {
                    file.src = 'catalog/view/theme/yzcTheme/stylesheet/diyUpload/images/wenjian.png';
                    this.imgList.push({
                        file
                    });
                } else {
                    let reader = new FileReader();
                    reader.vue = this;
                    reader.readAsDataURL(file);
                    reader.onload = function () {
                        file.src = this.result;
                        this.vue.imgList.push({
                            file
                        });
                    }
                }
            },
            fileDel(index) {
                this.size = this.size - this.imgList[index].file.size;//总大小
                this.imgList.splice(index, 1);
            },
            bytesToSize(bytes) {
                if (bytes === 0) return '0 B';
                let k = 1000, // or 1024
                    sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                    i = Math.floor(Math.log(bytes) / Math.log(k));
                return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
            },
            dragenter(el) {
                el.stopPropagation();
                el.preventDefault();
            },
            dragover(el) {
                el.stopPropagation();
                el.preventDefault();
            },
            drop(el) {
                el.stopPropagation();
                el.preventDefault();
                this.fileList(el.dataTransfer);
            }
        }
    });
    appFileArray.push(appFile{{ count }});
</script>