{% set count = 0 %}
{% set first_order = current_order %}
<div id="sales_order_rma_{{ order_id }}" class="sales_order_rma">
  <form action="#" id="form_{{ order_id }}">
    <div class="item">
      <input type="hidden" name="rmaOrderId{{ count }}" value="{{ rma_order_id.rma_order_id }}">
      <input type="hidden" name="itemCode{{ count }}" value="{{ product.sku }}">
      <input type="hidden" name="asin{{ count }}" value="">
      <input type="hidden" name="transactionFee{{ count }}" value="0">
      <input type="hidden" name="index[]" value="0">
      <input type="hidden" name="sales_order_id" value="{{ customer_order.id }}">
      <input type="hidden" name="customer_order_id" value="{{ customer_order.order_id }}">
      <input type="hidden" name="orderFrom" value="{{ customer_order.orders_from }}">
      <input type="hidden" name="orderStatus"
             value="{{ customer_order.order_status == 16 ? 'Canceled' : 'Complete' }}">
      {# 下面的会由于js使用二发生变动 #}
      <input type="hidden" name="sellers{{ count }}" value="{{ first_order.seller_id }}">
      <input type="hidden" name="totalPrice{{ count }}" value="{{ first_order.total }}">
      <h4>Item Code: <span>{{ product.sku }}</span></h4>
      <div style="padding-top: 0">
        <div class="col-sm-6">
          <label class="w22 required">Purchase Order ID</label>
          <select
            class="purchase_order"
            data-index="{{ count }}"
            data-id="{{ order_id }}"
            name="orderId{{ count }}"
            required>
            {% for order in purchase_orders %}
              {% if order.order_id == first_order.order_id %}
                <option
                  {% if order.order_id == first_order.order_id %} selected {% endif %}
                  data-qty="{{ order.can_return_quantity }}"
                  data-refund="{{ order.total_can_refund }}"
                  data-tip="{{ order.tip_rebate_refund }}"
                  data-msg="{{ order.msg_rebate_refund }}"
                  data-model="{{ order.model }}"
                  value="{{ order.order_id }}">
                  {{ '#'~order.order_id }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-6">
          <label class="w15 required">Store</label>
          <input
            class="rma_store"
            placeholder="Store"
            name="store{{ count }}"
            value="{{ first_order.model }}"
            type="text"
            disabled>
        </div>
        <div class="col-sm-6">
          <label class="w22 {% if customer_order.order_status == 32 %} required {% endif %}">DamagePackagesQty</label>
          <input
            class="rma_qty"
            placeholder="Please input damaged quantity."
            name="rmaQty{{ count }}"
            value="{{ first_order.can_return_quantity }}"
            min="0"
            {% if customer_order.order_status == 32 %}
              max="{{ first_order.can_return_quantity }}"
            {% else %}
              max="{{ first_order.qty }}"
            {% endif %}
            onkeyup="value=value.replace(/\D/g,'')"
            type="text">
        </div>
        <div class="col-sm-6">
          <label class="w15 required">Reason</label>
          <select name="reason{{ count }}">
            <option value="">Select a reason</option>
            {% for item in reasons %}
              <option value="{{ item.reason_id }}">{{ item.reason }}</option>
            {% endfor %}
          </select>
        </div>
        {% if cwf_order is defined and cwf_order['cwf_status'] == 7 %}
          <div class="col-sm-12 " style="padding: 0">
            <div class="col-sm-6 pull-right">
              <div style="width: 15%;display: inline-block;margin-right: 10px"></div>
              <span style="display:inline-block;width:69%;font-size: 12px;color: #FA6400;">{{ tip_cwf_notice }}</span>
            </div>
          </div>
        {% endif %}
        <div class="col-sm-12">
          <label class="w11 required">Comments</label>
          <textarea
            name="comments{{ count }}"
            class="textarea"
            contenteditable="true"
            maxlength="1000"
            onchange="this.value=this.value.substring(0, 1000)"
            onkeydown="this.value=this.value.substring(0, 1000)"
            onkeyup="this.value=this.value.substring(0, 1000)"
            style="vertical-align: top"></textarea>
        </div>
        <div class="col-sm-12">
          <label class="w11 required" style="float: left">File Upload</label>
          <div style="width: 80%;float: left">
            <div class="upload-content">
              <div class="content-img">
                <ul class="content-img-list" data-id="{{ order_id }}"></ul>
                <div class="file">
                  <span>+</span>
                  <input type="file" name="file" accept="image/*" class="upload" title=""
                         multiple>
                </div>
              </div>
              <div class="show"></div>
            </div>
            <div class='show' id="show"></div>
          </div>
        </div>
        {# 只有完成的销售订单才有重发 #}
        {% set display = '' %}
        {% if customer_order.order_status == 16 or cwf_order is defined %}
          {% set display = 'style="display:none"' %}
        {% endif %}
        <div class="col-sm-12 reshipment request" {{ display }}>
          <div class="title">
            <input name="rma_type{{ count }}[]" value="1" type="checkbox" class="check">
            <h4>Request Reshipment</h4>
          </div>
          <div class="content">
            <div class="col-sm-10">
              <p>
                <label class="w15">Recipient Name</label>
                <input
                  type="text"
                  class="c_ship_name"
                  value="{{ customer_order.ship_name }}({{ customer_order.email }},{{ customer_order.ship_phone }})"
                  disabled/>
              </p>
              <p>
                <label class="w15">Address</label>
                <input
                  type="text"
                  class=" c_ship_address"
                  value="{{ customer_order.detail_address|escape }}"
                  disabled/>
              </p>
              <p>
                <label class="w15">Reship Qty</label>
                <input
                  name="re_ship_to_qty{{ count }}"
                  onchange="checkInputNumber(this)"
                  onkeyup="value=value.replace(/\D/g,'')"
                  value="{{ first_order.qty }}"
                  max="{{ first_order.qty }}"
                  min="0"
                  type="text"
                  class="qty"/>
              </p>
              <p class="prompt" style="display: none"><label class="w15"></label>
                <span style="color: #a30014">
                  Please enter again if the number of inputs is greater than the order quantity!
                </span>
              </p>
            </div>
            <div class="col-sm-2" style="text-align: right">
              <button
                type="button"
                class="btn btn-primary btn-lg btn-modification"
                data-toggle="modal" data-target="#myModal_{{ order_id }}">
                Modify Address
              </button>
            </div>
            <div class="modal fade bs-example-modal-lg modifiyAddress-modal" id="myModal_{{ order_id }}" tabindex="-1"
                 role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header" style="text-align: left">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modifiy Address</h4>
                  </div>
                  <div class="modal-body">
                    <div>
                      <label class="required w2">Recipient Name</label>
                      <input
                        class="name"
                        name="re_ship_to_name{{ count }}" autocomplete="off"
                        type="text"
                        value="{{ customer_order.ship_name }}">
                    </div>
                    <div>
                      <label class="required w2">Recipient E-mail</label>
                      <input
                        name="re_ship_to_email{{ count }}"
                        class="email"
                        type="text" autocomplete="off"
                        value="{{ customer_order.email }}">
                    </div>
                    <div>
                      <label class="required w2">Recipient Phone</label>
                      <input
                        name="re_ship_to_phone{{ count }}"
                        class="phone"
                        type="text" autocomplete="off"
                        value="{{ customer_order.ship_phone }}">
                    </div>
                    <div class="re_ship_to_address">
                      <label class="required w2">Address</label>
                      <input
                        class="address"
                        name="re_ship_to_address{{ count }}"
                        type="text" autocomplete="off"
                        value="{{ customer_order.ship_address1|escape }}"
                        placeholder="Street Address">
                      <div class="error-msg"></div>
                    </div>
                    <div>
                      <label class="required w2">Postal Code</label>
                      <input
                        class="address"
                        name="re_ship_to_postal_code{{ count }}"
                        type="text" autocomplete="off"
                        value="{{ customer_order.ship_zip_code }}"
                        placeholder="Ship To Postal Code">
                    </div>
                    <div>
                      <label class="required w2">Ship City</label>
                      <input
                        class="address"
                        name="re_ship_to_city{{ count }}"
                        type="text" autocomplete="off"
                        value="{{ customer_order.ship_city }}"
                        placeholder="City">
                    </div>
                    <div class="re_ship_to_state">
                      <label class="required w2">Ship State</label>
                      <input
                        class="address"
                        name="re_ship_to_state{{ count }}"
                        type="text" autocomplete="off"
                        value="{{ customer_order.ship_state }}"
                        placeholder="State">
                      <div class="error-msg"></div>
                    </div>
                    <div>
                      <label class="required w2">Ship Country</label>
                      <input
                        class="address"
                        name="re_ship_to_country{{ count }}"
                        type="text" autocomplete="off"
                        value="{{ customer_order.ship_country }}"
                        placeholder="State">
                    </div>
                  </div>
                  <div class="modal-body">
                    <div style="text-align: center">
                      <button type="button" data-id="{{ order_id }}" id="checkAddress" class="btn btn-primary modal_click">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {# REFUND #}
        <div class="col-sm-12 refund request">
          <div class="title">
            <input type="checkbox" name="rma_type{{ count }}[]" value="2" class="check">
            <h4> Request Refund </h4>
            <span style="color: #ccc;font-size: 12px;float: inherit">
              Notice: Transaction fees are at the buyer's own expense.
            </span>
          </div>
          <div class="content" style="display: none">
            <div></div>
            <div
              class="point prompt-tip-msg"
              {% if safeguard_bill_list is empty and first_order.tipBuyerMsg is empty and first_order.msg_storage_fee is empty %}
              style="display: none"
              {% endif %}>
              {% if safeguard_bill_list is not empty %}
                <p class="prompt-tip">
                  <i class="giga icon-tishii-01"></i>
                  {% for bill in safeguard_bill_list  %}
                    <span>{{ bill.safeguardConfig.title }}</span>
                    {{ not loop.last ? ',' }}
                  {% endfor %}
                  Protection Service has been purchased for this product in the order. If you want to request an RMA due to problems within the coverage of Protection Service, Seller can reject the request.
                </p>
              {% endif %}
              {% if first_order.tipBuyerMsg is not empty %}
                <p class="prompt-tip">
                  {{ first_order.tipBuyerMsg }}
                </p>
              {% endif %}
              {% if first_order.msg_storage_fee is not empty %}
                <p class="prompt-tip">
                  {{ first_order.msg_storage_fee }}
                </p>
              {% endif %}
            </div>
            <div class="col-sm-10" style="margin-bottom: 10px">
              <label class="w15 required">Amount ({{ currency }}):</label>
              <input
                name="refund_amount{{ count }}"
                value="{{ first_order.total_can_refund|parsePrice(is_japan) }}"
                type="text"
                max="{{ first_order.total_can_refund }}"
                onchange="checkSalesRefundAmount(this)"
                onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"
                step="{{ is_japan ? 1 : 0.01 }}"
                class="amount">
              <p class="prompt" style="display: none">
                <label class="w15"></label>
                <span style="color: #a30014">The amount entered exceeds the total amount of the order details!</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<style>
  .modal input[type=text] {
    background-color: #f3f5f7;
  }

  .point {
    background-color: #ffecee;
    border: 1px solid #ff414d;
    color: #ff414d;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
  }

  .prompt-tip {
    margin: 0 5px;
  }

  .prompt-msg {
    margin-bottom: 0;
    color: #aaa;
  }

  .w2 {
    width: 20%;
    text-align: right;
    margin-right: 10px;
  }

  #sales_order_rma input:focus {
    border: 1px solid #3A75DC;
    outline: none;
  }
  .modifiyAddress-modal .error-msg{
    color: #ff414d;
    margin-left: 22%;
    font-size: 12px;
  }
</style>