<div role="tabpanel" class="tab-pane active">
  <div class="bg-white p-2">
    {#搜索#}
    <div class="filter-wrapper form-wrapper mt-3 mb-3">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="input-store-history">{{ column_store}}</label>
            <select name="filter_store_history"  id="input-store-history" class="select2_history form-control" >
              <option value="0">---{{ __('请选择', {}, 'common') }}---</option>
              {% for key,value in store_list %}
                <option value="{{ value.id }}"
                  {% if filter_store_history == value.id %}
                    select="selected"
                  {% endif %}
                >{{ value.storeName }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="input-platform-history">{{ column_platform}}</label>
            <select name="filter_platform_history"  id="input-platform-history" class="select2_history form-control" >
              <option value="0">---{{ __('请选择', {}, 'common') }}---</option>
              {% for key,value in platform_list %}
                <option value="{{ key }}"
                  {% if filter_platform_history == key %}
                    select="selected"
                  {% endif %}
                >{{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="input-sales-person">{{ text_sales_person }}</label>
            <select name="filter_sales_person"  id="input-sales-person" class="select2_history form-control" >
              <option value="0">---{{ __('请选择', {}, 'common') }}---</option>
              {% for key,value in sales_person_list %}
                <option value="{{ value.id }}"
                  {% if filter_sales_person == value.id %}
                    select="selected"
                  {% endif %}
                >{{ value.name }}
                </option>
              {% endfor %}
            </select>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label" for="input-platform-sku">{{column_platform_sku}}/{{ column_b2b_item_code }}</label>
            <input type="text" name="filter_sku_history" value="{{ filter_sku_history}}" placeholder="{{ column_platform_sku}}/{{ column_b2b_item_code }}" id="filter_sku_history" class="form-control allcode" />

          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="input-approval-status">{{ column_approval_status}}</label>
            <select name="filter_approval_status"  id="input-approval-status" class="select2_history form-control" >
              <option value="-1">---{{ __('请选择', {}, 'common') }}---</option>
              {% for key,value in approval_list %}
                <option value="{{ key }}"
                  {% if filter_sales_person == key %}
                    select="selected"
                  {% endif %}
                >{{ value }}
                </option>
              {% endfor %}
            </select>

          </div>
        </div>
        <div class="col-sm-4">
          <button onclick="downloadMappingHistory();" class="btn btn-default pull-right" data-toggle="tooltip" style="margin: 38px 5px;"  title="{{ text_mapping_history_download }}">
            <i class="fa fa-download"></i></button>
          <button type="button" onclick="filter(this,2);" class="btn btn-primary pull-right" style="margin: 38px 5px;">{{ button_filter}}</button>
        </div>
      </div>
    </div>


    {#列表#}
    <form action="" method="post" enctype="multipart/form-data" id="form-order">
      <div class="table-responsive">
        <table class="table main table-hover">

          <thead>
          <tr bgcolor="#f5f5f5">
            <th class="text-center">No.</th>
            <th class="text-center">{{ column_store }}</th>
            <th class="text-center">{{ column_platform }}</th>
            <th class="text-center">{{ column_platform_url }}</th>
            <th class="text-center">{{ column_platform_sku }}</th>
            <th class="text-center" style="text-align: center">{{ column_b2b_item_code }}</th>
            <th class="text-center" style="text-align: center">{{ column_salesperson }}</th>
            <th class="text-center" style="text-align: center">
          <span style="color:#1E91CF;cursor: pointer" onclick="getHistorySort(1)" >{{ column_last_modified }}
            {% if sort_type == 1 %}
              {% if order_sort == '' %}
              {% elseif order_sort == 'asc' %}
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
              {% elseif order_sort == 'desc' %}
                <i class="fa fa-chevron-down"></i>
              {% else %}
                <i class="fa fa-chevron-down"></i>
              {% endif %}
            {% endif %}
          </span>
            </th>
            <th class="text-center" style="text-align: center"><span style="color:#1E91CF;cursor: pointer" onclick="getHistorySort(2)" >{{ column_approval_status }}
                {% if sort_type == 2 %}
                  {% if order_sort == '' %}
                  {% elseif order_sort == 'asc' %}
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
              {% elseif order_sort == 'desc' %}
                    <i class="fa fa-chevron-down"></i>
              {% else %}
                    <i class="fa fa-chevron-down"></i>
                  {% endif %}
                {% endif %}
          </span>

            </th>
            <th class="text-center" style="text-align: center;width: 10%;">{{ column_action }}</th>
          </tr>
          </thead>
          <tbody>
          {% if history_list %}
            {% for key,value in history_list %}
              <tr >
                <td class="text-center">{{ key + 1 }}</td>
                <td class="text-center">{{ value['store_name'] }}</td>
                <td class="text-center">{{ platform_list[value['platform']] }}</td>
                <td class="text-center">{{ value.asin }}</td>
                <td class="text-center">{{ value.sku }}</td>
                <td class="text-center" style="text-align: center">
                  {% if value.approval_status == 0 %}
                    {{  value.b2b_sku }}
                  {% else %}
                    <div>
                      {{  value.b2b_sku }}
                    </div>
                    <div style="display: none" >
                      <select class="select2_history_list" name="history_b2b_code_{{  value['id'] }}" id="history_b2b_code_{{  value['id'] }}"  style="width:100%"></select>
                    </div>
                  {% endif %}

                </td>
                <td class="text-center" style="text-align: center">

                  {% if value.approval_status == 0 %}
                    {{ value.salesperson_name }}
                  {% else %}
                    <div >
                      {{ value.salesperson_name }}
                    </div>
                    <div style="display: none">
                      <select  name="history_salesperson_{{ value['id'] }}" id="history_salesperson_{{ value['id'] }}"  class="select2_history" >
                        <option value="0">---{{ __('请选择', {}, 'common') }}---</option>
                        {% for k,v in sales_person_list %}
                          <option value="{{ v.id }}"
                            {% if value['salesperson_id'] == v.id %}
                              select="selected"
                            {% endif %}
                          >{{ v.name }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                  {% endif %}
                </td>
                <td class="text-center">{{ value.update_time }}</td>
                <td class="text-center">
                  {% if value.approval_status == 1 %}
                    <span style="color:#008000;" >{{ approval_list[value.approval_status] }}</span>
                  {% elseif value.approval_status == 2 %}
                    <span style=" color:#FF0000;" >{{ approval_list[value.approval_status] }}</span>
                    <span style="color:#8FDDFF;text-decoration:underline;cursor: pointer" onclick="openRejectDetails('{{ value['id'] }}')">details</span>
                  {% else %}
                    <span>{{ approval_list[value.approval_status] }}</span>
                  {% endif %}
                </td>
                <td class="text-center">
                  <div class="action-group">
                    {% if value.approval_status == 1 %}
                      <button  type="button" class="btn btn-primary pull-left" data-trigger = "hover" onclick="getCodeChoose('{{ value['id'] }}',this)" style="margin-right: 5px;margin-bottom: 3px;" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button  type="button" data-trigger = "hover" onclick="getCodeChooseCancelOnly(this,'{{ value['id'] }}')" class="btn btn-default pull-left"  style="margin-right: 5px;margin-bottom: 3px;display: none" data-toggle="tooltip" title="Cancel">
                        <i class="fa fa-reply" ></i>
                      </button>
                      <button  type="button"  data-trigger = "hover" onclick="resetMapping('{{ value.id }}')"  class="btn btn-primary pull-left" style="margin-right: 5px;display: none;margin-bottom: 3px;" data-toggle="tooltip" title="Submit">
                        <i class="fa fa-external-link"></i>
                      </button>
                      <button type="button"  data-trigger = "hover" class="btn btn-success pull-left"  mean="{{ value.sku }}" onclick="openTimeLine('{{ value['id'] }}',this)" style="margin-right: 5px;margin-bottom: 3px;" data-toggle="tooltip" title="Log">
                        <i class="fa fa-file-text"></i>
                      </button>
                    {% elseif value.approval_status == 2 %}
                      <button  type="button"  onclick="resetMapping('{{ value.id }}')" class="btn btn-primary pull-left" style="margin-right: 5px;margin-bottom: 3px;" data-toggle="tooltip" title="Submit">
                        <i class="fa fa-external-link"></i>
                      </button>
                      <button  type="button" onclick="getCodeChooseCancel('{{ value['id'] }}')" class="btn btn-default pull-left"  style="margin-right: 5px;margin-bottom: 3px;" data-toggle="tooltip" title="Cancel">
                        <i class="fa fa-reply"></i>
                      </button>

                    {% else %}
                      <button  type="button" class="btn btn-success pull-left" mean="{{ value.sku }}" onclick="openTimeLine('{{ value['id'] }}',this)"  style="margin-right: 5px;margin-bottom: 3px;" data-toggle="tooltip" title="Log">
                        <i class="fa fa-file-text"></i>
                      </button>
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr >
              <td class="text-center" colspan="10">{{ search_result }}</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
        <div class="text-right col-sm-12">{{ pagination }}</div>
      </div>
    </form>
  </div>
</div>





<script>
  var txtPleaseSelect = "{{ __('请选择', {}, 'common') }}";
  $(document).ready(function () {
    $(".select2_history").select2({
//      language: "zh-CN", //设置 提示语言
      width: "100%", //设置下拉框的宽度
      placeholder: `---${txtPleaseSelect}---`,
//      minimumInputLength: 10  //最小需要输入多少个字符才进行查询
    });
    $(".select2_history_list").select2({
      ajax: {
        url: "index.php?route=account/item_code_mapping/getB2bCodeBySearch",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term, // search term
            page: params.page
          };
        },
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used
          params.page = params.page || 1;

          return {
            results: data.items,
            pagination: {
              more: (params.page * 30) < data.total_count
            }
          };
        },
        cache: true
      },
      placeholder: `---${txtPleaseSelect}---`,
      minimumInputLength: 1,
      templateResult: formatRepo,
      templateSelection: formatRepoSelection
    });
    function formatRepo (repo) {
      if (repo.loading) {
        return repo.text ;
      }
      var $container = $(
//        "<div class='select2-result-repository clearfix'>" +
//        "<div class='select2-result-repository__avatar'><img src='" + repo.owner.avatar_url + "' /></div>" +
        "<div class='select2-result-repository__meta'>" + repo.sku +
//        "<div class='select2-result-repository__title'></div>" +
//        "<div class='select2-result-repository__description'></div>" +
//        "<div class='select2-result-repository__statistics'>" +
//        "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> </div>" +
//        "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> </div>" +
//        "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> </div>" +
//        "</div>" +
//        "</div>" +
        "</div>"
      );

//      $container.find(".select2-result-repository__title").text(repo.full_name);
//      $container.find(".select2-result-repository__description").text(repo.description);
//      $container.find(".select2-result-repository__forks").append(repo.forks_count + " Forks");
//      $container.find(".select2-result-repository__stargazers").append(repo.stargazers_count + " Stars");
//      $container.find(".select2-result-repository__watchers").append(repo.watchers_count + " Watchers");

      return $container;
    }
    function formatRepoSelection (repo) {
      return repo.sku || repo.text;
    }

    var reject_info = '{{ reject_info }}';
    var json = eval('(' + reject_info + ')');
    $.each(json, function (idx, obj) {
        var salesperon_id = 'history_salesperson_' + obj.id;
        $('#' + salesperon_id).val(obj.salesperson_id).trigger("change");
        var code_id =  'select2-history_b2b_code_'+ obj.id +'-container';
        $('#' + code_id).text(obj.b2b_sku);

    });

    var filter_store_history = '{{ filter_store_history }}';
    var filter_platform_history = '{{ filter_platform_history }}';
    var filter_sales_person = '{{ filter_sales_person }}';
    var filter_approval_status = '{{ filter_approval_status }}';
    $("#input-store-history").val(filter_store_history).trigger("change");
    $("#input-platform-history").val(filter_platform_history).trigger("change");
    $("#input-sales-person").val(filter_sales_person).trigger("change");
    $("#input-approval-status").val(filter_approval_status).trigger("change");

  });



  $('.allcode').autocomplete({
    'minLength':1,
    'source': function(request, response) {
      if(encodeURIComponent(request)){
        $.ajax({
        url: 'index.php?route=account/item_code_mapping/getAllCodeBySearch&sku=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['sku'],
              value: item['id']
            }
          }));
        }
      });
      }
    },
    'select': function(item) {
      $(this).val(item['label']);
    }
  });

  $('.pagination a').click(function (e) {
    var _this = $(this);
    var subHref = _this.attr('href');
    e.preventDefault();
    block.blockUI();
    $('#mapping-history').load(subHref, function () {
      block.unBlockUI();
    });
  });

  $('.dropdown-menu .dropdown-item').on('click', function (e) {
    var _this = $(this);
    var subHref = _this.data('href');
    e.preventDefault();
    block.blockUI();
    $('#mapping-history').load(subHref, function () {
      block.unBlockUI();
    });
  })

  function getCodeChoose(id,obj) {
    var sales_person_id = 'history_salesperson_' + id;
    var b2b_code_id = 'history_b2b_code_' + id;
    $(obj).toggle();
    $(obj).next().toggle();
    $(obj).next().next().toggle();
    $('#' + sales_person_id).parent().toggle();
    $('#' +  sales_person_id).parent().prev().toggle();
    $('#' +  b2b_code_id).parent().toggle();
    $('#' + b2b_code_id).parent().prev().toggle();

  }

  function resetMapping(id) {
      layer.load();
      var b2b_code_id = 'history_b2b_code_' + id;
      var sales_person_id = 'history_salesperson_' + id;
      var is_show = $('#' + b2b_code_id).parent().is(":visible");
      if(is_show){
        let b2b_code = $('#' + b2b_code_id).val();
        let salesperson = $('#' + sales_person_id).val();
        if(salesperson == 0){
          layerMsg('Salesperson can not be left blank.', 3000);
          layer.closeAll('loading');
          return false;
        }
        let b2b_code_text = $('#select2-history_b2b_code_' + id + '-container').text();
        var data = {sku:b2b_code_text,mapping_id:id,salesperson_id:salesperson};
        var res = [];
        $.ajax({
          url: 'index.php?route=account/item_code_mapping/getMappingSkuHistoryIsValid',
          type: 'post',
          dataType: 'json',
          async: false,
          data: data,
          beforeSend: function () {

          },
          success: function (json) {
              res = json;
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });
        if(res.code == 1 || res.code == 2){
            //把数据提交后台
            $.ajax({
              url: 'index.php?route=account/item_code_mapping/mappingHistoryEdit',
              type: 'post',
              dataType: 'json',
              data: data,
              beforeSend: function () {

              },
              success: function (json) {
                  layerMsg(json.msg, 3000);
                  var page = '{{ page }}';
                  var url_load =  getHistoryListUrl() + '&search_flag=1' +'&page=' + page;
                  $('#mapping-history').load(url_load,function(responseTxt,statusTxt,xhr){
                    if(statusTxt=="success"){
                      layer.closeAll('loading');
                    }
                  })
              },
              error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
              }
            });


//        }else if(res.code == 2){
//            layerMsg(b2b_code_text + 'has been choosed.',3000);
//            layer.closeAll('loading');
//            return false;
        }else if(res.code == 3){
            layerMsg('Nothing changed',3000);
            layer.closeAll('loading');
            return false;
        }

      }else{
        layerMsg('Please click details first.',3000);
        layer.closeAll('loading');
      }


  }

  function getCodeChooseByReject(id) {

    var sales_person_id = 'history_salesperson_' + id;
    var b2b_code_id = 'history_b2b_code_' + id;
    $('#' + sales_person_id).parent().show();
    $('#' +  sales_person_id).parent().prev().hide();
    $('#' +  b2b_code_id).parent().show();
    $('#' + b2b_code_id).parent().prev().hide();

  }

  function getCodeChooseCancel(id) {
    var sales_person_id = 'history_salesperson_' + id;
    var b2b_code_id = 'history_b2b_code_' + id;
    var is_show = $('#' + b2b_code_id).parent().is(":visible");
    if(is_show){
      $('#' + sales_person_id).parent().hide();
      $('#' +  sales_person_id).parent().prev().show();
      $('#' +  b2b_code_id).parent().hide();
      $('#' + b2b_code_id).parent().prev().show();
    }else{
      layerMsg('Please click details first.',3000);
    }


  }

  function getCodeChooseCancelOnly(obj,id) {
    $(obj).toggle();
    $(obj).prev().toggle();
    $(obj).next().toggle();
    var sales_person_id = 'history_salesperson_' + id;
    var b2b_code_id = 'history_b2b_code_' + id;
    var is_show = $('#' + b2b_code_id).parent().is(":visible");
    if(is_show){
      $('#' + sales_person_id).parent().hide();
      $('#' +  sales_person_id).parent().prev().show();
      $('#' +  b2b_code_id).parent().hide();
      $('#' + b2b_code_id).parent().prev().show();
    }else{
      layerMsg('Please click details first.',3000);
    }


  }
  
  function downloadMappingHistory() {
      var url_load =   getHistoryListUrl() + '&search_flag=1';
      window.location.href = url.replace('historyList','historyListDownload');
  }

  function initHistory() {
    layer.load();
    var page = '{{ page }}';
    var url_load =  getHistoryListUrl() + '&search_flag=1' +'&page=' + page;
    $('#mapping-history').load(url_load,function(responseTxt,statusTxt,xhr){
      if(statusTxt=="success"){
        layer.closeAll('loading');
      }

    })

  }

  function getHistoryListUrl() {
    url = 'index.php?route=account/item_code_mapping/historyList';
    let filter_store_history = $('#input-store-history').val();
    if (filter_store_history && filter_store_history != 0) {
      url += '&filter_store_history=' + encodeURIComponent(filter_store_history);
    }
    let filter_platform_history = $('select[name=\'filter_platform_history\']').val();
    if (filter_platform_history && filter_platform_history != 0) {
      url += '&filter_platform_history=' + encodeURIComponent(filter_platform_history);
    }
    let filter_sales_person = $('#input-sales-person').val();
    if (filter_sales_person && filter_sales_person != 0) {
      url += '&filter_sales_person=' + encodeURIComponent(filter_sales_person);
    }
    let filter_sku_history = $('input[name=\'filter_sku_history\']').val();
    if (filter_sku_history) {
      url += '&filter_sku_history=' + encodeURIComponent(filter_sku_history);
    }
    let  filter_approval_status = $('select[name=\'filter_approval_status\']').val();
    if ( filter_approval_status &&  filter_approval_status != -1) {
      url += '&filter_approval_status=' + encodeURIComponent(filter_approval_status);
    }
    url += '&page_limit=' + {{ page_limit }};
    return url;
  }

  function getHistorySort(sort_type) {
    layer.load();
    var page = '{{ page }}';
    var sort = '{{ order_sort }}';
    var sort_url = '';
    if(sort == '' || sort == 'desc' ){
      sort_url = 'asc';
    }else if(sort == 'asc'){
      sort_url = 'desc';
    }else{
      sort_url = 'desc';
    }
    var url_load =  getHistoryListUrl() + '&search_flag=1&sort=' + sort_url + '&sort_type=' + sort_type +'&page=' + page;
    $('#mapping-history').load(url_load,function(responseTxt,statusTxt,xhr){
      if(statusTxt=="success"){
        layer.closeAll('loading');
      }

    })

  }
  // lay 打开
  function openRejectDetails(id) {
    var  rejected_info = '{{ text_rejected_reason }}';
    var  url = 'index.php?route=account/item_code_mapping/getHistoryMappingDetails&id='+ id;
    var  confirm_info = '{{ text_close_confirm_info }}';
    layer.open({
      type: 2,
      area: ['700px', '600px'],
      title: rejected_info,
      fixed: false, //不固定Change
      maxmin: true,
      skin: 'yzc_layer',
      scrollbar:false,
      content: url,
      cancel:function(index, layero){
        layer.confirm(confirm_info,
          {btn: ['Yes', 'No'], title: "Confirm", skin: 'yzc_layer'},
          function(index){
              layer.closeAll();
          },function (index) {

          }
        );
        return false;
      }
    });

  }

  // lay 打开
  function openTimeLine(id,obj) {
    var  mapping_history = $(obj).attr('mean') +'&nbsp;'+ '{{ text_mapping_history }}';
    var  url = 'index.php?route=account/item_code_mapping/getTimeLineInfoByMappingHistory&id='+ id;
    layer.open({
      type: 2,
      area: ['600px', '600px'],
      title: mapping_history,
      fixed: false, //不固定Change
      maxmin: true,
      skin: 'yzc_layer',
      scrollbar:false,
      content: url,
      cancel:function(index, layero){

      },
    });

  }

</script>

<style>
  .control-label {
    font-weight: bold;
  }
  .dialog-form-line {
    display: flex;
    padding-top: 8px
  }
  .dialog-form-label {
    font-weight: bold;
    width: 200px
  }
  .dialog-form-warning{
    font-size: 3px;
    display: none;
    color: red;
  }
  .dialog-form-input{
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
  }
  .li-disable{
    background-color: #80808059;
    pointer-events: none;
  }
  .select2-container .select2-selection--single {
    height: 34px;
    line-height: 34px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered
  {
    line-height: 34px;
  }



</style>
