<link type="text/css" href="admin/view/stylesheet/stylesheet_mapping.css" rel="stylesheet" media="screen" />
<div role="tabpanel" class="tab-pane active">
  <div class="bg-white p-2">
    {#搜索#}
    <div class="filter-wrapper form-wrapper mt-3 mb-3">
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="input-store-invalid">{{ column_store }}</label>
            <select name="filter_store_invalid" id="input-store-invalid" class="select2_invalid form-control">
              <option value="0">---{{ __('请选择', {}, 'common') }}---</option>
              {% for key,value in store_list %}
                <option value="{{ value.id }}"
                >{{ value.storeName }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="input-platform-invalid">{{ column_platform }}</label>
            <select name="filter_platform_invalid" id="input-platform-invalid" class="select2_invalid form-control">
              <option value="0">---{{ __('请选择', {}, 'common') }}---</option>
              {% for key,value in platform_list %}
                <option value="{{ key }}"
                >{{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label" for="input-platform-url-invalid">{{ column_platform_url }}</label>
            <input type="text" name="filter_url_invalid" value="{{ filter_url_invalid }}"
                   placeholder="{{ column_platform_url }}" id="input-platform-url-invalid" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label" for="input-platform-sku-invalid">{{ column_platform_sku }}</label>
            <input type="text" name="filter_sku_invalid" value="{{ filter_sku_invalid }}"
                   placeholder="{{ column_platform_sku }}" id="input-platform-sku-invalid"
                   class="form-control platformcode_invalid"/>

          </div>
        </div>
        <div class="col-sm-1">
          {#<button onclick="downloadOrderFulfillment();" class="btn btn-default pull-right" data-toggle="tooltip" title="{{ text_commodity_statistics }}">#}
          {#<i class="fa fa-download"></i></button>#}
          <button type="button" onclick="filter(this,3);" class="btn btn-primary pull-right" style="margin: 40px 15px;">{{ button_filter }}</button>
        </div>
      </div>
    </div>

    {#列表#}
    <form action="" method="post" enctype="multipart/form-data" id="form-order">
      <div class="table-responsive">

        <div class="yapiskan">
          <button type="button" class="btn btn-warning set-valid" data-type="1">Batch Validate</button>
        </div>

        <table class="table main table-hover" id="invalid_list_table">

          <thead>
          <tr bgcolor="#f5f5f5">
            <th class="text-center"><input type="checkbox" name="invalid_list[]" onclick="getInvalidCheck(this)"
                                           value="0"/></th>
            <th class="text-center">{{ column_store }}</th>
            <th class="text-center">{{ column_platform }}</th>
            <th class="text-center">{{ column_platform_url }}</th>
            <th class="text-center">{{ column_platform_sku }}</th>
            <th class="text-center" style="text-align: center"><span style="color:#1E91CF;cursor: pointer"
                                                                     onclick="getTimeSort()">{{ column_operation_time }}
                {% if invalid_sort == '' %}
                {% elseif invalid_sort == 'asc' %}
                  <i class="fa fa-chevron-up" aria-hidden="true"></i>
            {% elseif invalid_sort == 'desc' %}
                  <i class="fa fa-chevron-down"></i>
            {% else %}
                  <i class="fa fa-chevron-down"></i>
                {% endif %}
          </span></th>
            <th class="text-center" style="text-align: center">{{ column_action }}</th>
          </tr>
          </thead>
          <tbody>
          {% if invalid_list %}
            {% for key,value in invalid_list %}
              <tr>
                <td class="text-center"><input type="checkbox" id="invalid_list_{{ value['pid'] }}"
                                               name="invalid_list[]" value="{{ value['pid'] }}"/></td>
                <td class="text-center">{{ value['store_name'] }}</td>
                <td class="text-center">{{ platform_list[value['platform']] }}</td>
                <td class="text-center">{{ value.asin }}</td>
                <td class="text-center">{{ value.sku }}</td>
                <td class="text-center" style="text-align: center">
                  {{ value.b2b_update_time }}
                </td>
                <td class="text-center" style="text-align: center">
                  <div class="action-group">
                    <button type="button" class="btn btn-warning set-valid" data-type="0" mean="{{ value['pid'] }}"
                            sku="{{ value.sku }}">Validate
                    </button>
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td class="text-center" colspan="7">{{ search_result }}</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>







<script>
  var txtPleaseSelect = "{{ __('请选择', {}, 'common') }}";
  $(document).ready(function () {
    $(".select2_invalid").select2({
//      language: "zh-CN", //设置 提示语言
      width: "100%", //设置下拉框的宽度
      placeholder: `---${txtPleaseSelect}---`,
//      minimumInputLength: 10  //最小需要输入多少个字符才进行查询
    });
    var filter_store_invalid = '{{ filter_store_invalid }}';
    var filter_platform_invalid = '{{ filter_platform_invalid }}';
    $("#input-store-invalid").val(filter_store_invalid).trigger("change");
    $("#input-platform-invalid").val(filter_platform_invalid).trigger("change");



  });

  $('.platformcode_invalid').autocomplete({
    'minLength':1,
    'source': function(request, response) {
      if(encodeURIComponent(request)){
        $.ajax({
          url: 'index.php?route=account/item_code_mapping/getPlatformCodeBySearch&sku=' +  encodeURIComponent(request),
          dataType: 'json',
          success: function(json) {
            response($.map(json, function(item) {
              return {
                label: item['sku'],
                value: item['id']
              }
            }));
          }
        });
      }
    },
    'select': function(item) {
      $(this).val(item['label']);
    }

  });

  function getInvalidCheck(obj) {
    var state = $(obj).prop("checked");
    if(true == state){
      $("#invalid_list_table input[type=checkbox]").prop("checked",true);
    }else{
      $("#invalid_list_table input[type=checkbox]").prop("checked",false);
    }
  }
  $(function(){
    var h1 = 427;
    var h2 = 472;
    var ss = 0;
    $(window).scroll(function(){
      if($('#invalid_li').hasClass("active")){
        var s = $('#mapping-invalid').scrollTop();

        if(s< h1){
          $('.yapiskan').removeClass('yya');
        }if(s > h1){
          $('.yapiskan').addClass('yya');
        }if(s > h2){
          $('.yapiskan').addClass('gizle');
          if(s > ss){
            $('.yapiskan').removeClass('sabit');
          }else{
            $('.yapiskan').addClass('sabit');
          }
          ss = s;
        }
      }


    });

  });

  $(".set-valid").click(function () {
    //判断
    $(this).button('loading');
    let data_type = parseInt($(this).attr('data-type'));

    let lay = {};

    if(0 == data_type){
      let td_id = $(this).attr('mean');
      let single_checkbox_id = 'invalid_list_' + td_id;
      let sku = $(this).attr('sku');
      $('#'+ single_checkbox_id).prop("checked",true);
      let data = {ids: td_id , type: 3 }; //
      lay.layTitle = 'Confirm';
      lay.area = ['400px', '160px'];
      lay.layContent = '<div align="center" style="margin-top: 13px;word-wrap: break-word;word-break: break-all;overflow: hidden;font-size: 14px;">' +
        '<span> Do you confirm to revalidate this platform <br/> SKU ['+ sku +']? </span>' +
        '</div>';
      lay.layBtn = ['Yes', 'No'];
      layerOpen(data, lay, this);

    }else{
      //验证是否有数量
      let checkboxData = getSelectedInvalidCheckbox();
      if (checkboxData.total === 0) {
        layerMsg('{{ error_choose_checkboxes }}', 1500);
        $(this).button('reset');
        return;
      }
      let data = {ids: checkboxData.ids, type: 3};
      lay.layTitle = 'Confirm';
      var content = '{{ text_set_valid_content }}';
      lay.area = ['400px', '160px'];
      lay.layContent = '<div align="center" style="margin-top: 13px;word-wrap: break-word;word-break: break-all;overflow: hidden;font-size: 14px;">' +
        '<span>' + content.replace('#', checkboxData.total) + '</span>' +
        '</div>';
      lay.layBtn = ['Yes', 'No'];
      layerOpen(data, lay, this);

    }

  });

  function getSelectedInvalidCheckbox() {
    let data = {ids: '', total: 0};
    $('input[name="invalid_list[]"]').each(function () {
      if ($(this).is(':checked') && $(this).val() != '0') {
        data.ids += '_' + $(this).val();
        data.total++;
      }
    });
    return data;
  }

  function getInvalidListUrl() {
    url = 'index.php?route=account/item_code_mapping/invalidList';
    let filter_store_invalid = $('#input-store-invalid').val();
    if (filter_store_invalid && filter_store_invalid != 0) {
      url += '&filter_store_invalid=' + encodeURIComponent(filter_store_invalid);
    }
    let filter_platform_invalid = $('select[name=\'filter_platform_invalid\']').val();
    if (filter_platform_invalid && filter_platform_invalid != 0) {
      url += '&filter_platform_invalid=' + encodeURIComponent(filter_platform_invalid);
    }
    let filter_url_invalid = $('input[name=\'filter_url_invalid\']').val();
    if (filter_url_invalid) {
      url += '&filter_url_invalid=' + encodeURIComponent(filter_url_invalid);
    }
    let filter_sku_invalid = $('input[name=\'filter_sku_invalid\']').val();
    if (filter_sku_invalid) {
      url += '&filter_sku_invalid=' + encodeURIComponent(filter_sku_invalid);
    }

    return url;
  }

  function getTimeSort() {
      layer.load();
      var sort = '{{ invalid_sort }}';
      var sort_url = '';
      if(sort == '' || sort == 'desc' ){
          sort_url = 'asc';
      }else if(sort == 'asc'){
          sort_url = 'desc';
      }else{
          sort_url = 'desc';
      }
      var url_load =  getInvalidListUrl() + '&search_flag=1&sort=' + sort_url;
      $('#mapping-invalid').load(url_load,function(responseTxt,statusTxt,xhr){
          if(statusTxt=="success"){
            layer.closeAll('loading');
          }

      })

  }






</script>

<style>
  .control-label {
    font-weight: bold;
  }
  .dialog-form-line {
    display: flex;
    padding-top: 8px
  }
  .dialog-form-label {
    font-weight: bold;
    width: 200px
  }
  .dialog-form-warning{
    font-size: 3px;
    display: none;
    color: red;
  }
  .dialog-form-input{
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
  }
  .li-disable{
    background-color: #80808059;
    pointer-events: none;
  }
  .select2-container .select2-selection--single {
    height: 34px;
    line-height: 34px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered
  {
    line-height: 34px;
  }
  .yapiskan{
    height: 45px;
    /*background-color:#e74c3c;*/
    color:white;
    font-size:24px;
    width: 100%;
    text-align:left;
    transition:top 1.5s;
  }
  .yya{
    position:fixed;
    left: 175px;
    top:0;
    z-index: 999;
  }
  .gizle{top:-90px;}
  .sabit{top:0;left: 175px;z-index:9999;}





</style>
