<link type="text/css" href="admin/view/stylesheet/stylesheet_mapping.css" rel="stylesheet" media="screen"/>
<script src="catalog/view/javascript/select2/js/scrollfix.js"></script>

<div role="tabpanel" class="tab-pane active">
  <div class="bg-white p-2">
    {#搜索#}
    <div class="filter-wrapper form-wrapper mt-3 mb-3">
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="input-store">{{ column_store }}</label>
            <select name="filter_store" id="input-store" class="select2_new form-control">
              <option value="0">---{{ __('请选择', {}, 'common') }}---</option>
              {% for key,value in store_list %}
                <option value="{{ value.id }}"
                  {% if filter_store == value.id %}
                    select="selected"
                  {% endif %}
                >{{ value.storeName }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="input-platform">{{ column_platform }}</label>
            <select name="filter_platform" id="input-platform" class="select2_new form-control">
              <option value="0">---{{ __('请选择', {}, 'common') }}---</option>
              {% for key,value in platform_list %}
                <option value="{{ key }}"
                  {% if filter_platform == key %}
                    select="selected"
                  {% endif %}
                >{{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label" for="input-platform-url">{{ column_platform_url }}</label>
            <input type="text" name="filter_url" value="{{ filter_url }}" placeholder="{{ column_platform_url }}"
                   id="input-platform-url" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label" for="input-platform-sku">{{ column_platform_sku }}</label>
            <input type="text" name="filter_sku" value="{{ filter_sku }}" placeholder="{{ column_platform_sku }}"
                   id="input-platform-sku" class="form-control platformcode"/>

          </div>
        </div>
        <div class="col-sm-1">
          {#<button onclick="downloadOrderFulfillment();" class="btn btn-default pull-right" data-toggle="tooltip" title="{{ text_commodity_statistics }}">#}
          {#<i class="fa fa-download"></i></button>#}
          <button type="button" onclick="filter(this,1);" class="btn btn-primary pull-right" style="margin: 40px 15px;">{{ button_filter }}</button>
        </div>
      </div>
    </div>

    {#列表#}
    <form action="" method="post" enctype="multipart/form-data" id="form-order">
      <div class="table-responsive">
        <div class="yapiskan_new">
          <button type="button" class="btn btn-primary set-submit" data-type="1">Batch Submit</button>
          <button type="button" class="btn btn-danger set-status" data-type="1">Batch Invalidate</button>
        </div>
        <table class="table main table-hover" id="new_list_table">

          <thead>
          <tr bgcolor="#f5f5f5">
            <th class="text-center"><input type="checkbox" name="new_list[]" onclick="getAllCheck(this)" value="0"/></th>
            <th class="text-center">{{ column_store }}</th>
            <th class="text-center">{{ column_platform }}</th>
            <th class="text-center">{{ column_platform_url }}</th>
            <th class="text-center">{{ column_platform_sku }}</th>
            <th class="text-center">{{ column_b2b_item_code }}</th>
            <th class="text-center">{{ column_salesperson }}</th>
            <th class="text-center" style="width: 200px;">{{ column_action }}</th>
          </tr>
          </thead>
          <tbody>
          {% if new_list %}
            {% for key,value in new_list %}
              <tr>
                <td class="text-center"><input type="checkbox" id="new_list_{{ value['pid'] }}" name="new_list[]"
                                               value="{{ value['pid'] }}"/></td>
                <td class="text-center">{{ value['store_name'] }}</td>
                <td class="text-center">{{ platform_list[value['platform']] }}</td>
                <td class="text-center">{{ value.asin }}</td>
                <td class="text-center">{{ value.sku }}</td>
                <td class="text-center" style="text-align: center">
                  {#<input type="text" name="b2b_code_{{  value['pid'] }}"  id="b2b_code_{{  value['pid'] }}" value="" placeholder="{{ column_b2b_item_code }}"  class="form-control b2bcode" />#}
                  <select onchange="cancelBorderRed(this)" class="select2_parts_list form-control" name="b2b_code_{{ value['pid'] }}"
                          id="b2b_code_{{ value['pid'] }}" placeholder="{{ column_b2b_item_code }}"
                          style="width:100%"></select>

                </td>
                <td class="text-center" style="text-align: center">
                  <select name="salesperson_{{ value['pid'] }}" id="salesperson_{{ value['pid'] }}" class="select2_new form-control"
                          onchange="cancelBorderRed(this)">
                    <option value="0">---{{ __('请选择', {}, 'common') }}---</option>
                    {% for k,v in value.salesperson_list %}
                      <option value="{{ v.id }}">{{ v.name }}
                      </option>
                    {% endfor %}
                  </select>

                </td>
                <td class="text-center">
                  <div style="width: 200px;float: left" class="action-group">
                    <button type="button" class="btn btn-primary set-submit" data-type="0" mean="{{ value['pid'] }}"
                            sku="{{ value.sku }}">Submit
                    </button>
                    <button type="button" class="btn btn-danger set-status" data-type="0" mean="{{ value['pid'] }}"
                            sku="{{ value.sku }}">Invalidate
                    </button>
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td class="text-center" colspan="8">{{ search_result }}
                <span style="color:#1E91CF;cursor: pointer" onclick="getMappingHistoryUrl()">
                    {% if search_flag == 1 %}
                      Search in Mapping History
                    {% else %}
                      View Mapping History
                    {% endif %}
                </span></td>
            </tr>
          {% endif %}


          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>











<script>
  var txtPleaseSelect = "{{ __('请选择', {}, 'common') }}";
  $(function(){
    var h3 = 427;
    var h4 = 472;
    var ss_new = 0;
    $(window).scroll(function(){
        if($('#new_li').hasClass("active")){
          var s_new = $(document).scrollTop();
          if(s_new< h3){
            $('.yapiskan_new').removeClass('yya_new');
          }if(s_new > h3){
            $('.yapiskan_new').addClass('yya_new');
          }
          if(s_new > h4){
            $('.yapiskan_new').addClass('gizle_new');
            if(s_new > ss_new){
              $('.yapiskan_new').removeClass('sabit_new');
            }else{
              $('.yapiskan_new').addClass('sabit_new');
            }

            ss_new = s_new;

          }
        }





    });

  });

  $(document).ready(function () {
    $(".select2_new").select2({
//      language: "zh-CN", //设置 提示语言
      width: "100%", //设置下拉框的宽度
      placeholder: `---${txtPleaseSelect}---`,
//      minimumInputLength: 10  //最小需要输入多少个字符才进行查询
    });

    $(".select2_parts_list").select2({
      ajax: {
        url: "index.php?route=account/item_code_mapping/getB2bCodeBySearch",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term, // search term
            page: params.page
          };
        },
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used
          params.page = params.page || 1;

          return {
            results: data.items,
            pagination: {
              more: (params.page * 30) < data.total_count
            }
          };
        },
        cache: true
      },
      placeholder: `---${txtPleaseSelect}---`,
      minimumInputLength: 1,
      templateResult: formatRepo,
      templateSelection: formatRepoSelection
    });

    function formatRepo (repo) {
      if (repo.loading) {
        return repo.text ;
      }
      var $container = $(
//        "<div class='select2-result-repository clearfix'>" +
//        "<div class='select2-result-repository__avatar'><img src='" + repo.owner.avatar_url + "' /></div>" +
        "<div class='select2-result-repository__meta'>" + repo.sku +
//        "<div class='select2-result-repository__title'></div>" +
//        "<div class='select2-result-repository__description'></div>" +
//        "<div class='select2-result-repository__statistics'>" +
//        "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> </div>" +
//        "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> </div>" +
//        "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> </div>" +
//        "</div>" +
//        "</div>" +
        "</div>"
      );

//      $container.find(".select2-result-repository__title").text(repo.full_name);
//      $container.find(".select2-result-repository__description").text(repo.description);
//      $container.find(".select2-result-repository__forks").append(repo.forks_count + " Forks");
//      $container.find(".select2-result-repository__stargazers").append(repo.stargazers_count + " Stars");
//      $container.find(".select2-result-repository__watchers").append(repo.watchers_count + " Watchers");

      return $container;
    }

    function formatRepoSelection (repo) {
      return repo.sku || repo.text;
    }

    var filter_store = '{{ filter_store }}';
    var filter_platform = '{{ filter_platform }}';
    $("#input-store").val(filter_store).trigger("change");
    $("#input-platform").val(filter_platform).trigger("change");

    $('.button_scroll').scrollFix( {
      startTop:'body',
      bottom: '0',
      endPos : '.scroll-content',
      zIndex : 999
    });

  });


  $('.b2bcode').autocomplete({

    'source': function(request, response) {

        $.ajax({
          url: 'index.php?route=account/item_code_mapping/getB2bCodeBySearch&sku=' +  encodeURIComponent(request),
          dataType: 'json',
          success: function(json) {
            response($.map(json, function(item) {
              return {
                label: item['sku'],
                value: item['product_id']
              }
            }));
          }
        });
      },
      'select': function(item) {
        $(this).val(item['label']);
      }

  });

  $('.platformcode').autocomplete({
    'minLength':1,
    'source': function(request, response) {
      if(encodeURIComponent(request)){
        $.ajax({
        url: 'index.php?route=account/item_code_mapping/getPlatformCodeBySearch&sku=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['sku'],
              value: item['id']
            }
          }));
        }
      });
      }
    },
    'select': function(item) {
      $(this).val(item['label']);
    }

  });


  function getAllCheck(obj) {
      var state = $(obj).prop("checked");
      if(true == state){
        $("#new_list_table input[type=checkbox]").prop("checked",true);
      }else{
        $("#new_list_table input[type=checkbox]").prop("checked",false);
      }
  }
  $(".set-status").click(function () {
    //判断
    $(this).button('loading');
    let data_type = parseInt($(this).attr('data-type'));
    let lay = {};
    if(0 == data_type){
      let td_id = $(this).attr('mean');
      let single_checkbox_id = 'new_list_' + td_id;
      let sku = $(this).attr('sku');
      $('#'+ single_checkbox_id).prop("checked",true);
      let data = {ids: td_id , type: 2 }; //
      lay.layTitle = 'Confirm';
      lay.area = ['400px', '160px'];
      lay.skin = 'yzc_layer';
      lay.layContent = '<div align="center" style="margin-top: 13px;word-wrap: break-word;word-break: break-all;overflow: hidden;font-size: 14px;">' +
        '<span> Do you confirm to invalidate this platform <br/> SKU ['+ sku +']? </span>' +
        '</div>';
      lay.layBtn = ['Yes', 'No'];
      layerOpen(data, lay ,this);

    }else{
      //验证是否有数量
      let checkboxData = getSelectedCheckbox();
      if (checkboxData.total === 0) {
        layerMsg('{{ error_choose_checkboxes }}', 1500);
        $(this).button('reset');
        return;
      }
      let data = {ids: checkboxData.ids, type: 2};
      lay.layTitle = 'Confirm';
      var content = '{{ text_set_invalid_content }}';
      lay.area = ['400px', '160px'];
      lay.skin = 'yzc_layer';
      lay.layContent = '<div align="center" style="margin-top: 13px;word-wrap: break-word;word-break: break-all;overflow: hidden;font-size: 14px;">' +
        '<span>' + content.replace('#', checkboxData.total) + '</span>' +
        '</div>';
      lay.layBtn = ['Yes', 'No'];
      layerOpen(data, lay,this);

    }

  });

  $(".set-submit").click(function () {
    //判断
    $(this).button('loading');
    let data_type = parseInt($(this).attr('data-type'));
    let lay = {};
    if(0 == data_type){
      let td_id = $(this).attr('mean');
      let single_checkbox_id = 'new_list_' + td_id;
      let sku = $(this).attr('sku');
      //需要验证 sku 和 salesperson
      let b2b_code = $('#b2b_code_' + td_id ).val();
      let salesperson = $('#salesperson_' + td_id ).val();
      let b2b_code_text = $('#select2-b2b_code_' + td_id + '-container').text();
      let salesperson_text = $('#select2-salesperson_' + td_id + '-container').text();
      if(b2b_code == null){
        layerMsg('B2B Item Code can not be left blank.', 3000);
        setBorderRed('b2b_code_' + td_id);
        $(this).button('reset');
        return false;
      }
      if(salesperson == 0){
        layerMsg('Salesperson can not be left blank.', 3000);
        setBorderRed('salesperson_' + td_id);
        $(this).button('reset');
        return false;
      }
      $('#'+ single_checkbox_id).prop("checked",true);
      let data = {data: [{id:td_id,b2b_code:b2b_code,salesperson:salesperson }]  , type: 1,data_type:0 }; //
      lay.layTitle = 'Confirm';
      lay.area = ['400px', '160px'];
      lay.skin = 'yzc_layer';
      lay.layContent = '<div align="center" style="margin-top: 13px;word-wrap: break-word;word-break: break-all;overflow: hidden;font-size: 14px;">' +
        '<span> Do you confirm to submit the application for <br/>[ '+ sku +' - '+ b2b_code_text +' - '+salesperson_text +' ] ? </span>' +
        '</div>';
      lay.layBtn = ['Yes', 'No'];
      layerOpen(data, lay, this );

    }else{
      //验证是否有数量
      let checkboxData = getSelectedCheckboxData();
      if (checkboxData.total === 0) {
          layerMsg('{{ error_choose_submit_checkboxes }}', 1500);
          $(this).button('reset');
          return;
      }else if(checkboxData.total == -1){
          $(this).button('reset');
          return false;
      }
      checkboxData.type = 1;
      lay.layTitle = 'Confirm';
      var content = '{{ text_set_batch_submit_content }}';
      lay.area = ['400px', '160px'];
      lay.skin = 'yzc_layer';
      lay.layContent = '<div align="center" style="margin-top: 13px;word-wrap: break-word;word-break: break-all;overflow: hidden;font-size: 14px;">' +
        '<span>' + content.replace('#', checkboxData.total) + '</span>' +
        '</div>';
      lay.layBtn = ['Yes', 'No'];
      layerOpen(checkboxData, lay, this);

    }

  });
  function layerOpen(data, lay,that__) {
    let saveClickFlag = false;
    layer.open({
      type: 1,
      shadeClose: false,
      closeBtn: 0,
      id: 'LAY_layuipro',
      skin : 'yzc_layer',
      area: lay.area,
      title: lay.layTitle,
      content: lay.layContent,
      btn: lay.layBtn,
      yes: function (layerIndex, layerObj) {
        if (saveClickFlag) {
          return;
        }
        saveClickFlag = true;
        setRequestToServer(data, layerIndex);


      },
      btn2: function (index, layerObj) {
        layerMsg('Cancel');
        $(that__).button('reset');
      }
    });
  }

  function getSelectedCheckbox() {
    let data = {ids: '', total: 0};
    $('input[name="new_list[]"]').each(function () {
      if ($(this).is(':checked') && $(this).val() != '0') {
        data.ids += '_' + $(this).val();
        data.total++;
      }
    });
    return data;
  }

  function getSelectedCheckboxData() {
    let data = {data: [], total: 0, data_type:1};
    let flag = 0;
    let arr = [];
    $('input[name="new_list[]"]').each(function () {
      if ($(this).is(':checked') && $(this).val() != '0') {

        var td_id = $(this).attr('id').split('_')[2];
        let b2b_code = $('#b2b_code_' + td_id ).val();
        let salesperson = $('#salesperson_' + td_id ).val();
        if(b2b_code == null){
          layerMsg('B2B Item Code can not be left blank.', 3000);
          setBorderRed('b2b_code_' + td_id);
          flag = 1;
          return false;
        }
        if(salesperson == 0){
          layerMsg('Salesperson can not be left blank.', 3000);
          setBorderRed('salesperson_' + td_id);
          flag = 1;
          return false;
        }
//        let b2b_code_text = $('#select2-b2b_code_' + td_id + '-container').text();
//        arr.push(b2b_code_text);
        var  data_child = {id:td_id,b2b_code:b2b_code,salesperson:salesperson };
        data.data.push(data_child);
        data.total++;
      }
    });

    if(flag){
        data.total = -1;
    }
//    var duplicates_sku = duplicates(arr);
//    if(typeof(duplicates_sku) == 'string' && !flag){
//      layerMsg(duplicates_sku +' is repeat with the other <br/> B2B Item Code,please select again.', 3000);
//      data.total = -1;
//    }
//    arr = [];
    return data;
  }
  function setBorderRed(id) {
    $('#' + id).next().css('border','1px solid red');
    $('#' + id).next().css('border-radius','5px');
  }
  function cancelBorderRed(obj) {
    $(obj).next().css('border','none');
    $(obj).next().css('border-radius','0px');
  }
//  function duplicates(arr) {
//    var result = [];
//    for(var i= 0;i <  arr.length; i++){
//      if($.inArray(arr[i],result) == -1){
//        result.push(arr[i]);
//      }else{
//        return arr[i];
//
//      }
//
//
//    }
//
//
//    return result;
//  }

  function layerMsg(message, time = 2000) {
    message = '<div style="font-size: 14px;"> '+ message + '</div>'
    layer.msg(message, {time: time});
  }

  function setRequestToServer(data, layerIndex) {
    $.ajax({
      url: 'index.php?route=account/item_code_mapping/batchUpdate',
      type: 'post',
      dataType: 'json',
      data: data,
      beforeSend: function () {
        layer.load();
      },
      success: function (json) {
        layer.close(layerIndex);
        layerMsg(json.msg, 4000);
        if (json.code == 1) {
            if(data.type == 1){
                var new_list_url = getNewListUrl() + '&search_flag=1';
                if(data.data_type == 0){
                    $('#mapping-history').load('index.php?route=account/item_code_mapping/historyList');
                    $('#mapping-new').load(new_list_url,function(responseTxt,statusTxt,xhr){
                        if(statusTxt=="success"){
//                          $('#scroll_info').show();
                        }
                    });
                }else{
                    $('#mapping-history').load('index.php?route=account/item_code_mapping/historyList');
                    $('#mapping-new').load(new_list_url,function(responseTxt,statusTxt,xhr){
                      if(statusTxt=="success"){
//                        $('#scroll_info').show();
                      }
                      $('.tab-content').children().removeClass('active');
                      $('#tab-history').addClass('active');
                      $('#new_li').removeClass('active');
                      $('#history_li').addClass('active');
                    });
                }



            }else if(data.type == 2){
                //获取当前页面的url 拼接链接

                var new_list_url = getNewListUrl() + '&search_flag=1';
                $('#mapping-new').load(new_list_url,function(responseTxt,statusTxt,xhr){
                  if(statusTxt=="success"){
//                    $('#scroll_info').show();
                  }
                });
                $('#mapping-invalid').load('index.php?route=account/item_code_mapping/invalidList');

            }else if(data.type == 3){
                //  刷新当前页面
                //  跳转 new list
                var invalid_list_url = getInvalidListUrl() + '&search_flag=1';
//                $('#mapping-new').load('index.php?route=account/item_code_mapping/newList');
                $('.tab-content').children().removeClass('active');
                $('#tab-new').addClass('active');
                $('#invalid_li').removeClass('active');
                $('#new_li').addClass('active');
                $('#mapping-new').load('index.php?route=account/item_code_mapping/newList',function(responseTxt,statusTxt,xhr){
                  if(statusTxt=="success"){
//                    $('#scroll_info').show();
                  }
                });
                $('#mapping-invalid').load(invalid_list_url);



            }
        }else{

          if(data.type == 3){
              // 刷新当前页面
              // 停留在当前页面
              invalid_list_url = getInvalidListUrl() + '&search_flag=1';
  //            $('#mapping-new').load('index.php?route=account/item_code_mapping/newList');
              $('#mapping-invalid').load(invalid_list_url);
          }else if(data.type == 1 || data.type == 2){
              var new_list_url = getNewListUrl() + '&search_flag=1';
              $('#mapping-new').load(new_list_url,function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success"){
//                  $('#scroll_info').show();
                }
              });

          }

        }
        layer.closeAll('loading');
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }
  
  function getMappingHistoryUrl() {
      var urlTransform = getTransformUrl() + '&search_flag=1';
      //参数转换
      $('.tab-content').children().removeClass('active');
      $('#tab-history').addClass('active');
      $('#new_li').removeClass('active');
      $('#history_li').addClass('active');
      $('#mapping-history').load(urlTransform);
  }
  
  function getTransformUrl() {
      url = 'index.php?route=account/item_code_mapping/historyList';
      let filter_store = $('#input-store').val();
      if (filter_store && filter_store != 0) {
        url += '&filter_store_history=' + encodeURIComponent(filter_store);
      }
      let filter_platform = $('select[name=\'filter_platform\']').val();
      if (filter_platform && filter_platform != 0) {
        url += '&filter_platform_history=' + encodeURIComponent(filter_platform);
      }
//      let filter_url = $('input[name=\'filter_url\']').val();
//      if (filter_url) {
//        url += '&filter_url=' + encodeURIComponent(filter_url);
//      }
      let filter_sku = $('input[name=\'filter_sku\']').val();
      if (filter_sku) {
        url += '&filter_sku_history=' + encodeURIComponent(filter_sku);
      }

      return url;
  }

  function getNewListUrl() {
    url = 'index.php?route=account/item_code_mapping/newList';
    let filter_store = $('#input-store').val();
    if (filter_store && filter_store != 0) {
      url += '&filter_store=' + encodeURIComponent(filter_store);
    }
    let filter_platform = $('select[name=\'filter_platform\']').val();
    if (filter_platform && filter_platform != 0) {
      url += '&filter_platform=' + encodeURIComponent(filter_platform);
    }
    let filter_url = $('input[name=\'filter_url\']').val();
    if (filter_url) {
      url += '&filter_url=' + encodeURIComponent(filter_url);
    }
    let filter_sku = $('input[name=\'filter_sku\']').val();
    if (filter_sku) {
      url += '&filter_sku=' + encodeURIComponent(filter_sku);
    }

    return url;
  }

</script>

<style>
  .control-label {
    font-weight: bold;
  }
  .dialog-form-line {
    display: flex;
    padding-top: 8px
  }
  .dialog-form-label {
    font-weight: bold;
    width: 200px
  }
  .dialog-form-warning{
    font-size: 3px;
    display: none;
    color: red;
  }
  .dialog-form-input{
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
  }
  .li-disable{
    background-color: #80808059;
    pointer-events: none;
  }
  .select2-container .select2-selection--single {
    height: 34px;
    line-height: 34px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered
  {
    line-height: 34px;
  }
  .button_scroll {
    /*background-color: #eee;*/
    /*padding: 20px;*/
    clear: both;
  }

  .yapiskan_new{
    height: 45px;
    /*background-color:#e74c3c;*/
    color:white;
    font-size:24px;
    width: 100%;
    text-align:left;
    transition:top 1.5s;
  }
  .yya_new{
    position:fixed;
    left: 175px;
    top:0;
  }
  .gizle_new{top:-90px;}
  .sabit_new{top:0;left: 175px;z-index:9999;}



</style>
