{{ this.title('Claim Application') }}
{{ this.params('breadcrumbs', [
'home',
{
text: 'Buyer Protection Management',
href: url('account/safeguard/bill'),
},
'current'
]) }}
{{ cssOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css']) }}
{{ jsOrigin(['catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js']) }}
{{ js(['js/common/mathematical.js'])}}
{% include 'yzcTheme/template/account/safeguard/claim/components/claim_top.twig' %}
{% include 'yzcTheme/template/account/safeguard/claim/components/claim_submit_files.twig' %}

<div class="text-center m40-t m10-b">
  <button type="button" class="oris-button oris-button-bigger oris-w120" id="claimSubmit">Submit</button>
</div>
{# 理赔计算器 #}
<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" id="claimCalcModal">
	<div class="modal-dialog oris-modal" style="width: 1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="giga icon-V10_danchuangguanbi close-icon"></i>
        </button>
        <div class="modal-title">Calculate the estimated claim amount</div>
      </div>
      <div class="modal-body">
      	<div class="calcTips">
          The estimated claim amount calculated by the system is for reference only, and the actual amount is subject to the feedback from the Marketplace.
      	</div>
        <table class="oris-table border-table no-hover m10-t" id="calcModalTable">
          <thead>
            <tr>
              <th class="text-left oris-w200">Product Information</th>
              <th class="oris-w100">QTY</th>
              <th class="oris-w160">Selling Amount<i class="giga icon-V10-wenhaotishi oris-tooltip" data-toggle="tooltip" title="Transaction amount on the third-party selling platforms, such as Wayfair, Amazon, eBay, Walmart, etc"></i></th>
              <th class="oris-w160">Refund Amount<i class="giga icon-V10-wenhaotishi oris-tooltip" data-toggle="tooltip" title="Refund Amount to Customer"></i></th>
              <th class="oris-w160">Purchase Amount<i class="giga icon-V10-wenhaotishi oris-tooltip" data-toggle="tooltip" title="Item cost, fulfillment fee, additional shipping fee and deposit shall be included in this amount"></i></th>
              <th class="oris-w160">RMA Amount<i class="giga icon-V10-wenhaotishi oris-tooltip" data-toggle="tooltip" title="The system takes the RMA amount of the matched purchase details by default. You can modify the RMA amount based on the actual situation"></i></th>
            </tr>
          </thead>
          <tbody>
			      {% for k,one in claim_sku_list %}
			      <tr class="none" data-index="{{k}}" data-lineId="{{one.line_id}}">
			        <td class="text-left">
			          <div class="image-td">
			            <img class="pro-image" src="{{ one.product_info.full_image }}" />
			            <div>
			              <div class="tags-image">
			                <a target="_blank" href="{{ url('product/product',{'product_id':one.product_info.product_id}) }}" class="max-line1 underline">{{ one.product_info.sku }}</a>
			              </div>
			              <div class="max-line1 text-light" title="{{ one.product_info.product_name }}">{{ one.product_info.product_name }}</div>
			            </div>
			          </div>
			        </td>
			        <td>x<span class="action-qty">{{ one.qty }}</span></td>
			        <td>
			          <div class="oris-ingroup">
                  <input type="number" step="{{is_japan==1?'1':'0.01'}}" name="dealPrice" class="oris-input oris-w100 action-blur" autocomplete="off" onkeyup="applyClaimPage.carNum(this)">
                  <span class="input-addon">{{ currency }}</span>
                </div>
			          <div class="text-danger" hidden></div>
			        </td>
			        <td>
			        	<div class="oris-ingroup">
                  <input type="number" step="{{is_japan==1?'1':'0.01'}}" name="refundPrice" class="oris-input oris-w100 action-blur" autocomplete="off" onkeyup="applyClaimPage.carNum(this)">
                  <span class="input-addon">{{ currency }}</span>
                </div>
			          <div class="text-danger" hidden></div>
			        </td>
			        <td>
			        	<div class="oris-ingroup">
                  <input type="number" step="{{is_japan==1?'1':'0.01'}}" name="purchasePrice" class="oris-input oris-w100 action-blur" autocomplete="off" onkeyup="applyClaimPage.carNum(this)">
                  <span class="input-addon">{{ currency }}</span>
                </div>
			          <div class="text-danger" hidden></div>
			        </td>
			        <td>
			        	<div class="oris-ingroup">
                  <input type="number" step="{{is_japan==1?'1':'0.01'}}" name="rmaPrice" class="oris-input oris-w100 action-blur" autocomplete="off" onkeyup="applyClaimPage.carNum(this)">
                  <span class="input-addon">{{ currency }}</span>
                </div>
			          <div class="text-danger" hidden></div>
			        </td>
			      </tr>
			      {% endfor %}
			      <tr class="no-records">
			        <td colspan="6">No item has been selected for claim</td>
			      </tr>
			    </tbody>
	      </table>
	      <div class="default-flex m16-b m16-t">
	      	<div class="text-bold">Estimated Claim Amount:
	      		<span class="text-larger">
	      			<span id="clacModalAmount">{{ 0|formatPrice(currency) }}</span>
	      		</span>
	      	</div>
	      	<a href="{{  url('information/information',{'information_id':safeguard_guide_id})  }}" target="_blank" class="link-color underline">View Claim Terms & Conditions</a>
	      </div>
      </div>
    </div>
  </div>
</div>
{% apply script %}
<script type="text/javascript">
$().ready(function() {
  applyClaimPage.initSelectPicker();
  applyClaimPage.bindClick();
  claimAddProds.init();
  applyClaimPage.bindCalcBlur();
  claimAddProds.watchPurchaseDetailModal();
  applyClaimPage.bindBlurValid();
});
var applyClaimPage = {
  isJapan: {{ is_japan }},         // 国别是否是日本，用于金额小数位判定
	billId: {{ bill_id }},           // 保单ID
  serviceType: {{ config_type }},  // 保障服务类型,1:退货,2:物流。用来判断是否tracking_number必选
  claimProds: [],                  // 申请理赔的产品数据
  coverageRate: null,              // 保额系数
  initSelectPicker: function() {
    var platform = '{{ last_sales_platform|json_encode() }}' || 'Amazon';
    // 初始化下拉控件
    $('select[name=trackingInfos]').selectpicker();
    $('#reasonSelect').selectpicker('val','');
    $('#platformSelect').selectpicker('val', platform);
    $('.oris-tooltip').tooltip();
  },
  // 绑定click事件
  bindClick: function() {
  	$('body').on('click', '#claimSubmit', function() {
  		if (applyClaimPage.isInvalidClaim()) {
        claimAddProds.scrollToError();
  			return;
  		}
  		var data = applyClaimPage.getClaimData();
  		applyClaimPage.submitClaim(data);
  	});
    // 添加/编辑索赔产品
    $('body').on('click', '#addOrEditProds', function() {
      // 根据selectProdsIndex判断弹框中产品是否选中
      let indexStr = claimAddProds.selectProdsIndex.join(',');
      claimAddProds.$modal.find('tbody tr input:enabled').each((i,item)=> {
      	let index = $(item).attr('data-index');
      	if (indexStr.indexOf(index) > -1) {
      		// 选中
      		$(item).prop('checked', true);
      	} else {
      		$(item).prop('checked', false);
      	}
      });
      claimAddProds.checkIsSelectAll();
      claimAddProds.checkSubmit();
      claimAddProds.$modal.modal('show');
    }).on('click', '#calcClaimBtn', function(){
    	// 理赔计算器
      // 判断是否选中产品
      if (applyClaimPage.noSelectProds()){
        $('#claimCalcModal').modal('show');
        return true;
      }
    	applyClaimPage.claimCalculator();
    });
  },
  bindCalcBlur: function() {
    $('#calcModalTable').on('blur', '.action-blur', function() {
      // 理赔计算器如果输入框为空，则默认给0
      var value = $(this).val();
      if (applyClaimPage.isJapan == 1) {
        value = value || '0';
      } else {
        value = mathematical.formatDecimal(value, 2) || '0.00'
      }
      $(this).val(value);
      applyClaimPage.calcCalimAmountSum();
    }).on('keydown','.action-blur', function (e) {
      // 绑定输入框enter一键查询
      if (e.keyCode == 13) {
        $(this).trigger('blur');
      }
    });
  },
  // 绑定失焦点校验
  bindBlurValid: function() {
    $('#selectedProds').on('blur', 'input[name="claimNum"]', function(){
      applyClaimPage.invalidQty($(this));
    });
    $('#selectedProds').find('select[name="trackingInfos"]').on('changed.bs.select', function(){
      applyClaimPage.invalidTrackingNum($(this));
    });
    $('#reasonSelect').on('changed.bs.select', function(){
      applyClaimPage.invalidReason();
    });
    $('body').on('blur', '#claimDescribe', function(){
      applyClaimPage.invalidDesc();
    })
  },
  noSelectProds: function() {
    // 判断是否选中产品
    var $tr = $('#selectedProds').find('tbody tr:not(.none):not(.no-records)');
    if ($tr.length === 0) {
      // 未选中产品
      $('#selectedProds').find('tbody tr.no-records').addClass('text-danger');
      return true;
    }
    return false;
  },
  // 计算理赔金额input框可输入有效值范围控制
  carNum: function(that) {
    //输入框的值
    var value = $(that).val();
    // 日本：input表单只允许输入大于等于0的整数
    // 非日本： input表单只允许输入大于等于0的带两位小数点
    if (applyClaimPage.isJapan == 1) {
      $(that).val(value.match(/[0-9]*/) ? value.match(/[0-9]*/) : '');
    } else {
      $(that).val(value.match(/\d+(\.\d{0,2})?/) ? value.match(/\d+(\.\d{0,2})?/)[0] : '');
    }
  },
  // 理赔金额公式：
  // 预估理赔金额总计 = 明细预估理赔金额的和。
  // 明细预估理赔金额 = Max(Max(明细损失金额 , 0)*保额系数-RMA总金额 , 0)
  // 明细损失金额 = 给顾客退款金额+采购总金额-销售平台成交金额
  calcCalimAmountSum: function() {
    // 首先要校验所有input值大于等于0
    var isInValid = false;
    var claimAmountSum = 0;
    $('#calcModalTable').find(`tbody tr:not(.none):not(.no-records)`).each((k,one) => {
      var rmaPrice = $(one).find('input[name=rmaPrice]').val();
      var purchasePrice = $(one).find('input[name=purchasePrice]').val();
      var refundPrice = $(one).find('input[name=refundPrice]').val();
      var dealPrice = $(one).find('input[name=dealPrice]').val();
      if (!rmaPrice || !purchasePrice || !refundPrice || !dealPrice) {
        // 金额必须大于等于0才允许计算
        isInValid = true;
        return false;
      }
      var lossAmount = mathematical.accSub(mathematical.accAdd(refundPrice,purchasePrice,6), dealPrice, 6); // 明细损失金额
      var claimAmountOne = Math.max(mathematical.accSub(mathematical.accMul(Math.max(lossAmount, 0), applyClaimPage.coverageRate), rmaPrice, 6),0);
      // 产品要求每个Item明细先四舍五入后求和
      claimAmountOne = applyClaimPage.isJapan==1 ? Math.ceil(claimAmountOne):mathematical.MathToFixed(claimAmountOne,2);
      claimAmountSum = mathematical.accAdd(claimAmountSum, claimAmountOne, 6);
    });
    if (!isInValid) {
      // 日本特殊处理，日本向上取整，非日本保留两位小数四舍五入
      claimAmountSum = applyClaimPage.isJapan==1 ? Math.ceil(claimAmountSum):mathematical.MathToFixed(claimAmountSum,2);
      var tempAmount = "{{ 0|formatPrice(currency) }}"; // 为了带上金额符号
      $('#clacModalAmount').html(tempAmount.replace(applyClaimPage.isJapan==1?'0':'0.00', claimAmountSum));
    } else {
      var tempAmount = "{{ 0|formatPrice(currency) }}";
      $('#clacModalAmount').html(tempAmount.replace(applyClaimPage.isJapan==1?'0':'0.00', applyClaimPage.isJapan==1?'0':'0.00'));
    }
  },
  invalidQty: function($that) {
    var isInValid = false;
    if ($that.val() == '' || !$that.val()) {
      $that.siblings('.text-danger').html('Required').show();
      isInValid = true;
    } else if (+$that.val() === 0) {
      $that.siblings('.text-danger').html('Not allowed to be 0').show();
      isInValid = true;
    } else if (+$that.val() > +$that.attr('max')) {
      $that.siblings('.text-danger').html('Cannot exceed the remaining quantity available for claim.').show();
      isInValid = true;
    } else {
      $that.siblings('.text-danger').hide();
    }
    return isInValid;
  },
  invalidTrackingNum: function($that){
    var isInValid = false;
    if (applyClaimPage.serviceType==2 && !$that.val() || $that.val() === []) {
      $that.parent().siblings('.text-danger').show();
      isInValid = true;
    } else {
      $that.parent().siblings('.text-danger').hide();
    }
    return isInValid;
  },
  invalidReason: function() {
    var isInValid = false;
    // 索赔原因
    var $reason = $('#reasonSelect');
    if (!$reason.val()) {
      $reason.parent().siblings('.text-danger').show();
      isInValid = true;
    } else {
      $reason.parent().siblings('.text-danger').hide();
    }
    return isInValid;
  },
  invalidDesc: function() {
    var isInValid = false;
    // 问题描述
    var $problemDesc = $('#claimDescribe');
    if (!$problemDesc.val()) {
      $problemDesc.parent().siblings('.text-danger').show();
      isInValid = true;
    } else {
      $problemDesc.parent().siblings('.text-danger').hide();
    }
    return isInValid;
  },
  invalidSubIds: function() {
    // 上传凭证
    var isInValid = false;
    var subIds = [];
    var $content = $('#claimFilesContent');
    $content.find('.action-file:not(.upload-error)').each((i,one) => {
      subIds.push($(one).data('subId'));
    });
    if (subIds.length ===0 ) {
      $content.find('.action-files-error').show();
      isInValid = true;
    } else {
      $content.find('.action-files-error').hide();
    }
    return isInValid;
  },
  isInvalidClaim: function() {
  	var result = false;
  	// 判断是否选中产品
  	if (applyClaimPage.noSelectProds()){
      result = true;
    }
    var $tr = $('#selectedProds').find('tbody tr:not(.none):not(.no-records)');
  	// 选中产品校验
  	$tr.each((i,tr) => {
  		// 校验input
  		var $input = $(tr).find('input');
      result = applyClaimPage.invalidQty($input) || result;

      // 物流保障服务必选tracking number
  		var $select = $(tr).find('select');
      result = applyClaimPage.invalidTrackingNum($select) || result;
  	});
  	// 索赔原因
  	result = applyClaimPage.invalidReason() || result;
  	// 问题描述
  	result = applyClaimPage.invalidDesc() || result;
  	// 上传凭证
    result = applyClaimPage.invalidSubIds() || result;
  	return result;
  },
  getClaimData: function() {
  	var data = {
  		claim_id: 0,
  		safeguard_bill_id: applyClaimPage.billId,
  		claim_reason_id: $('#reasonSelect').val(),
  		sales_platform: $('#platformSelect').val(),
  		problem_desc: $('#claimDescribe').val(),
  		confirm_menu_id: $('#claimFilesContent').data('menuId'),
  		confirm_sub_ids: '',
  		products: []
  	};
  	// 获取confirm_sub_ids
  	var subIds = [];
  	$('#claimFilesContent').find('.action-file:not(.upload-error)').each((i,one) => {
  		subIds.push($(one).data('subId'));
  	});
  	data['confirm_sub_ids'] = subIds.join(',');
  	$('#selectedProds').find('tbody tr:not(.none):not(.no-records)').each((k, t) => {
  		var index = $(t).attr('data-index'); // 下标
  		var item = {
  			sale_order_id: claimAddProds.prods[index]['header_id'],
  			sale_order_line_id: claimAddProds.prods[index]['line_id'],
  			product_id: claimAddProds.prods[index]['product_info']['product_id'],
  			item_code: claimAddProds.prods[index]['item_code'],
  			qty: $(t).find('input[name=claimNum]').val(),
  			tracking_infos:[]
  		};
  		// 重组tracking_info
  		var $selectTrack = $(t).find('select[name=trackingInfos]');
  		var tracking_value = $selectTrack.val();
  		if (tracking_value && tracking_value !== '' && tracking_value.length > 0 && tracking_value[0] !='' ) {
  			tracking_value.forEach((value) => {
  				var $option = $selectTrack.find(`option[value=${value}]`);
  				var one_info = {
  					carrier_id: $option.attr('data-cid'),
  					carrier: $option.attr('data-c'),
  					tracking_number: value
  				};
  				item.tracking_infos.push(one_info);
  			})
  		}
  		data.products.push(item);
  	});
  	return data;
  },
  submitClaim: function(data) {
  	block.blockUI();
  	$.ajax({
      url: 'index.php?route=account/safeguard/claim/handleSave',
      data: data,
      method: 'post',
      cache: false,
      dataType: 'json',
      success: function (res) {
        if (res.code == 200) {
        	block.unBlockUI();
          $.toast({
            heading: false,
            text: res.data.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
            afterHidden: function () {
              // 跳转到详情页面
              location.href = `/index.php?route=account/safeguard/claim/claimDetail&claim_id=${res.data.claim_id}`;
            }
          });
        } else if (res.code == 80001) { //跳转到保单，携带条件
          block.unBlockUI();
          layer.alert(res.msg, {
            title: 'Attention',
            btn: 'OK',
            skin: 'oris-layer',
            closeBtn: 0
          }, function () {
            window.location.href = "{{ url('account/safeguard/bill', {'filter_no':bill_info.safeguard_no,'filter_create_time_range': 'anytime'}) }}" + '#tab_bill_order';
          });
        }else {
        	block.unBlockUI();
          layer.alert(res.msg, {
            title: 'Attention',
            btn: 'OK',
            skin: 'oris-layer',
            closeBtn: 0
          });
       }
      }
    })
  },
  // 获取理赔计算器基础数据
  claimCalculator: function(){
  	var data = {
  		bill_id: applyClaimPage.billId,
  		line_calculator: []
  	};
  	$('#selectedProds').find('tbody tr:not(.none):not(.no-records)').each((k, t) => {
  		var index = $(t).attr('data-index'); // 下标
      var maxVal = $(t).find('input[name=claimNum]').attr('max');
      var inpuVal = $(t).find('input[name=claimNum]').val() || maxVal;
  		var item = {
  			line_id: claimAddProds.prods[index]['line_id'],
  			applied_num: inpuVal > maxVal ? maxVal : inpuVal,
  		};
  		data.line_calculator.push(item);
  	});
  	block.blockUI();
  	$.ajax({
      url: 'index.php?route=account/safeguard/claim/claimCalculator',
      data: data,
      method: 'post',
      cache: false,
      dataType: 'json',
      success: function (res) {
        if (res.code == 200) {
          // 成功弹框
          block.unBlockUI();
          applyClaimPage.renderCalcModal(res.data);
          $('#claimCalcModal').modal('show');
        } else {
        	block.unBlockUI();
          layer.alert(res.msg, {
            title: 'Attention',
            btn: 'OK',
            skin: 'oris-layer',
            closeBtn: 0
          });
       }
      }
    })
  },
  renderCalcModal: function(data) {
    var $calcTable = $('#calcModalTable');
    applyClaimPage.coverageRate = Number(data.base_info.coverage_rate); // 保额系数
    for (var key in data.list) {
      // 获取到key对应的table行项
      var $line = $calcTable.find(`tbody tr:not(.no-records)[data-lineId=${key}]`);
      var value0 = applyClaimPage.isJapan == 1 ? '0' : '0.00';
      $line.find('.action-qty').html(data.list[key]['applied_num']);
      $line.find('input[name="dealPrice"]').val(value0);
      $line.find('input[name="refundPrice"]').val(value0);
      var purchP = data.list[key]['final_max_price'];
      var rmaP = data.list[key]['rma_amount'];
      $line.find('input[name="purchasePrice"]').val(purchP?purchP:value0);
      $line.find('input[name="rmaPrice"]').val(rmaP?rmaP:value0);
    }
    applyClaimPage.calcCalimAmountSum();
  }
};
// 添加/编辑索赔产品弹框相关操作
var claimAddProds = {
  $modal: $('#claimAddProds'), // 弹框
  prods: {{ claim_sku_list|json_encode() }}, // 所有产品
  selectProdsIndex: [], // 选中产品
  init: function() {
    claimAddProds.checkSubmit();
    claimAddProds.checkBoxActions();
    claimAddProds.submitModal();
  },
  checkIsSelectAll: function() {
  	var $selectOne = claimAddProds.$modal.find('input[name=selectOne]:enabled');
    var $selectOneChecked = claimAddProds.$modal.find('input[name=selectOne]:enabled:checked');
    if ($selectOne.length === $selectOneChecked.length && $selectOne.length >0) {
      claimAddProds.$modal.find('input[name=selectAll]').prop('checked', true);
    } else {
    	claimAddProds.$modal.find('input[name=selectAll]').prop('checked', false);
    }
  },
  // checkbox 选择框交互
  checkBoxActions: function() {
    claimAddProds.$modal.find('input[name=selectAll]').click(function() {
      claimAddProds.$modal.find('input[name=selectOne]:enabled').prop('checked', this.checked);
      claimAddProds.checkSubmit();
    });

    claimAddProds.$modal.find('input[name=selectOne]:enabled').click(function() {
      claimAddProds.checkSubmit();
      claimAddProds.checkIsSelectAll();
    });
  },
  // 添加编辑产品提交按钮
  checkSubmit: function() {
    var $selectOne = claimAddProds.$modal.find('input[name=selectOne]:enabled');
    var $submitBtn = claimAddProds.$modal.find('#modalSubmit');
    var isSelectOne = false;
    if ($selectOne.length > 0) {
      var checkOne = claimAddProds.$modal.find('input[name=selectOne]:enabled:checked');
      if (checkOne && checkOne.length > 0) {
        isSelectOne = true;
      }
    }
    if (isSelectOne) {
      $submitBtn.attr("disabled", false);
    } else {
      $submitBtn.attr("disabled", true);
    }
  },
  getSelectProds: function() {
    // 前提有选中产品
    claimAddProds.selectProdsIndex = [];
    claimAddProds.$modal.find('input[name=selectOne]:enabled:checked').each(function(i, one) {
      var index = $(one).attr('data-index');
      claimAddProds.selectProdsIndex.push(index);
    })
  },
  // 渲染动态table表格内容显示
  renderTable: function($table) {
    var indexStr = claimAddProds.selectProdsIndex.join(',');
    $table.find(`tbody tr:not(.no-records)`).each((k,one) => {
      var i = $(one).attr('data-index');
      if (indexStr.indexOf(i) > -1) {
        $(one).removeClass('none');
      } else {
        $(one).addClass('none');
      }
    });
    $table.find('tbody tr.no-records').addClass('none');
  },
  // 选中产品提交按钮
  submitModal: function() {
    claimAddProds.$modal.on('click', '#modalSubmit', function() {
      claimAddProds.getSelectProds();
      claimAddProds.renderTable($('#selectedProds'));
      claimAddProds.renderTable($('#calcModalTable'));
      $('#countProds').html(claimAddProds.selectProdsIndex.length);
      $('select[name=trackingInfos]').selectpicker();
      $("#claimAddProds").modal('hide');
    })
  },
  // 页面滚动到text-danger处
  scrollToError: function(){
    var $error = $('body').find('.text-danger:visible');
    if ($error.length > 0){
      // 有报错
      $('body,html').animate({
       scrollTop:$error.offset().top - 100
     })
    }
  },
  // 监听采购明细弹框的show和hide
  watchPurchaseDetailModal: function() {
    $('#feeOrderPurchaseDetails').on('shown.bs.modal', function (e) {
      // 禁用产品选择弹框的按钮
      $('#claimAddProds').find('.modal-footer button').attr("disabled",true);
    }).on('hidden.bs.modal', function (e) {
      $('#claimAddProds').find('.modal-footer button').attr("disabled", false);
      claimAddProds.checkSubmit();
    })
  }
}
</script>
{% endapply %}