{% trans_default_category 'catalog/view/account/customerpartner/product_management/import_product' %}

{{ header }}{{ separate_column_left }}
<link rel="stylesheet" href="catalog/view/theme/yzcTheme/stylesheet/account/customerpartner/importProduct.css"
  xmlns="http://www.w3.org/1999/html">
{{ jsOrigin(['catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js',
'catalog/view/javascript/layer/layer.js',
'catalog/view/javascript/layerOris.js',
]) }}
{{ css(['css/admin/app.css','css/common/common.css']) }}
{{ cssOrigin(['catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css',
'catalog/view/javascript/layer/theme/yzc/layuiOris.css',
'/catalog/view/theme/yzcTheme/stylesheet/app.css',
'public/css/admin/app.css',
'catalog/view/theme/yzcTheme/stylesheet/account/customerpartner/importProduct.css'
]) }}
<div {% if separate_view is defined and separate_view %} class="page-content" id="content" {% else %} class="container" {% endif %}>
  {% include 'giga/template/_parts/breadcrumb.twig' %}
  <h1 style="margin-bottom: 12px!important;">
    <span class="content-heading">{{ __('上传产品', {}, 'catalog/document') }}</span>
  </h1>
  <div class="seller-box">
    <div class="upload-box">
      <div class="upload-box-left-content">
        <div class="upload-box-left">
          <div class="upload-icon"><i class="giga icon-shangchuanyunduan"></i></div>
          <div>
            <div class="color-33 font-size14">{{ __('批量导入产品') }}</div>
            <div class="color-99 font-size14">{{ __('下载批量导入模板，录入产品信息') }}</div>
          </div>
          <div class="m24-t">
            <input id="fakeUpload" class="oris-button" type="button" value="{{ __('点击上传') }}">
            <input id="myFile" class="uploaderInput" type='file' name='file'
              accept='text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'
              title=" " />
          </div>
        </div>
      </div>
      <div class="upload-box-right m62-l">
        <div class="upload-icon"><i class="giga icon-shangchuanyunduan"></i></div>
        <div>
          <div class="color-33 font-size14">{{ __('批量修改产品') }}</div>
          <div class="color-99 font-size14">{{ __('下载批量修改模板，修改已导入的产品信息') }}</div>
        </div>
        <div class="m24-t">
          <input id="upload-modify" class="oris-button" type="button" value="{{ __('点击上传') }}">
          <input id="modify-file" class="uploaderInput" type='file' name='file1'
            accept='text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'
            title="" />
        </div>
      </div>
    </div>
    <div class="upload-box upload-tip"><span class="upload-tip-icon"><i class="giga icon-quchuli-01"></i></span><span
        class='m06-l color-33 font-size14'>{{ __('点击下载') }}&nbsp;
        <a class="color37 link" id="download_template">{{ __('批量导入模板') }}</a>&nbsp;{{ __('或') }}&nbsp;
        <a class="color37 link" id="modify_template">{{ __('批量修改模板') }}</a></span></div>
    <!--upload-loading-->
    <div class="upload-loading">
      <div class="uploading-gif-box"><img src="public/image/loading.gif" /></div>
      <div class="m20-t upload-title">{{ __('上传中') }}</div>
      <div class="upload-toptip upload-tooltip-reveal">{{ __('正在批量上传产品，请耐心等待') }}</div>
      <div class="upload-toptip upload-tooltip-hide">{{ __('正在批量修改产品，请耐心等待') }}</div>
      <div class="m24-t upload-file-box"><span class="file-name"></span></div>
    </div>
    <!--upload-loading-success-->
    <div class="upload-msg-success">
      <div class="icon-box">
        <i class="giga icon-zhengquewanchengchenggong text-success font-size64"></i>
      </div>
      <div class="m20-t upload-title">{{ __('上传成功') }}</div>
      <!--成功-->
      <div class="upload-toptip success-pload-toptip">{{ __('批量上传成功，进入产品列表查看详情') }}</div>
      <div class="upload-toptip success-modify-toptip">{{ __('批量修改成功，进入产品列表查看详情') }}</div>
      <!--成功有错误-->
      <div class="upload-toptip success-failed-pload-toptip">{{ __('批量上传成功，部分产品信息不正确无法导入') }}</div>
      <div class="upload-toptip success-failed-modify-toptip">{{ __('批量修改成功，部分产品信息不正确无法修改') }}</div>
      <div class="m24-t upload-file-box success-failed-file-box">
        <span class="file-name"></span>
        <span class="file-status-error m32-l import-error">
          {{ __('有<span class="errorNum m5-rl"></span>条记录有错误,下载<a class="color37 text-underline link" id="uploadError">产品导入错误报告</a>')}}
        </span>
        <span class="file-status-error m32-l modify-error">
          {{ __('有<span class="errorNum m5-rl"></span>条记录有错误,下载<a class="color37 text-underline link" id="uploadError">产品修改错误报告</a>')}}
        </span>
      </div>
      <div>
        <button class="oris-button m06-r oris-button-bigger upload-again">{{ __('再次上传') }}</button>
        <button class="oris-button oris-button-default oris-button-bigger view-list">{{ __('查看产品列表') }}</button>
      </div>
    </div>
    <!--failed-->
    <div class="upload-msg-failed">
      <div class="icon-box">
        <i class="giga icon-shibai text-failed font-size64"></i>
      </div>
      <div class="m20-t upload-title">{{ __('上传失败') }}</div>
      <div class="upload-toptip batch-upload-tooltip">{{ __('批量上传失败，请重新上传') }}</div>
      <div class="upload-toptip batch-modify-tooltip">{{ __('批量修改失败，请重新上传') }}</div>
      <div class="m24-t upload-file-box">
        <span class="file-name"></span>
        <span class="file-status-error m32-l ">
          <a class="text-failed upload-faild-msg"></a>
        </span>
      </div>
      <div>
        <button class="oris-button m06-r oris-button-bigger upload-again">{{ __('再次上传') }}</button>
        <button class="oris-button oris-button-default  oris-button-bigger view-list">{{ __('查看产品列表') }}</button>
      </div>
    </div>
    <div class="historic-records">
      <div class="historic-records-title"> {{ __('历史记录') }} <a target="_blank"
          href="{{ url('account/customerpartner/product_management/product/importProductsRecords') }}"
          class="pull-right color37 font-size14 font-weight-normal link">{{ __('查看更多') }}&nbsp;></a></div>
      <div class="m16-t import-product-table">
        <table class="oris-table" id="history-table">
          <thead>
            <tr>
              <th width='35%'>{{ __('文件名') }}</th>
              <th width='20%'>{{ __('创建时间') }}</th>
              <th>{{ __('状态') }}
                {# <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                  title="{{ __('错误报告文件将在一周后过期，请尽快下载') }}"></i>#}
              </th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="category_id">
{{ footer }}

<script>
  var uploadType = 0;
  $(document).ready(function () {
    importClass.btnClick(); //#21803
    importClass.getImportRecords();
  })
  var importClass = {
    btnClick: function () {
      $("#download_template").on('click', function () { //上传模板
        location.href = "{{ url('account/customerpartner/product_management/product/downloadImportProductsTemplate') }}"
      });
      $('#modify_template').on('click', function () { //修改模板
        location.href = "{{ url('account/customerpartner/product_management/product/downloadModifyProductTemplate') }}"
      })
      $("#fakeUpload").on('click', function () { //批量上传
        uploadType = 1;
        $("#myFile").val('');
        $("#myFile").click();
      });
      $('#upload-modify').on('click', function () {
        uploadType = 2;
        $("#modify-file").val('');
        $("#modify-file").click();
      })
      $('.upload-again').on('click', function () {
        $('.upload-msg-failed,.upload-msg-success,.success-failed-pload-toptip,.success-failed-modify-toptip,'
          + '.success-pload-toptip,.success-modify-toptip,.upload-tooltip-reveal,.upload-tooltip-hide,.batch-upload-tooltip,.batch-modify-tooltip').removeClass('display-block');
        $('.import-error,.modify-error').removeClass('display-inline-block');
        $('.upload-msg-failed,.upload-msg-success,.success-failed-pload-toptip,.success-failed-modify-toptip,.import-error,'
          + '.modify-error,.success-pload-toptip,.success-modify-toptip,.upload-tooltip-reveal,.upload-tooltip-hide,.batch-upload-tooltip,.batch-modify-tooltip').addClass('display-none');
        $('.upload-box').removeClass('display-none');
        $('.upload-box').addClass('display-flex');
        $('.file-name').html('');
      })
      $('.view-list').on('click', function () { //页面跳转
        window.open("{{ url('customerpartner/product/lists/index')}}");
      })
    },
    returnContent: function (item) {
      if (item.product_error_count == 0) {
        return `<span class='icon-flex'><i class="giga icon-wuliuzhuangtai-songda text-success vertical-align-m m6-r"></i><span>{{ __('上传成功') }}</span></span>`
      }
      let importError = '';
      let linkUrl = '{{ url('account/customerpartner/product_management/product/exportErrorReport&import_id=') }}' + item.id;
      if (item.type === 1) {
        importError = `<span class='icon-flex'><i class="giga icon-gantanhaoxin-01 text-danger vertical-align-m m6-r"></i><span> {{ __('有:num条记录有错误，下载<a href=":url" class="link">产品导入错误报告</a>') }}</span></span>`;
      } else {
        importError = `<span class='icon-flex'><i class="giga icon-gantanhaoxin-01 text-danger vertical-align-m m6-r"></i><span> {{ __('有:num条记录有错误，下载<a href=":url" class="link">产品修改错误报告</a>') }}</span></span>`;
      }
      return importError.replace(':num', item.product_error_count).replace(':url', linkUrl);
    },
    getImportRecords: function () {
      layer.load();
      $('history-table tbody').empty();
      $.ajax({
        url: 'index.php?route=account/customerpartner/product_management/product/getImportRecords',
        dataType: 'json',
        success: function (res) {
          var htmlList = '';
          if (res.data.length > 0) {
            for (var i = 0; i < res.data.length; i++) {
              htmlList +=
                '<tr><td><span class= "history-file-name">' + res.data[i].file_name + '</span></td>' +
                '<td>' + res.data[i].create_time + '</td>' +
                '<td>' + importClass.returnContent(res.data[i]) + '</td>' +
                '</tr>';
            }
          } else {
            htmlList = '<tr>' +
              '<td colspan="3" align="center">' +
              'No records.' + '</td>' + '</tr>'
          }
          $('#history-table tbody').html(htmlList);
          layer.closeAll();
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.closeAll();
        }
      });
    },
    //获取文件类型;
    getFileTypeClassName: function (type) {
      var fileType = {};
      var suffix = '_diy_bg';
      fileType['pdf'] = 'pdf';
      fileType['doc'] = 'word';
      fileType['docx'] = 'word';
      fileType['xls'] = 'xls';
      fileType['xlsx'] = 'xls';
      fileType['txt'] = 'txt';
      fileType['png'] = 'img';
      fileType['jpg'] = 'img';
      fileType['jpeg'] = 'img';
      fileType = fileType[type] || 'UNKNOW';
      return fileType;
    }
  }

  var totalSize = 0;
  $(":file").change(function () {
    var file = this.files[0];
    var name = file.name;
    var size = file.size;
    var type = file.type;
    url = window.URL.createObjectURL(file);
    totalSize += size;
    //在此区分是批量上传还是批量修改
    upload(uploadType);
    this.value = null;
  })
  function upload(uploadType) {
    let _l = this;
    $('.upload-box').removeClass('display-flex');
    $('.upload-box').addClass('display-none');
    $('.upload-loading').removeClass('display-none');
    $('.upload-loading').addClass('display-block');
    var formData = new FormData();
    var fileInput = uploadType == 1 ? document.getElementById("myFile") : document.getElementById('modify-file');
    $('.upload-tooltip-reveal,.upload-tooltip-hide').removeClass('display-none');
    uploadType == 1 ? $('.upload-tooltip-reveal').addClass('display-block') : $('.upload-tooltip-hide').addClass('display-block');
    var file = fileInput.files[0];
    formData.append("file", file);

    var fileSuffix = "";
    var flieArr = file.name.split(".");
    fileSuffix = flieArr[flieArr.length - 1];
    var fileTypeClass = importClass.getFileTypeClassName(fileSuffix); //获取文件类型
    if (fileTypeClass == 'UNKNOW') {
      $('.file-name').html('<span class="giga icon-UNKNOW UNKNOW-img"></span>' + file.name);
    } else {
      $('.file-name').html('<img src="public/image/file_manage/' + fileTypeClass + '.png" class="xlsx-img" alt="">' + file.name);
    }
    // ajax异步上传
    var postUrl = "";
    if (uploadType == 1) {
      postUrl = "{{ url('account/customerpartner/product_management/product/importProductsFile') }}";
    } else {
      postUrl = "{{ url('account/customerpartner/product_management/product/importModifyProductsFile') }}"
    }
    $.ajax({
      url: postUrl,
      type: "POST",
      data: formData,
      dataType: 'json',
      contentType: false,
      processData: false,
      enctype: 'multipart/form-data',
      xhr: function () {
        //获取ajax中的ajaxSettings的xhr对象  为他的upload属性绑定progress事件的处理函数
        var myXhr = $.ajaxSettings.xhr();
        if (myXhr.upload) {
          //检查其属性upload是否存在
          //myXhr.upload.addEventListener("progress", resultProgress, false);
        }
        return myXhr;
      },
      success: function (res) {
        if (res.code == 200) {
          $('.upload-loading').removeClass('display-block');
          $('.upload-loading').addClass('display-none');
          $('.upload-msg-success').removeClass('display-none');
          $('.upload-msg-success').addClass('display-block');
          var successNum = Number(res.data.product_import.product_count) - Number(res.data.product_import.product_error_count);
          var errorNum = res.data.product_import.product_error_count;
          var id = res.data.product_import.id;
          var href = "{{ url('account/customerpartner/product_management/product/exportErrorReport') }}&import_id=" + id;
          if (successNum > 0) {
            if (uploadType == 1) {
              $('.success-pload-toptip').removeClass('display-none');
              $('.success-pload-toptip').addClass('display-block');
            } else {
              $('.success-modify-toptip').removeClass('display-none');
              $('.success-modify-toptip').addClass('display-block');
            }
            $('.success-failed-pload-toptip,.success-failed-modify-toptip').removeClass('display-block');
            uploadType == 1 ? $('.success-failed-pload-toptip').addClass('display-none') : $('.success-failed-modify-toptip').addClass('display-none');
          }
          if (errorNum > 0) { //有错误
            $('.success-pload-toptip,.success-modify-toptip').removeClass('display-block');
            $('.success-pload-toptip,.success-modify-toptip').addClass('display', 'none');

            if (uploadType == 1) {
              $('.success-failed-file-box .import-error,.success-failed-pload-toptip').removeClass('display-none');
              $('.success-failed-file-box .import-error').addClass('display-inline-block')
              $('.success-failed-pload-toptip').addClass('display-block');
            } else {
              $('.success-failed-file-box .modify-error,.success-failed-modify-toptip').removeClass('display-none');
              $('.success-failed-file-box .modify-error').addClass('display-inline-block');
              $('.success-failed-modify-toptip').addClass('display-block');
            }
            $(".errorNum").html(errorNum);
            uploadType == 1 ? $(".import-error #uploadError").attr('href', href) : $(".modify-error #uploadError").attr('href', href);
          }
          if (res.data.ltl_product_ids) {
            _l.ltlWindow(res.data.ltl_product_ids);
          }
        } else { //上传错误
          $('.upload-box,.upload-loading').removeClass('display-block');
          $('.upload-box,.upload-loading').addClass('display-none');
          $('.upload-msg-failed').removeClass('display-none');
          $('.upload-msg-failed').addClass('display-block');
          if (uploadType == 1) {
            $('.batch-upload-tooltip').removeClass('display-none');
            $('.batch-upload-tooltip').addClass('display-block');
          } else {
            $('.batch-modify-tooltip').removeClass('display-none');
            $('.batch-modify-tooltip').addClass('display-block');
          }
          $('.upload-faild-msg').html(res.msg);
        }
        $("#uploadMsg").html(res.msg);
        //获取操作历史
        importClass.getImportRecords();
      },
      error: function () {
        var options = {
          title: '{{ __('提示', {}, 'common') }}',
          content: '{{ __('哎呀！ 报错了，这可能是系统的问题。 请稍后重试或向我们报告问题！', {}, 'common') }}',
          btn: ['{{ __('好', {}, 'common') }}'],
        }
        layerOris.confirmLayer(options, function () {
          window.location.reload();
        })
      }
    })
  }
  function checkSubmit($ltlWin) {
    var isSubmitPolice = $ltlWin.find('input[name=isSubmitLTL]')[0].checked;
    var $selectOne = $ltlWin.find('input[name=selectOne]');
    var isSelectOne = false;
    if (isSubmitPolice && $selectOne.length === 0) {
      isSelectOne = true;
    } else {
      var checkOne = $ltlWin.find('input[name=selectOne]:checked');
      if (isSubmitPolice && checkOne && checkOne.length > 0) {
        isSelectOne = true;
      }
    }
    return isSelectOne;
  }

  // ltl确认弹框
  function ltlWindow(ltl_product_ids) {
    var optionsLtl = {
      type: 2,
      area: ['1000px', '600px'],
      btn: ['{{ __('提交', {}, 'common') }}'],
      title: '{{ __('注意', {}, 'common') }}',
      content: "{{ url('customerpartner/product/lists/ltlWindow') }}&product_ids=" + ltl_product_ids + "&show_checkbox=1",
    };
    layerOris.confirmLayer(optionsLtl, function (index, layero, domEle) {
      // 获取弹框是否选中submit
      var $ltlWin = layer.getChildFrame('body', index);
      // 获取选中产品
      let productIds = [];
      layer.getChildFrame('body', index).find('input[name=selectOne]:checked').each(function (i, e) {
        productIds.push($(e).data('id'));
      });
      layer.getChildFrame('body', index).find('input[name=isSubmitLTL]');
      if (checkSubmit($ltlWin)) {
        layer.close(index);
        $.ajax({
          url: "{{ url('customerpartner/product/lists/ltlSave') }}",
          method: 'post',
          data: { product_ids: productIds.join(',') },
          success: function (data) {
            layer.msg(data.msg, { time: 1500, area: ['30%'] });
          }
        });
      }
    });
  }

  //上传进度回调函数
  function resultProgress(e) {
    if (e.lengthComputable) {
      var percent = e.loaded / e.total * 100;
      var percentStr = String(percent);
      if (percentStr == "100") {
        percentStr = "100.0";
      }
      percentStr = percentStr.substring(0, percentStr.indexOf("."));
      var pieBar = document.querySelector('.pie-bar');
      var progress = $('.progress-item');
      var pathLen = 40 * Math.PI;//圆的周长
      //var percent = 0;//占百分比
      function animate(timestamp) {
        if (percent <= 100) {
          pieBar.style.strokeDasharray = pathLen * percent / 100 + " " + pathLen;
          progress.html(`${percentStr}%`);
          percent += 2;
          window.requestAnimationFrame(animate);
        }
      }
      window.requestAnimationFrame(animate);
    }
  }
</script>