{% trans_default_category 'catalog/view/account/customerpartner/product_management/import_product' %}

{{ header }}{{ separate_column_left }}
<link rel="stylesheet" href="catalog/view/theme/yzcTheme/stylesheet/account/customerpartner/importProduct.css">
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<div
    {% if separate_view is defined and separate_view %}
        class="container-fluid" id="content" style="margin-left:235px"
    {% else %}
        class="container"
    {% endif %}
>
    {% include 'giga/template/_parts/breadcrumb.twig' %}
    <div class="row" style="margin-right: 30px;margin-left: 0">
        <h1>{{ __('历史记录') }}</h1>
       <div class="box-shadow upload-history">
          <div class="">
              <div class="row">
                  <form action="#" id="form-search">
                      <label class="control-label col-sm-12" for="input-combo">{{ __('创建时间') }}</label>
                      <div class="col-sm-2">
                          <div class="form-group input-group date">
                              <input type="text" name="filter_date_from" id="margin_input-date_from" class="form-control right-radius"
                                     value="{{ filter_date_from }}" placeholder="Pick a date..."/>
                              <span class="input-group-btn"><button class="btn btn-default btn-date"><i class="fa fa-calendar"></i></button></span>
                          </div>
                      </div>
                      <div class="col-sm-2">
                          <div class="form-group input-group date">
                              <input type="text" name="filter_date_to" id="margin_input-date_to" class="form-control right-radius"
                                     value="{{ filter_date_to }}" placeholder="Pick a date..."/>
                              <span class="input-group-btn"><button class="btn btn-default btn-date"><i class="fa fa-calendar"></i></button></span>
                          </div>
                      </div>
                      <div class="col-sm-8">
                          <div class="form-group text-right">
                              <button onclick="filterFutures();" type="button" id="historyFilter" class="btn btn-primary" data-loading-text="Loading...">
                                  {{ __('查询', {}, 'common') }}
                              </button>
                              <a href="{{ url('account/customerpartner/product_management/product/importProducts') }}"><button type="button" id="historyBack" class="btn btn-default" >{{ __('返回', {}, 'common') }}</button></a>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="historic-records">
                  <h4> {{ __('历史记录') }} </h4>
                  <div>
                      <table class="table table-hover">
                          <thead>
                          <tr>
                              <th>{{ __('文件名') }}</th>
                              <th>{{ __('创建时间') }}</th>
                              <th>{{ __('状态') }}
{#                                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{ __('错误报告文件将在一周后过期，请尽快下载') }}"></i>#}
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          {% if imports %}
                              {% for import in imports %}
                                  <tr>
                                      <td>{{ import.file_name }}</td>
                                      <td>{{ import.create_time }}</td>
                                      <td>
                                          {% if import.product_error_count == 0 %}
                                              <i class="giga icon-duihao1 text-success"></i> {{ __('上传成功') }}
                                          {% else %}
                                              {% set urlPath = url('account/customerpartner/product_management/product/exportErrorReport', {'import_id':import.id}) %}
                                            {% if import.type == 1 %}
                                              <i class="giga icon-action-warning text-danger"></i> {{ __('有:num条记录有错误，下载<a href=":url" class="link">产品导入错误报告</a>', {num: import.product_error_count, url: urlPath }) }}
                                            {% else %}
                                              <i class="giga icon-action-warning text-danger"></i> {{ __('有:num条记录有错误，下载<a href=":url" class="link">产品修改错误报告</a>', {num: import.product_error_count, url: urlPath }) }}
                                            {% endif %}
                                            {% endif %}
                                      </td>
                                  </tr>
                              {% endfor %}
                          {% else %}
                            <td colspan="3" align="center">No records.</td>
                          {% endif %}
                          </tbody>
                      </table>
                      <div class="row">
                          <div class="col-sm-12 text-right"
                               style="display: flex;justify-content: flex-end;align-items: center">
                              <ul id="bos_pagination"></ul>
                          </div>
{#                          <div class="pull-right">{{ pagination }}</div>#}
                      </div>
                  </div>
              </div>
          </div>
       </div>
    </div>
</div>
{{ footer }}
<script>
    $(document).ready(function () {
        pagination();
    });
    $('#margin_input-date_from').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD'
    });
    $('#margin_input-date_to').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD'
    });
    function filterFutures() {
        let form = $('#form-search');
        let s_params = form.serializeArray();
        let params = {};
        s_params.forEach(function (item) {
            if (item['value']) {
                params[item['name']] = item['value'];
            }
        })
        let url = '{{ url("account/customerpartner/product_management/product/importProductsRecords") }}';
        if (JSON.stringify(params) !== "{}") {
            url += '&' + $.param(params);
        }
        window.location.href = url;
    }

    function pagination() {
        $('#bos_pagination').bootstrapPaginator({
            /*当前使用的是3版本的bootstrap*/
            bootstrapMajorVersion: 3,
            /*配置的字体大小是小号*/
            size: 'normal',
            /*当前页*/
            currentPage: {{ page }},
            /*一共多少页*/
            totalPages: {{ total_page }},
            /*页面上最多显示几个含数字的分页按钮*/
            numberOfPages: 5,
            pageRange: [10, 25, 50, 100],
            rowsOfPage: {{ page_limit }},
            total: {{ total }},
            onPageClicked: function (event, originalEvent, type, page) {
                let form = $('#form-search');
                let s_params = form.serializeArray();
                let params = {};
                s_params.forEach(function (item) {
                    if (item['value']) {
                        params[item['name']] = item['value'];
                    }
                })
                params['page'] = page;
                if (originalEvent['page_info'] && originalEvent['page_info']['page_limit']) {
                    params['page_limit'] = originalEvent['page_info']['page_limit'];
                }
                window.location.href = '{{ url("account/customerpartner/product_management/product/importProductsRecords") }}&' + $.param(params);
            }
        });
    }
</script>
