{% trans_default_category 'catalog/view/seller_store/introduction/index' %}
{{ this.title('Store Profile') }}
{{ css(['static/seller_store/introduction/index.css']) }}
{# seller预览 #}
{% if preview_key is not null %}
{{ css(['css/common/common.css']) }}
{{ jsOrigin(['catalog/view/javascript/product/axios.min.js'], 1) }}
{{ js(['static/customerpartner/seller_store/util/publish_helper.js'])}}
{% include 'yzcTheme/template/customerpartner/seller_store/publish_config.twig' %}
{% endif %}
<section class="store-info back1200" id="module0" data-mIndex="0">
  <div class="content-title">Store Information</div>
  <div class="default-flex p10-t">
    {% if intro.pics and intro.pics|length >1 %}
    <div class="info-swiper p18-l">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for img in intro.pics %}
          <div class="swiper-slide">
            <img src="{{ img.pic_show }}" alt="{{ img.pic_show }}">
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-pagination action-pagination"></div>
      <div class="swiper-pager">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    {% elseif intro.pics|length == 1 %}
    <div class="info-swiper p18-l swiper-slide">
      <img src="{{ intro.pics[0]['pic_show'] }}" alt="{{ intro.pics[0]['pic_show'] }}">
    </div>
    {% endif %}
    <div class="info-left">
      {# Main categories #}
      {% if intro.categories|length > 0 %}
      <div class="text-bigger text-bold">Main Category:</div>
      <div class="p8-t line20">
        {% for k,one in intro.categories %}
        <span>{{ one.name }}</span>
        {% if not loop.last %}
        <span class="categories-line text-tips">|</span>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      {# Contact #}
      {% if intro.email or intro.phone %}
      <div class="text-bigger text-bold p32-t">Contact:</div>
      {% if intro.email %}
      <div class="text-larger p8-t break-all">Email:&nbsp;<span>{{ is_login ? intro.email : '****' }}</span></div>
      {% endif %}
      {% if intro.phone %}
      <div class="text-larger p8-t">Contact Number:&nbsp;<span>{{ is_login ? intro.phone : '****' }}</span></div>
      {% endif %}
      {% endif %}
      {# Wechat #}
      {% if intro.wechat_pics is not empty %}
      <div class="text-bigger text-bold p32-t">Wechat QR Code:</div>
      {% if is_login %}
      <div class="wechat-img p8-t">
        {% for img in intro.wechat_pics %}
        <img src="{{ img.pic_show }}">
        {% endfor %}
      </div>
      {% else %}
      <div class="p24-t"><a class="text-warning" href="">Login to view details</a></div>
      {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="text-larger describe">{{ intro.store_intro }}</div>
  <div class="module-flex">
    {% for i,one in module_introduction.tags %}
    <div class="tag-item">
      <img src="{{ one.icon_show }}">
      <div class="p10-l">
        <div class="text-larger text-bold">{{ one.title }}</div>
        <div class="text-light text-larger module-line2">{{ one.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="content-title p20-t">Store Statistics</div>
  {# 评分数据展示 #}
  <div class="p24-t info-left p18-l">
    <span class="text-larger text-bold">GIGA Index:&nbsp;</span>
    <span class="text-bigger text-bold text-score">{{ score }}</span>
    {% if score_date %}
    <span class="text-light p10-l">End:&nbsp;{{ score_date }}</span>
    {% endif %}
  </div>
  {% if comprehensive|length > 0 %}
  <div class="giga-index default-flex text-small">
    {% for k,v in comprehensive %}
    <div>
      <div class="text-bold">{{ v.title }}</div>
      <div class="p6-t"><span class="text-size-normal text-score text-bold">{{ v.score }}</span><span class="text-tips">（Full Score {{ v.full_score }}）</span></div>
      <div class="p6-t image-des">
        {% if v.compare == 0 %}
        <img src="image/icons/xia.png">&nbsp;Below Average
        {% elseif v.compare == 1 %}
        <img src="image/icons/weibian.png">&nbsp;Equal to Average
        {% else %}
        <img src="image/icons/shang.png">&nbsp;Above Average
        {% endif %}
      </div>
    </div>
    {% if k != 4 %}<i class="calc-icon">+</i>{% endif %}
    {% endfor %}
    <i class="calc-icon">=</i>
    <div class="text-score text-bold text-most">{{ score }}</div>
  </div>
  {% endif %}
  <div class="p24-t info-left p18-l">
    <span class="text-larger text-bold">Seller Performance:&nbsp;</span>
  </div>
  <div class="giga-index">
    {% if return_info.store_return_rate_mark %}
    <span class="p120-r">
      <img src="image/icons/return-rate.png">
      <span class="text-light"> Return Rate:&nbsp;</span>
      <span class="text-color-normal">
        {{ return_info.store_return_rate_mark }}
      </span>
      {% if return_info.store_return_rate_mark == 'N/A' %}
      <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="The volume of total units sold is not enough for judging return rate."></i>
      {% endif %}
    </span>
    {% endif %}
    {% if return_info.return_approval_rate %}
    <span class="p120-r">
      <img src="image/icons/return-arate.png">
      <span class="text-light"> Return Approval Rate:&nbsp;</span>
      <span class="text-color-normal">
        {% if return_info.return_approval_rate == 0 %}
        N/A
        {% elseif return_info.return_approval_rate > 90 %}
        High
        {% elseif return_info.return_approval_rate > 60 %}
        Moderate
        {% else %}
        Low
        {% endif %}
      </span>
      {% if return_info.return_approval_rate == 0 %}
      <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="No RMA records."></i>
      {% endif %}
    </span>
    {% endif %}
    {% if return_info.store_response_rate_mark %}
    <span class="p120-r">
      <img src="image/icons/response-rate.png">
      <span class="text-light"> Response Rate:&nbsp;</span>
      <span class="text-color-normal">
        {{ return_info.store_response_rate_mark }}
      </span>
    </span>
    {% endif %}
  </div>
</section>
{# seller预览 #}
{% if preview_key is not null %}
<div class="preview-top">
  <span>Currently in preview mode. Settings with no content will not be displayed.</span>
  <button type="button" class="btn" id="storeInfoPub">Publish</button>
</div>
{% apply script %}
<script type="text/javascript">
$(initIntroPreview);

function initIntroPreview() {
  $('body').on('click', '#storeInfoPub', function() {
    let that = this;
    var data = JSON.parse({{ preview_data_json|json_encode() }});
    data['tab'] = 'preview';
    data['type'] = 'publish';
    data['preview_key'] = '{{ preview_key }}';
    data['store_intro'] = data['store_intro'];
    PublishHelper.instance('introduction').publish(data);
  })
}
</script>
{% endapply %}
{% endif %}