<div class="list-group">
    {% if not logged %}
        <a href="{{ login }}" class="list-group-item">{{ text_login }}</a>
        <a href="{{ register }}" class="list-group-item">{{ text_register }}</a>
        <a href="{{ forgotten }}" class="list-group-item">{{ text_forgotten }}</a>
    {% endif %}
    <a href="{{ account }}" class="list-group-item">{{ text_account }}</a>
    {% if logged %}
        <a href="{{ password }}" class="list-group-item">{{ text_password }}</a>
    {% endif %}
    {% if wk_pro_quote_status is defined and wk_pro_quote_status %}
        <a href="{{ product_quotes }}" class="list-group-item">Quote Requests</a>
    {% endif %}
    {% if chkIsPartner == false %}
        <a href="{{ order }}" class="list-group-item">{{ text_order }}</a>
    {% endif %}
    {% if communication is defined and communication and loggedCheck is defined and loggedCheck %}
        <a href="{{ communication }}" class="list-group-item">{{ text_communication_history }}</a>
    {% endif %}
    {% if logged %}
        <a href="{{ logout }}" class="list-group-item">{{ text_logout }}</a>
    {% endif %}
</div>
