<script type="text/javascript" src="catalog/view/javascript/layui/layui.all.js?v={{ app_version }}"></script>
<link rel="stylesheet" href="catalog/view/javascript/product_category/css/jquery-labelauty.css?v={{ app_version }}">
<script src="catalog/view/javascript/product_category/js/jquery-labelauty.js?v={{ app_version }}"></script>
<script type="text/javascript" src="catalog/view/javascript/jquery/swiper6/swiper-bundle.min.js"></script>
<link href="catalog/view/theme/yzcTheme/stylesheet/extension/featured.css?v={{ app_version }}" rel="stylesheet">
<div class="home-content">
  <div class="home-product-list center-module">
    <div>
      <div class="default-flex">
        {# 新品到货 New Arrivals 模块 #}
        {% if newArrivals|length >= 4 %}
          <section id="module-new-arrivals"
            {% if abundantInventorys|length >= 4 %}
              class="home-product-row col-sm-6 mp-card box-bg"
            {% else %}
              class="home-product-row col-sm-12 mp-card box-bg mr-0"
            {% endif %}
          >
            <div>
              <div class="section-title">

                {% if newArrivals|length >= 6 %}
                  <h3 class="module-title">
                    <a target="_blank" href="{{ url('product/channel/getChannelData',{'type':'new_arrivals' }) }}" data-cnzz-event="首页|Hm_Channel_NewArrivals_ViewMore" >New Arrivals</a>
                  </h3>
                  <a class="view-more" target="_blank" href="{{ url('product/channel/getChannelData',{'type':'new_arrivals' }) }}" data-cnzz-event="首页|Hm_Channel_NewArrivals_ViewMore">View More&nbsp;<i class="giga icon-V10_youjiantougengduo text-small"></i></a>
                {% else %}
                  <h3 class="module-title">
                    New Arrivals
                  </h3>
                {% endif %}
              </div>
              <div class="col-xs-12 no-padding">
                {% for key,product in newArrivals %}
                {% if key < 6 %}
                {% if abundantInventorys|length >= 4%}
                <div class="col-xs-4 new-high-card">
                  {% include 'giga/template/_parts/home.twig' %}
                </div>
                {% if key == 2 %}
              </div>
              <div class="col-xs-12 no-padding">
                {% endif %}
                {% else %}
                  <div class="col-xs-2 new-high-card">
                    {% include 'giga/template/_parts/home.twig' %}
                  </div>
                {% endif %}
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </section>
        {% endif %}
        {# END新品到货 New Arrivals 模块 #}
        {# 库存充足 Abundant Inventory 模块 #}
        {% if abundantInventorys|length >= 4 %}
          <section id="module-abundant-inventorys"
              {% if newArrivals|length >= 4 %}
                class="home-product-row  col-sm-6 mp-card box-bg"
              {% else %}
                class="home-product-row col-sm-12 mp-card box-bg"
              {% endif %}
          >
            <div>
              <div class="section-title">

                {% if  abundantInventorys|length >= 6 %}
                  <h3 class="module-title"><a target="_blank" href="{{ url('product/channel/getChannelData',{'type':'well_stocked' }) }}" data-cnzz-event="首页|Hm_Channel_WellStockedCount_ViewMore">Well-Stocked </a> </h3>
                  <a class="view-more" target="_blank" href="{{ url('product/channel/getChannelData',{'type':'well_stocked' }) }}" data-cnzz-event="首页|Hm_Channel_WellStockedCount_ViewMore">View More&nbsp;<i class="giga icon-V10_youjiantougengduo text-small"></i></a>
                {% else %}
                  <h3 class="module-title">Well-Stocked</h3>
                {% endif %}
              </div>
              <div class="col-xs-12 no-padding">
                {% for key,product in abundantInventorys %}
                  {% if key < 6 %}
                    {% if newArrivals|length >= 4 %}
                <div class="col-xs-4 new-high-card">
                  {% include 'giga/template/_parts/home.twig' %}
                </div>
                      {% if key == 2 %}
              </div>
              <div class="col-xs-12 no-padding">
                      {% endif %}
                    {% else %}
                  <div class="col-xs-2 new-high-card">
                    {% include 'giga/template/_parts/home.twig' %}
                  </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </section>
        {% endif %}
        {# END 库存充足 Abundant Inventory 模块 #}
      </div>
      <div>
        {# 1.平台推荐 Recommendations For You 模块 #}
        {% if products %}
          <section id="module-recommended-products" class="pb-1 home-product-row mp-card box-bg recommended-products pos-rela">
            {% if products|length > 5 %}
              <div class="swiper-pager">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            {% endif %}
            <div class="row no-margin">
              <div class="col-xs-12 no-padding m20-r p20-r">
                <div>
                  <div class="section-title">
                    <h3 class="module-title"><strong>Featured Products</strong></h3>
                  </div>
                  <div id="swiper-recommended-products" class="swiper-container">
                    <div class="swiper-wrapper">
                      {% for product in products %}
                        <div class="swiper-slide">
                          {% include 'giga/template/_parts/home.twig' %}
                        </div>
                      {% endfor %}
                    </div>
                    {% if products|length > 5 %}
                      <div class="swiper-pagination swiper-pagination-outside-bottom mb-2" id="swiper-pagination{{ module }}"></div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </section>
        {% endif %}
        {# END 平台推荐 Recommendations For You 模块 #}
        {# 1.平台推荐 Recommendations For You 模块 #}
        {% if products %}
          <script type="text/javascript">
            var clientWidth = $(document).width();
            var plength = '{{ products|length }}';
            var loop = true;
            //防止循环展示
            if (plength <= 5) {
              loop = false;
            }
            var swiperFeatured = new Swiper6('#swiper-recommended-products', {
              slidesPerView: 5,
              spaceBetween: 20,
              slidesPerGroup: 5,
              loop: loop,
              loopFillGroupWithBlank: true,
              loopPreventsSlide: false,
              lazyLoadingInPrevNext: true,
              autoplay: {
                delay: 5000,
                stopOnLastSlide: true,
                disableOnInteraction: true,
              },
              pagination: {
                el: '#module-recommended-products #swiper-pagination{{ module }}',
                clickable: true,
              },
              navigation: {
                nextEl: '#module-recommended-products .swiper-button-next',
                prevEl: '#module-recommended-products .swiper-button-prev',
              },
            });
            var comtainerFeatured = document.getElementById('swiper-recommended-products');
            comtainerFeatured.onmouseenter = function () {
              swiperFeatured.autoplay.stop()
            };
            comtainerFeatured.onmouseleave = function () {
              swiperFeatured.autoplay.start()
            }
          </script>
        {% endif %}
        {# END 1.平台推荐 Recommendations For You 模块 #}
      </div>
      <div class="default-flex">
        {# Best Sellers 左右分栏显示 #}
        {% if bestSell and bestSell|length >= 4 and bigPriceDrops and bigPriceDrops|length >=4 %}
          <section id="module-best-sellers" class="home-product-row col-sm-6 no-padding-i mp-card box-bg m20-r action-range">
            <div>
              <div class="col-sm-12 no-padding p20-r pos-rela">
                <div class="col-sm-4 no-padding h250">
                  <div class="bs-bc seller-title action-module-expand bs-bg-small {% if bestSellerEnd == 0 %} pointer {% endif %}">
                    <div class="title"><strong>Best Sellers</strong></div>
                    <div class="describe text-light">The most popular</div>
                    <div class="describe text-light">products</div>
                    <div>
                      {% if bestSellerEnd == 0 %}
                        <a class="sell-view-more view-more no-under font-size14"  onclick="openViewMore('best_sellers')" data-cnzz-event="首页|Hm_Channel_BestSellers_ViewMore">View More</a>
                      {% endif %}
                    </div>
                    <div class="bot-img bot15">
                      <img src="image/foot/best-sellers.png">
                    </div>
                  </div>
                </div>
                {% for key,product in bestSell %}
                  {% if key == 0 %}
                    {# horizontal-home 用于排列横向产品模板 #}
                    <div class="col-sm-8 no-padding h250 horizontal-home">
                      {% include 'giga/template/_parts/home.twig' %}
                    </div>
                    <hr class="line-hr" />
                  {% elseif key < 4 %}
                    <div class="col-sm-4 no-padding">
                      {% include 'giga/template/_parts/home.twig' %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </section>
        {% endif %}
        {# Best Sellers 整栏显示 #}
        {% if bestSell and bestSell|length >= 4
          and (bigPriceDrops is empty or bigPriceDrops|length < 4) %}
          <section id="module-best-sellers" class="home-product-row col-sm-12 no-padding-i mp-card box-bg action-range">
            <div class="col-sm-12 no-padding full-height">
              <div class="col-sm-2 no-padding p20-r full-height pos-rela">
                <div class="bs-bc seller-title action-module-expand bs-bg-big {% if bestSellerEnd == 0 %} pointer {% endif %}">
                  <div class="title"><strong>Best Sellers</strong></div>
                  <div class="describe text-light">The most popular</div>
                  <div class="describe text-light">products</div>
                  <div>
                    {% if bestSellerEnd == 0  %}
                      <a class="sell-view-more view-more no-under font-size14" onclick="openViewMore('best_sellers')" data-cnzz-event="首页|Hm_Channel_BestSellers_ViewMore">View More</a>
                    {% endif %}
                  </div>
                  <div class="bot-img bot15">
                    <img src="image/foot/best-sellers.png">
                  </div>
                </div>
              </div>
              {% for key,product in bestSell %}
                {% if key < 5 %}
                  <div class="col-sm-2 no-padding p20-r p20-t">
                    {% include 'giga/template/_parts/home.twig' %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </section>
        {% endif %}
        {# END Best Sellers #}
        {# 降价差大 Big Price Drop 模块 #}
        {% if bestSell and bestSell|length >= 4 and bigPriceDrops and bigPriceDrops|length >= 4 %}
          <section id="module-big-pricedrop" class="home-product-row col-sm-6 no-padding-i mp-card box-bg action-range">
            <div>
              <div class="col-sm-12 no-padding p20-r pos-rela">
                <div class="col-sm-4 no-padding h250">
                  <div class="pd-bc seller-title action-module-expand pd-bg-small {% if bigPriceEnd == 0 %} pointer {% endif %}">
                    <div class="title"><strong>Price Drop</strong></div>
                    <div class="describe text-light">Get them before </div>
                    <div class="describe text-light">they're gone</div>
                    <div>
                      {% if bigPriceEnd == 0 %}
                        <a class="drop-view-more view-more no-under font-size14" onclick="openViewMore('price_drop')" data-cnzz-event="首页|Hm_Channel_PriceDrop_ViewMore">View More</a>
                      {% endif %}
                    </div>
                    <div class="bot-img bot15">
                      <img src="image/foot/price-drop.png">
                    </div>
                  </div>
                </div>
                {% for key,product in bigPriceDrops %}
                  {% if key == 0 %}
                    {# horizontal-home 用于排列横向产品模板 #}
                    <div class="col-sm-8 no-padding h250 horizontal-home">
                      {% include 'giga/template/_parts/home.twig' %}
                    </div>
                    <hr class="line-hr" />
                  {% elseif key < 4%}
                    <div class="col-sm-4 no-padding">
                      {% include 'giga/template/_parts/home.twig' %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </section>
        {% endif %}
        {# END 7.降价差大 Big Price Drop 模块 #}
      </div>
    </div>
    {# #16460店铺模块 #}
    {% if isNewStores == 1 and  featureStores and featureStores['data']|length >= 2 %}
      {% include 'yzcTheme/template/extension/module/featured_components/featured_stores.twig' %}
    {% endif %}
    {# 16460添加分类产品模块 #}
    {#{% if homePageOperation %}#}
    {#  {% include 'yzcTheme/template/extension/module/featured_components/category_module.twig' %}#}
    {#{% endif %}#}
    {% if homePageOperation %}
      {% include 'yzcTheme/template/extension/module/featured_components/category_module.twig' %}
    {% endif %}
    {#  #5085 暂时隐藏模块：Promotion、Coming Soon、Out Of Stock Soon
    <!-- 注释： 2.促销活动 Promotion 模块
    {% if promotions %}
    <section id="module-promotion-products" class="pt-2 pb-1 home-product-row">
      <div class="container {% if is_home %}center-module" {% endif %}>
        <div class="row">
          <div class="col-xs-12">
            <div style="position:relative">
              <h3 class="module-title" style="display: inline-block"><strong>Promotions</strong></h3>
              {% if promotions|length >= 6 %}
              <div class="swiper-pager">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
              {% endif %}
              <hr>
              <div id="swiper-promotion-products" class="swiper-container">
                <div class="swiper-wrapper">
                  {% for product in promotions %}
                  <div class="swiper-slide">
                    {% include 'giga/template/_parts/product_simple_grid_home.twig' %}
                  </div>
                  {% endfor %}
                </div>
                {% if promotions|length >= 6 %}
                <div class="swiper-pagination swiper-pagination-outside-bottom mb-2" id="swiper-pagination{{ module }}"></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    注释： END 2.促销活动 Promotion 模块
    注释： 3.新品预售 Coming Soon 模块
    {% if comingSoons %}
    <section id="module-coming-soons" class="pt-2 pb-1 home-product-row">
      <div class="container {% if is_home %}center-module" {% endif %}>
        <div class="row">
          <div class="col-xs-12">
            <div>
              <h3 class="module-title" style="display: inline-block"><strong>Coming</strong> Soon</h3>
              {% if comingSoons|length >= 6 %}
              <a class="view-more" href="">View More<i class="giga icon-V10_youjiantougengduo text-small"></i></a>
              {% endif %}
              <hr>
              <div id="swiper-coming-soons" class="swiper-container swiper-no-swiping">
                <div class="swiper-wrapper">
                  {% for product in comingSoons %}
                  <div class="swiper-slide">
                    {% include 'giga/template/_parts/product_simple_grid_home.twig' %}
                  </div>
                  {% endfor %}
                </div>
                {% if comingSoons|length >= 6 %}
                <div class="swiper-pagination swiper-pagination-outside-bottom mb-2" id="swiper-pagination{{ module }}"></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    注释： END 3.新品预售 Coming Soon 模块
    注释： 6.即将断货 Out Of Stock Soon 模块
    {% if outOfStockSoons %}
    <section id="module-outofstock-soon" class="pt-2 pb-1 home-product-row">
      <div class="container {% if is_home %}center-module" {% endif %}>
        <div class="row">
          <div class="col-xs-12">
            <div style="position:relative">
              <h3 class="module-title" style="display: inline-block"><strong>Last Chance-</strong>Low
                Stock</h3>
              {% if outOfStockSoons|length >= 6 %}
              <a class="view-more" href="{{ url_product_view_more }}&name=lowStock">View More<i class="giga icon-V10_youjiantougengduo text-small"></i></a>
              {% endif %}
              <hr>
              <div id="swiper-outofstock-soon" class="swiper-container swiper-no-swiping">
                <div class="swiper-wrapper">
                  {% for product in outOfStockSoons %}
                  <div class="swiper-slide">
                    {% include 'giga/template/_parts/product_simple_grid_home.twig' %}
                  </div>
                  {% endfor %}
                </div>
                {% if outOfStockSoons|length >= 6 %}
                <div class="swiper-pagination swiper-pagination-outside-bottom mb-2" id="swiper-pagination{{ module }}"></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
     注释： END 6.即将断货 Out Of Stock Soon 模块  -->
  #}
  </div>
</div>
{# 以上section行 辅助代码如下 #}
{# 2.促销活动 Promotion 模块 #}
{# #5085 暂时隐藏模块：Promotion、Coming Soon、Out Of Stock Soon  JS部分
{% if promotions %}
<script type="text/javascript">
  var clientWidth = $(document).width();
  var plength = '{{ promotions|length }}';
  var loop = true;

  var perview;
  if (clientWidth < 1510) {
    perview = 5;
  } else {
    perview = 6;
  }
  if (plength <= perview) {
    loop = false;
  }
  var swiperPromotion = new Swiper('#swiper-promotion-products', {
      mode: 'horizontal',
      roundLengths: true,
      slidesPerView: perview,
      pagination: '#module-promotion-products #swiper-pagination{{ module }}',
      paginationClickable: true,
      nextButton: '#module-promotion-products .swiper-pager .swiper-button-next',
      prevButton: '#module-promotion-products .swiper-pager .swiper-button-prev',
      spaceBetween: 20,
      autoplay: 5000,
      autoplayDisableOnInteraction: true,
      loop: loop
    },
    $(window).resize(function() {
      var clientWidth = $(document).width();
      if (clientWidth < 1510) {
        swiperPromotion.params.slidesPerView = 5;
      } else {
        swiperPromotion.params.slidesPerView = 6;
      }
    })
  );
  var comtainerPromotion = document.getElementById('swiper-promotion-products');
  comtainerPromotion.onmouseenter = function() {
    swiperPromotion.stopAutoplay();
  };
  comtainerPromotion.onmouseleave = function() {
    swiperPromotion.startAutoplay();
  }
</script>
{% endif %}
END 2.促销活动 Promotion 模块
3.新品预售 Coming Soon 模块
{% if comingSoons %}
<script type="text/javascript">
  var clientWidth = $(document).width();
  var plength = '{{ comingSoons|length }}';
  var loop = true;

  var perview;
  if (clientWidth < 1510) {
    perview = 5;
  } else {
    perview = 6;
  }
  if (plength <= perview) {
    loop = false;
  }
  var swiperComing = new Swiper('#swiper-coming-soons', {
      mode: 'horizontal',
      slidesPerView: perview,
      pagination: {
        el: '#module-coming-soons #swiper-pagination{{ module }}',
        paginationHide: true
      },
      paginationClickable: true,
      nextButton: '#module-coming-soons .swiper-button-group .button-next',
      prevButton: '#module-coming-soons .swiper-button-group .button-prev',
      spaceBetween: 21,
      autoplay: false,
      autoplayDisableOnInteraction: true,
      loop: loop
    },
    $(window).resize(function() {
      var clientWidth = $(document).width();
      if (clientWidth < 1510) {
        swiperComing.params.slidesPerView = 5;
      } else {
        swiperComing.params.slidesPerView = 6;
      }
    }));
  var comtainerComing = document.getElementById('swiper-coming-soons');
  comtainerComing.onmouseenter = function() {
    swiperComing.stopAutoplay();
  };
  comtainerComing.onmouseleave = function() {
    swiperComing.startAutoplay();
  }
</script>
{% endif %}
END 3.新品预售 Coming Soon 模块
6.即将断货 Out Of Stock Soon 模块
{% if outOfStockSoons %}
<script type="text/javascript">
  var clientWidth = $(document).width();
  var plength = '{{ outOfStockSoons|length }}';
  var loop = true;

  var perview;
  if (clientWidth < 1510) {
    perview = 5;
  } else {
    perview = 6;
  }
  if (plength <= perview) {
    loop = false;
  }
  var swiperLowStock = new Swiper('#swiper-outofstock-soon', {
    mode: 'horizontal',
    slidesPerView: perview,
    pagination: {
      el: '#module-outofstock-soon #swiper-pagination{{ module }}',
      paginationHide: true
    },
    paginationClickable: true,
    nextButton: '#module-outofstock-soon .swiper-button-group .button-next',
    prevButton: '#module-outofstock-soon .swiper-button-group .button-prev',
    spaceBetween: 21,
    autoplay: false,
    autoplayDisableOnInteraction: true,
    loop: loop
  },
  $(window).resize(function() {
    var clientWidth = $(document).width();
    if (clientWidth < 1510) {
      swiperLowStock.params.slidesPerView = 5;
    } else {
      swiperLowStock.params.slidesPerView = 6;
    }
  }));
  var comtainerLowStock = document.getElementById('swiper-outofstock-soon');
  comtainerLowStock.onmouseenter = function() {
    swiperLowStock.stopAutoplay();
  };
  comtainerLowStock.onmouseleave = function() {
    swiperLowStock.startAutoplay();
  }
</script>
{% endif %}
END 6.即将断货 Out Of Stock Soon 模块
  #}
<script>
$(function() {

  $("#customer-service").click(function() {
    location.href = 'index.php?route=account/ticket/lists';
  });
  // 首页改版2期 右侧楼层组件

  $('#right').hide();
  var bigScreen = true; // 小于1200px不显示
  $(window).resize(function() {
    var clientWidth = $(document).width();
    if (clientWidth < 1200) {
      bigScreen = false;
      $("#right").hide();
    } else {
      bigScreen = true;
    }
  });
  $(window).scroll(function() {
    var scrollTop = $(window).scrollTop();
    var windowHeight = $(window).height() / 2; // 浏览器半屏高度
    var len = $('.home-product-row').size(); //
    if (bigScreen) {
      if (scrollTop > windowHeight) { // 滚动距离顶部小于浏览器半屏时隐藏
        for (var i = 0; i < len; i++) {
          var topDistance = $('.home-product-row')[i].offsetTop - scrollTop;
          if (topDistance < windowHeight) {
            $('#right').fadeIn(500);
            $('#floor li').eq(i).addClass('blue-background').siblings().removeClass('blue-background')
          }
        }
      } else {
        $("#right").fadeOut(300);
      }
    } else {
      $("#right").fadeOut(300);
    }
  });

  // $("#back-to-top").click(function() {
  //   $('body,html').animate({
  //       scrollTop: 0
  //     },
  //     500);
  //   return false;
  // });

  var flag = true;
  $("#floor li").click(function() {
    flag = false;
    $(this).addClass("blue-background").siblings().removeClass("blue-background");
    var index = $(this).index(); //获取当前点击元素的索引
    var top = $(".home-product-row").eq(index).offset().top; //获取每个banner到顶部的距离
    $("html,body").stop(true).animate({ "scrollTop": top }, function() {
      flag = true;
    })
  });

  // end

  //$(".rows-b2b-product:even").css({"background-color":"#F7F7F7"});


  // 初始化内容
  $("#product_all_list input").labelauty();
  var layer = layui.layer;

  var tips;
  $('.tips').on({
    mouseenter: function() {
      var that = this;
      //        var text_date = $(that).attr('text-date');
      //        var text_qty = $(that).attr('text-qty');
      //        tips = layer.tips("<span style='color:#000;'>Date of next arrival:&nbsp;" + text_date + "</span><br/><span style='color:#000;'>Estimated quantity of next arrival:&nbsp;" + text_qty + "</span>", that,
      //          {tips: [2, '#fff'], time: 4000});
      $(that).next().show();
    },
    mouseleave: function() {
      //        setTimeout(function () {
      //          layer.close(tips);
      //        }, 1000);
      var that = this;
      $(that).next().hide();

    }
  });
  var screenname;


  $(".to_store_home").click(function(ev) {
    if (ev.target != this) {
      return;
    } else {
      var seller_id = $(this).attr("seller_id");
      getSeller(seller_id);
    }
  });
});

  function getSellerContact(seller_id, sku) {
    //window.location.href = 'index.php?route=customerpartner/profile&id=' + seller_id + '&itemCode=' + sku + '&contact=1';
    var url = 'index.php?route=message/seller/addMessage&receiver_id=' + seller_id + '&item_code=' + sku;
    window.open(url, '_blank');
  }

  // 扩大Best Seller 和Price Drop的点击范围 以及slideshow右侧Feature Stores
  function expandModuleClickRound() {
    $('.action-range').on('click', 'div.action-module-expand', function(){
      if ($(this).find('a').length > 0){
        $(this).find('a')[0].click();
        //阻止冒泡传播
       //stopBubbling($(this));
      }
    })
    // .on('mouseover mouseout', 'div.action-module-expand',function(event){
    //    if(event.type == "mouseover"){
    //     //鼠标悬浮
    //     $(this).css({"cursor":"pointer"});
    //    }else if(event.type == "mouseout"){
    //     //鼠标离开
    //     $(this).css({"cursor":"unset"});
    //    }
    // });
  }
  function openViewMore(type){
    var url= href="index.php?route=product/channel/getChannelData&type="+type;
    window.open(url,'_blank');
    stopBubbling(event); //防止冒泡
  }
  function stopBubbling(e) {
    e = window.event || e;
    if (e.stopPropagation) {
      e.stopPropagation();      //阻止事件 冒泡传播
    } else {
      e.cancelBubble = true;   //ie兼容
    }
  }
  $().ready(function(){
    expandModuleClickRound();
  })
</script>

