<div class="marketplace">
  {% if chkIsPartner is defined %}
    <div class="list-group">
      {% if chkIsPartner %}
        {% if marketplace_account_menu_sequence is defined and marketplace_seller_mode is defined and marketplace_seller_mode %}
          {% for key, menu_option in marketplace_account_menu_sequence %}
            {% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and key in marketplace_allowed_account_menu %}
              {% if key == 'asktoadmin' %}
                <a id="ask-to-admin" class="list-group-item" data-toggle="modal" data-target="#myModal-seller-mail">
                  {{ menu_option }}
                </a>
              {% elseif key == 'mp_pq' %}
                {% if wk_pro_quote_status %}
                  <a data-toggle="collapse" href="#sub2" class="list-group-item sub-item">{{ mp_pq_menu }}</a>
                  <div class="collapse list-group-submenu" id="sub2">
                    {% if account_menu_href['mp_pqp'] is defined %}
                      <a href="{{ account_menu_href['mp_pqp'] }}"
                         class="list-group-item sub-sub-item">{{ text_manage_product_quote }}</a>
                    {% endif %}
                    <a href="{{ account_menu_href['mp_pqr'] }}"
                       class="list-group-item sub-sub-item">{{ text_manage_quote_request }}</a>
                  </div>
                {% endif %}
              {% else %}
                {% if account_menu_href[key] is defined and account_menu_href[key] %}
                  <a href="{{ account_menu_href[key] }}" class="list-group-item">
                    {{ menu_option }}
                  </a>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% else %}
        {% if hasApplied is defined and hasApplied %}
          <a class="list-group-item">{{ text_alreadyPartner }}</a>
        {% else %}
          <a href="{{ want_partner }}" class="list-group-item">{{ text_becomePartner }}</a>
        {% endif %}
      {% endif %}
    </div>
  {% elseif partner is defined %}
    {% set addClass = 'col-lg-3 col-md-3 col-sm-6' %}
    <div class="row">
      <div class="col-xs-12">
        <div class="seller-info-wrapper">
          <h4>{{ text_seller }}</h4>
          <a href="{{ partner['sellerHref']}}"><img class="avatar mb-1" src="{{ partner['thumb'] }}" alt="{{ partner['name'] }}" title="{{ partner['name'] }}"/></a>
          <p><strong><a href="{{ partner['sellerHref']}}" style="color:#333333;">{{ displayName }}</a></strong></p>
          <p class="text-muted">{{ partner['country'] }}</p>
          <p>{{ text_total_products }} {{ partner['total_products'] }}</p>
          {% if contact_mail %}
            {% if logged %}
                {#<button class="btn btn-primary" data-toggle="modal" data-target="#myModal-seller-mail">{{ text_ask_seller}}</button>#}
                <button class="btn btn-primary btn-seller" onclick="window.location.href='{{ contactUrl }}'">{{ text_ask_seller }}</button>
            {% else %}
                <button class="btn btn-primary btn-seller" onclick="window.location.href='{{ redirect_user }}'">{{ text_ask_seller }}</button>
            {% endif %}
          {% endif %}

          {% if show_seller_product is defined and not show_seller_product %}
            <a href="{{ collectionHref }}" class="btn btn-primary btn-seller">{{ text_latest_product }}</a>
          {% elseif latest|length > 2 %}
            <b>{{ text_latest_product }}<i class="fa fa-arrow-down"></i> </b>
          {% endif %}
        </div>
      </div>
    </div>


    <div class="row mb-5">
      <div class="col-ms-12">
        <h3>Related Products</h3>
        <div class="row">
          {% if show_seller_product is defined and show_seller_product %}
            {% for product in latest %}
              <div class="product-layout product-grid product-seller col-xs-12 col-lg-3 col-md-3 col-sm-6">
                <div class="swiper-slide">
                  {% include 'giga/template/_parts/product_simple_grid.twig' %}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% if contact_mail and logged %}
  <div class="modal fade" id="myModal-seller-mail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">{{ text_close }}</span>
          </button>
          <h3 class="modal-title">{{ text_ask_question }}</h3>
        </div>
        <form id="seller-mail-form">
          <div class="modal-body">
            <div class="form-group required">
              <label class="control-label" for="input-subject">{{ text_subject }}</label>
              <input type="text" name="subject" id="input-subject" class="form-control"/>
              {% if partner is defined %}
                <input type="hidden" name="seller" value="{{ seller_id }}"/>
              {% endif %}
            </div>
            <div class="form-group required">
              <label class="control-label" for="input-message">{{ text_ask }}</label>
              <textarea class="form-control" name="message" rows="3" id="input-message"></textarea>
            </div>
            <div class="error text-center text-danger"></div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
          <button type="button" class="btn btn-primary btn-submit" id="send-mail">{{ text_send }}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endif %}

<div class="modal fade" id="myModal-notification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">{{ text_close }}</span>
        </button>
        <h3 class="modal-title">{{ 'Hi ' }}{% if sellerProfile['firstname'] is defined %}{{ sellerProfile['firstname'] }}{% endif %} {% if sellerProfile['lastname'] is defined %}{{ sellerProfile['lastname'] }}{% endif %}</h3>
      </div>

      <div class="modal-body">
        {% if seller_notifications is defined and seller_notifications %}
          <div class="form-group">
            <ul style="display:inline-flex;margin-left:-8%;">
              <li class="dropdown-header" style="font-size:15px;">
                <b>{{ text_order }}</b>
              </li>
              <li style="display: block; overflow: auto;margin-top:5px;">
                <a href="{{ view_all }}">
                  <span class="label label-warning" style="margin-right: 5px;">{{ processing_status_total }}</span>
                  {{ text_processing_status }}
                </a>
              </li>
              <li style="display: block; overflow: auto;margin-left:40px;margin-right:40px;margin-top:5px;">
                <a href="{{ view_all }}">
                  <span class="label label-success" style="margin-right: 5px;">{{ complete_status_total }}</span>
                  {{ text_complete_status }}
                </a>
              </li>
              <li style="display: block; overflow: auto;margin-top:5px;">
                <a href="{{ view_all }}">
                  <span class="label label-danger" style="margin-right: 5px;">{{ return_total }}</span>
                  {{ text_return }}
                </a>
              </li>
            </ul>
            {% if seller_notifications is defined and seller_notifications %}
              <ul>
                {% for seller_notification in seller_notifications %}
                  <li>{{ seller_notification }}</li>
                {% endfor %}
                <li style="display: block; overflow: auto;"><a href="{{ view_all }}">{{ text_view_all }}</a></li>
              </ul>
            {% endif %}
          </div>
          <hr/>
        {% endif %}
        {% if seller_product_reviews is defined and seller_product_reviews %}
          <div class="form-group">
            <ul style="display:inline-flex;margin-left:-8%;">
              <li class="dropdown-header" style="font-size:15px;"><b>{{ text_product }}</b></li>
              <li style="display: block; overflow: auto;margin-top:5px;">
                <a href="{{ view_all }}">
                  <span class="label label-warning" style="margin-right: 5px;">{{ product_stock_total }}</span>
                  {{ text_stock }}
                </a>
              </li>
              <li style="display: block; overflow: auto;margin-left:40px;margin-right:40px;margin-top:5px;">
                <a href="{{ view_all }}">
                  <span class="label label-success" style="margin-right: 5px;">{{ review_total }}</span>
                  {{ text_entry_review }}
                </a>
              </li>
              <li style="display: block; overflow: auto;margin-top:5px;">
                <a href="{{ view_all }}">
                  <span class="label label-danger" style="margin-right: 5px;">{{ approval_total }}</span>
                  {{ text_approval }}
                </a>
              </li>
            </ul>
            {% if seller_product_reviews is defined and seller_product_reviews %}
              <ul>
                {% for seller_product_review in seller_product_reviews %}
                  <li>{{ seller_product_review }}</li>
                {% endfor %}
                <li style="display: block; overflow: auto;">
                  <a href="{{ view_all ~ '&tab=product' }}">{{ text_view_all }}</a>
                </li>
              </ul>
            {% endif %}
          </div>
          <hr/>
        {% endif %}
        {% if seller_reviews is defined and seller_reviews %}
          <div class="form-group">
            <ul style="display:inline-flex;margin-left:-8%;">
              <li class="dropdown-header" style="font-size:15px;"><b>{{ text_entry_seller }}</b></li>
              <li style="display: block; overflow: auto;margin-right:40px;margin-top:5px;">
                <a href="{{ view_all }}">
                  <span class="label label-success" style="margin-right: 5px;">{{ seller_review_total }}</span>
                  {{ text_entry_review }}
                </a>
              </li>
            </ul>
            {% if seller_reviews is defined and seller_reviews %}
              <ul>
                {% for seller_review in seller_reviews %}
                  <li>{{ seller_review }}</li>
                {% endfor %}
                <li style="display: block; overflow: auto;"><a href="{{ view_all ~ '&tab=seller' }}">{{ text_view_all }}</a></li>
              </ul>
            {% endif %}
          </div>
        {% endif %}
        {% if (seller_notifications is not defined and seller_product_reviews is not defined and seller_reviews is not defined) or ( not seller_notifications and not seller_product_reviews and not seller_reviews ) %}
          <center><h4>{{ text_no_notification }}</h4></center>
        {% endif %}
      </div>

      <div class="modal-footer">
        <a href="{{ view_all }}" class="btn btn-primary button btn-submit"
           style="color:white;">{{ text_view_all_notificatins }}</a>
        <button type="button" class="btn btn-default button" data-dismiss="modal">{{ text_close }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<style type="text/css">
  #myModal-notification li {
  / / font-family: monospace;
  }

  /*	.modal-dialog {
          width: 500px;
      }*/
  .sellerBackground {
  {% if sellerProfile['backgroundcolor'] is defined and sellerProfile['backgroundcolor'] %}
    background-color: {{ sellerProfile['backgroundcolor'] }};
  {% else %}
    background-color: #FF4D45;
  {% endif %}
    height: 200px;
    text-align: center;
  }

  .seller_detail_stripe {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2);
    height: 30px;
    margin-top: 5px;
    width: 100%;
  }

  .seller_detail_stripe p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
  }

  .seller-dp {
    height: 100px;
    margin-top: 35px;
  }
</style>

<div class="modal fade" id="myModal-seller-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius:0px">
      <div class="modal-body" style="padding-top:0px">
        {% if launchModal is defined and launchModal and sellerProfile is defined and sellerProfile %}
          <div class="row">
            <div class="col-sm-12 sellerBackground" style="">
              <div class="seller-dp">
                <img src="{{ sellerProfile['avatar'] }}" alt="{{ sellerProfile['firstname'] ~ ' '  ~ sellerProfile['lastname'] }}"/>
              </div>
              <div class="seller_detail_stripe" style="">
                <p>{{ text_welcome ~ sellerProfile['firstname'] ~ ' ' ~ sellerProfile['lastname'] }}</p>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="row">
          <div class="col-sm-12">
            {% if lowStockProducts['products'] is defined and lowStockProducts['products'] %}
              <fieldset>
                <lagend>
                  <h3>{{ text_low_stock }}</h3>
                </lagend>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>{{ text_productname }}</th>
                      <th>{{ text_model }}</th>
                      <th class="text-right">{{ text_quantity }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lowStockProduct in lowStockProducts['products'] %}
                      <tr>
                        <td>{{ lowStockProduct['name'] }}</td>
                        <td>{{ lowStockProduct['model'] }}</td>
                        <td class="text-right">{{ lowStockProduct['quantity'] }}</td>
                      </tr>
                    {% endfor %}
                    {% if totalProductsLowStock is defined and totalProductsLowStock > 5 %}
                      <tr>
                        <td colspan="3"><a href="{{ moreProductUrl }}" class="btn btn-info btn-block">more</a></td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div> <!-- table responsive -->
              </fieldset> <!-- low stock field set -->
            {% endif %}
            <fieldset>
              <lagend>
                <h3>{{ text_most_viewed }}</h3>
              </lagend>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>{{ text_productname }}</th>
                    <th>{{ text_model }}</th>
                    <th class="text-right">{{ text_views }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% if mostViewedProducts is defined and mostViewedProducts %}
                    {% for mostViewedProduct in mostViewedProducts %}
                      <tr>
                        <td>{{ mostViewedProduct['name'] }}</td>
                        <td>{{ mostViewedProduct['model'] }}</td>
                        <td class="text-right">{{ mostViewedProduct['viewed'] }}</td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td class="text-center" colspan="3">{{ text_more_work }}</td>
                    </tr>
                  {% endif %}
                  </tbody>
                </table>
              </div>
            </fieldset> <!-- view fieldset -->
          </div> <!-- col-sm-12 -->
        </div> <!-- row -->
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-right">
              <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
                {{ text_close }}
              </button>
            </div>
          </div>
        </div> <!-- row -->
      </div> <!-- modal-body -->
    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal -->

<script>
  var launchModal =  {{ launchModal ? launchModal : 0 }};
  $(document).ready(function () {
    // $('#myModal-seller-info').modal();
    if (launchModal && window.innerWidth > 767) {
      $('#myModal-seller-info').modal();
    }
  });

  {% if partner is defined %}
  $(document).ready(function () {
    if ($('#content').hasClass('col-sm-12')) {
      $('.marketplace .row .product-seller').addClass('{{ addClass }}');
    }
  });
  {% endif %}

  {% if contact_mail and logged %}
  $('#send-mail').on('click', function () {
    f = 0;
    $('.alert').remove();
    $('#myModal-seller-mail input[type=\'text\'],#myModal-seller-mail textarea').each(function () {
      if ($(this).val() == '') {
        $(this).parent().addClass('has-error');
        f++;
      } else {
        $(this).parent().removeClass('has-error');
      }
    });

    if (f > 0) {
      $('#myModal-seller-mail .error').text('{{ text_error_mail }}').slideDown('slow').delay(2000).slideUp('slow');
    } else {
      $('#send-mail').addClass('disabled');
      $('#myModal-seller-mail').addClass('mail-procss');
      $('.alert-success').remove();
      $('#myModal-seller-mail .modal-body').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ text_success_mail }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

      $.ajax({
        url: '{{ send_mail }}',
        data: $('#seller-mail-form').serialize() + '{{ mail_for }}',
        type: 'post',
        dataType: 'json',
        complete: function () {
          $('#send-mail').removeClass('disabled');
          $('#myModal-seller-mail input,#myModal-seller-mail textarea').each(function () {
            if (this.type != 'hidden') {
              $(this).val('');
              $(this).text('');
            }
          });
        }
      });
    }
  });
  {% endif %}

</script>
<script type="text/javascript" src="catalog/view/javascript/layui/layui.all.js"></script>
<link rel="stylesheet" href="catalog/view/javascript/product_category/css/jquery-labelauty.css">
<script src="catalog/view/javascript/product_category/js/jquery-labelauty.js"></script>
<script>

  $(function () {
    // 初始化内容
    $("#product_all_list input").labelauty();
    var layer = layui.layer;

    var tips;
    $('.tips').on({
      mouseenter: function () {
        var that = this;
//        var text_date = $(that).attr('text-date');
//        var text_qty = $(that).attr('text-qty');
//        tips = layer.tips("<span style='color:#000;'>Date of next arrival:&nbsp;" + text_date + "</span><br/><span style='color:#000;'>Estimated quantity of next arrival:&nbsp;" + text_qty + "</span>", that,
//          {tips: [2, '#fff'], time: 4000});
        $(that).next().show();
      },
      mouseleave: function () {
//        setTimeout(function () {
//          layer.close(tips);
//        }, 1000);
        var that = this;
        $(that).next().hide();

      }
    });
    var screenname;
    $('.screenname').on({
      mouseenter: function () {
        var that = this;
        $(this).children().eq(0).css('text-decoration', 'underline');
        $(this).children().css("cursor", "pointer");
        var qa_rate = $(this).attr('qa_rate');
        var seller_id = $(this).attr('seller_id');
        var sku = $(this).attr('sku');
        var return_approval_rate = $(this).attr('return_approval_rate');
        if (return_approval_rate == '0') {
          //这是没有ma的
          var approval_rate_show = 'N/A' + '&nbsp;<i class="giga icon-V10-wenhaotishi"  data-toggle="tooltip" style="" title="No RMA records." ></i>';
        } else {
          //验证 return_approval_rate
          if (parseFloat(return_approval_rate) > 90) {
            var approval_rate_show = 'High';
          } else if (parseFloat(return_approval_rate) > 60) {
            var approval_rate_show = 'Moderate';
          } else {
            var approval_rate_show = 'Low';
          }

        }

        var html = '<div style="float: left;color: #666666;padding: 10px 10px 10px 10px;">' +
          //            '<div style="float: left;margin: 5px 0 5px 0;">Q&A Rate:&nbsp;'+qa_rate+'%</div><br/>' +
          '<div style="float: left;margin: 5px 0 10px 0;">Return Approval Rate:&nbsp;' + approval_rate_show + '</div><br/>' +
          '<div style="float: left;border-top: 1px solid #eee;margin-bottom: 10px;width: 100%">' +
          '<button type="button" class="btn  btn-block" style="background-color: #FF7519;color: white;border-radius: 4px;margin-top: 10px;height: 35px;" onclick="getSeller(' + seller_id + ')" >Store' + "'" + 's Home Page</button>' +
          '<button type="button" class="btn  btn-block" style="background-color: white;color: #FF7519;border-radius: 4px;margin-top: 10px;border: 1px solid  #FF7519;height: 35px;"  onclick="getSellerContact(' + seller_id + ',' + "'" + sku + "'" + ')" >Contact Now</button>' +
          '</div></div>';
        screenname = layer.tips(html, that, {tips: [3, '#fff'], time: 5000, area: ['auto', 'auto']});
        $('[data-toggle="tooltip"]').tooltip();


      },
      mouseleave: function () {
        $(this).children().eq(0).css('text-decoration', "none");


      }
    });

    
    $(".to_store_home").click(function (ev) {
      if (ev.target != this) {
        return;
      } else {
        var seller_id = $(this).attr("seller_id");
        getSeller(seller_id);
      }
    });
  });

  function getSellerContact(seller_id, sku) {
    //window.location.href = 'index.php?route=customerpartner/profile&id=' + seller_id + '&itemCode=' + sku + '&contact=1';
    var url = 'index.php?route=message/seller/addMessage&receiver_id=' + seller_id + '&item_code=' + sku;
    window.open(url,'_blank');
  }
</script>
