{# 以下引入是日期范围选择器 #}
{{ js(['js/common/dateRangePicker.js']) }}
{{ css(['css/common/dateRangePicker.css']) }}

{{ js(['js/common/orisComponents.js']) }}


<nav id="message-column-top" class="msg_box">
  <div class="nav-oris">
    <div class="row">
      <div class="col-md-12">
        <ul id="message-menu" class="nav nav-tabs">
          {% for menu in messageMenus %}
            <li {% if menu.id == checked_btn_id %} class="active" {% endif %}>
              <a href="{{ menu.href }}" title="{{ menu.name }}">
                {{ menu.name }}
                {% if(menu.unread) %}
                  {% if menu.unread > 99 %}
                    <span class="number tab-number">99+</span>
                  {% else %}
                    <span class="number tab-number">{{ menu.unread }}</span>
                  {% endif %}
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
<style>
  .table-responsive {
    overflow-x: initial;
  }
</style>