{% trans_default_category 'catalog/view/account/message_center/setting/my_complain_detail' %}

{{ this.title('修改标题') }}
{{ css(['static/account/message_center/setting/my_complain_detail.css']) }}

{# 消息中心样式引用 #}
<link rel="stylesheet" type="text/css" href="public/css/common/common.css">
<link rel="stylesheet" type="text/css" href="public/css/common/common-ext.css">
<link rel="stylesheet" type="text/css" href="public/static/message/message-common.css">
<link rel="stylesheet" type="text/css" href="public/static/message/buyer-message-common.css">
<link rel="stylesheet" type="text/css" href="public/static/message/setting/suggest.css">

<style>
#page-my_complain_detail p {
  margin-top: 0px;
}

#page-my_complain_detail .msg-detailldialog__label {
  display: inline-block;
  margin-bottom: 5px;
}

#page-my_complain_detail .textd {
  font-size: 14px;
}

#page-my_complain_detail .msg-detaildialog__card {
  font-size: 14px;
}

</style>

<div id="page-my_complain_detail">
  <div class="talk-list complain-container">
    {# @TODO 替换数据 #}
    <div class="talk clearfix msgcent msg-detaildialog__item">
      <div class="msgcent msg-detaildialog__logo msg-detaildialog-l">
        {% if body.sender_id == -1 %}
          <img src="{{ asset('image/icons/chat/gigi-help-desk.png') }}" alt="">
        {% else %}
          {% if chat_object_avatar %}
              <img src="{{ chat_object_avatar }}" alt="">
          {% else %}
              <img src="{{ asset('image/icons/chat/seller.png') }}" alt="">
          {% endif %}
        {% endif %}
      </div>
      <div class="msgcent msg-detaildialog__card-container msg-detaildialog-l" style="margin-bottom:36px;">
        <div class="msgcent msg-detaildialog__card">
          <div class="subject-content  flbg">
            <label class="msg-detailldialog__label">Subject:</label>
            <p class="textd">{{ body.0.subject }}</p>
            <label class="msg-detailldialog__label mt-8">Messages:</label><br>
            <table class="tablep">{{ body.0.content }}</table>{# 数据中有缺失table结束标签的 #}
            <div class="attachment" style="margin-top: 12px;">
              {% if body.0.files %}
                {% for file in body.0.files %}
                  <a href="{{ file.url }}"><i class="giga icon-attachment" aria-hidden="true"></i>&nbsp;{{ file.name }}</a>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="msgcent msg-detaildialog__cardtime">
          {{ body.0.post_time }}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.complain-container {
  padding-top: 24px;
  padding-left: 24px;
}
</style>
