{% trans_default_category 'catalog/view/customerpartner/marketing_campaign/discount/index' %}
{{ this.title(__('限时限量活动详情')) }}
{{ this.params('breadcrumbs', [
{
text: __('促销活动', {}, 'catalog/seller_menu'),
href: 'javascript:void(0);',
},
{
text: __('限时限量活动'),
href: url('customerpartner/marketing_campaign/discount_tab/index#limitedSalesPromtions')
},
'current'
]) }}
{{ this.params('pageTitle', {
backUrl: false
}) }}
{{ this.params('title', this.getTitle()) }}
{{ css('static/customerpartner/marketing_campaign/discount/limited-salesp-detail.css') }}
{{ js(['js/common/mathematical.js']) }}
{# 批量设置弹框 #}
{% include
'yzcTheme/template/customerpartner/marketing_campaign/discount/components/limited_sales_promotions_add_batchset.twig'
%}
<div id="limitedSalespView" class="limited-salesp-view">
  <div class="ls-keys">
    <div class="keys-title">
      <span class="p24-r">{{__('活动信息')}}</span>
      <span class="text-size-normal text-weight-normal pos-rela">
        <span class="circle-bg {{ discount_detail.color_status_name }}"></span>
        <span class="oris-circle {{ discount_detail.color_status_name }}"></span>
        <span>{{discount_detail.effective_status_name}}</span>
      </span>
      <span class="rules-btn" id="rulesBtn">{{__('活动规则说明')}}</span>
    </div>
    <div class="keys-content">
      <div class="oris-row">
        <span class="item-key">{{__('活动名称')}}:</span>
        <span>{{discount_detail.name}}</span>
      </div>
      <div class="oris-row">
        <span class="item-key">{{__('活动链接')}}:</span>
        <span>{{discount_detail.discount_link}}</span>
      </div>
      <div class="oris-row">
        <div class="oris-col-6 flex-default">
          <span class="item-key">{{__('活动有效期间')}}:</span>
          <span>{{discount_detail.effective_time}} - {{discount_detail.expiration_time}}</span>
          &nbsp;<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{__('当地时间')}}"></i>
        </div>
        <div class="oris-col-6">
          <span class="item-key">{{__('交易方式')}}:</span>
          <span>{{discount_detail.transaction_type_format}}</span>
        </div>
      </div>
      <div class="oris-row">
        <div class="oris-col-6">
          <span class="item-key">{{__('最低购买量')}}:</span>
          <span>{{discount_detail.low_qty}}</span>
        </div>
        <div class="oris-col-6 flex-default">
          <span class="item-key">{{__('活动展示')}}:</span>
          <span class="flex1 flex-default">
            <span>
              <input type="checkbox" class="oris-checkbox" disabled {% if discount_detail.store_nav_show %} checked {%
              endif %}>{{__('店铺导航栏菜单')}}
              <i class="giga icon-V10-wenhaotishi m24-r-i nav-show-icon">
                <img src="public/static/customerpartner/marketing_campaign/discount/limited_salesp_show.jpg">
              </i>
            </span>
            <span class="flex1 just-flex">
              <input type="checkbox" class="oris-checkbox top4" disabled {% if discount_detail.pre_hot %} checked {% endif %}>
              <span>{{__('开始前24小时预热展示')}}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{__('提前在店铺导航栏菜单展示入口，且参与平台活动预热，预热期间不可修改或停止活动。')}}">
                </i>
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ls-products">
    <div class="products-title">
      <span>{{__('活动产品')}}</span>
      <span class="prod-subtitle">
        {{__('共计:num个产品',{num: "<span class=num>"~discount_detail.products|length~"</span>" })}}
      </span>
      <span class="prod-btns">
        <button type="button" class="oris-button oris-button-default action-edit" id="batchSetBtn">{{__('批量设置')}}</button>
      </span>
    </div>
    <div class="prod-table">
      <table class="oris-table" id="prodTable">
        <thead>
          <tr>
            <th class="text-left oris-w220">Item Code / MPN</th>
            <th class="text-right oris-w120">{{__('当前价格')}}</th>
            <th class="text-right oris-w120">{{__('近90天均价')}}</th>
            <th class="text-right oris-w160 p40-r-i">{{__('折后价')}}</th>
            <th class="oris-w120">{{__('折扣')}}
              <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{__('若近90天均价低于当前价格时，折扣需大于等于【1-（近90天均价/当前价格）*100%】')}}">
              </i>
            </th>
            <th class="oris-w120">{{__('活动库存')}}
              <i class="giga icon-V10-wenhaotishi oris-tooltip" data-toggle="tooltip" title="{{__('a. 活动库存是活动可售卖的最大数量，活动开始后该库存将会被锁定仅用于活动购买，为了不影响非活动交易方式的正常售卖，请设置该库存小于上架库存。<br>b. 活动库存售完时，产品会自动退出活动。活动结束后，剩余活动库存将解除锁定。')}}">
              </i>
            </th>
            <th class="oris-w120">{{__('剩余活动库存')}}</th>
            {% if discount_detail.effective_status == 2 %}
            <th class="oris-w120">{{__('上架库存')}}
              <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{__('不含活动锁定')}}">
              </i>
            </th>
            {% endif %}
            <th class="oris-w100 action-edit">{{__('补充活动库存')}}</th>
            {% if discount_detail.effective_status == 2 %}
            <th class="oris-w100">{{__('操作')}}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody id="prod-tbody">
          {% for one in discount_detail.products %}
          <tr class="action-prods">
            <td class="text-left">
              <div class="image-td">
                <a class="{% if one.unavaliable %}unaval-image{% endif %}" target="_blank" href="index.php?route=product/product&product_id={{one.product_id}}">
                  <img class="pro-image" src="{{one.image}}" title="{{one.name}}" />
                </a>
                <a target="_blank" href="index.php?route=product/product&product_id={{one.product_id}}">
                  <span class="tags-image">
                    <text class="max-line1 oris-link" title="{{one.sku}}">{{one.sku}}</text>
                    <span class="just-flex">{{one.tags}}</span>
                  </span>
                  <span class="max-line2 oris-link" title="{{one.mpn}}">{{one.mpn}}</span>
                </a>
              </div>
            </td>
            <td class="text-right">{{one.price|formatPrice(one.currency)}}</td>
            <td class="text-right">{{one.ninety_days_average_price|formatPrice(one.currency)}}</td>
            <td class="text-right p40-r-i">{{ one.after_discount_price|formatPrice(one.currency) }}</td>
            <td>{{100-one.discount}}% OFF</td>
            <td>{{one.origin_qty}}</td>
            <td>
              {# 可移出提示 #} 
              {% if discount_detail.effective_status == 2 and one.status !=10 and one.qty < discount_detail.low_qty %}
              <span class="text-danger">
                <span class="low-qty-popover" data-placement="bottom" data-html="true" 
                      data-content="<div class='low-pop-html'>{{__('剩余活动库存小于最低购买量，请补充库存或将该产品<span class=action-moveout data-prodId=:id>移出</span>活动。', {'id': one.product_id})}}</div>">{{one.qty}}
                </span>
              </span>
              {% else %}
                {{one.qty}}
              {% endif %}
            </td>
            {% if discount_detail.effective_status == 2 %}
            <td>{{one.quantity}}</td>
            {% endif %}
            <td class="action-edit">
              {% if one.status != 10 %}
              <input type="number" class="oris-input stock-input no-spin action-qty" data-id="{{one.id}}" />
              <div class="action-danger"></div>
              {% endif %}
            </td>
            {% if discount_detail.effective_status == 2 %}
            <td>
              {% if one.status == 10 %}
              <span class="tips-color">{{__('已移出')}}</span>
              {% elseif one.qty < discount_detail.low_qty %}
              <button type="button" class="oris-button oris-button-default action-moveout remove-btn"
                      data-prodId="{{one.product_id}}">{{__('移出')}}</button>
              {% endif %}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if discount_detail.effective_status == 2 %}
      <div class="text-center prod-footer" id="prodFooter">
        <button type="button" class="oris-button action-add">{{__('补库存')}}</button>
        <span class="action-edit">
          <button type="button" class="oris-button oris-button-default action-cancel">{{__('取消')}}</button>
          <button type="button" class="oris-button action-create-btn">{{__('提交')}}</button>
        </span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% apply script %}
<script type="text/javascript">
const DISCOUNT_REG = new RegExp(/^[1-9][0-9]{0,1}$/); // 1-99 正整数正则
var limitedSalespView = {
  data: {{ discount_detail | json_encode }},
  tips: {
    rules: ["{{__('1. 同一时间只可设置一个限时限量活动；同一时间既有限时限量活动又有全店折扣活动，以折扣最大的活动结算。')}}",
      "{{__('2. 返点、专享价、通过议价达成的协议不参与折扣活动。')}}",
      "{{__('3. 参与限时限量促销的产品，折扣后公开价需小于或等于近90天公开价均价。')}}",
      "{{__('4. 活动开始后直到活动结束，中间无法进行停止，请谨慎操作！活动期间支持补充活动库存。')}}",
      "{{__('5. 屡次恶意抬价后促销的店铺会被限制使用：在一段的时间内不允许进行店铺活动的创建、编辑等操作。')}}"
    ],
    counts: "{{__('请至少设置一个产品的补充库存')}}",
    addSuccess: "{{__('提交成功')}}",
    moveout: "{{__('是否将该产品移出活动？<br>移出后，产品将不再参与活动，锁定的活动库存将被释放！')}}",
    moveoutSuccess: "{{__('移出成功')}}"
  },
  bindEvent: function() {
    $('#limitedSalespView').on('click', '#rulesBtn', function() {
      // 查看活动说明
      let rule = limitedSalespView.tips.rules.join('<br>');
      layer.confirm(rule, {
        title: "{{__('活动规则说明')}}",
        skin: 'oris-layer',
        area: ['600px', 'auto'], //宽高
        btn: [],
        scrollbar: false
      });
    }).on('click', '.action-add', function() {
      // 补充库存
      $(this).hide();
      $('.action-edit').show();
    }).on('click', '.action-cancel', function() {
      $('.action-edit').hide();
      $('.action-add').show();
    }).on('click', '#batchSetBtn', function() {
      // 批量设置按钮
      $('#batchSetModal').modal();
    }).on('blur', '.action-qty', function() {
      // 补库存
      let qty = $(this).val();
      let index = limitedSalespView.data.products.findIndex(item => item.id == $(this).attr('data-id'));
      limitedSalespView.validQty($(this), index);
    }).on('click', '.action-create-btn', function() {
      // 提交补库存
      limitedSalespView.submitAddQty();
    }).on('click', '.action-moveout', function() {
      // 移出
      limitedSalespView.moveOut($(this).attr('data-prodId'));
    })
  },
  // 校验库存
  validQty: function($el, index) {
    let qty = $el.val();
    let result = false;
    if (index < 0) {
      return true;
    }
    let maxQty = limitedSalespView.data.products[index]['quantity'] || 0;
    let myQty = null;
    let $td = $el.closest('td');
    if (qty > maxQty) {
      $td.find('input').addClass('danger-border');
      $td.find('.action-danger').addClass('text-danger').html(`{{__('不可高于:num', {'num': '${maxQty}'})}}`);
      result = true;
    } else {
      myQty = qty;
      $td.find('input').removeClass('danger-border');
      $td.find('.action-danger').addClass('text-danger').html('');
    }
    limitedSalespView.data.products[index]['add_qty'] = myQty;
    return result;
  },
  toggleFixedFooter: function() {
    let $el = $('#prodTable'); // 目标对象
    let vHeight = document.documentElement.clientHeight;
    let scrollTop = document.documentElement.scrollTop;
    let toBottom = vHeight + scrollTop - $el.offset().top - $el.height();
    if (toBottom < 90) {
      $('#prodFooter').addClass('fixed-footer');
    } else {
      $('#prodFooter').removeClass('fixed-footer');
    }
  },
  // 监听footer距离底部距离吸低显示
  watchScrollResize: function() {
    $(window).scroll(function() {
      limitedSalespView.toggleFixedFooter();
    }).resize(function() {
      limitedSalespView.toggleFixedFooter();
    })
  },
  submitAddQty: function() {
    let result = false;
    let addQtyCount = 0; // 至少设置一个补充活动库存
    limitedSalespView.data.products.forEach((one, index) => {
      let el = $('#prod-tbody').find('tr.action-prods')[index];
      let $qty = $(el).find('.action-qty');
      result = limitedSalespView.validQty($qty, index) || result;
      if ($qty.val()) {
        addQtyCount++;
      }
    })
    if (addQtyCount === 0) {
      return layer.msg(limitedSalespView.tips.counts);
    }
    if (!result) {
      limitedSalespView.addService();
    }
  },
  addService: function() {
    block.blockUI();
    let params = {
      time_limit_id: limitedSalespView.data.id,
      products: []
    }
    limitedSalespView.data.products.forEach(one => {
      if (one['add_qty']) {
        params.products.push({
          'product_id': one['product_id'],
          'qty': one['add_qty']
        })
      }
    })
    $.ajax({
      url: '/index.php?route=customerpartner/marketing_campaign/time_limit_discount/incrDiscountStockQty',
      data: params,
      method: 'post',
      cache: false,
      dataType: 'json',
      beforeSend: function() {
        // 禁用btn
        $('.action-create-btn').on('click.disable', false);
      },
      success: function(res) {
        if (res.code == 200) {
          block.unBlockUI();
          $.toast({
            heading: false,
            text: limitedSalespView.tips.addSuccess,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
          window.location.reload();
        } else {
          block.unBlockUI();
          $.toast({
            heading: false,
            text: res.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        }
        $('.action-create-btn').off('click.disable');
      }
    })
  },
  moveOut: function(prodId) {
    layer.confirm(limitedSalespView.tips.moveout, {
      title: "{{__('确认confirm')}}",
      skin: 'oris-layer',
      btn: ["{{__('确认')}}", "{{__('取消')}}"],
      scrollbar: false
    }, function(index) {
      layer.close(index);
      limitedSalespView.moveoutService(prodId);
    }, function(index) {
      layer.close(index);
    });
  },
  moveoutService: function(prodId) {
    block.blockUI();
    $.ajax({
      url: '/index.php?route=customerpartner/marketing_campaign/time_limit_discount/releaseDiscountStockQty',
      data: {
        time_limit_id: limitedSalespView.data.id,
        product_id: prodId
      },
      method: 'post',
      cache: false,
      dataType: 'json',
      success: function(res) {
        if (res.code == 200) {
          block.unBlockUI();
          $.toast({
            heading: false,
            text: limitedSalespView.tips.moveoutSuccess,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
          window.location.reload();
        } else {
          block.unBlockUI();
          $.toast({
            heading: false,
            text: res.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        }
      }
    })
  }
}

function submitBatchSet(data) {
  let $prodTr = $('#prod-tbody').find('tr.action-prods'); // 产品行
  $prodTr.each((index, item) => {
    if (data.stockTypeInputVal) {
      // 批量设置活动库
      let $el = $(item).find('.action-qty');
      let avalQty = limitedSalespView.data.products[index]['quantity']; // 上架库存
      let qty = data.stockType == 1 ? (avalQty * data.stockTypeInputVal / 100).toFixed(0) : data.stockTypeInputVal;
      $el.val(qty);
      limitedSalespView.validQty($el, index);
    }
  })
};
$(() => {
  limitedSalespView.bindEvent();
  limitedSalespView.watchScrollResize();
  $('.oris-tooltip').tooltip({html: true});
  // 剩余活动库存可移出弹框提示
  $(".low-qty-popover").popover({
    trigger: "hover",
    html: true,
    animation: false,
    delay: { hide: 100 }
  }).on('shown.bs.popover', function(event) {
    let that = this;
    $(this).parent().find('div.popover').on('mouseenter', function() {
      $(that).attr('in', true);
    }).on('mouseleave', function() {
      $(that).removeAttr('in');
      $(that).popover('hide');
    });
  }).on('hide.bs.popover', function(event) {
    if ($(this).attr('in')) {
      event.preventDefault();
    }
  })
})
</script>
{% endapply %}