{% trans_default_category 'catalog/view/customerpartner/marketing_campaign/discount/index' %}
{# 新增和查看限时限量活动===>批量设置弹框 #}
<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" id="batchSetModal">
  <div class="modal-dialog oris-modal h-v-center batch-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="giga icon-V10_danchuangguanbi close-icon"></i>
        </button>
        <div class="modal-title">{{__('批量设置')}}</div>
      </div>
      <div class="modal-body">
        {# 新增和编辑时允许显示折扣设置 #}
        {% if not discount_detail.id or (discount_detail.id and discount_detail.effective_status == 4) %}
        <div class="p8-tb">{{__('折扣')}}</div>
        <div class="oris-row pos-rela">
          <input type="number" id="modalDisount" class="oris-input no-spin" autocomplete="off" />
          <span class="off-right">% OFF</span>
          <div class="text-danger"></div>
        </div>
        {% endif %}
        <div class="p8-tb full-width">
              {% if not discount_detail.id or (discount_detail.id and discount_detail.effective_status == 4) %}
              {{__('活动库存')}}
              {% else %}
              {{__('补充活动库存1')}}
              {% endif %}
        </div>
        <div class="oris-row p14-b">
          <div class="oris-col-6 flex-layout">
            <input type="radio" name="stockType" class="oris-radio-mini pointer" value="1" checked onclick="batchSetModal.selectBatchType(1)" />
            <span class="pointer" onclick="batchSetModal.selectBatchType(1)">{{__('上架库存百分比')}}</span>
          </div>
          <div class="oris-col-6 flex-layout">
            <input type="radio" name="stockType" class="oris-radio-mini pointer" value="0" onclick="batchSetModal.selectBatchType(0)" />
            <span class="pointer" onclick="batchSetModal.selectBatchType(0)">{{__('数值')}}</span>
          </div>
        </div>
        <div class="oris-row pos-rela" id="modalPercent">
          <input type="number" class="oris-input no-spin" autocomplete="off" />
          <span class="per-right">%</span>
          <div class="action-danger"></div>
          <div class="icon-color">
            {% if not discount_detail.id or (discount_detail.id and discount_detail.effective_status == 4) %}
              {{__('以上架库存等比设置活动库存，若有小数四舍五入处理')}}
            {% else %}
              {{__('以上架库存等比设置补充活动库存，若有小数四舍五入处理')}}
            {% endif %}
          </div>
        </div>
        <div class="oris-row none" id="modalNum">
          <input type="number" class="oris-input no-spin" autocomplete="off" />
          <div class="action-danger"></div>
          <div class="icon-color">
            {% if not discount_detail.id or (discount_detail.id and discount_detail.effective_status == 4) %}
              {{__('以输入的数值设置活动库存')}}
            {% else %}
              {{__('以输入的数值设置补充活动库存')}}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button type="button" class="oris-button oris-button-default" data-dismiss="modal">{{__('取消')}}</button>
          <button type="button" class="oris-button modal-new-btn-disabled" id="batchSubmit">{{__('提交')}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% apply script %}
<script type="text/javascript">
var batchSetModal = {
  tipsData: {
    allno: "{{__('请至少设置一项')}}",
    discount: "{{__('请输入1-99的正整数')}}",
    num: "{{__('请输入正整数')}}"
  },
  bindEvent: function() {
    let stockType = $('input:radio[name=stockType]:checked').val();
    $('body').on('keyup', '.oris-input[type=number]', function() {
      $(this).val($(this).val().replace(/^(0+)|[^\d]+/g, ''));
    })
    $('#batchSetModal').on('click', '#batchSubmit', function() {
      // 提交
      batchSetModal.validSubmit();
    }).on('blur', '#modalDisount', function() {
      batchSetModal.validModalDiscount($(this).val());
    }).on('blur', '#modalPercent', function() {
      let perInputVal = $(this).find('input').val();
      batchSetModal.validModalPercent(stockType, perInputVal);
    }).on('blur', '#modalNum', function() {
      let numInputVal = $(this).find('input').val();
      batchSetModal.validModalNum(stockType, numInputVal)
    })
  },
  selectBatchType: function(type) {
    if (type == 1) {
      $('#batchSetModal').find('input[name=stockType][value=1]').prop('checked', true);
      $('#batchSetModal').find('input[name=stockType][value=0]').prop('checked', false);
      $('#modalPercent').show();
      $('#modalNum').hide();
    } else {
      $('#batchSetModal').find('input[name=stockType][value=1]').prop('checked', false);
      $('#batchSetModal').find('input[name=stockType][value=0]').prop('checked', true);
      $('#modalPercent').hide();
      $('#modalNum').show();
    }
  },
  validModalDiscount: function(discount) {
    var result = false;
    if (discount && !DISCOUNT_REG.test(discount)) {
      $('#modalDisount').addClass('danger-border').siblings('.text-danger').html(batchSetModal.tipsData.discount);
      return true;
    }
    $('#modalDisount').removeClass('danger-border').siblings('.text-danger').html('');
    return result;
  },
  validModalPercent: function(stockType, perInputVal) {
    var result = false;
    // 校验活动库存：百分比
    if (stockType == 1 && perInputVal && !DISCOUNT_REG.test(perInputVal)) {
      $('#modalPercent').find('input').addClass('danger-border');
      $('#modalPercent').find('.action-danger').addClass('text-danger').html(batchSetModal.tipsData.discount);
      return true;
    }
    $('#modalPercent').find('input').removeClass('danger-border');
    $('#modalPercent').find('.action-danger').removeClass('text-danger').html('');
    return result;
  },
  validModalNum: function(stockType, numInputVal) {
    var result = false;
    // 校验活动库存：数值
    if (stockType == 0 && numInputVal && numInputVal < 1) {
      $('#modalNum').find('input').addClass('danger-border');
      $('#modalNum').find('.action-danger').addClass('text-danger').html(batchSetModal.tipsData.num);
      return true;
    }
    $('#modalNum').find('input').removeClass('danger-border');
    $('#modalNum').find('.action-danger').removeClass('text-danger').html('');
    return result;
  },
  validSubmit: function() {
    let discount = $('#modalDisount').val();
    let stockType = $('input:radio[name=stockType]:checked').val();
    let perInputVal = $('#modalPercent').find('input').val();
    let numInputVal = $('#modalNum').find('input').val();
    let stockTypeInputVal = stockType == 1 ? perInputVal : numInputVal;
    // 校验：若两项均未设置时
    if (!discount && !stockTypeInputVal) {
      $('#batchSetModal').find('.text-danger').html('');
      $('#batchSetModal').find('input').removeClass('danger-border');
      return layer.msg(batchSetModal.tipsData.allno);
    }
    if (batchSetModal.validModalDiscount(discount)) {
      return;
    }
    if (batchSetModal.validModalPercent(stockType, perInputVal)) {
      return;
    }
    if (batchSetModal.validModalNum(stockType, numInputVal)) {
      return;
    }
    // 提交数据 调用主页面的方法
    let data = {
      'discount': discount,
      'stockType': stockType,
      'stockTypeInputVal': stockTypeInputVal
    }
    submitBatchSet(data);
    $('#batchSetModal').modal('hide');
    $.toast({
      heading: false,
      text: "{{__('设置成功')}}",
      position: 'top-center',
      showHideTransition: 'fade',
      icon: 'success',
      hideAfter: 3000,
      allowToastClose: false,
      loader: false,
    });
  }
}
$(() => {
  batchSetModal.bindEvent();
})
</script>
{% endapply %}