{% trans_default_category 'catalog/view/customerpartner/marketing_campaign/discount/index' %}
{% if not discount_detail %}
{{ this.title(__('添加限时限量活动')) }}
{% else %}
{{ this.title(__('编辑限时限量活动')) }}
{% endif %}
{{ this.params('breadcrumbs', [
{
text: __('促销活动', {}, 'catalog/seller_menu'),
href: 'javascript:void(0);',
},
{
text: __('限时限量活动'),
href: url('customerpartner/marketing_campaign/discount_tab/index#limitedSalesPromtions')
},
'current'
]) }}
{{ this.params('pageTitle', {
backUrl: false
}) }}
{{ this.params('title', this.getTitle()) }}
{{ js(['js/common/toolString.js']) }}
{{ css('static/customerpartner/marketing_campaign/discount/limited-salesp-detail.css') }}
{{
cssOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css','catalog/view/javascript/datetimepicker/css/bootstrap-datetimepicker.min.css'])
}}
{{
jsOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js','catalog/view/javascript/datetimepicker/bootstrap-datetimepicker.min.js'])
}}
{# 批量设置弹框 #}
{% include
'yzcTheme/template/customerpartner/marketing_campaign/discount/components/limited_sales_promotions_add_batchset.twig'
%}
<div id="limitedSalespAdd" class="limited-salesp-add">
  <div class="ls-desc">
    <span class="ls-desc-first">
      <article>
        {{__('1. 同一时间只可设置一个限时限量活动；同一时间既有限时限量活动又有全店折扣活动，以折扣最大的活动结算。')}}
      </article>
      <span class="link-color more-i" id="actionMore">{{__('展开')}}&nbsp;<i class="giga icon-V10_shouyeyouxiadown"></i></span>
    </span>
    <div>
      {{__('2. 返点、专享价、通过议价达成的协议不参与折扣活动。')}}<br>
      {{__('3. 参与限时限量促销的产品，折扣后公开价需小于或等于近90天公开价均价。')}}<br>
      {{__('4. 活动开始后直到活动结束，中间无法进行停止，请谨慎操作！活动期间支持补充活动库存。')}}<br>
      {{__('5. 屡次恶意抬价后促销的店铺会被限制使用：在一段的时间内不允许进行店铺活动的创建、编辑等操作。')}}
      <span class="link-color" id="actionPackup">&nbsp;{{__('收起')}}&nbsp;<i class="giga icon-V10_shouyeyouxiaTOP"></i></span><br>
    </div>
  </div>
  <div class="ls-keys">
    <div class="keys-title">{{__('活动信息')}}</div>
    <div class="keys-content">
      <div class="oris-row">
        <div>
          <label class="text-weight-normal">
            {{__('活动名称')}}:
            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{__('不在前台显示，Buyer不可见')}}"></i>
          </label>
          <input type="text" id="keyName" class="oris-input" autocomplete="off" onkeyup="limitedSalespAdd.changeName(this)" 
                 value="{{discount_detail.name}}"/>
          <div class="text-danger"></div>
        </div>
      </div>
      <div class="oris-row">
        <div class="oris-col-6">
          <label class="text-weight-normal">{{__('活动有效期间')}}:
            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{__('当地时间')}}"></i>
          </label>
          <div class="oris-ingroup">
            <span class="flex1">
              <input type="text" placeholder="From" value="" id="keyDateFrom" class="oris-input" autocomplete="off"/>
              <div class="text-danger"></div>
            </span>
            <span class="date-to"></span>
            <span class="flex1">
              <input type="text" placeholder="To" value="" id="keyDateTo" class="oris-input" autocomplete="off" />
              <div class="text-danger"></div>
            </span>
          </div>
        </div>
        <div class="oris-col-6 oris-select">
          <label class="text-weight-normal">{{__('交易方式')}}:
            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{__('仅勾选的交易方式参与活动')}}"></i>
          </label>
          <select class="selectpicker" multiple id="keyTransactionType" title="">
            {% for one in transaction_type_list %}
            <option value="{{one.transaction_type_id}}">{{one.transaction_type_name}}</option>
            {% endfor %}
          </select>
          <div class="text-danger"></div>
        </div>
      </div>
      <div class="oris-row">
        <div class="oris-col-6">
          <label class="text-weight-normal">{{__('最低购买量')}}:
            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{__('单个产品最低购买量')}}"></i>
          </label>
          <input type="number" id="keyCount" class="oris-input no-spin" autocomplete="off" value="{{discount_detail.low_qty}}"/>
          <div class="text-danger"></div>
        </div>
        <div class="oris-col-6">
          <label class="text-weight-normal">{{__('活动展示')}}:</label>
          <div class="flex-default m06-t">
            <span>
              <input type="checkbox" class="oris-checkbox" name="storeNavShow" checked>{{__('店铺导航栏菜单')}}
              <i class="giga icon-V10-wenhaotishi m24-r-i nav-show-icon">
                <img src="public/static/customerpartner/marketing_campaign/discount/limited_salesp_show.jpg">
              </i>
            </span>
            <span class="flex1 just-flex">
              <input type="checkbox" class="oris-checkbox top4" name="preHot">
              <span>{{__('开始前24小时预热展示')}}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{__('提前在店铺导航栏菜单展示入口，且参与平台活动预热，预热期间不可修改或停止活动。')}}">
                </i>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ls-products">
    <div class="products-title">
      <span>{{__('活动产品')}}</span>
      <span class="prod-subtitle">
        {{__('已选择:num个，还可选择:count个',{'num':'<span id="selectedNum" class="num"></span>', 'count': '<span id="selectCount" class="num"></span>'})}}&nbsp;&nbsp;
        <span class="link-color underline-hover pointer" id="addProduct">+&nbsp;{{__('添加产品')}}</span>
      </span>
      <span class="prod-btns">
        <button type="button" class="oris-button oris-button-default" id="batchSetBtn">{{__('批量设置')}}</button>
      </span>
    </div>
    <div class="prod-table">
      <table class="oris-table" id="prodTable">
        <thead>
          <tr>
            <th class="text-left oris-w220">Item Code / MPN</th>
            <th class="text-right oris-w120">{{__('当前价格')}}</th>
            <th class="text-right oris-w120">{{__('近90天均价')}}</th>
            <th class="text-right oris-w160 p40-r-i">{{__('折后价')}}</th>
            <th class="text-left oris-w120">{{__('折扣')}}
              <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{__('若近90天均价低于当前价格时，折扣需大于等于【1-（近90天均价/当前价格）*100%】')}}">
              </i>
            </th>
            <th class="oris-w120">{{__('上架库存')}}</th>
            <th class="oris-w120">{{__('活动库存')}}
              <i class="giga icon-V10-wenhaotishi oris-tooltip" data-toggle="tooltip" title="{{__('a. 活动库存是活动可售卖的最大数量，活动开始后该库存将会被锁定仅用于活动购买，为了不影响非活动交易方式的正常售卖，请设置该库存小于上架库存。<br>b. 活动库存售完时，产品会自动退出活动。活动结束后，剩余活动库存将解除锁定。')}}">
              </i>
            </th>
            <th class="oris-w100">{{__('操作')}}</th>
          </tr>
        </thead>
        <tbody id="prod-tbody">
          <tr class="no-records">
            <td colspan="8">{{__('请至少选择一个产品')}}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center prod-footer" id="prodFooter">
        <button type="button" class="oris-button oris-button-default action-cancel">{{__('取消')}}</button>
        <button type="button" class="oris-button action-create-btn">{{__('提交')}}</button>
      </div>
    </div>
  </div>
</div>
{% apply script %}
<script type="text/javascript">
const MAX_CHOOSED_RPODUCTS = 40;
const DISCOUNT_REG = new RegExp(/^[1-9][0-9]{0,1}$/); // 1-99 正整数正则
const MIN_COUNT_REG = new RegExp(/^[1-9][0-9]{0,2}$/); // 1-999 正整数正则
let limitedSalespAdd = {
  tips: {
    setName: "{{__('请输入活动名称')}}",
    setDate: "{{__('请选择活动有效期间')}}",
    setTransactionType: "{{__('请选择交易方式')}}",
    setCount: "{{__('请输入最低购买量')}}",
    setCountNum: "{{__('请输入1-999的正整数')}}",
    createSuccess: "{{__('提交成功')}}",
    confirmTips: "{{__('是否提交限时限量活动？<br>活动开始后直到活动结束，支持补充活动库存，不支持停止活动，请谨慎操作！')}}",
    noProds: "{{__('请至少选择一个产品')}}",
    numIntable: "{{__('请输入正整数intable')}}",
    discount: "{{__('1-99正整数')}}"
  },
  transactionTypeList: {{ transaction_type_list | json_encode }},
  detailData: {{ discount_detail | json_encode }},  // 编辑初始化数据
  data: { // 新增接口字段
    name: null,            // 活动名称
    effective_time: null,  // 开始时间
    expiration_time: null, // 结束时间
    transaction_type: null,// 交易方式
    low_qty: null,         // 最低购买量
    products: [],          // 活动产品
    time_limit_id: 0,      // 新建默认0
    store_nav_show: null,  // 店铺导航栏菜单
    pre_hot: null          // 预热
  },
  countryId: "{{country_id}}", // 国别
  warningProds: [], // 美国国别下，触发纯物流弹框的itemcode
  // 初始化编辑数据
  initDetailData: function() {
    if (!limitedSalespAdd.detailData) {
      return;
    }
    limitedSalespAdd.data['time_limit_id'] =  limitedSalespAdd.detailData.id;
    $('#keyDateFrom').val(limitedSalespAdd.detailData.effective_time);
    $('#keyDateTo').val(limitedSalespAdd.detailData.expiration_time);
    if (limitedSalespAdd.detailData.transaction_type == -1) {
      // 全选是-1，特殊处理
      limitedSalespAdd.detailData.transaction_type = limitedSalespAdd.transactionTypeList.map(one => {return one.transaction_type_id});
    } else {
      limitedSalespAdd.detailData.transaction_type = limitedSalespAdd.detailData.transaction_type.split(',');
    }
    $('#keyTransactionType').selectpicker('val', limitedSalespAdd.detailData.transaction_type);
    limitedSalespAdd.validTransactionType();
    $('input[name=storeNavShow]').prop('checked', limitedSalespAdd.detailData.store_nav_show==1);
    $('input[name=preHot]').prop('checked', limitedSalespAdd.detailData.pre_hot==1);
    limitedSalespAdd.handleAddProdcts(limitedSalespAdd.detailData.products, true)
    limitedSalespAdd.validProdsList();
  },
  init: function() {
    $('.oris-tooltip').tooltip({html: true});
    $('.selectpicker').selectpicker();
    // 初始化日期控件
    $('#keyDateFrom').datetimepicker({
      minView: 1,
      pickDate: true,
      pickTime: true,
      format: 'yyyy-mm-dd hh:00:00',
      startDate: moment(new Date()).add(-1, 'days').format('YYYY-MM-DD 00:00:00'),
      autoclose: true,
    });
    $('#keyDateTo').datetimepicker({
      minView: 1,
      pickDate: true,
      pickTime: true,
      format: 'yyyy-mm-dd hh:59:59',
      startDate: moment(new Date()).add(-1, 'days').format('YYYY-MM-DD 00:00:00'),
      autoclose: true,
    }).on('changeDate', function(ev) {
      // 选中日期后默认选中的时间减1秒
      let time = $(this).val();
      let that = this;
      if (time) {
        setTimeout(function() {
          $(that).val(moment(time).subtract(1, 'hours').format('YYYY-MM-DD HH:mm:ss'));
        }, 200)
      }
    })
    limitedSalespAdd.renderChoosedProdsCounts();
  },
  bindClick: function() {
    $('#limitedSalespAdd').on('click', '#actionMore', function() {
      // 点击展开
      $(this).hide().closest('.ls-desc').addClass('ls-desc-expand');
    }).on('click', '#actionPackup', function() {
      // 点击收起
      $(this).closest('.ls-desc').removeClass('ls-desc-expand').find('#actionMore').show();
    }).on('click', '.action-delete', function() {
      // 活动产品删除
      let id = $(this).attr('data-id');
      $(this).closest('tr').remove();
      limitedSalespAdd.deteleProdRow(id);
    }).on('click', '#batchSetBtn', function() {
      if (limitedSalespAdd.data.products.length === 0) {
        return layer.msg(limitedSalespAdd.tips.noProds);
      }
      // 批量设置按钮
      $('#batchSetModal').modal();
    }).on('click', '.action-cancel', function() {
      // 取消跳转
      window.location.href =
        "{{url('customerpartner/marketing_campaign/discount_tab/index#limitedSalesPromtions')}}";
    }).on('click', '.action-create-btn', function() {
      // 创建
      limitedSalespAdd.submitAvtive();
    })
  },
  bindBlur: function() {
    $('#limitedSalespAdd').on('blur', '.action-discount', function() {
      // 折扣
      let discount = $(this).val();
      let index = limitedSalespAdd.data.products.findIndex(item => item.id == $(this).attr('data-id'));
      limitedSalespAdd.validDprice($(this), index)
    }).on('blur', '.action-qty', function() {
      // 活动库存
      let qty = $(this).val();
      let index = limitedSalespAdd.data.products.findIndex(item => item.id == $(this).attr('data-id'));
      limitedSalespAdd.validQty($(this), index);
    }).on('blur', '#keyName', function() {
      // 活动名称
      limitedSalespAdd.validName();
    }).on('blur', '#keyCount', function() {
      // 最低购买量
      limitedSalespAdd.validCount();
    })
  },
  bindChange: function() {
    $('#keyDateFrom').bind('input propertychange change', function() {
      limitedSalespAdd.effectiveIsInvalid();
    });
    $('#keyDateTo').bind('input propertychange change', function() {
      limitedSalespAdd.expirationIsInvalid();
    });
    $('#keyTransactionType').on('changed.bs.select', function() {
      limitedSalespAdd.validTransactionType();
    });
  },
  toggleFixedFooter: function() {
    let $el = $('#prodTable'); // 目标对象
    let vHeight = document.documentElement.clientHeight;
    let scrollTop = document.documentElement.scrollTop;
    let toBottom = vHeight + scrollTop - $el.offset().top - $el.height();
    if (toBottom < 90) {
      $('#prodFooter').addClass('fixed-footer');
    } else {
      $('#prodFooter').removeClass('fixed-footer');
    }
  },
  // 监听footer距离底部距离吸低显示
  watchScrollResize: function() {
    $(window).scroll(function() {
      limitedSalespAdd.toggleFixedFooter();
    }).resize(function() {
      limitedSalespAdd.toggleFixedFooter();
    })
  },
  deteleProdRow: function(id) {
    let arr = limitedSalespAdd.data.products;
    arr.splice(arr.findIndex(item => item.id == id), 1);
    limitedSalespAdd.renderChoosedProdsCounts();
  },
  renderChoosedProdsCounts: function() {
    let choosedLen = limitedSalespAdd.data.products.length;
    $('#selectedNum').html(choosedLen);
    $('#selectCount').html(MAX_CHOOSED_RPODUCTS - choosedLen);
    if (choosedLen === 0) {
      $('#prod-tbody').find('.no-records').show();
    }
    // 产品选择弹框传参, 过滤已经选中的产品
    let ids = limitedSalespAdd.data.products.map(one => { return one['product_id'] }).join(',');
    $('#prodSelectModal').data('choosedIds', ids);
    limitedSalespAdd.toggleFixedFooter();
  },
  changeName: function(obj) {
    //获取输入内容
    let calcReturn = toolString.calcStringLength($(obj).val(), 200);
    $(obj).val(calcReturn.fullStr);
  },
  handleAddProdcts: function(list, isEdit = false) {
    if (!list || list.length === 0) {
      return;
    }
    let trHtml = '';
    for (var i = 0; i < list.length; i++) {
      let one = list[i];
      // 处理编辑数据
      if (isEdit) {
        one['qty'] = one['quantity'] || one['qty'];// 解决编辑时后端返回的上架库存变量为quantity（统一新增编辑变量）
        one['discount'] = 100 - one['discount'];
      } else {
        // 新增
        one['product_id'] = one.id;
        one['origin_qty'] = null;
        one['discount'] = null;
      }
      // 计算最低折扣
      let minDiscout = +one.price ? mathematical.MathToPrice(100 - (+one.ninety_days_average_price / +one.price * 100), 0) : 0;
      one['minDiscout'] = minDiscout;
      limitedSalespAdd.data.products.push(one);
      trHtml +=
        `<tr class="action-prods" data-id="${one.id}">
                  <td class="text-left">
                   <div class="image-td">
                      <a ${one.unavaliable?"class=unaval-image":''} target="_blank" href="index.php?route=product/product&product_id=${one.product_id}">
                        <img class="pro-image" src="${one.image}" title="${one.name}"/>
                      </a>
                      <a target="_blank" href="index.php?route=product/product&product_id=${one.product_id}">
                        <span class="tags-image">
                          <text class="max-line1 oris-link" title="${one.sku}">${one.sku}</text>
                          <span class="just-flex">${one.tags}</span>
                        </span>
                        <span class="max-line2 oris-link" title="${one.mpn}">${one.mpn}</span>
                      </a>
                    </div>
                  </td>
                  <td class="text-right">${mathematical.formatPrice(one.currency, +one.price)}</td>
                  <td class="text-right">${mathematical.formatPrice(one.currency, +one.ninety_days_average_price)}</td>
                  <td class="text-right p40-r-i"><span class="action-dPrice">-</span></td>
                  <td class="text-left">
                    <div class="discount-input">
                      <input type="number" class="oris-input no-spin action-discount" data-id="${one.id}" data-mindiscount="{{__('折扣需>=:num%', {'num': '${minDiscout}'})}}" value="${one.discount}"/>
                      <span class="discount-util">% OFF</span>
                    </div>
                    <div class="action-danger"></div>
                  </td>
                  <td>${one.qty}</td>
                  <td>
                    <input type="number" class="oris-input stock-input no-spin action-qty" data-id="${one.id}" value="${one.origin_qty}"/>
                    <div class="action-danger"></div>
                  </td>
                  <td>
                    <a href="javascript:void(0)" data-id="${one.id}" class="btn-text action-delete">
                      <span>
                        <i class="giga icon-seller_lajitong-01" data-toggle="tooltip" title="{{__('删除')}}"></i>
                      </span>
                    </a>
                  </td>
                </tr>`;
    };
    $('#prod-tbody').append(trHtml).find('.no-records').hide();
    limitedSalespAdd.renderChoosedProdsCounts();
  },
  // 校验折扣
  // $el: 折扣输入input； index: 产品列表下标；discount: 折扣
  validDprice: function($el, index) {
    let discount = $el.val();
    let result = false;
    if (index < 0) {
      return true;
    }
    let decimal = limitedSalespAdd.data.products[index]['currency'] === 'JPY' ? 0 : 2; // 保留小数位个数
    let dprice = '-';
    let myDiscount = null;
    let $td = $el.closest('td');
    if (!DISCOUNT_REG.test(discount)) {
      $td.find('input').addClass('danger-border');
      $td.find('.action-danger').addClass('text-danger').html(limitedSalespAdd.tips.discount);
      result = true;
    } else if (discount < limitedSalespAdd.data.products[index]['minDiscout']) {
      $td.find('input').addClass('danger-border');
      $td.find('.action-danger').addClass('text-danger').html($el.attr('data-mindiscount'));
      result = true;
    } else {
      // 计算折后价格
      dprice = mathematical.MathToPrice(mathematical.accMul(limitedSalespAdd.data.products[index]['price'], (100 - discount) / 100), decimal);
      limitedSalespAdd.data.products[index]['dprice'] = dprice; // 记录没有货币符号的折后价格
      dprice = mathematical.formatPrice(limitedSalespAdd.data.products[index]['currency'], dprice); // 加货币符号
      myDiscount = discount;
      $td.find('input').removeClass('danger-border');
      $td.find('.action-danger').removeClass('text-danger').html('');
    }
    $el.closest('tr').find('.action-dPrice').html(dprice);
    limitedSalespAdd.data.products[index]['discount'] = myDiscount;
    return result;
  },
  // 校验库存
  validQty: function($el, index) {
    let qty = $el.val();
    let result = false;
    if (index < 0) {
      return true;
    }
    let maxQty = limitedSalespAdd.data.products[index]['qty'] || 0;
    let myQty = null;
    let $td = $el.closest('td');
    if (!qty || qty < 1) {
      $td.find('input').addClass('danger-border');
      $td.find('.action-danger').addClass('text-danger').html(limitedSalespAdd.tips.numIntable);
      result = true;
    } else if (qty > maxQty) {
      $td.find('input').addClass('danger-border');
      $td.find('.action-danger').addClass('text-danger').html(`{{__('不可高于:num', {'num': '${maxQty}'})}}`);
      result = true;
    } else {
      myQty = qty;
      $td.find('input').removeClass('danger-border');
      $td.find('.action-danger').addClass('text-danger').html('');
    }
    limitedSalespAdd.data.products[index]['origin_qty'] = myQty;
    return result;
  },
  validName: function() {
    let result = false;
    let name = $('#keyName').val();
    if (!name) {
      $('#keyName').addClass('danger-border').siblings('.text-danger').html(limitedSalespAdd.tips.setName);
      return true;
    }
    limitedSalespAdd.data.name = name;
    $('#keyName').removeClass('danger-border').siblings('.text-danger').html('');
    return result;
  },
  effectiveIsInvalid: function() {
    let result = false;
    let effective = $('#keyDateFrom').val();
    if (!effective) {
      $('#keyDateFrom').addClass('danger-border').siblings('.text-danger').html(limitedSalespAdd.tips.setDate);
      result = true
    } else {
      limitedSalespAdd.data.effective_time = effective;
      $('#keyDateFrom').removeClass('danger-border').siblings('.text-danger').html('');
    }
    return result;
  },
  expirationIsInvalid: function() {
    let result = false;
    let expiration = $('#keyDateTo').val();
    if (!expiration) {
      $('#keyDateTo').addClass('danger-border').siblings('.text-danger').html(limitedSalespAdd.tips.setDate);
      result = true
    } else {
      limitedSalespAdd.data.expiration_time = expiration;
      $('#keyDateTo').removeClass('danger-border').siblings('.text-danger').html('');
    }
    return result;
  },
  validTransactionType: function() {
    let result = false;
    let val = $('#keyTransactionType').val();
    if (!val || val.length === 0) {
      $('#keyTransactionType').siblings('button.dropdown-toggle').addClass('danger-border')
        .parent().siblings('.text-danger').html(limitedSalespAdd.tips.setTransactionType);
      result = true;
    } else {
      limitedSalespAdd.data.transaction_type = val.join(',');
      $('#keyTransactionType').siblings('button.dropdown-toggle').removeClass('danger-border')
        .parent().siblings('.text-danger').html('');
    }
    if (val && val.length === limitedSalespAdd.transactionTypeList.length) {
      // 若4种交易方式全选中时，结果为“不限”
      $('#keyTransactionType').siblings('button.dropdown-toggle').find('.filter-option-inner-inner').html(
        "{{__('不限')}}");
      limitedSalespAdd.data.transaction_type = '-1'
    }
    return result;
  },
  validCount: function() {
    let result = false;
    let count = $('#keyCount').val();
    if (!count) {
      $('#keyCount').addClass('danger-border').siblings('.text-danger').html(limitedSalespAdd.tips.setCount);
      result = true
    } else if (!MIN_COUNT_REG.test(count)) {
      $('#keyCount').addClass('danger-border').siblings('.text-danger').html(limitedSalespAdd.tips.setCountNum);
      result = true
    } else {
      limitedSalespAdd.data.low_qty = count;
      $('#keyCount').removeClass('danger-border').siblings('.text-danger').html('');
    }
    return result;
  },
  validProdsList: function() {
    let result = false;
    if (limitedSalespAdd.data.products.length === 0) {
      result = true;
      $('#prod-tbody').find('.no-records').addClass('text-danger');
    } else {
      $('#prod-tbody').find('.no-records').removeClass('text-danger');
    }
    limitedSalespAdd.data.products.forEach((one, index) => {
      let el = $('#prod-tbody').find('tr.action-prods')[index];
      let $discount = $(el).find('.action-discount');
      let $qty = $(el).find('.action-qty');
      result = limitedSalespAdd.validDprice($discount, index) || result;
      result = limitedSalespAdd.validQty($qty, index) || result;
    })
    return result;
  },
  // 判断是否触发纯物流判断标准，[（运费/（运费+货值）>0.4]，
  checkWarningDPrice: function() {
    limitedSalespAdd.warningProds = [];
    limitedSalespAdd.data.products.forEach((one, index) => {
      let freight = Number(one['freight']);
      let dprice = Number(one['dprice']);
      if (dprice && freight && (freight / (freight + dprice) > 0.4)) {
        limitedSalespAdd.warningProds.push(limitedSalespAdd.data.products[index]['sku']);
      }
    });
    if (limitedSalespAdd.warningProds.length > 0) {
      // 纯物流弹框
      let content = `{{__('产品:skus折扣优惠较高，导致Buyer购买的价格过低，平台会根据当前行业标准向Seller收取更高物流费，同时云送仓的运费将加收25%的附加费。是否确定创建活动？<br>可通过帮助中心了解更多物流报价信息。', {'skus': '${limitedSalespAdd.warningProds.join(", ")}'})}}`;
      layer.confirm(content, {
        title: "{{__('注意')}}",
        skin: 'oris-layer',
        btn: ["{{__('是')}}", "{{__('否')}}"],
        scrollbar: false
      }, function(index) {
        layer.close(index);
        limitedSalespAdd.confirmSubmit();
      }, function(index) {
        layer.close(index);
      });
    } else {
      limitedSalespAdd.confirmSubmit();
    }
  },
  submitAvtive() {
    let result = false;
    result = limitedSalespAdd.validName() || result;
    result = limitedSalespAdd.effectiveIsInvalid() || result;
    result = limitedSalespAdd.expirationIsInvalid() || result;
    result = limitedSalespAdd.validTransactionType() || result;
    result = limitedSalespAdd.validCount() || result;
    result = limitedSalespAdd.validProdsList() || result;
    if (!result) {
      // 提交
      limitedSalespAdd.data.store_nav_show = $('input[name=storeNavShow]').prop('checked') ? 1 : 0;
      limitedSalespAdd.data.pre_hot = $('input[name=preHot]').prop('checked') ? 1 : 0;
      if (limitedSalespAdd.countryId == 223) { // 美国
        limitedSalespAdd.checkWarningDPrice();
      } else {
        limitedSalespAdd.confirmSubmit();
      }
    } else {
      // 页面定位错误位置text-danger
      $('#limitedSalespAdd').find('.text-danger').each(function(){
        if ($(this).html() !== '') {
          var ct = $(this).offset().top || 0; //获取距离顶部的距离
          window.scrollTo(0, ct - 200);
          return false;
        }
      })
    }
  },
  confirmSubmit: function() {
    layer.confirm(limitedSalespAdd.tips.confirmTips, {
      title: "{{__('确认confirm')}}",
      skin: 'oris-layer',
      btn: ["{{__('确认')}}", "{{__('取消')}}"],
      scrollbar: false
    }, function(index) {
      layer.close(index);
      limitedSalespAdd.createService();
    }, function(index) {
      layer.close(index);
    });
  },
  createService: function() {
    block.blockUI();
    $.ajax({
      url: '/index.php?route=customerpartner/marketing_campaign/time_limit_discount/store',
      data: limitedSalespAdd.data,
      method: 'post',
      cache: false,
      dataType: 'json',
      beforeSend: function() {
        // 禁用btn
        $('.action-create-btn').on('click.disable', false);
      },
      success: function(res) {
        if (res.code == 200) {
          block.unBlockUI();
          $.toast({
            heading: false,
            text: limitedSalespAdd.tips.createSuccess,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
          $('.action-cancel').trigger('click');
        } else {
          block.unBlockUI();
          $.toast({
            heading: false,
            text: res.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        }
        $('.action-create-btn').off('click.disable');
      }
    })
  }
};
// 批量设置折扣库存
function submitBatchSet(data) {
  let $prodTr = $('#prod-tbody').find('tr.action-prods'); // 产品行
  $prodTr.each((index, item) => {
    if (data.discount) {
      // 批量设置折扣
      let $el = $(item).find('.action-discount');
      $el.val(data.discount);
      limitedSalespAdd.validDprice($el, index);
    }
    if (data.stockTypeInputVal) {
      // 批量设置活动库
      let $el = $(item).find('.action-qty');
      let avalQty = limitedSalespAdd.data.products[index]['qty']; // 上架库存
      let qty = data.stockType == 1 ? (avalQty * data.stockTypeInputVal / 100).toFixed(0) : data.stockTypeInputVal;
      $el.val(qty);
      limitedSalespAdd.validQty($el, index);
    }
  })
};
$(() => {
  limitedSalespAdd.init();
  limitedSalespAdd.bindClick();
  limitedSalespAdd.bindBlur();
  limitedSalespAdd.bindChange();
  limitedSalespAdd.watchScrollResize();
  limitedSalespAdd.initDetailData();
})
</script>
{% endapply %}
{# 产品选择弹框 #}
{{ dynamicWidget('product-select-modal' ,{ _id: 'prodSelectModal', triggerId: 'addProduct', submitCb:
'limitedSalespAdd.handleAddProdcts', maxCount: 40}) }}