{% trans_default_category 'catalog/view/customerpartner/marketing_campaign/discount/index' %}
{# 全店折扣活动----->新增修改弹框 #}
<div class="modal fade oris-modal" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog h-v-center" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="giga icon-V10_danchuangguanbi"></i>
        </button>
        <div class="modal-title"></div>
      </div>
      <div class="modal-body">
        <div class="oris-row p10-t">
          <div>
            <label class="text-weight-normal">{{__('活动名称')}}</label>
            <input type="text" placeholder="{{__('请输入',{},'common')}}" id="modalName" class="oris-input" autocomplete="off" onkeyup="methods.changeName(this)"/>
            <div class="text-danger"></div>
          </div>
        </div>
        <div class="oris-row">
          <div class="oris-col-6 pos-rela">
            <label class="text-weight-normal">{{__('折扣')}}</label>
            <input type="number" placeholder="{{__('请输入',{},'common')}}" id="modalDisount" class="oris-input no-spin" autocomplete="off" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"/>
            <span class="off-right">% OFF</span>
            <div class="text-danger"></div>
          </div>
          <div class="oris-col-6 oris-select">
            <label class="text-weight-normal">{{__('活动产品1')}}</label>
            <select class="selectpicker" title="{{ __('请选择', {}, 'common') }}" disabled>
              <option selected>{{__('所有产品')}}</option>
            </select>
            <div class="text-danger"></div>
          </div>
        </div>
        <div class="oris-row">
          <div class="oris-col-6">
            <label class="text-weight-normal">{{__('活动有效期间')}}</label>
            <div class="oris-ingroup">
              <input type="text" value="" placeholder="From" id="modalDateFrom" class="oris-input" autocomplete="off" />
            </div>
            <div class="text-danger"></div>
          </div>
          <div class="oris-col-6">
            <label class="text-weight-normal">&nbsp;</label>
            <div class="oris-ingroup">
              <input type="text" value="" placeholder="To" id="modalDateTo" class="oris-input" autocomplete="off" />
            </div>
            <div class="text-danger"></div>
          </div>
        </div>
        <div class="oris-row">
          <div class="oris-col-6 oris-select">
            <label class="text-weight-normal">{{__('活动适用的buyer')}}</label>
            <select class="selectpicker" title="{{ __('请选择', {}, 'common') }}" id="modalBuyerRange">
              <option value="1" selected>{{__('部分Buyer')}}</option>
              <option value="-1">{{__('所有Buyer')}}</option>
            </select>
            <div class="text-danger"></div>
          </div>
          <div class="oris-col-6 oris-select" id="modalBuyerSelect">
            <label class="text-weight-normal">&nbsp;</label>
            <select class="selectpicker" multiple title="{{ __('请选择', {}, 'common') }}" data-live-search="true">
              {% for k,one in seller_buyer_list %}
              <option value="{{k}}">{{one}}</option>
              {% endfor %}
            </select>
            <div class="text-danger"></div>
          </div>
        </div>
        <div class="icon-color">{{__('折扣适用于全店铺，活动期间Buyer以任何交易方式购买均享受该折扣。')}}</div>
        <div class="icon-color">{{__('如：现货保证金合约价格为100，设置该Buyer为5% OFF，Buyer通过Quick View直接购买时，协议价为95；')}}</div>
        <div class="icon-color">{{__('注：专享价、返点、通过议价达成的协议不参与折扣活动。')}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="oris-button oris-button-default" id="cancelDetail">{{__('取消')}}</button>
        <button type="button" class="oris-button" id="submitDetail">{{__('提交')}}</button>
      </div>
    </div>
  </div>
</div>
