<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ fileName }}</title>
</head>
<style>
  body{
    font-family: Arial !important;
  }
  .pdf-main {
    width: 3508px;
    margin: auto;
    background-color: #fff;
  }

  /*table*/
  .table-list-box {
    padding: 0px 36px 20px 36px; 
  }

  .table-list {
    width: 100%;
  }

  .table-list .table-head {
    height: 90px;
    background-color: #333333;
  }
  .table-list tr td,
  .table-list .table-head th {
    padding: 0 15px;
  }

  .table-text-left {
    text-align: left;
  }

  .table-text-right {
    text-align: right;
  }

  .table-text-center {
    text-align: center;
  }

  .table-text-bold {
    font-weight: bold;
  }

  .description-box {
    position: relative;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    color: #000000;
    z-index: 0;
    text-align: center;
  }
  .description-box-font-normal{
    position: relative;
    font-size: 25px;
    font-family: Arial;
    color: #000000;
    z-index: 0;
    text-align: center;
  }

  .bk-black {
    background: #DDDDDD;
  }

  .transaction-tag {
    text-align: center;
  }

  .table-body td {
    border-bottom: 2px solid #666666;
    font-size: 40px;
    font-family: Arial;
    color: #333333;
    height: 130px;
  }

  .return-msg {
    font-size: 33px;
    color: #333333;
  }

  .border-33 {
    border: 2px solid #333333;
  }

  .border-right-none {
    border-right: none;
  }

  .border-left-none {
    border-left: none;
  }
  /*总计表格*/
  .table-total-box {
    padding: 0 36px 20px 36px;
    width: 3365px;
  }

  .table-total {
    width: 100%;
  }

  .table-total tr td {
    height: 88px;
    border-bottom: 2px solid #666666;
  }

  .table-total tr .border-none {
    border-bottom: none;
  }

  .table-total .table-total-bk {
    background-color: #333333;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
  }

  .table-total .table-total-font-normal {
    font-size: 32px;
    font-family: Arial;
    color: #333333;
  }

  /*payments*/
  .payment-table-box {
    padding: 0 36px;
  }

  .payment-table {
    width: 3365px;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
  }

  .payment-table .payment-table-tbody td,
  .payment-table-head th {
    height: 90px;
    background: #DDDDDD;
  }

  .payment-table .payment-table-head th {
    font-size: 42px;
    font-family: Arial;
    font-weight: bold;
    color: #333333;
  }

  .payment-table .payment-table-tbody td {
    font-size: 38px;
    font-family: Arial;
    font-weight: 400;
    color: #333333;
  }

  .payment-table .padding-left10 {
    padding: 0 0 0 10px;
  }
  .payment-padding10{
    padding: 0 15px 0 10px;
  }
  .font-white {
    height: 90px;
    font-size: 42px;
    font-family: Arial;
    font-weight: bold;
    color: #fff;
  }

  .padding-lr30 {
    padding: 0 10px 0 30px;
  }

  .payment-table .payment-table-tbody .tdBorder {
    border-bottom: 2px solid #666666;
  }

  /*页眉*/
  .page-header-invoice {
    padding:0 36px;
  }

  .invoice-title {
    font-size: 150px;
    font-family: Arial;
    font-weight: bold;
    color: #333333;
    line-height: 72px;
    padding: 0 10px;
  }

  .line-title {
    display: block;
    margin-top: 20px;
    height: 20px;
    background: #333333;
    width: 100%;
  }

  .invoice-date {
    font-size: 50px;
    font-family: Arial;
    font-weight: 400;
    color: #333333;
    text-align: center;
  }

  .invoice-order {
    font-size: 58px;
    font-family: Arial;
    font-weight: bold;
    color: #333333;
  }

  .invoice-payments {
    font-size: 50px;
    font-family: Arial;
    font-weight: 400;
    color: #333333;
  }

  .invoice-price {
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
    color: #333333;
  }

  .sold-title {
    font-size: 42px;
    font-family: Arial;
    font-weight: bold;
    color: #333333;
  }

  .sold-content {
    font-size: 42px;
    font-family: Arial;
    font-weight: 400;
    color: #333333;
  }
  .table-full{
    width: 100%;
    height: 100%;
  }
  .height20{
    height: 20px;
  }
  .height50{
    height: 50px;
  }
  .height10{
    height: 10px;
  }
  .height30{
    height:30px
  }
  .line-height45{
    line-height: 45px;
  }
  .padding-left100{
    padding-left: 100px;
  }
  .text_underline{
    text-decoration: none;
  }
  /*页脚*/
  .page-footer {
    margin-top: 80px;
    width: 3508px;
    padding: 0 36px;
  }

  .page-footer-line {
    width: 3365px;
    height: 3px;
    background: #666666;
  }

  .page-footer-table {
    width: 3365px;
    /* margin: 0 71.5px; */
    font-size: 33px;
    font-family: Arial;
    color: #333333;
  }

  .logo-url {
    font-size: 38px;
    font-family: Arial;
    font-weight: 400;
    color: #333333;
    text-align: right;
  }
  .paddingL-50{
    padding-left: 50px;
  }
  .invoice-footer{
    padding-right: 50px;
    font-size: 50px;
  }
</style>

<body>
  <div class="pdf-main">
    <!--表格1-->
    <div class="table-list-box">
      <table class="table-list" cellSpacing="0" cellPading='0'>
        <thead>
          <tr class="table-head">
            <th width="160" class="font-white table-text-center">NO.</th>
            <th width="300" class="font-white table-text-left">Order#</th>
            <th width="400" class="font-white table-text-left">Description</th>
            <th width="280" class="font-white table-text-center">Qty</th>
            <th width="305" class="font-white table-text-right">Unit Price</th>
            <th width="440" class="font-white table-text-right">Unit Fulfillment</th>
            <th width="390" class="font-white table-text-right">Subtotal</th>
            <th width="370" class="font-white table-text-right">Promotion</th>
            <th width="270" class="font-white table-text-right">Coupon</th>
            <th width="450" class="font-white table-text-right">Total</th>
          </tr>
        </thead>
        <tbody>
        {% for invoice in list %}
        <tr class="table-body">
          <td class="table-text-center"> {{ loop.index }}</td>
          <td class="table-text-left">{{ invoice.orderId }}</td>
          <td class="table-text-left">{{ invoice.itemCode }}<br>
            {% if invoice.agreementId %}
              <table style="width: 100%;" cellSpacing="0" cellPading='0'>
                <tr>
                  <td style="height: 10px;border: none;"></td>
                </tr>
                <tr>
                  <td width='70' class="description-box border-33 border-right-none" style="height: 48px;">{{ invoice.agreementDesc }}</td>
                  <td width='170' class="description-box-font-normal border-33 border-right-none border-left-none table-text-left"   style="height: 48px;padding: 0px;">
                    {{ invoice.agreementProp }}
                  </td>
                  <td class="description-box-font-normal bk-black border-33 border-left-none table-text-left" style="height: 48px;">
                    #{{ invoice.agreementId }}
                  </td>
                </tr>
                <tr>
                  <td style="height: 5px;border: none;"></td>
                </tr>
              </table>
            {% endif %}
          </td>
          <td class="table-text-center">
            {{ invoice.quantity }}
          </td>
          <td class="table-text-right">{{ invoice.unitPriceFormat }}</td>
          <td class="table-text-right">{{ invoice.unitFreightFormat }}</td>
          <td class="table-text-bold table-text-right">{{ invoice.subTotalFormat }}</td>
          <td class="table-text-right">(-{{ invoice.promotionFormat }})</td>
          <td class="table-text-right">(-{{ invoice.couponFormat }})</td>
          <td class="table-text-bold table-text-right">{{ invoice.totalFormat }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!--END-->
    <!--表格2-->
    <div class="table-total-box">
      <table class="table-total" cellSpacing="0" cellPading='0' style="page-break-inside: avoid">
        <tr>
          <td rowspan="5" width='2045' class="border-none"></td>
          <td width='220' class="table-text-right table-total-font-normal">Subtotal</td>
          <td class="table-text-bold table-text-right table-total-font-normal padding-lr30">{{ subTotalAmount }}</td>
        </tr>
        <tr>
          <td class="table-text-right table-total-font-normal">Promotion</td>
          <td class="table-text-bold table-text-right table-total-font-normal padding-lr30">-{{ promotionAmount }}</td>
        </tr>
        <tr>
          <td class="table-text-right table-total-font-normal">Coupon</td>
          <td class="table-text-bold table-text-right table-total-font-normal padding-lr30">-{{ couponAmount }}</td>
        </tr>
        <tr>
          <td class="table-text-right table-total-bk">Total</td>
          <td class="table-text-bold table-text-right table-total-bk padding-lr30">{{ totalAmount }}</td>
        </tr>
      </table>
    </div>
    <!--END-->
    <div style="clear:both"></div>
    <!--表格3-->
    <div class="payment-table-box">
      <table class="payment-table" cellSpacing="0" cellPading='0'>
        <thead>
          <tr class="payment-table-head">
            <th width="503">Payments</th>
            <th class="table-text-left">NO.</th>
            <th width="510" class="table-text-left">Order#</th>
            <th width="670" class="table-text-left">Payment Method</th>
            <th width='417' class="table-text-left">Payment Time</th>
            <th width="1065" class="table-text-left border-bottom-none"></th>
          </tr>
        </thead>
        {% for subOrderData in orderData  %}
          <tr class="payment-table-tbody">
            <td></td>
            <td class="table-text-left tdBorder">{{ loop.index }}</td>
            <td class="table-text-left tdBorder">{{ subOrderData.orderId }}</td>
            <td class="table-text-left tdBorder">
              {% if subOrderData.paymentMethod %}
                {{ subOrderData.paymentMethod }}
              {% else %}
                --
              {% endif %}

            </td>
            <td class="table-text-left tdBorder">{{ subOrderData.paymentDate }}</td>
            <td class="table-text-left border-bottom-none"></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</body>

</html>