{{ header }}{{ separate_column_left }}
<style>
  .layer-panel-box {
    color: #000;
    font-size: 14px;
  }

  .nav-tabs {
    border-bottom: 0 solid white;
  }

  .my-download.mr-1 {
    text-transform: none;
  }

  .tab-content-sty {
    background-color: white;
  }
  .my-download{
    color: rgb(54,167,218);
    text-decoration: underline;
    vertical-align: bottom;
    text-transform:none !important;
  }
  .my-tip-title{
    font-size: 24px;
    font-weight: 500;
    margin: 35px 0 10px -10px;
  }
  .sub-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .mrb5{
    margin-bottom: 5px;
  }
</style>



<div class="container-fluid giga-content" id="content" style="margin-left: 15%">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    <div class="col-md-12">
      <h1>{{ text_mapping_guide }}</h1>
      <div class="row">
        <div class="col-md-12" style="height: 37px">
        </div>
      </div>
    </div>
  </div>

  {#tab页对应内容#}
  <div id="box-shadow">
    <div class="tab-content tab-content-sty">
      <div class="tab-pane active" id="tab-mapping-item-code">
        <fieldset>
          <div class="container-fluid giga-content" id="content">
            <div class="col-md-12">
              <p class="my-tip-title">Step 1</p>
              <p>Click ‘
                <a href="{{ itemCodeMappingTemplate }}" download="Download Template" class="my-download">
                  Download Template
                </a>’ to download the template for file import</p>

              <p class="my-tip-title">Step 2</p>
              <p> Enter the value of ‘Platform’, ‘Platform Store Name’, ‘Platform SKU’ and ‘B2B Item Code’</p>
              <p class="sub-title">Please notice:</p>
              <p class="mrb5">1. Platform refers to the external sales platform. Please only enter Amazon / Wayfair / Walmart. We currently don’t accept entering other sales platforms.</p>
              <p class="mrb5">2. Platform Store Name refers to the store name on specific sales platform.</p>
              <p class="mrb5">3. Platform SKU refers to the product SKU on specific sales platform. B2B Item Code refers to the corresponding product Item Code on B2B Platform to Platform SKU.</p>
              <p class="mrb5">4. Each SKU on each sales platform can only correspond to one B2B Platform Item Code.</p>

              <p class="my-tip-title">Step 3</p>
              <p>Click ‘IMPORT’ on listing page, select the prepared file and import. The file is failed to be imported
                if it notifies you with any error message. Please modify the file and import again. The file is imported
                successfully if it notifies ‘Imported successfully’.</p>


            </div>

          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
</div>



{{ footer }}