{% set tableBorderThick = '3px solid #000' %}
{% set tableBorderLight = '1px solid #666' %}
{% set barcodeHeight = '45px' %}
{% set commonSpace = '&nbsp;&nbsp;' %}
{% set commonSpaceShort = '&nbsp;' %}

<style>
  /* *可以在预览html时把样式作用到所有元素上，body 可以在生成pdf时起作用 */
  *, body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
  }

  html, body {
    width: 200mm; /* A4纸 210mm*285mm，在96dip下为 794px*1123px,减去左右页边距 10mm */
    margin: 0 auto;
  }

  table {
    width: 100%;
    border: {{ tableBorderThick }};
    border-spacing: 0;
  }

  table td {
    border: {{ tableBorderLight }};
    vertical-align: middle;
    padding: 18px;
  }

  table.table-merge-top {
    border-bottom: 0;
  }

  table.table-merge-middle {
    border-top: 0;
    border-bottom: 0;
  }

  table.table-merge-bottom {
    border-top: 0;
  }

  table.td-center td {
    text-align: center;
  }

  .text-center {
    text-align: center;
  }

  .text-thin {
    font-weight: normal;
  }

  .text-37 {
    font-size: 37px;
  }

  .text-16 {
    font-size: 16px;
  }

  .text-19 {
    font-size: 19px;
  }

  .logo {
    width: 166px;
    height: 40px;
  }
  .barcode {
    height: {{ barcodeHeight }};
  }
</style>

<table class="table-merge-top">
  <tbody>
  <tr>
    <td style="width: 33%; border-right: 0" class="text-center">
      <img src="{{ logo }}" alt="logo" class="logo">
    </td>
    <td class="text-37 text-center" style="border-left: 0">
      Bill Of Lading
    </td>
  </tr>
  </tbody>
</table>
<table class="table-merge-bottom">
  <tbody>
  <tr>
    <td>
      <span class="text-16">BOL Number:{{ commonSpaceShort }}</span><span class="text-16">{{ sales_order_pick_up.bol_num }}</span>
    </td>
    <td>
      <span class="text-16">Pick-up Date:{{ commonSpaceShort }}</span><span class="text-16">{{ sales_order_pick_up.apply_date }}</span>
    </td>
  </tr>
  <tr>
    <td style="width: 50%; line-height: 30px">
      <span>Shipper Contact</span><br>
      <span class="text-thin">Name:{{ commonSpace }}</span><span>{{ warehouse.warehouse_contact ?: '--' }}</span><br>
      <span class="text-thin">Phone#:{{ commonSpace }}</span><span>{{ warehouse.phone_number ?: '--' }}</span><br>
      <span class="text-thin">Warehouse code:{{ commonSpace }}</span><span>{{ warehouse.WarehouseCode }}</span><br>
    </td>
    <td style="width: 50%; line-height: 30px">
      <span>Pick-up Person Contact</span><br>
      <span class="text-thin">Name:{{ commonSpace }}</span><span>{{ sales_order_pick_up.user_name }}</span><br>
      <span class="text-thin">Phone#:{{ commonSpace }}</span><span>{{ sales_order_pick_up.user_phone }}</span><br>
      <span class="text-thin">Buyer ID:{{ commonSpace }}</span><span>{{ buyer_customer.user_number }}</span><br>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <span class="text-thin">Address:{{ commonSpace }}</span><span>{{ warehouse.full_address }}</span>
    </td>
  </tr>
  </tbody>
</table>

<table style="margin-top: 24px;" class="table-merge-top">
  <tbody>
  <tr>
    <td>
      <span>
        <span class="text-19">Sales Order ID:</span>
        <span class="text-19">{{ sales_order.order_id }}</span>
      </span>
      <span><img src="{{ barcode }}" alt="barcode" class="barcode" style="margin-top: 10px"></span>
    </td>
  </tr>
  <tr>
    <td class="text-center">
      <span class="text-19">Pick-up List</span>
    </td>
  </tr>
  </tbody>
</table>
<table class="td-center table-merge-middle">
  <thead>
  <tr>
    <td class="text-thin" style="width: 33%">Warehouse</td>
    <td class="text-thin">Item Code</td>
    <td class="text-thin" style="width: 33%">QTY</td>
  </tr>
  </thead>
  <tbody>
  {% for item_code,qty in pick_up_list %}
  <tr>
    <td>{{ warehouse.WarehouseCode }}</td>
    <td>{{ item_code }}</td>
    <td>{{ qty }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="2" style="border-right: 0"></td>
    <td style="border-left: 0">
      <span>Total:{{ commonSpace }}</span><span>{{ pick_up_list_total_qty }}</span>
    </td>
  </tr>
  </tbody>
</table>

<table class="table-merge-bottom">
  <tbody>
  <tr>
    <td colspan="2">
      <span>SPECIAL INSTRUCTIONS: Our shipping window is 10 a.m. to 3 p.m.</span>
    </td>
  </tr>
  <tr>
    <td style="width: 50%">
      <span>Signature of Shipper</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span>Date</span>
      <br><br><br><br>
      <span>________________________</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span>______________________</span>
    </td>
    <td style="width: 50%">
      <span>Signature of Pick-up Person</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>Date</span>
      <br><br><br><br>
      <span>________________________</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span>______________________</span>
    </td>
  </tr>
  </tbody>
</table>