{% trans_default_category 'catalog/view/customerpartner/message_center/language' %}

{{ this.title('Accepted Language') }}
{{ this.params('breadcrumbs', [
  {
    text: 'Message Center',
    href: 'javascript:void(0)',
  },
  'current'
]) }}

{{ this.params('pageTitle', {
  show: true,
  title: 'Accepted Language',
  backUrl: '',
  buttons: []
}) }}

{{ css([
  'static/message/message-common.css',
  'static/customerpartner/message_center/language.css'
]) }}

{{ js([
  'js/common/toolString.js',
  'js/common/orisComponents.js'
]) }}

<div id="page-language" class="msgcent msg-page-container">
  <div class="header-title-container">
    <div class="msgcent msg-form__label lan-header-label">
      Preferred language of communication
    </div>
  </div>
  <div class="content-container">
    <div class="msgcent msg-form__tip">
      The language you set will determine the language you receive from the Marketplace. For example, if the language communicated is set to English, you can only receive the messages in English, not in Chinese.
    </div>
    <div>
      <div class="radio-group-container">
        <div class="radio-item">
          <input class="radio-input" type="radio" name="type" value="0" {% if language_type == 0 %}checked="checked" {% endif %}/>
          <span class="radio-label">All are acceptable</span>
        </div>
        <div class="radio-item">
          <input class="radio-input" type="radio" name="type" value="2" {% if language_type == 2 %}checked="checked" {% endif %}/>
          <span class="radio-label">English Only</span>
        </div>
        <div class="radio-item">
          <input class="radio-input" type="radio" name="type" value="1" {% if language_type == 1 %}checked="checked" {% endif %}/>
          <span class="radio-label">Chinese Only</span>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <button class="oris-button oris-button-bigger btn-item width120" onclick="handleSave()">Save</button>
    </div>
  </div>
</div>

<script>
  var saveLimit = false;
  function handleSave() {
    if (saveLimit === true) {
      return ;
    }
    saveLimit = true;
    let val = $("input[name='type']:checked").val();
    block.blockUI();
    $.ajax({
      url: "{{ url('customerpartner/message_center/extension/setLanguage') }}",
      type: 'post',
      data: {type: val},
      dataType: 'json',
      success: function (json) {
        saveLimit = false
        if (json.code == 200) {
          $.toast({
            heading: false,
            text: 'Save successfully.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
            afterHidden: function () {
              window.location.reload();
            }
          });
        } else {
          $.toast({
            heading: false,
            text: 'Save Failed! ',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        }
        block.unBlockUI();
      },
      error: function() {
        block.unBlockUI();
      }
    });
  }
</script>
