{{ header }}
{{ js(['js/common/toolString.js']) }}
{{ jsOrigin(['/catalog/view/javascript/layer/layer.js']) }}
{{ column_left }}
<div id="content">
  <style>
    #content .btn-default:hover{
      background: #3A75DC;
      border-color: #3A75DC;
      color: #fff;
    }
    #content .text-center{
      text-align: center;
    }
    #content .close{
      font-size: 18.5px;
    }
    #content .modal-margin-top{
      margin-top: 160px;
    }
    #content .modal-header .close{
      background-color: #183464;
      color: #fff;
    }
    #content .margin-bottom-zero{
      margin-bottom: 0;
    }
    #content .width-small{
      width: 460px;
    }
    #content .modal-header{
      height: 43px;
      padding: 10px 15px;
    }
    #content .modal-title-font{
      font-size: 16px;
    }
    #content .margin-bottom-8{
      margin-bottom: 8px;
    }
    #content .margin-bottom-15{
      margin-bottom: 15px;
    }
    #content .modal-footer{
      padding: 8px;
      border-top: none;
    }
    .get-money-from-radio label , .pay-money-from-radio label{
      margin-right: 40px;
    }
    .get-money-from-radio label input , .pay-money-from-radio label input{
      margin-right: 5px;
      vertical-align: middle;
    }
    .get-money-date , .pay-money-date{
      position: relative;
    }
    .get-money-date input , .pay-money-date input{
      background-color: #f3f5f7;
    }
    .date-icon{
      position: absolute;
      right: 5px;
      top: 7px;
    }
    input.datetimepicker::-webkit-input-placeholder {
      color: #555;
    }
    input.datetimepicker:-moz-placeholder {
      color: #555;
    }
    input.datetimepicker:-ms-input-placeholder {
      color: #555;
    }
    .required {
      color: #ff414d;
    }
    .none{
      display: none;
    }
    .error-input{
      border-color: #ff414d;
    }
  </style>

  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="row">
      <div id="filter-customer" class="col-md-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="input-name">{{ entry_name }}</label>
                  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
                </div>

              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="input-email">{{ entry_email }}</label>
                  <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="input-status">{{ entry_status }}</label>
                  <select name="status" id="input-status" class="form-control">
                    <option value="">{{ __('请选择', {}, 'common') }}</option>
                    {% if status == '1' %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                    {% else %}
                      <option value="1">{{ text_enabled }}</option>
                    {% endif %}
                    {% if status == '0' %}
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% else %}
                      <option value="0">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="input-role">{{ entry_role }}</label>
                  <select name="role" id="input-role" class="form-control">
                    <option value="">{{ __('请选择', {}, 'common') }}</option>
                    {% if role == '1' %}
                      <option value="1" selected="selected">{{ text_seller }}</option>
                    {% else %}
                      <option value="1">{{ text_seller }}</option>
                    {% endif %}
                    {% if role == '0' %}
                      <option value="0" selected="selected">{{ text_buyer }}</option>
                    {% else %}
                      <option value="0">{{ text_buyer }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-4">
                <div class="form-group text-right">
                  <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-filter"></i> {{ button_filter }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover" style="font-size: 13px">
                <thead>
                <tr>
                  <td hidden></td>
                  <td class="text-left">{{ column_name }}</td>
                  <td class="text-left">{{ column_email }}</td>
                  <td class="text-left">{{ column_country }}</td>
                  <td class="text-left">{{ column_status }}</td>
                  <td class="text-left">{{ column_balance }}</td>
                  <td class="text-left">{{ column_recharge }}</td>
                  <td class="text-left">{{ column_currency }}</td>
                  <td class="text-left">{{ column_memo }}</td>
                  <td class="text-left">{{ column_view_detail }}</td>
                  <td class="text-left">{{ column_action }}</td>
                </tr>
                </thead>
                <tbody>
                {% if customers %}
                  {% for customer in customers %}
                    <tr id="data_{{ customer.id }}">
                      <td hidden>
                        <input hidden value="{{ customer.balance }}" name="balance" type="text" class="form-hidden"/>
                      </td>
                      <td class="text-left">{{ customer.name }}</td>
                      <td class="text-left">{{ customer.email }}</td>
                      <td class="text-left">{{ customer.country_name }}</td>
                      <td class="text-left">{{ customer.status }}</td>
                      <td class="text-left">{{ customer.balance }}</td>
                      <td class="text-left">
                        <span class="form-display"></span>
                        <input class="form-edit form-control" value="{{ customer.currency_code == 'JPY'?'0':'0.00'}}" style="display: none" name="recharge" Onkeyup="clearNoNum('{{ customer.currency_code }}',this)">
                      </td>
                      <td class="text-left">{{ customer.currency_code }}</td>
                      <td class="text-left">
                        <span class="form-display"></span>
                        <input class="form-edit form-control" value="" style="display: none" name="memo" type="text">
                      </td>
                      <td class="text-left"><a href="{{ customer.showDetail }}">{{ customer.total }}</a></td>
                      <td>
                        <a onclick="edit('data_{{ customer.id }}');" data-toggle="tooltip" title="{{ button_edit }}"
                           class="btn btn-primary btn-form-display"><i class="fa fa-pencil"></i></a>
                        <a style="display: none" onclick="save('data_{{ customer.id }}',{{ customer.id }},'{{ customer.currency_code }}','{{ customer.email }}','{{ customer.user_number }}',this);" data-toggle="tooltip"
                           title="{{ button_save }}" class="btn btn-primary btn-form-edit"><i class="fa fa-save"></i></a>
                        <a style="display: none" onclick="back('data_{{ customer.id }}');" data-toggle="tooltip" title="{{ button_cancel }}"
                           class="btn btn-default btn-form-edit"><i class="fa fa-reply"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td class="text-center" colspan="10">{{ text_no_results }}</td>
                  </tr>
                {% endif %}
                </tbody>
              </table>
            </div>
            {#分页#}
            <div class="row">
              <div class="col-sm-12">
                <div class="pull-left">
                </div>
                <div class="pull-right">{{ pagination }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{#  收款弹窗#}
  <div id="getMoneyModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-margin-top width-small">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="margin-bottom-zero modal-title-font">请填写并确认信息</span>
        </div>
        <div class="modal-body">
          <div class="label-text margin-bottom-8">请选择平台收款来源</div>
          <div class="get-money-from-radio margin-bottom-15">
            <label>
              <input type="radio" name="getMoneyFrom" value='1' checked="checked" onclick="getMoneyChoose()">
              资金类
            </label>
            <label>
              <input type="radio" name="getMoneyFrom" value='0' onclick="getMoneyChoose()">
              非资金类
            </label>
            <label>
              <input type="radio" name="getMoneyFrom" value='2' onclick="getMoneyChoose()">
              预充值类
            </label>
          </div>
          <div id="getMoneyContent">
            <div class="label-text margin-bottom-8"><span class="required">*</span>请选择平台收款账户信息</div>
            <div class="get-money-from-select margin-bottom-15">
              <select name="getMoneySelect" id="getMoneySelect" class="form-control" onchange="checkGetMoneySubmit()">
                <option value="">{{ __('请选择', {}, 'common') }}</option>
              </select>
            </div>
            <div class="label-text margin-bottom-8"><span class="required">*</span>请选择平台收款日期</div>
            <div class="get-money-date margin-bottom-15">
              <input placeholder="Please Select" id="getMoneyDate" type="text" class="form-control datetimepicker" onblur="checkGetMoneySubmit()">
              <span class="date-icon"><i class="giga icon-date-icon"></i></span>
            </div>
          </div>
          <div id="getTypeContent">
            <div class="label-text margin-bottom-8"><span class="required">*</span>请选择充值类型</div>
            <div class="get-money-from-select margin-bottom-15">
              <select name="getTypeSelect" id="getTypeSelect" class="form-control" onchange="checkGetMoneySubmit()">
                <option value="-1">{{ __('请选择', {}, 'common') }}</option>
                {% for getNonItem in creditGetNonCapitalList %}
                  <option value="{{ getNonItem.type }}">{{ getNonItem.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="show-third-serial-number none margin-bottom-15 input-type">
              <div class="label-text margin-bottom-8"><span class="required">*</span>请填写支付失败的第三方交易流水号</div>
              <div class="get-money-date">
                <input placeholder="Please Input" id="getThirdSerialNumber" type="text" name="getThirdSerialNumber"
                       class="form-control datetimepicker check-input"
                       onblur="numFeeCheck(this)" onkeyup="numFeeCheck(this)">
              </div>
              <div class="error-tip error-tip1 text-danger none">{{ error_third_number_limit }}</div>
              <div class="error-tip error-tip2 text-danger none">{{ error_third_number_require }}</div>
              <div class="error-tip error-tip3 text-danger none">{{ error_third_number }}</div>
            </div>
            <div class="show-fee-number none margin-bottom-15 input-type">
              <div class="label-text margin-bottom-8"><span class="required">*</span>请填写对应的账户转出编号或者费用编号</div>
              <div class="get-money-date">
                <input placeholder="Please Input" id="getFeeNumber" type="text" name="getFeeNumber"
                       class="form-control datetimepicker check-input"
                        onblur="numFeeCheck(this)" onkeyup="numFeeCheck(this)">
              </div>
              <div class="error-tip error-tip1 text-danger none">{{ error_fee_number_limit }}</div>
              <div class="error-tip error-tip2 text-danger none">{{ error_fee_number_require }}</div>
              <div class="error-tip error-tip3 text-danger none">{{ error_fee_number }}</div>
            </div>
          </div>
          <div id="getPreChargeTypeContent">
            <div class="label-text margin-bottom-8"><span class="required">*</span>请选择充值类型</div>
            <div class="get-money-from-select margin-bottom-15">
              <select name="getPreChargeTypeSelect" id="getPreChargeTypeSelect" class="form-control"
                      onchange="checkGetMoneySubmit()">
                <option value="-1">{{ __('请选择', {}, 'common') }}</option>
                {% for getPreItem in creditGetPreChargeList %}
                  <option value="{{ getPreItem.type }}">{{ getPreItem.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="body-tip">请点击"确认"按钮，提交充值金额</div>
        </div>
        <div class="modal-footer text-center">
          <button class="btn btn-primary" id="getConfirmButton" onclick="sure('#getMoneyModal')" disabled>确定</button>
        </div>
      </div>
    </div>
  </div>

{#  收款弹窗#}

{#  付款弹窗#}
  <div id="payMoneyModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-margin-top width-small">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="margin-bottom-zero modal-title-font">请填写并确认信息</span>
        </div>
        <div class="modal-body">
          <div class="label-text margin-bottom-8">此笔金额是否由平台付款账户向Buyer打款？</div>
          <div class="pay-money-from-radio margin-bottom-15">
            <label>
              <input type="radio" name="payMoneyFrom" value='1' checked="checked" onclick="payMoneyChoose()">
              是
            </label>
            <label>
              <input type="radio" name="payMoneyFrom" value='0' onclick="payMoneyChoose()">
              否
            </label>
          </div>
          <div id="payMoneyContent">
            <div class="label-text margin-bottom-8"><span class="required">*</span>请选择平台付款账户信息</div>
            <div class="pay-money-from-select margin-bottom-15">
              <select name="payMoneySelect" id="payMoneySelect" class="form-control" onchange="checkPayMoneySubmit()">
                <option value="0">{{ __('请选择', {}, 'common') }}</option>
              </select>
            </div>
            <div class="label-text margin-bottom-8"><span class="required">*</span>请选择平台付款日期</div>
            <div class="pay-money-date margin-bottom-15">
              <input placeholder="Please Select" id="payMoneyDate" type="text" class="form-control datetimepicker" onblur="checkPayMoneySubmit()" >
              <span class="date-icon"><i class="giga icon-date-icon"></i></span>
            </div>
          </div>
          <div id="payTypeContent">
            <div class="label-text margin-bottom-8"><span class="required">*</span>请选择扣款类型</div>
            <div class="get-money-from-select margin-bottom-15">
              {% set releaseSecontValue = '' %}
              {% set releaseSecondType = [] %}
              <select name="payTypeSelect" id="payTypeSelect" class="form-control" onchange="checkPayMoneySubmit()">
                <option value="-1">{{ __('请选择', {}, 'common') }}</option>
                {% for typeItem in creditPayList %}
                  <option value="{{ typeItem.type }}">{{ typeItem.name }}</option>
                  {% if typeItem.children and typeItem.children|length > 0 %}
                  {# 冲回类型 #}
                    {% set releaseSecontValue = typeItem.name %}
                    {% set releaseSecondType = releaseSecondType|merge(typeItem.children) %}
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            {# 支持冲回---->Start #}
            <div id="releaseTypeLine" class="none">
              <div class="label-text margin-bottom-8"><span class="required">*</span>请选择{{ releaseSecontValue }}类型</div>
              <div class="get-money-from-select margin-bottom-15">
                <select name="releaseType" id="releaseType" class="form-control" onchange="changedReleaseType()">
                  <option value="">{{ __('请选择', {}, 'common') }}</option>
                  {% for type in releaseSecondType %}
                  <option value="{{ type.type }}">{{ type.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div id="accountCodeLine" class="margin-bottom-15 input-type none">
              <div class="label-text margin-bottom-8"><span class="required">*</span>请填写对应的账户转出编号或者费用编号</div>
              <div class="pay-money-date">
                <input placeholder="Please Input" id="accountCode" type="text" name="accountCode" autocomplete="off"  
                class="form-control datetimepicker check-input" onblur="numFeeCheck(this, '#payConfirmButton')" onkeyup="numFeeCheck(this, '#payConfirmButton')">
              </div>
              <div class="error-tip error-tip1 text-danger none">{{ error_fee_number_limit }}</div>
              <div class="error-tip error-tip2 text-danger none">{{ error_fee_number_require }}</div>
              <div class="error-tip error-tip3 text-danger none">{{ error_fee_number }}</div>
            </div>
            {# 支持冲回---->End #}
            <div class="show-us-exchange-rate none margin-bottom-15 input-type">
              <div class="label-text margin-bottom-8"><span class="required">*</span>请填写充值币种兑换美元的汇率</div>
              <div class="pay-money-date">
                <input placeholder="Please Input" id="payExchangeRate" type="text" name="payExchangeRate"
                       class="form-control datetimepicker"  onblur="exchangeRateCheck(this)" onkeyup="exchangeRateCheck(this)">
              </div>
              <div class="error-tip error-tip1 text-danger none">{{ error_pay_exchange_rate_spot }}</div>
              <div class="error-tip error-tip2 text-danger none">{{ error_pay_exchange_rate_require }}</div>
              <div class="error-tip error-tip3 text-danger none">{{ error_pay_exchange_rate }}</div>
              <div class="error-tip error-tip4 text-danger none">{{ error_pay_exchange_rate_max }}</div>
            </div>
          </div>
          <div class="body-tip">请点击"确认"按钮，提交扣款金额</div>
        </div>
        <div class="modal-footer text-center">
          <button class="btn btn-primary" id="payConfirmButton" onclick="sure('#payMoneyModal')" disabled>确定</button>
        </div>
      </div>
    </div>
  </div>
{#  付款弹窗#}

{#  二次确认框#}
  <div id="confirmModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-margin-top width-small">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="margin-bottom-zero modal-title-font">确认</span>
        </div>
        <div id="confirmInfo" class="modal-body">
        </div>
        <div class="modal-footer text-center">
          <button class="btn btn-primary"  onclick="sureWork(this)">确定</button>
          <button class="btn btn-default"  data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
{#  二次确认框#}
<script type="text/javascript">
  const RELEASE_TYPE_VALUE = 22;  // 扣款类型：冲回
  const RELEASE_TYPE_SECOND_ACCOUNT_VALUE = 32; // 冲回类型为账户资金转入
  $('#getMoneyDate').datetimepicker({
    format: 'YYYY-MM-DD',
    pickTime: false,
    useCurrent: false,
    maxDate : new Date()
  });

  $('#payMoneyDate').datetimepicker({
    format: 'YYYY-MM-DD',
    pickTime: false,
    useCurrent: false,
    maxDate : new Date()
  });

  //对输入金额进行校验
  function clearNoNum(currency_code,obj) {
    if(currency_code == 'JPY'){
      obj.value = obj.value.replace(/[^\d-]/g,'');
    }else{
      obj.value = obj.value.replace(/[^\d.-]/g, ""); //清除"数字"和"."和"-"以外的字符
      obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字而不是字符          
      obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个.清除多余的       
      obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
      obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
    }
  }
</script>
<script type="text/javascript">
  var data = {};
  function edit(id) {
    // 显示编辑
    $("#" + id + " .form-edit").css("display", "block");
    $("#" + id + " .btn-form-edit").css("display", "inline-block");
    // 隐藏展示
    $("#" + id + " .form-display").css("display", "none");
    $("#" + id + " .btn-form-display").css("display", "none");
  }

  function back(id) {
    $("#" + id + " .form-display").css("display", "block");
    $("#" + id + " .btn-form-display").css("display", "inline-block");
    $("#" + id + " .form-edit").css("display", "none");
    $("#" + id + " .btn-form-edit").css("display", "none");
  }

  function save(id, customerId, currencyCode,email,user_number, button) {
    var formData = $("#" + id + " .form-edit");
    if (formData !== undefined) {
      for (var i = 0; i < formData.length; i++) {
        data[formData[i].name] = formData[i].value;
      }
    }
    var hiddenData = $("#" + id + " .form-hidden");
    if (hiddenData !== undefined) {
      for (var i = 0; i < hiddenData.length; i++) {
        data[hiddenData[i].name] = hiddenData[i].value;
      }
    }
    if (isNaN(data["recharge"]) || data['recharge'] == '') {
      alert("{{ error_recharge_isnt_number }}");
      return;
    }

    if (data["recharge"] == undefined || parseFloat(data["recharge"]) == 0) {
      alert("{{ error_non_recharge }}");
      return;
    }
    if (data["memo"] == undefined || data["memo"] == '') {
      alert("{{ error_non_memo }}");
      return;
    }

    if (data['memo'].length > 200) {
      alert("{{ error_momo_too_long }}");
      return;
    }
    var balance = parseFloat(data["balance"]);
    var recharge = parseFloat(data["recharge"]);
    if (recharge + balance < 0) {
      alert("{{ error_save_line_of_credit }}");
      return;

    }
    data["currencyCode"] = currencyCode;
    data["customer_id"] = customerId;
    data["page"] = {{ page_num }};
    data["page_limit"] = {{ page_limit }};
    if ("{{ name }}" != "") {
      data["name"] = "{{ name }}";
    }
    if ("{{ email }}" != "") {
      data["email"] = "{{ email }}";
    }
    if ("{{ status }}" != "") {
      data["status"] = "{{ status }}";
    }
    if ("{{ role }}" != "") {
      data["role"] = "{{ role }}";
    }
    if(Number(data.recharge) > 0){
      data['type'] = 'get';
      initGetSelect();
      getMoneyChoose();
      initGetConfirmInfo(currencyCode,data.recharge,email,user_number);
      $("#getMoneyModal").modal('show');
    }else{
      data['type'] = 'paid';
      initPaySelect();
      payMoneyChoose();
      initPayConfirmInfo(currencyCode,data.recharge,email,user_number);
      $("#payMoneyModal").modal('show');
    }


    {#$.ajax({#}
    {#  url: 'index.php?route=customer/line_of_credit/update&user_token={{ user_token }}',#}
    {#  type: 'post',#}
    {#  dataType: 'json',#}
    {#  data: data,#}
    {#  beforeSend: function () {#}
    {#    $(button).button('loading');#}
    {#  },#}
    {#  success: function (json) {#}
    {#    if (json['load'] !== undefined) {#}
    {#      location = json['load'];#}
    {#    }#}
    {#  },#}
    {#  error: function (xhr, ajaxOptions, thrownError) {#}
    {#    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);#}
    {#  }#}
    {#});#}
  }

  $('#button-filter').on('click', function () {
    url = 'index.php?route=customer/line_of_credit&user_token={{ user_token }}';
    var name = $('input[name=\'name\']').val();
    if (name) {
      url += '&name=' + encodeURIComponent(name);
    }
    var email = $('input[name=\'email\']').val();
    if (email) {
      url += '&email=' + encodeURIComponent(email);
    }
    var status = $('select[name=\'status\']').val();
    if (status !== '') {
      url += '&status=' + encodeURIComponent(status);
    }
    var role = $('select[name=\'role\']').val();
    if (role !== '') {
      url += '&role=' + encodeURIComponent(role);
    }
    location = url;
  });

  function sure(ele) {
    $(ele).modal('hide');
    setTimeout(()=>{
      $('#confirmModal').modal('show');
    },200)
  }
  function sureWork(obj) {
    $(obj).attr('disabled',true);
    if(data.type == 'get'){
      //
      data['check'] = $('input[name=\'getMoneyFrom\']:checked').val();
      data['company_account_id']  = $('#getMoneySelect').val();
      data['platform_date'] = $('#getMoneyDate').val();
      data['third_trade_number'] = $('#getThirdSerialNumber').val();
      data['fee_number'] = $('#getFeeNumber').val();

      if (data['check'] == 0) {
        data['platform_get_type_id'] = $('#getTypeSelect').val();
      } else if (data['check'] == 2) {
        data['platform_get_type_id'] = $('#getPreChargeTypeSelect').val();
        data['check'] = 0;
      } else {
        data['platform_get_type_id'] = -1;
      }
    }else{
      data['check'] = $('input[name=\'payMoneyFrom\']:checked').val();
      data['company_account_id']  = $('#payMoneySelect').val();
      data['platform_date'] = $('#payMoneyDate').val();
      data['platform_pay_type_id'] = $('#payTypeSelect').val();
      data['pay_exchange_rate'] = $('#payExchangeRate').val().replaceAll(" ", "");
      // 扣款类型是否冲回
      if (data['platform_pay_type_id'] == RELEASE_TYPE_VALUE) {
        data['platform_second_type_id'] = $('#releaseType').val();
        // 冲回类型为账户自己转入需填入编号
        if (data['platform_second_type_id'] == RELEASE_TYPE_SECOND_ACCOUNT_VALUE) {
          data['fee_number'] = $('#accountCode').val();
        }
      }
    }
    data['user_token'] = '{{ user_token }}';
    $('#confirmModal').modal('hide');
    $.ajax({
      url: 'index.php?route=customer/line_of_credit/update&user_token={{ user_token }}',
      type: 'post',
      async: false,
      dataType: 'json',
      data: data,
      beforeSend: function () {
        layer.load(1, {shade: [0.3, '#000']});
      },
      success: function (json) {
        layer.closeAll();
        if(json.error == 0){
          $.toast({
            heading: false,
            text: 'Saved successfully!',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 5000,
            allowToastClose: false,
            loader: false,
          });
          setTimeout(()=>{
            window.location.href = json['load'];
          },1000)
        }else{
          $(obj).attr('disabled',false);
          $.toast({
            heading: false,
            text: json.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 5000,
            allowToastClose: false,
            loader: false,
          });
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        layer.closeAll();
        $(obj).attr('disabled',false);
        $.toast({
          heading: false,
          text: thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText,
          position: 'top-center',
          showHideTransition: 'fade',
          icon: 'error',
          hideAfter: 5000,
          allowToastClose: false,
          loader: false
        });
      }
    });
    data = {};

  }

  function initPaySelect() {
    let payMoneySelect = $('#payMoneySelect');
    let companyAccountList = '{{ companyAccountList }}';
    let json = eval('(' + companyAccountList + ')');
    payMoneySelect.empty();
    payMoneySelect.append('<option value="0">Please Select</option>');
    $.each(json.paid, function (idx, v) {
      let info = '<option value="'+ v.id +'">'+  v.collection_name  +' ('+ v.account +')</option>';
      payMoneySelect.append(info);
    });
    payMoneySelect.val(0);
    $('#payMoneyDate').val(null);
    $('#payTypeSelect').val('-1');
    $('#payExchangeRate').val('');
    $('.show-us-exchange-rate').addClass('none');
  }

  function initGetSelect() {
    let getMoneySelect = $('#getMoneySelect');
    let companyAccountList = '{{ companyAccountList }}';
    let json = eval('(' + companyAccountList + ')');
    getMoneySelect.empty();
    getMoneySelect.append('<option value="0">Please Select</option>');
    $.each(json.get, function (idx, v) {
      let info = '<option value="'+ v.id +'">'+  v.collection_name  +' ('+ v.account +')</option>';
      getMoneySelect.append(info);
    });
    getMoneySelect.val(0);
    $('#getMoneyDate').val(null);
    $('#getTypeSelect').val('-1');
    $('#getThirdSerialNumber').val('');
    $('#getFeeNumber').val('');
    $('.show-third-serial-number').addClass('none');
    $('.show-fee-number').addClass('none')
  }

  function initGetConfirmInfo(currencyCode,recharge,email,user_number) {
    let number = getNumberFormat(currencyCode,recharge);
    let info =  '确认将 '+ number +' 充值到用户Email为 '+ email +' (用户编码：'+ user_number +') 中吗？';
    $('#confirmInfo').empty();
    $('#confirmInfo').html(info);
  }

  function initPayConfirmInfo(currencyCode,recharge,email,user_number) {
    let number = getNumberFormat(currencyCode,Math.abs(recharge),'-');
    let info =  '确认将 '+ number +' 从用户Email为 '+ email +' (用户编码：'+ user_number +') 中扣减吗？';
    $('#confirmInfo').empty();
    $('#confirmInfo').html(info);
  }

  function checkGetMoneySubmit() {
    //切换充值类型来源，检验取消
    $('.error-tip').addClass('none');
    $(".error-input").removeClass('error-input');

    let ret = $('input[name=\'getMoneyFrom\']:checked').val();
    if(ret == 0){
      let selectTypeRet = $('#getTypeSelect').val();
      if(selectTypeRet == '-1') {
        $('#getConfirmButton').attr('disabled', true);
        $('#getThirdSerialNumber').val('');
        $('#getFeeNumber').val('');
        $('.show-third-serial-number').addClass('none');
        $('.show-fee-number').addClass('none');
      } else if (selectTypeRet == 13 || selectTypeRet == 14) {
        if (!$("#getThirdSerialNumber").val()){
          $('#getConfirmButton').attr('disabled', true);
        }
        //显示填写第三方交易流水号
        $('.show-third-serial-number').removeClass('none');
        $('.show-fee-number').addClass('none');
      } else if (selectTypeRet == 5) {
        if (!$("#getFeeNumber").val()){
          $('#getConfirmButton').attr('disabled', true);
        }
        //显示填写对应的账户转出编号或费用编号
        $('.show-fee-number').removeClass('none');
        $('.show-third-serial-number').addClass('none');
      } else if(selectTypeRet == RELEASE_TYPE_VALUE) {  // 扣款类型是冲回
        changedReleaseType();
      } else{
        $('#getConfirmButton').attr('disabled',false);
        $('.show-fee-number').addClass('none');
        $('.show-third-serial-number').addClass('none');
        $('#getMoneySelect').val(0);
        $('#getMoneyDate').val(null);
        $('#getThirdSerialNumber').val('');
        $('#getFeeNumber').val('');
      }
    } else if(ret == 2) {
      let selectTypeRet = $('#getPreChargeTypeSelect').val();
      if(selectTypeRet == '-1'){
        $('#getConfirmButton').attr('disabled',true);
      }else{
        $('#getConfirmButton').attr('disabled',false);
        $('#getMoneySelect').val(0);
        $('#getMoneyDate').val(null);
      }
    } else{
      let selectRet = $('#getMoneySelect').val();
      let dateRet = $('#getMoneyDate').val();
      if((selectRet == '0') || (checkDate(dateRet) == false)){
        $('#getConfirmButton').attr('disabled',true);
      }else{
        $('#getConfirmButton').attr('disabled',false);
      }
    }
  }

  function checkPayMoneySubmit() {
    //切换扣款类型，检验取消
    $('.error-tip').addClass('none');
    $(".error-input").removeClass('error-input');

    let ret = $('input[name=\'payMoneyFrom\']:checked').val();
    if(ret == 0){
      let selectTypeRet = $('#payTypeSelect').val(); // 扣款类型
      if(selectTypeRet == '-1') {
        $('#payConfirmButton').attr('disabled', true);
        $('#payExchangeRate').val('');
        $('.show-us-exchange-rate').addClass('none');
        $('#releaseTypeLine').addClass('none');
        $('#accountCodeLine').addClass('none');
      } else if (selectTypeRet == 0 && data.currencyCode != 'USD') {
        //显示填写充值币种兑换美元的汇率
        $('.show-us-exchange-rate').removeClass('none');
        $('#releaseTypeLine').addClass('none');
        $('#accountCodeLine').addClass('none');
        if(!$("#payExchangeRate").val()){
          $('#payConfirmButton').attr('disabled',true);
        }
      } else if (selectTypeRet == RELEASE_TYPE_VALUE) {
        // 扣款类型：冲回， 展开账户编码
        $('.show-us-exchange-rate').addClass('none');
        $('#releaseTypeLine').removeClass('none');
        changedReleaseType();
      } else {
        $('#payConfirmButton').attr('disabled',false);
        $('#payMoneySelect').val(0);
        $('#payMoneyDate').val(null);
        $('#payExchangeRate').val('');
        $('.show-us-exchange-rate').addClass('none');
        $('#releaseTypeLine').addClass('none');
        $('#accountCodeLine').addClass('none');
      }

    } else{
      let selectRet = $('#payMoneySelect').val();
      let dateRet = $('#payMoneyDate').val();
      if((selectRet == '0') || (checkDate(dateRet) == false)){
        $('#payConfirmButton').attr('disabled',true);
      }else{
        $('#payConfirmButton').attr('disabled',false);
      }
    }
  }

  function getNumberFormat(currencyCode,recharge,operator = '') {
    let symbol_left = '';
    let symbol_right = '';
    let info = '';
    if(currencyCode == 'USD'){
      symbol_left = '$';
    }

    if(currencyCode == 'GBP'){
      symbol_left = '£';
    }

    if(currencyCode == 'EUR'){
      symbol_right = '€';
    }

    if(currencyCode == 'JPY'){
      symbol_left = '￥';
    }
    info =  symbol_left  + moneyFormat(recharge,2) + symbol_right;
    // if(currencyCode == 'JPY'){
    //   info = info.slice(0,-3);
    // }
    return info;

  }

  /**
   * 验证日期是否正确
   * 日期格式：yyyy-mm-dd，yyyy-m-d，yyyy/mm/dd，yyyy/m/d
   */
  function checkDate(dateStr) {
    dateStr = dateStr.replace(/\//g, '-');
    var dateReg = /^(\d{4})-(\d{1,2})-(\d{1,2})$/;
    var rValue = dateStr.match(dateReg);
    if (rValue == null) {
      return false;
    }
    rValue[1] = parseInt(rValue[1], 10);
    rValue[2] = parseInt(rValue[2] - 1, 10);
    rValue[3] = parseInt(rValue[3], 10);
    var dateObj = new Date(rValue[1], rValue[2], rValue[3]);
    if (dateObj.getFullYear() != rValue[1] || dateObj.getMonth() != rValue[2] || dateObj.getDate() != rValue[3]) {
      return false;
    }
    let now = getNowFormatDate();
    return CompareDate(dateStr,now);
  }

  function getNowFormatDate() {
    var date = new Date();
    var seperator1 = "-";
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    if (month >= 1 && month <= 9) {
      month = "0" + month;
    }
    if (strDate >= 0 && strDate <= 9) {
      strDate = "0" + strDate;
    }
    var currentdate = year + seperator1 + month + seperator1 + strDate;
    return currentdate;
  }

  function CompareDate(d1,d2)
  {
    return ((new Date(d1.replace(/-/g,"\/"))) <= (new Date(d2.replace(/-/g,"\/"))));
  }

  function moneyFormat(money, digit) {
    digit = digit > 0 && digit <= 20 ? digit : 2;
    // 处理这个钱
    //查找.后面的位数
    let numStr = money.toString();
    let index = numStr.indexOf('.');
    if(index == '-1'){
      money = money + '.00';
    }else{
      money = money.toString();
    }
    var integerArr = money.split(".")[0].split("").reverse();
    var decimals = money.split(".")[1];
    tempArr = "";
    for (var i=0,k=integerArr.length;i<k;i++) {
      var cammaTag = (i+1)%3==0 && (i+1)!=k ? "," : "";
      tempArr += integerArr[i] + cammaTag;
    }
    if(index == -1){
      money = tempArr.split("").reverse().join("");
    }else {
      money = tempArr.split("").reverse().join("") + "." + decimals;
    }
    return money;
  }

  function getMoneyChoose() {
    //切换平台收款来源，检验取消
    $('.error-tip').addClass('none');
    $(".error-input").removeClass('error-input');
    let ret = $('input[name=\'getMoneyFrom\']:checked').val();
    checkGetMoneySubmit();
    if(ret == 1){
      $('#getMoneyContent').show();
      $('#getTypeContent').hide();
      $('#getTypeSelect').val('-1');

      $('#getPreChargeTypeContent').hide();
      $('#getPreChargeTypeSelect').val('-1');
      return;
    }

    if (ret == 2) {
      $('#getTypeContent').hide();
      $('#getMoneyContent').hide();
      $('#getTypeSelect').val('-1');
      $('#getPreChargeTypeContent').show();
      return;
    }

    if (ret == 0) {
      $('#getMoneyContent').hide()
      $('#getPreChargeTypeContent').hide();
      $('#getPreChargeTypeSelect').val('-1');
      $('#getTypeContent').show();
      return;
    }
  }

  function payMoneyChoose() {
    //切换打款，检验取消
    $('.error-tip').addClass('none');
    $(".error-input").removeClass('error-input');
    let ret = $('input[name=\'payMoneyFrom\']:checked').val();
    checkPayMoneySubmit();
    if(ret == 1){
      $('#payMoneyContent').show();
      $('#payTypeContent').hide();
      $('#payTypeSelect').val('-1');
      return;
    }
    $('#payMoneyContent').hide();
    $('#payTypeContent').show();
  }
</script>

<script>
  //监听支付失败的第三方交易流水号和对应的账户转出编号
  function numFeeCheck(that, confirmId = '#getConfirmButton'){
    var trueInput = $(that).val();
    var len = toolString.calcStrTrueLen(trueInput);
    var $errorTip = $(that).closest('.input-type').find('.error-tip');
    var re = /[`~!@#$%^&*()+=<>?:"{}|\/;'\\[\]·~！@#￥%……&*（）——\+={}|《》？：“”【】、；‘’。、，]/;
    var result = re.test(trueInput);
    //本身为空，显示必填错误
    if ($(that).val() == '') {
      $errorTip.addClass('none');
      $(that).closest('.input-type').find('.error-tip2').removeClass('none');
      $(that).addClass('error-input');
      $(confirmId).attr('disabled', true);
      return;
    }
    //输入有特殊字符，格式错误
    else if(result){
      $errorTip.addClass('none');
      $(that).closest('.input-type').find('.error-tip3').removeClass('none');
      $(that).addClass('error-input');
      $(confirmId).attr('disabled', true);
      return;
    }
    //输入的符合规则
    else{
      if (len > 50) {
        $errorTip.addClass('none');
        $(that).closest('.input-type').find('.error-tip1').removeClass('none');
        $(that).addClass('error-input');
        $(confirmId).attr('disabled', true);
        return;
      } else if (len < 1) {
        $errorTip.addClass('none');
        $(that).closest('.input-type').find('.error-tip2').removeClass('none');
        $(that).addClass('error-input');
        $(confirmId).attr('disabled', true);
        return;
      } else {
        $errorTip.addClass('none');
        $(that).removeClass('error-input');
        $(confirmId).attr('disabled', false);
      }
    }
  }

  //汇率校验
  function exchangeRateCheck(that){
    // var inputVal = $(that).val().replaceAll(" ", "");
    var inputVal = $(that).val().replace(/[, ]/g,'');
    var $errorTip = $(that).closest('.input-type').find('.error-tip');
    //本身为空，显示必填错误
    if ($(that).val() == '') {
      $errorTip.addClass('none');
      $(that).closest('.input-type').find('.error-tip2').removeClass('none');
      $(that).addClass('error-input');
      $("#getConfirmButton").attr('disabled', true);
      return;
    }
    //输入不是数字，格式错误
    else if(isNaN(inputVal)){
      $errorTip.addClass('none');
      $(that).closest('.input-type').find('.error-tip3').removeClass('none');
      $(that).addClass('error-input');
      $("#payConfirmButton").attr('disabled', true);
      return;
    }
    //输入的为数字校验
    else{
      var spot_behind = inputVal.toString().split(".")[1];
      var spot_front = inputVal.toString().split(".")[0];
      var spot_behind_len = spot_behind == undefined ? 0 : spot_behind.length;
      var spot_front_len = spot_front == undefined ? 0 : spot_front.length;
      var re = /^([1-9][0-9]*|\d)(\.?|\.\d+)?$/;
      var result = re.test($(that).val().trim());

      //判断是否大于0
      if(inputVal<=0){
        $errorTip.addClass('none');
        $(that).closest('.input-type').find('.error-tip4').removeClass('none');
        $(that).addClass('error-input');
        $("#payConfirmButton").attr('disabled', true);
        return;
      }
      //校验是否为有效数字，例001,00.2
      else if(!result){
        $errorTip.addClass('none');
        $(that).closest('.input-type').find('.error-tip3').removeClass('none');
        $(that).addClass('error-input');
        $("#payConfirmButton").attr('disabled', true);
        return;
      }
      //判断小数位
      else if (spot_behind_len > 12) {
        $errorTip.addClass('none');
        $(that).closest('.input-type').find('.error-tip1').removeClass('none');
        $(that).addClass('error-input');
        $("#payConfirmButton").attr('disabled', true);
        return;
      }
      //判断整数位
      else if (spot_front_len > 8 || spot_front_len < 1) {
        $errorTip.addClass('none');
        $(that).closest('.input-type').find('.error-tip4').removeClass('none');
        $(that).addClass('error-input');
        $("#payConfirmButton").attr('disabled', true);
        return;
      }
      //满足校验条件的
      else {
        $errorTip.addClass('none');
        $(that).removeClass('error-input');
        $("#payConfirmButton").attr('disabled', false);
      }
    }
  }

  // 冲回类型change事件
  function changedReleaseType() {
    let releaseType = $('#releaseType').val();  // 冲回类型
    if (releaseType == RELEASE_TYPE_SECOND_ACCOUNT_VALUE) {  // 账户资金转入
      $('#accountCodeLine').removeClass('none');
    } else {
      $('#accountCodeLine').addClass('none');
    }
    checkReleaseTypeForm();
  }

  // 检查冲回类型下字段必填项
  function checkReleaseTypeForm(that) {
    that = that || $('#accountCode')[0];
    let confirmBtnDisabled = false;  // 确定按钮是否Disabled
    let releaseType = $('#releaseType').val();  // 冲回类型
    let accountCode = $('#accountCode').val();  // 账户转出编号...
    if (!releaseType || (releaseType == RELEASE_TYPE_SECOND_ACCOUNT_VALUE && !accountCode)) { //  冲回类型为空或者资金转入类型下转出编号为空
      confirmBtnDisabled = true;
    }
    $("#payConfirmButton").attr('disabled', confirmBtnDisabled);
  }

</script>

{{ footer }}
