{{ header }}{{ separate_column_left }}
<style>
  #account-download {
    width: 1400px
  }
</style>
{% if separate_view is defined and separate_view %}
<div id="account-download" class="container" style="margin-left: 15%;">
    {% else %}
    <div id="account-download" class="container">
        {% endif %}
        <div>
            {% if column_left and column_right %}
                {% set class = 'col-sm-6' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-sm-9' %}
            {% else %}
                {% set class = 'col-sm-12' %}
            {% endif %}
            <div>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
      <div class="pull-right">
        <div>
          <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
            <i class="fa fa-reply"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> Detail List </h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <td class="text-center">Serial Number</td>
                  <td class="text-center">Create Time</td>
                  <td class="text-center">Pre-Update balance</td>
                  <td class="text-center">Recharge Price</td>
                  <td class="text-center">Update balance</td>
                  <td class="text-center">{{ column_currency }}</td>
                  <td class="text-center">Type</td>
                  <td class="text-center">Memo</td>
                                    <td class="text-center" style="width: 200px;">Operator</td>
                </tr>
                </thead>
                <tbody>
                {% for amendantRecord in amendantRecords %}
                  <tr>
                    <td>{{ amendantRecord.serialNumber }}</td>
                    <td class="text-center">{{ amendantRecord.addDate }}</td>
                    <td class="text-center">{{ amendantRecord.oldLineOfCredit }}</td>
                    <td class="text-center">{{ amendantRecord.rechargePrice }}</td>
                    <td class="text-center">{{ amendantRecord.newLineOfCredit }}</td>
                    <td class="text-center">{{ amendantRecord.currency_name }}</td>
                    <td class="text-center">{{ amendantRecord.type }}</td>
                    <td class="text-center" style="width: 250px">{{ amendantRecord.memo }}</td>
                    <td class="text-center" style="width: 150px">{{ amendantRecord.operatorId }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="pull-left">
                </div>
                <div class="pull-right">{{ pagination }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}