<div role="tabpanel" class="tab-pane active">
  <div class="bg-white p-2">
    <div class="filter-wrapper form-wrapper">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="" for="input-orderId"><span style="font-weight: bold">Platform</span></label>
            <select id="input-platform_id" name="platform_id" class="form-control">
              <option value="0">--{{ __('请选择', {}, 'common') }}--</option>
              {% for item in platformKeyList %}
                <option value="{{ item.platform_id }}"
                        {% if item.platform_id == filter_platform_id %}selected{% endif %}>{{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="" for="input-item_code"><span
                style="font-weight: bold">Platform SKU/B2B Item Code</span></label>
            <input type="text" name="search_sku" value="{{ filter_search_sku }}"
                   placeholder="platform SKU or B2B item code" id="input-search_sku" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="" for="input-item_code"><span style="font-weight: bold">PLATFORM STORE NAME</span></label>
            <input type="text" name="search_sku_store" value="{{ filter_search_sku_store }}"
                   placeholder="platform store name" id="input-search_sku_store" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-12" style="padding-right: 20px">
          <div class="form-group pull-right">
            <button
              type="button"
              onclick="filterItemCodeMapping(this);"
              class="btn btn-primary"
              style="font-size: 16px">
              {{ button_filter }}
            </button>
            <button type="button" onclick="downloadItemCodeMapping();" class="btn btn-default" data-toggle="tooltip"
                    title="{{ text_commodity_statistics }}">
              <i class="giga icon-download"></i>
            </button>
            <button type="button" onclick="clrFilterItemCodeMapping(this)" class="btn btn-default" data-toggle="tooltip"
                    title="Reset">
              <i class="giga icon-reset3"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary doAddItemCodeMapping mr-1 option-group"><i class="fa fa-plus"></i>
        Create
      </button>
      <button type="button" class="btn btn-default mr-1 option-group" id="btn_import_sku"><i class="fa fa-upload"></i>
        Import
      </button>
      <input type="file" id="btn_import_file" name='btn_import_file' onchange="handleFiles(this.files)"
             style="display:none;">
      <a href="{{ itemCodeMappingTemplate }}"
         download="Download Template"
         class="my-download mr-1 option-group giga-content hover-line">
        Download Template
      </a>
      <a href="{{ importGuide }}"
         class="my-download mr-1 option-group giga-content hover-line">
        Import Guide
      </a>
    </div>

    <div class="table-responsive">
      <table class="table main table-hover">
        <thead>
        <tr>
          <th>
            <div class="check">
              <input
                id="check_box"
                onclick="selectAll(this)"
                data-set=".checkboxes"
                type="checkbox"/>
              <span class="icon"></span>
            </div>
          </th>
          <th class="text-left">#</th>
          {# <th class="text-left my-hover"><a onclick="sortItemCodeMapping('platform','{{ order }}');" #}
          {# {% if sort == 'platform' %} class="{{ class_order|lower }}" {% endif %}>Platform </a></th> #}
          {# <th class="text-left my-hover"><a onclick="sortItemCodeMapping('platform_sku_store','{{ order }}');" #}
          {# {% if sort == 'platform_sku_store' %} class="{{ class_order|lower }}" {% endif %}>Platform Store Name</a> #}
          {# </th> #}
          {# <th class="text-left my-hover"><a onclick="sortItemCodeMapping('platform_sku','{{ order }}');" #}
          {# {% if sort == 'platform_sku' %} class="{{ class_order|lower }}" {% endif %}>Platform SKU </a></th> #}
          {# <th class="text-left">B2B Item Code</th> #}
          {# <th class="text-center my-hover"><a onclick="sortItemCodeMapping('date_modified','{{ order }}');" #}
          {# {% if sort == 'date_modified' %} class="{{ class_order|lower }}" {% endif %}>Last Modified </a></th> #}
          {# <th class="text-center">Actions</th> #}
          <th class="text-left my-hover">Platform</th>
          <th class="text-left my-hover">Platform Store Name</th>
          <th class="text-left my-hover">Platform SKU</th>
          <th class="text-left">B2B Item Code</th>
          <th class="text-center my-hover">Last Modified</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if itemCodeMappingList %}
          {% for k,item in itemCodeMappingList %}
            <tr id="tr_{{ item.id }}">
              <td>
                <div class="check">
                  <input class="checkboxes" name="" value="{{ item.id }}" type="checkbox"/>
                  <span class="icon"></span></div>
              </td>
              <td class="text-left">{{ k+1 }}</td>
              <td class="text-left">{{ item.platform_name }}</td>
              <td class="text-left">{{ item.platform_sku_store }}</td>
              <td class="text-left">{{ item.platform_sku }}</td>
              <td class="text-left">{{ item.sku }}</td>
              <td class="text-center">{{ item.date_modified }}</td>
              <td class="text-center">
                <div class="action-group">
                  <a class="btn doEditItemCodeMapping" title="" data-toggle="tooltip"
                     data-original-title="Edit" data-id="{{ item.id }}"
                     data-platform_id="{{ item.platform_id }}"
                     data-platform_sku="{{ item.platform_sku }}"
                     data-platform_sku_store="{{ item.platform_sku_store }}"
                     data-platform_name="{{ item.platform_name }}"
                     data-b2b_sku="{{ item.sku }}"
                     data-product_id="{{ item.product_id }}">
                    <i class="giga icon-action-edit"></i>
                  </a>
                  <a
                    class="btn"
                    onclick="toDelete({{ item.id }},'{{ item.platform_name }}','{{ item.platform_sku_store }}','{{ item.platform_sku }}','{{ item.sku }}')"
                    id="toDelete" data-original-title="Delete" title="" data-toggle="tooltip">
                    <i class="giga icon-action-delete-entry"></i></a>
                </div>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-sm-12">

        {% if itemCodeMappingList %}
          <div class="pull-left">
            {# 左侧删除 #}
            <div class="table-bottom-action">
              <div class="bottom-action-left">
                <i class="fa fa-right-angle"></i>
                <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"
                        onclick="checkboxDelete()"><i class="fa fa-trash-o"></i></button>
                <span class="bottom-action-detail"></span>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="pull-right">
          <ul id="bos_pagination_mapping_item_code"></ul>
          {{ page_view }}
        </div>
      </div>
    </div>

  </div>
</div>

<!-- （Modal） -->
<div class="modal fade" id="myModalItemCodeMapping" tabindex="-1" role="dialog"
     aria-labelledby="myModalItemCodeMappingLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-itemcodemapping-area">
    <div class="modal-content">
      <div class="modal-header modal-itemcodemapping-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                style="opacity: 1;">&times;
        </button>
        <h4 class="modal-title" id="myModalItemCodeMappingLabel">Add Item Code Mapping</h4>
      </div>
      <div class="modal-body">
        <div style="">
          <form role="form">
            <input type="hidden" id="mapping_item_code_id" name="mapping_item_code_id" value="0">
            <div class="form-group">

              <div class="my-tip alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"
                      style="vertical-align: middle"></span>
                <span id="ic_tip">[Platform-Platform SKU] has already built the mapping. Please edit in the listing page.</span>
              </div>

              <label for="platform_id">Platform</label>
              <select id="platform_id" name="platform_id" class="form-control">
                <option value="0">--{{ __('请选择', {}, 'common') }}--</option>
                {% for item in platformKeyList %}
                  <option value="{{ item.platform_id }}" data-text="{{ item.name }}">{{ item.name }}</option>
                {% endfor %}
              </select>
              <input type="hidden" id="platform_name_old">
            </div>
            <div class="form-group">
              <label for="platform_sku">PLATFORM STORE NAME</label>
              <input type="text" class="form-control" id="platform_sku_store" name="platform_sku_store"
                     class="form-control"
                     placeholder="Platform Store Name">
              <input type="hidden" id="platform_sku_store_old">
            </div>
            <div class="form-group">
              <label for="platform_sku">Platform SKU</label>
              <input type="text" class="form-control" id="platform_sku" name="platform_sku" class="form-control"
                     placeholder="Platform SKU" onblur="platformSkuCheck()">
              <input type="hidden" id="platform_sku_old">
            </div>
            <div class="form-group">
              <label for="b2b_sku">B2B Item Code</label>
              <input type="text" class="form-control" id="b2b_sku" name="b2b_sku" class="form-control"
                     placeholder="B2B Item Code">
              <input type="hidden" id="b2b_sku_old">
            </div>
          </form>
        </div>
      </div>
      <div id="myModalItemCodeMappingFooter" class="modal-footer" style="text-align: center;">
        <button id="myModalItemCodeMappingSubmit" type="button" class="btn btn-primary btn-submit">Submit</button>
        <button id="myModalItemCodeMappingCancel" type="button" class="btn btn- btn-cancel">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>

{# <div class="modal fade" id="myModalItemCodeConfirm" tabindex="-1" role="dialog"
     aria-labelledby="myModalItemCodeConfirmLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-itemcodemapping-area">
    <div class="modal-content">
      <div class="modal-header modal-itemcodemapping-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                style="opacity: 1;">&times;
        </button>
        <h4 class="modal-title" id="myModalItemCodeConfirmLabel">Confirm</h4>
      </div>
      <div class="modal-body" id="myModalItemCodeConfirmBody">

      </div>
      <div id="myModalItemCodeConfirmFooter" class="modal-footer" style="text-align: center;">
        <button id="myModalItemCodeConfirmSubmit" type="button" class="btn btn-primary btn-submit">Yes</button>
        <button id="myModalItemCodeConfirmCancel" type="button" class="btn btn- btn-cancel">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div> #}

<script type="text/javascript">
  $(function () {
    $(".tooltip").remove();
    block.unBlockUI();
    $("#myModalItemCodeMapping").modal({backdrop: 'static', keyboard: false, show: false});

    //每一行的复选框
    $(".checkboxes").off("click").on("click", function () {
      if (!$(this).prop("checked")) {
        $("#check_box").prop("checked", false);
      } else {
        let is_all = true;
        $(".checkboxes").each(function (index, domEle) {
          if (!$(domEle).prop("checked")) {
            $("#check_box").prop("checked", false);
            is_all = false;
          }
        });
        if (is_all) {
          $("#check_box").prop("checked", true);
        }
      }
    });
  });

  let fileSelect = document.getElementById('btn_import_sku'), fileElem = document.getElementById('btn_import_file');
  fileSelect.addEventListener("click", function (e) {
    if (fileElem) {
      fileElem.click();
    }
    e.preventDefault(); // prevent navigation to "#"
  }, false);

  $(".doAddItemCodeMapping").off("click").on("click", function () {
    $("#myModalItemCodeMappingLabel").text("Add Item Code Mapping");
    $("#mapping_item_code_id").val(0);
    $("#myModalItemCodeMapping #platform_id").val(0).attr("disabled", false);
    $("#platform_sku").val("").attr("disabled", false);
    $("#platform_sku_store").val("").attr("disabled", false);
    $("#b2b_sku").val("").attr("disabled", false);
    $("#myModalItemCodeMapping .my-tip").hide();
    $("#myModalItemCodeMapping .form-group").removeClass("has-error");
    $("#myModalItemCodeMappingSubmit").attr("url", "index.php?route=account/customerpartner/mapping_management/save");

    $("#myModalItemCodeMapping").modal("show");
  });


  $("#myModalItemCodeMappingSubmit").off("click").on("click", function () {
    if (!beforeSubmitItemCodeMappingCheck()) {
      return false;
    } else {
      $("#myModalItemCodeMapping #ic_tip").text("");
      $("#myModalItemCodeMapping .my-tip").hide();
    }
    let mapping_item_code_id = parseInt($("#mapping_item_code_id").val());
    if (mapping_item_code_id < 1) {
      submitItemCodeAdd();//add
    } else {
      submitItemCodeEdit();//edit
    }
  });
  $("#myModalItemCodeMappingCancel").on("click", function () {
    $("div#myModalItemCodeMapping").modal("hide");
  });
  $(".doEditItemCodeMapping").off("click").on("click", function () {
    $("#myModalItemCodeMappingLabel").text("Edit Item Code Mapping");
    $("#mapping_item_code_id").val(0);
    $("#b2b_sku").val("").attr("disabled", false);
    $("#myModalItemCodeMapping .my-tip").hide();
    $("#myModalItemCodeMapping .form-group").removeClass("has-error");
    $("#myModalItemCodeMappingSubmit").attr("url", "index.php?route=account/customerpartner/mapping_management/updates");

    let that = this;
    let id = $(that).data('id');
    let platform_id = $(that).data('platform_id');
    let platform_name = $(that).data('platform_name');
    let platform_sku = $(that).data('platform_sku');
    let platform_sku_store = $(that).data('platform_sku_store');
    let b2b_sku = $(that).data('b2b_sku');

    $("#mapping_item_code_id").val(id);
    $("#myModalItemCodeMapping #platform_id").val(platform_id);
    $("#myModalItemCodeMapping #platform_sku").val(platform_sku);
    $("#myModalItemCodeMapping #platform_sku_store").val(platform_sku_store);
    $("#myModalItemCodeMapping #platform_sku_store_old").val(platform_sku_store);
    $("#myModalItemCodeMapping #b2b_sku").val(b2b_sku);
    $("#myModalItemCodeMapping #b2b_sku_old").val(b2b_sku);
    $("#myModalItemCodeMapping #platform_sku_old").val(platform_sku);
    $("#myModalItemCodeMapping #platform_name_old").val(platform_name);

    $("#myModalItemCodeMapping").modal("show");
  });


  $(document).off("#myModalItemCodeMapping #b2b_sku");
  $("#myModalItemCodeMapping #b2b_sku").autocomplete({
    'source': function (request, response) {
      $.ajax({
        url: 'index.php?route=account/customerpartner/mapping_management/autocomplete_sku&b2b_sku=' + encodeURIComponent(request),
        dataType: 'json',
        success: function (json) {
          response($.map(json, function (item) {
            return {
              label: item['sku'],
              value: item['sku']
            }
          }));
        }
      });
    },
    'select': function (item) {
      $("#b2b_sku").val(item['value']);
    }
  });

</script>
