{% trans_default_category 'catalog/view/customerpartner/message_center/common/detail/notice' %}

{% set titleStr = '' %}
{% if prev_route == 'customerpartner/message_center/my_message/system' %}
  {% set titleStr = 'System Alerts' %}
{% elseif prev_route == 'customerpartner/message_center/my_message/trash' %}
  {% set titleStr = 'Trash' %}
{% elseif prev_route in ['customerpartner/message_center/my_message/notice', 'customerpartner/seller_center/index'] %}
  {% set titleStr = 'Notifications and Announcements' %}
{% endif %}

{{ this.title(titleStr) }}
  {{ this.params('breadcrumbs', [
    {
      text: 'Message Center',
      href: 'javascript:void(0)',
    },
    {
      text: 'My Messages',
      href: 'javascript:void(0)',
    },
    {
      text: titleStr,
      href: url(prev_route),
    }
  ]) }} 

{{ this.params('pageTitle', {
  show: true,
  title: 'My Messages',
  backUrl: '',
  buttons: []
}) }}

{{ css([
  'static/message/message-common.css',
  'static/customerpartner/message_center/my-message-common.css'
]) }}

<style>
#page-notice.msgcent-mymessage a {
  color: #333;
}

#page-notice.msgcent-mymessage img {
    max-width: 400px;
}
</style>

<div id="page-notice" class="msgcent-mymessage">
  <div id="table_content" class="msgcent msg-detail__container">
    <div class="msgcent msg-detail__header">
      <div class="msgcent msg-detail__backbtn"><a href="{{ prev_url }}" data-toggle="tooltip" title="back"><i class="giga icon-V10_zuocejiantou"></i></a></div>
      <div class="msgcent msg-detail__header__btn-group">
        <div class="msgcent msg-detail__cantreply">You cannot respond to this message.</div>
        {% if titleStr != 'Trash' and is_send_email %}
        <button class="oris-button oris-button-default msgcent msg-detail__delbtn" onclick="sendEmail('{{ msg_id }}', '{{ receiver_id }}')">
          <i class="giga icon-fasongyoujian-01" style="font-weight: 500"></i>
          Forward
        </button>
        {% endif %}
        {% if titleStr != 'Trash' %}
        <button class="oris-button oris-button-default msgcent msg-detail__delbtn" onclick="toDelete();">Delete</button>
        {% endif %}
      </div>
    </div>
    <div class="msgcent msg-detail__content">
      <div class="msgcent msg-detail__title">
        <div class="msgcent msg-detail__subject">
          {{ subject }}
        </div>
        <div class="msgcent msg-detail__inforow">
          <div class="msgcent msg-detail__sender">
            Sender:  {{ sender }}
          </div>
          <div class="msgcent msg-detail__time">
            {{post_time}}
          </div>
        </div>
      </div>
      <div class="msgcent msg-detail__message-content">
        {{content}}

        {% if attachments %}
          <div class="attachment">
            {% for attachment in attachments %}
              <a href="{{ attachment.url }}"><i class="giga icon-attachment" aria-hidden="true"></i>&nbsp;{{ attachment.name }}</a><br/>
            {% endfor %}
          </div>
        {% endif %}
      </div>
        {% if titleStr == 'Notifications and Announcements' and make_sure_status and p_make_sure_status != 1 %}
        <div style="margin-top: 12px;">
          <div class="text-center" >
            <div>
              <button class="btn btn-default btn-submit oris-button" onclick="toSure();">Confirm</button>
            </div>
          </div>
        </div>
        {% endif %}
    </div>
  </div>
</div>

<style>
  .message_content a {
    color: #478bff;
    text-decoration:underline;
  }
  #table_content .alert{
    color: #333;
    border:1px solid #FA6400;
    background-color: #fff5ef;
    /*opacity: 0.25;*/
    border-radius: 3px;
    box-shadow: #FA6400 0 0 3px;
  }
  .message_content{
    word-break: break-word;
    min-height: 300px;
    background-color: #eee;
    padding:10px 15px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .notice_content img{
    max-width: 90%;
    height: auto;
  }
  .container-fluid span{
    color: #ccc;
  }
</style>

<script>
  {% if titleStr == 'Notifications and Announcements' %}
  function toDelete() {
    var noticeId = '{{ msg_id }}';
    var dataModel = '{{ data_model }}';
    layer.confirm('Are you sure you want to delete these messages?', {
        title: 'Message',
        skin: 'oris-layer', //样式类名
        btn: ['Yes', 'No']
      }, //按钮
      function () {
        layer.closeAll();
        $.ajax({
          url: "{{ url('customerpartner/message_center/notice/handleDeleted') }}",
          type: 'post',
          data: {notices: [{id: noticeId, type: dataModel}]},
          dataType: 'json',
          async : true,
          success: function (json) {
            if (json.code == 200) {
              $.toast({
                heading: false,
                text: 'Delete successfully.',
                position: 'top-center',
                showHideTransition: 'fade',
                icon: 'success',
                hideAfter: 3000,
                allowToastClose: false,
                loader: false,
                afterHidden: function () {
                  window.location.href = '{{ prev_url }}';
                }
              });
            } else {
              $.toast({
                heading: false,
                text: 'Please try again later!',
                position: 'top-center',
                showHideTransition: 'fade',
                icon: 'error',
                hideAfter: 3000,
                allowToastClose: false,
                loader: false,
              });
            }
          }
        });
      });
  }
  function sendEmail() {
    var noticeId = '{{ msg_id }}';
    var dataModel = '{{ data_model }}';
    $.ajax({
      url: '{{ url("customerpartner/message_center/notice/sendEmail") }}',
      data: {notice_id: noticeId, type: dataModel},
      dataType: 'json',
      type: "post",
      success: function (json) {
        if (json.code == 200) {
          $.toast({
            heading: false,
            text: 'Email sent successfully.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        } else {
          $.toast({
            heading: false,
            text: 'Email sent failed.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        }
      }
    });
  }
  function toSure() {
    var noticeId = '{{ msg_id }}';
    var dataModel = '{{ data_model }}';
    layer.confirm('Are you sure you want to confirm this message?', {
        title: 'Confirm',
        skin: 'yoris-laye',
        btnAlign: 'c',
        btn: ['Yes', 'No']
      }, //按钮
      function () {
        layer.closeAll();
        $.ajax({
          url: '{{ url("customerpartner/message_center/notice/handleSure") }}',
          data: {notices: [{id: noticeId, type:dataModel }] },
          dataType: 'json',
          type: "post",
          success: function (response) {
            if (response.code == 200) {
              $.toast({
                heading: false,
                text: 'Confirmation successful.',
                position: 'top-center',
                showHideTransition: 'fade',
                icon: 'success',
                hideAfter: 3000,
                allowToastClose: false,
                loader: false,
                afterHidden: function () {
                  window.location.reload();
                }
              });
            } else {
              $.toast({
                heading: false,
                text: 'Confirmation failed.',
                position: 'top-center',
                showHideTransition: 'fade',
                icon: 'error',
                hideAfter: 3000,
                allowToastClose: false,
                loader: false,
              });
            }
          }
        });

      });
  }
  {% endif %}

  {% if titleStr == 'System Alerts' %}
  function toDelete() {
    var ids = {{ msg_receive_id }};
    layer.confirm("Are you sure you want to delete this message?", {
        closeBtn: 1,
        btnAlign: 'c',
        title: 'Message',
        btn: ['Yes', 'No'],
        skin: 'oris-layer'
      }, //按钮
      function () {
        layer.closeAll();
        $.ajax({
          url: "{{ url('customerpartner/message_center/message/handleDeleted') }}",
          type: 'post',
          data: {tab_type: 'inbox', ids: ids, delete_status: 1},
          dataType: 'json',
          success: function (json) {
            if (json.code == 200) {
              $.toast({
                heading: false,
                text: 'Delete successfully.',
                position: 'top-center',
                showHideTransition: 'fade',
                icon: 'success',
                hideAfter: 3000,
                allowToastClose: false,
                loader: false,
                afterHidden: function () {
                  window.location.href = '{{ prev_url }}';
                }
              });
            } else {
              $.toast({
                heading: false,
                text: 'Please try again later!',
                position: 'top-center',
                showHideTransition: 'fade',
                icon: 'error',
                hideAfter: 3000,
                allowToastClose: false,
                loader: false,
              });
            }
          }
        });
      });
  }

  function sendEmail(msgId, receiverId) {
    $.ajax({
      url: '{{ url("customerpartner/message_center/message/sendEmail") }}',
      data: {msg_id: msgId, receiver_id: receiverId},
      dataType: 'json',
      type: "post",
      success: function (json) {
        if (json.code == 200) {
          $.toast({
            heading: false,
            text: 'Email sent successfully.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        } else {
          $.toast({
            heading: false,
            text: 'Email sent failed.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        }
      }
    });
  }
  {% endif %}
</script>
