{{ header }}{{ separate_column_left }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"
      rel="stylesheet" type="text/css"/>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<style>
    body {
        font-size: 14px;
    }

    #box-shadow {
        padding: 10px 20px;
        margin-right: 0;
    }

    .bootstrap-select .dropdown-toggle,
    .bootstrap-select > .dropdown-toggle.bs-placeholder,
    .bootstrap-select > .dropdown-toggle.bs-placeholder:active,
    .bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
    .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
        box-shadow: none;
        height: 40px;
        background-color: #f3f5f7;
        border-radius: 4px;
        font-weight: initial;
        color: #666;
    }

    .datetimepicker {
        padding: 0;
        padding-right: 5px;
    }

    .datetimepicker input {
        padding: 15px 25px 0 10px;
    }

    .datetimepicker .title {
        position: absolute;
        top: 0;
        left: 10px;
        color: #aaa;
    }

    .datetimepicker .icon {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: #aaa;
    }

    .pull-right .btn-primary {
        height: 40px;
        width: 70px;
        padding: 0;
        line-height: 38px;
        font-size: 14px;
        font-weight: initial;
    }

    .pull-right .btn-default {
        width: 40px;
        height: 40px;
        padding: 0;
    }

    .batch-operations a.btn {
        width: 35px;
        height: 35px;
        font-weight: initial;
        padding: 0;
        line-height: 35px;
    }

    a.link {
        color: #3A75DC;
    }

    a.link:hover {
        text-decoration: underline;
    }
    .btn.btn-primary{
        color: #fff;
        background-color: #3A75DC ;
    }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active{
        color: #fff ;
        background-color:#2d57a9 ;
        border-color: #2d57a9;

    }
    .pull-right .btn.btn-default:hover{
        background-color: #3A75DC;
        border-color: #3A75DC;
        color: #fff;
        font-weight: normal;
    }
    .bootstrap-select li a:active,
    .bootstrap-select li a:hover,
    .bootstrap-select li a:focus{
       opacity: 1;
    }
    .yzc_layer .layui-layer-ico{
        background: none;
    }
    .yzc_layer .layui-layer-close.layui-layer-close1:after{
        content: "\e6b4";
        font-family: 'giga';
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn0{
        border-color: #3A75DC;
        background-color: #3A75DC;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn0:hover{
        background-color: #2d57a9;
        opacity: 1;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn1{
        color: #3A75DC;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn1:hover{
        background-color: #3A75DC;
        color: #fff;
        opacity: 1;
    }
     .yzc_layer .layui-layer-content{
        text-align: left;
    }
    .page-info{
      margin-bottom:0;
    }
    .filter-option-inner{
      position: relative;
      top: 2px;
    }
    .form-group .control-label{
        text-transform: none;
    }
    .giga.icon-help-inactive{
        font-weight: initial;
    }
</style>


<div
        {% if separate_view is defined and separate_view %}
            class="container-fluid" id="content" style="margin-left: 235px"
        {% else %}
            class="container"
        {% endif %}
>
    {#    面包屑不正确#}
    {% include 'giga/template/_parts/breadcrumb.twig' %}

    <div class="row" style="margin-right: 0;margin-left: 0">
        <div class="">
            <h1 style="display: inline-block">{{ text_list_title }}</h1>
            <a href="{{ url('account/customerpartner/future/contract/add') }}" target="_blank"
               class="btn btn-primary pull-right" style="height: 40px;line-height: 22px">
                <i class="fa fa-plus"></i>
                <span style="margin-left: 2px">{{ text_list_create_contract }}</span>
            </a>
        </div>
        <div id="box-shadow">
            <div class="row">
                <form action="#" id="form-search">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" for="filter_contract_no">{{ text_list_filter_id }}</label>
                            <input type="" name="filter_contract_no" value="{{ filter_contract_no }}"
                                   placeholder=" {{ text_list_filter_id }}" id="filter_contract_no" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" for="filter_code_mpn">Item Code / MPN</label>
                            <input type="text" name="filter_code_mpn" value="{{ filter_code_mpn }}" placeholder="Item Code / MPN"
                                   id="filter_code_mpn" class="form-control"/>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">{{ text_list_filter_delivery_date }}</label>
                            <div class="datetimepicker-range">
                                <div class="datetimepicker col-sm-6">
                                    <input type="text" name="delivery_date_begin" value=""
                                           placeholder="Pick a date..."
                                           id="delivery_date_from" class="form-control"/>
                                    <span class="title">From</span>
                                    <span class="icon"><i class="gcl gclriliriqi"></i></span>
                                </div>
                                <div class="datetimepicker col-sm-6">
                                    <input type="text" name="delivery_date_end" value=""
                                           placeholder="Pick a date..."
                                           id="delivery_date_to" class="form-control"/>
                                    <span class="title">To</span>
                                    <span class="icon"><i class="gcl gclriliriqi"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" for="input_futures_delivery_status">{{ text_list_filter_status }}</label>
                            <select class="selectpicker form-control" name="status" multiple>
                                <option value="1" {% if '1' in status %}selected{% endif %} >{{ text_contract_status_active }}</option>
                                <option value="2" {% if '2' in status %}selected{% endif %} >{{ text_contract_status_disabled }}</option>
                                <option value="3" {% if '3' in status %}selected{% endif %} >{{ text_contract_status_sold_out }}</option>
                                <option value="4" {% if '4' in status %}selected{% endif %} >{{ text_contract_status_terminated }}</option>
                            </select>

                        </div>
                        <div class="form-group pull-right " style="margin-bottom: 0">
                            <div class="">
                                <a onclick="filterFutures();" class="btn btn-primary" data-toggle="tooltip"
                                   title="Filter" id="quote_futures_filter_btn">Filter </a>
                                <button type="button" onclick="download()" class="btn btn-default" data-toggle="tooltip"
                                        title="Download"><i class="giga icon-xiazai"></i></button>
                                <button type="button" onclick="resetFutures()" class="btn btn-default"
                                        data-toggle="tooltip" title="Reset"><i class="giga icon-reset3"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="padding-left: 5px">
                            <input type="checkbox" class="allcheck">
                        </th>
                        <th onclick="contractSort('id')" style="cursor: pointer">
                            {{ text_list_filter_id }}
                            <span style="position: relative;margin-left: 3px;color: #aaa;">
                                <i class="gcl gcldown-solid" style="font-size: 12px;position: absolute;bottom: 3px;{% if sort == 'asc' and sort_column == 'id' %}color:#333{% endif %}"></i>
                                <i class="gcl gcliup" style="font-size: 12px;position: absolute;bottom: -4px;{% if sort == 'desc' and sort_column == 'id' %}color:#333{% endif %}"></i>
                            </span>
                        </th>
                        <th>Item Code / MPN</th>
                        <th onclick="contractSort('delivery_date')" style="cursor: pointer">{{ text_list_filter_delivery_date }}
                            <span style="position: relative;margin-left: 3px;color: #aaa;">
                                <i class="gcl gcldown-solid" style="font-size: 12px;position: absolute;bottom: 3px;{% if sort == 'asc' and sort_column == 'delivery_date' %}color:#333{% endif %}"></i>
                                <i class="gcl gcliup" style="font-size: 12px;position: absolute;bottom: -4px;{% if sort == 'desc' and sort_column == 'delivery_date' %}color:#333{% endif %}"></i>
                            </span>
                        </th>
                        <th>Agreement(s) QTY <br>/ Contract QTY
                            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title data-original-title="The Overall Quantity in the Existing Agreements / Total Quantity Available for This Contract" style="font-size: 14px;font-weight: initial;"></i></th>
                        <th>{{ text_table_price }}</th>
                        <th>{{ text_table_status }}</th>
                        <th onclick="contractSort('update_time')" style="cursor: pointer">{{ text_table_modified_time }}
                            <span style="position: relative;margin-left: 3px;color: #aaa;">
                                <i class="gcl gcldown-solid" style="font-size: 12px;position: absolute;bottom: 3px;{% if sort == 'asc' and sort_column == 'update_time' %}color:#333{% endif %}"></i>
                                <i class="gcl gcliup" style="font-size: 12px;position: absolute;bottom: -4px;{% if sort == 'desc' and sort_column == 'update_time' %}color:#333{% endif %}"></i>
                            </span>
                        </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if contracts %}
                        {% for contract in contracts %}
                            <tr>
                                <td>
                                    <input type="checkbox" class="" data-id="{{ contract.id }}"
                                           data-terminate="{{ contract.is_terminate }}"
                                           data-delete="{{ contract.is_delete }}"
                                            {% if contract.is_terminate == false and contract.is_delete == false %} disabled style="background:#ccc" {% endif %}
                                    >
                                </td>
                                <td>{{ contract.contract_no }}</td>
                                <td >
                                  <div style="display: flex">
                                    <div style="width: 40px;border: 1px solid #eee;height: 100%;overflow: hidden;margin-right: 5px">
                                      <img src="{{ contract.image }}" width="100%">
                                    </div>
                                    <div>
                                      <a href="{{ contract.product_detail_link }}" class="link fwblod">
                                        {{ contract.sku }}</a>
                                      {% if contract.tags %}
                                        {% for tag in contract.tags %}
                                          {{ tag }}
                                        {% endfor %}
                                      {% endif %}
                                      <br>
                                      <a href="{{ contract.product_detail_link }}" class="link fwblod">
                                        {{ contract.mpn }}
                                      </a>
                                    </div>
                                  </div>

                                </td>
                                <td>{{ contract.delivery_date }}</td>
                                <td>{{ contract.agreement_num }} / {{ contract.num }}</td>
                                <td>{{ contract.price }}</td>
                                <td>{{ contract.status_name }}</td>
                                <td>{{ contract.modified_time }}</td>
                                <td>
                                    {% if contract.is_edit %}
                                        <a class="btn" href="{{ contract.detail_link }}" target="_blank"
                                           data-toggle="tooltip" title="Edit">
                                            <i class="giga icon-edit"></i>
                                        </a>
                                    {% else %}
                                        <a class="btn" href="{{ contract.detail_link }}" target="_blank"
                                           data-toggle="tooltip" title="View">
                                            <i class="giga icon-chakan1"></i>
                                        </a>
                                    {% endif %}
                                    {% if contract.is_terminate %}
                                        <a class="btn " href="javascript:void(0);" data-toggle="tooltip"
                                           title="Terminate"
                                           onclick="handleTerminate('{{ contract.id }}', '{{ contract.contract_no }}', this)">
                                            <i class="giga icon-refuse"></i>
                                        </a>
                                    {% endif %}
                                    {% if contract.is_delete %}
                                        <a class="btn " href="javascript:void(0);" data-toggle="tooltip" title="Delete"
                                           onclick="handleDelete('{{ contract.id }}', '{{ contract.contract_no }}', this)">
                                            <i class="giga icon-lajitong"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="text-center" colspan="9">
                                {{ text_no_record_notice }}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div style="height: 40px">
                    <div class="col-sm-3" style="padding: 0 5px">
                        {% if total > 0 %}
                        <div class="batch-operations">
                            <i class="giga icon-tables-selected-rows-action"></i>
                            <a class="btn btn-primary" href="javascript:void(0);" onclick="handleBatchDelete(this)"
                               data-toggle="tooltip" title="Batch Delete">
                                <i class="giga icon-lajitong"></i>
                            </a>
                            <a class="btn btn-primary" href="javascript:void(0);" onclick="handleBatchTerminate(this)"
                               data-toggle="tooltip" title="Batch Terminate">
                                <i class="giga icon-refuse"></i>
                            </a>
                            <span id="selectCount" style="margin-left: 8px;color: #3A75DC;display: none">Selected (<span class="checkNum">0</span>)</span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-9">
                        <div class="row mt-2" style="margin-right: 0">
                            <div class="col-sm-12 text-right"
                                 style="display: flex;justify-content: flex-end;align-items: center">
                                <ul id="bos_pagination"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function handleBatchDelete(_this) {
        var deleteIds = [];
        var terminateIds = [];
        $('.allcheck').parentsUntil("div").find("tbody td input:checkbox:checked:not(:disabled)").each(function (i, e) {
            let id = $(e).data('id');
            if ($(e).data('delete') === "") {
                terminateIds.push(id);
            } else {
                deleteIds.push(id);
            }
        })
        let num = deleteIds.length + terminateIds.length;
        if (num === 0) {
            layer.alert('{{ text_batch_no_contract_msg }}', {
                title: '{{ text_alert_reminder }}',
                skin: 'yzc_layer',
                btnAlign: 'c',
                btn: '{{ text_alert_ok }}',
            })
            return;
        }
        if ($(_this).attr('disabled') == 'disabled') {
            return ;
        }
        $(_this).attr('disabled', 'disabled')
        $.ajax({
            url: '{{ url("account/customerpartner/future/contract/verifyDelete") }}',
            data: {ids: deleteIds},
            method: 'post',
            dataType: 'json',
            success: function (res) {
                $(_this).removeAttr('disabled');
                if (res.code === 1) {
                    layer.confirm('{{ text_action_batch_delete }}'.replace(/%s/, num.toString()), {
                        title: '{{ text_alert_confirm }}',
                        skin: 'yzc_layer',
                        btnAlign: 'c',
                        btn: ['{{ text_alert_yes }}', '{{ text_alert_no }}']
                    }, function (index) {
                        layer.closeAll();
                        if (deleteIds.length === 0) {
                            layer.alert('{{ text_action_batch_delete_success_msg_2 }}'.replace(/%s1/, '0').replace(/%s2/, num.toString()), {
                                title: '{{ text_alert_reminder }}',
                                skin: 'yzc_layer',
                                btnAlign: 'c',
                                btn: '{{ text_alert_ok }}',
                            })
                            return;
                        }
                        parent.layer.load(1);
                        $.ajax({
                            url: '{{ url("account/customerpartner/future/contract/delete") }}',
                            data: {ids: deleteIds},
                            method: 'post',
                            dataType: 'json',
                            success: function (res) {
                                layer.closeAll();
                                if (res.code === 1) {
                                    let success = ''
                                    if (deleteIds.length == num) {
                                        success = '{{ text_action_batch_delete_success_msg }}'.replace(/%s1/, (res.data.num).toString());
                                    } else {
                                        success = '{{ text_action_batch_delete_success_msg_2 }}'.replace(/%s1/, (res.data.num).toString()).replace(/%s2/, (num - res.data.num).toString())
                                    }
                                    layer.alert(success, {
                                        title: '{{ text_alert_reminder }}',
                                        skin: 'yzc_layer',
                                        btnAlign: 'c',
                                        btn: '{{ text_alert_ok }}',
                                        btn1: function () {
                                            filterFutures()
                                        },
                                        cancel: function () {
                                            filterFutures()
                                        }
                                    })
                                } else {
                                    layer.alert('{{ text_action_delete_error_msg }}', {
                                        title: '{{ text_alert_reminder }}',
                                        skin: 'yzc_layer',
                                        btnAlign: 'c',
                                        btn: '{{ text_alert_ok }}',
                                    })
                                }
                            },
                        });
                    });
                } else {
                    layer.alert('{{ text_action_delete_error_msg_exist_agreement }}', {
                        title: '{{ text_alert_reminder }}',
                        skin: 'yzc_layer',
                        btnAlign: 'c',
                        btn: '{{ text_alert_ok }}',
                    })
                }
            }
        })
    }

    function handleBatchTerminate(_this) {
        var deleteIds = [];
        var terminateIds = [];
        $('.allcheck').parentsUntil("div").find("tbody td input:checkbox:checked:not(:disabled)").each(function (i, e) {
            let id = $(e).data('id');
            if ($(e).data('terminate') === "") {
                deleteIds.push(id);
            } else {
                terminateIds.push(id);
            }
        })
        let num = deleteIds.length + terminateIds.length;
        if (num === 0) {
            layer.alert('{{ text_batch_no_contract_msg }}', {
                title: '{{ text_alert_reminder }}',
                skin: 'yzc_layer',
                btnAlign: 'c',
                btn: '{{ text_alert_ok }}',
            })
            return;
        }
        if ($(_this).attr('disabled') == 'disabled') {
            return ;
        }
        $(_this).attr('disabled', 'disabled')
        $.ajax({
            url: '{{ url("account/customerpartner/future/contract/verifyTerminate") }}',
            data: {ids: terminateIds},
            method: 'post',
            dataType: 'json',
            success: function (res) {
                $(_this).removeAttr('disabled');
                if (res.code === 1) {
                    layer.confirm('{{ text_action_batch_terminate }}'.replace(/%s/, num.toString()), {
                        title: '{{ text_alert_confirm }}',
                        skin: 'yzc_layer',
                        btnAlign: 'c',
                        btn: ['{{ text_alert_yes }}', '{{ text_alert_no }}']
                    }, function (index) {
                        layer.closeAll();
                        if (terminateIds.length === 0) {
                            layer.alert('{{ text_action_batch_terminate_success_msg_2 }}'.replace(/%s1/, '0').replace(/%s2/, num.toString()), {
                                title: '{{ text_alert_reminder }}',
                                skin: 'yzc_layer',
                                btnAlign: 'c',
                                btn: '{{ text_alert_ok }}',
                            })
                            return;
                        }
                        parent.layer.load(1);
                        $.ajax({
                            url: '{{ url("account/customerpartner/future/contract/terminate") }}',
                            data: {ids: terminateIds},
                            method: 'post',
                            dataType: 'json',
                            success: function (res) {
                                layer.closeAll();
                                if (res.code === 1) {
                                    let success = ''
                                    if (terminateIds.length == num) {
                                        success = '{{ text_action_batch_terminate_success_msg }}'.replace(/%s1/, (terminateIds.length).toString());
                                    } else {
                                        success = '{{ text_action_batch_terminate_success_msg_2 }}'.replace(/%s1/, (terminateIds.length).toString()).replace(/%s2/, (num - terminateIds.length).toString())
                                    }
                                    layer.alert(success, {
                                        title: '{{ text_alert_reminder }}',
                                        skin: 'yzc_layer',
                                        btnAlign: 'c',
                                        btn: '{{ text_alert_ok }}',
                                        btn1: function () {
                                            filterFutures()
                                        },
                                        cancel: function () {
                                            filterFutures()
                                        }
                                    })
                                } else {
                                    switch (res.data.error_status) {
                                        case 5:
                                            layer.alert('{{ text_action_terminate_error_msg_exist_apply_agreement }}'.replace(/%s/, res.data.no), {
                                                title: '{{ text_alert_reminder }}',
                                                skin: 'yzc_layer',
                                                btn: '{{ text_alert_ok }}',
                                            })
                                            break;
                                        default:
                                            layer.alert('{{ text_action_terminate_error_msg }}'.replace(/%s/, (terminateIds.length).toString()), {
                                                title: '{{ text_alert_reminder }}',
                                                skin: 'yzc_layer',
                                                btn: '{{ text_alert_ok }}',
                                            })
                                    }
                                }
                            },
                        });
                    });
                } else {
                    layer.alert('{{ text_action_terminate_error_msg_exist_apply_agreement }}'.replace(/%s/, res.data.no), {
                        title: '{{ text_alert_reminder }}',
                        skin: 'yzc_layer',
                        btnAlign: 'c',
                        btn: '{{ text_alert_ok }}',
                    })
                }
            }
        });
    }

    $(document).ready(function () {
        pagination();
        let delivery_date_from = '{{ delivery_date_begin }}';
        let delivery_date_to = '{{ delivery_date_end }}';
        if(delivery_date_from){
          delivery_date_from = delivery_date_from.substring(0,10);
          $('#delivery_date_from').val(delivery_date_from);
        }
        if(delivery_date_to){
          delivery_date_to = delivery_date_to.substring(0,10);
          $('#delivery_date_to').val(delivery_date_to);
        }
    });

    function pagination() {
        if ({{ total_pages }}) {
            $('#bos_pagination').bootstrapPaginator({
                /*当前使用的是3版本的bootstrap*/
                bootstrapMajorVersion: 3,
                /*配置的字体大小是小号*/
                size: 'normal',
                /*当前页*/
                currentPage: {{ page }},
                /*一共多少页*/
                totalPages: {{ total_pages }},
                /*页面上最多显示几个含数字的分页按钮*/
                numberOfPages: 5,
                pageRange: [5, 10, 15, 20, 50, 100],
                rowsOfPage: {{ page_limit }},
                total: {{ total }},
                onPageClicked: function (event, originalEvent, type, page) {
                    let params = getSearchQueryParams();
                    params['page'] = page;
                    if (originalEvent['page_info'] && originalEvent['page_info']['page_limit']) {
                        params['page_limit'] = originalEvent['page_info']['page_limit'];
                    }
                    window.location.href = '{{ url("account/customerpartner/future/contract/list") }}&' + $.param(params);
                }
            });
        }
    }

    function handleTerminate(id, contract_no, _this) {
        if ($(_this).attr('disabled') == 'disabled') {
            return ;
        }
        $(_this).attr('disabled', 'disabled')
        $.ajax({
            url: '{{ url("account/customerpartner/future/contract/verifyTerminate") }}',
            data: {ids: id},
            method: 'post',
            dataType: 'json',
            success: function (res) {
                $(_this).removeAttr('disabled');
                if (res.code === 1) {
                    layer.confirm("{{ text_action_terminate }}".replace(/%s/, contract_no), {
                        title: '{{ text_alert_confirm }}',
                        skin: 'yzc_layer',
                        btnAlign: 'c',
                        btn: ['{{ text_alert_yes }}', '{{ text_alert_no }}']
                    }, function (index) {
                        layer.closeAll();
                        parent.layer.load(1);
                        $.ajax({
                            url: '{{ url("account/customerpartner/future/contract/terminate") }}',
                            data: {ids: id},
                            method: 'post',
                            dataType: 'json',
                            success: function (res) {
                                layer.closeAll();
                                if (res.code === 1) {
                                    layer.alert('{{ text_action_terminate_success_msg }}', {
                                        title: '{{ text_alert_reminder }}',
                                        skin: 'yzc_layer',
                                        btnAlign: 'c',
                                        btn: '{{ text_alert_ok }}',
                                        btn1: function () {
                                            filterFutures()
                                        },
                                        cancel: function () {
                                            filterFutures()
                                        }
                                    })
                                } else {
                                    switch (res.data.error_status) {
                                        case 5:
                                            layer.alert('{{ text_action_terminate_error_msg_exist_apply_agreement }}'.replace(/%s/, res.data.no), {
                                                title: '{{ text_alert_reminder }}',
                                                skin: 'yzc_layer',
                                                btnAlign: 'c',
                                                btn: '{{ text_alert_ok }}',
                                            })
                                            break;
                                        default:
                                            layer.alert('{{ text_action_terminate_error_msg }}'.replace(/%s/, (terminateIds.length).toString()), {
                                                title: '{{ text_alert_reminder }}',
                                                skin: 'yzc_layer',
                                                btnAlign: 'c',
                                                btn: '{{ text_alert_ok }}',
                                            })
                                    }
                                }
                            },
                        });
                    });
                } else {
                    layer.alert('{{ text_action_terminate_error_msg_exist_apply_agreement }}'.replace(/%s/, res.data.no), {
                        title: '{{ text_alert_reminder }}',
                        skin: 'yzc_layer',
                        btnAlign: 'c',
                        btn: '{{ text_alert_ok }}',
                    })
                }
            },
        });
    }

    function handleDelete(id, contract_no, _this) {
        if ($(_this).attr('disabled') == 'disabled') {
            return ;
        }
        $(_this).attr('disabled', 'disabled')
        $.ajax({
            url: '{{ url("account/customerpartner/future/contract/verifyDelete") }}',
            data: {ids: id},
            method: 'post',
            dataType: 'json',
            success: function (res) {
                $(_this).removeAttr('disabled');
                if (res.code === 1) {
                    layer.confirm("{{ text_action_delete }}".replace(/%s/, contract_no), {
                        title: '{{ text_alert_confirm }}',
                        skin: 'yzc_layer',
                        btnAlign: 'c',
                        btn: ['{{ text_alert_yes }}', '{{ text_alert_no }}']
                    }, function (index) {
                        layer.closeAll();
                        parent.layer.load(1);
                        $.ajax({
                            url: '{{ url("account/customerpartner/future/contract/delete") }}',
                            data: {ids: id},
                            method: 'post',
                            dataType: 'json',
                            success: function (res) {
                                layer.closeAll();
                                if (res.code === 1) {
                                    layer.alert('{{ text_action_delete_success_msg }}', {
                                        title: '{{ text_alert_reminder }}',
                                        skin: 'yzc_layer',
                                        btnAlign: 'c',
                                        btn: '{{ text_alert_ok }}',
                                        btn1: function () {
                                            filterFutures()
                                        },
                                        cancel: function () {
                                            filterFutures()
                                        }
                                    })
                                } else {
                                    layer.alert('{{ text_action_delete_error_msg }}', {
                                        title: '{{ text_alert_reminder }}',
                                        skin: 'yzc_layer',
                                        btnAlign: 'c',
                                        btn: '{{ text_alert_ok }}',
                                    })
                                }
                            },
                        });
                    });
                } else {
                    layer.alert('{{ text_action_delete_error_msg_exist_agreement }}', {
                        title: '{{ text_alert_reminder }}',
                        skin: 'yzc_layer',
                        btnAlign: 'c',
                        btn: '{{ text_alert_ok }}',
                    })
                }
            }
        })
    }

    function contractSort(column) {
        let sort = '{{ sort }}'
        if (column == '{{ sort_column }}') {
            sort = sort === 'asc' ? 'desc' : 'asc';
        }
        let params = getSearchQueryParams();
        params['sort'] = sort;
        params['sort_column'] = column;
        window.location.href = '{{ url("account/customerpartner/future/contract/list") }}&' + $.param(params);
    }

    function getSearchQueryParams() {
        let form = $('#form-search');
        let s_params = form.serializeArray();
        let ret = {};
        s_params.forEach(function (item) {
            if (item['value']) {
                ret[item['name']] = item['value'];
            }
        })
        let status = $('.selectpicker').selectpicker('val');
        if (status) {
            ret['status'] = status;
        }
        let sort = '{{ sort }}';
        let sort_column = '{{ sort_column }}';
        if (sort !== 'desc') {
            ret['sort'] = '{{ sort }}';
        }
        if (sort_column !== 'id') {
            ret['sort_column'] = '{{ sort_column }}';
        }

        if(ret.hasOwnProperty('delivery_date_begin')){
          ret['delivery_date_begin'] += ' 00:00:00';
        }
        // #5678 针对 delivery_date_end 需要做一些处理，后缀新增23:59:59
        if(ret.hasOwnProperty('delivery_date_end')){
          ret['delivery_date_end'] += ' 23:59:59';
        }
        return ret;
    }

    function filterFutures() {
        let params = getSearchQueryParams();
        window.location.href = '{{ url("account/customerpartner/future/contract/list") }}&' + $.param(params);
    }

    function resetFutures() {
        window.location.href = '{{ url("account/customerpartner/future/contract/list") }}';
    }

    function download() {
        let params = getSearchQueryParams();
        window.location.href = '{{ url("account/customerpartner/future/contract/download") }}&' + $.param(params);
    }
</script>

<script>
    $('#delivery_date_from').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD'
    });
    $('#delivery_date_to').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD'
    });

    var i = 0;
    $(".allcheck").on("click", function () {
        if (i == 0) {
            $(this).parentsUntil("div").find("input:checkbox:not(:disabled)").prop("checked", true);
            var len2 = $(this).parentsUntil("div").find("tbody td input:checkbox:checked:not(:disabled)").length;
            $(".checkNum").text(len2);
            i = 1;
            $("#selectCount").css("display", "inline-block")
        } else {
            $(this).parentsUntil("div").find("input:checkbox:not(:disabled)").prop("checked", false);
            var len2 = $(this).parentsUntil("div").find("tbody td input:checkbox:checked:not(:disabled)").length;
            $(".checkNum").text(len2)
            i = 0;
            $("#selectCount").css("display", "none")
        }

    });

    // 反选
    $('.table td input:checkbox').on('change', function () {
        var len1 = $(this).parentsUntil("div").find("tbody td input:checkbox:not(:disabled)").length;
        var len2 = $(this).parentsUntil("div").find("tbody td input:checkbox:checked:not(:disabled)").length;
        if (len2 < len1) {
            $(".allcheck").prop("checked", false);
            i = 0;
        } else {
            $(".allcheck").prop("checked", true);
            i = 1;
        }
        $(".checkNum").text(len2)

        if (len2 > 0) {
          $("#selectCount").css("display", "inline-block")
        } else {
          $("#selectCount").css("display", "none")
        }
    });
</script>
{{ footer }}