<style>
    #edit-contract{
        padding: 10px 0 22px 0;
    }
    .datetimepicker span.icon {
        margin-right: 0;
        position: absolute;
        right: 8px;
        bottom: 0;
        line-height: 40px;
        color: #ccc;
    }

    .form-group input {
        display: inline-block;
    }

    .manner .btn,
    .manner2 .btn {
        height: 40px;
        border: 1px solid #eee;
        box-shadow: none;
        color: #666;
        margin-top: -3px;
    }
    .manner .btn:hover,
    .manner2 .btn:hover{
        color: #3A75DC;
    }
    .manner .btn[disabled],
    .manner2 .btn[disabled]{
      color: #666 !important;
    }
    div.submit {
        text-align: center;
        margin-top: 20px;
        padding: 10px 0;
    }

    div.submit .btn {
        width: 100px;
        height: 40px;
        line-height: 38px;
        font-size: 14px;
        padding: 0;
    }
    div.submit .btn:hover{
        background-color: #2d57a9;
        border-color: #2d57a9;
    }

    .modal-header {
        padding: 13px;
    }

    .modal-footer {
        text-align: center;
    }

    a.link {
        color: #3A75DC !important;
    }

    a.link:hover {
        text-decoration: underline;
    }

    .modal-content .form-group label {
        color: #333;
        font-weight: inherit;
    }
    .product-content {
        color: #183464;
    }

    .product-content:hover {
        text-decoration: underline;
        font-weight: bold;
    }

    .msg-list {
        overflow: hidden;
    }

    .msg-list > div {
        margin: 0 15px;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }

    .msg-list > div > div {
        height: 50px;
        display: flex;
        align-items: center;

    }

    .msg-name {
        color: #677999;
        margin-right: 10px;
        font-weight: bold;
    }

    .mt-2 {
        margin-top: 20px;
    }

    .mannerNum {
        display: none;
        font-weight: initial;
    }
    .error-msg{
        color: #ff414d;
        /*display: none;*/
    }
    .input-error{
        border: 1px solid #ff414d!important;
    }
     .yzc_layer .layui-layer-content{
        text-align: left;
    }
    .yzc_layer .layui-layer-ico{
        background: none;
    }
    .yzc_layer .layui-layer-close.layui-layer-close1:after{
        content: "\e6b4";
        font-family: 'giga';
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn0{
        border-color: #3A75DC;
        background-color: #3A75DC;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn0:hover{
        background-color: #2d57a9;
        opacity: 1;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn1{
        color: #3A75DC;
    }
    .yzc_layer .layui-layer-btn .layui-layer-btn1:hover{
        background-color: #3A75DC;
        color: #fff;
        opacity: 1;
    }
    .scale-popover,.scale-popover:focus,.scale-popover:active{
        box-shadow: none;
        background-color: #fff;
    }
    .noRemind{
        box-shadow: none;
        border: 1px solid #ccc;
        margin-top: 8px;
    }
    .noRemind:hover{
        background-color: #fff;
        color: #3A75DC;
    }
    .form-group label{
        text-transform: none;
    }
    .heght22{
      height: 22px;
    }
    .btn.btn-primary{
        color: #fff;
    }
    .btn.btn-primary:hover{
        background-color: #2d57a9;
    }
    .btn.btn-default:hover{
        background-color: #3A75DC;
        color: #fff;
    }
    .modal .btn{
        padding: 0;
       height: 40px;
        width: 85px;
    }
    .giga.icon-help-inactive{
        font-size: 14px;
        font-weight: initial;
    }

    #payment_ratio-box .dropdown-menu{
        width: calc(100% - 38px) !important;
        max-height: 120px;
        overflow: auto;
    }
    #payment_ratio-box .dropdown-menu li:hover{
        cursor: pointer;
    }
</style>
<div>
    <div id="product-detail"></div>
    <div class="row">
        <div id="product-detail"></div>
        <div style="overflow:hidden;">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label heght22" for="input_futures_agreement_no">{{ text_form_contract_no }}</label>
                    <input type="text" name="agreementId" value="{{ contract_info.contract_no }}"
                           placeholder="" id="agreementId" class="form-control" disabled/>
                </div>
                <div class="form-group required">
                    <label class="control-label heght22">{{ text_form_delivery_date }}
                        <i class="giga icon-V10-wenhaotishi"
                           data-toggle="tooltip" title=""
                           data-original-title="{{ text_notice_delivery_date|replace({"%s": estimate_receiving_days}) }}"></i></label>
                    <div class="datetimepicker-range">
                        <div class="datetimepicker" style="position: relative">
                            <input type="text" name="delivery_date" disabled
                                   value="{{ contract_info.delivery_date }}" placeholder="Pick a date..."
                                   id="delivery_date" class="form-control"/>
                            <span class="icon"><i class="giga icon-DatePicker"></i></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="form-group required">
                    <label class="control-label heght22"
                           for="contract_status">{{ text_form_status }} <i
                            class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title=""
                            data-original-title="{{ text_notice_contract_status }}"></i></label>
                    <select name="contract_status" id="contract_status"
                            class="form-control" onchange="changeStatus(this)"
                            {% if contract_info.status == 4 or contract_info.status == 2 %}
                                disabled
                            {% endif %}
                    >
                        {% if contract_info.status == 1 %}
                            <option value="1" {% if contract_info.status == 1 %} selected {% endif %}>{{ text_contract_status_active }}</option>
                            <option value="4" {% if contract_info.status == 4 %} selected {% endif %}>{{ text_contract_status_terminated }}</option>
                        {% elseif contract_info.status == 3 %}
                            <option value="3" {% if contract_info.status == 3 %} selected {% endif %}>{{ text_contract_status_sold_out }}</option>
                            <option value="4" {% if contract_info.status == 4 %} selected {% endif %}>{{ text_contract_status_terminated }}</option>
                        {% else %}
                            <option value="2" {% if contract_info.status == 2 %} selected {% endif %}>{{ text_contract_status_disabled }}</option>
                            <option value="4" {% if contract_info.status == 4 %} selected {% endif %}>{{ text_contract_status_terminated }}</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group required">
                    <label class="control-label heght22" for="contract_qty">{{ text_form_total_quantity }}  <i
                        class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title=""
                        data-original-title="{{ text_notice_quantity }}"></i></label>
                    <input type="number" name="contract_qty" min="1" max="9999" value="{{ contract_info.num }}"
                           placeholder="" disabled
                           id="contract_qty" class="form-control" title=""/>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="form-group required">
                    <label class="control-label heght22" for="bargain">{{ text_form_bid }}
                        <i class="giga icon-V10-wenhaotishi"
                           data-toggle="tooltip" title=""
                           data-original-title="{{ text_notice_is_bid }}"></i>
                    </label>
                    <select name="bargain" id="bargain" class="form-control"
                            onchange="" {% if is_edit == false %} disabled {% endif %}>
                        <option value="1" {% if contract_info.is_bid == 1 %} selected {% endif %}>Yes</option>
                        <option value="0" {% if contract_info.is_bid == 0 %} selected {% endif %}>No</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label class="control-label heght22" for="purchase_qty">{{ text_form_min_quantity }}
                        <i class="giga icon-V10-wenhaotishi"
                           data-toggle="tooltip" title=""
                           data-original-title="{{ text_notice_min_quantity }}"></i></label>
                    <input type="text" name="purchase_qty" min="1" value="{{ contract_info.min_num }}"
                           placeholder="" {% if is_edit == false %} disabled {% endif %}
                           id="purchase_qty" class="form-control" onblur="checkPurchaseQty()"/>
                </div>
            </div>
        </div>
        <div style="padding: 0 15px">   <div class="error-msg" id="error_purchase_qty"></div></div>
        <div style="overflow: hidden">
           <div class="col-sm-4">
               <div class="form-group">
                   <label class="control-label heght22"
                          for="input_futures_agreement_qty">{{ text_edit_form_transaction_quantity }}</label>
                   <input type="text" name="agreementQty" value="{{ sold_contract_num }}"
                          placeholder="" id="agreementQty" class="form-control" disabled/>
               </div>
           </div>
          <div class="col-sm-4">
              <div class="form-group required">
                  <label class="control-label heght22" for="contract_qty">{{ text_edit_form_remaining_quantity }}</label>
                  <input type="number" name="contract_qty" min="1" max="9999" value="{{ remain_contract_num }}"
                         placeholder="" disabled
                         id="contract_qty" class="form-control" title=""/>
              </div>
          </div>
        </div>

        {#view#}
        {% if is_edit == false %}
            {% if contract_info.delivery_type == 1 or contract_info.delivery_type == 3 %}
                <div style="overflow:hidden;">
                    <div class="col-sm-4">
                        <div class="form-group required">
                            <label class="control-label heght22" for="delivery_method">{{ text_form_payment_method }}{% if contract_info.delivery_type == 1 %}{% else %}A{% endif %} <i
                                        class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                        title=""
                                        data-original-title="{{ text_notice_payment_method }}"></i></label>
                            <select name="delivery_method1" disabled
                                    class="form-control">
                                <option value="1" selected>{{ text_contract_method_balance_amount }}</option>
                                <option value="2">{{ text_contract_method_change_margin }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group required">
                            <label class="control-label heght22" for="delivery_method_price">{{ text_form_price }}{% if contract_info.delivery_type == 1 %}{% else %}A{% endif %}</label>
                            <input type="text" name="delivery_method_price1" value="{{ contract_info.last_unit_price }}"
                                   placeholder="" disabled class="form-control"/>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if contract_info.delivery_type == 2 or contract_info.delivery_type == 3 %}
                <div style="overflow:hidden;">
                    <div class="col-sm-4">
                        <div class="form-group required">
                            <label class="control-label heght22"
                                   for="delivery_method">{{ text_form_payment_method }}{% if contract_info.delivery_type == 2 %}A{% else %}B{% endif %}
                                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                   title=""
                                   data-original-title="{{ text_notice_payment_method }}"></i></label>
                            <select name="delivery_method2" disabled class="form-control">
                                <option value="1">{{ text_contract_method_balance_amount }}</option>
                                <option value="2" selected>{{ text_contract_method_change_margin }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group required">
                            <label class="control-label heght22"
                                   for="contract_qty">{{ text_form_price }}{% if contract_info.delivery_type == 2 %}A{% else %}B{% endif %}</label>
                            <input type="text" name="delivery_method_price2"
                                   value="{{ contract_info.margin_unit_price }}" placeholder="" disabled
                                   class="form-control"/>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {#edit#}
        {% if is_edit %}
            <div class="manner" style="overflow:hidden;">
                <div class="col-sm-4">
                    <div class="form-group required">
                        <label class="control-label heght22"
                               for="delivery_method">{{ text_form_payment_method }}<b class="mannerNum">A</b> <i
                                    class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                    title=""
                                    data-original-title="{{ text_notice_payment_method }}"></i></label>
                        <select name="delivery_method1" id="delivery_method1" onchange="changeDeliveryMethod(this)"
                                class="form-control">
                            <option value="1" {% if contract_info.delivery_type == 1 or contract_info.delivery_type == 3 %} selected {% endif %}>{{ text_contract_method_balance_amount }}</option>
                            <option value="2" {% if contract_info.delivery_type == 2 %} selected {% endif %}>{{ text_contract_method_change_margin }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group required">
                        <label class="control-label heght22" for="delivery_method_price">{{ text_form_price }}<b
                                    class="mannerNum">A</b></label>
                        <input type="text" name="delivery_method_price1"
                               value="{% if contract_info.delivery_type == 2 %}{{ contract_info.margin_unit_price }}{% else %}{{ contract_info.last_unit_price }}{% endif %}"
                               placeholder=""
                               id="delivery_method_price1" class="form-control" style="width: 79%"
                               onblur="checkDeliveryMethodPrice('A')"/>
                        <a class="btn btn-add"><i class="giga icon-add"></i></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <span class="error-msg" id="error_delivery_method_price1"></span>
                </div>
            </div>
            <div class="manner2"
                 style="overflow:hidden; {% if contract_info.delivery_type != 3 %}display: none{% endif %}">
                <div class="col-sm-4">
                    <div class="form-group required">
                        <label class="control-label heght22"
                               for="delivery_method">{{ text_form_payment_method }}<b class="mannerNum">B</b> <i
                                    class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                                    title=""
                                    data-original-title="{{ text_notice_payment_method }}"></i></label>
                        <select name="delivery_method2" id="delivery_method2" onchange="changeDeliveryMethod(this)"
                                class="form-control">
                            <option value="1">{{ text_contract_method_balance_amount }}</option>
                            <option value="2" selected>{{ text_contract_method_change_margin }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group required">
                        <label class="control-label heght22" for="contract_qty">{{ text_form_price }}<b class="mannerNum">B</b></label>
                        <input type="text" name="delivery_method_price2" value="{{ contract_info.margin_unit_price }}"
                               placeholder=""
                               id="delivery_method_price2" class="form-control" style="width: 79%"
                               onblur="checkDeliveryMethodPrice('B')"/>
                        <a class="btn btn-delete"><i class="giga icon-lajitong"></i></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <span class="error-msg" id="error_delivery_method_price2"></span>
                </div>
            </div>
        {% endif %}
        <div>
            <div class="col-sm-4">
                <div class="form-group required">
                    <label class="control-label heght22" for="margin">{{ text_form_deposit_percentage }}
                        <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
                           title=""
                           data-original-title="{{ text_notice_deposit_percentage }}"></i>
                        {% if ratio_apply_status is defined %}
                            <button type="button" class="btn scale-popover"
                                    data-trigger="focus" data-toggle="popover"
                                    data-container="body" data-placement="bottom"
                                    data-html="true"
                                    data-content="<p>{% if ratio_apply_status == 0 %}{{ text_edit_deposit_percentage_applied }}{% elseif ratio_apply_status == 1 %}{{ text_edit_deposit_percentage_approved }}{% elseif ratio_apply_status == 2 %}{{ text_edit_deposit_percentage_rejected }}{% endif %}</p><div class='text-right'><button type='button' class='btn btn-default noRemind' style='font-weight: initial;padding:3px 8px'>{{ text_not_show_reminder }}</button></div>"
                                    style="border: none;font-weight: initial;padding: 0;height: 24px;vertical-align: unset">
                                <i class="giga icon-icn--n" style="color: #FA6400;font-size: 14px"></i>
                            </button>
                        {% endif %}

                    </label>
                    <div class="input-group" id="payment_ratio-box">
                        <input type="text" class="form-control right-radius enter-input" name="payment_ratio" onblur="checkPaymentRatio()" autocomplete="off"
                               id="payment_ratio" placeholder="" onclick="getNewRatioValue()"
                               value="{{ contract_info.payment_ratio }}" {% if is_edit == false or (ratio_apply_status is defined and ratio_apply_status == 0) %} disabled {% endif %}>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            {% set depositPercentages = deposit_percentages|split(',') %}
                            {% for v in depositPercentages %}
                                <li><a>{{ v }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label heght22"
                           for="Margin Amount">{{ text_edit_form_estimated_deposit_amount }}
                        <i
                            class="giga icon-V10-wenhaotishi"
                            data-toggle="tooltip" title=""
                            data-original-title="{{ text_notice_deposit_amount }}"></i>
                    </label>
                    <div class="input-group">
                        <input type="text" class="form-control right-radius" id="amount" placeholder="" disabled
                               value="{{ use_available_balance }}">
                        <div class="input-group-addon">{{ currency_code }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <span class="error-msg" id="error_payment_ratio"></span>
            </div>
        </div>
        {#edit#}
        {% if is_edit %}
            <div>
                <div class="col-sm-4">
                    <div class="form-group required">
                        <label class="control-label heght22"
                               for="change-amount">{{ text_edit_form_will_increase_deposit_amount }}</label>
                        <select name="change-amount" id="change-amount" class="form-control" onchange="" disabled>
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group supplement-amount" style="display: none">
                        <label class="control-label heght22"
                               for="supplement-amount">{{ text_edit_form_additional_deposit_amount }}</label>
                        <div class="input-group">
                            <input type="text" class="form-control  right-radius" id="supplement-amount" placeholder="" disabled
                                   value="">
                            <div class="input-group-addon">{{ currency_code }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group remain-amount" style="display: none">
                        <label class="control-label heght22"
                               for="Margin Amount">{% if account_type == 1 %}{{ text_form_available_remaining_balance }}{% else %}{{ text_form_available_total_balance }}{% endif %}
                            {% if account_type != 1 %}
                                <i class="giga icon-V10-wenhaotishi"
                                   data-toggle="tooltip"
                                   data-original-title="The amount includes collateral and receivables."></i>
                            {% endif %}
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control  right-radius" id="remain-amount" placeholder="" disabled
                                   value="{{ amount }}">
                            <div class="input-group-addon">{{ currency_code }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <span class="error-msg" id="error_supplement_amount"></span>
                </div>
            </div>
        {% endif %}
    </div>
    <input type="hidden" id="payment-ratio-value" value="{{ payment_ratio }}">
    <input type="hidden" id="max-payment-ratio-value" value="{{ max_payment_ratio }}">
    <input type="hidden" id="min-payment-ratio-value" value="{{ min_payment_ratio }}">
    <input type="hidden" id="deposit_percentages-value" value="{{ deposit_percentages }}">
    {% if is_edit or contract_info.status == 3 %}
        <div class="submit">
            <a class="btn btn-primary btn-save" style="margin-right: 30px" onclick="handleEdit('save', this)"
               {% if contract_info.status == 3 %}disabled{% endif %}> Save </a>
{#            <a class="btn btn-primary btn-apply" onclick="handleEdit('apply', this)"#}
{#               {% if contract_info.status == 3 %}disabled{% endif %}> Save & Copy </a>#}
        </div>
    {% endif %}
</div>

<div class="modal fade save-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ text_model_preview_title }}</h4>
            </div>
            <div class="modal-body">
                <div class="msg-list">
                    <div class=" contract-model-notice">{{ text_model_preview_notice }}</div>
                    <div class="row">
                        <div class="col-sm-3 contract-model-product">
                            <img src="image/placeholder.png" style="height: 36px"> <span style="margin-left:10px">WF187607EAA</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="msg-name">{{ text_form_delivery_date }}</span>
                            <span class="contract-model-delivery-date">2019-06-20</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="msg-name">{{ text_form_total_quantity_preview }}</span>
                            <span class="contract-model-num">1234</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="msg-name">{{ text_form_min_quantity }}</span>
                            <span class="contract-model-min-num">5</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <span class="msg-name">{{ text_form_payment_method }}</span>
                            <span class="contract-model-delivery-type">尾款交割或转现货保证金</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="msg-name">{{ text_form_price }}</span>
                            <span class="contract-model-price">$50.23 - $60.21</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="msg-name">{{ text_form_deposit_percentage }}</span>
                            <span class="contract-model-payment-ratio">10.00%</span>
                        </div>
                    </div>
                    <div class=" contract-model-end-msg"></div>
                </div>
                <div class="text-center mt-2">
                    <button type="button" class="btn btn-primary"
                            onclick="submitEditContract('save')">{{ text_alert_confirm }}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_alert_cancel }}</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade apply-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ text_model_preview_title }}</h4>
            </div>
            <div class="modal-body">
                <div class="msg-list">
                    <div class=" contract-model-notice">{{ text_model_preview_notice }}</div>
                    <div class="row">
                        <div class="col-sm-3 contract-model-product">
                            <img src="image/placeholder.png" style="height: 36px"> <span style="margin-left:10px">WF187607EAA</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="msg-name">{{ text_form_delivery_date }}</span>
                            <span class="contract-model-delivery-date">2019-06-20</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="msg-name">{{ text_form_total_quantity_preview }}</span>
                            <span class="contract-model-num">1234</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="msg-name">{{ text_form_min_quantity }}</span>
                            <span class="contract-model-min-num">5</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <span class="msg-name">{{ text_form_payment_method }}</span>
                            <span class="contract-model-delivery-type">尾款交割或转现货保证金</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="msg-name">{{ text_form_price }}</span>
                            <span class="contract-model-price">$50.23 - $60.21</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="msg-name">{{ text_form_deposit_percentage }}</span>
                            <span class="contract-model-payment-ratio">10.00%</span>
                        </div>
                    </div>
                    <div class=" contract-model-end-msg"></div>
                </div>
                <div style="margin: 10px 15px;">
                    {{ text_model_notice }}
                </div>
                <div class="text-center mt-2">
                    <button type="button" class="btn btn-primary"
                            onclick="submitEditContract('apply')">{{ text_alert_confirm }}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_alert_cancel }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    Number.prototype.toFixed = function (d) {
        var s = this + "";
        if (!d) d = 0;
        if (s.indexOf(".") == -1) s += ".";
        s += new Array(d + 1).join("0");
        if (new RegExp("^(-|\\+)?(\\d+(\\.\\d{0," + (d + 1) + "})?)\\d*$").test(s)) {
            var s = "0" + RegExp.$2, pm = RegExp.$1, a = RegExp.$3.length, b = true;
            if (a == d + 2) {
                a = s.match(/\d/g);
                if (parseInt(a[a.length - 1]) > 4) {
                    for (var i = a.length - 2; i >= 0; i--) {
                        a[i] = parseInt(a[i]) + 1;
                        if (a[i] == 10) {
                            a[i] = 0;
                            b = i != 1;
                        } else break;
                    }
                }
                s = a.join("").replace(new RegExp("(\\d+)(\\d{" + d + "})\\d$"), "$1.$2");
            }
            if (b) s = s.substr(1);
            return (pm + s).replace(/\.$/, "");
        }
        return this + "";
    };

    function keyPress(ob) {
        if (!ob.value.match(/^[\+\-]?\d*?\.?\d*?$/))
            ob.value = ob.t_value;
        else
            ob.t_value = ob.value;
        if (ob.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))
            ob.o_value = ob.value;
    }

    function keyUp(ob) {
        if (!ob.value.match(/^[\+\-]?\d*?\.?\d*?$/))
            ob.value = ob.t_value;
        else
            ob.t_value = ob.value;
        if (ob.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))
            ob.o_value = ob.value;

        if (ob.value == 'undefined')
            ob.value = '';
    }

    function verityRoundCountFun(string) {
        let is_japan = '{{ is_japan }}';
        let indexOf = String(string).indexOf('.');
        if (is_japan && indexOf > -1) {
            return true;
        }

        let roundCount = 0;
        if (String(string).indexOf('.') !== -1) {
            roundCount = String(string).length - (String(string).indexOf('.') + 1);
        }

        if (is_japan) {
            return roundCount > 0;
        } else {
            return roundCount > 2
        }
    }

    $(function () {
        $("[data-toggle='popover']").popover();
    });
    $("body").on("click", ".noRemind", function () {
        $(".scale-popover").hide();
    });
    $(document).ready(function () {
        $(function () {
            {% if contract_info.delivery_type == 3  and is_edit %}
            $('.mannerNum').show();
            $(".manner2").attr("is_show", true);
            {% endif %}
            showSuppleDom();
            let loadUrl = '{{ url("account/customerpartner/future/contract/productDetail") }}'
            $("#product-detail").load(loadUrl + "&product_id=" + '{{ contract_info.product_id }}');
        });
    });

    function changeStatus(_this) {
        let history_status = '{{ contract_info.status }}';
        if (history_status != 3) {
            return;
        }
        let status = $(_this).val();
        if (status == history_status) {
            $('.btn-save').attr('disabled', true);
            $('.btn-apply').attr('disabled', true);
        } else {
            $('.btn-save').attr('disabled', false);
            $('.btn-apply').attr('disabled', false);
        }
    }

    function checkDeliveryMethodPrice(mannerNum = '') {
        let delivery_method_price = $('#delivery_method_price1').val();
        let delivery_method_price2 = $('#delivery_method_price2').val();
        let delivery_method_price2_show = true;
        if ($(".manner2").attr("is_show") === undefined || $(".manner2").attr("is_show") == 'false') {
            delivery_method_price2 = 1;
            delivery_method_price2_show = false;
        }
        if (delivery_method_price == '' && mannerNum !== 'B') {
            let msg2 = '{{ text_verify_price_required }}';
            msg2 = msg2.replace(/option/, delivery_method_price2_show ? 'option A' : 'option')
            $('#delivery_method_price1').addClass('input-error')
            $('#error_delivery_method_price1').html(msg2);
            return false;
        }
        if (delivery_method_price2 == '' && mannerNum !== 'A') {
            $('#delivery_method_price2').addClass('input-error')
            $('#error_delivery_method_price2').html('{{ text_verify_price_required|replace({"option": "option B"}) }}');
            return false;
        }

        if (mannerNum !== 'B' && (isNaN(Number(delivery_method_price)) || !delivery_method_price.match(/^[\+\-]?\d*?\.?\d*?$/) || verityRoundCountFun(delivery_method_price))) {
            let msg1 = '{{ text_verify_price_error }}';
            msg1 = msg1.replace(/option/, delivery_method_price2_show ? 'option A' : 'option')
            $('#delivery_method_price1').addClass('input-error')
            $('#error_delivery_method_price1').html(msg1);
            return false;
        }
        if (mannerNum !== 'A' && (isNaN(Number(delivery_method_price2)) || (delivery_method_price2_show && !delivery_method_price2.match(/^[\+\-]?\d*?\.?\d*?$/)) || verityRoundCountFun(delivery_method_price2))) {
            $('#delivery_method_price2').addClass('input-error')
            $('#error_delivery_method_price2').html('{{ text_verify_price_error|replace({"option": "option B"}) }}');
            return false;
        }

        let is_japan = '{{ is_japan }}';
        delivery_method_price = Number(delivery_method_price);
        delivery_method_price2 = Number(delivery_method_price2);
        if (is_japan) {
            if ((delivery_method_price <= 0 || delivery_method_price > 999999999)&& mannerNum !== 'B') {
                $('#delivery_method_price1').addClass('input-error')
                $('#error_delivery_method_price1').html('{{ text_verify_price_characters_japan_error }}');
                return false;
            }
            if ((delivery_method_price2 <= 0 || delivery_method_price2 > 999999999)&& mannerNum !== 'A') {
                $('#delivery_method_price2').addClass('input-error')
                $('#error_delivery_method_price2').html('{{ text_verify_price_characters_japan_error }}');
                return false;
            }
        } else {
            if ((delivery_method_price <= 0 || delivery_method_price > 9999999.99)&& mannerNum !== 'B') {
                $('#delivery_method_price1').addClass('input-error')
                $('#error_delivery_method_price1').html('{{ text_verify_price_characters_not_japan_error }}');
                return false;
            }
            if ((delivery_method_price2 <= 0 || delivery_method_price2 > 9999999.99)&& mannerNum !== 'A') {
                $('#delivery_method_price2').addClass('input-error')
                $('#error_delivery_method_price2').html('{{ text_verify_price_characters_not_japan_error }}');
                return false;
            }
        }

        delivery_method_price = delivery_method_price.toFixed(is_japan ? 0 : 2);
        delivery_method_price2 = delivery_method_price2.toFixed(is_japan ? 0 : 2);
        if (mannerNum === 'A') {
            $('#delivery_method_price1').val(delivery_method_price);
        } else if (mannerNum === 'B') {
            $('#delivery_method_price2').val(delivery_method_price2);
        } else {
            $('#delivery_method_price1').val(delivery_method_price);
            if (delivery_method_price2_show) {
                $('#delivery_method_price2').val(delivery_method_price2);
            }
        }

        if (mannerNum === 'A') {
            $('#delivery_method_price1').removeClass('input-error')
            $('#error_delivery_method_price1').html('');
        } else if (mannerNum === 'B') {
            $('#delivery_method_price2').removeClass('input-error')
            $('#error_delivery_method_price2').html('');
        } else {
            $('#delivery_method_price1').removeClass('input-error')
            $('#error_delivery_method_price1').html('');
            $('#delivery_method_price2').removeClass('input-error')
            $('#error_delivery_method_price2').html('');
        }

        showSuppleDom()
        return true;
    }

    function checkPurchaseQty() {
        let purchase_qty = $('#purchase_qty').val();
        if (purchase_qty == '') {
            $('#purchase_qty').addClass('input-error')
            $('#error_purchase_qty').html('{{ text_verify_min_quantity_required }}');
            return false;
        }
        if (!purchase_qty.match(/^[\+\-]?\d*?\.?\d*?$/) || verityRoundCountFun(purchase_qty)) {
            $('#purchase_qty').addClass('input-error')
            $('#error_purchase_qty').html('{{ text_verify_min_quantity_error }}');
            return false;
        }
        let contract_qty = Number($('#contract_qty').val());
        purchase_qty = Number(purchase_qty);
        if (Math.floor(purchase_qty) != purchase_qty) {
            $('#purchase_qty').addClass('input-error')
            $('#error_purchase_qty').html('{{ text_verify_min_quantity_error }}');
            return false;
        }
        if (purchase_qty <= 0 || purchase_qty > contract_qty) {
            $('#purchase_qty').addClass('input-error')
            $('#error_purchase_qty').html('{{ text_verify_min_quantity_characters_error }}');
            return false;
        }
        let sold_contract_num = Number('{{ sold_contract_num }}');
        if (purchase_qty > (contract_qty - sold_contract_num)) {
            $('#purchase_qty').addClass('input-error')
            $('#error_purchase_qty').html('{{ text_verify_min_quantity_characters_error_2 }}');
            return false;
        }
        $('#purchase_qty').removeClass('input-error')
        $('#error_purchase_qty').html('');
        return true;
    }

    function checkPaymentRatio() {
        if ($('#payment_ratio-box .dropdown-menu').css('display') === 'block') {
            return ;
        }
        let ratio = $('#payment_ratio').val();
        if (ratio == '') {
            $('#payment_ratio').addClass('input-error')
            $('#error_payment_ratio').html('{{ text_verify_deposit_percentage_required }}');
            return false;
        }
        if (isNaN(Number(ratio)) || !ratio.match(/^[\+\-]?\d*?\.?\d*?$/)) {
            $('#payment_ratio').addClass('input-error')
            $('#error_payment_ratio').html('{{ text_verify_deposit_percentage_format_error }}');
            return false;
        }

        if (verityRoundCountFun(ratio)) {
            $('#payment_ratio').addClass('input-error')
            $('#error_payment_ratio').html('{{ text_verify_deposit_percentage_format_error }}');
            return false;
        }

        let is_japan = '{{ is_japan }}';
        if (is_japan) {
            ratio = Math.floor(Number(ratio));
        } else {
            ratio =Number(ratio).toFixed(2);
        }
        $('#payment_ratio').val(ratio);
        let min_payment_ratio = Number($('#min-payment-ratio-value').val());
        let max_payment_ratio = Number($('#max-payment-ratio-value').val());
        if (ratio < min_payment_ratio || ratio > max_payment_ratio) {
            $('#payment_ratio').addClass('input-error')
            let text_verify_delivery_percentage_error = '{{ text_verify_delivery_percentage_error }}';
            $('#error_payment_ratio').html(text_verify_delivery_percentage_error.replace('%s1', min_payment_ratio).replace('%s2', max_payment_ratio));
            return false;
        }
        let deposit_percentages = ($('#deposit_percentages-value').val()).split(',');
        let history_ratio = Number('{{ contract_info.payment_ratio }}');
        let status = Number('{{ contract_info.status }}');

        if (deposit_percentages.includes(ratio.toString()) || (ratio == history_ratio && status == 1)) {
            if ($('#contract_status option[value="1"]').length == 0) {
                $('#contract_status').append('<option value="1">{{ text_contract_status_active }}</option>')
            }
            if ($('#contract_status option[value="2"]').length > 0) {
                $('#contract_status option[value="2"]').remove();
            }
            $('#contract_status').val(1);
            $('#contract_status').attr('disabled', false);
        } else {
            if ($('#contract_status option[value="2"]').length == 0) {
                $('#contract_status').append('<option value="2">{{ text_contract_status_disabled }}</option>')
            }
            $('#contract_status').val(2);
            $('#contract_status').attr('disabled', true);
        }

        showSuppleDom();
        $('#payment_ratio').removeClass('input-error')
        $('#error_payment_ratio').html('');
        return true;
    }

    function showSuppleDom() {
        let history_available_balance = Number('{{ history_available_balance }}');

        let is_japan = '{{ is_japan }}';
        let contract_qty = Number('{{ contract_info.num }}');
        let delivery_method_price2 = 0;
        if ($(".manner2").attr("is_show") == 'true') {
            delivery_method_price2 = Number($('#delivery_method_price2').val());
        }
        let delivery_method_price1 = Number($('#delivery_method_price1').val());
        let payment_ratio = Number($('#payment_ratio').val());

        let singleAmount = Number((delivery_method_price1 > delivery_method_price2 ? delivery_method_price1 : delivery_method_price2) * payment_ratio * 0.01);
        let formatSingleAmount = is_japan ? Number(singleAmount.toFixed(0)) : Number(singleAmount.toFixed(2));
        let amount = Number(contract_qty * formatSingleAmount).toFixed(is_japan ? 0 : 2);
        if (amount > history_available_balance) {
            let supplement_amount = Number(amount - history_available_balance);
            $('#change-amount').val(1)
            $('#supplement-amount').val(is_japan ? supplement_amount.toFixed(0) : supplement_amount.toFixed(2))
        } else {
            $('#change-amount').val(0)
            $('#supplement-amount').val(is_japan ? 0 : '0.00')
        }
        $('.remain-amount').show();
        $('.supplement-amount').show();
        if (Number($('#supplement-amount').val()) > Number('{{ amount }}') && $('#change-amount').val() == 1) {
            $('#remain-amount').addClass('input-error');
            $('#error_supplement_amount').html('{% if account_type == 1 %}{{ text_verify_remaining_balance_error }}{% else %}{{ text_verify_total_balance_error }}{% endif %}');
        } else {
            $('#remain-amount').removeClass('input-error');
            $('#error_supplement_amount').html('');
        }
    }

    function changeDeliveryMethod(_this) {
        showSuppleDom()
        let name = $(_this).attr("name");
        let value = $(_this).val();
        let otherName = name === 'delivery_method1' ? 'delivery_method2' : 'delivery_method1';
        let otherValue = value == 1 ? 2 : 1;
        $('#' + otherName).val(otherValue);
    }

    function getContractValue() {
        let delivery_method1 = $("#delivery_method1").val();
        let delivery_method2 = $("#delivery_method2").val();
        let delivery_method_price1 = $('#delivery_method_price1').val();
        let delivery_method_price2 = $('#delivery_method_price2').val();

        let delivery_type = 0;
        let last_unit_price = 0;
        let margin_unit_price = 0;
        if (delivery_method1 == 1) {
            delivery_type = 1;
            last_unit_price = delivery_method_price1;
            margin_unit_price = 0;
        } else if (delivery_method1 == 2) {
            delivery_type = 2;
            margin_unit_price = delivery_method_price1;
            last_unit_price = 0;
        }

        if ($(".manner2").attr("is_show") == 'true') {
            delivery_type = 3;
            if (delivery_method2 == 1) {
                last_unit_price = delivery_method_price2;
            } else if (delivery_method2 == 2) {
                margin_unit_price = delivery_method_price2;
            }
        }

        return {
            id: '{{ contract_info.id }}',
            payment_ratio: $('#payment_ratio').val(),
            is_bid: $('#bargain').val(),
            min_num: Number($('#purchase_qty').val()),
            delivery_type: delivery_type,
            margin_unit_price: margin_unit_price,
            last_unit_price: last_unit_price,
        }
    }

    function submitEditContract(text) {
        let data = getContractValue();
        let contract_no = '{{ contract_info.contract_no }}'
        let item_code = $('#hidden-sku').val();
        $('.save-modal').modal('hide');
        $('.apply-modal').modal('hide');
        parent.layer.load(1);
        $.ajax({
            url: '{{ url("account/customerpartner/future/contract/handleEditContract") }}',
            data: data,
            method: 'post',
            dataType: 'json',
            success: function (res) {
                layer.closeAll();
                if (res.code === 0) {
                    switch (res.data.error_status) {
                        case 3:
                            $('#remain-amount').addClass('input-error');
                            $('#error_supplement_amount').html('{% if account_type == 1 %}{{ text_verify_remaining_balance_error }}{% else %}{{ text_verify_total_balance_error }}{% endif %}');
                            break;
                        case 5:
                            $('#purchase_qty').addClass('input-error')
                            $('#error_purchase_qty').html('{{ text_verify_min_quantity_characters_error_2 }}');
                            break;
                        default:
                            layer.alert('{{ text_edit_contract_error_msg }}'.replace(/%s/, contract_no), {
                                title: '{{ text_alert_reminder }}',
                                skin: 'yzc_layer',
                                btnAlign: 'c',
                                btn: '{{ text_alert_ok }}',
                            })

                    }
                } else {
                    let success_msg = '';
                    if ($('#contract_status').val() == 2) {
                        success_msg = '{{ text_edit_contract_success_msg_1 }}'.replace(/%s/, contract_no)
                    } else {
                        success_msg = '{{ text_edit_contract_success_msg }}'.replace(/%s/, contract_no)
                    }
                    layer.alert(success_msg, {
                        title: '{{ text_alert_reminder }}',
                        skin: 'yzc_layer',
                        btnAlign: 'c',
                        btn: '{{ text_alert_ok }}',
                        btn1: function () {
                            if (text === 'apply') {
                                location.reload();
                            } else {
                                window.location.href = '{{ url("account/customerpartner/future/contract/list") }}'
                            }
                        },
                        cancel: function () {
                            if (text === 'apply') {
                                location.reload();
                            } else {
                                window.location.href = '{{ url("account/customerpartner/future/contract/list") }}'
                            }
                        }
                    })
                }
            },
        });
    }

    function handleEdit(text, _this) {
        if ($(_this).attr("disabled")) {
            return;
        }
        let status = $('#contract_status').val();
        let history_status = '{{ contract_info.status }}';
        if (status != history_status && status == 4) {
            handleTerminate(history_status, text);
            return;
        }
        if (!checkPurchaseQty()) {
            return false;
        }

        if (!checkDeliveryMethodPrice()) {
            return false;
        }

        if (Number($('#supplement-amount').val()) > Number('{{ amount }}')  && $('#change-amount').val() == 1) {
            $('#remain-amount').addClass('input-error');
            $('#error_supplement_amount').html('{% if account_type == 1 %}{{ text_verify_remaining_balance_error }}{% else %}{{ text_verify_total_balance_error }}{% endif %}');
            return false;
        } else {
            $('#remain-amount').removeClass('input-error');
            $('#error_supplement_amount').html('');
        }

        if ($('.btn-save').attr('disabled') === 'disabled' || $('.btn-apply').attr('disabled') === 'disabled') {
            return false;
        }

        $('.btn-save').attr('disabled', 'disabled');
        $('.btn-apply').attr('disabled', 'disabled');
        $.ajax({
            url: '{{ url("account/customerpartner/future/contract/getLatestSettingValue") }}',
            data: '',
            method: 'get',
            dataType: 'json',
            success: function (res) {
                $('.btn-save').removeAttr('disabled');
                $('.btn-apply').removeAttr('disabled');

                $('#payment-ratio-value').val(res.data.payment_ratio);
                $('#min-payment-ratio-value').val(res.data.min_payment_ratio);
                $('#max-payment-ratio-value').val(res.data.max_payment_ratio);
                $('#deposit_percentages-value').val(res.data.deposit_percentages);

                if (!checkPaymentRatio()) {
                    return false;
                }

                let contract_value = getContractValue();
                if ($('#contract_status').val() == 1) {
                    $(".contract-model-notice").html('{{ text_model_preview_notice }}');
                    $(".contract-model-payment-ratio").html(contract_value.payment_ratio + "%");
                } else {
                    $(".contract-model-notice").html('{{ text_model_preview_notice_change_percentage }}');
                    $(".contract-model-payment-ratio").html('<span style="color:red">' + contract_value.payment_ratio + '%</span>');
                }
                $(".contract-model-product img").attr('src', $("#product_image").attr('src'));
                $(".contract-model-product span").html(($("#product-detail-sku-mpn").html()).replace(/<a/g, '<span').replace(/a>/g, 'span>').replace(/href="(.*?)">/g, ">"));
                $(".contract-model-delivery-date").html('{{ contract_info.delivery_date[0:10] }}');
                $(".contract-model-num").html('{{ contract_info.num }}');
                $(".contract-model-min-num").html(contract_value.min_num);
                let delivery_type_msg = '{{ text_contract_method_balance_amount }}' + "/" + '{{ text_contract_method_change_margin }}';
                let price = '';
                if (contract_value.delivery_type == 1) {
                    delivery_type_msg = '{{ text_contract_method_balance_amount }}';
                    price = '{{ currency_symbol_left }}' + contract_value.last_unit_price + '{{ currency_symbol_right }}';
                } else if (contract_value.delivery_type == 2) {
                    delivery_type_msg = '{{ text_contract_method_change_margin }}';
                    price = '{{ currency_symbol_left }}' + contract_value.margin_unit_price + '{{ currency_symbol_right }}';
                } else {
                    if (contract_value.last_unit_price != contract_value.margin_unit_price) {
                        price = (Number(contract_value.last_unit_price) < Number(contract_value.margin_unit_price)) ? ('{{ currency_symbol_left }}' + contract_value.last_unit_price + '{{ currency_symbol_right }}' + ' - ' + '{{ currency_symbol_left }}' + contract_value.margin_unit_price + '{{ currency_symbol_right }}') : ('{{ currency_symbol_left }}' + contract_value.margin_unit_price + '{{ currency_symbol_right }}' + ' - ' + '{{ currency_symbol_left }}' + contract_value.last_unit_price + '{{ currency_symbol_right }}')
                    } else {
                        price = '{{ currency_symbol_left }}' + contract_value.margin_unit_price + '{{ currency_symbol_right }}';
                    }
                }
                $(".contract-model-delivery-type").html(delivery_type_msg);
                $(".contract-model-price").html(price);
                let msg = '';
                {% if account_type == 1 %}
                msg = "{{ text_model_preview_msg_remaining_balance }}";
                {% else %}
                msg = "{{ text_model_preview_msg_total_balance }}";
                {% endif %}
                msg = msg.replace('%s1', '{{ contract_info.contract_no }}').replace('%s2', '{{ currency_symbol_left }}' + $('#supplement-amount').val() + '{{ currency_symbol_right }}')
                $(".contract-model-end-msg").html(msg);

                let alarmPrice = $('#alarm-price').val();
                if ((Number(contract_value.last_unit_price) > 0 && Number(contract_value.last_unit_price) < alarmPrice) || (Number(contract_value.margin_unit_price) > 0 && Number(contract_value.margin_unit_price)  < alarmPrice)) {
                    layer.confirm('{{ is_show_cwf_notice ? error_product_price_proportion_cwf : error_product_price_proportion }}', {
                        title: '{{ text_alert_reminder }}',
                        skin: 'yzc_layer',
                        btnAlign: 'c',
                        btn: ['{{ text_alert_yes }}', '{{ text_alert_no }}']
                    }, function () {
                        layer.closeAll();
                        if (text === 'save') {
                            $('.save-modal').modal();
                        } else {
                            $('.apply-modal').modal();
                        }
                    });
                } else {
                    if (text === 'save') {
                        $('.save-modal').modal();
                    } else {
                        $('.apply-modal').modal();
                    }
                }
            }
        })
    }

    function handleTerminate(history_status, text) {
        let msg = '';
        if (history_status == 1) {
            msg = '{{ text_edit_active_to_terminate|replace({'%s': contract_info.contract_no}) }}'
        } else if (history_status == 3) {
            msg = '{{ text_edit_terminate|replace({'%s': contract_info.contract_no}) }}'
        }
        let id = '{{ contract_info.id }}'
        layer.confirm(msg, {
            title: '{{ text_alert_confirm }}',
            skin: 'yzc_layer',
            btnAlign: 'c',
            btn: ['{{ text_alert_yes }}', '{{ text_alert_no }}']
        }, function (index) {
            layer.closeAll();
            parent.layer.load(1);
            $.ajax({
                url: '{{ url("account/customerpartner/future/contract/terminate") }}',
                data: {ids: id},
                method: 'post',
                dataType: 'json',
                success: function (res) {
                    layer.closeAll();
                    if (res.code === 1) {
                        layer.alert('{{ text_action_terminate_success_msg }}', {
                            title: '{{ text_alert_reminder }}',
                            skin: 'yzc_layer',
                            btnAlign: 'c',
                            btn: '{{ text_alert_ok }}',
                        }, function () {
                            if (text === 'apply') {
                                location.reload();
                            } else {
                                window.location.href = '{{ url("account/customerpartner/future/contract/list") }}'
                            }
                        })
                    } else {
                        switch (res.data.error_status) {
                            case 5:
                                layer.alert('{{ text_action_terminate_error_msg_exist_apply_agreement|replace({'%s': contract_info.contract_no}) }}', {
                                    title: '{{ text_alert_reminder }}',
                                    skin: 'yzc_layer',
                                    btnAlign: 'c',
                                    btn: '{{ text_alert_ok }}',
                                })
                                break;
                            default:
                                layer.alert('{{ text_action_terminate_error_msg }}', {
                                    title: '{{ text_alert_reminder }}',
                                    skin: 'yzc_layer',
                                    btnAlign: 'c',
                                    btn: '{{ text_alert_ok }}',
                                })
                        }
                    }
                },
            });
        });
    }
</script>

<script>
    $('#delivery_date').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD'
    });
    $(".manner .btn-add").on('click', function () {
        if ($(this).attr('disabled') === undefined) {
            $(this).attr('disabled', true);
            let value = $("#delivery_method1").val();
            let otherValue = value == 1 ? 2 : 1;
            $('#delivery_method2').val(otherValue);
            $(".manner2").show();
            $(".manner2").attr("is_show", true);
            $('.mannerNum').show();
            $('#error_delivery_method_price1').html(($('#error_delivery_method_price1').html()).replace(/option/, 'option A'));
            showSuppleDom();
        }
    });
    $(".manner2 .btn-delete").on('click', function () {
        $(".manner .btn-add").removeAttr('disabled')
        $(".manner2").hide();
        $(".manner2").attr("is_show", false);
        $('.mannerNum').hide();
        $('#error_delivery_method_price1').html(($('#error_delivery_method_price1').html()).replace(/option A/, 'option'));
        showSuppleDom();
    })
    //赋值给input框
    $("#payment_ratio-box .dropdown-menu").on("click", "li", function() {
        $(this).parent().parent().find("input").val($(this).text());
        $(this).parent().hide()
        checkPaymentRatio()
    });

    //点击其他地方隐藏下拉框
    $(document).bind('click', function(event) {
        var evt = event.srcElement ? event.srcElement : event.target;
        evt = $(evt);
        if (evt.hasClass("enter-input") || evt.parents(".enter-input").length != 0) {
            return;
        } else {
            if ($('#payment_ratio-box .dropdown-menu').css('display') === 'block') {
                $("body").find("#payment_ratio-box .dropdown-menu").hide();
                checkPaymentRatio();
            }
        }
    });

    function getNewRatioValue() {
        let old_deposit_percentages = $('#deposit_percentages-value').val();
        $.ajax({
            url: '{{ url("account/customerpartner/future/contract/getLatestSettingValue") }}',
            data: '',
            method: 'get',
            dataType: 'json',
            success: function (res) {
                $('#payment-ratio-value').val(res.data.payment_ratio);
                $('#min-payment-ratio-value').val(res.data.min_payment_ratio);
                $('#max-payment-ratio-value').val(res.data.max_payment_ratio);

                if (res.data.deposit_percentages != old_deposit_percentages) {
                    $('#deposit_percentages-value').val(res.data.deposit_percentages);
                    let deposit_percentages = (res.data.deposit_percentages).split(',');
                    let html = '';
                    for (let i = 0; i < deposit_percentages.length; i++) {
                        html += '<li><a>' + deposit_percentages[i] + '</a></li>';
                    }
                    $("body").find("#payment_ratio-box .dropdown-menu").html(html);
                }
                $("body").find("#payment_ratio-box .dropdown-menu").show();
            }
        })
    }
</script>