{# 模板：产品排名 ------Start #}
<section class="bests-module m20-b" id="module{{mIndex}}" data-mIndex="{{mIndex}}">
  {% if module.data.title_show %}
    <div class="common-title">Best Sellers</div>
    {% if module.data.title_sub %}
      <div class="sub-title">{{ module.data.title_sub }}</div>
    {% endif %}
    <div class="warning-back"></div>
  {% endif %}
  <div class="w1200 module-flex bests-content">
    {% for i,one in module.data.products %}
    <div class="bests-item">
      <div class="left-image">
        <div class="scale-range">
          <a href="{{ url('product/product',{'product_id': one.id}) }}" target="_blank">
            <img class="scale" src="{{ one.image }}" title="{{one.name}}">
          </a>
        </div>
        {# 设置角标 #}
        {% if module.data.display_value.sales_ranking %}
        {% set class_jb = 'left-jb jb' ~ i %}
        <div class="{{ class_jb }}"> {{i+1}} </div>
        {% endif %}
      </div>
      <div class="right-content">
        {% if one.sku is not null %}
        <div class="text-small break-all pos-top-img">Item Code:&nbsp;{{ one.sku }}{{ one.tags }}</div>
        {% endif %}
        {% if one.price is not null %}
        <div class="p3-t">
          <span class="module-bigf">{{ one.price }}</span><span class="module-grey p2-l">/Unit</span>
        </div>
        {% endif %}
        {% if one.qty is not null %}
        <div class="text-small">Qty Available:&nbsp;{{ one.qty }}</div>
        {% endif %}
        {% if one.complex_transaction %}
        <div class="tag-content p8-tb">
          {% for complex in one.complex_transaction %}
          <div><i class="giga icon-duihao_10"></i>{{ complex }}</div>
          {% endfor %}
        </div>
        {% endif %}
        {% if module.data.display_value.cart_tip %}
        <a class="cart" href="{{ url('product/product',{'product_id': one.id}) }}" target="_blank">
          <i class="giga icon-gouwuche-fuben"></i>
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{# 模板：产品排名 ------End #}