{# 模板：主推产品 ------Start #}
<section class="mainprod-module m20-b" id="module{{mIndex}}" data-mIndex="{{mIndex}}">
  {% if module.data.title_show %}
    <div class="common-title">{{ module.data.title }}</div>
    {% if module.data.title_sub %}
      <div class="sub-title">{{ module.data.title_sub }}</div>
    {% endif %}
  {% endif %}
  <div>
    {% for prodIndex,prod in module.data.products%}
    <div class="w1200 action-mp-range {% if prodIndex !=0 %} none {% else %} module-flex{% endif %}" id="mp{{prodIndex}}">
      <div class="left-image">
        <a href="{{ url('product/product',{'product_id': prod.product.id}) }}" target="_blank">
          <img src="{{ prod.product.image }}" title="{{ prod.product.name }}">
        </a>
      </div>
      <div class="right-content">
        {% if prod.product.name is not null %}
        <div class="module-amount module-line2">
          <a class="title-link" href="{{ url('product/product',{'product_id': prod.product.id}) }}" target="_blank" title="{{ prod.product.name }}">{{ prod.product.name }}</a>
        </div>
        {% endif %}
        {% if prod.product.item_code is not null %}
        <div class="flex-layout p8-tb">Item Code:&nbsp;{{ prod.product.item_code }}{{ prod.product.tags }}</div>
        {% endif %}
        {% if prod.product.complex_transaction is not null %}
        <div class="tag-content p8-tb">
          {% for complex in prod.product.complex_transaction %}
          <div><i class="giga icon-duihao_10"></i>{{ complex }}</div>
          {% endfor %}
        </div>
        {% endif %}
        {% if prod.tags is not null %}
        <div class="p8-tb">
          {% for tag in prod.tags %}
          <div class="prod-list" title="{{ tag }}">{{ tag }}</div>
          {% endfor %}
        </div>
        {% endif %}
        {% if prod.product.price is not null %}
        <div class="m20-t">
          <span class="module-amount">{{ prod.product.price }}</span>
        </div>
        {% endif %}
        {% if prod.product.qty is not null %}
        <div>Qty Available:&nbsp;{{ prod.product.qty }}</div>
        {% endif %}
        <a href="{{ url('product/product',{'product_id': prod.product.id}) }}" target="_blank" class="btn-buy m10-t">BUY NOW</a>
        <div class="mainprod-bot">
          {% for m,mainPro in module.data.products %}
          <div class="action-mp-change scale-range {%if m==prodIndex %} active{% endif %}" data-mIndex="{{m}}">
            <img src="{{ mainPro.product.image }}" alt="{{ mainPro.product.image }}" title="{{ mainPro.product.name }}">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{# 模板：主推产品 ------End #}