{{ header }}

<div id="error-not-found" class="bg-grey">
  <div class="row mb-5">
    <div class="text-center mb-3">
      {% if page_type == "seller_profile" %}
        <h2>{{ text_error_seller_profile }}</h2>
      {% else %}
        <h2>{{ heading_title }}</h2>
      {% endif %}
    </div>
    <div class="text-center col-md-6 col-md-push-3">
      <form>
        <div class="text-center mb-3">
          <p>{{ text_error }}</p>
          <a type="button" class="btn btn-lg mt-2 btn-primary" href="{{ continue }}">{{ button_continue }}</a>
        </div>
      </form>
    </div>
  </div>
</div>
{{ footer }}
