{# 常用语选择组件 #}
{# @description buyer/seller 中的新消息、平台小助手 #}
{{ jsOrigin(['/catalog/view/javascript/layer/layer.js']) }}

<div id="common-words-component">
  <div class="msgcent msg-words__container">
    {% for type in words_type %}
      <div class="msgcent msg-words__item" data-words="{{ loop.index0 }}">
        {{ type.en_name }}
      </div>
    {% endfor %}
  </div>
  <div class="common-words-dialog">
    <div class="words-container"></div>
  </div>
</div>
<script>
var words_type = {{ words_type }};
//js 中用到的翻译部分
const COMMON_WORDS_TRANS = {
  TITLE: "Common Questions & Response"
}

// 当前选中的关键字
var activeContent = '';

// 是否点击过常用语弹框
var is_clicked_common_words = {{ is_clicked_common_words }}

$(document).ready(function(){
  //绑定关键词点击事件
  $('.msg-words__item').on('click', function(){
    let words = words_type[$(this).data('words')].words;
    // 出现第一次使用常用语弹窗
    if (!is_clicked_common_words) { 
      layer.alert("The specific scenario corpus provided by GIGA only provide reference for communication between Buyer and Seller, while not responsible for the accuracy of the applied scenario and the result of the transaction. Please use the specific scenario corpus reasonably.", {
          closeBtn: 0,
          btnAlign: 'c',
          title: 'Use Suggestions',
          btn: ['I Know'],
          skin: 'oris-layer',
          shadeClose: true,
        },
        function () {
          layer.closeAll();
          showWords(words);
          $.ajax({
            url: "{{ url('account/message_center/suggest/setMsgCommonWordsDescription') }}",
            type: 'post',
            success: function (json) {}
          });
          is_clicked_common_words = 1;
        });
    } else { 
      showWords(words);
    } 
  })

  function trimPre(str) {
    // return (''+str).replace(new RegExp('^\\<pre>+', 'g'), '').replace(new RegExp('\\</pre>+$', 'g'), '');
    return str;
  }

  function showWords(words) {
    let html = ''
    for (let i = 0; i < words.length; i++) {
      html += `<div class="words-item"><div class="words-item__text words-content" data-content="${encodeURI(words[i].en_content)}"><p>` + words[i].en_content + '</p></div><div class="words-item__text">' + words[i].zh_content + '</div></div>';
    }
    $('.words-container').html(html);
    var index = layer.open({
      type: 1,
      area: ['800px'],
      maxHeight: '800px',
      title: COMMON_WORDS_TRANS.TITLE,
      skin: 'oris-layer',
      content: $(".common-words-dialog"),
      btn: ['Confirm', 'Cancel'],
      yes: function (index, layero){  
        if((activeContent + '').trim()) {
          // 为了保留常用语换行，加入时候使用pre 标签，添加pre标签样式处理邮件样式错误
          var preStyle = `
              display: block;
              padding: initial;
              margin: initial;
              white-space: pre-wrap;
              font-size: 14px;
              line-height: initial;
              word-break: break-all;
              word-wrap: break-word;
              color: #333333;
              background-color: initial;
              border: initial;
              border-radius: 0;
              font-family: Arial, "Roboto", Helvetica, serif !important
            `;

          if($("#content-textarea").val()) {
            $("#content-textarea").summernote('code', 
            `${trimPre($("#content-textarea").val())}<br>
            <pre style="${preStyle}">${activeContent}</pre>`);
          } else {
            $("#content-textarea").summernote('code', `<pre style="${preStyle}">${trimPre(activeContent)}<pre>`);
          }
        }
        layer.close(index);
        activeContent = '';
      },
      cancel: function (index, layero){

      },
    });
  }


  //关键词明细选择事件点击事件
  $('#common-words-component').on('click', '.words-item', function(){
    $('.words-item').removeClass('active');
    $(this).addClass('active');
    activeContent = decodeURI($(this).find(".words-content").data('content'));
  })
})
</script>
<style>
  #common-words-component .common-words-dialog {
    display: none;
  }

  #common-words-component .words-container {
    min-height: 129px;
    max-height: 396px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 16px 24px 0px 24px;
  }

  #common-words-component .words-container .words-item {
    background: #F4F4F4;
    border-radius: 2px;
    padding: 12px 16px;
    margin: 8px 0px;
    border: 1px solid #F4F4F4;
    word-break: break-all;
  }

  {# 当前被选中的常用语 #}
  #common-words-component .words-container .words-item.active {
    border: 1px solid #2861CE;
    background: rgba(40, 97, 206, 0.1);
  }

  #common-words-component .words-container .words-item:hover {
    background: rgba(40, 97, 206, 0.1);
    cursor: pointer;
  }

  #common-words-component .words-container .words-item .words-item__text {
    color: #333;
    font-size: 14px;
    line-height: 24px;
    white-space: pre-wrap;
  }

  {# 弹窗样式修改 #}
  #common-words-component .layui-layer-content {
    padding: 0px;
  }

  #common-words-component {
    flex-wrap: wrap;
  }

  #content-textarea-container pre {
    display: block;
    padding: initial;
    margin: initial;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: initial;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: initial;
    border: initial;
    border-radius: 0;
    font-family: Arial, "Roboto", Helvetica, serif !important
  }

</style>