{# start header column-left #}
{{ header }}{{ separate_column_left }}
{# end header column-left #}

{% set container_info='class="container"' %}
{% if separate_view is defined and separate_view %}
  {% set container_info='class="container-fluid" id="content" style="margin-left: 15%"' %}
{% endif %}
<script src="../admin/view/javascript/bootstrap/js/bootstrap-treeview.js"></script>
<div {{ container_info }}>
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <h1>{{ operate_text }}</h1>
 {# 表单 #}
  <form role="form" class="my-form">
    <div class="form-group">
      <label for="name" class="col-sm-3 my-label">{{ text_account_manager_name }}</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="name" value="{{ account_manager_name }}" style="width: 400px;" disabled>
        {% if account_manager_id == "" %}
        <span style="color: red">{{ text_no_match_manger_notice }}</span>
        {% endif %}
      </div>
    </div>
    {# 树-权限   #}
    <div class="form-group mar-top">
      <label for="Permission" class="col-sm-3 my-label">{{ text_permission }}</label>
      <div class="col-sm-8">
        <div id="myTree" class="my-width"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12" style="text-align: center;margin-top: 40px">
        {% if operate_text == text_add_new %}
        <p class="p-title">{{ text_permission_notice }}</p>
        {% endif %}
        <button type="button" onclick="goBack()" class="btn btn-right btn-default" style="margin-right: 20px;height: 40px;" >{{ text_go_back }}</button>
        <button type="button" class="btn btn-submit" style="height: 40px" {% if account_manager_id == "" %} disabled {% endif %} onclick="operation('{{ authorize_id }}')">{{ operate_button_text }}</button>
      </div>
    </div>
  </form>

 {# 弹出框 #}
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{{ text_confirm_authorization }}</h4>
        </div>
        <div class="modal-body" style="padding: 30px;">
          <p>{{ text_confirm_authorization_content }}</p>
          <p class="modal-text">
            <input type="checkbox" id="allow">
            {{ text_prefix_agree_confirm_authorization }}<span>[{{ account_manager_name }}]</span>{{ text_postfix_agree_confirm_authorization }}</p>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" id="myModalConfirmBtn" class="btn btn-submit" style="margin-right: 50px;height: 35px" onclick="send(0)">{{ text_confirm }}</button>
          <button type="button" class="btn btn-right" data-dismiss="modal" style="height: 35px">{{ text_cancel }}</button>
        </div>
      </div>
    </div>
  </div>

</div>
<style>
  .modal-header {
    height: 43px;
    padding: 10px;
  }
  .my-form{
    /*margin-right: 20px;*/
    border-radius: 3px;
    background-color: #fff;
    margin-top: 3px;
    padding: 0 20px;
    box-shadow: #aaa 0 0 6px;
    overflow: auto;
    padding: 20px;
    margin-top: 20px;
  }
  .my-label{
    text-align: right;
    line-height: 30px;
  }
  .mar-top{
    margin-top: 40px;
  }
  .my-width{
    width: 400px;
  }
  .p-title{
    color: #AAAAAA;
    font-size: 14px;
  }
  .send-btn{
    background-color: rgba(71, 139, 255, 1);
    border-radius: 5px;
    color: #fff;
  }
  .modal-text{
    margin-top: 20px;
    /*font-size: 12px;*/
  }
  .icon-tables-checkbox-checked{
    color: #3A75DC;
  }

  .treeview span.icon {
    width: 16px !important;
  }
  .btn-right{
    background-color: #fff;
    color: #3A75DC !important;
  }
  .btn-right:hover{
    background-color: #3A75DC !important;
    color: #fff !important;
  }
  .btn-submit{
    height: 40px;
  }
  .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: unset !important;
    outline-offset: unset !important;
    color: #fff;
  }
</style>
<script>
  function goBack() {
    window.location.href = '{{ operate_success_link }}';
  }

  $("#myTree").treeview({
    data: {{ menus }},
    levels:2,
    collapseIcon: 'iconfont icon-sanjiaoxing', // 收起图标
    expandIcon: 'iconfont icon-jiantou1', // 展开图标
    checkedIcon: 'giga icon-tables-checkbox-checked', // 选中复选框颜色
    uncheckedIcon: 'giga icon-tables-checkbox-inactive',
    selectedColor: 'unset',
    onhoverColor: 'unset',
    showCheckbox: true,
    showBorder:false, // 是否显示节点边框
    selectedBackColor: 'unset', // 选中节点背景色
    onNodeChecked : function(event, node) {
      var selectNodes = getChildNodeIdArr(node); //获取所有子节点
      if (selectNodes) { //子节点不为空，则选中所有子节点
        $('#myTree').treeview('checkNode', [selectNodes, { silent: true }]);
      }
      setParentNodeCheck(node);
    },
    onNodeUnchecked : function(event, node){
      var selectNodes = getChildNodeIdArr(node); //获取所有子节点
      if (selectNodes) { //子节点不为空，则取消选中所有子节点
        $('#myTree').treeview('uncheckNode', [selectNodes, { silent: true }]);
        if(node.parentId!="undefined"){
          // 获取父节
          var parentNode = $("#myTree").treeview("getNode", node.parentId);
          var flag = setParentNoCheck(parentNode);
          if(flag){
            $('#myTree').treeview('uncheckNode',[parentNode],{silent:true});
          }
        }
      }
    }
  });

  // 获取父节点下的所有子节点
  function getChildNodeIdArr(node) {
    var ts = [];
    if (node.nodes) {
      for (x in node.nodes) {
        ts.push(node.nodes[x].nodeId);
        if (node.nodes[x].nodes) {
          var getNodeDieDai = getChildNodeIdArr(node.nodes[x]);
          for (j in getNodeDieDai) {
            ts.push(getNodeDieDai[j]);
          }
        }
      }
    } else {
      ts.push(node.nodeId);
    }
    return ts;
  }

  // 勾选父节点
  function setParentNodeCheck(node) {
    var parentNode = $("#myTree").treeview("getNode", node.parentId);
    if (parentNode.nodes) {
      var checkedCount = 0;
      for (var i in parentNode.nodes) {
        if (parentNode.nodes[i].state.checked) {
          checkedCount ++;
        } else {
          break;
        }
      }
      if (checkedCount === parentNode.nodes.length) {
        $("#myTree").treeview("checkNode", parentNode.nodeId);
        setParentNodeCheck(parentNode);
      }
    }
  }

  // 如果子节点未全部勾选，则父节点也不勾选
  function setParentNoCheck(parentNode){
    if(parentNode.nodes){
      for (var i=0;i< parentNode.nodes.length;i++) {
        if (parentNode.nodes[i].state.checked) {
          return false;
        }
      }
      return true;
    }
    return false;
  }
  var block = {
    'blockUI' : function () {
      var ele = $("#Modal-Mask-layer");
      if (!ele.length) {
        var html = "";
        html += '<div class="modal fade" id="Modal-Mask-layer" tabindex="-1" data-backdrop="static" role="dialog" aria-hidden="true" style="display: none;">';
        html += '    <div class="loader1" style="margin-top: 20%;margin-left: 50%">';
        html += '    <span></span>';
        html += '    <span></span>';
        html += '    <span></span>';
        html += '    <span></span>';
        html += '    <span></span>';
        html += '  </div>';
        html += '</div>';
        $('body').append(html);
      }
      $("#Modal-Mask-layer").modal('show');
    },
    'unBlockUI' : function () {
      $('#Modal-Mask-layer').modal('hide');
    }
  };

  function operation(authorizeId) {
    // 打开弹窗框
    if (authorizeId == 0) {
        if ($('#allow').is(":checked")) {
          $('#myModalConfirmBtn').removeAttr('disabled');
        } else {
          $('#myModalConfirmBtn').attr("disabled", "disabled");
        }
        $('#myModal').modal('show');
    } else {
      send(authorizeId);
    }
  }

  $('#allow').click(function() {
    if ($(this).is(":checked")) {
      $('#myModalConfirmBtn').removeAttr('disabled');
    } else {
      $('#myModalConfirmBtn').attr("disabled", "disabled");
    }
  });

  function send(authorizeId) {
    let checkMenus = $('#myTree').treeview('getChecked');
    let checkedMenuIds = [];
    for (let i = 0; i < checkMenus.length; i++) {
      checkedMenuIds.push(checkMenus[i].id)
    }

    let sendData = {};
    sendData.permissions = checkedMenuIds;
    if (authorizeId != 0) {
      sendData.authorize_id = authorizeId;
    } else {
      $('#myModal').modal('hide');
    }

    let operateSuccessLink = '{{ operate_success_link }}';
    $.ajax({
      url: '{{ operate_button_link }}',
      type: 'post',
      data: sendData,
      dataType: 'json',
      beforeSend: function () {
        block.blockUI();
      },
      success: function (json) {
        if (json['code']) {
          layer.msg(json['msg'], {area: ['400px'], time: 3000});
          setTimeout(function() {
            window.location.href = operateSuccessLink;
          }, 1000);
        } else {
          layer.msg(json['msg'], {area: ['400px'], time: 3000});
          setTimeout(function() {
            location.reload()
          }, 1000);
        }
      },
      complete: function () {
        block.unBlockUI();
      }
    });
  }

</script>
{{ footer }}