{% if categories %}
  <div id="menu-wrapper">

    <div class="container {% if is_home ==1 %}index-container{% endif %}">
      <nav id="menu" class="navbar">
        <div class="navbar-header">
{#          首页改版2期nav缩小后的文字#}
{#          <span id="category" class="visible-xs">{{ text_category }}</span>#}
          <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          {% if is_home == 0 %}
            <ul class="nav navbar-nav menu-top">
              <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" style="cursor: default;" data-toggle="dropdown">All Categories</a>
                <div class="dropdown-menu">
                  <div class="dropdown-inner">
                    <ul class="list-unstyled">
                      {% for category in categories %}
                        <li class="dropdown">
                          <a url="{{ category.href }}" class="menu-firt-category dropdown-toggle {% if category.children %}has-children{% endif %}"
                             data-toggle="dropdown">{{ category.name }}</a>
                          {% if category.children %}
                            <div class="dropdown-menu third-level">
                              <div class="dropdown-inner">
                                <ul class="list-unstyled">
                                  {% for inner in category.children %}
                                    <li><a href="{{ inner.href }}">{{ inner.name }}</a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>


              {% for item in menu_top_lists %}
                {% if item.title == 'My Sellers' %}
                  {% if logged and is_seller==0 %}
                    <li class="dropdown"><a href="{{ item.link }}" class="dropdown-toggle" data-cnzz-event="页面头部|Hd_Navigationbar_MySellers">{{ item.title }}</a></li>
                  {% endif %}
                {% else %}
                  <li class="dropdown"><a href="{{ item.link }}" class="dropdown-toggle" {% if item.title == 'Home' %} data-cnzz-event="页面头部|Hd_Navigationbar_Home"  {% endif %}>{{ item.title }}</a></li>
                {% endif %}
              {% endfor %}

            </ul>
          {% endif %}

{#          如果是首页展示另一套navi#}
          {% if is_home ==1 %}
            <ul class="nav navbar-nav menu-top"  style="max-width: 75%;max-height: 48px;">

              <li class="dropdown dropdown-first">
                <a href="javascript:void(0)" class="dropdown-toggle" style="cursor: default;" data-toggle="dropdown">All Categories</a>
{#                <div class="dropdown-menu" style="margin-left: 300px">#}
{#                  <div class="dropdown-inner">#}
{#                    <ul class="list-unstyled">#}
{#                      {% for category in categories %}#}
{#                        <li class="dropdown">#}
{#                          <img src="{{ category.image }}" alt="">#}
{#                          <a url="{{ category.href }}" class="menu-firt-category dropdown-toggle {% if category.children %}has-children{% endif %}"#}
{#                             data-toggle="dropdown">{{ category.name }}</a>#}
{#                          {% if category.children %}#}
{#                            <div class="dropdown-menu third-level">#}
{#                              <div class="dropdown-inner">#}
{#                                <ul class="list-unstyled">#}
{#                                  {% for inner in category.children %}#}
{#                                    <li><a href="{{ inner.href }}">{{ inner.name }}</a></li>#}
{#                                  {% endfor %}#}
{#                                </ul>#}
{#                              </div>#}
{#                            </div>#}
{#                          {% endif %}#}
{#                        </li>#}
{#                      {% endfor %}#}
{#                    </ul>#}
{#                  </div>#}
{#                </div>#}
              </li>


              {% for item in menu_top_lists %}
                {% if item.title == 'My Sellers' %}
                  {% if logged and is_seller==0 %}
                    <li class="dropdown"><a href="{{ item.link }}" class="dropdown-toggle" data-cnzz-event="页面头部|Hd_Navigationbar_MySellers">{{ item.title }}</a></li>
                  {% endif %}
                {% else %}
                  <li class="dropdown"><a href="{{ item.link }}" class="dropdown-toggle" {% if item.title == 'Home' %} data-cnzz-event="页面头部|Hd_Navigationbar_Home"  {% endif %}>{{ item.title }}</a></li>
                {% endif %}
              {% endfor %}

            </ul>
          {% endif %}

{#          #}{#登录后#}
{#          {% if logged and is_seller==0 %}#}
{#            {{ account_balance }}#}
{#            <div class="message-center">#}
{#              <a href="{{ message_center_url }}" data-cnzz-event="页面头部|Hd_Navigationbar_MessageCenter">#}
{#                <i class="fa fa-envelope"></i>#}
{#                MESSAGE CENTER#}
{#                {% if(message_center_count>100) %}#}
{#                  (100+)  <span class="header-badge-dot"></span>#}
{#                {% elseif(message_center_count>0) %}#}
{#                  ({{ message_center_count }})  <span class="header-badge-dot"></span>#}
{#                {% endif %}#}
{#              </a>#}
{#            </div>#}
{#          {% endif %}#}

        </div>
      </nav>
    </div>
  </div>

  <script>
    {# 一级菜单的超链接，允许点击 #}
    $(".menu-firt-category").click(function(){
      let url = $(this).attr('url');
      window.location.href = url;
    });

    //解决首页缩小浏览器时右侧出现空白
    var isIndex = '{{ is_home }}'
    if (isIndex === '1'){
      $(window).resize(function () {
        var clientWidth = $(document).width()
        if (clientWidth < 1320) {
          $('html').addClass('overflow-auto')
        } else {
          $('html').removeClass('overflow-auto')
        }
      })
    }
  </script>
  <style>
    .overflow-auto{
      overflow: auto;
    }
  </style>
{% endif %}