{% if modules %}
    <aside id="column-left-condition" class="col-sm-3 hidden-xs">
        {% for module in modules %}
            {{ module }}
        {% endfor %}
        <column id="column-filter">
            <div class="panel panel-default filter-price panel-filter-price">
                <div class="panel-heading">Unit Price</div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="javascript:void(0);" class="list-group-item filter-price"
                           data-max="25{{ isJapanAddMoney }}" id="price_-25{{ isJapanAddMoney }}">Under {{ symbol_left }}25{{ isJapanAddMoney }}{{ symbol_right }}</a>
                        <a href="javascript:void(0);" class="list-group-item filter-price" data-min="25{{ isJapanAddMoney }}"
                           data-max="50{{ isJapanAddMoney }}" id="price_25{{ isJapanAddMoney }}-50{{ isJapanAddMoney }}">{{ symbol_left }}25{{ isJapanAddMoney }}{{ symbol_right }} to {{ symbol_left }}50{{ isJapanAddMoney }}{{ symbol_right }}</a>
                        <a href="javascript:void(0);" class="list-group-item filter-price" data-min="50{{ isJapanAddMoney }}"
                           data-max="100{{ isJapanAddMoney }}" id="price_50{{ isJapanAddMoney }}-100{{ isJapanAddMoney }}">{{ symbol_left }}50{{ isJapanAddMoney }}{{ symbol_right }} to {{ symbol_left }}100{{ isJapanAddMoney }}{{ symbol_right }}</a>
                        <a href="javascript:void(0);" class="list-group-item filter-price" data-min="100{{ isJapanAddMoney }}"
                           data-max="200{{ isJapanAddMoney }}" id="price_100{{ isJapanAddMoney }}-200{{ isJapanAddMoney }}">{{ symbol_left }}100{{ isJapanAddMoney }}{{ symbol_right }} to {{ symbol_left }}200{{ isJapanAddMoney }}{{ symbol_right }}</a>
                        <a href="javascript:void(0);" class="list-group-item filter-price" data-min="200{{ isJapanAddMoney }}"
                           id="price_200{{ isJapanAddMoney }}">Over {{ symbol_left }} 200{{ isJapanAddMoney }}{{ symbol_right }}</a>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">{{ symbol_left }}{{ symbol_right }}</div>
                        <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control" id="min_price" placeholder="Min">
                        <div class="input-group-addon">{{ symbol_left }}{{ symbol_right }}</div>
                        <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control" id="max_price" placeholder="Max">
                        <a class="input-group-addon btn btn-default btn-sm filter_button filter-price" href="javascript:void(0);">Go</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default filter-quantity panel-filter-quantity">
                <div class="panel-heading">Qty Available</div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="javascript:void(0);" class="list-group-item filter-quantity" data-max="10"
                           id="quantity_-10">Under 10</a>
                        <a href="javascript:void(0);" class="list-group-item filter-quantity" data-min="10"
                           data-max="20" id="quantity_10-20">10 to 20</a>
                        <a href="javascript:void(0);" class="list-group-item filter-quantity" data-min="20"
                           data-max="30" id="quantity_20-30">20 to 30</a>
                        <a href="javascript:void(0);" class="list-group-item filter-quantity" data-min="30"
                           data-max="50" id="quantity_30-50">30 to 50</a>
                        <a href="javascript:void(0);" class="list-group-item filter-quantity" data-min="50"
                           id="quantity_50">Over 50</a>
                    </div>
                    <div class="input-group form-inline" style="padding-right:12px;display: inline">
                        <input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" id="min_quantity" placeholder="Min" style="width: 78px;margin-right: 3px">
                        <input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" id="max_quantity" placeholder="Max" style="width: 78px;margin-right: 3px">
                    </div>
                    <a class="btn btn-default btn-sm filter_button filter-quantity" href="javascript:void(0);">Go</a>
                </div>
            </div>
        </column>
    </aside>
    <script>
        let isLogin = {{ isLogin ? 1 : 0 }};
        let isShowPrice = {{ isShowPrice ? 1: 0 }} ;
        let categoryActiveUrl;  // category url
        let min_price, max_price, min_quantity, max_quantity;
        $('body').on('click', '#column-left-condition a', function () {
            let eleFilterPrice = $('.panel-filter-price').find(".active");
            let eleFilterQuantity = $('.panel-filter-quantity').find("a.active");
            if (eleFilterPrice.length > 0) {
                min_price = $(eleFilterPrice[0]).data('min');
                max_price = $(eleFilterPrice[0]).data('max');
            }

            if (eleFilterQuantity.length > 0) {
                min_quantity = $(eleFilterQuantity[0]).data('min');
                max_quantity = $(eleFilterQuantity[0]).data('max');
            }
            //category
            if ($(this).parent().parent().hasClass('hidden-xs')) {
                categoryActiveUrl = $(this).attr('href');
            } else {    //price&quantity
                if (!isLogin) {
                    layer.alert('Login/Register to get the price/quantities！', {
                      title: 'Message',
                      btn : 'OK',
                      skin: 'yzc_layer', //样式类名
                      closeBtn: 0
                    });
                    return false;
                }
                if (!isShowPrice) {
                    layer.alert('Contact Seller to get the price and quantities！', {
                      title: 'Message',
                      btn : 'OK',
                      skin: 'yzc_layer', //样式类名
                      closeBtn: 0
                    });
                    return false;
                }
                let eleCategoryA = $("#column-left-condition > .list-group").find(".active");
                if (eleCategoryA.length > 1) {
                    categoryActiveUrl = $(eleCategoryA[1]).attr('href');
                } else {
                    categoryActiveUrl = $(eleCategoryA[0]).attr('href');
                }

                if ($(this).hasClass('filter-price')) {
                    if ($(this).hasClass('filter_button')) {
                        min_price = $('#min_price').val();
                        max_price = $('#max_price').val();
                    } else {
                        min_price = $(this).data('min');
                        max_price = $(this).data('max');
                    }
                } else {
                    if ($(this).hasClass('filter_button')) {
                        min_quantity = $('#min_quantity').val();
                        max_quantity = $('#max_quantity').val();
                    } else {
                        min_quantity = $(this).data('min');
                        max_quantity = $(this).data('max');
                    }
                }
            }

            if (min_price !== undefined && min_price !== '') {
                categoryActiveUrl += '&min_price=' + min_price;
            }
            if (max_price !== undefined && max_price !== '') {
                categoryActiveUrl += '&max_price=' + max_price;
            }
            if (min_quantity !== undefined && min_quantity !== '') {
                categoryActiveUrl += '&min_quantity=' + min_quantity;
            }
            if (max_quantity !== undefined && max_quantity !== '') {
                categoryActiveUrl += '&max_quantity=' + max_quantity;
            }

            window.location.href = categoryActiveUrl;
            return false;
        }).on('change', '#column-filter input', function () {
            let inputs = $(this).parent().find('input');
            let min = $(inputs[0]).val();
            let max = $(inputs[1]).val();
            if (min !== undefined && min !== '' && max !== undefined && max !== '') {
                if (parseFloat(min) > parseFloat(max)) {
                    layer.alert('Min/Max Filling Error!', {
                      title: 'Message',
                      btn : 'OK',
                      skin: 'yzc_layer', //样式类名
                      closeBtn: 0
                    });
                    $(this).val('');
                }
            }
        });

        $("body").on('click','.pagination a',function (e) {
            e.preventDefault();
            let this_categoryActiveUrl = this.href;
            if (getQueryString('min_price') && getQueryString('min_price') != undefined) {
                this_categoryActiveUrl += '&min_price=' + getQueryString('min_price');
            }
            if (getQueryString('max_price') && getQueryString('max_price') != undefined) {
                this_categoryActiveUrl += '&max_price=' + getQueryString('max_price');
            }

            if (getQueryString('min_quantity') && getQueryString('min_quantity') != undefined) {
                this_categoryActiveUrl += '&min_quantity=' + getQueryString('min_quantity');
            }
            if (getQueryString('max_quantity') && getQueryString('max_quantity') != undefined) {
                this_categoryActiveUrl += '&max_quantity=' + getQueryString('max_quantity');
            }
            window.location.href = this_categoryActiveUrl;
        });

        let price_string = 'price_', quantity_string = 'quantity_';
        if (getQueryString('min_price')) {
            $("#min_price").val(getQueryString('min_price'));
            price_string += getQueryString('min_price');
        }
        if (getQueryString('max_price')) {
            $("#max_price").val(getQueryString('max_price'));
            price_string += '-' + getQueryString('max_price');
        }

        if (getQueryString('min_quantity')) {
            $("#min_quantity").val(getQueryString('min_quantity'));
            quantity_string += getQueryString('min_quantity');
        }
        if (getQueryString('max_quantity')) {
            $("#max_quantity").val(getQueryString('max_quantity'));
            quantity_string += '-' + getQueryString('max_quantity');
        }

        $("#" + price_string).addClass("active");
        $("#" + quantity_string).addClass("active");

        function getQueryString(name) {
            let reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            let r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return unescape(r[2]);
            }
            return null;
        }
    </script>
{% endif %}
