<li id="contactNew" style="display: none;" data-toggle="tooltip" data-placement="bottom">
  <a href="{{ contact_action }}">
    <span class="label label-danger pull-left"></span>
    <i class="fa fa-commenting-o" aria-hidden="true"></i>
  </a>
</li>
<script>
  $(function () {
    function store($adaptor) {
      this.$adaptor = $adaptor;
    }
    store.prototype = {
      setItem: function (key, value) {
        return this.$adaptor.setItem(key, value);
      },
      getItem: function (key) {
        return this.$adaptor.getItem(key);
      }
    };
    var mystore = new store(sessionStorage);
    var cstr = '{{ c_i }}';
    // global
    var contactNew = $('#contactNew');
    var communication_count = $('.communication_count');
    var communication_info = $('#admin_communication_info');

    var unreadMsgBox = function (count) {
      count = parseInt(count || 0);
      if (contactNew.length > 0 && communication_info.length > 0) {
        if (count === 0) {
          contactNew.hide();
        } else {
          var title = count + ' {{ text_new_emails }}';
          if (count === 1) {
            title = title.substr(0, title.length - 1);
          }
          contactNew.show();
          contactNew.attr('data-original-title', title);
          contactNew.find('span').text(count);
        }
      }
      if (communication_count.length > 0) {
        communication_count.text(count);
        if (count <= 0) {
          communication_count.hide();
        } else {
          communication_count.show();
        }
      }
      // column left
      if (communication_info.length > 0) {
        communication_info.html(count);
        if (count > 0) {
          communication_info.show();
        } else {
          communication_info.hide();
        }
      }
      // badge
      var badge = $('.header-badge-dot');
      if (badge.length > 0) {
        if (count > 0) {
          badge.show();
        } else {
          badge.hide();
        }
      }
    }

    var countUnread = function (isByCache = false) {
      var unread_time = mystore.getItem('unread_time');
      var now_time = new Date().getTime();
      var diff = now_time - unread_time;
      if (isByCache && diff < {{ contact_period }}) {
        unreadMsgBox(mystore.getItem('unread_count'));
      } else {
        $.ajax({
          url: '{{ contact_unread_action }}',
          method: 'post',
          success: function (count) {
            if (!count) {
              count = 0;
            }
            mystore.setItem('unread_time', new Date().getTime() + "");
            mystore.setItem('unread_count', count);
            unreadMsgBox(count);
          }
        })
      }
    };

    window.unreadMsgBox = unreadMsgBox;
    window.countUnread = countUnread;
    if (mystore.getItem('c_i') !== cstr) {
      countUnread(false);
      mystore.setItem('c_i', cstr);
    } else {
      countUnread(true);
    }
    setInterval(function () {
      countUnread(true)
    }, 5000)
  });
</script>