{#{% if countries|length > 0 %}#}
<style>
  .dropdown-menu {
    min-width: 100px;
  }
</style>
<div class="country-market-right">
  <form action="{{ url('common/country/country') }}" method="post" enctype="multipart/form-data" id="form-country">
    <div class="country-btn pos-rela cursor-d">
      <a class="highlight dropdown-toggle flex-layout" data-toggle="dropdown">
        {% for country in countries %}
          {% if country.code == code %}
            <img src="{{ asset("image/HDFlags/#{country.country}.png") }}" width="24px" height="16px" title="{{ country.name }}">
            <span>&nbsp;&nbsp;{{ country.name }}</span>
            {% if not logged %}
            &nbsp;<i class="giga icon-V10_shouyeyouxiadown text-small text-bold"></i>
            {% endif %}
          {% endif %}
        {% endfor %}
      </a>
      {% if not logged %}
      <div class="popover fade bottom in">
        <div class="arrow"></div>
        <div class="popover-content text-small no-padding">
          <ul class="country-list text-center no-padding">
            {# 首页修改2期country market#}
            <div class="country-title">Country Market</div>
            {% for country in countries %}
              <li class="country-select link-hover pointer">
                <span title="{{ country.code }}">
                  <img src="{{ asset("image/HDFlags/#{country.country}.png") }}" alt="{{ country.name }}" title="{{ country.name }}" />
                  <span>{{ country.name }}</span>
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
    <input type="hidden" name="code" value="" />
  </form>
</div>
{#{% endif %}#}
