<link rel="stylesheet" type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/common/footer.css?v={{ app_version }}">
<link rel="stylesheet" type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/common/ticket.css?v={{ app_version }}">

{% if is_show_right_suspension %}
{# 网站右侧页面悬停--Start-- #}
<div class="right-suspension" id="rightSuspensionFooter">
  {% if logged %}
  {# 店铺页联系店铺客服图标挪至customer.js #}
  {# 页面悬停转跳到订单查询页按钮 #}
  {% if is_show_tracking_shipment %}
  <div class="tracking-page-navigate-container hover1600">
    {#  页面悬停按钮（转跳到运单搜索页）  #}
    <a href="{{ url('account/sales_order/tracking_search') }}" target="_blank" class="suspension-btn" 
       data-cnzz-event="页面右侧|Ft_ Track Shipment">
      <div class="message-icon">
        <i class="giga icon-V10_gerenzhongxinwuliuchaxun-01"></i>
        <span class="hide1600">Track Shipment</span>
        <span class="action-tooltip-1600">Track Shipment</span>
      </div>
    </a>
  </div>
  {% endif %}
  {# 联系平台客服 #}
  <div class="custom-service">
    <a href="{% if is_seller %}{{ url('account/ticket/lists') }}{% else %}{{ url('account/message_center/ticket') }}{% endif %}" data-cnzz-event="页面右侧|Ft_Customer Service" target="_blank" id="submit-ticket-left" class="suspension-btn">
      <div class="message-icon hover1600">
          <i class="giga icon-service"></i>
          <span class="hide1600">Customer Service</span>
          {% if not is_show_customer_service_window %}
          <span class="action-tooltip-1600">Customer Service</span>
          {% endif %}
      </div>
    </a>
    {% if is_show_customer_service_window %}
    <div class="service-right">
      {# 悬浮框 #}
      <a class="onlineChatPlatformTrigger pointer"  style="display: none" 
         data-cnzz-event="页面右侧|Ft_ CS_Online Service">
        <i class="giga icon-online-service"></i>
        <span>Online Service</span>
      </a>
      {# Submit a Request #}
      <a class="submit-ticket-right__message pointer" id="globalSendRequestBtn" 
         data-cnzz-event="页面右侧|Ft_ CS_Submit a Request">
        <i class="giga icon-bianji_2"></i>
        <span>Submit a Request</span>
      </a>
    </div>
    {% endif %}
  </div>
  {# 消息中心 #}
  <div class="message-center">
    <a href="{% if is_seller %}{{ url('customerpartner/message_center/my_message/buyers') }}{% else %}{{ url('account/message_center/seller') }}{% endif %}" class="suspension-btn" data-cnzz-event="页面头部|Hd_Navigationbar_MessageCenter" id="messageCenterFooterBtn">
      <div class="message-icon">
        <span class="icon-sum"></span>
        <i class="giga icon-zhanneixin"></i>
        <span class="hide1600">Message Center</span>
        {# 小图标时，并且没有消息时出现提示 #}
        <span class="action-tooltip-1600">Message Center</span>
      </div>
    </a>
    <div class="fmessage-right" id="fmessageRight">
      <div class="fmessage-title text-bold">New Messages</div>
      <div class="fmessage-list">
        <div id="fmessageListData"></div>
        <a href="{% if is_seller %}{{ url('customerpartner/message_center/platform_secretary') }}{% else %}{{url('account/message_center/platform_secretary')}}{% endif %}" class="fmessage-more max-line1" target="_blank">View More</a>
      </div>
    </div>
    {# 新消息提示 #}
    {% if latest_msg %}
    <div class="fmessage-alert" id="fmessageAlert">
      <span class="fmessage-alert-content">
        {{ latest_msg['title'] }}
        <span class="fmessage-alert-more">
          <span class="fmessage-shade"></span>
          <a class="fmessage-more" href="{{ latest_msg['url'] }}" target="_blank">View Details</a>
        </span>
      </span>
    </div>
    {% endif %}
  </div>
  {% else %}
  {# 未登录时 #}
  <div class="custom-service">
    <a href="{{ url('information/contact') }}" target="_blank" class="suspension-btn contact-us">
      <div class="message-icon hover1600">
          <i class="giga icon-V10_shouyekefutubiao-01"></i>
          <span class="hide1600">Contact<br>Us</span>
          <span class="action-tooltip-1600">Contact Us</span>
      </div>
    </a>
  </div>
  {% endif %}
  {# TOP返回顶部 #}
  <div id="side-toolbar" class="side-toolbar">
    <div id="back-to-top" class="back-to-top bottom-radius4 hover1600">
      <i class="giga icon-V10_shouyeyouxiaTOP"></i>
      <span class="hide1600">TOP</span>
      <span class="action-tooltip-1600">Back to Top</span>
    </div>
  </div>
</div>
{% endif %}
<footer>
{# 网站右侧页面悬停--End-- #}
  <div class="center-module footer-content">
    <div class="flex-layout mt-octal3 flex-around">
      <div class="foot-des">
        <img class="foot-icon" src="image/foot/pay.png">
        <div class="text-bigger mt-octal3">Wholesale Marketplace</div>
        <div class="p10">Buy and sell large sized goods on a comprehensive online Marketplace platform</div>
      </div>
      <div class="foot-des">
        <img class="foot-icon" src="image/foot/coupons.png">
        <div class="text-bigger mt-octal3">Transact Securely </div>
        <div class="p10">Sellers and Buyers transact using secure online payment methods</div>
      </div>
      <div class="foot-des">
        <img class="foot-icon" src="image/foot/car.png">
        <div class="text-bigger mt-octal3">Multiple Fulfillment Options</div>
        <div class="p10">Select from various fulfillment packages to ship to regions around your country</div>
      </div>
      <div class="foot-des">
        <img class="foot-icon" src="image/foot/caption.png">
        <div class="text-bigger mt-octal3">Gain Business Partners</div>
        <div class="p10">Interact, transact and grow with thousands of Buyers and Sellers to do business with</div>
      </div>
      <div class="foot-des">
        <img class="foot-icon" src="image/foot/service.png">
        <div class="text-bigger mt-octal3">Professional Support Team</div>
        <div class="p10">Utilize our full service Help Center for complete assistance</div>
      </div>
    </div>
    <div class="flex-layout link-line">
      <div class="link-left">
        <a class="link-hover" href="https://www.gigacloudtech.com/" target="_blank">About Us</a>
        <a class="link-hover" href="https://www.gigacloudtech.com/contact-us/" target="_blank">Contact Us</a>
        <a class="link-hover" href="{{ terms_and_conditions_link }}" target="_blank">Terms and Conditions </a>
        <a class="link-hover" href="https://www.gigacloudtech.com/blog" target="_blank">Giga Blog  </a>
        {% if logged %}
        <a class="link-hover" href="index.php?route=information/information" target="_blank">Help Center</a>
        <a class="link-hover" href="{% if is_seller %}{{ url('account/ticket/lists') }}{% else %}{{ url('account/message_center/ticket') }}{% endif %}" target="_blank">Customer Service</a>
        {% endif %}
      </div>
      <div class="flex-layout">
        <span>Follow Us</span>
        <a href="https://www.linkedin.com/company/giga-cloud-logistics/ " target="_blank" class="linkedin"><i class="giga icon-V10_linyin linkedin"></i></a>
        <a href="https://www.facebook.com/Giga-Cloud-Logistics-103600301271242" target="_blank" class="facebook"><i class="giga icon-V10_facebook facebook"></i></a>
        <a href="https://www.instagram.com/gigacloudlogistics/ " target="_blank" class="instagram"><i class="gcl gclinstagram-01-01 instagram"></i></a>
      </div>
    </div>
  </div>
  <hr />
  <div class="comp-des text-center text-small">
    <div>Address:&nbsp;{{ store_info.address }}</div>
    <div>Email:&nbsp;{{ store_info.email }}&nbsp;&nbsp;&nbsp;&nbsp;Tel:&nbsp;+1626-912-8886</div>
    <div>Powered By {{ store_info.powered_by }}</div>
  </div>
  {{ notification_window }}
  {{ message_window }}
  {{ send_page }}
</footer>

<script>
  var buyerRightBarTool = {
    lastGetMessageTime: 0, // 最后一次获取New Messages的时间戳（一分钟之内获取只获取一次）
    init: function() {
      $('body').on('click', '#globalSendRequestBtn', function() {
        $("#submit_ticket_for__message").trigger('change');
      });
      // Message Center获取从header获取数量总计
      let centerCount =  $('#messageCenterCountHeader').html();
      if (centerCount) {
        $('#messageCenterFooterBtn').find('.icon-sum').html($('#messageCenterCountHeader').html());
      } else {
        $('#messageCenterFooterBtn').find('.icon-sum').remove();
      }
      // 右侧Message Center 悬浮重新获取数据
      $('#messageCenterFooterBtn').mouseenter(function(){
        buyerRightBarTool.getNewMessageService();
      })
      // 右侧新消息New Messages 点击手动置为已读
      $('#fmessageListData').on('click', 'a', function() {
        $(this).find('i.gcl').removeClass('text-danger');
      })
    },
    fmessageAlertHover: function() {
      $('#fmessageAlert').hover(function(){
        $(this).addClass('fmessage-alert-hover');
      },function() {
        $(this).removeClass('fmessage-alert-hover').addClass('fmessage-hide');
      })
    },
    hideFmessageAlert: function() {
      // 新消息三秒后消失
      setTimeout(function(args) {
        $('#fmessageAlert').addClass('fmessage-hide');
      }, 5000);
    },
    getNewMessageService: function() {
      if ($('#fmessageRight').length === 0) {
        return;
      }
      // 记录时间戳，一分钟内部重复请求
      let nowTime = new Date().getTime();
      if (nowTime - buyerRightBarTool.lastGetMessageTime < 60000) {
        return;
      }
      buyerRightBarTool.lastGetMessageTime = nowTime;
      $.ajax({
        url: "{{ url('common/message_window/getLatestMessages', {page_limit:4}) }}",
        method: 'post',
        dataType: 'json',
        success: function (res) {
          // 成功替换消息内容
          if (res.code === 200 && res.data.messages && res.data.messages.length > 0) {
            let fmessageHtml = '';
            res.data.messages.forEach((one, index) => {
              if (index >= 4) {
                return;
              }
              fmessageHtml += `<a class="max-line1" href="${one.url}" target="_blank">
                                <i class="gcl gclyuandian1 ${one.is_read?'':'text-danger'}"></i>
                                <span class="link-hover">${one.subject}</span>
                              </a>`
            })
            $('#fmessageRight').show().parent().find('.suspension-btn .message-icon').removeClass('hover1600');
            $('#fmessageListData').html(fmessageHtml);
          } else {
            {# 小图标时，并且没有消息时出现黑色气泡提示 #}
            $('#fmessageRight').hide().parent().find('.suspension-btn .message-icon').addClass('hover1600');
          }
        }
      })
    }
  }
$(document).ready(function() {
  buyerRightBarTool.init();
  buyerRightBarTool.hideFmessageAlert();
  buyerRightBarTool.fmessageAlertHover();
  buyerRightBarTool.getNewMessageService();
  $('#back-to-top').hide().parent().prev().find('.suspension-btn').addClass('bottom-radius4');
  $(window).scroll(function() {
    var scrollTop = $(window).scrollTop();
    var windowHeight = $(window).height() / 2; // 浏览器半屏高度
    var backToTopHeight = $('#back-to-top').height();
    if (scrollTop > windowHeight) { // 滚动距离顶部小于浏览器半屏时隐藏
      $('#rightSuspensionFooter').css('bottom', '90px');
      // bottom-radius4是右侧图标下方圆角
      $('#back-to-top').show().parent().prev().find('.suspension-btn').removeClass('bottom-radius4');
    } else {
      $('#rightSuspensionFooter').css('bottom', `${90+backToTopHeight}px`);
      $("#back-to-top").hide().parent().prev().find('.suspension-btn').addClass('bottom-radius4');
    }
  });
  $("#back-to-top").click(function() {
    $('body,html').animate({
        scrollTop: 0
      },
      500);
    return false;
  });
});
</script>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script type="text/javascript">
$("table input[type='checkbox']").change(function() {
  let bottom_detail = $(".bottom-action-detail");
  let show_text = bottom_detail.data('title') || 'Selected';
  var num = $("input[name^='selected']:checked").length;
  var msg = "";
  if (num > 0) {
    msg = show_text.concat(" (", num, ")");
  }
  $(".bottom-action-detail").text(msg);
});
if (typeof layer !== 'undefined') {
  layer.config({
   extend: 'yzc/style.css'
   })
 }
// wangjinxin
$("body").delegate(".flag-hover", 'click', function() {
  let value = $(this).find('span').data("href");
  if (!value) return;
  let a = $('<a></a>');
  a.attr('href', value);
  a.attr('style', 'display:none');
  a.attr('target', '_blank');
  $('body').append(a);
  a[0].click();
});
</script>
{{ widget('PhoneNeedVerifyNoticeWidget') }}
{{ widget('VatBuyerPopupWidget') }}
{{ widget('ThirdPart\\CnzzAnalysisWidget') }}
{{ widget('ThirdPart\\SevenMoorWidget') }}
{{ this.endBody() }}
</body>

</html>