<style>
  body {
    padding-right: 0px !important;
    /*font-family: Arial, "Roboto", Helvetica, serif !important;
    font-size: 14px;*/
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
  }
  *.modal-open {
    overflow-y: scroll;
    padding-right: 0 !important;
  }
  #notificationWindowDiv .modal-header{
    text-align: center;
  }
  #notificationWindowDiv .modal-header img{
    width: 20px;
    padding-left:0;
    vertical-align:middle;
    display:inline-block;
    float: none;
  }

  #notificationWindowDiv .modal-body div#tipContent{
    font-size: 14px;
    color: #333;
    text-align: justify;
    margin: 0;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    line-height: 24px;
    margin-top: 10px;
    min-height: 200px;
    max-height: 300px;
    overflow: auto;
    word-break: break-word;
  }

  #notificationWindowDiv .control-label {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 2%;
    font-weight: bold;
    font-size: 16px;
  }
  .notice-dot {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #f74848;
    width: 5px;
    height: 5px;
    padding: 0;
    border-radius: 50%;
    top: -2px;
  }

  .suspension-points{
    overflow: hidden;text-overflow:ellipsis;white-space: nowrap;
  }

  .notification_current_time{
    float: left;
    padding-left: 2%;
    margin: 8px 10px -5px 10px;
    color: #9e9c9c;
  }
  .modal-header .close{
    font-size: 21px;
    background: #183464;
    color: #fff;
    outline:none;
  }
  .modal-header .close:hover{
    color: #fff;
  }
  .modal-body-title{
    padding: 0 160px;
    color: #333;
    text-align: center;
    position: relative;
  }
  .modal-body-title .public-style{
    margin-right: 4px;
  }
  .modal-body-title .public-style i{
    font-style: normal;
    color: #FF414D;
    margin-right: 2px;
  }
  .modal-body-title .public-style b{
    font-style: normal;
    font-weight:normal;
  }
  .public-time{
    float: right;
    color: #888;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .btn-primary,.btn-primary:focus,.btn-primary:active
  {
    border-color: #3A75DC;
    background: #3A75DC;
  }
  .btn-primary:hover{
    background-color: #2d57a9;
    border-color: #2d57a9;
  }
  .btn-primary:active:focus{
    background: #2d57a9 !important;
    border-color:  #2d57a9 !important;
  }
  #notificationWindowDiv .modal-title{
    font-weight: bolder;
    font-size: 18px;
  }
</style>
<div id="notificationWindowDiv">
<div class="modal" id="chromeTipModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document" style="border: none; margin-top: 190px;">
    <div class="modal-content" style="width: 550px;    margin-top: 100px;align-items: center;">
      <div class="modal-header modal-header-font" style="border-bottom: 0px solid #e5e5e5;">
        <img src="{{ chrome_icon }}"/>
        <h4 id="exampleModalLabel">Hi,There!</h4>
      </div>
      <div class="modal-body" style="color:#000;padding-bottom: 0px;">
        <p>The GigaCloud B2B Platform can only be used with the Google Chrome web browser.</p>
        <p>Please download this browser from the official Google website.</p>
        <p>Thanks for your understanding!</p>
      </div>
      <div class="modal-footer" style="text-align: center; border-top: 0px solid #e5e5e5;padding-top: 8px;">
        <button type="button" id="modal_butt" onclick="showNotifications()" class="btn btn-default" data-dismiss="modal">GET START
        </button>
      </div>
    </div>
  </div>
</div>
{% if can_show %}
  <div class="modal fade" tabindex="-1" role="dialog" id="myNotifications" style="z-index: 3000;">
    <div class="modal-dialog" role="document" style="width: 840px">
      <div class="modal-content" style=" border: none;margin-top: 192px;">
        <div class="modal-header">
          <button type="button" class="close" id="closeModel"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"> <i class="fa fa-volume-up "></i> MARKETPLACE NOTIFICATION</h4>
        </div>
        <div class="modal-body">
          <div class="modal-body-title">
            <span class="public-style"><i id="isTop" class="giga icon-zhiding"></i><i id="typeName"></i><b id="noticeTitle"></b></span>
            <span class="public-time" id="publicTime"></span>
          </div>
          <div class="public-container">
            <div id="tipContent"></div>
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" id="sureBtn" >Confirm</button>
          <button type="button" class="btn btn-primary" id="okBtn">OK</button>
        </div>
{#        <div class="modal-header modal-header-font" style="float: left;width: 100%;padding: 0;border-bottom: 1px solid #E5DCD8;padding-top: 7px;padding-bottom: 7px">#}
{#          <span style="font-size: 24px;color: #ffffff;;text-align: center;font-family: source-sans-pro,sans-serif"#}
{#                name="exampleModalLabel">Notifications</span>#}
{#        </div>#}
{#        <div class="modal-body" style="float: left;width: 100%;padding: 0;margin-bottom: 5px;">#}
{#          <span class="notification_current_time">Current time:&nbsp;<span id="showDate"></span></span>#}
{#          #}{#    平台公告start  #}
{#          {% if new_notice %}#}
{#              <div class="col-sm-12">#}
{#                  <div class="control-label">#}
{#                    <i class="fa fa-volume-up" aria-hidden="true"></i>#}
{#                    &nbsp;Marketplace Notice#}
{#                  </div>#}
{#                  {% for notice in new_notice %}#}
{#                      <div class="col-sm-8 suspension-points" style="margin-bottom: 4px;text-align: left;">#}
{#                          <span style="color: #b50a0a">#}
{#                            {% if notice.is_read==0 %}#}
{#                              <i class="notice-dot"></i>#}
{#                            {% endif %}#}
{#                              [{{ notice.type_name }}]#}
{#                          </span>#}
{#                          <span  style="cursor: pointer"  onclick="noticeForm('{{ notice.notice_href }}')" href="javascript:void(0);" title="{{ notice.title }}">{{ notice.title }}</span>#}
{#                      </div>#}
{#                      <div class="col-sm-4" style="text-align: left;color:#9e9c9c">#}
{#                        {{ notice.publish_date }}#}
{#                      </div>#}
{#                  {% endfor %}#}
{#                </div>#}
{#          {% endif %}#}
{#          #}{#    平台公告end   #}
{#          {% if buyerOrderData %}#}
{#          <div class="col-sm-12">#}
{#            <label class="control-label" >#}
{#              <span data-toggle="tooltip" title="The statistical time is Pacific Time.">#}
{#                <i style="font-size: 12px;" class="fa fa-circle"></i>#}
{#                &nbsp;Sales Order status alert</span></label>#}
{#            <table class="table table-hover" style="margin-top:5px;width: 96%;margin-left: 2%;">#}
{#              <tbody>#}
{#              <tr bgcolor="#F2F2F2">#}
{#                <td class="text-right"> Upload sales order totals (within 24 hours):</td>#}
{#                <td class="text-center" style="width: 30%">{{ buyerOrderData.count_order }}</td>#}
{#              </tr>#}
{#              <tr bgcolor="#F2F2F2">#}
{#                <td class="text-right"> Total quantity of sales orders shipped (within 24 hours):</td>#}
{#                <td class="text-center" style="width: 30%">{{ buyerOrderData.ship_order_qty }}</td>#}
{#              </tr>#}
{#              <tr bgcolor="#F2F2F2">#}
{#                <td class="text-right"> Total quantity of sales orders unshipped (within 24 hours):</td>#}
{#                <td class="text-center" style="width: 30%">{{ buyerOrderData.unship_order_qty }}</td>#}
{#              </tr>#}
{#              <tr bgcolor="#F2F2F2">#}
{#                <td class="text-right"> Total quantity of sales orders' status is new order:</td>#}
{#                <td class="text-center" style="width: 30%">{{ buyerOrderData.order_amount }}</td>#}
{#              </tr>#}

{#              </tbody>#}
{#            </table>#}
{#            <span style="width: 96%;margin-left: 2%;color: red;float: left">#}
{#                    Sales order with 'New Order' status in the history need to be processed#}
{#                    immediately so as not to affect the shipment of subsequent orders#}
{#            </span>#}
{#          </div>#}
{#          {% endif %}#}
{#        </div>#}
{#        <div class="modal-footer"#}
{#             style="float: left;width: 100%;padding: 0;text-align: center; border-top: 1px solid #E5DCD8;margin-bottom: 10px;">#}
{#          <button type="button" id="notification_button" style="margin-top: 10px;" class="btn btn-default"  data-dismiss="modal">#}
{#               Close#}
{#          </button>#}
{#        </div>#}
      </div>
    </div>
  </div>
{% endif %}
</div>
<script type="text/javascript">
  var refresh_page_notification = "{{ refresh_notification }}" ;
    $(function () {
        var showNotificationWindowInterval = setInterval(function () {
          if (window.hasPhoneVerifyNotice || window.hasVatBuyerVerify) {
            // 有手机号校验提示或者有vat免税弹窗 时隐藏公告弹窗，等待关闭后继续弹窗
            return;
          }
          showNotificationWindow();
          clearInterval(showNotificationWindowInterval)
        }, 500)
        let noticeJson={
          can_show:false
        };
    });

    function showNotificationWindow() {
        if (getCookie('login_flag') == 1 && !isChrome()) {
            showUseChromeTip()
        } else {
            showNotifications();
        }
        if (refresh_page_notification != 1){
            setCookie('login_flag', '');
        }
    }


    function showNotifications() {
      if(getCookie('login_flag')&&getCookie('login_flag') !=0){
        $.ajax({
          url: 'index.php?route=message/platform_notice/listLoginRemind',
          dataType: 'json',
          type: 'GET',
          async:false,
          success: function (json) {
            noticeJson=json;
            console.log(noticeJson);
          },
          error: function(xhr, ajaxOptions, thrownError) {
            if (xhr.status != 0) { alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText); }
          }
        });
        if(noticeJson.can_show){
          showNotices(0);
          $('#myNotifications').modal({keyboard: false, backdrop: 'static'});
          // $('body.modal-open').removeClass('modal-open');
        }
      }
    }
    //关闭
    $('body').on("click","#closeModel",function () {
      let currectIndex=Number($("#closeModel").attr("data-index"));

      //console.log(currectIndex+1 , noticeJson.new_notice.length);

      if (currectIndex +1 == noticeJson.new_notice.length) {
          setCookie('login_flag', '');
      }
     // console.log(noticeJson.new_notice[currectIndex]);
      if(currectIndex+1<noticeJson.new_notice.length){
        $("#myNotifications").modal('hide');
        setTimeout(function () {
          currectIndex++;
          showNotices(currectIndex);
          $('#myNotifications').modal({keyboard: false, backdrop: 'static'});
        },500)
      }else{
        $("#myNotifications").modal('hide');
      }
    });

    //确认
    $('body').on("click","#sureBtn",function () {
      let nid=$(this).attr("data-nid");
      let message_type =  $(this).attr("message_type");
      sureOrOkWork(nid,2,message_type)
    })
    //ok
    $('body').on("click","#okBtn",function () {
      let nid=$(this).attr("data-nid");
        let message_type =  $(this).attr("message_type");
      sureOrOkWork(nid,1,message_type)
      $('.modal-backdrop').removeClass('fade');
      $('.modal-backdrop').removeClass('modal-backdrop');
    })
    function sureOrOkWork(nid,type,message_type) {
      let pData={
        notice_id:nid,
        type:type,
        message_type:message_type
      }
      $.ajax({
        url: 'index.php?route=message/platform_notice/remindConfirm',
        dataType: 'json',
        type: 'POST',
        data:pData,
        async:false,
        success: function (res) {
          // 关闭弹窗下一个
          $("#closeModel").click();
        },
        error: function(xhr, ajaxOptions, thrownError) {
          if (xhr.status != 0) { alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText); }
        }
      });
    }

    function showNotices(currectIndex){
      $("#closeModel").attr("data-index",currectIndex);
      if(noticeJson.new_notice[currectIndex].top_status==0){
        $("#isTop").hide();
      };
      $("#sureBtn").attr('message_type', noticeJson.new_notice[currectIndex].message_type);
      $("#okBtn").attr('message_type', noticeJson.new_notice[currectIndex].message_type);
      $("#typeName").html("["+ noticeJson.new_notice[currectIndex].type_name+"]");
      $("#noticeTitle").html(noticeJson.new_notice[currectIndex].title);
      $("#publicTime").html("Date："+noticeJson.new_notice[currectIndex].publish_date);
      $("#tipContent").html(noticeJson.new_notice[currectIndex].content);
      if(noticeJson.new_notice[currectIndex].make_sure_status==1){
        $("#sureBtn").show().attr("data-nid",noticeJson.new_notice[currectIndex].notice_id);
        $("#okBtn").hide().attr("data-nid","");
      }else{
        $("#sureBtn").hide().attr("data-nid","");
        $("#okBtn").show().attr("data-nid",noticeJson.new_notice[currectIndex].notice_id);
      }
    };
    /**
     * 非谷歌浏览器弹出提示
     */
    function showUseChromeTip() {
        $('#chromeTipModal').modal({keyboard: false, backdrop: 'static'});
        var wait = 7;
        var _timeOutFunc = function () {
            if (wait == 0) {
                $('#modal_butt').html("GET START");
                $('#modal_butt').addClass('btn-primary').removeAttr("disabled");
                setCookie('is_exist', new Date().getTime());
            } else {
                $('#modal_butt').attr('disabled', true);
                $('#modal_butt').html("GET START (" + wait + ")");
                wait--;
                setTimeout(_timeOutFunc, 1000);
            }
        };
        return _timeOutFunc();
    }

    // set cookie
    function setCookie(key, value) {
        document.cookie = key + "=" + value;
    }

    //get cookie
    function getCookie(name) {
        var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
        if (arr != null) {
            return unescape(arr[2]);
        } else {
            return null;
        }
    }

    /**
     * is chrome
     * @returns {boolean}
     */
    function isChrome() {
        var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
        if (userAgent.indexOf("Chrome") > -1) {
            return true;
        } else {
            return false;
        }
    }

    function hasCookie(key) {
        var cookie = getCookie(key);
        if (cookie == null || cookie == '' || !cookie) {
            return false;
        } else {
            return true;
        }
    }

    //取得系统当前时间
    function getTime() {
        var country = {{ country }};
        var myDate = new Date();
        var localTime = myDate.getTime();
        var localOffset = myDate.getTimezoneOffset() * 60000;
        var utc = localTime + localOffset;
        //冬夏时需要调整
        if(country == 223) {
          var offset = -8;
        }else if(country == 222){
          var offset = 0;
        }else if(country == 81){
          var offset = 1;
        }else if(country == 107) {
          var offset = 9;
        }
        var calctime = utc + (3600000 * offset);
        var nd = new Date(calctime);
        var date = nd.toLocaleDateString();
        var hours = nd.getHours();
        var minutes = nd.getMinutes();
        var seconds = nd.getSeconds();
        return date + " " + hours + ":" + minutes + ":" + seconds;
    }


    function noticeForm(notice_href) {
        var form = $("<form></form>");
        $("body").append(form);
        form.attr("action",notice_href);
        form.attr("method","post");
        var input = $("<input name='backUrl' value='"+location.href+"' />");
        form.append(input);
        form.submit();
    }
</script>
