<style>
  .system-top-search-placeholder::placeholder{
    font-size: 18px;
  }
  .system-top-search-placeholder::-webkit-input-placeholder{
    font-size: 18px;
  }
  .system-top-search-placeholder::-moz-placeholder{
    font-size: 18px;
  }
  .system-top-search-placeholder::-ms-input-placeholder{
    font-size: 18px;
  }
  .flex-search {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    border: 1px solid #0b3584;
    border-radius: 0;
  }
  .flex-search input {
    border: 1px solid #0b3584;
    border-right: none;
    border-radius: 0 !important;
    flex: 1;
  }
  .flex-search input:focus {
    outline: 0;
  }
  .flex-search .is-store {
    width: 128px;
    position: relative;
    cursor: pointer;
    padding: 8px 0 8px 10px;
  }
  .flex-search .is-store .dropdown-menu {
    position: absolute;
    top: 35px;
    left: -1px;
    width: 130px;
    background: #fff;
  }
  .flex-search .is-store .dropdown-menu {
    border: 1px solid #0b3584;
  }
  .flex-search .is-store .dropdown-menu li {
    cursor: pointer;
    padding: 5px 10px;
  }
  .flex-search .is-store .dropdown-menu li:hover {
    background: #E7E8EA;
  }
</style>
<div id="search" class="input-group">
  {% if is_seller_store %}
  {# 店铺内搜索，下拉选择框 #}
  <span class="form-control flex-search right-radius">
    <span class="is-store" id="searchRange"><text>In This Store</text>
      <i class="giga icon-V10_shouyeyouxiadown text-small text-bold"></i>
      <i class="giga icon-V10_shouyeyouxiaTOP text-small text-bold" style="display: none;"></i>
      <ul class="dropdown-menu">
         <li data-searchrange="store">In This Store</li>
         <li data-searchrange="giga">On GigaCloud</li>
      </ul>
    </span>
    <input id="headerSearchSellerId" type="hidden"  value="{{ seller_id }}"  >
    <input id="headerSearch" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="input-lg system-top-search-placeholder activation-input right-radius btn-baxshadow-clear" autocomplete="off" maxlength="255"/>
  </span>
  {% else %}
    <input id="headerSearch" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg system-top-search-placeholder activation-input right-radius btn-baxshadow-clear" autocomplete="off" maxlength="255"/>
  {% endif %}
  <span class="input-group-btn">
    <button type="button" class="btn btn-search left-radius"  data-cnzz-event="页面头部|Hd_Search"><i class="giga icon-V10_sousuotubiao"></i></button>
  </span>
 <div class="recommendation-list" >
   <ul class="dropdown-menu" aria-labelledby="dLabel">
     <div class="text-light">Popular Searches</div>
       {% for k ,v in hotWords %}
          <li><a href="{{ url('product/search', {'search': v.keyword }) }}">{{ v.keyword }}</a></li>
       {% endfor %}
   </ul>
 </div>
</div>
<div class="recommendation">
  <ul class="hot-word">
      {% for k ,v in hotWords %}
          {% if v.is_home_show == 1 %}
              <li><a class="link-hover" href="{{ url('product/search', {'search': v.keyword }) }}">{{ v.keyword }}</a></li>
          {% endif %}
      {% endfor %}
  </ul>
</div>
<script>
  // 初始化店铺内搜索下拉
  $(searchInStore);
  function searchInStore() {
    $('body').on('click', '#searchRange', function(){
      var $drop = $(this).find('ul.dropdown-menu');
      // 搜索下拉
      $drop.toggle();
      searchInstoreIcon();
    })

    $('#searchRange').on('click', 'li', function() {
      // 选中搜索范围
      $('#searchRange').find('text').html($(this).html());
      searchInstoreIcon();
    })
    // 点击别的范围收起
    $(document).click(function(event){
        var _con = $('#searchRange');  // 设置目标区域
        if(!_con.is(event.target) && _con.has(event.target).length === 0){ // Mark 1
           $('#searchRange').find('ul.dropdown-menu').hide();
           searchInstoreIcon();
        }
   });
  }

  function searchInstoreIcon() {
    var $drop = $('#searchRange').find('ul.dropdown-menu');
    if ($drop.is(':visible')) {
      $('#searchRange').find('.giga.icon-V10_shouyeyouxiadown').hide();
      $('#searchRange').find('.giga.icon-V10_shouyeyouxiaTOP').show();
    } else {
      $('#searchRange').find('.giga.icon-V10_shouyeyouxiadown').show();
      $('#searchRange').find('.giga.icon-V10_shouyeyouxiaTOP').hide();
    }
  }

  $(".activation-input").focus(function() {
    var hotLen = $('#search').find('div.recommendation-list ul li').length;
    // 判断是否有首页热词，有则显示
    if (+hotLen > 0) {
      $(this).parent().find(".recommendation-list").show();
    }
  });
  //赋值给input框
  $(".recommendation-list .dropdown-menu").on("click", "li", function() {
    $(this).parentsUntil(".header-search").find("input").val($(this).text());
    $(".recommendation-list").hide()
  });

  //点击其他地方隐藏下拉框
  $(document).bind('click', function(event) {
    var evt = event.srcElement ? event.srcElement : event.target;
    evt = $(evt);
    if (evt.hasClass("input-group") || evt.parents(".input-group").length != 0) return;
    else {
      $("body").find(".recommendation-list").hide();
    }
  });
  $("#headerSearch").on("input propertychange",function(){
    if ($(this).val() !== '') {
      $("body").find(".recommendation-list").hide();
    } else {
        var hotLen = $('#search').find('div.recommendation-list ul li').length;
        if (+hotLen > 0) {
            $("body").find(".recommendation-list").show();
        }else{
            $("body").find(".recommendation-list").hide();
        }
    }
  })
</script>
