{# 网站客服Customer service入口点击跳转弹窗 #}
{# 点击后打开【Submit a Ticket】弹窗 #}
<script src="catalog/view/javascript/layer/layer.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/common/ticket.css">

<!-- （Modal） -->
<div class="modal fade" id="myModalTicket" tabindex="-1" role="dialog" aria-labelledby="myModalTicketLabel" aria-hidden="true">
  <div class="modal-dialog modal-ticket-area">
    <div class="modal-content">
      <div class="modal-header ticket-header">
        <button type="button" class="close ticket-colose" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalTicketLabel">Submit a Request</h4>
      </div>
      <div class="modal-body" style="max-height: 500px;overflow: auto">
        <div style="">
          <form role="form" id="formList">
            <div class="row">
              <div class="col-sm-6">
                <a target="_blank" href="{{ guide_url }}" style="text-decoration:underline">
                  <span class="giga icon-V10-wenhaotishi" style="margin-right: 4px"></span>System Guide
                </a>
                <div id="ticket_hint" style="display: none;color: red"></div>
                <div style="height: 10px;"></div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="submit_ticket_for"><span class="redStart">*</span>Submit a Request for</label>
                    <select id="submit_ticket_for" name="submit_ticket_for" class="form-control">
                      <option value="0">--{{ __('请选择', {}, 'common') }}--</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6" >
                  <div class="form-group">
                    <label for="ticket_type"><span class="redStart">*</span>Request Type</label>
                    <select id="ticket_type" name="ticket_type" class="form-control">
                      <option value="0">--{{ __('请选择', {}, 'common') }}--</option>
                    </select>
                  </div>
                </div>
              </div>
              <div>
                <div class="request-type-tip" id="tipInterceptSalesOrder" style="display: none;">
                  Requests submitted here after 04:00 AM PST will get the results from our customer service before 08:00 PM PST.
                  <br>
                  *Please notice that before 04:00 AM PST, you can cancel the order by yourself or contact our customer representative via LIVE CHAT to cancel or intercept the order.
                </div>
                <div class="request-type-tip" id="tipReshipPickupOrder" style="display: none;">
                  To reship the pickup orders, the buyer should provide the RMA ID approved by the seller and upload the required reshipment labels to attachments.
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-6">
                <div group="parent-rma">
                  <div class="form-group pos-rela" id="group_rma_id">
                    <label for="rma_id"><span class="redStart">*</span>RMA ID</label>
                    <input type="text" class="form-control" id="rma_id" name="rma_id" class="form-control" onblur="checkRmaId()">
                    <div class="col-sm-8 request-type-error" id="rma_id_msg" style="display: none;"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div group="parent-item-code">
                  <div class="form-group pos-rela" id="group_seller_item_code">
                    <label for="seller_item_code"><span class="redStart">*</span>Item Code</label>
                    <input type="text" class="form-control"  id="seller_item_code" name="seller_item_code"
                           onblur="checkItemCode()">
                    <div class="col-sm-8 request-type-error" id="seller_item_code_msg" style="display: none;"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" group="parent-sales-order">
              <div class="col-sm-6">
                <div class="form-group pos-rela" id="group_sales_order_id">
                  <label for="sales_order_id"><span class="redStart">*</span>Sales Order ID</label>
                  <input type="text" class="form-control" id="sales_order_id" name="sales_order_id" class="form-control" onblur="checkSalesOrderId()">
                  <div class="request-type-error" id="sales_order_id_msg" style="display: none;"></div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group" id="group_processing_method">
                  <label for="processing_method"><span class="redStart">*</span>Processing Method</label>
                  <select id="processing_method" name="processing_method" class="form-control">
                    <option value="0">--{{ __('请选择', {}, 'common') }}--</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div group="parent-sales-item-code">
                  <div class="form-group pos-rela" id="sales_item_code_group">
                    <label for="sales_item_code"><span class="redStart">*</span>Item Code</label>
                    <select id="sales_item_code" name="sales_item_code" class="form-control">
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" group="parent-tracking_number">
              <div class="col-sm-6">
                <div class="form-group pos-rela" id="tracking_number_group">
                  <label for="tracking_number">Tracking Number</label>
                  <input type="text" id="tracking_number" name="tracking_number" class="form-control" >
                </div>
              </div>
            </div>
            <div class="row" group="parent-safeguard-claim">
              <div class="col-sm-6">
                <div class="form-group pos-rela" id="safeguard_claim_no_group">
                  <label for="safeguard_claim_no"><span class="redStart">*</span>Claim Application ID</label>
                  <input type="text" id="safeguard_claim_no" name="safeguard_claim_no" class="form-control" onblur="checkSafeguardClaimNo()">
                  <div class="request-type-error" id="safeguard_claim_no_msg" style="display: none;"></div>
                </div>
              </div>
            </div>
            <div class="form-group pos-rela" id="ticket_group_description" style="position:relative;">
              <label for="ticket_description"><span class="redStart">*</span>Description</label>
              <textarea id="ticket_description" name="ticket_description" class="form-control ticket_description"></textarea>
              <div id="ticket_description_tips" class="ticket_description_tips"><span class="value">0</span>/1000</div>
            </div>
            <!--upload-->
            <div class="form-group ticket_group_attachments">
              <label id="labelUploadAttachments">Attachments</label>
              <label id="labelUploadProffImages" style="display: none;">
                <span class="redStart">*</span>Proof Images<span data-toggle="tooltip" data-original-title="Before submitting you request, please pay $30.00/order by purchasing S001010006 in US-SERVICE in advance, then upload the screenshot to Proof Images. Intercept fee will be returned to you for failed intercepts." class="giga icon-V10-wenhaotishi" style="margin-left: 4px;cursor: pointer"></span>
              </label>
              <div class="upLoad-con">
                <button type="button" id="ticket-button-upload" data-loading-text="{{ text_loading }}" class="btn btn-primary">Upload File</button>
                <span id="spanLabelAttachments">
                  <span class="upfile-type">picture</span>
                  <span class="upfile-type">doc(x)</span>
                  <span class="upfile-type">xls(x)</span>
                  <span class="upfile-type">pdf</span>
                  <span class="upfile-type">txt</span>
                </span>
                <span id="spanLabelProffImages" style="display: none;">
                  <span class="upfile-type">picture</span>
                </span>
                <ul class="ticket-upload-file"></ul>
                <textarea style="display: none;" name="ticket_attachments"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="myModalTicketFooter" class="modal-footer" style="text-align: center; display: none;">
        <button id="myModalTicketSubmit" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>
<script type="text/javascript" src="public/js/common/toolString.js"></script>
<script>

    var ticketCategoryGroupList = {{ ticketCategoryGroupList }};
    var txtPleaseSelect = "{{ __('请选择', {}, 'common') }}";

    $(document).ready(function(){

        let ticketFor = ticketCategoryGroupList[0+'s'];
        let ticketForStr = `<option value="0">--${txtPleaseSelect}--</option>`;
        for (let i in ticketFor){
            let item = ticketFor[i];
            ticketForStr += '<option value="' + parseInt(item.category_id) + '">' + item.name + '</option>'
        }
        $("#submit_ticket_for").html(ticketForStr);


        //open ticket modal
        /*$("#submit-ticket-left").click(function(){
            location.href = 'index.php?route=account/ticket/lists';
        });*/
        $(".submit-ticket-right").click(function(){
            $("#myModalTicket").modal({backdrop: 'static', keyboard: false});
            hideReset();
            clearTicketInputs();
            clearTicketMsg();
            $('#myModalTicket').modal('show');
        });

        $("#submit_ticket_for").change(function(){
            var that = this;
            var thatvalue = parseInt($(that).val());
            $("#myModalTicketSubmit").attr('disabled',false);
            if(thatvalue === '1'){
                $('#ticket_hint').css('display','inline-block');
                $('#ticket_hint').text('{{ tip_ticket_for_1 }}');
            }else if(thatvalue === '2'){
                //$('#ticket_hint').css('display','inline-block');
                //$('#ticket_hint').text('{{ tip_ticket_for_2 }}');
            }else if(thatvalue === '3'){
                $('#ticket_hint').css('display','inline-block');
                $('#ticket_hint').text('{{ tip_ticket_for_3 }}');
            }else{
                $('#ticket_hint').css('display','none');
            }
            submitTicketForChange(thatvalue);
            $("#formList").find('input,textarea').val('');
            $("#formList").find('select:not("#submit_ticket_for")').val(0);
            $(".ticket-upload-file").children().remove();
        });

        $("#ticket_type").change(function () {
            let that = this;
            let thatvalue = parseInt($(that).val());
            if(thatvalue == 0){

                $('div[group^="parent"]').hide();
                //$("#group_rma_id").hide();
                //$("#group_sales_order_id").hide();

                $("#ticket_group_description").hide();
                $(".ticket_group_attachments").hide();
                $("#myModalTicketFooter").hide();
            } else {
              if(thatvalue == 18) {
                if ($("#attachmentRed").length == 0) {
                  $("#labelUploadAttachments").before('<span id="attachmentRed" class="redStart">*</span>');
                }
              }
                let submitVal = $("#submit_ticket_for").val();

                $('div[group^="parent"]').hide();
                console.log(submitVal)
                if (submitVal == 1) {
                    //RMA Management
                    $('div[group="parent-rma"]').show();
                    checkRmaId();//重新RMA id
                } else if (submitVal == 2) {
                    //Sales Order Management
                    if (thatvalue == 19) {
                      checkSalesOrderIdSubmit();//重新校验订单号
                      $('#group_processing_method').hide();
                    } else {
                      $('#group_processing_method').show();
                    }
                    $('div[group="parent-sales-order"]').show();

                    //查询下一级
                    let procesMethodStr = `<option value="0">--${txtPleaseSelect}--</option>`;
                    var items = ticketCategoryGroupList[thatvalue + 's'];
                    for(let i in items){
                        let item = items[i];
                        procesMethodStr += '<option value="' + parseInt(item.category_id) + '">' + item.name + '</option>';
                    }
                    if (items) {
                        $("#processing_method").html(procesMethodStr);
                    }
                }  else if (submitVal == 21 && thatvalue == 22){
                  $('div[group="parent-safeguard-claim"]').show();
                  checkSafeguardClaimNoSubmit();
                }  else {
                    //others
                }
                if (thatvalue == 19) {
                  $('div[group="parent-sales-item-code"]').show();
                  $('div[group="parent-tracking_number"]').show();
                }
                if (thatvalue == 20) {
                  $('div[group="parent-rma"]').show();
                  $('div[group="parent-item-code"]').show();
                }
                $("#ticket_group_description").show();
                $(".ticket_group_attachments").show();
                $("#myModalTicketFooter").show();
            }


            //Request Type 下方的提示
            if(thatvalue == 5){
              $("#tipInterceptSalesOrder").show();
            } else if(thatvalue == 18) {
              $("#tipReshipPickupOrder").show();
            }else{
              $("#tipInterceptSalesOrder").hide();
              $("#tipReshipPickupOrder").hide();
            }

            //上传文件样式
            if(thatvalue == 5){
                $("#labelUploadAttachments").hide();
                $("#labelUploadProffImages").show();
                $("#spanLabelAttachments").hide();
                $("#spanLabelProffImages").show();
            } else {
                $("#labelUploadAttachments").show();
                $("#labelUploadProffImages").hide();
                $("#spanLabelAttachments").show();
                $("#spanLabelProffImages").hide();
            }
        });

        $("#myModalTicketSubmit").click(function () {
            //submit data, clear data, close modal
            let value_submit_ticket_for = $("#submit_ticket_for").val();
            let value_ticket_type = $("#ticket_type").val();
            let value_rma_id = $.trim($("#rma_id").val());
            let value_sales_order_id = $.trim($('#sales_order_id').val());
            let value_processing_method = $("#processing_method").val();
            var value_tracking_number = $.trim($("#tracking_number").val());
            var value_seller_item_code = $.trim($("#seller_item_code").val());

            if (value_submit_ticket_for == 0) {
                layer.msg('Submit a Request For can not be left blank.');
                return false;
            }
            if (value_submit_ticket_for == 1) {
                if (value_ticket_type == 0) {
                    layer.msg('Request Type can not be left blank.');
                    return false;
                }
                if (value_rma_id.length == 0) {
                    layer.msg('RMA ID can not be left blank.');
                    return false;
                }

                if (value_submit_ticket_for == 1 && value_ticket_type == 18) {
                    if ($("li[name='inputFile']").length == 0) {
                        layer.msg('Attachments must be upload.');
                        return false;
                    }
                    // $.ajax({
                    //   url: 'index.php?route=account/ticket/checkRmaId',
                    //   type: 'post',
                    //   dataType: 'json',
                    //   data: {'rma_id':value_rma_id},
                    //   success: function (json) {
                    //     if (!json['success']) {
                    //       layer.msg(json['msg']);
                    //       return false;
                    //     }
                    //   },
                    //   error: function (xhr, ajaxOptions, thrownError) {
                    //     layer.msg(xhr.responseText, {icon: 5});
                    //   }
                    // });
                }


            } else if (value_submit_ticket_for == 2) {
                if (value_ticket_type == 0) {
                    layer.msg('Request Type can not be left blank.');
                    return false;
                }
                if (value_sales_order_id.length == 0) {
                    layer.msg('Sales Order ID can not be left blank.');
                    return false;
                }
                if (value_processing_method == 0 && value_ticket_type == 5) {
                    layer.msg('Processing Method can not be left blank.');
                    return false;
                }
                if (value_ticket_type == 19) {
                    if (value_tracking_number.length > 500) {
                        layer.msg('Ticking Number more than 500 characters.');
                        return false;
                    }
                }
            } else if (value_submit_ticket_for == 9 && value_ticket_type == 20) {
                if (value_rma_id.length == 0) {
                    layer.msg('RMA ID can not be left blank.');
                    return false;
                }
                if (value_seller_item_code.length == 0) {
                    layer.msg('Item Code can not be left blank.');
                    return false;
                }
            } else if (value_submit_ticket_for == 21 && value_ticket_type == 22){

            } else {
                //don't do
            }

            var descriptionValue = $.trim($("#ticket_description").val());
            if (descriptionValue.length < 1) {
                layer.msg('Description can not be left blank.');
                return false;
            }
            if (descriptionValue.length > 1000) {
                layer.msg('Description more than 1000 characters');
                return false;
            }
            $("#ticket_description").val(descriptionValue);

            let upfiles = [];
            $(".ticket-upload-file li a").each(function (index, ele) {
                let item = {};
                item.name = $(ele).text();
                item.url = $(ele).data('val');
                upfiles.push(item);
            });
            if (value_ticket_type == 5) {
                //Request Type IS Intercept Sales Order
                if (upfiles.length < 1) {
                    layer.msg('Proof Images can not be left blank.');
                    return false;
                }
            }
            $(".ticket_group_attachments").find("textarea").val(JSON.stringify(upfiles));
            var sendData = $("#myModalTicket").find("form").serialize();
            $("#myModalTicketSubmit").attr("disabled", true);
            $.ajax({
                url: "index.php?route=account/ticket/add",
                type: 'POST',
                data: sendData,
                dataType: 'json',
                success: function (result, status, xhr) {
                    if (result.ret == 1) {
                        $('#myModalTicket').modal('hide');
                        $('.submit-ticket-right').attr('disabled', true);//禁止再点击
                        $('.submit-ticket-right').css("pointer-events", "none");//禁止再点击
                        clearTicketInputs();
                        layer.msg(result.msg);

                        if ($("#ticket_page_is_need_reload").val()) {
                            if ($("#ticket_page_is_need_clear_type").val()) {
                              window.location.href = window.location.href.replace(/&is_others=1/, '').replace(/&type=\d+/, '');
                              return
                            }
                            window.location.href = window.location.href.replace(/&is_others=1/, '');


                        }
                    } else {
                        layer.open({
                            title: 'Failed'
                            , content: result.msg
                            , btn: ['OK']
                        });
                    }
                },
                error: function (xhr, status, error) {
                    layer.msg('error');
                },
                complete: function (xhr, status) {
                    $("#myModalTicketSubmit").attr("disabled", false);
                }
            });
        });

        $("#rma_id").autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=account/ticket/autocompletermaid&rma_id=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        if (json.length == 1 && json[0]['rma_id'] == encodeURIComponent(request)) {
                        } else {
                            response($.map(json, function (item) {
                                return {
                                    label: item['rma_id'],
                                    value: item['rma_id']
                                }
                            }));
                        }
                        $("#group_rma_id").removeClass("has-error");
                    }
                });
            },
            'select': function (item) {
                $("#rma_id").val(item['label']);
            }
        });

        $("#sales_order_id").autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=account/ticket/autocompleteorderid&order_id=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        if (json.length == 1 && json[0]['order_id'] == encodeURIComponent(request)) {

                        } else {
                            response($.map(json, function (item) {
                                return {
                                    label: item['order_id'],
                                    value: item['order_id']
                                }
                            }));
                        }
                    }
                });
            },
            'select': function (item) {
                $("#sales_order_id").val(item['label']);
            }
        });
        //seller item code 输入框下拉联想
        $("#seller_item_code").autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=account/ticket/getItemCodeList',
                    type: 'post',
                    data: 'item_code=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        if (json.length == 1 && json[0]['item_code'] == encodeURIComponent(request)) {

                        } else {
                            response($.map(json, function (item) {
                                return {
                                    label: item['item_code'],
                                    value: item['item_code']
                                }
                            }));
                        }
                    }
                });
            },
            'select': function (item) {
                $("#seller_item_code").val(item['label']);
            }
        });
      $("#safeguard_claim_no").autocomplete({
        'source': function (request, response) {
          $.ajax({
            url: 'index.php?route=account/ticket/getSafeguardClaimList',
            type: 'post',
            data: 'safeguard_claim_no=' + encodeURIComponent(request),
            dataType: 'json',
            success: function (json) {
              response($.map(json, function (item) {
                return {
                  label: item,
                  value: item
                }
              }));
            }
          });
        },
        'select': function (item) {
          $("#safeguard_claim_no").val(item['value']);
        }
      });


      //对文本框计数
      $("#ticket_description").bind("input propertychange change", function() {
        var userDesc = $("#ticket_description").val();
        //获取输入内容
        var calcReturn = toolString.calcStringLength(userDesc, 1000);
        $("#ticket_description").val(calcReturn.fullStr)
        //显示字数
        $(".value").text(calcReturn.len);
      })

        function hideInputs() {
            $('div[group="parent-rma"]').hide();
            $('div[group="parent-sales-order"]').hide();
        }

        function showInputsGeneral() {
            $('#ticket_group_description').show();
            $('.ticket_group_attachments').show();
            $('#myModalTicketFooter').show();
        }

        function hideReset() {
            $('#submit_ticket_for').val(0);
            $('#ticket_type').html(`<option value="0">--${txtPleaseSelect}--</option>`);
            $('#ticket_type').val(0);
            $("#tipInterceptSalesOrder").hide();
            $('div[group="parent-rma"]').hide();
            $('div[group="parent-sales-order"]').hide();
            $('div[group="parent-sales-item-code"]').hide();
            $('div[group="parent-tracking_number"]').hide();
            $('div[group="parent-item-code"]').hide();
            $('div[group="parent-safeguard-claim"]').hide();
            $('#ticket_group_description').hide();
            $('.ticket_group_attachments').hide();
            $(".ticket_group_attachments").find(".ticket-upload-file").html('');
            $(".ticket_group_attachments").find("textarea").val('');
            $('#myModalTicketFooter').hide();
        }

        function clearTicketInputs() {
            $('#submit_ticket_for').val(0);
            $('#ticket_type').html(`<option value="0">--${txtPleaseSelect}--</option>`);
            $('#ticket_type').val(0);
            $("#tipInterceptSalesOrder").hide();
            $('#rma_id').val("");
            $('#sales_order_id').val("");
            $('#sales_item_code').html("");
            $('#tracking_number').val("");
            $('#seller_item_code').val("");
            $('#processing_method').val(0);
            $('#safeguard_claim_no').val("");
            $('#ticket_description').val("");
            $('#ticket_description_tips').html("<span class='value'>0</span>/1000");
            $(".ticket_group_attachments").find(".ticket-upload-file").html('');
            $(".ticket_group_attachments").find("textarea").val('');
        }

        //清除所有提示框
        function clearTicketMsg() {
            $("#rma_id_msg").html("");
            $("#rma_id_msg").hide();

            $("#sales_order_id_msg").html("");
            $("#sales_order_id_msg").hide();

            $("#seller_item_code_msg").html("");
            $("#seller_item_code_msg").hide();

            $("#safeguard_claim_no_msg").html("");
            $("#safeguard_claim_no_msg").hide();
        }

        //回复页面


        //upload file
        $('#ticket-button-upload').on('click', function () {
            $('#form-upload').remove();


            let ticket_type = $("#ticket_type").val();
            if (ticket_type == 5) {
                //Request Type IS Intercept Sales Order，只上传图片
                $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" accept="image/tiff,image/pjp,image/pjpeg,image/jfif,image/tif,image/gif,image/svg,image/bmp,image/png,image/jpeg,image/svgz,image/jpg,image/webp,image/ico,image/xbm,image/dib"/></form>');
            } else {
                $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,application/msexcel,application/pdf,image/tiff,image/pjp,image/pjpeg,image/jfif,image/tif,image/gif,image/svg,image/bmp,image/png,image/jpeg,image/svgz,image/jpg,image/webp,image/ico,image/xbm,image/dib,.txt,.csv"/></form>');
            }


            $('#form-upload input[name=\'file\']').trigger('click');

            if (typeof timer != 'undefined') {
                clearInterval(timer);
            }

            var timer = setInterval(function () {
                if ($('#form-upload input[name=\'file\']').val() != '') {
                    clearInterval(timer);

                    $.ajax({
                        url: 'index.php?route=account/ticket/upload',
                        type: 'post',
                        dataType: 'json',
                        data: new FormData($('#form-upload')[0]),
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $('#ticket-button-upload').button('loading');
                        },
                        complete: function () {
                            $('#ticket-button-upload').button('reset');
                        },
                        success: function (json) {
                            if (json['error']) {
                                layer.msg(json['error']);
                            }

                            if (json['text']) {
                                let str = '<li name="inputFile"><a href="' + json['path'] + '" data-val="' + json['url'] + '" target="_blank">' + json['name'] + '</a><span class="giga icon-sidebar-clear"></span></li>';
                                $(".ticket-upload-file").append(str);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            layer.msg(xhr.responseText, {icon: 5});
                        }
                    });
                }
            }, 500);
        });

        $(document).on('click', ".ticket-upload-file li span", function () {
            $(this).parent().remove();
        });
    });

    function checkSalesOrderId() {
        //设置个延迟，不然select的赋值会晚于onblur（失去焦点事件）
        setTimeout("checkSalesOrderIdSubmit()", 500);
    }

    function checkSalesOrderIdSubmit() {

        var salesOrderId = $('#sales_order_id').val().trim();
        var ticketType = $('#ticket_type').val();
        $('#sales_item_code').html('');
        if (salesOrderId == '') {
            return false;
        }
        $.ajax({
            url: 'index.php?route=account/ticket/checkSalesOrderId',
            type: 'post',
            dataType: 'json',
            data: 'salesOrderId=' + encodeURIComponent(salesOrderId) + '&ticket_type=' + ticketType,
            beforeSend: function () {
                // $('#ticket-button-upload').button('loading');
            },
            complete: function () {
                // $('#ticket-button-upload').button('reset');
            },
            success: function (json) {
                $("#sales_order_id_msg").html("");
                $("#sales_order_id_msg").hide();
                $('#myModalTicketSubmit').attr('disabled', false);
                $("#sales_order_id").removeClass('input-err');
                if (!json['success']) {
                    $("#sales_order_id_msg").show();
                    $("#sales_order_id_msg").html(json['msg']);
                    $("#sales_order_id").addClass('input-err');
                    $('#myModalTicketSubmit').attr('disabled', true);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                layer.msg(xhr.responseText, {icon: 5});
            }
        });
        //加载item code下拉选择器
        $.ajax({
            url: 'index.php?route=account/ticket/getItemCodeList',
            type: 'post',
            dataType: 'json',
            data: 'order_id=' + encodeURIComponent(salesOrderId),
            beforeSend: function () {
                // $('#ticket-button-upload').button('loading');
            },
            complete: function () {
                // $('#ticket-button-upload').button('reset');
            },
            success: function (list) {
                //加载item code
                let itemCodeSelectStr = '';
                for (let i in list) {
                    let itemCode = list[i];
                    itemCodeSelectStr += '<option value="' + itemCode.item_code + '">' + itemCode.item_code + '</option>';
                }
                $('#sales_item_code').html(itemCodeSelectStr);
                $('#sales_item_code').trigger('change');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                layer.msg(xhr.responseText, {icon: 5});
            }
        });
    }

    function checkItemCode() {
        //设置个延迟，不然select的赋值会晚于onblur（失去焦点事件）
        setTimeout("checkItemCodeSubmit()", 500);
    }

    //seller 校验item code库存是否大于0
    function checkItemCodeSubmit() {
        var sellerItemCode = $('#seller_item_code').val().trim();
        $('#sales_item_code').html('');
        if (sellerItemCode == '') {
            return false;
        }
        $.ajax({
            url: 'index.php?route=account/ticket/checkSellerItemCode',
            type: 'post',
            dataType: 'json',
            data: 'item_code=' + encodeURIComponent(sellerItemCode),
            beforeSend: function () {
                // $('#ticket-button-upload').button('loading');
            },
            complete: function () {
                // $('#ticket-button-upload').button('reset');
            },
            success: function (json) {
                $("#seller_item_code_msg").html("");
                $("#seller_item_code_msg").hide();
                $('#myModalTicketSubmit').attr('disabled', false);
                $("#seller_item_code").removeClass('input-err');
                if (!json['success']) {
                    $("#seller_item_code_msg").show();
                    $("#seller_item_code_msg").html(json['msg']);
                    $("#seller_item_code").addClass('input-err');
                    $('#myModalTicketSubmit').attr('disabled', true);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                layer.msg(xhr.responseText, {icon: 5});
            }
        });
    }

    function checkRmaId() {
        //设置个延迟，不然select的赋值会晚于onblur（失去焦点事件）
        setTimeout("checkRmaIdSubmit()", 500);
    }
    //seller 校验item code库存是否大于0
    function checkRmaIdSubmit() {
      var rma_id = $('#rma_id').val().trim();
      $('#rma_id').html('');
      var ticketType = $('#ticket_type').val();
      if (rma_id == '') {
        return false;
      }
      $.ajax({
        url: 'index.php?route=account/ticket/checkRmaId',
        type: 'post',
        dataType: 'json',
        data: 'rma_id=' + encodeURIComponent(rma_id) + '&ticket_type=' + ticketType,
        beforeSend: function () {
          // $('#ticket-button-upload').button('loading');
        },
        complete: function () {
          // $('#ticket-button-upload').button('reset');
        },
        success: function (json) {
          $("#rma_id_msg").html("");
          $("#rma_id_msg").hide();
          $('#myModalTicketSubmit').attr('disabled',false);
          $("#seller_item_code").removeClass('input-err');
          if(!json['success']){
            $("#rma_id_msg").show();
            $("#rma_id_msg").html(json['msg']);
            $("#rma_id").addClass('input-err');
            $('#myModalTicketSubmit').attr('disabled',true);
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.msg(xhr.responseText, {icon: 5});
        }
      });
    }

    function checkSafeguardClaimNo() {
      //设置个延迟，不然select的赋值会晚于onblur（失去焦点事件）
      setTimeout("checkSafeguardClaimNoSubmit()", 500);
    }
    //buyer 校验理赔单ID
    function checkSafeguardClaimNoSubmit() {
      let input = $("#safeguard_claim_no");
      let msg = $("#safeguard_claim_no_msg");
      var safeguardClaimNo = input.val().trim();
      if (safeguardClaimNo == '') {
        msg.html("");
        msg.hide();
        return false;
      }
      $.ajax({
        url: 'index.php?route=account/ticket/ajaxCheckSafeguardNo',
        type: 'post',
        dataType: 'json',
        data: {safeguard_claim_no: safeguardClaimNo},
        beforeSend: function () {
        },
        complete: function () {
        },
        success: function (json) {
          let myModalTicketSubmit = $('#myModalTicketSubmit');
          msg.html("");
          msg.hide();
          myModalTicketSubmit.attr('disabled',false);
          input.removeClass('input-err');
          if(!json['success']){
            msg.show();
            msg.html(json['msg']);
            input.addClass('input-err');
            myModalTicketSubmit.attr('disabled',true);
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.msg(xhr.responseText, {icon: 5});
        }
      });
    }

    function submitTicketForChange(value) {
      value = parseInt(value);
      $("#submit_ticket_for").val(parseInt(value));

      let ticketTypeStr = `<option value="0">--${txtPleaseSelect}--</option>`;
      let items = ticketCategoryGroupList[parseInt(value) + 's'];
      for(let i in items){
        let item = items[i];
        ticketTypeStr += '<option value="' + parseInt(item.category_id) +'">'+ item.name +'</option>';
      }
      $('#ticket_type').html(ticketTypeStr);
      $('#ticket_type').trigger('change');

      if(value == 3){
        $('div[group="parent-rma"]').hide();
        $('div[group="parent-sales-order"]').hide();
      }
      if(value == 0){
        hideReset();
      }
    }

    function showModal(rma_id) {
      $('#rma_id').val(rma_id);
      $("#myModalTicket").modal({backdrop: 'static', keyboard: false});
      $('#myModalTicket').modal('show');
      $('#submit_ticket_for').val(1)
      submitTicketForChange(1);
      $('#ticket_type').val(4)
      $('#ticket_type').trigger('change');
    }
</script>
