<style>

  .text-center .btn-primary{
    border: #eee;
    color: #333;
    background-color: #eee;
    width: 30px;
    height: 30px;
    padding: 6px 0;
  }
  .text-center .btn-primary:hover{
    color: #fff;
    background-color: #FA6400;
    border: #fff;
  }
  /* 左侧标题栏 */
  .left-ul li a:hover{
    color: #FF5722;
  }
  .pull-right-btn{
    background-color: #3A75DC;
    border-color: #3A75DC;
    color: #fff;
  }
</style>
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet"/>
<style>
  .header-right-dot {
    position: relative;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    background-color: #FF5722;
    color: #fff;
    width: 6px;
    height: 6px;
    padding: 0;
    border-radius: 50%;
    top: -5px;
    margin: -7px 3px 0 1px;
  }
  .row .form-group input:not([type=checkbox]):not([type=radio]), .row .form-group select {
    height: 40px !important;
    border-radius: 4px !important;
    background-color: #f3f5f7;
  }
  #btnSearch{
    margin-left: 15px;height: 40px;line-height: 22px;font-size: 14px;font-weight: unset
  }
  .table tbody tr td .btn:hover{
    border: 1px solid #FA6400;
  }
  .text-center .btn-primary{
    border: 1px solid #eee;
  }
</style>

<div role="tabpanel" class="tab-pane active">
  <div class="bg-white p-2" id="leave" style="display: flex">
{#左侧列表#}
<div class="ticket-lists-left col-sm-2">
    <ul class="left-ul">
      {% for item in left_lists %}
        <li class="{% if right==item.value %}li-active{% endif %}">
          <a class="tickek-right-type-other" href="javascript:void(0);" value="&right={{ item.value }}">
            {{ item.name }}({{ item.count }})
            {% if item.isNoread  %}
              <span class="header-right-dot"></span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {#右侧列表#}
  <div class="table-responsive ticket-lists-right col-sm-10">
    <form class="ticket-lists-right-form form-inline" {% if is_seller %} style="margin-bottom: 20px" {% else %} style="margin-bottom: 30px" {% endif %}>
        <div class="form-group " style="width: 80%;">
            <input id="wdOrders" type="text" {% if is_seller %} style="font-size: 13px;width: 80%;" {% else %} style="width: 80%;margin-top: 10px" {% endif %} class="form-control input-search-rma" placeholder="Search Request ID" value="{{ wd }}">
            <button type="button" id="btnSearch" class="btn btn-submit pull-right-btn" {% if is_seller==false %} style="margin-top: 10px" {% endif %} onclick="filterOthers(this)">Filter</button>
        </div>
    </form>

    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-center">{{ column_ticket_id_long }}</th>
        <th class="text-center">{{ column_ticket_type }}</th>
        <th class="text-center">
          {% if sort=='date_modified' %}
            <a href="javascript:void(0);" value="{{ sort_date_modified }}" class="ticketClickSortOther {{ order|lower }}">{{ column_date_modified }}</a>
          {% else %}
            <a href="javascript:void(0);" value="{{ sort_date_modified }}" class="ticketClickSortOther">{{ column_date_modified }}</a>
          {% endif %}
        </th>
        <th class="text-center">
          {% if sort=='customer_is_read' %}
            <a href="javascript:void(0);" value="{{ sort_customer_is_read }}" class="ticketClickSortOther {{ order|lower }}">{{ column_status }}</a>
          {% else %}
            <a href="javascript:void(0);" value="{{ sort_customer_is_read }}" class="ticketClickSortOther">{{ column_status }}</a>
          {% endif %}
        </th>
        <th class="text-center">{{ column_action }}</th>
      </tr>
      </thead>
      <tbody>

      {% if lists %}
        {% for item in lists %}
          <tr>
            <td class="text-center">{{ item.ticket_id }}</td>
            <td class="text-center">{{ item.ticket_type_name }}</td>
            <td class="text-center">{{ item.last_modified_time_format }}</td>
            <td class="text-center">
              {% if item.customer_is_read == 0 %}
                <span class="glyphicon glyphicon-exclamation-sign hot-color"></span>
              {% endif %}
              {{ item.status_name }}
            </td>
            <td class="text-center">
              <a href="{{ item.view_url }}" data-toggle="tooltip" title="{{ button_view }}"
                 class="btn btn-primary pull-center" style="padding: 0;line-height: 28px;"><i class="giga icon-chakan1"></i></a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="5">{{ text_no_results }}</td>
        </tr>
      {% endif %}
      </tbody>
    </table>

    <div class="row text-right" style="margin-right: 0">
        <ul id="bos_pagination_ticket_other"></ul>
    </div>
</div>
  </div>
</div>

<textarea id="categoryRootidJsonOther" style="display: none;">{{ categoryRootid }}</textarea>
<textarea id="culsterCountJsonOther" style="display: none;">{{ culsterCountJson }}</textarea>

<script>
    $(function () {
        block.unBlockUI();
        initTicketOther();
    });

    function initTicketOther() {
        //分页链接
        paginationOther();

        upTicketTabCountOther('Other');
    }

    $(document).ready(function () {
        $(".tickek-right-type-other").click(function () {
            let that = this;
            block.blockUI();

            $("#wdOrders").val("");

            $(".tickek-right-type-other").parent().each(function (index, Ele) {
                $(Ele).removeClass('li-active');
            });
            $(that).parent().addClass('li-active');

            var url = getUrlForTicketOther();
            $('#show-lists-others').load(url);
        });

        $(".ticketClickSortOther").click(function(){
            let that = this;
            block.blockUI();

            let url = getUrlForTicketOther();
            let thatVal = $(that).attr('value');
            let thatOrder = $(that).hasClass("asc")?'asc':'desc';

            $(".ticketClickSortOther").removeClass('asc').removeClass('desc');
            $(that).addClass(thatOrder == 'asc' ? 'asc' : 'desc');

            url += thatVal;

            $('#show-lists-others').load(url);
        });
        $(".input-search-rma").keydown(function (e) {
          if (e.keyCode == 13) {
            filterOthers($('#btnSearch'))
            return false;
          }
        });
    });

    function upTicketTabCountOther(label){
        let categoryRootidJson = {};
        let culsterCountJson = {};
        if ($("#categoryRootidJson" + label).val()) {
            categoryRootidJson = JSON.parse($("#categoryRootidJson" + label).val());
        }
        if ($("#culsterCountJson" + label).val()) {
            culsterCountJson = JSON.parse($("#culsterCountJson" + label).val());
        }
      $(".submit_ticket_for_count_{{ submit_ticket_for }}" ).find('span.count').html(culsterCountJson['new_reply_count']);
        // for (var i in categoryRootidJson) {
        //     var category_id = categoryRootidJson[i];
        //     var tele = $(".submit_ticket_for_count_" + category_id);
        //     var count = culsterCountJson['submit_ticket_for_count_' + category_id];
        //     var noread = culsterCountJson['submit_ticket_for_noread_' + category_id];
        //
        //     var str = '' + count + '';
        //     if (noread) {
        //         str += '<span class="header-right-dot"></span>';
        //     }
        //     $(tele).find('span.count').html(str);
        // }
    }

    function paginationOther() {
        if ({{ total_pages }}) {
            //total_pages
            $('#bos_pagination_ticket_other').bootstrapPaginator({
                /*当前使用的是3版本的bootstrap*/
                bootstrapMajorVersion: 3,
                /*配置的字体大小是小号*/
                size: 'normal',
                /*当前页*/
                currentPage: {{ page_num }},
                /*一共多少页*/
                totalPages: {{ total_pages }},
                /*页面上最多显示几个含数字的分页按钮*/
                numberOfPages: 5,
                /*设置显示的样式，默认是箭头	*/
                // itemTexts: function(type, page, current) {
                //     switch(type) {
                //         case "first": // type值固定
                //             return `<span class="glyphicon glyphicon-fast-backward"></span>`;
                //         case "prev":
                //             return `<span class="glyphicon glyphicon-step-backward"></span>`;
                //         case "next":
                //             return `<span class="glyphicon glyphicon-step-forward"></span>`;
                //         case "last":
                //             return `<span class="glyphicon glyphicon-fast-forward"></span>`;
                //         case "page":
                //             return page;
                //     }
                // },
                total: {{ total_num }},
                rowsOfPage: {{ page_limit }},
                onPageClicked: function (event, originalEvent, type, page) {
                    block.blockUI();
                    let url = getUrlForTicketOther(page);

                    //sort column
                    let sor = '';
                    $(".ticketClickSortOther").each(function (index, ele) {
                        if ($(ele).hasClass("asc") || $(ele).hasClass("desc")) {
                            let ord = $(ele).hasClass("asc") ? "asc" : "desc";
                            sor = $(ele).attr("value");
                            url += (sor + "&order=" + ord);
                            return false;
                        }
                    });

                    $('#show-lists-others').load(url);
                }
            });
        }
    }

    function getUrlForTicketOther(page) {
        let url = 'index.php?route=account/ticket/showListsOthers';

        let submit_ticket_for = '{{ submit_ticket_for }}';
        url += '&submit_ticket_for={{ submit_ticket_for }}';

        let tickek_right_type_other = '';
        $(".tickek-right-type-other").parent().each(function (index, Ele) {
            if ($(Ele).hasClass('li-active')) {
                tickek_right_type_other = $(Ele).find('a').attr('value')
                url += (tickek_right_type_other);
                return false;
            }
        });

        let wd = $.trim($("#wdOrders").val());
        if(wd){
            url += '&wd='+wd;
        }

        if (page) {
            url += "&page_num=" + page;
        }
        return url;
    }

    function filterOthers(button) {
        block.blockUI();
        var url = getUrlForTicketOther();
        $('#show-lists-others').load(url);
        $(button).button('loading');
    }
</script>