{{ header }}{{ column_left }}
{{ assetBundle('Common\\SummernoteAsset') }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button onclick="saveData(this)" data-toggle="tooltip" title="{{ button_save }}"
                class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
            class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <form enctype="multipart/form-data" id="form-module" class="form-horizontal">
    <div class="container-fluid">
      {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      {% endif %}
      {% if saveSuccess %}
        <div id="error_msg_div">
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <strong>Success: You have modified module Shipment Notice!</strong><br/>
          </div>
        </div>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_shipment_time_status" id="input-status" class="form-control">
                {% if module_shipment_time_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-2" style="padding-top: 15px">
          <ul class="nav nav-pills nav-stacked" id="module">
            {% for country in countries %}
              <li {% if loop.index == 1 %}class="active"{% endif %}>
                <a href="#tab-module{{ country.country_id }}" aria-controls="tab-module{{ country.country_id }}"
                   role="tab" data-toggle="tab">{{ country.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-10">
          <div class="tab-content">
            {% for country in countries %}
              <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %}in active{% endif %}"
                   id="tab-module{{ country.country_id }}">
                {% if shipmentTimeArr %}
                  {% for shipmentTime in shipmentTimeArr %}
                    {% if shipmentTime.country_id == country.country_id %}
                      <div class="form-group">
                        <label>Title</label>
                        <input value="{{ shipmentTime.title }}" class="form-control" type="text" placeholder="Title"
                               name="shipmentTimeTitle_{{ country.country_id }}" maxlength="3500"/>
                      </div>
                      {% if shipmentTime.url %}
                        {#有文件#}
                        <div class="form-group">
                          <label>File</label>
                          <div id="shipmentFile{{ country.country_id }}">
                            <a href="{{ shipmentTime.url }}">{{ shipmentTime.file_name }}</a>
                            <a onclick="deleteShipmentFile('{{ country.country_id }}')"
                               style="margin-left: 15px;cursor: pointer;">
                              <i class="fa fa-minus-square" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      {% else %}
                        {#没有文件#}
                        <div class="form-group">
                          <label>File</label>
                          <input class="form-control" type="file" name="shipmentTimeFile_{{ country.country_id }}"/>
                        </div>
                      {% endif %}
                      <div class="form-group">
                        <label>Page Description</label>
                        <textarea name="shipmentTimePage_{{ country.country_id }}" placeholder=""
                                  class="form-control summernote" data-toggle="summernote">{{ shipmentTime.page_description }}</textarea>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" type="text" placeholder="Title"
                           name="shipmentTimeTitle_{{ country.country_id }}" maxlength="3500"/>
                  </div>
                  <div class="form-group">
                    <label>File</label>
                    <input class="form-control" type="file" name="shipmentTimeFile_{{ country.country_id }}"/>
                  </div>
                  <div class="form-group">
                    <label>Page Description</label>
                    <textarea name="shipmentTimePage_{{ country.country_id }}" placeholder=""
                              class="form-control summernote" data-toggle="summernote"></textarea>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{{ footer }}
<script>
  function deleteShipmentFile(countryId) {
    if (confirm("Are you sure to delete the file?")) {
      $.ajax({
        url: "index.php?route=extension/module/shipment_time/deleteFile&user_token={{ user_token }}" + "&countryId=" + countryId,
        type: 'get',
        dataType: 'json',
        success: function (json) {
          if (json.success) {
            var html = "<input class=\"form-control\" type=\"file\" name=\"shipmentTimeFile_" + countryId + "\"/>";
            $('#shipmentFile' + countryId).empty();
            $('#shipmentFile' + countryId).append(html);
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      })
    }
  }

  function saveData(button) {
    $(button).button('loading');
    $.ajax({
      url: "index.php?route=extension/module/shipment_time/save&user_token={{ user_token }}",
      type: 'post',
      dataType: 'json',
      data: new FormData($('#form-module')[0]),
      cache: false,
      contentType: false,
      processData: false,
      success: function (json) {
        if (json.success) {
          location = json.url + '&user_token=' + '{{ user_token }}' + '&saveSuccess=1';
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    })
  }
</script>