{{ header }}{{ separate_column_left }}
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
{% if separate_view is defined and separate_view %}
<div class="container-fluid" id="content" style="margin-left: 15%">
  {% else %}
  <div class="container">
    {% endif %}
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li>
          <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="row" style="margin-left: 1%">
      {{ column_left }}
      {% if column_left %}
        {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">
        {{ content_top }}
        <h1 style="margin-bottom: 15px">{{ heading_title }}</h1>
        <div id="box-shadow">

          {% if chkIsPartner %}
            {# 查询条件 #}
            <div class="well">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group" style="margin: 0">
                    <label for="input-filter-buyer-name" class="control-label">{{ column_buyer_name }}</label>
                    <input type="text" name="filter_buyer_name" value="{{ filter_buyer_name }}"
                           placeholder="{{ column_buyer_name }}" id="input-filter-buyer-name" class="form-control"/>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" style="margin: 0">
                    <label for="input-filter-status" class="control-label">{{ column_status }}</label>
                    <select name="filter_status" id="input-filter-status" class="form-control">
                      <option value="">{{ text_select }}</option>
                      <option value="1" {% if filter_status == "1" %}selected{% endif %}>{{ text_active }}</option>
                      <option value="0" {% if filter_status == "0" %}selected{% endif %}>{{ text_inactive }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" style="margin: 0">
                    <label for="input-filter-buyer_groups"
                           class="control-label">{{ column_buyer_group }}</label>
                    <select name="filter_status" id="input-filter-buyer_groups" class="form-control">
                      <option value="">{{ text_select }}</option>
                      {% for buyer_group in buyer_groups %}
                        <option value="{{ buyer_group.buyer_group_id }}"
                                {% if filter_buyer_group_id == buyer_group.buyer_group_id %}selected{% endif %}>
                          {{ buyer_group.name ~ (buyer_group.is_default?'(Default)':'') }}
                        </option>
                      {% endfor %} }}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group" style="margin: 0">
                    <label for="input-filter-date_added_from" class="control-label">{{ column_date_added_from }}</label>
                    <input type="text" name="filter_date_added_from" value="{{ filter_date_added_from }}"
                           id="input-filter-date_added_from" class="form-control"/>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" style="margin: 0">
                    <label for="input-filter-date_added_to" class="control-label">{{ column_date_added_to }}</label>
                    <input type="text" name="filter_date_added_to" value="{{ filter_date_added_to }}"
                           id="input-filter-date_added_to" class="form-control"/>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" style="padding-top: 36px;">
                    <button type="button" style="margin-left:15px" onclick="func_download(this);"
                            class="btn btn-default pull-right">
                      <i class="fa fa-download"></i></button>
                    <button type="button" onclick="filterData(this);" class="btn btn-primary pull-right">
                      Filter
                    </button>
                  </div>
                </div>
              </div>
            </div>

            {#批量操作按钮#}
            <div class="row" style="margin-bottom: 10px;margin-left: 0">
              <button type="button" id="set-buyer_group" class="btn btn-warning"><i
                  class="fa fa-group"> </i> {{ text_set_buyer_group }}</button>
              {#N-101 1.将目前系统中所有Seller对Buyer设置的Discount值都设为1#}
              {#<button type="button" id="set-discount" class="btn btn-primary"><i class="fa fa-tags"> </i> {{ text_set_discount }}</button>#}
              <button type="button" class="btn btn-success set-status hide" data-type="1"><i
                  class="fa fa-check"> </i> {{ text_set_enable }}</button>
              <button type="button" class="btn btn-danger set-status" data-type="0"><i
                  class="fa fa-close"> </i> {{ text_set_disable }}</button>
              {% if filter_status != "0" %}
                <button type="button" onclick="contactGroupBuyer()" class="btn btn-default"><i
                    class="fa fa-envelope"> </i> Contact Buyer
                </button>
              {% endif %}
            </div>
            {# 表格结果 #}
            <table class="table table-striped table-bordered table-hover">
              <thead class="text-center">
              <tr>
                <td style="text-align: center;width: 3%;"><input type="checkbox" name="selectAll"></td>
                <td>
                  {% if sort == 'cc.`firstname`' %}
                    <a style="cursor: pointer" href="{{ sort_buyer_name }}"
                       class="{{ order|lower }}">{{ column_name }}</a>
                  {% else %}
                    <a style="cursor: pointer" href="{{ sort_buyer_name }}">{{ column_name }}</a>
                  {% endif %}
                </td>
                <td class="text-center"
                    style="max-width: 15%;word-wrap:break-word; word-break:break-all;">{{ column_buyer_group }}</td>
                {#N-101 1.将目前系统中所有Seller对Buyer设置的Discount值都设为1#}
                {#<td style="width: 8%"><span data-toggle="tooltip" title="{{ tip_discount }}" class="text-center">{{ column_discount }}</span></td>#}
                <td style="width: 30%">{{ column_remark }}</td>
                <td style="width: 13%">{{ column_add_time }}</td>
                <td style="width: 120px">
                  {% if sort == 'bts.`seller_control_status`' %}
                    <a style="cursor: pointer" href="{{ sort_coop_status_seller }}" class="{{ order|lower }}">
                      <span data-toggle="tooltip" title="{{ tip_coop_status_seller }}">{{ column_status }}</span></a>
                  {% else %}
                    <a style="cursor: pointer" href="{{ sort_coop_status_seller }}">
                      <span data-toggle="tooltip" title="{{ tip_coop_status_seller }}">{{ column_status }}</span></a>
                  {% endif %}
                </td>
                <td style="width: 147px" class="text-center">{{ column_action }}</td>
              </tr>
              </thead>
              <tbody class="text-center">
              {% for data in tableData %}
                <tr id="data_{{ data.id }}">
                  <td style="text-align: center;width: 3%;">
                    <input type="checkbox" value="{{ data.id }}"
                           name="buyerCheckBox"{{ data.coop_status_seller?'':' disabled' }}>
                    <input hidden value="{{ data.id }}" name="id" type="text"/>
                    <input hidden value="{{ data.buyer_id }}" name="buyer_id" type="text"/>
                    <input hidden value="{{ data.buyer_name }}" name="buyer_name" type="text"/>
                  </td>
                  <td>
                    {{ data.buyer_name }}
                    <span>
                    <img data-toggle="tooltip" style="padding-left: 1px"
                         src="{{ data.is_home_pickup ? asset('image/icons/HomePickup/home_pickup-15x15.png') : asset('image/icons/HomePickup/drop_shipping-15x15.png') }}"
                         data-original-title="{{ data.is_home_pickup?tip_home_pickup_logo:tip_drop_shipping_logo }}">
                  </span>
                  </td>
                  <td>
                    <span class="form-display"
                          style="word-wrap:break-word; word-break:break-all;">{{ data.buyer_group_name ~ (data.is_default?'(Default)':'') }}</span>
                    <input hidden value="{{ data.buyer_group_name }}" name="origin_buyer_group_name" type="text"/>
                    <input hidden value="{{ data.buyer_group_id }}" name="origin_buyer_group_id" type="text"/>
                    <select class="form-edit form-control" style="display: none" name="buyer_group_id">
                      <option value="0">{{ text_no_group }}</option>
                      {% for buyer_group in buyer_groups %}
                        <option value="{{ buyer_group.buyer_group_id ~ '_' ~ buyer_group.name }}"
                                {% if data.buyer_group_id == buyer_group.buyer_group_id %}selected{% endif %}>
                          {{ buyer_group.name ~ (buyer_group.is_default?'(Default)':'') }}</option>
                      {% endfor %} }}
                    </select>
                  </td>
                  {#N-101 1.将目前系统中所有Seller对Buyer设置的Discount值都设为1#}
                  {#<td>#}
                  {#<span class="form-display">{{ data.discount }}</span>#}
                  {#<input class="form-edit form-control" value="1" style="display: none" name="discount" type="number" max="1" min="0.1" step="0.1"/>#}
                  {#</td>#}
                  <td>
                    <span class="form-display">{{ data.remark }}</span>
                    <input class="form-edit form-control" value="{{ data.remark }}" style="display: none" maxlength="50"
                           name="remark"/>
                  </td>
                  <td>{{ data.add_time }}</td>
                  <td>
                    {% if data.coop_status_seller == 1 %}
                      <span class="form-display">{{ text_active }}</span>
                    {% elseif data.coop_status_seller == 0 %}
                      <span class="form-display">{{ text_inactive }}</span>
                    {% endif %}
                    <select class="form-edit form-control" style="display: none" name="coop_status_seller"
                            onchange="func_status_change(this)">
                      <option
                        value="0" {% if data.coop_status_seller == 0 %} selected {% endif %}>{{ text_inactive }}</option>
                      <option
                        value="1" {% if data.coop_status_seller == 1 %} selected {% endif %}>{{ text_active }}</option>
                    </select>
                  </td>
                  <td>
                    <a onclick="edit('data_{{ data.id }}');" data-toggle="tooltip"
                       title="{{ button_edit }}" class="btn btn-primary btn-form-display"><i
                        class="fa fa-pencil"></i></a>
                    {#<a onclick="deleteData({{ data.id }}, this);" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger btn-form-display"><i class="fa fa-trash-o"></i></a>#}
                    <a style="display: none" onclick="save('data_{{ data.id }}',this);"
                       data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary btn-form-edit"><i
                        class="fa fa-save"></i></a>
                    <a style="display: none" onclick="back('data_{{ data.id }}');" data-toggle="tooltip"
                       title="{{ button_cancel }}" class="btn btn-default btn-form-edit"><i class="fa fa-reply"></i></a>
                    <a style="background: red;{{ data.coop_status_seller == 1?'':'display:none' }}"
                       onclick="refine('{{ data.buyer_id }}');" data-toggle="tooltip"
                       title="Refined Management" class="btn btn-default btn-form-reined-edit">
                      <i style="color: white" class="fa fa-sliders"></i></a>
                    {% if data.coop_status_seller == 1 %}
                      <a  onclick="func_one_contact(' {{ data.buyer_id }}');"  data-toggle="tooltip" title="Contact Buyer"
                         class="btn btn-default btn-form-display"><i class="fa fa-envelope"></i></a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <div class="row" style="margin-right: 0;">
              <div class="col-sm-12 text-right" style="margin-bottom: 10px">{{ pagination }}</div>
            </div>
          {% endif %}
          {{ content_bottom }}
        </div>
      </div>
    </div>
  </div>
  {{ contact_buyer }}
  {{ footer }}
  {% if separate_view is defined and separate_view %}
</div>
{% endif %}
<div class="hidden hidden-set_buyer_group">
  <div class="form-inline text-center" style="margin: 0 15px">
    <div class="form-group">
      <label for="input_buyer_group_id"> Group </label>
      <select class="form-control" style="" id="input_buyer_group_id">
        <option value="">{{ text_no_group }}</option>
        {% for buyer_group in buyer_groups %}
          <option value="{{ buyer_group.buyer_group_id }}" {{ buyer_group.is_default?'selected':'' }}>
            {{ buyer_group.name ~ (buyer_group.is_default?'(Default)':'') }}</option>
        {% endfor %} }}
      </select>
    </div>

  </div>

</div>
<script>
  var tableData = {{ (tableData|json_encode|raw) }};
  var groupContactFilter = {{ (groupContactFilter|json_encode|raw) }};

  function contactGroupBuyer() {
    var buyerIds = [];
    //全选
    if ($('[name="selectAll"]:checked').length > 0) {
      $.ajax({
        type: 'POST',
        url: '{{ groupContactAction }}',
        data: {groupContactFilter: groupContactFilter},
        async: false,
        success: function (response) {
          buyerIds = response.buyerIds;
        },
      });
    } else {
      $('input[name="buyerCheckBox"]:checked').each(function (i, e) {
        var data = tableData[$(e).val()];
        if (data && data.coop_status_seller == 1) {
          buyerIds.push(data.buyer_id);
        } else {
          $(e).removeAttr('checked');
        }
      });
    }
    if (buyerIds.length == 0) {
      layerMsg('{{ error_choose_checkboxes }}', 1500);
      return;
    }
    $('input[name="buyerCheckBox"]:checked').each(function (i, e) {
      var data = tableData[$(e).val()];
      if (buyerIds.indexOf(data.buyer_id) == -1) {
        $(e).removeAttr('checked');
      }
    });
    $.ajax({
      type: 'POST',
      url: 'index.php?route=account/customerpartner/buyer_management/list/addMessage',
      data: {
        receiver_id: buyerIds.join(',')
      },
      async: false,
      success: function (response) {
        if (parseInt(response.error) == 0) {
          location.href = 'index.php?route=message/seller/addMessage'
        }
      },
    });

    // var title='Contact ' + buyerIds.length + ' buyers';
    // location.href = 'index.php?route=message/seller/addMessage&receiver_id=' + buyerIds.join(',');
    // showMsgBox(buyerIds.join(','),title);
  }

  function func_one_contact(buyer_id)
  {
    $.ajax({
      type: 'POST',
      url: 'index.php?route=account/customerpartner/buyer_management/list/addMessage',
      data:{
        receiver_id:buyer_id
      },
      async: false,
      success: function (response) {
        if(parseInt(response.error)==0){
          location.href = 'index.php?route=message/seller/addMessage'
        }
      },
    });
  }

  $('#input-filter-date_added_from').datetimepicker({
    pickDate: true,
    pickTime: true,
    format: 'YYYY-MM-DD 00:00:00'
  });
  $('#input-filter-date_added_to').datetimepicker({
    pickDate: true,
    pickTime: true,
    format: 'YYYY-MM-DD 23:59:59'
  });

  function filterData(button) {
    $(button).button('loading');
    let url = "index.php?route=account/customerpartner/buyers";
    // customer name
    let filter_buyer_name = $("#input-filter-buyer-name").val();
    if (filter_buyer_name) {
      url += "&filter_buyer_name=" + filter_buyer_name;
    }
    // email
    let filter_status = $("#input-filter-status").val();
    if (filter_status) {
      url += "&filter_status=" + filter_status;
    }
    // Buyer Group
    let filter_buyer_group_id = $("#input-filter-buyer_groups").val();
    if (filter_buyer_group_id) {
      url += "&filter_buyer_group_id=" + filter_buyer_group_id;
    }

    //Date add from
    let filter_date_added_from = $("#input-filter-date_added_from").val();
    if (filter_date_added_from) {
      url += "&filter_date_added_from=" + filter_date_added_from;
    }
    let filter_date_added_to = $("#input-filter-date_added_to").val();
    if (filter_date_added_to) {
      url += "&filter_date_added_to=" + filter_date_added_to;
    }
    location = url;
  }

  function func_download(button) {
    let url = "index.php?route=account/customerpartner/buyers/download";
    // customer name
    let filter_buyer_name = $("#input-filter-buyer-name").val();
    if (filter_buyer_name) {
      url += "&filter_buyer_name=" + filter_buyer_name;
    }
    // email
    let filter_status = $("#input-filter-status").val();
    if (filter_status) {
      url += "&filter_status=" + filter_status;
    }
    // Buyer Group
    let filter_buyer_group_id = $("#input-filter-buyer_groups").val();
    if (filter_buyer_group_id) {
      url += "&filter_buyer_group_id=" + filter_buyer_group_id;
    }

    //Date add from
    let filter_date_added_from = $("#input-filter-date_added_from").val();
    if (filter_date_added_from) {
      url += "&filter_date_added_from=" + filter_date_added_from;
    }
    let filter_date_added_to = $("#input-filter-date_added_to").val();
    if (filter_date_added_to) {
      url += "&filter_date_added_to=" + filter_date_added_to;
    }
    location = url;
  }

  function func_status_change(_this) {
    let ele_buyer_group = $(_this).parent().parent().find("select[name='buyer_group_id']");
    if ($(_this).val() == 1) {
      ele_buyer_group.removeAttr("disabled");
    } else {
      ele_buyer_group.prop("disabled", true);
    }
    ele_buyer_group.val(0);
  }

  function edit(id) {
    // 显示编辑
    $("#" + id + " .form-edit").css("display", "block");
    $("#" + id + " .btn-form-edit").css("display", "inline-block");
    // 隐藏展示
    $("#" + id + " .form-display").css("display", "none");
    $("#" + id + " .btn-form-display").css("display", "none");
  }

  function save(id, button) {
    var data = {};
    var formData = $("#" + id + " .form-edit");
    if (formData !== undefined) {
      for (var i = 0; i < formData.length; i++) {
        data[formData[i].name] = formData[i].value;
      }
    }
    {#if (data["discount"] !== undefined) {#}
    {#var discount = data['discount'] = parseFloat(data["discount"] || 0);#}
    {#if (discount <= 0 || discount > 1) {#}
    {#layerMsg("{{ error_save_discount }}", 1800);#}
    {#return;#}
    {#}#}
    {#}#}

    let buyer_groups_arr = data.buyer_group_id.split('_', 2);
    data.buyer_group_id = buyer_groups_arr[0];
    buyer_group_name = buyer_groups_arr[1];

    data[$("#" + id + " input[name='id']")[0].name] = $("#" + id + " input[name='id']")[0].value;
    let origin_buyer_group_id = $("#" + id + " input[name='origin_buyer_group_id']").val();
    let origin_buyer_group_name = $("#" + id + " input[name='origin_buyer_group_name']").val();

    let is_alert = false;
    let alert_lay = {};

    if (data.coop_status_seller == 0) {
      is_alert = true;
      alert_lay = {
        area: ['450px', '220px'],
        title: '{{ text_set_status_0_layer_title }}',
        content: '{{ text_set_status_0_content_single }}',
      };
    } else {
      // 组发生变动
      if (origin_buyer_group_id != data.buyer_group_id && data.buyer_group_id != 0 && data.buyer_group_id != '') {
        is_alert = true;
        alert_lay = {
          area: 'auto',
          title: 'Message',
          content: '{{ alert_change_group }}',
        };
        if (data.buyer_group_id) {
          let alert_msg = '{{ alert_change_group }}';
          alert_lay.content = alert_msg.replace('_group_name_', buyer_group_name);
        } else {
          let alert_msg = '{{ alert_remove_group }}';
          alert_lay.content = alert_msg.replace('_group_name_', origin_buyer_group_name);
        }
      }
    }

    if (is_alert) {
      let saveClickFlag = false;
      layer.open({
        type: 1,
        shadeClose: false,
        scrollbar: false,
        resize: false,
        closeBtn: 0,
        id: 'LAY_layuipro1',
        skin: 'yzc_layer',
        area: alert_lay.area,
        title: alert_lay.title,
        content: alert_lay.content,
        btn: ['Yes', 'No'],
        yes: function (layerIndex, layerObj) {
          if (saveClickFlag) {
            return;
          }
          saveClickFlag = true;
          save_ajax(data, button);
        },
        btn2: function (index, layerObj) {
          layerMsg('Cancel', 1500);
        }
      });
    } else {
      save_ajax(data, button);
    }
  }

  function save_ajax(data, button) {
    $.ajax({
      url: 'index.php?route=account/customerpartner/buyers/update',
      type: 'post',
      dataType: 'json',
      data: data,
      beforeSend: function () {
        $(button).button('loading');
        layer.load(0, {scrollbar: false});
      },
      success: function (json) {
        layerMsg(json.msg);
        if (json.error == 0) {
          setTimeout(function () {
            window.location.reload();
          }, 2000)
        } else if (json.error == 5) {
          alert(json.msg);
          window.location.reload();
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        layer.closeAll();
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        $(button).button('reset');
      }
    });
  }

  function back(id) {
    $("#" + id + " .form-display").css("display", "block");
    $("#" + id + " .btn-form-display").css("display", "inline-block");
    $("#" + id + " .form-edit").css("display", "none");
    $("#" + id + " .btn-form-edit").css("display", "none");
  }

  // 全选
  $('input[name="selectAll"]').click(function () {
    if ($(this).is(':checked')) {
      $('input[name="buyerCheckBox"]').each(function () {
        //此处如果用attr，会出现第三次失效的情况
        if (!$(this).prop('disabled')) {
          $(this).prop("checked", true);
        }
      });
    } else {
      $('input[name="buyerCheckBox"]').each(function () {
        if (!$(this).prop('disabled')) {
          $(this).removeAttr("checked", false);
        }
      });
    }
  });

  $("#set-buyer_group").click(function () {
    let checkboxData = getSelectedCheckbox();
    if (checkboxData.total === 0) {
      layerMsg('{{ error_choose_checkboxes }}', 1500);
      return;
    }

    let data = {ids: checkboxData.ids, buyer_group_id: 0};

    let lay = {};
    lay.layTitle = '{{ text_set_buyer_group }}';
    lay.alertMsg = '{{ alert_set_buyer_group }}';
    lay.layContent = $(".hidden-set_buyer_group").html() +
      '<div align="center" style="margin: 0 15px 15px 10px">' +
      '<span style="color: red"> ' + lay.alertMsg.replace('_count_', checkboxData.total) + ' </span>' +
      '</div>';
    lay.layBtn = ['Save', 'Cancel'];
    lay.area = ['auto', 'auto'];
    let saveClickFlag = false;
    layer.open({
      type: 1,
      shadeClose: false,
      closeBtn: 0,
      id: 'LAY_layuipro',
      skin: 'yzc_layer',
      area: lay.area,
      title: lay.layTitle,
      content: lay.layContent,
      btn: lay.layBtn,
      yes: function (layerIndex, layerObj) {
        if (saveClickFlag) {
          return;
        }
        saveClickFlag = true;
        data.buyer_group_id = $(layerObj).find("select").val();
        $.ajax({
          url: 'index.php?route=account/customerpartner/buyers/batchSetGroup',
          type: 'post',
          dataType: 'json',
          data: data,
          beforeSend: function () {
            layer.load();
          },
          success: function (json) {
            layer.close(layerIndex);
            layer.closeAll('loading');
            layerMsg(json.msg, 2000);
            if (json.error == 0) {
              window.location.reload();
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });
      },
      btn2: function (index, layerObj) {
        layerMsg('Cancel');
      }
    });
  });

  //Set Discount
  {#$("#set-discount").click(function () {#}
  {#let checkboxData = getSelectedCheckbox();#}
  {#if (checkboxData.total === 0) {#}
  {#layerMsg('{{ error_choose_checkboxes }}', 1500);#}
  {#return;#}
  {#}#}

  {#let data = {ids: checkboxData.ids, type: 1, discount: ''};#}
  {#let text_set_discount_content = '{{ text_set_discount_content }}';#}

  {#let lay = {};#}
  {#lay.layTitle = '{{ text_set_discount_layer_title }}';#}
  {#lay.layContent = '<div align="center" style="margin-top: 10px">' +#}
  {#'<span class="text-center">Modified discount:  <input type="number" id="input_discount" max="1" min="0.1" step="0.1"></span> <br>' +#}
  {#'<span style="color: red">' + text_set_discount_content.replace('#', checkboxData.total) + ' </span>' +#}
  {#'</div>';#}
  {#lay.layBtn = ['Save', 'Cancel'];#}
  {#lay.area = ['300px', '170px'];#}
  {#layerOpen(data, lay);#}
  {#});#}

  // Set Status
  $(".set-status").click(function () {
    let checkboxData = getSelectedCheckbox();
    if (checkboxData.total === 0) {
      layerMsg('{{ error_choose_checkboxes }}', 1500);
      return;
    }

    let data = {ids: checkboxData.ids, type: 2};

    let lay = {};
    let content = '{{ text_set_status_1_content }}';
    lay.layTitle = '{{ text_set_status_1_layer_title }}';
    lay.area = ['300px', '160px'];

    if ($(this).attr('data-type') == "0") {
      data.type = 3;
      lay.layTitle = '{{ text_set_status_0_layer_title }}';
      content = '{{ text_set_status_0_content }}';
      lay.area = ['450px', '220px'];
    }

    lay.layContent = '<div align="center" style="margin-top: 13px">' +
      '<span>' + content.replace('#', checkboxData.total) + '</span>' +
      '</div>';
    lay.layBtn = ['Yes', 'No'];

    layerOpen(data, lay);
  });

  function layerOpen(data, lay) {
    let saveClickFlag = false;
    layer.open({
      type: 1,
      shadeClose: false,
      closeBtn: 0,
      id: 'LAY_layuipro',
      skin: 'yzc_layer',
      area: lay.area,
      title: lay.layTitle,
      content: lay.layContent,
      btn: lay.layBtn,
      yes: function (layerIndex, layerObj) {
        if (saveClickFlag) {
          return;
        }
        saveClickFlag = true;

        if (data.type === 1) { //如果是set_discount
          data.discount = $("#input_discount").val();
          if (data.discount == '' || data.discount == 0 || data.discount === undefined) {
            layerMsg('{{ error_enter_discount }}', 1500);
            saveClickFlag = false;
            return;
          }
        }
        setRequestToServer(data, layerIndex);
      },
      btn2: function (index, layerObj) {
        layerMsg('Cancel');
      }
    });
  }

  function getSelectedCheckbox() {
    let data = {ids: '', total: 0};
    $('input[name="buyerCheckBox"]').each(function () {
      if ($(this).is(':checked')) {
        data.ids += '_' + $(this).val();
        data.total++;
      }
    });
    return data;
  }

  function setRequestToServer(data, layerIndex) {
    $.ajax({
      url: 'index.php?route=account/customerpartner/buyers/batchUpdate',
      type: 'post',
      dataType: 'json',
      data: data,
      beforeSend: function () {
        layer.load();
      },
      success: function (json) {
        layer.close(layerIndex);
        layer.closeAll('loading');
        layerMsg(json.msg, 2000);
        if (json.code == 1) {
          window.location.reload();
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

  function layerMsg(message, time = 2000) {
    layer.msg(message, {time: time});
  }

  function refine(data_id) {
    window.location.href = '{{ url_delicacy_management }}' + '&buyer_id=' + data_id;
  }


</script>
