</div>
  {{ notification_window }}
  {{ message_window }}
<style>
    /*计算器的漂浮*/
    .calc-con{
      position: relative;
      display: flex;
      width: 48px;
      margin-bottom: 4px;
    }
    .calc-con:hover{
      cursor: pointer;
    }
    .giga.icon-jisuanqi{
      font-size: 33px;
      color: #fff;
      display: inline-block;
      background: rgba(58,117,220,0.8);
      width: 48px;
      height: 48px;
      text-align: center;
      border-radius: 4px;

    }
    .right-suspension {
      position: fixed;
      right: 32px;
      bottom: 250px;
      width: 48px;
      z-index: 110;
    }

    .suspension-btn {
      position: relative;
      width: 48px;
      color: #FFF;
      text-align: center;
      vertical-align: bottom;
      background-color: #ff944d;
      border-radius: 2px;
      flex-direction: row-reverse;
      display: flex;
      align-items: center;
      border-radius: 4px;
      margin-bottom: 4px;
    }

    .suspension-btn:hover {
      cursor: pointer;
      color: #fff;
      animation-name: slideright;
      animation-duration: .5s;
      width: 168px;
      right: 120px;
      background-color: #ff7e29;
    }
    .suspension-btn:hover .des-text {
      display: block;
    }

    .suspension-btn .message-icon {
      min-width: 48px;
      width: 48px;
      height: 48px;
      padding-top: 2px;
    }

    .suspension-btn i {
      font-size: 32px;
      color: #fff;
    }

    .suspension-btn .des-text {
      text-align: center;
      width: 132px;
      height: 48px;
      line-height: 48px;
      display: none;
    }
</style>
<div class="right-suspension">
  {# Seller联系平台客服 #}
  {% if is_show_customer_service %}
  <a href="{{ url('account/ticket/lists') }}" target="_blank" data-cnzz-event="页面左侧|Ft_Customer Service">
      <div id="submit-ticket-left" class="suspension-btn tracking-ticket flex-layout">
        <div class="message-icon">
            <i class="giga icon-V10_shouyekefutubiao-01"></i>
        </div>
        <div class="des-text"> Customer Service</div>
      </div>
  </a>
  {% endif %}
  {# 平台客服页面专用悬浮框 #}
  <a class="onlineChatPlatformTrigger" style="display: none">
    <div class="tracking-page-navigate-container">
      <div class="suspension-btn flex-layout">
        <div class="message-icon">
          <i class="giga icon-V10_yushangjialianxi"></i>
        </div>
        <div class="des-text">Online Service</div>
      </div>
    </div>
  </a>
</div>
<script type="text/javascript">
  $("table input[type='checkbox']").change(function () {
    let bottom_detail = $(".bottom-action-detail");
    let show_text = bottom_detail.data('title') || 'Selected';
    var num = $("input[name^='selected']:checked").length;
    var msg = "";
    if (num > 0) {
      msg = show_text.concat(" (", num, ")");
    }
    bottom_detail.text(msg);
  });
  function selectOneRow(checkbox) {
    if ($(checkbox).is(':checked')) {
      $(checkbox).parentsUntil('tr').parent().addClass('selected');
    } else {
      $(checkbox).parentsUntil('table').parent().find('thead tr input[type="checkbox"]').prop('checked', false);
      $(checkbox).parentsUntil('tr').parent().removeClass('selected');
    }
  }
  function selectAllRow(checkbox) {
    var checked = $(checkbox).is(":checked");
    if (checked) {
      var length = $("input[name^='selected']").length;
      for(var i=0;i<length;i++){
        if($("input[name^='selected']")[i].disabled == false){
          $("input[name^='selected']").eq(i).prop('checked',true);
          $("input[name^='selected']").eq(i).parentsUntil("tr").parent().addClass("selected");
        }
      }
    } else {
      $("input[name^='selected']").prop("checked", false);//取消全选
      $("input[name^='selected']").parentsUntil("tr").parent().removeClass("selected");
    }
  }

  $(function () {
    if ($.fn.bootstrapTable) {
      $.extend($.fn.bootstrapTable.defaults, {
        classes: 'table table-hover',
        paginationHAlign: 'left',
        paginationDetailHAlign: 'right'
      });
    }
  });
  // wangzen
  $("body").delegate(".doHidenSelect li", 'click', function () {
    let value = $(this).data("value");
    let selectName = $(this).parent('ul').data("name");
    $("select[name=\'" + selectName + "\']").val(value);
  });
  if (typeof layer !== 'undefined') {
    layer.config({
      extend: 'yzc/style.css'
    })
  }
  // wangjinxin
  $("body").delegate(".flag-hover", 'click', function () {
    let value = $(this).find('span').data("href");
    if (!value) return;
    let a = $('<a></a>');
    a.attr('href', value);
    a.attr('style', 'display:none');
    a.attr('target', '_blank');
    $('body').append(a);
    a[0].click();
  });
</script>
{{ widget('PhoneNeedVerifyNoticeWidget') }}
{{ widget('VatBuyerPopupWidget') }}
{{ widget('ThirdPart\\CnzzAnalysisWidget') }}
{{ widget('ThirdPart\\SevenMoorWidget') }}
{{ this.endBody() }}
</body>
</html>
