<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8"/>
  <title>{{ this.getTitle() }}</title>
  <base href="{{ base }}"/>
  {% if description %}
    <meta name="description" content="{{ description }}"/>
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}"/>
  {% endif %}
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
  <script type="text/javascript" src="admin/view/javascript/jquery/jquery-2.1.1.min.js"></script>
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="admin/view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
  {% if direction == 'rtl' %}
    <link href="admin/view/stylesheet/bootstrap-a.css" rel="stylesheet" media="screen"/>
    <link type="text/css" href="admin/view/stylesheet/stylesheet-a.css" rel="stylesheet" media="screen"/>
  {% else %}
    <link href="admin/view/stylesheet/bootstrap.css" rel="stylesheet" media="screen"/>
    <link type="text/css" href="admin/view/stylesheet/stylesheet.css?v={{ app_version }}" rel="stylesheet"
          media="screen"/>
  {% endif %}
  <script src="admin/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
  <script src="admin/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"
          type="text/javascript"></script>
  <script src="admin/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"
          type="text/javascript"></script>
  <link href="admin/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css"
        rel="stylesheet" media="screen"/>

  {#<link rel="stylesheet" type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/diyUpload/css/webuploader.css">#}

  {#<link rel="stylesheet" type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/diyUpload/css/diyUpload.css">#}

  {#<script type="text/javascript" src="catalog/view/javascript/diyUpload/js/webuploader.html5only.min.js"></script>#}
  <script type="text/javascript" src="catalog/view/javascript/diyUpload/js/vue.min.js"></script>
  {% for style in styles %}
    <link type="text/css" href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}"/>
  {% endfor %}
  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}"/>
  {% endfor %}
  <script src="catalog/view/javascript/wk_common2.js" type="text/javascript"></script>
  <script src="catalog/view/javascript/common.js?v={{ app_version }}" type="text/javascript"></script>
  {% for script in scripts %}
    <script type="text/javascript" src="{{ script }}"></script>
  {% endfor %}
  <link type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/MP/separate_seller.css?v={{ app_version }}"
        rel="stylesheet" media="screen"/>
  <link type="text/css" href="admin/view/stylesheet/stylesheet_giga.css?v={{ app_version }}" rel="stylesheet"
        media="screen"/>{#B2B页面改版 样式覆盖#}
  <link type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/seller/style.css?v={{ app_version }}"
        rel="stylesheet" media="screen"/>
  <link type="text/css" href="/public/fonts/giga/iconfont.css?v={{ app_version }}" rel="stylesheet">{#B2B页面改版 图标字体#}
  <link type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/fonts/gcl/iconfont.css?v={{ app_version }}"
        rel="stylesheet">{#B2B页面改版 图标字体#}
  {#  toast#}
  <link href="catalog/view/javascript/toast/jquery.toast.min.css" rel="stylesheet" type="text/css"/>
  <link href="catalog/view/javascript/toast/jquery.toast.update.css" rel="stylesheet" type="text/css"/>
  <script src="catalog/view/javascript/toast/jquery.toast.min.js" type="text/javascript"></script>
  {#  toast#}

  {{ this.head() }}
</head>
{% if notification is defined and notification %}
  {{ notification }}
{% endif %}
<style>
  .seller-central{
    font-size: 20px;
    color: #333;
    font-weight: 700;
    line-height: 50px;
    margin-left: 10px;
  }
  .seller-central:hover,
  .seller-central:focus,
  .seller-central:hover i{
    color: #3A75DC;
  }
  .seller-central i{
    color: #999;
    font-size: 12px;
    vertical-align: top;
  }
  #header .navbar-right {
    margin-right: 0;
    display: flex;
    align-items: center;
    height: 55px;
  }

  .navbar-right > .nav-list > .screen-name{
    display: flex !important;
    align-items: center;
  }
  .navbar-right > .nav-list > .screen-name .store-img{
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 50%;
  }
  .navbar-right > .nav-list > .screen-name .store-img .giga{
    font-size: 40px;
    color: #c7c7c7;
  }
  .price-calc{
    height: 40px;
    line-height: 30px;
  }
  .price-calculator .calc-title a{
    color: #333;
    cursor: pointer;
  }
  .price-calculator:hover .calc-title a{
    color: #375acd;
    cursor: pointer;
  }
  .price-calculator-a{
    display: block;
    padding: 11px 15px;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    height: 38px;
    line-height: 16px;
  }
  .price-calculator-a:hover{
    color: #fff;
    background: #375ACD !important;
  }
  .price-border-bottom{
    border-bottom: 1px solid #EEEEEE;
  }
  .store-flex{
    display: flex;
    flex-direction: column;
  }
  .store-name{
    line-height: 15px;
    font-size: 12px;
    max-width: 87px;
  }
  .store-code{
    color: #999;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    max-width: 87px;
  }
  .divider-line{
    font-size: 16px;
    color: #eeeeee;
    margin: 0 12px;
  }
  .transform-icon{
    transform: rotate(180deg);
  }
  .pd-r-24{
    padding-right: 24px !important;
  }
  .header-pop-up{
    margin-top: 10px;
  }
  .header-pop-up:before, .header-pop-up:after{
    left: unset;
    right: 24px;
  }
  #header .navbar-right{
    position: absolute;
    right: 0;
    top: 0;
  }
  @media screen and (max-width: 1200px) {
    #header{
      width: 1200px !important;
    }
  }
  .navbar-right{
    float: unset !important;
  }
  .price-calculator-header-pop-up{
    width: max-content !important;
    margin-left: 0 !important;
    transform: translate(-50%, 0);
    left: 52% !important;
  }
  .price-calculator-header-pop-up:before, .price-calculator-header-pop-up:after{
    left: unset;
    right: calc(50% - 7px) !important;
  }
  .a-pointer{
    cursor: pointer;
  }
  .shop-navigation .header-pop-up{
    left: unset !important;
    right: 24px !important;
  }
  #header .nav > li,#header .nav > li > a{
    font-size: 14px !important;
  }
</style>
<body>
{{ this.beginBody() }}
<div id="container">
  <header id="header" class="navbar navbar-static-top">
    <div id="header-logo" class="navbar-header">
      <a href="{{ url('common/home') }}" class="navbar-brand">
        <img src="{{ logo }}?v={{ app_version }}" alt="{{ name }}" title="{{ name }}" style="max-height: 42px;"/>
        <span class="hidden">{{ name }}</span>
      </a>
    </div>
      <a class="seller-central" href="{{ url('customerpartner/seller_center/index') }}" data-cnzz-event="后台头部|TN_sellername_sellercentral">
        {{ __('个人中心', {}, 'common/header') }}
        <i class="giga icon-V10_youjiantougengduo"></i>
      </a>
    <a id="button-menu">
      <span class="fa fa-bars"></span>
    </a>
    {% if logged %}
      <ul class="nav navbar-nav navbar-right">
        {{ unread_notice }}
        {% if asktoadmin is defined and asktoadmin %}
          <li>
            <a data-toggle="modal" data-target="#myModal-seller-mail" title="{{ text_ask }}">
              <i class="giga icon-V10-wenhaotishi"></i>2
            </a>
          </li>
        {% endif %}

        {{ contact_unread }}

        {% if notification is defined and notification %}
          <li data-toggle="tooltip" data-placement="bottom" title="{{ text_notification }}">
            <a id="notification" data-toggle="modal" data-target="#myModal-notification"><img
                src="admin/view/image/notify.png"></a>
          </li>
        {% endif %}

        {#home#}
        <li class="nav-list">
          <a href="{{ url('common/home') }}" target="_blank" data-cnzz-event="后台头部|TN_home">{{ __('主页', {}, 'common/header') }}</a>
        </li>
        <li class="nav-list">
          <a href="{{ url('customerpartner/profile', {'id': customerId }) }}" target="_blank"
             data-cnzz-event="后台头部|TN_sellername_mystore">{{ __('我的店铺', {}, 'common/header') }}</a>
        </li>
        {#helpcenter#}
        <li class="nav-list">
          <a href="{{ url('information/information') }}" target="_blank" data-cnzz-event="后台头部|TN_helpcenter"> {{ __('帮助中心', {}, 'common/header') }}</a>
        </li>
        {#calculator#}
        {% if is_show_sidebar %}
        <li class="nav-list price-calc">
          <div class="price-calculator">
            <div class="calc-title">
              <a class="a-pointer">{{ __('计算器', {}, 'common/header') }}</a>
            </div>
            <div class="header-pop-up price-calculator-header-pop-up">
              <div class="placeholder-div"></div>
              <div class="header-pop-up-list">
                {% if is_show_calculator_freight %}
                  <a
                          href="{{ url('account/customerpartner/calculator/freight') }}"
                          target="_blank" class="price-calculator-a price-border-bottom">
                    {{ __('物流计算器', {}, 'common') }}
                  </a>
                {% endif %}
                <a
                        href="{{ url('account/customerpartner/sidebar/price_calculator') }}"
                        target="_blank"
                        class="price-calculator-a">
                  {{ __('定价计算器', {}, 'common') }}
                </a>
              </div>
            </div>
          </div>
        </li>
        {% endif %}
        <span class="divider-line">|</span>
        {#店铺#}
        <li class="nav-list menu shop-navigation pd-r-24" style="border-right: 1px solid #F2F2F2;position: relative;">

          <a class="screen-name" data-original-title="" title="{{ screenname }}">
            <div class="store-img">
              {% if image %}
                <img src="{{ image }}" alt="" width="100%" />
              {% else %}
                <i class="giga icon-buyer_Avatar_buyer_default-01"></i>
              {% endif %}
            </div>
            <div class="store-flex">
              <div class="store-name">{{ screenname }} </div>
              <div class="store-code">{{ username }}</div>
            </div>
            <i class="gcl gcliup" style="font-size: 12px;color: #ccc;margin-left: 8px" id="trangle"></i>
          </a>
          <div class="header-pop-up">
            <div class="placeholder-div"></div>
            <div class="header-pop-up-list">
              <ul id="menu_ul">
                <li>
                  <a href="{{ url('account/account_setting') }}" target="_blank"
                     data-cnzz-event="后台头部|TN_sellername_accountsettings">
                    <i class="giga icon-shezhi"></i>{{ __('账户设置', {}, 'common/header') }}
                  </a>
                </li>
                <li>
                  {{ widget('LangChangeWidget') }}
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{ url('account/logout',{'to_login': 1}) }}" data-cnzz-event="后台头部|TN_sellername_logout">
                    <i class="giga icon-Group-2"></i> {{ __('退出', {}, 'common/header') }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    {% endif %}
  </header>

  {% if logged %}
    <div class="modal fade" id="myModal-seller-mail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">{{ text_close }}</span>
            </button>
            <h3 class="modal-title">{{ text_ask_question }}</h3>
          </div>
          <form id="seller-mail-form">
            <div class="modal-body">
              <div class="form-group required">
                <label class="control-label" for="input-subject">{{ text_subject }}</label>
                <input type="text" name="subject" id="input-subject" class="form-control"/>
                {% if partner is defined %}
                  <input type="hidden" name="seller" value="{{ seller_id }}"/>
                {% endif %}
              </div>
              <div class="form-group required">
                <label class="control-label" for="input-message">{{ text_ask }}</label>
                <textarea class="form-control" name="message" rows="3" id="input-message"></textarea>
              </div>
              <div class="error text-center text-danger"></div>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
            <button type="button" class="btn btn-primary btn-submit" id="send-mail">{{ text_send }}</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  {% endif %}
  <script>
    $(".shop-navigation").hover( function () {
      var display = $(this).find(".header-pop-up").css("display")
      if (display == 'none') {
        $(this).find(".header-pop-up").show()
        $('#trangle').addClass('transform-icon');
      } else {
        $(this).find(".header-pop-up").hide();
        $('#trangle').removeClass('transform-icon')
      }

    });
    $(document).bind('click', function (event) {
      var evt = event.srcElement ? event.srcElement : event.target;
      evt = $(evt);
      if (evt.hasClass("shop-navigation") || evt.parents(".shop-navigation").length != 0
      ||evt.hasClass("price-calc") || evt.parents(".price-calc").length != 0) return;
      else {
        $("body").find("#header .header-pop-up").hide();
      }
      ;
    });
    // 计算器
    $("body .price-calc").hover( function () {
      var display = $(this).find(".price-calculator-header-pop-up").css("display");
      if (display == 'none') {
        $(this).find(".price-calculator-header-pop-up").show()
      } else {
        $(this).find(".price-calculator-header-pop-up").hide();
      }

    });
  </script>
  <script>
    {% if logged %}
    $('#send-mail').on('click', function () {
      f = 0;
      $('.alert').remove();
      $('#myModal-seller-mail input[type=\'text\'],#myModal-seller-mail textarea').each(function () {
        if ($(this).val() == '') {
          $(this).parent().addClass('has-error');
          f++;
        } else {
          $(this).parent().removeClass('has-error');
        }
      });

      if (f > 0) {
        $('#myModal-seller-mail .error').text('{{ text_error_mail }}').slideDown('slow').delay(2000).slideUp('slow');
      } else {
        $('#send-mail').addClass('disabled');
        $('#myModal-seller-mail').addClass('mail-procss');
        $('.alert-success').remove();
        $('#myModal-seller-mail .modal-body').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i>       {{ text_success_mail }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        $.ajax({
          url: "{{ url('account/customerpartner/sendmail') }}",
          data: $('#seller-mail-form').serialize() + '&contact_admin=true',
          type: 'post',
          dataType: 'json',
          complete: function () {
            $('#send-mail').removeClass('disabled');
            $('#myModal-seller-mail input,#myModal-seller-mail textarea').each(function () {
              if (this.type != 'hidden') {
                $(this).val('');
                $(this).text('');
              }
            });
          }
        });
      }
    });{% endif %}
  </script>
