{{ header }}{{ separate_column_left }}
{% if separate_view is defined and separate_view %}
<div class="container-fluid" id="content" style="margin-left: 18%">
    {% else %}
    <div class="container">
        {% endif %}
  <div>
      {% if column_left and column_right %}
          {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
          {% set class = 'col-sm-9' %}
      {% else %}
          {% set class = 'col-sm-12' %}
      {% endif %}
  <div>
      <div>
          <ul class="breadcrumb">
              {% for breadcrumb in breadcrumbs %}
                  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
              {% endfor %}
          </ul>
          <h1>Brand Center
              <div class="pull-right">
                  <button id="form_submit_button" data-toggle="tooltip" title="{{ button_save }}"
                          class="btn btn-primary"><i class="fa fa-save"></i></button>
                  <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_back_text }}" class="btn btn-default"><i
                              class="fa fa-reply"></i></a></div>
          </h1>
      </div>
  </div>
  <div> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-manufacturer" class="form-horizontal">
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                  {% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %}</div>
              </div>
              <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-image"><span data-toggle="tooltip" title="{{ help_brand_image }}">{{ entry_image }}<i class="giga icon-V10-wenhaotishi"></i></span></label>
                <div class="col-sm-10">
                    <a href="" id="thumb-image0" data-toggle="imageForAddAndRemove" class="img-thumbnail"><img src="{{ thumb }}" id= "img0" alt="" title="" data-placeholder="{{ placeholder }}"  style="height:90px;width: 120px"/></a>
                  <input type="file" name="brandImage" value="" id="imageAdd0" accept="image/*" style="display: none" onchange="showImg(this)"/>
                    {% if error_image %}
                        <div class="text-danger">{{ error_image }}</div>
                    {% endif %}
                </div>
              </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_brand_change }}">{{ entry_change_brand }}<i class="giga icon-V10-wenhaotishi"></i></span></label>
                    <div class="col-sm-10">
                        <div>
                                <div class="checkbox">
                                    {% if can_brand == 1 %}
                                    <input type="radio" name="can_brand" value="0"><p>NO</p>
                                    <input type="radio" name="can_brand" value="1" checked><p>YES</p>
                                    {% elseif can_brand == 0 %}
                                    <input type="radio" name="can_brand" value="0" checked><p>NO</p>
                                    <input type="radio" name="can_brand" value="1"><p>YES</p>
                                    {% else %}
                                    <input type="radio" name="can_brand" value="0"><p>NO</p>
                                    <input type="radio" name="can_brand" value="1"><p>YES</p>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
{{ footer }}
  <style>
    .checkbox input{
      margin-left: 15px;
    }
    .checkbox p{
      display: inline-block;
      padding-top: 5px;
      padding-left: 5px;
      position: relative;
      top: -3px;
    }
  </style>
<script>
    function showImg(e){
        var newsrc=getObjectURL(e.files[0]);
        var id = e.id;
        var pattern = new RegExp("[0-9]+");
        var imgRow = id.match(pattern);
        var reader = new FileReader();
        reader.onload = function(theFile) {
            var image = new Image();
            image.onload = function() {
                var width=this.width;
                var height=this.height;
                if(!(width/height ==6/4 || width/height == 4/6)){
                    $('#imageAdd'+imgRow).value= null;
                    var file = document.getElementById('imageAdd'+imgRow);
                    file.value = '';
                  alert("{{ help_brand_image }}");
                }else{
                $('#img'+imgRow).attr("src",newsrc);
                }
            };
            image.src = theFile.target.result;
        }
        reader.readAsDataURL(e.files[0]);
    }
    function getObjectURL(file) {
        var url = null ;
        if (window.createObjectURL!=undefined) {
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) {
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) {
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }
    $(function () {
       $('#form_submit_button').on('click',function () {
          $(this).button('loading');
          $('#form-manufacturer').submit();
       })
    })
</script>
</div>