{{ header }}{{ separate_column_left }}
<style>
  .row .form-group input:not([type=checkbox]):not([type=radio]),
  .row .form-group select {
    height: 40px !important;
    border-radius: 4px !important;
    background-color: #fff;
      border: 1px solid #ddd;
      box-shadow: none;
  }

  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee !important;
  }

  .wrap {
    position: relative;
  }

  .select {
    width: 200px;
    height: 30px;
  }

  .options {
    width: 170px;
    position: absolute;
    left: 1px;
    top: 1px;
    height: 25px;
    border: none;
    padding-left: 10px;
  }

  .wrap select[disabled], .wrap input[disabled] {
    background-color: #eee !important;
  }

  #day0:focus, #day1:focus, #day2:focus {
    border: none;
    outline: none;
  }

  .err_info {
    color: red;
    margin: 0px;
    padding: 0px;
    display: none;
  }

  .border-red {
    border-color: red;
  }

  .select {
    width: 200px;
    height: 30px;
  }

  .options {
    width: 170px;
    position: absolute;
    left: 1px;
    top: 1px;
    height: 25px;
    border: none;
    padding-left: 10px;
  }
</style>
{% if separate_view is defined and separate_view %}
<div class="container-fluid" id="content" style="margin-left: 15%">
  {% else %}
  <div class="container">
    {% endif %}
    {{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div class="row {{ class }}">
      <div>
        <div class="page-header" style="margin: 0;border: none">
          <div class="container-fluid">
            <div>
              <ul class="breadcrumb" style="margin: 10px 0 0 0">
                {% for breadcrumb in breadcrumbs %}
                  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {# MPN和item code #}
        <div class="container-fluid"
             style="padding-top:20px;padding-bottom: 5px;margin-bottom:18px;border-bottom: 1px solid #e9e9e9">
          <div class="pull-left">
            <h2 style="margin-top: 0">{{ heading_title }}</h2>
          </div>
        </div>
        {% if curr_action=='add' %}
          <div class="container-fluid" style="padding-bottom: 5px;margin-bottom:18px;border-bottom: 1px solid #e9e9e9">
            <div class="pull-left">
              <label><i style="color: red">*</i>{{ column_form_mpn_sku }}</label>
              <div style="display: inline-block;">
                <input id="input_mpn_sku" type="text" name="input_mpn_sku" value="{{ mpn }}" class="form-control"
                       onchange="matchProduct(this)" style="width:250px;"/>
              </div>
              <div style="display: inline-block">
                <span class="error_hint" style="color:red;display: none">{{ error_no_product }}</span>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="margin-content">
          {# 产品基本信息 #}
          <div class="panel panel-primary" style="border-color: #193465;">
            <div class="panel-heading" style="background-color: #193465;color: white">
              {{ product_info }}
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th style="width: 25%;border: none;vertical-align: inherit">
                      <span style="font-weight: 400">{{ column_item_code }}/{{ column_form_mpn }}:</span>
                      <input id="input_product_id" type="text" name="input_product_id" value="{{ product_id }}"
                             style="display: none"/>
                      <span id="item_code">
                        {% if sku %}
                          {{ suk }}/{{ mpn }}
                        {% else %}
                          {#空#}
                        {% endif %}
                      </span>
                    </th>
                    <th style="width: 24%;border: none;vertical-align: inherit">
                      <span
                        style="font-weight: 400;display: inline-block;width: 40%">{{ column_form_margin_template }}:</span>
                      {% if bond_template %}
                        <select name="margin_template" id="margin_template" class="form-control"
                                style="background-color: #eee;display: inline-block;width: 50%"
                                onchange="change_margin_rate()">
                          {% for bt in bond_template %}
                            <option value="{{ bt.id }}"
                                    data-text="{{ bt.payment_ratio }}">{{ bt.margin_template }}</option>
                          {% endfor %}
                        </select>
                      {% else %}
                        <select name="margin_template" id="margin_template" class="form-control"
                                style="background-color: #eee;display: inline-block;width: 50%">
                          <option value="{{ bond_template_id }}"
                                  data-text="{{ payment_ratio }}">{{ margin_template }}</option>
                        </select>
                      {% endif %}
                      {% if clause_url %}
                        <a href="{{ clause_url }}" data-original-title="{{ button_question }}" data-toggle="tooltip"
                           target="_blank">
                          <i class="giga icon-V10-wenhaotishi" style="font-size: 13px"></i>
                        </a>
                      {% endif %}
                    </th>
                    <th style="width: 13%;border: none;vertical-align: inherit">
                      <span style="font-weight: 400">{{ column_form_margin_rate }}:</span>
                      <span id="margin_rate"> </span>
                    </th>
                    <th style="width: 17%;border: none;vertical-align: inherit">
                      <span style="font-weight: 400">{{ column_form_current_price }}:</span>
                      <span id="original_price">
                        {% if price %}
                        <span> {{ price }} </span>
                        <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="font-size: 13px;"
                           title="{{ text_current_price_tip }}">
                        {% endif %}
                      </i>
                      </span>
                    </th>
                    <th style="width: 16%;border: none;vertical-align: inherit">
                      <span style="font-weight: 400">{{ column_form_available_quantity }}:</span>
                      <span id="available_quantity">
                        {{ quantity }}
                      </span>
                    </th>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          {#现货保证金模板#}
          <div class="panel panel-primary" style="border-color: #193465;">
            <div class="panel-heading" style="background-color: #193465;color: white">
              {{ margin_tpl }}
            </div>
            <div class="panel-body">
              <div class="table-responsive form-group">
                <table id="margin_tpl" class="table table-hover">
                  <thead>
                  <tr>
                    <td class="text-center">{{ column_form_min_num }}</td>
                    <td></td>
                    <td class="text-center">{{ column_form_max_num }}</td>
                    <td class="text-center">{{ column_form_day }}</td>
                    <td class="text-center">{{ column_form_ex_price }}
                      <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="font-size: 13px;"
                         title="{{ text_ex_price_tip }}"></i>
                    </td>
                    {#定金#}
                    <td class="text-center">{{ column_form_earnest_money }}
                      <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="font-size: 13px;"
                         title="{{ column_form_earnest_money_tips }}"></i>
                    </td>
                    {#尾款#}
                    <td class="text-center">{{ column_form_tail_money_per }}
                      <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="font-size: 13px;"
                         title="{{ column_form_tail_money_per_tips }}"></i>
                    </td>
                    {#协议金额#}
                    <td class="text-center">{{ column_form_agreement_amount }}
                      <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="font-size: 13px;"
                         title="{{ column_form_agreement_amount_tips }}"></i>
                    </td>
                    <td class="text-center">{{ column_form_is_default }}</td>
                  </tr>
                  </thead>
                  <tbody>
                  {% for i in 0..2 %}
                    <tr id="no{{ i }}" data-text="0">
                      <td style="text-align: center;" id="td-min_num{{ i }}">
                        <input type="text" class="form-control" value="0" name="id{{ i }}" id="id{{ i }}"
                               style="display: none">
                        <input type="number" min="5" max="{{ quantity }}" class="form-control" name="min_num{{ i }}"
                               id="min_num{{ i }}"
                               onchange="change_data('min',this);calculate({{ i }})" disabled>
                      </td>
                      <td> ~</td>
                      <td style="text-align: center;" id="td-max_num{{ i }}">
                        <input type="number" min="5" max="{{ quantity }}" class="form-control" name="max_num{{ i }}"
                               id="max_num{{ i }}"
                               onchange="change_data('max',this);calculate({{ i }})"
                               disabled>
                      </td>
                      <td style="text-align: center;" id="td-day{{ i }}" name="td-day">
                        <div class="wrap">
                        <span style="display: inline-block;width: 100%;">
                          <select class="select" name="day{{ i }}" id="day_select{{ i }}"
                                  onchange="document.getElementById('day{{ i }}').value = this.value;change_data('day',this);calculate({{ i }})"
                                  disabled style="width: 99%;outline: none">
                              <option style="display: none"></option>
                              <option value="15">15</option>
                              <option value="30">30</option>
                          </select>
                        </span>
                          <input style="height: 36px !important;width: 85%;border: none;margin-top: 1px;margin-left: 2px" id="day{{ i }}" type="text" name="day{{ i }}"
                                 class="options" value="" placeholder="" onkeypress="keyPress(this)"
                                 onkeyup="keyUp(this)" onblur="onBlur(this)"
                                 onchange="change_data('day',this);calculate({{ i }})" disabled>
                        </div>
                      </td>
                      <td style="text-align: center;" id="td-price{{ i }}">
                        <input type="text" class="form-control" name="price{{ i }}" id="price{{ i }}"
                               onkeypress="keyPress(this)"
                               onkeyup="keyUp(this)" onblur="onBlur(this);" onchange="change_data('price',this);calculate({{ i }})"
                               disabled>
                      </td>
                      <!--定金金额 -->
                      <td style="text-align: center;">
                        <input type="text" class="form-control" name="payment_earnest{{ i }}"
                               id="payment_earnest{{ i }}"
                               disabled>
                      </td>
                      <!--尾款单价 -->
                      <td style="text-align: center;">
                        <input type="text" class="form-control" id="tail_money_per{{ i }}" disabled>
                      </td>
                      <!--模板协议金额-->
                      <td style="text-align: center;">
                        <input type="text" class="form-control" id="agreement_amount{{ i }}" disabled>
                      </td>
                      <!-- is default -->
                      <td style="text-align: center;">
                        <input type="radio" class="form-control" name="is_default" id="is_default{{ i }}"
                               style="margin: auto"
                               value="{{ i }}" {% if 0==i %} checked="checked" {% endif %}
                               disabled
                        >
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <p id="error_price_japan" class="err_info">{{ error_price_japan }}</p>
              <p id="error_min_num" class="err_info">{{ error_min_num }}</p>
              <p id="error_max_num" class="err_info">{{ error_max_num }}</p>
              <p id="error_min_max" class="err_info">{{ error_min_max }}</p>
{#              <p id="error_price" class="err_info">{{ error_price }}</p>#}
              <p id="error_price_lt_0" class="err_info">{{ error_price_lt_0 }}</p>
              <p id="error_day" class="err_info">{{ error_day }}</p>
            </div>
          </div>
          {# button #}
          <div class="save_btn_group">
            <div style="text-align: center">
              <input class="btn btn-default active" id="btn_save" type="button" value="Save" disabled/>
              <input class="btn btn-default active" id="btn_save_add" type="button" value="Save & New" disabled/>
            </div>
          </div>
          {# 协议 #}
          <div class="form-group">
            <div style="text-align: center">
              <input type="checkbox" id="margin_agree_clause" name="margin_agree_clause"/>
              {{ margin_bid_agree_text }}
              <a href="{{ clause_url }}" target="_blank">{{ clause_title }}</a>
              <span id="error_margin_agree_clause"
                    style="display: none;color: red">{{ error_margin_agree_clause }}</span>
            </div>
            <div class="err_info" id="agree_err_info" style="text-align: center;display: block;">
              {{ error_margin_agree_clause }}
            </div>
          </div>
        </div>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>

<script>
  {# wangjinxin 需求101715 #}
  var is_outer = {{ is_outer }};
  var alarm_price = {{ alarm_price }};
  {#  新增   现货保证金 #}
  let $notify = window.ELEMENT.Notification;
  let precision = Number('{{ precision }}');
  let country_id = '{{ country_id }}';

  //初始化方法
  $(function () {
      //默认的margin rate
      change_margin_rate();
    {% if curr_action=='edit' %}
      show_product_and_margin_data('{{ sku }}');
    {% endif %}
  });

  //修改协议已读
  $('#margin_agree_clause').click(function () {
      if ($(this).is(':checked')) {
          $('#agree_err_info').css('display', 'none');
      } else {
          $('#agree_err_info').css('display', 'block');
      }
      check_error();
  })

  //修改margin rate
  function change_margin_rate() {
      var sel_option_data = $('select[name="margin_template"]').find('option:selected').data('text');
      $('#margin_rate').html(sel_option_data)
  }

  function change_data(key, obj) {
      // 地区信息
      if ($(obj).val() === '') {
          $(obj).val('');
          return;
      }
      if (key == 'min' || key == 'max' || key == 'day') {
          $(obj).val(Number($(obj).val()).toFixed(0));
      } else if (key == 'price') {
          $(obj).val(Number($(obj).val()).toFixed(precision));
      } else {
          $(obj).val(Number($(obj).val()).toFixed(0));
      }
  }

  function add_disabled() {
      $("#btn_save").attr("disabled", true);
      $("#btn_save").addClass('btn-default').addClass('active').removeClass('btn-primary');
      $("#btn_save_add").attr("disabled", true);
      $("#btn_save_add").addClass('btn-default').addClass('active').removeClass('btn-primary');
  }

  function remove_disabled() {
      $("#btn_save").removeAttr("disabled");
      $("#btn_save").addClass('btn-primary').removeClass('btn-default').removeClass('active');
      $("#btn_save_add").removeAttr("disabled");
      $("#btn_save_add").addClass('btn-primary').removeClass('btn-default').removeClass('active');
  }

  function check_error() {
      var flag = false;
      //检查table有没有错误
      $('.err_info').each(function (i, v) {
          if ($(this).css('display') == 'block') {
              flag = true;
          }
      });
      //检查当前是否有product  id
      if ($("#input_product_id").val() == '') {
          flag = true;
      }
      if (flag) {
          add_disabled();
      } else {
          remove_disabled();
      }
  }

  //解锁
  function remove_margin_table_disabled(i) {
      if (i == 0) {
          $('#min_num' + i).removeAttr('disabled');
          $('#is_default' + i).removeAttr('disabled');
      }
      $('#max_num' + i).removeAttr('disabled');
      $('#day_select' + i).removeAttr('disabled');
      $('#day' + i).removeAttr('disabled');
      $('#price' + i).removeAttr('disabled');
      //解锁is disabled
      $max = $('#max_num' + i).val();
      $day = $('#day' + i).val();
      $price = $('#price' + i).val();
      if (($max && $max != 0) || ($day && $day != 0) || $price) {
          $('#is_default' + i).removeAttr('disabled');
      }
  }

  // 加锁
  function add_margin_table_disabled(i) {
      $('#min_num' + i).attr('disabled', true);
      $('#max_num' + i).attr('disabled', true);
      $('#day_select' + i).attr('disabled', true);
      $('#day' + i).attr('disabled', true);
      $('#price' + i).attr('disabled', true);
      $('#is_default' + i).attr('disabled', true);
  }

  // in array 查找
  function in_array(search, array) {
      for (var i in array) {
          if (i == search) {
              return array[i];
          }
      }
      return false;
  }

  //清空全部提示back_action
  function clear_margin_table_error() {
      $('#error_price_japan').css('display', 'none');
      $('#error_min_num').css('display', 'none');
      $('#error_max_num').css('display', 'none');
      $('#error_min_max').css('display', 'none');
      // $('#error_price').css('display', 'none');
      $('#error_price_lt_0').css('display', 'none');
      $('#error_day').css('display', 'none');
  }

  function clear_table_data(i) {
      $("#min_num" + i).val('');
      $("#max_num" + i).val('');
      $("#day" + i).val('');
      $("#price" + i).val('');
      $("#payment_earnest" + i).val('');
      $('#tail_money_per' + i).val('');
      $("#agreement_amount" + i).val('');
  }

  //清除红框
  function clear_red_border(i) {
      $('#min_num' + i).removeClass('border-red');
      $('#max_num' + i).removeClass('border-red');
      $('#day_select' + i).removeClass('border-red');
      $('#price' + i).removeClass('border-red');
      // is_dafault 加锁
      $max = $('#max_num' + i).val();
      $day = $('#day' + i).val();
      $price = $('#price' + i).val();
      if ($max === '' || $day === '' || $price === '') {
          $('#is_default' + i).attr('disabled', true);
          //判断当前是否选中
          if ($('#is_default' + i).is(':checked')) {
              $('#is_default0').click();
          }
      }
  }


  //匹配product
  function matchProduct(obj) {
      var mpn_sku = $(obj).val().trim();
      var sku_split = mpn_sku.split('/');
      sku = sku_split[0];
      if (mpn_sku) {
          show_product_and_margin_data(sku);
      } else {
          //SKU输入为空分支
          clearHeaderTable();
          $(".error_hint").css("display", "block");
          //移除红框和错误提示
          clear_margin_table_error();
          $('.border-red').each(function () {
              $(this).removeClass('border-red')
          })
          //清空全部数据并加锁
          for (var i in [0, 1, 2]) {
              add_margin_table_disabled(i);
              clear_table_data(i);
          }
          //is_default 选到第一个
          $("#is_default0").prop('checked', true);
      }
  }

  //显示数据
  function show_product_and_margin_data(mpn_sku) {
      var param = {"mpn_sku": mpn_sku};
      $.ajax({
          url: 'index.php?route=account/customerpartner/margin/matchProduct',
          type: 'post',
          data: param,
          dataType: 'json',
          success: function (json) {
              if (json['success']) {
                  //隐藏product error
                  $(".error_hint").css("display", "none");
                  //填值
                  alarm_price = json['success']['alarm_price'];
                  $("#item_code").html(json['success']['sku'] + '/' + json['success']['mpn']);
                  $("#input_product_id").val(json['success']['product_id']);
                  $("#available_quantity").html(json['success']['quantity']);
                  $("#original_price").html('<span>' + json['success']['price'] + '</span><i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="padding-left:10px;font-size: 13px;" title="{{ text_current_price_tip }}">');
                  var template = json['success']['template'];
                  if (template) { //编辑
                      //1.margin template
                      $('#margin_template').val(json['success']['bond_template_id'])
                      change_margin_rate();
                      // 2.设置table值
                      for (var i in json['success']['template']) {
                          $('#id' + i).val(json['success']['template'][i]['id']);
                          $("#min_num" + i).val(json['success']['template'][i]['min_num']);
                          $("#max_num" + i).val(json['success']['template'][i]['max_num']);
                          $("#day" + i).val(json['success']['template'][i]['day']);
                          $("#price" + i).val(json['success']['template'][i]['price']);
                          //is_default
                          $("#is_default" + i).prop('checked', false);
                          if (Number(json['success']['template'][i]['is_default'])) {
                              $("#is_default" + i).prop('checked', true);
                          }
                          //解锁
                          remove_margin_table_disabled(i);
                      }
                      //3.校验计算
                      calculate(0);

                  } else {
                      //SKU匹配到了未配置过保证金模板的商品分支
                      clearTemplateTable();
                      //解锁第一行
                      remove_margin_table_disabled(0);
                      //显示错误
                      $("#min_num0").addClass('border-red');
                      $("#max_num0").addClass('border-red');
                      $("#day_select0").addClass('border-red');
                      $("#price0").addClass('border-red');
                      $('#error_min_num').css('display', 'block');
                      $('#error_max_num').css('display', 'block');
                      $('#error_price_lt_0').css('display', 'block');
                      $('#error_day').css('display', 'block');
                  }
              } else if (json['error']) {
                  //SKU匹配商品失败分支
                  clearHeaderTable();
                  $(".error_hint").css("display", "block");
                  //移除红框和错误提示
                  clear_margin_table_error();
                  $('.border-red').each(function () {
                      $(this).removeClass('border-red')
                  })
                  //清空全部数据并加锁
                  for (var i in [0, 1, 2]) {
                      add_margin_table_disabled(i);
                      clear_table_data(i);
                  }
                  //is_default 选到第一个
                  $("#is_default0").prop('checked', true);
              }
          }
      });
  }


  //检查margin table的数据是否合法
  function calculate(i) {
      //清空全部提示
      clear_margin_table_error();
      let error_flag = {
          min_num: false,
          max_num: false,
          price: false
      };
      //重新校验
      for (var i in [0, 1, 2]) {
          //获取数据
          // table 数据
          var min_obj = $("#min_num" + i);
          var max_obj = $("#max_num" + i);
          var day_obj = $("#day" + i);
          var day_select_obj = $("#day_select" + i);
          var price_obj = $("#price" + i);
          var min_num = min_obj.val();
          var max_num = max_obj.val();
          var price = price_obj.val();
          var day = day_obj.val();
          //产品信息
          var available_quantity = Number($("#available_quantity").html());
          var original_price = Number($("#original_price span").html());
          var payment_ratio = $("#margin_template").find("option:selected").attr('data-text');
          payment_ratio = payment_ratio.substring(0, payment_ratio.length - 1);

          if (min_num === '' && max_num === '' && price === '' && day === '') {
              for (var p = Number(i) ; p <= 2; p++) {
                  clear_red_border(p);
              }
              if(i==0){   //如果是第一行  添加错误样式
                  $("#min_num0").addClass('border-red');
                  $("#max_num0").addClass('border-red');
                  $("#day_select0").addClass('border-red');
                  $("#price0").addClass('border-red');
                  $('#error_min_num').css('display', 'block');
                  $('#error_max_num').css('display', 'block');
                  $('#error_price_lt_0').css('display', 'block');
                  $('#error_day').css('display', 'block');
              }
              break;
          } else {
              if (min_num && i > 0 && max_num === '' && price === '' && day === '') {
                  for (var p = i; p <= 2; p++) {
                      clear_red_border(p);
                  }
                  break;
              }
          }

          //转换数据
          min_num = Number(min_num);
          max_num = Number(max_num);

          //校验
          if ('107' === country_id && price && !checkPositiveInteger(price)) {
              $('#error_price_japan').css('display', 'block');
              price_obj.addClass('border-red');
          } else {
              $('#error_price_japan').css('display', 'none');
              price_obj.removeClass('border-red');
          }

          if (min_num < 5 || !min_num) {
              $('#error_min_num').css('display', 'block');
              min_obj.addClass('border-red');
              error_flag.min_num = true;
          } else {
            if (!error_flag.min_num) {
              $('#error_min_num').css('display', 'none');
            }
              min_obj.removeClass('border-red');
          }


          if ((max_num && max_num < min_num) || !max_num) {
            $('#error_min_max').css('display', 'block');
            max_obj.addClass('border-red');
            error_flag.max_num = true;
          } else {
              max_obj.removeClass('border-red');
              if (max_num > available_quantity) {
                $('#error_max_num').css('display', 'block');
                max_obj.addClass('border-red');
              }
            if (!error_flag.max_num) {
              $('#error_min_max').css('display', 'none');
            }
          }


        if (parseFloat(price) < 0 || !price || parseFloat(Number(price).toFixed(precision)) > parseFloat((Number(original_price) * 1.2).toFixed(precision))) {
            $('#error_price_lt_0').css('display', 'block');
            price_obj.addClass('border-red');
            error_flag.price = true;
          console.log(parseFloat(Number(price).toFixed(precision)), parseFloat((Number(original_price) * 1.2).toFixed(precision)));
          } else {
            if (!error_flag.price) {
              $('#error_price_lt_0').css('display', 'none');
            }
            price_obj.removeClass('border-red');
            // if (parseFloat(price) > parseFloat(original_price)) {
            //     $('#error_price').css('display', 'block');
            //     price_obj.addClass('border-red');
            // }
          }

          if (!day || day <= 0 || day > 120) {
              $('#error_day').css('display', 'block');
              day_select_obj.addClass('border-red');
          } else {
              $('#error_day').css('display', 'none');
              day_select_obj.removeClass('border-red');
          }

          //触发操作
          //1.计算
          if (min_num && max_num && price) {
              payment_ratio = Number(payment_ratio) / 100;
              let amount_per = operation(price, payment_ratio, 'multiply', precision);
              let amount_min = operation(min_num, amount_per, 'multiply', precision);
              let amount_max = operation(max_num, amount_per, 'multiply', precision);
              if(amount_min==amount_max){
                  $("#payment_earnest" + i).val(amount_min );
              }else{
                  $("#payment_earnest" + i).val(amount_min + " ~ " + amount_max);
              }
              let tail_per = operation(price, amount_per, 'subtract', precision);
              $('#tail_money_per' + i).val(tail_per);
              //协议金额
              let agree_min = operation(min_num, price, 'multiply', precision);
              let agree_max = operation(max_num, price, 'multiply', precision);
              if(agree_min==agree_max){
                  $("#agreement_amount" + i).val(agree_min);
              }else{
                  $("#agreement_amount" + i).val(agree_min + " ~ " + agree_max);
              }

          } else {
              $("#payment_earnest" + i).val('');
              $('#tail_money_per' + i).val('');
              $("#agreement_amount" + i).val('');
          }
          //2.计算下行的min  解锁
          if (min_num && max_num && price && day && Number(max_num) < Number(available_quantity)) {
              var j = Number(i) + 1;
              $("#min_num" + j).val(Number(max_num) + 1);
              //解锁
              remove_margin_table_disabled(j)
          } else {
              var j = Number(i) + 1;
              if (j <= 2) {
                  for (var l = j; l <= 2; l++) {
                      $("#min_num" + l).val('');
                      //加锁
                      add_margin_table_disabled(l);
                      // 清空数据
                      clear_table_data(l);
                  }
                  //is_default 选到第一个
                  $("#is_default0").prop('checked', true);
              }
          }
      }
      // 判断按钮变色
      check_error();
  }

  // 获取页面中的数据
  function get_page_data() {
      var rtn = {};
      rtn['product_id'] = Number($("#input_product_id").val());
      rtn['margin_template'] = $('select[name="margin_template"]').val();
      rtn['produrt_price'] = Number($("#original_price span").html());
      rtn['available_quantity'] = Number($('#available_quantity').html());
      var payment_ratio = $("#margin_template").find("option:selected").attr('data-text');
      rtn['margin_rate'] = payment_ratio.substring(0, payment_ratio.length - 1);
      rtn['tpl'] = [];
      for (var i in [0, 1, 2]) {
          var row_id = Number($('#id' + i).val());
          var row_min = $("#min_num" + i).val();
          var row_max = $("#max_num" + i).val();
          var row_day = $("#day" + i).val();
          var row_exc = $("#price" + i).val();
          var row_is_default = ($('#is_default' + i).is(':checked')) ? 1 : 0;
          if (!row_min && !row_max && !row_day && !row_exc) {
              break;
          } else {
              if (row_min && i > 0 && !row_max && !row_day && !row_exc) {
                  break;
              }
          }
          rtn['tpl'].push({
              'row_id': row_id,
              'row_min': row_min,
              'row_max': row_max,
              'row_day': row_day,
              'row_exc': row_exc,
              'row_is_default': row_is_default
          });
      }
      return rtn;
  }


  //保存
  $(document).delegate('#btn_save,#btn_save_add', 'click', function () {
      var submit_btn = $(this);
      submit_btn.button('loading');
      var product_id = Number($("#input_product_id").val());
      var page_data = get_page_data();
      var btn_id = $(this).attr('id');
      // 校验page_data
      let needAlarm = false;
      page_data['tpl'].forEach(function (item) {
         if(item.row_exc < alarm_price){
           needAlarm = true;
         }
      })
      let layer_alarm_confirm = needAlarm && is_outer ? layerConfirm : layerConfirmResolve;
      // 美国外部seller使用增加了云送仓内容的提醒
      layer_alarm_confirm('{{ is_show_cwf_notice ? error_product_price_proportion_cwf : error_product_price_proportion }}')
        .then(function () {
          $.ajax({
            url: '{{ save_action }}',
            type: 'post',
            data: page_data,//param,
            dataType: 'json',
            success: function (json) {
              //error  0:成功 1.失败 2.校验失败
              if (json['error'] == 0) {  //成功
                layer.msg(json['msg'], {time: 3000}, function () {
                  if (btn_id == 'btn_save') {
                    window.location.href = '/index.php?route=account/customerpartner/margin';
                  } else {
                    {% if curr_action=='edit' %}
                    window.location.href = 'index.php?route=account/customerpartner/margin/add';
                    {% else %}
                    window.location.reload();
                    {% endif %}
                  }
                });
              } else if (json['error'] == 1) {  //失败
                layer.msg(json['msg']);
              } else {   //校验失败
                $notify.error({
                  title: 'Notice',
                  message: json['msg'],
                })
              }
              submit_btn.button('reset');
            }
          });
        })
        .catch(function () {
          submit_btn.button('reset');
        })
  });


</script>

<script>
    /*判断obj是否为一个整数*/
    function isInteger(obj) {
        return Math.floor(obj) === obj;
    }

    /**
     * 将一个浮点数转换成整数，返回整数和倍数
     * 如 3.14 》》314  倍数是100
     *
     */
    function toInteger(floatNum) {
        var ret = {times: 1, num: 0};

        //是整数
        if (isInteger(floatNum)) {
            ret.num = floatNum;
            return ret;
        }

        var strfi = floatNum + '';
        //查找小数点的下标
        var dotPos = strfi.indexOf('.');
        //获取小数的位数
        var len = strfi.substr(dotPos + 1).length;
        //Math.pow(10,len)指定10的len次幂。
        var time = Math.pow(10, len);

        //将浮点数转化为整数
        var intNum = parseInt(floatNum * time + 0.5, 10);
        ret.times = time;
        ret.num = intNum;
        return ret;
    }

    /**
     *进行运算
     *三个参数分别是要运算的两个数和运算符
     */
    function operation(a, b, op, precision) {
        var o1 = toInteger(a);
        var o2 = toInteger(b);
        var n1 = o1.num;
        var n2 = o2.num;
        var t1 = o1.times;
        var t2 = o2.times;
        var max = t1 > t2 ? t1 : t2;
        var result = null;
        switch (op) {
            case 'add':
                if (t1 === t2) {
                    result = n1 + n2;
                } else if (t1 > t2) {
                    result = n1 + n2 * (t1 / t2);
                } else {
                    result = n1 * (t2 / t1) + n2;
                }
                result = result / max;
                break;
            case 'subtract':
                if (t1 === t2) {
                    result = n1 - n2;
                } else if (t1 > t2) {
                    result = n1 - n2 * (t1 / t2);
                } else {
                    result = n1 * (t2 / t1) - n2;
                }
                result = result / max;
                break;
            case 'multiply':
                result = (n1 * n2) / (t1 * t2);
                break;
            case 'divide':
                result = (n1 / n2) / (t2 / t1);
                break;
        }
        if (isInteger(precision) && precision >= 0) {
            result = result + "";
            let len = result.length;
            let dotIndex = result.indexOf(".");
            if (dotIndex === -1) {
                result = Number(result).toFixed(precision);
            } else {
                let dotIndexBefore = dotIndex + precision;
                let dotIndexAfter = dotIndexBefore + 1;
                if (dotIndexAfter < len) {
                    let n = result.substr(dotIndexAfter, 1);
                    if (precision === 0) {
                        //为0时dotIndexBefore用的是小数点，所以要减一
                        dotIndexBefore--;
                    }
                    let m = result.substr(dotIndexBefore, 1);
                    result = result.slice(0, dotIndexBefore);
                    if (n > 4) {
                        if (m === '9') {
                            //防止进位
                            if (precision === 0) {
                                m = m + '.9';
                            } else {
                                m = m + '9';
                            }
                        } else {
                            m = Number(m) + 1;
                        }
                    }
                    result = Number(result + m).toFixed(precision);
                }
            }
        }
        return Number(result).toFixed(precision);
    }
</script>
<script type="text/javascript">
    function clearHeaderTable() {
        $("#item_code").html('');
        $("#input_product_id").val('');
        $("#available_quantity").html('');
        $("#original_price").html('');
    }

    function clearTemplateTable() {
        var payment_ratio = $("#margin_template").find("option:selected").attr('data-text');
        for (var index = 0; index < 3; index++) {
            $("#id" + index).val('');
            $("#min_num" + index).val('');
            $("#max_num" + index).val('');
            $("#price" + index).val('');
            $("#day" + index).val('');
            $("#money" + index).val('');
            $("#payment_ratio" + index).val(payment_ratio);
        }

        $("#is_default0").prop('checked', true);
        $("#margin_template").removeAttr('readonly');
    }


    function checkPositiveInteger(value) {
        //必填正整数校验
        if (!(/^[1-9]*[1-9][0-9]*$/.test(value)) || value <= 0) {
            return false;
        } else {
            return true;
        }
    }
    function check() {

    }

    function nextLine(i) {
        var min_num = Number($("#min_num" + i).val());
        var max_num = Number($("#max_num" + i).val());
        var price = $("#price" + i).val();
        var day = Number($("#day" + i).val());
        var available_quantity = $("#available_quantity").val();

        if (day < 1) {
            alert('{{ error_day }}');
            $("#day" + i).val('');
            if (1 === i) {
                $("#td-day" + i).addClass('has-error');
            }
            return;
        }

        if (min_num && max_num && price && day && i < 2 && max_num < available_quantity) {
            $("#td-day" + i).removeClass();
            i = Number(i) + 1;
            $("#max_num" + i).removeAttr('readonly');
            $("#price" + i).removeAttr('readonly');
            $("#day" + i).removeAttr('readonly');
        }
    }

    function keyPress(ob) {
        if (!ob.value.match(/^[\+\-]?\d*?\.?\d*?$/))
            ob.value = ob.t_value;
        else
            ob.t_value = ob.value;
        if (ob.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))
            ob.o_value = ob.value;
    }

    function keyUp(ob) {
        if (!ob.value.match(/^[\+\-]?\d*?\.?\d*?$/))
            ob.value = ob.t_value;
        else
            ob.t_value = ob.value;
        if (ob.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/))
            ob.o_value = ob.value;

        if (ob.value == 'undefined')
            ob.value = '';
    }

    function onBlur(ob) {
        if (!ob.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?|\.\d*?)?$/))
            ob.value = ob.o_value;
        else {
            if (ob.value.match(/^\.\d+$/))
                ob.value = 0 + ob.value;
            if (ob.value.match(/^\.$/))
                ob.value = 0;
            ob.o_value = ob.value;
        }
    }

    $("#margin_template").change(function () {

        var payment_ratio = $("#margin_template").find("option:selected").attr('data-text');

        $("#payment_ratio0").val(payment_ratio);
        $("#payment_ratio1").val(payment_ratio);
        $("#payment_ratio2").val(payment_ratio);

        for (let i = 0; i < 3; i++) {
            calculate(i);
        }
    });

    $('#input_mpn_sku').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: 'index.php?route=account/customerpartner/margin/get_sku_autocomplete',
                type: "POST",
                data: "code=" + $(this).val(),
                success: function (json) {
                    response($.map(json, function (item) {
                        return {
                            label: item,
                            value: item
                        }
                    }));
                }
            });
        },
        'select': function (item) {
            $('input[name="input_mpn_sku"]').val(item['label']);
            matchProduct($('input[name="input_mpn_sku"]'));
        }
    });

</script>
{{ footer }}