<script>
  $(function () {
    // Set last page opened on the menu
    $('#message-menu a[href]').on('click', function() {
      sessionStorage.setItem('message_menu', $(this).attr('href'));
    });

    var menuUrl = '{% if menuLink %} {{ menuLink }} {% endif %}';
    var menuObj = $('#message-menu a[href=\'' + menuUrl + '\']');
    var menuLength = menuObj.length;
    if (!menuUrl) {
      $('#message-menu #dashboard').addClass('active');
    } else if(menuLength === 0) {
      menuUrl = menuUrl.slice(0,menuUrl.lastIndexOf('/'));
      menuObj = $('#message-menu a[href=\'' + menuUrl + '\']');
      menuObj.parent().addClass('active');
    } else {
      menuObj.parent().addClass('active');
    }

    menuObj.parents('li > a').removeClass('collapsed');

    menuObj.parents('ul').addClass('in');

    menuObj.parents('li').addClass('active');
  });
</script>
<div style="width: 230px">
  <nav id="message-column-left" class="msg_box col-sm-2">
    <div class="msg_title">
      {{ text_message_center }}
    </div>
    <ul id="message-menu" style="margin-bottom: 0">
      {% set i = 0 %}
      {% for menu in menus %}
        <li id="{{ menu.id }}">
          {% if menu.href %}
            <a href="{{ menu.href }}" title="{{ menu.name }}"><span> {{ menu.name_info ?: menu.name }}</span></a>
          {% else %}
            <a href="#collapse{{ i }}" title="{{ menu.name }}" data-toggle="collapse" class="parent collapsed"><span> {{ menu.name }}</span></a>
          {% endif %}
          {% if menu.children %}
            <ul id="collapse{{ i }}" class="collapse in" aria-expanded="true">
              {% for children_1 in menu.children %}
                <li {% if children_1.id == checked_btn_id %} class="selectedIndex" {% endif %}>
                  {% if children_1.href %}
                    <a href="{{ children_1.href }}"><span>{{ children_1.name }}
                      {% if(children_1.unread) %}
                        {% if children_1.unread > 100 %}
                          <span class="number"> 100+</span>
                        {% else %}
                          <span class="number">{{ children_1.unread }}</span>
                        {% endif %}
                      {% endif %}
                      </span></a>
                  {% else %}
                    <a href="#collapse{{ i }}" data-toggle="collapse" class="parent collapsed"><span>{{ children_1.name }}</span></a>
                  {% endif %}
                </li>
                {% set i = i + 1 %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% set i = i + 1 %}
      {% endfor %}
    </ul>
  </nav>
  {% if sales_link %}
    <nav id="message-column-guide" class="msg_box" style="margin-top: 15px">
      <div class="msg_title">
        {{ text_msg_guide }}
      </div>
      <div id="message-guide-div">
        <a href="{{ sales_link }}"><span> {{ text_msg_sales_order }}</span></a>
        <a href="{{ purchase_link }}"><span> {{ text_msg_purchase_order }}</span></a>
        <a href="{{ inventory_link }}"><span> {{ text_msg_inventory }}</span></a>
        <a href="{{ rma_link }}"><span> {{ text_msg_rma }}</span></a>
        <a href="{{ bid_link }}"><span> {{ text_msg_bid }}</span></a>
      </div>
    </nav>
  {% endif %}
</div>
<style>
  .msg_title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEEEEE;
  }
  .msg_box {
    width: 230px;
    /*height: 400px;*/
    float: left;
    margin-right: 5px;
    overflow: auto;
    background-color: #fff;
    padding: 30px 15px 30px 15px;
    border: 1px solid #EEEEEE;
  }

  /* my menu */
  #message-menu, #message-menu ul, #message-menu li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #message-menu {
    margin-bottom: 25px;
  }

  #message-menu li a {
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 10px;
    cursor: pointer;
    border-bottom: 0px solid #515151;
  }

  #message-menu li a.parent:after {
    font-family: FontAwesome;
    float: right;
    margin-right: 8px;
  }

  #message-menu li a.parent:after {
    content: "\f107";
  }

  #message-menu li a.collapsed:after {
    content: "\f105";
  }

  /* 1st lvl */
  #message-menu > li {
    position: relative;
  }

  #message-menu > li > a {
    font-size: 14px;
    font-weight: bold;
    color: #545454;
    padding-left: 13px;
    border-bottom: 0px solid #585858;
  }

  #message-menu > li > ul {
    padding-left: 10px;
  }

  #message-menu > li > a > i {
    font-size: 16px;
    width: 18px;
    margin-right: 5px;
  }

  #message-menu > li.active > a {
    color: #FF592E;
  }
  li.active > a > span > span.number {
    color: #FFF;
    background: #FF592E;
    border-color:#FF592E ;
  }

  /* 2nd lvl */
  #message-menu li li a {
    color: #545454;
  }

  #message-menu li li a:before {
    /*content: "\f101";*/
    font-size: 13px;
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 10px;
    transition: margin ease 0.5s;
  }

  #message-menu li li a:hover:before {
    margin-right: 20px;
  }

  #message-menu li li a:hover {
    color: #FF592E;
  }

  #message-menu li a:hover span{
    /*background-color: #fff;*/
    border-color: #FF592E;
    color: #FF592E;
  }

  #message-menu li li.active > a {
    color: #FF592E;
  }

  #message-menu li ul a {
    padding-left: 10px;
  }

  #message-menu li li ul a {
    padding-left: 40px;
  }

  #message-menu li li li ul a {
    padding-left: 60px;
  }

  #message-menu li li li li ul a {
    padding-left: 80px;
  }
</style>
<style>
  #message-guide-div {
    margin-bottom: 25px;
  }

  #message-guide-div a {
    color: #545454;
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-bottom: 0px solid #515151;
  }

  /* 1st lvl */
  #message-guide-div > li {
    position: relative;
  }

  #message-guide-div a:hover {
    color: #FF592E;
  }

  #message-guide-div a {
    padding-left: 20px;
  }
  .number{
    padding: 0 6px;
    border: 1px solid #677999;
    font-size: 10px;
    border-radius: 8px;
    color: #545454;
  }
</style>
<style>
  /*选中的样式*/
  .selectedIndex a{
    color: #FA6400 !important;
    font-weight: bold;
  }
  .selectedIndex a span {
    color: #FA6400 !important;
    font-weight: bold;
    border-color: #FA6400;
    background-color: #fff !important;
  }
</style>