<nav id="message-column-top" class="msg_box" style="margin-left: 5px">
  <ul id="message-menu">
    {% set messageMenus = menus[0].children %}
    {% for menu in messageMenus %}
      <li >
          <a href="{{ menu.href }}" title="{{ menu.name }}" {% if menu.id == checked_btn_id %} class="select-active" {% endif %}>
            {{ menu.name }}
            {% if(menu.unread) %}
              {% if menu.unread > 100 %}
                <i class="number"> 100+</i>
              {% else %}
                <i class="number">{{ menu.unread }}</i>
              {% endif %}
            {% endif %}
          </a>
      </li>
    {% endfor %}

{#    {% for menu in menus %}#}
{#      <li id="{{ menu.id }}" class="dropdown">#}
{#        {% if menu.href %}#}
{#          <a href="{{ menu.href }}" title="{{ menu.name }}"> {{ menu.name_info ?: menu.name }}</a>#}
{#        {% else %}#}
{#          <a href="#" class="dropdown-toggle  collapsed"   data-toggle="dropdown" role="button">#}
{#            {{ menu.name }}#}
{#            {% if(menu.unread) %}#}
{#              {% if menu.unread > 100 %}#}
{#                <i class="number sub-m"> 100+</i>#}
{#              {% else %}#}
{#                <i class="number sub-m">{{ menu.unread }}</i>#}
{#              {% endif %}#}
{#            {% endif %}#}
{#          </a>#}
{#        {% endif %}#}
{#        {% if menu.children %}#}
{#          <ul class="dropdown-menu subul">#}
{#            {% for children_1 in menu.children %}#}
{#              <li>#}
{#                {% if children_1.href %}#}
{#                  <a href="{{ children_1.href }}" >{{ children_1.name }}#}
{#                      {% if(children_1.unread) %}#}
{#                        {% if children_1.unread > 100 %}#}
{#                          <i class="number"> 100+</i>#}
{#                        {% else %}#}
{#                          <i class="number">{{ children_1.unread }}</i>#}
{#                        {% endif %}#}
{#                      {% endif %}#}
{#                  </a>#}
{#                {% else %}#}
{#                  <a href="#" data-toggle="collapse" class="parent collapsed"><span>{{ children_1.name }}</span></a>#}
{#                {% endif %}#}
{#              </li>#}
{#            {% endfor %}#}
{#          </ul>#}
{#        {% endif %}#}
{#      </li>#}
{#    {% endfor %}#}
  </ul>
</nav>
<script>
  // $('.dropdown-toggle , .dropdown-menu').hover(function(){
  //     $(this).addClass('parent');
  //     $(this).removeClass('collapsed');
  // },function () {
  //     $(this).addClass('collapsed');
  //     $(this).removeClass('parent');
  // });
  //
  // $('.dropdown-menu li').hover(function(){
  //     $(this).find('.number').css({'border-color':'#FF592E','color':'#FF592E'})
  // },function () {
  //     $(this).find('.number').css({'border-color':'#545454','color':'#545454'})
  // })
  // $('#message-menu li a').hover(function(){
  //     $(this).find('.sub-m').css({'border-color':'#eee','color':'#fff'})
  // },function () {
  //     $(this).find('.sub-m').css({'border-color':'#677999','color':'#545454'})
  // })

</script>
<style>
  .msg_box {
    width: 100%;
  }

  /* my menu */
  #message-menu, #message-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #message-menu {
    margin-bottom: 0px;
    width: 100%;
    display: flex;
  }

  #message-menu li a{
    position: relative;
    text-decoration: none;
    display: block;
    padding:9px 10px;
    cursor: pointer;
    font-size: 16px;
    color: #545454;
    margin-right: 3px;
    background: #fff;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  #message-menu  li a:hover{
    background: #3A75DC;
    /*background: blue;*/
    color: #fff;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  #message-menu  li a:hover .number{
    border-color: #fff;
    color: #fff;
  }

  /* 当前选中的样式 */
  .select-active{
    background-color: #3A75DC !important;
    color: #fff!important;
  }

  .select-active .number{
    /*border-color: #fff;*/
    color: #fff;
    background: #fa6400;
  }
  /* i标签 */
  .number{
    padding: 3px 7px;
    color: #fff;
    background: #fa6400;
    font-size: 12px;
    font-style: normal;
    border-radius: 8px;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -5px;
    z-index: 9;
    display: inline-block;
    min-width: 10px;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
  }
  .my-height{
      height: 35px;
      line-height: 35px;
  }
    .my-height .pagination{
        margin: 0 15px;
    }
    .page-list .page-info{
        margin-bottom: 0;
    }
</style>