{{ header }}
{{ separate_column_left }}
{% if separate_view is defined and separate_view %}
<div class="container-fluid" id="content" style="margin-left: 18%">
  {% else %}
  <div class="container">
    {% endif %}
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li>
          <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
      {% endfor %}
    </ul>
    {% if error_warning %}
      <div class="alert alert-danger">
        <i class="fa fa-check-circle"></i>
        {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success">
        <i class="fa fa-check-circle"></i>
        {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
      {% else %}
        {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        {% if chkIsPartner %}
          <h1>{{ text_notifications }}
            <div class="pull-right">
              <a href="{{ back }}" data-toggle="tooltip" title="{{ button_back }}"
                 class="btn btn-default">
                <i class="fa fa-reply"></i>
              </a>
            </div>
          </h1>
          <form method="post" enctype="multipart/form-data" id="form-notification" class="form-horizontal">
            <legend>
              {#<i class="fa fa-list"></i>#}
              {#{{ text_notification_information }}#}
            </legend>
            {% if isMember %}
              <ul class="nav nav-tabs" style="margin-bottom: 0">
                <li class="active">
                  <a href="#tab-bid" id="tab_tab-bid" data-toggle="tab">{{ tab_bid }}</a>
                </li>
                <li>
                  <a href="#tab-rma" id="tab_tab-rma" data-toggle="tab">{{ tab_rma }}</a>
                </li>
                <li>
                  <a href="#tab-order" id="tab_tab-order" data-toggle="tab">{{ tab_order }}</a>
                </li>
                <li>
                  <a href="#tab-product" id="tab_tab-product" data-toggle="tab">{{ tab_product }}</a>
                </li>
              </ul>
              <div class="content-wrap">
                <div class="tab-content">
                  <!-- bid start -->
                  <div class="tab-pane active" id="tab-bid">
                    {% if bid is defined and (bid.total > 0 or bid.unread_total > 0) %}
                      <div class="all_notifications_div">
                        <div class="notification_filter col-sm-3">
                          <ul>
                            {% for key,item in bid.menu %}
                              {% set class='' %}
                              {% if key == bid.flag %}
                                {% set class='color-red' %}
                              {% endif %}
                              <li class="{{ class }}">
                                <a href="{{ item.url }}" style="color: inherit">{{ item.title }} ({{ item.count }})</a>
                              </li>
                              <hr>
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="notification_body col-sm-9">
                          {% if bid.list|length > 0 %}
                            <div class="table-responsive">
                              <a class="read_all" href="{{ bid.readAllUrl }}" data-ids="{{ bid.readAllIds }}"><button type="button" class="btn btn-primary">Read all</button></a>
                              <table>
                                <tbody>
                                {% for item in bid.list %}
                                  <tr>
                                    <td style="padding-left:20px;">
                                      <li style="margin-left:10px;">{{ item }}</li>
                                      <hr>
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div class="text-left page-detail">{{ bid.pagination }}</div>
                            </div>
                            <div class="row">
                              <div class="text-left page-total">{{ bid.results }}</div>
                            </div>
                          {% else %}
                            <div class="page-not-found">{{ text_no_notification }}</div>
                          {% endif %}
                        </div>
                      </div>
                    {% else %}
                      <div class="page-not-found">{{ text_no_notification }}</div>
                    {% endif %}
                  </div>
                  <!-- bid end -->
                  <!-- rma start -->
                  <div class="tab-pane " id="tab-rma">
                    {% if rma is defined and (rma.total > 0 or rma.unread_total > 0) %}
                      <div class="all_notifications_div">
                        <div class="notification_filter col-sm-3">
                          <ul>
                            {% for key,item in rma.menu %}
                              {% set class='' %}
                              {% if key == rma.flag %}
                                {% set class='color-red' %}
                              {% endif %}
                              <li class="{{ class }}">
                                <a href="{{ item.url }}" style="color: inherit">{{ item.title }} ({{ item.count }})</a>
                              </li>
                              <hr>
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="notification_body col-sm-9">
                          {% if rma.list|length > 0 %}
                            <div class="table-responsive">
                              <a class="read_all" href="{{ rma.readAllUrl }}" data-ids="{{ rma.readAllIds }}"><button type="button" class="btn btn-primary">Read all</button></a>
                              <table>
                                <tbody>
                                {% for item in rma.list %}
                                  <tr>
                                    <td style="padding-left:20px;">
                                      <li style="margin-left:10px;">{{ item }}</li>
                                      <hr>
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div class="text-left page-detail">{{ rma.pagination }}</div>
                            </div>
                            <div class="row">
                              <div class="text-left page-total">{{ rma.results }}</div>
                            </div>
                          {% else %}
                            <div class="page-not-found">{{ text_no_notification }}</div>
                          {% endif %}
                        </div>
                      </div>
                    {% else %}
                      <div class="page-not-found">{{ text_no_notification }}</div>
                    {% endif %}
                  </div>
                  <!-- rma end -->
                  <!-- order start -->
                  <div class="tab-pane " id="tab-order">
                    {% if all_notifications is defined and all_notifications %}
                      <div class="all_notifications_div">
                        <div class="notification_filter col-sm-3">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="all"
                                     name="selected[]" {% if selected is defined and selected is iterable and 'all' in selected %} checked="checked" {% endif %}/>
                              <span class="pull-right">({{ all_notifications }})</span>{{ text_all_notification }}
                            </label>
                          </div>
                          <div class="checkbox hidden">
                            <label>
                              <input type="checkbox" value="return"
                                     name="selected[]" {% if selected is defined and selected is iterable and 'return' in selected %} checked="checked" {% endif %}/>
                              <span class="pull-right">({{ return_total }})</span>{{ text_return }}
                            </label>
                          </div>
                          {% if order_statuses is defined and order_statuses and notification_filter is defined and notification_filter %}
                            {% for key, order_status in order_statuses %}
                              {% if order_status['order_status_id'] in notification_filter %}
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" value="{{ order_status['order_status_id'] }}"
                                           name="selected[]"
                                           {% if selected is defined and selected is iterable and order_status['order_status_id'] in selected %}checked="checked"{% endif %} />
                                    <span
                                      class="pull-right">({{ order_status['total'] }})</span>{{ order_status['name'] }}
                                  </label>
                                </div>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        </div>
                        <div class="notification_body col-sm-9">
                          <div class="table-responsive">
                            <a class="read_all" href="{{ order_unread_url }}" data-ids="{{ order_unread_ids }}"><button type="button" class="btn btn-primary">Read all</button></a>
                            <table>
                              <tbody>
                              {% for seller_notification in seller_notifications %}
                                <tr>
                                  <td style="padding-left:20px;">
                                    <li style="margin-left:10px;">{{ seller_notification }}</li>
                                    <hr>
                                  </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                          <div class="row">
                            <div class="text-left page-detail">{{ pagination }}</div>
                          </div>
                          <div class="row">
                            <div class="text-left page-total">{{ results }}</div>
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <div class="page-not-found">{{ text_no_notification }}</div>
                    {% endif %}
                  </div>
                  <!-- order end -->
                  <!-- product start -->
                  <div class="tab-pane" id="tab-product">
                    {% if seller_product_reviews is defined and seller_product_reviews %}
                    <div class="all_notifications_div ">
                      <div class="col-sm-12">
                        <div class="table-responsive col-sm-10">
                          <a class="read_all" href="{{ product_unread_url }}" data-ids="{{ product_unread_ids }}"><button type="button" class="btn btn-primary">Read all</button></a>
                          <table>
                            <tbody>
                            {% for seller_product_review in seller_product_reviews %}
                              <tr>
                                <td style="padding-left:20px;">
                                  <li style="margin-left:10px;">{{ seller_product_review }}</li>
                                  <hr>
                                </td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="row col-sm-12">
                          <div class="text-left page-detail">{{ pagination_product }}</div>
                        </div>
                        <div class="row col-sm-12">
                          <div class="text-left page-total">{{ results_product }}</div>
                        </div>
                        {% else %}
                          <div class="page-not-found">{{ text_no_notification }}</div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <!-- product end -->
                </div>
              </div>
            {% else %}
              <div class="text-danger">
                {{ error_warning_authenticate }}
              </div>
            {% endif %}
          </form>
        {% else %}
          <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"></i>{{ warning_become_seller }}
            <button type="button" class="close" data-dismiss="alert">×</button>
          </div>
        {% endif %}
        {{ content_bottom }}</div>
      {{ column_right }}
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.nav-tabs li a').on('click', function () {
            if ($(this).attr('id')) {
                localStorage.setItem("tab-active", $(this).attr('id'))
                localStorage.setItem("tab-pane-active", $(this).attr('id').substring(4))
            }
        });
        $(document).ready(function () {
            var tab_active = localStorage.getItem("tab-active");
            var tab_pane_active = localStorage.getItem("tab-pane-active");

          {% if tab is defined and tab %}
            tab_active = 'tab_tab-{{ tab }}';
            tab_pane_active = 'tab-{{ tab }}';
          {% endif %}
            tab_active = tab_active || 'tab_tab-bid';
            tab_pane_active = tab_pane_active || 'tab-bid';

            if (tab_active && tab_pane_active) {
                $("#" + tab_active).parent().addClass('active');
                $("#" + tab_active).parent().siblings().removeClass('active');
                $("#" + tab_pane_active).addClass('active');
                $("#" + tab_pane_active).siblings().removeClass('active');
            }
        });
    })

</script>
<script type="text/javascript">
  $('input[name*=\'selected\']').on('click', function () {
    let options = '';
    $('input[name*=\'selected\']:checked').each(function (index, item) {
      options += ',' + $(item).val();
    });

    let url = 'index.php?route=account/customerpartner/notification&tab=order&page={{ page }}';

    if (options) {
      url += '&options=' + options.substr(1);
    }

    window.location.href = url;
  });
  $(".read_all").click(function () {
    let readAllUrl = 'index.php?route=account/customerpartner/notification/read';
    window.location.href = readAllUrl + '&ids=' + $(this).attr('data-ids');
  })
</script>
<style>
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .content-wrap {
    background-color: white;
    padding: 25px 0 10px 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .all_notifications_div {
    display: flex;
    width: 100%;
  }

  {% if separate_view is defined and separate_view %}
  .notification_filter {
    font-size: 15px;
    padding-left: 3%;
  }

  {% else %}
  .notification_filter {
    font-size: 12px;
    padding-left: 1%;
  }

  {% endif %}

  .notification_body {
    border-left: 1px solid #eee;
  }

  .page-detail {
    padding-left: 60px;
  }

  .page-total {
    padding-left: 60px;
    height: 100%;
    margin: 7px auto;
  }

  .page-not-found {
    text-align: center;
    padding: 0 0 15px 0;
  }

  @media screen and (max-width: 700px) {
    .all_notifications_div {
      display: inline;
    }
  }

  .badge-dot {
    position: relative;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    background-color: #FF5722;
    color: #fff;
    width: 6px;
    height: 6px;
    padding: 0;
    border-radius: 50%;
    /*position: absolute;*/
    top: -5px;
    margin: -7px 3px 0;
  }

  .read_all {
    margin: 0 0 10px 30px;
    width: 20%;
    font-size: 18px;
    font-weight: bold;
    display: block;
  }

  .color-red {
    color: #FF0000;
  }
</style>
{{ footer }}
