{{ header }}
{{ assetBundle('Seller\\VatAsset') }}
{{ separate_column_left }}
<div class="container-fluid" id="content" style="margin-left: 15%">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
      {% else %}
        {% set class = 'col-sm-12' %}
      {% endif %}

      {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}</div>
      {% endif %}
      {% if chkIsPartner %}
        <div id="content" class="{{ class }}">
          {{ content_top }}
          <fieldset id="orders-history">
              <h1>
                {{ heading_title_orders }}
              </h1>
              {#<i class="fa fa-list"></i> {{ heading_title_orders }}#}
            {% if is_top_cwf_notice %}
              <div class="notice" style="margin: 10px auto;margin-right: 20px; border: 1px solid #183464;background-color: #bbc8df;border-radius: 10px;padding: 10px 20px">
                <div id="scrollBox">
                  {{ tip_cwf_order_notice }}
                </div>
              </div>
            {% endif %}
            <div id="box-shadow">
              {% if isMember %}
                <div class="well">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="control-label" for="input-order">{{ text_orderid }}</label>
                        <input type="text" name="filter_order" value="{{ filter_order }}"
                               placeholder="{{ text_orderid }}" id="input-order" class="form-control"/>
                      </div>
                      <div class="form-group ">
                        <label class="control-label col-sm-10" for="input-date-from"
                               style="padding: 0">{{ text_added_date_from }}</label>
                        <div class="input-group date col-sm-6" style="float: left">
                          <input type="text" name="filter_date_from"
                                 value="{{ filter_date_from }}"
                                 data-date-format="YYYY-MM-DD 00:00:00"
                                 placeholder="{{ text_added_date_to }}"
                                 id="input-date-from" class="form-control date "/>
                          <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                          </span>

                        </div>
                        <div class="input-group col-sm-6 date" style="float: left">
                          <input type="text" name="filter_date_to" value="{{ filter_date_to }}"
                                 data-date-format="YYYY-MM-DD 23:59:59" placeholder="{{ text_added_date_to }}" id="input-date-to"
                                 class="form-control date"/>

                          <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="control-label" for="input-nickname">{{ column_nickname }}</label>
                        <input type="text" name="filter_nickname" value="{{ filter_nickname }}"
                               placeholder="{{ column_nickname }}" id="input-name" class="form-control"/>
                      </div>
                      {# 全部退货 start #}
                      <div class="checkbox" style="margin-top: 50px">
                        <label  for="input-filter_include_all_refund">
                          <input
                            {% if filter_include_all_refund is defined and filter_include_all_refund %}
                              checked
                            {% endif %}
                            type="checkbox"
                            name="filter_include_all_refund"
                            id="input-filter_include_all_refund"/>
                        </label>
                        <span>Include returns</span>
                      </div>
                      {# 全部退货 end #}
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="control-label" for="input-name">{{ text_sku_or_mpn }}</label>
                        <input type="text" name="filter_sku_mpn" value="{{ filter_sku_mpn }}"
                               placeholder="{{ text_sku_or_mpn }}" id="input-sku-mpn" class="form-control"/>
                      </div>
                      <div class="form-group" style="padding-top: 37px;text-align: right">
                        <a onclick="filter();" class="btn btn-primary">{{ button_filter }}</a>
                        <a onclick="refilter();" class="btn btn-default" title="Reset" data-toggle="tooltip"> <i class="fa fa-refresh"></i> </a>
                        <button onclick="downloadOrderHistory();" class="btn btn-default" data-toggle="tooltip"
                                title="Download">
                          <i class="fa fa-download"></i></button>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <td class="text-center">{{ text_orderid }}</td>
                      <td class="text-center">
                        {% if sort == 'cus.nickname' %}
                          <a href="{{ sort_nickname }}" class="{{ order|lower }}">{{ column_nickname }}</a>
                        {% else %}
                          <a href="{{ sort_nickname }}">{{ column_nickname }}</a>
                        {% endif %}
                      </td>
                      <td class="text-center">{{ (text_sku_mpn) }}</td>
                      <td class="text-center">Order Total</td>
                      <td class="text-center" style="width: 150px">
                        {% if sort == 'o.date_added' %}
                          <a href="{{ sort_date }}" class="{{ order|lower }}">{{ text_added_date }}</a>
                        {% else %}
                          <a href="{{ sort_date }}">{{ text_added_date }}</a>
                        {% endif %}
                      </td>
                      <td class="text-center">{{ column_text_status }}</td>
                      <td class="text-center" style="width: 106px">{{ text_action }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if orders %}
                      {% for item in orders %}
                        <tr class="text-center">
                          {% if item.tag %}
                            <td class="text-left" style="min-width: 80px">{{ item['order_id'] }}
                              {#{% for tag in item.tag %}#}
                                {#<span style="font-weight: bold; color: red;padding-left: 1px">{{ tag }}</span>#}
                              {#{% endfor %}#}
                            </td>
                          {% else %}
                            <td class="text-left">
                              {{ item['order_id'] }}
                              {% if (item['delivery_type']==2) %}
                                <i class="giga icon-cwf" style="color: #1f5268;font-size: 15px;" data-toggle="tooltip" data-original-title="{{ cwf }}"></i>
                              {% endif %}
                            </td>
                          {% endif %}
                          <td>
                            <span class="user_portrait" data-user_customer_id="{{ item['buyer_id'] }}" >
                            {{ item['name'] }}
                            </span>
                            <span class="img_logo">
                              <img data-toggle="tooltip" style="padding-left: 1px"
                                   src="{{ item['is_home_pickup'] ? asset('image/icons/HomePickup/home_pickup-15x15.png') : asset('image/icons/HomePickup/drop_shipping-15x15.png') }}"
                                   data-original-title="{{ item['is_home_pickup']?tip_home_pickup_logo:tip_drop_shipping_logo }}">
                            </span>
                            {{ item['ex_vat'] }}
                          </td>
{#                          <td>{{ item['sku_mpn'] | dprintf({'class':'flag-hover'}) }}</td>#}
                          <td>
                            {% if item.sku_list %}
                              {% for k,v in item.sku_list %}
                                {% if v.type_id == 1 %}
                                  {{ v.rebate_icon }}
                                {% elseif v.type_id == 2 %}
                                  {{ v.margin_icon }}
                                {% elseif v.type_id == 3 %}
                                  {{ global_backend_futures_sign | dprintf({'id':v.agreement_id,'s_id':v.agreement_no }) }}
                                {% endif %}
                                {{ v.sku }}  ( {{ v.mpn }}) x {{ v.quantity }}
                                {% for tag in v.tag %}
                                  <span style="font-weight: bold; color: red;padding-left: 1px">{{ tag }}</span>
                                {% endfor %}
                                <br/>
                              {% endfor%}
                            {% endif %}

                          </td>
                          <td>{{ item['total'] }}</td>
                          <td>{{ item['date_added'] }}</td>
                          <td>
                            {{ item['orderstatus'] }}
                            {% if item['is_full_refund'] %}
                              (Return all)
                            {% endif %}
                          </td>
                          <td class="center">
                            <a class="btn btn-primary" data-toggle="tooltip" title="View"
                               href="{{ item['orderidlink'] }}"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-default btn-form-display" href="{{ item['send_mail_link'] }}" data-toggle="tooltip" title="Contact Buyer">
                              <i class="fa fa-envelope"></i>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td class="text-center" colspan="10">{{ text_no_results }}</td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div>
                <div class="text-right" style="height: 40px">{{ pagination }}</div>
                <div class="text-right">{{ results }}</div>
              {% else %}
                <div class="text-danger">
                  {{ error_warning_authenticate }}
                </div>
              {% endif %}
            </div>
          </fieldset>
          {{ content_bottom }}
        </div>
      {% else %}
        <h2 class='text-danger'> For Become Seller inform Admin </h2>
      {% endif %}

      {{ column_right }}
    </div>
  </div>
{{ contact_buyer }}
    {{ footer }}
<style>
  .table-responsive .table thead a{
    color: rgba(0, 0, 0, 0.85)
  }
  .table tbody td i.fa{
    font-size: 12px;
  }
  .table-responsive .table tr td{
    text-align: center;
  }
    {# vat 覆盖样式 #}
  .table-responsive {
    overflow-x: initial;
    overflow-y: initial;
  }
</style>
<script type="text/javascript">
    $('#input-date-from').datetimepicker({
        pickDate: true,
        pickTime: false
    });
    $('#input-date-to').datetimepicker({
        pickDate: true,
        pickTime: false
    });

    $('input[name=\'filter_nickname\']').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: '{{ auto_complete_nickname }}&filter_nickname=' + encodeURIComponent(request),
                dataType: 'json',
                success: function (json) {
                    response($.map(json, function (item) {
                        return {
                            label: item['nickname'],
                            value: item['nickname']
                        }
                    }));
                }
            });
        },
        'select': function (item) {
            $('input[name=\'filter_nickname\']').val(item['label']);
        }
    });

    function refilter() {
        location = '{{ current }}';
    }

    {# N-81 全部退货 start #}
    let orderStatusSelect = $('select[name=\'filter_order_status\']');
    let refundCheckbox = $('input[name=\'filter_include_all_refund\']');
    orderStatusSelect.on('change', function () {
      let selectVal = orderStatusSelect.val();
      if (selectVal === '*') {
        return;
      }
      selectVal = parseInt(selectVal);
      if (selectVal === 7) {
        refundCheckbox.prop('disabled', true).prop('checked', false);
      } else {
        refundCheckbox.prop('disabled', false)
      }
    });
    {# N-81 全部退货 end #}
    function downloadOrderHistory() {

      url = 'index.php?route=account/customerpartner/orderlist/downloadOrderHistory';

      var filter_order = $('input[name=\'filter_order\']').val();

      if (filter_order) {
        url += '&filter_order=' + encodeURIComponent(filter_order);
      }

      var filter_nickname = $('input[name=\'filter_nickname\']').val();

      if (filter_nickname) {
        url += '&filter_nickname=' + encodeURIComponent(filter_nickname);
      }

      var filter_sku_mpn = $('input[name=\'filter_sku_mpn\']').val();

      if (filter_sku_mpn) {
        url += '&filter_sku_mpn=' + encodeURIComponent(filter_sku_mpn);
      }

      var filter_date_from = $('input[name=\'filter_date_from\']').val();

      if (filter_date_from) {
        url += '&filter_date_from=' + encodeURIComponent(filter_date_from);
      }

      var filter_date_to = $('input[name=\'filter_date_to\']').val();

      if (filter_date_to) {
        url += '&filter_date_to=' + encodeURIComponent(filter_date_to);
      }

      var filter_include_all_refund = $('input[name=\'filter_include_all_refund\']').prop('checked');
      if (filter_include_all_refund) {
        url += '&filter_include_all_refund=1';
      }

      var filter_order_status = $('select[name=\'filter_order_status\']').val();
      if (filter_order_status && filter_order_status !== '*') {
        url += '&filter_order_status=' + filter_order_status;
      }

      if (filter_date_from && filter_date_to && filter_date_from > filter_date_to) {
        alert('{{ error_filter_date }}');
        return;
      }

      location = url;
    }

    function filter() {
      url = '{{ current }}';

      var filter_order = $('input[name=\'filter_order\']').val();

      if (filter_order) {
        url += '&filter_order=' + encodeURIComponent(filter_order);
      }

      var filter_nickname = $('input[name=\'filter_nickname\']').val();

      if (filter_nickname) {
        url += '&filter_nickname=' + encodeURIComponent(filter_nickname);
      }

      var filter_sku_mpn = $('input[name=\'filter_sku_mpn\']').val();

      if (filter_sku_mpn) {
        url += '&filter_sku_mpn=' + encodeURIComponent(filter_sku_mpn);
      }

      var filter_date_from = $('input[name=\'filter_date_from\']').val();

      if (filter_date_from) {
        url += '&filter_date_from=' + encodeURIComponent(filter_date_from);
      }

      var filter_date_to = $('input[name=\'filter_date_to\']').val();
      if (filter_date_to) {
        url += '&filter_date_to=' + encodeURIComponent(filter_date_to);
      }
      var filter_include_all_refund = $('input[name=\'filter_include_all_refund\']').prop('checked');
      if (filter_include_all_refund) {
        url += '&filter_include_all_refund=1';
      }

      var filter_order_status = $('select[name=\'filter_order_status\']').val();
      if (filter_order_status && filter_order_status != '*') {
        url += '&filter_order_status=' + filter_order_status;
      }

      if (filter_date_from && filter_date_to && filter_date_from > filter_date_to) {
        alert('{{ error_filter_date }}');
        return;
      }

      location = url;
    }

    $('fieldset input').keydown(function (e) {
        if (e.keyCode == 13) {
            filter();
        }
    });
</script>