{{ header }}{{ separate_column_left }}

<link rel="stylesheet" href="catalog/view/javascript/bootstrap-table/bootstrap-table-1.15.2.css">
<script src="catalog/view/javascript/bootstrap-table/bootstrap-table-1.15.2.js"></script>

<div class="container-fluid giga-content" id="content" style="margin-left: 15%">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div id="content">
    <h1 style="margin-bottom: 15px">
      <span class="content-heading">{{ language.page_title }}</span>
    </h1>

    <fieldset id="freight_inquiry" style="background-color: #FFFFFF;">
      <div class="search_field">
        <div class="col-sm-11">
          <div class="input-group search_input">
            <input type="text" class="form-control search" name="search" placeholder="{{ language.input_placeholder }}">
            <span class="input-group-addon" id="basic-addon1">
           <span class="glyphicon glyphicon-remove-sign but_clear" aria-hidden="true"></span>
          </span>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="input-group-btn download_btn">
            <button class="btn btn-default" type="button" onclick="download_freight()">
              <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
      <div style="margin-top: 60px">
        <table id="table"></table>
      </div>
    </fieldset>
  </div>
</div>
{{ footer }}
<style>
  .search_field {
    margin-top: 10px;
  }

  .download_btn {
    text-align: center;
  }

  .but_clear {
    cursor: pointer;
  }
  .display-none{
    display: none;
  }
  .display-show{
    display: block;
  }
  .dropdown-menu{
    z-index: 9999;
  }
</style>
<script>
    let $table = $('#table');
    let $isTableInit = false;
    let $postUrl = '{{ get_fee_url }}';

    function filter() {
      $option = {
        url: $postUrl,
        queryParams: function (params) {
          let data = {};
          data['sort'] = params['sort'];
          data['order'] = params['order'];
          data['page'] = (params['offset'] / params['limit'] + 1);
          data['per_page'] = params['limit'];
          if ($('input[name=\'search\']').val()) {
            data['code'] = $('input[name=\'search\']').val();
          }
          return data;
        },
        classes: 'table table-hover',
        sidePagination: "server",
        pagination: true,
        pageNumber: 1,
        pageSize: 15,
        pageList: [5, 15, 20, 50, 100],
        columns: [
          {
            field: '',
            title: '{{ language.table_column_1 }}',
            align: 'center',
            width: '200',
            formatter: function (value, row, index) {
              //获取每页显示的数量
              var pageSize = $('#table').bootstrapTable('getOptions').pageSize;
              //获取当前是第几页
              var pageNumber = $('#table').bootstrapTable('getOptions').pageNumber;
              //返回序号，注意index是从0开始的，所以要加上1
              return pageSize * (pageNumber - 1) + index + 1;
            }
          },
          {
            field: 'sku',
            title: '{{ language.table_column_2 }}',
            width: '300',
            align: 'center',
            formatter: function (value, row, index) {
              let $txt = value;
              $txt += row['tags_html'];
              return $txt;
            }
          },
          {
            field: 'mpn',
            title: '{{ language.table_column_3 }}',
            align: 'center',
            width: '250',
          },
          {
            field: 'freight',
            title: '{{ language.table_column_4 }}',
            align: 'center',
            width: '200',
          },
          {
            field: 'package_fee_d',
            title: '{{ language.table_column_5 }}',
            align: 'center',
            width: '200',
          },
          {
            class: '{{ is_usa }}' ? '' : 'display-none',
            field: 'package_fee_h',
            title: '{{ language.table_column_6 }}',
            align: 'center',
            width: '200',
          },
        ],
        formatNoMatches: function () {
          return 'No records.';
        },

      }
      refreshTable($option);
    }

    function refreshTable(options) {
        $table.bootstrapTable('destroy');
        $table.bootstrapTable(options);
        $isTableInit = true;
    }

    filter();

    $('input[name=\'search\']').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: '{{ autocomplete_url }}',
                type: "POST",
                data: {"code": $(this).val()},
                dataType: 'json',
                success: function (json) {
                    response($.map(json, function (item) {
                        return {
                            label: item['sku'],
                            value: item['sku']
                        }
                    }));
                }
            });
        },
        'select': function (item) {
            $('input[name=\'search\']').val(item['label']);
            filter();
        }
    });

    $('input[name=\'search\']').change(function () {
        filter();
    });

    $('.but_clear').click(function () {
        $('input[name=\'search\']').val('');
        filter();
    });

    function download_freight() {
        let url = '{{ freight_download }}';
        window.location.href = url + '&code=' + $('input[name=\'search\']').val();
    }

    function in_array(search, array) {
        for (var i in array) {
            if (array[i] == search) {
                return true;
            }
        }
        return false;
    }

    $(document).delegate('.show_tips', 'mouseover', function () {
        let that = this;
        let $txt = $(this).data('show');
        layer.tips($txt, that, {tips: [1, '#333333'], area: ['auto', 'auto'], time: -1});
    });

    $(document).delegate('.show_tips', 'mouseout', function () {
        layer.closeAll();
    })

</script>
