{{ header }}{{ separate_column_left }}
<style>
  .dropdown-menu {
    position: absolute !important;
  }
  .review-filter label[for="input-status"] {
    margin-left:15%;
  }
  .review-filter .input-group-btn > .button {
    line-height: 20px;
  }
  @media only screen and (max-width: 767px) {
    #input-status {
      margin-left: 0;
      margin-right: 0;
      width: 95%;
    }
    .oc2 .form-horizontal .form-group label {
      width: auto;
    }
    .oc2 fieldset label + input.form-control, #input-status, .oc2 .form-horizontal .form-group label + div {
      width: 95%;
      float: none;
      /* check */
    }
    .pull-right {
      float: right;
      /* check */
    }
    #content #button-filter {
      margin: 15px 5%;
    }
    .review-filter label[for="input-status"] {
      margin-left: 0;
    }
    .review-filter .date > input {
      min-width: auto;
    }
    .table-responsive {
      overflow: auto;
    }
  }
  @media only screen and (max-width: 480px) {
    #input-status {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    button[onclick="clearfilter();"] {
      margin-top: 0px !important;
    }
    fieldset .table-responsive {
      overflow: auto !important;
    }
    .pull-right {
      float: none !important;
      /* check */
    }
    #content #button-filter {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media only screen and (min-width: 480px) {
    .col-sm-4{
      width: 33.33%;
    }
    .review-filter .row:first-child{
      display: inline-flex;
    }
  }
</style>
{% if separate_view is defined and separate_view %}
<div class="container-fluid" id="content" style="margin-left: 15%;" >
  {% else %}
  <div class="container">
    {% endif %}
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li>
          <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
      {% endfor %}
    </ul>
    <h1>{{ heading_title }}</h1>
      {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-check-circle"></i> {{ error_warning }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
      {% endif %}
      {% if success %}
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
      {% endif %}
      <div class="row">
          <div id="filter-review" class="col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                  <div  class="panel-body">
                      <div class="col-sm-4">
                      <div class="form-group">
                          <label class="control-label" for="input-product">{{ entry_product }}</label>
                          <input type="text" name="filter_product" value="{{ filter_product }}" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
                      </div>
                      </div>
                      <div class="col-sm-4">
                      <div class="form-group">
                          <label class="control-label" for="input-status">{{ entry_status }}</label>
                          <select name="filter_status" id="input-status" class="form-control">
                              <option value=""></option>
                              {% if filter_status == '1' %}
                                  <option value="1" selected="selected">{{ text_enabled }}</option>
                              {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                              {% endif %}
                              {% if filter_status == '0' %}
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                              {% else %}
                                  <option value="0">{{ text_disabled }}</option>
                              {% endif %}
                          </select>
                      </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label class="control-label col-sm-12" for="input-date-added" style="padding: 0">reviews posted within the following time period</label>
                              <div class="input-group date col-sm-6" style="float: left">
                                  <input type="text" name="filter_start_date_added" value="{{ filter_start_date_added }}" placeholder="Pick A Date..." data-date-format="YYYY-MM-DD 00:00:00" id="input-date-added" class="form-control date" />
                                  <span class="input-group-btn">
                                      <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                   </span>
                              </div>
                              <div class="input-group date col-sm-6" style="float: left">
                              <input type="text" name="filter_end_date_added" value="{{ filter_end_date_added }}" placeholder="Pick A Date..." data-date-format="YYYY-MM-DD 23:59:59" id="input-date-added" class="form-control date" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                            </span>
                            </div>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group text-right" >
                              <button type="button" id="button-filter" class="btn btn-primary pull-right">Filter</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-review">
                          <div class="table-responsive">
                              <table class="table table-hover table-bordered table-striped" style="/*table-layout:fixed;*/">
                                  <thead>
                                  <tr>
                                      <td style="width: 30px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                                      <td class="text-left" width="450px">{% if sort == 'pd.name' %} <a href="{{ sort_product }}" class="{{ order|lower }}">{{ column_product }}</a> {% else %} <a href="{{ sort_product }}">{{ column_product }}</a> {% endif %}</td>
                                      <td class="text-left" width="120px">{{ column_sku }}</td>
                                      <td class="text-left" width="120px">{{ column_mpn }}</td>
                                      <td class="text-left"width="450px">{{ column_image }}</td>
                                      {#14052 【需求优化】产品评论功能隐藏Buyer昵称和编码#}
                                      {#<td class="text-left" width="120px">{% if sort == 'r.author' %} <a href="{{ sort_author }}" class="{{ order|lower }}">{{ column_author }}</a> {% else %} <a href="{{ sort_author }}">{{ column_author }}</a> {% endif %}</td>#}
                                      <td class="text-right" width="120px">{% if sort == 'r.rating' %} <a href="{{ sort_rating }}" class="{{ order|lower }}">{{ column_rating }}</a> {% else %} <a href="{{ sort_rating }}">{{ column_rating }}</a> {% endif %}</td>
                                      <td class="text-left" width="100px">{{ column_seller_rating }}</td>
                                      <td class="text-left"  width="100px">{% if sort == 'r.status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                                      <td class="text-left"  width="150px">{% if sort == 'r.date_added' %} <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a> {% else %} <a href="{{ sort_date_added }}">{{ column_date_added }}</a> {% endif %}</td>
                                      <td class="text-right" width="60px">{{ column_action }}</td>
                                  </tr>
                                  </thead>
                                  <tbody>

                  {% if reviews %}
                    {% for review in reviews %}
                      <tr>
                        <td class="text-center">{% if review.review_id in selected %}
                            <input type="checkbox" name="selected[]" value="{{ review.review_id }}" checked="checked" />
                          {% else %}
                            <input type="checkbox" name="selected[]" value="{{ review.review_id }}" />
                          {% endif %}</td>
                        <td class="text-left">{{ review.name }}</td>
                        <td class="text-left">{{ review.sku }}</td>
                        <td class="text-left">{{ review.mpn }}</td>
                        <td class="text-left">{% for image in review.images  %}
                            <img src="storage/reviewFiles/{{ image['path'] }}" style="width: 40px;height: 40px">
                          {% endfor %}
                        </td>
                        {#14052 【需求优化】产品评论功能隐藏Buyer昵称和编码#}
                        {#<td class="text-left" style="word-break: break-all">{{ review.author }}</td>#}
                        <td class="text-right" >{{ review.rating }}</td>
                        <td class="text-left">{{ review.seller_rating }}</td>
                        <td class="text-left">{{ review.status }}</td>
                        <td class="text-left">{{ review.date_added }}</td>
                        <td class="text-right"><a href="{{ review.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td class="text-center" colspan="10">{{ text_no_results }}</td>
                    </tr>
                  {% endif %}
                  </tbody>

                </table>
              </div>
            </form>
            <div class="row" style="height: 45px">
              <div class="text-left"></div>
              <div class="text-right">{{ pagination }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .form-group input,
    .form-group select{
      background-color: #f3f5f7;
      height: 45px;
      border-radius: 8px;
    }
    .form-group .btn-default{
      height: 45px;
      border-radius: 8px;
      box-shadow: none;
    }
  </style>
  <script type="text/javascript"><!--
      $('#button-filter').on('click', function() {
          url = 'index.php?route=account/customerpartner/product_review';

          var filter_product = $('input[name=\'filter_product\']').val();

          if (filter_product) {
              url += '&filter_product=' + encodeURIComponent(filter_product);
          }

          var filter_author = $('input[name=\'filter_author\']').val();

          if (filter_author) {
              url += '&filter_author=' + encodeURIComponent(filter_author);
          }

          var filter_status = $('select[name=\'filter_status\']').val();

          if (filter_status !== '') {
              url += '&filter_status=' + encodeURIComponent(filter_status);
          }

          var filter_start_date_added = $('input[name=\'filter_start_date_added\']').val();
          if (filter_start_date_added) {
              url += '&filter_start_date_added=' + encodeURIComponent(filter_start_date_added);
          }

          //14052【需求优化】产品评论功能隐藏Buyer昵称和编码
          var filter_end_date_added = $('input[name=\'filter_end_date_added\']').val();
          if (filter_end_date_added) {
              url += '&filter_end_date_added=' + encodeURIComponent(filter_end_date_added);
          }

          location = url;
      });
      //--></script>
  <script type="text/javascript"><!--
      $('.date').datetimepicker({
          language: '{{ datepicker }}',
          pickTime: false
      });
      //--></script></div>
{{ footer }}