{{ header }}
{{ separate_column_left }}
<style>
  .button-filter {
    background-color: #0b9bc2;
    color: white;
    margin-top: 23px;
  }

  .button-download {
    margin-top: 23px;
  }

  table thead tr {
    background-color: #f9f9f9;
  }
  .last-td .fht-cell{
    width: auto !important;
  }
  .bootstrap-table .fixed-table-container .fixed-table-header{
    overflow: initial !important;
  }
  .bootstrap-table .fixed-table-container .fixed-table-header .table{
      width: 100% !important;
  }
  .bootstrap-table .fixed-table-container .fixed-table-body{
      border-right: 1px solid #ddd;
  }
  .bootstrap-table .fixed-table-container .fixed-table-body .table-bordered{
      border-right: none;
  }

</style>
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<link rel="stylesheet" href="catalog/view/javascript/bootstrap-table/bootstrap-table.min.css">
<script type="text/javascript" src="catalog/view/javascript/bootstrap-table/bootstrap-table.js"></script>
{% if separate_view is defined and separate_view %}
<div class="container-fluid" id="content" style="margin-left: 235px">
  {% else %}
  <div class="container">
    {% endif %}
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
    {% if success %}
      <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="row" id="main-content">
      {{ column_left }}
      {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
      {% else %}
        {% set class = 'col-sm-12' %}
      {% endif %}

      <div id="content" class="{{ class }}">
        {{ content_top }}
        <h2>
          {{ heading_title }}
          <div class="pull-right">
            <a data-toggle="tooltip" title="{{ tip_save }}" onclick="save()" class="btn btn-primary"><i class="fa fa-save"></i></a>
            <a href="{{ url_page_back }}" data-toggle="tooltip" title="{{ tip_back }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
          </div>
        </h2>

        <div class="panel panel-default">
          <div class="panel-heading" style="font-size: 15px"><strong><i class="fa fa-pencil"></i></strong> {{ heading_title_add_group }}</div>
          <div class="panel-body">
            <form action="" class="form-horizontal">
              <div class="form-group">
                <label class="col-md-2 control-label" for="input_name"><i style="color: red">*</i>{{ column_name }}</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="input_name" maxlength="50" placeholder="{{ text_name_characters }}"/>
                  <span style=""></span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label" for="input_description">{{ column_description }}</label>
                <div class="col-md-8">
                  <textarea class="form-control" id="input_description" maxlength="100" rows="5"
                            placeholder="{{ text_description_characters }}"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label"><i style="color: red">*</i>{{ column_products }}</label>
                <div class="col-md-8">
                  <div class="well" style="background-color: white;padding: 0">
                    <table id="tb_product_lists" class="table table-striped table-hover table-bordered" style=""></table>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        {{ content_bottom }}
      </div>
      {{ column_right }}
    </div>
  </div>

  {% if separate_view is defined and separate_view %}
</div>
{% endif %}
{{ footer }}

<script>

  let url_save = '{{ url_add }}';

  $(function () {
    init_products_list();
    // $("#input_name").keyup(trim_keyup);
    // $("#input_description").keyup(trim_keyup);
  });

  function init_products_list() {
    $("#tb_product_lists").bootstrapTable({
      url: 'index.php?route=account/customerpartner/productgroup/getProducts',
      sidePagination: "true",
      striped: true, // 是否显示行间隔色
      search: "true",
      searchAlign: "left",
      uniqueId: "product_id",
      idField: "num",
      pageSize: "10",
      // showRefresh: true,
      pagination: false, // 是否分页
      sortable: true, // 是否启用排序
      height: 400,
      selectItemName: 'select_products',
      columns: [
        {
          field: '',
          title: '',
          halign: 'center',
          valign: 'center',
          align: 'center',
          checkbox: true,
          width: '5%',
        },
        {
          field: 'num',
          title: 'No.',
          halign: 'center',
          valign: 'center',
          align: 'center',
          width: '5%',
        },
        {
          field: 'sku',
          title: 'Item Code',
          halign: 'center',
          valign: 'center',
          align: 'center',
          sortable: true,
          width: '20%',
        },
        {
          field: 'mpn',
          title: 'MPN',
          halign: 'center',
          valign: 'center',
          align: 'center',
          sortable: true,
          width: '20%',
        },
        {
          field: 'name',
          title: 'Product Name',
          halign: 'center',
          valign: 'center',
          align: 'center',
          width: '50%',
          class:'last-td',
          sortable: true,
          formatter: function (value, row, index) {
            return '<a href="{{ url_product_page }}' + row.product_id + '" target="_blank" >' + row.name + '</a>';
          }
        }
      ],
      clickToSelect: true,
      maintainSelected: true,
    });
  }


  function save() {
    let postData = {};
    postData.name = $("#input_name").val().trim();
    postData.description = $("#input_description").val().trim();
    let input_products = $("#tb_product_lists").bootstrapTable('getSelections');
    postData.products = [];
    $.each(input_products, function (k, v) {
      postData.products.push(v.product_id);
    });

    if (postData.name.length === 0) {
      layerMsg('{{ error_name_empty }}');
      return;
    }

    if (postData.products.length === 0) {
      layerMsg('{{ error_products_empty }}');
      return;
    }
    ajax(postData, url_save, save_success_callback);
  }

  function save_success_callback(result, otherParams = null) {
    layer.closeAll();
    layerMsg(result.msg, 3000);
    if (result.error == 0) {
      window.location.href = '{{ url_page_back }}';
    }
  }

  //region common functions
  function trim_keyup(e) {
    lucene_objInput = $(this);
    if (e.keyCode != 38 && e.keyCode != 40 && e.keyCode != 13) {
      let im = $.trim(lucene_objInput.val());
      lucene_objInput.val(im);
    }
  }

  function layerMsg(message, time = 2000) {
    layer.msg(message, {time: time});
  }

  function ajax(data, url, successCallback, otherParams = null, errorCallback = undefined) {
    $.ajax({
      url: url,
      type: 'POST',
      dataType: 'json',
      data: data,
      beforeSend: function () {
        layer.load();
      },
      success: function (json) {
        successCallback(json, otherParams);
      },
      error: function (xhr, ajaxOptions, thrownError,) {
        if (!errorCallback === undefined) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      }
    })
  }

  //endregion
</script>