
{{ header }}{{ separate_column_left }}

<link rel="stylesheet" href="catalog/view/javascript/bootstrap-table/bootstrap-table-1.15.2.css">
<script src="catalog/view/javascript/bootstrap-table/bootstrap-table-1.15.2.js"></script>

{% if separate_view is defined and separate_view %}
<div class="container-fluid" id="content" style="margin-left: 15%">
  {% else %}
  <div class="container">
    {% endif %}
    {{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div class="row {{ class }}">
      <div id="rebates_form">
        <div class="page-header" style="margin: 0;border: none">
          <div class="container-fluid">
            <div>
              <ul class="breadcrumb" style="margin: 8px 0 0 0">
                {% for breadcrumb in breadcrumbs %}
                  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid"
             style="padding-top:10px;padding-bottom: 5px;margin-bottom:18px;border-bottom: 1px solid #e9e9e9">
          <div class="pull-left">
            <h1 style="margin-top: 0">{{ heading_title }}</h1>
          </div>
        </div>

        <div style="margin:0 auto" class="main_form">
          <div class="tit">
            <i class="fa fa-info-circle" aria-hidden="true"></i>{{ language.new_head_title_tip }}
          </div>
          <div class="col-sm-10 list">
            <div class="form-group col-sm-8">
              <label for="">{{ language.new_day.day }}</label><span>{{ language.new_day.required }}</span><br>
              <input class="col-sm-12 " type="number" name="days" value="{{ tpl.day|default(35) }}" onchange="validSoldDay(this)">
              <p class="col-sm-8  err_info" id="min_day_error" style="color: red;font-size: 12px;display: none">{{  language.error_sold_day }}</p>
            </div>
            <div class="form-group col-sm-12">
              <label for="">{{ language.new_min_quantity.min_quantity }}
                <i class="giga icon-V10-wenhaotishi help_tip"
                   data-tips="{{ language.new_min_quantity.tips }}"></i>
              </label>
              <span style="margin-right:35%">{{ language.new_min_quantity.required }}</span><br>
              <input class="col-sm-8" type="number" name="min_quantity" value="{{ tpl.qty|default(20) }}" onchange="validSoldQty(this)">
              <p class="col-sm-4" style="padding-top: 12px">{{ language.new_min_quantity.total_inv }}<i class="curr_num" style="color: red;font-style: initial;"></i></p>
              <p class="col-sm-8 err_info" id="min_quantity_error" style="color: red;font-size: 12px;display: none">{{  language.new_min_quantity.error }}</p>
            </div>

            <!-- rebate -->
            <div class="form-group col-sm-8">
              <label for="">
                {{ language.new_rebate.rebate }}
                <i class="giga icon-V10-wenhaotishi help_tip"
                   data-tips="{{ language.new_rebate.rebate_tip }}"></i>
              </label>
              <span>{{ language.new_min_quantity.required }}</span>
              <br>
              <div class="col-sm-4" style="margin-top: 13px;">
                <input type="radio" name="rebate_type" value="percent" id="radio_r" {% if tpl.rebate_type ==0 or not tpl.rebate_type %} checked {% endif %}>
                <p style="display: inline ;vertical-align: top; margin-left: 5px;">
                  <label for="radio_r">{{ language.new_rebate.rebate_type_1 }}</label>
                  <i class="giga icon-V10-wenhaotishi help_tip" data-tips="{{ language.new_rebate.rabate_type_1_tip }}"></i>
                </p>
              </div>
              <div class="col-sm-4" style="margin-top: 13px;">
                <input type="radio" name="rebate_type" value="amount" id="radio_a" {% if tpl.rebate_type ==1 %} checked {% endif %}>
                <p style="display: inline ;vertical-align: top; margin-left: 5px;"><label for="radio_a">{{ language.new_rebate.rebate_type_2|format(symbol) }}</label>
                  <i class="giga icon-V10-wenhaotishi help_tip" data-tips="{{ language.new_rebate.rabate_type_2_tip }}"></i>
                </p>
              </div>
              <input type="number" class="col-sm-4" name="rabate_value" value="{{ tpl.rebate_value|default('30.00') }}">
              <div  class="col-sm-12">
                <p id="radio_r_error" style="color: red;font-size: 12px;display: none;" >{{  language.error_rabate_value_rate }}</p>
                <p id="radio_a_error" style="color: red;font-size: 12px;display: none;" >{{  language.error_rabate_value_amount }}</p>
              </div>

            </div>
            <!-- product -->
            <div class="form-group col-sm-8">
              <label for="">{{ language.new_product.product }}
                <i class="giga icon-V10-wenhaotishi help_tip"
                   data-tips="{{ language.new_product.product_tip }}"></i>
              </label>
              <span>{{ language.new_min_quantity.required }}</span><br>
              <input class="col-sm-12" type="text" name="get_sku" placeholder="{{ language.new_product.product_placeholder }}" value="{{ tpl.search_product|default('') }}">  <!-- value="W206S00003" -->
            </div>
            <p class="col-sm-12 err_info"  id="product_error" style="color: red;font-size: 12px; display: none">{{  language.new_product.error }}</p>

            <!-- place limit-->
            <div class="form-group col-sm-12">
              <label for="">{{ language.place_limit.title }}
                <i class="giga icon-V10-wenhaotishi help_tip" data-tips="{{ language.place_limit.tip_title }}"></i>
              </label>
              <span style="margin-right:35%">{{ language.place_limit.required }}</span><br>
              <div class="col-sm-8">
                <div class="col-sm-4" style="margin-top: 13px;">
                  <input type="radio" name="place_limit" value="no_limit" id="no_limit" checked/>
                  <p style="display: inline;vertical-align: top;margin-left: 5px">
                    <label for="no_limit">{{ language.place_limit.no_limit }}</label>
                    <i class="giga icon-V10-wenhaotishi help_tip" data-tips="{{ language.place_limit.tip_no_limit }}"></i>
                  </p>
                </div>
                <div class="col-sm-4" style="margin-top: 13px;">
                  <input type="radio" name="place_limit" value="limit_number" id="limit_number">
                  <p style="display: inline ;vertical-align: top; margin-left: 5px;">
                    <label for="limit_number">{{ language.place_limit.available_place }}</label>
                    <i class="giga icon-V10-wenhaotishi help_tip" data-tips="{{ language.place_limit.tip_available_place }}"></i>
                  </p>
                </div>
                <input type="number" class="col-sm-4" name="limit_number_value" id="limit_number_value" onkeyup="check_place_limit(this)" disabled/>
              </div>
              <p class="col-sm-4" style="padding-top: 12px">
                <span style="color: red;float: none">{{ used_num<0?0:used_num }}</span> {{ language.place_limit.left_tip }}
              </p>
            </div>
            <p class="col-sm-12 err_info"  id="place_limit_error" style="color: red;font-size: 12px; display: none">{{  language.place_limit.error }}</p>

          </div>
        </div>

        <div class="col-sm-12" style="margin-top: 60px">
          <table id="table"></table>
          <div class="table_err_info">
            <p class="err_exc err_info">{{language.error_new_exclusive}}</p>
            <p class="err_rebate err_info">{{language.error_new_rebate}}</p>
            <p class="err_min_qty err_info">{{language.error_new_limit_qty}}</p>
          </div>
        </div>

        <div class="col-sm-12" style="margin-top: 60px;text-align: center;">
          <div>
            <input type="checkbox" id="read_agreement">
            <span style="vertical-align: top;">
              {#              <a href="javascript:viod(0)">《返点活动协议-卖家版》</a>#}
              {{ language.read_agreement|format('<a href="' ~ clause_url ~ '" target="_blank" style="font-size: 12px;color: #1e91cf">' ~ clause_title ~ '</a>') }}
            </span>
            <p class="err_info agree_err" style="color: red;display: block">Terms must be checked</p>
          </div>
          <p class="input_list">
            <input type="hidden" name="tpl_id" value="{{ tpl.id|default(0) }}">
            <input class="btn btn-default active btn_save" id="btn_save" type="button" value="{{ language.button_save }}"
                   data-modal_id="modal_save"
                   disabled/>
            <input class="btn btn-default active btn_save_apply help_tip_button" id="btn_save_apply" type="button" value="{{ language.button_save_apply }}"
                   data-modal_id="modal_save_apply"
                   data-tips="{{ language.button_save_apply_tips }}"
                   disabled/>
          </p>
        </div>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>

<div class="modal fade" id="modal_save" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Rebate Template Review</h4>
      </div>
      <div class="modal-body">
        <h4>This is the rebate template preview, do you confirm to save?</h4>
        <div>
          <table class="table tab">
            <tr>
              <th class="font-color">DAY</th>
              <td><span id="modal_day"></span></td>
              <td></td><td></td><td>|</td>
              <th class="font-color">Min.Total Selling Quantity</th>
              <td><span id="modal_min_quantity"></span></td>
              <td></td><td></td><td>|</td>
              <th class="font-color">Available Place</th>
              <td><span id="modal_place_limit_value"></span></td>
            </tr>
          </table>
          <table class="table table-hover ">
            <thead>
            <tr>
              <th>Image</th>
              <th>Item Code</th>
              <th>Exclusive Price<br/>({{ symbol }}/Unit)</th>
              <th>Rebate Amount<br/>({{ symbol }}/Unit)</th>
              <th>Agreed Minimum <br/>Selling Price({{ symbol }}/Unit)</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="check_price_freight"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal_btn_save">SAVE</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_save_apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Rebate Template Review</h4>
      </div>
      <div class="modal-body">
        <h4>This is the rebate template preview, do you confirm to save it and apply to create a new template?</h4>
        <div style="margin-top: 10px">
          <table class="table tab">
            <tr>
              <th class="font-color">DAY</th>
              <td><span id="modal_day"></span></td>
              <td></td><td></td><td>|</td>
              <th class="font-color">Min.Total Selling Quantity</th>
              <td><span id="modal_min_quantity"></span></td>
              <td></td><td></td><td>|</td>
              <th class="font-color">Available Place</th>
              <td><span id="modal_place_limit_value"></span></td>
            </tr>
          </table>
          <table class="table table-hover ">
            <thead>
            <tr>
              <th>Image</th>
              <th>Item Code</th>
              <th>Exclusive Price<br/>({{ symbol }}/Unit)</th>
              <th>Rebate Amount<br/>({{ symbol }}/Unit)</th>
              <th>Agreed Minimum <br/>Selling Price({{ symbol }}/Unit)</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="check_price_freight"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary help_tip_button" id="modal_btn_save_apply" data-tips="{{ language.button_save_apply_tips }}">SAVE & APPLY</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<style>

  .table_err_info p{
    color: red;
    display: none;
  }

  .help_tip {
    margin-left: 3px;
    color: #B620E0;
    /*cursor: pointer;*/
    font-size: 12px;
  }

  .modal-content{
    width: 800px;
  }

  .modal-header {
    background-color: #183464;
    color: #fff;
  }

  .modal-header button {
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
  }

  .modal-body h4 {
    font-weight: bold;
    padding-bottom: 10px;
  }

  .modal-body .tab {
    border: 1px solid #ddd;
  }

  .modal-body .table td {
    vertical-align: middle;
  }

  .input_list input {
    margin: 5px 20px;
  }

  .tit {
    background-color: #fff5ee;
    color: #fb6400;
    padding: 8px;
  }

  .list label {
    color: #bbb;
  }

  .list span {
    color: red;
    float: right;
  }

  .list input:not([type=checkbox]):not([type=radio]) {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f3f5f7;
  }

  .a span {
    color: #ccc;
    float: left;
  }

  .a {
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
  }

  .a input {
    float: left;
    border: none;
    outline: none;
    background-color: #fff;
    width: 60%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .layui-layer-tips {
    word-wrap: break-word;
    word-break: break-all;
  }

  .font-color{
    color: #677999;
  }

  .border-red{
    border: 1px solid red;
  }

  html input[disabled] {
    cursor: not-allowed;
  }

</style>
<script src="catalog/view/javascript/layer/layer.js" type="text/javascript"></script>
<script>

    layer.config({
        skin: 'yzc_layer',
        btn: ['Yes', 'No'],
        btnAlign: 'c',
    });

    let $table = $('#table');
    let $isTableInit = false;
    let is_non_inner_account = {{ is_non_inner_account ? 1 : 0}};

    //修改页面--自动弹出
    var product_child ={{ tpl.child|json_encode|raw }};
    var _place_limit = {{ place_limit }};
    $(function () {
        //amount的值变化
        var amount_val = $('input[name="rabate_value"]').val();
        if (amount_val) {
            if ($('input[name="rebate_type"]:checked').val() === 'percent') {
                amount_val = (amount_val * 1).toFixed(decimal_place);
            } else {
                amount_val = (amount_val * 1).toFixed(2);
            }
            $('input[name="rabate_value"]').val(amount_val)
        }
        let search_product = $('input[name="get_sku"]').val();
        if (search_product) {
            //自动弹出
            {% if curr_page =='modify' or curr_page=='copy' %}
              $('input[name=\'get_sku\']').val('--');
              filter('index.php?route=account/customerpartner/rebates/get_rebate_product_info',{{ tpl_id }});
            {% else %}
              filter();
            {% endif %}

            remove_dis();

            //监听事件
            $table.on('post-body.bs.table', function (data) {
                let checkbox_list = $('#table input[type="checkbox"]').not('#check_all');
                //自动勾选   --all
                if (checkbox_list.length =={{ tpl.child|length }}) {  //全选
                    $('#check_all').prop('checked', true);
                }
                //自动勾选  --sub
                $.each(checkbox_list, function (k, v) {
                    var tmp_product_id = $(v).data('product_id')
                    var tmp_find = in_array(tmp_product_id, product_child);
                    if (tmp_find) {
                        // sub  勾选
                        $(v).prop('checked', true);
                        line_checkbox_check(v);
                        // 填值
                        $('.table_exclusive_' + tmp_product_id).find('input').val((tmp_find.price * 1).toFixed(decimal_place));
                        $('.table_rebate_' + tmp_product_id).find('input').val((tmp_find.rebate_amount * 1).toFixed(decimal_place));
                        $('.table_agreed_' + tmp_product_id).find('input').val((tmp_find.min_sell_price * 1).toFixed(decimal_place));
                    }
                })
            })
        }

        // place limit
        if (_place_limit < 0) {
            $("#no_limit").prop('checked', true);
        } else {
            $("#limit_number").prop('checked', true);
            $("#limit_number_value").val(_place_limit);
        }
        change_radio_place_limit();
    });

    function dis() {
        $(".btn_save").attr("disabled",true).addClass('btn-default').addClass('active').removeClass('btn-primary');
        $(".btn_save_apply").attr("disabled",true).addClass('btn-default').addClass('active').removeClass('btn-primary');
    }

    function remove_dis() {
        $(".btn_save").removeAttr("disabled").addClass('btn-primary').removeClass('btn-default').removeClass('active');
        $(".btn_save_apply").removeAttr("disabled").addClass('btn-primary').removeClass('btn-default').removeClass('active');
    }

    // 非负整数
    function check_place_limit(obj) {
        obj.value = obj.value.replace(/[^\d]/g, ""); //清除"数字"以外的字符
        obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
        obj.value = obj.value.replace(/\.{2,}/g, ""); //只保留第一个, 清除多余的
        obj.value = obj.value.replace(/0{2,}/g, "0"); //只保留第一个0, 清除多余的
    }

    $('input[name="place_limit"]').change(change_radio_place_limit);
    function change_radio_place_limit() {
        if ($('input[name="place_limit"]:checked').val() === 'no_limit') {
            $('#limit_number_value').attr('disabled','disabled').val('');
            $("#place_limit_error").css('display', 'none');
        }else{
            $('#limit_number_value').removeAttr('disabled');
            if ($("#limit_number_value").val() === '') {
                $('#place_limit_error').css('display','block');
            }else{
                $('#place_limit_error').css('display','none');
            }
        }
    }

    $('#limit_number_value').change(function () {
        let _this_value = $(this).val();
        if ($('input[name="place_limit"]:checked').val() === 'limit_number') {
            if (_this_value === '') {
                $('#place_limit_error').css('display','block');
            }else{
                $('#place_limit_error').css('display','none');
            }
        }
    });

  $('#read_agreement').click(function () {
      if($(this).is(':checked')){
          $('.agree_err').css('display','none')
      }else{
          $('.agree_err').css('display','block')
      }
      change_but_status();
  });

    function change_but_status() {
        var flag = 0;  //启用
        $('.err_info').each(function (i, v) {
            if ($(this).css('display') == 'block') {
                flag = 1;   //禁用
            }
        });
        var search_product = $('input[name="get_sku"]').val();
        if (search_product == '') {    //没有搜索产品   -初始状态下
            flag = 1;   //禁用
        }
        if (flag) {
            dis();
        } else {
            remove_dis();
        }
    }

    var decimal_place ={{ decimal_place |default(2)}};
    function validSoldDay(obj) {
        var value = $(obj).val();
        if ((/^(\+|-)?\d+$/.test(value)) && value > 0) {
            $('#min_day_error').css("display", "none");
            change_but_status();
            return true;
        } else {
            $('#min_day_error').css("display", "block");
            change_but_status();
            return false;
        }
    }

    function validSoldQty(obj) {
        let curr_num=$('.curr_num').html();
        var value = $(obj).val();
        if ((/^(\+|-)?\d+$/.test(value)) && value > 0 && curr_num*1>0 && curr_num*0.8>=value) {
            $('#min_quantity_error').css('display','none');
            change_but_status();
            return true;
        } else {
            $('#min_quantity_error').css('display','block');
            change_but_status();
            return false;
        }
    }


    $('input[name="get_sku"]').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: 'index.php?route=account/customerpartner/rebates/get_sku_autocomplete',
                type: "POST",
                data: "code=" + $(this).val(),
                success: function (json) {
                    response($.map(json, function (item) {
                        return {
                            label: item,
                            value: item
                        }
                    }));
                }
            });
        },
        'select': function (item) {
            $('.curr_num').html('');
            $('input[name="get_sku"]').val(item['label']);
            filter();
            default_select = 0;
            $('.err_exc').css('display', 'none');
            $('.err_rebate').css('display', 'none');
            $('.err_min_qty').css('display', 'none');
        }
    });

    // in array 查找
    function in_array(search,array){
        for(var i in array){
            if(i==search){
                return array[i];
            }
        }
        return false;
    }

    function filter($postUrl, code) {
      if (!$postUrl) {
        $postUrl = 'index.php?route=account/customerpartner/rebates/get_product_info';
      }
      if (!code) {
        code = $('input[name=\'get_sku\']').val();
      }
      $option = {
        url: $postUrl,
        queryParams: function (params) {
          return {
            code: code
          };
        },
        classes: 'table table-hover',
        sidePagination: "server",
        pagination: false,
        columns: [
          {
            field: '',
            title: '<input type="checkbox" id="check_all">',
            align: 'center',
            width: '200',
            formatter: function (value, row, index) {
              return '<input type="checkbox"  data-product_id="' + row['associate_product_id'] + '"/>'
                +'<input type="hidden" name="freight_package_fee" value="'+row['freight_package_fee']+'">'
              +'<input type="hidden" name="alarm_price" value="'+row['alarm_price']+'">';
            }
          },
          {
            field: '',
            title: '{{ table_column_1 }}',
            align: 'center',
            width: '250',
            formatter: function (value, row, index) {
              return '<img src="' + row['image'] + '" style="width: 50px;height: 50px"/>'
            }
          },
          {
            field: 'sku',
            title: '{{ table_column_2 }}',
            align: 'center',
            width: '200',
            formatter: function (value, row, index) {
              return '<div><p><a class="a-link"  target="_blank" href="' + row['product_url'] + '"><span>' + value + '</span>&nbsp;<i class="giga -iconfont icon-table-link"></i></a></p><p style="color: #b3b3b3">' + row['mpn'] + '</p></div>'
            }
          },
          {
            field: 'color',
            title: '{{ table_column_3 }}',
            align: 'center',
            width: '200',
          },
          {
            field: '',
            title: '{{ table_column_4 }}',
            align: 'center',
            width: '200',
            formatter: function (value, row, index) {
              return '<span style="color: #888">' + row['quantity'] + '</span>'
            }
          },
          {
            field: '',
            title: '{{ table_column_5 }}',
            align: 'center',
            width: '200',
            formatter: function (value, row, index) {
              return '<span style="color: #888">' + (('curr_price_show' in row) ? row['curr_price_show'] : row['price_show']) + '</span>'
            }
          },
          {
            field: '',
            title: '{{ table_column_6 }}<i class="giga icon-V10-wenhaotishi help_tip" data-tips="{{ table_column_6_tip }}"></i>',
            align: 'center',
            width: '200',
            formatter: function (value, row, index) {
              return '<div class="table_exclusive_' + row['associate_product_id'] + ' table_exc"  data-product_id="' + row['associate_product_id'] + '" data-row_price="' + row['price'] + '">-</div>';
            }
          },
          {
            field: '',
            title: '{{ table_column_7 }}<i class="giga icon-V10-wenhaotishi help_tip" data-tips="{{ table_column_7_tip }}"></i>',
            align: 'center',
            width: '200',
            formatter: function (value, row, index) {
              return '<div class="table_rebate_' + row['associate_product_id'] + '" data-product_id="' + row['associate_product_id'] + '">-</div>';
            }
          },
          {
            field: '',
            title: '{{ table_column_8 }}<i class="giga icon-V10-wenhaotishi help_tip" data-tips="{{ table_column_8_tip }}"></i>',
            align: 'center',
            width: '200',
            formatter: function (value, row, index) {
              return '<div class="table_agreed_' + row['associate_product_id'] + '" data-product_id="' + row['associate_product_id'] + '">-</div>';
            }
          }

        ],
        formatNoMatches: function () {
          return 'No records.';
        },
        onLoadSuccess: function (data) {
          if (data.length == 0) {
            $('#product_error').css('display', 'block');
            change_but_status();
          } else {
            $('#product_error').css('display', 'none');
            change_but_status();
          }
        }
      };
      refreshTable($option);
    }

    var default_select ={{ default_select|default(0) }};
    $table.on('post-body.bs.table', function (data) {
        if (typeof (default_select) == 'undefined' || default_select == 0) { //默认全选中
            $('#check_all').prop('checked', true);
            var checkbox_list = $('#table input[type="checkbox"]').not('#check_all');
            if ($('#check_all').is(':checked')) {
                checkbox_list.prop('checked', true);
            } else {
                checkbox_list.prop('checked', false);
            }
        } else {
            var checkbox_list = $('#table input[type="checkbox"]').not('#check_all');
            $.each(checkbox_list, function (k, v) {
                if (default_select.indexOf(($(v).data('product_id'))) >= 0) {   //不需要显示
                    $(this).prop('checked', true);
                }
            })
        }
        $.each(checkbox_list, function (k, v) {
            line_checkbox_check(v);
        })
    });

    function refreshTable(options) {
        $table.bootstrapTable('destroy');
        $table.bootstrapTable(options);
        $isTableInit = true;
    }

    //tips
    $(document).delegate('.help_tip,.help_tip_button', 'mouseover', function (e) {
        var that = this;
        let show_info = $(this).data('tips');
        layer.tips(show_info, that, {tips: [1, '#000000'], area: ['220px', 'auto'], time: -1});
    });

    $(document).delegate('.help_tip,.help_tip_button', 'mouseout', function (e) {
        layer.closeAll('tips');
    });

    //product  搜索并提示
    $('input[name="get_sku"]').change(function () {
        $('.curr_num').html('');
        filter();
        default_select=0;
        $('.err_exc').css('display','none');
        $('.err_rebate').css('display','none');
        $('.err_min_qty').css('display','none');
    });

    //checkbox
    function line_checkbox_check(obj) {
        //处理全选按钮
        var checkbox_length = $('#table input[type="checkbox"]').not('#check_all').length;
        var checbox_checked_length=$('#table input[type="checkbox"]:checked').not('#check_all').length;
        if(checkbox_length==checbox_checked_length && checkbox_length>0){
            $('#check_all').prop('checked', true);
        }else{
            $('#check_all').prop('checked', false);
        }
        //处理单个按钮
        let product_id = $(obj).data('product_id');
        if ($(obj).is(':checked')) {
            var tmp_find=in_array(product_id,product_child);
            if(tmp_find){
                var row_price = (tmp_find.price*1).toFixed(decimal_place);
            }else{
                var row_price = ($('.table_exclusive_' + product_id).data("row_price")*1).toFixed(decimal_place);
            }
            $('.table_exclusive_' + product_id).addClass('a').html('<input type="number" class="input_exc" id="input_exc_'+product_id+'" value="' + row_price + '"> <span>{{ symbol }}/UNIT</span>');
            if(tmp_find){
                var amount_show=(tmp_find.rebate_amount*1).toFixed(decimal_place);
            }else{
                var amount_show = 0;
                let amount_val = $('input[name="rabate_value"]').val();
                if ($('input[name="rebate_type"]:checked').val() === 'percent') {
                    if(amount_val*1<=0 ||amount_val*1>=100){
                      {#layer.alert('{{ language.error_rabate_value_rate }}', {title: 'Message',btn: ['Yes']});#}
                        $('#radio_r_error').css('display','block');
                        change_but_status();
                        amount_show='';
                    }else{
                        $('#radio_r_error').css('display','none');
                        change_but_status();
                        amount_show = (row_price * amount_val / 100).toFixed(decimal_place);
                    }
                } else {
                    let row_exc_price=$('.table_exclusive_' + product_id+' input').val();
                    if(amount_val*1<=0||amount_val*1>=row_exc_price*1){
                      {#layer.alert('{{ language.error_rabate_value_amount }}', {title: 'Message',btn: ['Yes']});#}
                        $('#radio_a_error').css('display','block');
                        change_but_status();
                        amount_show='';
                    }else{
                        $('#radio_a_error').css('display','none');
                        change_but_status();
                        amount_show = (amount_val * 1.00).toFixed(decimal_place);
                    }
                }
            }

            $('.table_rebate_' + product_id).addClass('a').html('<input type="number" class="input_rebate" id="input_rebate_'+product_id+'" value="' + amount_show + '"> <span>{{ symbol }}/UNIT</span>');
            if(tmp_find){
                var min_sell_price=(tmp_find.min_sell_price*1).toFixed(decimal_place);
            }else{
                var min_sell_price = (row_price * 1.2).toFixed(decimal_place);
            }
            $('.table_agreed_' + product_id).addClass('a').html('<input type="number" class="input_agree" id="input_agree_'+product_id+'" value="' + min_sell_price + '"> <span>{{ symbol }}/UNIT</span>');
        } else {
            $('.table_exclusive_' + product_id).removeClass('a').html('-');
            $('.table_rebate_' + product_id).removeClass('a').html('-');
            $('.table_agreed_' + product_id).removeClass('a').html('-');
        }
        //计算curr num 总量
        var total=0;
        $('#table tbody tr').each(function (k,v) {
            if($(v).find('input[type="checkbox"]').is(':checked')){
                total += ($(v).find('td:eq(4)').find('span:eq(0)').html())*1;
            }
        });
        let curr_num=Math.floor(total);
        let min_quantity=$('input[name="min_quantity"]').val();
        if(isNaN(curr_num)==false && curr_num>0){
            $('.curr_num').html(curr_num);
            if(curr_num*1>=min_quantity){
                $('#min_quantity_error').css('display','none');
            }else{
                $('#min_quantity_error').css('display','block');
            }
        }else if(curr_num==0){
            $('.curr_num').html(0);
            $('#min_quantity_error').css('display','block');
        }else{
            $('.curr_num').html('');
            $('#min_quantity_error').css('display','block');
        }
        change_but_status();
    }

    //委托事件
    $(document).delegate('#table input[type="checkbox"]:not(#check_all)', 'click', function () {
        line_checkbox_check(this)
    });

    //全选框
    $(document).delegate('#check_all', 'click', function () {
        let checkbox_list = $('#table input[type="checkbox"]').not('#check_all');
        if ($(this).is(':checked')) {
            checkbox_list.prop('checked', true);
        } else {
            checkbox_list.prop('checked', false);
        }
        $.each(checkbox_list, function (k, v) {
            line_checkbox_check(v);
        })
    });

  $(document).delegate('.input_exc','change',function () {
    var change_val=$(this).val();
    var rounding = Math.round(change_val * (10**decimal_place))/(10**decimal_place);
      $(this).val(rounding);
      var product_id=$(this).parent().data('product_id');
      var rabate_val = $('input[name="rabate_value"]').val();
      if ($('input[name="rebate_type"]:checked').val() === 'percent') {  //选中比例重新计算
          if (rabate_val * 1 <= 0 || rabate_val * 1 >= 100) {
              alert_msg = '{{ language.error_rabate_value_rate }}';
              amount_show = '';
          } else {
              var val = change_val * rabate_val / 100;
              amount_show = Math.round(val * (10**decimal_place))/(10**decimal_place);
          }
          $('.table_rebate_' + product_id + ' input').val(amount_show);
          check_table_data();
      }
  });

    $(document).delegate('.input_rebate','change',function () {
      var rounding = Math.round(($(this).val()*1) * (10**decimal_place))/(10**decimal_place);
      $(this).val(rounding);
      check_table_data();
    });

    $(document).delegate('.input_agree','change',function () {
      var rounding = Math.round(($(this).val()*1) * (10**decimal_place))/(10**decimal_place);
      $(this).val(rounding);
      check_table_data();
    });


    function check_table_data() {
        var tmp_exc_flag=0;
        var tmp_amount_flag=0;
        var tmp_min_flag=0;
        $('#table tbody tr').each(function (i,v) {
            var product_id=$(v).find('td').eq(0).find('input').data('product_id');
            var amout=$(v).find('#input_rebate_'+product_id).val();
            var exc=$(v).find('#input_exc_'+product_id).val();
            var min_price=$(v).find('#input_agree_'+product_id).val();
            //检查Exclusive Price
            if(exc*1<=0||exc==''){
                $(v).find('#input_exc_'+product_id).parent().addClass('border-red');
                tmp_exc_flag=1;
            }else{
                $(v).find('#input_exc_'+product_id).parent().removeClass('border-red');
            }
            //检查Rebate Amount
            if(amout*1>exc*1||amout*1<0){
                $(v).find('#input_rebate_'+product_id).parent().addClass('border-red');
                tmp_amount_flag=1
            }else{
                $(v).find('#input_rebate_'+product_id).parent().removeClass('border-red');
            }
            //检查Agreed Minimum Selling Price
            if(min_price*1<0||min_price==''){
                $(v).find('#input_agree_'+product_id).parent().addClass('border-red');
                tmp_min_flag=1
            }else{
                $(v).find('#input_agree_'+product_id).parent().removeClass('border-red');
            }
        });
        if(tmp_exc_flag){
            $('.err_exc').css('display','block');
        }else{
            $('.err_exc').css('display','none');
        }
        if(tmp_amount_flag){
            $('.err_rebate').css('display','block');
        }else{
            $('.err_rebate').css('display','none');
        }
        if(tmp_min_flag){
            $('.err_min_qty').css('display','block');
        }else{
            $('.err_min_qty').css('display','none');
        }
        change_but_status();
    }

    // 计算表格中的数据
    function count_table_data() {
        let table_tr = $('#table tbody tr');
        let rabate_val = $('input[name="rabate_value"]').val();
        var alert_msg='';
        var show_error=0;
        $.each(table_tr, function (k, v) {
            let current_product_id = $(v).find('input[type="checkbox"]').data('product_id');
            if ($(v).find('.table_rebate_' + current_product_id).html() != '-') {   //input 存在
                let row_price = $('.table_exclusive_' + current_product_id).data("row_price");
                let row_exc_price=$('.table_exclusive_' + current_product_id+' input').val();
                if ($('input[name="rebate_type"]:checked').val() === 'percent') {
                    if(rabate_val*1<=0 ||rabate_val*1>=100){
                        alert_msg='{{ language.error_rabate_value_rate }}';
                        show_error=1;
                        amount_show='';
                    }else{
                      var val = row_exc_price * rabate_val / 100;
                      amount_show = Math.round(val * (10**decimal_place))/(10**decimal_place);
                    }
                } else {
                    if(rabate_val*1<=0||rabate_val*1>=row_exc_price*1){
                        alert_msg='{{ language.error_rabate_value_amount }}';
                        show_error=2;
                        amount_show='';
                    }else{
                      amount_show = Math.round(rabate_val * 1.00 * (10**decimal_place))/(10**decimal_place);
                      // amount_show = (rabate_val * 1.00).toFixed(decimal_place);
                    }

                }
                $('.table_rebate_' + current_product_id).html('<input type="number" class="input_rebate" id="input_rebate_'+current_product_id+'" value="' + amount_show + '"> <span>{{ symbol }}/UNIT</span>');
            }
        });
        // if(alert_msg != ''){
        //     layer.alert(alert_msg, {title: 'Message',btn: ['Yes']});
        // }
        $('#radio_r_error').css('display','none');
        $('#radio_a_error').css('display','none');
        //隐藏rebate错误
        $('.err_rebate').css('display','none');
        if(show_error==1){
            $('#radio_r_error').css('display','block');
            $('.err_rebate').css('display','block');
        }else if(show_error==2){
            $('#radio_a_error').css('display','block');
            $('.err_rebate').css('display','block');
        }
    }

    $(document).delegate('.list input[name="rebate_type"]', 'click', function () {
        //radio 选中
        var input_rebate_value = $('input[name="rabate_value"]');
        var amount_val = input_rebate_value.val();
        if ($('input[name="rebate_type"]:checked').val() === 'percent') {    // 金额

          amount_val = Math.round((amount_val * 1) * (10**decimal_place))/(10**decimal_place);
          // amount_val = (amount_val * 1).toFixed(decimal_place);
        } else {
             amount_val = Math.round((amount_val * 1) * 100)/100;
            // amount_val = (amount_val * 1).toFixed(2);
        }
        input_rebate_value.val(amount_val);
        // table 中数据重新计算
        count_table_data()
    });

    $(document).delegate('input[name="rabate_value"]', 'change', function () {
        // table 中数据重新计算
        if ($('input[name="rebate_type"]:checked').val() === 'percent') {    // 金额
          var val = Math.round(($(this).val() * 1) * (10**decimal_place))/(10**decimal_place);
          $('input[name="rabate_value"]').val(val);
            // $('input[name="rabate_value"]').val(($(this).val() * 1).toFixed(decimal_place));
        } else {
          var val = Math.round(($(this).val() * 1) * 100)/100;
          $('input[name="rabate_value"]').val(val);
            // $('input[name="rabate_value"]').val(($(this).val() * 1).toFixed(2));
        }
        count_table_data()
    });

    //获取模态框数据
    function get_modal_data() {
        let table_tr = $('#table tbody tr');
        let modal_data = {};
        modal_data['id']=$('input[name="tpl_id"]').val();
        modal_data['day'] = $('input[name="days"]').val();
        modal_data['min_quantity'] = $('input[name="min_quantity"]').val();
        if ($('input[name="rebate_type"]:checked').val() === 'percent') {
            modal_data['rebate'] = 'rate';
        } else {
            modal_data['rebate'] = 'amount';
        }
        // place limit
        modal_data['place_limit'] = $("#limit_number_value").val();
        if ($('input[name="place_limit"]:checked').val() === 'no_limit') {
            modal_data['place_limit'] = -1;
        }
        modal_data['rebate_val'] = $('input[name="rabate_value"]').val();
        modal_data['product_val'] = $('input[name="get_sku"]').val();
        modal_data['table'] = [];
        $.each(table_tr, function (k, v) {
            //数据合法性校验
            if ($(v).find('input[type="checkbox"]').is(':checked')) {
                let current_product_id = $(v).find('input[type="checkbox"]').data('product_id');
                modal_data['table'].push({
                    'product_id': current_product_id,
                    'image': $(v).find('td').eq(1).html(),
                    'item_code': $(v).find('td').eq(2).find('p').eq(0).find('span').eq(0).html(),
                    'mpn': $(v).find('td').eq(2).find('p').eq(1).html(),
                    'exc_price': $('.table_exclusive_' + current_product_id).find('input').val(),
                    'rabate_price': $('.table_rebate_' + current_product_id).find('input').val(),
                    'min_price': $('.table_agreed_' + current_product_id).find('input').val(),
                    'freight_package_fee':$(v).find('input[name="freight_package_fee"]').val(),
                    'alarm_price':$(v).find('input[name="alarm_price"]').val(),
                });
            }
        });
        return modal_data;
    }

    $(document).delegate('#btn_save,#btn_save_apply', 'click', function () {
        modal_data = get_modal_data();
        // 协议勾选校验
        if(!$('#read_agreement').is(':checked')){
            layer.alert('{{ language.error_rebates_agree_clause }}', {title: 'Message',btn: ['Yes']});
            return;
        }
        let modal_id=$(this).data('modal_id');
        $('#'+modal_id).modal('show');
    });
    //模态框数据
    $('#modal_save,#modal_save_apply').on('show.bs.modal', function () {
        modal_data = get_modal_data();
        $(this).find('#modal_day').html(modal_data['day']);
        $(this).find('#modal_min_quantity').html(modal_data['min_quantity']);
        $(this).find('#modal_place_limit_value').html(modal_data['place_limit'] < 0 ? 'No Limit' : modal_data['place_limit']);
        let table_txt = '';
        let is_show_alert = false;
        $.each(modal_data['table'], function (k, v) {
            table_txt += '<tr>';
            table_txt += '<td>' + v['image'] + '</td>';
            table_txt += '<td width="25%">' + v['item_code']+'<br> <span style="color:#bbb">' +v['mpn'] + '</span></td>';
            table_txt += '<td  class="font-color" style="color: #677999;">' + v['exc_price'] + '</td>';
            table_txt += '<td  class="font-color" style="color: #677999;">' + v['rabate_price'] + '</td>';
            table_txt += '<td  class="font-color" style="color: #677999;">' + v['min_price'] + '</td>';
            table_txt += '</tr>';
          if (is_non_inner_account && !is_show_alert) {
            if (comparison(v['alarm_price'] , v['exc_price'], '>', 4)) {
              is_show_alert = true;
            }
          }
        });
        $(this).find('tbody').eq(1).html(table_txt);
      if (is_show_alert) {
        $(this).find('.check_price_freight').html('{{ is_show_cwf_notice ? error_product_price_proportion_cwf : error_product_price_proportion }}');
      }else{
        $(this).find('.check_price_freight').html('');
      }
    });

  //模态框数据提交
  $('#modal_btn_save,#modal_btn_save_apply').on('click', function () {
      layer.load(1, {
          shade: [0.1,'#fff'] //0.1透明度的白色背景
      });
    modal_data = get_modal_data();
    var modal_btn_id=$(this).attr('id');

    // 提交数据
    $.ajax({
      url: 'index.php?route=account/customerpartner/rebates/set_rebate_data',
      type: "POST",
      data: modal_data,
      data_type: 'json',
      success: function (res) {
          layer.closeAll();
        if(res.status==0){   //失败
          layer.alert(res.data[0], {title: 'Message',btn: ['Yes']});
        }else{  //成功
          $('#modal_save,#modal_save_apply').modal('hide');
          if(modal_btn_id=='modal_btn_save'){   //save
              window.location.href='/index.php?route=account/customerpartner/rebates';
              return;
          }
          layer.alert('{{ language.tpl_save_success }}', {title: 'Message',btn: ['Yes']},function () {
             layer.closeAll();
             window.location.href='/index.php?route=account/customerpartner/rebates/copy_tpl&id='+res['data'];
          });
        }
      }
    });
  })


</script>
{{ footer }}