{{ header }}{{ separate_column_left }}
<link rel="stylesheet" href="catalog/view/javascript/corderTemp/iconfont.css">
<link href="catalog/view/javascript/select2/css/select2.min.css" rel="stylesheet" />
<script src="catalog/view/javascript/select2/js/select2.full.js"></script>
<style>
  .icon-help-inactive {
    color: #b620e0;
    font-size: 12px;
  }
</style>
{% if separate_view is defined and separate_view %}
<div class="container-fluid giga-content" id="content" style="margin-left: 15%">
  {% else %}
  <div class="container">
    {% endif %}
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
    <div class="row">
      <div class="col-md-12">
        <h1>Sales Order Details</h1>
        <div id="box-shadow">
          <div class="tab-content tab-content-sty">
            <div class="tab-pane active">
              <div class="tab-pane active" id="tab-upload">
                <fieldset>
                  <div class="info-wrapper mb-4 mt-2" style="margin-top: 20px;margin-bottom: 40px">
                    <div class="row" style="margin-bottom: 10px;">
                      <ul class="details_ul">
                        <li class="">
                          <span><i class="giga icon-summary-po-id"></i></span>
                          <span class="title">{{ text_sales_details['sales_order_id'] }}</span>
                          <span class="value">{{ base_info['order_id'] }}</span>
                        </li>
                        <li class="">
                          <span><i class="giga icon-summary-status"></i></span>
                          <span class="title">{{ text_sales_details['order_status'] }}</span>
                          {% if base_info['order_status'] == 1 %}
                            <span class="value" style="color:#337AB7;">{{ base_info['order_status_name'] }}</span>
                          {% elseif base_info['order_status'] == 2 %}
                            <span class="value" style="color:#008000">{{ base_info['order_status_name'] }}</span>
                          {% elseif base_info['order_status'] == 4 %}
                            <span class="value" style="color:#666666">{{ base_info['order_status_name'] }}</span>
                          {% elseif item['order_status'] == 8 %}
                          {% elseif base_info['order_status'] == 16 %}
                            <span class="value" style="color:#666666">{{ base_info['order_status_name'] }}</span>
                          {% elseif base_info['order_status'] == 32 %}
                            <span class="value" style="color:#666666">{{ base_info['order_status_name'] }}</span>
                          {% elseif base_info['order_status'] == 64 %}
                            <span class="value" style="color:#008000">{{ base_info['order_status_name'] }}</span>
                          {% elseif base_info['order_status'] == 128 %}
                            <a data-toggle="tooltip" style="cursor: pointer" onclick="redirectToDeliveryList('{{ base_info.id }}')" title="{{ text_shared_info }}">{{ base_info['order_status_name'] }}<i class="giga icon-V10-wenhaotishi" style="margin-left: 5px;" aria-hidden="true"></i></a>
                          {% elseif base_info['order_status'] == 129 %}
                            <span class="value" style="color:#FF0000">{{ base_info['order_status_name'] }}</span>
                          {% elseif base_info['order_status'] == 256 %}
                            <span class="value" style="color:red;font-weight: bold">{{ base_info['order_status_name'] }}</span>
                          {% endif %}
                        </li>
                        <li class="">
                          <span><i class="giga icon-summary-day"></i></span>
                          <span class="title">{{ text_sales_details['order_date'] }}</span>
                          <span class="value">{{ base_info['create_time'] }}</span>
                        </li>
                        <li class="">
                          <span><i class="giga icon-summary-store"></i></span>
                          <span class="title">{{ text_sales_details['order_from'] }}</span>
                          <span class="value">{{ base_info['orders_from'] }}</span>
                        </li>
                      </ul>
                    </div>
                    <div style="float: left;width: 100%;">
                      <label style='font-weight: bold;font-size: 16px;margin-top: 20px;'><i style="font-size: 16px;" class="fa fa-list-ul"></i> {{ text_sales_details['item_list'] }}</label>
                      <table class="table main table-hover" style="">
                        <thead>
                        <tr>
                          <th class="text-center">{{ text_sales_details['number'] }}</th>
                          <th class="text-center">{{ text_sales_details['item_code'] }}</th>
                          <th class="text-center">{{ text_sales_details['qty'] }}</th>
                          <th class="text-center">SKU Value</th>
                          <th class="text-center">SellerBrand</th>
                          <th class="text-center">Product Image</th>
                          <th class="text-center">Fulfillment Per Unit
                            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer;font-size: 12px" title="" data-original-title="Fulfillment fee includes shipping and packaging fees."></i></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for key,value in item_list %}
                          <tr>
                            <td class="text-center" >#</td>
                            <td class="text-center" >
                              {% if value.tag %}
                                <span class="form-display sku-display">
                                  <span id="{{ value['line_id'] }}_item_code">
                                    {{ value.item_code }}
                                  </span>
                                  <span style="display: none" id="{{ value['line_id'] }}_div">
                                    <select class="select2_parts_list form-control" name="{{ value['line_id'] }}"
                                            id="{{ value['line_id'] }}"
                                            style="width:150px;">
                                    </select>
                                  </span>
                                &nbsp; {% if base_info['order_status'] == 256 %}
                                    <i class="fa fa-pencil" data-trigger = "hover" data-toggle="tooltip" title="Edit" style="color:#3a75dc;cursor: pointer;font-size: 14px;" aria-hidden="true" onclick="editSku('{{ value.line_id }}',this)"></i> &nbsp;
                                    <i class="fa fa-save" data-trigger = "hover" data-toggle="tooltip" title="Save" style="color:#3a75dc;cursor: pointer;display: none;font-size: 14px;"  onclick="updateSku('{{ value.line_id }}',this)" aria-hidden="true"></i> &nbsp;
                                    <i class="fa fa-reply" data-trigger = "hover" data-toggle="tooltip" title="Cancel" style="color:#3a75dc;cursor: pointer;display: none;font-size: 14px;" aria-hidden="true" onclick="editSkuCancel('{{ value.line_id }}',this)"></i>
                                  {% endif %}
                                  {% for tagDetail in value.tag %}
                                    {{ tagDetail }}
                                  {% endfor %}
                                </span>
                              {% else %}
                                <span class="form-display sku-display">
                                  <span id="{{ value['line_id'] }}_item_code">
                                    {{ value.item_code }}
                                  </span>
                                  <span style="display: none" id="{{ value['line_id'] }}_div">
                                    <select class="select2_parts_list form-control" name="{{ value['line_id'] }}"
                                            id="{{ value['line_id'] }}"
                                            style="width:150px;">
                                    </select>
                                  </span>
                                &nbsp; {% if base_info['order_status'] == 256 %}
                                    <i class="fa fa-pencil" data-trigger = "hover" data-toggle="tooltip" title="Edit" style="color:#3a75dc;cursor: pointer;font-size: 14px;" aria-hidden="true" onclick="editSku('{{ value.line_id }}',this)"></i> &nbsp;
                                    <i class="fa fa-save" data-trigger = "hover" data-toggle="tooltip" title="Save" style="color:#3a75dc;cursor: pointer;display: none;font-size: 14px;"  onclick="updateSku('{{ value.line_id }}',this)" aria-hidden="true"></i> &nbsp;
                                    <i class="fa fa-reply" data-trigger = "hover" data-toggle="tooltip" title="Cancel" style="color:#3a75dc;cursor: pointer;display: none;font-size: 14px;" aria-hidden="true" onclick="editSkuCancel('{{ value.line_id }}',this)"></i>
                                  {% endif %}
                                </span>
                              {% endif %}
                            </td>
                            <td class="text-center text-price" >{{ value.qty }}</td>
                            <td class="text-center text-price" >{{ value.price_show }}</td>
                            <td class="text-center" >{{ value.brand_id }}</td>
                            <td class="text-center" >
                              <a href="{{ value.product_link }}" target="_blank"><img src="{{ value.image_show }}"></a>
                            </td>
                            <td class="text-center" >
                              {% if value.freight_per_show %}
                                {% if value.over_specification_flag == 1 %}
                                    <div id="freight" style="color: red">   {{ text_separate_quote }}
                                {% else %}
                                    <div id="freight" style="color: #183463">   {{ value.freight_per_show }}
                                {% endif %}
                                  <ul class="dropdown-freight">
                                    <span style="color: #333333;border-bottom: 1px solid #e5e5e5;font-weight: bold;padding: 5px 0 5px 0; display: inline-block;width: 250px;">Fulfillment for {{ service_type[0] }} service</span><br/>
                                    <span style="border-bottom: 1px solid #e5e5e5;color: #333333;padding: 5px 0 5px 0; display: inline-block;font-weight: bold;width: 250px;">Shipping Fee
                                      {% if value.over_specification_flag == 1 %}
                                          <span style="color: red;margin-left: 30px">{{ text_separate_quote }}</span>
                                      {% else %}
                                         <span style="color: #183463;margin-left: 30px">{{ value.freight_show }}</span>
                                      {% endif %}
                                    </span><br/>
                                    <span style="color: #333333;padding: 5px 0 5px 0;font-weight: bold;display: inline-block;width: 250px;">Packaging Fee <span style="color: #183463;margin-left: 30px">{{ value.pack_fee_show }}</span></span>
                                  </ul>
                                </div>
                              {% endif %}
                            </td>
                          </tr>
                        {% endfor %}
                        {% if item_total_price  %}
                          <tr>
                            <td class="text-right" colspan="6">{{ text_sales_details['total_price_s'] }}</td>
                            {% if over_specification_flag == 1 %}
                              <td class="text-center" ><span style="color: red;font-weight: bold">{{ text_separate_quote }}</span></td>
                            {% else %}
                              <td class="text-center" ><span style="color: red;font-weight: bold">{{ item_total_price }}</span></td>
                            {% endif %}
                          </tr>
                        {% endif %}

                        </tbody>
                      </table>
                    </div>
                    <div style="float: left;width: 100%;margin-top: 20px;">
                      <label style='font-weight: bold;font-size: 16px;'><i style="font-size: 16px;" class="fa fa-truck"></i> {{ text_sales_details['shipping_information'] }}</label>
                      <table class="table main table-hover" style="margin: 0 auto;">
                        <thead>
                        <tr>
                          <th class="text-center">{{ text_sales_details['ship_to_name'] }}</th>
                          <th class="text-center">{{ text_sales_details['ship_to_phone'] }}</th>
                          <th class="text-center">{{ text_sales_details['ship_to_email'] }}</th>
                          <th class="text-center">{{ text_sales_details['ship_to_address'] }}</th>
                          {% if country_id == 223 %}
                            <th class="text-center text-price">{{ text_sales_details['ship_to_service'] }}</th>
                          {% endif %}
                          {% if country_id == 107 %}
                            <th class="text-center">{{ text_sales_details['shipped_date'] }}</th>
                          {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="text-center" >
                            {{ base_info.ship_name }}
                            {% if base_info.order_mode != 3 %}
                              {{ base_info.ship_name_tips }}
                            {% endif %}
                          </td>
                          <td class="text-center" >
                            {{ base_info.ship_phone }}
                            {% if base_info.order_mode != 3 %}
                              {{ base_info.ship_phone_tips }}
                            {% endif %}
                          </td>
                          <td class="text-center" >{{ base_info.email }}</td>
                          <td class="text-center" >
                            {{ shipping_address }}
                            {% if base_info.order_mode != 3 %}
                              {{ base_info.ship_address_tips }}
                            {% endif %}
                          </td>
                          {% if country_id == 223 %}
                            <td class="text-center" >
                              {% if base_info.ship_method  %}
                                {{ base_info.ship_method }}
                              {% else %}
                                {{ base_info.ship_service_level }}
                              {% endif %}
                            </td>
                          {% endif %}
                          {% if country_id == 107 %}
                            <td class="text-center" >{{ base_info.shipped_date }}</td>
                          {% endif %}
                        </tr>
                        </tbody>
                      </table>
                      {% if base_info.order_status != 256 %}
                        <table class="table main table-hover" style="margin: 0 auto;margin-top: 10px;">
                        <thead>
                        <tr>
                          <th class="text-center">{{ text_sales_details['item_code'] }}</th>
                          <th class="text-center">{{ text_sales_details['qty'] }}</th>
                          <th class="text-center">{{ text_sales_details['sub_item_code'] }}</th>
                          <th class="text-center">{{ text_sales_details['sub_item_qty'] }}</th>
                          <th class="text-center">{{ text_sales_details['item_status'] }}</th>
                          <th class="text-center">{{ text_sales_details['carrier'] }}</th>
                          <th class="text-center">{{ text_sales_details['tracking_number'] }}</th>
                          {% if base_info.order_mode == 3 %}
                            <th class="text-center">{{ text_sales_details['label'] }}</th>
                          {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if base_info.order_mode == 3 %}
                          {% for key,value in shipping_information %}
                            <tr>
                              {% if value['cross_row']  %}
                                <td class="text-center" rowspan="{{ value['cross_row'] }}">
                                  {% if value.tag %}
                                    <span class="form-display sku-display">{{ value.sku}}
                                      {% for tagDetail in value.tag %}
                                        {{ tagDetail }}
                                      {% endfor %}
                                              </span>
                                  {% else %}
                                    <span class="form-display sku-display">{{ value.sku }}</span>
                                  {% endif %}
                                </td>
                              {% endif %}
                              {% if value['cross_row']  %}
                                <td class="text-center" rowspan="{{ value['cross_row'] }}">
                                  {{ value['qty'] }}
                                </td>
                              {% endif %}
                              <td class="text-center">{{ value['child_sku'] }}</td>
                              <td class="text-center text-price">{{ value['all_qty'] }}</td>
                              <td class="text-center">
                                {{ value['item_status_name'] }}
                              </td>
                              <td class="text-center" >
                                {% for k,v in value['carrier_name'] %}
                                  {{ v }}<br/>
                                {% endfor %}
                              </td>
                              <td class="text-center" >
                                {% for k,v in value['tracking_number'] %}
                                  {%  if value['carrier_name'][0] == 'Fedex' and  value['tracking_status'][k] == 1%}
                                    <a href="{{ text_fedex_homepage }}{{ v }}" target="_blank" class="cpbd" data-clipboard-text="{{ v }}"  style="cursor: pointer;" >{{ v }}
                                      {% if v %}<i class="giga icon-table-link"></i>{% endif %}</a>
                                    <br/>
                                  {% else %}
                                    {{ v }}
                                    {% if value['tracking_status'][k] == 0 %}
                                      (invalid)
                                    {% endif %}
                                    <br/>
                                  {% endif %}
                                {% endfor %}
                              </td>
                              {% if base_info.order_mode == 3 %}
                                <td class="text-center">
                                  {% for k,v in value['file_path'] %}
                                    <a href="{{ v }}" target="_blank" >{{ value['file_name'][k] }} {% if v %}<i class="giga icon-table-link"></i>{% endif %}</a><br/>
                                  {% endfor %}
                                </td>
                              {% endif %}
                            </tr>
                          {% endfor %}
                        {% else %}
                          {% for key,value in shipping_information %}
                            <tr>
                              {% if value['cross_row'] %}
                                <td class="text-center" rowspan="{{ value['cross_row'] }}">
                                  {% if value.tag %}
                                    <span class="form-display sku-display">{{ value.sku}}
                                      {% for tagDetail in value.tag %}
                                        {{ tagDetail }}
                                      {% endfor %}
                                          </span>
                                  {% else %}
                                    <span class="form-display sku-display">{{ value.sku }}</span>
                                  {% endif %}
                                </td>
                              {% endif %}
                              {% if value['cross_row']  %}
                                <td class="text-center" rowspan="{{ value['cross_row'] }}">
                                  {{ value['qty'] }}
                                </td>
                              {% endif %}
                              <td class="text-center">{{ value['child_sku'] }}</td>
                              <td class="text-center">{{ value['all_qty'] }}</td>
                              <td class="text-center">
                                {{ value['item_status_name'] }}
                              </td>
                              <td class="text-center" >
                                {% for k,v in value['carrier_name'] %}
                                  {{ v }}<br/>
                                {% endfor %}
                              </td>
                              <td class="text-center" >
                                {% for k,v in value['tracking_number'] %}
                                  {%  if value['carrier_name'][k] == 'Fedex' and value['tracking_status'][k] == 1 %}
                                    <a href="{{ text_fedex_homepage }}{{ v }}" target="_blank" class="cpbd" data-clipboard-text="{{ v }}"  style="cursor: pointer;" >{{ v }}
                                      {% if v %}<i class="giga icon-table-link"></i>{% endif %}</a><br/>
                                  {% else %}
                                    {{ v }}
                                    {% if value['tracking_status'][k] == 0 %}
                                      (invalid)
                                    {% endif %}
                                    <br/>
                                  {% endif %}
                                {% endfor %}
                              </td>
                              {% if base_info.order_mode == 3 %}
                                <td class="text-center">
                                  {% for k,v in value['file_path'] %}
                                    <a href="{{ v }}" target="_blank" >{{ value['file_name'][k] }}
                                      {% if v %}<i class="giga icon-table-link"></i>{% endif %}</a><br/>
                                  {% endfor %}
                                </td>
                              {% endif %}
                            </tr>
                          {% endfor %}
                        {% endif %}
                        </tbody>
                      </table>
                      {% endif %}
                    </div>
                    {% if base_info.ship_method == 'ASR' %}
                      <div style="float: left;width: 100%;margin-top: 20px;">
                        <label style='font-weight: bold;font-size: 16px;'><span class="iconfont icon-feiyong"> </span> {{ text_sales_details['signature_service_payment_details'] }}</label>
                        <table class="table main table-hover" style="margin: 0 auto;">
                          <thead>
                          <tr>
                            <th class="text-center">{{ text_sales_details['item_code'] }}</th>
                            <th class="text-center">{{ text_sales_details['qty'] }}</th>
                            <th class="text-center">{{ text_sales_details['sub_item_qty'] }} <i class="giga icon-V10-wenhaotishi" title="The number of sub-items in a combo product." style="cursor: pointer"  data-toggle="tooltip" aria-hidden="true"></i></th>
                            <th class="text-center">{{ text_sales_details['package_qty'] }} <i class="giga icon-V10-wenhaotishi" title="The number of individual packages when a product is shipped. One combo product may contain multiple sub-items.Each sub-item must be packaged separately." style="cursor: pointer"  data-toggle="tooltip" aria-hidden="true"></i></th>
                            <th class="text-center">{{ text_sales_details['price_per_package'] }} <i class="giga icon-V10-wenhaotishi" title="Signature service fee of each package." style="cursor: pointer" data-toggle="tooltip" aria-hidden="true"></i> </th>
                            <th class="text-center">Total Amount</th>
{#                            <th class="text-center">{{ text_sales_details['transaction_fee'] }}</th>#}
{#                            <th class="text-center">{{ text_sales_details['payment_method'] }}</th>#}
                          </tr>
                          </thead>
                          <tbody>
                          {% if signature_list %}
                            {% for key,value in signature_list %}
                              <tr>
                                <td class="text-center" >
                                  {% if value.tag %}
                                    <span class="form-display sku-display">{{ value.item_code}}
                                      {% for tagDetail in value.tag %}
                                        {{ tagDetail }}
                                      {% endfor %}
                                                </span>
                                  {% else %}
                                    <span class="form-display sku-display">{{ value.item_code }}</span>
                                  {% endif %}
                                </td>
                                <td class="text-center" >{{ value['qty'] }}</td>
                                <td class="text-center" >{{ value['sub_item_qty'] }}</td>
                                <td class="text-center" >{{ value['package_qty'] }}</td>
                                <td class="text-center" >{{ value['price_show'] }}</td>
                                <td class="text-center" >{{ value['total'] }}</td>
{#                                <td class="text-center" >{{ value['poundage'] }}</td>#}
{#                                <td class="text-center" >{{ value['payment_method'] }}</td>#}
                              </tr>
                            {% endfor %}

                          {% else %}
                            <tr>
                              <td class="text-center" colspan="6">{{ text_no_results}}</td>
                            </tr>
                          {% endif %}
                          {% if all_total|slice(1) != '0.00' and all_total|slice(0,-1) != '0.00' %}
                            <tr>
                              <td class="text-right" colspan="5">{{ text_sales_details['sub_total'] }}</td>
                              <td class="text-center" ><span style="">{{ sub_total }}</span></td>
                            </tr>
{#                            <tr>#}
{#                              <td class="text-right" colspan="5">{{ text_sales_details['total_transaction_fee'] }}</td>#}
{#                              <td class="text-center" ><span style="">{{ fee_total }}</span></td>#}
{#                            </tr>#}
                            <tr>
                              <td class="text-right" colspan="5">{{ text_sales_details['total_signature_service_fee'] }}</td>
                              <td class="text-center" ><span style="color: red">{{ all_total }}</span></td>
                            </tr>
                          {% endif %}
                          </tbody>
                        </table>
                      </div>
                    {% endif %}
                    <div style="float: left;width: 100%;margin-top: 20px;margin-bottom: 20px;">
                      <label style='font-weight: bold;font-size: 16px;float: left'><span class="iconfont icon-beizhu"> </span> {{ text_sales_details['order_comments'] }}</label>
                      <textarea rows="6" class="textarea-drag-none" style="min-height: 30px;border: 1px #eee solid;display: block;width: 100%;" readonly>{{ base_info.customer_comments }}
                                  </textarea>
                    </div>
                  </div>

                  <div class="text-center mt-4" style="margin: 20px 0 40px 0;">
                    <a href="{{ href_go_back }}" class="btn btn-default">{{ text_go_back }}</a>
                  </div>
                </fieldset>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<style>
  .table-responsive .table thead a{
    color: rgba(0, 0, 0, 0.85)
  }
  .table tbody td i.fa{
    font-size: 12px;
  }
  .table-responsive .table tr td{
    text-align: center;
  }
  .details_ul li{
    list-style-type:none;
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid #eee;
    height:91px;
  }
  .details_ul li span {
    display: block;
  }
  .details_ul li .title {
    color: #c9c9c9;
  }
  .details_ul li span i {
    font-size: 22px;
    color: #677999;
  }
  .btn.btn-default:hover {
    color: #e3e3e3;
    background-color: #3a75dc;
    border-color: #3a75dc;
  }

  #freight .dropdown-freight {
    padding: 16px;
    position: absolute;
    line-height: 24px;
    z-index: 999;
    display: none;
    width: 300px;
    color: #333;
    margin-top: 6px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.3);
    right: 36px;
  }

  #freight:hover .dropdown-freight {
    display: block;
  }

  .select2-container .select2-selection--single {
    height: 34px;
    line-height: 34px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered
  {
    line-height: 34px;
  }
  .sku-display img
  {
    margin-top: -2px;
  }

</style>
<script>
  var txtPleaseSelect = "{{ __('请选择', {}, 'common') }}";
  $(document).ready(function () {
    $(".select2_parts_list").select2({
      ajax: {
        url: "{{ url('account/customerpartner/sales_order_management/getB2bCodeBySearch') }}",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term, // search term
            page: params.page
          };
        },
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used
          params.page = params.page || 1;

          return {
            results: data.items,
            pagination: {
              more: (params.page * 30) < data.total_count
            }
          };
        },
        cache: true
      },
      placeholder: `---${txtPleaseSelect}---`,
      minimumInputLength: 1,
      templateResult: formatRepo,
      templateSelection: formatRepoSelection
    });

    function formatRepo (repo) {
      if (repo.loading) {
        return repo.text ;
      }
      var $container = $(
//        "<div class='select2-result-repository clearfix'>" +
//        "<div class='select2-result-repository__avatar'><img src='" + repo.owner.avatar_url + "' /></div>" +
        "<div class='select2-result-repository__meta'>" + repo.sku +
        //        "<div class='select2-result-repository__title'></div>" +
        //        "<div class='select2-result-repository__description'></div>" +
        //        "<div class='select2-result-repository__statistics'>" +
        //        "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> </div>" +
        //        "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> </div>" +
        //        "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> </div>" +
        //        "</div>" +
        //        "</div>" +
        "</div>"
      );

//      $container.find(".select2-result-repository__title").text(repo.full_name);
//      $container.find(".select2-result-repository__description").text(repo.description);
//      $container.find(".select2-result-repository__forks").append(repo.forks_count + " Forks");
//      $container.find(".select2-result-repository__stargazers").append(repo.stargazers_count + " Stars");
//      $container.find(".select2-result-repository__watchers").append(repo.watchers_count + " Watchers");

      return $container;
    }

    function formatRepoSelection (repo) {
      return repo.sku || repo.text;
    }
  });

  function editSku(line_id,obj) {
    var div = line_id + '_div';
    var item_code = line_id + '_item_code';
    $('#'+ div).show();
    $('#'+ item_code).hide();
    $(obj).toggle();
    $(obj).next().toggle();
    $(obj).next().next().toggle();
  }

  function editSkuCancel(line_id,obj) {
    var div = line_id + '_div';
    var item_code = line_id + '_item_code';
    $('#'+ div).hide();
    $('#'+ item_code).show();
    $(obj).toggle();
    $(obj).prev().toggle();
    $(obj).prev().prev().toggle();
  }

  function updateSku(line_id,obj) {
    layer.load(1);
    var val = $('#'+line_id).val();
    var div = line_id + '_div';
    var item_code = line_id + '_item_code';
    $('#'+ div).hide();
    $('#'+ item_code).show();
    $(obj).toggle();
    $(obj).prev().toggle();
    $(obj).next().toggle();
    if(val == null){
      layer.closeAll('loading');
    }else{
      let order_id = '{{ order_id }}';
      let data = {order_id: order_id, line_id: line_id,product_id:val};
      $.ajax({
        url: "{{ url('account/customerpartner/sales_order_management/salesOrderSkuChange') }}",
        type: 'post',
        dataType: 'json',
        data: data,
        beforeSend: function () {
          layer.load(1);
        },
        success: function (json) {
          layer.closeAll('loading');
          layerMsg(json.msg,4000);
          window.location.href = "{{ url('account/customerpartner/sales_order_list/salesOrderDetails',{'id':''}) }}" + order_id;
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layerMsg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });

    }

  }
  function layerMsg(message, time = 2000) {
    layer.msg(message, {time: time, skin: ''});
  }
</script>

