{{ header }}{{ separate_column_left }}
<script type="text/javascript" src="catalog/view/javascript/layer/layer.js"></script>
<link type="text/css" href="admin/view/stylesheet/stylesheet_giga.css?v={{ app_version }}" rel="stylesheet" media="screen"/>
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<title>OrderTemplateInterpretation</title>
<link rel="stylesheet" href="catalog/view/javascript/corderTemp/reset.css">
<link rel="stylesheet" href="catalog/view/javascript/corderTemp/head.css">
<link rel="stylesheet" href="catalog/view/javascript/corderTemp/content_reset.css">
<style>
  .layer-panel-box {
    color: #000;
    font-size: 14px;
  }

  .nav-tabs {
    border-bottom: 0 solid white;
  }

  .nav-tabs-sty {
    margin-bottom: 0;
  }

  .tab-content-sty {
    background-color: white;
  }
  .content-box{
    padding: 20px 30px;
  }
  h1 {
    background-color: rgba(255, 255, 255, 0.0);
    font-weight: 700;
    font-size: 24px;
    color: #183464;
    margin: 15px 10px;
  }
  .title-box{
    width: 100%;
    height: 180px;
  }
  .title{
    color: #333;
    font-weight: normal;
    line-height: 150px;
  }
  .circle{
    text-align: center;
    line-height: 20px;
    color: #fff;
  }

  .content-box table tbody {
    display: block;
    height: 400px;
    overflow-y: scroll;
  }

  .content-box table thead,
  .content-box tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/*重要  表格固定算法*/
  }

  .content-box table thead {/*留出滚动条的位置*/
    width: calc(100% - 1em)
  }

  .content-box table thead th{
    text-align: center;
    border-bottom: 3px solid #229ac8;
    padding: 15px 8px;
  }
  .content-box table thead th span{
    border-right: 2px solid #229ac8;
    display: inline-block;
    width: 100%;
  }

  .content-box table .number{
    text-align: center;
  }
  .content-box table tbody td{
    word-break: break-word;
  }
</style>
<div
    {% if separate_view is defined and separate_view %}
      class="container-fluid giga-content" id="content" style="margin-left: 15%"
    {% else %}
      class="container"
    {% endif %}
>
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row" style="padding: 0 15px">

    <h1>
      External Platform Mapping
      <a href="{{ url_back }}" data-toggle="tooltip" title="" class="btn btn-default pull-right" data-original-title="Back">
        <i class="fa fa-reply"></i>
      </a>
    </h1>
    <div style="background-color: #229ac8; width: 100%; padding: 16px 16px; margin:0 auto">
      <div style="background-color: #f5f5f5; width:100%; padding: 16px 16px; margin: 0 auto">
        <div class="title-box">
          <h1 class="title">Order field name explanation</h1>
          <div class="reqFlag">
            <p>If the field is required?</p>
            <div class="reqTable">
              <table class="reqFlagTable">
                <tr>
                  <td class="circle circle-red">
                    <div class="red"></div>
                  </td>
                  <td class="flag">YES</td>
                </tr>
              </table>
              <table class="reqFlagTable">
                <tr>
                  <td class="circle circle-black">
                    <div class="black"></div>
                  </td>
                  <td class="flag">NO</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="content-box">
          <table class="table">
            <thead>
            <tr>
              <th class="title1"><span>No.</span></th>
              <th><span>Field Name</span></th>
              <th><span>Entry requirements</span></th>
              <th><span>Explanation</span></th>
              <th><span style="border-right: none;">Remarks</span></th>
            </tr>
            </thead>


            <tbody >
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">1</div>
                </div>
              </td>
              <td>SalesPlatform</td>
              <td>Entry Limit:<br/>20 characters</td>
              <td>Record the sales platform corresponding to the order. The value filled in this field is not required value.</td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">2</div>
                </div>
              </td>
              <td>OrderId</td>
              <td>Entry Limit:<br/>40 characters</td>
              <td>On the B2B platform, the corresponding order can be queried through this order number. Must include only letters,numbers , -, _.</td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">3</div>
                </div>
              </td>
              <td>LineItemNumber</td>
              <td>Entry Limit:<br/>50 characters</td>
              <td>This ID is used to indicate various details, such as 1,2 or 3.</td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">4</div>
                </div>
              </td>
              <td>OrderDate</td>
              <td>
                Entry Limit:<br/>25 characters
              </td>
              <td>
                Record the customer’s order date.
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">5</div>
                </div>
              </td>
              <td>SellerBrand</td>
              <td>
                Entry Limit:<br/>30 characters
              </td>
              <td>There is a seller brand.</td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">6</div>
                </div>
              </td>
              <td>
                SellerPlatformSku
              </td>
              <td>
                Entry Limit: <br/>25 characters
              </td>
              <td>
                Record the SKUs of the Seller’s products
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">7</div>
                </div>
              </td>
              <td>
                B2BItemCode
              </td>
              <td>Entry Limit: <br/>30 characters</td>
              <td >
                1) When customer's order needs to be purchased and shipped on the Giga Cloud, the platform needs to the product code corresponding to the product's SKU in the order, so that the platform can recommend the corresponding product for the customer according to the corresponding product code;<br/>
                <br/>
                2) After the customer orders are purchased on Giga Cloud, the subsequent shipment is to prepare according to ItemCode.<br/>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">8</div>
                </div>
              </td>
              <td>SellerSkuDescription</td>
              <td >Entry Limit: <br/>100 Characters</td>
              <td >Record the Seller’s SKU description.</td>
              <td></td>
            </tr>
            <tr >
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">9</div>
                </div>
              </td>
              <td class="">SellerSkuCommercialValue </td>
              <td >Format: A number with up to three decimal places.<br/> Such as 1, 2, 3, 3.15</td>
              <td >Record the Business value of every products</td>
              <td></td>
            </tr>
            <tr >
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">10</div>
                </div>
              </td>
              <td class="">SellerSku</td>
              <td >Entry Limit:<br/>50 characters</td>
              <td >The product details may be accessed directly through this link.</td>
              <td></td>
            </tr>
            <tr >
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">11</div>
                </div>
              </td>
              <td class="">ShipToQty</td>
              <td >Entry Limit:<br/>Digital, 1, 2, 3 etc.</td>
              <td >Record the quantity of products that are to be shipped.</td>
              <td></td>
            </tr>
            <tr >
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">12</div>
                </div>
              </td>
              <td class="">DeliveryToFBAWarehouse</td>
              <td >Fixed value.<br/> Options：Yes，No</td>
              <td >Record whether this sales order needs to be delivered to the FBA warehouse in batches.</td>
              <td>If you plan to delivery the order to the FBA warehouse, please enter "Yes" in this field. Otherwise, leave it blank or enter "No". If you have entered "Yes" in any ItemCode field of this order, the entire order will be marked for delivery to the FBA warehouse.</td>
            </tr>
            <tr >
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">13</div>
                </div>
              </td>
              <td class="">ShipToServiceLevel</td>
              <td >Entry Limit:<br/>50 characters</td>
              <td >Record the delivery service level, such as two-day shipping, SFP, HOMEDELIVERY, or HOMEGROUND.</td>
              <td>The delivery service level is, at present, assigned by GigaCloud.</td>
            </tr>
            <tr >
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">14</div>
                </div>
              </td>
              <td class="">ShippedDate</td>
              <td >
                Format: YYYY/MM/DDThh:mm-hh:mm or YYYY-MM-DDThh:mm-hh:mm<br/>
                <br/> Options for time periods:<br/> 08:00-12:00
                <br/> 12:00-14:00
                <br/> 14:00-16:00
                <br/> 16:00-18:00
                <br/> 18:00-20:00
                <br/> Example:2019/6/4T08:00-12:00 or 2019-06-04T08:00-12:00
              </td>
              <td >
                Expected Delivery Date.This field is valid for Japan only.<br/> For orders with shipped date: Normally the sales platform will require to upload the tracking number before the shipped date. GigaCloud will provide the tracking number before
                the shipped date.<br/> If the customer appointed a shipped date privately with the seller instead of selecting a shipped date. The sales platform will still require the tracking number several business days after the customer places the order
                rather than before the shipped date.<br/> For orders with shipped date, you’d better complete the payment on the day of the order is imported to ensure the on time delivery on the shipped date.</td>
              <td>The current delivery date is based on the actual delivery date of Giga Cloud.</td>
            </tr>
            <tr >
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">15</div>
                </div>
              </td>
              <td class="">ShipToAttachmentUrl</td>
              <td >Entry Limit:<br/>800 characters</td>
              <td >Some platforms need to download some attachment to be delivery with the products. such as packing slip.</td>
              <td></td>
            </tr>
            <tr >
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">16</div>
                </div>
              </td>
              <td class="">ShipToName</td>
              <td >Entry Limit:<br/>40 characters</td>
              <td >Record the name of the Receiver.</td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">17</div>
                </div>
              </td>
              <td class="">ShipToEmail</td>
              <td>Entry Limit:<br/>90 characters</td>
              <td>Record the Receiver’s email.</td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">18</div>
                </div>
              </td>
              <td class="">ShipToPhone</td>
              <td>Entry Limit:<br/>45 characters</td>
              <td>Record the Receiver’s phone number.</td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">19</div>
                </div>
              </td>
              <td class="">ShipToPostalCode</td>
              <td>Entry Limit:<br/>18 Characters</td>
              <td>Record Receiver's postal code. Please refer to Shipping Information for areas we don’t service. ShipToPostalCode must Include only numbers,-. </td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">20</div>
                </div>
              </td>
              <td class="">ShipToAddressDetail</td>
              {# 根据账号国别显示不同的地址限制字段 #}
              {% if country_id == country_us_id %}
                {# US #}
                <td>
                  Entry Limit:<br/>
                  Non-LTL Delivery (Drop Shipping):<br/>
                  35 characters<br><br>
                  Others:<br>
                  100 characters<br/>
                </td>
              {% elseif country_id == country_jp_id %}
                {# JP #}
                <div class="title3 entry">
                  Entry Limit:<br/>
                  100 characters <br/>
                </div>
              {% else %}
                {# 欧洲 #}
                <td>Entry Limit:<br/> UK Site - 56 characters <br/>
                  DE Site - 35 characters <br/>
                </td>
              {% endif %}
              <td>Record Receiver's address. Does not contain userShipToName, ShipToPostalCode, ShipToCity, ShipToState, or ShipToCountry.</td>
              <td ></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">21</div>
                </div>
              </td>
              <td class="">ShipToCity</td>
              <td>Entry Limit:<br/>30 characters</td>
              <td>Record Receiver’s City</td>
              <td ></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">22</div>
                </div>
              </td>
              <td class="">ShipToState</td>
              <td>Entry Limit:<br/>30 characters
              </td>
              <td>Record Receiver's state.<br/>The United States’ non-delivery range：(Only support continental United States, not overseas territories such as Alaska, Puerto Rico, etc) PR, AK, HI, GU, AA, AE, AP (DE,UK not required).</td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="red">23</div>
                </div>
              </td>
              <td class="">ShipToCountry</td>
              <td>Entry Limit:<br/>
                USA order: US<br/>
                Great Britain order: GBR<br/>
                German order: DE
              <td>Record Receiver’s Country</td>
              <td></td>
            </tr>
            <tr>
              <td class="title1 number">
                <div class="circle circle-red">
                  <div class="black">24</div>
                </div>
              </td>
              <td class="">OrderComments</td>
              <td>Entry Limit:<br/>1500 characters</td>
              <td>Record the order comment</td>
              <td></td>
            </tr>
            </tbody>

          </table>

        </div>

      </div>
    </div>

  </div>
</div>


{{ footer }}
