<style type="text/css">
  .control-label {
    font-weight: bold;
    color: #bfbfbf;
  }

  #form-order > div > table {
    font-size: 12px
  }

  .pagination a {
    cursor: pointer;
  }

  /*单选框*/
  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + i:before {
    color: #c5c5c5;
  }

  input[type="radio"]:checked + i:before {
    color: #3A75DC;
  }

  .modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
  }

  .iframe_layer iframe {
    height: 600px !important;
  }

  /*这是修改地址的模态框样式*/
  .modal-modify-address .error-text {
    color: #FF414D;
    font-size: 12px;
  }

  .modal-modify-address .modal-title {
    font-size: 16px;
  }

  .modal-modify-address .modal-header .close {
    background-color: #183464;
  }

  .modal-modify-address .original-address-con {
    background: #eee;
    padding: 10px;
  }

  .modal-modify-address .original-address-con p {
    font-size: 12px;
  }

  .modal-modify-address .modal-sub-title {
    color: #FA6400;
    font-weight: bolder;
    margin-bottom: 2px;
  }

  .modal-modify-address .required:before {
    content: '*';
    color: #FF414D;
    margin-right: 4px;
  }

  .modal-modify-address .new-address-con {
    margin-top: 10px;
  }

  .mrt15 {
    margin-bottom: 15px;
  }

  .modal-modify-address .form-group > label {
    font-size: 12px;
    font-weight: normal;
    color: #333;
  }

  .modal-modify-address .form-group {
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
  }


  .form-group .dropdown-menu.modify-country {
    width: calc(100% - 30px);
    margin: 0 0 0 15px;
    border-radius: 4px;
    box-shadow: none;
  }

  .modify-country-remove {
    position: absolute;
    right: 16px;
    top: 8px;
    display: none;
  }

  .modify-country-remove:hover {
    cursor: pointer;
    color: #3A75DC;
  }

  /*这是修改地址的模态框样式*/
</style>
<div role="tabpanel" class="tab-pane active">
  <div class="bg-white p-2">
    <div class="filter-wrapper form-wrapper mt-3 mb-3">
      <form action="#" id="form-search">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="input-orderId">{{ column_orderId }}</label>
              <input
                type="text"
                name="filter_orderId"
                value="{{ filter_orderId }}"
                class="form-control"
                id="input-orderId"
                maxlength="40"
                placeholder="{{ column_orderId }}">
            </div>
            <div class="form-group">
              <label for="input-orderDate">Order Date From</label>
              <div class="datetimepicker-range">
                <div class="datetimepicker">
                  <input
                    type="text"
                    name="filter_orderDate_from"
                    value="{{ filter_orderDate_from }}"
                    class="form-control"
                    id="input-orderDate"
                    placeholder="Pick a date...">
                  <span class="title">From</span>
                  <span class="icon"><i class="giga icon-date-icon"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="input-item_code">{{ column_item_code_search }}</label>
              <input
                type="text"
                name="filter_item_code"
                value="{{ filter_item_code }}"
                class="form-control"
                id="input-item_code"
                maxlength="30"
                placeholder="{{ column_item_code_search }}">
            </div>
            <div class="form-group">
              <label for="input-date-added">Order Date To</label>
              <div class="datetimepicker-range">
                <div class="datetimepicker">
                  <input
                    type="text"
                    name="filter_orderDate_to"
                    class="form-control"
                    id="input-date-added"
                    placeholder="Pick a date..."
                    value="{{ filter_orderDate_to }}">
                  <span class="title">To</span>
                  <span class="icon"><i class="giga icon-date-icon"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="input-orderStatus">{{ column_orderStatus }}</label>
              <select name="filter_orderStatus" id="input-orderStatus" class="form-control">
                <option value="*">{{ text_select }}</option>
                {% for k,v in order_status_list %}
                  <option
                    {% if k == filter_orderStatus %}
                      selected
                    {% endif %}
                    value="{{ k }}">
                    {{ v }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="input-tracking_number">{{ column_tracking_number }}</label>
              <select name="filter_tracking_number" id="input-tracking_number" class="form-control">
                <option value="2"
                        {% if filter_tracking_number is defined and filter_tracking_number == 2 %}selected{% endif %}>
                  All
                </option>
                <option value="1"
                        {% if filter_tracking_number is defined and filter_tracking_number == 1 %}selected{% endif %}>
                  Yes
                </option>
                <option value="0"
                        {% if filter_tracking_number is defined and filter_tracking_number == 0 %}selected{% endif %}>
                  No
                </option>
              </select>
            </div>
            <div class="form-group pull-right">
              <button
                type="button"
                onclick="filter(this);"
                class="btn btn-primary">
                {{ button_filter }}
              </button>
              <button
                type="button"
                onclick="downloadOrderFulfillment();"
                class="btn btn-default"
                data-toggle="tooltip"
                title="Download">
                <i class="fa fa-download"></i>
              </button>
              <button
                type="button"
                onclick="refreshOrder(this);"
                class="btn btn-default"
                data-toggle="tooltip"
                title="Reset">
                Reset
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div style="position:relative">
      <div class="table-responsive" style="">
        <table id="tableSalesOrder" class="table main table-hover">
          {% if orders %}
          <thead>
          <tr>
            <th class="text-left no-wrap">{{ column_orderId }}</th>
            <th class="text-left no-wrap">{{ column_orderStatus }}</th>
            <th class="text-left no-wrap" style="text-align: center">{{ column_trackingNumber }}</th>
            <th class="text-left no-wrap">{{ column_ship_name }}</th>
            <th class="text-left no-wrap">{{ column_recipient_phone }}</th>
            <th class="text-left no-wrap" style="width: 150px">{{ column_ship_address }}</th>
            <th class="text-left no-wrap">{{ column_orderDate }}</th>
            <th class="text-left no-wrap">{{ column_carrierName }}</th>
            {% if is_europe %}
              <th class="text-left no-wrap">FBA Warehouse</th>
            {% else %}
              <th class="text-left no-wrap">{{ column_signature_Service }}</th>
            {% endif %}
            <th class="text-left no-wrap">Action</th>
          </tr>
          </thead>
          <tbody>
          {% for item in orders %}
            <tr>
              <td class="text-left no-wrap">
                {{ item['order_id'] }}&nbsp;{{ item['product_tags'] | join('&nbsp;') }}
                {% if item.is_international %}
                  <span class="mrl-20 handel-hover position-top-2" data-toggle="tooltip"
                        title="[International Order] The shipping address is located outside of country of origin."> <img
                      src="catalog/view/theme/yzcTheme/image/cart/interorder.png" alt=""> </span>
                {% endif %}
                {% if item.freight_error %}
                  <span
                    class="mrl-20 handel-hover position-top-2"
                    data-toggle="tooltip"
                    title="{{ item.freight_error }}">
                    <img src="catalog/view/theme/yzcTheme/image/cart/noprice.png" alt="">
                  </span>
                {% endif %}
              </td>
              <td class="text-left no-wrap" style="font-weight: bold">
                {% if order_status_color_list[item['order_status']] is not empty %}
                  <p style="color: {{ order_status_color_list[item['order_status']] }}">
                    {{ order_status_list[item['order_status']] }}
                  </p>
                {% else %}
                  {{ order_status_list[item['order_status']] }}
                {% endif %}
              </td>
              <td class="text-left no-wrap" style="word-break: break-word;text-align: center">
                {% if item['TrackingNumber'] is not empty %}
                  <ul class="list-unstyled">
                    {% for ks,vs in item['TrackingNumber'] %}
                      {% if item['CarrierName'][ks] == 'Fedex' and  item['TrackingStatus'][ks] != 0 %}
                        <li>
                          <a
                            href="{{ text_fedex_homepage|dprintf(vs) }}"
                            target="_blank"
                            class="cpbd"
                            data-clipboard-text="{{ vs }}" style="cursor: pointer;">{{ vs }}
                            <i class="giga icon-table-link small"></i>
                          </a>
                        </li>
                      {% else %}
                        <li>{{ vs }}
                          {% if item['TrackingStatus'][ks] == 0 %}
                            {{ text_void_track }}
                          {% endif %}
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% else %}
                  -
                {% endif %}
              </td>
              <td class="text-left no-wrap" style="word-break: break-word">{{ item['ship_name'] }}</td>
              <td class="text-left no-wrap" style="word-break: break-word">{{ item['ShipPhone'] }}</td>
              <td class="text-left no-wrap" style="word-break: break-word">{{ item['detail_address'] }}</td>
              <td class="text-left no-wrap">{{ item['create_time'] }}</td>
              <td class="text-left no-wrap">
                {% for ks,vs in item['CarrierName'] %}
                  {{ vs }}<br/>
                {% endfor %}
              </td>
              {% if is_europe %}
                <td class="text-left no-wrap">{{ item['delivery_to_fba'] == 0 ? 'No':'Yes' }}</td>
              {% else %}
                <td class="text-left no-wrap">{{ item['SignatureService'] }}</td>
              {% endif %}
              <td class="text-left no-wrap">
                <div>
                  <div>
                    <a
                      href="{{ url('account/customerpartner/sales_order_list/salesOrderDetails',{'id':item['id']}) }}"
                      target="_blank"
                      data-toggle="tooltip"
                      title="View"
                      class="btn btn-action"
                      style="margin-left: 12px">
                      <i class="giga icon-action-preview"></i>
                    </a>
                  </div>
                  <div class="btn-group action-group">
                    {% if item['order_status'] b-and (16+32) %}
                    {% else %}
                      <button
                        type="button"
                        data-toggle="dropdown"
                        class="btn btn-primary dropdown-toggle"
                        style="margin-left: 12px;">
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        {% if item['order_status'] b-and (256+2+4+64) %}
                          <li style="cursor: pointer">
                            {# <a #}
                            {# onclick="showModifyShipping('{{ item['id'] }}','{{ item['ship_name'] }}','{{ item['email'] }}','{{ item['ship_phone_show'] }}','{{ item['ship_address1_show']|c_escape }}','{{ item['ship_city_show'] }}','{{ item['ship_state_show'] }}','{{ item['ship_zip_code_show'] }}','{{ item['ship_country'] }}','{{ item['customer_comments'] }}')"> #}
                            {# <i class="fa fa-pencil"></i> #}
                            {# {{ text_modify_shipping }} #}
                            {# </a> #}
                            <a
                              onclick="getOrderAddress('{{ item['id'] }}')">
                              <i class="fa fa-pencil"></i>
                              {{ text_modify_shipping }}
                            </a>
                          </li>
                        {% endif %}
                        {% if item['order_status'] b-and (256+2+4+64) %}
                          <li style="cursor: pointer">
                            <a
                              onclick="cancelOrder({{ item['id'] }},'{{ item['order_id'] }}',{{ item['order_status'] }})">
                              <i class="fa fa-close"></i>
                              {{ text_order_cancel }}
                            </a>
                          </li>
                        {% endif %}
                        {% if item['order_status'] b-and (2+64) %}
                          <li style="cursor: pointer">
                            <a
                              onclick="onHoldOrder({{ item['id'] }},'{{ item['order_id'] }}',{{ item['order_status'] }})">
                              <i class="fa fa-hand-paper-o"></i>
                              {{ text_order_on_hold }}
                            </a>
                          </li>
                        {% endif %}
                        {% if item['order_status'] b-and (256+4) %}
                          <li style="cursor: pointer">
                            <a
                              onclick="releaseOrder({{ item['id'] }},'{{ item['order_id'] }}',{{ item['order_status'] }})">
                              <i class="fa fa-play-circle"></i>
                              {{ text_order_release }}
                            </a>
                          </li>
                        {% endif %}
                        {% if item['order_status'] b-and (64) %}
                          <li style="cursor: pointer">
                            <a
                              onclick="getSalesOrderLtlOneConfirm({{ item['id'] }},'{{ item['order_id'] }}',{{ item['order_status'] }})">
                              <i class="giga icon-duihao1"></i>
                              {{ text_order_confirm_ltl }}
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    {% endif %}
                  </div>
                  {% if item['failure_log'] %}
                    <div>
                      <a
                        onclick="showFailureLog('{{ item['failure_log'] }}')"
                        style="border-radius: 4px;margin-left: 12px;"
                        data-toggle="tooltip"
                        title="{{ text_button_failure_log }}" class="btn btn-danger">
                        <i class="fa fa-exclamation"></i>
                      </a>
                    </div>
                  {% endif %}
                </div>
              </td>
            </tr>
          {% endfor %}
          {% else %}
            <tr>
              <td class="text-center" colspan="12">{{ text_no_results }}</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
      <div class="row mt-2" style="margin-right: 0;margin-top: 20px;">
        <div class="col-sm-12 text-right">
          <ul id="bos_pagination"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
{# 这是修改地址的模态 #}
<div class="modal fade in modal-modify-address" id="myModalModifyAddress" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog" style="width: 720px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modify Address</h4>
      </div>
      <div class="modal-body">
        <div class="original-address-con">
          <p class="modal-sub-title">Original Contact Information</p>
          <p id="orignName" style="word-wrap:break-word;word-break:normal; "></p>
          <p id="orignAddr" style="word-wrap:break-word;word-break:normal; "></p>
        </div>
        <form class="form-horizontal new-address-con" id="modifyAddress">
          <input type="hidden" name="ShipId" id="ShipId">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputModifyShipToName" class="col-sm-3 control-label required">Ship To
                  Name</label>
                <div class="col-sm-8">
                  <input class="form-control modify-input-change" id="ShipToNameList" name="ShipToName" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputModifyShipToEmail" class="col-sm-3 control-label required">Ship To
                  E-mail</label>
                <div class="col-sm-8">
                  <input class="form-control modify-input-change" id="ShipToEmailList" name="ShipToEmail" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputModifyShipToPhone" class="col-sm-3 control-label required">Ship To
                  Phone</label>
                <div class="col-sm-8">
                  <input class="form-control modify-input-change" id="ShipToPhoneList" name="ShipToPhone" placeholder="">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputModifyShippingStreetAddress" class="col-sm-3 control-label required">Shipping
                  Address Detail</label>
                <div class="col-sm-8">
                  <input class="form-control modify-input-change" id="StreetAddressList" name="StreetAddress"
                         placeholder="Street Address">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ShipToCityList" class="col-sm-3 control-label required">Shipping
                  City</label>
                <div class="col-sm-8">
                  <input class="form-control modify-input-change" name="ShipToCity" id="ShipToCityList"
                         placeholder="ShipToCity">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ShipToCountryList" class="col-sm-3 control-label required">Shipping
                  Country</label>
                <div class="col-sm-8">
                  <i class="giga icon-cuowu2 modify-country-remove" id="modifyCountryRemove"></i>
                  <input class="form-control dropdown-in modify-input-change" name="ShipToCountry" id="ShipToCountryList"
                         placeholder="ShipToCountry" autocomplete="off">
                  <ul class="dropdown-menu dropdown-in modify-country" aria-labelledby="dLabel">
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ShipToStateList" class="col-sm-3 control-label required">Shipping
                  State</label>
                <div class="col-sm-8">
                  {% if is_japan %}
                    <select class="form-control selectpicker modify-select-change" name="ShipToState" id="ShipToStateList"
                            placeholder="State"
                            data-live-search="true" required>
                    </select>
                  {% else %}
                    <input class="form-control modify-input-change" name="ShipToState" id="ShipToStateList" placeholder="ShipToState">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ShipToPostalCodeList" class="col-sm-3 control-label required">Shipping
                  Postal Code</label>
                <div class="col-sm-8">
                  <input class="form-control modify-input-change" id="ShipToPostalCodeList" name="ShipToPostalCode"
                         placeholder="ShipToPostalCode">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputModifyShipToPhone"
                       class="col-sm-3 control-label ">OrderComments</label>
                <div class="col-sm-8">
                                    <textarea class="form-control textarea-drag-none" id="OrderCommentsList" placeholder=""
                                              name="OrderComments" style="width: 100%" rows="4"></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="text-align: center">
        <button class="btn btn-primary" id="submitModifyAddress" type="button">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="alert_dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="alert_title">

        </h4>
      </div>
      <div class="modal-body" id="alert_body" style="font-size: large;text-align: center"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-submit" data-dismiss="modal" id="alert_confirm">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  var order_url = '{{ order_url }}';
  var download_url = '{{ download_url }}';

  // modifyAddress
  // 获取order的地址
  function getOrderAddress(order_id) {
    //清除样式
    $("#modifyAddress").find('input,textarea').each(function () {
      $(this).val('');
      $(this).removeClass('error-input');
      $(this).parent().find('.error-text').remove();
    });
    let address_info = [];
    $.ajax({
      url: "{{ url('account/customerpartner/sales_order_list/orderOldAddress') }}",
      type: 'post',
      dataType: 'json',
      data: {'order_id': order_id},
      async: false,
      cache: false,//上传文件无需缓存
      // processData: false,//用于对data参数进行序列化处理 这里必须false
      // contentType: false, //必须
      beforeSend: function () {
        layer.load(1, {shade: [0.3, '#000']});
      },
      success: function (result) {
        layer.closeAll('loading');
        if (result.error === 0) {
          address_info = result.info;
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        layer.closeAll('loading');
        layerMsg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
    // 打开弹框
    $("#myModalModifyAddress").modal('show');
    $("#ShipId").val(address_info['id']);
    $("#ShipToNameList").val(address_info['ship_name']);
    $("#ShipToEmailList").val(address_info['email']);
    $("#ShipToPhoneList").val(address_info['ship_phone']);
    $("#StreetAddressList").val(address_info['ship_address1']);
    $("#ShipToPostalCodeList").val(address_info['ship_zip_code']);
    $("#ShipToCityList").val(address_info['ship_city']);

    //如果是日本使用下拉
    if (address_info['is_japan']) {
      let optionState = '';
      let state = address_info['state'];
      //之前填写的洲是否在下拉列表中
      if (address_info['state_exists']) {
        for (let i in state) {
          if (address_info['ship_state'] == state[i].county) {
            optionState += '<option value="' + state[i].county + '" selected>' + state[i].county + '</option>';
          } else {
            optionState += '<option value="' + state[i].county + '">' + state[i].county + '</option>';
          }
        }
      } else {
        optionState += '<option value="' + address_info['ship_state'] + '" selected style="display: none;">' + address_info['ship_state'] + '</option>';
        for (let i in state) {
          optionState += '<option value="' + state[i].county + '">' + state[i].county + '</option>';
        }
      }
      $('#ShipToStateList').html(optionState)
      $('#ShipToStateList').selectpicker('refresh');
    } else {
      $("#ShipToStateList").val(address_info['ship_state']);
    }

    $("#ShipToCountryList").val(address_info['ship_country']);
    $("#OrderCommentsList").val(address_info['customer_comments']);
    $("#orignName").html(address_info['orignName']);
    $("#orignAddr").html(address_info['orignAddr']);
  }

  //地址错误，修改地址

  function addressYes(obj) {
    let order_id = $(obj).attr('mean');
    let is_international = $(obj).attr('is_international');
    let order_status = $(obj).attr('order_status');
    modifyAddress(order_id, is_international, order_status);
  }

  // modify Address
  function modifyAddress(id, is_international, order_status) {
    if (order_status == 2 && is_international == 1) {
      layer.confirm('The address on this sales order cannot be modified because its status is ‘Being Processed’.  Please contact the customer service for assistance.', {
        title: 'Confirm',
        skin: 'yzc_layer',
        btn: ['Close'],
        btnAlign: 'c',
      }, function () {
        layer.closeAll();
      });
      return false;
    } else if (order_status == 1 && is_international == 1) {
      let data = {order_id: id};
      var ajax_info;
      $.ajax({
        url: "{{ url('account/sales_order/sales_order_management/checkIsExistAssociate') }}",
        type: 'post',
        dataType: 'json',
        async: false,
        data: data,
        beforeSend: function () {
          layer.load(1, {shade: [0.3, '#000']});
        },
        success: function (json) {
          layer.closeAll('loading');
          ajax_info = json;
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.closeAll('loading');
          layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText, {time: 3000, skin: ''});
        }
      });
      if (ajax_info.error) {
        layer.confirm('The address of this sales order cannot be modified due to an existing matching purchase order. Please cancel the matching purchase order before modifying the address.', {
          title: 'Confirm',
          skin: 'yzc_layer',
          btn: ['Go to matching purchase order', 'Close'],
          btnAlign: 'c',
        }, function () {
          if (ajax_info.order_num == 1) {
            window.open('{{ url('account/order') }}' + '&filter_PurchaseOrderId=' + ajax_info.order_id, '_blank');
          } else {
            window.open('{{ url('account/order') }}', '_blank');
          }
          layer.closeAll();
        }, function () {
          layer.closeAll();
        });
        return false;
      }

    }
    getOrderAddress(id);
  }

  //校验必填
  function checkFull(checkID, message) {
    let check = true;
    checkID.forEach(function (item, i) {
      if ($(item).val() == "") {
        check = false;
        $(item).addClass('error-input');
        $(item).parent().find('.error-text').remove();
        $(item).parent().append("<span class='error-text'>" + message[i] + "</span>");
      } else {
        $(item).removeClass('error-input');
        $(item).parent().find('.error-text').remove();
      }
    });
    return check;
  }

  let fieldMap = {
    ShipId: 'id',
    ShipToName: 'name',
    ShipToEmail: 'email',
    ShipToPhone: 'phone',
    StreetAddress: 'address',
    ShipToCity: 'city',
    ShipToCountry: 'country',
    ShipToState: 'state',
    ShipToPostalCode: 'code',
    OrderComments: 'comments',
  };

  function getPostParam() {
    let param = $('#modifyAddress').serializeArray();
    let ret = {};
    for (let item of param) {
      if (fieldMap.hasOwnProperty(item['name'])) {
        ret[fieldMap[item['name']]] = item['value'];
      }
    }
    return ret;
  }

  $('#submitModifyAddress').on('click', function () {
    $(".modifyDisable").attr('disabled', true);
    //校验信息
    let checkID = [
      '#ShipToNameList',
      '#ShipToEmailList',
      '#ShipToPhoneList',
      '#StreetAddressList',
      '#ShipToPostalCodeList',
      '#ShipToCityList',
      '#ShipToStateList',
      '#ShipToCountryList'
    ];
    let message = [
      'Required fields',
      'Required fields',
      'Required fields',
      'Required fields',
      'Required fields',
      'Required fields',
      'Required fields',
      'Required fields',
    ];
    if (!checkFull(checkID, message)) {
      return false;
    }
    //更改地址

    $.ajax({
      url: "{{ url('account/customerpartner/sales_order_list/changeOrderShipping') }}",
      type: 'post',
      data: getPostParam(),
      async: false,
      beforeSend: function () {
        layer.load(1, {shade: [0.3, '#000']});
        $("#submitModifyAddress").attr('disabled', true);
      },
      success: function (result) {
        $("#submitModifyAddress").attr('disabled', false);
        layer.closeAll('loading');
        if (result.error == 0) {//修改成功
          if (result.tag_id == 1) { //LTL发邮件功能暂定
            $(".modifyDisable").attr('disabled', false);
          } else {
            let tips = 'Modify Address Successfully!';
            if (result.notice) {
              tips += '<br/>International order, automatic freight pricing is unavailable.Please contact the customer service for assistance.';
            }
            myToastFn(tips, 'success');
            $("#myModalModifyAddress").modal('hide');
            $(".modal-backdrop").removeClass('in');
            $(".modal-backdrop").removeClass('fade');
            $(".modal-backdrop").removeClass('modal-backdrop');
            layer.load();
            $('#mapping-order').load(order_url + '&' + $.param(getSearchQueryParams()), function () {
              layer.closeAll();
            });
            setTimeout(function () {
              $(".modifyDisable").attr('disabled', false);
            }, 3000)
          }
          return false;
        } else if (result.error == 3) {//修改失败
          myToastFn('Save Failed<br/> Please contact customer service.', 'error');
          $("#myModalModifyAddress").modal('hide');
          $(".modal-backdrop").removeClass('in');
          $(".modal-backdrop").removeClass('fade');
          $(".modal-backdrop").removeClass('modal-backdrop');
          let params = getSearchQueryParams();
          $('#mapping-order').load(order_url + '&' + $.param(params));
          setTimeout(function () {
            $(".modifyDisable").attr('disabled', false);
          }, 3000)
        } else if (result.error == 2) { //修改等待
          myToastFn(result.info, 'success');
          setTimeout(function () {
            $(".modifyDisable").attr('disabled', false);
          }, 3000)
        } else if (result.error == 1) { //信息填写错误
          result.info.forEach(function (item) {
            $('#' + item.id + "List").addClass('error-input');
            $('#' + item.id + "List").parent().find('.error-text').remove();
            $('#' + item.id + "List").parent().append("<span class='error-text'>" + item.info + "</span>");
          })
          $(".modifyDisable").attr('disabled', false);
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        $("#submitModifyAddress").attr('disabled', false);
        layer.closeAll('loading');
        $(".modifyDisable").attr('disabled', false);
        layerMsg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });

  })

  // 联想shiptocountry
  //输入后匹配建议
  $("#ShipToCountryList").bind("input propertychange", function () {
    if ($(this).val() != '') {
      $.ajax({
        url: "{{ url('account/customerpartner/sales_order_list/getCountryInfo',{'keyword':''}) }}" + encodeURIComponent($(this).val()),
        method: "GET",
        dataType: 'json',
        async: false,
        success: function (json) {
          let list = "";
          $.each(json, function (k, v) {
            list += "<li><a>" + v.name + "</a></li>";
          });
          if (list) {
            $("#myModalModifyAddress .dropdown-menu").html(list);
            $('#ShipToCountryList').parent().find(".dropdown-menu").show();
          } else {
            $('#ShipToCountryList').parent().find(".dropdown-menu").hide();
          }
        }
      });
      $("#modifyCountryRemove").show();
    } else {
      $("#modifyCountryRemove").hide();
    }
  })
  //赋值给input框
  $("#myModalModifyAddress .dropdown-menu").on("click", "li", function () {
    $(this).parent().parent().find("input").val($(this).text());
    $("#modifyCountryRemove").show();
    $(this).parent().hide()
  });
  //清除值
  $("#modifyCountryRemove").click(function () {
    $(this).next().val("");
    $(this).hide();
  });

  //点击其他地方隐藏下拉框
  $(document).bind('click', function (event) {
    var evt = event.srcElement ? event.srcElement : event.target;
    evt = $(evt);
    if (evt.hasClass("dropdown-in")) return;
    else {
      $("body #myModalModifyAddress").find(".dropdown-menu").hide();
    }
    ;
  });

  // 提示框
  function myToastFn(message, type, time = 3000) {
    $.toast({
      heading: false,
      text: message,
      position: 'top-center',
      showHideTransition: 'fade',
      icon: type,
      hideAfter: time,
      allowToastClose: false,
      loader: false
    })
  }


  // order
  // edit ship info
  function showModifyShipping(id, name, email, phone, address, city, state, zipCode, country, comments) {
    var shipModal = $("#change_ship_dialog");
    shipModal.modal();
    initChangeShipDialog(id, name, email, phone, address, city, state, zipCode, country, comments);
    shipModal.on("hidden.bs.modal", function () {
      $(this).removeData("bs.modal");
      resetChangeShipDialog();
    });
  }

  function initChangeShipDialog(id, name, email, phone, address, city, state, zipCode, country, comments) {
    var country_id = '{{ country_id }}';
    $("#order_id").val(id);
    $("#change_ship_name").val(name);
    $("#change_ship_email").val(email);
    $("#change_ship_phone").val(phone);
    $("#change_ship_address").val(address);
    $("#change_ship_city").val(city);
    var arr = ['US', 'DE', 'JP'];
    var arr_uk = ['GB', 'UK'];
    if ($.inArray(country, arr_uk) != -1) {
      country = 'GB';
    } else {
      if ($.inArray(country, arr) == -1) {
        country = 0;
      }
    }
    $('#change_ship_country').val(country);
    $("#change_ship_code").val(zipCode);
    $("#change_ship_comments").val(comments);
    if (country_id == 223 || country_id == 107) {
      changeStateOption();
      if ($.inArray(country, arr) != -1) {
        $('#change_ship_state').val(state);
      }
      if ($('#change_ship_state').val() == null) {
        $('#change_ship_state').val(0);
      }
    } else {
      $('#change_ship_state').val(state);
    }
  }

  function resetChangeShipDialog() {
    $(".dialog-form-input").val("");
    $(".dialog-form-warning").css("display", "none");
  }

  function validateShippingInfo() {
    let isValid = true;
    var patt = /^[\s]*$/;//以空格开头并且已空格结尾，中间多次或者零次空格
    var country_id = '{{ country_id }}';
    var is_dropship = 0;
    let email_reg = new RegExp("[\\w-\\.]+@([\\w-]+\\.)+[a-z]{2,3}");
    if (!$("#change_ship_name").val() || $("#change_ship_name").val().length > 50) {
      $("#error_ship_name").css("display", "block");
      isValid = false;
    } else {
      $("#error_ship_name").css("display", "none");
    }
    if (!$("#change_ship_email").val() || $("#change_ship_email").val().length > 90) {
      $("#error_ship_email").text("{{ error_ship_label_email }}");
      $("#error_ship_email").css("display", "block");
      isValid = false;
    } else if (!email_reg.test($("#change_ship_email").val())) {
      $("#error_ship_email").text("{{ error_ship_label_email_reg }}");
      $("#error_ship_email").css("display", "block");
      isValid = false;
    } else {
      $("#error_ship_email").css("display", "none");
    }
    if (!$("#change_ship_phone").val() || $("#change_ship_phone").val().length > 45) {
      $("#error_ship_phone").text(" {{ error_ship_label_phone }}");
      $("#error_ship_phone").css("display", "block");
      isValid = false;
    } else if ($("#change_ship_phone").val().indexOf('?') >= 0 || $("#change_ship_phone").val().indexOf('？') >= 0) {
      if (is_dropship == 0) {
        $("#error_ship_phone").text("The Recipient Phone# field is not valid. It contains '?' or '？'.");
        $("#error_ship_phone").css("display", "block");
        isValid = false;
      } else {
        $("#error_ship_phone").css("display", "none");
      }

    } else {
      $("#error_ship_phone").css("display", "none");
    }
    if (!$("#change_ship_address").val() || $("#change_ship_address").val().length > 100) {
      $("#error_ship_address").text("{{ error_ship_label_address }}");
      $("#error_ship_address").css("display", "block");
      isValid = false;
    } else if ($("#change_ship_address").val().indexOf('?') >= 0 || $("#change_ship_address").val().indexOf('？') >= 0) {
      if (is_dropship == 0) {
        $("#error_ship_address").text("The Shipping Address Detail field is not valid. It contains '?' or '？'.");
        $("#error_ship_address").css("display", "block");
        isValid = false;
      } else {
        $("#error_ship_address").css("display", "none");
      }

    } else {
      $("#error_ship_address").css("display", "none");
    }
    if (!$("#change_ship_city").val() || $("#change_ship_city").val().length > 40) {
      $("#error_ship_city").text("{{ error_ship_label_city }}");
      $("#error_ship_city").css("display", "block");
      isValid = false;
    } else if ($("#change_ship_city").val().indexOf('?') >= 0 || $("#change_ship_city").val().indexOf('？') >= 0) {
      if (is_dropship == 0) {
        $("#error_ship_city").text("The Shipping City field is not valid. It contains '?' or '？'.");
        $("#error_ship_city").css("display", "block");
        isValid = false;
      } else {
        $("#error_ship_city").css("display", "none");
      }
    } else {
      $("#error_ship_city").css("display", "none");
    }
    if (country_id == 223 || country_id == 107) {
      if ($("#change_ship_state").val() == 0) {
        $("#error_ship_state").css("display", "block");
        isValid = false;
      } else {
        $("#error_ship_state").css("display", "none");
      }
    } else {

      if (patt.test($("#change_ship_state").val()) || $("#change_ship_state").val() == '') {
        $("#error_ship_state").css("display", "block");
        isValid = false;
      } else {
        $("#error_ship_state").css("display", "none");
      }

    }

    if (!$("#change_ship_code").val() || $("#change_ship_code").val().length > 18 || patt.test($("#change_ship_code").val())) {
      $("#error_ship_code").text("{{ error_ship_label_code }}");
      $("#error_ship_code").css("display", "block");
      isValid = false;
    } else if ($("#change_ship_code").val().indexOf('?') >= 0 || $("#change_ship_code").val().indexOf('？') >= 0) {
      if (is_dropship == 0) {
        $("#error_ship_code").text("The Shipping Postal Code field is not valid. It contains '?' or '？'.");
        $("#error_ship_code").css("display", "block");
        isValid = false;
      } else {
        $("#error_ship_code").css("display", "none");
      }
    } else {
      $("#error_ship_code").css("display", "none");
    }
    if (!$("#change_ship_country").val()) {
      $("#error_ship_country").css("display", "block");
      isValid = false;
    } else {
      $("#error_ship_country").css("display", "none");
    }
    if ($("#change_ship_comments").val().length > 1500) {
      $("#error_ship_comments").css("display", "block");
      isValid = false;
    } else {
      $("#error_ship_comments").css("display", "none");
    }
    return isValid;
  }

  function confirmModifyShipping() {
    if (!validateShippingInfo()){
      return
    }
    let id = $("#order_id").val();
    let name = $("#change_ship_name").val();
    let email = $("#change_ship_email").val();
    let phone = $("#change_ship_phone").val();
    let address = $("#change_ship_address").val();
    let city = $("#change_ship_city").val();
    let state = $("#change_ship_state").val().toUpperCase();
    let code = $("#change_ship_code").val();
    let country = $("#change_ship_country").val().toUpperCase();
    let comments = $("#change_ship_comments").val();
    let postData = {
      'name': name,
      'email': email,
      'phone': phone,
      'address': address,
      'city': city,
      'state': state,
      'code': code,
      'country': country,
      'comments': comments,
    };
    if (validateShippingInfo()) {
      var shipModal = $("#change_ship_dialog");
      shipModal.modal('hide');
      $.ajax({
        type: 'POST',
        url: "{{ url('account/customerpartner/sales_order_list/changeOrderShipping',{'id':''}) }}" + id,
        data: postData,
        dataType: 'json',
        success: function (json) {
          if (json['success']) {
            layer.confirm(json['success'], {
              title: '{{ dialog_title_info }}',
              btnAlign: 'c',
              skin: 'yzc_layer',
              btn: ['OK'],
              yes: function () {
                layer.closeAll();
                block.blockUI();
                let params = getSearchQueryParams();
                $('#mapping-order').load(order_url + '&' + $.param(params), function () {
                  block.unBlockUI();
                });
              }
            })
          } else if (json['error']) {
            layer.confirm(json['error'], {
              title: '{{ dialog_title_error }}',
              btnAlign: 'c',
              skin: 'yzc_layer',
              btn: ['OK'],
            })
          }
        }
      });
    }
  }

  function changeStateOption() {
    var country_id = '{{ country_id }}';
    let country_val = $('#change_ship_country').val();
    let state_val = $('#change_ship_state').val();
    let options = "<option value= '0'>{{ text_select_state }}</option>";
    if (country_val === "") {
      $('#change_ship_state').empty().append(options);
      return;
    } else if (country_val == "0") {
      if (country_id == 223 || country_id == 107) {
        $('#change_ship_state').val(0);
      } else {
        $('#change_ship_state').val(null);
      }
    }
    if (country_id == 223 || country_id == 107) {
      var data = {country_id: country_val};
      $.ajax({
        url: "{{ url('account/customerpartner/sales_order_list/getCountryState') }}",
        type: 'post',
        dataType: 'json',
        async: false,
        cache: true,
        data: data,
        beforeSend: function () {
          layer.load();
        },
        success: function (json) {
          $.each(json, function (key, value) {
            options += '<option value="' + value.code + '"  >' + value.name + '</option>';
          });
          $('#change_ship_state').empty().append(options);
          layer.closeAll('loading');
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.closeAll('loading');
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }

  $('body').on("input",".modify-input-change",function () {
    $(this).removeClass('error-input');
    $(this).parent().find('.error-text').remove();
  })
  $('body').on("change",".modify-select-change",function () {
    $(this).removeClass('error-input');
    $(this).parent().find('.error-text').remove();
  })

  // cancel order
  function cancelOrder(id, order_id, order_status) {
    var tmplayer = layer.confirm('Do you confirm to cancel this order?', {
      title: 'Confirm',
      skin: 'yzc_layer',
      btnAlign: 'c',
      btn: ['Yes', 'No'] //按钮
    }, function () {
      layer.close(tmplayer);
      let data = {order_id: order_id, id: id, order_status: order_status};
      $.ajax({
        url: "{{ url('account/customerpartner/sales_order_management/cancelOrder') }}",
        type: 'post',
        dataType: 'json',
        data: data,
        beforeSend: function () {
          layer.load(1);
        },
        success: function (json) {
          layer.closeAll('loading');
          var tmp = layer.confirm(json.msg, {
            title: 'Confirm',
            skin: 'yzc_layer',
            btnAlign: 'c',
            btn: ['OK'] //按钮
          }, function () {
            layer.close(tmp);
            let params = getSearchQueryParams();
            $('#mapping-order').load(order_url + '&' + $.param(params), function () {
            });
          });
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.closeAll('loading');
          layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText, {time: 3000, skin: ''});
        }
      });
    }, function () {
      layer.close(tmplayer);
    });

  }

  // onHold order
  function onHoldOrder(id, order_id, order_status) {
    var tmplayer = layer.confirm('Do you confirm to on hold this order?', {
      title: 'Confirm',
      skin: 'yzc_layer',
      btnAlign: 'c',
      btn: ['Yes', 'No'] //按钮
    }, function () {
      layer.close(tmplayer);
      let data = {order_id: order_id, id: id, order_status: order_status};
      $.ajax({
        url: "{{ url('account/customerpartner/sales_order_management/onHoldOrder') }}",
        type: 'post',
        dataType: 'json',
        data: data,
        beforeSend: function () {
          layer.load(1);
        },
        success: function (json) {
          layer.closeAll('loading');
          var tmp = layer.confirm(json.msg, {
            title: 'Confirm',
            skin: 'yzc_layer',
            btnAlign: 'c',
            btn: ['OK'] //按钮
          }, function () {
            layer.close(tmp);
            let params = getSearchQueryParams();
            $('#mapping-order').load(order_url + '&' + $.param(params), function () {

            });
          });


        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.closeAll('loading');
          layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText, {time: 3000, skin: ''});
        }
      });
    }, function () {
      layer.close(tmplayer);
    });
  }

  // release order
  function releaseOrder(id, order_id, order_status) {
    var tmplayer = layer.confirm('Do you confirm to release this order?', {
      title: 'Confirm',
      skin: 'yzc_layer',
      btnAlign: 'c',
      btn: ['Yes', 'No'] //按钮
    }, function () {
      layer.close(tmplayer);
      let data = {order_id: order_id, id: id, order_status: order_status};
      $.ajax({
        url: "{{ url('account/customerpartner/sales_order_management/releaseOrder') }}",
        type: 'post',
        dataType: 'json',
        data: data,
        beforeSend: function () {
          layer.load(1);
        },
        success: function (json) {
          layer.closeAll('loading');
          var tmp = layer.confirm(json.msg, {
            title: 'Attention',
            skin: 'yzc_layer myNew-layer',
            btnAlign: 'c',
            area: ['450px', 'auto'],
            btn: ['OK'] //按钮
          }, function () {
            layer.close(tmp);
            let params = getSearchQueryParams();
            $('#mapping-order').load(order_url + '&' + $.param(params), function () {
            });
          });
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.closeAll('loading');
          layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText, {time: 3000, skin: ''});
        }
      });
    }, function () {
      layer.close(tmplayer);
    });
  }

  function showFailureLog($html_str) {
    layer.confirm(decodeURI($html_str), {
      title: '{{ dialog_title_fail_log }}',
      btnAlign: 'c',
      skin: 'yzc_layer',
      btn: ['OK'],
      area: ['40%', 'auto']
    })
  }

  function getSalesOrderLtlOneConfirm(id, order_id, order_status) {
    var url = "{{ url('account/customerpartner/sales_order_management/getSalesOrderLtlOne',{'id':''}) }}" + id + '&order_id=' + order_id;
    layer.open({
      type: 2,
      area: ['1000px', '700px'],
      title: 'LTL Confirm',
      fixed: false, //不固定Change
      maxmin: true,
      skin: 'yzc_layer iframe_layer',
      btnAlign: 'c',
      scrollbar: false,
      content: url,
    });
  }

  function layerMsg(message, time = 3000) {
    layer.msg(message, {time: time});
  }
</script>
<script>
  $('#input-orderDate').datetimepicker({
    pickDate: true,
    pickTime: false,
    format: 'YYYY-MM-DD 00:00:00'
  });
  $('#input-date-added').datetimepicker({
    pickDate: true,
    pickTime: false,
    format: 'YYYY-MM-DD 23:59:59'
  });

  function getSearchQueryParams() {
    let form = $('#form-search');
    let s_params = form.serializeArray();
    let ret = {};
    s_params.forEach(function (item) {
      ret[item['name']] = item['value'];
    })
    return ret;
  }

  // search
  function filter(item) {
    let params = getSearchQueryParams();
    $(item).button('loading');
    block.blockUI();
    $('#mapping-order').load(order_url + '&' + $.param(params), function () {
      block.unBlockUI();
      $(item).button('reset');
    });
    return false;
  }

  // reset
  function refreshOrder(item) {
    block.blockUI();
    $('#mapping-order').load(order_url, function () {
      block.unBlockUI();
      $(item).button('reset');
    });
    return false;
  }

  // download
  function downloadOrderFulfillment() {
    window.location.href = download_url + '&' + $.param(getSearchQueryParams());
  }

  {% if orders %}
  /*B2B pages update*/
  var $tabletableSalesOrder = $('#tableSalesOrder.table');
  var $widthtableSalesOrder = $tabletableSalesOrder.find('th:last-child').width();
  var $fixedColumntableSalesOrder = $tabletableSalesOrder.clone().insertAfter($tabletableSalesOrder).addClass('fixed-column');
  $fixedColumntableSalesOrder.find('th:not(:last-child),td:not(:last-child)').remove();

  function calctableSalesOrder() {
    $fixedColumntableSalesOrder.find('tr').each(function (i, elem) {
      $(this).height($tabletableSalesOrder.find('tr:eq(' + i + ')').height());
      $(this).find('td').width($widthtableSalesOrder);
    });
  }

  calctableSalesOrder();

  /*END B2B pages update*/
  function pagination() {
    if ({{ total_pages }}) {
      $('#bos_pagination').bootstrapPaginator({
        /*当前使用的是3版本的bootstrap*/
        bootstrapMajorVersion: 3,
        /*配置的字体大小是小号*/
        size: 'normal',
        /*当前页*/
        currentPage: {{ page }},
        /*一共多少页*/
        totalPages: {{ total_pages }},
        /*页面上最多显示几个含数字的分页按钮*/
        numberOfPages: 5,
        rowsOfPage: {{ page_limit }},
        total: {{ total }},
        onPageClicked: function (event, originalEvent, type, page) {
          let url = order_url + '&' + $.param(getSearchQueryParams()) + '&page=' + page;
          block.blockUI();
          $('#mapping-order').load(url, function () {
            block.unBlockUI();
          });
        }
      });
    }
  }

  pagination();
  {% endif %}
</script>

<style>
  .dialog-form-line {
    display: flex;
    padding-top: 8px
  }

  .dialog-form-label {
    font-weight: bold;
    width: 200px
  }

  .dialog-form-warning {
    font-size: 12px;
    display: none;
    color: red;
  }

  .dialog-form-input {
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
  }

  .li-disable {
    background-color: #80808059;
    pointer-events: none;
  }

  .yzc_layer .layui-layer-content {
    text-align: center;
  }

  .myNew-layer .layui-layer-content {
    text-align: left;
  }

  .yzc_layer .layui-layer-btn .layui-layer-btn0 {
    background-color: #3A75DC;
    border-color: #3A75DC;
    line-height: 26px;
  }

  .yzc_layer .layui-layer-btn .layui-layer-btn0:hover {
    background-color: #2d57a9;
    opacity: 1;
  }

  .yzc_layer .layui-layer-btn .layui-layer-btn1 {
    color: #3A75DC;
  }

  .yzc_layer .layui-layer-btn .layui-layer-btn1:hover {
    background-color: #3A75DC;
    color: #fff;
    opacity: 1;
  }
</style>
{{ footer }}
