{{ header }}{{ separate_column_left }}
<style>
  .layer-panel-box {
    color: #000;
    font-size: 14px;
  }

  .nav-tabs {
    border-bottom: 0 solid white;
  }

  .nav-tabs-sty {
    margin-bottom: 0;
  }

  .tab-content-sty {
    background-color: white;
  }
</style>
{% if separate_view is defined and separate_view %}
<div class="container-fluid giga-content" id="content" style="margin-left: 15%">
  {% else %}
  <div class="container">
    {% endif %}
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
    <div class="row">
      <div class="col-md-12">
        <h1>{{ text_sales_order_list }}</h1>
        <div class="row">
          <div class="col-md-12">
            {#Togglable tabs#}
            <ul class="nav nav-tabs main" role="tablist">
              <li id="upload_li" ><a data-href="{{ upload_url }}" data-toggle="tab" style="cursor:pointer;">{{ text_upload }}</a></li>
              <li id="order_li" class="active"><a data-href="{{ sales_order_url }}" data-toggle="tab" style="cursor:pointer;">{{ text_sales_order }}</a></li>
              <span style="float: right;margin-top: 8px;cursor: pointer;margin-right: 20px;">
                <i class="giga icon-V10-wenhaotishi" aria-hidden="true" onclick="getHelpInfo()"></i>
                <span style="color: #677999;margin-left: 4px;" onclick="getHelpInfo()"> Shipping Information </span>
              </span>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {#tab页对应内容#}
    <div id="box-shadow">
      <div class="tab-content tab-content-sty">
        <div class="tab-pane " id="tab-upload">
          <fieldset>
            <div id="mapping-upload"></div>
          </fieldset>
        </div>
        <div class="tab-pane active" id="tab-order">
          <fieldset>
            <div id="mapping-order"></div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<script>
   $('#mapping-order').load("{{ url('account/customerpartner/sales_order_list/orderList') }}");
  function getHelpInfo() {
    window.location.href = '{{ help_info }}';
  }

  $('#upload_li,#order_li').on('click', function () {
    window.location.href = $(this).find('a').attr('data-href');
  })

</script>
