{% for style in styles %}
  <link href="{{ style }}" type="text/css" rel="stylesheet"/>
{% endfor %}
{% for script in scripts %}
  <script type="text/javascript" src="{{script}}"></script>
{% endfor %}
<fieldset>
  {#<legend>#}
    {#<i class="fa fa-list"></i>{{heading_title_list}}#}
  {#</legend>#}
  <div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label" for="input-id">{{ text_id }} </label>
          <input type="text" name="filter_id" value="{{ filter_id }}" placeholder="{{ text_id }}" id="input-id"
                 class="form-control"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="input-sku_mpn">{{ text_sku_mpn }} </label>
          <input type="text" name="filter_sku_mpn" value="{{ filter_sku_mpn }}"
                 placeholder="{{ text_sku_mpn }}" id="input-sku_mpn" class="form-control"/>
        </div>

      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label" for="input-customer">{{ text_customer_name }} </label>
          <input type="text" name="filter_customer" value="{{ filter_customer }}"
                 placeholder="{{ text_customer_name }}" id="input-customer" class="form-control"/>
        </div>

        <div class="form-group ">
          <label class="control-label col-sm-10" for="input-date_from" style="padding: 0">{{ text_date_from }} </label>
          <div class="input-group datetime col-sm-6" style="float: left">
            <input type="text" name="filter_date_from" class="form-control datetime"
                   value="{{ filter_date_from }}" placeholder="{{ text_pick_date }}" id="input-date_from"/>
            <span class="input-group-btn"><button class="btn btn-default"><i
                  class="fa fa-calendar"></i></button></span>
          </div>
          <div class="input-group datetime col-sm-6" style="float: left" >
            <input type="text" name="filter_date_to" class="form-control datetime"
                   value="{{ filter_date_to }}" placeholder="{{ text_pick_date }}" id="input-date_to"/>
            <span class="input-group-btn " style="position: relative">
              <button class="btn btn-default"><i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label" for="input-order">{{ text_product_name }} </label>
          <input type="text" name="filter_product" value="{{ filter_product }}"
                 placeholder="{{ text_product_name }}" id="input-order" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="input-status">{{ text_status }} </label>
          <select name="filter_status" class="form-control" id="input-status">
            <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option>
            {% if quote_status %}
              {% for key, status_value in quote_status %}
                <option
                  value="{{ key }}" {% if filter_status == key and filter_status is not null %}{{ 'selected' }}{% endif %}>{{ status_value }} </option>
              {% endfor %}
            {% endif %}
          </select>
        </div>
        <a onclick="filter(this);" class="btn btn-primary pull-right" id="btn_quote_filter">{{ button_filter }}</a>
        <a onclick="clear_filter();" data-toggle="tooltip" data-original-title="RESET " class="btn btn-default pull-right" style="margin-right:10px;"><i
            class="fa fa-refresh"></i></a>
        <a onclick="downloadQuotes(this);" data-toggle="tooltip" data-original-title="Download" class="btn btn-default pull-right" style="margin-right:10px;">
          <i class="giga icon-download text-less"></i></a>
      </div>

    </div>
  </div>

  {#<form action="{{delete}}" method="post" enctype="multipart/form-data" id="form-product">#}
  <form enctype="multipart/form-data" id="form-product">
    <div class="table-responsive overflow-visible">
      <table class="table table-hover" id="spot_price_bid">
        <thead>
        <tr>
          <td class="text-left">
            {% if sort  ==  'pq.id' %}
              <a href="{{ sort_id }}" class="{{ order|lower }}">{{ text_id }} </a>
            {% else %}
              <a href="{{ sort_id }}">{{ text_id }}  </a>
            {% endif %}
          </td>

          <td class="text-left">
            {% if sort  ==  'c.nickname' %}
              <a href="{{ sort_customer }}" class="{{ order|lower }}">{{ text_customer_name }} </a>
            {% else %}
              <a href="{{ sort_customer }}">{{ text_customer_name }}  </a>
            {% endif %}
          </td>
          <td class="text-left">{{ text_sku_and_mpn }}</td>

          <td class="text-left" style="width: 410px">
            {% if sort  ==  'pd.name' %}
              <a href="{{ sort_product }}" class="{{ order|lower }}">{{ text_product_name }} </a>
            {% else %}
              <a href="{{ sort_product }}">{{ text_product_name }}  </a>
            {% endif %}
          </td>
          <td class="text-center" style="width: 100px">
            {% if sort  ==  'pq.quantity' %}
              <a href="{{ sort_qty }}" class="{{ order|lower }}">{{ text_quantity }} </a>
            {% else %}
              <a href="{{ sort_qty }}">{{ text_quantity }}  </a>
            {% endif %}
          </td>
          <td class="text-left" style="width: 100px">
            {% if sort  ==  'pq.price' %}
              <a href="{{ sort_price }}" class="{{ order|lower }}">{{ text_quotes_price }} </a>
            {% else %}
              <a href="{{ sort_price }}">{{ text_quotes_price }}  </a>
            {% endif %}
            <i
              class="giga icon-V10-wenhaotishi"
              style="font-size: 12px;"
              data-toggle="tooltip"
              title="The spot price excluding fulfillment requested by buyer.">
            </i>
          </td>
          <td class="text-left">
            {% if sort  ==  'pq.status' %}
              <a href="{{ sort_status }}" class="{{ order|lower }}">{{ text_status }} </a>
            {% else %}
              <a href="{{ sort_status }}">{{ text_status }}  </a>
            {% endif %}
          </td>
          <td class="text-left">
            {% if sort  ==  'pq.date_added' %}
              <a href="{{ sort_date }}" class="{{ order|lower }}">{{ text_date }} </a>
            {% else %}
              <a href="{{ sort_date }}">{{ text_date }}  </a>
            {% endif %}
          </td>
          <td class="text-center">{{ text_action }} </td>
        </tr>
        </thead>

        {% if result_quotelist %}
          {% for result in result_quotelist %}
            <tbody>
            <tr>
              <td class="text-left">{{ result.agreement_no }} </td>
              <td class="text-left">
                <span class="user_portrait" data-user_customer_id="{{ result.customer_id }}" >
                {{ result.customer_name }}
                </span>
                <span>
                  <img data-toggle="tooltip" style="padding-left: 1px"
                       src="{{ result['is_home_pickup'] ? asset('image/icons/HomePickup/home_pickup-15x15.png') : asset('image/icons/HomePickup/drop_shipping-15x15.png') }}"
                       data-original-title="{{ result['is_home_pickup']?tip_home_pickup_logo:tip_drop_shipping_logo }}">
                </span>
                {{ result['ex_vat'] }}
              </td>
              <td class="text-left">{{ result.sku~" <br> ("~result.mpn~")" }} </td>
              <td class="text-left" style="word-wrap:break-word; word-break:break-all;"><a href="{{result.href}}" target="_blank">{{ result.name }} <i class="giga giga icon-table-link"></i></a></td>
              <td class="text-center">{{ result.quantity }} </td>
              <td class="text-left">{{ result.price }} </td>
              <td class="text-left">
                {% set statusClass = result.status == 0 ? 'text-warning' :  result.status == 1 ? 'text-success' :  result.status == 2 ? 'text-danger' :  result.status == 3 ? 'text-info' :  'text-danger' %}
                <span class="{{ statusClass }}">{{ result.status_text }} </span>
              </td>

              <td class="text-left" id="rma_date">{{ result.date }} </td>
              <td class="text-center">
                <a href="{{ result.action.href }}" class="btn btn-primary" data-toggle="tooltip"
                   title="{{ result.action.text }}"><i class="fa fa-eye"></i></a>
              </td>
            </tr>
            </tbody>
          {% endfor %}
        {% else %}
          <tbody>
          <tr>
            <td colspan="9" class="text-center">{{ text_no_recored }} </td>
          </tr>
          </tbody>
        {% endif %}
      </table>
    </div>
  </form>
  <div class="row" style="padding-bottom: 12px">
    <div class="col-sm-12 text-right"><ul id="seller_quote_pagination"></ul></div>
  </div>
</fieldset>
<style>
 .form-group .datetime span  button{
   position: absolute;
   height: 40px;
   box-shadow: none;
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
   top: 0;
   right: 1px;
 }
  .table thead tr td a{
    color: #000000;
  }
</style>
<script type="text/javascript">
  $('#spot_price_bid').find('thead').find('tr').find('a').on('click',function () {
     let href = $(this).attr('href');
     if (href){
       block.blockUI();
       $('#bid-quotes').load(href, "page_limit={{ page_limit }}", function () {
           block.unBlockUI();
       })
     }
     return false;
  });
  $('.row input').keydown(function (e) {
    if (e.keyCode == 13) {
      filter($('#btn_quote_filter'));
    }
  });

  $(function () {
    $('#btn_quote_filter').button('reset');
    block.unBlockUI();
  });

  $('#input-date_from').datetimepicker({
    pickDate: true,
    pickTime: false,
    format: 'YYYY-MM-DD 00:00:00'
  });
  $('#input-date_to').datetimepicker({
    pickDate: true,
    pickTime: false,
    format: 'YYYY-MM-DD 23:59:59'
  });

  function clear_filter() {
    quote_pagination();
    block.blockUI();
    url = '{{action}}';
    $('#bid-quotes').load(url, "page_limit={{ page_limit }}");
    block.unBlockUI();
  }
  quote_pagination();

  function quote_pagination() {
    if ({{ total_pages }}) {
      $('#seller_quote_pagination').bootstrapPaginator({
        /*当前使用的是3版本的bootstrap*/
        bootstrapMajorVersion: 3,
        /*配置的字体大小是小号*/
        size: 'normal',
        /*当前页*/
        currentPage: {{ page_num }},
        /*一共多少页*/
        totalPages: {{ total_pages }},
        /*页面上最多显示几个含数字的分页按钮*/
        numberOfPages: 5,
        total:{{ total_num }},
        rowsOfPage:{{ page_limit|default(20) }},
        onPageClicked: function (event, originalEvent, type, page) {
          let url = "{{ pagination_url }}";
          if (page) {
            url += "&page=" + page;
          } else {
            url += "&page=" + {{ page_num }};
          }
          block.blockUI();
          $('#bid-quotes').load(url, "page_limit=" + originalEvent['page_info']['page_limit'], function () {
            block.unBlockUI();
          });
        }
      });
    }
  }

  //下载
  function downloadQuotes(_this) {
    window.location.href = getUrlFilterQuotes('{{ url('account/customerpartner/wk_quotes_admin/download') }}');
  }

  //搜索
  function filter(button = undefined) {
    block.blockUI();
    $('#bid-quotes').load(getUrlFilterQuotes('{{ action }}'), "page_limit={{ page_limit }}");
    $(button).button('loading');
  }

  function getUrlFilterQuotes(url) {
    var filter_id = $('input[name=\'filter_id\']').val();
    if (filter_id) {
      url += '&filter_id=' + encodeURIComponent(filter_id);
    }

    var filter_customer = $('input[name=\'filter_customer\']').val();
    if (filter_customer) {
      url += '&filter_customer=' + encodeURIComponent(filter_customer);
    }

    var filter_product = $('input[name=\'filter_product\']').val();
    if (filter_product) {
      url += '&filter_product=' + encodeURIComponent(filter_product);
    }

    var filter_status = $('select[name=\'filter_status\']').val();
    if (filter_status != '*') {
      url += '&filter_status=' + encodeURIComponent(filter_status);
    }

    var filter_date_from = $('input[name=\'filter_date_from\']').val();
    if (filter_date_from) {
      url += '&filter_date_from=' + encodeURIComponent(filter_date_from);
    }

    var filter_date_to = $('input[name=\'filter_date_to\']').val();
    if (filter_date_to) {
      url += '&filter_date_to=' + encodeURIComponent(filter_date_to);
    }
    var filter_sku_mpn = $('input[name=\'filter_sku_mpn\']').val();
    if (filter_sku_mpn) {
      url += '&filter_sku_mpn=' + encodeURIComponent(filter_sku_mpn);
    }
    return url;
  }

  $('input[name=\'filter_product\']').autocomplete({
    'source': function (request, response) {
      $.ajax({
        url: 'index.php?customerpartner/autocomplete/productInfo&filter_name=' + encodeURIComponent(request),
        dataType: 'json',
        success: function (json) {
          response($.map(json, function (item) {
            return {
              label: item['name'],
              value: item['product_id']
            }
          }));
        }
      });
    },
    'select': function (item) {
      $('input[name=\'filter_product\']').val(item['label']);
    }
  });

  $('input[name=\'filter_customer\']').autocomplete({
    'source': function (request, response) {
      $.ajax({
        url: 'index.php?route=sale/customer/autocomplete&filter_name=' + encodeURIComponent(request),
        dataType: 'json',
        success: function (json) {
          response($.map(json, function (item) {
            return {
              label: item['name'],
              value: item['customer_id']
            }
          }));
        }
      });
    },
    'select': function (item) {
      $('input[name=\'filter_customer\']').val(item['label']);
    }
  });
</script>


