<div class="row">
  <div class="col-sm-12">
    <div class="label_blue"><h3>{{ label_detail }}</h3></div>
    <div class="table-responsive">
      <table class="table table-hover" style="margin-top: 20px">
        <thead >
        <tr style="text-align: center">
          <td>{{ column_buyer_name }}</td>
          <td>{{ column_mpn }}</td>
          <td>{{ column_item_code }}</td>
          <td>{{ column_purchase_order }}</td>
          <td>{{ column_purchase_date }}</td>
          <td>{{ column_purchase_qty }}</td>
          <td>{{ column_rma_id }}</td>
        </tr>
        </thead>
        <tbody>
        {% if restOrderList %}
          {% for restOrder in restOrderList %}
            <tr class="text-center">
              <td>
                <span class="user_portrait" data-user_customer_id="{{ restOrder.buyer_id }}" >
                {{ restOrder.buyer_name }}
                </span>
                <span>
                  <img data-toggle="tooltip" style="padding-left: 1px"
                       src="{{ restOrder.is_home_pickup ? asset('image/icons/HomePickup/home_pickup-15x15.png') : asset('image/icons/HomePickup/drop_shipping-15x15.png') }}"
                       data-original-title="{{ restOrder.is_home_pickup?tip_home_pickup_logo:tip_drop_shipping_logo }}">
                </span>
              </td>
              <td>{{ restOrder.mpn }}</td>
              <td>{{ restOrder.sku }}</td>
              <td>
                <a href="{{ restOrder.rest_order_url }}" style="color: blue;font-weight: bold">{{ restOrder.rest_order_id }}</a>
                {% if (restOrder.delivery_type==2) %}
                  <i class="giga icon-cwf" style="color: #1f5268;font-size: 15px;" data-toggle="tooltip" data-original-title="{{ cwf }}"></i>
                {% endif %}
              </td>
              <td>{{ restOrder.purchase_date }}</td>
              <td style="color: #183464">{{ restOrder.quantity }}</td>
              <td>
                {% if restOrder['rma_ids'] %}
                  {% for rma in restOrder['rma_ids'] %}
                    <a href="{{ rma_url }}{{ rma.rma_id }}">{{ rma.rma_order_id }}</a><br>
                  {% endfor %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="10" class="text-center">{{ text_no_results }} </td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
  /*.label_blue {*/
  /*  text-indent: 10px;*/
  /*  background-color: #337AB7;*/
  /*  height: 30px;*/
  /*  color: white;*/
  /*  line-height: 27px;*/
  /*}*/
</style>