<div>
  <div>
    <div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label" for="rebates_input-id">{{ column_agreement_id }} </label>
            <input type="text" name="rebates_filter_id" value="{{ contract_id }}" placeholder="{{ column_agreement_id }}"
                   id="rebates_input-id" class="form-control"/>
          </div>
          <div class="form-group">
            <label class="control-label" for="rebates_input-sku_mpn">{{ column_item_code_mpn }} </label>
            <input type="text" name="rebates_filter_sku_mpn" value="{{ filter_sku_mpn }}"
                   placeholder="{{ column_item_code_mpn }}" id="rebates_input-sku_mpn" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label" for="rebates_input-status">{{ column_agreement_status }} </label>
            <select name="rebates_filter_status" class="form-control" id="rebates_input-status">
              <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option>
              {% if quote_status %}
                {% for key, status_value in quote_status %}
                  <option
                    value="{{ key }}" {% if filter_status == key and filter_status is not null %}{{ 'selected' }}{% endif %}>{{ status_value }} </option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="rebates_input-store">{{ column_buyer }} </label>
            <input type="text" name="rebates_filter_buyer_name" value="{{ filter_buyer_name }}"
                   placeholder="{{ column_buyer }}" id="rebates_input-store" class="form-control"/>
          </div>

        </div>
        <div class="col-sm-4">

          <div class="form-group">
            <label class="control-label" for="rebates_input-status">{{ column_rebate_result }} </label>
            <select name="filter_result_status" class="form-control" id="filter_result_status">
              <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option>
              {% if quote_status %}
                {% for key, status_value in result_status %}
                  <option
                    value="{{ key }}" {% if filter_result_status == key and filter_result_status is not null %}{{ 'selected' }}{% endif %}>{{ status_value }} </option>
                {% endfor %}
              {% endif %}
            </select>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-12" style="padding: 0" for="rebates_input-date_from">Last Modified Date Range</label>
            <div class="input-group date col-sm-6" style="float:left;">
              <input type="text" name="rebates_filter_date_from" id="rebates_input-date_from" class="form-control"
                     value="{{ filter_date_from }}" placeholder="{{ text_pick_date }}"/>
              <span class="input-group-btn"><button class="btn btn-default"><i
                    class="fa fa-calendar"></i></button></span>
            </div>
            <div class="input-group date col-sm-6" style="float:left;">
              <input type="text" name="rebates_filter_date_to" id="rebates_input-date_to" class="form-control"
                     value="{{ filter_date_to }}" placeholder="{{ text_pick_date }}"/>
              <span class="input-group-btn"><button class="btn btn-default"><i
                    class="fa fa-calendar"></i></button></span>
            </div>
          </div>
          <div class="form-group pull-right">
            <a onclick="filterRebates(this);" class="btn btn-primary" data-toggle="tooltip"
               title="{{ btn_filter }} " id="filterRebates" style="margin-right:10px;margin-left:0;">
              {{ btn_filter }} </a>
            <a onclick="refreshRebates(this);" class="btn btn-default" data-toggle="tooltip"
               title="RESET" id="refreshRebates" style="margin-right:10px;margin-left:0;">
              <i class="fa fa-refresh"></i>
            </a>
            <a onclick="downloadRebates(this);" class="btn btn-default" data-toggle="tooltip"
               title="Download " id="downloadRebates" style="margin-left:0;">
              <i class="fa fa-download"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="row" style="text-align: center;">
        <div class="rebates-hot-map {% if status_condition=='pending' %}active{% endif %}" onclick="doSearchRebate('pending')">
          <div class="hot-map-status">PENDING <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_pending }}</div>"></i></div>
          <div class="hot-map-num">{{ count_pending }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='active' %}active{% endif %}" onclick="doSearchRebate('active')">
          <div class="hot-map-status">ACTIVE <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style=&quot;word-wrap:normal&quot;>{{ tip_active }}</div>"></i></div>
          <div class="hot-map-num">{{ count_active }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='due_soon' %}active{% endif %}" onclick="doSearchRebate('due_soon')">
          <div class="hot-map-status">DUE SOON <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style=&quot;word-wrap:normal&quot;>{{ tip_due_soon }}</div>"></i></div>
          <div class="hot-map-num">{{ count_due_soon }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='fulfilled' %}active{% endif %}" onclick="doSearchRebate('fulfilled')">
          <div class="hot-map-status">FULFILLED <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"  data-html='true' title="<div style=&quot;word-wrap:normal&quot;>{{ tip_fulfilled }}</div>"></i></div>
          <div class="hot-map-num">{{ count_fulfilled }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='processing' %}active{% endif %}" onclick="doSearchRebate('processing')">
          <div class="hot-map-status">PROCESSING <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_processing }}</div>"></i></div>
          <div class="hot-map-num">{{ count_processing }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='rebate_paid' %}active{% endif %}" onclick="doSearchRebate('rebate_paid')">
          <div class="hot-map-status">REBATE PAID <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style=&quot;word-wrap:normal&quot;>{{ tip_rebate_paid }}</div>"></i></div>
          <div class="hot-map-num">{{ count_rebate_paid }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='failed' %}active{% endif %}" onclick="doSearchRebate('failed')">
          <div class="hot-map-status">FAILED <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_failed }}</div>"></i></div>
          <div class="hot-map-num">{{ count_failed }}</div>
        </div>
      </div>
    </div>

    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product">
      <div class="table-responsive overflow-visible">
        <table class="table table-hover">
          <thead>
          <tr>
            <td class="text-left">{{ column_agreement_id }} </td>
            <td class="text-left">
              <a onclick="filterRebates(this,'item_code','{{ order_new|lower }}');"
                {% if sort=='item_code' %} class="{{ order|lower }}" {% endif %} style="cursor: pointer;">{{ column_item_code }}({{ column_mpn }})</a>
            </td>
            <td class="text-left">{{ column_day }} </td>
            <td class="text-right">Purchased QTY<br>/ Total QTY<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_purchased_qty }}</div>"></i></td>
            <td class="text-left">
              <a onclick="filterRebates(this,'status','{{ order_new|lower }}');"
                {% if sort=='status' %} class="{{ order|lower }}" {% endif %} style="cursor: pointer;">Agreement Status</a>
            </td>
            <td class="text-left">
              <a onclick="filterRebates(this,'rebate_result','{{ order_new|lower }}');"
                {% if sort=='rebate_result' %} class="{{ order|lower }}" {% endif %} style="cursor: pointer;">Rebate Result</a>
            </td>
            <td class="text-left" style="width: 150px;">
              <a onclick="filterRebates(this,'nickname','{{ order_new|lower }}');"
                {% if sort=='nickname' %} class="{{ order|lower }}" {% endif %} style="cursor: pointer;">Buyer Name</a>
            </td>
            <td class="text-left">
              <a onclick="filterRebates(this,'update_time','{{ order_new|lower }}');"
                {% if sort=='update_time' %} class="{{ order|lower }}" {% endif %} style="cursor: pointer;">Last Modified</a>
              <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_last_modified }}</div>"></i>
            </td>
            <td class="text-left">{{ column_action }} </td>
          </tr>
          </thead>

          {% if rebates_contracts %}
            {% for result in rebates_contracts %}
              <tbody>
              <tr>
                <td class="text-left">{{ result.agreement_code }}</td>
                <td class="text-left" style="white-space: nowrap">
                  <a target="_blank" href="{{ result.product_url }}">{{ result.items_first }}&nbsp;<i class="giga icon-table-link"></i></a>
                  {% if result.items_more %}
                    <br><span class="item-more">{{ result.items_more }}</span>
                  {% endif %}
                </td>
                <td class="text-left">
                  {{ result.day }}
                  {% if result.rebate_result==2 and result.day_left %}
                    <br><span class="day-left">{{ result.day_left }}</span>
                  {% endif %}
                </td>
                <td class="text-right">
                  {% if result.rebate_result==2 and result.purchased_qty < result.qty %}
                    <span style="color: red;">{{ result.purchased_qty }}</span> / {{ result.qty }}
                  {% else %}
                    {{ result.purchased_qty }} / {{ result.qty }}
                  {% endif %}
                </td>
                <td class="text-left">
                  {% if result.status ==  0 %}
                    <span>{{ text_status_0 }}</span>
                  {% elseif result.status == 1 %}
                    <span>{{ text_status_1 }}</span>
                  {% elseif result.status == 2 %}
                    <span style="color:red;">{{ text_status_2 }}</span>
                  {% elseif result.status == 3 %}
                    <span style="color: #6dd400;">{{ text_status_3 }}</span>
                  {% elseif result.status == 4 %}
                    <span>{{ text_status_4 }}</span>
                  {% endif %}
                </td>
                <td class="text-left">
                  {% if result.rebate_result == 1 %}
                    <span>{{ text_result_status_1 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_active }}</div>"></i></span>
                  {% elseif result.rebate_result == 2 %}
                    <span style="color: red;">{{ text_result_status_2 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_due_soon }}</div>"></i></span>
                  {% elseif result.rebate_result == 3 %}
                    <span>{{ text_result_status_3 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_terminated }}</div>"></i></span>
                  {% elseif result.rebate_result == 4 %}
                    <span>{{ text_result_status_4 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_failed }}</div>"></i></span>
                  {% elseif result.rebate_result == 5 %}
                    <span style="color: #6dd400;">{{ text_result_status_5 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_fulfilled }}</div>"></i></span>
                  {% elseif result.rebate_result == 6 %}
                    <span>{{ text_result_status_6 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_processing }}</div>"></i></span>
                  {% elseif result.rebate_result == 7 %}
                    <span style="color: #6dd400;">{{ text_result_status_7 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_rebate_paid }}</div>"></i></span>
                  {% elseif result.rebate_result == 8 %}
                    <span style="color: red;">{{ text_result_status_8 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="<div style='word-wrap:normal'>{{ tip_rebate_decline }}</div>"></i></span>
                  {% elseif result.rebate_result == -1 %}
                    <span>{{ text_result_status_h }}</span>
                  {% endif %}
                </td>
                <td class="text-left">
                  <span>{{ result.nickname }}<br><span class="text-user-number">({{ result.user_number }})</span></span>
                  <span>
                       <img data-toggle="tooltip" style="padding-left: 1px"
                            src="{{ result.is_home_pickup ? asset('image/icons/HomePickup/home_pickup-15x15.png') : asset('image/icons/HomePickup/drop_shipping-15x15.png') }}"
                            data-original-title="{{ result.is_home_pickup?tip_home_pickup_logo:tip_drop_shipping_logo }}">
                  </span>
                  {{ result.ex_vat }}
                </td>
                <td class="text-left">{{ result.update_day }}<br><span class="text-update-hour">{{ result.update_hour }}</span> </td>
                <td class="text-left" style="width: 100px">
                  <a href="{{ result.action.href }}" class="btn btn-primary" data-toggle="tooltip"
                     title="{{ result.action.text }}"><i class="fa fa-eye"></i></a>
                </td>
              </tr>
              </tbody>
            {% endfor %}
          {% else %}
            <tbody>
            <tr>
              <td colspan="9" class="text-center">{{ text_no_results }} </td>
            </tr>
            </tbody>
          {% endif %}
        </table>
      </div>
    </form>
    <div class="row" style="padding-bottom: 12px">
      <div class="col-sm-12 text-right">
        <ul id="seller_rebate_pagination"></ul>
      </div>
    </div>
  </div>
</div>


<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css"
      rel="stylesheet" media="screen"/>

<script type="text/javascript">
    $('#rebates_input-date_from').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD 00:00:00'
    });
    $('#rebates_input-date_to').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD 23:59:59'
    });

    $(function () {
        rebate_pagination();
        block.unBlockUI();
        $('#rebates-filter-btn').button('reset');
    });

    function rebate_pagination() {
        if ({{ total_pages }}) {
            $('#seller_rebate_pagination').bootstrapPaginator({
                /*当前使用的是3版本的bootstrap*/
                bootstrapMajorVersion: 3,
                /*配置的字体大小是小号*/
                size: 'normal',
                /*当前页*/
                currentPage: {{ page_num }},
                /*一共多少页*/
                totalPages: {{ total_pages }},
                total: {{ total }},
                rowsOfPage: {{ page_limit | default(20) }},
                /*页面上最多显示几个含数字的分页按钮*/
                numberOfPages: 5,
                onPageClicked: function (event, originalEvent, type, page) {
                    let url = "{{ pagination_url }}";
                    if (page) {
                        url += "&page=" + page;
                    } else {
                        url += "&page=" + {{ page_num }};
                    }
                    block.blockUI();
                    $('#bid-rebates').load(url, "page_limit=" + originalEvent['page_info']['page_limit'], function () {
                      block.unBlockUI();
                    });
                }
            });
        }
    }

    function refreshRebates() {
        block.blockUI();
        $('#bid-rebates').load('index.php?route=account/product_quotes/rebates_contract', "page_limit={{ page_limit }}");
    }

    function doSearchRebate(_condition)
    {
        switch (_condition) {
          case 'pending':
            $('select[name=\'rebates_filter_status\']').val(1);
            $('select[name="filter_result_status"]').val('*');
            break;
          case 'active':
            $('select[name=\'rebates_filter_status\']').val('*');
            $('select[name="filter_result_status"]').val(1);
            break;
          case 'due_soon':
            $('select[name=\'rebates_filter_status\']').val('*');
            $('select[name="filter_result_status"]').val(2);
            break;
          case 'fulfilled':
            $('select[name=\'rebates_filter_status\']').val('*');
            $('select[name="filter_result_status"]').val(5);
            break;
          case 'processing':
            $('select[name=\'rebates_filter_status\']').val('*');
            $('select[name="filter_result_status"]').val(6);
            break;
          case 'rebate_paid':
            $('select[name=\'rebates_filter_status\']').val('*');
            $('select[name="filter_result_status"]').val(7);
            break;
          case 'failed':
            $('select[name=\'rebates_filter_status\']').val('*');
            $('select[name="filter_result_status"]').val(4);
            break;
          default:
            break;
        }

        filterRebates();
    }


    function filterRebates(_this,sort,order) {
        block.blockUI();

        var url = '{{ action }}';
        url= getFilterRebatesUrl(url, _this,sort,order);

        $('#bid-rebates').load(url, "page_limit={{ page_limit }}");

        $("#rebates-filter-btn").button('loading');
    }

    function getFilterRebatesUrl(url, _this,sort,order)
    {
      var filter_id = $('input[name=\'rebates_filter_id\']').val();

      if (filter_id) {
        url += '&filter_id=' + encodeURIComponent(filter_id);
      }

      var filter_buyer_name = $('input[name=\'rebates_filter_buyer_name\']').val();

      if (filter_buyer_name) {
        url += '&filter_buyer_name=' + encodeURIComponent(filter_buyer_name);
      }

      var filter_sku_mpn = $('input[name=\'rebates_filter_sku_mpn\']').val();
      if (filter_sku_mpn) {
        url += '&filter_sku_mpn=' + encodeURIComponent(filter_sku_mpn);
      }

      var filter_status = $('select[name=\'rebates_filter_status\']').val();

      if (filter_status != '*') {
        url += '&filter_status=' + encodeURIComponent(filter_status);
      }

      var filter_result_status = $('select[name="filter_result_status"]').val();
      if (filter_result_status != '*') {
        url += '&filter_result_status='+encodeURIComponent(filter_result_status);
      }

      var filter_date_from = $('input[name=\'rebates_filter_date_from\']').val();
      if (filter_date_from) {
        url += '&filter_date_from=' + encodeURIComponent(filter_date_from);
      }
      var filter_date_to = $('input[name=\'rebates_filter_date_to\']').val();
      if (filter_date_to) {
        url += '&filter_date_to=' + encodeURIComponent(filter_date_to);
      }
      if (sort){
        url += '&sort=' + encodeURIComponent(sort);
        if (order){
          url += '&order=' + encodeURIComponent(order);
        }
      }

      return url;
    }

    function downloadRebates(_this,sort,order){
      var url = '{{ action_download }}';
      url = getFilterRebatesUrl(url, _this,sort,order);
      window.location.href = url;
    }
</script>
<style>
  .status_approve {
    color: #008000;
  }

  .status_reject {
    color: #FF0000;
  }
  .rebates-hot-map{
    height: 70px;width: 14%;border-right: 1px solid #e1e1e1;display: inline-block;text-align: center;
  }
  .rebates-hot-map:last-child{
    border: 0;
  }
  .rebates-hot-map.active, .rebates-hot-map:hover{
    background-color: #1834640c;
  }
  .rebates-hot-map:hover{
    cursor: pointer;
  }
  .rebates-hot-map:hover .hot-map-status{
    color: #183464;
  }
  .rebates-hot-map:hover .hot-map-num{
    color: #FA6400;
  }
  .hot-map-status{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 0;
    color: #677999;
  }
  .rebates-hot-map.active .hot-map-status{
    color: #183464;
  }
  .giga.icon-help-inactive{
    color: #b620e0;
  }
  .hot-map-num{
    font-size: 16px;
  }
  .rebates-hot-map.active .hot-map-num{
    font-weight: bold;
    color: #FA6400;
  }
  .item-more, .text-user-number, .text-update-hour{
    color: #999999d8;
  }
  .day-left{
    color: #da0000d8;
    text-transform: none;
  }
</style>