{{ js(["js/common/timecountdown.js"]) }}

<div id="{{ _id }}" class="timecountdown">
</div>

{% apply style %}
<style>
  .timecountdown {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
{% endapply %}

{% apply script %}
<script>
;(function(count) {
  count = new TimeCountDown({{ times | default(0) }}, "#{{ _id }}");
  let cb = {{ endCB | default("null") }}
  count.start(cb);
})("count{{_id}}");
</script>
{% endapply %}