{{ js(['widgets/uploadImage/index.js']) }}
{{ css(['widgets/uploadImage/index.css']) }}

{% if autoInit ?? true %}
  {% set upload_options = upload_options|default({})|merge({
    id: _id
  }) %}
  <div id="{{ _id }}"></div>

  {% apply script %}
    <script>
      window.{{ name|default(_id) }} = new UploadImageClass({{ upload_options|js_json }});
    </script>
  {% endapply %}
{% endif %}

{% if quickInitFn %}
  {% apply script %}
    <script>
      function {{ quickInitFn }}(id, imageList = null) {
        const obj = new UploadImageClass({{ upload_options|js_json }})
        obj.setId(id)
        if (imageList) {
          obj.setImageList(imageList)
        }
        return obj
      }
    </script>
  {% endapply %}
{% endif %}