{% trans_default_category 'catalog/view/customerpartner/seller_store/home/index' %}
{# @file 门店头部内容（无法操作） #}

{{ css([
  'static/customerpartner/seller_store/home/components/store-header.css'
]) }}

<script type="text/x-template" id="store-header">
  <div class="store-header-container">
    <div class="store-name">
      <span class="center-module store-line text-left">
        {% if seller.avatar_show %}
        <span class="store-image"><img src="{{ seller.avatar_show }}"></span>
        {% endif %}
        <span class="my-store">
          <span class="text-larger text-bold p8-lr">{{ seller.screenname }}
            <i class="giga icon-V10_shouyeyouxiadown text-small text-bold"></i>
          </span>
        </span>
        {% if score %}
        <div class="store-score">
          <span class="score text-less">{{ score }}</span>
        </div>
        {% endif %}
        <div class="button-group flex-layout">
          <a class="flex-layout">
            <img class="m4-r" src="image/icons/xinfeng.png">&nbsp;
            <span>Message Seller</span>
          </a>
          <a class="flex-layout onlineChatSellerTrigger">
            <img class="m4-r" src="image/icons/xiaoxi.png">&nbsp;
            <span>Online Chat</span>
          </a>
        </div>
      </span>
    </div>
    <div class="store-cover cover"></div>
    <div class="header-tips cover">
      {{__('该模块由系统生成，暂不支持编辑')}}
    </div>
  </div>
</script>
<script>
  Vue.component('store-header', {
    template: '#store-header',
    delimiters: ['${', '}'],
    data: () => {
      return {
 
      }
    },    
    created() {
      
    },
    methods: {

    }
  })
</script>


