{% trans_default_category 'catalog/view/account/message_center/from_seller/seller_list' %}

{{ this.title('修改标题') }}
<script type="text/javascript" src="admin/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="admin/view/stylesheet/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css">
<link href="public/fonts/giga/iconfont.css" rel="stylesheet">
<script type="text/javascript" src="/catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/layer/layer.js"></script>

<link href="catalog/view/theme/yzcTheme/stylesheet/seller/style.css" rel="stylesheet">
<link href="catalog/view/theme/yzcTheme/stylesheet/stylesheet.css" rel="stylesheet">
<link href="admin/view/stylesheet/stylesheet_giga.css" rel="stylesheet">

{# 消息中心样式引用 #}
<link rel="stylesheet" type="text/css" href="/public/css/common/common.css">
<link rel="stylesheet" type="text/css" href="/public/css/common/common-ext.css">
<link rel="stylesheet" type="text/css" href="/public/static/message/message-common.css">
<link rel="stylesheet" type="text/css" href="/public/static/customerpartner/message_center/my-message-common.css">
<link rel="stylesheet" type="text/css" href="/public/static/message/buyer-message-common.css">
<link rel="stylesheet" type="text/css" href="/public/static/message/setting/suggest.css">

<style>
#page-seller_list .text-left {
  text-align: left;
}

body {
  min-width: auto;
}

#upload {
  padding:0 24px;
}

.mymessage-a-btn a:hover {
  text-decoration: underline;
}

.oris-select .btn-default {
  border-color: #ccc !important;
}

.tooltip-inner {
  min-width: 180px;
}

#page-seller_list .contacts-table {
  max-height: 520px;
  display: block;
  overflow-y: auto;
  position: relative;
}

.contacts-table th {
  position: sticky;
  top: 0;
  background-color: #D7DDEA;
  z-index: 2;
}

.checked-item {
  height: 40px;
  background-color: #FFEFE4;
  line-height: 40px;
  color: #333;
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 20px
}

.checked-item .checkall-btn {
  margin-left: 10px;
  color: #004BD8;
  cursor:pointer
}

.checked-item .checkall-btn:hover{
  color: #004BD8;
  text-decoration: underline;
}
</style>

<div id="page-seller_list" class="oris-buyer">
  <div id="page-inventory-management-index" class="page-seller-portal">
    <div class="msgcent-mymessage">
      <div class="main">
        <div role="tabpanel" id="upload">
          <div class="msgcent">
            <div class="filter-wrapper form-wrapper">
              <div class="oris-row mb-12">
                <div class="oris-col-3 mymessage-col">
                  <label class="mymessage-label">&nbsp;</label>
                  <input type="text" id="filter_seller_name" name="filter_seller_name" value="{{ search.filter_seller_name }}" placeholder="Search Seller"  class="oris-input"/>
                </div>

                <div class="oris-col-3 mymessage-col oris-select">
                  <label class="mymessage-label">&nbsp;</label>
                  <select name="filter_language_type" id="filter_language_type" class="selectpicker" data-dropup-auto=false>
                    <option value="">All</option>
                    <option value="0" {% if search.filter_language_type == "0" %} selected {% endif %}>All are acceptable</option>
                    <option value="1" {% if search.filter_language_type == "1" %} selected {% endif %}>Chinese Only</option>
                    <option value="2" {% if search.filter_language_type == "2" %} selected {% endif %}>English Only</option>
                  </select>
                </div>

                <div class="oris-col-3 mymessage-col search-btn">
                  <button onclick="filter();" class="oris-button mymessage-a-btn oris-button-bigger width80" style="margin-top:24px">
                    Filter
                  </button>
                  <button onclick="addTo();" class="oris-button mymessage-a-btn oris-button-bigger width80" id="add_to_btn" style="display:none;margin-top:24px">
                    Add to
                  </button>
                </div>
              </div>
            </div>
            <div id="all-checked"></div>
            <table class="table-responsive oris-table oris-table-minicheck contacts-table">
              <thead>
                <tr>
                  <th class="oris-w42 text-center">
                    <input type="checkbox" name="all_select" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/>
                  </th>
                  <th class="oris-w42">#</th>
                  <th class="text-left oris-w220">Seller Name</th>
                  <th>Languages Acceptable</th>
                  <th class="msg-text-right oris-w80">Number of<br>transactions</th>
                  <th class="msg-text-right oris-w90">Total amount of<br>transactions</th>
                  <th class="text-left msg-w145">Last transaction time</th>
                  <th class="msg-text-right">
                    <span class="msg-flex">
                      Mutual<br>Connection
                      <i class="giga icon-V10-wenhaotishi" data-placement="top" data-toggle="tooltip" data-container="body" title="{{ tip_coop_seller_status }}" class="toggle-mark"></i>
                    </span>
                  </th>
                  <th class="text-center">
                    <span>
                      Connection
                      <i class="giga icon-V10-wenhaotishi" data-placement="top" data-toggle="tooltip" data-container="body" title="{{ tip_coop_seller_status }}" class="toggle-mark"></i>
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% if list %}
                  {% for data in list %}

                    <tr id="data_{{ data.seller_id }}">
                      <td class="oris-w42 text-center">
                        <input type="checkbox" name="selected[]" style="margin: 0" onclick="inputChecked()" value="{{ message.id }}"
                          data-id="{{data.seller_id}}" data-name="{{data.screenname}}"/>
                      </td>
                      <td>
                        <input hidden value="{{ data.seller_id }}" name="id" type="text"/>
                        {{ data.no }}
                      </td>
                      <td class="text-left oris-w220">
                        <span class="msg-subject-tdspan" title="{{data.screenname}}">
                          {{ data.screenname }}
                        </span>
                      </td>
                      <td>{{ data.language_format }}</td>
                      <td class="msg-text-center oris-w80">{{ data.number_of_transaction }}</td>
                      <td class="msg-text-right oris-w90" style="padding-right: 10px">{{ data.money_of_transaction }}</td>
                      <td class="text-left">
                        {{ data.last_transaction_time }}
                      </td>
                      <td class="text-center" style="padding-right: 16px;">
                        {% if data.coop_status_seller == 0 %}
                          Inactive
                        {% elseif data.coop_status_seller == 1 %}
                          Active
                        {% endif %}
                      </td>
                      <td class="text-center" style="padding-right: 36px;">
                        {% if data.coop_status_buyer == 1 %}
                          <span class="form-display">Active</span>
                        {% elseif data.coop_status_buyer == 0 %}
                          <span class="form-display">Inactive</span>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                {% else %}
                  </tbody>
                </table>
                <div class="msg-empty">
                  <div class="msg-empty-container">
                    <div class="msg-empty-icon">
                      <img src="{{ asset("image/icons/empty.png") }}"></img>
                    </div>
                    <div class="msg-empty-title">No Records Found !</div>
                  </div>
                </div>
                {% endif %}

            <div class="oris-row oris-pagination" style="margin-bottom: 24px;">
              <ul id="bos_pagination"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js"></script>

<script>
  $(function () { // 初始化分页
    $("#filter_language_type").selectpicker();
    initPagination();
    checkAddTo();
    //切换分页后设置默认的勾选
    //setDefaultCheck();
    clearSelect();
    checkAddTo();
  });

  function initPagination() { // 需要返回分页数据
    $('#bos_pagination').bootstrapPaginator({
      /*当前使用的是3版本的bootstrap*/
      bootstrapMajorVersion: 3,
      /*配置的字体大小是小号*/
      size: 'normal',
      /*当前页*/
      currentPage: {{ paginator.getPage() }},
      /*一共多少页*/
      totalPages: {{ max(paginator.getPageCount(), 1) }},
      /*页面上最多显示几个含数字的分页按钮*/
      numberOfPages: 5,
      pageRange: [10, 20, 30, 50, 100],
      total: {{ paginator.getTotalCount() }},
      rowsOfPage: {{ paginator.getPageSize() }},
      onPageClicked: function (event, originalEvent, type, page) {
        filter(page, originalEvent['page_info'] || {});
      }
    });
  }

  //记录是否选择全选状态
  var isSelectAll = 0

  function filter(page, page_info) {

    var url = "{{ url('account/message_center/seller/sellerList') }}";

    var filter_language_type = $('#filter_language_type').val()
    var filter_seller_name = $('#filter_seller_name').val();

    if (page) {
      url += "&page=" + page;
    }

    if (page_info) {
      for (let i in page_info) {
        url += '&' + i + '=' + page_info[i];
      }
    }

    if (filter_language_type) {
      url += '&filter_language_type' + '=' + filter_language_type;
    }
    if (filter_seller_name) {
      url += '&filter_seller_name' + '=' + encodeURIComponent(filter_seller_name);
    }

    location.href = url;
  }

  function addTo() {
    let tempReceivers = localStorage.getItem('temp-receivers') ? new Set(JSON.parse(localStorage.getItem('temp-receivers'))) : new Set();
    let receivers = localStorage.setItem('receivers', localStorage.getItem('temp-receivers'));
    parent.window.setReceivers(tempReceivers);
    localStorage.removeItem('temp-receivers');
    localStorage.removeItem('receivers');
    var index = parent.layer.getFrameIndex(window.name); 
    parent.layer.close(index);
  }

  function inputChecked() {
    if ($('input[name="selected[]"]').length > 0 && $('input[name="selected[]"]').length == $('input[name="selected[]"]:checked').length) {
        $('input[name=all_select]').prop('checked', true);
    } else {
        $('input[name=all_select]').prop('checked', false);
    }
  }

  function setDefaultCheck() {
    let receivers = localStorage.getItem('temp-receivers') ? new Set(JSON.parse(localStorage.getItem('temp-receivers'))) : new Set();
    $("#page-seller_list input[name='selected[]']").each(function() {
      let hasReceiver = receivers.has(JSON.stringify({
        id: $(this).data('id'),
        name: $(this).data('name')
      }));
      if (hasReceiver) {
        $(this).prop('checked', true);
      }
    })

    inputChecked();
  }

  //更新页面选中或取消的收件人 - 保留换页之前的数据
  function updateReceivers() {
    let receivers = localStorage.getItem('temp-receivers') ? new Set(JSON.parse(localStorage.getItem('temp-receivers'))) : new Set();
    $("#page-seller_list input[name='selected[]']:checked").each(function() {
      receivers.add(JSON.stringify({
        id: $(this).data('id'),
        name: $(this).data('name')
      }))
    })
    $("#page-seller_list input[name='selected[]']:not(:checked)").each(function() {
      receivers.delete(JSON.stringify({
        id: $(this).data('id'),
        name: $(this).data('name')
      }))
    })
    localStorage.setItem('temp-receivers', JSON.stringify(Array.from(receivers)));
  }

  //检查是否显示add to 按钮
  function checkAddTo() {
    let receivers = localStorage.getItem('temp-receivers') ? JSON.parse(localStorage.getItem('temp-receivers')) : [];
    var length = receivers.length;
    if(length <= 0) {
      $("#add_to_btn").hide();
    } else {
      $("#add_to_btn").show();
    }
  }

  // 全选勾选框控制按钮是否显示
  $("#page-seller_list input[name='all_select']").on('change', function() {
    let total={{ total | js_var}}
    let checkedData = $('[name="all_select"]:checked').length;
    let selectData =$("#page-seller_list input[name='selected[]']")
    if(checkedData > 0) {
      $('#all-checked').html(`
          <div  class="checked-item" id="checked-item">
          <span>Already selected ${selectData.length} contacts on this page</span>
          <span class="checkall-btn" id="selectAll" onclick="selectAll(this)">Select all ${total} contacts</span>
          </div>`)
    }else {
      $('#all-checked').html('')
      clearSelect();
    }
    updateReceivers();
    checkAddTo();
    isSelectAll =1

  });

  //分页时清掉之前所选择的选项
  function clearSelect() {
      if(localStorage.getItem("temp-receivers")){
        localStorage.removeItem('temp-receivers');
      }
  }

  //勾选全部的联系人
  function selectAll() {
    let filter_language = $('#filter_language_type').val()
    let filter_name = $('#filter_seller_name').val();
    let total={{ total | js_var}}
    checkAddTo();
    let url = 'index.php?route=account/message_center/seller/allSellerList'+"&filter_seller_name=" + filter_name+'&filter_language_type=' + filter_language +'&filter_all_seller = ' + 1
    $.ajax({
      type:'GET',
      url:url,
      async: false,
      success: function (response) {
        let receivers = []
          response.data.forEach((item) => {
            receivers.push(JSON.stringify({
              id: item.seller_id,
              name: item.screenname
            }))
          })
        localStorage.setItem('temp-receivers', JSON.stringify(Array.from(receivers)));
      },
    })
    $('#all-checked').html(`
            <div  class="checked-item" id="cancel-item">
            <span>Already selected ${total} contacts on this page</span>
            <span class="checkall-btn" onclick="cancelSelect()">Cancel the selection</span>
            </div>
         `)
  }

  function cancelSelect() {
      localStorage.removeItem('temp-receivers');
      $("[name='all_select']").click()
  }

  // 勾选框控制按钮是否显示
  $("#page-seller_list input[name='selected[]']").on('change', function() {
     if(isSelectAll == 1){
      localStorage.removeItem('temp-receivers');
      $('#all-checked').html('')
    }
    updateReceivers();
    checkAddTo();
  });

  // 添加下划线
  function addUnderline(obj) {
    $(obj).css("text-decoration", "underline");
  }

  // 移除下划线
  function removeUnderline(obj) {
    $(obj).css("text-decoration", "");
  }

  function edit(id) { // 显示编辑
    $("#" + id + " .form-edit").css("display", "block");
    $("#" + id + " .btn-form-edit").css("display", "inline-block");
    // 隐藏展示
    $("#" + id + " .form-display").css("display", "none");
    $("#" + id + " .btn-form-display").css("display", "none");
  }

  function back(id) {
    $("#" + id + " .form-display").css("display", "block");
    $("#" + id + " .btn-form-display").css("display", "inline-block");
    $("#" + id + " .form-edit").css("display", "none");
    $("#" + id + " .btn-form-edit").css("display", "none");
  }

  function filterData(button) {
    $(button).button('loading');
    // customer name
    let filter_seller_name = $("#input-filter-seller-name").val();
    // email
    let filter_status = $("#input-filter-status").val();
    let url = "index.php?route=account/sellers";
    url += "&filter_seller_name=" + filter_seller_name;
    url += "&filter_status=" + filter_status;
    location = url;
  }

  $('[data-toggle="tooltip"]').tooltip();
</script>
