{# detail:仓租单明细 item:费用单明细 #}
<style>
  .mrt-2 {
    margin-top: 2px;
  }
  .mrb-2{
    margin-bottom: 2px;
  }
</style>
<div class="warehouse-day">
  <div class="mrt-2 mrb-2">
    <div class="text nowrap">Purchase Date:</div>
    <div class="nowrap">
      <a
        target="_blank"
        class="link-color value hover-line"
        href="{{ url('account/order/purchaseOrderInfo', {'order_id': detail.purchase_order_id}) }}">
        {{ detail.purchase_paid_time }}
      </a>
    </div>
  </div>
  <div class="mrt-2 mrb-2">
    <div class="text nowrap">Allocation Date:</div>
    <div class="nowrap">
      {% if item.paid_at %}
        <a
          target="_blank"
          class="link-color value hover-line"
          {% if item.order_type == 2 %} {# rma 仓租 #}
            href="{{ url('account/rma_order_detail', {'rma_id': item.order_id}) }}"
          {% endif %}
          {% if item.order_type == 1 %} {# 销售单绑定仓租 #}
            href="{{ url(is_collect_form_domicile ? 'account/customer_order/customerOrderSalesOrderDetails' : 'account/sales_order/sales_order_management/customerOrderSalesOrderDetails', {'id': item.order_id}) }}"
          {% endif %}
        >
          {{ item.paid_at }}
        </a>
      {% else %}
        N/A
      {% endif %}
    </div>
  </div>
</div>
