{{ css(['css/buyer/channel/index.css']) }}
<div class="new-store-item col-md-4 col-sm-8">
  <div class="new-store-item-content">
    {% if is_home != 1 and data.store_info.hasStoreAudit %}
      <div class="mf-icon ops-abs" data-toggle="tooltip" title="Well-Designed Store">
        <i class="giga icon-V10_mfb-01" type="button"></i>
      </div>
      <div class="transform-trangle ops-abs"></div>
    {% endif %}
    <div class="item-msg">
      <div class="item-img-box">
        <a
          href="{{ url('customerpartner/profile',{'id':data.store_info.id}) }}"
          target="_blank">
          <div class="item-img-box-padding">
            <img src="{{ data.store_info.avatar }}" class="img-responsive"/>
          </div>
        </a>
      </div>
      <div class="item-group">
        <div class="flex">
          <a
            href="{{ url('customerpartner/profile',{'id':data.store_info.id}) }}"
            target="_blank"
            class="item-name pointer">
            {{ data.store_info.name }}
          </a>
          {% if isLogin %}
            {% if data.store_info.isOutNewSeller %}
              <span class="item-tag">New Seller</span>
            {% else %}
              {% if data.store_info.score and data.store_info.score > 0 %}
                <span class="store-group">
                <span class="item-tag score pop-down-new">
              {{ data.store_info.score|number_format(2,'.','') }}
               <div class="pop-down">
                   <div class="text-small">
                       <b>GIGA Index</b>
                       <div class="text-light mtb-04">
                          <span>The GIGA Index&nbsp;serves as a Seller Performance Index automatically calculated by the Giga Cloud MarketPlace with a maximum possible index score of 100.</span><br>
                          <span>Click [Learn more] to learn how the GIGA Index is calculated.</span>
                       </div>
                       <a class="link underline"
                          href="{{ url('information/information',{'information_id':131}) }}"
                          target="_blank">
                         Learn More
                       </a>
                   </div>
               </div>
            </span>
          </span>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        <!--首页店铺类型区分-->
        <div class="item-type margin-top-10">
          <div class="store-pop text-muted text-small flex-layout bot-pop m4-t">
            {% if data.store_info.return_rate_str != '' %}
              <div class="flex-end approval-rate pop-down-new">
                <img class="text-medium m6-r" src="image/icons/return-rate.png">
                <span class="text-light">{{ data.store_info.return_rate_str }}</span>
                <div class="popover pop-down mini-popover">
                  <div class="arrow"></div>
                  <div class="popover-content text-small text-center">
                    <div>Return Rate:&nbsp;{{ data.store_info.return_rate_str }}</div>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if data.store_info.return_approval_rate_str != '' %}
              <div class="flex-end approval-rate pop-down-new">
                <img class="text-medium m6-r" src="image/icons/return-arate.png">
                <span class="text-light">
                {{ data.store_info.return_approval_rate_str }}
              </span>
                <div class="popover pop-down">
                  <div class="arrow"></div>
                  <div class="popover-content text-small text-center">
                    <div>Return Approval Rate:&nbsp;{{ data.store_info.return_approval_rate_str }}</div>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if data.store_info.response_rate_str != 'N/A' %}
              <div class="flex-end approval-rate pop-down-new">
                <img class="text-medium m6-r" src="image/icons/response-rate.png">
                <span class="text-light">{{ data.store_info.response_rate_str }}</span>
                <div class="popover pop-down mini-popover">
                  <div class="arrow"></div>
                  <div class="popover-content text-small text-center">
                    <div>Response Rate:&nbsp;{{ data.store_info.response_rate_str }}</div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="item-img">
      {% for product in  data.productIds %}
        <div class="img-module col-md-4 col-sm-8 padding6">
          <a
            href="{{ url('product/product', {'product_id': product.product_id}) }}"
            target="_blank"
            data-cnzz-event=""
            class="featured-store-item-img">
            <img src="{{ product.thumb }}"
                 alt="{{ product.name }}"
                 title="{{ product.name }}"
                 class="img-responsive scale">
          </a>
          <span class="price-or-name-group">
            {% if isLogin %}
              <span class="price-tag">
                       {% if product['verify']['price_available'] %}
                         {% if product['min_price'] == product['max_price'] %}
                           {{ product['min_price_show'] }}
                         {% else %}
                           {{ product['min_price_show'] }}-{{ product['max_price_show'] }}
                         {% endif %}
                       {% else %}
                         {{ product.sku }}
                       {% endif %}
            </span>
            {% else %}
              <span class="name-sku">{{ product.sku }}</span>
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>