{{ cssOrigin(['/catalog/view/javascript/layui/css/layui.css']) }}
{{ css(['css/common/common.css']) }}
{{ css(['css/buyer/channel/index.css']) }}
{# 公共组件做特殊化处理 #}
<style>
  .no-records {
    text-align: center;
    padding-top: 90px;
    margin-bottom: 120px;
  }
  .records-title {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
  }
  #no-records-box{
    display: none;
  }
</style>
{# frature-stores #}
<div class="featured-stores pb-20">
  <div class="section">
    <h1></h1>
  </div>
  <div class="main  p10-t  min-height332">
    <div class="center-module" id='no-records-box'>
      <div class="no-records">
        <img src="/public/image/channel/kong.png"/>
        <p class="records-title">No records</p>
      </div>
    </div>
    <div class="center-module p20-t" id="async-box">
      <div class="heightCoop">
        <div class="center-module-content">
          <div id="data-load" class="channel-module-details" page="1" data-loadsuccess="true">

          </div>
        </div>
      </div>
      <div class="load"></div>
      <input type="hidden" id="url" value="{{ url('product/channel/getChannelSynData',{'type':'feature_stores'}) }}">
    </div>
  </div>
  <!-- <div class="main p10-t remove-height">
    
  </div> -->
</div>
<script src="/public/static/channel/feature_stores.js"></script>
{{ footer }}