{{ cssOrigin(['/catalog/view/javascript/layui/css/layui.css']) }}
{{ css(['css/common/common.css']) }}
{{ css(['css/buyer/channel/index.css']) }}
{# 公共组件做特殊化处理 #}
<style>
  .estimated-date, .estimated-qty, .qty-group {
    display: none;
  }

  .min-price-height {
    min-height: auto;
  }
</style>
{# stock-available #}
<div class="stock-available pb-20">
  <div class="section">
    <h1></h1>
  </div>
  {% from 'yzcTheme/template/extension/module/featured_components/no_records.twig' import no_record %}
  {{ no_record( storeInfo.data|length ,categories.0.amount) }}
  {% if storeInfo.data|length == 0 and categories.0.amount == 0 %}
  <div class="main">
  {% else %}
  <div class="main min-height332">
  {% endif %}
    <div class="center-module">
      <div class="heightCoop p10-t">
        <!--stock-available -->
        {% if storeInfo.data|length %}
          <div class="center-module-content">
            <div class="pos-rela p20-t">
              <div class="channel-module-title">Well-Stocked Stores</div>
            </div>
            <div class="channel-module-details">
              {# 16460 店铺公共模块 #}
              {% for data in storeInfo.data %}
                {% include 'yzcTheme/template/extension/module/featured_components/common_store_module.twig' %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
        <!--END-->
      </div>
      {% if categories[0]['amount'] > 0 %}
        <!--nav-->
        {# 16460分类导航 #}
        {% include 'yzcTheme/template/extension/module/featured_components/category_nav.twig' %}
        <!--END-->
        <!--search content-->
        <div class="search-content center-module-content m10-t">
          <div id="data-load" class="channel-module-details" page="1" data-loadsuccess="true">
          </div>
        </div>
        <!--END-->
        <!-- <div class="load"></div> -->
        <input type="hidden" id="url" value="{{ url('product/channel/getChannelSynData',{'type':'well_stocked'}) }}">
        <script src="/public/static/channel/channel.js"></script>
      {% endif %}
    </div>
  </div>
</div>
{{ footer }}