{{ header }}
{{ css(['css/admin/app.css','css/common/common.css']) }}
{{ separate_column_left }}
{# content #}
<div class="page-content" id="content">
  {# breadcrumb #}
  <ul class="breadcrumb">
    {% for breadcrumb in this.params('breadcrumbs') %}
      {% if breadcrumb == 'home' %}
        <li><a href="{{ url('common/home') }}">{{ __('首页', {}, 'catalog/document') }}</a></li>
      {% elseif breadcrumb == 'seller_center' %}
        <li><a href="{{ url('customerpartner/seller_center/index') }}">{{ __('个人中心', {}, 'catalog/document') }}</a></li>
      {% elseif breadcrumb == 'current' %}
        <li><a href="{{ url('') }}">{{ this.getTitle()?:title }}</a></li>
      {% else %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  {# pageTitle #}
  {% set _pageTitleParams = {
    show: true,
    title: this.getTitle()?:title,
    backUrl: 'javascript:history.back()',
    buttons: [],
    rightContent: ''
  } %}
  {% set _pageTitleParams = _pageTitleParams|merge(this.params('pageTitle') ?: {}) %}
  {% if _pageTitleParams.show %}
    <div class="title-line">
      <div class="page-title">{{ _pageTitleParams.title }}</div>
      <div>
        {{ _pageTitleParams.rightContent }}
        {% for btn in _pageTitleParams.buttons %}
          <a href="{{ btn.href ?: 'javascript:void(0)' }}" target="{{btn.target?:''}}" id="{{btn.id}}" class="{{ btn.class ?: 'oris-button' }}">
            {% if btn.icon %}
              <i class="{{btn.icon}}"></i>&nbsp;
            {% endif %}
            {{ btn.content }}
          </a>
        {% endfor %}
        {% if _pageTitleParams.backUrl %}
          <a href="{{ _pageTitleParams.backUrl }}" data-toggle="tooltip" title="" class="btn btn-default"
             data-original-title="Back">
            <i class="fa fa-reply"></i>
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {{ content }}
</div>
{{ footer }}
