<style type="text/css">
  .oris-comments textarea {
    height: 120px;
  }
  table td i.icon-naozhong {
    position: relative;
    top: 1px;
  }
  #reason_error {
    position: relative;
    top: -5px;
  }
  .oris-ingroup .oris-clear {
    right: 40px;
  }
</style>
{{ js(['js/common/toolString.js', 'js/common/orisComponents.js']) }}
<div role="tabpanel" class="tab-pane active" id="margin-bid">
  <div class="bg-white">
    <form action="#" id="searchMarginForm">
        <div class="oris-row">
          <div class="oris-col-3">
            <label class="text-weight-normal" for="input_margin_agreement_id">Agreement ID</label>
            <input type="text" name="filter_margin_agreement_id" value="{{ search.filter_margin_agreement_id }}"
                     placeholder="Please Input" id="input_margin_agreement_id" class="oris-input" autocomplete="off"/>
          </div>
          <div class="oris-col-3 oris-select">
            <label class="text-weight-normal" for="input_margin_status">Agreement Status</label>
            <select name="filter_margin_status" id="input_margin_status" class="selectpicker">
              <option value="0">--- {{ __('请选择', {}, 'common') }} ---</option>
              {% for item in marginStatusList %}
              <option value="{{ item.id }}" {% if item.id == search.filter_margin_status %}selected{% endif %} >{{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="oris-col-3">
            <label class="text-weight-normal" for="input_margin_store">Seller</label>
            <input type="text" name="filter_margin_store" value="{{ search.filter_margin_store }}" placeholder="Please Input" id="input_margin_store" class="oris-input" autocomplete="off"/>
          </div>
          <div class="oris-col-3">
            <label class="control-label" for="input_margin_item_code">Item Code&nbsp;/&nbsp;MPN</label>
            <input type="text" name="filter_margin_item_code" value="{{ search.filter_margin_item_code }}"
                     placeholder="Please Input" id="input_margin_item_code" class="oris-input" autocomplete="off"/>
          </div>
        </div>
        <div class="oris-row p14-tb flex-fend">
          <div class="oris-col-3">
            <label class="text-weight-normal" for="">Margin Validity</label>
              <div class="oris-ingroup action-clear">
                <input type="text" name="filter_margin_date_from" value=""
                         placeholder="From" id="input_margin_date_from" class="oris-input" autocomplete="off" readonly/>
                <i class="giga icon-v10quxiao-01 oris-clear"></i>
                <span class="oris-ingroup-date"><i class="giga icon-date-icon"></i></span>
            </div>
          </div>
          <div class="oris-col-3">
            <div class="oris-ingroup action-clear">
              <input type="text" name="filter_margin_date_to" value=""
                         placeholder="To" id="input_margin_date_to" class="oris-input" autocomplete="off" readonly/>
              <i class="giga icon-v10quxiao-01 oris-clear"></i>
              <span class="oris-ingroup-date"><i class="giga icon-date-icon"></i></span>
            </div>
          </div>
          <div class="oris-col-3 search-btn">
            <button type="button" onclick="filterMargin(this);" class="oris-button oris-button-bigger width80" data-toggle="tooltip" title="Filter" id="quote_margin_filter_btn">{{ button_filter }}</button>
            <input id="filter_margin_hot_map" name="filter_margin_hot_map" type="hidden"
                       value="{{ search.filter_margin_hot_map }}">
            <button type="button" onclick="downloadMarginBid()" class="oris-button oris-button-default" data-toggle="tooltip"
                        title="Download"><i class="giga icon-xiazai1"></i>
            </button>
          </div>
        </div>
    </form>
    <div class="oris-tabs" id="">
      <div
        class="oris-tab-pane {% if search.filter_margin_hot_map == '' or search.filter_margin_hot_map == 'all' %} oris-pane-active{% endif %}"
        onclick="doSearchMargin(this, 'all')" data-hot_map_type="all">All
      </div>
      <div class="oris-tab-pane {% if search.filter_margin_hot_map =='tb_processed' %} oris-pane-active{% endif %}"
           onclick="doSearchMargin(this, 'tb_processed')">
        <span data-toggle="tooltip" data-original-title="Waiting to be reviewed.">
           To be processed<span
          class="oris-tab-num">{{ statistice_info.tb_processed_number }}</span>
        </span>
      </div>
      <div class="oris-tab-pane {% if search.filter_margin_hot_map =='tb_paid_margin' %} oris-pane-active{% endif %}"
           onclick="doSearchMargin(this, 'tb_paid_margin')">
        <span data-toggle="tooltip" data-original-title="Waiting for Margin Deposit payment."> 
           Margin deposit to be paid<span class="oris-tab-num">{{ statistice_info.tb_margin_number }}</span>
        </span>
      </div>
      <div class="oris-tab-pane {% if search.filter_margin_hot_map =='tb_paid_due' %} oris-pane-active{% endif %}"
           onclick="doSearchMargin(this, 'tb_paid_due')">
        <span data-toggle="tooltip" data-original-title="Buyer needs to pay the amount due for the agreement.">
           Due payment to be paid<span class="oris-tab-num">{{ statistice_info.tb_due_number }}</span>
        </span>
      </div>
      <div class="oris-tab-pane {% if search.filter_margin_hot_map =='tb_expired' %} oris-pane-active{% endif %}"
           onclick="doSearchMargin(this, 'tb_expired')" data-hot_map_type="due_soon">
        <span data-toggle="tooltip" data-original-title="The agreement is due in 7days.">
           To be expired<span class="oris-tab-num">{{ statistice_info.tb_expired_number }}</span>
        </span>
      </div>
    </div>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-margin">
      <div>
        <table class="oris-table">
          <thead>
          <tr>
            <th class="text-left">Agreement ID</th>
            <th class="text-left oris-w90">Seller</th>
            <th class="text-left oris-w200">Item Code</th>
            <th>Agreed Days</th>
            <th class="pointer" onclick="loadUrl('{{ sort.createUrl('effect_time') }}')">
              <span class="sort-order {{ sort.getAttributeSortDirection('effect_time') == 'desc' ? ' desc-active' : '' }} {{ sort.getAttributeSortDirection('effect_time') == 'asc' ? ' asc-active' : '' }}">Margin Validity
              </span>
            </th>
            <th>Purchased QTY<br>/ Total QTY</th>
            <th class="text-left oris-w130">Agreement Status</th>
            <th class="text-left pointer oris-w120" onclick="loadUrl('{{ sort.createUrl('last_modified') }}')">
              Last Modified
              <span class="sort-order {{ sort.getAttributeSortDirection('last_modified') == 'desc' ? ' desc-active' : '' }} {{ sort.getAttributeSortDirection('last_modified') == 'asc' ? ' asc-active' : '' }}">
              </span>
            </th>
            <th class="text-left oris-w120">Actions</th>
          </tr>
          </thead>
            <tbody>
              {% if margin_list %}
              {% for item in margin_list %}
              <tr>
                <td class="text-left">
                  {{ item.agreement_id }}
                  {% if item.futures_id and (item.is_signed is null or item.is_signed) %}
                    {% if item.futures_contract_id ==0 %}
                      </br>
                      <a class="oris-mark-futures pointer" href="{{ url('account/product_quotes/futures/detail', {'id': item.futures_id }) }}"
                         target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ text_futures_tip }}">F
                      </a>
                    {% else %}
                      </br>
                      <a class="oris-mark-futures pointer"
                         href="{{ url('account/product_quotes/futures/buyerFuturesBidDetail', {'id': item.futures_id }) }}"
                         target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ text_futures_tip }}">F
                      </a>
                    {% endif %}
                  {% endif %}
                </td>
                <td class="text-left">
                  <a class="oris-link pointer max-line2" target="_blank" href="{{ url('customerpartner/profile', {'id': item.seller_store_id }) }}" title="{{ item.screenname }}">{{ item.screenname }}</a>
                </td>
                <td class="text-left">
                  <a class="oris-link image-td"  target="_blank" href="{{ url('product/product', {'product_id': item.product_id }) }}">
                    <img class="pro-image" src="{{ item.image_url }}"/>
                    <span class="tags-image"><text class="max-line2" title="{{ item.sku }}">{{ item.sku }}</text>{{item.product_tags|join('') }}</span>
                  </a>
                </td>
                <td>
                  {{ item.day }}
                  {% if item.days_left.is_show  and item.days_left.days <= item.day %}
                    <br><span class="text-danger">{{ item.days_left.days }}
                    {% if item.days_left.days > 1 %} days left{% else %} day left{% endif %}</span>
                  {% endif %}
                </td>
                <td>
                  {% if item.effect_time and item.expire_time %}
                    {{ item.effect_time | formatZone(country,null,'Y-m-d')  ~ ' - ' ~ item.expire_time|formatZone(country,null,'Y-m-d') }}
                  {% else %}
                    &nbsp;--&nbsp;
                  {% endif %}
                </td>
                <td type="{{ item.agreement_new }}"><span class="link-color">{{ item.num_complete }}</span>&nbsp;/&nbsp;{{ item.num }}</td>
                <td class="text-left">
                  <span style="color: {{ item.status_color }}" class="text-bold">{{ item.status_name }}</span>
                  {#倒计时#}
                  {% if item.count_down.is_show %}
                    </br>
                    <span data-toggle="tooltip" data-original-title="{{ text_count_down }}" data-id="{{ item.id }}" id="timer{{ item.id }}"
                          data-min="{{ item.count_down.minute }}" data-second="{{ item.count_down.second }}"
                          class="count-time-flag text-danger">
                          <i class="giga icon-naozhong"></i>
                          <i name="minute">{{ item.count_down.minute }}</i>:<i name="second">{{ item.count_down.second }}</i></span>
                  {% endif %}
                  {#倒计时#}
                </td>
                <td class="text-left">{{ item.update_day }}<br>{{ item.update_hour }}</td>
                <td class="text-left">
                    <a href="{{ url('account/product_quotes/margin/detail_list', {'id': item.id }) }}" target="_blank" class="btn-text" data-mark="view">
                        <i class="giga icon-V10_chakan" data-toggle="tooltip" title="{{ text_view }}"></i>
                    </a>
                    {% if item.is_can_cancel == 1 %}
                      <a onclick="marginCancel('{{ item.id }}','{{ item.update_time }}')"
                               class="btn-text" data-mark="marginCancel">
                        <i class="giga icon-V10_xianhuobaozhengjin-shanchu-011" data-toggle="tooltip"
                               title="{{ text_cancel }}"></i>
                      </a>  
                    {% endif %}
                    {% if item.is_can_performer_add == 1 %}
                      <a onclick="marginPerformerAddAction(this)" data-margin_id="{{ item.id }}"
                                 data-agreement_id="{{ item.agreement_id }}"
                                 data-url_performer_add="{{ url('account/product_quotes/margin/performerAdd', {'id': item.id }) }}"
                                 class="btn-text"
                                 data-mark="marginPerformerAddAction">
                        <i class="giga icon-V10_xianhuobaozhengjin-tianjiaheyueren-01" data-toggle="tooltip" title="Add a Partner"></i></a>
                    {% endif %}
                    {% if (item.status == 3 or item.status == 6) and item.is_can_cart == 1 %}
                        <a href="javascript:void(0);" class="btn-text" data-mark="marginAgreementCartAdd"
                           onclick="marginAgreementCartAdd(this)"
                           data-id="{{ item.id }}" data-advance_product_id="{{ item.advance_product_id }}"
                           data-product_id="{{ item.product_id }}" data-num="{{ item.num }}"
                           data-status="{{ item.status }}"
                           data-agreement_id="{{ item.agreement_id }}"
                           data-last_num="{{ item.last_num }}"
                           data-cnzz-event="Bid List|BL_AddtoCart|Margin Bids">
                           <i class="giga icon-V10_xianhuobaozhengjin-gouwuche-01" data-toggle="tooltip" title="Add to Cart"></i></a>
                    {% endif %}
                </td>
              </tr>
          {% endfor %}
          {% else %}
              <tr class="no-records">
                <td colspan="11">{{ text_empty }} </td>
              </tr>
          </tbody>
          {% endif %}
        </table>
      </div>
    </form>
    <div class="oris-row oris-pagination">
      <ul id="bos_pagination_margin"></ul>
    </div>
  </div>
</div>

{#增加共同履约人#}
<div class="modal fade oris-modal" id="myModalMarginPerformerAdd" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabelMarginPerformerAdd" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="giga icon-V10_danchuangguanbi"></i>
        </button>
        <div class="modal-title" id="myModalLabelMarginPerformerAdd">
          {{ title_confirm }}
        </div>
      </div>
      <div class="modal-body">
        <div class="myModalTitle">{{ text_performer_add_confirm }}</div>
        <div class="modal-body-group">
          <div class="p20-t p2-b">
            <label class="required-before">Email / Buyer Code</label>
          </div>
          <div>
            <input type="text" class="modalMarginPerformerCode oris-input"
                   onkeyup="computWordMarginPerformerCode(this)" id="performer_code"
                   placeholder="Partner Email / Buyer Code" autocomplete="off">
          </div>
          <div class="text-danger break-word" hidden id="email_buyer_code_error"></div>
        </div>

        <div class="modal-body-group">
          <div class="p20-t p2-b">
            <label class="required-before">{{ reason_title }}</label>
          </div>
          <div class="oris-comments">
            <textarea rows="4" class="oris-input modalMarginReason" onkeyup="computWordMarginPerformerReason(this)" id="addPerformerReason" onfocusout="computWordMarginPerformerReason(this)" placeholder="Enter your reason"></textarea>
            <span class="letter-count"><span id="addLen" class="link-color">0</span>/2000</span>
            <input type="hidden" class="modalMarginId">
            <input type="hidden" class="modalMarginUrl">
          </div>
          <span class="text-danger" hidden id="reason_error"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="oris-button oris-button-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="oris-button" id="conformToAddPerformer" onclick="marginPerformerAdd(this)" >Confirm
        </button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js"></script>
<script type="text/javascript">
  $(function () {
    var filter_margin_date_from = "{{ search.filter_margin_date_from }}";
    var filter_margin_date_to = "{{ search.filter_margin_date_to }}";
    if (filter_margin_date_from) {
      $('#input_margin_date_from').val(filter_margin_date_from.substring(0, 10));
    }
    if (filter_margin_date_to) {
      $('#input_margin_date_to').val(filter_margin_date_to.substring(0, 10));
    }
  });

  var margin_tab_mark_count = '{{ margin_tab_mark_count }}';
  $('#input_margin_date_from').datetimepicker({
    pickDate: true,
    pickTime: false,
    format: 'YYYY-MM-DD'
  });
  $('#input_margin_date_to').datetimepicker({
    pickDate: true,
    pickTime: false,
    format: 'YYYY-MM-DD'
  });

  var timerIDArr = new Array();
  $(function () {
    $('#input_margin_status').selectpicker();
    $(".modal-backdrop").remove();//关闭boostrap模态框遮罩
    block.unBlockUI();
    initMargin();

    if (margin_tab_mark_count) {
      $("#margin_tab_mark_count").text(margin_tab_mark_count).show();
    } else {
      $("#margin_tab_mark_count").text(margin_tab_mark_count).hide();
    }
    // 倒计时
    let countTimeArr = $(".count-time-flag");
    let countTimeInitArr = [];
    countTimeArr.each((i, item) => {
      let min = Number($(item).attr("data-min"));
      let second = Number($(item).attr("data-second"));
      let totalTime = min * 60 + second;
      let currentOrderId = $(item).attr("data-id");
      countTimeInitArr.push({
        "currentOrderId": currentOrderId,
        "totalTime": totalTime
      })
    });
    for (let i = 0; i < countTimeInitArr.length; i++) {
      (function (i) {
        let obj = 'timer' + countTimeInitArr[i].currentOrderId;
        countDown(i, countTimeInitArr[i].totalTime, function (msg) {
          let currentMinutes = msg.split(":")[0];
          let currentSeconds = msg.split(":")[1];
          if (currentMinutes < 10) {
            currentMinutes = "0" + currentMinutes
          }
          if (currentSeconds < 10) {
            currentSeconds = "0" + currentSeconds
          }
          $("#" + obj).find("i[name='minute']").html(currentMinutes);
          $("#" + obj).find("i[name='second']").html(currentSeconds);
        })
      })(i)
    }
  });

  function initMargin() {
    paginationMargin();
  }

  function paginationMargin() {
    $('#bos_pagination_margin').bootstrapPaginator({
      /*当前使用的是3版本的bootstrap*/
      bootstrapMajorVersion: 3,
      /*配置的字体大小是小号*/
      size: 'normal',
      /*当前页*/
      currentPage: {{ paginator.getPage() }},
      /*一共多少页*/
      totalPages: {{ max(paginator.getPageCount(), 1) }},
      /*页面上最多显示几个含数字的分页按钮*/
      numberOfPages: 5,
      pageRange: [10, 20, 30, 50, 100],
      rowsOfPage: {{ paginator.getPageSize()}},
      total: {{ paginator.getTotalCount() }},
      onPageClicked: function (event, originalEvent, type, page) {
        block.blockUI();
        $('#bid-margin').load('{{ paginator.getUrlWithNoPage() }}&page=' + page, function () {
          block.unBlockUI();
        });
      }
    });
  }

  // 加载url
  function loadUrl(url) {
    block.blockUI();
    $('#bid-margin').load(url,"page_limit={{ paginator.getPageSize() }}", function () {
      block.unBlockUI();
    });
  }

  function getUrlForMargin() {
    let url = "{{ margin_agreement_url }}";
    return url + '&' + $.param(getQueryParams());
  }

  // 搜索条件获取
  function getQueryParams() {
    let queryParams = $('#margin-bid').find('#searchMarginForm').serializeArray();
    let params = {};
    for (let item of queryParams) {
      let value = item['value'].trim();
      if (value !== '' && value !== '*') {
        params[item['name']] = value;
      }
    }
    if(params.hasOwnProperty('filter_margin_date_from') && params['filter_margin_date_from'] ){
      params['filter_margin_date_from'] = moment(params['filter_margin_date_from']).format('YYYY-MM-DD 00:00:00');
    }
    if(params.hasOwnProperty('filter_margin_date_to') && params['filter_margin_date_to'] ){
      params['filter_margin_date_to'] = moment(params['filter_margin_date_to']).format('YYYY-MM-DD 23:59:59');
    }
    return params;
  }

  function filterMargin() {
    var url = getUrlForMargin();
    loadUrl(url);
  }

  function doSearchMargin(dom, _condition) {
    $(".oris-tabs .oris-tab-pane").removeClass('oris-pane-active');
    $(dom).addClass('oris-pane-active');
    $("#filter_margin_hot_map").val(_condition);
    filterMargin();
  }

  function downloadMarginBid() {
    let url = "{{ margin_agreemen_download_url }}";
    url = url + '&' + $.param(getQueryParams());
    window.location = url;
  }

  function marginAgreementCartAdd(_this) {
    let advance_product_id = $(_this).data('advance_product_id');
    let origin_product_id = $(_this).data('product_id');
    let status = $(_this).data('status');
    let agreement_id = $(_this).data('id');
    let agreement_code = "{{ item.agreement_id }}";

    let transaction_type = agreement_id + '_' + '2'; //2:现货
    let quantity = 1;
    let data_url = 'product_id=' + advance_product_id + '&quantity=' + (typeof (quantity) != 'undefined' ? quantity : 1);

    if (status === 6) { //to be paid 状态也可以加入购物车，模拟详情页的add to cart
      let last_qty = parseInt($(_this).data('last_num')) > 1 ? parseInt($(_this).data('last_num')) : 1;
      data_url = 'product_id=' + origin_product_id + '&quantity=' + last_qty + '&transaction_type=' + transaction_type + '&agreement_code=' + agreement_code;
    }

    $.ajax({
      url: 'index.php?route=checkout/cart/add',
      type: 'post',
      data: data_url,
      dataType: 'json',
      success: function (json) {
        $('.alert-dismissible, .text-danger').remove();
        $('.form-group').removeClass('has-error');
        if (json['error']) {
          // $('#menu-wrapper').before('<div class="alert alert-danger alert-dismissible container"><i class="fa fa-times-circle"></i> Failed <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          if (json['error']['recurring']) {
            layer.alert(json['error']['recurring'], {
              title: 'Message',
              btn: 'OK',
              skin: 'oris-layer' //样式类名
              , closeBtn: 0
            });
          }
          if (json['error']['transaction_type']) {
            layer.alert(json['error']['transaction_type'], {
              title: 'Message',
              btn: 'OK',
              skin: 'oris-layer' //样式类名
              , closeBtn: 0
            });
          }
        }

        if (json['success']) {
          $('#menu-wrapper').after('<div class="alert alert-success alert-dismissible container"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          $('html, body').animate({scrollTop: 0}, 'slow');
          $('#cart').load('index.php?route=common/cart/info');
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        layer.alert(thrownError + "<br>" + xhr.statusText + "<br>" + xhr.responseText, {
          title: 'Message',
          btn: 'OK',
          skin: 'oris-layer' //样式类名
          , closeBtn: 0
        });
      },
      complete: function () {
      }
    });
  }
  {# 取消 #}
  function marginCancel(margin_id, last_update_time) {
    let reload_url = getUrlForMargin();
    layer.confirm('{{ text_cancel_confirm }}', {
      title: 'Confirm',
      skin: 'oris-layer',
      btn: ['OK', 'NO'] //按钮
    }, function (index) {
      layer.close(index);
      $.ajax({
        url: '{{ url('account/product_quotes/margin/protocol_cancel') }}',
        type: 'post',
        data: {
          'margin_id': margin_id,
          'last_update_time': last_update_time
        },
        dataType: 'json',
        beforeSend: function () {
          block.blockUI()
        },
        success: function (json) {
          if (json['success']) {
            $.toast({
                heading: false,
                text: 'The margin agreement has been canceled successfully.',
                position: 'top-center',
                showHideTransition: 'fade',
                icon: 'success',
                hideAfter: 3000,
                allowToastClose: false,
                loader: false,
                afterHidden: function () {
                  layer.close(index);
                  clearTimer();
                  block.blockUI();
                  $('#bid-margin').load(reload_url,"page_limit={{ paginator.getPageSize() }}");
                }
            });
          } else if (json['error']) {
            layer.alert(json['error'], {
              title: 'Message',
              btn: 'OK',
              skin: 'oris-layer' //样式类名
              , closeBtn: 0
            }, function (index) {
              layer.close(index);
              clearTimer();
              block.blockUI();
              $('#bid-margin').load(reload_url,"page_limit={{ paginator.getPageSize() }}");
            });
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.alert(thrownError + "<br>" + xhr.statusText + "<br>" + xhr.responseText, {
            title: 'Message',
            btn: 'OK',
            skin: 'oris-layer' //样式类名
            , closeBtn: 0
          });
        },
        complete: function () {
          block.unBlockUI();
        }
      });
    }, function (index) {
      layer.close(index);
    });
  }

  /*共同履约人*/
  function computWordMarginPerformerCode(_this) {
    let words = $.trim($(_this).val());
    if (words.length < 1) {
      $('#email_buyer_code_error').show().html('Partner email / buyer code cannot be left blank.');
    }
  }

  //检测所填写的buyer是否与当前buyer已绑定
  //自行修改此方法&提示位置  --peichao
  $("#performer_code").blur(function () {
    var partnerCode = $("#performer_code").val().trim();
    if ( !partnerCode || partnerCode==='') {
      return $('#email_buyer_code_error').show().html('Partner email / buyer code cannot be left blank.');
    }
    $.ajax({
      type: 'POST',
      url: 'index.php?route=account/product_quotes/margin/checkPerformerBindInfo',
      data: {
        margin_id: $("#myModalMarginPerformerAdd").find(".modalMarginId").val(),
        performer_code: partnerCode
      },
      dataType: 'json',
      success: function (res) {
        if (res.code == 0) {
          $('#email_buyer_code_error').show().html(res.error);
        } else {
          $('#email_buyer_code_error').hide().html('');
        }
      }
    });
  });

  function computWordMarginPerformerReason(_this) {
    var calcReturn = toolString.calcStringLength($(_this).val(), 2000);
    $(_this).val(calcReturn.fullStr);
    $("#addLen").text(calcReturn.len)
    if (calcReturn.len < 1) {
      $('#reason_error').show().html("{{ reason_can_not_left_blank }}");
    } else {
      $('#reason_error').hide().html('');
    }
  }

  function marginPerformerAddAction(_this) {
    let modalwindow = $("#myModalMarginPerformerAdd");
    let contract_id = $(_this).data('margin_id');
    let agreement_id = $(_this).data('agreement_id');
    let url = $(_this).data('url_performer_add');
    modalwindow.find(".modalMarginId").val(contract_id);
    modalwindow.find(".modalMarginUrl").val(url);
    modalwindow.find(".myModalTitle").text('Are you sure you would like to add a partner to this margin agreement (Agreement ID ' + agreement_id + ')?');
    modalwindow.modal();
  }

  //关闭模态框，所填值置空
  $('#myModalMarginPerformerAdd').on('hide.bs.modal', function () {
    let modalwindow = $("#myModalMarginPerformerAdd");
    modalwindow.find("#performer_code").val('');
    modalwindow.find('#email_buyer_code_error').hide().val('');
    modalwindow.find('#reason_error').hide().val('');
    modalwindow.find('#addPerformerReason').val('');
    //modalwindow.find('#conformToAddPerformer').attr('disabled',true);
    modalwindow.find('#addLen').html(0);
  });

  //下载csv
  function marginPerformerAdd(_this) {
    let modalwindow = $("#myModalMarginPerformerAdd");
    let reload_url = '{{ reload_url }}';
    let margin_id = modalwindow.find(".modalMarginId").val();
    let url = modalwindow.find(".modalMarginUrl").val();
    let performer_code = $("#performer_code").val().trim();
    let reason = $.trim(modalwindow.find(".modalMarginReason").val());
    let param = {'margin_id': margin_id, 'performer_code': performer_code, 'reason': reason};
    computWordMarginPerformerCode($("#performer_code"));
    computWordMarginPerformerReason(modalwindow.find(".modalMarginReason"));

    if (performer_code.length < 1) {
      return false;
    }
    if (reason.length < 1) {
      return false;
    }
    $(_this).attr('disabled', true);
    $.ajax({
      url: url,
      type: 'post',
      data: param,
      dataType: 'json',
      beforeSend: function () {
        block.blockUI();
      },
      success: function (json) {
        block.unBlockUI();
        if (json['success']) {
          $.toast({
            heading: false,
            text: json['success'],
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
            afterHidden: function () {
              clearTimer();
              filterMargin();
            }
          });
          modalwindow.modal("hide");
        } else if (json['error']) {
          $('#email_buyer_code_error').show().html(json['error']);
          // layer.alert(json['error'], {
          //   title: 'Message',
          //   btn: 'OK',
          //   skin: 'oris-layer', //样式类名
          //   closeBtn: 0
          // }, function (index) {
          //   layer.close(index);
          // });
        }
      },
      complete: function (XMLHttpRequest, textStatus) {
        block.unBlockUI();
        $(_this).attr('disabled', false);
      }
    });
  }

  // 倒计时
  function countDown(i, maxtime, fn) {
    let timer = setInterval(function () {
      if (!!maxtime) {
        var day = Math.floor(maxtime / 86400),
          hour = Math.floor((maxtime % 86400) / 3600),
          minutes = Math.floor((maxtime % 3600) / 60),
          seconds = Math.floor(maxtime % 60),
          msg = minutes + ":" + seconds;
        fn(msg);
        --maxtime;
      } else {
        clearInterval(timer);
        // 处理结束
        fn("0:0");
      }
    }, 1000);
    timerIDArr.push(timer);
  }

  function clearTimer() {
    for (let i = 0; i < timerIDArr.length; i++) {
      clearInterval(timerIDArr[i]);
    }
    timerIDArr.splice(0, timerIDArr.length)
  }
  
</script>