<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<style type="text/css">
  .popover {
    max-width: unset;
  }
</style>
<div class="oris-row">
  <div class="module-row">
    {% if due_payment.process_status != -1 %}
      <div class="countdown m20-t">
        {% if due_payment.process_status == 1 %}
          <div class="settlement-type type-completed">
            <i class="giga icon-v10tongguo-01"></i>
            <span class="text-larger text-bold">{{ due_payment.message }}</span>
          </div>
        {% elseif due_payment.process_status == 2 %}
          <div class="settlement-type type-timeout">
            <i class="giga icon-v10quxiao-01"></i>
            <span class="text-larger text-bold">{{ due_payment.message }}</span>
          </div>
        {% elseif due_payment.process_status == 3 %}
          <div>
            <i class="giga icon-naozhong text-warning"></i>
            <span class="text-larger m4-r">{{ __('Due Payment Countdown') }}:</span>
            <span class="text-larger link-color text-bold">{{ due_payment.message }}</span>
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="qty-list overflow">
      <div class="col-xs-4 col-sm-3 m30-t text-center">
        <div class="text-bold text-bigger ">{{ agreement_statistics.total_number }}</div>
        <div class="m06-t">Agreement Quantity</div>
      </div>
      <div class="col-xs-4 col-sm-3 m30-t text-center">
        <div class="text-bold text-bigger">{{ agreement_statistics.total_unsold }}</div>
        <div class="m06-t">Unsold Quantity</div>
      </div>
      <div class="col-xs-4 col-sm-3 m30-t text-center">
        <div class="text-bold text-bigger">{{ agreement_statistics.total_sold }}</div>
        <div class="m06-t">Sold Quantity</div>
      </div>
    </div>
  </div>
    <div class="module-row m24-t">
      <table class="oris-table settlement-table">
        <thead>
        <tr>
          <th class="text-left oris-w120">{{ __('Order ID') }}</th>
          <th class="">{{ __('Purchase QTY') }}</th>
          <th class="text-right ">{{ __('Unit Price') }}</th>
          {% if isEurope %}<th class="text-right">Service Fee</th>{% endif %}
          <th class="text-right ">{{ __('Fulfillment Per Unit') }}</th>
          <th class="text-right">{{ __('Subtotal') }}</th>
          <th class="oris-w160">{{ __('RMA ID') }}</th>
          <th class="oris-w160">{{ __('Purchase Date') }}</th>
        </tr>
        </thead>
        <tbody>
        {% if restOrderList %}
          {% for restOrder in restOrderList %}
            <tr>
              <td class="text-left">
                {% if  restOrder.rest_order_url %}
                  <a href="{{ restOrder.rest_order_url }}" class="link" target="_blank">{{ restOrder.order_id }}</a>
                {% else %}
                  <a href="javascript:void(0);" class="link" style="text-decoration:none;cursor:default;color: #333333">{{ restOrder.order_id }}</a>
                {% endif %}
                {% if (restOrder.delivery_type==2) %}
                  <span class="account-type atype-cwf">CWF</span>
                {% endif %}
              </td>
              <td>{{ restOrder.quantity }}</td>
              <td class="text-right">
               {# {% if isEurope %}
                  <i class="giga icon-vat"></i>&nbsp;
                {% endif %}#}
                {{ restOrder.price|formatPrice(currency) }}
              </td>
              {% if isEurope %}<td class="text-right">{{ restOrder.service_fee|formatPrice(currency) }}</td>{% endif %}
              <td class="text-right">
                <span class="servicePrice pointer" tabindex="0" data-toggle="popover" data-placement="bottom"
                     data-content="" data-html="true"  data-trigger="focus">
                  {{ restOrder.freight_per|formatPrice(currency) }}
                  <i class="giga icon-V10_dianpujieshao-copy text-small"></i>
                </span>
                <div class="none">
                  <div class="service-price">
                    <div class="text-bold nowrap">
                      {% if restOrder.is_collection_from_domicile == 1 %}
                        Fulfillment for pickup service
                      {% elseif (restOrder.delivery_type == 2) %}
                        Fulfillment for Cloud Wholesale Fulfillment
                      {% else %}
                        Fulfillment for drop shipping service
                      {% endif %}
                    </div>
                    <div class="service-fee flex-between mt-2">
                      <div class="icon-color">{{ base_freight_label }}</div>
                      <div class="text-bold" {% if restOrder.delivery_type == 2 and restOrder.freight_difference_per >0 %}style="width: 120px" {% endif %}>
                        {{ restOrder.base_ship_fee|formatPrice(currency) }}
                        {% if restOrder.delivery_type == 2 and restOrder.freight_difference_per >0 %}
                        <span class="text-warning text-weight-normal">
                          +{{ restOrder.freight_difference_per|formatPrice(currency) }}
                          <i class="giga icon-icn--n text-size-normal" data-toggle="tooltip" data-placement="bottom"
                                  title="Current price of this Item Code,SpotPrice,Rebate Price"></i>
                        </span>
                        {% endif %}
                      </div>
                    </div>
                    <div class="service-fee flex-between mt-1">
                      <div class="icon-color">{{ package_fee_label }}</div>
                      <div class="text-bold"  {% if restOrder.delivery_type == 2 and restOrder.freight_difference_per >0 %}style="width: 120px" {% endif %}>
                        {{ restOrder.package_fee|formatPrice(currency) }}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-right">
                {{ restOrder.sub_total|formatPrice(currency) }}
                {% if restOrder.coupon_amount > 0 or restOrder.campaign_amount > 0 %}
                  <span
                    style="display: block;text-decoration: line-through;color: #888">{{ restOrder.origin_sub_total|formatPrice(currency) }}</span>
                {% endif %}
              </td>
              <td>
                <div class="rma-list">
                  {% if restOrder['rma_details'] %}
                    {% for index,rma in restOrder['rma_details'] %}
                      {% if index < 3 %}
                        {% if rma.buyer_id == customer_id %}
                          <div> <a class="link" target="_blank" href="{{ rma_url }}{{ rma.rma_id }}">{{ rma.rma_order_id }}</a></div>
                        {% else %}
                          <div>  {{ rma.rma_order_id }}</div>
                        {% endif %}
                      {% else %}
                        {% if rma.buyer_id == customer_id %}
                          <div class="none"> <a class="link-color" target="_blank" href="{{ rma_url }}{{ rma.rma_id }}">{{ rma.rma_order_id }}</a></div>
                        {% else %}
                          <div class="none">  {{ rma.rma_order_id }}</div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
                {% if  restOrder['rma_details']|length > 3  %}
                  <button class="oris-button-mini more-show m04-t">MORE</button>
                {% endif %}
              </td>
              <td>{{ restOrder.create_time }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr class="no-records">
            {% if isEurope %}
              <td colspan="10" class="text-center">{{ text_no_results }} </td>
            {% else %}
              <td colspan="9" class="text-center">{{ text_no_results }} </td>
            {% endif %}
          </tr>
        {% endif %}
        </tbody>
      </table>
      <div class="oris-row oris-pagination">
        <ul id="bos_pagination_margin"></ul>
      </div>
    </div>
</div>
<script>
  $(".more-show").on('click',function () {
    $(this).parent().find('.none').removeClass('none')
    $(this).hide()
  })
  $(function () {
    block.unBlockUI();
    paginationMarginAccountCheck();
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
  });
  $(".servicePrice").on('mouseenter',function () {
    var div = $(this).next(".none").html();
    $(this).attr('data-content',div)
  })
  function paginationMarginAccountCheck() {
    $('#bos_pagination_margin').bootstrapPaginator({
      /*当前使用的是3版本的bootstrap*/
      bootstrapMajorVersion: 3,
      /*配置的字体大小是小号*/
      size: 'normal',
      /*当前页*/
      currentPage: {{ paginator.getPage() }},
      /*一共多少页*/
      totalPages: {{ max(paginator.getPageCount(), 1) }},
      /*页面上最多显示几个含数字的分页按钮*/
      numberOfPages: 5,
      pageRange: [10, 20, 30, 50, 100],
      rowsOfPage: {{ paginator.getPageSize() }},
      total: {{ paginator.getTotalCount() }},
      onPageClicked: function (event, originalEvent, type, page) {
        loadUrl('{{ paginator.getUrlWithNoPage() }}&page=' + page);
      }
    });
  }

  // 加载url
  function loadUrl(url) {
    block.blockUI();
    $('#bid_agreement_settlement').load(url, function () {
      block.unBlockUI();
    });
  }

</script>
