<div class="bg-white p-2">
  <div class="row">
    <div style="line-height: 30px">
      <div>
        <span class="col-sm-4">Item Code: <a href="{{ margin_product_link }}">{{ item_code }}</a></span>
        <span class="col-sm-8">Total estimate inventory storage fee: {{ sum_storage }}</span>
      </div>
      {% if sub_dimension %}
        {% set sub_index = 1 %}
        {% for dimension in sub_dimension %}
          <div>
            <span class="col-sm-3">Sub-item {{ sub_index }}</span>
            <span class="col-sm-3">Length: <b>{{ dimension.length }}</b> inches</span>
            <span class="col-sm-3">Width: <b>{{ dimension.width }}</b> inches</span>
            <span class="col-sm-3">Height: <b>{{ dimension.height }}</b> inches</span>
          </div>
          {% set sub_index = sub_index + 1 %}
        {% endfor %}
      {% else %}
        <div>
          <span class="col-sm-4">Length: <b>{{ length }}</b> inches</span>
          <span class="col-sm-4">Width: <b>{{ width }}</b> inches</span>
          <span class="col-sm-4">Height: <b>{{ height }}</b> inches</span>
        </div>
      {% endif %}
    </div>
    {% if storage_record %}
      <table class="table table-bordered table-hover">
        <thead>
        <tr style="background-color: #F2F2F2;">
          <td class="text-center">Account date</td>
          <td class="text-center">Inventory quantity</td>
          <td class="text-center">Estimate inventory storage fee
            <i data-toggle="tooltip"
                  title="Reference value.Inventory storage fee will change according to the length, width and height of the product."
                  class="giga icon-V10-wenhaotishi" style="font-size: 13px;">
            </i>
          </td>
        </tr>
        </thead>
        {% for record in storage_record %}
          <tr>
            <td class="text-center">{{ record.storage_date }}</td>
            <td class="text-center">{{ record.onhand_qty }}</td>
            <td class="text-center">{{ record.storage_fee }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
</div>