{# 保单查询 #}
{{ js(['js/common/orisComponents.js']) }}
<div role="tabpanel" id="bill_policy" class="pop-dom">
  <div class="bg-white">
    <form id="searchBillPolicy">
      <div class="oris-row">
        <div class="oris-col-3">
          <label class="text-weight-normal" for="searchPolicyId">Service ID&nbsp;/&nbsp;Sales Order ID</label>
          <input type="text" name="filter_no" value="{{ search.filter_no }}" placeholder="Please Input" id="searchPolicyId"
                 class="oris-input" autocomplete="off"/>
        </div>
        <div class="oris-col-3 oris-select">
          <label class="text-weight-normal" for="searchPolicyType">Protection Service</label>
          <select name="filter_title" id="searchPolicyType" class="selectpicker oris-select-prerender">
            <option value="" selected>All</option>
            {% for key,item in alreadySafeguard %}
              <option value="{{ key }}"  {% if key == search.filter_title  %} selected {% endif %} >{{ item.title }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="oris-col-3 oris-select action-clear-date-range">
          <label class="text-weight-normal" for="filter_create_time_range">Creation Date Range</label>
          <select name="filter_create_time_range" id="filter_create_time_range" class="selectpicker oris-select-prerender" title="{{ __('请选择', {}, 'common') }}">
            <option value="anytime" {% if search.filter_create_time_range == 'anytime' %}selected{% endif %}>Any Time
            </option>
            <option value="d" {% if search.filter_create_time_range == 'd' %}selected{% endif %}>Today</option>
            <option value="w" {% if search.filter_create_time_range == 'w' %}selected{% endif %}>Past week</option>
            <option value="month" {% if search.filter_create_time_range == 'month' %}selected{% endif %}>Past month
            </option>
            <option value="y" {% if search.filter_create_time_range == 'y' %}selected{% endif %}>Past year</option>
            <option value="custom" {% if search.filter_create_time_range == 'custom' %}selected{% endif %}>Custom range</option>
          </select>
        </div>
        <div class="oris-col-3">
          <label class="control-label" for="searchPolicyTime">Creation Date</label>
          <div class="oris-ingroup action-clear">
            <input type="text" name="filter_create_time" readonly class="oris-input" id="searchPolicyTime" value=""
                   placeholder="{{ __('请选择', {}, 'common') }}"/>
            <i class="giga icon-v10quxiao-01 oris-clear" data-action-range="1"></i>
          </div>
        </div>
      </div>
      <div class="oris-row p14-tb flex-fend">
        <div class="oris-col-3 oris-select">
          <label class="text-weight-normal" for="searchPolicyStatus">Protection Service Status</label>
          <select name="filter_status" id="searchPolicyStatus" class="selectpicker oris-select-prerender">
            <option value="">All</option>
            {% for key,val in status %}
              <option value="{{ key }}" {% if search.filter_status == key %} selected {% endif %}>{{ val }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="oris-col-3 search-btn">
          <button type="button" class="oris-button oris-button-bigger width80" data-toggle="tooltip" title="Filter"
                  id="bill_policy_filter_btn">Filter
          </button>
          <button type="button" class="oris-button oris-button-default" data-toggle="tooltip" title="Download"
                  id="bill_policy_download_btn"><i class="giga icon-xiazai1"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="oris-tabs">
      <input name="filter_tab" type="hidden"
             value="{{ search.filter_tab }}">
      <div
        class="oris-tab-pane  {% if search.filter_tab == '' %} oris-pane-active {% endif %}"
        onclick="billPolicyPage.doSearchBillTab(this, '')">
        <span>
          All
           <span class="oris-tab-num"> {{ tabTotals['all'] }}</span>
        </span>
      </div>
      <div
        class="oris-tab-pane  {% if search.filter_tab == 'active' %} oris-pane-active {% endif %}"
        onclick="billPolicyPage.doSearchBillTab(this, 'active')">
        <span>
          Active
           <span class="oris-tab-num"> {{ tabTotals['active'] }}</span>
        </span>
      </div>
      <div
        class="oris-tab-pane  {% if search.filter_tab == 'pending' %} oris-pane-active {% endif %}"
        onclick="billPolicyPage.doSearchBillTab(this, 'pending')">
        <span>
          Pending
           <span class="oris-tab-num"> {{ tabTotals['pending'] }}</span>
        </span>
      </div>
      <div
        class="oris-tab-pane  {% if search.filter_tab == 'invalid' %} oris-pane-active {% endif %}"
        onclick="billPolicyPage.doSearchBillTab(this, 'invalid')">
        <span>
          Invalid
           <span class="oris-tab-num"> {{ tabTotals['invalid'] }}</span>
        </span>
      </div>
      <div class="oris-tab-pane {% if search.filter_tab == 'canceled' %} oris-pane-active {% endif %}"
           onclick="billPolicyPage.doSearchBillTab(this, 'canceled')">
        <span>
          Canceled
          <span class="oris-tab-num"> {{ tabTotals['canceled'] }}</span>
        </span>
      </div>
      <div id="policyDescribe" class="policy-des pointer" data-toggle="popover" data-placement="bottom" data-trigger="manual"
           data-container="#bill_policy" data-html="true" data-content=''><span>View the statement of Protection Service Status</span>&nbsp;
        <i class="giga icon-V10_shouyeyouxiadown text-size-normal text-bold"></i>
        <i class="giga icon-V10_shouyeyouxiaTOP text-size-normal text-bold" style="display: none;"></i>
      </div>
    </div>
    <table class="oris-table">
      <thead>
      <tr>
        <th class="text-left oris-w200">Service ID&nbsp;/&nbsp;Sales Order ID</th>
        <th class="text-left">Protection Service Fee</th>
        <th class="text-left pointer oris-w120" onclick="billPolicyPage.loadUrl('{{ sort.createUrl('create_time') }}')">
          <span class="sort-order oris-w120 {{ sort.getAttributeSortDirection('create_time') == 'desc' ? ' desc-active' : '' }} {{ sort.getAttributeSortDirection('create_time') == 'asc' ? ' asc-active' : '' }}">Creation Time</span>
        </th>
        {% if search.filter_tab == 'pending' %}
          <th class="text-left pointer oris-w120"><span>Starts</span></th>
          <th class="text-left pointer oris-w120"><span>Expires</span></th>
        {% else %}
          <th class="text-left pointer oris-w120"
              onclick="billPolicyPage.loadUrl('{{ sort.createUrl('effective_time') }}')">
            <span
              class="sort-order {{ sort.getAttributeSortDirection('effective_time') == 'desc' ? ' desc-active' : '' }} {{ sort.getAttributeSortDirection('effective_time') == 'asc' ? ' asc-active' : '' }}">Starts</span>
          </th>
          <th class="text-left pointer oris-w120"
              onclick="billPolicyPage.loadUrl('{{ sort.createUrl('expiration_time') }}')">
            <span
              class="sort-order {{ sort.getAttributeSortDirection('expiration_time') == 'desc' ? ' desc-active' : '' }} {{ sort.getAttributeSortDirection('expiration_time') == 'asc' ? ' asc-active' : '' }}">Expires</span>
          </th>
        {% endif %}
        <th class="text-left">Protection Service Status</th>
        <th>Claim Application</th>
        {% if search.filter_tab == '' or  search.filter_tab == 'active' %}
        <th class="text-left oris-w90">Action</th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% if total>0 %}
        {% for val in list %}
          <tr>
            <td class="text-left">
              <span title="Service ID">{{ val['safeguard_no'] }}</span></br>
              {% if val['order_type'] == 1 %}
                <a target="_blank"
                  href="{{ url(is_collect_form_domicile ? 'account/customer_order/customerOrderSalesOrderDetails' : 'account/sales_order/sales_order_management/customerOrderSalesOrderDetails', {'id': val['order_id']}) }}"
                  class="link" title="Sales Order ID">
                  {{ val['sales_order_no'] }}
                </a>
              {% else %}
                {{ val['sales_order_no'] }}
              {% endif %}
            </td>
            <td class="text-left">
              <span>{{ val['title'] }}</span></br>
              <span class="text-bold underline">
                <a href="{{ url('account/order',{'filter_fee_order_no':val['order_no'],}) }}#tab_fee_order" target="_blank">{{ val['safeguard_fee'] }}</a>
              </span>
            </td>
            <td class="text-left"><span>{{ val['create_time'] }}</span></td>
            <td class="text-left">
              <span>{% if val['effective_time'] %} {{ val['effective_time'] }} {% else %} -- {% endif %}</span>
            </td>
            <td class="text-left">
              <span>{% if val['expiration_time'] %} {{ val['expiration_time'] }} {% else %} -- {% endif %}</span>
            </td>
            <td class="text-bold text-left">
              <div class="flex-layout">
                <span class="oris-circle {{ val['status_color'] }} m10-l"></span>{{ status[val['status']] }}
              </div>
            </td>
            <td class="link-color">
              {% for claim in val['safeguardClaim'] %}
                <a href="{{ url('account/safeguard/claim/claimDetail',{'claim_id': claim.id}) }}" class="link" target="_blank">{{ claim['claim_no'] }}</a></br>
              {% endfor %}
            </td>
            {% if search.filter_tab == '' or  search.filter_tab == 'active' %}
              <td class="text-left link-color">
                {% if val['status'] == 1 and val['canApply'] %}
                  <span class="pointer underline"
                        onclick="window.open('{{ url('account/safeguard/claim/applyClaim',{'bill_id': val.id}) }}');">Claim</span>
                {% endif %}
                {% if val['status'] == 1 and val['noApplyMsg'] %}
                  <span class="text-tips cursor-not" data-toggle="tooltip"
                        title="{{ val['noApplyMsg'] }}">Claim</span>
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      {% else %}
        <tr class="no-records">
          <td colspan="8"> No data matching the search criteria.</td>
        </tr>
      {% endif %}
      </tbody>
    </table>
    <div class="oris-row oris-pagination">
      <ul id="pagination_bill_policy"></ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  var billPolicyPage = {
    dateRangeto: '   To   ',
    fitlerData: null,
    // 初始化组件
    initPolicyComponent: function () {
      // 初始加载时，更改页面的路由
      window.history.pushState({}, 0, 'index.php?route=account/safeguard/bill');
      // 初始化下拉控件
      $('.selectpicker').selectpicker();
      // 手动show状态说明弹框
      $('#bill_policy').on('click', '#policyDescribe', function (e) {
        e.stopPropagation();
        if ($('#bill_policy').find('.popover-content').length > 0) {
          return;
        }
        var that = this;
        var popContent = $("#popProtection").html();
        $(that).attr('data-content', popContent);
        setTimeout(function () {
          $(that).popover('show');
          $(that).find('.icon-V10_shouyeyouxiadown').hide();
          $(that).find('.icon-V10_shouyeyouxiaTOP').show();
        }, 200)
      });
      // 状态弹框关闭按钮
      $('#bill_policy').on('click', '.close-icon', function (event) {
        event.stopPropagation();
        billPolicyPage.hidePopover();
      });
      $('body').on('click', function (e) {
        //did not click a popover toggle or popover
        if ($(e.target).data('toggle') !== 'popover' && $(e.target).parents('.popover.in').length === 0) { 
          billPolicyPage.hidePopover();
        }
      });
      // 日期范围选择器初始化,默认一年前
      var startDate = moment().subtract(1, 'y').format('YYYY-MM-DD');
      var endDate = moment().format('YYYY-MM-DD');
      var searchStartDateFrom = "{{ search.filter_creation_date_from }}";
      var searchStartDateTo = "{{ search.filter_creation_date_to }}";
      var searchRange = "{{search.filter_create_time_range}}";
      if (searchRange) {
        $('#filter_create_time_range').selectpicker('val', searchRange);
        if (searchStartDateFrom && searchStartDateTo) {
          startDate = searchStartDateFrom.substr(0, 10);
          endDate = searchStartDateTo.substr(0, 10);
          // 初始化数据
          $('#searchPolicyTime').val(startDate + billPolicyPage.dateRangeto + endDate)
        }
      } else {
        // 初始化选择范围日期,默认一年
        $('#filter_create_time_range').selectpicker('val', 'y');
        // 初始化数据
        $('#searchPolicyTime').val(startDate + billPolicyPage.dateRangeto + endDate);
      }
      $('#searchPolicyTime').daterangepicker({
        separator: billPolicyPage.dateRangeto,
        startDate: startDate,
        endDate: endDate,
        format: 'YYYY-MM-DD'
      }, function (start, end, label) {
        // 点击时间范围ok回调
        $('#filter_create_time_range').selectpicker('val', 'custom');
        orisComponents.triggerInputClear($('#searchPolicyTime'));
      });
      billPolicyPage.paginationClaim();
    },
    hidePopover: function() {
      $('#bill_policy').find('#policyDescribe').popover('hide');
      $('#bill_policy').find('#policyDescribe').find('.icon-V10_shouyeyouxiadown').show();
      $('#bill_policy').find('#policyDescribe').find('.icon-V10_shouyeyouxiaTOP').hide();
    },
    // 绑定click事件
    bindClick: function () {
      $('#bill_policy').on('click', '#bill_policy_filter_btn', function () {
        billPolicyPage.fitlerData = billPolicyPage.getUrlBillList();
        billPolicyPage.filter();
      }).on('click', '#bill_policy_download_btn', function () {
        let url = "{{ url('account/safeguard/bill/download') }}";
        url = url + '&' + $.param(billPolicyPage.getQueryParams());
        window.location = url;
      })
    },
    // 绑定change事件
    bindChange: function () {
      // 时间选择范围change
      $('#bill_policy').on('change', '#filter_create_time_range', function () {
        billPolicyPage.changeTimeRange();
      })
    },
    changeTimeRange: function (range) {
      var $input = $('#searchPolicyTime');
      range = $('#filter_create_time_range').val() || range;
      if (range === 'anytime' || range === 'custom') {
        // 清空时间
        $input.val('');
        orisComponents.hideClearIcon($input);
      } else {
        var startDate = moment().subtract(1, range).format('YYYY-MM-DD');
        var endDate = moment().format('YYYY-MM-DD');
        $input.val(startDate + billPolicyPage.dateRangeto + endDate);
        orisComponents.triggerInputClear($input);
      }
    },
    // 获取开始时间，结束时间函数
    getDateRangePicker: function () {
      var dateArr = $('#searchPolicyTime').val().split(billPolicyPage.dateRangeto);
      var startDate = dateArr[0] ? dateArr[0] + ' 00:00:00' : '';
      var endDate = dateArr[1] ? dateArr[1] + ' 23:59:59' : '';
      return {'startDate': startDate, 'endDate': endDate};
    },
    paginationClaim: function() {
      $('#pagination_bill_policy').bootstrapPaginator({
        /*当前使用的是3版本的bootstrap*/
        bootstrapMajorVersion: 3,
        /*配置的字体大小是小号*/
        size: 'normal',
        /*当前页*/
        currentPage: {{ paginator.getPage() }},
        /*一共多少页*/
        totalPages: {{ max(paginator.getPageCount(), 1) }},
        /*页面上最多显示几个含数字的分页按钮*/
        numberOfPages: 5,
        pageRange: [10, 20, 30, 50, 100],
        rowsOfPage: {{ paginator.getPageSize()}},
        total: {{ paginator.getTotalCount() }},
        onPageClicked: function (event, originalEvent, type, page) {
          block.blockUI();
          $('#tab_bill_order').load('{{ paginator.getUrlWithNoPage() }}&page=' + page, function () {
            block.unBlockUI();
          });
        }
      });
    },
    // 搜索条件获取
    getQueryParams: function() {
      let params = {};
      let filter_no = $('input[name=\'filter_no\']').val().trim();
      if (filter_no) {
        params['filter_no'] = filter_no;
      }
      let filter_title = $('select[name=\'filter_title\']').val().trim();
      if (filter_title) {
        params['filter_title'] = filter_title;
      }
      let filter_status = $('select[name=\'filter_status\']').val().trim();
      if (filter_status) {
        params['filter_status'] = filter_status;
      }
      let filter_create_time_range = $('select[name=\'filter_create_time_range\']').val().trim();
      if (filter_create_time_range) {
        params['filter_create_time_range'] = filter_create_time_range;
      }
      let dateObj = billPolicyPage.getDateRangePicker();
      if (dateObj['startDate']) {
        params['filter_creation_date_from'] = dateObj['startDate'].trim();
      }
      if (dateObj['endDate']) {
        params['filter_creation_date_to'] = dateObj['endDate'].trim();
      }
      return params;
    },
    getUrlBillList: function () {
      let url = "{{  url('account/safeguard/bill/list')}}";
      return url + '&' + $.param(billPolicyPage.getQueryParams());
    },
    filter: function() {
      let filter_tab = $('input[name=\'filter_tab\']').val().trim();
      if (filter_tab) {
        billPolicyPage.fitlerData += `&filter_tab=${filter_tab}`;
      }
      billPolicyPage.loadUrl(billPolicyPage.fitlerData);
    },
    // 加载url
    loadUrl: function(url) {
      block.blockUI();
      $('#tab_bill_order').load(url,"page_limit={{ paginator.getPageSize() }}", function () {
        block.unBlockUI();
      });
    },
    doSearchBillTab: function(dom, _condition) {
      $(".oris-tabs .oris-tab-pane").removeClass('oris-pane-active');
      $(dom).addClass('oris-pane-active');
      $("input[name='filter_tab']").val(_condition);
      billPolicyPage.filter();
    }
  };
  $().ready(function () {
    billPolicyPage.initPolicyComponent();
    billPolicyPage.bindClick();
    billPolicyPage.bindChange();
    if (!billPolicyPage.fitlerData) {
      billPolicyPage.fitlerData = billPolicyPage.getUrlBillList();
    }
  });
</script>