{{ this.title(__('Price Ratio Setting', {}, 'catalog/document')) }}
{{ this.params('breadcrumbs', [
{
text: __('Product Management', {}, 'catalog/document'),
href: 'javascript:void(0);',
},
'current'
]) }}
{{ js(['js/common/orisComponents.js', 'js/common/mathematical.js']) }}
{{ jsOrigin(['catalog/view/javascript/datetimepicker/bootstrap-datetimepicker.min.js']) }}
{{ cssOrigin(['catalog/view/javascript/datetimepicker/css/bootstrap-datetimepicker.min.css']) }}
<style type="text/css">
.ratio-desc {
  background: #EEF2FE;
  height: 45px;
  line-height: 45px;
  padding-left: 16px;
  margin: 20px 0 40px 0;
}

i.icon-wenjian_2:before,
i.icon-V10_huifushuai:before {
  font-size: 17px;
  position: relative;
  top: -4px;
}

i.icon-V10_huifushuai {
  display: inline-block;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.modal-dialog {
  width: 400px;
}

.logs-item {
  margin: 6px 20px 30px 20px;
}

.logs-item>div {
  padding-bottom: 6px;
}

.logs-item>div>span {
  display: inline-block;
  font-weight: bold;
  width: 160px;
}

.logs-item>.logs-date {
  padding-bottom: 8px;
  color: #7b859c;
  position: relative;
  left: -8px;
}

.logs-item>.logs-date:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #333;
  float: left;
  position: relative;
  top: 8px;
  left: -10px;
}

.oris-table input,
.oris-table td .text-danger {
  width: 190px;
}

.oris-table td {
  padding: 20px 6px;
}

.oris-table td .text-danger {
  position: absolute;
  left: calc(50% - 94px);
}

.oris-table .oris-ingroup {
  justify-content: center;
}

.oris-table .oris-ingroup .oris-clear {
  right: calc(50% - 70px);
}

.glyphicon.icon-arrow-right:before {
  content: "\e092";
}

.glyphicon.icon-arrow-left:before {
  content: "\e091";
}
.jq-toast-wrap {
  z-index: 19991015 !important;
}
.oris-modal .modal-body {
  overflow-y: auto;
  max-height: calc(80vh - 48px);
  border-radius: 2px;
}
</style>
<div class="main-content" id="ratio-page">
  <div class="ratio-desc">Set the product value and service fee ratio here. The product value should include tax.</div>
  <table class="oris-table">
    <thead>
      <tr>
        <th>Product Value Ratio</th>
        <th>Service Fee Ratio</th>
        <th>Product Value Ratio Input</th>
        <th>Service Fee Ratio Input</th>
        <th>Effective Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ratio_data.product_ratio}}</td>
        <td>{{ratio_data.service_ratio}}</td>
        <td>
          <span class="action-view">{{ratio_data.product_ratio_next is not null ?ratio_data.product_ratio_next:'--'}}</span>
          <span class="action-edit none">
            <input type="number" name="productRatioNext" class="oris-input" autocomplete="off" placeholder="0 ≤ Ratio ≤ 1" value="{{ratio_data.product_ratio_next is not null ?ratio_data.product_ratio_next:''}}">
            <div class="action-error-ratio text-danger text-left" style="display: none;">0 ≤ Ratio ≤ 1</div>
          </span>
        </td>
        <td>
          <span class="action-view">{{ratio_data.service_ratio_next is not null ?ratio_data.service_ratio_next:'--'}}</span>
          <span class="action-edit none">
            <input type="number" name="serviceRatioNext" class="oris-input" autocomplete="off" disabled placeholder="0 ≤ Ratio ≤ 1" value="{{ratio_data.service_ratio_next is not null ?ratio_data.service_ratio_next:''}}">
          </span>
        <td>
          <span class="action-view">{{ratio_data.effective_time_next ? ratio_data.effective_time_next : '--'}}</span>
          <span class="action-edit none">
            <div class="datetimepicker oris-ingroup action-clear">
              <input type="text" name="effectiveTime" placeholder="Please Select" id="nextDate" class="oris-input" autocomplete="off" data-toggle="popover" data-placement="top" data-content="Effective immediately when no selection." data-trigger="manual" value="{{ratio_data.effective_time_next ? ratio_data.effective_time_next : ''}}"/>
              <i class="giga icon-v10quxiao-01 oris-clear"></i>
              <span class="oris-ingroup-date"><i class="giga icon-date-icon"></i></span>
            </div>
          </span>
        </td>
        <td>
          <span class="action-view">
            <a href="javascript:void(0)" class="btn-text">
              <i class="giga icon-seller_bianji-01 action-edit-btn" data-toggle="tooltip" data-original-title="{{ __('Modify') }}"></i>
            </a>&nbsp;
            <a href="javascript:void(0)" class="btn-text">
              <i class="giga icon-wenjian_2 action-view-logs" data-toggle="tooltip" data-original-title="{{ __('View Modification Records') }}"></i>
            </a>
          </span>
          <span class="action-edit none">
            <a type="button" class="btn-text">
              <i class="giga icon-baocunwaikuang action-save" data-toggle="tooltip" data-original-title="{{ __('Submit') }}"></i>
            </a>&nbsp;
            <a href="javascript:void(0)" class="btn-text">
              <i class="giga icon-V10_huifushuai action-cencel" data-toggle="tooltip" data-original-title="{{ __('Cancel') }}"></i>
            </a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- 修改日志弹框 -->
<div class="modal fade oris-modal" id="logsModal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="giga icon-V10_danchuangguanbi"></i>
        </button>
        <div class="modal-title">
          Modification Records
        </div>
      </div>
      <div class="modal-body oris-scrollbar"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
var prodRatioPage = {
  time: null,
  $logsModal: $('#logsModal'),
  initDatePicker: function() {
    $("[data-toggle='popover']").popover();
    $('#nextDate').datetimepicker({
      minView: 2,
      startDate: moment(new Date()).add(1,'days').format('YYYY-MM-DD'),
      autoclose: 1,
      pickDate: true,
      pickTime: false,
      format: 'yyyy-mm-dd 00:00:00',
      forceParse: true
    });
  },
  initBindEvent: function() {
    // show弹框logs
    $('#ratio-page').on('click', '.action-view-logs', function() {
      prodRatioPage.getRatioLogs();
    });
    // 编辑
    $('#ratio-page').on('click', '.action-edit-btn', function() {
      $('.action-view').addClass('none');
      $('.action-edit').removeClass('none');
    });
    // 返回按钮
    $('#ratio-page').on('click', '.action-cencel', function() {
      // 重写input数据
      prodRatioPage.refreshInput();
      $('.action-view').removeClass('none');
      $('.action-edit').addClass('none');
      $('#nextDate').popover('hide');
      clearInterval(prodRatioPage.time);
      $('.action-error-ratio').hide();
    });
    // 保存按钮
    $('#ratio-page').on('click', '.action-save', function() {
      prodRatioPage.saveRatio();
    });
    // 待生效货值比例失去焦点计算服务费比例
    $('#ratio-page').on('blur', 'input[name="productRatioNext"]', function() {
      if (!prodRatioPage.isValidRatio()) {
        // 校验不通过
        $('input[name="serviceRatioNext"]').val('');
      } else {
        // 校验通过，计算服务费比例
        var vRatio = $('input[name="productRatioNext"]').val();
        $('input[name="serviceRatioNext"]').val(Number(mathematical.accSub(1, vRatio, 3)));
      }
    });
    // 日期选择聚焦弹出提示框
    $('#ratio-page').on('focus', '#nextDate', function() {
      // 五秒后消失
      let that = this;
      $(that).popover('show');
      prodRatioPage.time = setTimeout(function() {
        $(that).popover('hide');
      }, 5000)
    })
  },
  refreshInput: function() {
    var oldPro = '{{ratio_data.product_ratio_next is not null?ratio_data.product_ratio_next:''}}';
    var oldSer = '{{ratio_data.service_ratio_next is not null?ratio_data.service_ratio_next:''}}';
    var oldTime = '{{ratio_data.effective_time_next ? ratio_data.effective_time_next : ''}}';
    $('input[name="productRatioNext"]').val(oldPro);
    $('input[name="serviceRatioNext"]').val(oldSer);
    $('input[name="effectiveTime"]').val(oldTime);
    // 初始化日期清空按钮
    orisComponents.initClearInputIcon();
    orisComponents.clearInputIcon();
  },
  isValidRatio: function() {
    var vRatio = $('input[name="productRatioNext"]').val();
    var numRatio = Number(vRatio);
    var reg = /^-?\d+(\.\d{1,3})?$/;
    if (!vRatio || isNaN(numRatio)) {
      $('.action-error-ratio').html('Required').show();
      return false;
    };

    if (numRatio < 0 || numRatio > 1) {
      $('.action-error-ratio').html('0 ≤ Ratio ≤ 1').show();
      return false;
    };
    if (!reg.test(numRatio)) {
      $('.action-error-ratio').html('Up to three decimal places').show();
      return false;
    }
    $('.action-error-ratio').hide();
    return true;
  },
  saveRatio: function() {
    // 校验数字
    if (!prodRatioPage.isValidRatio()) {
      return;
    }
    // 校验日期
    var eDate = $('#nextDate').val();
    if (eDate && (moment(eDate).format('YYYY-MM-DD') == 'Invalid date')) {
      // toast 提示
      return $.toast({
        heading: false,
        text: 'Effective Date is Invalid.',
        position: 'top-center',
        showHideTransition: 'fade',
        icon: 'error',
        hideAfter: 5000,
        allowToastClose: false,
        loader: false
      });
    }
    // 校验日期是否是今天及今天之前的日期
    var mNow = moment().format('YYYY-MM-DD');
    if (eDate && !moment(moment(eDate).format('YYYY-MM-DD')).isAfter(mNow)) {
      return $.toast({
        heading: false,
        text: 'Effective Date may not be earlier than present time. Please select a later date.',
        position: 'top-center',
        showHideTransition: 'fade',
        icon: 'error',
        hideAfter: 5000,
        allowToastClose: false,
        loader: false
      });
    }
    var vRatio = $('input[name="productRatioNext"]').val();
    if (vRatio == 0) {
      // 为0提示框
      var price0 = "{{ 0|formatPrice(currency) }}";
      return layer.open({
        title: 'Confirm',
        content: `The Unit Price of all the products in your store will be ${price0} since the Product Value Ratio Input you set is 0. Do you confirm there is no problem with this setting?`,
        skin: 'oris-layer',
        btn: ['Yes', 'No'],
        yes: function(index, layero) {
          prodRatioPage.saveService();
        }
      });
    }
    prodRatioPage.saveService();
  },
  saveService: function() {
    $.ajax({
      url: "{{ url('customerpartner/product/seller_product_ratio/save ') }}",
      type: 'POST',
      data: {
        product_ratio: $('input[name="productRatioNext"]').val(),
        effective_time: $('input[name="effectiveTime"]').val()
      },
      beforeSend: function() {
        block.blockUI();
      },
      success: function(data) {
        if (data.code == 200) {
          block.unBlockUI();
          $.toast({
            heading: false,
            text: 'Submit successfully.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
            afterHidden: function() {
              window.location.reload();
            }
          });
        } else {
          block.unBlockUI();
          $.toast({
            heading: false,
            text: data.msg || 'Failed to submit. Please try again.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 5000,
            allowToastClose: false,
            loader: false
          });
        }
      },
      error: function(err) {
        block.unBlockUI();
        $.toast({
          heading: false,
          text: 'Failed to submit. Please try again.',
          position: 'top-center',
          showHideTransition: 'fade',
          icon: 'error',
          hideAfter: 5000,
          allowToastClose: false,
          loader: false
        });
      }
    })
  },
  // 获取日志数据
  getRatioLogs: function() {
    block.blockUI();
    $.ajax({
      url: "{{ url('customerpartner/product/seller_product_ratio/getLogs') }}",
      type: 'POST',
      data: {},
      success: function(data) {
        block.unBlockUI();
        if (data.code == 200) {
          prodRatioPage.renderLogsModal(data.data);
        } else {
          $.toast({
            heading: false,
            text: data.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 5000,
            allowToastClose: false,
            loader: false
          });
        }
      },
      error: function(err) {
        block.unBlockUI();
      }
    });
  },
  // 渲染弹框数据
  renderLogsModal: function(data) {
    var modalInner = '';
    data.list.forEach(function(one) {
      modalInner += `
  			<div class="logs-item">
          <div class="logs-date"><span>${one.create_time}</span></div>
          <div><span>Product Value Ratio:</span>${one.product_ratio}</div>
          <div><span>Service Fee Ratio:</span>${one.service_ratio}</div>
          <div><span>Effective Date:</span>${one.effective_time}</div>
        </div>`
    })
    prodRatioPage.$logsModal.find('.modal-body').html(modalInner);
    prodRatioPage.$logsModal.modal();
  }
};
block.blockUI();
$(function() {
  block.unBlockUI();
  prodRatioPage.initDatePicker();
  prodRatioPage.initBindEvent();
})
</script>