{# start header column-left #}
{{ header }}
{{ assetBundle('Seller\\VatAsset') }}
{{ separate_column_left }}
{# end header column-left #}

{% set container_info='class="container"' %}
{% if separate_view is defined and separate_view %}
  {% set container_info='class="container-fluid" id="content" style="margin-left: 15%"' %}
{% endif %}
<div {{ container_info }}>
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <h1>RMA Management</h1>
  {#  <legend></legend>#}
  <div class="row">
    <div id="content" class="col-sm-12">{{ content_top }}
      <ul class="nav nav-tabs" style="margin-bottom: -2px;border: none">
        <li class="active">
          <a href="#tab-rma-management" id="tab_tab-rma-management" data-toggle="tab">RMA Management</a>
        </li>
        <li>
          <a href="#tab-reshipment-order" id="tab_tab-reshipment-order" data-toggle="tab">Reshipment Order</a>
        </li>
        <li>
          <a href="#tab-refund-application" id="tab_tab-application" data-toggle="tab">Refund Application</a>
        </li>
      </ul>
      <div class="content-wrap">
        <div class="tab-content">
          {# rma-management start #}
          <div class="tab-pane active" id="tab-rma-management"></div>
          {# rma-management end #}
          {# tab-reshipment start #}
          <div class="tab-pane " id="tab-reshipment-order"></div>
          {# tab-reshipment end #}
          {# refund-application start #}
          <div class="tab-pane " id="tab-refund-application"></div>
          {# refund-application end #}
        </div>
      </div>
    </div>
  </div>
</div>
{{ tickets }}
<style>
  .table tbody tr td .btn {
    width: 30px;
  }

  .margin_class {
  }

  .margin_class:hover {
    cursor: pointer;
  }
  .calc-con {
    display: none;
  }

  .bootstrap-table .fixed-table-container .fixed-table-body {
    overflow-x: initial;
    overflow-y: initial;
  }
</style>
<script>
  let img_drop_shipping = '{{ asset('image/icons/HomePickup/drop_shipping-15x15.png') }}';
  let img_home_pickup = '{{ asset('image/icons/HomePickup/home_pickup-15x15.png') }}';

  let tip_drop_shipping_logo = '{{ tip_drop_shipping_logo }}';
  let tip_home_pickup_logo = '{{ tip_home_pickup_logo }}';
  $(function () {
    getRmaList();
  });

  function getRmaList() {
    $('#tab-rma-management').load('index.php?route=account/customerpartner/rma_management/rma_manage/getRmaManagementInfo');
    $('#tab-reshipment-order').load('index.php?route=account/customerpartner/rma_management/rma_manage/getReshipmentOrderInfo');
    $('#tab-refund-application').load('index.php?route=account/customerpartner/rma_management/rma_manage/getRefundInfo');
  }
</script>
{{ footer }}

