<div id="box-shadow" style="overflow: hidden">
  <div class="col-sm-12" style="margin:0 -15px;padding: 0">
    <div class="panel panel-default" style="margin-bottom: 0;border: none;box-shadow: none">

      <div class="panel-body">
        <form id="rma-reshipment-order-form" onkeydown="keydown1()">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-rmaId">{{ entry_rma_id }}</label>
              <input
                type="text"
                name="filter_rma_id"
                placeholder="{{ entry_rma_id }}"
                id="input-rmaId"
                class="form-control"/>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-mpn-sku">{{ entry_mpn_sku }}</label>
              <input name="filter_mpn_sku" id="input-mpn-sku" class="form-control" placeholder="MPN/ItemCode"/>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-status">{{ entry_status }}</label>
              <select name="filter_status" id="input-status" class="form-control">
                <option value="0">Select form the list...</option>
                <option value="1">Applied</option>
                <option value="3">Pending</option>
                <option value="2">Processed</option>
                <option value="4">Canceled</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-order-id">{{ entry_order_id }}</label>
              <input name="filter_order_id" id="input-order-id" class="form-control" placeholder="Order ID"/>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-reshipment-id">{{ entry_reshipment_id }}</label>
              <input name="filter_reshipment_id" id="input-reshipment-id" class="form-control"
                     placeholder="Reshipment ID"/>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-reshipment-status">{{ entry_reshipment_status }}</label>
              <select name="filter_reshipment_status" id="input-reshipment-status" class="form-control">
                <option value="0">Select from the list...</option>
                <option value="1">New Order</option>
                <option value="2">Being Processed</option>
                <option value="4">On Hold</option>
                <option value="16">Canceled</option>
                <option value="32">Completed</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-nick-name">{{ entry_nick_name }}</label>
              <input name="filter_nick_name" id="input-nick-name" class="form-control" placeholder="Name"/>
            </div>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <div class="form-group text-right" style="margin-top:25px">
              <button
                type="button"
                id="rma-reshipment-order-filter"
                class="btn btn-primary btn1"
                data-loading-text="Loading...">
                Filter
              </button>
              <a class="btn btn-default btn1" data-toggle="tooltip" data-original-title="Reset"
                 id="rma-reshipment-order-refresh"> <i class="fa fa-refresh"></i> </a>
              <button type="button"
                id="rma-reshipment-order-download"
                class="btn btn-default"
                data-toggle="tooltip"
                title="download"
                data-original-title="download">
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-12" style="padding: 0">
      <div class="panel panel-default" style="border: none;margin-bottom: 0;box-shadow: none">

        <div class="panel-body">
          <table id="rma_reshipment_order" class="table"></table>
        </div>
      </div>
    </div>
  </div>

</div>
<script>
  let rma_reshipment_order_table = $('#rma_reshipment_order');
  let rma_reshipment_order_form = $('#rma-reshipment-order-form');
  let url = 'index.php?route=account/customerpartner/rma_management/rma_manage/getRmaManagementList';

  function resolveRmaManagementParam(params) {
    let data = {};
    let newParams = rma_reshipment_order_form.serializeArray();
    data['sort'] = params['sort'];
    data['order'] = params['order'];
    data['page'] = (params['offset'] / params['limit'] + 1);
    data['per_page'] = params['limit'];
    newParams.forEach(function (val, key) {
      data[val['name']] = val['value'];
    });
    data['filter_apply_for_reshipment'] = 1;
    return data;
  }

  $(function () {
    $('.date').datetimepicker({
      pickDate: true,
      pickTime: false,
      format: 'YYYY-MM-DD HH'
    });
    rma_reshipment_order_table.bootstrapTable({
      classes: "table table-hover",
      url: url,
      queryParams: resolveRmaManagementParam,
      sidePagination: "server",
      pagination: true,
      pageNumber: 1,
      pageSize: 15,
      pageList: [10, 15, 50, 100],
      detailView: true,
      detailViewIcon: false,
      detailViewByClick: false,
      detailFormatter: function (index, row) {
        let str = {};
        let reshipment = row['reshipment'];
        let reshipmentInfo = [];
        reshipment['reshipment_id'] && reshipmentInfo.push(reshipment['reshipment_id']);
        reshipment['reshipment_order_status'] && reshipmentInfo.push(reshipment['reshipment_order_status']);
        row['processed_date'] && reshipmentInfo.push(row['processed_date']);
        if (reshipmentInfo.length > 0) {
          str['Reshipment Info'] = reshipmentInfo.join(' || ');
        }
        // sku mpn info
        let sku = row['reshipment']['sku'] || row['sku'];
        let mpn = row['reshipment']['mpn'] || row['mpn'];
        if (row['apply_for_reshipment'] === 'No') {
          str['Reshipment MPN(ItemCode)'] = row['refundMpn'] + '(' + row['refundSku'] + ')';
        } else {
          let tempStr = '';
          for (let i = 0; i < Math.min(sku.length, mpn.length); i++) {
            tempStr += ',' + mpn[i] + '(' + sku[i] + ')';
          }
          str['Reshipment MPN(ItemCode)'] = tempStr.substring(1);
        }
        str['Reshipment Quantity'] = reshipment['reshipment_quantity'];
        str['Reason'] = reshipment['reason'];
        // images
        let images = reshipment['files'];
        if (images.length > 0) {
          let temp = '';
          temp += '<div class="image_list" style="display:inline">';
          for (let i = 0; i < images.length; i++) {
            temp += '<a href="' + images[i] + '">'
              + '<img  style="height: 50px" src="' + images[i] + '"/></a>';
          }
          temp += '</div>';
          str['Images'] = temp;
        }
        // comments
        str["Buyer's Reshipment Comments"] = reshipment['comments'];
        str['Comments'] = reshipment['seller_reshipment_comments'];

        let ret = '';
        for (let i in str) {
          if (str[i] !== null && str[i] !== '' && str[i] !== undefined) {
            ret += '<p><b>' + i + ': </b>' + str[i] + '</p>';
          }
        }

        return ret;
      },
      columns: [
        {
          field: 'id',
          title: 'No.',
          formatter: function (value, row, index) {
            return index + 1;
          },
          align: 'center'
        },
        {
          field: 'nickName',
          title: 'Name',
          align: 'center',
          formatter: function (value, row, index) {
            // let html = row.nickName;
            let html = '<span class="user_portrait" data-user_customer_id="' + row.buyer_id + '">' + row.nickName + '</span>';
            if (row.is_home_pickup) {
              img_url = img_home_pickup;
              tip_content = tip_home_pickup_logo;
            } else {
              img_url = img_drop_shipping;
              tip_content = tip_drop_shipping_logo;
            }
            html += '<span class="img_logo"><img data-toggle="tooltip" style="padding-left: 1px" src="' + img_url + '" data-original-title="' + tip_content + '"></span>';
            return html + row.ex_vat;
          }
        },
        {
          field: 'rma_order_id',
          title: 'RMA ID',
          align: 'center',
          formatter: function (value, row, index) {
            let rma_name = '';
            rma_name += row['rma_order_id'];
            if (parseInt(row['name']) === 4) {
              return rma_name;
            }
            let str = '';
            str += '<a target="_blank" href="'
              + 'index.php?route=account/customerpartner/rma_management/rmaInfo&rmaId='
              + row['id']
              + '">';
            str += rma_name;
            str += '</a>';
            return str;
          }
        },
        {
          field: 'create_time',
          title: 'RMA Date',
          align: 'center'
        },
        {
          title: 'Applied for MPN(Item Code)',
          align: 'center',
          formatter: function (value, row, index) {
            let str = '';
            let tag = row['tag'];
            let sku = row['sku'];
            let mpn = row['mpn'];
            let reMpn = '';
            let reSku = '';
            if (row['apply_for_reshipment'] === 'No') {
              reSku += row['refundSku'];
              reMpn += row['refundMpn'];
            } else {
              reSku += sku.slice(0, Math.min(sku.length, tag.length)).join(',');
              reMpn += mpn.join(',');
            }
            if (row['marginFlag']) {
              reMpn = row['margin_agreement_link'] + reMpn;
            }
            if (row['futuresFlag']) {
              reMpn = row['futures_agreement_link'] + reMpn;
            }
            str += '<span>' + reMpn + '</span>'
              + '<span>(' + reSku + ')</span>';
            if (tag[0].length > 0) {
              str += '<div style="' +
                '    height: 40px;' +
                '    display: inline-block;' +
                '    line-height: 40px;' +
                '">';
              for (let i in tag) {
                str += tag[i].join('');
              }
              str += '</div>';
            }
            str += '</div>';

            return str;
          }
        },
        {
          field: 'order_id',
          title: 'Order ID',
          align: 'center',
          formatter: function (value, row, index) {
            let str = '';
            str += '<a target="_blank" href="index.php?route=account/customerpartner/orderinfo&order_id=' + row['order_id'];
            str += '">' + row['order_id'] + '</a>';
            if(row['delivery_type']==2){
              str+='<i class="giga icon-cwf" style="color: #1f5268;font-size:15px;" data-toggle="tooltip" data-original-title="{{ cwf }}"></i>'
            }
            return str;
          }
        },
        {
          title: 'RMA Status',
          formatter: function (value, row, index) {
            const Mappings = {
              Applied: 1,
              Processed: 2,
              Pending: 3,
              Canceled: 4
            };
            let str = 'UNKNOWN';
            for (let i in Mappings) {
              if (Mappings[i] === parseInt(row['name'])) {
                str = i;
              }
            }
            return str;
          }
        },
        {
          field: 'processed_date',
          title: 'Processed Date',
          align: 'center'
        },
        {
          title: 'Details',
          align: 'center',
          formatter: function (value, row, index) {
            let str = '<button type="button" data-show="0" data-index="' + index +
              '" class="resolve_button btn btn-danger">' +
              '<i class="giga icon-action-stretch" aria-hidden="true"></i>' +
              '</button>';
            return str;
          }
        }
      ],
      formatNoMatches: function () {
        return 'No records.';
      },
      onLoadSuccess: function () {
        $('[data-toggle="tooltip"]').tooltip();
        rma_reshipment_order_table.find('.resolve_button').on('click', function () {
          let item = $(this);
          let show = parseInt(item.data('show'));
          rma_reshipment_order_table.bootstrapTable('toggleDetailView', $(this).data('index'));
          if (show === 0) {
            item.html('<i class="giga icon-arrow-compress" aria-hidden="true"></i>');
            // 灯箱效果
            $('.image_list').each(function () {
              $(this).magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                  enabled: true
                },
              });
            });
            item.data('show', 1);
          } else {
            item.html('<i class="giga icon-action-stretch" aria-hidden="true"></i>');
            item.data('show', 0);
          }
        })
      }
    });
  });

  $('#rma-reshipment-order-download').on('click', function () {
    let form = $('#rma-reshipment-order-form');
    let rUrl = 'index.php?route=account/customerpartner/rma_management/rma_manage/downloadReshipment&filter_apply_for_reshipment=1';
    let params = form.serializeArray();
    for (let val of params) {
      if (val['value'] !== null) {
        rUrl += '&' + val['name'] + '=' + val['value'];
      }
    }
    location.href = rUrl;
    return false;
  });
  $('#rma-reshipment-order-refresh').on('click', function () {
    $('#tab-reshipment-order').load('index.php?route=account/customerpartner/rma_management/rma_manage/getReshipmentOrderInfo')
  });
  $('#rma-reshipment-order-filter').on('click', function () {
    rma_reshipment_order_table.bootstrapTable('refreshOptions', {pageNumber: 1})
  })

  function keydown1 (){
    if(event.keyCode==13){
      $("#rma-reshipment-order-filter").trigger("click");
    }
  }
</script>