{{ cssOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css']) }}
{{ jsOrigin(['/catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js']) }}
<style>
  .tip-num{
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    font-style: normal;
    position: absolute;
    padding: 2px 8px;
    bottom: 30px;
    right: -2px;
    background: #fa6400;
    border: 1px solid #fa6400;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    z-index: 99;
  }
  .form-group .btn.btn-primary, .form-group .btn.btn-default {
    height: 40px;
    line-height: 26px;
  }
  .form-group .btn.btn-default {
    color: #3a75dc;
    border-color: #eee;
    background-color: #fff;
  }
  .form-group .btn {
    padding: 6px 10px;
    font-size: 14px;
  }
  .form-group .btn.btn-default:hover {
    color: #fff;
    background-color: #3a75dc;
    border-color: #3a75dc;
  }
  .tab-pane table.table.main td .action-group a.btn-table{
    width: 30px ;
    height: 30px ;
    padding: 0;
  }
  .tab-pane table.table.main td .action-group a.btn-table:hover{
    background-color: #FA6400;
    color: #fff;
  }
  .tab-pane table.table.main .action-group a {
    margin-left: 0px;
    border: 1px solid #eee;
  }
  .tab-pane table.table.main .action-group > div, .tab-pane table.table.main .action-group > a {
    padding: 6px;
    width: 24px;
    height: 24px;
    color: #242424;
    cursor: pointer;
    margin-left: 6px;
    margin-bottom: 6px;
    line-height: 13px;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    background-color: #f3f5f7;
  }
  .tab-pane table.table.main .action-group a i {
    font-size: 16px;
    line-height: 26px;
  }
   .tab-pane table.table.main .action-group a {
    border-radius: 4px;
    background-color: #f3f5f7;
    color: #242424;
    border-width: 0px;
    display: inline-block;
    text-align: center;
    min-width: 28px;
    min-height: 28px;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
  }
  .tab-pane table.table.main .action-group > div:hover, .tab-pane table.table.main .action-group > a:hover {
    background: #fa6400;
    color: #fff;
  }
  .tab-pane table.table.main .action-group .dropdown-menu {
    position: absolute;
    top: 100%;
  }
  .tab-pane table.table.main .action-group .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    width: auto;
    height: auto;
    text-align: left;
    background: #fff;
    border-radius: 0;
    box-shadow: none;
  }
  .tab-pane table.table.main .action-group .dropdown-menu li > a:hover {
    text-decoration: none;
    color: #333;
    background-color: #eee;
  }
  .loading-text {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    top: 70px;
    color: #999;
  }
</style>
{{ this.params('title', heading_title_my) }}
<div class="nav-oris">
    <div class="oris-row">
      <div>
        <div class="row">
          <div class="col-md-12">
            {#Togglable tabs#}
            <ul class="nav nav-tabs main" role="tablist">
              {% if quote_enable %}
                <li id="quotes_li" {% if 0 == tab %} class="active" {% endif %}>
                  <a href="#tab-quotes" data-toggle="tab">{{ tab_title_quote }}
                  <span class="tab-number" id="spot_tab_mark_count">{{ spot_num }}</span>
                  </a>
                </li>
              {% endif %}
              <li id="rebates_li" {% if 1 == tab %} class="active" {% endif %}>
                <a href="#tab-rebates" data-toggle="tab">{{ tab_title_rebate }}</a></li>
              <li id="margin_li" {% if 2 == tab %} class="active" {% endif %}>
                <a href="#tab-margin" data-toggle="tab">{{ tab_title_margin_bids }}
                  <span class="tab-number" id="margin_tab_mark_count">{{ margin_tab_mark_count }}</span>
                </a>
              </li>
              <li id="futures_li" {% if 3 == tab %} class="active" {% endif %}>
                <a href="#tab-futures" data-toggle="tab">{{ tab_title_futures_bids }}
                  <span class="tab-number" id="futures_tab_mark_count">{{ futures_num }}</span>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {#tab页对应内容#}
    <div class="tab-content m10-b">
          {% if quote_enable %}
            <div class="tab-pane {% if 0 == tab %} active {% endif %}" id="tab-quotes">
              <fieldset>
                <div id="bid-quotes"><div class="loading-text">Loading...</div></div>
              </fieldset>
            </div>
          {% endif %}
          <div class="tab-pane {% if 1 == tab %} active {% endif %}" id="tab-rebates">
            <fieldset>
              <div id="bid-rebates"><div class="loading-text">Loading...</div></div>
            </fieldset>
          </div>
          <div class="tab-pane {% if 2 == tab %} active {% endif %}" id="tab-margin">
            <fieldset>
              <div id="bid-margin"><div class="loading-text">Loading...</div></div>
            </fieldset>
          </div>
          <div class="tab-pane {% if 3 == tab %} active {% endif %}" id="tab-futures">
            <fieldset>
              <div id="bid-futures"><div class="loading-text">Loading...</div></div>
            </fieldset>
          </div>
    </div>
  </div>
<script>
  let quote_enable = '{{ quote_enable }}';
  let tab = '{{ tab }}';
  let no = '{{ no }}';

  let urlQuotes = "{{ url('account/product_quotes/wk_quote_my/getQuotesList') }}";
  if (tab == '0' && no) {
    urlQuotes = "{{ url('account/product_quotes/wk_quote_my/getQuotesList', {'filter_id':no}) }}";
  }
  let urlRebates = "{{ url('account/product_quotes/rebates_contract') }}";
  if (tab == '1' && no) {
    urlRebates = "{{ url('account/product_quotes/rebates_contract', {'filter_id':no}) }}";
  }
  let urlMargin = "{{ url('account/product_quotes/margin/agreements') }}";
  if (tab == '2' && no) {
    urlMargin = "{{ url('account/product_quotes/margin/agreements', {'filter_margin_agreement_id':no}) }}";
  }
  let urlFutures = "{{ url('account/product_quotes/futures/tab_futures') }}";
  if (tab == '3' && no) {
    urlFutures = "{{ url('account/product_quotes/futures/tab_futures', {'agreement_no':no}) }}";
  }

  if (quote_enable) {
    $('#bid-quotes').load(urlQuotes);
  }
  $('#bid-rebates').load(urlRebates);
  $('#bid-margin').load(urlMargin);
  $('#bid-futures').load(urlFutures);
</script>
