<style>
  .drop-hover-title{
    width: 100%;
    padding-bottom: 4px;
    margin-bottom: 6px;
    font-size: 14px;
  }
  .border-bottom-gray{
    border-bottom: 1px solid #eee;
  }
  .drop-hover-items>p{
    margin: 0;
  }
  .drop-hover-items-label{
    display: inline-block;
    width: 150px;
  }
  .drop-hover-items-num{
    color: #000;
    font-weight: bolder;
  }
  #freight .dropdown-freight{
    margin-top: 0;
  }
</style>
<div role="tabpanel" class="tab-pane active">
  <div class="bg-white p-2">
    <div class="row" style="margin:10px 0px 20px 5px;width: 100%;text-align: center;">
      <div style="width: 20%;float: left;border-right: 1px solid #ccc;">
        <p class="giga icon-date-icon"></p>
        <p style="color: #677999;font-size: 13px;">Agreement Term</p>
        <p style="color: #000000;font-size: 14px;opacity:0.8;">{{ list.base_info.effect_time_show }}&nbsp;-&nbsp;{{ list.base_info.expire_time_show }}</p>
      </div>
      <div style="width: 20%;float: left;border-right: 1px solid #ccc;">
        <p class="giga icon-summary-po-id"></p>
        <p style="color: #677999;font-size: 13px;">Min. Total Selling Quantity</p>
        <p style="color: #000000;font-size: 14px;opacity:0.8;">{{ list.base_info.qty }}</p>
      </div>
      <div style="width: 20%;float: left;border-right: 1px solid #ccc;">
        <p class="giga icon-summary-store"></p>
        <p style="color: #677999;font-size: 13px;">Total Purchased</p>
        <p style="color: #000000;font-size: 14px;opacity:0.8;">{{ list.base_info.total_purchased }}</p>
      </div>
      <div style="width: 20%;float: left;border-right: 1px solid #ccc;">
        <p class="giga icon-summary-status"></p>
        <p style="color: #677999;font-size: 13px;">Total Returned <i style="font-size: 12px;" class="giga icon-V10-wenhaotishi" aria-hidden="true" data-toggle="tooltip" title="{{ text_transaction_total_returned }}" ></i></p>
        <p style="color: #000000;font-size: 14px;opacity:0.8;">{{ list.base_info.total_returned }}</p>
      </div>
      <div style="width: 20%;float: left;">
        <p class="fa fa-book"></p>
        <p style="color: #677999;font-size: 13px;">Remaining Quantity <i style="font-size: 12px;" class="giga icon-V10-wenhaotishi" aria-hidden="true" data-toggle="tooltip" title="{{ text_transaction_remaining_qty }}" ></i></p>
        <p style="color: #000000;font-size: 14px;opacity:0.8;">{{ list.base_info.remaining_quantity }}</p>
      </div>
    </div>

    <div class="row" style="margin:10px 0px 20px 5px;width: 100%;">
      <table class="table main table-hover">
        <thead>
        <tr>
          <th class="text-left" >
            {% if sort == 'asc' and column == 'time' %}
              <i class="fa fa-arrow-up" style="cursor: pointer" onclick="transactionListSort('time','desc')" aria-hidden="true"></i>
            {% elseif sort == 'desc' and column == 'time' %}
              <i class="fa fa-arrow-down" style="cursor: pointer" onclick="transactionListSort('time','asc')" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-arrow-up" style="cursor: pointer" onclick="transactionListSort('time','desc')" aria-hidden="true"></i>
            {% endif %}
            {{ column_transaction_creation_time }}
          </th>
          <th class="text-center" >{{ column_transaction_order_id }}
            <i style="font-size: 12px;" class="giga icon-V10-wenhaotishi" aria-hidden="true" data-toggle="tooltip" title="{{ text_transaction_order_id }}" ></i>
          </th>
          <th class="text-center" >{{ column_rebates_image }}</th>
          <th class="text-center" >
            {% if sort == 'asc' and column == 'sku' %}
              <i class="fa fa-arrow-up" style="cursor: pointer" onclick="transactionListSort('sku','desc')" aria-hidden="true"></i>
            {% elseif sort == 'desc' and column == 'sku' %}
              <i class="fa fa-arrow-down" style="cursor: pointer" onclick="transactionListSort('sku','asc')" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-arrow-up" style="cursor: pointer" onclick="transactionListSort('sku','desc')" aria-hidden="true"></i>
            {% endif %}
            {{ column_transaction_item_code }}
          </th>
          <th class="text-right" >{{ column_rebates_quantity }}</th>
          <th class="text-right" >{{ column_transaction_unit_price }}</th>
          {% if isEurope %}
            <th class="text-right" >{{ column_transaction_service_fee }}</th>
          {% endif %}
          <th class="text-right" >{{ column_transaction_freight }}</th>
          <th class="text-right" >{{ column_transaction_total }}</th>
        </tr>
        </thead>
        <tbody>
          {% if list.order_info %}
            {% for key,value in list.order_info %}
              {% if value.type == 1 %}
                <tr>
                  <td class="text-left" >
                    <span>{{ value.extra.sort_time_list.0 }}</span><br/>
                    <span style="color: #000000;opacity: 0.2">{{ value.extra.sort_time_list.1 }}</span>
                  </td>
                  <td class="text-center" >{{ value.order_id }}
                    <i class="fa fa-play-circle" onclick="urlToProductDetails('{{ value.extra.order_link }}')" data-toggle="tooltip"
                       aria-hidden="true" style="color: #8493AC;cursor: pointer" ></i>
                    {% if (value.delivery_type==2) %}
                      <i class="giga icon-cwf" style="color: #1f5268;font-size: 15px;" data-toggle="tooltip" data-original-title="{{ cwf }}"></i>
                    {% endif %}
                  </td>
                  <td class="text-center" >
                    <img src="{{ value.extra.image_show }}" style="width: 30px;height:30px;">
                  </td>
                  <td class="text-center" >{{ value.extra.sku }}
                    {% if value.extra['tag_array'] is not empty %}
                      {% for tag in value.extra['tag_array'] %}
                        &nbsp;{{ tag }}
                      {% endfor %}
                    {% endif %}
                    <i class="fa fa-play-circle" onclick="urlToProductDetails('{{ value.extra.product_link }}')" data-toggle="tooltip"
                       title="{{ value.extra.name }}" aria-hidden="true" style="color: #8493AC;cursor: pointer" ></i>
                  </td>
                  <td class="text-right" >{{ value.qty }}</td>
                  <td class="text-right" >
                   {# {% if isEurope %}
                      <i class="giga icon-vat"></i>&nbsp;
                    {% endif %}#}
                    {{ value.extra.unit_price_show }}
                  </td>
                  {% if isEurope %}
                    <td class="text-right" >{{ value.extra.service_fee_show }}</td>
                  {% endif %}
                  <td class="text-right" >
                    <div id="freight">   {{ value.extra.freight_show }}
                      <ul class="dropdown-freight">
                        <li style="list-style: none">
                          <div class="drop-hover-title border-bottom-gray">
                            {% if value.extra.isCollectionFromDomicile %}
                              {{ freight_for_pickup_service }}
                            {% elseif (value.extra.delivery_type==2) %}
                              {{ freight_for_cloud_wholesale_fulfillment }}
                            {% else %}
                              {{ freight_for_drop_shipping_service }}
                            {% endif %}
                          </div>
                          <div class="drop-hover-items" style="text-align: left">
                            <p>
                              <span class="drop-hover-items-label">{{ label_base_shipping_fee }} :</span>
                              <span class="drop-hover-items-num">{{ value.extra.base_freight_show }}</span>
                            </p>
                            {# 超重附加费 #}
                            {% if value.extra.overweight_surcharge > 0 %}
                              <p style="margin-bottom: 0">
                                <span class="drop-hover-items-label">{{ overweight_surcharge_label }} :</span>
                                <span class="drop-hover-items-num">{{ value.extra.overweight_surcharge_show }}</span>
                              </p>
                            {% endif %}
                            <p>
                              <span class="drop-hover-items-label">{{ label_packaging_fee }} ：</span>
                              <span class="drop-hover-items-num">{{ value.extra.package_fee_tips_show }}</span>
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td class="text-right" >{{ value.extra.total_price_show }}</td>
                </tr>

              {% elseif value.type == 2 %}
                <tr>
                  <td class="text-left" >
                    <span>{{ value.extra.sort_time_list.0 }}</span><br/>
                    <span style="color: #000000;opacity: 0.2">{{ value.extra.sort_time_list.1 }}</span>
                  </td>
                  <td class="text-center" >{{ value.extra.rma_order_id }}
                    <i class="fa fa-play-circle" onclick="urlToProductDetails('{{ value.extra.order_link }}')" data-toggle="tooltip"
                        aria-hidden="true" style="color: #8493AC;cursor: pointer" ></i>
                  </td>
                  <td class="text-center" >
                    <img src="{{ value.extra.image_show }}" style="width: 30px;height:30px;">
                  </td>
                  <td class="text-center" >{{ value.extra.sku }}
                    {% if value.extra['tag_array'] is not empty %}
                      {% for tag in value.extra['tag_array'] %}
                        &nbsp;{{ tag }}
                      {% endfor %}
                    {% endif %}
                    <i class="fa fa-play-circle" onclick="urlToProductDetails('{{ value.extra.product_link }}')" data-toggle="tooltip"
                       title="{{ value.extra.name }}" aria-hidden="true" style="color: #8493AC;cursor: pointer" ></i>
                  </td>
                  <td class="text-right" ><span style="color: red">-{{ value.qty }}</span></td>
                  <td class="text-right" ></td>
                  {% if isEurope %}
                    <td class="text-right" ></td>
                  {% endif %}
                  <td class="text-right" ></td>
                  <td class="text-right" ><span style="color: red">-{{ value.extra.actual_refund_amount_show }}</span></td>
                </tr>

              {% endif %}
            {% endfor %}


          {% else %}
            {% set i = 8 %}
            {% if isEurope %}
              {% set i = i + 1 %}
            {% endif %}
            <tr>
              <td class="text-center" colspan="{{ i }}">{{ text_transaction_seller_no_result }}</td>
            </tr>
          {% endif %}

        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function transactionListSort(ks,sort) {
    var agreement_id = '{{ agreement_id }}';
    layer.load();
    var url_load = 'index.php?route=account/product_quotes/rebates_contract/rebatesAgreementTransactionList&agreement_id='+ agreement_id +'&column=' + ks + '&sort=' + sort;
    $('#mapping-transaction').load(url_load,function(responseTxt,statusTxt,xhr){
      if(statusTxt=="success"){
        layer.closeAll('loading');
      }
    });

  }
</script>

<style>
  #freight .dropdown-freight {
    padding: 16px;
    position: absolute;
    line-height: 24px;
    right: 40px;
    z-index: 999;
    display: none;
    color: #333;
    text-align: center;
    margin-top: 6px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.3);
  }

  #freight:hover .dropdown-freight {
    display: block;
  }
</style>
