{{ header }}
<style>
  .layui-layer.layui-layer-page{
    line-height: 1.428571429 !important;
  }
</style>
<div id="page-bid-list-rebates-bid" class="page-seller-portal">
  {#菜单#}
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}
  {#END 菜单#}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ heading_rebate_details }}({{ agreement_code }})</h1>
        <div>
          <div class="col-md-12">
            {#Togglable tabs#}
            <ul class="nav nav-tabs main" role="tablist">
              {% if request_show %}
                <li id="request_li" class="active"><a href="#tab-request" data-toggle="tab">{{ text_rebates_request }}</a></li>
              {% endif %}
              <li id="agreement_li"
                {% if request_show == false %}
                  class="active"
                {% endif %}
              ><a href="#tab-agreement" data-toggle="tab">{{ text_rebates_agreement }}</a></li>
              {% if transaction_show %}
                <li id="transaction_li"><a href="#tab-transaction" data-toggle="tab">{{ text_rebates_transaction }}</a></li>
              {% endif %}

            </ul>
          </div>
        </div>
      </div>
    </div>


    {#tab页对应内容#}
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="tab-content main">
          {% if request_show %}
            <div class="tab-pane active" id="tab-request">
              <fieldset>
                <div id="mapping-request"></div>
              </fieldset>
            </div>
          {% endif %}
          <div
            {% if request_show == false %}
              class="tab-pane active"
            {% else %}
              class="tab-pane"
            {% endif %}
            id="tab-agreement">
            <fieldset>
              <div id="mapping-agreement"></div>
            </fieldset>
          </div>
          {% if transaction_show %}
            <div class="tab-pane" id="tab-transaction">
              <fieldset>
                <div id="mapping-transaction"></div>
              </fieldset>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<script>
  {% if request_show %}
    $('#mapping-request').load('{{ request_url }}');
  {% endif %}
  $('#mapping-agreement').load('{{ agreement_url }}');
  {% if transaction_show %}
    $('#mapping-transaction').load('{{ transaction_url }}');
  {% endif %}
  $(function () {
    var layer = layui.layer;
  });

  function urlToProductDetails(url) {
    window.open(url,'_blank');
  }







</script>
<style>
  .yzc_layer .layui-layer-content {
    padding: 0px 0px;
    text-align: center;
  }
  *{
    font-family: "Roboto", Helvetica, Arial, serif;
  }
  div[class*='col-']{
    padding-left: 0;
    padding-right: 0;
  }

</style>

{#加载layui.js  2019/6/10 add by allen.tai #}
<script type="text/javascript" src="catalog/view/javascript/layui/layui.all.js"></script>
{#<link href="catalog/view/javascript/select2/css/select2.min.css" rel="stylesheet" />#}
{#<script src="catalog/view/javascript/select2/js/select2.full.js"></script>#}

<link rel="stylesheet" href="catalog/view/javascript/layui/css/layui.css">
