<div role="tabpanel" class="tab-pane active">
  <div class="bg-white p-2">
    <div class="row" style="margin:10px 0px 20px 5px;">
      <div style="width: 100%">
        <span style="color:#183464;font-size: 20px;font-weight: bold;float: left;margin-left: 10px;">{{ text_agreement_summary }}</span>
      </div>
    </div>
    <div class="row" style="margin:10px 0px 20px 5px;width: 100%;text-align: center;">
      <div style="width: 20%;float: left;border-right: 1px solid #ccc;">
        <p class="giga icon-summary-po-id"></p>
        <p style="color: #677999;font-size: 13px;">Agreement ID </p>
        <p style="color: #000000;font-size: 14px;opacity:0.8;">{{ list.base_info.agreement_code }}</p>
      </div>
      <div style="width: 20%;float: left;border-right: 1px solid #ccc;">
        <p class="giga icon-summary-store"></p>
        <p style="color: #677999;font-size: 13px;">Store</p>
        <p style="color: #000000;font-size: 14px;opacity:0.8;">{{ list.base_info.screenname }}</p>
      </div>
      <div style="width: 20%;float: left;border-right: 1px solid #ccc;">
        <p class="giga icon-summary-status"></p>
        <p style="color: #677999;font-size: 13px;">Agreement Status</p>
        <p style="color: #000000;font-size: 14px;opacity:0.8;">{{ list.base_info.s_value }}</p>
      </div>
      <div style="width: 20%;float: left;border-right: 1px solid #ccc;">
        <p class="fa fa-book"></p>
        <p style="color: #677999;font-size: 13px;">Agreement Result</p>
        <p>
          <span style="color: #000000;font-size: 14px;opacity:0.8;">
            {{ list.base_info.r_value }}
          </span>
          {% if list.base_info.rebate_result == 0 %}
            <i style="font-size: 12px;" class="giga icon-V10-wenhaotishi" aria-hidden="true" data-toggle="tooltip" title="{{ text_agreement_result_tips }}" ></i>
          {% endif %}

        </p>
      </div>
      <div style="width: 20%;float: left;">
        <p class="giga icon-date-icon"></p>
        <p style="color: #677999;font-size: 13px;">Last Modified</p>
        <p style="color: #000000;font-size: 14px;opacity:0.8;">{{ list.base_info.update_time }}</p>
      </div>

    </div>
    <div class="row" style="margin:10px 0px 20px 5px;width: 100%;">
      <span style="color:#183464;font-size: 20px;font-weight: bold;float: left;margin:0 0 20px 10px;width: 100%">{{ text_agreement_details }}</span>
      <span style="width: 100%;margin-left: 10px;float: left;border-top: 1px solid #eee;
          border-bottom: 1px solid #eee;height:60px;font-size: 16px;">
        <span style="width: 45%;float: left;border-right: 1px solid #eee;line-height:50px;height: 50px;margin-top: 5px;">
          <span style="color:#677999;font-weight: bold;width: 60%;float: left">DAYS</span>
          <span style="width: 40%;float: left">
            {{ list.base_info.day }}
            {% if list.base_info.day_tips %}&nbsp;
              <i class="iconfont icon-gantanhao" style="color: #da0000;margin-left: -10px;"
                 data-toggle="tooltip" title="{{ list.base_info.day_tips }}">
              </i>
            {% endif %}
          </span>
        </span>
        <span style="width: 55%;float: left;line-height:50px;height: 50px;margin-top: 5px;">
          <span style="color:#677999;font-weight: bold;width: 44%;float: left;margin-left:6% ">TIME OF EFFECT</span>
          <span style="width: 50%;float: left">{{ list.base_info.effect_time }}</span>
        </span>
      </span>

      <span style="width: 100%;margin-left: 10px;float: left;
          border-bottom: 1px solid #eee;height:60px;font-size: 16px;">
        <span style="width: 45%;float: left;border-right: 1px solid #eee;line-height:50px;height: 50px;margin-top: 5px;">
          <span style="color:#677999;font-weight: bold;width: 60%;float: left">MIN. TOTAL SELLING QUANTITY <i style="font-size: 12px;" class="giga icon-V10-wenhaotishi" aria-hidden="true" data-toggle="tooltip" title="{{ text_quantity_tips }}" ></i></span>
          <span style="width: 40%;float: left">
            {{ list.base_info.qty }}
            {% if list.base_info.qty_tips %}&nbsp;
              <i class="iconfont icon-gantanhao" style="color: #da0000;margin-left: -10px;"
                 data-toggle="tooltip" title="{{ list.base_info.qty_tips }}">
              </i>
            {% endif %}
          </span>
        </span>
        <span style="width: 55%;float: left;line-height:50px;height: 50px;margin-top: 5px;">
          <span style="color:#677999;font-weight: bold;width: 44%;float: left;margin-left:6% ">TIME OF FAILURE</span>
          <span style="width: 50%;float: left">{{ list.base_info.expire_time }}</span>
        </span>
      </span>
    </div>
    <div class="row" style="margin:10px 0px 20px 5px;width: 100%;">
      <table class="table main table-hover">
        <thead>
        <tr>
          <th class="text-center" >{{ column_rebates_image }}</th>
          <th class="text-center" >{{ column_rebates_item_code }}</th>
          <th class="text-right" >{{ column_agreement_exclusive_price }}<i style="font-size: 12px;" class="giga icon-V10-wenhaotishi" aria-hidden="true" data-toggle="tooltip" title="{{ text_agreement_price_tips }}" ></i></th>
          <th class="text-right" >{{ column_agreement_rebate_amount }}</th>
          <th class="text-right" >{{ column_agreement_rebate_price }}<i style="font-size: 12px;" class="giga icon-V10-wenhaotishi" aria-hidden="true" data-toggle="tooltip" title="{{ text_agreement_rebates_price_tips }}" ></i></th>
          <th class="text-right" >{{ column_agreement_selling_price }}</th>
        </tr>
        </thead>
        <tbody>
        {% for key,value in list.product_list %}
          {% if value.is_show %}
            <tr>
            <td class="text-center" >
              <img src="{{ value.image_show }}" style="width: 30px;height:30px;">
            </td>
            <td class="text-center" >
              {{ value.sku }}

              {% if value['tag_array'] is not empty %}
                {% for tag in value['tag_array'] %}
                  &nbsp;{{ tag }}
                {% endfor %}
              {% endif %}
              <i class="fa fa-play-circle" onclick="urlToProductDetails('{{ value.product_link }}')" data-toggle="tooltip"
                 title="{{ value.name }}" aria-hidden="true" style="color: #8493AC;cursor: pointer" ></i>
            </td>
            <td class="text-right" >
              {{ value.template_price_show }}&nbsp;
              {% if value.template_price_tips %}&nbsp;
                <i class="iconfont icon-gantanhao" style="color: #da0000;margin-left: -10px;"
                   data-toggle="tooltip" title="{{ value.template_price_tips }}">
                </i>
              {% endif %}
            </td>
            <td class="text-right" >
              {{ value.rebate_amount_show }}&nbsp;
              {% if value.rebate_amount_tips %}&nbsp;
                <i class="iconfont icon-gantanhao" style="color: #da0000;margin-left: -10px;"
                   data-toggle="tooltip" title="{{ value.rebate_amount_tips }}">
                </i>
              {% endif %}
            </td>
            <td class="text-right" >{{ value.buyer_price_show }}</td>
            <td class="text-right" >
              {{ value.min_sell_price_show }}&nbsp;
              {% if value.min_sell_price_tips %}&nbsp;
                <i class="iconfont icon-gantanhao" style="color: #da0000;margin-left: -10px;"
                   data-toggle="tooltip" title="{{ value.min_sell_price_tips }}">
                </i>
              {% endif %}

            </td>

        </tr>
          {% else %}
            <tr class="rebate-show">
              <td class="text-center "  >
                <img src="{{ value.image_show }}" style="width: 30px;height:30px;">
              </td>
              <td class="text-center">
                {{ value.sku }}

                {% if value['tag_array'] is not empty %}
                  {% for tag in value['tag_array'] %}
                    &nbsp;{{ tag }}
                  {% endfor %}
                {% endif %}
                <i class="fa fa-play-circle" onclick="urlToProductDetails('{{ value.product_link }}')" data-toggle="tooltip"
                   title="{{ value.name }}" aria-hidden="true" style="color: #8493AC;cursor: pointer" ></i>
                {% if value.verify_tips %}&nbsp;
                  <i class="iconfont icon-gantanhao" style="color: red"
                     data-toggle="tooltip" title="{{ value.verify_tips }}">
                  </i>
                {% endif %}
              </td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>

            </tr>
          {% endif %}

        {% endfor %}




        </tbody>
      </table>
    </div>
    <div class="row" style="margin:10px 0px 20px 5px;width: 100%;border-bottom: 1px solid #ddd;padding-bottom: 20px;">
      <div style="color:#183464;font-size: 20px;font-weight: bold;float: left;margin-left：10px;width: 100%">{{ message_title }}</div>
      <div style="float: left;width: 100%;margin-top: 20px;">
      <div style="padding: 10px 10px 10px 10px">
        <div class="message-div conversational-message-wrapper message-section mt-2" id="contract_message_history">
            {#buyer#}
            {% if messages %}
              {% for msg in messages %}
                {% if msg.writer_id == customer_id %}
                  <div class="message-item outgoing">
                    <div class="left">
                      {#<img src="//via.placeholder.com/40" alt="" class="avatar" style="width: 40px;">#}
                      <i class="giga icon-account-blue" style="font-size: 26px;"></i>
                    </div>
                    <div class="right" style="width: 400px;">
                      <div class="info">
                        <span style='text-align: left;'>{{ msg.name }}</span>
                        <span style='text-align: right;'><i class="giga icon-Action-Time"></i>&nbsp;{{ msg.msg_date }}</span>
                      </div>
                      <div class="content" style="word-break:break-all;white-space: pre-wrap">{{ msg.message }}</div>
                    </div>
                  </div>
                {% else %}
                  <div class="message-item incoming">
                    <div class="left">
                      {#<img src="//via.placeholder.com/40" alt="" class="avatar" style="width: 40px;">#}
                      <i class="giga icon-account-blue" style="font-size: 26px;"></i>
                    </div>
                    <div class="right">
                      <div class="info">
                        <span style='text-align: left;' >{{ msg.name }}</span>
                        <span style='text-align: right;'><i class="giga icon-Action-Time"></i>&nbsp;{{ msg.msg_date }}6</span>
                      </div>
                      <div class="content" style="word-break:break-all;white-space: pre-wrap">{{ msg.message }} </div>
                    </div>
                  </div>
                {% endif %}
               {% endfor %}
            {% endif %}
        </div>
        {% if list.base_info.status == 1 %}
          <div style="position: relative">
            <span style="margin-bottom: 5px;font-weight: bold">{{ text_message_title }}</span>
            <textarea id="contract_message" style="resize: none;height: 60px;width: 92%;border: 1px solid #ddd;margin-top: 10px;"
                      placeholder="{{ text_message_placeholder }}" maxlength="2000" required></textarea>
            <i style="position: relative;top:54px;float: right;right:100px;color: #000000;opacity:0.2;"><span>0</span>/2000</i>
            <button class="btn btn-primary" style="position: absolute;top: 48%;right: 5px;width: 70px" type="button"
                    onclick="sendMessage(this)"><i class="giga icon-action-send-message"></i>&nbsp;{{ btn_send }}</button>
          </div>
        {% endif %}

      </div>
    </div>
    </div>
    {% if list.base_info.status == 3 and list.base_info.rebate_result < 3 %}
    <div class="row" style="margin:10px 0px 20px 5px;width: 100%;text-align: center">
      <button class="btn btn-primary"  type="button" onclick="openTerminateContent()">Terminate</button>
    </div>
    {% endif %}




  </div>
</div>

<style>
  .message-div {
    margin-bottom: 20px;
  }

  .rebate-show {
    color:
      #4c4d5a;
    border-color:
      #dcdcdc;
    background:
      #f6f6f6;
    /*text-shadow: 0 -1px 0*/
    /*rgba(50, 50, 50, 0);*/
  }


</style>
<script>
  $(function () {
    {% if list.base_info.status == 1 %}
      var text = $('#contract_message').val();
      var len = text.length;
      $('#contract_message').next().find('span').html(len);
      $('textarea').keyup(function () {
        var text = $(this).val();
        len = text.length;
        if (len > 2000) {
          return false;
        }
        $(this).next().find('span').html(len);
      });


    {% endif %}



  });

  function openTerminateContent() {
    var  confirm_info = "Are you sure to leave? Unsaved information will be discarded.";
    var  content = "<div  id='commit'  style='float: left;width: 94%;text-align:left;margin-left: 3%;padding-top: 10px;'>" +
      "<span style='color: #000000;font-weight: bold;float: left;width: 100%;margin-bottom: 20px;margin-top: 20px;'>Do you confirm to terminate this rebate agreement?</span>"+
      "<span style='opacity: 0.2;color: #000000;font-weight: bold;float: left;width: 50%;margin-bottom: 10px;'>REASON</span>"+
      "<span style='color: red;font-weight: bold;float: right;width: 50%;text-align: right;margin-bottom: 10px;'>REQUIRED</span>" +
      "<div class='form-group'>"+
      "<textarea name='comments' onkeyup='checkNum(this)'  style='resize: none;'  id='comments' class='form-control' rows='3' maxlength='2000'   ></textarea>"+
      "<i style='position: relative;top:-20px;float: right;right:10px;color: #000000;opacity:0.2;'><span>0</span>/2000</i>" +
      "</div>" +
      "<div style='text-align: center;width: 100%' class='page-seller-portal'>" +
      "<button type='button' id='submit_button'  class='btn btn-primary' onclick='setRebateTerminate(this)' style='margin-left: 40px;' >SUBMIT</button>" +
      "<button type='button' id='edit_button' class='btn btn-default' onclick='cancelAction()' style='margin-left: 30px;'>CANCEL</button>" +
      "</div> </div>";
    layer.open({
      type: 1,
      area: ['450px', '300px'],
      title: 'CONFIRM',
      fixed: false, //不固定Change
      maxmin: true,
      skin: 'yzc_layer',
      scrollbar:false,
      content: content,
      cancel:function(index, layero){
        layer.confirm(confirm_info,
          {btn: ['Yes', 'No'], title: "CONFIRM", skin: 'yzc_layer',area:['400px','120px']},
          function(index){
            layer.closeAll();
          },function (index) {

          }
        );
        return false;
      }
    });

  }

  function checkNum(obj) {
    var text = $(obj).val();
    var len = text.length;
    if (len > 2000) {
      return false;
    }
    $(obj).next().find('span').html(len);
  }

  function setRebateTerminate(button) {
    var len = $("#comments").val().length;
    var msg = $("#comments").val();
    if(len == 0){
      layer.msg('Comments can not be left blank', {time: 2000, skin: ''});
      $('#submit_button').attr('disabled',false);
      return false;
    }
    var url_load = '{{ refresh_action }}';
    var param = {
      'message': msg,
      'agreement_id':{{ list.base_info.id }}
    };
    $.ajax({
      url: '{{ terminate_action }}',
      dataType: 'json',
      type: 'post',
      data: param,
      success: function (json) {
        if (json['success']) {
          layer.closeAll();
          layer.msg('{{ success_terminate }}', {time: 2000, skin: ''});
          layer.load();
          $('#mapping-agreement').load(url_load,function(responseTxt,statusTxt,xhr){
            if(statusTxt=="success"){
              layer.closeAll('loading');
            }

          })

        }else{
          layer.msg('Exception occurred, please try again.', {time: 2000, skin: ''});
        }
      }
    });

  }

  function cancelAction() {
    layer.closeAll();
  }
  function sendMessage(button) {
    $(button).attr('disabled','disabled');
    var msg = $('#contract_message').val();
    if (msg) {
      if (msg.length <= 2000) {
        var param = {
          'message': msg,
          'agreement_id':{{ list.base_info.id }}
        };

        $.ajax({
          url: '{{ send_message_action }}',
          dataType: 'json',
          type: 'post',
          data: param,
          success: function (json) {
            if (json['success']) {
              var message_html = "<div class='message-item outgoing'> " +
                "<div class='left'> <i class='giga icon-account-blue' style='font-size: 26px;'></i> " +
                "</div> <div class='right' style='width: 400px;'> <div class='info'> " +
                "<span style='text-align: left;'>"+ json['success']['name'] +" </span> " +
                "<span style='text-align: right;' ><i class='giga icon-Action-Time'></i>&nbsp;" + json['success']['msg_date'] + "</span> " +
                "</div> <div class ='content' style='word-break:break-all;white-space: pre-wrap'>" + json['success']['message'] + "</div></div></div>";

              $('#contract_message_history').append(message_html);
              $('#contract_message').val("");
              $('#contract_message').next().find('span').html(0);
              $(button).attr('disabled',false);

            } else if (json['error']) {
              layer.alert(json['error'], {
                title: 'Message',
                btn : 'OK',
                skin: 'yzc_layer',
                icon: 2
              });
              $(button).attr('disabled',false);
            }
          }
        });
      } else {
        layer.alert('{{ error_msg_large }}', {
          title: 'Message',
          btn : 'OK',
          skin: 'yzc_layer',
          icon: 2
        });
        $(button).attr('disabled',false);
      }
    } else {
      layer.alert('{{ error_msg_empty }}', {
        title: 'Message',
        btn : 'OK',
        skin: 'yzc_layer',
        icon: 2
      });
      $(button).attr('disabled',false);
    }




  }

</script>