<style>
  .status_approve {
    color: #008000;
  }

  .status_reject {
    color: #FF0000;
  }
  .rebates-hot-map{
    height: 70px;width: 11.5%;border-right: 1px solid #e1e1e1;display: inline-block;text-align: center;
  }
  .rebates-hot-map:last-child{
    border: 0;
  }
  .rebates-hot-map.active, .rebates-hot-map:hover{
    background-color: #1834640c;
  }
  .rebates-hot-map:hover{
    cursor: pointer;
  }
  .rebates-hot-map:hover .hot-map-status{
    color: #183464;
  }
  .rebates-hot-map:hover .hot-map-num{
    color: #FA6400;
  }
  .hot-map-status{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 0;
    color: #677999;
  }
  .rebates-hot-map.active .hot-map-status{
    color: #183464;
  }
  .giga.icon-help-inactive{
    color: #b620e0;
  }
  .hot-map-num{
    font-size: 16px;
  }
  .rebates-hot-map.active .hot-map-num{
    font-weight: bold;
    color: #FA6400;
  }
  .item-more, .text-user-number, .text-update-hour{
    color: #999999d8;
  }
  .day-left{
    color: #da0000d8;
    text-transform: none;
  }
  .page-seller-portal table.table.main .action-group{
    text-align: left;
  }
  .modal-rebate-reason-tips,.modal-rebate-terminate-tips{
    position: absolute;
    right: 10px;
    bottom: 8px;
    width: calc(100% - 20px);
    background: #fff;
    text-align: right;
  }
  .modalRebateReason,.modal-rebate-terminate-reason{
    padding-bottom: 20px;
    box-sizing:border-box;
  }
</style>
<div role="tabpanel" class="tab-pane active text-small" id="rebates-bid">
  <div class="bg-white">
    <div class="filter-wrapper form-wrapper mb-3">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label" for="rebates_input-id">{{ column_contract_id }} </label>
            <input type="text" name="rebates_filter_id" value="{{ contract_id }}" placeholder="{{ column_contract_id }}"
                   id="rebates_input-id" class="form-control"/>
          </div>
          <div class="form-group">
            <label class="control-label" for="rebates_input-sku_mpn">{{ column_item_code }} </label>
            <input type="text" name="rebates_filter_sku_mpn" value="{{ filter_sku_mpn }}"
                   placeholder="{{ column_item_code }}" id="rebates_input-sku_mpn" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label" for="rebates_input-status">{{ column_agreement_status }} </label>
            <select name="rebates_filter_status" class="form-control" id="rebates_input-status">
              <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option>
              {% if quote_status %}
                {% for key, status_value in quote_status %}
                  <option
                    value="{{ key }}" {% if filter_status == key and filter_status is not null %}{{ 'selected' }}{% endif %}>{{ status_value }} </option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="rebates_input-store">{{ column_store }} </label>
            <input type="text" name="rebates_filter_store_name" value="{{ filter_store_name }}"
                   placeholder="{{ column_store }}" id="rebates_input-store" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label" for="rebates_input-status">{{ column_rebate_result }} </label>
            <select name="filter_result_status" class="form-control" id="filter_result_status">
              <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option>
              {% if quote_status %}
                {% for key, status_value in result_status %}
                  <option
                    value="{{ key }}" {% if filter_result_status == key and filter_result_status is not null %}{{ 'selected' }}{% endif %}>{{ status_value }} </option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
          <div class="form-group">
            <label for="">Last Modified Date Range</label>
            <div class="datetimepicker-range">
              <div class="datetimepicker">
                <input type="text" name="rebates_filter_date_from" value="{{ filter_date_from}}" placeholder="Pick a date..." id="rebates_input-date_from" class="form-control"/>
                <span class="title">From</span>
                <span class="icon"><i class="giga icon-date-icon"></i></span>
              </div>
              <div class="datetimepicker">
                <input type="text" name="rebates_filter_date_to" value="{{ filter_date_to}}" placeholder="Pick a date..." id="rebates_input-date_to" class="form-control"/>
                <span class="title">To</span>
                <span class="icon"><i class="giga icon-date-icon"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group pull-right">
            <div>
              <a onclick="filterRebates(this);" class="btn btn-primary" data-toggle="tooltip"
                 title="{{ btn_filter }}" id="rebates-filter-btn">{{ btn_filter }} </a>
              <a onclick="clrfilterRebates(this);" class="btn btn-default" data-toggle="tooltip" title="Reset">Reset</a>
              <a onclick="downloadRebates(this);" class="btn btn-default" data-toggle="tooltip"
                 title="Download " id="downloadRebates" style="margin-left:0;padding: 6px 12px;line-height: 29px">
                <i class="fa fa-download"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="text-align: center;">
        <div class="rebates-hot-map {% if status_condition=='rejected' %}active{% endif %}" onclick="doSearchRebate('rejected')">
          <div class="hot-map-status">REJECTED<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_rejected }}"></i></div>
          <div class="hot-map-num">{{ count_rejected }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='active' %}active{% endif %}" onclick="doSearchRebate('active')">
          <div class="hot-map-status">ACTIVE<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_active }}"></i></div>
          <div class="hot-map-num">{{ count_active }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='due_soon' %}active{% endif %}" onclick="doSearchRebate('due_soon')">
          <div class="hot-map-status">DUE SOON<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_due_soon }}"></i></div>
          <div class="hot-map-num">{{ count_due_soon }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='fulfilled' %}active{% endif %}" onclick="doSearchRebate('fulfilled')">
          <div class="hot-map-status">FULFILLED<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_fulfilled }}"></i></div>
          <div class="hot-map-num">{{ count_fulfilled }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='processing' %}active{% endif %}" onclick="doSearchRebate('processing')">
          <div class="hot-map-status">PROCESSING<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_processing }}"></i></div>
          <div class="hot-map-num">{{ count_processing }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='rebate_paid' %}active{% endif %}" onclick="doSearchRebate('rebate_paid')">
          <div class="hot-map-status">REBATE PAID<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_rebate_paid }}"></i></div>
          <div class="hot-map-num">{{ count_rebate_paid }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='rebate_declined' %}active{% endif %}" onclick="doSearchRebate('rebate_declined')" style="position: relative;">
          <div class="hot-map-status">REBATE<br>DECLINED<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_rebate_declined }}"></i></div>
          <div class="hot-map-num">{{ count_rebate_declined }}</div>
        </div>
        <div class="rebates-hot-map {% if status_condition=='failed' %}active{% endif %}" onclick="doSearchRebate('failed')">
          <div class="hot-map-status">FAILED<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_failed }}"></i></div>
          <div class="hot-map-num">{{ count_failed }}</div>
        </div>
      </div>
    </div>

    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product">
      <div class="table-responsive">
        <table class="table main table-hover">
          <thead>
          <tr>
            <th class="text-left">{{ column_agreement_id }} </th>
            <th class="text-center">Image</th>
            <th class="text-left">
              {% if sort  ==  'item_code' %}
                <a href="javascript:void(0)" onclick="columnSortRebate('{{ sort_item_code }}')" class="{{ order|lower }}">Item Code</a>
              {% else %}
                <a href="javascript:void(0)" onclick="columnSortRebate('{{ sort_item_code }}')">Item Code</a>
              {% endif %}
            </th>
            <th class="text-left">{{ column_day }} </th>
            <th class="text-right">Purchased QTY<br>/ Total QTY<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_purchased_qty }}"></i></th>
            <th class="text-left">
              {% if sort  ==  'status' %}
                <a href="javascript:void(0)" onclick="columnSortRebate('{{ sort_status }}')" class="{{ order|lower }}">{{ column_agreement_status }}</a>
              {% else %}
                <a href="javascript:void(0)" onclick="columnSortRebate('{{ sort_status }}')">{{ column_agreement_status }}</a>
              {% endif %}
            </th>
            <th class="text-left">
              {% if sort == 'rebate_result' %}
                <a href="javascript:void(0)" onclick="columnSortRebate('{{ sort_rebate_result }}')" class="{{ order|lower }}">{{ column_rebate_result }}</a>
              {% else %}
                <a href="javascript:void(0)" onclick="columnSortRebate('{{ sort_rebate_result }}')">{{ column_rebate_result }}</a>
              {% endif %}
            </th>
            <th class="text-left" style="width: 150px;">
              {% if sort  ==  'store_name' %}
                <a href="javascript:void(0)" onclick="columnSortRebate('{{ sort_store_name }}')" class="{{ order|lower }}">{{ column_store }}</a>
              {% else %}
                <a href="javascript:void(0)" onclick="columnSortRebate('{{ sort_store_name }}')">{{ column_store }}</a>
              {% endif %}
            </th>
            <th class="text-left">
              {% if sort  ==  'modify_date' %}
                <a href="javascript:void(0)" onclick="columnSortRebate('{{ sort_modify_date }}')" class="{{ order|lower }}">{{ column_modified_date }}</a>
              {% else %}
                <a href="javascript:void(0)" onclick="columnSortRebate('{{ sort_modify_date }}')">{{ column_modified_date }}</a>
              {% endif %}
              <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_last_modified }}"></i>
            </th>
            <th class="text-left">{{ column_action }} </th>
          </tr>
          </thead>

          {% if rebates_contracts %}
            {% for result in rebates_contracts %}
              <tbody>
              <tr>
                <td class="text-left">{{ result.agreement_code }}</td>
                <td class="text-center">
                  <img src="{{ result.image }}" class="thumbnail pull-left" style="margin-right:10px;max-width: 100px;"/>
                </td>
                <td class="text-left">
                  <a href="{{ result.product_link }}" target="_blank">{{ result.items_sku }}&nbsp;<i class="giga icon-table-link"></i></a>
                  {% if result.items_more %}
                    <br><span class="item-more">{{ result.items_more }}</span>
                  {% endif %}
                </td>
                <td class="text-left text-price">
                  {{ result.day }}
                  {% if result.rebate_result==2 and result.day_left %}
                    <br><span class="day-left">{{ result.day_left }}</span>
                  {% endif %}
                </td>
                <td class="text-right">
                  {% if result.rebate_result==2 and result.purchased_qty < result.qty %}
                    <span style="color: red;">{{ result.purchased_qty }}</span> / {{ result.qty }}
                  {% else %}
                    {{ result.purchased_qty }} / {{ result.qty }}
                  {% endif %}
                </td>
                <td class="text-left">
                  {% if result.status ==  0 %}
                    <span>{{ text_status_0 }}</span>
                  {% elseif result.status == 1 %}
                    <span>{{ text_status_1 }}</span>
                  {% elseif result.status == 2 %}
                    <span style="color:red;">{{ text_status_2 }}</span>
                  {% elseif result.status == 3 %}
                    <span style="color: #6dd400;">{{ text_status_3 }}</span>
                  {% elseif result.status == 4 %}
                    <span>{{ text_status_4 }}</span>
                  {% endif %}
                </td>
                <td class="text-left">
                  {% if result.rebate_result == 1 %}
                    <span>{{ text_result_status_1 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_active }}"></i></span>
                  {% elseif result.rebate_result == 2 %}
                    <span style="color: red;">{{ text_result_status_2 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_due_soon }}"></i></span>
                  {% elseif result.rebate_result == 3 %}
                    <span>{{ text_result_status_3 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_terminated }}"></i></span>
                  {% elseif result.rebate_result == 4 %}
                    <span>{{ text_result_status_4 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_failed }}"></i></span>
                  {% elseif result.rebate_result == 5 %}
                    <span style="color: #6dd400;">{{ text_result_status_5 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_fulfilled }}"></i></span>
                  {% elseif result.rebate_result == 6 %}
                    <span>{{ text_result_status_6 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_processing }}"></i></span>
                  {% elseif result.rebate_result == 7 %}
                    <span style="color: #6dd400;">{{ text_result_status_7 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_rebate_paid }}"></i></span>
                  {% elseif result.rebate_result == 8 %}
                    <span style="color: red;">{{ text_result_status_8 }}<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tip_rebate_decline }}"></i></span>
                  {% elseif result.rebate_result == -1 %}
                    <span>{{ text_result_status_h }}</span>
                  {% endif %}
                </td>
                <td class="text-left"><a href="{{ result.store_link }}">{{ result.store_name }}</a></td>
                <td class="text-left">{{ result.update_day }}<br><span class="text-update-hour">{{ result.update_hour }}</span> </td>
                <td class="text-left">
                  <div class="action-group">
                    <a href="{{ result.action.href }}" class="" data-toggle="tooltip" title="{{ result.action.text }}">
                      <i class="giga icon-action-preview"></i>
                    </a>
                    {% if result.status == 1 %}
                      <a onclick="cancelRebatesContract('{{ result.id }}','{{ result.action_cancel.href }}')" class="" data-toggle="tooltip" title="{{ result.action_cancel.text }}">
                        <i class="giga icon-sidebar-clear" style="font-weight: bold"></i>
                      </a>
                    {% endif %}
                    {% if result.status == 3 and (result.rebate_result==1 or result.rebate_result==2) %}
                      <a onclick="terminateRebatesContract('{{ result.id }}','{{ result.action_terminate.href }}')" class="" data-toggle="tooltip" title="{{ result.action_terminate.text }}">
                        <i class="fa fa-ban"></i>
                      </a>
                    {% endif %}
                    {% if result.status == 3 and (result.rebate_result==5 or result.rebate_result==8) %}
                      <a href="{{ result.action_edit.href }}" class="" data-toggle="tooltip" title="{{ result.action_edit.text }}">
                        <i class="giga icon-action-edit"></i>
                      </a>
                    {% endif %}
                  </div>
                </td>
              </tr>
              </tbody>
            {% endfor %}
          {% else %}
            <tbody>
            <tr>
              <td colspan="10" class="text-center">{{ text_no_results }} </td>
            </tr>
            </tbody>
          {% endif %}
        </table>
      </div>
    </form>
    {#{% include 'giga/template/_parts/pagination_simple.twig' %}#}
    <div  class="oris-row oris-pagination">
      <ul id="buyer_rebate_pagination"></ul>
    </div>
  </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade oris-modal" id="myModalRebateCancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="giga icon-V10_danchuangguanbi"></i>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          CONFIRM
        </h4>
      </div>
      <div class="modal-body">
        <h4>Do you confirm to cancel this rebate agreement?</h4>
        <div style="width: 100%; margin-top: 20px; position: relative;">
          <label >REASON</label>
          <span class="input-required" style="color:red; position: absolute; right: 0;">
              REQUIRED
          </span>
        </div>
        <div class="oris-comments">
          <textarea id="modalRebateReason" rows="5" class="modalRebateReason oris-input"  onkeyup="computWord(this)"></textarea>
          <div id="modalRebateReasonTips" class="modal-rebate-reason-tips"><span class="value">0</span>/1000</div>
          <input type="hidden" class="modalRebateId">
          <input type="hidden" class="modalRebateUrl">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="oris-button oris-button-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btnRebateConfirm oris-button" onclick="cancelRebatesAgreement(this)">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>



<!-- 模态框（Modal） -->
<div class="modal fade oris-modal" id="myModalRebateTerminate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="giga icon-V10_danchuangguanbi"></i>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          CONFIRM
        </h4>
      </div>
      <div class="modal-body">
        <h4>Do you confirm to terminate this rebate agreement?</h4>
        <div style="width: 100%; margin-top: 20px; position: relative;">
          <label >REASON</label>
          <span class="input-required" style="color:red; position: absolute; right: 0;">
              REQUIRED
          </span>
        </div>
        <div class="oris-comments">
          <textarea id="modalRebateTerminateReason" rows="5" class="modalRebateReason modal-rebate-terminate-reason oris-input"  onkeyup="computWord(this)"></textarea>
          <div id="modalRebateTerminateTips" class="modal-rebate-terminate-tips"><span class="terminate-value">0</span>/1000</div>
          <input type="hidden" class="modalRebateId">
          <input type="hidden" class="modalRebateUrl">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="oris-button oris-button-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btnRebateConfirm oris-button" onclick="terminateRebatesAgreement(this)">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>

<style>

</style>

<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css"
      rel="stylesheet" media="screen"/>
<script type="text/javascript" src="public/js/common/toolString.js"></script>
<script type="text/javascript">
    $('#rebates_input-date_from').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD 00:00:00'
    });
    $('#rebates_input-date_to').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD 23:59:59'
    });

    $(function () {
        rebate_pagination();
        block.unBlockUI();
        $('#rebates-filter-btn').button('reset');
    });

    function columnSortRebate(url) {
      block.blockUI();
      $('#bid-rebates').load(url,"page_limit={{ page_limit }}");
    }

    function rebate_pagination() {
        if ({{ total_pages }}) {
            $('#buyer_rebate_pagination').bootstrapPaginator({
                /*当前使用的是3版本的bootstrap*/
                bootstrapMajorVersion: 3,
                /*配置的字体大小是小号*/
                  size: 'normal',
                /*当前页*/
                currentPage: {{ page_num }},
                /*一共多少页*/
                totalPages: {{ total_pages }},
                total: {{ total }},
                rowsOfPage: {{ page_limit | default(20) }},
                /*页面上最多显示几个含数字的分页按钮*/
                numberOfPages: 5,
                onPageClicked: function (event, originalEvent, type, page) {
                    let url = "{{ pagination_url }}";
                    if (page) {
                        url += "&page=" + page;
                    } else {
                        url += "&page=" + {{ page_num }};
                    }
                    block.blockUI();
                    $('#bid-rebates').load(url,"page_limit=" + originalEvent['page_info']['page_limit'],function () {
                      block.unBlockUI();
                    });
                }
            });
        }
    }

    function clrfilterRebates(button) {
        block.blockUI();
        let url = '{{action}}';
        $('#bid-rebates').load(url,"page_limit={{ page_limit }}");
        $(button).button('loading');
    }

    function filterRebates(button) {
        block.blockUI();

        let url = '{{ action }}';

        url = getUrlFilterRebates(url);

        $('#bid-rebates').load(url,"page_limit={{ page_limit }}");
        $(button).button('loading');
    }

    function getUrlFilterRebates(url){
      var filter_id = $('input[name=\'rebates_filter_id\']').val();

      if (filter_id) {
        url += '&filter_id=' + encodeURIComponent(filter_id);
      }

      var filter_store_name = $('input[name=\'rebates_filter_store_name\']').val();

      if (filter_store_name) {
        url += '&filter_store_name=' + encodeURIComponent(filter_store_name);
      }

      var filter_sku_mpn = $('input[name=\'rebates_filter_sku_mpn\']').val();
      if (filter_sku_mpn) {
        url += '&filter_sku_mpn=' + encodeURIComponent(filter_sku_mpn);
      }

      var filter_status = $('select[name=\'rebates_filter_status\']').val();

      if (filter_status != '*') {
        url += '&filter_status=' + encodeURIComponent(filter_status);
      }

      var filter_result_status = $('select[name=\'filter_result_status\']').val();

      if (filter_result_status != '*') {
        url += '&filter_result_status=' + encodeURIComponent(filter_result_status);
      }

      var filter_date_from = $('input[name=\'rebates_filter_date_from\']').val();
      if (filter_date_from) {
        url += '&filter_date_from=' + encodeURIComponent(filter_date_from);
      }
      var filter_date_to = $('input[name=\'rebates_filter_date_to\']').val();
      if (filter_date_to) {
        url += '&filter_date_to=' + encodeURIComponent(filter_date_to);
      }
      return url;
    }

    function cancelRebatesContract(contract_id,url) {
        $("#myModalRebateCancel").find(".modalRebateId").val(contract_id);
        $("#myModalRebateCancel").find(".modalRebateUrl").val(url);
        $("#modalRebateReason").val("");
        $(".value").text(0);
        $("#modalRebateReason").parentsUntil(".modal-content").parent().find(".input-required").text("REASON can not be left blank");
        $(".btnRebateConfirm").attr('disabled', true);
        $("#myModalRebateCancel").modal();
    }

    function terminateRebatesContract(contract_id,url){
      $("#myModalRebateTerminate").find(".modalRebateId").val(contract_id);
      $("#myModalRebateTerminate").find(".modalRebateUrl").val(url);
      $("#modalRebateTerminateReason").val("");
      $(".terminate-value").text(0);
      $("#modalRebateTerminateReason").parentsUntil(".modal-content").parent().find(".input-required").text("REASON can not be left blank");
      $(".btnRebateConfirm").attr('disabled', true);
      $("#myModalRebateTerminate").modal();
    }

    function editRebatesContract(contract_id, url) {
      window.location.href=url+""+contract_id;
    }


    function doSearchRebate(_condition) {
      switch (_condition) {
        case 'rejected':
          $('select[name=\'rebates_filter_status\']').val(2);
          $('select[name="filter_result_status"]').val('*');
          break;
        case 'active':
          $('select[name=\'rebates_filter_status\']').val('*');
          $('select[name="filter_result_status"]').val(1);
          break;
        case 'due_soon':
          $('select[name=\'rebates_filter_status\']').val('*');
          $('select[name="filter_result_status"]').val(2);
          break;
        case 'fulfilled':
          $('select[name=\'rebates_filter_status\']').val('*');
          $('select[name="filter_result_status"]').val(5);
          break;
        case 'processing':
          $('select[name=\'rebates_filter_status\']').val('*');
          $('select[name="filter_result_status"]').val(6);
          break;
        case 'rebate_paid':
          $('select[name=\'rebates_filter_status\']').val('*');
          $('select[name="filter_result_status"]').val(7);
          break;
        case 'rebate_declined':
          $('select[name=\'rebates_filter_status\']').val('*');
          $('select[name="filter_result_status"]').val(8);
          break;
        case 'failed':
          $('select[name=\'rebates_filter_status\']').val('*');
          $('select[name="filter_result_status"]').val(4);
          break;
        default:
          break;
      }

      filterRebates();
    }

    function downloadRebates(_this, sort, order) {
      var url = '{{ action_download_buyer }}';
      url = getUrlFilterRebates(url);
      window.location.href = url;
    }

    function computWord(_this) {
      let words = $(_this).val();
      $(_this).parentsUntil(".modal-content").parent().find(".count-word").text(words.length + "/2000");
      if (words.length > 2000) {
        $(_this).parentsUntil(".modal-content").parent().find(".input-required").text("REASON can not be more than 2000 characters");
        $(".btnRebateConfirm").attr('disabled', true);
      } else if(words.length < 1){
        $(_this).parentsUntil(".modal-content").parent().find(".input-required").text("REASON can not be left blank");
        $(".btnRebateConfirm").attr('disabled', true);
      } else {
        $(_this).parentsUntil(".modal-content").parent().find(".input-required").text("REQUIRED");
        $(".btnRebateConfirm").attr('disabled', false);
      }
    }

    function cancelRebatesAgreement(_this) {
      let reload_url = '{{ action }}';
      let contract_id = $("#myModalRebateCancel").find(".modalRebateId").val();
      let url = $("#myModalRebateCancel").find(".modalRebateUrl").val();
      let reason = $.trim($("#myModalRebateCancel").find(".modalRebateReason").val());
      let param = {'contract_id': contract_id, 'reason': reason};

      if(reason.length < 1){
        return false;
      }

      $(_this).attr('disabled', true);
      $.ajax({
        url: url,
        type: 'post',
        data: param,
        dataType: 'json',
        beforeSend : function (){
          block.blockUI();
        },
        success: function (json) {
          block.unBlockUI();
          if(json['success']){
            layer.msg(json['success']);
            $("#myModalRebateCancel").modal("hide");
            setTimeout(function(){
              block.blockUI();
              $('#bid-rebates').load(reload_url,"page_limit={{ page_limit }}");
            }, 2000);
          }else if('error'){
            alert(json['error']);
            //$("#myModalRebateCancel").find(".input-required").text(json['error']);
          }
        },
        complete:function(XMLHttpRequest, textStatus){
          block.unBlockUI();
          $(_this).attr('disabled', false);
        }
      });
    }

    function terminateRebatesAgreement(_this){
      let reload_url = '{{ action }}';
      let contract_id = $("#myModalRebateTerminate").find(".modalRebateId").val();
      let url = $("#myModalRebateTerminate").find(".modalRebateUrl").val();
      let reason = $.trim($("#myModalRebateTerminate").find(".modalRebateReason").val());
      let param = {'contract_id': contract_id, 'reason': reason};

      if(reason.length < 1){
        return false;
      }

      $(_this).attr('disabled', true);
      $.ajax({
        url: url,
        type: 'post',
        data: param,
        dataType: 'json',
        beforeSend : function (){
          block.blockUI();
        },
        success: function (json) {
          block.unBlockUI();
          if(json['success']){
            layer.msg(json['success']);
            $("#myModalRebateTerminate").modal("hide");
            setTimeout(function(){
              block.blockUI();
              $('#bid-rebates').load(reload_url,"page_limit={{ page_limit }}");
            }, 2000);
          }else if('error'){
            alert(json['error']);
            $("#myModalRebateTerminate").find(".input-required").text(json['error']);
          }
        },
        complete:function(XMLHttpRequest, textStatus){
          block.unBlockUI();
          $(_this).attr('disabled', false);
        }
      });
    }

    //对文本框计数
    $("#modalRebateReason").bind("input propertychange change", function() {
      var userDesc = $("#modalRebateReason").val();
      //获取输入内容
      var calcReturn = toolString.calcStringLength(userDesc, 1000);
      $("#modalRebateReason").val(calcReturn.fullStr)
      //显示字数
      $(".value").text(calcReturn.len);
    })
    $("#modalRebateTerminateReason").bind("input propertychange change", function() {
      var userDesc = $("#modalRebateTerminateReason").val();
      //获取输入内容
      var calcReturn = toolString.calcStringLength(userDesc, 1000);
      $("#modalRebateTerminateReason").val(calcReturn.fullStr)
      //显示字数
      $(".terminate-value").text(calcReturn.len);
    })
</script>

