{{ header }}
<div id="page-bid-list-spot-price-bid" class="page-seller-portal">
  {#菜单#}
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}
  {#END 菜单#}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ heading_title }}</h1>
      </div>
    </div>

    <div class="row mb-4">
      {% set class = 'col-sm-12' %}
      <div id="content" class="{{ class }}">
        <div class="tab-content main">
          <div role="tabpanel" class="tab-pane active" id="tab-1">
            <div class="bg-white p-2">
              <h4 style="font-weight: bold">
                <i class="fa fa-file-text-o"></i> {{ contract_title }}
              </h4>
              <div class="table-responsive">
                <table class="table table-hover main">
                  <tbody>
                  {% if contract_detail %}
                    <tr>
                      <th class="contract-th">{{ column_contract_id }} #</th>
                      <td class="contract-td">{{ contract_detail.contractId }}</td>
                      <th class="contract-th">{{ column_status }}</th>
                      <td class="contract-td">{{ contract_detail.status_text }}</td>
                      <th class="contract-th">{{ column_modified_date }}</th>
                      <td class="contract-td">{{ contract_detail.update_time }}</td>
                    </tr>
                    <tr>
                      <th class="contract-th">{{ column_effect_time }}</th>
                      <td class="contract-td">{{ contract_detail.effect_time }}</td>
                      <th class="contract-th">{{ column_expire_time }}</th>
                      <td class="contract-td">{{ contract_detail.expire_time }}</td>
                      <th class="contract-th"></th>
                      <td class="contract-td"></td>
                    </tr>
                    <tr>
                      <th class="contract-th">{{ column_item_code }}</th>
                      <td class="contract-td">{{ contract_detail.sku }}</td>
                      <th class="contract-th">{{ column_store }}</th>
                      <td class="contract-td">
                        <a href="{{ contract_detail.store_link }}" target="_blank">{{ contract_detail.store_name }}
                        {% if contract_detail.store_name %}
                          <i class="giga icon-table-link"></i>
                        {% endif %}</a>
                        <a href="{{ contract_detail.contact_link }}" target="_blank"><i class="fa fa-commenting-o"></i></a>
                      </td>
                      <th class="contract-th"></th>
                      <td class="contract-td"></td>
                    </tr>
                    <tr>
                      <th class="contract-th">{{ column_product_name }}</th>
                      <td style="font-size: 15px;font-weight: normal;" colspan="5">
                        <img src="{{ contract_detail.image }}">
                        <a href="{{ contract_detail.product_link }}" target="_blank">{{ contract_detail.product_name }}</a>
                      </td>
                    </tr>
                    <tr>
                      <th class="contract-th">{{ column_detail_day_to_sell}}</th>
                      <td class="contract-td">{{ contract_detail.day }}</td>
                      <th class="contract-th">{{ column_detail_qty }}</th>
                      <td class="contract-td text-price">{{ contract_detail.qty }}</td>
                      <th class="contract-th">{{ column_detail_discount_amount }}
                        <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="" data-original-title="{{ tip_buyer_discount }}"></i>
                      </th>
                      <td class="contract-td text-price">{{ contract_detail.rebates_amount }}</td>
                    </tr>
                    <tr>
                      <th class="contract-th">Exclusive Price(Unit)
                        <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="" data-original-title="{{ tip_buyer_exclusive_price }}"></i>
                      </th>
                      <td class="contract-td text-price">{{ contract_detail.price }}</td>
                      <th class="contract-th">Price after Rebate(Unit)
                        <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer" title="" data-original-title="{{ tip_buyer_discount_price }}"> </i>
                      </th>
                      <td class="contract-td text-price">{{ contract_detail.rebates_price }}</td>
                      <th class="contract-th">{{ column_detail_price_limit }}</th>
                      <td class="contract-td text-price">{{ contract_detail.limit_price }}</td>
                    </tr>
                  {% endif %}
                  </tbody>
                </table>
              </div>
              <h4 style="font-weight: bold">
                <i class="fa fa-comments"></i> {{ message_title }}
              </h4>
              <div style="border: 1px solid #ddd">
                <div style="padding: 10px 10px 10px 10px">
                  <div class="message-div conversational-message-wrapper message-section mt-2" id="contract_message_history">
                    {% if messages %}
                      {% for msg in messages %}
                        {% if msg.writer_id == customer_id %}
                          {#buyer#}
                          <div class="message-item outgoing">
                            <div class="left">
                              {#<img src="//via.placeholder.com/40" alt="" class="avatar" style="width: 40px;">#}
                              <i class="giga icon-account-blue" style="font-size: 26px;"></i>
                            </div>
                            <div class="right">
                              <div class="info">
                                <span>{{ msg.name }}</span>
                                <span><i class="giga icon-Action-Time"></i>{{ msg.msg_date }}</span>
                              </div>
                              <div class="content">
                                {{ msg.message }}
                              </div>
                            </div>
                          </div>
                        {% else %}
                          <div class="message-item incoming">
                            <div class="left">
                              {#<img src="//via.placeholder.com/40" alt="" class="avatar" style="width: 40px;">#}
                              <i class="giga icon-account-blue" style="font-size: 26px;"></i>
                            </div>
                            <div class="right">
                              <div class="info">
                                <span>{{ msg.name }}</span>
                                <span><i class="giga icon-Action-Time"></i>{{ msg.msg_date }}</span>
                              </div>
                              <div class="content">
                                {{ msg.message }}
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                  {% if contract_detail.status == 1 %}
                    <div style="position: relative">
                      <span>{{ text_message_title }}</span>
                      <textarea id="contract_message" style="resize: none;height: 60px;width: 92%;border: 1px solid #ddd;"
                                placeholder="{{ text_message_placeholder }}" maxlength="2000" required></textarea>
                      <button class="btn btn-primary" style="position: absolute;top: 38%;right: 5px;width: 70px" type="button"
                              onclick="sendMessage(this)">{{ btn_send }}</button>
                    </div>
                  {% endif %}
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<script type="text/javascript" src="catalog/view/javascript/layer/layer.js"></script>
<script>
  function messageToEnd() {
    var message_div = $('#contract_message_history');
    var h = $(document).height() - $(window).height();
    message_div.scrollTop(h);
  }

  $(document).ready(function () {
    messageToEnd();
  });

  function sendMessage(button) {
    $(button).button('loading');
    var msg = $('#contract_message').val();
    if (msg) {
      if (msg.length <= 2000) {
        var param = {
          'message': msg,
          'contract_id':{{ contract_detail.contractId }}
        };
        $.ajax({
          url: '{{ send_message_action }}',
          dataType: 'json',
          type: 'post',
          data: param,
          success: function (json) {
            if (json['success']) {
              var message_html = "<div class=\"message-my-div\">" +
                "<div>" +
                "<span class=\"message-name\"><li>" + json['success']['name'] + "</li></span>" +
                "<span class=\"message-date\"><i class=\"fa fa-clock-o\"></i>" + json['success']['msg_date'] + "</span>" +
                "</div>" +
                "<div class=\"message-body\">" + json['success']['message'] + "</div>" +
                "</div>";

              $('#contract_message_history').append(message_html);
              $('#contract_message').val("");

              messageToEnd();
              $(button).button('reset');
            } else if (json['error']) {
              layer.alert(json['error'], {
                title: 'Message',
                btn : 'OK',
                skin: 'yzc_layer',
                icon: 2
              });
              $(button).button('reset');
            }
          }
        });
      } else {
        layer.alert('{{ error_msg_large }}', {
          title: 'Message',
          btn : 'OK',
          skin: 'yzc_layer',
          icon: 2
        });
        $(button).button('reset');
      }
    } else {
      layer.alert('{{ error_msg_empty }}', {
        title: 'Message',
        btn : 'OK',
        skin: 'yzc_layer',
        icon: 2
      });
      $(button).button('reset');
    }
  }
</script>
<style>
  .contract-th {
    background-color: #F2F2F2;
    font-size: 15px;
    font-weight: normal;
    width: 12%;
  }

  .contract-td {
    width: 18%;
    font-size: 15px;
    font-weight: normal;
  }

  .message-div {
    border-bottom: 1px solid #ddd;
    height: 170px;
    margin-bottom: 20px;
    overflow: auto;
  }

  .message-my-div {
    float: right;
    width: 60%;
    background-color: #DFF0D8;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
  }

  .message-other-div {
    float: left;
    width: 60%;
    background-color: #F4E4D7;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
  }

  .message-name {
    display: inline-block;
    width: 70%;
    margin: 0 10px 0 10px;
  }

  .message-date {
    display: inline-block;
    text-align: right;
    margin: 0 10px 0 10px;
  }

  .message-body {
    margin: 0 10px 0 10px;
    word-break: break-word;
  }
</style>