{{header}}
<style>
  .checkbox-plus-2 input + span.icon:before{
    font-size: 20px;
  }
  #errorMessageArea{
    color: #ff0000;
    display: none;
  }
</style>
<div id="page-bid-list-detail" class="page-seller-portal">
  {% include 'giga/template/_parts/breadcrumb_simple.twig' with {'items': ['Buyer Center', 'Bid List']} %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ heading_title }}
          <span class="pull-right"><i class="fa fa-clock-o"></i>{{result.date_added}}</span>
        </h1>

        {% if success %}
          <div class="alert alert-success"><i class="fa fa-check-circle"></i>{{ success }} </div>
        {% endif %}
        {% if error_warning %}
        <div class="alert alert-danger">
        <i class="fa fa-exclamation-circle"></i>{{ error_warning}}</div>
        {% endif %}
        <div class="alert alert-danger" id="warning-title" style="display: none">
        <i class="fa fa-exclamation-circle"></i>{{ error_warning}}</div>

        </div>
        <div class="tab-content main mb-4">
          <div role="tabpanel" class="tab-pane active" id="upload">
            <div class="bg-white p-2">
              <h2>{{text_details}}</h2>
              <div class="info-wrapper mb-4 mt-2">
                <div class="row">
                  {% set col_md = (result.status == 3?2:3) %}
                  <div class="col-md-{{col_md}}">
                    <span><i class="giga icon-summary-quote"></i></span>
                    <span class="title">{{text_id}}</span>
                    <span class="value">{{result.agreement_no}}</span>
                  </div>
                  <div class="col-md-{{col_md}}">
                    {% set statusClass = result.status == 0 ? 'text-warning' :  result.status == 1 ? 'text-success' :  result.status == 2 ? 'text-danger' : '' %}
                    <span><i class="giga icon-summary-status"></i></span>
                    <span class="title">{{text_status}}</span>
                    <span class="value {{statusClass}}">{{result.status_text}} </span>
                  </div>
                  <div class="col-md-{{col_md}}">
                    <span><i class="giga icon-summary-barcode"></i></span>
                    <span class="title">{{ text_sku }}</span>
                    <span class="value">
                      <a href="{{result.href}}" target="_blank"><b>{{result.sku}} </b></a>
                      {% if result.option %}
                        {% for key, option in result.option %}
                          <br/>&nbsp;&nbsp; - <small>{{option.name}} {{option.value}} </small>
                        {% endfor %}
                          <br/>
                      {% endif %}
                    </span>
                  </div>
                  <div class="col-md-{{col_md}}">
                    <span><i class="giga icon-summary-sransaction-status"></i></span>
                    <span class="title">{{text_option_price}}
                       <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer;font-size: 12px;"
                          title="" data-original-title="{{ tip_current_price }}"></i>
                    </span>
                    <span class="value">{{result.baseprice}}</span>
                  </div>
                  {% if result.status == '3'%}
                    <div class="col-md-2">
                      <span><i class="giga icon-summary-sransaction-status"></i></span>
                      <span class="title">{{text_sold_info}}<br>{{text_order_id}}</span>
                      <span class="value"># <a href="{{result.orderhref}}" target="_blank">{{result.order_id}} </a></span>
                    </div>
                    <div class="col-md-2">
                      <span><i class="giga icon-summary-sransaction-status"></i></span>
                      <span class="title">{{text_date_used }}</span>
                      <span class="value">{{result.date_used}}</span>
                    </div>
                  {% endif %}
                </div>
              </div>

              <h2>{{text_info}}</h2>
              <div class="well" style="word-break: break-word;">
                {{result.message}}
              </div>

              <h2>{{text_ask}}</h2>
              <div class="conversational-message-wrapper message-section mt-2">
                {% if result.messages %}
                  {% for message in result.messages %}
                    {% if message.writer == customer_id %}
                    {#buyer#}
                      <div class="message-item outgoing">
                        <div class="left">
                          <img src="//via.placeholder.com/40" alt="" class="avatar">
                        </div>
                        <div class="right">
                          <div class="info">
                            <span>Me</span>
                            <span><i class="giga icon-Action-Time"></i>{{message.date}}</span>
                          </div>
                          <div class="content">
                            {{message.message}}
                          </div>
                        </div>
                      </div>
                    {% elseif message.writer %}
                      <div class="message-item incoming">
                        <div class="left">
                          <i class="giga icon-account-blue" style="font-size: 26px;"></i>
                        </div>
                        <div class="right">
                          <div class="info">
                            <span>Seller</span>
                            <span><i class="giga icon-Action-Time"></i>{{message.date}}</span>
                          </div>
                          <div class="content">
                            {{message.message}}
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <div class="message-item incoming">
                        <div class="left">
                          <i class="giga icon-account-blue" style="font-size: 26px;"></i>
                        </div>
                        <div class="right">
                          <div class="info">
                            <span>Admin</span>
                            <span><i class="giga icon-Action-Time"></i>{{message.date}}</span>
                          </div>
                          <div class="content">
                            {{message.message}}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {{text_no_message}}
                {% endif %}
              </div>
              <form id="quoteForm" action="{{action}}" method="post" enctype="multipart/form-data" class="quoteEdit">
                <h2>{{text_edit_quote}}</h2>
                <div class="form-wrapper mt-3">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="price-quote">{{text_quotes_price}}
                          <i class="giga icon-V10-wenhaotishi"
                             data-toggle="tooltip"
                             style="cursor: pointer;font-size: 12px"
                             data-original-title="{{ tip_request_price }}">
                          </i>
                        </label>
                        <div class="input-group">
                          <input type="text" name="quote_price" maxlength="10" class="form-control" value="{{result.price}}" onkeyup="input_money(this)" disabled id="price-quote"/>
                          <span class="input-group-addon addon" style="">/ Unit</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="quantity-quote">{{text_quanity}}</label>
                        <input type="text" name="quote_quantity" maxlength="10" class="form-control" value="{{result.quantity}}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" disabled id="quantity-quote"/>
                      </div>
                    </div>
                  </div>
                  {% if not result.status %}
                    <div class="row">
                      <div class="col-md-12">
                        <div class="checkbox checkbox-plus-2 mb-2">
                          <label>
                            <input type="checkbox" name="quote_edit" value="1" id="edit-quote" onclick="editQuote(this);"> <span class="icon"></span><span>{{text_edit_quote}}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  <div class="row mb-2">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">{{text_message_to_store}}</label>
                        <textarea name="message" rows="4" class="form-control mb-1 mt-1 textarea-drag-none" id="messageArea" required></textarea>
                        <span class="text-muted float-left" id="errorMessageArea">Message can not be empty or more than 2000 characters</span>
                        <span class="text-muted float-right">2,000 chars left</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input type="hidden" name="update_time" value="{{ result.update_time }}">
                      <button type="submit" onclick="return submitForm(this)" class="btn btn-primary btn-send" data-toggle="tooltip" title="{{text_send_message}}"><i class="giga icon-action-send-message"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{footer}}

<script>

    let quote_price = '{{ result.price }}';
    let quote_quantity = '{{ result.quantity }}';
    let seller_min_quantity = '{{ seller_min_quantity }}';
    let seller_max_quantity = '{{ seller_max_quantity }}';
    let is_japan = '{{ is_japan }}';

    //表单自动提交改手动提交 添加loading
    function submitForm(button) {
        let message = $("#messageArea").val();
        if (message == undefined || message == '' || message.length > 2000) {
            $("#errorMessageArea").show();
            return false;
        }
        $("#errorMessageArea").hide();
        $(button).button('loading');
      return true;
    }

    function editQuote(thisthis) {
        if ($('#' + thisthis.id).is(":checked"))
            $('.quoteEdit input[type=\'text\']').attr('disabled', false);
        else
            $('.quoteEdit input[type=\'text\']').attr('disabled', true);
    }

    $(".quoteEdit").on('change', 'input', function () {
        let this_value = $(this).val();

        if ($(this).attr('name').indexOf('quantity') > 0) {
            if (this_value === undefined || this_value == '' || this_value == 0 || parseInt(this_value) < parseInt(seller_min_quantity)) {
                layer.alert('Please add at least minimum quantity ' + seller_min_quantity + ' for this Product !', {skin: 'yzc_layer', title:"Message", btnAlign:"c", btn:['Yes']});
                $(this).val(quote_quantity);
            }
            if (parseInt(this_value) > parseInt(seller_max_quantity)) {
                layer.alert('Quantity Requested cannot exceed the current available inventory.', {skin: 'yzc_layer', title:"Message", btnAlign:"c", btn:['Yes']});
                $(this).val(quote_quantity);
            }
        } else {
            if (this_value === undefined || this_value == '' || this_value == 0) {
                layer.alert('Please add quote price for this Product !', {skin: 'yzc_layer', title:"Message", btnAlign:"c", btn:['Yes']});
                $(this).val(quote_price);
            }
        }
    });

    function input_money(_this) {
      if (!is_japan) {
        _this.value = _this.value.replace(/[^0-9.]/g, '');
      } else {
        if (_this.value.length == 1) {
          _this.value = _this.value.replace(/[^1-9]/g, '')
        } else {
          _this.value = _this.value.replace(/\D/g, '')
        }
      }
    }
</script>
