{{header}}

<style>
.breadcrumb{
  display: none;
}
#errorinput
{
    border-color: #F8ACAC;
    color: red;
    display: none;
    margin-top: 4px;
}
#wpq_div{
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 2px solid;
    color: #008BB6;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 4px;
}
#wpq{
    margin-bottom: 12px;
    border: 1px solid #C6C6C6;
    border-collapse: collapse;
    border-radius: 4px 4px 4px 4px;
    border-spacing: 0;
    height: auto;
    padding: 10px;
    width: auto;
}
#wpq_td_tab{
  border: 1px solid #ABBAC9;
    background: none repeat scroll 0 0 white;
    height: auto;
    width: 100%;
    border-collapse: collapse;
  border-spacing: 0;
  min-width: 547px;
}
#wpq td{
    color: #696969;
    font-family: 'Trebuchet MS';
    font-size: 13px;
    height: 24px;
    margin: 0;
    text-indent: 5px;
   min-width: 153px;
   vertical-align: top;
}

#wpq input[type="text"],textarea{
  width: 98%;
  max-width: 476px;
    border-radius: 3px 3px 3px 3px;
}
#wpq input[type="text"]:focus,textarea:focus{
  border: 1px solid #fafafa;
  border-radius: 3px 3px 3px 3px;
    max-width: 476px;
    width: 98%;
    background: white;
    box-shadow: 0px 0px 5px #007eff;

}
#wpq_tab {
  border-collapse:separate;
  border-spacing: 1em;
}
#but_here{
  border: 0px;
}
</style>
{% if error_warning %}
<div class="warning">{{error_warning}} </div>
{% endif %}
{% ifthis.sessiondata'success'  and  this.sessiondata'success' == not "" %}
<div class="success">{{this.sessiondata'success'}} </div>
{% endif %}
{% ifthis.sessiondata'error_warning'  and  this.sessiondata'error_warning' == not "" %}
<div class="warning">{{this.sessiondata'error_warning'}}this.sessiondata'error_warning''' </div>
{% endif %}
this.sessiondata'success'""
{{column_left}}{{column_right}}
<div id="content">{{content_top}}
  <div class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
   {{breadcrumb.separator}} <a href="{{breadcrumb.href}} ">{{breadcrumb.text}} </a>
    {% endfor %}
  </div>

  <div id="wpq_div">{{heading_title}} </div>
  <form action="{{action}} " method="post" enctype="multipart/form-data" id="formwpq">
    <div id="wpq">
        <table id="wpq_tab">
         <tbody>
          <tr>
            <td>{{wk_product_quotes_aprice}} </td>
            <td><input type="text" name="wk_pro_qap" value="{% if wk_pro_qap%}{{wk_pro_qap}} {% endif %} " readonly>
                <input type="hidden" name="wk_pro_pre_id" value="{% ifwk_pro_id%}{{wk_pro_id}}{% endif %} " >
            </td>
          </tr>
          <tr>
            <td>{{wk_product_quotes_quantity}} </td>
            <td><input type="text" name="wk_pro_qquantity" value="{% ifwk_pro_qquantity%}{{wk_pro_qquantity}} {% endif %} " required></td>
          </tr>
          <tr>
            <td>{{wk_product_quotes_qprice}} </td>
            <td><input type="text" name="wk_pro_qqp" value="{% if wk_pro_qqp%}{{wk_pro_qqp}} {% endif %} " required></td>
          </tr>
          <tr>
            <td >{{wk_product_quotes_quote}} </td>
            <td><textarea name="wk_pro_qquote" cols="60" rows="7" required>{% if wk_pro_qquote%}{{wk_pro_qquote}} {% endif %} </textarea></td>
          </tr>

         </tbody>

        </table>
    </div>

    <div class="buttons" id="but_here">

      <div class="left">
        <a href="{{back}} " class="button">{{button_back}} </a>

      </div>


      <div class="right">
        <input type="submit" value="{{button_save}} " class="button" />
      </div>
    </div>


  </form>

{{content_bottom}} </div>

{{footer}}
