{{ this.title('Contact Information') }}
{{ this.params('breadcrumbs', [
  'home',
  {
    text: 'Account Settings',
    href: url('account/setting')
  },
  'current'
]) }}
{{ this.params('pageTitle', {show: true}) }}
{{ css(['static/account/setting/add_contacts.css']) }}
{{ cssOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css',
  '/catalog/view/javascript/user_portrait/user_portrait.css']) }}
<div id="page-add_contacts" class="tab-content main contact-information">
  <div role="tabpanel" class="tab-pane active msg-card" id="upload">
    <div class="bg-white pt-2 pb-3 contact-information-content">
      <div class="finished-message">
        <p class="finished-message-content">
          The provided information is only displayed to Sellers who have had transactions with you. You can cancel the recommendation through the Privacy Settings below.
        </p>
      </div>
      <div class="tab-content main mtb-04 no-shadow no-radius verify-msg" >
        <div role="tabpanel" class="tab-pane active" id="tab-1">
          <div class="bg-white">
            <div class="form-wrapper edit buyer-info">
              <div class="flex-layout-mobile">
                <label class="info-label mobile-lable">Phone Number</label>
                <div class=" just-flex">
                  <div class="oris-select select-width" id="countryCodeList" >
                    <select class="oris-select-prerender" id="countryCode" >
                      <option value="0">Select</option>
                      {%  for i,item in tel_country_code %}
                        <option value="{{item.id }}" data-index="{{ i }}">{{ item.desc_en }}+{{ item.code }}</option>
                      {% endfor %}
                    </select>
                    <div class="text-danger text-small mt-octal1 numError none">Required</div>
                    <div class="text-danger text-small mt-octal1 return-error"></div>
                  </div>
                  <div class="phone-left">
                    <input id="telephoneNum" class="oris-input telephone-number mobile-input"
                           value="{{ customer_info.contacts_phone }}" type="text" placeholder="Phone Number"
                           maxlength="20" onkeyup="value=value.replace(/[^\d]/g,'')"
                           onblur="value=value.replace(/[^\d]/g,'')" autocomplete="off" >
                    <div class="text-danger text-small mt-octal1 numError none">Only 3-12 digits are peritted.</div>
                    <div class="text-danger text-small mt-octal1 return-error"></div>
                  </div>
                </div>
              </div>
              <div class="just-flex just-flex-privacy">
                <label class="info-label privacy-setting" for="input-email">Privacy Settings</label>
                <div >
                  <div class="radio">
                    <input type="radio" class="input-radio " name="optionsRadios" id="optionsRadios1" value="0"
                           {% if customer_info.contacts_open_status==0  or (customer_info is empty) %}checked {% endif %}>
                    <span class="radio-content">
                      The above info is invisible to all Sellers.
                    </span>
                  </div>
                  <div class="radio">
                    <input type="radio" class="input-radio" name="optionsRadios" id="optionsRadios2" value="1"
                           {% if customer_info.contacts_open_status==1  %}checked {% endif %}>
                    <span class="radio-content">
                      The above info is only displayed to Sellers who have had transactions with you.
                    </span>
                  </div>
                </div>
              </div>
              <div class="update-btn">
                <button  id="buyerBtn" class="oris-button mt-3 oris-button-bigger oris-w120" disabled>Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ jsOrigin(['catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js']) }}
<script>
  let $telephoneNum = $("#telephoneNum");
  let $countryCode = $("#countryCode");

  $(document).ready(function () {
    var val ={{ customer_info.contacts_country_id|js_var }}
    if(val){
      $('#countryCode').selectpicker('val',val)
    }else{
      $('#countryCode').selectpicker('val',)
    }
    countrySelect()
    verifyTel();
  });

  //验证手机号
  function verifyTel() {
    var phoneRule = /^\d{1,20}$/;
    if (!phoneRule.test($telephoneNum.val())){
      telCheck = false;
      $("#buyerBtn").attr('disabled','disabled')
    }else{
      $telephoneNum.next('.numError').addClass('none');
      $telephoneNum.removeClass('border-danger');
      $telephoneNum.prev('.msg-title').removeClass('text-danger');
      $telephoneNum.next().next('.return-error').html('');
      telCheck = true;
      $("#buyerBtn").removeAttr('disabled');
    }
  }

  //国家码
  $("#countryCodeList").on('click',function () {
    var list = {{ tel_country_code |js_json}}
      $("#countryCodeList ul.dropdown-menu li:not(:first-child)").each(function (i,n) {
        var opt = `<span class="code">${list[i+1].desc_en}</span><span class="right-country-code">+${list[i+1].code} </span>`
        $(this).children('a.dropdown-item').html(opt)
      })
  })

  //国家码select框样式调整
  $("#countryCode").on('changed.bs.select',function () {
    verifyTel()
    countrySelect()
  })

  function countrySelect() {
    var countryList = {{ tel_country_code |js_json}}
    var code = $('#countryCode').children('option:selected').attr('data-index');
    if(countryList[code]){
      var countryValue = `<span class="desc_en"></span><span class="country-style"> +${countryList[code].code}</span>`
      $("#countryCodeList").find('div.filter-option-inner-inner').html(countryValue);
      $('.country-style').addClass('counrty-code-color')
    }else {}
  }

  //监听select是否有值
  $(".verify-msg #countryCode").on('change input keyup blur',function () {
    var that = this;
    if (telCheck==true){
      $("#buyerBtn").removeAttr('disabled');
    }
    if($countryCode.val()=='0'){
      $("#buyerBtn").attr('disabled','disabled')
      $("#countryCodeList").find('div.oris-select-prerender').next('.numError').removeClass('none');
      $("#countryCodeList").find('button.dropdown-toggle').addClass('border-danger');
      $("#countryCodeList").find('div.oris-select-prerender').prev('.msg-title').addClass('text-danger');
      $("#countryCodeList").find('div.oris-select-prerender').next().next('.return-error').html('');
      telCheck = false;
    }else {
      $("#countryCodeList").find('div.oris-select-prerender').next('.numError').addClass('none');
      $("#countryCodeList").find('button.dropdown-toggle').removeClass('border-danger');
      $("#countryCodeList").find('div.oris-select-prerender').prev('.msg-title').removeClass('text-danger');
      $("#countryCodeList").find('div.oris-select-prerender').next().next('.return-error').html('');
      telCheck = true;
    }
  });

  //监听radio是否有值
  $(".verify-msg .input-radio").on('change input keyup blur',function () {
    var that = this;
    if (telCheck==true && $countryCode.val()!='0'){
      $("#buyerBtn").removeAttr('disabled');
    }else{
      $("#buyerBtn").attr('disabled','disabled')
    }
  });

  //监听输入框是否有值
  $(".verify-msg .oris-input").on('change input keyup blur',function () {
    var phoneRule = /^\d{1,20}$/;
    if (!phoneRule.test($telephoneNum.val())){
      telCheck = false;
    }else {
      $telephoneNum.next('.numError').addClass('none');
      $telephoneNum.removeClass('border-danger');
      $telephoneNum.prev('.msg-title').removeClass('text-danger');
      $telephoneNum.next().next('.return-error').html('');
      telCheck = true;
    }
    var that = this;
    if (telCheck==true && $countryCode.val()!='0'){
      $("#buyerBtn").removeAttr('disabled');
    }else{
      $("#buyerBtn").attr('disabled','disabled')
    }
    if (!$telephoneNum.val()){
      verifyTel()
    }
  });
  //点击提交
  $("#buyerBtn").on('click',function (event) {
    submit()
  });

  function submit() {
    var contactsNum = {
      contacts_phone:$("#telephoneNum").val(),
      contacts_open_status:$('input:radio:checked').val(),
      contacts_country_id:$("#countryCode").val(),
    };
    block.blockUI();
    $.ajax({
      url : {{ url('account/setting/addContacts')|js_var }},
      type : 'post',
      async : false,
      data:  contactsNum,
      dataType:'json',
      ContentType:'application/x-www-form-urlencoded',
      success : function(res) {
        if (res.code == 0) {
          let msg= res.msg;
          $telephoneNum.addClass('border-danger');
          $telephoneNum.prev('.msg-title').addClass('text-danger');
          $telephoneNum.next().next('.return-error').html(msg);
        } else if (res.code == 200) {
          $.toast({
            heading: false,
            text: 'Successfully submitted.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        } else {
          $.toast({
            heading: false,
            text: res.msg || 'Failed to submit. Please try again.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 5000,
            allowToastClose: false,
            loader: false
          });
        }
        block.unBlockUI();
      },
      error : function() {
        $.toast({
          heading: false,
          text: 'Failed to submit. Please try again.',
          position: 'top-center',
          showHideTransition: 'fade',
          icon: 'error',
          hideAfter: 3000,
          allowToastClose: true,
          loader: false
        });
        block.unBlockUI();
      }
    });
  }
</script>
