{{ this.title('Purchaser Information') }}
{{ this.params('breadcrumbs', [
  'home',
  {
    text: 'Account Settings',
    href: url('account/setting')
  },
  'current'
]) }}
{{ this.params('pageTitle', {show: true}) }}
{{ css(['static/account/setting/add_purchaser.css']) }}

{{ cssOrigin(['/catalog/view/javascript/bootstrap-select18/bootstrap-select.min.css',
  '/catalog/view/javascript/user_portrait/user_portrait.css']) }}

<div id="page-add_purchaser" class="tab-content main buyer-information">
  <div role="tabpanel" class="tab-pane active msg-card" id="upload">
    <div class="bg-white pt-2 pb-3 buyer-information-content">
      <div class="finished-message">
        <p class="finished-message-content">
          True and valid contact information can help you get more contacts of quality Sellers. The provided information is only displayed to recommended Sellers. You can cancel the recommendation through the Privacy Settings below.
        </p>
      </div>
      <div class="tab-content main mtb-04 no-shadow no-radius verify-msg">
        <div role="tabpanel" class="tab-pane active" id="tab-1">
          <div class="bg-white">
            <div class="form-wrapper edit buyer-info">
              <div class="flex-layout-mobile">
                <label class="info-label">Purchaser Name</label>
                <div class="num-wechat" >
                <input id="purchaser-name" type="text"  autocomplete="off" class="edit-no  oris-input oris-input-purchaser"
                       value="{{ customer_info.selector_name }}" maxlength="50"/>
                <div class="text-danger text-small mt-octal1 numError none"></div>
                <div class="text-danger text-small mt-octal1 return-error"></div>
                </div>
              </div>
              <div class="flex-layout-mobile">
                <label class="info-label mobile-lable">Phone Number</label>
                <div class=" just-flex">
                  <div class="oris-select select-width"  id="countryCodeList">
                    <select class="oris-select-prerender" id="countryCode" >
                      <option value="0">Select</option>
                      {%  for i,item in tel_country_code %}
                        <option value="{{item.id }}" data-index="{{ i }}">{{ item.desc_en }}+{{ item.code }}</option>
                      {% endfor %}
                    </select>
                    <div class="text-danger text-small mt-octal1 numError none">Required</div>
                    <div class="text-danger text-small mt-octal1 return-error"></div>
                  </div>
                  <div class="phone-left">
                    <input id="telephoneNum" class="oris-input telephone-number mobile-input"
                           value="{{ customer_info.selector_cellphone }}" type="text" placeholder="Phone Number"
                           maxlength="20" onkeyup="value=value.replace(/[^\d]/g,'')"
                           onblur="value=value.replace(/[^\d]/g,'')" autocomplete="off"/>
                    <div class="text-danger text-small mt-octal1 numError none">Only 3-12 digits are peritted.</div>
                    <div class="text-danger text-small mt-octal1 return-error"></div>
                  </div>
                </div>
              </div>
              <div  class="flex-layout-mobile flex-layout-qq">
                <label class="info-label">QQ Number</label>
                <div class="num-wechat" >
                  <input  type="text" class="edit-no oris-input oris-input-qq" autocomplete="off"
                          onkeyup="value=value.replace(/[^\d]/g,'')" onblur="value=value.replace(/[^\d]/g,'')"
                          value="{{ customer_info.selector_qq }}" id="input-qq" maxlength="20"/>
                <div class="text-danger text-small mt-octal1 numError none"></div>
                <div class="text-danger text-small mt-octal1 return-error"></div>
                </div>
              </div>
              <div class="flex-layout-mobile">
                <label class="info-label">WeChat ID</label>
                <div class="num-wechat" >
                  <input type="text" class="edit-no oris-input oris-input-wechat "autocomplete="off"
                         onkeyup="value=value.replace(/^((?!^\w+$).)*/g,'')" onblur="value=value.replace(/^((?!^\w+$).)*/g,'')"
                         value="{{ customer_info.selector_wechat }}" id="input-Wechat"  maxlength="20">
                  <div class="text-danger text-small mt-octal1 numError none"></div>
                  <div class="text-danger text-small mt-octal1 return-error"></div>
                </div>
              </div>
              <div class="just-flex" >
                <label class="info-label privacy-setting" for="input-email">Privacy Settings</label>
                <div >
                  <div class="radio">
                    <input type="radio" class="input-radio " name="optionsRadios" id="optionsRadios1" value="0"
                           {% if seller_recommend_setting.is_in_seller_recommend==0 and seller_recommend_setting %}checked {% endif %}/>
                    <span class="radio-content">
                        The above info is invisible to all Sellers and does not participate in system recommendation.
                    </span>
                  </div>
                  <div class="radio">
                    <input type="radio" class="input-radio" name="optionsRadios" id="optionsRadios2" value="1"
                           {% if seller_recommend_setting.is_in_seller_recommend==1  or  (seller_recommend_setting is empty) %}checked {% endif %}/>
                    <span class="radio-content">The above info is only visible to the Sellers recommended by the system.</span>
                  </div>
                </div>
              </div>
              <div class="update-btn">
                <button  id="buyerBtn" class="oris-button mt-3 oris-button-bigger oris-w120" disabled>Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ jsOrigin(['catalog/view/javascript/bootstrap-select18/bootstrap-select.min.js']) }}
<script>
  let $telephoneNum = $("#telephoneNum");
  let $countryCode = $("#countryCode");
  $(document).ready(function () {
    var val ={{ customer_info.selector_country_id |js_var }}
    if(val){
      $('#countryCode').selectpicker('val',val)
    }else{
      $('#countryCode').selectpicker('val',)
    }
    countrySelect()
    verifyTel();
  });

  //验证手机号
  function verifyTel() {
    var phoneRule = /^\d{1,20}$/;
    if (!phoneRule.test($telephoneNum.val())){
      telCheck = false;
      $("#buyerBtn").attr('disabled','disabled')
    }else{
      $telephoneNum.next('.numError').addClass('none');
      $telephoneNum.removeClass('border-danger');
      $telephoneNum.prev('.msg-title').removeClass('text-danger');
      $telephoneNum.next().next('.return-error').html('');
      telCheck = true;
      $("#buyerBtn").removeAttr('disabled');
    }
  }

  //国家码
  $("#countryCodeList").on('click',function () {
    var list = {{ tel_country_code |js_json}}
    $("#countryCodeList ul.dropdown-menu li:not(:first-child)").each(function (i,n) {
      var opt = `<span class="code">${list[i+1].desc_en}</span><span class="right-country-code">+${list[i+1].code} </span>`
      $(this).children('a.dropdown-item').html(opt)
    })
  })
  $("#countryCode").on('changed.bs.select',function () {
    verifyTel()
    countrySelect()
  })
  function countrySelect() {
    var countryList = {{ tel_country_code |js_json}}
    var code = $('#countryCode').children('option:selected').attr('data-index');
    if(countryList[code]){
      var countryValue = `<span class="desc_en"></span><span class="country-style"> +${countryList[code].code}</span>`
      $("#countryCodeList").find('div.filter-option-inner-inner').html(countryValue);
      $('.country-style').addClass('counrty-code-color')
    }else {}

  }

  //监听select值
  $(".verify-msg #countryCode").on('change input keyup blur',function () {
    var that = this;
    if (telCheck==true){
      $("#buyerBtn").removeAttr('disabled');
    }
    if($countryCode.val()=='0'){
      $("#buyerBtn").attr('disabled','disabled')
      $("#countryCodeList").find('div.oris-select-prerender').next('.numError').removeClass('none');
      $("#countryCodeList").find('button.dropdown-toggle').addClass('border-danger');
      $("#countryCodeList").find('div.oris-select-prerender').prev('.msg-title').addClass('text-danger');
      $("#countryCodeList").find('div.oris-select-prerender').next().next('.return-error').html('');
      telCheck = false;
    }else {
      $("#countryCodeList").find('div.oris-select-prerender').next('.numError').addClass('none');
      $("#countryCodeList").find('button.dropdown-toggle').removeClass('border-danger');
      $("#countryCodeList").find('div.oris-select-prerender').prev('.msg-title').removeClass('text-danger');
      $("#countryCodeList").find('div.oris-select-prerender').next().next('.return-error').html('');
      telCheck = true;
    }
  });

  //监听radio值
  $(".verify-msg .input-radio").on('change input keyup blur',function () {
    var that = this;
    if (telCheck==true && $countryCode.val()!='0'){
      $("#buyerBtn").removeAttr('disabled');
    }else{
      $("#buyerBtn").attr('disabled','disabled')
    }
  });

  //监听手机号码输入框是否有值
  $(".verify-msg .telephone-number").on('change input keyup blur',function () {
    var phoneRule = /^\d{1,20}$/;
    if (!phoneRule.test($telephoneNum.val())){
      telCheck = false;
    }else {
      $telephoneNum.next('.numError').addClass('none');
      $telephoneNum.removeClass('border-danger');
      $telephoneNum.prev('.msg-title').removeClass('text-danger');
      $telephoneNum.next().next('.return-error').html('');
      telCheck = true;
    }
    var that = this;
    if (telCheck==true && $countryCode.val()!='0'){
      $("#buyerBtn").removeAttr('disabled');
    }else{
      $("#buyerBtn").attr('disabled','disabled')
    }
    if (!$telephoneNum.val()){
      verifyTel()
    }
  });

  //监听微信输入框是否有值
  $(".verify-msg .oris-input-wechat").on('change input keyup blur',function () {
    var that = this;
    if (telCheck==true && $countryCode.val()!='0'){
      $("#buyerBtn").removeAttr('disabled');
    }else{
      $("#buyerBtn").attr('disabled','disabled')
    }
    if (!$telephoneNum.val()){
      verifyTel()
    }
  });

  //监听qq输入框是否有值
  $(".verify-msg .oris-input-qq").on('change input keyup blur',function () {
    var that = this;
    if (telCheck==true && $countryCode.val()!='0'){
      $("#buyerBtn").removeAttr('disabled');
    }else{
      $("#buyerBtn").attr('disabled','disabled')
    }
    if (!$telephoneNum.val()){
      verifyTel()
    }
  });
  
  //监听name输入框是否有值
  $(".verify-msg .oris-input-purchaser").on('change input keyup blur',function () {
    var that = this;
    if (telCheck==true && $countryCode.val()!='0'){
      $("#buyerBtn").removeAttr('disabled');
    }else{
      $("#buyerBtn").attr('disabled','disabled')
    }
    if (!$telephoneNum.val()){
      verifyTel()
    }
  });

  //点击提交
  $("#buyerBtn").on('click',function (event) {
    submit()
  });

  function submit() {
    var num = {
      selector_name:$("#purchaser-name").val(),
      selector_cellphone:$("#telephoneNum").val(),
      is_in_seller_recommend:$('input:radio:checked').val(),
      selector_country_id:$("#countryCode").val(),
      selector_qq:$("#input-qq").val(),
      selector_wechat:$("#input-Wechat").val(),
    };
    block.blockUI();
    $.ajax({
      url : {{ url('account/setting/addPurchaser')|js_var }},
      type : 'post',
      async : false,
      data:  num,
      dataType:'json',
      ContentType:'application/x-www-form-urlencoded',
      success : function(res) {
        if (res.code == 0) {
          let data= res.area;
          if(data.selector_cellphone){
            $telephoneNum.addClass('border-danger');
            $telephoneNum.prev('.msg-title').addClass('text-danger');
            $telephoneNum.next().next('.return-error').html(data.selector_cellphone);
          }else {
            $.toast({
              heading: false,
              text: res.msg || 'Failed to submit. Please try again.',
              position: 'top-center',
              showHideTransition: 'fade',
              icon: 'error',
              hideAfter: 5000,
              allowToastClose: false,
              loader: false
            });
          }
          block.unBlockUI();
        } else if (res.code == 200) {
          $.toast({
            heading: false,
            text: 'Successfully submitted.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
          });
        } else {
          $.toast({
            heading: false,
            text: res.msg || 'Failed to submit. Please try again.',
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'error',
            hideAfter: 5000,
            allowToastClose: false,
            loader: false
          });
        }
        block.unBlockUI();
      },
      error : function() {
        $.toast({
          heading: false,
          text: 'Failed to submit. Please try again.',
          position: 'top-center',
          showHideTransition: 'fade',
          icon: 'error',
          hideAfter: 3000,
          allowToastClose: true,
          loader: false
        });
        block.unBlockUI();
      }
    });
  }
</script>
