{{ this.title('Account Settings') }}
{{ this.params('breadcrumbs', [
  'home',
  'current'
]) }}
{{ this.params('pageTitle', {show: true}) }}
{{ css(['static/account/setting/index.css']) }}

<div id="page-index" class="tab-content main account-setting">
  <div role="tabpanel" class="tab-pane active msg-card" id="upload">
    <div class="bg-white pt-2 pb-3 account-setting-content">
      <p class="basic-information" >Basic Information</p>
      <div class="basic-information-name">
        <span >User ID Number</span>
        <span class="user-id-num-val">{{ customer.user_number }}</span>
      </div>
      <div class="basic-information-name">
        <span >User Name</span>
        <span class="user-name-val">{{ customer.firstname }} {{ customer.lastname }}</span>
      </div>
      <div class="basic-information-name">
        <span>Email</span>
        <span class="email-val">{{ customer.email }}</span>
      </div>
      <div class="basic-information-name" for="input-telephone"><span>Phone</span>
        <span class="phone-val"  id="input-telephone" >{{valid_mask_telephone }}</span>
        {% if can_change_phone == true %}
          <span class="change-phone"><a  href="{{ url('account/phone/change') }}" class=" link-click link m10-l" target="_blank" >Change</a> </span>
        {% endif %}
      </div>
      <li role="separator" class="divider"></li>
      <p class="account-information" >Account Information</p>
      <div class="account-information-link">
        <a href="{{ url('account/edit') }}" class="link-click" target="_blank" >Personal information</a>
        <span class="buyer-information">
          <a href="{{ url('account/setting/addPurchaser') }}" class="link-click" target="_blank" >Purchaser information</a>
        </span>
        <span class="contact-information">
          <a href="{{ url('account/setting/addContacts') }}" class="link-click" target="_blank" >Contact information</a>
        </span>
      </div>
      {% if can_change_password %}
      <p class="account-information" >Account Security</p>
      <div class="account-information-link">
        <a href="{{ url('account/password') }}" class="link-click" target="_blank" >Change password</a>
      </div>
      {% endif %}
      <p class="account-information" >Subscription Settings</p>
      <div class="account-information-link">
        <a href="{{ url('account/message_center/setting') }}" class="link-click" target="_blank" >Message alerts</a>
      </div>
    </div>
  </div>
</div>
