<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ this.getTitle() }}</title>
  <base href="{{ base }}"/>
  {% if description %}
    <meta name="description" content="{{ description }}"/>
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}"/>
  {% endif %}
  <script type="text/javascript" src="catalog/view/javascript/diyUpload/js/vue.min.js"></script>
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  {# <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/> #}

  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="catalog/view/theme/yzcTheme/stylesheet/font_demo/iconfont.css" rel="stylesheet" type="text/css"/>
  <link href="catalog/view/theme/yzcTheme/stylesheet/fonts.googleapis.com_open+sans.css" rel="stylesheet"
        type="text/css"/>

  <script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
  <script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"
          type="text/javascript"></script>
  <script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"
          type="text/javascript"></script>
  <link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css"
        rel="stylesheet" media="screen"/>
  <script src="catalog/view/javascript/layer/layer.js" type="text/javascript"></script>
  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
  {% endfor %}
  {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  <script src="catalog/view/javascript/common.js?v={{ app_version }}" type="text/javascript"></script>
  <script src="catalog/view/javascript/menu-hover.js" type="text/javascript"></script>

  <link href="catalog/view/theme/yzcTheme/stylesheet/menu.css?v={{ app_version }}" rel="stylesheet">{# B2B页面改版 样式覆盖 #}
  <link href="catalog/view/theme/yzcTheme/stylesheet/seller/style.css?v={{ app_version }}" rel="stylesheet">

  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}"/>
  {% endfor %}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}

  <link href="catalog/view/theme/yzcTheme/stylesheet/bootstrap-toggle.min.css" type="text/css"
        rel="stylesheet" media="screen"/>
  {# <link href="admin/view/stylesheet/stylesheet_giga.css" rel="stylesheet"> #}
  {# <link type="text/css"  href="catalog/view/theme/yzcTheme/stylesheet/fonts/gcl/gclfont.css?v={{ app_version }}" rel="stylesheet"> #}
  <link type="text/css" href="/public/fonts/gcl/iconfont.css?v={{ app_version }}" rel="stylesheet">
  <link type="text/css" href="/public/fonts/giga/iconfont.css?v={{ app_version }}"
        rel="stylesheet">{# B2B页面改版 图标字体 #}
  {# <link type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/fonts/gcl/iconfont.css?v={{ app_version }}" rel="stylesheet"> #}{# B2B页面改版 图标字体 #}{# #}
  {# toast #}
  <link href="catalog/view/javascript/toast/jquery.toast.min.css" rel="stylesheet" type="text/css"/>
  <link href="catalog/view/javascript/toast/jquery.toast.update.css" rel="stylesheet" type="text/css"/>
  <script src="catalog/view/javascript/toast/jquery.toast.min.js" type="text/javascript"></script>
  {# toast #}
  <link href="catalog/view/theme/yzcTheme/stylesheet/stylesheet.css?v={{ app_version }}" rel="stylesheet">
  {{ this.head() }}
  <link href="storage/modification/catalog/view/theme/yzcTheme/stylesheet/common/header.css" type="text/css"
        rel="stylesheet"/>
  {# 全局css #}
  <link type="text/css" href="catalog/view/theme/yzcTheme/stylesheet/app.css?v={{ app_version }}" rel="stylesheet"/>
  {# 缩略图样式 #}
  <link rel="stylesheet" href="catalog/view/theme/giga/stylesheet/_parts/style.css?v={{ app_version }}">
</head>
<style>
  .expiring-tip{
    background: #FFEDED;
    color: #E64545;
    width: 70px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    display:inline-block;
    border: 1px solid #FFEDED;
    font-size: 12px;
    margin-left: 6px;
  }
  .nowrap{
    white-space: nowrap;
  }
  .grid-line{
      color: #c1c1c1;
      margin: 0 24px;
  }
  .account-text{
      color: #666;
  }
  .hover-blue:hover{
      color: #004bd8;
  }
</style>
<body class="{{ class }} oris-buyer">
{{ this.beginBody() }}

{% if notification is defined and notification %}
  {{ notification }}
{% endif %}

{% if displayTop %}
  <nav id="top">
    {# 4521 隐藏头部广告图，这里没删除是因为未来如果还有需要，直接换图片即可 #}
    <div class="nav-img-box">
      <a href="https://www.ciff.furniture/" target="_blank">
        <img class="advertising-img" src="/image/pantersAdv/homeExpo.png?v={{ app_version }}" alt="">
      </a>
    </div>
    <div class="center-module">
      {% if is_seller_store %}
      <span class="go-home">
        <a class="text-light link-hover" href="{{ home }}" data-cnzz-event="页面头部|Hd_Logo">
            GIGA Homepage
        </a>
      </span>
      {% endif %}
      <div id="top-links" class="nav pull-right">
        <ul class="list-inline text-muted">
          <li class="help-center">
            <a class="highlight link-hover" href="{{ url('information/information') }}"
               data-cnzz-event="页面头部|Hd_Statusbar_HelpCenter">
              Help Center
            </a>
          </li>
          <li class="vertical-bar"></li>
          <li class="contact-us">&nbsp;
            {% if logged %}
              {# 已登录 #}
              <a class="link-hover" href="{% if is_seller %}{{ url('customerpartner/message_center/my_message/buyers') }}{% else %}{{ url('account/message_center/seller') }}{% endif %}"
                 data-cnzz-event="页面头部|Hd_Navigationbar_MessageCenter">
                Message Center
                {% if(message_center_count>0) %}
                  <span class="header-badge-dot"></span>
                {% endif %}
                {% if(message_center_count>99) %}
                  (<span id="messageCenterCountHeader">99+</span>)
                {% elseif(message_center_count>0) %}
                  (<span id="messageCenterCountHeader">{{ message_center_count }}</span>)
                {% endif %}
              </a>
            {% else %}
              {# 未登录 #}
              <a class="highlight link-hover" href="{{ url('information/contact') }}">Contact Us</a>
            {% endif %}
          </li>
          <li class="vertical-bar"></li>
          <li class="country-market-li">
            {{ country }}
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endif %}
<header>
  <div class="center-module">
    <div class="head-bar">
      <div id="logo" class="header-logo">
        {% if logo %}
          <a class="pos-rela" href="{{ home }}" data-cnzz-event="页面头部|Hd_Logo">
            <img src="{{ logo }}?v={{ app_version }}" title="{{ name }}" alt="{{ name }}" class="img-logo"/>
            <div class="back-to-home none">Back to Homepage</div>
          </a>
        {% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
        {% endif %}
      </div>
      {% if display_search %}
        <div class="header-search">{{ search }}</div>
      {% endif %}
      {% if display_account_info %}
        <div class="header-right">
          {# 个人账户 #}
          <div class="dropdown account-wrapper">
            <div class="dropdown-toggle open pointer" data-toggle="dropdown"
                 data-cnzz-event="页面头部|Hd_MyAccount">
              {# <img src="{{ base }}/image/catalog/user/AccountBlue.png" style="width: 26px; height: 26px" class="img-responsive" /> #}
              <img src="image/icons/people.png">
              <div class="name-group">
                {% if logged %}
                  <span class="name" title="{{ userName }}">Hi&nbsp;&nbsp;{{ userName }}</span>
                  <span class="customer-number">{{ userNumber }}</span>
                {% else %}
                  <span class="name">
                    <span>Login</span>
                    <span>Register</span>
                  </span>
                {% endif %}
              </div>
              {# <span class="caret"></span> #}
            </div>
            <div class="header-pop-up">
              <div class="placeholder-div"></div>
              {% if not logged %}
                {# 未登录 #}
                <div class="top-register-login">
                  <div class="">Welcome back</div>
                  <div class="mt-octal2">
                    <a href="{{ url('account/login') }}" class="btn-deep text-bold text-larger"
                       data-cnzz-event="页面头部|Hd_MyAccount_Login">Login</a>
                  </div>
                  <div class="mt-octal3">New Customer?</div>
                  <div class="mt-octal2">
                    <a href="{{ url('account/register_apply') }}" class="btn-contrast text-bold text-larger"
                       data-cnzz-event="页面头部|Hd_MyAccount_Register">{{ text_register }}</a>
                  </div>
                </div>
                {# 未登录 end #}
              {% else %}
                {# 已登录 #}
                <div class="header-pop-up-list">
                  <ul id="menu_ul">
                    {% if is_seller == 0 %}
                      {# buyer #}
                      <li><a href="{{ url('account/order') }}">{{ text_order }}</a></li>
                      {% if brand_show == 1 %}
                        <li>
                          <a href="{{ url('account/manufacturer') }}">{{ text_Buyer_Brand_Management }}</a>
                        </li>
                      {% endif %}
                      <li><a href="{{ show_customer_order }}">{{ text_customer_order }}</a>
                      </li>
                      <li><a href="{{ url('account/sellers') }}">{{ text_sellers }}</a></li>
                      {# {% if quote_enable %} #}
                      <li>
                        <a href="{{ url('account/product_quotes/wk_quote_my') }}">
                          {{ text_product_quote_my }}
                          {% if bid_mark_count > 0 %}
                            <span id="umenu-bid-mark-count" class="umenu-bid-mark-count">
                              {{ bid_mark_count > 99 ? '99+' : bid_mark_count }}
                            </span>
                          {% endif %}
                        </a>
                      </li>
                      {# {% endif %} #}
                      <li>
                        <a href="{{ url('account/bill/sales_purchase_bill') }}">{{ text_billing_management }}</a>
                      </li>
                      {# {% if isJapan %} #}
                      <li>
                        <a href="{{ url('account/rma_management') }}">
                          {{ text_rma_management }}
                          {% if unresolved_rma_count > 0 %}
                            <span id="umenu-rma-mark-count" class="umenu-bid-mark-count">
                              {{ unresolved_rma_count > 99 ? '99+' : unresolved_rma_count }}
                            </span>
                          {% endif %}
                        </a>
                      </li>
                      {# {% endif %} #}
                      {# <li><a href="{{ rma_management }}">Notification</a></li> #}
                    {% else %}
                      {# seller #}
                      <li>
                        <a href="{{ url('customerpartner/seller_center/index') }}">Back To Seller Backend</a>
                      </li>
                      {% if marketplace_seller_mode == 0 %}
                        <li>
                          <a href="{{ show_customer_order }}">{{ text_customer_order }}</a>
                        </li>
                      {% endif %}
                      {% if not special_menu_cont %}
                        <li>
                          <a href="{{ url('account/inbound_management') }}">{{ text_inbound_management }}</a>
                        </li>
                        <li>
                          <a href="{{ url('account/print_product_labels') }}">{{ text_print_product_labels }}</a>
                        </li>
                      {% endif %}
                      {# END if is_seller == 0 #}
                    {% endif %}
                    {% if not special_menu_cont %}
                      <li>
                        <a href="{{ is_seller ? url('account/inventory_management') : url('account/stock/management') }}">
                          {{ text_inventory_management }}
                        </a>
                      </li>
                    {% endif %}
                    {#保障服务管理#}
                    {% if is_seller == 0 %}
                      <li>
                        <a class="nowrap" href="{{ url('account/safeguard/bill') }}">
                          {{ text_safeguard_service_management }}
                          {% if safeguardMarkTip %}
                            <span id="umenu-rma-mark-count" class="umenu-bid-mark-count">{{ safeguardMarkTip }}</span>
                          {% elseif safeguardAutoToExpire %}
                            <span id="umenu-rma-mark-count" class="expiring-tip">{{ text_expiring }}</span>
                          {% endif %}
                        </a>
                      </li>
                    {% endif %}

                    {% if is_trusteeship %}
                      <li>
                        <a href="{{ url('account/item_code_mapping') }}">{{ text_item_code_mapping }}</a>
                      </li>
                    {% endif %}
                    {% if isShowMappingManagement==1 %}
                      <li>
                        <a href="{{ url('account/mapping_management') }}">{{ text_mapping_management }}</a>
                      </li>
                    {% endif %}
                    {% if isShowStorageFeeManagement == 1 %}
                      <li>
                        <a href="{{ storageFeeManagementLink }}">{{ text_storage_fee_management }}</a>
                      </li>
                    {% endif %}
                    {#采销协议#}
                    {% if is_seller == 0 %}
                    <li>
                      <a class="nowrap" href="{{ url('account/tripartite_agreement') }}">
                        Sales and Purchase Agreement
                        {% if seller_pending_nums %}
                          <span id="umenu-rma-mark-count" class="umenu-bid-mark-count">{{ seller_pending_nums }}</span>
                        {% endif %}
                      </a>
                    </li>
                    {% endif %}
                    {% if is_seller == 0 %}
                      <li><a href="{{ url('account/coupon/management_center') }}">{{ text_my_coupon }}</a></li>
                    {% endif %}
                    {% if is_seller == 0 %}
                    <li><a href="{{ url('account/setting') }}">Account Settings</a></li>
                    {% endif %}
                    <li role="separator" class="divider"></li>
                    <li class="logout-li">
                      <a class="no-padding" href="{{ url('account/logout') }}">{{ text_logout }}</a>
                    </li>
                  </ul>
                </div>
              {% endif %}
            </div>
          </div>
          {# 钱包 #}
          <div class="wallet account-wrapper">
            {% if logged and is_seller==0 %}
              {{ account_balance }}
            {% endif %}
          </div>
          {# 收藏夹 #}
          <div class="wishlist">
            {% if text_wishlist_num >= 0 %}
              <span class="icon-sum" id="wishlist-total-num">{{ text_wishlist_num }}</span>
            {% endif %}
            <a href="{{ url('account/wishlist') }}" id="wishlist-total" data-cnzz-event="页面头部|Hd_SavedItems">
              <img src="image/icons/heart.png">
              <span class="saved-item">{{ text_wishlist }}</span>
            </a>
            {% if not logged %}
              <div class="header-pop-up text-center">
                <div class="placeholder-div"></div>
                <div>Please Login and view your Saved items.</div>
                <div class="top-register-login">
                  <a href="{{ url('account/login') }}" class="link-show" data-cnzz-event="页面头部|Hd_SavedItem_Login">
                    {{ text_login }}
                  </a>
                  <text>&nbsp;&nbsp;or&nbsp;&nbsp;</text>
                  <a href="{{ url('account/register_apply') }}" class="link-show"
                     data-cnzz-event="页面头部|Hd_SavedItem_Register">
                    Register for free
                  </a>
                </div>
              </div>
            {% endif %}
          </div>
          {# 购物车 #}
          {{ cart }}
        </div>
      {% endif %}
      {% if display_register_header %}
        <div class="col-sm-4" style="float: right;line-height: 48px">
          Already have an account?
          <a href="{{ url('account/login') }}" style="color: #3A75DC">
            Login <i class="gcl gclarrLeft" style="font-size: 12px"></i>
          </a>
        </div>
      {% endif %}
      {% if display_forgot_password_header %}
        <div class="registerLogin">
          {% if userName or userNumber %}
            <a href="{{ is_seller ? url('customerpartner/seller_center/index') : url('account/buyer_central') }}" class="account-text hover-blue">
                {{ userName }} {{ userNumber }}
            </a>
            <span class="grid-line">|</span>
            <a href="{{ url('account/logout') }}" class="account-text hover-blue">
              Logout
            </a>
          {% else %}
            <a href="{{ url('account/register_apply') }}" class="account-text hover-blue">
              Register
            </a>
            <span class="grid-line">|</span>
            <a href="{{ url('account/login') }}" class="account-text hover-blue">
              Login
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</header>
{% if logged and module_shipment_time_status and shipmentTimePage.title and is_seller_store == 0 %}
  <div class="bulletin-board none">
    <div class="center-module pos-rela">
      <div class="bulletin-content">
        <span class="bulletin-title">
          <i class="giga icon-V10-xiaoxidengpao light-icon"></i>
          {{ shipmentTimePage.title }}
        </span>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="learn-more" href="{{ url('information/information', {shipmentTime: 1}) }}">
          learn more
          <i class="giga icon-V10_youjiantougengduo text-small"></i>
        </a>
      </div>
      <button class="bulletin-close"><i class="giga icon-V10_guanbi text-small link-hover"></i></button>
    </div>
  </div>
{% endif %}
<script>
  {# 顶部广告位自适应 #}
  window.addEventListener('load', function () {
    var winWidth = $(window).innerWidth();
    var imgWidth = $(".nav-img-box .advertising-img").width();
    if (winWidth > 1200) {
      var left = (Number(winWidth) - Number(imgWidth)) / 2;
    } else {
      var left = (1200 - Number(imgWidth)) / 2;
    }
    $(".nav-img-box img").css('margin-left', left)

    window.addEventListener('resize', function () {
      var winWidth = $(window).innerWidth();
      if (winWidth > 1200) {
        var left = (Number(winWidth) - Number(imgWidth)) / 2;
      } else {
        var left = (1200 - Number(imgWidth)) / 2;
      }
      $(".nav-img-box img").css('margin-left', left)

    })

  })
</script>
<script>
  // 判断是否显示bulletin-board提示 module_shipment_time_status
  $(document).ready(function () {
    if (sessionStorage.getItem('bulletinClose')) {
      $(".bulletin-board").hide();
    } else {
      $(".bulletin-board").show();
    }
  });
  $(".bulletin-close").on('click', function () {
    sessionStorage.setItem('bulletinClose', true);
    $(".bulletin-board").hide()
  })
  var ele_lis = document.getElementById("menu_ul");
  if (ele_lis && ele_lis.hasOwnProperty('children')) {
    var lis = ele_lis.children;
    for (var i = 0; i < lis.length; i++) {
      lis[i].onmouseover = function () {
        this.className = "current";
        $('#second_link').css('top', this.offsetTop - 5);
      };
      lis[i].onmouseout = function () {
        this.className = ""
      }
    }
  }
  $('.open').on('click', function () {
    let is_seller = "{{ is_seller }}";
    if (is_seller == 0) {
      window.location.href = "index.php?route=account/guide";
    }
  })
</script>

<style>
  #second_link {
    display: none;
    position: absolute;
    left: 254px;
    top: -8px;
    width: 200px;
    line-height: 26px;
    z-index: -1;
    border-radius: 5px;
  }

  #first_link {
    position: relative;
  }

  #first_link:hover ul {
    display: block;
  }

  #first_link.current ul {
    display: block;
  }

  #first_link:hover ul li a {
    display: block;
  }

  .shadow_img {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    background: black;
    opacity: 0.6;
  }

  .title_img {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
  }
</style>

{% if logged and display_common_ticket %}
  {{ ticketBuyer }}
{% endif %}

{% if display_menu %}
  {{ menu }}
{% endif %}
