{% trans_default_category 'catalog/view/customerpartner/seller_center/index' %}

{{ header }}{{ separate_column_left }}

{% set scoreCompareTip = [
  {imgSrc: 'image/xia.png', tip: __('低于平均水平')},
  {imgSrc: 'image/weibian.png',tip: __('等于平均水平')},
  {imgSrc: 'image/shang.png',tip: __('高于平均水平')}
] %}
<link href="/catalog/view/theme/yzcTheme/stylesheet/customerpartner/seller_center/index.css" type="text/css" rel="stylesheet"/>
<div class="container-fluid seller-center-con" id="content" style="margin-left: 235px">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="super-hot-line" style="top:65px">
    <i class="giga icon-V10_dianhua-01"></i>{{ __('监督热线') }} ：<span class="hotline-num">0512-62853761</span>
  </div>
  <div class="main row">
    {% if is_top_cwf_notice %}
      <div class="bulletin-board none" style="display: block;margin-left: -5px;margin-right: -5px">
        <div class="center-module pos-rela">
          <div class="bulletin-content">
           <span class="bulletin-title">
             <i class="giga icon-V10-xiaoxidengpao light-icon"></i>
             <p class="p">
               {{ __('每个供应商默认的云送仓起始使用额度为8000美元。当达到这一限额时，平台会根据供应商的订单数据更新额度。') }}
               <a class="learn-more" href="{{ url('information/information', {'information_id':cwf_info_id}) }}" target="_blank">
                 {{ __('了解更多') }}
                 <i class="giga icon-V10_youjiantougengduo text-small"></i>
               </a>
             </p>
           </span>
          </div>
          <button class="bulletin-close cwf-notice-close"><i class="giga icon-V10_guanbi text-small link-hover"></i></button>
        </div>
      </div>
    {% endif %}
    <div class="col-sm-12">
      <div style="overflow:hidden;display: flex">
        <div class="col-sm-9 p0 " style="display: flex;flex-direction: column">
          <div class="Pending">
            <div class="hid">
              <h5 class="my-title-middle">
                <img src="/catalog/view/theme/yzcTheme/image/buyer/order.png" alt="" class="seller-center-icon">
                <span class="pb-title">{{ __('待处理的议价') }}</span>
              </h5>
              <div class="row mrb-16">
                <p class=" color6 col-sm-3 text-center no-bottom">
                  <a href="{{ bid['spot_num_link'] }}&tab=quotes" class="color6 no-hover" target="_blank">
                      {{ __('现货全款') }}: <span class="sta-num">{{ bid['spot_num'] }}</span>
                  </a>
                </p>
                <p class=" color6 col-sm-3 text-center no-bottom">
                  <a href="{{ bid['spot_num_link'] }}&tab=rebates" class="color6 no-hover" target="_blank">
                    {{ __('返点') }}: <span class="sta-num">{{ bid['rebates_num'] }}</span>
                  </a>
                </p>
                <p class=" color6 col-sm-3 text-center no-bottom">
                  <a href="{{ bid['spot_num_link'] }}&tab=margin" class="color6 no-hover" target="_blank">
                    {{ __('现货保证金') }}: <span class="sta-num">{{ bid['margin_num'] }}</span>
                  </a>
                </p>
                <p class=" color6 col-sm-3 text-center no-bottom">
                  <a href="{{ bid['spot_num_link'] }}&tab=futures" class="color6 no-hover" target="_blank">
                    {{ __('期货保证金') }}: <span class="sta-num">{{ bid['future_num'] }}</span>
                  </a>
                </p>
              </div>

            </div>
            <hr class="hr-mar-bottom">
            <div class="hid">
              <h5 class="my-title-middle">
                <img src="/catalog/view/theme/yzcTheme/image/buyer/package.png" alt="" class="seller-center-icon">
                <span class="ts-title">{{ __('交易') }}</span>
              </h5>
              <div class="mrb-16 row mrt-20">
                <p class="color6 col-sm-4 text-center no-bottom">
                  <a href="{{ order_history_link }}" class=" color6 no-hover" target="_blank">
                    <span class="sta-num sta-num-count">{{ today.totalOrder }}</span>
                    <br>
                    <span class="sta-num-label">{{ __('今日新订单') }}</span>
                  </a>
                </p>
                <p class="color6 col-sm-4 text-center no-bottom">
                  <a href="{{ order_history_link}}" class=" color6 no-hover" target="_blank">
                    <span class="sta-num sta-num-count">{{ today.totalPrice|formatPrice(currency, {need_format: false, symbol_options: {class: 'unit-price'}}) }}</span>
                    <br>
                    <span class="sta-num-label">{{ __('今日交易额') }}</span>
                  </a>
                </p>
                <p class="color6 col-sm-4 text-center no-bottom">
                  <a href="{{ rma.rma_link }}" class=" color6 no-hover" target="_blank">
                    <span class="sta-num sta-num-count">{{ rma.count }}</span>
                    <br>
                    <span class="sta-num-label">{{ __('待处理退返品') }}</span>
                  </a>
                </p>
              </div>
              <div class="row mrb-16  mrt-22">
                <p class="color6 col-sm-4 text-center no-bottom">
                  <a href="{{ order_history_link }}" class=" color6 no-hover" target="_blank">
                    <span class="sta-num sta-num-count">
                      {{ 0|formatPrice(currency, {need_format: false, symbol_options: {class: 'unit-price'}, price_options: {class: 'font-normal', id: 'transaction_money'}}) }}
                    </span>
                    <br>
                    <span class="sta-num-label">{{ __('近90天交易额') }}</span>
                  </a>
                </p>
                <p class="color6 col-sm-4 text-center no-bottom">
                  <a href="{{ order_history_link }}" class=" color6 no-hover" target="_blank">
                    <span class="sta-num sta-num-count" id="transaction_qty">0</span>
                    <br>
                    <span class="sta-num-label">{{ __('近90天销量') }}</span>
                  </a>
                </p>
              </div>
            </div>
            <hr class="hr-mar-bottom">
            <div class="hid">
              <h5 class="my-title-middle my-title-middle-last">
                <img src="/catalog/view/theme/yzcTheme/image/buyer/product.png" alt="" class="seller-center-icon">
                <span class="pro-title">{{ __('产品') }}</span>
              </h5>
              <div class="row">
                <p class=" color6 col-sm-4 text-center no-bottom">
                  <a href="{{ low_product.low_lack_link }}" target="_blank" class=" color6 no-hover">
                    {{ __('今日素材包下载量') }}: <span class="sta-num">{{ product_download }}</span>
                  </a>
                </p>
                <p class=" color6 col-sm-4 text-center no-bottom">
                  <a href="{{ low_product.low_lack_link }}" target="_blank" class=" color6 no-hover">
                    {{ __('低库存产品') }}: <span class="sta-num">{{ low_product.low_product_total }}</span>
                  </a>
                  <span data-toggle="tooltip" data-original-title="{{ __('库存') }} < 10" class="toggle-mark"><i class="giga icon-V10-wenhaotishi"></i></span>
                </p>
                <p class=" color6 col-sm-4 text-center no-bottom">
                  <a href="{{ low_product.low_lack_link }}" target="_blank" class=" color6 no-hover">
                    {{ __('缺货产品') }}: <span class="sta-num">{{ low_product.lack_product_total }}</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="salesRanking mt-1" style="flex: 1;height: 520px">
           <div class="tab-title" style="overflow: hidden;margin-bottom: 8px">
             <h5 style="float:left;height: 30px;line-height: 30px;font-size: 18px;font-weight: bolder">{{ __('销售排名') }}</h5>
             <ul class="nav nav-tabs" role="tablist">
               <li role="presentation" class="active" oncontextmenu="return false">
                 <a class="text-center" href="#month1" aria-controls="month1" role="tab" data-toggle="tab">{{ __('近一个月') }}</a>
               </li>
               <li role="presentation" oncontextmenu="return false">
                 <a class="text-center" href="#month3" aria-controls="month3" role="tab" data-toggle="tab">{{ __('近3个月') }}</a>
               </li>
               {#<li role="presentation" oncontextmenu="return false">
                 <a class="text-center" href="#year" aria-controls="year" role="tab" data-toggle="tab">{{ __('近一年') }}</a>
               </li>#}
             </ul>
           </div>
            <div class="tab-content" style="clear: both;height: 90%;overflow: auto">
              <div role="tabpanel" class="tab-pane active" id="month1">
                <table class="table f13 tab-heaUnread Messagesd" style="margin-bottom: 0">
                 <thead>
                 <tr>
                   <th width="50px" class="fw">{{ __('排名') }}</th>
                   <th width="100px" class="fw">{{ __('Item Code') }}</th>
                   <th class="fw">{{ __('产品名称') }}</th>
                   <th width="120px" class="fw text-center">{{ __('销量') }}</th>
                   <th width="130px" class="fw text-center">{{ __('上架数量') }}</th>
                 </tr>
                 </thead>
                </table>
                <div class="tab-body" style="overflow: auto">
                  <table class="table f12">
                    {% if sale_rank_one %}
                      {% for key, rank in sale_rank_one %}
                        <tr>
                          <td width="50px" class="text-center">
                            <span class="index-square fw {{ key < 3 ? ' active' : '' }}">{{ key+1 }}</span>
                          </td>
                          <td width="100px">{{ rank.sku }}</td>
                          <td>
                            <a class="ap f13" href="{{ rank.productPreviewLink }}" target="_blank">
                              {{ rank.name }}
                            </a>
                          </td>
                          <td style="text-align: center;width: 120px"><span class="fw">{{ rank.sale_sum }}</span></td>
                          <td style="text-align: center;width: 130px"><span class="fw">{{ rank.qty }}</span></td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="5" style="text-align: center">{{ __('无记录') }}</td>
                      </tr>
                    {% endif %}
                  </table>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="month3">
                <table class="table f13 tab-head" style="margin-bottom: 0">
                  <thead>
                  <tr>
                    <th width="50px">{{ __('排名') }}</th>
                    <th width="100px">{{ __('Item Code') }}</th>
                    <th>{{ __('产品名称') }}</th>
                    <th width="120px" class="text-center">{{ __('销量') }}</th>
                    <th width="130px" class="text-center">{{ __('上架数量') }}</th>
                  </tr>
                  </thead>
                </table>
                <div class="tab-body" style="overflow: auto">
                  <table class="table f12">
                    {% if sale_rank_nine %}
                      {% for key, rank in sale_rank_nine %}
                        <tr>
                        <td width="50px" class="text-center"><span class="index-square fw {{ key < 3 ? ' active' : '' }}">{{ key+1 }}</span></td>
                        <td width="100px">{{ rank.sku }}</td>
                        <td>
                          <a class="ap f13" href="{{ rank.productPreviewLink }}" target="_blank">
                            {{ rank.name }}
                          </a>
                        </td>
                        <td style="text-align: center;width: 120px;"><span class="fw">{{ rank.sale_sum }}</span></td>
                        <td style="text-align: center;width: 130px;"><span class="fw">{{ rank.qty }}</span></td>
                      </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="5" style="text-align: center">{{ __('无记录') }}</td>
                      </tr>
                    {% endif %}
                  </table>
                </div>
              </div>
              {#<div role="tabpanel" class="tab-pane" id="year">
                <table class="table f12">
               <thead>
               <tr>
                 <th>{{ __('排名') }}</th>
                 <th width="18%">{{ __('Item Code') }}</th>
                 <th>{{ __('产品名称') }}</th>
                 <th width="100px">{{ __('销量') }}</th>
                 <th width="130px">{{ __('上架数量') }}</th>
               </tr>
               </thead>
                  {% if sale_rank_year %}
                    {% for key, rank in sale_rank_year %}
                      <tr>
                        <td>{{ key+1 }}</td>
                        <td>{{ rank.sku }}</td>
                        <td>
                          <a class="ap" href="{{ rank.productPreviewLink }}" target="_blank">
                            {{ rank.name }}
                          </a>
                        </td>
                        <td style="text-align: center">{{ rank.sale_sum }}</td>
                        <td style="text-align: center">{{ rank.qty }}</td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="5" style="text-align: center">{{ __('无记录') }}</td>
                    </tr>
                  {% endif %}
                </table>
              </div>#}
            </div>
          </div>
        </div>
        <div class="col-sm-3 f12 right" style="padding-right: 0">
          <div class="seller-ava-con">
            <div class="top-guid"></div>
            <div class="ava-con">
              <div class="ava-logo">
                <img class="photo" src="{{ store_info['image'] }}" width="100%">
              </div>
              <div class="ava-name">
                <div class="seller-ava-name-flex">
                  <p class="seller-ava-name" title="{{ store_info['screenname'] }}" >{{ store_info['screenname'] }}</p>
                  <p class="seller-ava-edit-btn">
                    <a href="{{ store_info['profile_link'] }}" target="_blank">
                      <span class="them-dark-blue-color">{{ __('编辑') }}</span>
                    </a>
                  </p>
                </div>             
                {% if store_info['store_code'] %}
                  <span class="seller-ava-code">Store Code: {{ store_info['store_code'] }}</span>
                {% endif %}
              </div>
            </div>
            <div class="store-stats-con">
              <p class="sub-title-14">{{ __('店铺指标') }}</p>
              <div class="store-stats-icons">
                <div class="pop-down-new">
                  <img class="rate-img" src="image/icons/return-rate.png">
                  {{ store_info.return_rate }}
                    <div class="pop-down">
                      <p class="no-bottom">{{ __('退返品率') }}: {{ store_info.return_rate }}</p>
                      {% if store_info.return_rate == __('N/A', {}, 'common') %}
                      {{ __('销量较少，未计算退返品率') }}
                      {% endif %}
                    </div>
                </div>
                <div class="pop-down-new">
                  <img class="rate-img" src="image/icons/return-arate.png">
                  {% if store_info.return_approval_rate == 0 %}
                    {{ __('N/A', {}, 'common') }}
                    <div class="pop-down">
                      <p class="no-bottom">{{ __('退返品同意率') }}: {{ __('N/A', {}, 'common') }}</p>
                      {{ __('无RMA记录') }}
                    </div>
                  {% elseif  store_info.return_approval_rate > 90 %}
                    {{ __('高', {}, 'common') }}
                    <div class="pop-down">
                      <p class="no-bottom">{{ __('退返品同意率') }}: {{ __('高', {}, 'common') }}</p>
                    </div>
                  {% elseif  store_info.return_approval_rate > 60 %}
                    {{ __('中', {}, 'common') }}
                    <div class="pop-down">
                      <p class="no-bottom">{{ __('退返品同意率') }}: {{ __('中', {}, 'common') }}</p>
                    </div>
                  {% else %}
                    {{ __('低', {}, 'common') }}
                    <div class="pop-down">
                      <p class="no-bottom">{{ __('退返品同意率') }}: {{ __('低', {}, 'common') }}</p>
                    </div>
                  {% endif %}
                </div>
                {% if store_info.response_rate %}
                <div class="pop-down-new">
                  <img class="rate-img" src="image/icons/response-rate.png">
                  {{ store_info.response_rate }}
                  <div class="pop-down">
                    <p class="no-bottom">{{ __('站内信回复率') }}: {{ store_info.response_rate }}</p>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>

            <div class="giga-index-con">
              <p class="sub-title-14 ">GIGA Index <span class="score-show">{{ store_info.new_seller_score ? __('新店铺') : store_info.comprehensive_total }}</span></p>
              {% for score in comprehensive_info %}
                <p class="score-item-tab"><span class="score-item-tab-title">{{ score.title }}</span>
                  <span class="score-item-tab-score">{{ score.score ?: '--' }}</span>
                  <img class="score-item-tab-score-img" src="{{ scoreCompareTip[score.compare]['imgSrc'] }}">
                </p>
              {% endfor %}
              {% if store_info.comprehensive_total != '--' %}
                <p class="view-score-detail"><span class="them-dark-blue-color" id="viewScoreDetail">{{ __('查看明细') }}</span></p>
              {% endif %}
            </div>

            <div class="account-manager-con">
              <p class="sub-title-14">{{ __('运营顾问') }}</p>
              <div class="account-manager-inner">
                <div class="account-manager-con-info">
                  <p>
                    <span class="account-manager-name">{{ __('姓名') }}:</span>
                    <span class="account-manager-value">{{ account_manage['username'] }}</span>
                  </p>
                  <p>
                    <span class="account-manager-name">{{ __('电话') }}:</span>
                    <span class="account-manager-value">{{ account_manage['mobile_phone'] }}</span>
                  </p>
                  <p class="seller-email">
                    <span class="account-manager-name">{{ __('邮箱') }}:</span>
                    <span class="account-manager-value">{{ account_manage['email'] }}</span>
                  </p>
                </div>
                <div class="account-manager-con-img">
                  {% if account_manage_pic %}
                    <img class="manager" src="{{account_manage_pic}}" alt="">
                  {% else %}
                    <img class="manager" src="public/image/central/defaultHead.jpg" alt="">
                  {% endif %}
                </div>
              </div>
            </div>

          </div>

          <div class="promotion-and-messages-con">
            {% if marketing_campaign.total>0 %}
              <div class="promotion mt-1 ">
                <p class="sub-title">
                  <span>{{ __('促销活动') }}</span>
                  {% if marketing_campaign.total>2 %}
                    <a href="{{ marketing_campaign.index_link }}" target="_blank" class="them-dark-blue-color font14">{{ __('查看更多') }}</a>
                  {% endif %}
                </p>
                <ul>
                  {% for marketing in marketing_campaign['list'] %}
                    <li class="mrb-10">
                      <p class="over font14">
                        <a class="link-color has-underline" href="{{ marketing.register_link }}" target="_blank">
                          {{ marketing.name }}
                        </a>
                      </p>
                      <p class="color9">{{ marketing.effective_time }} - {{ marketing.expiration_time }}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            <div class="unread mt-1">
              <p class="sub-title">{{ __('未读消息') }}</p>
              <div style="overflow:hidden;">
                <div class="row">
                  <div class="col-sm-6 flex-underline">
                    <span class="unread-title">{{ __('Buyer消息') }}:</span>
                    <span class="unread-value">
                      <a href="{{ unread_message.from_buyers_link }}" class="link-color" target="_blank">
                        {{ unread_message.from_buyers }}
                      </a>
                    </span>
                  </div>
                  <div class="col-sm-6 flex-underline">
                    <span class="unread-title">{{ __('系统提醒') }}:</span>
                    <span class="unread-value">
                      <a href="{{ unread_message.system_alters_link }}" class="link-color" target="_blank">
                        {{ unread_message.system_alters }}
                      </a>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 flex-underline">
                    <span class="unread-title">{{ __('客服回复') }}:</span>
                    <span class="unread-value">
                      <a href="{{ unread_message.customer_service_reply_link }}" class="link-color" target="_blank">
                        {{ unread_message.customer_service_reply }}
                      </a>
                    </span>
                  </div>
                </div>
              </div>
              <p class="sub-title mrt-10"><span>{{ __('平台公告') }}</span>
                <a target="_blank" href="{{ marketplace_notification.notice_action }}" class="them-dark-blue-color font14">
                  {{ __('查看更多') }}
                </a>
              </p>
              <ul>
                {% for notice in marketplace_notification.notices %}
                  <li class="mrb-10">
                    <div class="notice-one">
                      <div class="notice-one-left">
                        {% if notice.is_read==0 %}
                          <i class="gcl gclyuandian1 f12 font-normal"></i>
                        {% else %}
                          <i class="gcl gclyuandian1 f12 font-normal no-read"></i>
                        {% endif %}
                      </div>
                      <div class="notice-one-right">
                        <div  onclick="openNoticeForm('{{ notice.notice_href }}')">
                          <p class="over-inline-block">
                            <span class="f12 link-color font-normal cursor-pointer over"><i class="color-dark-blue font-normal mr-6">[{{ notice.type_name?:'Other' }}]</i><i class=" has-underline font-normal">{{ notice.title }}</i></span>
                          </p>
                          <span>
                          {% if notice.top_status and "now"|date("Y-m-d H:i:s") < notice.effective_time %}
                            <i class="giga icon-V10_Sellerhoutai_tishishixin"></i>
                          {% endif %}
                        </span>
                        </div>
                        <div class="color9">{{ notice.publish_date }}</div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      {% if recommend_data %}
      <div class="recommend-buyer-list">
        <div class="recommend-top">
          <div class="recommend-title">{{ __('为您推荐Buyer') }}</div>
          {% if recommend_data|length > 4 %}
          <div class="recommend-refresh">
            <a role="button" type="button" class="recommend-refresh-btn" data-cnzz-event="SellerCenter|SC_RecommendedBuyers">
              <i class="giga icon-V10_Sellerhoutai_shuaxin"></i>
              {{ __('换一批') }}
            </a>
          </div>
          {% endif %}
        </div>
        <div class="recommend-buyers">
          {% for index, recommend in recommend_data %}
          <div class="recommend-buyer-tab hidden">
            <div class="recommend-buyer-match">
              <div class="width-p-70">
                <p class="recommend-buyer-name">{{ recommend.buyer_name }}</p>
                <p class="recommend-buyer-id">ID: {{ recommend.buyer_number }}</p>
              </div>
              <div style="text-align: center">
                <p class="recommend-buyer-percent">{{ recommend.match_score }}<span class="percent-unit">%</span></p>
                <p class="recommend-buyer-compatibility">{{ __('匹配度') }}</p>
              </div>
            </div>
            <div class="recommend-buyer-others">
              <p>
                <span class="recommend-buyer-label">{{ __('账户类型') }}:</span>
                <span class=" recommend-buyer-value">{{ recommend.type_name }}</span>
              </p>
              <p>
                <span class="recommend-buyer-label">{{ __('主营品类') }}:</span>
                <span class=" recommend-buyer-value">{{ recommend.main_category_name }}</span>
              </p>
              <p>
                <span class="recommend-buyer-label">{{ __('交易往来') }}:</span>
                <span class=" recommend-buyer-value">{{ recommend.last_translation_date ? recommend.last_translation_date.diffForHumans() : __('N/A', {}, 'common') }}</span>
              </p>
            </div>
            <div class="buyer-btns">
              <a href="{{ url('message/seller/addMessage', {receiver_id: recommend.buyer_id}) }}"
                 data-cnzz-event="SellerCenter|SC_ContactBuyer"
                 class="link-color has-underline">{{ __('联系Buyer') }}</a>
              <span class="line-guid"></span>
              <a href="{{ url('customerpartner/seller_center/recommend/detail', {id: recommend.id}) }}"
                 data-cnzz-event="SellerCenter|SC_MoreBuyers"
                 class="link-color has-underline">{{ __('更多信息') }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div id="scoreDetail" class="score-detail-dailog" style="display: none">
  <div class="score-detail-colse text-right"> <i class="giga icon-V10_danchuangguanbi" id="closeScoreDailog"></i></div>
  <div class="score-detail-title text-center">GIGA Index</div>
  <div class="score-detail-sub-title text-center">
    GIGA  Index: <span class="score-detail-total">{{ store_info.comprehensive_total }}</span>
    <span class="score-detail-date">{{ __('更新时间') }}: {{ store_info.comprehensive_end_date }}</span>
  </div>
  <div class="score-detail-tabs">
    {% for index, score in comprehensive_info %}
      <div>
        <p class="score-detail-total-title">{{ score.title }}</p>
        <p>
          <span class="score-detail-item">{{ score.score }}</span>
          <span class="score-detail-rule">({{ __('满分:score分', {score: score.full_score}) }})</span>
        </p>
        <p>
          <img class="score-item-tab-score-img" src="{{ scoreCompareTip[score.compare]['imgSrc'] }}">
          <span class="score-item-flag">{{ scoreCompareTip[score.compare]['tip'] }}</span>
        </p>
      </div>
      {% if loop.last != true %}
        <div>
          <p><img class="score-item-tab-score-img" src="image/add.jpg"></p>
        </div>
      {% endif %}
    {% endfor %}
    <div>
      <p><img class="score-item-tab-score-img" src="image/equ.jpg"></p>
    </div>
    <div>
      <p><span class="score-equ-total">{{ store_info.comprehensive_total }}</span></p>
    </div>
  </div>
  <div class="how-to text-right">
    <a href="{{ store_info.comprehensive_url }}" target="_blank" class="them-dark-blue-color hot-to-txt">
      {{ __('如何提高你的GIGA Index&nbsp;&nbsp;&nbsp;&nbsp;查看详情') }}
    </a>
    <i class="giga icon-V10_Sellerhoutai_youjiantou go-how-to"></i>
  </div>
</div>

<script>
  $(".salesRanking button").on("click", function () {
    $("button.active").removeClass("active");
    $(this).addClass("active")
  });

  /**
   * 关闭顶部提示条
   */
  $(".cwf-notice-close").on("click", function () {
    $.ajax({
      url: "{{ url('customerpartner/seller_center/index/closeSellerCenterCwfNotice') }}",
      success: function (json) {
        if (json.code === 200) {
          $('.bulletin-board').hide();
        }
      },
    });
  });

  $(document).ready(function () {
    // let Pending = $(".Pending").outerHeight();
    // let promotion = $(".promotion").outerHeight();
    // let unread =$(".unread").outerHeight();
    // let title = $(".salesRanking .tab-title").outerHeight();
    // let head = $(".salesRanking .tab-head").outerHeight();
    // if (promotion == null || promotion== undefined || promotion==" "){
    //   let salesRanking = parseInt(unread)-parseInt(Pending)-parseInt(32);
    //   $(".salesRanking").height(salesRanking);
    //   let body =  parseInt(salesRanking) - parseInt(title)- parseInt(head )- parseInt(10);
    //   $(".salesRanking  .tab-body").height(body);
    // }else{
    //   let salesRanking = parseInt(promotion)+parseInt(unread)-parseInt(Pending)-parseInt(22);
    //   $(".salesRanking").height(salesRanking);
    //   let body =  parseInt(salesRanking) - parseInt(title)- parseInt(head )- parseInt(10);
    //   $(".salesRanking  .tab-body").height(body);
    // }

    layer.load(1, {shade: [0.3, '#000']});

    $.ajax({
      url: "{{ url('customerpartner/seller_center/index/ninetySell') }}",
      dataType: 'json',
      async: true,
      data: {},
      beforeSend: function () {
        layer.load(1, {shade: [0.3, '#000']});
      },
      complete: function () {
        layer.closeAll('loading');
      },
      success: function (json) {
        console.log(json)
        $('#transaction_qty').html(json.totalNumber);
        $('#transaction_money').html(json.totalPrice);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  })
</script>
<script>
  $(document).ready(function () {
    // 分数详情的弹框
    var scoreDailog='';
    $('body').on("click","#viewScoreDetail",function () {
      scoreDailog=layer.open({
        type:1,
        area:['840px','400px'],
        title: '',
        closeBtn: 0,
        content: $('#scoreDetail'),
      })
    })
    $('body').on("click","#closeScoreDailog",function () {
      layer.close(scoreDailog)
    })

    // 推荐buyer切换
    var recommendBuyer = {
      _itemEl: $('.recommend-buyer-tab'),
      _onePageCount: 4,
      _nextIndex: 0,
      _totalCount: 0,
      init() {
        this._totalCount = this._itemEl.length
        this.nextPage()
        $('body').on('click', '.recommend-refresh-btn', () => {
          this.nextPage()
        })
      },
      nextPage() {
        this._itemEl.addClass('hidden');
        for (let i = 0; i < this._onePageCount; i++) {
          this._itemEl.eq(this._nextIndex++).removeClass('hidden');
        }
        if (this._nextIndex >= this._totalCount) {
          this._nextIndex = 0;
        }
      }
    }
    recommendBuyer.init();
  })
  function openNoticeForm(url) {
    window.open(url);
  }
</script>
{{ footer }}
