{% trans_default_category 'catalog/view/pro/product/addproduct' %}
{{ js(['js/common/toolString.js']) }}
{{ cssOrigin(['/catalog/view/javascript/product/element-ui.css','/catalog/view/theme/yzcTheme/stylesheet/product/addproduct.css','catalog/view/javascript/layer/theme/yzc/layuiOris.css']) }}
{{ jsOrigin(['/catalog/view/javascript/product/vue.min.js', '/catalog/view/javascript/product/element-ui.js', '/catalog/view/javascript/product/element-ui-en.js','/catalog/view/javascript/product/axios.min.js', '/catalog/view/javascript/layer/layer.js','/catalog/view/javascript/layerOris.js'], 2) }}

{# 选择文件新弹框 #}
{% include 'yzcTheme/template/pro/product/components/filesModal.twig' %}

{# 添加自定义字段控件 #}
{% include 'yzcTheme/template/pro/product/components/customFields.twig' %}

<div id="app_form" v-cloak>
  <div v-if="auditRejectRemark">
    <span style="color: #FA6400;"><i class="giga icon-gantanhaojinggao"></i></span>
    <span class="audit-reject-remark">${auditRejectRemark}</span>
  </div>
  <!-- step bar -->
  <div class="steps-content">
    <div @click="handlerClickOnStepBar(index)" class="one-step" v-for=" (item,index) in stepStatus" :class="{'active-step':bar_active===index, 'tip-color':item.active}" v-if="!(isReadOnly>0&&(index==0||index==5))">
      <span v-if="!isReadOnly">${index+1}&nbsp;</span>${ item.title }
    </div>
  </div>
  <!-- product description upload input dialog -->
  <files-modal :show-input="false" :on-confirm="onProductDescriptionConfirm" :select-range="['image']" ref="upload_input_product_description">
  </files-modal>
  <!-- end product description upload input dialog -->
  <el-dialog title="{{ __('选择产品') }}" :close-on-click-modal="false" :close-on-press-escape="false" :visible.sync="associatedProductsDialogVisible">
    <div class="sub-title"><i class="giga icon-icn--n"></i>&nbsp;{{__('关联产品副标题')}}</div>
    <div class="dialog-input">
      <el-input v-model="associatedProductsDialogInputValue" placeholder="{{ __('查找Item Code/MPN/产品名称') }}">
      </el-input>
    </div>
    <div class="p10-t">
      <el-table :data="associateProductTableData" ref="associateTable" tooltip-effect="dark" border class="full-width" :height="350" :empty-text="showEmptytext" @selection-change="handleAssociateProductSelectionChange">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column label="{{ __('图片') }}" width="80">
          <img slot-scope="{row}" v-if="row.image" :src="row.image" class="box50" alt="">
        </el-table-column>
        <el-table-column prop="sku" label="Item Code" width="120"></el-table-column>
        <el-table-column prop="mpn" label="MPN" width="120"></el-table-column>
        <el-table-column prop="name" label="{{ __('产品名称') }}" show-overflow-tooltip>
          <a target="_blank" :href=" 'index.php?route=product/product&product_id=' + row.product_id " slot-scope="{row}">
            ${ row.name }
          </a>
        </el-table-column>
        <el-table-column prop="color" label="{{ __('主要颜色') }}" show-overflow-tooltip></el-table-column>
        <el-table-column prop="material" label="{{ __('主要材质') }}" show-overflow-tooltip></el-table-column>
        {# <el-table-column prop="product_size" label="{{ __('产品尺寸') }}" show-overflow-tooltip></el-table-column> #}
        <el-table-column prop="filler" label="{{ __('填充物') }}" width="120"></el-table-column>
        <el-table-column prop="custom_field.0.value" label="{{ __('自定义维度:index', {index: 1}) }}" width="130"></el-table-column>
        <el-table-column prop="custom_field.1.value" label="{{ __('自定义维度:index', {index: 2}) }}" width="130"></el-table-column>
        <el-table-column prop="custom_field.2.value" label="{{ __('自定义维度:index', {index: 3}) }}" width="130"></el-table-column>
        <el-table-column prop="custom_field.3.value" label="{{ __('自定义维度:index', {index: 4}) }}" width="130"></el-table-column>
        <el-table-column prop="custom_field.4.value" label="{{ __('自定义维度:index', {index: 5}) }}" width="130"></el-table-column>
      </el-table>
    </div>
    <div class="dialog-input">
      <el-pagination @current-change="getAssociatedProducts(associatedProductsDialogInputValue)" @size-change="getAssociatedProducts(associatedProductsDialogInputValue)" :page-sizes="[5,10,15]" background layout="prev, pager, next, sizes" :current-page.sync="associateProductCurrentPage" :page-size.sync="associateProductCurrentPageSize" :total="associateProductTotal">
      </el-pagination>
    </div>
    <div class="text-center p10">
      <el-button @click="handlerAssociatedProductsSubmitClick" type="primary">{{ __('提交关联产品') }}</el-button>
      <el-button @click=" associatedProductsDialogVisible = false ">{{ __('取消') }}</el-button>
    </div>
  </el-dialog>
  <!-- add sub items -->
  <el-dialog title="{{ __('选择产品') }}" :close-on-click-modal="false" :close-on-press-escape="false" :visible.sync="addSubItemDialogVisible">
    <div style="width: 50%;padding: 10px 0 10px 10px">
      <el-input v-model="addSubItemDialogInputValue" placeholder="{{ __('查找Item Code/MPN/产品名称') }}">
      </el-input>
    </div>
    <div style="padding:0 10px 10px 10px ">
      <el-table :data="addSubItemTableData" tooltip-effect="dark" border style="width: 100%" :height="350" :empty-text="showEmptytext" @selection-change="function(selection){ temp_sub_item_list = selection; }">
        <el-table-column type="selection" width="55" :selectable="checkProductCanSelect"></el-table-column>
        <el-table-column label="{{ __('图片') }}" width="80">
          <img slot-scope="{row}" v-if="row.image" :src="row.image" style="width: 50px;height: 50px" alt="">
        </el-table-column>
        <el-table-column prop="sku" label="Item Code" width="140">
          <template slot-scope="scope">
            <!-- 悬浮提示 -->
            <el-tooltip class="default-flex" placement="top" effect="dark" :disabled="+scope.row.width != 0 && +scope.row.weight != 0 && +scope.row.height != 0 && +scope.row.length != 0">
              <div slot="content">{{ __('只有产品尺寸大于0时才可以被添加为子产品，若产品尺寸有为0的，请联系平台更新！') }}</div>
              <div>${scope.row.sku}&nbsp;<img v-if="scope.row.is_ltl===1" data-toggle="tooltip" class="ltl-img" src="image/product/LTL.jpg"></div>
            </el-tooltip>
          </template>
        </el-table-column>
        <el-table-column prop="mpn" label="MPN" width="120"></el-table-column>
        <el-table-column prop="name" label="{{ __('产品名称') }}" show-overflow-tooltip>
          <a target="_blank" :href=" 'index.php?route=product/product&product_id=' + row.product_id " slot-scope="{row}">
            ${ row.name }
          </a>
        </el-table-column>
      </el-table>
    </div>
    <div style="width: 50%;padding: 10px 0 10px 10px">
      <el-pagination @current-change="getComboProducts(addSubItemDialogInputValue)" @size-change="getComboProducts(addSubItemDialogInputValue)" :page-sizes="[5,10,15]" background layout="prev, pager, next, sizes" :current-page.sync="addSubItemCurrentPage" :page-size.sync="addSubItemCurrentPageSize" :total="addSubItemTotal">
      </el-pagination>
    </div>
    <div style="text-align: center;padding: 10px">
      <el-button @click="handlerAddItemSubmitClick" type="primary">{{ __('提交Combo子产品') }}</el-button>
      <el-button @click=" addSubItemDialogVisible = false ">{{ __('取消') }}</el-button>
    </div>
  </el-dialog>
  <!-- end add sub items -->
  <el-form :model="formModel" :rules="formRules" ref="app_form" label-width="170px" class="app_form_style">
    <div v-show="bar_active==0" class="bar0">
      <div class="item-title"><span>{{ __('选择类目')}}</span></div>
      <el-form-item label="{{ __('您曾经选择过的类目') }}">
        <el-select v-model="selectedCateg" placeholder="{{ __('请选择', {}, 'common') }}" class="choosed-categ" @change="changedCateg(selectedCateg)" popper-class="category-drop">
          <el-option key="" value="" label="{{ __('请选择', {}, 'common') }}"></el-option>
          <el-option v-for="item in choosedCategList" :key="item.category_ids" :value="item.category_ids" :label="item.category_name" :title="item.category_name"></el-option>
        </el-select>
      </el-form-item>
      <div class="box-content">
        <div class="one-box">
          <div class="box-line" :class="{'active': myItem.category_id==choosedCateg.one.category_id}" v-for="myItem in allCategoryList" @click="chooseCateg(1, myItem)" :title="myItem.name">${myItem.name}</div>
        </div>
        <div class="one-box">
          <div class="box-line" :class="{'active': myItem.category_id==choosedCateg.second.category_id}" v-for="myItem in secondCategoryBox" @click="chooseCateg(2, myItem)" :title="myItem.name">${myItem.name}</div>
        </div>
        <div class="one-box">
          <div class="box-line" :class="{'active': myItem.category_id==choosedCateg.third.category_id}" v-for="myItem in thirdCategoryBox" @click="chooseCateg(3, myItem)" :title="myItem.name">${myItem.name}</div>
        </div>
      </div>
      <div class="item-title category-line">
        <span>{{ __('当前已选择的类目') }}：</span>
        <span><span class="warning-color" :title="choosedCateg.one.name">${choosedCateg.one.name}&nbsp;&nbsp;</span>
          <i class="fa fa-chevron-right" v-if="choosedCateg.one.son&&choosedCateg.one.son.length>0"></i>
        </span>
        <span v-if="choosedCateg.second.name"><span class="warning-color" :title="choosedCateg.second.name">${choosedCateg.second.name}&nbsp;&nbsp;</span>
          <i class="fa fa-chevron-right" v-if="choosedCateg.second.son&&choosedCateg.second.son.length>0"></i>
        </span>
        <span v-if="!choosedCateg.second.name&&choosedCateg.one.son&&choosedCateg.one.son.length>0">{{ __('请选择下级类目') }}</span>
        <span v-if="choosedCateg.third.name"><span class="warning-color" :title="choosedCateg.third.name">${choosedCateg.third.name}</span></span>
        <span v-if="!choosedCateg.third.name&&choosedCateg.second.son&&choosedCateg.second.son.length>0">{{ __('请选择下级类目') }}</span>
      </div>
      <div class="text-center mt-2 bot-btn">
        <el-button @click="handlePreviousStepClick">{{ __('返回') }}</el-button>
        <el-tooltip v-if="!isLastCategory" class="item" effect="dark" content="{{__('请先选择品类')}}" placement="top">
          <el-button v-if="status !== null" type="primary" class="opacity80">{{ __('提交编辑') }}</el-button>
        </el-tooltip>
        <el-tooltip v-if="!isLastCategory" class="item" effect="dark" content="{{__('请先选择品类')}}" placement="top">
          <el-button type="primary" class="opacity80">{{ __('下一步') }}</el-button>
        </el-tooltip>
        <span v-if="isLastCategory">
          <el-button v-if="status !== null" type="primary" @click="submitForm(3)">{{ __('提交编辑') }}</el-button>
          <el-button type="primary" @click="handleNextStepClick">{{ __('下一步') }}</el-button>
        </span>
      </div>
    </div>
    <div v-show="bar_active==1" class="bar1" :class="{'auditing':isReadOnly>0}">
      <div class="item-title" v-if="!isReadOnly"><span>{{ __('填写基础信息') }}</span></div>
      <div class="title-color font15 category-line default-flex">{{ __('当前已选择的类目') }}：
        <span><span class="warning-color" :title="choosedCateg.one.name">${choosedCateg.one.name}&nbsp;</span>
          <i class="fa fa-chevron-right" v-if="choosedCateg.one.son&&choosedCateg.one.son.length>0"></i>
        </span>
        <span v-if="choosedCateg.second.name"><span class="warning-color" :title="choosedCateg.second.name">${choosedCateg.second.name}&nbsp;</span>
          <i class="fa fa-chevron-right" v-if="choosedCateg.second.son&&choosedCateg.second.son.length>0"></i>
        </span>
        <span v-if="choosedCateg.third.name"><span class="warning-color" :title="choosedCateg.third.name">${choosedCateg.third.name}</span></span>
        <span v-if="!isReadOnly" class="pl-40 back-link" @click="handlePreviousStepClick">{{ __('返回修改所选类目') }}</span>
      </div>
      <el-form-item label="{{ __('产品基础属性') }}" class="app_el_item left-label">
      </el-form-item>
      <!-- mpn start -->
      <el-form-item label="MPN" prop="mpn" class="app_el_item" required id="formMpn">
        <el-input v-model="formModel.mpn" placeholder="MPN" maxlength=30 show-word-limit :disabled=" formModel.product_id ? true : false ">
        </el-input>
      </el-form-item>
      <!-- mpn end -->
      <el-form-item prop="upc" class="app_el_item" id="formUpc">
        <template slot="label">
          UPC
          <el-tooltip class="item" effect="dark" content="{{ __('UPC：通用产品代码') }}" placement="top">
            <span><i class="giga icon-V10-wenhaotishi"></i></span>
          </el-tooltip>
        </template>
        <el-input v-model="formModel.upc" placeholder="UPC" maxlength=30 show-word-limit :disabled="isReadOnly>0">
        </el-input>
      </el-form-item>
      <!-- sku start -->
      <el-form-item v-if="formModel.product_id" label="Item Code" prop="sku" class="app_el_item">
        <el-input v-model="formModel.sku" placeholder="Item Code" disabled></el-input>
      </el-form-item>
      <!-- sku end -->
      <el-form-item label="{{ __('产品分组') }}" class="app_el_item group-select">
        <el-select v-model="formModel.product_group_ids" placeholder="{{ __('请选择', {}, 'common') }}" :disabled="!isShowProductGroup||isReadOnly>0" multiple filterable>
            <el-option v-for="one in product_group_list" :key="one.id+''" :value="one.id+''" :label="one.name"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="{{ __('单独售卖') }}" prop="buyer_flag" class="app_el_item" required>
        <template slot="label">
          {{ __('单独售卖') }}
        </template>
        <el-tooltip class="item" effect="dark" :content="formModel.buyer_flag == 1?'{{ __('是') }}': '{{ __('否') }}'" placement="top">
          <el-switch v-model="formModel.buyer_flag" active-color="#13ce66" inactive-color="#ff4949" :active-value="1" :inactive-value="0">
          </el-switch>
        </el-tooltip>
      </el-form-item>
      <el-form-item v-if="formModel.buyer_flag" label="{{ __('不可售卖平台') }}" prop="non_sellable_on" class="app_el_item non-sellable">
        <template>
          <el-checkbox-group v-model="formModel.non_sellable_on">
            <el-checkbox v-for="(platform,index) in SellablePlatform" :key="platform" :label="platform" @change="changeSellablePlatform(platform,index)"></el-checkbox>
          </el-checkbox-group>
        </template>
        <div v-if="SellablePlatform.length < 19" class="platform-add">
          <span :class="{'tips-color':isShowInputPlatform, 'text-btn-color':!isShowInputPlatform}" @click="addMorePlatformClick()">+ {{ __('添加') }}</span>
          <span v-if="isShowInputPlatform">
            <el-input v-model="inputPlatform" placeholder="{{ __('平台名称') }}"></el-input>
            <span class="text-btn-color" @click="saveInputPlatform">{{ __('保存') }}</span>
            <span class="text-btn-color" @click="cancelInputPlatform">{{ __('取消') }}</span>
          </span>
        </div>
      </el-form-item>
      <el-form-item label="{{ __('产品标题') }}" prop="name" class="app_el_item" required>
        <el-input placeholder="{{ __('产品标题') }}" type="textarea" v-model="formModel.name" :disabled="isReadOnly>0"></el-input>
        <span class="pl-10" style="display: block">{{ __('您还能输入') }} <span class="warning-color">${formModel.name?(200-toolString.calcStringLength(formModel.name, 200).len<0?0:200-toolString.calcStringLength(formModel.name, 200).len):200}</span>/200 {{ __('个字符，产品标题不能有中文') }}</span> </el-form-item>
      </el-form-item>
      
      <!-- #33309 新增 -->
      <!-- 定制化 -->
      <el-form-item class="app_el_item" prop="is_customize" required>
        <template slot="label">
          {{ __('定制化') }}
          <el-tooltip class="item" effect="dark" content="{{ __('勾选“是”意为该产品可以为客户提供定制服务') }}" placement="top">
            <span><i class="giga icon-V10-wenhaotishi"></i></span>
          </el-tooltip>
        </template>
        <el-radio-group v-model="formModel.is_customize">
          <el-radio :label="0" :disabled="isReadOnly>0">{{ __('否') }}</el-radio>
          <el-radio :label="1" :disabled="isReadOnly>0">{{ __('是') }}</el-radio>
        </el-radio-group>
      </el-form-item>
      <!-- end 定制化 -->
      <el-form-item class="app_el_item" prop="origin_place_code" label="{{ __('原产地') }}">
        <el-select v-model="formModel.origin_place_code" placeholder="{{ __('请选择', {}, 'common') }}" filterable :disabled="isReadOnly>0">
          <el-option v-for="item in origin_place_list" :key="item.code" :value="item.code" :label="item.name"></el-option>
        </el-select>
      </el-form-item>

      <el-form-item class="app_el_item" prop="color" label="{{ __('主要颜色') }}" required>
          <el-select v-model="formModel.color" placeholder="{{ __('请选择', {}, 'common') }}" filterable :disabled="isReadOnly>0">
            <el-option v-for="item in colorList" :key="item.option_value_id" :value="item.option_value_id" :label="item.name"></el-option>
          </el-select>
      </el-form-item>
      <el-form-item class="app_el_item" prop="material" label="{{ __('主要材质') }}" required>
        <el-select v-model="formModel.material" placeholder="{{ __('请选择', {}, 'common') }}" filterable :disabled="isReadOnly>0">
          <el-option v-for="item in materialList" :key="item.option_value_id" :value="item.option_value_id" :label="item.name"></el-option>
        </el-select>
      </el-form-item>

      <!-- #33309 新增 填充物 -->
      <el-form-item class="app_el_item" prop="filler" label="{{ __('填充物') }}">
        <el-select v-model="formModel.filler" placeholder="{{ __('请选择', {}, 'common') }}" @change="$forceUpdate();" filterable :disabled="isReadOnly>0">
          <el-option v-for="item in materialList" :key="item.option_value_id" :value="item.option_value_id" :label="item.name"></el-option>
        </el-select>
      </el-form-item>

      <div class="associate-product-btn-wrapper">
        <custom-fields ref="infoCustomFields" @update="updateInfoCustomFields">
          <!-- #38815 产品列表添加自定义字段展示 -->
          <template v-slot:btnright>
            <div class="inline-btn ml-30">
              <el-tooltip class="item" effect="dark" content="{{ __('通过添加关联产品使得一个链接下有多个产品') }}" placement="top">
                <el-button @click="handlerAssociateProductsClick" type="primary" v-if="!isReadOnly">{{ __('添加关联产品') }}</el-button>
              </el-tooltip>
            </div>
          </template>
        </custom-fields>
      </div>
      <el-table v-if="product_associated && product_associated.length > 0 " :data="product_associated" 
        tooltip-effect="dark" border style="width: 80%" max-height="250px" empty-text="No Data" class="associated_table">
        <el-table-column label="{{ __('图片') }}" width="65">
          <img slot-scope="{row}" v-if="row.image" :src="row.image" class="box50" alt="">
        </el-table-column>
        <el-table-column prop="sku" label="Item Code" width="120"></el-table-column>
        <el-table-column prop="mpn" label="MPN" width="120"></el-table-column>
        <el-table-column prop="name" label="{{ __('产品名称') }}" min-width:="150" show-overflow-tooltip>
          <a target="_blank" :href=" 'index.php?route=product/product&product_id=' + row.product_id " slot-scope="{row}">
            ${ row.name }
          </a>
        </el-table-column>
        <el-table-column prop="color" label="{{ __('主要颜色') }}" width="120"></el-table-column>
        <el-table-column prop="material" label="{{ __('主要材质') }}" width="120"></el-table-column>
        <el-table-column prop="filler" label="{{ __('填充物') }}" width="120"></el-table-column>
        <el-table-column prop="custom_field.0.value" label="{{ __('自定义维度:index', {index: 1}) }}" width="130"></el-table-column>
        <el-table-column prop="custom_field.1.value" label="{{ __('自定义维度:index', {index: 2}) }}" width="130"></el-table-column>
        <el-table-column prop="custom_field.2.value" label="{{ __('自定义维度:index', {index: 3}) }}" width="130"></el-table-column>
        <el-table-column prop="custom_field.3.value" label="{{ __('自定义维度:index', {index: 4}) }}" width="130"></el-table-column>
        <el-table-column prop="custom_field.4.value" label="{{ __('自定义维度:index', {index: 5}) }}" width="130"></el-table-column>
        <el-table-column label="{{ __('操作',{},'common') }}" fixed="right" width="100">
          <el-button v-if="!isReadOnly" size="medium" slot-scope="{$index}" @click="handlerProductColorDelete($index)" icon="el-icon-delete" type="danger">
          </el-button>
        </el-table-column>
      </el-table> 

      <!-- #33309 新增产品尺寸 -->
      <!-- 后期优化为维护对象渲染 -->
      <el-form-item label="{{ __('产品组装尺寸') }}" class="app_el_item left-label"></el-form-item>
      <div class="product-content">
        <el-form-item label="{{ __('组装长度') }}" prop="dimensions.length" ref="dimension-input-length" class="app_el_item">
          <el-input-number :disabled="isReadOnly > 0" v-show="!dimensionsCheck.length" class="app_form_input_number" min="0" max="999.99" 
            :precision="2" :controls="false" v-model="formModel.dimensions.length">
          </el-input-number>
          <el-input disabled v-show="dimensionsCheck.length" class="app_form_input_number" value="{{ __('组装长度不适用') }}">
          </el-input>
          <span class="dimension-unit" v-if="countryId===223">{{ __('英寸') }}</span>
          <span class="dimension-unit" v-else>{{ __('厘米') }}</span>
          <div class="dimension-checkbox-container">
            <el-checkbox :disabled="isReadOnly > 0":disabled="isReadOnly > 0" v-model="dimensionsCheck.length" @change="(e) => {changeDimensionCheck(e, 'length')}">
              {{ __('组装长度不适用') }}
            </el-checkbox>
          </div>
        </el-form-item>
        <el-form-item label="{{ __('组装宽度') }}" prop="dimensions.width" ref="dimension-input-width" class="app_el_item mt-20">
          <el-input-number :disabled="isReadOnly > 0" v-show="!dimensionsCheck.width" class="app_form_input_number" min="0" max="999.99" 
            :precision="2" :controls="false" v-model="formModel.dimensions.width">
          </el-input-number>
          <el-input disabled v-show="dimensionsCheck.width" class="app_form_input_number" value="{{ __('组装宽度不适用') }}">
          </el-input>
          <span class="dimension-unit" v-if="countryId===223">{{ __('英寸') }}</span>
          <span class="dimension-unit" v-else>{{ __('厘米') }}</span>
          <div class="dimension-checkbox-container">
            <el-checkbox :disabled="isReadOnly > 0" v-model="dimensionsCheck.width" @change="(e) => {changeDimensionCheck(e, 'width')}">
              {{ __('组装宽度不适用') }}
            </el-checkbox>
          </div>
        </el-form-item>
        <el-form-item label="{{ __('组装高度') }}" prop="dimensions.height" ref="dimension-input-height" class="app_el_item mt-20">
          <el-input-number :disabled="isReadOnly > 0" v-show="!dimensionsCheck.height" class="app_form_input_number" min="0" max="999.99" 
            :precision="2" :controls="false" v-model="formModel.dimensions.height">
          </el-input-number>
          <el-input disabled v-show="dimensionsCheck.height" class="app_form_input_number" value="{{ __('组装高度不适用') }}">
          </el-input>
          <span class="dimension-unit" v-if="countryId===223">{{ __('英寸') }}</span>
          <span class="dimension-unit" v-else>{{ __('厘米') }}</span>
          <div class="dimension-checkbox-container">
            <el-checkbox :disabled="isReadOnly > 0" v-model="dimensionsCheck.height" @change="(e) => {changeDimensionCheck(e, 'height')}">
              {{ __('组装高度不适用') }}
            </el-checkbox>
          </div>
        </el-form-item>
        <hr>
        <!-- weight -->
        <el-form-item class="app_el_item" prop="dimensions.weight" ref="dimension-input-weight" label="{{ __('重量') }}">
          <el-input-number :disabled="isReadOnly > 0" v-show="!dimensionsCheck.weight" class="app_form_input_number" min="0" max="999.99" 
            :precision="2" :controls="false" v-model="formModel.dimensions.weight">
          </el-input-number>
          <el-input disabled v-show="dimensionsCheck.weight" class="app_form_input_number" value="{{ __('重量不适用') }}">
          </el-input>
          <span class="dimension-unit" v-if="countryId===223">{{ __('磅') }}</span>
          <span class="dimension-unit" v-else>{{ __('千克') }}</span>
          <div class="dimension-checkbox-container">
            <el-checkbox :disabled="isReadOnly > 0" v-model="dimensionsCheck.weight" @change="(e) => {changeDimensionCheck(e, 'weight')}">
              {{ __('重量不适用') }}
            </el-checkbox>
          </div>
        </el-form-item>
        <!-- end weight -->
        <custom-fields ref="dimensCustomeFields" @update="updateDimenCustomFields"></custom-fields>
      </div>
      <!-- end 产品尺寸 -->


      <el-form-item label="{{ __('产品包装信息') }}" class="app_el_item left-label"></el-form-item>
      <div class="packet-content">
        <el-form-item label="{{ __('商品类型') }}" prop="product_type" class="app_el_item" required>
          <el-radio-group v-model="formModel.product_type" :disabled=" formModel.product_id ? true : false ">
            <el-radio v-for=" (item,key) in product_type_list " :key="key" :label="item.value" @change="changeProductType(true)">${ item.title }
              <el-tooltip v-if=" item.value == 2 " class="item" effect="dark" content="{{ __('子产品的组成和数量仅能在产品上架前更改') }}" placement="top">
                <span><i class="giga icon-V10-wenhaotishi"></i></span>
              </el-tooltip>
              <el-tooltip v-if=" item.value == 3 " class="item" effect="dark" content="{{ __('若产品可以独立售卖，即使为小尺寸产品，请设置为general item.') }}" placement="top">
                <span><i class="giga icon-V10-wenhaotishi"></i></span>
              </el-tooltip>
            </el-radio>
          </el-radio-group>
        </el-form-item>
        <div v-show=" formModel.product_type == 1 || formModel.product_type == 3 ">
          <el-form-item label="{{ __('长') }}" prop="length" class="app_el_item">
            <el-input-number @blur="productSizeValidBlur" class="app_form_input_number" min="0" max="999.99" :precision="2" :controls="false" v-model="formModel.length" :disabled=" formModel.product_id ? true : false ">
            </el-input-number>
            <span v-if="countryId===223">{{ __('英寸') }}</span>
            <span v-else>{{ __('厘米') }}</span>
          </el-form-item>
          <el-form-item label="{{ __('宽') }}" prop="width" class="app_el_item mt-20" prop="width">
            <el-input-number @blur="productSizeValidBlur" class="app_form_input_number" min="0" max="999.99" :precision="2" :controls="false" v-model="formModel.width" :disabled=" formModel.product_id ? true : false ">
            </el-input-number>
            <span v-if="countryId===223">{{ __('英寸') }}</span>
            <span v-else>{{ __('厘米') }}</span>
          </el-form-item>
          <el-form-item label="{{ __('高') }}" prop="height" class="app_el_item mt-20" prop="height">
            <el-input-number @blur="productSizeValidBlur" class="app_form_input_number" min="0" max="999.99" :precision="2" :controls="false" v-model="formModel.height" :disabled=" formModel.product_id ? true : false ">
            </el-input-number>
            <span v-if="countryId===223">{{ __('英寸') }}</span>
            <span v-else>{{ __('厘米') }}</span>
          </el-form-item>
          <hr>
          <!-- weight -->
          <el-form-item class="app_el_item" prop="weight" label="{{ __('重') }}">
            <el-input-number @blur="productSizeValidBlur" class="app_form_input_number" min="0" max="999.99" :precision="2" :controls="false" v-model="formModel.weight" :disabled=" formModel.product_id ? true : false ">
            </el-input-number>
            <span v-if="countryId===223">{{ __('磅') }}</span>
            <span v-else>{{ __('千克') }}</span>
          </el-form-item>
          <!-- end weight -->
        </div>
        <div v-show=" formModel.product_type == 2 ">
          <!-- combo -->
          <el-form-item class="app_el_item" prop="combo" label="{{ __('子产品') }}">
            <el-button v-if="!isReadOnly" type="primary" @click="handlerAddSubItemsClick" style="margin-bottom: 10px" :disabled="disableComboEdit"> {{ __('添加子产品') }}
            </el-button>
            <el-table v-if=" formModel.combo && formModel.combo.length > 0 " :data="formModel.combo" tooltip-effect="dark" border style="width: 80%" empty-text="No Data">
              <el-table-column label="{{ __('图片') }}" width="65">
                <img slot-scope="{row}" v-if="row.image" :src="row.image" style="width: 50px;height: 50px" alt="">
              </el-table-column>
              <el-table-column prop="sku" label="Item Code" width="120">
                <template slot-scope="scope">
                  <div class="default-flex">${scope.row.sku}&nbsp;
                    <img v-if="scope.row.is_ltl===1" class="ltl-img" src="image/product/LTL.jpg"></div>
                </template>
              </el-table-column>
              <el-table-column prop="mpn" label="MPN" width="120">
              </el-table-column>
              <el-table-column prop="quantity" label="{{ __('数量') }}">
                <template slot-scope="scope">
                  <el-input-number type="number" :min="1" v-model="scope.row.quantity" :controls="false" style="width: 100%" step-strictly :disabled="isReadOnly>0 || disableComboEdit">
                  </el-input-number>
                </template>
              </el-table-column>
              <el-table-column prop="length" label="Length(inches)" width="80">
                <p slot="header">{{ __('长') }} <br> (<span v-if="countryId===223">{{ __('英寸') }}</span><span v-else>{{ __('厘米') }}</span>)</p>
              </el-table-column>
              <el-table-column prop="width" label="Width(inches)" width="80">
                <p slot="header">{{ __('宽') }} <br> (<span v-if="countryId===223">{{ __('英寸') }}</span><span v-else>{{ __('厘米') }}</span>)</p>
              </el-table-column>
              <el-table-column prop="height" label="Height(inches)" width="80">
                <p slot="header">{{ __('高') }} <br> (<span v-if="countryId===223">{{ __('英寸') }}</span><span v-else>{{ __('厘米') }}</span>)</p>
              </el-table-column>
              <el-table-column prop="weight" label="Weight(lbs)" width="80">
                <p slot="header">{{ __('重') }} <br> (<span v-if="countryId===223">{{ __('磅') }}</span><span v-else>{{ __('千克') }}</span>)</p>
              </el-table-column>
              <el-table-column label="{{ __('操作',{},'common') }}">
                <el-button :disabled="disableComboEdit" v-if="!isReadOnly" slot-scope="{$index}" size="medium" slot-scope="{index}" icon="el-icon-delete" @click="handlerDeleteComboItem($index)" type="danger">
                </el-button>
              </el-table-column>
            </el-table>
          </el-form-item>
          <!-- end combo -->
        </div>
      </div>
      <!-- 运费Freght 只有美国有运费  Start -->
      <el-form-item v-if="formModel.product_type && countryId===223" label="Freight" prop="freight" class="app_el_item inline-fee">
        <template slot="label">
          ${formModel.is_ltl==undefined?'{{ __('配送费') }}':(formModel.is_ltl==1?'{{ __('LTL配送费') }}':'{{ __('快递配送费') }}')}
          <el-tooltip class="item" effect="dark" content="{{ __('本页面计算的运费为预估值，仅供参考') }}" placement="top">
            <span><i class="giga icon-V10-wenhaotishi"></i></span>
          </el-tooltip>
        </template>
        <div>{{ __('运输费') }}: ${freightData.freight}</div>
        <div>{{ __('一件代发打包费') }}: ${freightData.dropShipPackageFee}</div>
        <div>{{ __('上门取货打包费') }}: ${freightData.pickUpPackageFee}</div>
      </el-form-item>
      <!-- 运费Freght  End -->
      <el-form-item label="{{ __('产品价格设置') }}" class="app_el_item left-label"></el-form-item>
      <el-row>
        <el-col :span="12" class="current-price">
          <el-form-item class="app_el_item" prop="price" label="price">
            <template slot="label">
              {{ __('当前价格') }}
              <el-tooltip class="item" effect="dark" content="{{ __('当前价格不含产品的配送费') }}" placement="top">
                <span><i class="giga icon-V10-wenhaotishi"></i></span>
              </el-tooltip>
            </template>
            <el-input-number class="app_form_input_number" min="0" :precision=" countryId===107?0:2 " :max=" countryId===107?9999999:9999999.99" :controls="false" v-model="formModel.price" :disabled=" formModel.product_id ? true : false ">
            </el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item class="app_el_item" prop="price_display" label="Display Price" required>
            <template slot="label">
              {{ __('价格是否可见') }}
              <el-tooltip class="item" effect="dark" content="{{ __('价格是否对非合作买家可见') }}" placement="top">
                <span><i class="giga icon-V10-wenhaotishi"></i></span>
              </el-tooltip>
            </template>
            <el-select v-model="formModel.price_display" placeholder="{{ __('请选择', {}, 'common') }}" :disabled=" formModel.product_id ? true : false ">
              <el-option key="1" value="0" label="{{ __('不可见') }}"></el-option>
              <el-option key="0" value="1" label="{{ __('可见') }}"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <div class="text-center mt-2 bot-btn" v-if="!isReadOnly">
        <el-button @click="handlePreviousStepClick">{{ __('上一步') }}</el-button>
        <el-tooltip v-if="!isNextStep || !jpOverSizeIsValid" class="item" effect="dark" :content="baseInfoTooltip" placement="top">
           <el-button v-if="status !== null" type="primary" class="opacity80">{{ __('提交编辑') }}</el-button>
        </el-tooltip>
        <el-tooltip v-if="!isNextStep || !jpOverSizeIsValid" class="item" effect="dark" :content="baseInfoTooltip" placement="top">
           <el-button type="primary" class="opacity80">{{ __('下一步') }}</el-button>
        </el-tooltip>
        <span v-if="isNextStep && jpOverSizeIsValid">
          <el-button v-if="status !== null" type="primary" @click="submitForm(3)">{{ __('提交编辑') }}</el-button>
          <el-button type="primary" @click="handleNextStepClick">{{ __('下一步') }}</el-button>
        </span>
      </div>
    </div>
    <div v-show="bar_active==2" class="bar2">
      <div class="item-title"><span>{{ __('产品描述') }}</span></div>
      <!-- product description -->
      <el-form-item label="{{ __('产品描述') }}:" class="app_el_item">
        <span class="label-describe">{{ __('产品描述包含产品功能特色介绍，产品明细展示，seller实力展示等可以突出产品优势的文案，产品描述文字和图片中不能有中文') }}</span>
      </el-form-item>
      <el-form-item label="" class="app_el_item">
        <template>
          <div class="describe-content">
            <div class="app_form_product_description"></div>
          </div>
        </template>
      </el-form-item>
      <!-- end product description -->
      <!-- Return & Warranty -->
      <el-form-item label="{{ __('退返品政策') }}:" class="app_el_item">
        <span class="label-describe">{{ __('产品的退返品政策和售后质保说明，此条款只是协定，将展示在产品详情页面，RMA功能不会按照协定做限制，需要seller妥善处理RMA') }}</span>
      </el-form-item>
      <el-form-item label="">
        <template>
          <div class="note-editor return-warranty">
            <b>Return Policy (Marketplace RMA guidelines must be followed for processing all return requests)</b>
            <div>Unshipped Items Return Policy</div>
            <div class="pl-10">
              <el-radio v-model="returnWarranty.isAccept" label="1" :disabled="isReadOnly>0"></el-radio>
              <el-input-number id="rwPercent" :precision="0" :controls="false" v-model="returnWarranty.percent" :disabled="isReadOnly>0">
              </el-input-number>% restocking fee will be charged for unshipped item returns without valid reason within
              <el-input-number id="rwDays" :precision="0" :controls="false" v-model="returnWarranty.days" :disabled="isReadOnly>0">
              </el-input-number>days of the original order being processed. </br>
              <el-radio v-model="returnWarranty.isAccept" label="0" :disabled="isReadOnly>0"></el-radio>
              <span>Sellers do not accept return requests for unshipped items. </span>
            </div>
            <div>Shipped Items Return Policy</div>
            <div class="pl-10">
              <el-radio v-model="returnWarranty.isAcceptDay" label="1" :disabled="isReadOnly>0">
              </el-radio>
              <span>For quality or logistics issues, the Buyer can request a refund or reshipment within
                  <el-input-number id="rwAdays" :precision="0" :controls="false" v-model="returnWarranty.aDays" :disabled="isReadOnly>0">
                  </el-input-number>days after the end customer has received the item. The reshipment fee will be borne by the Seller.
              </span></br>
              <el-checkbox v-model="returnWarranty.checked" :disabled="isReadOnly>0">
              </el-checkbox>
              <span>After
                  <el-input-number :controls="false" v-model="returnWarranty.aDays" disabled>
                  </el-input-number>days have passed since the end customer recieved their order, RMA requests will no longer be accepted aside from quality or logistics related issues.
              </span>
            </div>
            <b>Warranty Policy (Marketplace RMA guidelines must be followed during after-sales services)</b>
            <div class="pl-10">
              <div>Beginning from the date of delivery, purchased products include a<el-input-number id="rwAmonth" :controls="false" v-model="returnWarranty.aMonth" :disabled="isReadOnly>0"></el-input-number>month warranty.In the event of manufacturing defects, the Buyer can request a refund, partial reshipment or full reshipment within the warranty period. </div>
              <div class="warning-color">Please note that the warranty policy does not apply to the following situations: </div>
              <ul>
                <li>Damage resulting from negligence, abuse, normal wear and tear or natural disaster and accidents, including but not limited to: burns, cuts, tears abrasions, scratches, watermarks, indentation or pet damage</li>
                <li>Damage resulting from unauthorized modifications, except with written approval from Seller</li>
                <li>Products not purchased through the Giga Cloud Marketplace</li>
                <li>Products with their own individual warranty policy</li>
                <li v-for="(policy, pIndex) in returnWarranty.content">
                  <el-input v-model="returnWarranty.content[pIndex]" type="text" placeholder="Add more situations for approval. The new situations will be effective after being approved by Marketplace" :disabled="isReadOnly>0" @blur="changeText(pIndex)"></el-input>
                  <span v-if="!isReadOnly">
                    <i v-if="returnWarranty.content.length<5&&pIndex===returnWarranty.content.length-1" class="el-icon-circle-plus-outline" @click="returnPolicyLine(1, pIndex)"></i>
                    <i v-if="pIndex!=0" class="el-icon-remove-outline" @click="returnPolicyLine(-1, pIndex)"></i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </template>
      </el-form-item>
      <div class="text-center mt-2 bot-btn" v-if="!isReadOnly">
        <el-button @click="handlePreviousStepClick">{{ __('上一步') }}</el-button>
        <el-tooltip v-if="!isNextStep" class="item" effect="dark" content="{{__('请完成必填项填写')}}" placement="top">
           <el-button v-if="status !== null" type="primary" class="opacity80">{{ __('提交编辑') }}</el-button>
        </el-tooltip>
        <el-tooltip v-if="!isNextStep" class="item" effect="dark" content="{{__('请完成必填项填写')}}" placement="top">
           <el-button type="primary" class="opacity80">{{ __('下一步') }}</el-button>
        </el-tooltip>
        <span v-if="isNextStep">
          <el-button v-if="status !== null" type="primary" @click="submitForm(3)">{{ __('提交编辑') }}</el-button>
          <el-button type="primary" @click="handleNextStepClick">{{ __('下一步') }}</el-button>
        </span>
      </div>
    </div>
    <div v-show="bar_active==3" class="bar3" :class="{'auditing':isReadOnly>0}">
      <div class="item-title"><span>{{ __('图片标题') }}</span></div>
      <el-form-item label="{{ __('产品图片') }}:" class="app_el_item">
        <span class="label-describe">{{ __('最多可以上传27张图片，页面展示的图片格式要求： 形状: 正方形 ; 最小尺寸：2000 x 2000像素（Amazon要求图像大于2000 x 2000）； 格式：JPG（也可以接受PNG。但是，Wayfair不接受PNG图片）。请上传小于20MB的图片，以避免显示错误。平台建议页面展示图片最少上传7张图片（功能图，特写图，细节图，尺寸图，场景图，包装图，配件图），上传图片太少提交后可能无法通过平台审核。') }}</span>
      </el-form-item>
      <el-form-item label="{{ __('页面展示图片') }}:" class="app_el_item large-label" id="productImageUp" :required="formModel.buyer_flag==1">
        <files-modal :on-confirm="handlerOnChangeProductImage" :on-change="handlerOnChangeProductImage" :file-list="fileList" :file-list-sort="sortFileList" :show-preview="checkFileIsNotEmpty" :show-download="checkFileIsNotEmpty" ref="upload_input_2">
          <div slot="pic_wrap" slot-scope="{file}">
            <div>
              <span class="wrap_content_top_form">
                <el-checkbox v-model="file.isMainImage" @change="handlerProductImageCheckboxChange(file)" :disabled="isReadOnly>0">
                  <span style="color:white;padding: 0;">Main image</span>
                </el-checkbox>
              </span>
              <span class="wrap_content_bottom_form">
                Display order
                <el-input v-model="file.sort_order" min="0" precision="0" type="number" style="width: 28%;height: 30px;line-height:30px;" class="el_input_form" :disabled="isReadOnly>0||file.isMainImage" @input="changedSortOrder(file)" @blur="blurSortOrder">
                </el-input>
              </span>
            </div>
          </div>
        </files-modal>
        <div class="el-form-item__error" v-if="formModel.buyer_flag === 1 && !formModel.image">
          {{ __('需要设置主图！') }}
        </div>
      </el-form-item>
      <el-form-item label="{{ __('其他图片') }}:" class="app_el_item" id="materialImagesUp">
        <div>
          <files-modal :on-confirm="handlerOnConfirmMaterialImage" :on-change="handlerOnConfirmMaterialImage" :file-list="material_images" :show-preview="checkFileIsNotEmpty" :show-download="checkFileIsNotEmpty" ref="upload_input_3">
          </files-modal>
        </div>
      </el-form-item>
      <hr>

      <!-- #33309 新增 之前位于产品描述tab -->
      {#原创产品 start#}
      <el-form-item class="app_el_item" prop="original_product" label="{{ __('是否为原创产品') }}" required>
        <el-radio-group v-model="formModel.original_product">
          <el-radio :label="0" :disabled="isReadOnly>0">{{ __('否') }}</el-radio>
          <el-radio :label="1" :disabled="isReadOnly>0">{{ __('是') }}</el-radio>
        </el-radio-group>
        <div style="position: relative">
          <div class="is_original_popover" v-if="formModel.original_product">
            <div class="popover-content">
              {{ __('本人/本公司确认提供并上传到（网址）上的专利/商标等知识产权有关的证书均真实有效，本人/本公司对此真实性和有效性负全部责任。') }}
            </div>
          </div>
        </div>
      </el-form-item>
      <el-form-item label="{{ __('原创证明文件') }}" v-if="formModel.original_product" class="app_el_item" 
      id="originalImagesUp" :required="formModel.original_product==1">
        <div class="pb-16">
          {{ __('请上传原创证明文件，支持 jpeg/jpg/png/gif格式的图片，单张图片大小不超过20M，最多支持9张图片。') }}
        </div>
        <div>
          <files-modal :on-confirm="handlerOnConfirmOriginalImage" :on-change="handlerOnConfirmOriginalImage" 
          :file-list="original_design" :show-preview="checkFileIsNotEmpty" :show-download="checkFileIsNotEmpty" ref="upload_input_0">
          </files-modal>
        </div>
        <div class="el-form-item__error" v-if="formModel.original_product == 1 && formModel.original_design.length === 0">
          {{ __('原创产品选择是时，原创证明文件必填') }}
        </div>
      </el-form-item>
      {#原创产品 end#}

      {# TODO 修改原来素材库最后一次操作 #}
      {# <div class="text-center mt-2 bot-btn" v-if="!isReadOnly">
        <el-button @click="handlePreviousStepClick">{{ __('上一步') }}</el-button>
        <el-tooltip v-if="!isNextStep" class="item" effect="dark" content="{{__('请完成必填项填写')}}" placement="top">
           <el-button v-if="status !== null" type="primary" class="opacity80">{{ __('提交编辑') }}</el-button>
        </el-tooltip>
        <el-tooltip v-if="!isNextStep" class="item" effect="dark" content="{{__('请完成必填项填写')}}" placement="top">
           <el-button v-if="status == null" class="opacity80">{{ __('保存草稿') }}</el-button>
        </el-tooltip>
        <el-tooltip v-if="!isNextStep" class="item" effect="dark" content="{{__('请完成必填项填写')}}" placement="top">
           <el-button v-if="status == null" class="opacity80" type="primary">{{ __('提交审核') }}</el-button>
        </el-tooltip>
        <span v-if="isNextStep">
          <el-button v-if="status !== null" type="primary" :class="{'opacity80':!isNextStep}" :disabled="!isNextStep" @click="submitForm(3)">{{ __('提交编辑') }}</el-button>
          <el-button v-if="status == null" :class="{'opacity80':!isNextStep}" :disabled="!isNextStep" @click="submitForm(1)">{{ __('保存草稿') }}</el-button>
          <el-button v-if="status == null" :class="{'opacity80':!isNextStep}" :disabled="!isNextStep" type="primary" @click="submitForm(2)">{{ __('提交审核') }}</el-button>
        </span>
      </div> #}

      <div class="text-center mt-2 bot-btn" v-if="!isReadOnly">
        <el-button @click="handlePreviousStepClick">{{ __('上一步') }}</el-button>
        <el-tooltip v-if="!isNextStep" class="item" effect="dark" content="{{__('请完成必填项填写')}}" placement="top">
           <el-button v-if="status !== null" type="primary" class="opacity80">{{ __('提交编辑') }}</el-button>
        </el-tooltip>
        <el-tooltip v-if="!isNextStep" class="item" effect="dark" content="{{__('请完成必填项填写')}}" placement="top">
           <el-button type="primary" class="opacity80">{{ __('下一步') }}</el-button>
        </el-tooltip>
        <span v-if="isNextStep">
          <el-button v-if="status !== null" type="primary" @click="submitForm(3)">{{ __('提交编辑') }}</el-button>
          <el-button type="primary" @click="handleNextStepClick">{{ __('下一步') }}</el-button>
        </span>
      </div>
    </div>
    <!-- 文档标签页 #33309 新增 -->
    <div v-show="bar_active==4" class="bar4" :class="{'auditing':isReadOnly>0}">
      <div class="item-title">
        <span>{{ __('文档') }}</span>
      </div>
      <!-- #33309 新增认证文件字段 -->
      <el-form-item label="{{ __('认证文件') }}:" class="app_el_item" :required="formModel.need_install==='1'">
        <div class="label-describe">
          <div class="pb-16">
            {{ __('请将产品的相关认证上传至该处，如果你的产品没有符合合规和认证要求，未来可能会导致商品下架或供应商账号暂停。') }}
          </div>
          <files-modal :on-confirm="handlerOnConfirmMaterialCert" :on-change="handlerOnConfirmMaterialCert" :file-list="material_certs" 
            :show-preview="function(){ return false; }" :show-download="checkFileIsNotEmpty" ref="upload_input_6">
            <div slot="pic_wrap" slot-scope="{file}">
              <el-tooltip v-if="file.name" class="item" effect="dark" :content="file.name" placement="top">
                <span class="wrap_content_top">
                  ${ file.name.length > 8 ? file.name.substring(0,8)+'...' : file.name }
                </span>
              </el-tooltip>
              <span class="wrap_content_bottom_form">
                Type
                <el-select v-model="file.type_id" @change="certFileTypeChanged" filterable class="cert-file-select" :disabled="isReadOnly>0">
                  <el-option v-for="item in cert_type_list" :key="item.id" :value="item.id" :label="item.title" :title="item.title"></el-option>
                </el-select>
              </span>
            </div>
          </files-modal>
        </div>
        <div class="el-form-item__error" v-if="formModel.need_install == 1 && formModel.material_certs.length === 0">
          {{ __('认证文件不能为空') }}
        </div>
      </el-form-item>

      <el-form-item label="{{ __('文档素材') }}:" class="app_el_item" :required="formModel.need_install==='1'">
        <div class="label-describe">
          <div class="pb-16">
            {{ __('如果涉及零件或者组件安装，则必须上传安装说明书; 如需上传产品的相关认证，请到“认证文件”处上传。') }}
          </div>
          <files-modal :on-confirm="handlerOnConfirmMaterialManual" :on-change="handlerOnConfirmMaterialManual" :file-list="material_manuals" :show-preview="function(){ return false; }" :show-download="checkFileIsNotEmpty" ref="upload_input_4">
            <div slot="pic_wrap" slot-scope="{file}">
              <el-tooltip v-if="file.name" class="item" effect="dark" :content="file.name" placement="top">
                <span class="wrap_content_top">
                  ${ file.name.length > 8 ? file.name.substring(0,8)+'...' : file.name }
                </span>
              </el-tooltip>
            </div>
          </files-modal>
        </div>
        <div class="el-form-item__error" v-if="formModel.need_install == 1 && formModel.material_manuals.length === 0">
          {{ __('文档素材为必填项！') }}
        </div>
      </el-form-item>
      <hr>
      <el-form-item label="{{ __('视频素材') }}:" class="app_el_item">
        <div class="label-describe">
          <div>
            {{ __('文件必须为TXT格式。其中应包含带有简短视频说明的视频网址。对于多个视频，请在每个网址之间插入空格或序列号以进行区分。建议输入密码。') }}
          </div>
          <div class="text-right">
              <a target="_blank" href="index.php?route=account/customerpartner/addproduct/downloadTemplateFile">
                {{ __('详情') }}
              </a>
          </div>
          <files-modal :on-confirm="handlerOnConfirmMaterialVideo" :on-change="handlerOnConfirmMaterialVideo" :file-list="material_video" :show-preview="function(){ return false; }" :show-download="checkFileIsNotEmpty" :before-confirm="handlerBeforeConfirmMaterialVideo" ref="upload_input_5">
            <div slot="pic_wrap" slot-scope="{file}">
              <el-tooltip v-if="file.name" class="item" effect="dark" :content="file.name" placement="top">
                <span class="wrap_content_top">
                  ${ file.name.length > 8 ? file.name.substring(0,8)+'...' : file.name }
                </span>
              </el-tooltip>
            </div>
          </files-modal>
        </div>
      </el-form-item>

      <div class="text-center mt-2 bot-btn" v-if="!isReadOnly">
        <el-button @click="handlePreviousStepClick">{{ __('上一步') }}</el-button>
        <el-tooltip v-if="!isNextStep" class="item" effect="dark" content="{{__('请完成必填项填写')}}" placement="top">
           <el-button v-if="status !== null" type="primary" class="opacity80">{{ __('提交编辑') }}</el-button>
        </el-tooltip>
        <el-tooltip v-if="!isNextStep" class="item" effect="dark" content="{{__('请完成必填项填写')}}" placement="top">
           <el-button v-if="status == null" class="opacity80">{{ __('保存草稿') }}</el-button>
        </el-tooltip>
        <el-tooltip v-if="!isNextStep" class="item" effect="dark" content="{{__('请完成必填项填写')}}" placement="top">
           <el-button v-if="status == null" class="opacity80" type="primary">{{ __('提交审核') }}</el-button>
        </el-tooltip>
        <span v-if="isNextStep">
          <el-button v-if="status !== null" type="primary" :class="{'opacity80':!isNextStep}" :disabled="!isNextStep" @click="submitForm(3)">{{ __('提交编辑') }}</el-button>
          <el-button v-if="status == null" :class="{'opacity80':!isNextStep}" :disabled="!isNextStep" @click="submitForm(1)">{{ __('保存草稿') }}</el-button>
          <el-button v-if="status == null" :class="{'opacity80':!isNextStep}" :disabled="!isNextStep" type="primary" @click="submitForm(2)">{{ __('提交审核') }}</el-button>
        </span>
      </div>
    </div>
    <div v-show="bar_active==5" class="bar5">
      <div class="item-title"><span>${status !== null?'{{ __('提交编辑') }}':(isDraft=='2'?'{{ __('提交审核') }}':'{{ __('保存草稿') }}')}</span></div>
      <div class="description">
        <div><span class="icon giga icon-duihao1"></span></div>
        <div>
          <div v-if="isDraft==1">{{ __('该产品信息保存草稿成功，请尽快完善其他资料并提交平台运营审核.') }}</div>
          <div v-if="isDraft==2 && formModel.buyer_flag==1">{{ __('该产品已经提交平台运营审核，审核结果请关注站内信或者在产品列表查询') }}</div>
          <div v-if="isDraft==2 && formModel.buyer_flag==0">{{ __('对于不可单独售卖的产品，申请上架不需要审核，产品状态已经更新为已上架。') }}</div>
          <div v-if="isDraft==3">
            <span v-if="notice_type==2">{{ __('产品信息已经提交平台审核，审核结果请关注站内信或者在产品列表查询审核记录.') }} </span>
            <span v-if="notice_type==1">{{ __('产品信息保存成功，若要上架商品，请在列表页action操作上架商品.') }}</span>
            <span v-if="notice_type==3">{{ __('对于不可单独售卖的产品，申请上架不需要审核，产品状态已经更新为已上架。') }}</span>
          </div>
          <div>Item Code: ${formModel.sku}</div>
          <div v-if="isDraft!=3" class="just-flex tip-color">{{ __('注意') }}：
            <div v-if="isDraft==2 && formModel.buyer_flag==1 ">{{ __('审核通过之前，产品状态为不可售状态') }}</br>{{ __('可以使用MPN或者item code申请入库单') }}</div>
            <div v-if="isDraft==2 && formModel.buyer_flag==0 ">{{ __('可以使用MPN或者item code申请入库单') }}</div>
            <div v-if="isDraft==1">{{ __('可以使用MPN或者item code申请入库单') }}</div>
          </div>
          <a :href="previewLink" target="_blank" class="tip-color back-link">{{ __('预览产品详情') }}</a>
        </div>
      </div>
      <div class="text-center mt-2 bot-btn">
        <el-button @click="handlePreviousStepClick">{{ __('返回') }}</el-button>
        <el-button @click="resetPage">{{ __('创建新产品') }}</el-button>
        <el-button native-type="button" type="primary" @click="cloneProduct">{{ __('复制&创建新产品') }}</el-button>
      </div>
    </div>
  </el-form>
</div>
<script>
ELEMENT.locale(ELEMENT.lang.en);
var PRODUCT_ID = {{ product_id|default (0) }};
var COUNTRY_ID = {{ country_id|default (0) }};
var AUDIT_ID = {{ audit_id|default (0) }};
var IS_READ_ONLY = {{ isReadOnly|default (0) }};
var SHOWCWFNOTICE = {{ is_show_cwf_notice|default (0) }};
var ACCOUNTTYPE = {{ account_type|default (0) }};
var EDITTYPE = "{{ edit_type|default ('') }}";
var ONSITE_SELLER_INFO = JSON.parse('{{ on_site_seller_info|json_encode }}'); // onsite seller 相关信息
// #49569 修改下一步tooltip提示
var nextStepText = {
  'tooltip': "{{__('请完成必填项填写')}}",
}
//把部分提示摘出来，有的有复用
var originStepStatus = {
  'firstStep': "{{ __('选择类目') }}",
  'secondStep': "{{ __('填写基础信息') }}",
  'thirdStep': "{{ __('产品描述') }}",
  'forthStep': "{{ __('图片标题') }}",
  'fifthStep': "{{ __('文档') }}",
  'sixStepCreate': "{{ __('提交审核或者保存草稿') }}",
  'sixStepEdit': "{{ __('提交') }}",
};
var productTypeList = {
  'generalItem': "{{ __('普通商品') }}",
  'comboItem': "{{ __('Combo商品') }}",
  'replacementItem': "{{ __('配件商品') }}",
};
var errEmpty = {
  'mpnErrEmpty': "{{ __('MPN不能为空。') }}",
  'proTitleErrEmpty': "{{ __('产品标题不能为空。') }}",
  'colorErrEmpty': "{{ __('主要颜色不能为空。') }}",
  'materialErrEmpty': "{{ __('主要材质不能为空。') }}",
};
var commonError = {
  'mpnRepeatErr': "{{ __('失败！MPN不能重复。') }}",
  'mpnFormatErr': "{{ __('失败！MPN只能包含字母，数字，连字符号，空格和下划线。') }}",
  'mpnFormatCharsErr': "{{ __('MPN必须大于4且小于30个字符。') }}",
  'upcFormatErr': "{{ __('仅能输入英文和数字') }}",
  'upcFormatCharsErr': "{{ __('仅能输入不超过:num个字符', {num: 30}) }}",
  'productFormatCharsErr': "{{ __('产品标题必须大于1且小于200个字符。') }}",
  'productSizeFormatCharsErr': "{{ __('产品尺寸必须大于0且小于80个字符。') }}",
  'materialNeedErr': "{{ __('文档素材为必填项！') }}",
  'chooseCategoryFirstErr': "{{ __('请先选择类目！') }}",
  'correctFirstErr': "{{ __('请先更正错误输入！') }}",
  'colorAssoErr': "{{ __('没有选择主要颜色属性就不能添加关联产品！') }}",
  'integerMax100': "{{ __('请输入1到100之间的整数！') }}",
  'integerMax999': "{{ __('请输入1到999之间的整数！') }}",
  'priceMax9999999': "{{ __('价格只能是0到9999999之间的数字。') }}",
  'priceMax9999999With99': "{{ __('价格只能是0.00到9999999.99之间的数字。') }}",
  'floatMax999with99': "{{ __('请输入0.01到999.99之间的数字！') }}",
  'imageAlreadyManinImage': "{{ __('该图片已经被设为主图。') }}",
  'sureToDelImage': "{{ __('您确认要删除该图片？') }}",
  'mainImageNeed': "{{ __('需要设置主图！') }}",
  'subItemsEmptyErr': "{{ __('子产品不能为空。') }}",
  'subItemsNumberErr': "{{ __('子产品的数量必须大于1。') }}",
  'displayOrder': "{{ __('排序不能为空！') }}",
  'lowPriceWithCwfNote':"{{ __('低价格有cwf提示') }}",
  'lowPriceWithoutCwfNote':"{{ __('低价格无cwf提示') }}",
  'weightExceedsLeft':"{{ __('该产品的计费重超过') }}",
  'weightExceedsRight':"{{ __('，超过了平台可配送的最大尺寸限制。') }}",
  'originalCertificateErr':"{{ __('原创产品选择是时，原创证明文件必填') }}",
  'originalCertificateLen':"{{ __('原创证明文件最多支持上传9张图片') }}",
  'onsiteErrSize': "{{ __('产品尺寸异常，无法提交审核。') }}",
  'onsiteErr': "{{ __('您还没有运费报价，产品无法提交审核。') }}",
  'onsiteErrNoltl': "{{ __('您还没有LTL运费报价，产品无法提交审核。') }}",

  // #33309 新增
  'customFieldsErr': "{{ __('自定义维度不能为空') }}",
  'assembleSizeErr': {
    'length': "{{ __('组装长度') }}{{ __('不能为空') }}",
    'width': "{{ __('组装宽度') }}{{ __('不能为空') }}",
    'height': "{{ __('组装高度') }}{{ __('不能为空') }}",
    'weight': "{{ __('重量') }}{{ __('不能为空') }}",
  },
  'certFilesErr': "{{ __('认证文件类型不能为空') }}",
};
var commonInfo = {
  'yes': "{{ __('是',{},'common') }}",
  'no': "{{ __('否',{},'common') }}",
  'confirm': "{{ __('确认',{},'common') }}",
  'attention': "{{ __('注意',{},'common') }}",
  'ok': "{{ __('好的',{},'common') }}",
  'lbs': "{{ __('磅') }}",
  'submit': "{{ __('提交',{},'common') }}",
  'info': "{{ __('信息',{},'common') }}",
};
var PRODUCTINFO = {
  'add_product':"{{ __('添加产品') }}",
};
// #49569 产品尺寸超长，提示文案
var overSizeInfo = {
  'content': "{{ __('该产品包装信息超过了平台可配送的最大尺寸限制。') }}",
  'description': "{{ __('(平台可配送尺寸：三边尺寸和<=260cm且实际重量<50kg)') }}",
}
</script>
<script src="catalog/view/javascript/product/addproducts.js?v={{ app_version }}" type="application/javascript"></script>
<script>
$(function() {
  let submitButton = $('#submit');
  if (submitButton.length > 0 && window.vm_6446) {
    submitButton.on('click', function() {
      window.vm_6446.submitForm();
    })
  }
})
</script>
