{# 申请理赔详情头部 #}
{{ css(['css/buyer/safeguard/claimTop.css']) }}
{#明细方案#}
{% include 'yzcTheme/template/account/fee_order/safeguard_fee_order_purchase_details.twig' %}
<div class="title-line">
  <div class="page-title">Claim Application&nbsp;&nbsp;
    {% if claim_detail.claim_no is not null %}
    #{{ claim_detail.claim_no }}
    {% endif %}
  </div>
  <a href="{{  url('information/information',{'information_id':safeguard_guide_id})  }}" target="_blank" class="text-bold">
    <i class="giga icon-wenhao"></i>
    <span class="underline">Giga Cloud Protection Service Statement</span>
  </a>
</div>
<div class="box-bg claim-top">
  <div class="claim-process">
    <div class="process active">1<span class="process-status">Claim</span></div>
    <div class="process-line"></div>
    <div class="process {% if claim_steps.second_step == 1 %}active{% endif %}">2
      <span class="process-status">Processing
        {% if claim_detail.status == 11 %}
        <span class="files-pendding" data-toggle="tooltip" data-placement="right" title="The information provided in claim application is incomplete, and further information needs to be supplemented before the Marketplace continues to process the application. Once the deadline for supplement has expired, the claim status will be 'Failed' automatically. You need to submit a claim application again.">
          <i class="fa fa-exclamation-triangle text-larger text-warning" aria-hidden="true"></i>
          <span class="info-add-tips">
            <div>Info to be Added</div>
            {% if info_to_be_added_claim is defined and info_to_be_added_claim.show_page == 1  %}
            <div class="days-left">
                {% if info_to_be_added_claim.show_days %}
                  {{  info_to_be_added_claim.days}}
                  {{ info_to_be_added_claim.days > 1 ? ' days' : ' day' }} left
                {% else %}
                  {% if info_to_be_added_claim.second %}
                    <span class="action-seconds" data-seconds="{{ info_to_be_added_claim.second }}">{{ info_to_be_added_claim.second }}</span>
                  {% endif %}
                {% endif %}
            </div>
            {% endif %}
          </span>
        </span>
        {% endif %}
      </span>
    </div>
    <div class="process-line"></div>

    {% if claim_steps.third_step == 1 %}
      {% if claim_steps.third_result == 1 %}
        <div class="process active">3<span class="process-status">Succeeded</span></div>
      {% else %}
        <div class="process-icon">
          <i class="giga icon-v10quxiao-01"></i><span class="process-status">Failed</span>
        </div>
      {% endif %}
    {% else %}
      <div class="process">3<span class="process-status">Processed</span></div>
    {% endif %}

  </div>
  <div class="claim-status">
    <div>
      <div>
        <label>Service ID:</label>
        <a href="{{ url('account/safeguard/bill',{'filter_no':bill_info.safeguard_no}) }}#tab_bill_order" target="_blank" class="underline">{{ bill_info.safeguard_no }}</a>
      </div>
      <div>
        <label>Sales Order:</label>
        <a href="{{ sales_order_url }}&id={{ sales_order_info.id }}" target="_blank" class="underline">{{ sales_order_info.order_id }}</a>
        <span class="status">{{ sales_order_info.order_status_show }}</span>
      </div>
    </div>
    <div class="flex1">
      <div class="just-flex">
        <label>Protection Service:</label>
        <span class="flex1">
          {{ bill_info.last_config_title }}
          <span>
            <span class="oris-circle {{ bill_info.status_color }} m10-l relat2"></span>
            <span class="text-bold">{{ bill_info.status_show }}</span>
          </span>
        </span>
      </div>
      <div class="just-flex">
        <label>Recipient Information:</label>
        <span class="flex1">{{ sales_order_info.delivery_address_info }}</span>
      </div>
    </div>
  </div>
  <div class="flex-layout padding-title">
    <span class="oris-title-border"></span>
    <span class="text-larger text-bold">Item(s) for claim</span>
  </div>
  <div class="flex-layout">
    {% if claim_detail is empty %}
    <button type="button" class="oris-button oris-button-bigger mr-octal3" id="addOrEditProds">Add / Edit</button>
    {% endif %}
    <span><text id="countProds">0</text> Item Code(s) currently selected for claim application</span>
  </div>
  <table class="oris-table no-hover p20-t" id="selectedProds">
    <thead>
      <tr>
        <td class="text-left oris-w340">Product Information</td>
        <td class="oris-w270">
          Claim Quantity
          <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="The Claim Quantity cannot exceed the remaining quantity that is available for claim.Remaining quantity available for claim = Total quantity of the item in the sales order - The quantity of the item in claim/successfully claimed"></i>
        </td>
        <td class="text-left">Tracking Number</td>
      </tr>
    </thead>
    {# 这是查看产品 #}
    {% if claim_detail is not empty %}
    <tbody>
      {% for one in selected_claim_sku_list %}
      <tr>
        <td class="text-left">
          <div class="image-td">
            <img class="pro-image" src="{{ one.product_info.full_image }}" />
            <div>
              <div class="tags-image">
                <a class="max-line1">{{ one.product_info.sku }}</a>
              </div>
              <div class="max-line2 text-light" title="{{ one.product_info.product_name }}">{{ one.product_info.product_name }}</div>
            </div>
          </div>
        </td>
        <td>{{ one.qty }}</td>
        <td class="text-left">
          {% if one.tracking_infos is not empty %}
            {% for tracking in one.tracking_infos %}
            <div class="selected-trackings">{{ tracking.show_info }}</div>
            {% endfor %}
          {% else %}
            <div>N/A</div>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% else %}
    {# 这里是申请理赔，所有产品首先渲染隐藏，方便操作 #}
    <tbody>
      {% for k,one in claim_sku_list %}
      <tr class="none" data-index="{{k}}">
        <td class="text-left">
          <div class="image-td">
            <img class="pro-image" src="{{ one.product_info.full_image }}" />
            <div>
              <div class="tags-image">
                <a class="max-line1">{{ one.product_info.sku }}</a>
              </div>
              <div class="max-line2 text-light" title="{{ one.product_info.product_name }}">{{ one.product_info.product_name }}</div>
            </div>
          </div>
        </td>
        <td>
          <input type="number" name="claimNum" class="oris-input oris-w120 text-center" min="1" max="{{ one.can_claim_qty }}" step=1 value="{{ one.can_claim_qty }}" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
          <div class="text-danger" hidden></div>
        </td>
        <td class="text-left oris-select">
          <select name="trackingInfos" multiple data-actions-box="true" title="Please Select">
            {% if one.trackings is not empty %}
              {% for tracking in one.trackings %}
              <option value="{{tracking.tracking_number}}" data-cId="{{tracking.carrier_id}}" data-c="{{tracking.carrier}}"><span class="oris-select-inner">{{ tracking.show_info }}</span></option>
              {% endfor %}
            {% else %}
              <option value=""><span class="oris-select-inner">N/A</span></option>
            {% endif %}
          </select>
          <div class="text-danger" hidden>Required</div>
        </td>
      </tr>
      {% endfor %}
      <tr class="no-records">
        <td colspan="3">No item has been selected for claim</td>
      </tr>
    </tbody>
    {% endif %}
  </table>
</div>
{% if claim_detail is empty %}
{# 申请理赔选择产品弹框 #}
<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" id="claimAddProds">
  <div class="modal-dialog oris-modal" style="width: 720px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="giga icon-V10_danchuangguanbi close-icon"></i>
        </button>
        <div class="modal-title">Select the items for claim</div>
      </div>
      <div class="modal-body">
        <table class="oris-table border-table no-hover">
          <thead>
            <tr>
              <th class="text-left oris-w340">Product Information</th>
              <th class="text-right">QTY</th>
              <th class="text-right oris-w200">Total Purchase Amount<i class="giga icon-V10-wenhaotishi oris-tooltip" data-toggle="tooltip" title="Total Purchase Amount (Items Cost with deposit included+Fulfillment Fee) before coupon used"></i></th>
              <th class="text-right oris-w90">
                <span class="in-block"><input type="checkbox" name="selectAll" class="oris-checkbox"></span>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for k,one in claim_sku_list %}
            <tr data-index="{{k}}">
              <td class="text-left">
                <div class="image-td">
                  <img class="pro-image" src="{{ one.product_info.full_image }}" />
                  <div>
                    <div class="tags-image">
                      <span class="max-line1">{{one.item_code}}</span>{{ one.product_info.tags|join('') }}
                    </div>
                    <div class="max-line2 text-light" title="{{one.product_info.product_name}}">{{one.product_info.product_name}}</div>
                  </div>
                </div>
              </td>
              <td class="text-right">×{{one.qty}}</td>
              <td class="text-right link-color"><span class="open-purchase-details pointer underline" data-orderid="{{one.line_id}}" data-parmarstext="sales_order_line_id">{{ one.total_price|formatPrice(currency) }}</span></td>
              <td class="text-right">
                {% if one.can_apply.can_apply==0 %}
                <span class="in-block" data-toggle="tooltip" title="{{one.can_apply.reason}}">
                  <input type="checkbox" name="selectOne" class="oris-checkbox" data-index="{{k}}" disabled>
                </span>
                {% else %}
                <input type="checkbox" name="selectOne" class="oris-checkbox" data-index="{{k}}">
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button type="button" class="oris-button oris-button-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="oris-button modal-new-btn-disabled" id="modalSubmit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}