<div class="detail_me">
	{% if detail.isBuyer is not defined %}
		<div class="records-time">
			<i class="giga icon-shijian"></i>
			<span>{{detail.create_time}}</span>
		</div>
		<div class="records-content">
			<div class="records-line">
				<span>Selling Platform:</span>
				<span>{{detail.sales_platform}}</span>
			</div>
			<div class="records-line">
				<span>Reason for Claim:</span>
				<span>{{detail.reason_name}}</span>
			</div>
			<div class="records-line">
				<span>Problem Description:</span>
			</div>
			<div class="prob-state">
				<div class="oris-scrollbar">{{detail.content}}</div>
			</div>
			<div class="records-line">
				<span>Supporting Files:</span>
			</div>
			{% for k,one in detail.attachs %}
			<div class="flex-layout p6-tb attachment action-file {% if k > 3 %} none{% endif %}">
				<i class="giga icon-attachment"></i>
				{# 图片名称点击预览，文档点击名称下载文件 #}
				{% if one.is_image %}
				<a href="{{one.full_file_path}}" target="_blank" class="underline flex1">{{one.file_name}}</a>
				{% else %}
				<a href="{{ url('account/safeguard/claim/downAttach', {'file_id':one.id, 'menu_id':one.menu_id}) }}" target="_blank" class="underline flex1">{{one.file_name}}</a>
				{% endif %}
				{# 下载按钮 #}
				<a href="{{ url('account/safeguard/claim/downAttach', {'file_id':one.id, 'menu_id':one.menu_id}) }}" 
				   download="{{one.file_name}}" class="pull-right link-color">
					<i class="giga icon-xiazaixin-01"></i>
				</a>
			</div>
			{% endfor %}
			{% if detail.attachs|length > 4 %}
			<div class="p6-tb pointer action-file-more">More</div>
			{% endif %}
		</div>
	{% endif %}
</div>