<div class="detail_giga">
	{% if detail.isGiga is not defined %}
		<div class="records-time">
			<i class="giga icon-shijian"></i>
			<span>{{detail.create_time}}</span>
		</div>
		<div class="records-content">
			<div class="records-line">
				<span>Claim Result:</span>
        {% if claim_detail.status != 11 %}
          <span class="text-larger">{{ detail.claim_audit_status_name }}</span>
        {% elseif index==0 %}
          <span class="text-larger">Info to be Added&nbsp;</span>
          <span class="oris-button oris-w120 addinfo-btn" id="add-files-btn"><i class="giga icon-iconfonticon02"></i>&nbsp;&nbsp;Add Info
          	{# 气泡提示资料待完善 #}
          	{% if info_to_be_added_claim is defined and info_to_be_added_claim.show_page == 1  %}
            <div class="pop-info">
                {% if info_to_be_added_claim.show_days %}
                  {{  info_to_be_added_claim.days}}
                  {{ info_to_be_added_claim.days > 1 ? ' days' : ' day' }} left
                {% else %}
                  {% if info_to_be_added_claim.second %}
                    <span class="action-seconds" data-seconds="{{ info_to_be_added_claim.second }}">{{ info_to_be_added_claim.second }}</span>
                  {% endif %}
                {% endif %}
            </div>
            {% endif %}
          </span>
        {% else %}
          <span class="text-larger">{{ detail.claim_audit_status_name }}</span>
        {% endif %}
			</div>
			{% if claim_detail.status == 11 and index==0 %}
			{# 资料待完善提示框 #}
			<div class="files-tips">
				<i class="fa fa-exclamation-triangle text-larger text-warning" aria-hidden="true"></i>
				<span>The information provided in claim application is incomplete, and further information needs to be supplemented before the Marketplace continues to process the application. Once the deadline for supplement has expired, the claim status will be 'Failed' automatically. You need to submit a claim application again.</span>
			</div>
			{# 资料待完善弹框 #}
	    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" id="filesPenddingModal">
	      <div class="modal-dialog oris-modal files-pendding-modal">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	              <i class="giga icon-V10_danchuangguanbi close-icon"></i>
	            </button>
	            <div class="modal-title">Add Info</div>
	          </div>
	          <div class="modal-body scroll-y oris-scrollbar">
	            <div class="oris-row just-flex">
	              <div class="flex1 mr-octal2">
	                <label class="text-weight-normal required-before">Reason for Claim</label>
	                <input class="oris-input" type="text" name="" disabled value="{{detail.reason_name}}">
	              </div>
	              <div class="oris-col-3 oris-w264">
	                <label class="text-weight-normal">Selling Platform</label>
	                <input class="oris-input" type="text" name="" disabled value="{{detail.sales_platform}}">
	              </div>
	            </div>
	            <div class="oris-row p14-tb pos-rela">
	              <div class="oris-comments">
	                <label class="text-weight-normal required-before">Supplement description</label>
	                <textarea id="claimDescribeModal" rows="4" class="oris-input oris-scrollbar" placeholder="Leave a message to the Marketplace, and describe the problem and your demands as detailed as possible. A maximum of 2000 characters are allowed"></textarea>
	                <span class="letter-count"><span id="addLenModal" class="link-color">0</span>/2000</span>
	              </div>
	              <div class="text-danger descrip-text" hidden>Required</div>
	            </div>
	            <div class="just-flex">
	              <div class="oris-w264 action-files-range">
	                <label class="text-weight-normal">Supplement supporting files</label>
	                <div class="upload-btn">
	                  <i class="giga icon-shangchuanyunduan"></i>
	                  <div class="link-color text-center">Click to upload</div>
	                </div>
	              </div>
	              <input type='file' name='file' class="action-files-input none-i" accept='image/jpg,image/jpeg,application/pdf,image/png,application/msword,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.wordprocessingml.document' multiple>
	              <div class="flex1 upload-suggestion">
	                <label>&nbsp;</label>
	                <div class="action-files-cover">
		                <div class="suggest">Suggestions:</div>
		                <div class="text-bold"><span class="oris-circle"></span><span class="required-before">Upload valid evidence such as the screeshot of your communication with customer, screenshot of refund to customer.</span></div>
		                <div class="text-light"><span class="oris-circle"></span>The uploaded files will be important basis for the Marketplace to review.</div>
		                <div class="text-light"><span class="oris-circle"></span>If the uploaded files do not meet the requirements, the claim application may be declined.</div>
		                <div class="text-light"><span class="oris-circle"></span>Upload files in .jpeg/.png/.doc(x)/.xls(x)/.pdf format only. Less than 10M for single file.</div>
		              </div>
		              <div class="action-files-show"></div>
	              </div>
	            </div>
	          </div>
	          <div class="modal-footer">
	            <div class="text-right">
	              <button type="button" class="oris-button oris-button-default" data-dismiss="modal">Cancel</button>
	              <button type="button" class="oris-button modal-new-btn-disabled" id="modalSubmitBtn">Submit</button>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
			{% endif %}
			<div class="records-line">
				<span>Claim Amount:</span>
				{% if detail.claim_amount == '0.00' or  detail.claim_amount == '0'%}
				<span class="text-bold">N/A</span>
				{% else %}
				<span class="text-larger">{{detail.claim_amount|formatPrice(currency)}}</span>
				{% endif %}
			</div>
			<div class="records-line m4-t">
				<span>Received Method (of Claim Amount):</span>
				{% if detail.payment_method is not null %}
				<span>{{detail.payment_method}}</span>
				{% else %}
				<span class="text-bold">N/A</span>
				{% endif %}
			</div>
			<div class="records-line">
				<span>Received Time (of Claim Amount):</span>
				{% if detail.paid_time is not null %}
				<span>{{detail.paid_time}}</span>
				{% else %}
				<span class="text-bold">N/A</span>
				{% endif %}
			</div>
			<div class="text-bold p6-tb">
        Feedback from Marketplace:
				{% if detail.content is null %}
				N/A
				{% endif %}
			</div>
			{% if detail.content is not null %}
			<div class="line22">{{detail.content}}</div>
			{% endif %}
			{% for k,one in detail.attachs %}
			<div class="attachment p6-tb {% if k==0 %} m10-t{% endif %}">
				<i class="giga icon-attachment"></i><a href="{{one.full_file_path}}" target="_blank" class="underline">{{one.file_name}}</a>
			</div>
			{% endfor %}
		</div>
	{% else %}
		{# 平台待处理 #}
		<div class="in-pendding">Your claim applicaiton is being processed by the Marketplace. Please be patient.</div>
	{% endif %}
</div>