{# 理赔申请记录 #}
{{ css(['css/buyer/safeguard/claimDetail.css']) }}
{{ js(['js/common/toolString.js']) }}

{% if claim_detail.status == 11 %}
{{ js(['js/common/uploadFiles.js']) }}
{% endif %}

<div class="flex-layout claim-title">
  <span class="oris-title-border"></span>
  <span class="text-larger text-bold" id="claimRecords">Claim Application Records</span>
</div>
<div class="box-bg claim-detail" id="claim-detail">
  <div class="claim-line">
    <div class="title">GIGA</div>
    <div class="title">ME</div>
  </div>
  {% set records = [] %}
  {% if dialog_list.show_giga_info==1 %}
    {# 需要补位, 补一个对象:role_id: 99（非0即可）代表giga #}
    {% set records = [{role_id: 99, isGiga: true}]  %}
  {% endif %}
  {% if dialog_list.last_operator_from==-1 and dialog_list.claim_audit_list|length>2 %}
    {# 代表最后一个处理结果是系统自动处理结果, 首先倒数第二三个交换位置，第四个补空位 #}
    {% set mydata = [] %}
    {% for k,t in dialog_list.claim_audit_list %}
      {% if k==1  %}
        {% set mydata = mydata|merge([dialog_list.claim_audit_list[2]]) %}
      {% elseif k==2 %}
        {% set mydata = mydata|merge([dialog_list.claim_audit_list[1]]) %}
        {% set mydata = mydata|merge([{role_id:0, isBuyer: true}]) %}
      {% else %}
        {% set mydata = mydata|merge([t]) %}
      {% endif %}
    {% endfor %}
    {% set records = mydata %}
  {% else %}
    {% set records = records|merge(dialog_list.claim_audit_list) %}
  {% endif %}
  {% if records|length > 1 %}
    {% for index,detail in records %}
      {% if index%2 == 0 %}
      <div class="claim-line claim_records {% if index>3 %} none-i{% endif %}">
      {% include 'yzcTheme/template/account/safeguard/claim/components/claim_detail_giga.twig' %}
      {% else %}
      {% include 'yzcTheme/template/account/safeguard/claim/components/claim_detail_me.twig' %}
      </div>
      {% endif %}
    {% endfor %}
    {% if records|length%2==1 %}
      {# records如果是奇数，补标签 #}
      </div>
    {% endif %}
    {# 默认展示两行数据 #}
    {% if records|length>5 %}
    <div class="pull-right link-color p20-t pointer" id="showMoreHistrory">View historical claim application records（{{(records|length-4)//2}}）</div>
    {% endif %}
  {% endif %}
</div>
{% apply script %}
<script type="text/javascript">
$().ready(function() {
  claimDetailComponent.bindClick();
  claimDetailComponent.initTextarea();
  var status = {{ claim_detail.status }} || null;
  if (status == 11 ) {
    // 初始化上传文件
    uploadFiles.initUploadInput($('#filesPenddingModal'), 10, 10, 'index.php?route=account/safeguard/claim/upload', true, 'modalSubmitBtn');
  }
});
var claimDetailComponent = {
  bindClick: function() {
  	// 文件More点击展开更多
  	$('#claim-detail').on('click', '.action-file-more', function() {
  		$(this).hide().siblings('.action-file').removeClass('none');
  	}).on('click', '#showMoreHistrory', function(){
  		$(this).hide().siblings('.claim-line').removeClass('none-i');
  	}).on('click', '#add-files-btn', function() {
      $( "#filesPenddingModal" ).modal('show');
    });
    $('#filesPenddingModal').on('click', '#modalSubmitBtn',function() {
      $('#modalSubmitBtn').on('click.disable', false);
      if (claimDetailComponent.validData()){
        $('#modalSubmitBtn').off('click.disable');
        return;
      }
      claimDetailComponent.completeInfo();
    });
    $('#filesPenddingModal').on('blur', '#claimDescribeModal', function(){
      claimDetailComponent.validData();
    })
  },
  initTextarea: function(_this) {
    $('#claim-detail').on('keyup','#claimDescribeModal',function() {
      var _this = this;
      var calcReturn = toolString.calcStringLength($(_this).val(), 2000);
      $(_this).val(calcReturn.fullStr);
      $("#addLenModal").text(calcReturn.len);
    })
  },
  validData: function() {
    var isInValid = false;
    // 问题描述
    var $problemDesc = $('#claimDescribeModal');
    if (!$problemDesc.val()) {
      $problemDesc.parent().siblings('.text-danger').show();
      isInValid = true;
    } else {
      $problemDesc.parent().siblings('.text-danger').hide();
    }
    return isInValid;
  },
  getSubmitData: function() {
    var data = {
      claim_id: {{ claim_detail.id }},
      problem_desc: $('#claimDescribeModal').val(),
      confirm_menu_id: $('#filesPenddingModal').data('menuId') || 0,
      confirm_sub_ids: ''
    };
    var subIds = [];
    $('#filesPenddingModal').find('.action-file:not(.upload-error)').each((i,one) => {
      subIds.push($(one).data('subId'));
    })
    data['confirm_sub_ids'] = subIds.join(',');
    return data;
  },
  completeInfo: function(){
    var data = claimDetailComponent.getSubmitData();
    block.blockUI();
    $.ajax({
      url: 'index.php?route=account/safeguard/claim/handleSave',
      data: data,
      method: 'post',
      cache: false,
      dataType: 'json',
      success: function (res) {
        if (res.code == 200) {
          block.unBlockUI();
          // 首先关闭弹框
          $( "#filesPenddingModal" ).modal('hide');
          $.toast({
            heading: false,
            text: res.data.msg,
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 3000,
            allowToastClose: false,
            loader: false,
            afterHidden: function () {
              window.location.reload();
            }
          });
        } else {
          block.unBlockUI();
          layer.alert(res.msg, {
            title: 'Attention',
            btn: 'OK',
            skin: 'oris-layer',
            closeBtn: 0
          });
       }
       $('#modalSubmitBtn').off('click.disable');
      },
      error: function (err) {
        $('#modalSubmitBtn').off('click.disable');
      }
    })
  },
}
</script>
{% endapply %}