<link rel="stylesheet" href="catalog/view/javascript/bootstrap-table/bootstrap-table-1.15.2.css">
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/bootstrap-table/bootstrap-table-1.15.2.js"></script>
<div id="page-sales-order-management" class="page-seller-portal">

    {#菜单#} {# {% include 'giga/template/_parts/breadcrumb_simple.twig' %}#} {#END 菜单#}

    <div>
        <div class="row">
            {#
            <div class="col-md-12">#} {#
                <h1>{{ heading_title }}</h1>#} {#
                <div class="tab-btn" style="margin-bottom: 20px">#} {# <a class="btn btn-default tab-btn" href="{{ url_sales_order }}" role="button">{{ btn_drop_shipping }}</a>#} {# <a class="btn btn-danger tab-btn" style="background-color: #fa6400" role="button">{{ btn_cloud_wholesale_fulfillment }}</a>#}
                    {# <a href="{{ url_help }}" target="_blank" class="pull-right" style="color: #169Bd5;"><i class="giga icon-V10-wenhaotishi"></i>About Cloud Wholesale Fulfillment Order</a>#} {# </div>#} {# </div>#} {# </div>#}
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div>
                        <fieldset>
                            <div role="tabpanel" class="tab-pane active">
                                <div class="bg-white" style="padding: 0;">
                                    <div class="filter-wrapper form-wrapper mb-3">

                                        <div class="row" style="text-align: center;">
                                            <div class="status-hot-map{{ init_status_type == 'all'?' active':'' }}" onclick="do_search(this,'all')">
                                                <div class="hot-map-status">{{ status_all }}</div>
                                                <div class="hot-map-num">{{ count_status_all }}</div>
                                            </div>
                                            <div class="status-hot-map" onclick="do_search(this,'bp')">
                                                <div class="hot-map-status">{{ status_0_2 }}
                                                    <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tips_status_0_2 }}"></i>
                                                </div>
                                                <div class="hot-map-num">{{ count_status_0_2 }}</div>
                                            </div>
                                            <div class="status-hot-map{{ init_status_type == 'cp'?' active':'' }}" onclick="do_search(this,'cp')">
                                                <div class="hot-map-status">{{ status_3 }}
                                                    <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tips_status_3 }}"></i>
                                                </div>
                                                <div class="hot-map-num">{{ count_status_3 }} {% if init_status_type == 'cp' %}
                                                    <i class="giga icon-gantanhao1" style="color: #FA6400" data-toggle="tooltip" data-html='true' title="{{ tips_cp }}"></i> {% endif %}
                                                </div>
                                            </div>
                                            <div class="status-hot-map" onclick="do_search(this,'ps')">
                                                <div class="hot-map-status">{{ status_4 }}
                                                    <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tips_status_4 }}"></i>
                                                </div>
                                                <div class="hot-map-num">{{ count_status_4 }}</div>
                                            </div>
                                            <div class="status-hot-map" onclick="do_search(this,'shipping')">
                                                <div class="hot-map-status">{{ status_5_6 }}
                                                    <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tips_status_5_6 }}"></i>
                                                </div>
                                                <div class="hot-map-num">{{ count_status_5_6 }}</div>
                                            </div>
                                            <div class="status-hot-map" onclick="do_search(this,'delivered')">
                                                <div class="hot-map-status">{{ status_7 }}
                                                    <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tips_status_7 }}"></i>
                                                </div>
                                                <div class="hot-map-num">{{ count_status_7 }}</div>
                                            </div>
                                            <div class="status-hot-map" onclick="do_search(this,'cancel')" style="position: relative;">
                                                <div class="hot-map-status">{{ status_cancel }}
                                                    <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html='true' title="{{ tips_status_cancel }}"></i>
                                                </div>
                                                <div class="hot-map-num">{{ count_status_cancel }}</div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="table-responsive salesOeder-table no-scroll">
                                        <table class="table table-striped table-hover last-td-fixed" id="table_list"></table>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#{{ footer }}#}
<script>
    let url_list = '{{ url_get_list }}';
    let status_type = '{{ init_status_type }}';
    let url_product_information = '{{ url_product_information }}';
    let url_tracking_xpo = '{{ url_tracking_xpo }}';
    let url_tracking_ups = '{{ url_tracking_ups }}';
    let url_tracking_fedex = '{{ url_tracking_fedex }}';
    let url_cwf_info = '{{ url_cwf_info }}';
    let url_apply_rma = '{{ url_apply_rma }}';

    $(function() {
        init_tb();
    });

    function init_tb() {
        $("#table_list").bootstrapTable({
            url: url_list,
            queryParams: function(params) {
                return {
                    startPage: parseInt((params.offset + 1) / params.limit + 1),
                    pageSize: params.limit,
                    sort: params.sort,
                    order: params.order,
                    status_type: status_type,
                }
            },
            sidePagination: "server",
            striped: true, // 是否显示行间隔色
            search: false,
            uniqueId: "id",
            showRefresh: false,
            pageNumber: 1,
            pagination: true, // 是否分页
            pageList: [10, 20, 30, 50],
            sortable: true, // 是否启用排序
            sortName: 'create_time',
            sortOrder: 'desc',
            paginationDetailHAlign: 'right',
            formatRecordsPerPage: function(pageNumber) {
                return "".concat(pageNumber, " Rows per page");
            },
            formatNoMatches: function() {
                return 'No data found!';
            },
            columns: [{
                field: 'sales_order_code',
                title: 'Order ID',
                halign: 'center',
                valign: 'center',
                align: 'center',
            }, {
                field: 'service_type_str',
                title: 'Fulfillment Type',
                halign: 'center',
                valign: 'center',
                align: 'center',
                width: 100,
            }, {
                field: 'sku',
                title: 'Item Code',
                halign: 'center',
                valign: 'left',
                align: 'center',
                width: 130,
                formatter: function(value, row, index) {
                    let html = '';
                    $.each(row.products, function(i, v) {
                        html += v.sku + '<a href="' + url_product_information + i + '"><i class="giga icon-table-link" style="font-size: 16px;"></i></a>';
                        if (v.tags) {
                            $.each(v.tags, function(j, tag) {
                                if (tag.icon) {
                                    html += '<a data-toggle="tooltip" style="display: inline;" title="' + tag.desc + '">' +
                                        '<img src="' + tag.icon_image_url + '"  class="' + tag.class_style + '"></a>';
                                }
                                /*下面的老的写法应该是有问题的，需要使用图片代替，写法也是不合理的，先注释掉，不删除，留个印象*/
                                /*  if (tag.desc === 'Combo Item') {
                                    html += '<i class="giga icon-combox" data-toggle="tooltip" title="Combo Item"></i>';
                                  } else if (tag.desc === 'Part Item') {
                                    html += '<i class="giga icon-partx" data-toggle="tooltip" title="Part Item"></i>';
                                  } else if (tag.desc === 'Oversized Item') {
                                    html += '<a data-toggle="Oversized Item" style="display: inline;" title="Oversized Item">' +
                                      '<img src="/image/product/LTL.png" style="width: 16px"></a>';
                                  }*/
                            });
                        }
                        html += '<br>';
                    });
                    return html === '' ? '-' : html;
                }
            }, {
                field: 'total_qty',
                title: 'Total QTY',
                halign: 'center',
                valign: 'center',
                align: 'center',
            }, {
                field: 'cwf_status',
                title: 'Status',
                halign: 'center',
                valign: 'center',
                align: 'center',
                sortable: true,
                order: 'desc',
                sortName: 'cwf_status',
                formatter: function(value, row, index) {
                    return '<span style="color: ' + row.cwf_status_color + '">' + row.cwf_status_str + '</span>';
                }
            }, {
                field: 'total_pallet_qty',
                title: '{{ info_text_pallets_num }}',
                halign: 'center',
                valign: 'center',
                align: 'center',
                formatter: function(value, row, index) {
                    if (row.total_pallet_qty === '-') {
                        return '-';
                    } else {
                        //101843 增加限制只有没传超重标的
                        if (row.service_type == 1 && row.cwf_status == 3 && row.team_lift_file_id == 0) {
                            return '<span style="color: #FA6400">' + row.total_pallet_qty + '</span>';
                        } else {
                            return row.total_pallet_qty;
                        }
                    }
                }
            }, {
                field: '',
                title: 'Tracking Information <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"  style="cursor: pointer" title="{{ tips_tracking_information }}"></i>',
                halign: 'center',
                valign: 'center',
                align: 'center',
                width: 200,
                class: 'break-line',
                formatter: function(value, row, index) {
                    let html = '';
                    $.each(row.tracking_numbers, function(i, v) {
                        // html += v.carrier + ': ';
                        // if (v.carrier.toUpperCase() === 'XPO') {
                        //   html += '<a style="color: #159ad4" target="_blank" href="' + url_tracking_xpo + v.tracking_number + '">' + v.tracking_number + '</a>';
                        // } else if (v.carrier.toUpperCase() === 'UPS') {
                        //   html += '<a style="color: #159ad4" target="_blank" href="' + url_tracking_ups + v.tracking_number + '">' + v.tracking_number + '</a>';
                        // } else if (v.carrier.toUpperCase() === 'FEDEX') {
                        //   html += '<a style="color: #159ad4" target="_blank" href="' + url_tracking_fedex + v.tracking_number + '">' + v.tracking_number + '</a>';
                        // } else {
                        //   html += v.tracking_number;
                        // }
                        html += ' ' + v.pallet_qty + ' pallets - ' + v.shipping_status_str + '<br>';
                    });
                    return html;
                }
            }, {
              field: 'Carrier',
              title: 'Carrier',
              halign: 'center',
              valign: 'center',
              align: 'center',
              formatter: function (value, row, index) {
                let html = '';
                $.each(row.tracking_numbers, function (i, v) {
                  html += v.carrier + '<br>';
                });
                return html;
              }
            }, {
                field: 'Tracking Number',
                title: 'Tracking Number',
                halign: 'center',
                valign: 'center',
                align: 'center',
                formatter: function (value, row, index) {
                  let html = '';
                  $.each(row.tracking_numbers, function (i, v) {
                    html += v.tracking_number + '<br>';
                  });
                  return html;
                }
              }, {
                field: 'create_time',
                title: 'Creation Time',
                halign: 'center',
                valign: 'center',
                align: 'center',
                sortable: true,
                order: 'desc',
                sortName: 'create_time',
                width: 140,
            }, {
                field: 'Action',
                title: 'Action',
                halign: 'left',
                valign: 'center',
                align: 'left',
                width: 130,
                formatter: function(value, row, index) {
                    let html = '';
                    if (row.service_type == 1 && row.cwf_status == 3 && row.pallet_label_file_id == 0) {
                        html += '<a href="' + url_cwf_info + row.id + '/#order_details" data-toggle="tooltip" title="" class="btn btn-action btn-action-edit" style="margin-left: 12px" data-original-title="Edit">' +
                            '<i class="giga icon-action-edit" style="font-size: 15px"></i></a>';
                    } else {
                        html += '<a href="' + url_cwf_info + row.id + '" data-toggle="tooltip" title="" target="_blank" class="btn btn-action" style="margin-left: 12px" data-original-title="View">' +
                            '<i class="giga icon-action-preview" style="font-size: 15px"></i></a>';
                    }

                    if (row.can_rma) {
                        html += '<a href="' + url_apply_rma + row.sales_order_code + '" data-toggle="tooltip" title="" target="_blank" class="btn btn-action btn-action-return" style="margin-left: 12px" data-original-title="Apply RMA">' +
                            '<i class="giga icon-return-product" style="font-size: 15px"></i></a>';
                    }
                    return html;
                }
            }, ],
            onCheck: function(row, ele) {},
            onLoadSuccess: function(data) {
                let options = $("#table_list").bootstrapTable('getOptions');
                if (options !== undefined || options !== '' || options !== null) {
                    let startNum = (options.pageNumber - 1) * options.pageSize + 1;
                    let endNum = options.pageNumber * options.pageSize;
                    if (options.totalRows < endNum) {
                        endNum = options.totalRows;
                    }
                    $(".pagination-info").text(startNum + '-' + endNum + ' of ' + options.totalRows);
                }
            },
        })
    }

    function do_search(_this, type) {
        status_type = type;
        $(_this).siblings().removeClass('active');
        $(_this).addClass('active');

        $("#table_list").bootstrapTable('refresh', {
            pageNumber: 1
        });
    }
</script>