{{ cssOrigin
  (['catalog/view/theme/yzcTheme/stylesheet/seller/style.css','catalog/view/theme/yzcTheme/stylesheet/sales_order/fee_order_list.css'])
}}
{{ js(['js/common/orisComponents.js']) }}
{% set payIconMap = { 223 : ' icon-meiyuanzhifu-01',107 : ' icon-riyuanzhifu-01',222 : ' icon-yingbangzhifu-01',81 : ' icon-ouyuanzhifu-01'} %}
<div class="filter-wrapper form-wrapper giga-content" id="feeOrder">
  {# 搜索 #}
  <form action="#" id="feeOrderSearch" class="m10-b">
    <div class="oris-row">
      <div class="oris-col-3">
        <label for="filterOrderId" class="text-weight-normal">Purchase Order ID/Related Order ID</label>
        <input type="text" name="filterOrderId" value="{{ search.filterOrderId }}" placeholder="Please Input" id="filterOrderId" class="oris-input" autocomplete="off">
      </div>
      <div class="oris-col-3 oris-select">
        <label class="text-weight-normal" for="feeType">Charge Type</label>
        <select name="feeType" id="feeType" class="selectpicker">
          <option value="*">{{ __('请选择', {}, 'common') }}</option>
          {% for key,val in feeOrderTypeList %}
            <option {% if search.feeType is defined and search.feeType == key %} selected {% endif %}
              value="{{ key }}">
              {{ val }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="oris-col-3 oris-select action-clear-date-range">
        <label class="text-weight-normal" for="feeCreationDateRange">Creation Date Range</label>
        <select name="feeCreationDateRange" id="feeCreationDateRange" class="selectpicker">
          {% for key,val in createDateRangeList %}
            <option {{ search.feeCreationDateRange == key ? 'selected' : '' }} value="{{ key }}">
              {{ val }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="oris-col-3">
        <label class="control-label" for="feeCreationDateTime">Creation Date</label>
        <div class="oris-ingroup action-clear">
          <input type="text"  readonly class="oris-input" id="feeCreationDateTime" value="" placeholder="{{ __('请选择', {}, 'common') }}" />
          <i class="giga icon-v10quxiao-01 oris-clear" data-action-range="1"></i>
        </div>
      </div>
    </div>
    <div class="oris-row p14-tb flex-fend">
      <div class="oris-col-3 oris-select">
        <label class="text-weight-normal" for="feeOrderStatus">Order Status</label>
        <select name="feeOrderStatus" id="feeOrderStatus" class="selectpicker">
          <option value="-1">{{ __('请选择', {}, 'common') }}</option>
          {% for key,val in feeOrderStatusList %}
            <option {{ search.feeOrderStatus == key ? 'selected' : '' }} value="{{ key }}">
              {{ val }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="oris-col-3 search-btn">
        <button type="button" class="oris-button oris-button-bigger width80" data-toggle="tooltip" title="Filter" id="quote_margin_filter_btn" data-original-title="Filter">Filter</button>
        <button type="button" class="oris-button oris-button-default" data-toggle="tooltip" title="Download" data-original-title="Download"><i class="giga icon-xiazai1"></i>
        </button>
      </div>
    </div>
  </form>
  {# 搜索 #}
  {# 列表 #}
  <div class="order-table">
    <div class="order-table-header">
      <div class="table-purchase-order-id text-left">Purchase Order ID</div>
      <div class="table-bind-order-id text-left">Related Order ID</div>
      <div class="table-order-fee-type text-left">Charge Type</div>
      <div class="table-order-money text-right">Order Amount</div>
      {# 0:升序 1:降序 #}
      <div class="table-fee-order-status pointer-hover text-left" onclick="loadUrl('{{ sort.createUrl('status') }}')">
        Status
        <span class="sort-outer-con">
          <i class="giga icon-jiantou_xia-copy-copy my-sort  my-sort-up {{ sort.getAttributeSortDirection('status') == 'asc' ? 'active' : '' }}">
          </i>
          <i class="giga icon-jiantou_xia-copy my-sort my-sort-down {{ sort.getAttributeSortDirection('status') == 'desc' ? 'active' : '' }}">
          </i>
        </span>
      </div>
      <div class="table-order-creation-time pointer-hover text-left"  onclick="loadUrl('{{ sort.createUrl('create_time') }}')">
        Creation Time
        <span class="sort-outer-con">
          <i class="giga icon-jiantou_xia-copy-copy my-sort my-sort-up {{ sort.getAttributeSortDirection('create_time') == 'asc' ? 'active' : '' }}">
          </i>
          <i class="giga icon-jiantou_xia-copy my-sort my-sort-down {{ sort.getAttributeSortDirection('create_time') == 'desc' ? 'active' : '' }}">
          </i>
        </span>
      </div>
      <div class="table-order-actions text-left">Action</div>
    </div>
    <div class="order-table-body">
      {% if total > 0 %}
        {% for key,item in list %}
          <div class="order-row row-line">
            <div class="order-row-outer">
              <div class="table-purchase-order-id text-left">{{ item.order_no }}</div>
              <div class="table-bind-order-id text-left">
                {% if item.order_type == 2 or item.order_type == 3 %}
                  <a
                    target="_blank"
                    href="{{ url('account/order/purchaseOrderInfo', {'order_id': item.orderInfo.order_id}) }}"
                    class="link-color my-break-all">
                    {{ item.orderInfo.order_id }}
                  </a>
                {% elseif item.order_type == 1 %}
                  <a
                    target="_blank"
                    href="{{ url(is_collect_form_domicile ? 'account/customer_order/customerOrderSalesOrderDetails' : 'account/sales_order/sales_order_management/customerOrderSalesOrderDetails', {'id': item.orderInfo.id}) }}"
                    class="link-color my-break-all">
                    {{ item.orderInfo.order_id }}
                  </a>
                {% else %}
                  {{ item.orderInfo.order_id }}
                {% endif %}
              </div>
              <div class="table-order-fee-type text-left">{{ feeOrderTypeList[item.fee_type] }}</div>
              <div class="table-order-money text-center text-right">{{ item.fee_total|formatPrice(currency) }}</div>
              <div class="table-fee-order-status text-left">
                <div class="status-con">
                  <div class="status-text">
                    {% if item.status == 0  %}
                      <span class="small-cricle status-to-paid"></span>
                    {% endif %}
                    {% if item.status == 5  %}
                      <span class="small-cricle completed"></span>
                    {% endif %}
                    {% if item.status == 7  %}
                      <span class="small-cricle canceled"></span>
                    {% endif %}
                    {% if item.status == 8  %}
                      <span class="small-cricle refund"></span>
                    {% endif %}
                    <span>{{ feeOrderStatusList[item.status]|default('UNKNOWN') }}</span>
                  </div>
                  {% if item.status == 0 and item.countDownTime > 0 %}
                    <div class="clock-con">
                       <i class="giga icon-naozhong"></i>
                       <span data-count-down="counter">{{ item.countMinute }}:{{ item.countSecond }}</span>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="table-order-creation-time text-left">{{ item.created_at }}</div>
              <div class="table-order-actions text-left">
                <a
                  class="table-btn-one collapse-btn hover-line-blue"
                  data-toggle="collapse"
                  href="#collapseExample{{ key }}"
                  aria-expanded="false"
                  aria-controls="collapseExample{{ key }}">
                  <span class="span-tooltip" data-tooltip="tooltip" title="Show Details">
                     <i class="giga icon-v10bzfwjt"></i>
                  </span>
                </a>
                {% if item.status == 0 %}
                  {# 只有待支付的费用单 才展示去支付和取消 #}
                  <a
                    class="table-btn-one hover-line-blue"
                    data-toggle="tooltip"
                    data-fee-order-no="{{ item.order_no }}"
                    data-relate-order-ids="{{ item.relateOrderIds|join(',') }}"
                    title="Cancel">
                    <i class="giga cancel-btn icon-21cancel"></i>
                  </a>
                  <a
                    class="table-btn-one light-button"
                    data-toggle="tooltip"
                    title="Payments"
                    data-fee-order-id="{{ item.id }}"
                  >
                    <i class="giga zhifu-btn {{ payIconMap[country_id] }}"></i>
                  </a>
                {% endif %}

              </div>
{#              小三角标志#}
              <div class="top-arrow" style="display: none"></div>
            </div>
            <div class="order-row-inner">
              {# 伸缩框 仓租#}
              {% if item.fee_type == 1 %}
              <div class="collapse inner-detail-table" id="collapseExample{{ key }}">
                <div class="inner-detail-main">
                  <table class="oris-table border-table no-hover">
                    <thead>
                      <tr>
                        <th class="text-left pl30-i">Item Code</th>
                        <th class="text-left width-200">Seller</th>
                        <th>Product Volume(m³)</th>
                        <th>QTY</th>
                        <th>Days in inventory</th>
                        <th class="text-right pr100-i">Storage Fee</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for key2,detail in item.details %}
                      {% if detail.need_pay > 0 %}
                        <tr class="table-row">
                          <td class="text-left pl30-i">
                            <div class="flex-start">
                              <div>
                                <img class="width-60" src="{{ detail.image_url }}" alt="{{ detail.item_code }}">
                              </div>
                              <div>
                                <a
                                  target="_blank"
                                  class="hover-pointer hover-line dark-color"
                                  href="{{ url('product/product', {'product_id': detail.product_id}) }}">
                                  {{ detail.item_code }}
                                </a>
                                {{ detail.product_tags|join('') }}
                              </div>
                            </div>
                          </td>
                          <td class="text-left width-200">
                            <a
                              target="_blank"
                              class="hover-pointer hover-line dark-color"
                              href="{{ url('customerpartner/profile', {'id': detail.seller_id}) }}">
                              {{ detail.seller_store_name }}
                            </a>
                          </td>
                          <td>
                            <a href="javascript:void(0);"
                               class="dark-color popover-hover"
                               data-toggle="popover-html"
                               data-placement="bottom"
                               data-html='{% include 'yzcTheme/template/account/sales_order/fee_order_popover/product_volume.twig' %}'
                               title>
                              {{ detail.volume|round(4) }}
                              <i class="giga icon-V10_shouyeyouxiadown"></i>
                            </a>
                          </td>
                          <td>
                            {{ detail.qty }}
                          </td>
                          <td>
                            <a href="javascript:void(0);"
                               class="dark-color popover-hover"
                               data-toggle="popover-html"
                               data-placement="bottom"
                               data-html='{% include 'yzcTheme/template/account/sales_order/fee_order_popover/warhouse.twig' %}'
                               title>
                              {{ detail.days }}
                              <i class="giga icon-V10_shouyeyouxiadown"></i>
                            </a>
                          </td>
                          <td class="text-right pr100-i">
                            <a href="javascript:void(0);"
                               class="dark-color popover-hover"
                               data-toggle="popover-html"
                               data-placement="bottom"
                               data-html='{% include 'yzcTheme/template/account/sales_order/fee_order_popover/fee.twig' %}'
                               title>
                              {{ detail.need_pay|formatPrice(currency) }}
                              <i class="giga icon-V10_shouyeyouxiadown"></i>
                            </a>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                    <tr>
                      <td colspan="6" class="text-right pd-t-0-i">
                        <div class="table-amount  pr16-i">
                          <p class="amount-info-item">
                            <span class="amount-label">Paid Amount:</span>
                            <span class="amount-value font-weight pointer-hover">
                             {% if item.status in [0,7] %}
                                <a>
                                    {{ 0|formatPrice(currency) }}
                                </a>
                                {% else %}
                               <a href="javascript:void(0);"
                                  data-toggle="popover-html"
                                  data-placement="bottom"
                                  data-html='{% include 'yzcTheme/template/account/sales_order/fee_order_popover/pay.twig' %}'
                                  class="popover-hover"
                                  title>
                                    {{ item.actual_paid|formatPrice(currency) }}
                                    <i class="giga icon-V10_shouyeyouxiadown"></i>
                                  </a>
                             {% endif %}
                            </span>
                          </p>
                          <p class="amount-info-item">
                            <span class="amount-label">Checkout Time:</span>
                            <span class="amount-value">
                               {{ item.status in [0,7] ? 'N/A' : item.paid_at }}
                            </span>
                          </p>
                          {% if item.status == 8 %}
                            <p class="amount-info-item">
                              <span class="amount-label">Refund Amount:</span>
                              <span class="amount-value font-weight">
                                   <a href="javascript:void(0);"
                                      data-toggle="popover-html"
                                      data-placement="bottom"
                                      data-html='{% include 'yzcTheme/template/account/sales_order/fee_order_popover/refund.twig' %}'
                                      class="popover-hover"
                                      title>
                                      {{ item.refund_amount|formatPrice(currency) }}
                                    <i class="giga icon-V10_shouyeyouxiadown"></i>
                                  </a>
                                </span>
                            </p>
                            <p class="amount-info-item"><span class="amount-label">Refund Time:</span> <span class="amount-value">{{ item.refunded_at }}</span></p>
                          {% endif %}
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              {# 伸缩框 仓租#}
              {# 伸缩框 保障服务#}
              {% elseif item.fee_type == 2 %}
                <div class="collapse inner-detail-table" id="collapseExample{{ key }}">
                  <div class="inner-detail-main">
                    <table class="oris-table border-table no-hover">
                      <thead>
                        <tr>
                          <th class="text-left pl30-i">Protection Service</th>
                          <th class="text-right pr70-i">Base of Protection Service Fee<span class="pointer-hover" data-toggle="tooltip" title="Total Purchase Amount (Items Cost with deposit included+Fulfillment Fee) before coupon used"> <i class="giga icon-V10-wenhaotishi"></i></span></th>
                          <th>Protection Service Rate</th>
                          <th class="text-right pr100-i">Total Protection Service Fee</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for key2,detail in item.details %}
                        <tr class="table-row">
                          <td class="text-left dark-color pl30-i">{{ detail.safeguard_title }}</td>
                          {% if item.orderInfo.order_status in [16] %}
                            <td class="text-right pr70-i">
                              <span class="pr-20-i">
                                 {{ detail.order_base_amount|formatPrice(currency,{is_symbol:false}) }}
                              </span>

                            </td>
                          {% else %}
                            <td class="text-right pr70-i link-color">
                            <span class="open-purchase-details guarantee-fee-base" data-orderid="{{ item.id }}"
                                  data-parmarstext="fee_order_id">{{ detail.order_base_amount|formatPrice(currency,{is_symbol:false}) }}
                            </span>
                            </td>
                          {% endif %}
                          <td class="dark-color">{{ detail.service_rate }}</td>
                          <td class="text-right pr100-i dark-color">{{ detail.safeguard_fee|formatPrice(currency,{is_symbol:false}) }}</td>
                        </tr>
                      {% endfor %}
                        <tr>
                          <td colspan="4" class="text-right pd-t-0-i">
                            <div class="table-amount  pr16-i">
                              <p class="amount-info-item">
                                <span class="amount-label">Paid Amount:</span>
                                <span class="amount-value font-weight">
                                  {% if item.status in [0,7] %}
                                    <a>
                                    {{ 0|formatPrice(currency) }}
                                  </a>
                                {% else %}
                                    <a href="javascript:void(0);"
                                       data-toggle="popover-html"
                                       data-placement="bottom"
                                       data-html='{% include 'yzcTheme/template/account/sales_order/fee_order_popover/pay.twig' %}'
                                       class="popover-hover"
                                       title>
                                    {{ item.actual_paid|formatPrice(currency) }}
                                    <i class="giga icon-V10_shouyeyouxiadown"></i>
                                  </a>
                                  {% endif %}
                                </span>
                              </p>
                              <p class="amount-info-item">
                                <span class="amount-label">Checkout Time:</span>
                                <span class="amount-value">
                                {{ item.status in [0,7] ? 'N/A' : item.paid_at }}
                                </span>
                              </p>
                              {% if item.status == 8 %}
                              <p class="amount-info-item">
                                <span class="amount-label">Refund Amount:</span>
                                <span class="amount-value font-weight">
                                   <a href="javascript:void(0);"
                                      data-toggle="popover-html"
                                      data-placement="bottom"
                                      data-html='{% include 'yzcTheme/template/account/sales_order/fee_order_popover/refund.twig' %}'
                                      class="popover-hover"
                                      title>
                                      {{ item.refund_amount|formatPrice(currency) }}
                                    <i class="giga icon-V10_shouyeyouxiadown"></i>
                                  </a>
                                </span>
                              </p>
                              <p class="amount-info-item"><span class="amount-label">Refund Time:</span> <span class="amount-value">{{ item.refunded_at }}</span></p>
                              {% endif %}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              {% endif %}
              {# 伸缩框 保障服务#}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="order-row text-center no-records">
          {% if fee_order_exist %}
            No data matching the criteria found
          {% else %}
            There’s currently no charges for purchases.
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
  {# 列表 #}
  {# 分页 #}
  <div class="oris-row oris-pagination">
    <div class="col-sm-12 text-right page-con">
      <ul id="bos_pagination_charge"></ul>
    </div>
  </div>
  {# 分页 #}
</div>
{#明细方案#}
{% include 'yzcTheme/template/account/fee_order/safeguard_fee_order_purchase_details.twig' %}
{# layer #}
<div id="layer_cancel_content" style="display: none">
  <div>Are you sure you want to cancel the order(s)?</div>
  <div
    class="content-con-sub-title"
    style="display:none;">
    the following Purchase Order(s) will be canceled.
    <br>-s001
    <br>-s002
    <br>-s003
  </div>
</div>
{# layer #}
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"
        type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css"
      rel="stylesheet" media="screen"/>
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<script>
  {% if success %}
  // 提示
  $.toast({
    heading: false,
    text: 'Canceled successfully.',
    position: 'top-center',
    showHideTransition: 'fade',
    icon: 'success',
    hideAfter: 3000,
    allowToastClose: false,
    loader: false
  });
  // 提示
  {% endif %}
  const ANY_TIME = 0;
  const TODAY = 1;
  const PAST_WEEK = 2;
  const PAST_MONTH = 3;
  const PAST_YEAR = 4;
  const CUSTOM_DATE = 5;
  const DATA_RANGE_TO = '   To   ';
  let feeContainer = $('#feeOrder');
  let feeOrderUrl = '{{ feeOrderUrl }}';
  let feeOrderDownloadUrl = '{{ feeOrderDownloadUrl }}';
  let feeOrderCancelUrl = '{{ feeOrderCancelUrl }}';
  let feeOrderPayUrl = '{{ feeOrderPayUrl }}';
  let inputOrderDateRange = feeContainer.find('#feeCreationDateRange');
  let feeOrderSearch = feeContainer.find('#feeOrderSearch');
  // layer
  let layerContent = $('#layer_cancel_content');
  // filter button
  let filterButton = feeContainer.find('button[title="Filter"]')
  let downloadButton = feeContainer.find('button[title="Download"]')

  // button 监听事件
  filterButton.on('click', function () {
    loadUrl(feeOrderUrl + '&' + $.param(getQueryParams()))
  })
  // button 下载
  downloadButton.on('click', function () {
    location.href = feeOrderDownloadUrl + '&' + $.param(getQueryParams());
  })

  // 加载url
  function loadUrl(url) {
    block.blockUI();
    $('#tab_fee_order').load(url, function () {
      block.unBlockUI();
    });
  }

  // count down
  $(function () {
    // 初始加载时，更改页面的路由
    window.history.pushState({}, 0, '{{ url("account/order#tab_fee_order") }}');
    $('.selectpicker').selectpicker();
    // 日期范围选择器初始化,默认一年前
    var startDate = '';
    var endDate = '';
    var searchStartDateFrom = "{{ search.feeCreationDateFrom }}";
    var searchStartDateTo = "{{ search.feeCreationDateTo }}";
    if (searchStartDateFrom && searchStartDateTo) {
      startDate = searchStartDateFrom.substr(0, 10);
      endDate = searchStartDateTo.substr(0, 10);
      $('#feeCreationDateTime').val(startDate + DATA_RANGE_TO + endDate);
      // 初始化数据
      $('#feeCreationDateTime').daterangepicker({
        separator: DATA_RANGE_TO,
        startDate: startDate,
        endDate: endDate,
        format: 'YYYY-MM-DD'
      }, function(start, end, label) {
        // 点击时间范围ok回调
        $('#feeCreationDateRange').selectpicker('val', 'custom');
        orisComponents.triggerInputClear($('#feeCreationDateTime'));
      });
    } else {
      // 初始化选择范围日期,默认空
      $('#feeCreationDateTime').val('');
      // 初始化数据
      $('#feeCreationDateTime').daterangepicker({
        separator: DATA_RANGE_TO,
        format: 'YYYY-MM-DD'
      }, function(start, end, label) {
        // 点击时间范围ok回调
        $('#feeCreationDateRange').selectpicker('val', 'custom');
        orisComponents.triggerInputClear($('#feeCreationDateTime'));
      });
    }



    $('span[data-count-down="counter"]').each(function () {
      let time = $(this).text().split(':');
      let maxTime = time ? (parseInt(time[0]) * 60 + parseInt(time[1])) : 0;
      $(this).easyCountDown(maxTime)
        .on('cd.interval', function (e, obj) {
          let minutes = '0' + obj.m;
          let seconds = '0' + obj.s;
          $(this).text(minutes.substring(minutes.length - 2) + ':' + seconds.substring(seconds.length - 2));
        })
        .on('cd.done', function () {
          $(this).parents('.order-row-outer').find('.icon-zhifu').parent().remove();
          $(this).parents('.order-row-outer').find('.icon-quxiaoshenqing').parent().remove();
          $(this).parentsUntil('.clock-con').remove();
        })
    })
  })

  // 支付费用单
  $('.zhifu-btn').parent('a').on('click', function () {
    let item = $(this);
    let feeOrderId = item.attr('data-fee-order-id');
    $.ajax({
      url: feeOrderPayUrl,
      type: 'GET',
      dataType: 'json',
      data: {fee_order_id: feeOrderId},
      beforeSend: function () {
        layer.load();
      },
      success: function (json) {
        layer.closeAll();
        let code = parseInt(json['code']);
        if (code !== 200) {
          layerMsg(json.msg, {
            btn: ['Ok'],
            title: 'Attention',
          }).then(function () {
            layer.closeAll();
            filterButton.trigger('click');
          }).catch(function () {
            layer.closeAll();
          })
          return;
        }
        // 返回成功 打开新窗口去支付
        window.open(json.data.confirm_url);
      },
      error: function (xhr, ajaxOptions, thrownError,) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    })
  })
  // 取消费用单
  $('.cancel-btn').parent('a').on('click', function () {
    let item = $(this);
    let orderNo = item.attr('data-fee-order-no');
    let relateOrderIds = item.attr('data-relate-order-ids').length > 0
      ? item.attr('data-relate-order-ids').split(',')
      : [];
    if (relateOrderIds.length > 0) {
      let str = `the following Purchase Order(s) will be canceled.`;
      for (let i of relateOrderIds) {
        str += `<br>-${i}`;
      }
      layerContent.find('.content-con-sub-title').html(str).show();
    } else {
      layerContent.find('.content-con-sub-title').hide();
    }
    layer.open({
      type: 1,
      btn: ['Yes', 'No'],
      btnAlign: 'c',
      skin: 'oris-layer',
      title: 'Confirm',
      content: layerContent,
      yes: function () {
        layer.closeAll();
        $.ajax({
          url: feeOrderCancelUrl,
          type: 'POST',
          dataType: 'json',
          data: {order_no: orderNo},
          beforeSend: function () {
            layer.load();
          },
          success: function (json) {
            layer.closeAll();
            let code = parseInt(json['code']);
            if (code === 1) {
              let msg = json['msg'] !== 'failed' ? json['msg'] : 'Order cancellation request failed. Please refresh and try again.';
              layerMsg(msg, {
                btn: ['Refresh'],
                title: 'Attention',
              }).then(function () {
                layer.closeAll();
                filterButton.trigger('click');
              }).catch(function () {
                layer.closeAll();
              })
              return;
            }
            // 返回成功 则刷新当前页面
            loadUrl(feeOrderUrl + '&success=1')
          },
          error: function (xhr, ajaxOptions, thrownError,) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        })
      },
      cancel: function () {
        layer.closeAll();
      }
    })
  })
  inputOrderDateRange.on('change', function () {
    let $input = $('#feeCreationDateTime');
    let range = $(this).val() || 'anytime';
    if (range === 'anytime'|| range === 'custom') {
      // 清空时间
      $input.val('');
      orisComponents.hideClearIcon($input);
    } else {
      var startDate = moment().subtract(1, range).format('YYYY-MM-DD');
      var endDate = moment().format('YYYY-MM-DD');
      $input.val(startDate + DATA_RANGE_TO + endDate);
      orisComponents.triggerInputClear($input);
    }
  });

  // 搜索条件获取
  function getQueryParams() {
    let queryParams = feeOrderSearch.serializeArray();
    let params = {};
    for (let item of queryParams) {
      let value = item['value'].trim();
      if (value !== '' && value !== '*') {
        params[item['name']] = value;
      }
    }
    let rangeDate=getDateRangePicker();
    params['feeCreationDateFrom']=rangeDate.startDate||'';
    params['feeCreationDateTo']=rangeDate.endDate||'';
    return params;
  }
  function getDateRangePicker() {
    var dateArr = $('#feeCreationDateTime').val().split(DATA_RANGE_TO);
    var startDate = dateArr[0] ? dateArr[0] + ' 00:00:00' : '';
    var endDate = dateArr[1] ? dateArr[1] + ' 23:59:59' : '';
    return {'startDate': startDate, 'endDate': endDate};
  }

  $(function () {
    $('#bos_pagination_charge').bootstrapPaginator({
      /*当前使用的是3版本的bootstrap*/
      bootstrapMajorVersion: 3,
      /*配置的字体大小是小号*/
      size: 'normal',
      /*当前页*/
      currentPage: {{ paginator.getPage() }},
      /*一共多少页*/
      totalPages: {{ max(paginator.getPageCount(), 1) }},
      /*页面上最多显示几个含数字的分页按钮*/
      numberOfPages: 5,
      pageRange: [10, 20, 30, 40, 50],
      rowsOfPage: {{ paginator.getPageSize() }},
      total: {{ paginator.getTotalCount() }},
      onPageClicked: function (event, originalEvent, type, page) {
        loadUrl('{{ paginator.getUrlWithNoPage() }}&page=' + page);
      }
    });
  })
</script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-tooltip="tooltip"]').tooltip({
      trigger: 'hover'
    });
    initPopover();
  })

  // 折叠
  $('.collapse-btn').on('click', function () {
    let row = $(this).parents('.row-line');
    if ($(this).find('.span-tooltip').children('.giga').hasClass('rotate90')) {//收起操作
      row.children('.order-row-inner').css('border-top','0 solid #fff').css('transition', 'all 0.3s linear')
      $(this).find('.span-tooltip').attr('title', 'Show Details').tooltip('fixTitle');
      $(this).find('.span-tooltip').find('.giga').removeClass('rotate90');
      $(this).parent().parent().find(".top-arrow").hide();
      row.removeClass('box-active');

    } else {//展开操作
      $(this).find('.span-tooltip').attr('title', 'Hide Details').tooltip('fixTitle');
      $(this).find('.span-tooltip').find('.giga').addClass('rotate90');
      $(this).parent().parent().find(".top-arrow").show();
      row.addClass('box-active');
      row.siblings('.box-active').find('.collapse-btn').click();
      row.children('.order-row-inner').css('border-top','10px solid #fff')
    }
  })

</script>
