{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %}
  </ul>
  {% if (error_warning) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}</div>
  {% endif %}
  {% if (success) %}
    <div class="alert alert-success"><i class="fa fa-check-circle"> </i> {{ success }}</div>
  {% endif %}

  <div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
    {% set class = 'col-sm-6' %}
    {% elseif (column_left or column_right) %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}

  <div id="content" class="{{ class }}">
    {{ content_top }}
    <h1>
      {{ heading_title }}
      <div class="pull-right">
        <a href="{{ newrma }}" data-toggle="tooltip" title="" class="btn btn-primary">{{ text_add }}</a>
      </div>
    </h1>
      <legend><i class="fa fa-reply"></i> {{ heading_title }}</legend>

      <div class="well">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-id">{{ text_id }}</label>
              <input type="text" name="filter_id" value="{{ filter_id }}" placeholder="{{ text_id }}" id="input-id" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-qty">{{ text_rma_quantity }}</label>
              <input type="text" name="filter_qty" value="{{ filter_qty }}" placeholder="{{ text_rma_quantity }}" id="input-qty" class="form-control" />
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-order">{{ text_orderid }}</label>
              <input type="text" name="filter_order" value="{{ filter_order }}" placeholder="{{ text_orderid }}" id="input-order" class="form-control" />
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-status">{{ text_date }}</label>
              <div class="input-group">
                <input type="text" data-toggle="datetimepicker" name="filter_date" data-date-format="YYYY-MM-DD" class="form-control" value="{{ filter_date }}" class="form-control" />
                <span class="input-group-btn"><button class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
              </div>
            </div>
            <div class="pull-right">
              <a onclick="filter();" class="btn btn-primary">{{ button_filter }}</a>
              <a onclick="clear_filter();" class="btn btn-primary">{{ clear_filter }}</a>
            </div>
          </div>

        </div>
      </div>


      <form action="{{ newrma }}" method="post" enctype="multipart/form-data" id="form-product">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <td>
                    {% if (sort == 'wro.id') %}
                      <a href="{{ sort_id }}" class="{{ order|lower }}">{{ text_id }}</a>
                    {% else %}
                      <a href="{{ sort_id }}" > {{ text_id }} </a>
                    {% endif %}
                </td>
                <td class="text-left">
                   {% if (sort == 'wro.order_id') %}
                      <a href="{{ sort_order }}" class="{{ order|lower }}">{{ text_orderid }}</a>
                    {% else %}
                      <a href="{{ sort_order }}" > {{ text_orderid }} </a>
                    {% endif %}
                </td>
                <td class="text-center">{{ text_product }}</td>
                <td class="text-center">{{ text_reason }}</td>
                <td class="text-left">
                  {% if (sort == 'wrp.quantity') %}
                    <a href="{{ sort_qty }}" class="{{ order|lower }}">{{ text_quantity }}</a>
                  {% else %}
                    <a href="{{ sort_qty }}" > {{ text_quantity }} </a>
                  {% endif %}
                </td>
                <td class="text-left">
                  {% if (sort == 'wrs.order_status_id') %}
                    <a href="{{ sort_rma_status }}" class="{{ order|lower }}">{{ text_status }}</a>
                  {% else %}
                    <a href="{{ sort_rma_status }}" > {{ text_status }} </a>
                  {% endif %}
                </td>
                <td class="text-left">
                  {% if (sort == 'wro.date') %}
                    <a href="{{ sort_date }}" class="{{ order|lower }}">{{ text_date }}</a>
                  {% else %}
                    <a href="{{ sort_date }}" > {{ text_date }} </a>
                  {% endif %}
                </td>
                <td class="text-center" style="Width:12%;">{{ text_action }}</td>
              </tr>
            </thead>
            <tbody>
            {% if (rma_ress) %}
            {% for res in rma_ress %}
              <tr>
                <td>{{ res['id'] }}</td>
                <td class="text-left">{{ res['order_id'] }}</td>
                <td class="text-left">{{ res['product'] }}</td>
                <td class="text-left">{{ res['reason'] }}</td>
                <td class="text-left"> {{ res['quantity'] }}</td>
                <td class="text-left" style="color:{{ res['color'] }};">{{ res['rma_status'] }}</td>

                <td class="text-left" id="rma_date">{{ res['date'] }}</td>
                <td class="text-center">
                    {% for action in res['action'] %}
                      <a href="{{ action['href'] }}" class="btn btn-primary" data-toggle="tooltip" title="{{ action['text'] }}"><i class="fa fa-eye"></i></a>
                      {% if (not res['cancel_rma'] and not res['solve_rma']) %}
                        <a onclick="confirm('{{ text_r_u_sure }}') ? location = '{{ res['cancel_rma_link'] }}' : false;" class="btn btn-info" data-toggle="tooltip" title="{{ text_cancel }}"><i class="fa fa-times"></i></a>
                      {% endif %}
                    {% endfor %}
                </td>
              </tr>
            {% endfor %} {% else %}
              <tr>
                <td colspan="8" class="text-center">{{ text_empty }}</td>
              </tr>
            </tbody>
            {% endif %}
          </table>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-12 text-right">{{ pagination }}{{ results }}</div>
      </div>
    {{ content_bottom }}
  </div>
  {{ column_right }}
  </div>
</div>
{{ footer }}
<script type="text/javascript">
$('.row input').keydown(function(e) {
  if (e.keyCode == 13) {
    filter();
  }
});

$('[data-toggle="datetimepicker"]').datepicker({
  autoHide: true,
  format:"YYYY-MM-DD"
});
function clear_filter() {
  url = 'index.php?route=account/rma/rma';
  location = url;
}
function filter() {
  url = 'index.php?route=account/rma/rma';

  var filter_id = $('input[name=\'filter_id\']').val();

  if (filter_id) {
    url += '&filter_id=' + encodeURIComponent(filter_id);
  }

  var filter_order = $('input[name=\'filter_order\']').val();

  if (filter_order) {
    url += '&filter_order=' + encodeURIComponent(filter_order);
  }

  var filter_qty = $('input[name=\'filter_qty\']').val();

  if (filter_qty) {
    url += '&filter_qty=' + encodeURIComponent(filter_qty);
  }

  var filter_date = $('input[name=\'filter_date\']').val();

  if (filter_date) {
    url += '&filter_date=' + encodeURIComponent(filter_date);
  }

  location = url;
}
</script>
