{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %}
  </ul>
  {% if (error_warning) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if (success) %}
    <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
    {% set class = 'col-sm-6' %}
    {% elseif (column_left or column_right) %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>
        {{ heading_title }}
        <div class="pull-right">
          <a {{ viewrma['shipping_label'] ? 'href="' ~ print_shipping_lable ~ '"' : 'disabled' }} target="_blank" data-toggle="tooltip" class="btn btn-primary" title="{{ text_print_lable }}" {{ viewrma['shipping_label'] ? '' : 'disabled' }}> <i class="fa fa-truck"></i></a>
          <a href="{{ print }}" target="_blank" data-toggle="tooltip" class="btn btn-primary" title="{{ text_print }}"><i class="fa fa-print"></i></a>
          <a href="{{ back }}" data-toggle="tooltip" class="btn btn-default" title="{{ button_back }}"><i class="fa fa-reply"></i></a>
        </div>
      </h1>
        <fieldset>
          <legend><div class="col-sm-6 text-info"><i class="fa fa-user"></i> {{ heading_title }}</div><div class="col-sm-6 text-right text-info"><i class="fa fa-clock-o"></i> {{ viewrma['date'] }}</div><div class="clearfix"></div></legend>
          <div class="row">
            <div class="col-sm-6">
                <p class="bg bg-primary"><i class="fa fa-circle-o-notch"></i> {{ text_order_details }}</p>
                <div class="bg">
                  {{ wk_viewrma_orderid }}
                  <a href="{{ viewrma['order_url'] }}" target="_blank"># {{ viewrma['order_id'] }}</a>
                </div>
            </div>

            <div class="col-sm-6">
                <p class="bg bg-primary"><i class="fa fa-eye"></i> {{ wk_viewrma_status }}</p>
                <div class="bg">
                  {{ wk_viewrma_rma_tatus }}
                  <span style="color:{{ viewrma['color'] }}">{{ viewrma['rma_status'] }}</span>  <br/>
                  <span>{{ wk_viewrma_authno }} </span><span class="auth_no_here">
                  {{ viewrma['rma_auth_no'] }}</span>
                  {% if (not viewrma['rma_auth_no'] and not viewrma['cancel_rma'] and not viewrma['solve_rma']) %}
                    <label data-toggle="tooltip" title="{{ wk_viewrma_enter_cncs_no }}" class="add-auth-no"><i class="fa fa-pencil"></i>
                    </label>

                    <div id="add-auth-no" class="alert alert-info hide">
                      <button type="button" class="close add-auth-no-close">&times;</button>
                      <div class="form-group">
                        <input type="text" id="auth-no-text" placeholder="{{ wk_viewrma_enter_cncs_no }}" class="form-control" style="margin-bottom:3px;">
                      </div>
                      <button class="btn btn-info btn-xs submit-auth-no" value="Save"><i class="fa fa-save"></i></button>
                    </div>
                  {% endif %}
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <p class="bg bg-primary"><i class="fa fa-info-circle"></i> {{ wk_viewrma_add_info }}</p>
              <div class="bg">{{ viewrma['add_info'] }} </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <p class="bg bg-primary"><i class="fa fa-picture-o"></i> {{ wk_viewrma_image }}</p>
              <div class="bg">
                <label type="button" for="upload-file" class="btn btn-primary pull-right upload-file-label" data-toggle="tooltip" title="{{ text_upload_img }}" {% if (viewrma['cancel_rma'] or viewrma['solve_rma']) %}disabled{% endif %}><i class="fa fa-picture-o"></i> </label>
                <input type="file" name="rma_file[]" accept="image/*" multiple="" style="display:none" id="upload-file" >
                <div class="clearfix"></div>
                <br/>
                <ul class="thumbnails">
                {% if (viewrma['images']) %}
                  {% for images in viewrma['images'] %}
                    {% if (images['image']) %}
                      <li class="image-additional"><a href="{{ images['image'] }}" data-toggle="tooltip" title="View Images" class="thumbnail"><img src="{{ images['resize'] }}"></a></li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                </ul>
              </div>
            </div>
          </div>

          {% if (not viewrma['solve_rma']) %}
          <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">

            <div class="row">
              <div class="col-sm-12">
                <p class="bg bg-primary">{{ wk_viewrma_close_rma }}</p>
                <div class="bg">
                  <input type="checkbox" id="cancel-request" name="solve" value="solve" required> <label for="cancel-request">{{ wk_viewrma_close_rma_text }} </label>
                  <input type="submit" class="btn btn-info pull-right" value="Save">
                  <div class="clearfix"></div>
                  <input type="hidden" name="wk_viewrma_grp_id" value="{{ vid }}">
                </div>
              </div>
            </div>

          </form>
          {% endif %}

          <div class="row">
            <div class="col-sm-12">
              <p class="bg bg-primary"><i class="fa fa-wrench"></i> {{ wk_viewrma_item_req }}</p>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <tr>
                        <td class="text-left">{{ wk_viewrma_pname }}</td>
                        <td class="text-left">{{ wk_viewrma_model }}</td>
                        <td class="text-left">{{ wk_viewrma_price }}</td>
                        <td class="text-left">{{ wk_viewrma_reason }}</td>
                        <td class="text-left">{{ wk_viewrma_ret_qty }}</td>
                        <td class="text-left">{{ wk_viewrma_subtotal }}</td>
                      </tr>
                    </tr>
                  </thead>
                  <tbody>
                    {% if (prodetails is defined and prodetails) %}
 {% for pdetails in prodetails %}
                        <tr>
                          <td class="text-left"><a href="{{ pdetails['link'] }}" target="_blank">{{ pdetails['name'] }}</a></td>
                          <td class="text-left">{{ pdetails['model'] }}</td>
                          <td class="text-left">{{ pdetails['price'] }}</td>
                          <td class="text-left">{{ pdetails['reason'] }}</td>
                          <td class="text-left">{{ pdetails['returned'] }}</td>
                          <td class="text-left">{{ pdetails['total'] }}</td>
                        </tr>
                    {% endfor %} {% else %}
                        <tr>
                          <td colspan="6" class="text-center">All Products Returned !! </td>
                        </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br/>

          {% if (rma_messages is defined and rma_messages) %}

            <div class="row rma">
              <div class="col-sm-12">
                <p class="bg bg-primary"><i class="fa fa-comments-o"></i> {{ text_messages }}</p>
              </div>

            {% for res_message in rma_messages %}

              {% if (res_message['writer'] != 'admin' and res_message['writer'] != 'seller') %}
                <div class="col-sm-10">
                  <div class="alert alert-success">
                    <label data-toggle="tooltip" title="{{ res_message['writer']|capitalize }}"><i class="fa fa-user"></i> </label>
                    <label class="pull-right" ><i class="fa fa-clock-o"></i> {{ res_message['date'] }}</label>
                    <br/>
                    {{ res_message['message'] }}
                    {% if (res_message['attachment']) %}
                    <br/>
                      <a href="{{ attachmentLink~res_message['attachment'] }}" data-toggle="tooltip" title="{{ text_download }}" class="text-info" target="_blank"><i class="fa fa-download"></i> {{ res_message['attachment'] }}</a>
                    {% endif %}
                  </div>
                </div>
              {% else %}
                <div class="col-sm-10 pull-right">
                  <div class="alert alert-{{ res_message['writer'] == 'seller' ? 'info' : 'warning'}}">
                  <label data-toggle="tooltip" title="{{ res_message['writer']|capitalize }}"><i class="fa fa-{{ res_message['writer'] == 'seller' ? 'users' : 'home'}}"></i></label>
                  <label class="pull-right"><i class="fa fa-clock-o"></i> {{ res_message['date'] }}</label>
                  <br/>
                  {{ res_message['message'] }}
                  {% if (res_message['attachment']) %}
                  <br/>
                    <a href="{{ attachmentLink~res_message['attachment'] }}" target="_blank" data-toggle="tooltip" title="{{ text_download }}" class="text-success"><i class="fa fa-download"></i> {{ res_message['attachment'] }}</a>
                  {% endif %}
                </div>
                </div>
              {% endif %}
             {% endfor %}
            </div>


            <div class="row">
              <div class="col-sm-12 text-right">{{ pagination }}{{ results }}</div>
            </div>
            <br>
          {% endif %}

          <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form_msg">

            <div class="row required">
              <label class="col-sm-12 text-left control-label">{{ wk_viewrma_msg }}</label>
              <div class="col-sm-12">
                <input type="hidden" name="wk_viewrma_grp_id" value="{{ vid }}">
                <textarea name="wk_view_message" rows="4" class="form-control" required>{{ wk_view_message }}</textarea>

                <br/>

                <div class="input-group col-sm-12">
                  <span class="input-group-btn">
                    <label type="button" class="btn btn-primary" for="file-upload" data-toggle="tooltip" title="{{ text_allowed_ex }}"><i class="fa fa-upload"></i> {{ button_upload }}</label>
                  </span>
                  <input type="text" id="input-file-name" class="form-control" disabled/>
                </div>

                <input type="file" id="file-upload" name="up_file" class="form-control hide">
                <br/>
                {% if (viewrma['cancel_rma']) %}
                  <input type="checkbox" id="re-open-cancel" name="wk_view_reopensolved" value="pending" style=" position: relative; top: 2px;" > <label class="text-left control-label" for="re-open-cancel">{{ wk_viewrma_reopen }}</label>
                {% endif %}

                <button type="submit" class="btn btn-primary pull-right" data-toggle="tooltip" title="{{ wk_viewrma_msg }}"><i class="fa fa-save"></i></button>

              </div>
            </div>
          </form>
      </fieldset>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
<script>
{% if (not viewrma['cancel_rma'] and not viewrma['solve_rma']) %}
jQuery(".submit-auth-no").click(function(){

  if(jQuery("#auth-no-text").val() != ""){
    jQuery("#auth-no-text").parent('div.form-group').removeClass('has-error');

    $('.submit-auth-no i').removeClass('fa-save').addClass('fa-spinner fa-spin');
    jQuery.ajax({
      url: "index.php?route=account/rma/rma/addcons",
      type: "POST",
      data: { auth_no : jQuery("#auth-no-text").val(),vid : "{{ vid }}"},
      dataType: "json",
      success: function(content) {
        if(content['success']){
          jQuery(".auth_no_here").text(jQuery("#auth-no-text").val());
          jQuery("#add-auth-no").prepend("<span class='text-success'>{{ text_upload_success }}</span><br/>");
          $('#add-auth-no').slideUp(3000,function(){
            jQuery("#add-auth-no").remove();
          });
          $('i.fa.fa-pencil').remove();
        }else{
          alert('{{ wk_viewrma_valid_no }}');
        }
        $('.submit-auth-no i').removeClass('fa-spinner fa-spin').addClass('fa-save');
      }
    });
  }else{
    jQuery("#auth-no-text").parent('div.form-group').addClass('has-error');
  }
});

$('.add-auth-no').on('click', function(){
  $('#add-auth-no').removeClass('hide');
})
$('.add-auth-no-close').on('click', function(){
  $('#add-auth-no').addClass('hide');
})

jQuery("#upload-file").ajaxfileupload({
    "action"     : "index.php?route=account/rma/viewrma/imageupload",
    "params"     : {id : '{{ vid }}'},
    "onComplete" :  function(json) {
          json = JSON.parse(json);
          if (json['error']) {
            $('#content').parent().before('<div class="alert alert-danger"><i class="fa fa-check-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
  					$('html, body').animate({ scrollTop: 0 }, 'slow');
          } else {
            if (json['success']) {
              html = '';
              $.each(json['success'],function(i,e){
                html += "<li class='image-additional'><a href=" + e.thumb + " data-toggle='tooltip' title='View Images' class='thumbnail'><img src=" + e.resize + " /></a></li>";
              })
              $('ul.thumbnails').append(html);
            }

          }
          $('.upload-file-label i').removeClass('fa-spinner fa-spin').addClass('fa-picture-o');

        },
    "onStart"    :  function() {
          $('.alert.alert-danger').remove();
          $('.upload-file-label i').removeClass('fa-picture-o').addClass('fa-spinner fa-spin');
        }
});
{% endif %}
jQuery('input[name=up_file]').change(function(){
  $('#input-file-name').val(jQuery(this).val().replace(/C:\\fakepath\\/i, ''));
});

$(document).ready(function() {
  $('.thumbnails').magnificPopup({
    type:'image',
    delegate: 'a',
    gallery: {
      enabled:true
    }
  });
});
</script>
