<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ heading_title }}</title>
  <base href="{{ base }}" />
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="catalog/view/theme/yzcTheme/stylesheet/fonts.googleapis.com_open+sans.css" rel="stylesheet" type="text/css" />
  <link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
  <link href="catalog/view/theme/default/stylesheet/rma/rma.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      {% set class = 'col-sm-12' %}
      <div id="content" class="{{ class }}">
        <h1>
          {{ heading_title }}
          <div class="pull-right">
            <button type="button" class="btn btn-primary" onclick="printinvoice();"><i class="fa fa-save"></i></button>
          </div>
        </h1>
          <fieldset>
            <legend><div class="col-sm-6 text-info"><i class="fa fa-user"></i> {{ heading_title }}</div><div class="col-sm-6 text-right text-info"><i class="fa fa-clock-o"></i> {{ viewrma['date'] }}</div><div class="clearfix"></div></legend>
            <div class="row">
              <div class="col-sm-6">
                  <p class="bg bg-primary"><i class="fa fa-circle-o-notch"></i> {{ text_order_details }}</p>
                  <div class="bg">
                    {{ wk_viewrma_orderid }}
                    <a href="{{ viewrma['order_url'] }}" target="_blank"># {{ viewrma['order_id'] }}</a>
                  </div>
              </div>

              <div class="col-sm-6">
                  <p class="bg bg-primary"><i class="fa fa-eye"></i> {{ wk_viewrma_status }}</p>
                  <div class="bg">
                    {{ wk_viewrma_rma_tatus }}
                    <span style="color:{{ viewrma['color'] }}">{{ viewrma['rma_status'] }}</span>  <br/>
                    <span>{{ wk_viewrma_authno }} </span><span class="auth_no_here">
                    {{ viewrma['rma_auth_no'] }}</span>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <p class="bg bg-primary"><i class="fa fa-info-circle"></i> {{ wk_viewrma_add_info }}</p>
                <div class="bg">{{ viewrma['add_info'] }} </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <p class="bg bg-primary"><i class="fa fa-picture-o"></i> {{ wk_viewrma_image }}</p>
                <div class="bg">
                  <ul class="thumbnails">
                  {% if (viewrma['images']) %}
                    {% for images in viewrma['images'] %}
                      {% if (images['image']) %}
                        <li class="image-additional"><a href="{{ images['image'] }}" data-toggle="tooltip" title="View Images" class="thumbnail"><img src="{{ images['resize'] }}"></a></li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <p class="bg bg-primary"><i class="fa fa-wrench"></i> {{ wk_viewrma_item_req }}</p>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <tr>
                          <td class="text-left">{{ wk_viewrma_pname }}</td>
                          <td class="text-left">{{ wk_viewrma_model }}</td>
                          <td class="text-left">{{ wk_viewrma_price }}</td>
                          <td class="text-left">{{ wk_viewrma_reason }}</td>
                          <td class="text-left">{{ wk_viewrma_ret_qty }}</td>
                          <td class="text-left">{{ wk_viewrma_subtotal }}</td>
                        </tr>
                      </tr>
                    </thead>
                    <tbody>
                      {% if (prodetails is defined and prodetails) %}
 {% for pdetails in prodetails %}
                          <tr>
                            <td class="text-left">{{ pdetails['name'] }}</td>
                            <td class="text-left">{{ pdetails['model'] }}</td>
                            <td class="text-left">{{ pdetails['price'] }}</td>
                            <td class="text-left">{{ pdetails['reason'] }}</td>
                            <td class="text-left">{{ pdetails['returned'] }}</td>
                            <td class="text-left">{{ pdetails['total'] }}</td>
                          </tr>
                      {% endfor %} {% else %}
                          <tr>
                            <td colspan="6" class="text-center">All Products Returned !! </td>
                          </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <br/>

            {% if (rma_messages is defined and rma_messages) %}

              <div class="row rma">
                <div class="col-sm-12">
                  <p class="bg bg-primary"><i class="fa fa-comments-o"></i> {{ text_messages }}</p>
                </div>

              {% for res_message in rma_messages %}

                {% if (res_message['writer'] != 'admin' and res_message['writer'] != 'seller') %}
                  <div class="col-sm-10">
                    <div class="alert alert-success">
                      <label data-toggle="tooltip" title="{{ res_message['writer']|capitalize }}"><i class="fa fa-user"></i> </label>
                      <label class="pull-right" ><i class="fa fa-clock-o"></i> {{ res_message['date'] }}</label>
                      <br/>
                      {{ res_message['message'] }}
                      {% if (res_message['attachment']) %}
                      <br/>
                        <a href="{{ attachmentLink~res_message['attachment'] }}" data-toggle="tooltip" title="{{ text_download }}" class="text-info" target="_blank"><i class="fa fa-download"></i> {{ res_message['attachment'] }}</a>
                      {% endif %}
                    </div>
                  </div>
                {% else %}
                  <div class="col-sm-10 pull-right">
                    <div class="alert alert-info">
                    <label data-toggle="tooltip" title="{{ res_message['writer']|capitalize }}"><i class="fa fa-home"></i></label>
                    <label class="pull-right"><i class="fa fa-clock-o"></i> {{ res_message['date'] }}</label>
                    <br/>
                    {{ res_message['message'] }}
                    {% if (res_message['attachment']) %}
                    <br/>
                      <a href="{{ attachmentLink~res_message['attachment'] }}" target="_blank" data-toggle="tooltip" title="{{ text_download }}" class="text-success"><i class="fa fa-download"></i> {{ res_message['attachment'] }}</a>
                    {% endif %}
                  </div>
                  </div>
                {% endif %}
               {% endfor %}
              </div>


              <div class="row">
                <div class="col-sm-12 text-right">{{ pagination }}{{ results }}</div>
              </div>
              <br>
            {% endif %}
        </fieldset>
        </div>
      </div>
  </div>
</body>
</html>
<script>
function printinvoice(){
  window.print();
}
</script>
