{{ this.title(__('平台活动', {}, 'catalog/seller_menu')) }}
{{ this.params('breadcrumbs', [
  {
    text: __('促销活动', {}, 'catalog/seller_menu'),
    href: 'javascript:void(0);',
  },
  'current'
]) }}
{{ this.params('pageTitle', {
  backUrl: false,
}) }}

{{ jsOrigin(['/catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js']) }}

{% set navDatas = [
{'id':'proEvents','name': __('活动报名', {}, 'catalog/seller_menu'), 'url': 'customerpartner/marketing_campaign/index' },
{'id':'proHistory','name': __('已参与活动', {}, 'catalog/seller_menu'), 'url': 'customerpartner/marketing_campaign/history/index', show_number: history_number }]
%}
{{ this.params('title', this.getTitle()) }}
<div class="nav-oris">
  <div class="oris-row">
    <ul class="nav nav-tabs main" role="tablist">
      {% for one in navDatas %}
      <li>
        <a href="#{{one.id}}" role="tab" data-toggle="tab-ajax" data-url="{{ url(one.url) }}">
          {{one.name}}
          {% if one.show_number is defined and one.show_number > 0 %}
          <span class="tab-number">{{ one.show_number < 100 ? one.show_number : '99+' }}</span>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {#tab页对应内容#}
  <div class="tab-content">
    {% for one in navDatas %}
    <div class="tab-pane" id="{{one.id}}"></div>
    {% endfor %}
  </div>
</div>
