{{ header }}
{{ separate_column_left }}
<link rel="stylesheet" href="catalog/view/theme/yzcTheme/stylesheet/customerpartner/marketingCampaign/detail.css">
<div class="container-fluid" id="content">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row" id="main-content">
        <div id="content" class="{{ class }}">
            {{ content_top }}
            <h1 class="col-sm-6">{{ text_heading_events_detials_title }}</h1>
        </div>
    </div>
    <div id="box-shadow" class="events-details">
        <div class="columns">
            <h5 class="text-bold">{{ text_promotion_activity_info }}</h5>
            <table class="table table-bordered mb-1">
                <tr>
                    <td colspan="2">
                       <div class="flex-layout"> {{ campaignInfo.name }}
                           {% if campaignInfo.status == 3 %}
                               <span class="flex-layout text-small ml-3"><i class="giga icon-action-remove mr-05"></i> At Capactity</span>
                           {% elseif  campaignInfo.status==2 %}
                           <span class="text-warning text-small flex-layout ml-3"><i class="giga icon-complete mr-05"></i> Registered</span></div>
                           {% else %}
                               <span class="text-success text-small flex-layout ml-4"><i class="giga icon-Action-Time mr-05"></i> Open</span>
                           {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ text_duration }}</td>
                    <td>{{ campaignInfo.effective_time }} - {{ campaignInfo.expiration_time }}</td>
                </tr>
                <tr>
                    <td>{{ text_registration_period }}</td>
                    <td>
                        {{ campaignInfo.apply_start_time }} - {{ campaignInfo.apply_end_time }}
                        <span class="countdown ml-3">Ends in: <span class="credt-time"></span></span>
                    </td>
                </tr>
                <tr>
                    <td>{{ text_available_openings }}</td>
                    <td>{{ campaignInfo.seller_num }}</td>
                </tr>
            </table>
        </div>
        <div class="columns mt-3">
            <h5 class="text-bold">{{ text_product_requirement }}</h5>
            <table class="table table-bordered mb-1">
                <tr>
                    <td>{{ text_categories_eligible }}</td>
                    <td>{{ campaignInfo.cate_name ? campaignInfo.cate_name : text_all_categories }}</td>
                </tr>
                <tr>
                    <td>{{ text_stock_requirements }}</td>
                    <td>
                        {{ campaignInfo.require_pro_min_stock == 0 ? text_no_limit : campaignInfo.require_pro_min_stock }}
                    </td>
                </tr>
                <tr>
                    <td>{{ text_product_listing_date }}</td>
                    <td>
                        {% if campaignInfo.require_pro_end_time %}
                            {{ campaignInfo.require_pro_start_time }} - {{ campaignInfo.require_pro_end_time }}
                        {% else %}
                            {{ text_no_limit }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ text_product_maximum }}</td>
                    <td>{{ campaignInfo.product_num_per }}</td>
                </tr>
            </table>
        </div>
        <div class="columns mt-3">
            <h5 class="text-bold">{{ text_activity_type }}</h5>
            <table class="table table-bordered mb-1">
                <tr>
                    <td>{{ text_promotion_offering }}</td>
                    <td>{{ campaignInfo.type == 2 ? text_free_gifts : campaignInfo.type==3 ? text_discount_vouchers : campaignInfo.type == 1? text_banner_advertising : text_others }}</td>
                </tr>
                {% if (campaignInfo.type == 2 or campaignInfo.type == 3) %}
                    <tr>
                        <td>{{ text_content }}</td>
                        <td>
                            {% for condition_item in campaignInfo.condition_info %}
                                {% if loop.index == loop.length %}
                                    {{ condition_item }}
                                {% else %}
                                    {{ condition_item }};
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ text_promotion_costs }}</td>
                        <td>
                            {% if campaignInfo.type == 2 or campaignInfo.type == 3 %}
                                <span class="warning-tag text-small">
                                {% if campaignInfo.type == 3 %}
                                    {{ text_by_seller }}
                                {% else %}
                                    {{ text_by_platform }}
                                {% endif %}
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ text_transaction_type }}</td>
                        <td>{{ campaignInfo.transactionTypeFormat }}</td>
                    </tr>
                {% endif %}
            </table>
            <div class="text-light">{{ campaignInfo.normalTranMsg }}</div>
        </div>
        {% if campaignInfo.description %}
            <div class="columns mt-3">
                <h5 class="text-bold">{{ text_promotion_description }}</h5>
                <div class="promotion-description">
                    {{ campaignInfo.description }}
                    {#<ol class="no-margin no-padding text-small">
                        <li>The seller may only Submit two products per day of the flash sale.</li>
                        <li>The goods must be discounted between 50-90%, based on the 90-day average price.</li>
                        <li>The goods must sold from a hot sellers.</li>
                    </ol>#}
                </div>
            </div>
        {% endif %}

        <div class="mt-3 text-center">
            <button type="button" class="btn btn-deep" id="confirm_button">
                {{ text_register_button }}
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog w316" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-none">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ text_pop_title }}</h4>
            </div>
            <div class="modal-body">
                {{ text_discount_hint_message }}
                <div class="text-center footer mt-2">
                    <button type="button" class="btn btn-deep btn-small mr-10" onclick="register_jump()">Yes</button>
                    <button type="button" class="btn btn-adverse btn-small" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $().ready(function(){
        // Register Btn
        $('#confirm_button').click(function(){
            var type = '{{ campaignInfo.type }}';
            if (type == 3) {
                // 弹出弹框
                $("#confirmModal").modal();
            } else {
                // 直接参加活动
                register_jump();
            }
        })
    })
    function checkActivityStatu()
    {
        var reg_status = '{{ campaignInfo.status }}';
        var limit_time = '{{ campaignInfo.limit_time }}';
        if (reg_status != 1 || limit_time <= 0) {
            $('#confirm_button').attr('disabled', true);
        }
    }

    function show_time() {
        $(".credt-time").each(function() {
            var time_distance = {{ campaignInfo.limit_time }} - count_seconds;
            var timer;
            if (time_distance > 0) {
                var int_day = Math.floor(time_distance / 86400);
                time_distance -= int_day * 86400;
                var int_hour = Math.floor(time_distance / 3600);
                time_distance -= int_hour * 3600;
                var int_minute = Math.floor(time_distance / 60);
                time_distance -= int_minute * 60;
                var int_second = time_distance;
                if (int_day < 10) {
                    int_day = "0" + int_day;
                }
                if (int_hour < 10) {
                    int_hour = "0" + int_hour;
                }
                if (int_minute < 10) {
                    int_minute = "0" + int_minute;
                }
                if (int_second < 10) {
                    int_second = "0" + int_second;
                }
                var overDate = '<span>'+int_day+'day</span><span>'+int_hour+'H</span><span>'+int_minute+'M</span><span>'+ int_second+'S</span>'
                $(this).html(overDate);
            }else{
                clearInterval(timer);
                $(this).html('00天00时00分00秒');
                $('#confirm_button').attr('disabled', true);
            }
        });
        count_seconds += 1;
        timer = setTimeout('show_time()', 1000);
    }
    checkActivityStatu();
    let count_seconds = 0;
    show_time();

    function register_jump()
    {
        window.location.href = "{{ url('customerpartner/marketing_campaign/request', {'id':campaignInfo.id}) }}";
    }

</script>
{{ footer }}

