<div class="pro-history">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}</div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success"><i class="fa fa-check-circle"> </i> {{ success }}</div>
    {% endif %}
      <div class="{{ class }}">
        <fieldset>
          <div style="margin-top: 0">
            <div style="position:relative">
              <div class="table-responsive" style="border-bottom: 1px #eee solid;width: 100%">
                <table id="tableMarginOffering" class="table table-hover">
                  <thead>
                  <tr>
                    <th class="text-center no-wrap" style="width: 20%;">{{ column_promotion_type }}</th>
                    <th class="text-center no-wrap" style="width: 16%;">{{ column_duration }}</th>
                    <th class="text-center no-wrap" style="width: 16%;">{{ column_products_registered }}</th>
                    <th class="text-center no-wrap" style="width: 16%;">{{ column_status }}</th>
                    <th class="text-center no-wrap" style="width: 16%;">{{ column_approval_status }}</th>
                    <th class="text-left no-wrap" style="width: 16%;">{{ column_action }}</th>
                  </tr>
                  </thead>
                </table>

                {% if margin_templates %}
                  {% for template in margin_templates %}
                    <table class="table table-hover" style="margin-bottom: 0px;">
                      <tbody>
                      <tr>
                        <td class="text-center no-wrap" style="width: 20%;">
                          <span class="word_break">{{ template.name }}</span>
                        </td>
                        <td class="text-center no-wrap" style="width: 16%;">
                          <span class="word_break">{{ template.effective_time }}<br>-<br>{{ template.expiration_time }}</span>
                        </td>
                        <td class="text-center no-wrap" style="width: 16%;">
                          {# #6683：已审核通过的数据显示为：审核通过的产品/报名产品#}
                          {% if template.status == 2%}
                            {{ template.approval_product_num }}/{{ template.products_registered}}
                          {% else %}
                            {{ template.products_registered}}
                          {% endif %}
                        </td>

                        <td class="text-center no-wrap" style="width: 16%;">
                          <span class="word_break">{{ template.status_name}}</span>
                        </td>
                        <td class="text-center no-wrap" style="width: 16%;">
                          <span class="word_break">{{ template.approval_status_name }}</span>
                          {% if template.status==3 and template.reject_reason%}
                            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html="true" title="<div class='word_break' style='word-wrap:normal'>{{ template.reject_reason }}</div>"></i>
                          {% elseif template.status == 2 and template.approval_product_num < template.products_registered and template.reject_reason %}{# #6683：部分审核通过的也显示拒绝的原因 #}
                            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" data-html="true" title="<div class='word_break' style='word-wrap:normal'>{{ template.reject_reason }}</div>"></i>
                          {% endif %}
                        </td>
                        <td class="text-left no-wrap" style="width: 16%;">
                          {% if template.products_registered > 0 %}
                            <a class="btn btn_expand" role="button" data-toggle="collapse"
                               href="#collapseExample{{ template.id }}"
                               aria-expanded="false" aria-controls="collapseExample" id="open{{ template.id }}"
                               style="margin:0 5px 0 0" onclick="change_tips(this)">
                              <i class="giga icon-action-stretch show_tips" data-toggle="tooltip" style="font-size: 13px;"
                                 title="{{ btn_expand }}"></i>
                            </a>
                          {% endif %}
                          {% if template.is_can_cancel %}
                            <a class="btn" onclick="promotionsCancel('{{ template.id }}',this)" data-url="{{ template.url_cancel }}" data-update_time="{{ template.update_time }}" data-toggle="tooltip" title="{{ text_cancel }}" style="margin:0 5px 0 0"><i class="giga icon-sidebar-clear" style="font-weight: bold"></i></a>
                          {% endif %}
                          {% if template.is_can_reapplied %}
                            <a class="btn" href="{{ template.url_reapplied }}" data-url_reapplied="{{ template.url_reapplied }}" data-toggle="tooltip" title="{{ text_re_submit }}" style="margin:0 5px 0 0"><i class="giga icon-action-refresh-reload"></i></a>
                          {% endif %}
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="collapse coll coll_table" id="collapseExample{{ template.id }}">
                      <div class="well" style="background-color: #e5f0f4;">
                        <table>
                          <thead>
                          <tr>
                            <th class="text-center no-wrap" style="width: 10%">{{ column_item_code }}</th>
                            <th class="text-left" style="width: 20%">{{ column_product_name }}</th>
                            <th class="text-center no-wrap" style="width: 10%">{{ column_current_price }}</th>
                            <th class="text-center no-wrap" style="width: 10%">{{ column_available_quantity }}</th>
                            <th class="text-center no-wrap" style="width: 10%">{{ column_Qualified }}</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for detail_v in template['products'] %}
                            <tr>
                              <td class="text-center no-wrap">
                                <span class="word_break">{{ detail_v.sku }}</span>
                              </td>
                              <td class="text-left" class="word_break">
                                <img src="{{ detail_v.image_url }}" style="padding: 1px;border: 1px solid #DDDDDD;width: 60px;" class="img-thumbnail col-sm-3">
                                <span class="col-sm-9"><a href="{{ detail_v.product_url }}" target="_blank">{{ detail_v.name }}</a></span>
                              </td>
                              <td class="text-center no-wrap">
                                <span class="word_break">{{ detail_v.currenc_price }}</span>
                              </td>
                              <td class="text-center no-wrap">
                                  <span class="word_break">{{ detail_v.quantity }}</span>
                              </td>
                              <td class="text-center no-wrap">
                                {% if detail_v.approval_status == 2 %}
                                  {{ text_yes }}
                                {% elseif detail_v.approval_status == 3 %}
                                  {{ text_no }}
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="col-sm-12" style="text-align: center;font-size: 18px;margin-top: 15px;margin-bottom: 20px">
                    {{ no_records }}
                  </div>
                {% endif %}
              </div>
            </div>

            {% if margin_templates %}
              {#分页#}
              <div class="oris-row oris-pagination">
                <ul id="pagination_event_history"></ul>
              </div>
            {% endif %}

          </div>
        </fieldset>
      </div>
</div>
<style>
  .coll_table tbody td {
    padding: 10px 0px;
  }
  .word_break{
    word-break: break-all;
    word-wrap: break-word; /*只对英文起作用，以单词作为换行依据*/
    white-space: pre-wrap; /*只对中文起作用，强制换行*/
    text-align: justify; /*css英文语句的两端对齐*/
    text-justify: inter-ideograph;
  }
  .pro-history a:hover {
    color: #478BFF;
  }

  .pro-history .table tbody > tr > td{
    border-bottom: 1px #eee solid;
  }
</style>
<script type="text/javascript">
  $(function () {
    {#是否默认展开#}
    {% if expand_status=='expand' %}
    $('.collapse').removeClass('collapse').addClass('collapse in');
    $('a.btn_expand').attr('aria-expanded', true);
    $('a.btn_expand i').removeClass('icon-action-stretch').addClass('icon-arrow-compress');
    {% endif %}

    paginationHistory();
  });

  function change_tips(obj) {
    var this_href = $(obj).attr('href');
    console.log($(this_href).css('display') == 'block');
    if ($(this_href).css('display') == 'block') {//即将关闭
      $(obj).children('i').removeClass('icon-arrow-compress').addClass('icon-action-stretch');
      $(obj).children('i').attr('data-original-title', '{{ btn_expand }}');
    } else {//即将展开
      $(obj).children('i').removeClass('icon-action-stretch').addClass('icon-arrow-compress');
      $(obj).children('i').attr('data-original-title', '{{ btn_collapse }}');
    }
  }

  function promotionsCancel(id, obj){
    let url              = $(obj).data('url');
    let last_update_time = $(obj).data('update_time');
    let url_reload       = '{{ url_reload }}';
    let locked           = false;

    layer.confirm('{{ text_cancel_confirm }}', {
      title: 'Confirm',
      skin: 'yzc_layer',
      btn: ['Ok','No'] //按钮
    }, function(index){
      if(!locked){
        locked = true;
        layer.close(index);
        $.ajax({
          url: url,
          type: 'post',
          data: {
            'id':id,
            'last_update_time':last_update_time
          },
          dataType: 'json',
          beforeSend:function(){
            block.blockUI()
          },
          success: function(json) {
            if (json['success']) {
              layer.alert('{{ text_cancel_success }}', {
                title: 'Message',
                btn: 'OK',
                skin: 'yzc_layer' //样式类名
                , closeBtn: 0
              },function(index){
                layer.close(index);
                reloadHistoryPage(1);
              });
            }else if (json['error']){
              layer.alert(json['error'], {
                title: 'Message',
                btn: 'OK',
                skin: 'yzc_layer' //样式类名
                , closeBtn: 0
              },function(index){
                layer.close(index);
                reloadHistoryPage(1);
              });
            }
          },
          error: function(xhr, ajaxOptions, thrownError) {
            layer.alert(thrownError + "<br>" + xhr.statusText + "<br>" + xhr.responseText, {
              title: 'Message',
              btn: 'OK',
              skin: 'yzc_layer' //样式类名
              , closeBtn: 0
            });
          },
          complete:function(){
            locked = false;
            block.unBlockUI();
          }
        });
      }
    }, function(index) {
      layer.close(index);
    });
  }

  function reloadHistoryPage(page) {
    $('#proHistory').load('{{ paginator.getUrlWithNoPage() }}&page=' + page, function () {
      block.unBlockUI();
    });
  }

  function paginationHistory() {
    $('#pagination_event_history').bootstrapPaginator({
      /*当前使用的是3版本的bootstrap*/
      bootstrapMajorVersion: 3,
      /*配置的字体大小是小号*/
      size: 'normal',
      /*当前页*/
      currentPage: {{ paginator.getPage() }},
      /*一共多少页*/
      totalPages: {{ max(paginator.getPageCount(), 1) }},
      /*页面上最多显示几个含数字的分页按钮*/
      numberOfPages: 5,
      pageRange: [10, 20, 30, 50, 100],
      rowsOfPage: {{ paginator.getPageSize() }},
      total: {{ paginator.getTotalCount() }},
      onPageClicked: function (event, originalEvent, type, page) {
        block.blockUI();
        reloadHistoryPage(page);
      }
    });
  }
</script>
