{{ header }}
{{ separate_column_left }}
<style>
  .h2 {
    color: #1865a4;
    margin-bottom: 15px;
  }

  .activity_title {
    font-size: 16px;
    margin-left: 20px;
    color: #000;
  }

  #box-shadow {
    overflow: hidden;
    padding: 20px 0 !important;
    margin-top: 15px;
  }

  #box-shadow .form-group .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 9px;
  }

  .upload_image {
    position: relative;
    width: {{ banner_setting.t_width }}px;
    height: {{ banner_setting.t_height }}px;
    border: 1px #b5b5b5 dashed !important;
  }

  .upload_image span {
    margin-top: {{ (banner_setting.t_height-2-57)/2 }}px;
    display: block;
    font-size: 40px;
    text-align: center;
  }

  .upload_image span:hover {
    cursor: default;
  }

  .form-control:hover {
    border: 1px solid #3A75DC;
  }

  #box-shadow input.layui-upload-file {
    display: none;
  }

  .layui-layer-title {
    padding: 12px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
    height: auto;
    line-height: 1.428571429;
  }
</style>
{#<script type="text/javascript" src="catalog\view\javascript\layui\layui.all.js"></script>#}
<div class="container-fluid" id="content" style="margin-left: 15%;margin-right: 20px">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
    <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row" id="main-content">
    {{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}

    <div id="content" class="{{ class }}">
      {{ content_top }}
      <h2 class="h2">
        {{ heading_title }} <span class="activity_title">{{ activity_title }}</span>
        <div class="pull-right">
          <a onclick="save()" class="btn btn-primary">Submit</a>
          <a href="{{ url_page_back }}" data-toggle="tooltip" title="{{ tips_back }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
        </div>
      </h2>

      <div id="box-shadow" style="margin-right: 0">
        <div class="form-group col-md-12">
          <label for="input_url" class="col-md-3 control-label">
            <i style="color: red">*</i>Banner URL
          </label>
          <div class="col-md-7">
            <input type="text" class="form-control" name="url" id="input_url" value="{{ url_seller_store }}">
          </div>
        </div>
        <div class="form-group col-md-12">
          <label for="input_image" class="col-md-3 control-label" style="padding-top: 32px">
            <i style="color: red">*</i>Image
          </label>
          <div class="col-md-7" style="padding-left: 15px!important;">
            <div class="upload_image">
              <span>+</span>
              <img src="{{ banner_image_uri }}" width="{{ banner_setting.t_width-2 }}px" height="{{ banner_setting.t_height-2 }}px" style="display: none">
            </div>
            <div style="color: #b3b0b0"> Size: {{ banner_setting.width }} x {{ banner_setting.height }} pixel ; Format: JPG/PNG</div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label for="input_description" class="col-md-3 control-label">
            <i style="color: red">*</i>Banner Description
          </label>
          <div class="col-md-7">
            <textarea name="description" id="input_description" cols="300" rows="3" class="form-control" maxlength="500">{{ banner_description }}</textarea>
          </div>
        </div>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}

<script>

  let upload;
  let id = '{{ id }}';
  let image = '{{ banner_image }}';
  let url_save = '{{ url_save }}';
  $(function () {
    layui.use('upload', function () {
      upload = layui.upload;
    });
    upload.render({
      elem: '.upload_image',
      url: '{{ url_banner_upload }}',
      size: 30 * 1024,
      accept: 'images',
      data: {id: id},
      before: function (obj) {
        layer.load();
      },
      done: function (res, index, upload) {
        layer.closeAll('loading');
        if (res.code == 200 && res.data) {
          $(".upload_image span").hide();
          $(".upload_image img").show().attr('src', res.data.cache_file_url);
          image = res.data.relative_path;
        } else {
          if (res.code == 500) {
            layer.alert('{{ error_timeout }}', {
              skin: 'yzc_layer' //样式类名
              , closeBtn: 0
              , btn: 'Ok'
              , title: 'Message'
            }, function () {
              window.location.reload();
            });
          } else {
            layer.msg(res.msg);
          }
        }
      },
      error: function (index, upload) {
        layer.alert('{{ error_timeout }}', {
          skin: 'yzc_layer' //样式类名
          , closeBtn: 0
          , btn: 'Ok'
          , title: 'Message'
        }, function () {
          window.location.reload();
        });
      }
    });

    if (image.length > 0) {
      $(".upload_image span").hide();
      $(".upload_image img").show();
    }

    if('{{ error_message }}'.length>0){
      layer.alert('{{ error_message }}', {
        skin: 'yzc_layer' //样式类名
        , closeBtn: 0
        , btn: 'Ok'
        , title: 'Message'
      }, function () {
        window.location.href='{{ url_page_history }}';
      });
    }
  })

  function save() {
    let postData = {};
    postData.id = id;
    postData.url = $("#input_url").val().trim();
    postData.image = image;
    postData.description = $("#input_description").val().trim();

    if (postData.url.length === 0) {
      layerMsg('{{ error_banner_empty_url }}');
      return;
    }

    if (postData.image.length === 0) {
      layerMsg('{{ error_no_upload }}');
      return;
    }

    if (postData.description.length === 0) {
      layerMsg('{{ error_banner_empty_description }}');
      return;
    }
    ajax(postData, url_save, save_success_callback);
  }

  function save_success_callback(result, otherParams = null) {
    layer.closeAll();
    if (result.code == 500) {
      layer.alert(result.msg, {
        skin: 'yzc_layer' //样式类名
        , closeBtn: 0
        , btn: 'Ok'
        , title: 'Message'
      }, function () {
        window.location.reload();
      });
    } else {
      if (result.code == 200) {
        layer.alert(result.msg, {
          skin: 'yzc_layer' //样式类名
          , closeBtn: 0
          , btn: 'Ok'
          , title: 'Message'
        }, function () {
          window.location.href = '{{ url_page_back }}';
        });
      } else {
        layerMsg(result.msg, 3000);
      }
    }
  }

  //region common functions
  function trim_keyup(e) {
    lucene_objInput = $(this);
    if (e.keyCode != 38 && e.keyCode != 40 && e.keyCode != 13) {
      let im = $.trim(lucene_objInput.val());
      lucene_objInput.val(im);
    }
  }

  function layerMsg(message, time = 2000) {
    layer.msg(message, {time: time});
  }

  function ajax(data, url, successCallback, otherParams = null, errorCallback = undefined) {
    $.ajax({
      url: url,
      type: 'POST',
      dataType: 'json',
      data: data,
      beforeSend: function () {
        layer.load();
      },
      success: function (json) {
        successCallback(json, otherParams);
      },
      error: function (xhr, ajaxOptions, thrownError,) {
        if (!errorCallback === undefined) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      }
    })
  }

  //endregion
</script>