{% trans_default_category 'catalog/view/customerpartner/message_center/platform_secretary/index' %}

{{ this.title('Giga Help Desk') }}
{{ this.params('breadcrumbs', [
  {
    text: 'Message Center',
    href: 'javascript:void(0)',
  },
  'current'
]) }}

{{ this.params('pageTitle', {
  show: true,
  title: 'Giga Help Desk',
  backUrl: '',
  buttons: []
}) }}

{# 以下引入是日期范围选择器 #}
{{ js(['js/common/dateRangePicker.js']) }}
{{ css(['css/common/dateRangePicker.css']) }}

{{ js(['js/common/orisComponents.js']) }}

<div id="page-index">
  <div class="nav-oris">
    <div class="row">
      <div class="col-md-12">
        {# 表头tab页 #}
        <ul class="nav nav-tabs" role="tablist">
          <li id="inbox-tab-li" class="active" onclick="refreshTab('inbox')">
            <a role="tab">
              Inbox
              {% if unread_count > 0 %}
              <span class="number tab-number">{{ unread_count > 99 ? '99+' : unread_count }}</span>
              {% endif %}
            </a>
          </li>
          <li id="sent-tab-li" class="oris-tabs-pane"  onclick="refreshTab('sent')">
            <a role="tab">
              Sent
            </a>
          </li>
        </ul>
        <div class="tab-content">
          {# tab 页内容 #}
          <div class="tab-pane active" id="tab_content">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
$(document).ready(function() {
  if ('{{ tab }}' === 'sent') {
    refreshTab('sent');
  } else {
    refreshTab('inbox');
  }
})

function refreshTab(type) {
  let url = `index.php?route=customerpartner/message_center/platform_secretary/${type}`; 
  $("#page-index li").removeClass('active');
  let el = type == "inbox" ? "#inbox-tab-li" : "#sent-tab-li";
  $(el).addClass('active'); 
  $("#tab_content").load(url);
}
</script>

<style>
  #inbox-tab-li:hover,
  #sent-tab-li:hover {
    cursor: pointer;
  }
</style>