{{ header }}
<link rel="stylesheet" href="catalog/view/javascript/bootstrap-select/css/bootstrap-select.css">
<style>
  .btn_go{
    color: inherit;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 34px;
  }
  .btn_go:hover{
    color: #ffffff;
  }
  .shadow_img{
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    background: black;
    opacity: 0.6;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
  }
  .title_img{
    width: 100%;
    /*left: 10px;*/
    position: absolute;
    top: 40%;
    text-align: center;

  }
  .img_checkbox{
    /*left: 10px;*/
    position: absolute;
    top: 0;
    left: 0;
  }
  .con_img{
    position: relative;
    width: 100%;
    height: 228px;
    overflow: hidden;
  }
  #search-sort-title{
    height: auto;
    min-height: 38px;
  }
  .notallowed{
    cursor: not-allowed;
    color: #ababab;
  }
  .checkbox label.notallowed{
    cursor: not-allowed;
    color: #ababab;
  }
  #search-result div.checkbox input[type="checkbox"].notallowed{
    cursor: not-allowed;
    color: #ababab;
  }
  #search-result .search-form #search-sort-title {
    text-align: left;
    width: 265px;
    border: 1px solid #183464;
    color: #333;
    margin: 0;
    padding: 8px 13px;
  }
  .btn-group button .caret {
    margin-left: 60%;
  }

  #search-sort-category ul {
    width: 265px;
    height: 400px;
    overflow: auto;
    border: 1px solid #183464
  }
  .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:hover{
    background-color: #fff;
  }


  #search-result .search-form{
    border-bottom: none !important;
  }
  .my-search .btn-default{
    color: #232424 !important;
    border-color:#183464 !important;
    font-weight: normal;
  }
  .my-sort .sort-item{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    border: 1px solid #9b9b9b;
    border-right: none;
    color: #999;
  }
  .sort-item.first{
    border-radius: 4px 0 0 4px;
  }
  .sort-item.last{
    border-right: 1px solid #9b9b9b;
    border-radius: 0 4px 4px 0;
  }
  .sort-item:hover{
    cursor: pointer;
    color: #292929;
  }

  .sort-item.active{
    color: #292929;
  }
  .fa-long-arrow-up,.fa-long-arrow-down{
    color: #ccc;
  }
  .sort-item.active .fa-long-arrow-up.active,.sort-item.active .fa-long-arrow-down.active{
    color: #292929;
  }
  /*body{*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
  /*}*/
  .my-sort{
    font-size: 0;
  }
  .my-sort a{
    font-size: 14px;
  }

  #pageLimit:not(.input-group) > .bootstrap-select.form-control:not([class*="col-"]) {
    width: 50%;
  }
</style>
<div class="breadcrumb-wrapper text-center clearfix">
  <h1>{{ heading_title }}</h1>
  {% include 'giga/template/_parts/breadcrumb.twig' %}
</div>

<div id="product-category">
  <div class="container" id="search-result">
    <div class="row mt-4" id="content_product">
      <div id="content"></div>
      <div class="col-md-3 hidden-xs">
        <div class="side-tool" id="myColumnCategory" >
          <div id="column-left-condition">
            <div class="tool-item">
              <div class="side-title">CATEGORIES </div>
              <ul id="category-categories">
                {% for one, category in categories %}
                  <li class="panel-lx" >
                    <a href="{{ category['href'] }}" class="category-href" id="category-value-{{ category['category_id'] }}" >{{ category['name'] }}</a>
                    {% if category['children'] %}
                      <a class="toggle-icon " id="category-show-{{ category['category_id'] }}" data-toggle="collapse" data-parent="#category-categories"
                         href="#category-categories-{{ one }}"
                      ><i class="giga icon-sidebar-unfold"></i></a>
                      <ul class="collapse" id="category-categories-{{ one }}">
                        {% for two, child in category['children'] %}
                          <li>
                            <a href="{{ child['href'] }}" class="category-href" id="category-value-{{ child['category_id'] }}" >- {{ child['name'] }}</a>
                            {% if  child['children'] %}
                              <a class="toggle-icon" id="category-show-{{ two }}" data-toggle="collapse" data-parent="#category-categories-{{ one }}"
                                 href="#category-categories-{{ two }}"
                              ><i class="giga icon-sidebar-unfold"></i></a>
                              <ul class="collapse" id="category-categories-{{ two }}">
                                {% for three, grandson in  child['children'] %}
                                  <li><a href="{{ grandson['href'] }}" id="category-value-{{ grandson['category_id'] }}"  class="category-href" >-- {{ grandson['name'] }}</a></li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="side-tool" id="myColumn" >
          <div id="column-left-filter-category">
            <div class="tool-item panel-filter-price-category">
              <div class="side-title">Unit Price</div>
              <ul id="category-price-category">
                <li data-interval="-25">
                  <a href="javascript:void(0);" class="filter-price" data-max="25{{ isJapanAddMoney }}" id="price_-25{{ isJapanAddMoney }}">
                    Under {{ symbol_left }}25{{ isJapanAddMoney }}{{ symbol_right }}</a></li>
                <li data-interval="25-50">
                  <a href="javascript:void(0);" class="filter-price" data-min="25{{ isJapanAddMoney }}" data-max="50{{ isJapanAddMoney }}" id="price_25{{ isJapanAddMoney }}-50{{ isJapanAddMoney }}">
                    {{ symbol_left }}25{{ isJapanAddMoney }}{{ symbol_right }} to {{ symbol_left }}50{{ isJapanAddMoney }}{{ symbol_right }}</a></li>
                <li data-interval="50-100">
                  <a href="javascript:void(0);" class="filter-price" data-min="50{{ isJapanAddMoney }}" data-max="100{{ isJapanAddMoney }}" id="price_50{{ isJapanAddMoney }}-100{{ isJapanAddMoney }}">
                    {{ symbol_left }}50{{ isJapanAddMoney }}{{ symbol_right }} to {{ symbol_left }}100{{ isJapanAddMoney }}{{ symbol_right }}</a>
                </li>
                <li data-interval="100-200">
                  <a href="javascript:void(0);" class="filter-price" data-min="100{{ isJapanAddMoney }}" data-max="200{{ isJapanAddMoney }}"
                     id="price_100{{ isJapanAddMoney }}-200{{ isJapanAddMoney }}">
                    {{ symbol_left }}100{{ isJapanAddMoney }}{{ symbol_right }} to {{ symbol_left }}200{{ isJapanAddMoney }}{{ symbol_right }}</a>
                </li>
                <li data-interval="200-">
                  <a href="javascript:void(0);" class="filter-price" data-min="200{{ isJapanAddMoney }}" id="price_200{{ isJapanAddMoney }}">
                    Over {{ symbol_left }}200{{ isJapanAddMoney }}{{ symbol_right }}</a>
                </li>
              </ul>
              <div class="section-wrapper">
                <div class="edit icon">
                  <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control" id="min_price" placeholder="Min" value="{{ min_price }}">
                  <span class="currency-icon">{{ symbol_left }}{{ symbol_right }}</span>
                </div>
                <div class="edit">
                  <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control" id="max_price" placeholder="Max" value="{{ max_price }}">
                  <span class="currency-icon">{{ symbol_left }}{{ symbol_right }}</span>
                </div>
                <div class="btn" style="padding: 0;">
                  <a class="filter_button filter-price btn_go" href="javascript:void(0);" data-cnzz-event="分类列表页|CL_Filter_UnitPrice">Go</a>
                </div>
              </div>
            </div>
            <div class="tool-item unit-price-wrapper panel-filter-quantity-category">
              <div class="side-title">Qty Available</div>
              <ul id="category-quantity-ul">
                <li data-interval="-10"><a href="javascript:void(0);" class="filter-quantity" data-max="10">Under 10</a></li>
                <li data-interval="10-20"><a href="javascript:void(0);" class="filter-quantity" data-min="10" data-max="20">10 to 20</a></li>
                <li data-interval="20-30"><a href="javascript:void(0);" class="filter-quantity" data-min="20" data-max="30">20 to 30</a></li>
                <li data-interval="30-50"><a href="javascript:void(0);" class="filter-quantity" data-min="30" data-max="50">30 to 50</a></li>
                <li data-interval="50-"><a href="javascript:void(0);" class="filter-quantity" data-min="50">Over 50</a></li>
              </ul>
              <div class="section-wrapper ">
                <div class="edit icon">
                  <input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" id="min_quantity" placeholder="Min" value="{{ min_quantity }}">
                </div>
                <div class="edit">
                  <input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" id="max_quantity" placeholder="Max" value="{{ max_quantity }}">
                </div>
                <div class="btn" style="padding: 0;">
                  <a class="filter_button filter-quantity btn_go" href="javascript:void(0);" data-cnzz-event="分类列表页|CL_Filter_QtyAvailable">Go</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-9">

        <div>
          <div class="filter-tool-wrapper">
            <input id="main_url" style="display: none" value="{{ main_url }}"/>
            {% if isLogin %}
            <div class="row" style="min-height: 38px">
                <div class="col-md-3 col-xs-3 my-search">
                  <select class="selectpicker form-control" data-myt="Resource Package:" onchange="toSearch(this,1)"
                          id="search_download_status" data-cnzz-event="分类列表页|CL_Filter_Top">
                    <option value="0" {% if 0 == download_status %}selected="selected"{% endif %}>All</option>
                    <option value="1" {% if 1 == download_status %}selected="selected"{% endif %}>Downloaded</option>
                    <option value="2" {% if 2 == download_status %}selected="selected"{% endif %}>Not Downloaded</option>
                  </select>
                </div>
                <div class="col-md-3 col-xs-3 my-search">
                  <select class="selectpicker form-control" data-myt="Saved Items:" onchange="toSearch(this,2)"
                          id="search_wish_status">
                    <option value="0" {% if 0 == wish_status %}selected="selected"{% endif %}>All</option>
                    <option value="1" {% if 1 == wish_status %}selected="selected"{% endif %}>Saved</option>
                    <option value="2" {% if 2 == wish_status %}selected="selected"{% endif %}>Not Saved</option>
                  </select>
                </div>
                {% if not is_partner %}
                  <div class="col-md-3 col-xs-3 my-search">
                    <select class="selectpicker form-control" data-myt="Purchased:" onchange="toSearch(this,3)"
                            id="search_purchase_status">
                      <option value="0" {% if 0 == purchase_status %}selected="selected"{% endif %}>All</option>
                      <option value="1" {% if 1 == purchase_status %}selected="selected"{% endif %}>Purchased</option>
                      <option value="2" {% if 2 == purchase_status %}selected="selected"{% endif %}>Not Purchased</option>
                    </select>
                  </div>
                {% endif %}
                <div class="col-md-3 col-xs-3 my-search">
                  <select class="selectpicker form-control" data-myt="Sellers:" onchange="toSearch(this,4)"
                          id="search_relation_status">
                    <option value="0" {% if 0 == relation_status %}selected="selected"{% endif %}>All</option>
                    <option value="1" {% if 1 == relation_status %}selected="selected"{% endif %}>Connected</option>
                    <option value="2" {% if 2 == relation_status %}selected="selected"{% endif %}>No connection</option>
                  </select>
                </div>
            </div>
            {% endif %}
            <div class="row" style="margin-top: 10px">
              <div class="col-sm-9 my-sort">
                <a class="sort-item first {% if 'p.sort_order' == sort %} active {% endif %}" onclick="toSearch(this,5)"
                   id="p.sort_order" data-cnzz-event="分类列表页|CL_Sort_Relevance">{{ sort_relevance }}</a>

                {% if 'p.price' == sort %}
                  <a class="sort-item active" onclick="toSearch(this,6)" id="p.price" data-cnzz-event="分类列表页|CL_Sort_Price">{{ sort_price }} &nbsp;
                    {% if 'DESC' == order %}
                      <i class="fa fa-long-arrow-up"></i>
                      <i class="fa fa-long-arrow-down active"></i>
                    {% else %}
                      <i class="fa fa-long-arrow-up active"></i>
                      <i class="fa fa-long-arrow-down"></i>
                    {% endif %}
                  </a>
                {% else %}
                  <a class="sort-item" onclick="toSearch(this,6)" id="p.price" data-cnzz-event="分类列表页|CL_Sort_Price">{{ sort_price }} &nbsp;</a>
                {% endif %}

                {% if 'p.quantity' == sort %}
                  <a class="sort-item active" onclick="toSearch(this,7)" id="p.quantity" data-cnzz-event="分类列表页|CL_Sort_StockQty">{{ sort_inventory }} &nbsp;
                    {% if 'DESC' == order %}
                      <i class="fa fa-long-arrow-down active"></i>
                      <i class="fa fa-long-arrow-up"></i>
                    {% else %}
                      <i class="fa fa-long-arrow-down"></i>
                      <i class="fa fa-long-arrow-up active"></i>
                    {% endif %}
                  </a>
                {% else %}
                  <a class="sort-item" onclick="toSearch(this,7)" id="p.quantity" data-cnzz-event="分类列表页|CL_Sort_StockQty">{{ sort_inventory }} &nbsp;</a>
                {% endif %}

                {% if 'pas.quantity' == sort %}
                  <a class="sort-item active" onclick="toSearch(this,8)" id="pas.quantity" data-cnzz-event="分类列表页|CL_Sort_QtySold">{{ sort_sold }} &nbsp;
                    {% if 'DESC' == order %}
                      <i class="fa fa-long-arrow-down active"></i>
                      <i class="fa fa-long-arrow-up"></i>
                    {% else %}
                      <i class="fa fa-long-arrow-down"></i>
                      <i class="fa fa-long-arrow-up active"></i>
                    {% endif %}
                  </a>
                {% else %}
                  <a class="sort-item" onclick="toSearch(this,8)" id="pas.quantity" data-cnzz-event="分类列表页|CL_Sort_QtySold">{{ sort_sold }} &nbsp;</a>
                {% endif %}

                {% if 'p.date_added' == sort %}
                  <a class="sort-item active " onclick="toSearch(this,9)" id="p.date_added" data-cnzz-event="分类列表页|CL_Sort_DatePosted">{{ sort_post_date }} &nbsp;
                    {% if 'DESC' == order %}
                      <i class="fa fa-long-arrow-down active"></i>
                      <i class="fa fa-long-arrow-up"></i>
                    {% else %}
                      <i class="fa fa-long-arrow-down"></i>
                      <i class="fa fa-long-arrow-up active"></i>
                    {% endif %}
                  </a>
                {% else %}
                  <a class="sort-item " onclick="toSearch(this,9)" id="p.date_added" data-cnzz-event="分类列表页|CL_Sort_DatePosted">{{ sort_post_date }} &nbsp;</a>
                {% endif %}

                {% if 'return_rate' == sort %}
                  <a class="sort-item active last " onclick="toSearch(this,10)" id="return_rate" data-cnzz-event="分类列表页|CL_Sort_ReturnRate">{{ sort_return_rate }} &nbsp;
                    {% if 'DESC' == order %}
                      <i class="fa fa-long-arrow-up"></i>
                      <i class="fa fa-long-arrow-down active"></i>
                    {% else %}
                      <i class="fa fa-long-arrow-up active"></i>
                      <i class="fa fa-long-arrow-down"></i>
                    {% endif %}
                  </a>
                {% else %}
                  <a class="sort-item last" onclick="toSearch(this,10)" id="return_rate" data-cnzz-event="分类列表页|CL_Sort_ReturnRate">{{ sort_return_rate }} &nbsp;</a>
                {% endif %}

              </div>
              <div class="col-sm-3 text-right" style="height: 35px;line-height: 35px">
                <input type="checkbox" onclick="toSearch(this,11)" id="complete_images" value="{{ img_status }}"
                  {% if img_status %} checked {% endif %} style="vertical-align:middle;margin: 0; " data-cnzz-event="分类列表页|CL_Filter_DetailedProductImages">
                &nbsp;<span style="color: #999">Detailed Product Images <i class="giga icon-help-inactive" data-toggle="tooltip" title="" data-original-title="Product posting contains 7+ images."></i></span>
              </div>
            </div>
          </div>

          <div class="row" style="margin-bottom: 10px">
            <div class="col-md-8 col-sm-8 hidden-xs">
              {% if download_csv_privilege == 1 %}
              <div class="checkbox ml-2 form-group input-group input-group-sm" style="margin-left: 10px;margin-top: 8px;display: inline-block;">
                <label>
                  <input type="hidden" id="choose_product" value=''>
                  <input type="hidden" id="product" value=''>
                  <input type="checkbox" onclick="checkChoose();" id="all_products_info" value="1" autocomplete="off"
                         style="vertical-align:middle;margin-top: 0; ">
                  &nbsp;Select All
                </label>
              </div>

                <button id='batch_download' mean="{{ products_to_csv }}" class="btn btn-primary ml-1 btn-top downp" data-cnzz-event="列表页|Lt_All_Download">
                  <i class="giga "></i>Download Product Info</button>
                <button id='batch_wish' mean="{{ products_to_wish }}" class="btn btn-primary ml-1 btn-top adds" data-cnzz-event="列表页|Lt_All_SavedItems">
                  <i class="giga "></i>Add to Saved Items</button>
              {% endif %}

            </div>

            <div id="pageLimit" class="col-md-4 col-xs-4 pull-right my-search text-right">
              <select class="selectpicker form-control" data-myt="{{ text_limit }}" id="input-limit" onchange="location = this.value;">
                {% for limits in limits %}
                  {% if limits.value == limit %}
                    <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                  {% else %}
                    <option value="{{ limits.href }}">{{ limits.text }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
              <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
            </div>
          </div>

          {% if products %}
            {% for rowed in products|batch(3) %}
              <div class="row" id="product_all_list">
                {% for product in rowed %}
                  <div class="product-list">
                    {% include 'giga/template/_parts/product_simple_grid.twig' %}
                  </div>
                {% endfor %}
              </div>
            {% endfor %}

            <div class="row">
              <div class="col-sm-12 text-right">{{ pagination }}{{ results }}</div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="catalog/view/javascript/layui/layui.all.js"></script>
<link rel="stylesheet" href="catalog/view/javascript/product_category/css/jquery-labelauty.css">
<script src="catalog/view/javascript/product_category/js/jquery-labelauty.js"></script>
<script src="catalog/view/javascript/bootstrap-select/js/bootstrap-select.js"></script>
<script>
  $(document).ready(function(){
    {% if pid_count   %}
      {% for k, v in pid_all_list %}
        var tmp = '#category-show-' + '{{ v }}';
        $(tmp).trigger('click');
      {% endfor %}
    {% endif %}
    var category_id = '{{ category_id }}';
    var category_value = '#category-value-' + category_id;
    $(category_value).css({'color': 'darkorange'});
  });

  $(function() {
    // 初始化内容
    $("#product_all_list input").labelauty();
    var layer = layui.layer;

    let min_price = $("#min_price").val();
    let max_price = $("#max_price").val();
    let min_quantity = $("#min_quantity").val();
    let max_quantity = $("#max_quantity").val();

    $("#category-price-category li").each(function(index, dom){
      let interval = $(dom).data("interval");
      if ((min_price + '-' + max_price) == interval) {
        $(dom).addClass("mp-active");
        $(dom).find('a').addClass("mp_active");
      }
    });
    $("#category-quantity-ul li").each(function (index, dom) {
      let interval = $(dom).data("interval");
      if ((min_quantity + '-' + max_quantity) == interval) {
        $(dom).addClass("mp-active");
        $(dom).find('a').addClass("mp_active");
      }
    });

    var tips;
    $('.tips').on({
      mouseenter: function () {
        var that = this;
        //        var text_date = $(that).attr('text-date');
        //        var text_qty = $(that).attr('text-qty');
        //        tips = layer.tips("<span style='color:#000;'>Date of next arrival:&nbsp;" + text_date + "</span><br/><span style='color:#000;'>Estimated quantity of next arrival:&nbsp;" + text_qty + "</span>", that,
        //          {tips: [2, '#fff'], time: 4000});
        $(that).next().show();
      },
      mouseleave: function () {
        //        setTimeout(function () {
        //          layer.close(tips);
        //        }, 1000);
        var that = this;
        $(that).next().hide();

      }
    });
    var screenname;
    $('.screenname').on({
      mouseenter:function(){
        var that = this;
        $(this).children().eq(0).css('text-decoration','underline');
        $(this).children().css("cursor","pointer");
        var qa_rate = $(this).attr('qa_rate');
        var seller_id = $(this).attr('seller_id');
        var sku = $(this).attr('sku');
        var return_approval_rate = $(this).attr('return_approval_rate');
        if(return_approval_rate == '0'){
          //这是没有ma的
          var approval_rate_show = 'N/A' + '&nbsp;<i class="giga icon-help-inactive" data-toggle="tooltip" style="" title="No RMA records." ></i>';
        }else{
          //验证 return_approval_rate
          if(parseFloat(return_approval_rate) > 90){
            var approval_rate_show = 'High';
          }else if(parseFloat(return_approval_rate) > 60){
            var approval_rate_show = 'Moderate';
          }else {
            var approval_rate_show = 'Low';
          }

        }


        var html = '<div style="float: left;color: #666666;padding: 10px 10px 10px 10px;">' +
//            '<div style="float: left;margin: 5px 0 5px 0;">Q&A Rate:&nbsp;'+qa_rate+'%</div><br/>' +
          '<div style="float: left;margin: 0 0 15px 0;">Return Approval Rate:&nbsp;'+approval_rate_show+'</div><br/>' +
          '<div style="float: left;border-top: 1px solid #eee;margin-bottom: 10px;width: 100%">' +
          '<button type="button" class="btn  btn-block" style="background-color: #FF7519;color: white;border-radius: 4px;margin-top: 10px;height: 35px;" onclick="getSeller('+ seller_id +')" >Store'+"'"+'s Home Page</button>' +
          '<button type="button" class="btn  btn-block" style="background-color: white;color: #FF7519;border-radius: 4px;margin-top: 10px;border: 1px solid  #FF7519;height: 35px;" onclick="getSellerContact('+ seller_id +','+"'"+ sku +"'"+')" >Contact Now</button>' +
          '</div></div>';
        screenname =layer.tips(html,that,{tips:[3,'#fff'],time:5000,area:['auto','auto']});
        $('[data-toggle="tooltip"]').tooltip();
      },
      mouseleave:function(){
        $(this).children().eq(0).css('text-decoration',"none");


      }
    });

    /*分类*/
    $("#search-sort-title").click(function(){
      $("#search-sort-category").show();
    });
    /*分类*/
    $("#search-sort-category li").click(function(){
      var that = this;
      let cat_id = $(that).attr("value");
      let cat_name = $(that).find("a").html();
      $("#search-sort-title").html(cat_name);
      $("select[name='category_id']").val(cat_id);
    });

    // 排序
    $(".sort-item").on('click',function () {
      $(this).addClass('active').siblings().removeClass('active')
      // $(this).siblings().children().removeClass('active')
      // if($(this).children(".fa-long-arrow-up").hasClass('active')){
      //   $(this).children(".fa-long-arrow-up").removeClass('active')
      //   $(this).children(".fa-long-arrow-down").addClass('active')
      // }else if($(this).children(".fa-long-arrow-down").hasClass('active')){
      //   $(this).children(".fa-long-arrow-down").removeClass('active')
      //   $(this).children(".fa-long-arrow-up").addClass('active')
      // }else{
      //   $(this).children(".fa-long-arrow-up").addClass('active')
      // }
    });

    $(".to_store_home").click(function (ev) {
      if (ev.target != this) {
        return;
      } else {
        var seller_id = $(this).attr("seller_id");
        getSeller(seller_id);
      }
    });
  });

  function getSellerContact(seller_id,sku) {
    //window.location.href = 'index.php?route=customerpartner/profile&id='+ seller_id +'&itemCode='+sku+'&contact=1';
    var url = 'index.php?route=message/seller/addMessage&receiver_id=' + seller_id + '&item_code=' + sku;
    window.open(url,'_blank');
  }


</script>
<script type="text/javascript">
  let isLogin = {{ isLogin ? 1 : 0 }};
  let searchUrl = getUrl();
  let min_price, max_price, min_quantity, max_quantity;
  $('body').on('click', '#myColumn a', function () {
    let eleFilterPrice = $('.panel-filter-price-category').find("a.mp-active");
    let eleFilterQuantity = $('.panel-filter-quantity-category').find("a.mp-active");
    if (eleFilterPrice.length > 0) {
      min_price = $(eleFilterPrice[0]).data('min');
      max_price = $(eleFilterPrice[0]).data('max');
    }

    if (eleFilterQuantity.length > 0) {
      min_quantity = $(eleFilterQuantity[0]).data('min');
      max_quantity = $(eleFilterQuantity[0]).data('max');
    }
    //category

    if ($(this).parent().parent().hasClass('hidden-xs')) {
      categoryActiveUrl = $(this).data('collection-url');
    } else {    //price&quantity
      if (!isLogin) {
        layer.alert('Login/Register to get the price/quantities！', {
          title: 'Message',
          btn : 'OK',
          skin: 'yzc_layer', //样式类名
          closeBtn: 0
        });
        return false;
      }

      if ($(this).hasClass('filter-price')) {
        if ($(this).hasClass('filter_button')) {
          min_price = $('#min_price').val();
          max_price = $('#max_price').val();
        } else {
          min_price = $(this).data('min');
          max_price = $(this).data('max');
        }
      } else {
        if ($(this).hasClass('filter_button')) {
          min_quantity = $('#min_quantity').val();
          max_quantity = $('#max_quantity').val();
        } else {
          min_quantity = $(this).data('min');
          max_quantity = $(this).data('max');
        }
      }
    }

    if (min_price !== undefined && min_price !== '') {
      searchUrl += '&min_price=' + min_price;
    }
    if (max_price !== undefined && max_price !== '') {
      searchUrl += '&max_price=' + max_price;
    }
    if (min_quantity !== undefined && min_quantity !== '') {
      searchUrl += '&min_quantity=' + min_quantity;
    }
    if (max_quantity !== undefined && max_quantity !== '') {
      searchUrl += '&max_quantity=' + max_quantity;
    }

    window.location.href = searchUrl;
    return false;
  }).on('change', '#column-left-filter-category input', function () {
    let inputs = $(this).parent().find('input');
    let min = $(inputs[0]).val();
    let max = $(inputs[1]).val();
    if (min !== undefined && min !== '' && max !== undefined && max !== '') {
      if (parseFloat(min) > parseFloat(max)) {
        layer.alert('Min/Max Filling Error!', {
          title: 'Message',
          btn : 'OK',
          skin: 'yzc_layer', //样式类名
          closeBtn: 0
        });
        $(this).val('');
      }
    }
  });

  function getUrl() {
    var url = 'index.php?route=product/search';
    var search = $('#content_product input[name=\'search\']').prop('value');

    if (search) {
      url += '&search=' + encodeURIComponent(search);
    }
    var category_id = $('#content_product select[name=\'category_id\']').prop('value');
    if (category_id > 0) {
      url += '&category_id=' + encodeURIComponent(category_id);
    }

    return url;
  }

  $('#button-search').bind('click', function() {
    url = getUrl();
    location = url;
  });

  $('#content_product input[name=\'search\']').bind('keydown', function(e) {
    if (e.keyCode == 13) {
      $('#button-search').trigger('click');
    }
  });

  $('select[name=\'category_id\']').on('change', function() {
    if (this.value == '0') {
      $('input[name=\'sub_category\']').prop('disabled', true).addClass("notallowed");
      $('input[name=\'sub_category\']').parent().addClass("notallowed");
    } else {
      $('input[name=\'sub_category\']').prop('disabled', false).removeClass("notallowed");
      $('input[name=\'sub_category\']').parent().removeClass("notallowed");
    }
  });

  $('select[name=\'category_id\']').trigger('change');

  function toSearch(_this,click) {

    var url = $("#main_url").val();
    var download_status = $("#search_download_status").val();
    var wish_status = $("#search_wish_status").val();
    var purchase_status = $("#search_purchase_status").val();
    var relation_status = $("#search_relation_status").val();
    var img_status = $("#complete_images").attr('checked');
    var old_sort = '{{ sort }}';
    var order = '{{ order }}';
    var sort_arr = ['sort_order','p.price', 'p.quantity', 'pas.quantity', 'p.date_added', 'return_rate'];
    var sort = '';
    var sort_flag = sort_arr.indexOf(_this.id);


    if (_this.id == 'complete_images'){
      if (img_status){
        img_status = 0;
      }else {
        img_status = 1;
      }
    }else if (sort_flag > 0){
      sort = _this.id;
      if (sort == old_sort){//排序项未变
        if (order == 'DESC'){
          order = 'ASC';
        }else {
          order = 'DESC';
        }
      }else if (sort == 'p.price' || sort == 'return_rate'){//价格、退返率默认升序
        order = 'ASC';
      }else {
        order = 'DESC';
      }
    }

    if (isLogin){
      if (download_status > 0){
        url = url + '&download_status=' + download_status;
      }
      if (wish_status > 0){
        url = url + '&wish_status=' + wish_status;
      }
      if (purchase_status > 0){
        url = url + '&purchase_status=' + purchase_status;
      }
      if (relation_status > 0){
        url = url + '&relation_status=' + relation_status;
      }
    }

    if (img_status > 0){
      url = url + '&img_status=' + img_status;
    }
    if (sort){
      url = url + '&sort=' + sort;
      if (order){
        url = url + '&order=' + order;
      }
    }

    url = url + '&click=' + click;
    window.location.href = url;
  }


</script>
{% if download_csv_privilege == 1 %}
  <script src="catalog/view/javascript/product_category/product_category.js"></script>

{% endif %}
{{ footer }}