{{ js(['js/common/toolString.js']) }}
{{ js(['js/common/mathematical.js']) }}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    <i class="giga icon-V10_danchuangguanbi close-icon"></i>
  </button>
  <h4 class="modal-title" id="myModalLabel">
    Margin Contract
  </h4>
</div>

{% if margin_templates %}
<div class="modal-body scroll-y">
  {# tab切换 #}
  <ul class="contract-tab">
    {% if margin_templates %}
    {% for template in margin_templates %}
    <li minData="{{ template.min_num }}" maxData="{{ template.max_num }}">
      Agreed Quantity ({% if template.min_num == template.max_num%}{{ template.max_num }}{% else %}
      <span class="minQty" data="{{ template.min_num }}">{{ template.min_num }}</span>-<span class="maxQty"
        data="{{ template.max_num }}">{{ template.max_num }}</span>
      {% endif %})
    </li>
    {% endfor %}
    {% else %}
    {% endif %}
  </ul>
  <p class="margin16">Please confirm the following information and sign the cash margin agreement:</p>

  {# 表单 #}
  <form role="form" action="{{ save_action }}" method="post" enctype="multipart/form-data" id="form_margin_bid">
    <input type="hidden" id="last_update_time" name="last_update_time" value="{{ update_time }}">
    <input type="hidden" id="input_margin_payment_ratio" name="input_margin_payment_ratio" value="{{ default_template.payment_ratio }}" />
    <input type="hidden" id="base_price" value="{{ base_price }}">
    <input id="input_margin_product_id" type="hidden" name="input_margin_product_id" value="{{ product_id }}" />
    <input id="input_bond_template_id" type="hidden" name="input_bond_template_id" value="{{ default_template.bond_template_id }}" />
    <div class="form-group input-flex">
      <label class="new-label">Agreed Days</label>
      <input type="text" class="form-control input-margin input-disabled" id="input_margin_day" name="input_margin_day" disabled>
      <span class="input-uint">Days</span>
      <p class="error-msg"></p>
    </div>
    <div class="form-group input-flex">
      <label class="new-label"> Agreed Quantity</label>
      <input type="number" class="form-control input-margin input-border-radius" id="input_margin_qty"
        name="input_margin_qty" onchange="calculateMarginPrice(1)" onkeyup="calculateMarginPrice(1)"
        data-max="{{ sold_qty }}" min="5" style="width: 416px">
      <p class="error-msg"></p>
    </div>
    <div class="form-group input-flex">
      <label class="new-label">Agreed Price</label>
      <input type="number" class="form-control input-margin" id="input_margin_price" name="input_margin_price"
        onchange="calculateMarginPrice(2)" onkeyup="calculateMarginPrice(2)" {% if isJapan %} min="0" step="1" {% else %} min="0" step="0.01" {% endif %} data-base_price="{{ base_price }}">
      <span class="input-uint">{{ currency }}</span>
      {# discount-info #29414 限时限量及全量 #}
      <p class="discount-info" id="discount-m-info">
        <span class="action-discount"></span>
        <i class="giga icon-V10-wenhaotishi oris-tooltip" data-toggle="tooltip" title="The discount is not applicable to the agreements reached by Bid, including the Bid via Quick View."></i>
      </p>
      <p class="error-msg"></p>
    </div>
    <div class="form-group input-flex" style="margin-bottom: 32px">
      <label class="new-label">Margin Amount</label>
      <input type="text" class="form-control input-margin input-disabled" id="input_margin_front_money" name="input_margin_front_money" disabled>
      <span class="input-uint">{{ currency }}</span>
      <p class="error-msg"></p>
    </div>
    <div class="oris-comments">
      <textarea id="input_margin_message" name="input_margin_message" class="form-textarea countInput oris-input"
        placeholder="Enter your comments.." maxlength="2000" data-value="2000" data-countid="maxCount"></textarea>
      <span class="letter-count"><span id="maxCount" class="link-color">0</span>/2000</span>
    </div>
  </form>
</div>
<div class="modal-footer border-none" style="margin-top: -6px">
  {# 协议确认语 #}
  <div class="confirm-title">
    <input type="checkbox" class="oris-checkbox confirm-checkbox" id="margin_agree_clause" name="margin_agree_clause" value="1" onchange="btnStatus()" />
    I have read and agreed to the details of the Margin Contract that are listed above.
    <span id="error_margin_agree_clause" style="display: none;color: red">{{ error_margin_agree_clause }}</span>
  </div>
  {# 按钮 #}
  <div class="text-right">
    <button type="button" class="oris-button oris-button-default" data-dismiss="modal">{{ margin_bid_cancel }}</button>
    <button type="button" class="oris-button modal-new-btn-disabled" id="bid-btn" onclick="submitMarginBid(this)"disabled>
      <span id="submit-text">Submit</span>
    </button>
  </div>
</div>
{% else %}
<div class="modal-body">
  <div>Sorry, please refresh the page</div>
</div>
<div class="modal-footer">
  <div style="text-align: right">
    <button type="button" class="oris-button oris-button-default" data-dismiss="modal">{{ margin_bid_cancel }}</button>
    <button type="button" class="oris-button modal-new-btn-disabled"
      onclick="window.location.reload();">Refresh</button>
  </div>
</div>
<script>
  $("#margin_bid_modal_dialog").css({ "width": "" });
</script>
{% endif %}


<script>
  var big_client_discount = 0;
  var tableList = eval({{ margin_templates | json_encode}});
  var configMinNum = '{{ config_min_num|default(0) }}';
  var maxQty = '{{ sold_qty }}';
  var marginRangeTabIndex = parseInt('{{ index|default(-1) }}');//匹配的Tab 0 start

  var current_price = 0; // 如果没有折扣 实际是用不到此字段的
  var margin_decimal_place = '{{ decimal_place|default(2) }}';
  var is_first_tip=1;
  // 选中行点击事件赋值
  function selectMarginTabIndex(i, section) {
    // 如果数据大于0，给bid Details的表单赋值
    if (tableList.length > 0) {
      if (!section) {
        $("#input_margin_qty").val(tableList[i].max_num);
        handleDiscount(i, $("#input_margin_qty").val(),is_first_tip);
        is_first_tip++;
      }
      $("#input_margin_day").val(tableList[i].day);

      if (big_client_discount == 0) {
        if (tableList[i].max_num == tableList[i].min_num) {
          $("#input_margin_front_money").val($.trim(tableList[i].show_margin_template_front_money_toThousands));
        } else {
          $("#input_margin_front_money").val($.trim(tableList[i].show_margin_template_front_money_toThousands.split('-')[1]));
        }
      } else {
        let payment_ratio = $('#input_margin_payment_ratio').val();
        let radio = payment_ratio.substring(0, payment_ratio.length - 1);
        let amount_per = mathematical.MathToFixed((Number($('#input_margin_price').val())*(Number(radio) / 100)),margin_decimal_place);
        let front_money_string =mathematical.MathToFixed((amount_per *(Number($('#input_margin_qty').val()))),margin_decimal_place);
        $("#input_margin_front_money").val(toThousands(front_money_string));
      }

      var index = parseInt(i) + 1;
      $(".contract-tab li:nth-child(" + index + ")").addClass('contract-tab-active');
      marginRangeTabIndex = i;
    }

  }
  //格式化价格
  function formatPrice(price) {
    let left = '{{ currency_symbol_left }}';
    let right = '{{ currency_symbol_right }}';
    let bit = '{{ is_japan }}' ? 0 : 2;

    return left + number_format(price, bit) + right;
  }

  function number_format(number, decimals, dec_point = '.', thousands_sep = ',') {
    number = (number + '').replace(/[^0-9+-Ee.]/g, '');
    var n = !isFinite(+number) ? 0 : +number,
      prec = !isFinite(+decimals) ? 2 : Math.abs(decimals),
      sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
      dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
      s = '',
      toFixedFix = function (n, prec) {
        var k = Math.pow(10, prec);
        return '' + Math.round(n * k) / k;
      };

    s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
    var re = /(-?\d+)(\d{3})/;
    while (re.test(s[0])) {
      s[0] = s[0].replace(re, "$1" + sep + "$2");
    }

    if ((s[1] || '').length < prec) {
      s[1] = s[1] || '';
      s[1] += new Array(prec - s[1].length + 1).join('0');
    }
    return s.join(dec);
  }

  function handleDiscount(index, qty,first) {
    if(index != -1){ 
      //29414全店折扣+限时限量折扣
      let discount_info=eval({{discount_info | json_encode}});
      var winUrl=window.location.href;////增加日志打印，方便定位线上问题
      winUrl.indexOf('is_log')>-1? console.log(discount_info):null;
      let input_qty=Number($('#input_margin_qty').val());
      let input_price=$('#input_margin_price');
      let margin_min_qty=Number($('#input_margin_qty').attr('min'));
      let margin_max_qty=Number($('.contract-tab li:last').attr('maxdata'));  //取区间最大值
      //discount_info.store_discount.discount=29; //测试数据
      //discount_info.limit_discount.min_buy_num=6; //测试数据
      //discount_info.limit_discount.max_qty=11; //测试数据
      //discount_info.store_discount.max_qty=10;  //测试数据
      current_price = tableList[index].price;
      if(input_qty>=margin_min_qty&&input_qty<=margin_max_qty){//是否bid
        if(discount_info.discount_type == 1){//折扣类型 0：无折扣 1：全店 2：限时 3：1.2同时存在
          if(input_qty <=discount_info.store_discount.max_qty){
            //全店
            big_client_discount =1;
            storeLimitDiscountHtml(current_price,discount_info.store_discount.discount,margin_decimal_place);
            $('#input_margin_qty').attr('is_discount',1);
          }else{
            //无折扣
            big_client_discount =0;
            noDiscountHtml(current_price);
            if(first !=1 &&  Number($('#input_margin_qty').attr('is_discount')) ==1 && input_qty>discount_info.store_discount.max_qty){
              retureContentHtml('The purchase quantity exceeds the upper limit of non-promotion inventory');
            }
            $('#input_margin_qty').attr('is_discount',0);
          }
        }else if(discount_info.discount_type == 2){
          if(discount_info.limit_discount.min_buy_num<=input_qty
            &&input_qty<=discount_info.limit_discount.max_qty){
            //限时
            big_client_discount =1;
            storeLimitDiscountHtml(current_price,discount_info.limit_discount.discount,margin_decimal_place);
            $('#input_margin_qty').attr('is_discount',1);
          }else{
            //无折扣
            big_client_discount =0;
            noDiscountHtml(current_price);   
            if(first !=1 && Number($('#input_margin_qty').attr('is_discount')) ==1 && input_qty >discount_info.limit_discount.max_qty){ //有折扣变成无折扣并且qty>活动库存
              retureContentHtml('The purchase quantity exceeds the upper limit of inventory that is set for the promotion, and you will no longer enjoy the discount');
            }
            $('#input_margin_qty').attr('is_discount',0);
          }
        }else if(discount_info.discount_type == 3){ //同时存在
          if(discount_info.store_discount.discount<discount_info.limit_discount.discount
            || input_qty<discount_info.limit_discount.min_buy_num
            || input_qty> discount_info.limit_discount.max_qty
          ){
              if((input_qty>=discount_info.limit_discount.min_buy_num)&&(input_qty>discount_info.store_discount.max_qty)
              &&(discount_info.store_discount.max_qty<discount_info.limit_discount.max_qty)){
                //限时
                big_client_discount =1;
                $('#input_margin_qty').attr('is_discount',1);
                storeLimitDiscountHtml(current_price,discount_info.limit_discount.discount,margin_decimal_place);
              }else if(input_qty > discount_info.store_discount.max_qty && (input_qty > discount_info.limit_discount.max_qty)){ //   //全店折扣里筛选无折扣
                //无折扣
                big_client_discount =0;
                noDiscountHtml(current_price);
                if(first !=1 && Number($('#input_margin_qty').attr('is_discount')) ==1){
                  retureContentHtml('The purchase quantity exceeds the upper limit of non-promotion inventory');
                }
                $('#input_margin_qty').attr('is_discount',0);
              }else{ //全店
                big_client_discount =1;
                $('#input_margin_qty').attr('is_discount',1);
                storeLimitDiscountHtml(current_price,discount_info.store_discount.discount,margin_decimal_place);
              }
            }else{  //限时(限时筛选去折扣)
              if(discount_info.limit_discount.min_buy_num<=input_qty
                &&input_qty<=discount_info.limit_discount.max_qty){
                //限时
                big_client_discount =1;
                storeLimitDiscountHtml(current_price,discount_info.limit_discount.discount,margin_decimal_place);
                $('#input_margin_qty').attr('is_discount',1);
              }else if(discount_info.limit_discount.max_qty<discount_info.store_discount.max_qty){
                big_client_discount =1;//qty>limit_max_qty && limit_max_qty< store_max_qty 使用全店
                storeLimitDiscountHtml(current_price,discount_info.store_discount.discount,margin_decimal_place);
                $('#input_margin_qty').attr('is_discount',1);
              }else{
                 //无折扣
                 big_client_discount =0;
                 noDiscountHtml(current_price);
                 if(first !=1 && Number($('#input_margin_qty').attr('is_discount')) ==1){
                  retureContentHtml('The purchase quantity exceeds the upper limit of inventory that is set for the promotion, and you will no longer enjoy the discount');
                 }  
                 $('#input_margin_qty').attr('is_discount',0);
              }
          }
        }else{ //0
          //无折扣
          big_client_discount =0;
          noDiscountHtml(current_price);
          $('#input_margin_qty').attr('is_discount',0);
        }
      }else{ 
        //bid 议价 无折扣信息隐藏
        big_client_discount =0;
        noDiscountHtml(current_price);
        $('#input_margin_qty').attr('is_discount',0);
      }
      current_price=$("#input_margin_price").val();
    }
  }
  function storeLimitDiscountHtml(price,discount,place){
    $('#input_margin_price').val(mathematical.MathToPrice((price)*(discount/100),place));
    $("#discount-m-info").show().find('.action-discount').html(`<span class="text-line-th">`
      +`${formatPrice(price)}</span> · <span class="text-warning">${100-discount}% OFF</span>`);
  }
  function noDiscountHtml(current_price){
    $("#input_margin_price").val(current_price);
    $("#discount-m-info").hide()
  }
  function retureContentHtml(contentTip){ //超过活动库存动态提示
    $('#input_margin_qty').attr('data-toggle', 'tooltip');
    $('#input_margin_qty').attr('data-placement', 'top');
    $('#input_margin_qty').attr('data-original-title',contentTip);
    $('#input_margin_qty').tooltip('show');
    setTimeout(function(){
      $('#input_margin_qty').tooltip('destroy');
    },3000)
  }
  // 初始化加载数据
  $(function () {
    var index = '{{ index }}';
    // 默认选中第一个
    selectMarginTabIndex(index);
    $('.oris-tooltip').tooltip();
  });
</script>

<script>
  // 监听tab点击事件
  $(".contract-tab li").on('click', function () {
    // 移除其他li的选中样式
    $(".contract-tab li").removeClass('contract-tab-active');
    // 给当前的li加选中样式
    $(this).addClass('contract-tab-active');

    var index = $(this).index();
    selectMarginTabIndex(index);
    removeErrorTip("#input_margin_day");
    removeErrorTip("#input_margin_qty");
    removeErrorTip("#input_margin_price");
    removeErrorTip("#input_margin_front_money");

    $('.error-msg').text('');
    // 重置按钮
    $("#submit-text").text("Submit");
  });

  // 监听合约数量
  $("#input_margin_qty").on('change keyup', function () {
    findSameLine(false);
  });
  function sectionQty() {
    //#24957 判断合约数量是否在区间范围内
    var sortList = [];
    for (var i = 0; i < tableList.length; i++) {
      sortList.push({
        min_num: tableList[i].min_num,
        max_num: tableList[i].max_num
      })
    }
    var qtyNum = Number($('#input_margin_qty').val());
    var arrqty = sortList.filter(item => (qtyNum >= item.min_num && qtyNum <= item.max_num));
    if (arrqty.length != 0) {
      $('.contract-tab li').each(function () {
        if (arrqty[0].min_num == Number($(this).attr('minData'))) {
          $(".contract-tab li").removeClass('contract-tab-active');
          // 给当前的li加选中样式
          $(this).addClass('contract-tab-active');
          var index = $(this).index();
          selectMarginTabIndex(index, true);
          return false;
        }
      });
    }
  }
  // 监听合约单价
  $("#input_margin_price").on('change keyup', function () {
    findSameLine(false);
  });

  // 检验输入框的内容是否存在与表格中的数据符合
  function findSameLine(isFlag) {
    var count = 0;
    if (isFlag) {
      // 取消表格高亮行
      $(".contract-tab li").removeClass('contract-tab-active');
      $(".icon-check-sign").hide();
    }

    // 获取表格的所有数据
    var data = eval('{{ margin_templates|json_encode }}');
    var qty = $("#input_margin_qty").val();
    var days = $("#input_margin_day").val();
    var price = $("#input_margin_price").val();
    var isHit = false;
    if (days != '' && qty != '' && price != '') {
      qty = parseInt(qty);
      // 获取输入框的值，循环遍历比较每一行
      for (var i = 0; i < data.length; i++) {
        count++;
        //handleDiscount(marginRangeTabIndex, $('#input_margin_qty').val());
        // 如果找到符合条件的行，高亮该行
        if (qty >= data[i].min_num && qty <= data[i].max_num && Number(price) == Number(current_price)) { // Number(data[i].price)
          isHit = true;
          marginRangeTabIndex = i;
          // 给当前的li加选中样式
          if (isFlag) {
            $(".contract-tab li:nth-child(" + (i + 1) + ")").addClass('contract-tab-active');
          }
          $("#submit-text").text('Submit');
          if (big_client_discount > 0) {
            $("#discount-m-info").show();
          }
          count = 0;
        }
      }
      // 提交按钮内容修改
      if (count == data.length) {
        $("#discount-m-info").hide();
        $("#submit-text").text("Submit Bid");
      }
    }
    if (!isHit) {
      marginRangeTabIndex = -1;
    }
  };



  // 点击时检验
  function calculateMarginPrice2(i) {
    var price = $('#input_margin_price').val();
    var qty = $('#input_margin_qty').val();
    var day = $('#input_margin_day').val();
    var payment_ratio = '{{ default_template.payment_ratio }}';
    payment_ratio = payment_ratio.substring(0, payment_ratio.length - 1);

    if (price != "" && qty != "" && day != "") {
      var isValid = checkInputChange(i, price, qty, day);
      if (isValid) {
        addParam(price, qty, payment_ratio);
      }
      return false;
    }

  }

  // input的change事件
  function calculateMarginPrice(i) {
    if (i == 1) {
      sectionQty();
    }
    // var price = $('#input_margin_price').val();
    var qty = $('#input_margin_qty').val();
    var day = $('#input_margin_day').val();
    var payment_ratio = $('#input_margin_payment_ratio').val();
    payment_ratio = payment_ratio.substring(0, payment_ratio.length - 1);

    if(i == 2){
      $('#discount-m-info').hide();
    }else{
      handleDiscount(marginRangeTabIndex, qty);
    }
    var price = $('#input_margin_price').val();

    if (price != "" && qty != "" && day != "") {
      var isValid = checkInputChange(i, price, qty, day);
      if (isValid) {
        addParam(price, qty, payment_ratio);
      }
    }
  };
  // 校验input输入框
  function checkInputChange(i, price, qty, day) {
    //数据格式化
    // price = Number.parseFloat(price).toFloor(margin_decimal_place);
    $('#input_margin_price').val(price);
    // qty = Number.parseInt(qty).toFloor(0);
    $('#input_margin_qty').val(qty);
    day = Number.parseInt(day).toFloor(0);
    $('#input_margin_day').val(day);

    return checkInputValue(i, price, qty, day);
  };

  // 校验input2
  function checkInputValue(i, price, qty, day) {
    var country_id = '{{ country_id }}';
    switch (i) {
      case 1:
        let qty_max = $('#input_margin_qty').attr('data-max');
        if (qty.length > 9) {
          $('#input_margin_qty').val(qty.substr(0, 9));
        }
        if (qty.length > 9 || !qty || !checkPositiveInteger(qty) || Number(qty) < Number(configMinNum) || Number(qty) > Number(qty_max) || Number.isNaN(Number(qty))) {
          addErrorTip('#input_margin_qty', 'Please enter an integer greater than or equal to ' + configMinNum + ' or less than available quantity.');
          return false;
        } else {
          removeErrorTip('#input_margin_qty');
        }
        break;
      case 2:
        if (price.length > 12) {
          $('#input_margin_price').val(price.substr(0, 12));
        }
        if ((107 != country_id && !checkDecimalNumber(price)) || (107 == country_id && !checkPositiveInteger(price)) || Number(price) < 0) { // 判断输入的内容是否为数字或者小于0
          addErrorTip('#input_margin_price', 'The format of agreed price filled is incorrect, please fix.');
          return false;
        } else if (107 != country_id && Number(price) > 99999.99) { // 判断数字是否超过99999.99  非日本
          addErrorTip('#input_margin_price', 'Please enter a number equal or greater than 0 and less than 99999.99.');
          return false;
        }
        else if (107 == country_id && Number(price) > 99999) { // 日本
          addErrorTip('#input_margin_price', 'Please enter a number equal or greater than 0 and less than 99999.');
          return false;
        } else {
          removeErrorTip('#input_margin_price');
        }
        break;
      case 3:
        if (!day || !checkPositiveInteger(day) || day <= 0 || day > 120) {
          layer.confirm('Agreed Days is required.Please enter an integer number greater than 0 and equal or less than 120.', {
            btn: ['Yes'],
            title: 'Message',
            btnAlign: 'c',
            skin: 'oris-layer',
          });
          return false;
        }
        break;
    };

    return true;
  }

  // 添加错误提示
  function addErrorTip(id, msg) {
    $(id).parent().find('.error-msg').html(msg);
    $(id).parent(".input-flex").css('height', '55px');
    $(id).focus();
    $(id).addClass('error-border');
  };

  // 移除错误提示
  function removeErrorTip(id) {
    $(id).parent().find('.error-msg').html('');
    $(id).parent(".input-flex").css('height', '40px');
    $(id).removeClass('error-border');
  }

  // 填充值
  function addParam(price, qty, payment_ratio) {
    payment_ratio = Number(payment_ratio) / 100;
    var country_id = '{{ country_id }}';
    let precision = 2;
    if (107 == country_id) {
      precision = 0;
    }
    let amount_per = operation(price, payment_ratio, 'multiply', precision);
    let amount_sum = operation(amount_per, qty, 'multiply', precision);

    let deposit_per = operation(price, payment_ratio, 'multiply', precision);
    let tail_price = operation(price, deposit_per, 'subtract', precision);

    let front_money = operation(amount_per, qty, 'multiply', precision);
    let front_money_string = Number.parseFloat(front_money).toFloor(margin_decimal_place);
    $("#input_margin_front_money").val(toThousands(front_money_string));
    let tail_price_string = Number.parseFloat(tail_price).toFloor(margin_decimal_place);
    $("#input_margin_tail_price").val(tail_price_string);

    let agreement_money = operation(price, qty, 'multiply', precision);
    let agreement_money_string = Number.parseFloat(agreement_money).toFloor(margin_decimal_place);
    $("#input_margin_agreement_money").val(agreement_money_string);
  }

  //必填正整数校验
  function checkPositiveInteger(value) {
    if (!(/^[1-9]*[1-9][0-9]*$/.test(value)) || value <= 0) {
      return false;
    } else {
      return true;
    }
  }

  //校验货币 两位小数
  function checkDecimalNumber(value) {
    if (!(/^[0-9]+(.[0-9]{1,2})?$/.test(value))) {
      return false;
    } else {
      return true;
    }
  }

  // 统一校验表单
  function validateParam() {
    var isValid = true;
    var day = $('#input_margin_day').val();
    var qty = Number($('#input_margin_qty').val());
    var price = $('#input_margin_price').val();

    if (checkInputValue(1, price, qty, day)) {
      isValid = checkInputValue(2, price, qty, day);
    } else {
      isValid = false;
    }

    //同意条约
    if (!$('#margin_agree_clause').is(':checked')) {
      isValid = false;
      $('#error_margin_agree_clause').css('display', 'block');
    } else {
      $('#error_margin_agree_clause').css('display', 'none');
    }

    return isValid;
  }

  //同意条约
  function btnStatus() {
    if ($('#margin_agree_clause').is(':checked')) {
      $('#bid-btn').removeAttr("disabled");
      $("#bid-btn").removeClass('modal-new-btn-disabled');
    } else {
      $('#bid-btn').attr("disabled", true);
      $("#bid-btn").addClass('modal-new-btn-disabled');
    }
  }

  /**
   * 当前点亮的Tab 0 start
   * @returns {number}  0 start
   */
  function getMarginActiveTabIndex() {
    let tabIndex = -1;
    $("#margin_bid_modal_content").find("ul.contract-tab").find('li').each(function (index, domEle) {
      if ($(domEle).hasClass("contract-tab-active")) {
        tabIndex = index;
      }
    });
    return tabIndex;
  }

  // 提交前判断
  function submitMarginBid(obj) {
    let marginActiveTabIndex = getMarginActiveTabIndex();
    if (validateParam()) {
      if (marginActiveTabIndex >= 0) {
        if (marginRangeTabIndex >= 0) {
          if (marginActiveTabIndex == marginRangeTabIndex) {
            submitMarginBidData(obj, 1);
          } else {
            //弹窗，确认
            submitMarginBidDataBefore(obj);
          }
        } else {
          submitMarginBidData(obj);
        }
      } else {//No way
        submitMarginBidData(obj);
      }
    }
  }

  function submitMarginBidDataBefore(obj, flag = 0) {
    var submit_btn = $(obj);
    submit_btn.button('loading');
    var index = layer.confirm('This Seller has a Margin Contract that already meets your request. Go back to view and directly sign this Margin Agreement or continue submitting your Margin Agreement request. ', {
      btn: ['Yes', 'No'],
      title: 'Confirm',
      area: ['600px', '210px'],
      btnAlign: 'c',
      skin: 'oris-layer',
      btn1: function () {
        findSameLine(true);
        setTimeout(function () {
          $("#submit-text").text("Submit");
        }, 500);

        layer.close(index);
      },
      btn2: function () {
        submitMarginBidData(obj);
        layer.close(index);
      },
      end: function () {
        submit_btn.button('reset');
      }
    });
  }

  // 提交请求
  function submitMarginBidData(obj, flag = 0) {
    var submit_btn = $(obj);
    submit_btn.button('loading');
    var submit_url = '{{ save_action }}';
    if (flag) {
      submit_url = '{{ quick_view_save_action }}';
    }
    $.ajax({
      url: submit_url,
      type: 'post',
      data: {
        last_update_time: $("#last_update_time").val(),
        input_margin_payment_ratio: $("#input_margin_payment_ratio").val(),
        input_margin_day: $("#input_margin_day").val(),
        input_margin_product_id: $("#input_margin_product_id").val(),
        input_bond_template_id: $("#input_bond_template_id").val(),
        input_margin_qty: $("#input_margin_qty").val(),
        input_margin_price: $("#input_margin_price").val(),
        input_margin_front_money: $("#input_margin_front_money").val().trim().replace(/,/g, ""),
        input_margin_message: $("#input_margin_message").val(),
      },
      dataType: 'json',
      success: function (json) {
        if (json['success']) {
          $("#margin_bid_modal").modal('hide');
          $.toast({
            heading: false,
            text: json['success'],
            position: 'top-center',
            showHideTransition: 'fade',
            icon: 'success',
            hideAfter: 5000,
            allowToastClose: false,
            loader: false,
          });
          if (json['url']) {
            window.open(json['url'], '_blank');
          }

        } else if (json['error']) {
          showLayerTip('alert', json['error'], {
            title: json.hasOwnProperty("title") ? json['title'] : 'Error',
            btn: 'OK',
            btnAlign: 'c',
            skin: 'oris-layer',
          });
          submit_btn.button('reset');
        }
      },
      error: function () {
        submit_btn.button('reset');
      }

    });
  }

</script>

<script>
  // 监听价格Agreed Price
  $("#input_margin_price").focus(function () {
    $(this).attr('data-toggle', 'tooltip');
    $(this).attr('data-placement', 'top');
    $(this).attr('data-original-title', 'It is recommended to use the default price, can directly sign the margin agreement.');
    $(this).tooltip('show');
  });

  // 监听Agreed Price的悬浮事件
  $("#input_margin_price").hover(function () {
    $(this).tooltip('destroy');
  });

  // 监听Agreed Quantity
  $("#input_margin_qty").focus(function () {
    $(this).attr('data-toggle', 'tooltip');
    $(this).attr('data-placement', 'top');
    $(this).attr('data-original-title', 'It is recommended to use the default quantity, can directly sign the margin agreement.');
    $(this).tooltip('show');
  });
  $("#input_margin_qty").blur(function(){
    $(this).tooltip('destroy');
  })
  $("#input_margin_qty").hover(function () {
    $(this).tooltip('destroy');
  });

  // 监听textarea输入
  $(".countInput").on('input propertychange', function () {
    var flagId = $(this).attr('data-countid');

    //获取输入内容
    var userDesc = $(this).val();
    var strValue = toolString.calcStringLength(userDesc, 2000);
    //显示字数
    $("#" + flagId).html(strValue.len);
    $(this).val(strValue.fullStr);
  });
</script>
<style>
  .close-icon {
    color: #999;
  }

  .close-icon:hover {
    color: #333;
  }

  .text-margin-template-warning {
    color: #FA6400;
  }

  .border-none {
    border: unset;
  }

  .modal-body {
    padding: 8px 24px 0 24px;
  }

  .form-control:focus {
    border: 1px solid #666666 !important;
    box-shadow: unset !important;
  }

  /*  tab样式  */
  .contract-tab {
    padding: 0;
    margin: 0;
  }

  .contract-tab li {
    float: left;
    width: 33.3%;
    display: block;
    list-style: none;
    border-bottom: 2px solid #DCDCDC;
    ;
    padding: 8px 0;
    cursor: pointer;
    text-align: center;
  }

  .contract-tab-active {
    color: #004BD8;
    border-bottom: 2px solid #2861CE !important;
  }

  .margin16 {
    margin: 16px 0;
    display: inline-block;
  }

  .new-label {
    line-height: 40px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #333333;
  }

  .input-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 40px;
    padding: 0;
    margin-bottom: 24px;
  }

  .input-margin {
    width: 368px;
    margin-left: 14px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }

  .input-disabled {
    background: #EDEFF3 !important;
  }

  .input-uint {
    width: unset;
    display: inline-block;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-left: 0;
    height: 40px;
    line-height: 18px;
    background: #EDEFF3;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
  }

  .input-border-radius {
    border-radius: 2px;
  }

  .form-textarea {
    height: 120px !important;
  }

  .confirm-title {
    vertical-align: middle;
    margin-bottom: 24px;
    text-align: left;
    padding-left: 4px
  }

  .confirm-checkbox {
    vertical-align: middle !important;
    margin-top: -3px !important;
    margin-left: -3px !important;
    cursor: pointer;
  }

  .error-msg {
    margin: 0;
    width: 416px;
    font-size: 13px;
    font-family: Arial;
    font-weight: 400;
    color: #E64545;
    line-height: 14px;
  }

  /* 大客户折扣展示 */
  .discount-info {
    color: #999;
    width: 416px;
    line-height: 14px;
    padding-left: 10px;
    font-size: 13px;
  }

  .discount-info i.giga {
    color: #999;
  }

  .error-border:focus {
    border: 1px solid #E64545 !important;
    box-shadow: unset !important;
  }

  .modal-new-btn {
    padding: 12px 22px;
    height: 36px;
    line-height: 10px;
    border-radius: 2px;
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    outline: 0;
    margin-left: 10px;
    border: unset;
  }

  .modal-new-btn-default {
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
  }

  .modal-new-btn-primary {
    background: #2861CE;
    color: #FFFFFF;
  }

  .modal-new-btn-disabled {
    background: #DCDCDC;
  }
</style>