<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">
        <i class="giga icon-V10_danchuangguanbi close-icon"></i>
    </button>
    <h4 class="modal-title" id="myModalLabel">
      Margin Contract
    </h4>
</div>

{% if margin_templates %}
  <div class="modal-body">
      <div class="bid-content-box">
          <p class="bid-title">
              Please note, if you want to purchase margin product with fixed price, please click 'Quick View'.
          </p>
          {#  表格   #}
          <table class="oris-table border-none" id="bidTable">
              <thead>
              <tr>
                  <td>Contract Days</td>
                  <td>Selling Quantity</td>
                  <td>Contract Price</td>
                  <td>Margin Amount</td>
              </tr>
              </thead>
              <tbody>
              {% if margin_templates %}
                  {% for template in margin_templates %}
                      <tr class="tr-margin-template"
                          onclick="bid_margin_select(this)"
                          style="cursor: pointer;"
                          data-max_num="{{ template.max_num }}"
                          data-day="{{ template.day }}"
                          data-price="{{ template.price }}">
                          <td>
                              <div class="col-md-6 text-right mrgin-padding0 table-icon-box">
                                  <i class="giga icon-duihao_10 icon-check-sign" style="display: none"></i>
                              </div>
                              <div class="col-md-6 text-left mrgin-padding0">
                                  {{ template.day }}
                              </div>

                          </td>
                          <td>
                              {% if template.min_num == template.max_num  %}
                                  {{ template.max_num }}
                              {% else %}
                                  {{ template.min_num }} - {{ template.max_num }}
                              {% endif %}
                          </td>
                          <td>
                              {{ template.show_price }}
                          </td>
                          <td>
                              {{ template.show_margin_template_front_money }}
                          </td>
                      </tr>
                  {% endfor %}
              {% else %}
                  <tr class="no-records">
                      <td colspan="6">{{ text_no_results }}</td>
                  </tr>
              {% endif %}
              </tbody>
          </table>
      </div>
  </div>

  <div class="modal-footer border-none" style="margin-top: -20px" id="showDetail">
      <p class="bid-title2">Bid Details</p>
      {#  表单   #}
      <form action="{{ save_action }}" method="post" enctype="multipart/form-data" id="form_margin_bid" class="form-horizontal">
          <input type="hidden" id="last_update_time" name="last_update_time" value="{{ update_time }}">
          <input id="input_margin_payment_ratio" type="hidden" name="input_margin_payment_ratio" value="{{ default_template.payment_ratio }}" />
          <input type="hidden" id="base_price" value="{{ base_price }}">
          <input id="input_margin_product_id" type="hidden" name="input_margin_product_id" value="{{ product_id }}"/>
          <input id="input_bond_template_id" type="hidden" name="input_bond_template_id" value="{{ default_template.bond_template_id }}"/>
          <div class="position-raletive">
              <div class="form-group form-group-margin0">
                  <div class="input-flex float-left">
                      <label class="new-label">Agreed Days</label>
                      <input type="text" class="form-control input-margin input-disabled" id="input_margin_day" name="input_margin_day" disabled>
                      <span class="input-uint">Days</span>
                  </div>
                  <div class="input-flex float-right">
                      <label class="new-label">Agreed Quantity</label>
                      <input type="number" class="form-control input-margin input-border-radius" id="input_margin_qty" name="input_margin_qty" data-max="{{ sold_qty }}" onchange="calculateMarginPrice(1)" onkeyup="calculateMarginPrice(1)" min="5" style="width: 184px">
                  </div>
              </div>
              <p class="error-msg" id="msg1"></p>
          </div>
         <div class="position-raletive">
             <div class="form-group form-group-margin0">
                 <div class="input-flex float-right">
                     <label class="new-label">Margin Amount</label>
                     <input type="text" class="form-control input-margin input-disabled" id="input_margin_front_money" name="input_margin_front_money" disabled>
                     <span class="input-uint">{{ currency }}</span>
                 </div>
                 <div class="input-flex float-left">
                     <label class="new-label">Agreed Price</label>
                     <input type="number" class="form-control input-margin" id="input_margin_price" name="input_margin_price" onchange="calculateMarginPrice(2)" onkeyup="calculateMarginPrice(2)" data-base_price="{{ base_price }}"
                       {% if isJapan %}
                         min="0" step="1"
                       {% else %}
                         min="0" step="0.01"
                       {% endif %}
                     >
                     <span class="input-uint">{{ currency }}</span>
                 </div>
             </div>
             <p class="error-msg" id="msg2"></p>
         </div>

          <div class="oris-comments">
              <textarea id="input_margin_message" name="input_margin_message" class="form-textarea countInput oris-input" placeholder="Enter your comments.." maxlength="2000" data-countid="maxCount"></textarea>
              <span class="letter-count"><span id="maxCount" class="link-color">0</span>/2000</span>
          </div>
      </form>

      {#  协议确认语      #}
      <div class="confirm-title">
          <input class="oris-checkbox confirm-checkbox" type="checkbox" id="margin_agree_clause" name="margin_agree_clause" value="1" onchange="btnStatus()"/>
          I have read and agreed to the details of the Margin Contract that are listed above.
          <span id="error_margin_agree_clause" style="display: none;color: red">{{ error_margin_agree_clause }}</span>
      </div>
      {#  按钮  #}
      <div class="text-right">
          <button type="button" class="oris-button oris-button-default" data-dismiss="modal">{{ margin_bid_cancel }}
          </button>
          <button type="button" class="oris-button modal-new-btn-disabled" id="bid-btn" onclick="submitMarginBid(this)" disabled >
              Submit Bid
          </button>
      </div>

  </div>
{% else %}
  <div class="modal-body">
    <div>Sorry, please refresh the page</div>
  </div>
  <div class="modal-footer">
    <div style="text-align: right">
        <button type="button" class="oris-button oris-button-default" data-dismiss="modal">{{ margin_bid_cancel }}</button>
      <button type="button" class="oris-button modal-new-btn-disabled" onclick="window.location.reload();">Refresh</button>
    </div>
  </div>
{% endif %}

<script>

    var configMinNum = '{{ config_min_num|default(0) }}';
    var configMaxNum = '{{ config_max_num|default(0) }}';
    var tableList = eval({{ margin_templates | json_encode}});

    // 选中行点击事件赋值
    function selectIndex(index) {
        // 判断表格数据是否只有一条
        var i = tableList.length>1?index:0;

        // 如果数据大于0，给bid Details的表单赋值
        if(tableList.length>0){
            $("#input_margin_day").val(tableList[i].day);
            $("#input_margin_qty").val(tableList[i].max_num);
            $("#input_margin_price").val(tableList[i].price);

            if(tableList[i].max_num==tableList[i].min_num){
                $("#input_margin_front_money").val($.trim(tableList[i].show_margin_template_front_money_toThousands));
            }else{
                $("#input_margin_front_money").val($.trim(tableList[i].show_margin_template_front_money_toThousands.split('-')[1]));
            }

        }

        // 点击后，展开
        $("#showDetail").show();
    }

    // 初始化
    $(function () {
        // 默认选中第一行
        selectIndex(0);
        if(tableList.length>1){
            $("#showDetail").hide();
        }

        if(tableList.length==1){
            $('.tr-margin-template:first-child').addClass('text-margin-template-warning');
            $('.icon-check-sign').show();
            $('.icon-check-sign').css('color','rgb(40, 97, 206)');
        }
    });
</script>
<script>
    var margin_decimal_place='{{ decimal_place|default(2) }}';

    // 点击时检验
    function calculateMarginPrice2(i) {
        var price = $('#input_margin_price').val();
        var qty = $('#input_margin_qty').val();
        var day = $('#input_margin_day').val();
        var payment_ratio = $('#input_margin_payment_ratio').val();
        payment_ratio = payment_ratio.substring(0,payment_ratio.length-1);

        if(price!=""&&qty!=""&&day!=""){
            var isValid = checkInputChange(i,price,qty,day);
            if (isValid){
                // 符合条件将值填充进表单
                addParam(payment_ratio,price,qty);
            }
            return false;
        }
    }

    // input的change事件
    function calculateMarginPrice(i) {
        var price = $('#input_margin_price').val();
        var qty = $('#input_margin_qty').val();
        var day = $('#input_margin_day').val();
        var payment_ratio = $('#input_margin_payment_ratio').val();
        payment_ratio = payment_ratio.substring(0,payment_ratio.length-1);

        // 判断值是否为空
        if(price!=""&&qty!=""&&day!=""){
          var isValid = checkInputChange(i,price,qty,day);
          if (isValid){
            // 符合条件将值填充进表单
              addParam(payment_ratio,price,qty);
          }
        }
    }

    //必填正整数校验-日本
    function checkPositiveInteger(value) {
        if(!(/^[1-9]*[1-9][0-9]*$/.test(value)) || value <= 0){
            return false;
        }else{
            return true;
        }
    }

    // 必填校验非日本99999.99
    function checkNumber(value) {
        var reg = /^([1-9][0-9]{0,4}|[1-9][0-9]{0,4}\.\d{1,2}|[0-9]\.\d{1,2})$/;
        if(!(reg.test(value))){
            return false;
        }else{
            return true;
        }
    }

    //校验货币 两位小数
    function checkDecimalNumber(value) {
        if(!(/^[0-9]+(.[0-9]{1,2})?$/.test(value))){
            return false;
        }else{
            return true;
        }
    }

    // 表单change校验
    function checkInputChange(i,price,qty,day) {
        //数据格式化
        // price = Number.parseFloat(price).toFloor(margin_decimal_place);
        $('#input_margin_price').val(price);
        // qty = Number.parseInt(qty).toFloor(0);
        $('#input_margin_qty').val(qty);
        day = Number.parseInt(day).toFloor(0);
        $('#input_margin_day').val(day);

        return checkInputValue(i,price,qty,day);

    };

    function checkInputValue(i,price,qty,day) {
        var country_id = '{{ country_id }}';
        switch (i){
            case 1:
                let qty_max = $('#input_margin_qty').attr('data-max');
                if (qty.length > 9) {
                    $('#input_margin_qty').val(qty.substr(0, 9));
                }
                if (qty.length > 9 || !qty || !checkPositiveInteger(qty) || Number(qty) < Number(configMinNum) || Number(qty) > Number(qty_max) || Number.isNaN(Number(qty))){
                    addErrorTip('#input_margin_qty','#msg1','Please enter an integer greater than or equal to '+configMinNum+' or less than available quantity.');
                    return false;
                }else{
                    removeErrorTip('#input_margin_qty','#msg1');
                }
                break;
            case 2:
                if((107 != country_id &&!checkDecimalNumber(price))||(107 == country_id &&!checkPositiveInteger(price))||Number(price)<0){
                    addErrorTip('#input_margin_price','#msg2','The format of agreed price filled is incorrect, please fix.');
                    return false;
                }
                else if(107 != country_id && Number(price)>99999.99) { // 判断价格是否符合99999.99(非日本)/99999
                    addErrorTip('#input_margin_price','#msg2','Please enter a number equal or greater than 0 and less than 99999.99.');
                    return false;
                }else if (107 == country_id && Number(price)>99999){ // 日本
                    addErrorTip('#input_margin_price','#msg2','Please enter a number equal or greater than 0 and less than 99999.');
                    return false;
                }else{
                    removeErrorTip('#input_margin_price','#msg2');
                }
                break;
            case 3:
                if (!day || !checkPositiveInteger(day) || day <= 0 || day > 120){
                    layer.confirm('Agreed Days is required.Please enter an integer number greater than 0 and equal or less than 120.',{
                        btn: ['Yes'],
                        title: 'Message',
                        btnAlign: 'c',
                        skin: 'oris-layer',
                    });
                    return true;
                }
                break;
        };
        return true;
    }
    
    // 添加错误提示
    function addErrorTip(id,msgId,msg) {
        $(msgId).html(msg);
        $(id).focus();
        $(id).addClass('error-border');
        $(id).parent(".input-flex").css('height','55px');
    };
    
    // 移除错误提示
    function removeErrorTip(id,msgId) {
        $(msgId).html('');
        $(id).removeClass('error-border');
        $(id).parent(".input-flex").css('height','40px');
    }

    // 填充值
    function addParam(payment_ratio,price,qty) {
        payment_ratio = Number(payment_ratio) / 100;
        let precision = 2;
        var country_id = '{{ country_id }}';
        if (107 == country_id){
            precision = 0;
        }
        let amount_per = operation(price, payment_ratio, 'multiply', precision);
        let amount_sum = operation(amount_per, qty, 'multiply', precision);

        let deposit_per =  operation(price, payment_ratio, 'multiply', precision);
        let tail_price  =  operation(price, deposit_per, 'subtract', precision);

        let front_money        = operation(amount_per, qty, 'multiply', precision);
        let front_money_string = Number.parseFloat(front_money).toFloor(margin_decimal_place);
        $("#input_margin_front_money").val(toThousands(front_money_string));
        let tail_price_string = Number.parseFloat(tail_price).toFloor(margin_decimal_place);
        $("#input_margin_tail_price").val(tail_price_string);

        let agreement_money        = operation(price, qty, 'multiply', precision);
        let agreement_money_string = Number.parseFloat(agreement_money).toFloor(margin_decimal_place);
        $("#input_margin_agreement_money").val(agreement_money_string);
    };

    // 统一校验表单
    function validateParam() {
        var isValid = true;
        var day = $('#input_margin_day').val();
        var qty = Number($('#input_margin_qty').val());
        var price = $('#input_margin_price').val();

        if(checkInputValue(1,price,qty,day)){
            isValid = checkInputValue(2,price,qty,day)
        }else{
            isValid = false;
        }

        //同意条约
        if(!$('#margin_agree_clause').is(':checked')){
            isValid = false;
            $('#error_margin_agree_clause').css('display','block');
        }else{
            $('#error_margin_agree_clause').css('display','none');
        }

        return isValid;
    }

    function submitMarginBid(obj) {
        var submit_btn = $(obj);
        submit_btn.button('loading');

        if (validateParam()) {
          // 判断是否有选中的行
          var isShow = $("#bidTable tbody tr").hasClass('text-margin-template-warning');
          if(!isShow){
            var index = layer.confirm('Before you can continue with your transaction, the Seller needs to review the terms you selected in your margin contract bid. After the review is complete and the contract terms have been approved, you may continue with your transaction. Do you wish to submit your margin bid request to the Seller?',{
              btn: ['Confirm','Cancel'],
              title: 'Confirm',
              area:['600px','210px'],
              btnAlign: 'c',
              skin: 'oris-layer',
              btn1:function () {
                submitMarginBidData(obj);
                layer.close(index);
              },
              btn2:function () {
                submit_btn.button('reset');
              },
              end:function () {
                submit_btn.button('reset');
              }
            });
          }else{
            submitMarginBidData(obj);
          }
        } else {
            submit_btn.button('reset');
        }
    }
    function submitMarginBidData(obj){
        var submit_btn = $(obj);
        submit_btn.button('loading');
        $.ajax({
            url: '{{ save_action }}',
            type: 'post',
            data: {
                last_update_time: $("#last_update_time").val(),
                input_margin_payment_ratio: $("#input_margin_payment_ratio").val(),
                input_margin_day: $("#input_margin_day").val(),
                input_margin_product_id: $("#input_margin_product_id").val(),
                input_bond_template_id:$("#input_bond_template_id").val(),
                input_margin_qty: $("#input_margin_qty").val(),
                input_margin_price: $("#input_margin_price").val(),
                input_margin_front_money: $("#input_margin_front_money").val().trim().replace(/,/g, ""),
                input_margin_message: $("#input_margin_message").val(),
            },
            dataType: 'json',
            success: function (json) {
                if(json['success']){
                    $("#margin_bid_modal").modal('hide');
                    $.toast({
                        heading: false,
                        text: json['success'],
                        position: 'top-center',
                        showHideTransition: 'fade',
                        icon: 'success',
                        hideAfter: 5000,
                        allowToastClose: false,
                        loader: false,
                    });
                }else if(json['error']){
                    showLayerTip('alert', json['error'], {
                        title: 'Error',
                        btn : 'OK',
                        btnAlign: 'c',
                        skin: 'oris-layer',
                    });
                    submit_btn.button('reset');
                }
            }
        });
    }

    //同意条约
    function btnStatus() {
        if($('#margin_agree_clause').is(':checked')){
            $('#bid-btn').removeAttr("disabled");
            $("#bid-btn").removeClass('modal-new-btn-disabled');
        }else{
            $('#bid-btn').attr("disabled",true);
            $("#bid-btn").addClass('modal-new-btn-disabled');
        }
    }

    // 点击模板每一行
    function bid_margin_select(obj){
        $(".tr-margin-template").removeClass('text-margin-template-warning');
        $(obj).addClass('text-margin-template-warning');
        $(".icon-check-sign").hide();
        $(".icon-check-sign").css('color','#cccccc');
        $(obj).find("td:eq(0) .icon-check-sign").show();
        $(obj).find("td:eq(0) .icon-check-sign").css('color','#2861CE');

        var index = $(obj)[0].rowIndex-1;
        selectIndex(index);

        // 检验计算规则
        if(!calculateMarginPrice2(1)){
            if(!calculateMarginPrice2(2)){
                calculateMarginPrice2(3);
            }
        }
    };

    // 监听合约天数
    $("#input_margin_day").on('change',function () {
       findSameLine();
    });
    // 监听合约数量
    $("#input_margin_qty").on('change',function () {
       findSameLine();
    });
    // 监听合约单价
    $("#input_margin_price").on('change',function () {
       findSameLine();
    });
    
    // 检验输入框的内容是否存在与表格中的数据符合
    function findSameLine() {
        // 取消表格高亮行
        $("#bidTable tbody tr").removeClass('text-margin-template-warning');
        $(".icon-check-sign").hide();
        // 获取表格的所有数据
        var data = eval('{{ margin_templates|json_encode }}');
        var qty = $("#input_margin_qty").val();
        var days = $("#input_margin_day").val();
        var price = $("#input_margin_price").val();
        if(days!=''&&qty!=''&&price!=''){
            var count=0;
          qty = parseInt(qty);
          days = parseInt(days);
          // 获取输入框的值，循环遍历比较每一行
          for(var i=0;i<data.length;i++){
            // 如果找到符合条件的行，高亮该行
            if(qty>=data[i].min_num&&qty<=data[i].max_num&&days==parseInt(data[i].day)&&Number(price)==Number(data[i].price)){
                count++;
              // 添加高亮样式
              $("#bidTable tbody tr:nth-child("+(i+1)+")").addClass('text-margin-template-warning');
              $("#bidTable tbody tr:nth-child("+(i+1)+")").find("td:eq(0) .icon-check-sign").show();
              $("#bidTable tbody tr:nth-child("+(i+1)+")").find("td:eq(0) .icon-check-sign").css('color','#2861CE');
            }
          }
          if(count==0){
              $(".icon-check-sign").hide();
              $(".icon-check-sign").css('color','#cccccc');
          }
        }

    };

    //监听输入
    $(".countInput").on('input propertychange', function () {
        var flagId=$(this).attr('data-countid');

        //获取输入内容
        var userDesc = $(this).val();
        var strValue = toolString.calcStringLength(userDesc,2000);
        //显示字数
        $("#"+flagId).html(strValue.len);
        $(this).val(strValue.fullStr);
    });
</script>
<style>
    .bid-content-box{
        margin-bottom: 12px;
    }
    .close-icon{
        color: #999;
    }
    .close-icon:hover{
        color: #333;
    }
    .position-raletive{
        position: relative;
    }
    .form-control:focus{
        border: 1px solid #666666 !important;
        box-shadow: unset !important;
    }
    .table-icon-box{
        line-height: 20px;
        padding-right: 16px !important;
    }
    .text-margin-template-warning:hover .icon-check-sign{
      color: rgb(40, 97, 206);
    }
    .icon-check-sign{
        height: 16px;
    }

  #bidTable td{
      border: unset;
      height: 40px;
      line-height: 20px;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      color: #333333;
  }
    #bidTable tbody tr td:first-child{
        border-left: 1px solid #DCDCDC !important;
        margin-bottom: 0;
    }

    #bidTable tbody tr td:last-child{
        border-right: 1px solid #DCDCDC !important;
        margin-bottom: 0;
    }

    #bidTable tbody tr:last-child td{
        border-bottom: 1px solid #DCDCDC !important;
        margin-bottom: 0;
    }

    .border-none{
    border: none;
    padding-top: 0;
  }

  .modal-body{
      padding: 10px 24px 24px;
  }

  .bid-title{
      width: 592px;
      height: 56px;
      background: #eef3ff;
      border: 1px solid #496DE5;
      border-radius: 2px;
      padding: 12px 16px 13px 16px;
      font-size: 14px;
      font-family: Arial;
      font-weight: 400;
      color: #333333;
      line-height: 16px;
      margin-bottom: 10px;
  }

  .bid-title2{
      text-align: left;
      border-left: 4px solid #2861CE;
      font-size: 16px;
      font-family: Arial;
      font-weight: bold;
      color: #333333;
      height: 16px;
      line-height: 18px;
      padding-left: 7px;
      margin-top: 20px;
  }
  #bidTable thead td{
        height: 32px;
        font-size: 12px;
        font-family: Arial;
        font-weight: bold;
        color: #333333;
    }

    .tr-margin-template:hover{
        cursor: pointer;
    }
    .tr-margin-template:hover .icon-check-sign{
        cursor: pointer;
        display: inline-block !important;
        color: #cccccc;
    }


  .new-label{
      line-height: 40px;
      font-size: 14px;
      font-family: Arial;
      font-weight: bold;
      color: #333333;
  }

  .input-flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      height: 40px;
      padding: 0;
      margin-bottom: 24px;
      position: relative;
  }
  .input-margin{
      width: 136px;
      margin-left: 7px;
      border: 1px solid #CCCCCC;
      border-radius: 2px;
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
  }
    .input-disabled{
        background: #EDEFF3 !important;
    }
  .input-uint{
      width: unset;
      display: inline-block;
      padding: 10px;
      border: 1px solid #CCCCCC;
      border-left: 0;
      height: 40px;
      line-height: 18px;
      background: #EDEFF3;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      text-align: center;
  }
  .input-border-radius{
      border-radius: 2px;
  }

  .form-group-margin0{
      margin: 0 !important;
  }

  .float-left{
     float: left;
  }
  .float-right{
      float: right;
  }

  .form-textarea {
      height: 120px !important;
  }

  .confirm-title{
      margin-top:10px;
      vertical-align: middle;
      margin-bottom: 24px;
      text-align: left;
      padding-left: 4px
  }
  .confirm-checkbox{
      vertical-align: middle !important;
      margin-top: -3px !important;
      margin-left: -3px !important;
      cursor: pointer;
  }

    .error-msg{
        position: absolute;
        top: 44px;
        margin: 0;
        font-size: 13px;
        font-family: Arial;
        font-weight: 400;
        color: #E64545;
        line-height: 14px;
        text-align: left;
        padding-left: 93px;
    }
    .error-border:focus{
        border: 1px solid #E64545 !important;
        box-shadow: unset !important;
    }

  .mrgin-padding0{
    margin: 0;
    padding: 0;
  }



    .modal-new-btn{
        padding: 12px 22px;
        height: 36px;
        line-height: 10px;
        border-radius: 2px;
        font-size: 14px;
        font-family: Arial;
        font-weight: 400;
        outline: 0;
        margin-left: 10px;
        border: unset;
    }

    .modal-new-btn-default{
        background: #FFFFFF;
        border: 1px solid #C1C1C1;
    }

    .modal-new-btn-primary{
        background: #2861CE;
        color: #FFFFFF;
    }

    .modal-new-btn-disabled{
        background: #DCDCDC;
    }
</style>