<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"
          aria-hidden="true">×
  </button>
  <h4 class="modal-title" id="myModalLabel">
    {{ language.modal_title }} <span>{{ product_info.sku }}</span>
  </h4>
</div>
<div class="modal-body">
  <div class="prompt">
    {{ language.head_tip }}
  </div>
  <!-- 导航条 -->
  <ul class="nav nav-tabs  modal_tabs" style="margin-top: 20px">
    {% for i in rebates_templates %}
      <li role="presentation" {% if plan_id==i.id %} class="active" {% elseif not plan_id  %} {{ loop.first?'class="active"':'' }} {% endif %}>
        <a href="#plan{{ i.id }}"  aria-controls="plan{{ i.id }}"
           role="tab" data-toggle="tab">Plan {{ loop.length-loop.revindex+1 }}</a>
      </li>
    {% endfor %}
  </ul>

  <!-- 内容-->
  <div class="tab-content">
    {% for i in rebates_templates %}
      <div role="tabpanel" class="table_data tab-pane  {% if plan_id==i.id %} active {% elseif not plan_id %}{{ loop.first?'active':'' }} {% endif %}" id="plan{{ i.id }}" data-tpl_id="{{ i.id }}">
        <input type="hidden" name="unused_num" value="{{ i.is_limit?i.unused_num:9999 }}">
        {% if i.is_limit %}
          <div style="margin : 20px 0 -15px 0;padding-left: 15px;color: #fa6d0e">
            <i class="giga icon-double-user"></i> {{ i.unused_num }} places left!
          </div>
        {% endif %}
        <div class="modal_common_input">
          <table>
            <tr>
              <td style="width: 15%;text-align: center;">
                {{ language.bid_modal_table.day }}
              </td>
              <td style="width: 15%;text-align: center;">
                <input class="form-control" type="number" name="day" value="{{ i.day }}">
              </td>
              <td style="width: 35%;text-align: center;">
                {{ language.bid_modal_table.qty }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{ language.bid_modal_table.qty_tip }}"></i>
              </td>
              <td style="width: 15%;text-align: center;">
                <input class="form-control" type="number" name="min_quantity" value="{{ i.qty }}" >
              </td>
              <td style="width: 20%;text-align: center;color: red">
                You can bid a max of <span id="can_bin_num{{ i.id }}">{{ i.min_bid }}</span> items
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{ language.bid_modal_table.min_bid_tip|format(i.quantity,i.all_need_num,i.bid_num_total) }}"></i>
              </td>
            </tr>
          </table>
        </div>
        <div style="margin-top: 20px">
          <table class="table product_info">
            <thead>
            <tr>
              <th>{{ language.bid_modal_table.image }}</th>
              <th>{{ language.bid_modal_table.item_code }}</th>
              <th>{{ language.bid_modal_table.cur_qty }}</th>
              <th>{{ language.bid_modal_table.exclusive_price|format(symbol) }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{ language.bid_modal_table.exclusive_price_tip }}"></i>
              </th>
              <th>{{ language.bid_modal_table.rebate_amount|format(symbol) }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{ language.bid_modal_table.rebate_amount_tip }}"></i>
              </th>
              <th>{{ language.bid_modal_table.price_after_rebate|format(symbol) }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{ language.bid_modal_table.price_after_rebate_tip }}"></i>
              </th>
              <th>{{ language.bid_modal_table.agree_min_price }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="{{ language.bid_modal_table.agree_min_price_tip }}"></i>
              </th>
            </tr>
            </thead>
            <tbody>
            {% for sub_item in i.child %}
              <tr
                data-product_id="{{ sub_item.product_id }}"
                {% if sub_item.is_pending %}
                  style="background-color: #eee;"
                  data-flag="1"
                {% else %}
                  data-flag="0"
                {% endif %}
              >
                <td><img src="{{ sub_item.image }}" style="width: 50px;height: 50px;"/> </td>
                <td>
                  <a class="a-link"  target="_blank" href="{{ sub_item.product_url }}">
                    <span>{{ sub_item.sku }}</span>&nbsp;
                    <i class="giga -iconfont icon-table-link"></i>
                  </a>
                  {% if sub_item.is_pending %}
                    <i class="iconfont icon-gantanhao not_bid" style="color: red;margin-left: 2px;" data-tips="{{ language.bid_table_error_tip.tip_2|format(sub_item.is_pending) }}"></i>
                  {% endif %}
                </td>
                <td>{{ sub_item.quantity }}</td>
                {% if sub_item.is_pending %}
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                {% else %}
                  <td>{{ sub_item.price }}</td>
                  <td><input type="number" id="rebate_amount_{{ sub_item.product_id }}" name="rebate_amount" value="{{ sub_item.rebate_amount }}" data-greate-err="{{ language.error_rebates_discount_amount|format(sub_item.price) }}" ></td>
                  <td>{{  (sub_item.price-sub_item.rebate_amount)|number_format(decimal_place, '.', '') }}</td>
                  <td><input type="number" id="min_sell_price_{{ sub_item.product_id }}" name="min_sell_price" value="{{ sub_item.min_sell_price }}" ></td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div id="div_remark{{ i.id }}" style="margin-top: 20px;">
          <div>
            <span>REMARK</span>
            <span style="color: red;float: right">REQUEST</span>
          </div>
          <textarea type="text" rows="4"  style="width: 100%;resize: none;" placeholder="write remark..." onkeyup="this.value=this.value.replace( /^\s*/, '');"></textarea>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
<div class="modal-footer">
{#  <div id="bid0" style="text-align: center;display: block">#}
{#  <button type="button" id="bt" class="btn btn-primary btn-submit inputbtn" >#}
{#    {{ language.bid_button_bid_plan }}#}
{#  </button>#}
{#</div>#}
  <div id="bid" style="display:block;text-align: center ">
    <div style="padding-left: 30px;display: inline-block;vertical-align: middle;">
      <input type="checkbox" id="rebates_agree_clause" name="rebates_agree_clause" value="1"/>
      {{ rebates_bid_agree_text|format('<a href="' ~ clause_url ~ '" target="_blank" style="font-size: 12px;color: #1e91cf">' ~ clause_title ~ '</a>') }}
      <span id="error_rebates_agree_clause" style="display: none;color: red">{{ error_rebates_agree_clause }}</span>
    </div>
    <div style="margin-top: 20px">
      <button type="button" class="btn btn-primary btn-submit" id="btn_submit" onclick="submitRebatesBid(this)" >
        {{ language.bid_button_place_bid }}
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">{{ language.bid_button_cancel }}</button>
    </div>
  </div>
</div>
<style>
  input[type=number] {
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .prompt{
    background-color:#fff5ef;
    color: #FA6400;
    padding: 10px 15px;
  }

  .modal_tabs > li.active > a {
    border-color: #eeeeee #eeeeee #ddd;
    background-color: #FA6400;
    color: #fff;
  }

  .modal_common_input {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
</style>
<script>
    layer.config({
        extend: 'yzc/style.css',
        skin: 'yzc_layer',
        scrollbar: false,
        offset: 'auto',
        title: 'Message',
        btnAlign: 'c',
    });
  var decimal_place='{{ decimal_place|default(2) }}';
    //tips
    $(document).delegate('.help_tip,.help_tip_button,.not_bid', 'mouseover', function (e) {
        var that = this;
        let show_info = $(this).data('tips');
        layer.tips(show_info, that, {tips: [1, '#000000'], area: ['auto', 'auto'], time: -1});
    });

    $(document).delegate('.help_tip,.help_tip_button,.not_bid', 'mouseout', function (e) {
        layer.closeAll();
    });

    //获取数据
    function get_post_data() {
        var tpl_id = $(".table_data.active").data('tpl_id');
        var day = $('#plan' + tpl_id + ' input[name="day"]').val();
        var qty = $('#plan' + tpl_id + ' input[name="min_quantity"]').val();
        var remark=$('#div_remark' + tpl_id + ' textarea').val().trim();
        var post_data = {
            'tpl_id': tpl_id,
            'day': day,
            'qty': qty,
            'remark':remark,
            'child': {}
        }
        $('.active .product_info tbody tr').each(function (i, v) {
            if($(this).data('flag')==0){
                post_data['child'][$(this).data('product_id')] = {
                    'product_id':$(this).data('product_id'),
                    'rebate_amount': $(this).find('input[name="rebate_amount"]').val(),
                    'min_sell_price': $(this).find('input[name="min_sell_price"]').val()
                }
            }
        });
        return post_data;
        console.log(post_data)
    }

    //提交数据
    function submitRebatesBid(obj) {
        // 检查是否有剩余的名额
        if ($('.active input[name="unused_num"]').val() <= 0) {
            layer.alert('{{ error_0_unused_num }}', {title: 'Message',btn: ['Yes']});
            return;
        }
        //检查是否全部不能bid
        var can_bid=false;
        $('.active .product_info tbody tr').each(function (i, v) {
            if($(this).data('flag')==0){   //可以bid
                can_bid=true;
                return true;
            }
        });
        if(can_bid==false){
            layer.alert('error', {title: 'Message',btn: ['Yes']});
            return;
        }
        //可以bid的数量
        // let can_bin_num=$('#can_bin_num').html();
        // if(isNaN(can_bin_num) || can_bin_num*1==0){
        //     layer.alert('没有查询到bid 的数量,或可以bid的数量为0', { skin: 'layui-layer-lan',closeBtn: 0});
        //     return;
        // }
        let post_data = get_post_data();
        //校验数据
        if(!post_data['tpl_id']){
            layer.alert('{{ language.db_error }}', {title: 'Message',btn: ['Yes']});
            return;
        }
        if(post_data['day']<=0 || !(/^(\+|-)?\d+$/.test((post_data['day'])))){
            layer.alert('{{ language.error_rebates_bid_day }}', {title: 'Message',btn: ['Yes']});
            return;
        }
        let can_bin_num=$('#can_bin_num'+post_data['tpl_id']).html();
        if(post_data['qty']<=0 || !(/^(\+|-)?\d+$/.test((post_data['qty']))) || post_data['qty']*1>can_bin_num*1){
            var content=$('#can_bin_num'+post_data['tpl_id']).next().data('original-title');
            layer.alert(content, {title: 'Message',btn: ['Yes']});
            return;
        }

        if(!post_data['remark'] || post_data['remark'].length > 2000){
            layer.alert('{{ language.error_remark }}', {title: 'Message',btn: ['Yes']});
            return;
        }
        for(var i in post_data['child']){
            if('product_id' in post_data['child'][i]){
                var tmp_product_id=post_data['child'][i]['product_id'];
            }else{
                layer.alert('{{ language.db_error }}', {title: 'Message',btn: ['Yes']});
                return;
            }
            if(!('rebate_amount' in post_data['child'][i]) || post_data['child'][i]['rebate_amount']*1<=0){
                let error_info=$('#rebate_amount_'+tmp_product_id).data('greate-err')
                layer.alert(error_info, {title: 'Message',btn: ['Yes']});
                return;
            }
            var tmp_rebate_amount=post_data['child'][i]['rebate_amount'];
            if(!('min_sell_price' in post_data['child'][i]) || post_data['child'][i]['min_sell_price']*1<0){
                layer.alert('{{ language.error_rebates_bid_price_limit }}', {title: 'Message',btn: ['Yes']});
                return;
            }
            var tmp_min_sell_price=post_data['child'][i]['min_sell_price'];
        }
        //是否同意协议
        //同意条约
        if (!$('#rebates_agree_clause').is(':checked')) {
            layer.alert('{{ language.error_rebates_agree_clause }}', {title: 'Message',btn: ['Yes']});
            return;
        }
        layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        $.ajax({
            url: 'index.php?route=product/product/rebate_bid',
            type: 'post',
            data: post_data,
            dataType: 'json',
            success: function (res) {
                layer.closeAll();
                if(res.status==0){  //失败
                    var msg='Submitting failed. Please refresh the page and try again.';
                    if(res.data[0]){
                        msg=res.data[0];
                    }
                    layer.alert(msg, {title: 'Message',btn: ['Yes']});
                }else{   //成功
                    $.toast({
                        heading: false,
                        text: 'Your application has been successfully sent to seller.',
                        position: 'top-center',
                        showHideTransition: 'fade',
                        icon: 'success',
                        hideAfter: 5000,
                        allowToastClose: false,
                        loader: false,
                    });
                    $('.modal').modal('hide')
                    setTimeout(()=>{
                        window.location.reload();
                    },1000)
                }
            }
        });
    }

    //页面交互效果
    function my$(id) {
        return document.getElementById(id);
    }

    $(document).delegate('input[name="rebate_amount"]', 'change', function () {
        var val=($(this).val()*1).toFixed(decimal_place);

        //修改after rebate
        var exc_price=$(this).parent().prev().html();
        if(exc_price*1<val*1){
            layer.alert($(this).data('greate-err'), {title: 'Message',btn: ['Yes']});
            $(this).val('');
            $(this).parent().next().html('');
            return ;
        }
        $(this).val(val);
        $(this).parent().next().html((exc_price*1-val*1).toFixed(decimal_place));
    });

  $(document).delegate('input[name="min_sell_price"]', 'change', function () {
      var val=($(this).val()*1).toFixed(decimal_place);
      if(val<0){
          layer.alert('{{ language.error_rebates_bid_price_limit }}', {title: 'Message',btn: ['Yes']});
          return;
      }
      $(this).val(val);
  });

</script>

