{{ header }}
<link rel="stylesheet" href="catalog/view/javascript/bootstrap-select/css/bootstrap-select.css?v={{ app_version }}">
<link rel="stylesheet" href="catalog/view/theme/yzcTheme/stylesheet/product/search.css?v={{ app_version }}">
<link rel="stylesheet" href="catalog/view/theme/yzcTheme/stylesheet/customerpartner/listStyle.css">
<style>
</style>
<div class="main-bg pt-1 pb-2">
  <div id="product-category" class="center-module">
      <div id="content"></div>
    <div id="search-result">
      <div class="breadcrumb">
        <li class="mb-1"><a href="{{ url('common/home') }}">Home</a>  /
        {% for v in breadcrumbs %}
          <a href="{{ v.href }}">{{ v.text }}</a>  /
        {% endfor %}
        <span class="results-number text-bold">{{ products_total }}</span> results for <span class="search-keyword white-spre">"{{ search }}"</span></li>
      </div>
      <div class="default-flex min-h500" id="content_product">
        <div>
          <div class="side-list mr-2">
              <div class="box-bg pt-0">
                  <input id="category_id" type="hidden" value="{{ category_id }}"/>
                  <input id="form_sort" type="hidden" value="{{ sort }}"/>
                  <input id="form_order" type="hidden" value="{{ order }}"/>
                  <input id="form_limit" type="hidden" value="{{ limit }}"/>
                  <input id="form_products_total" type="hidden" value="{{ products_total }}"/>

                      <div class="side-tool" id="myColumnCategory">
                          <div id="column-left-condition">
                              <div class="tool-item">
                                  <div class="side-title">Categories</div>
                                  <ul id="category-categories" class="mb-0">
                                      <li class="panel-lx">
                                          <a onclick="toSearch(this,null,0)"  id="category-value-0" class="category-href">All</a>
                                      </li>
                                      {% if categories %}
                                        {% for one, category in categories %}
                                          <li class="panel-lx">
                                              <a onclick="toSearch(this,null,'{{ category['self_id'] }}')" class="category-href"
                                                 id="category-value-{{ category['self_id'] }}">
                                                  {% if category['children'] %}
                                                      <i class="giga icon-V10_zuocejiantou text-small"  id="category-icon-{{ category['self_id'] }}"></i>
                                                  {% endif %}
                                                  {{ category['name'] }}
                                              </a>
                                              {% if category['children'] %}
                                                  <a class="toggle-icon"
                                                     id="category-show-{{ category['self_id'] }}"
                                                     data-toggle="collapse" data-parent="#category-categories"
                                                     href="#category-categories-{{ category['self_id'] }}">
                                                  </a>
                                                  <ul class="collapse" id="category-categories-{{ category['self_id'] }}">
                                                      {% for two, child in category['children'] %}
                                                          <li>
                                                              <a onclick="toSearch(this,null,'{{ child['self_id'] }}')" class="category-href"
                                                                 id="category-value-{{ child['self_id'] }}">
                                                                  {% if  child['children'] %}
                                                                      <i class="giga icon-V10_zuocejiantou text-small"  id="category-icon-{{ child['self_id'] }}"></i>
                                                                  {% endif %}
                                                                  {{ child['name'] }}
                                                              </a>
                                                              {% if  child['children'] %}
                                                                  <a class="toggle-icon" id="category-show-{{ child['self_id'] }}"
                                                                     data-toggle="collapse"
                                                                     data-parent="#category-categories-{{ category['self_id'] }}"
                                                                     href="#category-categories-{{ child['self_id'] }}"
                                                                  ></a>
                                                                  <ul class="collapse"
                                                                      id="category-categories-{{ child['self_id'] }}">
                                                                      {% for three, grandson in  child['children'] %}
                                                                          <li><a onclick="toSearch(this,null,'{{ grandson['self_id'] }}')"
                                                                                 id="category-value-{{ grandson['self_id'] }}"
                                                                                 class="category-href">{{ grandson['name'] }}</a>
                                                                          </li>
                                                                      {% endfor %}
                                                                  </ul>
                                                              {% endif %}
                                                          </li>
                                                      {% endfor %}
                                                  </ul>
                                              {% endif %}
                                          </li>
                                      {% endfor %}
                                      {% endif %}
                                  </ul>
                              </div>
                          </div>
                      </div>
              </div>
              <div class="mt-1 box-bg pt-0" id="selectionCriteria">
                  <div class="side-tool" id="myColumn" >
                      <div id="column-left-filter-category" class="select-checkbox">
                          <div class="tool-item panel-filter-price-category">
                              <div class="side-title">Unit Price</div>
                              <div class="section-wrapper" id="price">
                                  <div class="edit icon">
                                      <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')"
                                             class="form-control border-r2" id="min_price" placeholder="Min"
                                             value="{{ min_price }}" autocomplete="off">
                                      <span class="currency-icon">{{ symbol_left }}{{ symbol_right }}</span>
                                  </div>
                                  <div class="edit">
                                      <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')"
                                             class="form-control border-r2" id="max_price" placeholder="Max"
                                             value="{{ max_price }}" autocomplete="off">
                                      <span class="currency-icon">{{ symbol_left }}{{ symbol_right }}</span>
                                  </div>
                                  <div class="btn" style="padding: 0;">
                                      <a class="filter_button filter-price btn_go" href="javascript:void(0);"
                                         data-cnzz-event="搜索列表页|LT_Filter_UnitPrice">Go</a>
                                  </div>
                              </div>
                          </div>
                          <div class="tool-item unit-price-wrapper panel-filter-quantity-category" id="qty">
                              <div class="side-title">Qty Available</div>
                              <div class="section-wrapper ">
                                  <div class="edit icon">
                                      <input type="text" onkeyup="value=value.replace(/[^\d]/g,'')"
                                             class="form-control p8-l border-r2" id="min_quantity" placeholder="Min"
                                             value="{{ min_quantity }}" autocomplete="off">
                                  </div>
                                  <div class="edit">
                                      <input type="text" onkeyup="value=value.replace(/[^\d]/g,'')"
                                             class="form-control p8-l border-r2" id="max_quantity" placeholder="Max"
                                             value="{{ max_quantity }}" autocomplete="off">
                                  </div>
                                  <div class="btn" style="padding: 0;">
                                      <a class="filter_button filter-quantity btn_go" href="javascript:void(0);"
                                         data-cnzz-event="搜索列表页|LT_Filter_QtyAvailable">Go</a>
                                  </div>
                              </div>
                              <div class="mt-octal2 flex-layout">
                                <input type="checkbox" onclick="toSearch(this)" id="products-stock"
                                    {% if qty_status %} checked {% endif %} name="products-stock" value="1" class="checkbox-style1 pointer">
                                  <span class="ml-06 action-click">In-Stock Products</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="side-tool select-checkbox" id="complexTransaction">
                      <div class="tool-item ">
                        <div class="side-title">Complex Transaction</div>
                        <div class="flex-layout">
                          <input type="checkbox"
                                 onclick="toSearch(this)"
                                 name="search_complex" id="rebates" value="1"
                                  {% if rebates %} checked {% endif %}
                                 class="checkbox-style1 pointer"
                                 data-cnzz-event="搜索列表页|LT_Filter_ComplexTransaction">
                          <span class="ml-06 action-click">Rebates</span>
                        </div>
                        <div class="mt-octal2 flex-layout">
                          <input type="checkbox"
                                 onclick="toSearch(this)"
                                 name="search_complex" id="margin" value="2"
                                  {% if margin %} checked {% endif %}
                                 class="checkbox-style1 pointer"
                                 data-cnzz-event="搜索列表页|LT_Filter_ComplexTransaction">
                          <span class="ml-06 action-click">Margin</span>
                        </div>
                        <div class="mt-octal2 flex-layout">
                          <input type="checkbox"
                                 onclick="toSearch(this)"
                                 name="search_complex" id="futures" value="3"
                                  {% if futures %} checked {% endif %}
                                 class="checkbox-style1 pointer"
                                 data-cnzz-event="搜索列表页|LT_Filter_ComplexTransaction">
                          <span class="ml-06 action-click">Futures</span>
                        </div>
                      </div>
                 </div>
                  {% if isWarehouseProductDistribution %}
                    <div class="side-tool select-checkbox" id="productInventory">
                        <div class="tool-item ">
                          <div class="side-title pointer" id="slideInventory">Inventory Distribution
                            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="Lock quantity included"></i>&nbsp;
                            <i class="giga icon-V10_shouyeyouxiaTOP text-small text-bold"></i>
                            <i class="giga icon-V10_shouyeyouxiadown text-small text-bold none"></i>
                          </div>
                          <div class="search-inventory">
                              <input type="text" id="searchInventory" class="search input-focus"
                                             placeholder="Search" value="" autocomplete="off" maxlength="255">
                          </div>
                          <div class="action-expand">
                            {% for k,v in warehouseList %}
                                <div class="mt-octal2 flex-layout">
                                    <input type="checkbox"
                                           onclick="toSearch(this)"
                                           name="whId" id="{{ v.warehouseCode }}"
                                           value="{{ v.warehouseID }}"
                                           {% for key,value in whId %}
                                               {% if value == v.warehouseID %} checked {% endif %}
                                           {% endfor %}
                                           class="checkbox-style1 pointer"
                                           data-cnzz-event="搜索列表页|LT_Filter_InventoryDistribution">
                                    <span class="ml-06 action-click action-inventory">{{ v.warehouseCode }}</span>
                                </div>
                            {% endfor %}
                            <div class="mt-octal2 flex-layout text-center text-tips none action-noinventory">
                              <span>No records</span>
                            </div>
                          </div>
                    </div>
                  </div>
                  {% endif %}
                  <div class="side-tool select-checkbox" id="productImg">
                      <div class="tool-item ">
                          <div class="side-title">Product Images</div>
                          <div class="flex-layout">
                              <input type="checkbox" onclick="toSearch(this,11)" id="complete_images"
                                     value="{{ img_status }}" class="checkbox-style1 pointer" {% if img_status %} checked {% endif %}
                                     data-cnzz-event="搜索列表页|LT_Filter_DetailedProductImages">
                              <span class="ml-06 action-click">Contains 7+ images</span>
                          </div>
                      </div>
                  </div>
                  {% if isLogin %}
                      <div class="side-tool  select-checkbox" id="resourcePackage">
                          <div class="tool-item">
                              <div class="side-title">Resource Package</div>
                              <div class="flex-layout">
                                  <input type="checkbox" onclick="toSearch(this,1)" {% if download_status == 1 or download_status == 3 %} checked="checked" {% endif %} name="search_download_status" id="downloaded" value="1" class="checkbox-style1 pointer">
                                  <span class="ml-06 action-click">Downloaded</span>
                              </div>
                              <div class="mt-octal2 flex-layout">
                                  <input type="checkbox" onclick="toSearch(this,1)" {% if download_status == 2 or download_status == 3 %} checked="checked" {% endif %} name="search_download_status" id="notDownloaded" value="2" class="checkbox-style1 pointer">
                                  <span class="ml-06 action-click">Not Downloaded</span>
                              </div>
                          </div>
                      </div>
                      <div class="side-tool  select-checkbox" id="saved">
                          <div class="tool-item ">
                              <div class="side-title">Saved Items</div>
                              <div class="flex-layout">
                                  <input type="checkbox"  name="search_wish_status" {% if wish_status == 1 or wish_status == 3 %} checked="checked" {% endif %} onclick="toSearch(this,2)" id="savedInput" value="1" class="checkbox-style1 pointer" >
                                  <span class="ml-06 action-click">Saved</span>
                              </div>
                              <div class="mt-octal2 flex-layout">
                                  <input type="checkbox" name="search_wish_status" {% if wish_status == 2 or wish_status == 3 %} checked="checked" {% endif %} onclick="toSearch(this,2)" id="notSaved" value="2" class="checkbox-style1 pointer">
                                  <span class="ml-06 action-click">Not Saved</span>
                              </div>
                          </div>
                      </div>
                      {% if not is_partner %}
                          <div class="side-tool  select-checkbox" id="Purchased">
                              <div class="tool-item ">
                                  <div class="side-title">Purchased</div>
                                  <div class="flex-layout">
                                      <input type="checkbox" name="search_purchase_status" onchange="toSearch(this,3)" {% if 1 == purchase_status or 3 == purchase_status %} checked="checked" {% endif %} id="purchased" value="1" class="checkbox-style1 pointer">
                                      <span class="ml-06 action-click">Purchased</span>
                                  </div>
                                  <div class="mt-octal2 flex-layout">
                                      <input type="checkbox" name="search_purchase_status" onchange="toSearch(this,3)" {% if 2 == purchase_status or 3 == purchase_status %} checked="checked" {% endif %} id="notPurchased" value="2" class="checkbox-style1 pointer">
                                      <span class="ml-06 action-click">Not Purchased</span>
                                  </div>
                              </div>
                          </div>
                      {% endif %}
                      <div class="side-tool  select-checkbox" id="Relation">
                          <div class="tool-item ">
                              <div class="side-title">Connected</div>
                              <div class="flex-layout">
                                  <input type="checkbox" name="search_relation_status" onchange="toSearch(this,4)" {% if 1 == relation_status or 3 == relation_status %} checked="checked" {% endif %} id="relation" value="1" class="checkbox-style1 pointer">
                                  <span class="ml-06 action-click">Connected</span>
                              </div>
                              <div class="mt-octal2 flex-layout">
                                  <input type="checkbox" name="search_relation_status" onchange="toSearch(this,4)" {% if 2 == relation_status or 3 == relation_status %} checked="checked" {% endif %} id="notRelation" value="2" class="checkbox-style1 pointer">
                                  <span class="ml-06 action-click">Not Connected</span>
                              </div>
                          </div>
                      </div>
                  {% endif %}
              </div>
          </div>
        </div>
        <div class="center-list">
          <div>
            {% if isLogin %}
              <div class="select-filters">
                <div id="selectFilters" class="none">
                  <span class="text-bold">Selected：</span>
                  <a id="clear" class="clear-all ml-1 pointer">Clear All</a>
                </div>

              </div>
            {% endif %}
            <div class="filter-tool-wrapper">
              <input id="main_url" style="display: none" value="{{ main_url }}"/>
            </div>
              <div class="box-bg mb-1">
                  {% if isLogin %}
                      {% if download_csv_privilege == 1 %}
                          <div class="batch-operations flex-layout">
                              <div class="form-group input-group no-margin flex-layout">
                                  <label class="no-margin text-weight-normal flex-layout">
                                      <input type="hidden" id="choose_product" value=''>
                                      <input type="hidden" id="product" value=''>
                                      <input type="checkbox" onclick="checkChoose();" id="all_products_info" value="1" autocomplete="off" class="checkbox-style2 small-checkbox pointer">
                                      <span class="ml-04"> Select All</span>
                                  </label>
                                  <span class="ml-4 mr-4"><span class="select-number text-warning" id="boxSelectNum">0</span>&nbsp;item(s) selected</span>
                              </div>
                              <button id='batch_download' mean="{{ products_to_csv }}" class="btn-link p0 btn-outline-clear" data-mycnzz="true" data-mycnzz-page="搜索列表页" data-mycnzz-event="LT_All_Download">
                                  <i class="giga font12"></i>Download Product Info</button>
                              <span class="vertical-bar"></span>
                              <button id='batch_wish' mean="{{ products_to_wish }}" class="btn-link p0 btn-outline-clear" data-mycnzz="true" data-mycnzz-page="搜索列表页" data-mycnzz-event="LT_All_SavedItems">
                                  <i class="giga font12"></i>Add to Saved Items</button>
                          </div>
                      {% endif %}
                  {% endif %}
                  <div class="list-sequence flex-layout">
                      <div class="my-sort">
                          <span class="text-bold mr-1">Sort  by:</span>
                          <a class="sort-item first {% if 'p.sort_order' == sort %} active {% endif %}" onclick="toSearch(this,5)"
                             id="p.sort_order" data-cnzz-event="搜索列表页|LT_Sort_Relevance">{{ sort_relevance }}</a>
                          {% if 'p.price' == sort %}
                              <a class="sort-item active" onclick="toSearch(this,6)" id="p.price" data-cnzz-event="搜索列表页|LT_Sort_Price">{{ sort_price }}
                                  <span class="sequence-icon">
                          {% if 'DESC' == order %}
                              <i class="giga icon-down-solid"></i>
                              <i class="giga icon-iup active"></i>
                          {% else %}
                              <i class="giga icon-down-solid active"></i>
                              <i class="giga icon-iup"></i>
                          {% endif %}
                        </span>
                              </a>
                          {% else %}
                              <a class="sort-item" onclick="toSearch(this,6)" id="p.price" data-cnzz-event="搜索列表页|LT_Sort_Price">{{ sort_price }}
                                  <span class="sequence-icon">
                          <i class="giga icon-down-solid"></i>
                          <i class="giga icon-iup"></i>
                        </span>
                              </a>
                          {% endif %}

                          {% if 'p.quantity' == sort %}
                              <a class="sort-item active" onclick="toSearch(this,7)" id="p.quantity" data-cnzz-event="搜索列表页|LT_Sort_StockQty">{{ sort_inventory }}
                                  <span class="sequence-icon">
                      {% if 'DESC' == order %}
                          <i class="giga icon-down-solid"></i>
                          <i class="giga icon-iup active"></i>
                      {% else %}
                          <i class="giga icon-down-solid active"></i>
                          <i class="giga icon-iup"></i>
                      {% endif %}
                      </span>
                              </a>
                          {% else %}
                              <a class="sort-item" onclick="toSearch(this,7)" id="p.quantity" data-cnzz-event="搜索列表页|LT_Sort_StockQty">{{ sort_inventory }}
                                  <span class="sequence-icon">
                        <i class="giga icon-down-solid"></i>
                        <i class="giga icon-iup"></i>
                      </span>
                              </a>
                          {% endif %}

                          {% if 'pas.quantity' == sort %}
                              <a class="sort-item active" onclick="toSearch(this,8)" id="pas.quantity" data-cnzz-event="搜索列表页|LT_Sort_QtySold">{{ sort_sold }}
                                  <span class="sequence-icon">
                      {% if 'DESC' == order %}
                          <i class="giga icon-down-solid"></i>
                          <i class="giga icon-iup active"></i>
                    {% else %}
                          <i class="giga icon-down-solid active"></i>
                          <i class="giga icon-iup"></i>
                      {% endif %}
                      </span>
                              </a>
                          {% else %}
                              <a class="sort-item" onclick="toSearch(this,8)" id="pas.quantity">{{ sort_sold }}
                                  <span class="sequence-icon">
                        <i class="giga icon-down-solid"></i>
                        <i class="giga icon-iup"></i>
                      </span>
                              </a>
                          {% endif %}

                          {% if 'p.date_added' == sort %}
                              <a class="sort-item active" onclick="toSearch(this,9)" id="p.date_added" data-cnzz-event="搜索列表页|LT_Sort_DatePosted">{{ sort_post_date }}
                                  <span class="sequence-icon">
                        {% if 'DESC' == order %}
                            <i class="giga icon-down-solid"></i>
                            <i class="giga icon-iup active"></i>
                        {% else %}
                            <i class="giga icon-down-solid active"></i>
                            <i class="giga icon-iup"></i>
                        {% endif %}
                      </span>
                              </a>
                          {% else %}
                              <a class="sort-item " onclick="toSearch(this,9)" id="p.date_added" data-cnzz-event="搜索列表页|LT_Sort_DatePosted">{{ sort_post_date }}
                                  <span class="sequence-icon">
                        <i class="giga icon-down-solid"></i>
                        <i class="giga icon-iup"></i>
                      </span>
                              </a>
                          {% endif %}

                          {% if 'return_rate' == sort %}
                              <a class="sort-item active last" onclick="toSearch(this,10)" id="return_rate" data-cnzz-event="搜索列表页|LT_Sort_ReturnRate">{{ sort_return_rate }}
                                  <span class="sequence-icon">
                      {% if 'DESC' == order %}
                          <i class="giga icon-down-solid"></i>
                          <i class="giga icon-iup active"></i>
                      {% else %}
                          <i class="giga icon-down-solid active"></i>
                          <i class="giga icon-iup"></i>
                      {% endif %}
                      </span>
                              </a>
                          {% else %}
                              <a class="sort-item last" onclick="toSearch(this,10)" id="return_rate" data-cnzz-event="搜索列表页|LT_Sort_ReturnRate">{{ sort_return_rate }}
                                  <span class="sequence-icon">
                        <i class="giga icon-down-solid"></i>
                        <i class="giga icon-iup"></i>
                      </span>
                              </a>
                          {% endif %}
                      </div>
                      <div id="pageLimit" class="pull-right my-search text-right grid-list">
                          <button type="button" id="grid-view" class="btn-icon text-bigger btn-outline-clear" data-toggle="tooltip" title="{{ button_grid }}">
                              <img src="image/icons/grid.png">
                          </button>
                          <button type="button" id="list-view" class="btn-icon text-bigger btn-outline-clear" data-toggle="tooltip" title="{{ button_list }}">
                              <img src="image/icons/list.png">
                          </button>
                      </div>
                  </div>
              </div>
            {% if products %}
              <div  class="product-collection">
                <div class="product-all-list box-bg" id="product_all_list">
                  <div class="col-sm-12 no-padding just-flex">
                    {% for key,product in products %}
                    <div class="col-sm-3 grid-layout product-show shadow box-bg" {% if (key+1)%4 == 0 %} style="border-right: none" {% endif %}>
                      {% include 'giga/template/_parts/product_simple_grid_list.twig' %}
                    </div>
                    {% if (key+1)%4 == 0 and (key != products|length - 1) %}
                    </div>
                    <div class="col-sm-12 no-padding">
                    {% endif %}
                    {# 最后一行不满四个特殊处理 #}
                       {% if (key==products|length - 1) and (key+1)%4 > 0 %}
                       <div class="col-sub"></div>
                       {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="new-page box-bg" id="seller-collection">
                  <div class="text-right">{{ pagination }}{{ results }}</div>
                </div>
              </div>
            {% else %}
              <div class="no-products text-larger text-bold text-center">
                Your filter conditions did not match any existing products, please try again.
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{# 吸顶 #}
<div class="fixed-ceiling">
  <div class="batch-operations flex-layout" {% if not isLogin or (download_csv_privilege != 1) %} style="justify-content: flex-end" {% endif %}>
        {% if isLogin %}
            {% if download_csv_privilege == 1 %}
                <div class="flex-layout">
                        {% if download_csv_privilege or (not is_partner and isLogin) %}
                            <div class="form-group input-group no-margin flex-layout">
                                <label class="no-margin text-weight-normal flex-layout">
                                    <input type="hidden" id="choose_product" value=''>
                                    <input type="hidden" id="product" value=''>
                                    <input type="checkbox" onclick="boxSelectAll();" id="boxSelect" value="1"
                                           autocomplete="off"
                                           class="checkbox-style2 small-checkbox pointer">
                                    <span class="ml-04"> Select All</span>
                                </label>
                                <span class="ml-4 mr-4"><span class="select-number text-warning" id="selectNum">0</span>&nbsp;item(s) selected</span>
                            </div>
                        {% endif %}
                        <button onclick="getProfileTrigger('batch_download')" class="btn-link p0 btn-outline-clear"  data-mycnzz="true" data-mycnzz-page="搜索列表页" data-mycnzz-event="LT_All_Download">
                            <i class="giga font12"></i>Download Product Info
                        </button>
                        <span class="vertical-bar"></span>
                        <button onclick="getProfileTrigger('batch_wish')" class="btn-link p0 btn-outline-clear" data-mycnzz="true" data-mycnzz-page="搜索列表页" data-mycnzz-event="LT_All_SavedItems">
                            <i class="giga font12"></i>Add to Saved Items
                        </button>
                    </div>
            {% endif %}
        {% endif %}
        <div class="ceiling-search">
            <div id="ceiling-search" class="input-group">
                <input type="text" name="search" value="{{ search }}" placeholder="I'm shopping for..."
                       class="form-control input-lg system-top-search-placeholder activation-input right-radius btn-baxshadow-clear"
                               autocomplete="off" maxlength="255"/>
                <span class="input-group-btn">
                      <button type="button" class="btn btn-search left-radius" data-cnzz-event="页面头部|Hd_Search">
                          <i class="giga icon-V10_sousuotubiao text-most"></i>
                      </button>
                </span>
            </div>
        </div>
  </div>
</div>
<script type="text/javascript" src="catalog/view/javascript/layui/layui.all.js?v={{ app_version }}"></script>
<link rel="stylesheet" href="catalog/view/javascript/product_category/css/jquery-labelauty.css?v={{ app_version }}">
<script>
  {#搜索吸顶#}
  var ceiling = function () {
        {#搜索吸顶#}
        let allWidth = $(window).width();
        let leftCoop = $("#content_product .center-list").offset()['left'];
        let rightCoop = Number(leftCoop) - Number(250);
        let width = Number(allWidth) - Number(leftCoop) + 20;
        let heightCoop = $("#content_product").offset()['top'];
        $(window).scroll(function (e) {
            if (allWidth>1440){
                if ($(this).scrollTop() > heightCoop){
                    $(".fixed-ceiling").css({'display':'block','width':width,'padding-right':rightCoop});
                }else{
                    $(".fixed-ceiling").css('display','none')
                }
            }else{
                if ($(this).scrollTop() > heightCoop){
                    $(".fixed-ceiling").css({'display':'block','width':allWidth,'padding-right':60});
                }else{
                    $(".fixed-ceiling").css('display','none')
                }
            }
        });
  };
  var search = function () {
    $("#ceiling-search input").bind('input propertychange change',function () {
      var ceilingVal =  $("#ceiling-search input").val();
      $(".header-search #search input").val(ceilingVal)
    }).on('keydown', function (e) {
      if (e.keyCode == 13) {
        $('header #search').find('button').trigger('click');
      }
    });
    $('#ceiling-search').find('button').on('click', function() {
      // 触发header的搜索
      $('header #search').find('button').trigger('click');
    })
  };
  var select = function(){
    let min_price = $('#min_price').val()||0;
    let max_price = $('#max_price').val()||"above";
    let min_quantity = $('#min_quantity').val()||0;
    let max_quantity = $('#max_quantity').val()||"above";
    var article = $("#selectionCriteria  .select-checkbox > .tool-item .checkbox-style1:checked");
    var arrOption = new Array();
    $.each(article,function(){
      let selectID =  $(this).attr("id");
      let option = $('#'+selectID).parent('div').find('span').text();
      let optionTitle = $('#' + selectID).parents('.tool-item ').find('.side-title').text().trim();
      console.log( optionTitle)
      // console.log(optionTitle)
      arrOption.push({
        id:selectID,
        option:option,
        optionTitle:optionTitle
      });
    });
    var true1 = $("#min_quantity").val() !=""||$("#max_quantity").val()!="";
    var true2 = $("#min_price").val()!=""||$("#max_price").val()!="";
    if (true1 && true2){
      var selectList = "<button id='priceBtn'>Unit Price:&nbsp;"+ min_price +"-"+ max_price +" <i class='giga icon-sidebar-clear ml-1 text-bold remove-filter pointer'></i></button> <button id='qtyBtn'>Qty Available:&nbsp;"+ min_quantity +"-"+ max_quantity +"<i class='giga icon-sidebar-clear ml-1 text-bold remove-filter pointer'></i></button>";
    } else if($("#min_quantity").val()||$("#max_quantity").val()){
      var selectList = "<button id='qtyBtn'>Qty Available:&nbsp;"+ min_quantity +"-"+ max_quantity +" <i class='giga icon-sidebar-clear ml-1 text-bold remove-filter pointer'></i></button>";
    } else if ($("#min_price").val()||$("#max_price").val()){
      var selectList = "<button id='priceBtn'>Unit Price:&nbsp;"+ min_price +"-"+ max_price +"<i class='giga icon-sidebar-clear ml-1 text-bold remove-filter pointer'></i></button>";
    } else{
      var selectList = "";
    }
    for(var i in arrOption){
      selectList += `<button id="${arrOption[i].id+'Btn' }"> ${arrOption[i].optionTitle}:&nbsp;${arrOption[i].option} <i class='giga icon-sidebar-clear ml-1 text-bold remove-filter pointer'></i></button>`;
    }
    if(selectList){
      $('#selectFilters').show();
    }else{
      $('#selectFilters').hide();
    }
    $("#clear").before(selectList)
  }
  $(document).ready(function () {
    select();
    inputChange();
    ceiling();
    search();
  });
  var remove = $(".select-filters > div > button");
  $('body').on('click', '.select-filters > div > button > i', function () {
    var removeID =  $(this).parent("button").attr("id");
    var inputID = removeID.substring(0,removeID.length-3);
    if ($('#'+inputID).attr('type') == 'checkbox'){
      $('#'+inputID).attr("checked",false);
    }else{
      $('#'+inputID).find('input[type=text]').val("")
    }
    $(this).parent("button").hide();
    toSearch(this);
  });
  $('body').on('click', '#clear', function () {
    $("#selectFilters").hide();
    $(".tool-item input[type=text]").val("");
    $(".tool-item input[type=checkbox]").attr("checked",false);
    toSearch(this);
  });

  var inputChange = function(){
      //数量价格筛选
      $("#price input[type=text]").bind("input propertychange change", function() {
          if ($(this).val() != '') {
              $("#price div.btn").addClass('active')
          }else{
              $("#price div.btn").removeClass('active')
          }
      });
      $("#qty input[type=text]").bind("input propertychange change", function() {
          if ($(this).val() != '') {
              $("#qty div.btn").addClass('active')
          }else{
              $("#qty div.btn").removeClass('active')
          }
      });
  };

  $("#product_all_list .product-simple-template-new .check > input[type=checkbox]").on('change',function () {
      var len =  $("#product_all_list").find(".product-simple-template-new .check > input[type=checkbox]:checked").length;
      if (len){
          $('#boxSelectNum').text(len);
          $('#selectNum').text(len);
      }else{
          $('#boxSelectNum').text(0);
          $('#selectNum').text(0);
      }
  });
</script>
<script>
  $(function() {
      // 初始化内容
      var layer = layui.layer;

      let min_price = $("#min_price").val()||0;
      let max_price = $("#max_price").val()||"above";
      let min_quantity = $("#min_quantity").val()||0;
      let max_quantity = $("#max_quantity").val()||"above";

    $("#category-price-category li").each(function(index, dom){
      let interval = $(dom).data("interval");
      if ((min_price + '-' + max_price) == interval) {
        $(dom).addClass("mp-active");
        $(dom).find('a').addClass("mp_active");
      }
    });
    $("#category-quantity-ul li").each(function (index, dom) {
      let interval = $(dom).data("interval");
      if ((min_quantity + '-' + max_quantity) == interval) {
        $(dom).addClass("mp-active");
        $(dom).find('a').addClass("mp_active");
      }
    });

      var tips;
      $('.tips').on({
        mouseenter: function () {
          var that = this;
  //        var text_date = $(that).attr('text-date');
  //        var text_qty = $(that).attr('text-qty');
  //        tips = layer.tips("<span style='color:#000;'>Date of next arrival:&nbsp;" + text_date + "</span><br/><span style='color:#000;'>Estimated quantity of next arrival:&nbsp;" + text_qty + "</span>", that,
  //          {tips: [2, '#fff'], time: 4000});
          $(that).next().show();
        },
        mouseleave: function () {
  //        setTimeout(function () {
  //          layer.close(tips);
  //        }, 1000);
          var that = this;
          $(that).next().hide();

        }
      });

      /*分类*/
      $("#search-sort-title").click(function(){
        $("#search-sort-category").show();
      });
      /*分类*/
      $("#search-sort-category li").click(function(){
        var that = this;
        let cat_id = $(that).attr("value");
        let cat_name = $(that).find("a").html();
        $("#search-sort-title").html(cat_name);
        $("select[name='category_id']").val(cat_id);
      });

    // 排序
    $(".sort-item").on('click',function () {
      $(this).addClass('active').siblings().removeClass('active');
    });


    $(".to_store_home").click(function (ev) {
      if (ev.target != this) {
        return;
      } else {
        var seller_id = $(this).attr("seller_id");
        getSeller(seller_id);
      }
    });
  });

  function getSellerContact(seller_id,sku) {
    //window.location.href = 'index.php?route=customerpartner/profile&id='+ seller_id +'&itemCode='+sku+'&contact=1';
    var url = "{{ url('message/seller/addMessage', {'receiver_id':''}) }}" + seller_id + '&item_code=' + sku;
    window.open(url,'_blank');
  }

</script>
<script type="text/javascript">
  let isLogin = {{ isLogin ? 1 : 0 }};
  let searchUrl = getUrl();
  let min_price, max_price, min_quantity, max_quantity;
  $(document).ready(function () {
    var category_id = '{{ category_id }}';
    var category_value = '#category-value-' + category_id;
    var category_icon = '#category-icon-' + category_id;
    $(category_value).css({'color': '#004bd8'});
    $(category_icon).show();
    $(category_value).attr({"disabled":"disabled"});
    $('.toggle-icon').trigger('click');
  });
  $('body').on('click', '#myColumn a', function () {
    let eleFilterPrice = $('.panel-filter-price-category').find("a.mp-active");
    let eleFilterQuantity = $('.panel-filter-quantity-category').find("a.mp-active");
    if (eleFilterPrice.length > 0) {
      min_price = $(eleFilterPrice[0]).data('min');
      max_price = $(eleFilterPrice[0]).data('max');
    }

    if (eleFilterQuantity.length > 0) {
      min_quantity = $(eleFilterQuantity[0]).data('min');
      max_quantity = $(eleFilterQuantity[0]).data('max');
    }
    //category

    if ($(this).parent().parent().hasClass('hidden-xs')) {
      categoryActiveUrl = $(this).data('collection-url');
    } else {    //price&quantity
      if (!isLogin) {
        layer.alert('Login/Register to get the price/quantities！', {
          title: 'Message',
          btn : 'OK',
          skin: 'yzc_layer', //样式类名
          closeBtn: 0
        });
        return false;
      }

      if ($(this).hasClass('filter-price')) {
        if ($(this).hasClass('filter_button')) {
          min_price = $('#min_price').val();
          max_price = $('#max_price').val();
        } else {
          min_price = $(this).data('min');
          max_price = $(this).data('max');
        }
      } else {
        if ($(this).hasClass('filter_button')) {
          min_quantity = $('#min_quantity').val();
          max_quantity = $('#max_quantity').val();
        } else {
          min_quantity = $(this).data('min');
          max_quantity = $(this).data('max');
        }
      }
    }
    toSearch(this);
    return false;
  }).on('change', '#column-left-filter-category input', function () {
    let inputs = $(this).parent().find('input');
    let min = $(inputs[0]).val();
    let max = $(inputs[1]).val();
    if (min !== undefined && min !== '' && max !== undefined && max !== '') {
      if (parseFloat(min) > parseFloat(max)) {
        layer.alert('Min/Max Filling Error!', {
          title: 'Message',
          btn : 'OK',
          skin: 'yzc_layer', //样式类名
          closeBtn: 0
        });
        $(this).val('');
      }
    }
  });

  function getProfileTrigger(id) {
        $('#' + id).trigger('click');
  }

  function boxSelectAll() {
    return $('#all_products_info').trigger('click');
  }

function getUrl() {
  var url = "{{ url('product/search') }}";
  var search = $('#content_product input[name="search"]').prop('value');

  if (search) {
    url += '&search=' + encodeURIComponent(search);
  }
  var category_id = $('#content_product select[name="category_id"]').prop('value');
  if (category_id > 0) {
    url += '&category_id=' + encodeURIComponent(category_id);
  }

  return url;
}

$('#button-search').bind('click', function() {
  url = getUrl();
	location = url;
});

$('#content_product input[name="search"]').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name="category_id"]').trigger('change');

  function toSearch(_this, click = null,category_id = null) {
    if($(_this).attr('disabled')){
      return;
    }
    layer.load(1,{shade: [0.3,'#000']});
    let old_search = '{{ search }}';
    let url = $("#main_url").val();
    let min_price = $('#min_price').val();
    let max_price = $('#max_price').val();
    let min_quantity = $('#min_quantity').val();
    let max_quantity = $('#max_quantity').val();
    let qty_status = $("#products-stock")[0].checked;
    if(qty_status){
      if (!isLogin) {
        layer.closeAll();
        $("#products-stock").prop("checked",false);
        layer.alert('Login/Register to get the price/quantities！', {
          title: 'Message',
          btn: 'OK',
          skin: 'yzc_layer', //样式类名
          closeBtn: 0
        });
        return false;
      }
      url = url + '&qty_status=1';
    }

    // price & quantity 有问题的情况下未登录需要提示报错
   if (!isLogin) {
       if(min_price
           || max_price
           || min_quantity
           || max_quantity)
       {
           min_price = '';
           max_price = '';
           min_quantity = '';
           max_quantity = '';
       }
   }
    // 全选的时候不查询，要选中,没有全选的时候也要查询，也要选中

    var image_status;
    let img_status = $("#complete_images")[0].checked;
    if (!img_status){
      image_status = 0;
    }else {
      image_status = 1;
    }

    let old_sort = $('#form_sort').val();
    let order = $('#form_order').val();
    let sort_arr = ['sort_order','p.price', 'p.quantity', 'pas.quantity', 'p.date_added', 'return_rate'];
    let sort = '';
    let sort_flag = sort_arr.indexOf(_this.id);

    if (sort_flag > 0) {
      sort = _this.id;
      if (sort == old_sort) {//排序项未变
        if (order == 'DESC') {
          order = 'ASC';
        } else {
          order = 'DESC';
        }
      } else if (sort == 'p.price' || sort == 'return_rate') {//价格、退返率默认升序
        order = 'ASC';
      } else {
        order = 'DESC';
      }
    }

    if (min_price !== undefined && min_price !== '') {
      url += '&min_price=' + min_price;
    }
    if (max_price !== undefined && max_price !== '') {
      url += '&max_price=' + max_price;
    }
    if (min_quantity !== undefined && min_quantity !== '') {
      url += '&min_quantity=' + min_quantity;
    }
    if (max_quantity !== undefined && max_quantity !== '') {
      url += '&max_quantity=' + max_quantity;
    }

    // 增加复杂交易
    let  rebates = $("#rebates")[0].checked;
    let  margin = $("#margin")[0].checked;
    let  futures = $("#futures")[0].checked;
    if(margin){
        url += '&margin=' + margin;
    }

    if(rebates){
        url += '&rebates=' + rebates;
    }

    if(futures){
        url += '&futures=' + futures;
    }

    // 仓库分布
     let isWarehouseProductDistribution = '{{ isWarehouseProductDistribution }}';
     if(isWarehouseProductDistribution){
         var inventoryIds = [];
         $("input[name='whId']:checked").each(function(i){
             inventoryIds.push($(this).val());
         });
         let inventoryString = inventoryIds.join(',');
         if(inventoryString){
             url += '&whId=' + inventoryString;
         }
     }

    if (isLogin){
      var download_status;
      var downloaded;
      var notDownloaded;

      downloaded = $("#downloaded")[0].checked;
      notDownloaded = $("#notDownloaded")[0].checked;

      if(downloaded && notDownloaded){
        download_status = 3;
      }else{
        download_status = $("input[name='search_download_status']:checked").val();
      }

      var wish_status;
      var saved;
      var notSaved;
      saved = $("#savedInput")[0].checked;
      notSaved = $("#notSaved")[0].checked;
      if(saved  && notSaved){
        wish_status = 3;
      }else{
        wish_status = $("input[name='search_wish_status']:checked").val();
      }

      var purchase_status;
      var purchased;
      var notPurchased;
      if(idExist('purchased')){
        purchased = $("#purchased")[0].checked;
        notPurchased = $("#notPurchased")[0].checked;

        if(purchased  && notPurchased ){
          purchase_status = 3;
        }else{
          purchase_status = $("input[name='search_purchase_status']:checked").val();
        }
      }

      var relation_status;
      var relation;
      var notRelation;

      relation = $("#relation")[0].checked;
      notRelation = $("#notRelation")[0].checked;

      if(relation  && notRelation ){
        relation_status = 3;
      }else{
        relation_status = $("input[name='search_relation_status']:checked").val();
      }
      if (download_status > 0){
        url = url + '&download_status=' + download_status;
      }
      if (wish_status > 0){
        url = url + '&wish_status=' + wish_status;
      }
      if (purchase_status > 0){
        url = url + '&purchase_status=' + purchase_status;
      }
      if (relation_status > 0){
        url = url + '&relation_status=' + relation_status;
      }
    }

    if (image_status > 0){
      url = url + '&img_status=' + image_status;
    }
    if (sort){
        url = url + '&sort=' + sort;
        if (order){
          url = url + '&order=' + order;
        }
    }

    if(click){
      url = url + '&click=' + click;
    }

    if(old_search){
      url = url + '&search=' + encodeURIComponent(old_search);
    }

    if(category_id || (category_id == 0)){
        $('#category_id').val(category_id);
        url = url + '&category_id=' + category_id;
    }else{
      category_id = $('#category_id').val();
      url = url + '&category_id=' + category_id;
    }

    url = url + '&search_tag=1';

    // window.location.href = url;
    $("#product-category").load(url + " #search-result", function () {
      layer.closeAll();
      var category_value = 'category-value-' + category_id;
      var category_icon = 'category-icon-' + category_id;
      $('#' + category_value).css({'color': '#004bd8'});
      $('#' + category_icon).show();
      $('#' + category_value).attr({"disabled":"disabled"});
      $('.toggle-icon').trigger('click');
      if (localStorage.getItem('display') == 'list') {
        $('#list-view').trigger('click');
        $('#list-view').addClass('active');
      } else {
        $('#grid-view').trigger('click');
        $('#grid-view').addClass('active');
      }
      select(min_price,max_price,min_quantity,max_quantity);
      //数量价格筛选
      inputChange();
      // select All 清除
      checkChoose();
      $('#seller-collection .dropdown-item').on('click',function() {
        let current_page_limit = $('#form_limit').val();
        let page_limit = $(this).html();
        if (current_page_limit == page_limit) return;
        location.href = $(this).data('href');
      })
    });
  }

</script>
<script src="catalog/view/javascript/product_category/product_category.js?v={{ app_version }}"></script>
{{ footer }}