{{ header }}
<style>
  #saleAndPurchaseTable{
    font-size: 12px;
  }
    .ml-0{
        margin-left: 0 !important;
    }
</style>
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"
        type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css"
      rel="stylesheet" media="screen"/>
<div id="page-sale-purchase-bill" class="page-seller-portal">
  {% include 'giga/template/_parts/breadcrumb_simple.twig' %}

  <div id="account-order" class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ text_sales_purchase_bill }}</h1>
      </div>
    </div>
    <div class="row mb-4">
      <div id="content" class="col-sm-12">
        <div class="tab-content main">
          <div role="tabpanel" class="tab-pane active" id="tab-1">
            <div class="bg-white p-2">
              <div class="filter-wrapper form-wrapper mt-3 mb-3">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="" for="input-orderId"><span
                          style="font-weight: bold">{{ column_sales_order_id }}</span></label>
                      <input type="text" name="filter_sales_order_id" value="{{ filter_sales_order_id }}"
                             placeholder="{{ column_sales_order_id }}" id="filter_sales_order_id"
                             class="form-control"/>
                    </div>
                    <div class="form-group">
                      <label class="" for="input-orderId"><span
                          style="font-weight: bold">{{ column_sales_order_status }}</span></label>
                      <select name="filter_sales_order_status" id="filter_sales_order_status"
                              class="form-control">
                        <option value=""> --- Select a status ---</option>
                        {% for orderStatus in salesOrderStatus %}
                          <option
                            value="{{ orderStatus['DicKey'] }}"{% if filter_sales_order_status ==  orderStatus['DicKey'] %} selected{% endif %}>{{ orderStatus['DicValue'] }}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group">
                      <label class="" for="input-date-added"><span style="font-weight: bold">{{ column_create_time }}</span></label>
                      <div class="datetimepicker-range">
                        <div class="datetimepicker">
                          <input type="text" name="filter_create_time" value="{{ filter_create_time }}"
                                 placeholder="Pick a date..." data-date-format="YYYY-MM-DD 00:00:00"
                                 id="filter_create_time" class="form-control"/>
                          <span class="title">From</span>
                          <span class="icon"><i class="giga icon-date-icon"></i></span>
                        </div>
                        <div class="datetimepicker">
                          <input type="text" name="filter_create_time_end" value="{{ filter_create_time_end }}"
                                 placeholder="Pick a date..." data-date-format="YYYY-MM-DD 23:59:59"
                                 id="filter_create_time_end" class="form-control"/>
                          <span class="title">To</span>
                          <span class="icon"><i class="giga icon-date-icon"></i></span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="" for="input-item_code"><span
                          style="font-weight: bold">{{ column_purchase_order_id }}</span></label>
                      <input type="text" name="filter_purchase_order_id" value="{{ filter_purchase_order_id }}"
                             placeholder="{{ column_purchase_order_id }}" id="filter_purchase_order_id"
                             class="form-control"/>
                    </div>
                    <div class="form-group">
                      <label class="" for="input-item_code"><span
                          style="font-weight: bold">{{ column_store }}</span></label>
                      <select class="form-control" name="filter_store" id="filter_store">
                        <option value=""> --- Select a store ---</option>
                        {% for store in stores %}
                          <option value="{{ store.seller_id }}"
                            {% if filter_store == store.seller_id %}
                              selected
                            {% endif %}
                          >{{ store.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="" for="input-item_code"><span style="font-weight: bold">{{ column_purchase_order_date }}</span></label>
                      <div class="datetimepicker-range">
                        <div class="datetimepicker">
                          <input type="text" name="filter_purchase_order_date"
                                 value="{{ filter_purchase_order_date }}"
                                 placeholder="Pick a date..." data-date-format="YYYY-MM-DD 00:00:00"
                                 id="filter_purchase_order_date" class="form-control"/>
                          <span class="title">From</span>
                          <span class="icon"><i class="giga icon-date-icon"></i></span>
                        </div>
                        <div class="datetimepicker">
                          <input type="text" name="filter_purchase_order_date_end"
                                 value="{{ filter_purchase_order_date_end }}"
                                 placeholder="Pick a date..." data-date-format="YYYY-MM-DD 23:59:59"
                                 id="filter_purchase_order_date_end" class="form-control"/>
                          <span class="title">To</span>
                          <span class="icon"><i class="giga icon-date-icon"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="" for="input-item_code"><span
                          style="font-weight: bold">{{ column_item_code }}</span></label>
                      <input type="text" name="filter_item_code" value="{{ filter_item_code }}"
                             placeholder="{{ column_item_code }}" id="filter_item_code"
                             class="form-control"/>
                    </div>
                    <div class="form-group" >
                      <label class="" for="filter_order_type"><span
                          style="font-weight: bold">{{ column_order_type }}</span></label>
                      <div class="row" style="line-height: 40px;height: 40px">
                        <div class="col-md-6">
                          <label class="radio-inline p-0" style="font-weight: normal;cursor: pointer;">
                            <input type="radio" name="filter_order_type" value="1"
                              {% if  filter_order_type == 1 %} checked{% endif %}>
                            <span class="ml-0">{{ column_sales_order }}</span>
                          </label>
                        </div>
                        <div class="col-md-6">
                          <label class="radio-inline p-0" style="font-weight: normal;cursor: pointer;">
                            <input type="radio" name="filter_order_type"
                                   value="2" {% if  filter_order_type == 2 %} checked{% endif %}>
                            <span class="ml-0">{{ column_purchase_order }}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="" for="input-item_code"><span
                          style="font-weight: bold">{{ column_order_relationship }}</span></label>
                      <select name="filter_relationship_type" id="filter_relationship_type" class="form-control">
                        <option
                          value="1" {% if filter_relationship_type == 1 %} selected {% endif %}>{{ column_relationship }}</option>
                        <option
                          value="2" {% if filter_relationship_type == 2 %} selected {% endif %}>{{ column_non_relationship }}</option>
                      </select>
                    </div>
                    <div class="form-group pull-right">
                      <button type="button" onclick="filter(this);" class="btn btn-primary">{{ button_filter }}</button>
                      <button id="download" onclick="downloadSalesAndPurchaseOrder();"
                              class="btn btn-default"
                              data-toggle="tooltip" title="{{ text_download }}">
                        <i class="fa fa-download"></i>
                      </button>
                      <button onclick="refresh(this);" class="btn btn-default"
                              data-toggle="tooltip" title="{{ text_reset }}"
                              data-original-title="{{ text_reset }}">
                        {{ text_reset }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>


              {% if orders %}
                <div style="position:relative">
                  <div class="table-responsive" style="">
                    <table class="table main table-hover" id="saleAndPurchaseTable">
                      <thead>
                      {% if filter_order_type == 1 and filter_relationship_type == 2 %}
                        <tr>
                          <th class="text-center no-wrap">{{ column_sales_order_id }}</th>
                          <th class="text-center no-wrap">{{ column_ship_to_name }}</th>
                          <th class="text-center no-wrap">{{ column_ship_to_address }}</th>
                          <th class="text-center no-wrap">{{ column_create_time }}</th>
                          <th class="text-center no-wrap">{{ column_item_code }}</th>
                          <th class="text-center no-wrap">Sales Order Quantity</th>
                          <th class="text-center no-wrap">{{ column_sales_order_status }}</th>
                        </tr>
                      {% elseif filter_order_type == 2 and filter_relationship_type == 2 %}
                        <tr>
                          <th class="text-center no-wrap">{{ column_purchase_order_id }}</th>
                          <th class="text-center no-wrap">{{ column_purchase_order_date }}</th>
                          <th class="text-center no-wrap">{{ column_item_code }}</th>
                          <th class="text-center no-wrap">{{ column_deal_unit_price }}</th>
                          <th class="text-center no-wrap">Purchase Quantity</th>
                          {% if showServiceFee %}
                            <th class="text-center no-wrap">{{ column_service_fee }}</th>
                          {% endif %}
                          <th class="text-center no-wrap">{{ column_freight }}
                            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer;font-size: 12px" title="" data-original-title="Fulfillment fee includes shipping fee and packing fee."></i>
                          </th>
                          <th class="text-center no-wrap">{{ column_transaction_fee }}</th>
                          <th class="text-center no-wrap">{{ column_total_amount }}</th>
                        </tr>
                      {% else %}
                        <tr>
                          <th class="text-center no-wrap">{{ column_sales_order_id }}</th>
                          <th class="text-center no-wrap">{{ column_ship_to_name }}</th>
                          <th class="text-center no-wrap">{{ column_ship_to_address }}</th>
                          <th class="text-center no-wrap">{{ column_create_time }}</th>
                          <th class="text-center no-wrap">{{ column_item_code }}</th>
                          <th class="text-center no-wrap">{{ column_deal_unit_price }}</th>
                          <th class="text-center no-wrap">{{ column_quantity }}</th>
                          {% if showServiceFee %}
                            <th class="text-center no-wrap">{{ column_service_fee }}</th>
                          {% endif %}
                          <th class="text-center no-wrap">{{ column_freight }}
                            <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" style="cursor: pointer;font-size: 12px" title="" data-original-title="Fulfillment fee includes shipping fee and packing fee."></i>
                          </th>
                          <th class="text-center no-wrap">{{ column_transaction_fee }}</th>
                          <th class="text-center no-wrap">{{ column_total_amount }}</th>
                          <th class="text-center no-wrap">{{ column_store }}</th>
                          <th class="text-center no-wrap">
                            {{ column_purchase_order_id }}
                          </th>
                          <th class="text-center no-wrap">{{ column_purchase_order_date }}</th>
                          <th class="text-center no-wrap">{{ column_sales_order_status }}</th>
                        </tr>
                      {% endif %}
                      </thead>
                      <tbody>
                      {% for order in orders %}
                        {% if filter_order_type == 1 and filter_relationship_type == 2 %}
                          <tr>
                            <td class="text-center no-wrap">{{ order.sales_order_id }}</td>
                            <td class="text-center no-wrap">{{ order.ship_name }}</td>
                            <td class="text-center no-wrap">{{ order.ship_address }}</td>
                            <td class="text-center no-wrap">{{ order.create_time }}</td>
                            <td class="text-center no-wrap">{{ order.item_code }}
                              {% for tagDetail in order.tag %}
                                {{ tagDetail }}
                              {% endfor %}
                            </td>
                            <td class="text-center no-wrap">{{ order.quantity }}</td>
                            <td class="text-center">
                              <div class="action-group">
                                {{ order.sales_order_status }}
                              </div>
                            </td>
                          </tr>
                        {% elseif filter_order_type == 2 and filter_relationship_type == 2 %}
                          <tr>
                            <td class="text-center no-wrap">
                              {{ order.purchase_order_id }}
                              {% if (order.delivery_type==2) %}
                                <i class="giga icon-cwf" style="color: #1f5268;font-size: 15px" data-toggle="tooltip" data-original-title="{{ cwf }}"></i>
                              {% endif %}
                            </td>
                            <td class="text-center no-wrap">{{ order.purchase_order_date }}</td>
                            <td class="text-center no-wrap">{{ order.item_code }}
                              {% for tagDetail in order.tag %}
                                {{ tagDetail }}
                              {% endfor %}
                            </td>
                            <td class="text-center no-wrap">{{ order.unit_price }}</td>
                            <td class="text-center no-wrap">{{ order.quantity }}</td>
                            {% if showServiceFee %}
                              <td class="text-center no-wrap">{{ order.service_fee }}</td>
                            {% endif %}
                            <td class="text-center no-wrap">{{ order.freight_per }}
                              {% if order.freight_diff %}
                                <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" style="cursor: pointer;font-size: 12px" title="{{ order.tips_freight_difference_per }}"></i>
                              {% endif %}
                            </td>
                            <td class="text-center no-wrap">{{ order.transaction_fee }}</td>
                            <td class="text-center">
                              <div class="action-group">
                                {{ order.amount_total }}
                              </div>
                            </td>
                          </tr>
                        {% else %}
                          <tr>
                            <td class="text-center no-wrap">{{ order.sales_order_id }}</td>
                            <td class="text-center no-wrap">{{ order.ship_name }}</td>
                            <td class="text-center no-wrap">{{ order.ship_address }}</td>
                            <td class="text-center no-wrap">{{ order.create_time }}</td>
                            <td class="text-center no-wrap">{{ order.item_code }}
                              {% for tagDetail in order.tag %}
                                {{ tagDetail }}
                              {% endfor %}
                            </td>
                            <td class="text-center no-wrap">{{ order.unit_price }}</td>
                            <td class="text-center no-wrap">{{ order.quantity }}</td>
                            {% if showServiceFee %}
                              <td class="text-center no-wrap">{{ order.service_fee }}</td>
                            {% endif %}
                            <td class="text-center no-wrap">{{ order.freight_per }}
                              {% if order.freight_diff %}
                                <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" style="cursor: pointer;font-size: 12px" title="{{ order.tips_freight_difference_per }}"></i>
                              {% endif %}
                            </td>
                            <td class="text-center no-wrap">{{ order.transaction_fee }}</td>
                            <td class="text-center no-wrap">{{ order.amount_total }}</td>
                            <td class="text-center no-wrap">{{ order.screenname }}</td>
                            <td class="text-center no-wrap">
                              {{ order.purchase_order_id }}
                              {% if (order.delivery_type==2) %}
                                <i class="giga icon-cwf" style="color: #1f5268;font-size: 15px;" data-toggle="tooltip" data-original-title="{{ cwf }}"></i>
                              {% endif %}
                            </td>
                            <td class="text-center no-wrap">{{ order.purchase_order_date }}</td>
                            <td class="text-center">
                              <div class="action-group">
                                {{ order.sales_order_status }}
                              </div>
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-sm-12 text-right">{{ pagination }}</div>
                  {#    <div class="col-sm-6 text-right">{{ results }}</div>#}
                </div>
              {% else %}
                <p class="text-center">{{ text_empty }}</p>
              {% endif %}

{#              <div class="text-center mt-2">#}
{#                <a href="{{ continue }}" class="btn btn-primary">Continue</a>#}
{#              </div>#}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="myForm" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">You have a payment not finished</h4>
      </div>
      <div class="modal-body" id="myModalBody">
        <div class="table-responsive">
          <table class="table table-hover">
            <tr>
              <th class="text-right">Total({{ umf_payment['currency_yzc'] }}):</th>
              <td class="text-left">{{ umf_payment['total_yzc'] }}</td>
              <th class="text-right">Date:</th>
              <td class="text-left">{{ umf_payment['add_date'] }}</td>
            </tr>
            <tr>
              <th class="text-right">Payment Result:</th>
              <td class="text-left" colspan="3">
                <div id="result"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-submit" id="completeBtn" data-loading-text="{{ text_loading }}">
          Query payment status
        </button>
        <button type="button" class="btn btn-primary btn-submit" id="unsetBtn" data-loading-text="{{ text_loading }}">
          Ignore
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('#filter_create_time').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD 00:00:00'
    });
    $('#filter_create_time_end').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD 23:59:59'
    });
    $('#filter_purchase_order_date').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD 00:00:00'
    });
    $('#filter_purchase_order_date_end').datetimepicker({
        pickDate: true,
        pickTime: false,
        format: 'YYYY-MM-DD 23:59:59'
    });
    $(function () {
        block.unBlockUI();
    });


    /*B2B pages update*/
    var $table = $('#saleAndPurchaseTable.table');
    var $width = $table.find('th:last-child').width();
    var $fixedColumn = $table.clone().insertAfter($table).addClass('fixed-column');
    $fixedColumn.find('th:not(:last-child),td:not(:last-child)').remove();
    function calcTable() {
      $fixedColumn.find('tr').each(function (i, elem) {
        $(this).height($table.find('tr:eq(' + i + ')').height());
        $(this).find('td').width($width);
      });
    }
    calcTable();
    //$(document).on('mousemove', calc);
    /*END B2B pages update*/



    function filter(button) {
        block.blockUI();
        var url = getUrlForFilter();
        $(button).button('loading');
        window.location.href = url;
    }

    function getUrlForFilter() {
        let url = 'index.php?route=account/bill/sales_purchase_bill';
        let filter_sales_order_id = $('input[name=\'filter_sales_order_id\']').val();
        if (filter_sales_order_id) {
            url += '&filter_sales_order_id=' + encodeURIComponent(filter_sales_order_id);
        }
        let filter_sales_order_status = $('select[name=\'filter_sales_order_status\']').val();
        if (filter_sales_order_status) {
            url += '&filter_sales_order_status=' + encodeURIComponent(filter_sales_order_status);
        }
        let filter_create_time = $('input[name=\'filter_create_time\']').val();
        if (filter_create_time) {
            url += '&filter_create_time=' + encodeURIComponent(filter_create_time);
        }
        let filter_create_time_end = $('input[name=\'filter_create_time_end\']').val();
        if (filter_create_time_end) {
            url += '&filter_create_time_end=' + encodeURIComponent(filter_create_time_end);
        }
        let filter_purchase_order_id = $('input[name=\'filter_purchase_order_id\']').val();
        if (filter_purchase_order_id) {
            url += '&filter_purchase_order_id=' + encodeURIComponent(filter_purchase_order_id);
        }
        let filter_store = $('select[name=\'filter_store\']').val();
        if (filter_store) {
            url += '&filter_store=' + encodeURIComponent(filter_store);
        }
        let filter_purchase_order_date = $('input[name=\'filter_purchase_order_date\']').val();
        if (filter_purchase_order_date) {
            url += '&filter_purchase_order_date=' + encodeURIComponent(filter_purchase_order_date);
        }
        let filter_purchase_order_date_end = $('input[name=\'filter_purchase_order_date_end\']').val();
        if (filter_purchase_order_date_end) {
            url += '&filter_purchase_order_date_end=' + encodeURIComponent(filter_purchase_order_date_end);
        }
        let filter_item_code = $('input[name=\'filter_item_code\']').val();
        if (filter_item_code) {
            url += '&filter_item_code=' + encodeURIComponent(filter_item_code);
        }
        let filter_order_type = $('input[name=\'filter_order_type\']:checked').val();
        if (filter_order_type) {
            url += '&filter_order_type=' + encodeURIComponent(filter_order_type);
        }
        let filter_relationship_type = $('select[name=\'filter_relationship_type\']').val();
        if (filter_relationship_type) {
            url += '&filter_relationship_type=' + encodeURIComponent(filter_relationship_type);
        }
        //新增查询
        return url;
    }

    function downloadSalesAndPurchaseOrder() {
        url = 'index.php?route=account/bill/sales_purchase_bill/download';
        let filter_sales_order_id = $('input[name=\'filter_sales_order_id\']').val();
        if (filter_sales_order_id) {
            url += '&filter_sales_order_id=' + encodeURIComponent(filter_sales_order_id);
        }
        let filter_sales_order_status = $('select[name=\'filter_sales_order_status\']').val();
        if (filter_sales_order_status) {
            url += '&filter_sales_order_status=' + encodeURIComponent(filter_sales_order_status);
        }
        let filter_create_time = $('input[name=\'filter_create_time\']').val();
        if (filter_create_time) {
            url += '&filter_create_time=' + encodeURIComponent(filter_create_time);
        }
        let filter_create_time_end = $('input[name=\'filter_create_time_end\']').val();
        if (filter_create_time_end) {
            url += '&filter_create_time_end=' + encodeURIComponent(filter_create_time_end);
        }
        let filter_purchase_order_id = $('input[name=\'filter_purchase_order_id\']').val();
        if (filter_purchase_order_id) {
            url += '&filter_purchase_order_id=' + encodeURIComponent(filter_purchase_order_id);
        }
        let filter_store = $('select[name=\'filter_store\']').val();
        if (filter_store) {
            url += '&filter_store=' + encodeURIComponent(filter_store);
        }
        let filter_purchase_order_date = $('input[name=\'filter_purchase_order_date\']').val();
        if (filter_purchase_order_date) {
            url += '&filter_purchase_order_date=' + encodeURIComponent(filter_purchase_order_date);
        }
        let filter_purchase_order_date_end = $('input[name=\'filter_purchase_order_date_end\']').val();
        if (filter_purchase_order_date_end) {
            url += '&filter_purchase_order_date_end=' + encodeURIComponent(filter_purchase_order_date_end);
        }
        let filter_item_code = $('input[name=\'filter_item_code\']').val();
        if (filter_item_code) {
            url += '&filter_item_code=' + encodeURIComponent(filter_item_code);
        }
        let filter_order_type = $('input[name=\'filter_order_type\']').val();
        if (filter_order_type) {
            url += '&filter_order_type=' + encodeURIComponent(filter_order_type);
        }
        let filter_relationship_type = $('select[name=\'filter_relationship_type\']').val();
        if (filter_relationship_type) {
            url += '&filter_relationship_type=' + encodeURIComponent(filter_relationship_type);
        }
        window.location.href = url;
    }


</script>
<script>
    function refresh(button) {
        block.blockUI();
        $(button).button('loading');
        window.location.href = 'index.php?route=account/bill/sales_purchase_bill';
    }

    $('input[type=radio][name=filter_order_type]').change(function () {
        $("#filter_relationship_type").val("1");
        $('#download').show();
    });
    var filter_relationship_type = {{ filter_relationship_type }};
    if(filter_relationship_type == 2){
        $('#download').hide();
    }
    $('select[name=filter_relationship_type]').change(function () {
        var relationshipType = $('#filter_relationship_type').val();
        var orderType = $('input[type=radio][name=filter_order_type]:checked').val();
        if (orderType == 2 && relationshipType == 2) {
            $('#filter_sales_order_id').val('');
            $('#filter_sales_order_status').val('');
            $('#filter_create_time').val('');
            $('#filter_create_time_end').val('');
            $('#filter_sales_order_id').attr('disabled', true);
            $('#filter_sales_order_status').attr('disabled', true);
            $('#filter_create_time').attr('disabled', true);
            $('#filter_create_time_end').attr('disabled', true);
            $('#filter_purchase_order_date').attr('disabled', false);
            $('#filter_purchase_order_date_end').attr('disabled', false);
            $('#filter_purchase_order_id').attr('disabled', false);
            $('#filter_store').attr('disabled', false);
            $('#download').hide();
        } else if (orderType == 1 && relationshipType == 2) {
            $('#filter_purchase_order_id').val('');
            $('#filter_store').val('');
            $('#filter_purchase_order_date').val('');
            $('#filter_purchase_order_date').attr('disabled', true);
            $('#filter_purchase_order_date_end').val('');
            $('#filter_purchase_order_date_end').attr('disabled', true);
            $('#filter_purchase_order_id').attr('disabled', true);
            $('#filter_store').attr('disabled', true);
            $('#filter_sales_order_id').attr('disabled', false);
            $('#filter_sales_order_status').attr('disabled', false);
            $('#filter_create_time').attr('disabled', false);
            $('#filter_create_time_end').attr('disabled', false);
            $('#download').hide();
        }else{
            $('#filter_sales_order_id').attr('disabled', false);
            $('#filter_sales_order_status').attr('disabled', false);
            $('#filter_create_time').attr('disabled', false);
            $('#filter_create_time_end').attr('disabled', false);
            $('#filter_purchase_order_date').attr('disabled', false);
            $('#filter_purchase_order_date_end').attr('disabled', false);
            $('#filter_purchase_order_id').attr('disabled', false);
            $('#filter_store').attr('disabled', false);
            $('#download').show();
        }
    });

    $('input[name=filter_order_type]').change(function () {
        var relationshipType = $('#filter_relationship_type').val();
        var orderType = $('input[type=radio][name=filter_order_type]:checked').val();
        if (orderType == 2 && relationshipType == 2) {
            $('#filter_sales_order_id').val('');
            $('#filter_sales_order_status').val('');
            $('#filter_create_time').val('');
            $('#filter_create_time_end').val('');
            $('#filter_sales_order_id').attr('disabled', true);
            $('#filter_sales_order_status').attr('disabled', true);
            $('#filter_create_time').attr('disabled', true);
            $('#filter_create_time_end').attr('disabled', true);
            $('#filter_purchase_order_date').attr('disabled', false);
            $('#filter_purchase_order_date_end').attr('disabled', false);
            $('#filter_purchase_order_id').attr('disabled', false);
            $('#filter_store').attr('disabled', false);
            $('#download').hide();
        } else if (orderType == 1 && relationshipType == 2) {
            $('#filter_purchase_order_id').val('');
            $('#filter_store').val('');
            $('#filter_purchase_order_date').val('');
            $('#filter_purchase_order_date').attr('disabled', true);
            $('#filter_purchase_order_date_end').val('');
            $('#filter_purchase_order_date_end').attr('disabled', true);
            $('#filter_purchase_order_id').attr('disabled', true);
            $('#filter_store').attr('disabled', true);
            $('#filter_sales_order_id').attr('disabled', false);
            $('#filter_sales_order_status').attr('disabled', false);
            $('#filter_create_time').attr('disabled', false);
            $('#filter_create_time_end').attr('disabled', false);
            $('#download').hide();
        }else{
            $('#filter_sales_order_id').attr('disabled', false);
            $('#filter_sales_order_status').attr('disabled', false);
            $('#filter_create_time').attr('disabled', false);
            $('#filter_create_time_end').attr('disabled', false);
            $('#filter_purchase_order_date').attr('disabled', false);
            $('#filter_purchase_order_date_end').attr('disabled', false);
            $('#filter_purchase_order_id').attr('disabled', false);
            $('#filter_store').attr('disabled', false);
            $('#download').show();
        }
    });

    var orderType = {{ filter_order_type }};
    var relationshipType = {{ filter_relationship_type }};
    if (orderType == 2 && relationshipType == 2) {
        $('#filter_sales_order_id').val('');
        $('#filter_sales_order_status').val('');
        $('#filter_create_time').val('');
        $('#filter_create_time_end').val('');
        $('#filter_sales_order_id').attr('disabled', true);
        $('#filter_sales_order_status').attr('disabled', true);
        $('#filter_create_time').attr('disabled', true);
        $('#filter_create_time_end').attr('disabled', true);
        $('#download').hide();
    } else if (orderType == 1 && relationshipType == 2) {
        $('#filter_purchase_order_id').val('');
        $('#filter_store').val('');
        $('#filter_purchase_order_date').val('');
        $('#filter_purchase_order_date').attr('disabled', true);
        $('#filter_purchase_order_date_end').val('');
        $('#filter_purchase_order_date_end').attr('disabled', true);
        $('#filter_purchase_order_id').attr('disabled', true);
        $('#filter_store').attr('disabled', true);
        $('#download').hide();
    }else{
        $('#filter_sales_order_id').attr('disabled', false);
        $('#filter_sales_order_status').attr('disabled', false);
        $('#filter_create_time').attr('disabled', false);
        $('#filter_create_time_end').attr('disabled', false);
        $('#download').show();
    }
</script>
{{ footer }}
