{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %}
  </ul>
  {% if (error_warning) %}
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if (success) %}
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
    {% set class = 'col-sm-6' %}
    {% elseif (column_left or column_right) %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}
        <div class="pull-right">
          <button type="submit" form="form-product" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
          <a href="{{ back }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      </h1>
      <hr />

        <form action="{{ save }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
          <input type="hidden" name="id" value="{% if (id is defined) %} {{ id }}{% endif %}">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                {% for language in languages %} {% set noentry = constant('true') %}
                  <span class="input-group-addon">{{ language['name'] }}</span>
                  {% if (name is defined and name) %}
                    {% for key,value in name %}
                      {% if (key == language['language_id']) %} {% set noentry = constant('false') %}
                        <input type="text" name="name[{{ language['language_id'] }}]" value="{{ value }}" class="form-control">
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  {% if (noentry) %}
                    <input type="text" name="name[{{ language['language_id'] }}]" class="form-control">
                  {% endif %}
                  <br>
                {% endfor %}
              </div>

            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-color">{{ entry_color }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span style="background-color: {{ color is defined and color ? color : 'black' }};" class="color-pick input-group-addon"></span>
                <input type="text" value="{% if (color is defined) %} {{ color }}{% endif %}" name="color" class="colorful form-control" id="input-color">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-model">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name ="status" class="form-control">
              <option value="0" {% if (status is defined and not status) %} {{ 'selected' }}{% endif %} >{{ text_disable }}</option>
              <option value="1" {% if (status is defined and status) %} {{ 'selected' }}{% endif %}>{{ text_enable }}</option>
            </select>
            </div>
          </div>

      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
<script type="text/javascript">
$('.color-pick').ColorPicker({
    color: '#fcfcfc',
    onShow: function (colpkr) {
    $(colpkr).fadeIn(500);
    return false;
    },
    onHide: function (colpkr) {
    $(colpkr).fadeOut(500);
    return false;
    },
    onChange: function (hsb, hex, rgb) {
    $('.colorful').val('#' + hex);
    $('.color-pick').css('background-color','#'+hex);
    }
});
</script>
<style type="text/css">
.color-pick {
    cursor: pointer;
}
{% if (customer is not defined or not customer) %}
.forDefault{
  display: none;
}
{% endif %}
{% if (admin is not defined or not admin) %}
.forDefaultAdmin{
  display: none;
}
{% endif %}
</style>
