{% trans_default_category 'catalog/view/customerpartner/warehouse/inventory' %}
{{ header }}
{{ separate_column_left }}
{{ jsOrigin(['catalog/view/javascript/datetimepicker/bootstrap-datetimepicker.min.js']) }}
{{ cssOrigin(['catalog/view/javascript/datetimepicker/css/bootstrap-datetimepicker.min.css']) }}
<link href="/catalog/view/theme/yzcTheme/stylesheet/customerpartner/warehouse/batch_inventory.css" rel="stylesheet" type="text/css" />
{{ css(['css/common/common.css']) }}
<link rel="stylesheet" href="/catalog/view/javascript/bootstrap-table/bootstrap-table.min.css">
<script src="/catalog/view/javascript/bootstrap-table/bootstrap-table.min.js"></script>
<div class="container-fluid" id="content" style="margin-left: 235px;">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>

    <h1>{{ __('批次库存查询') }}</h1>

    {#  content  #}
    <div class="batch-inventory-box box-shadow" id="content" style="margin-right: 0;padding-bottom: 20px">

        {#   查询条件   #}
        <div class="search-info padding19">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="itemCode">{{ __('Item Code/MPN') }}</label>
                        <input type="text" id="itemCode" class="form-control" placeholder="{{ __('Item Code/MPN') }}" maxlength="64">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="">{{ __('批次生成日期') }}</label>
                        <div style="display: flex">
                            <div class="input-group datetime col-sm-6" id="datetimepicker1">
                                <input type="text" name="startTime" class="form-control date_from" placeholder="{{ __('选择日期') }}" id="startTime"
                                       style="border-bottom-right-radius: 0!important;border-top-right-radius: 0!important;">
                                <span class="input-group-addon "><i class="fa fa-calendar"></i></span>
                            </div>
                            <div class="input-group datetime col-sm-6" id="datetimepicker1">
                                <input type="text" name="endTime" class="form-control date_to" placeholder="{{ __('选择日期') }}" id="endTime"
                                       style="border-bottom-right-radius: 0!important;border-top-right-radius: 0!important;">
                                <span class="input-group-addon "><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="" style="height: 20px">{{ __('批次号') }}<i class="giga icon-help-inactive" data-toggle="tooltip" html="true"  title="<div style='min-width: 200px;'>{{ __('入库单号/库存调整批次号/RMA ID') }}</div>"></i></label>
                        <input type="text" class="form-control" id="batch_no" maxlength="30">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="remark">{{ __('入库类型') }}</label>
                        <select name="" id="inventory_type" class="form-control">
                            <option value="">{{ __('所有') }}</option>
                            {% for item in inventoryType %}
                                <option value="{{ item.value }}">{{ item.key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <div style="margin-top: 25px">
                            <button type="button" onclick="resetForm();return false;"
                                    class="btn btn-default pull-right batch-filter-btn" data-toggle="tooltip"
                                    title="{{ __('重置') }}" >
                                <i class="fa fa-refresh"></i>
                            </button>
                            <button type="button" onclick="downloadProductInformation();return false;"
                                    class="btn btn-default pull-right batch-filter-btn" data-toggle="tooltip" title="{{ __('下载') }}" style="margin-right:10px;padding: 8px 0"
                                    title="{{ text_commodity_statistics }}">
                                <i class="giga icon-xiazai"></i>
                            </button>

                            <button type="button" onclick="filter();return false;" class="btn btn-primary pull-right" style="margin-right:10px;height: 40px;"
                            >{{ __('筛选') }}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {#   表格     #}
        <div class="table-responsive">
            <table id="tableList" class="table table-hover table-striped" style="margin-top: 30px;border: none"></table>
        </div>

        {#    无数据    #}
        <div id="noData" class="text-center">
            {{ __('请输入筛选条件查询批次库存数据') }}
        </div>

    </div>

</div>

<script>

    var count = 0;
    // 初始化
    $(function () {
        initDate();
        // initTable();
    });

    // 日期初始化
    function initDate() {
        // 日期初始化
        $('#startTime').datetimepicker({
            format: 'yyyy-mm-dd 00:00:00',
            minView: 2,
            autoclose: true,
            forceParse: true,
        });
        $('#endTime').datetimepicker({
            format: 'yyyy-mm-dd 23:59:59',
            minView: 2,
            autoclose: true,
            forceParse: true,
        });
    };

    // 表格初始化
    function initTable() {
        // 初始化表格
        $("#tableList").bootstrapTable({
            url:'{{ url('customerpartner/warehouse/batch_inventory/getList') }}',
            sidePagination: "server",
            queryParams: function (params) {
                let data = {};
                data['page'] = (params['offset'] / params['limit'] + 1);
                data['page_limit'] = params['limit'];
                data['filter_sku'] = $('#itemCode').val();
                data['filter_type'] = $('#inventory_type').val();
                data['filter_batch_no'] = $('#batch_no').val();
                data['filter_create_start_date'] = $('#startTime').val();
                data['filter_create_end_date'] = $('#endTime').val();
                // data = $.extend(data, getQueryParam());
                return data;
            },
            pagination: true,
            pageNumber: 1,
            pageSize: 15,
            pageList: [5, 15, 20, 50, 100],
            formatLoadingMessage: function () {
                return '{{ __('加载中，请稍等') }}';
            },
            formatNoMatches:function () {
                return '{{ __('无数据') }}';
            },
            columns: [
                {
                    title: '{{ __('No.') }}',
                    formatter: function (value, row, index) {
                        return index+1;
                    },
                    align:'center',
                },
                {
                    field: 'sku',
                    title: '{{ __('Item Code') }}',
                    align:'center',
                },
                {
                    field: 'mpn',
                    title: '{{ __('MPN') }}',
                    align:'center',
                },
                {
                    field: 'transaction_type_format',
                    title: '{{ __('入库类型') }}',
                    align:'center',
                },
                {
                    field: 'original_qty',
                    title: '{{ __('入库数量') }}',
                    align:'center',
                },
                {
                    field: 'onhand_qty',
                    title: '{{ __('当前在库数量') }}',
                    align:'center',
                },
                {
                    field: 'inventory_days',
                    title: '{{ __('在库天数') }}',
                    align:'center',
                },
                {
                    field: 'batch_number',
                    title: '{{ __('批次号') }}',
                    formatter:function (value, row) {
                        if (row.transaction_type == 1) { // 入库单收货 -- 展示入库单号，跳转入库单详情
                            let url = "{{ url('customerpartner/warehouse/receipt/view') }}";
                            return '<a href="' + url + '&receive_order_id=' + row.batch_number + '" target="_blank">' + row.common_one + '</a>';
                        } else if (row.transaction_type == 5) { // RMA退货 -- 展示RMA ID，跳转RMA详情
                            let url = "{{ url('account/customerpartner/rma_management/rmaInfo') }}";
                            return '<a href="' + url + '&rmaId=' + row.rma_id + '" target="_blank">' + row.common_one + '</a>';
                        }

                        return value;
                    },
                    align:'center',
                },
                {
                    field: 'common_two',
                    title: '{{ __('备注') }}',
                    align:'center',
                    width: '200',
                    formatter:function (value) {
                        if(value!=null){
                            return `<div class="overflow-text" title="${value}" data-toggle="tooltip" data-html="true">${value}</div>`
                        }else{
                            return  ''
                        }

                    }
                },
                {
                    field: 'create_time_format',
                    title: '{{ __('批次生成日期') }}',
                    align:'center',
                },
            ]
        })
    }

    // 查询
    function filter() {
        if(count==0){
            $("#noData").hide();
            initTable();
        }else{
            $("#tableList").bootstrapTable('refresh', {pageNumber: 1});
        }

        count++;


    }
    // 下载
    function downloadProductInformation() {
        var filter_sku = $('#itemCode').val();
        var filter_type = $('#inventory_type').val();
        var filter_batch_no = $('#batch_no').val();
        var filter_create_start_date = $('#startTime').val();
        var filter_create_end_date = $('#endTime').val();

        var url = "{{ url('customerpartner/warehouse/batch_inventory/downloadData') }}" + '&filter_sku=' + filter_sku + '&filter_type=' + filter_type + '&filter_batch_no=' + filter_batch_no + '&filter_create_start_date=' + filter_create_start_date + '&filter_create_end_date=' + filter_create_end_date;
        window.location = url;
    };
    
    // 重置表单
    function resetForm() {
        $("#itemCode").val('');
        $("#batch_no").val('');
        $("#inventory_type").val('');
        $("#startTime").val('');
        $("#endTime").val('');

        $("#tableList").bootstrapTable('refresh', {pageNumber: 1});
    }
</script>
{{ footer }}