{% trans_default_category 'catalog/view/customerpartner/warehouse/inventory' %}
{{ header }}{{ separate_column_left }}
<script type="text/javascript" src="catalog/view/javascript/bootstrap/js/bootstrap-paginator.min.js"></script>
<link rel="stylesheet" href="catalog/view/javascript/bootstrap-select/css/bootstrap-select.min.css">
<script type="text/javascript" src="catalog/view/javascript/bootstrap-select/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/layer/layer.js"></script>
<style>
  .content-shadow label{
    color: #333;
  }
</style>

<div {% if separate_view is defined and separate_view %} class="container-fluid" id="content" style="margin-left: 235px" {% else %} class="container" {% endif %}>

  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li>
        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
      </li>
    {% endfor %}
  </ul>
  {{ column_left }}
  {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
  {% else %}
    {% set class = 'col-sm-12' %}
  {% endif %}
  {{ content_top }}
  <h1>{{ heading_title_product_manage }}</h1>

  <div class="product-manage-box box-shadow" id="content" style="padding-bottom:29px">

    {% if chkIsPartner %}
    {# 查询条件 #}
    <div class="well product-search" style="margin-bottom: -10px">
      <div class="row">
        <form id="product_manage_form">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-sku-mpn" style="width: 100%">{{ column_sku_mpn }}
                <div id="skuMpnError" style="display: none;float: right">{{ error_sku_mpn }}</div>
              </label>
              <input
                type="text"
                name="filter_sku_mpn"
                value="{{ filter_sku_mpn }}"
                placeholder="{{ column_sku_mpn }}"
                id="input-sku-mpn"
                class="form-control"/>
            </div>
            <div class="form-group" style="height: 75px">
              <label class="control-label" for="input-product-type" style="width: 100%">Product Type
              </label>
              <select class="select-load-before form-control"></select>
              <select
                type="text"
                name="filter_product_type"
                placeholder="Product Type"
                multiple
                id="input-product-type" class="form-control"
                style="height: 40px">
                <option
                  {% if filter_product_type and filter_product_type b-and 1 %}
                    selected
                  {% endif %}
                  value="1">
                  General
                </option>
                <option
                  {% if filter_product_type and filter_product_type b-and 2 %}
                    selected
                  {% endif %}
                  value="2">
                  Combo
                </option>
                <option
                  {% if filter_product_type and filter_product_type b-and 4 %}
                    selected
                  {% endif %}
                  value="4">
                  LTL
                </option>
                <option
                  {% if filter_product_type and filter_product_type b-and 8 %}
                    selected
                  {% endif %}
                  value="8">
                  Part
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-status">Sold Separately</label>
              <select name="filter_buyer_flag" class="form-control" >
                <option value="*">All</option>
                <option
                  {% if filter_buyer_flag is defined and filter_buyer_flag is not null and filter_buyer_flag == 1 %}
                    selected
                  {% endif %}
                  value="1"
                >Yes</option>
                <option
                  {% if filter_buyer_flag is defined and filter_buyer_flag is not null and filter_buyer_flag == 0 %}
                    selected
                  {% endif %}
                  value="0">No</option>
              </select>
            </div>
            <div class="form-group" >
              <label class="control-label" for="input-status">Available Quantity</label>
              <select name="filter_available_qty" class="form-control" >
                <option value="*">All</option>
                <option
                  {% if filter_available_qty is defined and filter_available_qty is not null and filter_available_qty == 1 %}
                    selected
                  {% endif %}
                  value="1" >greater than 0</option>
                <option
                  {% if filter_available_qty is defined and filter_available_qty is not null and filter_available_qty == 0 %}
                    selected
                  {% endif %}
                  value="0">0</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-status">{{ column_status }}</label>
              <select name="filter_status" class="form-control" id="input-status">
                <option value="*">{{ __('请选择', {}, 'common') }}</option>
                <option value="-1" {% if filter_status == -1 %} selected {% endif %}>{{ text_status_to_be_available }}
                </option>
                <option value="1" {% if filter_status == 1 %} selected {% endif %}>{{ text_status_on_shelves }}
                </option>
                <option value="0" {% if filter_status is not null and filter_status == 0 %} selected {% endif %}>
                  {{ text_status_off_shelves }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <div style="margin-top: 30px">
                <button type="button" onclick="location ='{{ url('customerpartner/warehouse/inventory') }}';return false;"
                        class="btn btn-default pull-right search-btn2" data-toggle="tooltip"
                        title="Reset" >
                  <i class="fa fa-refresh"></i>
                </button>
                <button type="button" onclick="downloadProductInformation();return false;"
                        class="btn btn-default pull-right search-btn2" data-toggle="tooltip" title="Download" style="margin-right:10px;padding: 8px 0">
                  <i class="giga icon-xiazai"></i>
                </button>

                <button type="button" onclick="filter();return false;" class="btn btn-primary pull-right search-btn" style="margin-right:10px;"
                >{{ button_filter }}</button>
              </div>

            </div>

          </div>
        </form>
      </div>
    </div>

    <div class="alert alert-danger" style="display: none">
      <i class="fa fa-exclamation-circle"></i>
    </div>
    {#商品批量修改导入#}
    {% set import_style='margin-bottom: 20px;height: 50px;' %}
    {% if showDownloadTip %}
      {% set import_style='margin-bottom: 20px;height: 70px;border: 1px solid #e3e3e3;' %}
    {% endif %}
    <div style="{{ import_style }}">
      <div style="padding-top: 6px;text-align: right;">
        <button type="button" data-toggle="modal" data-target="#myBtnUpload" class="btn btn-primary" style="height: 36px;line-height: 18px">
          <span data-toggle="tooltip" title="Update product available inventory in batches" data-loading-text="{{ text_loading }}">
            <i class="giga icon-shangchuan"></i>
            Upload Available Quantity
          </span>
        </button>
      </div>
      {% if showDownloadTip %}
        <div style="display:block;padding: 47px 0 0 15px">
          <span style="color: red">
            The template was changed on 2019-08-05.Please download the template file again!
          </span>
        </div>
      {% endif %}
    </div>
    {#列表#}
    <div class="table-responsive">
      <table class="table table-hover table-striped" style="table-layout:fixed;border-top: none">
        <thead>
        <tr>
          <td width="45px" class="text-center"> No.</td>
          <td width="130px" class="text-center">{{ column_sku }}</td>
          <td width="130px" class="text-center">{{ column_mpn }}</td>
          <td width="80px" class="text-center">{{ column_stock_entries }}</td>
          <td width="80px" class="text-center">{{ column_stock_exits }}</td>
          <td width="80px" class="text-center">{{ column_day_sell }}</td>
          <td width="100px" class="text-center">
            {{ column_in_stock_qty }}
            <span data-toggle="tooltip" title="{{ column_in_inventory_stock_qty }}">
              <i class="giga icon-V10-wenhaotishi"></i>
            </span>
          </td>
          <td width="80px" class="text-center">{{ column_quantity }}
            <span data-toggle="tooltip" title="{{ tip_column_time_limit_stock_qty }}">
              <i class="giga icon-V10-wenhaotishi"></i>
            </span>
          </td>
          <td width="110px" class="text-center">{{ column_qty_arrival }}</td>
          <td width="125px" class="text-center">{{ column_status }}</td>
          <td width="115px" class="text-center">
            {{ column_quantity_display }}
            <span data-toggle="tooltip" title="{{ help_qty_display }}"><i class="giga icon-V10-wenhaotishi"></i></span>
          </td>
          <td width="100px" class="text-center">{{ text_action }}</td>
        </tr>
        </thead>
        <tbody>
        {% if products %}
          {% for product in products %}
            <tr name="row_{{ product['product_id'] }}">
              <td class="text-center"><span>{{ product['num'] }}</span></td>
              {% if product['tag'] %}
                <td class="text-center"
                    style="min-width: 120px;word-wrap:break-word; word-break:break-all;">{{ product['sku'] }}
                  {% for tag in product['tag'] %}
                    <span style="font-weight: bold; color: red;padding-left: 1px;">{{ tag }}</span>
                  {% endfor %}
                </td>
              {% else %}
                <td class="text-center"
                    style="word-wrap:break-word; word-break:break-all;">{{ product['sku'] }}</td>
              {% endif %}
              <td class="text-center" style="word-wrap:break-word; word-break:break-all;">
                <span>{{ product['mpn'] }}</span></td>
              <!-- N-457 -->
              <td class="text-center"  style="word-wrap:break-word; word-break:break-all;">{{ product['receiveNum'] }}</td>
              <td class="text-center"  style="word-wrap:break-word; word-break:break-all;">{{ product['deliveryNum'] }}</td>
              <td class="text-center"  style="word-wrap:break-word; word-break:break-all;">{{ product['day_sell'] }}</td>
              <td class="text-center">
                <span name="instock_qty">
                  {{ product['instock_qty'] }}
                  {% if product.lock_qty > 0 %}
                    [{{ product['lock_qty'] }}]
                  {% endif %}
                </span>
              </td>
              <td class="text-center">
                <span class="form-display" name="pre_quantity">
                  {{ product['quantity'] }}
                  {% if product.time_limit_qty > 0 %}
                    [{{ product.time_limit_qty }}]
                  {% endif %}
                </span>
                <input class="form-edit form-control" value="{{ product['quantity'] }}" style="display: none"
                       name="quantity" type="number" min="0" step="1"/>
              </td>
              <td class="text-center">{{ product['transitNum'] }}</td>
              <td class="text-center">
                {% if product['status'] == -1 %}
                  {{ text_status_to_be_available }}
                {% elseif product['status'] == 0 %}
                  {{ text_status_off_shelves }}
                {% else %}
                  {{ text_status_on_shelves }}
                {% endif %}
              </td>
              <td class="text-center">
                <span
                    class="form-display">{{ product['quantity_display'] == 0 ? text_status_invisible : text_status_visible }}</span>
                <select class="form-control form-edit" style="display: none" name="quantity_display">
                  <option
                    value="0" {{ product['quantity_display'] == 0?'selected':'' }} >{{ text_status_invisible }}</option>
                  <option
                    value="1" {{ product['quantity_display'] == 1?'selected':'' }} >{{ text_status_visible }}</option>
                </select>
              </td>
              <td class="text-center" style="padding: 5px">
                {% if product.product_type == 0 or  product.product_type ==3 %}
                  <input type="hidden" name="inStockQty" value="{{ product['instock_qty'] }}">
                  <input type="hidden" name="lockQty" value="{{ product['lock_qty'] }}">
                  <a onclick="edit('{{ product['product_id'] }}');" data-toggle="tooltip" title="{{ button_edit }}"
                     class="btn btn-primary btn-form-display"><i class="giga icon-edit"></i></a>
                  <a style="display: none" onclick="save('{{ product['product_id'] }}',this);" data-toggle="tooltip"
                     title="{{ button_save }}" class="btn btn-primary btn-form-edit auto-width"><i class="fa fa-save"></i></a>
                  <a style="display: none" onclick="back('{{ product['product_id'] }}');" data-toggle="tooltip"
                     title="{{ button_cancel }}" class="btn btn-default btn-form-edit"><i class="fa fa-reply"></i></a>
                {% else %}
                  <a disabled href="javascript:void(0)" data-toggle="tooltip" title="Margin products cannot be edited."
                     class="btn btn-primary btn-form-display"><i class="fa fa-pencil"></i></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="13">{{ text_no_results }}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>

    {#分页#}
    <div class="row">
      <div class="col-sm-12">
        <div
          class="pull-left">{#左侧删除#}
        </div>
        <div class="pull-right">{{ pagination }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {{ content_bottom }}
</div>

{# 上传模态框 #}
<div class="modal fade" id="myBtnUpload" tabindex="-1" role="dialog" aria-labelledby="uploadModal"
     aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title">Upload Available Quantity</h3>
      </div>
      <div class="modal-body">
        <div class="upload-step">
          <div class="basic-msg flex-layout text-larger">
            <span class="mark-icon border-danger"></span>
            <span class="user-type">Download Template</span>
          </div>
          <div class="action-step">
            <button type="button" class="btn btn-primary" id="downloadTemple">Download Template</button>
            <div class="chose-list-show mt-1 none" id="listShow"></div>
          </div>
        </div>
        <div class="upload-step">
          <div class="basic-msg flex-layout text-larger">
            <span class="mark-icon border-danger"></span>
            <span class="user-type">Select a file and upload</span>
          </div>
          <div class="action-step">
            <button class="btn btn-primary" id="upload_files">Click to upload</button>
            <input id="uploadFiles" type="file" style="display: none">
            <div id="upload-div" style="display: none;margin: 20px 0 10px 0">
              <span id="myFiles"></span>
              <i class="giga icon-lajitong" id="delFile" style="color: red;cursor: pointer"></i>
            </div>

          </div>
        </div>
        <div class="upload-step">
          <div class="basic-msg flex-layout text-larger">
            <span class="mark-icon border-danger"></span>
            <span class="user-type">Confirm Uploaded Information</span>
          </div>
        </div>

        <div class="my-modal-btn text-center">
          <button class="btn btn-default" id="closeModal">Cancel</button>
          <button class="btn btn-primary" style="margin-left: 40px" onclick="submitFile()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .product-manage-box{
    margin-bottom: 20px;
  }
  .box-shadow{
    border-radius: 3px;
    background-color: #fff;
    margin-top: 3px;
    padding: 0 20px;
    box-shadow: #aaa 0 0 6px;
  }

  .product-search{
    padding: 19px 0;
  }
  .form-group .dropdown button {
    height: 40px;
    line-height: 22px;
    background-color: #F3F5F7;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: none;
  }

  .title-icon{
    font-size: 12px;
    margin-left: 5px;
  }

  .filter-option-inner-inner{
    color: #555;
    font-weight: unset;
  }
  .caret{
    color: #555;
  }

  /* 弹窗样式 */
  .action-step{
    padding: 20px 16px;
    border-left: 1px solid #ddd;
    margin-left: 7px;
  }

  .flex-layout{
    display: flex;
    align-items: center;
  }

  .mark-icon{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px;

  }

  .border-danger {
    border: 1px solid #ff414d;
  }

  .chose-list-show{
    margin-top: 30px;
    background-color: #fff0e6;
    padding: 10px 5px;
    color: #183464;
    font-size: 16px;
    display: none;
  }

  .my-modal-btn{
    margin: 20px 0;
  }

  .search-btn{
    height: 40px;
  }
  .search-btn2{
    width: 40px;
    height: 40px;
  }
  .yzc_layer .layui-layer-content{
    word-break: unset;
    text-align: left;
  }
  .auto-width {
    width: auto !important;
    min-width: 30px;
  }
</style>
<script>
  let errorTip = "";
  var timer;
  var txtPleaseSelect = "{{ __('请选择', {}, 'common') }}";

  $(function () {
    $('#input-product-type').selectpicker({
      noneSelectedText: `${txtPleaseSelect}.`
    });
    $(".select-load-before").hide();
    $(".select-load-after").show();
  });

  function confirmUpdateProduct(products) {
    $.ajax({
      url: 'index.php?route=customerpartner/warehouse/inventory/update&user_token={{ user_token }}',
      type: 'post',
      dataType: 'json',
      data: {'products': products},
      success: function (json) {
        if (json.success) {
          let url = "index.php?route=customerpartner/warehouse/inventory" + filterParam();
          let m = window.location.href.match(/&page=\d*/);
          if (m) {
            url += m[0];
          }
          layerMsg("Saved Successfully.").then(function () {
            layer.closeAll();
            window.location = url;
          })
        } else if (json.error) {
          layer.msg(json.error);
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

  //保存校验
  function validatePriceChangeParam(product) {
    var quantity_display = product['quantity_display'];
    var quantity = product['quantity'];
    var inStockQty = product['inStockQty'];
    var lockQty = product['lockQty'];
    let errorTip =  "";

    var posIntReg = /^\d+$/;
    if (quantity_display !== "0" && quantity_display !== "1") {
      errorTip = "{{ error_qty_display }}";
      return errorTip;
    }

    //1.quantity非负整数
    if (!quantity || !posIntReg.test(quantity)) {
      errorTip = "{{ error_qty_positive }}";
      return errorTip;
    }

    return errorTip;
  }

  //保存按钮
  function save(id, _this) {
    $(_this).button('loading');
    let ids = getSelectIds(id);
    if (ids) {
      saveProductById(ids, _this);
    } else {
      layerMsg('Please choose data to save!').finally(function () {
        layer.closeAll();
        $(_this).button('reset');
      });
    }
  }

  function saveProductById(ids, _this) {
    let products = [];
    let updateFlag = true;
    $.each($(ids), function (i, id) {
      let $row = $("[name=row_" + id + "]");
      let obj = {};
      obj['product_id'] = id;
      obj['quantity'] = $('[name=quantity]', $row).val();
      obj['quantity_display'] = $('[name=quantity_display]', $row).val();
      obj['inStockQty'] = parseInt($('[name=inStockQty]', $row).val());
      obj['lockQty'] = parseInt($('[name=lockQty]', $row).val());

      errorTip = validatePriceChangeParam(obj);
      if (errorTip) {
        updateFlag = false;
          layer.confirm(errorTip,{
              btn: ['ok'],
              title: 'Message',
              btnAlign: 'c',
              skin: 'yzc_layer',
          },function () {
              layer.closeAll();
              $(_this).button('reset');
          });
        return false;
      }
      products.push(obj);
    });

    if (products && products[0]) {
      send_request(updateFlag, products, _this);
    } else {
      $(_this).button('reset');
    }
  }

  //发送修改
  function send_request(updateFlag, products, _this) {
    layer.closeAll();
    layer.load();
    if (updateFlag) {
      $.ajax({
        url: 'index.php?route=customerpartner/warehouse/inventory/update',
        type: 'post',
        dataType: 'json',
        data: {'products': products},
        complete: function () {
          //layer.closeAll();
        },
        success: function (json) {
          if (json.code == 200) {
            let url = "index.php?route=customerpartner/warehouse/inventory" + filterParam();
            let m = window.location.href.match(/&page=\d*/)
            if (m) {url += m[0];}
            layer.closeAll();
            layerMsg('{{ success_save }}')
              .then(function () {
                window.location = url;
              })
              .finally(function () {
                layer.closeAll();
                $(_this).button('reset');
              })
          } else {
            layerMsg(json.msg)
              .finally(function () {
                layer.closeAll();
                $(_this).button('reset');
              });
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    } else {
      errorTip && layer.msg(errorTip);
      layer.closeAll('loading')
    }
  }

  //编辑按钮
  function edit(id) {
    let ids = getSelectIds(id);
    if (ids) {
      changeInputSpan(ids, true);
    } else {
      layer.msg('Please choose data to edit!')
    }
  }

  function getSelectIds(id) {
    let ids = [];
    if (id) {
      ids.push(id)
    } else {
      $('input[name*=\'selected\']:checked').each(function (i, e) {
        ids.push(e.value)
      })
    }
    return ids;
  }

  //取消按钮
  function back(id) {
    let ids = getSelectIds(id);
    changeInputSpan(ids, false);
  }

  function changeInputSpan(ids, isEdit) {
    $.each($(ids), function (i, e) {
      let $row = $("[name=row_" + e + "]");
      // input编辑框
      $(".form-edit", $row).css("display", isEdit ? "block" : "none");
      $(".btn-form-edit", $row).css("display", isEdit ? "inline-block" : "none");
      // span展示框
      $(".form-display", $row).css("display", isEdit ? "none" : "block");
      $(".btn-form-display", $row).css("display", isEdit ? "none" : "inline-block");
    })
  }

  //搜索按钮
  function filter() {
    if (!validateQueryParam()) {
      return false;
    }
      let url = 'index.php?route=customerpartner/warehouse/inventory' + filterParam();
      window.location.href = url;
    return false;
  }

  //下载按钮
  function downloadProductInformation() {
    if (!validateQueryParam()) {
      return;
    }

    url = 'index.php?route=customerpartner/warehouse/inventory/downloadProductInformation' + filterParam();
    location = url;
  }

  //校验筛选的输入
  function validateQueryParam() {
    var result = true;
    var filter_sku_mpn = $('input[name="filter_sku_mpn"]').val();

    if (filter_sku_mpn && filter_sku_mpn.length > 64) {
      $('#skuMpnError').css('display', 'block');
      $('#skuMpnError').addClass('text-danger');
      result = false;
    } else {
      $('#skuMpnError').css('display', 'none');
    }
    return result;
  }

  //拼接搜索参数
  function filterParam() {
    let paramsObj = $('#product_manage_form').serializeArray();
    let paramObject = {};
    for (let item of paramsObj) {
      let key = item['name'];
      let val = item['value'];
      if (val === '' || val === undefined || val === null || val === '*') {
        continue;
      }
      if (paramObject.hasOwnProperty(key)) {
        if (typeof paramObject[key] === 'string') {
          paramObject[key] = [paramObject[key]];
        }
        paramObject[key].push(val);
      } else {
        paramObject[key] = val;
      }
    }
    return '&' + $.param(paramObject);
  }

  //筛选输入框 回车快捷搜索
  $('.row input').keydown(function (e) {
    if (e.keyCode == 13) {
      filter();
      return false;
    }
  });

</script>
<script>
  var file = null;

  // 上传文件
  $("#upload_files").click(function () {
      $("#uploadFiles").val('');
      file=null;
      $("#upload-div").hide();
    $("#uploadFiles").click();
  });

  // 监听文件上传事件
  $("#uploadFiles").on('change',function (e) {
    var files = e.target.files;
    if(files.length>0){
      file = files[0];
      $("#upload-div").show();
      $("#myFiles").text(file.name);
      // 查看文件格式
      let dotIndex =file.name.lastIndexOf(".");
      let suffix = file.name.substr(dotIndex + 1);
      if (suffix != 'xls' && suffix != 'xlsx') {
        myToast('error','Upload files in .xls / .xlsx format only',7000);
        $('#delFile').click();
        return false;
      }
    }
  });

  // 删除文件
  $("#delFile").click(function () {
    file=null;
    $("#upload-div").hide();
    $("#myFiles").text('');
    $("#uploadFiles").val('');
  });

  // 关闭弹窗
  $("#closeModal").click(function () {
      $("#upload-div").hide();
      $("#myFiles").text('');
      file=null;
      $("#uploadFiles").val('');
      $("#myBtnUpload").modal('hide');

  });

  $('#myBtnUpload').on('hidden.bs.modal', function () {
      $("#upload-div").hide();
      $("#myFiles").text('');
      file=null;
      $("#uploadFiles").val('');
  });

  // 提交文件
  function submitFile() {
    if(!file){
      myToast('error','Please select a file',7000);
      return false;
    }
    let data = new FormData();
    data.append('file',file);
    let loadingIndex=layer.load(1,{shade: [0.3,'#000']});
    $.ajax({
      url:'/index.php?route=customerpartner/warehouse/inventory/importFile',
      type: 'post',
      data:data,
      dataType: "json",
      cache: false,
      processData: false,
      contentType: false,
      success: function (res) {
        if(res.code==200){
          layer.open({
            title: 'Information',
            content:res.data,
            btnAlign: 'c',
            skin: 'yzc_layer',
            btn: ['ok'],
            scrollbar: false,
            end:function (index) {
                $("#upload-div").hide();
                $("#myFiles").text('');
                file=null;
                $("#uploadFiles").val('');
                $("#myBtnUpload").modal('hide');
              url = 'index.php?route=customerpartner/warehouse/inventory' + filterParam();
              window.location = url;
            }
          });
        }else{
          layer.open({
            title: 'Attention',
            content:res.msg,
            btnAlign: 'c',
            skin: 'yzc_layer',
            btn: ['ok'],
            scrollbar: false,
              btn1:function (index) {
                  layer.close(index);
              }
          });
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        myToast('error','The file has been changed, please re-upload',7000);
      },
      complete:function () {
        layer.close(loadingIndex);
      }
    });
  }

  //下载模板
  $('body').on('click', '#downloadTemple', function () {
    window.location = '{{ url('customerpartner/warehouse/inventory/downloadTemplateFile') }}'
  });

  function myToast(type,text,timeout) {
    $.toast({
      heading: false,
      text: text,
      position: 'top-center',
      showHideTransition: 'fade',
      icon: type,
      hideAfter: timeout,
      allowToastClose: false,
      loader: false,
    });
  }

</script>
{{ footer }}
