{% trans_default_category 'catalog/view/customerpartner/warehouse/receipt' %}
{{ this.title('asd') }}
{{ header }}
<link href="/catalog/view/javascript/layer/theme/yzc/layuiOris.css" rel="stylesheet" />
<link href="/catalog/view/theme/yzcTheme/stylesheet/customerpartner/warehouse/receipt-apply.css" type="text/css"
      rel="stylesheet"/>
{{ css(['/css/admin/app.css','css/common/common.css']) }}

{{ separate_column_left }}
{# 头部导航按钮 #}
<div class="receipt-apply-container-fluid receipt-view-outter-container">
  <div id="main-content">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li>
          <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="pull-right">
      <a href="/index.php?route=customerpartner/warehouse/receipt" data-toggle="tooltip" title="{{ __('返回') }}"
         class="btn btn-default">
        <i class="fa fa-reply"></i>
      </a>
    </div>
    <h1 class="text-bold">{{ __('入库单申请') }}</h1>

    <div class="receipt-apply-container box-shadow">
      <div class="header-info-container">
        <div class="header-info-row">
          <div class="header-info-item">
            <div class="header-info-label"><span class="red-icon">{{ __('运输方式') }}:</span>
            </div>
            <div>
              <select name="shippingMethod" class="form-control" id="shippingMethod">
                <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option>
                {% for key,method in shipping_methods %}
                <option value="{{ key }}">{{ method }}</option>
                {% endfor %}>
              </select>
              <div class="input-error-msg">{{ __('运输方式不能为空') }}</div>
            </div>
          </div>
          <div class="header-info-item">
            <div class="header-info-label"><span class="red-icon">{{ __('集装箱尺寸') }}:</span>
            </div>
            <div>
              <select name="shippingSize" class="form-control" id="shippingSize">
                <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option>
                {% for key,size in containers %}
                <option value="{{ size }}">{{ size }}</option>
                {% endfor %}>
              </select>
              <div class="input-error-msg">{{ __('集装箱尺寸不能为空') }}</div>
            </div>
          </div>
          <div class="header-info-item">
						<div id="portContainer" class="hide-ele">
							<div class="header-info-label"><span class="red-icon">{{ __('起运港') }}:</span>
							</div>
							<div>
								<select name="departurePort" class="form-control" id="departurePort">
                  <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option>
									{% for key,departure in departures %}
									<option value="{{ departure }}">{{ departure }}</option>
									{% endfor %}>
								</select>
								<div class="input-error-msg">{{ __('起运港不能为空') }}</div>
							</div>
						</div>
						<div id="cityContainer" class="hide-ele">
							<div class="header-info-label"><span class="red-icon">{{ __('起运城市') }}:</span>
              </div>
              <div>
                <input name="departureCity" class="form-control" id="departureCity"/>
                <div class="input-error-msg">{{ __('起运城市不能为空') }}</div>
              </div>
						</div>
          </div>
        </div>
        <div class="header-info-row">
          <div class="header-info-item hide-ele" id="expect-shipping-container" >
            <div class="header-info-label"><span class="red-icon">{{ __('期望船期') }}
              :<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="" data-original-title="{{__('期望船期为您希望的船期，若走GIGA运输方式，GIGA将参考您的期望船期订舱')}}"></i></span>
            </div>
            <div>
              <select name="shippingSche" class="form-control" id="shippingSche">
                <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option>
                {% for key,date in shipping_date %}
                <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{ date.end }}</option>
                {% endfor %}>
              </select>
              <div class="input-error-msg">{{ __('期望船期不能为空') }}</div>
            </div>
          </div>
          <div class="header-info-item hide-ele" id="consigned-expect-shipping-container" >
            <div class="header-info-label"><span class="red-icon">{{ __('期望船期') }}
              :<i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="" data-original-title="{{__('期望船期为您希望的船期，若走GIGA运输方式，GIGA将参考您的期望船期订舱')}}"></i></span>
            </div>
            <div>
              <select name="consignedSche" class="form-control" id="consignedSche">
                <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option>
                {% for key,date in self_shipping_date %}
                <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{ date.end }}</option>
                {% endfor %}>
              </select>
              <div class="input-error-msg">{{ __('期望船期不能为空') }}</div>
            </div>
          </div>
					<div class="header-info-item hide-ele" id="expect-delivery-container">
            <div class="header-info-label"><span class="red-icon">{{ __('期望发货时间') }}:</span>
            </div>
            <div>
              <select name="deliverySche" class="form-control" id="deliverySche">
                <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option>
                {% for key,date in delivery_date %}
                <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{ date.end }}</option>
                {% endfor %}>
              </select>
              <div class="input-error-msg">{{ __('期望发货时间不能为空') }}</div>
            </div>
          </div>
          <div class="header-info-item"></div>
        </div>
        <div class="header-info-row hide-ele" id="remark-container" style="position: relative">
          <div class="header-info-item">
            <div class="header-info-label">{{ __('备注') }}:
            </div>
          </div>
          <textarea type="text" class="remark-content form-control" name="remark" id="remark" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
            placeholder="{{__('如有需要拆箱需求，请填写在备注中，标明需要拆箱的产品外箱编号和特征')}}"></textarea>
          <div id="remark-content-tips" class="remark-content-tips"><span class="value">0</span>/1000</div>
        </div>
      </div>
      <div id="detail-table-container" class="hide-ele">
        <hr class="table-split-line"/>
        <div class="table-container">
          <div class="table-title">{{ __('入库单明细') }}</div>
          {% if is_usa %}
            {% set unit='英寸' %}
            {% set weight='磅' %}
          {% else %}
            {% set unit='Cm' %}
            {% set weight='Kg' %}
          {% endif %}
          <table class="table" id="order-detail-table">
            <thead>
            <tr>
              <th>Item Code/MPN</th>
              <th>{{ __('产品名称') }}</th>
              <th>{{ __('长') }}({{ __(unit) }})</th>
              <th>{{ __('宽') }}({{ __(unit) }})</th>
              <th>{{ __('高') }}({{ __(unit) }})</th>
              <th>{{ __('重量') }}({{ __(weight) }})</th>
              <th class="red-icon">{{ __('预计入库数量') }}</th>
              <th class="red-icon" id="hscode-header">{{ __('HS编码') }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="" data-original-title="{{__('10位海关编码')}}"></i>
              </th>
              <th id="301hscode-header">{{ __('301 HS编码') }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="" data-original-title="{{__('美国301调查专用的HS Code归类')}}"></i>
              </th>
              <th class="oper-col">{{ __('操作') }}</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
          </table>
        </div>
        <div class="button-container">
          <button class="oris-button pull-left" type="button" id="writeBook" data-toggle="modal" data-target="#orderBookModal">{{ __('填写托书') }}</button>
          <button class="oris-button oris-button-default" onclick="handleCancel()">{{ __('取消') }}</button>
          <button class="oris-button" onclick="handleSave()">{{ __('保存') }}</button>
          <button class="oris-button" onclick="handleSubmit()">{{ __('提交') }}</button>
        </div>
      </div>
    </div>
  </div>
  {% include "yzcTheme/template/customerpartner/warehouse/common/shipping_order_book_modal.twig"%}
  <script type="text/javascript" src="public/js/common/toolString.js"></script>
  {{ footer }}
  {% include "yzcTheme/template/customerpartner/warehouse/common/detailEditTable.twig" with {"data_type": "apply"} %}
  <script type="text/javascript">
    {#var shipping_date = {{ shipping_date | json_encode() | raw }};#}
    {#var shipping_methods = {{ shipping_methods | json_encode() | raw }};#}
    {#console.log(shipping_date, shipping_methods);#}

    var saveApi = "/index.php?route=customerpartner/warehouse/receipt/doAdd";

    $(document).ready(function () {
      //对文本框计数
      $("#remark").bind("input propertychange change", function() {
        var remarkDesc = $("#remark").val();
        //获取输入内容
        var calcReturn = toolString.calcStringLength(remarkDesc, 1000);
        $("#remark").val(calcReturn.fullStr);
        //显示字数
        $(".value").text(calcReturn.len);
      });

      //起运城市输入限制
      $("#departureCity").bind("input propertychange change", function() {
        var cityDesc = $("#departureCity").val();
        //获取输入内容
        var calcReturn = toolString.calcStringLength(cityDesc, 50);
        $("#departureCity").val(calcReturn.fullStr)
      });

      //避免hide闪烁
      $("#expect-shipping-container").removeClass("hide-ele");
      $("#expect-delivery-container").removeClass("hide-ele");
      $("#consigned-expect-shipping-container").removeClass("hide-ele");
      $("#portContainer").removeClass("hide-ele");
      $("#cityContainer").removeClass("hide-ele");
      $("#detail-table-container").removeClass("hide-ele");
      $("#remark-container").removeClass("hide-ele");

      $("#expect-shipping-container").hide();
      $("#expect-delivery-container").hide();
      $("#consigned-expect-shipping-container").hide();

      //隐藏发货地
      $("#portContainer").hide();
      $("#cityContainer").hide();
      //隐藏明细表格
      $("#detail-table-container").hide();
      //影藏备注
			$("#remark-container").hide();
    });

    // 期望船期和预计到库时间联动展示
    // 1 委托海运操作
    // 2 客户自发
    // 3 B2B Local
    $("#shippingMethod").change(function () {
      var method = $(this).val();
      // 是否显示起运港或者起运城市
      if (method != 3) {
        if (method==1){
          $("#writeBook").show();
        }else {
          $("#writeBook").hide();
        }
        // 起运港
        $("#portContainer").show();
        $("#cityContainer").hide();
      } else {
        // 起运城市
        $("#portContainer").hide();
        $("#cityContainer").show();
        $("#writeBook").hide();
			}
      refreshDetailTableCols(true); //HS编辑与301 HS编辑在新增的时候都不展示，不需要填写

      $("#remark-container").show();

			//是否显示明细表格内容
      if (method != "*") {
        $("#detail-table-container").show();
      } else {
        $("#detail-table-container").hide();
        $("#remark-container").hide();
        $("#portContainer").hide();
        $("#cityContainer").hide();
      }

      if (method == 1) {
        $("#expect-shipping-container").show();
        $("#consigned-expect-shipping-container").hide();
        $("#expect-delivery-container").hide();
      } else if (method == 2) {
        $("#consigned-expect-shipping-container").show();
        $("#expect-shipping-container").hide();
        $("#expect-delivery-container").hide();
      } else if (method == 3) {
        $("#expect-shipping-container").hide();
        $("#consigned-expect-shipping-container").hide();
        $("#expect-delivery-container").show();
      } else {
        $("#expect-shipping-container").hide();
        $("#consigned-expect-shipping-container").hide();
        $("#expect-delivery-container").hide();
      }

      removeAllFormError();
    });

    var clickEvent = 1;
    var operate = 'apply';
    //填写托书
    $("#writeBook").on('click',function () {
      var size = $("#shippingSize").val();
      var port = $("#departurePort").val();
      $("#bookForm").find('input[name=size]').val(size);
      $("#bookForm").find('input[name=port]').val(port);
      shippingOrderBook.saveNotSubmit(operate);
      if (clickEvent){
        shippingOrderBook.bindClick();
        shippingOrderBook.bindChange();
        shippingOrderBook.initialize();
      }
    })

    //下拉框错误提示
    let doms = ["#shippingSize","#departureCity","#departurePort","#shippingSche","#consignedSche","#deliverySche"];
    for(let d of doms) {
      $(d).change(function(){
        var val = $(this).val();
        if (val != '*') {
          removeFormError(d)
        }
      })
    }

    //取消
    function handleCancel() {
      returnListPage();
    }

    function removeAllFormError() {
      $(".input-error-msg").hide();
      $(".form-control").removeClass("input-invalid");
    }

    function showFormError(dom) {
      $(dom).addClass("input-invalid");
      $(`${dom} + .input-error-msg`).show();
    }

    function removeFormError(dom) {
      $(dom).removeClass("input-invalid");
      $(`${dom} + .input-error-msg`).hide();
    }

    //表单有效性验证
    function isValid(data) {
      let valid = true;
      if (data["shipping_way"] == "*") {
        showFormError("#shippingMethod");
        valid = false;
      }
      if (data["container_size"] == "*") {
        showFormError("#shippingSize");
        valid = false;
      }
			if (data["port_start"].trim() == "" && data["shipping_way"] == 3) {
				showFormError("#departureCity");
				valid = false;
			}
      if (data["port_start"] == "*" && data["shipping_way"] != 3) {
        showFormError("#departurePort");
        valid = false;
      }
            if (data["shipping_way"] == 1 && $("shippingSche").val() == "*") {
              showFormError("#shippingSche");
              valid = false;
            }
			if (data["shipping_way"] == 2 && $("#consignedSche").val() == "*") {
              showFormError("#consignedSche");
              valid = false;
            }
			if (data["shipping_way"] == 3 && $("#deliverySche").val() == "*") {
				showFormError("#deliverySche");
				valid = false;
			}
      /* if (data["shipping_way"] == 1 && $("#shippingSche").val() == "*") {
        showFormError("#shippingSche");
        valid = false;
      }
      if (data["shipping_way"] == 2 && $("#estimatedTime").val() == "*") {
        showFormError("#estimatedTime");
        valid = false;
      } */
      return valid;
    }

    //返回列表页
    function returnListPage() {
      window.location.href = "/index.php?route=customerpartner/warehouse/receipt";
    }

    //获取表单数据
    function getData() {
      var data = {};
      data['shipping_way'] = $("#shippingMethod").val();
      data['container_size'] = $("#shippingSize").val();
            if (data['shipping_way'] == 2) {
              data['port_start'] = $("#departurePort").val();
              data['expected_shipping_date_start'] = $("#consignedSche").val().split("/")[0];
              data['expected_shipping_date_end'] = $("#consignedSche").val().split("/")[1];
            } else if (data['shipping_way'] == 1) {
              data['port_start'] = $("#departurePort").val();
              data['expected_shipping_date_start'] = $("#shippingSche").val().split("/")[0];
              data['expected_shipping_date_end'] = $("#shippingSche").val().split("/")[1];
            } else {
				data['port_start'] = $("#departureCity").val().trim();
				data['expected_shipping_date_start'] = $("#deliverySche").val().split("/")[0];
				data['expected_shipping_date_end'] = $("#deliverySche").val().split("/")[1];
			}

      data['remark'] = $("#remark").val().trim();
      data['products'] = returnTableData();
      return data;
    }

    //保存
    let bookData; //存放托书
    function handleSave() {
      var data = getData();
      removeAllFormError();
      if (!isValid(data)) {
        return;
      }
      if(!saveCheck(data['products'])) {
        return;
      }
      var shippingMethod = $("#shippingMethod").val();
      if (shippingMethod==1 && !bookData){
        layer.msg("{{ __('托书不能为空') }}");
        return;
      }
      let products = [];
      data.products.forEach(item => {
        if(item.product_id) {
          products.push(item)
        }
      });
      data.products = products;      
      data['status'] = 1;
      if (shippingMethod==1 ){
        data['bookData']=bookData;
      }

      $.ajax({
        url: saveApi,
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data),
        beforeSend: function () {
          layer.load(1, {shade: [0.3, '#000']});
        },
        success: function (res) {
          var confirmTitle = res.msg;
          layer.closeAll('loading');
          var tmplayer = layer.confirm(confirmTitle, {
            title: "{{ __('注意') }}",
            skin: 'yzc_layer',
            btn: ["{{ __('ok') }}"],
            btnAlign: 'c',
            cancel: function () {
              if (res.code == 200)
                returnListPage();
              layer.close(tmplayer);
            }
          }, function () {
            if (res.code == 200)
              returnListPage();
            layer.close(tmplayer);
          })
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.closeAll('loading');
          layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText, {
            time: 3000,
            skin: ''
          });
        }
      });
    }


    //提交
    function handleSubmit() {
      var data = getData();
      removeAllFormError();
      if (!isValid(data)) {
        return;
      }
      if (!submitCheck(data['products'])) {
        return;
      }
      var shippingMethod = $("#shippingMethod").val();
      if (shippingMethod==1 && !bookData){
        layer.msg("{{ __('托书不能为空') }}");
        return;
      }
      let products = [];
      data.products.forEach(item => {
        if(item.product_id) {
          products.push(item)
        }
      });
      data.products = products; 
      data['status'] = 2;
      if (shippingMethod==1 ){
        data['bookData']=bookData;
      }
      //二次确认弹窗
      var confirmTitle = "{{ __('你确认提交这个入库单吗？') }}";
      var confirmLayer = layer.confirm(confirmTitle, {
        title: "{{ __('确认') }}",
        skin: 'yzc_layer',
        btn: ["{{ __('yes') }}", "{{ __('no') }}"],
        btnAlign: 'c',
        cancel: function () {
          layer.close(confirmLayer);
        }
      }, function () {
        layer.close(confirmLayer);

        $.ajax({
          url: saveApi,
          type: 'POST',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify(data),
          beforeSend: function () {
            layer.load(1, {shade: [0.3, '#000']});
          },
          success: function (res) {
            layer.closeAll('loading');
            var confirmTitle = res.msg;
            var tmplayer = layer.confirm(confirmTitle, {
              title: "{{ __('注意') }}",
              skin: 'yzc_layer',
              btn: ["{{ __('ok') }}"],
              btnAlign: 'c',
              cancel: function () {
                if (res.code == 200)
                  returnListPage();
                layer.close(tmplayer);
              }
            }, function () {
              if (res.code == 200)
                returnListPage();
              layer.close(tmplayer);
            })
          },
          error: function (xhr, ajaxOptions, thrownError) {
            layer.closeAll('loading');
            layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText, {
              time: 3000,
              skin: ''
            });
          }
        });
      }, function () {
        layer.close(confirmLayer);
      })

    }

  </script>
