{% trans_default_category 'catalog/view/customerpartner/warehouse/receipt' %}
{{ header }}
{{ css(['/css/admin/app.css','css/common/common.css']) }}
{{ js(['js/common/orisComponents.js']) }}
<link href="/catalog/view/javascript/layer/theme/yzc/layuiOris.css" rel="stylesheet"/>
<link href="/catalog/view/theme/yzcTheme/stylesheet/customerpartner/warehouse/receipt-view.css" type="text/css" rel="stylesheet"/>

{{ separate_column_left }}
{# 头部导航按钮 #}
<div class="receipt-view-container-fluid receipt-view-outter-container">
  <div id="main-content">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
    <div class="pull-right">
      <a href="/index.php?route=customerpartner/warehouse/receipt" data-toggle="tooltip" title="{{ __('返回') }}" class="btn btn-default">
        <i class="fa fa-reply"></i>
      </a>
    </div>
    <h1>
      {% if page_type == "view" %}
          {{ __('入库单详情', [], 'catalog/document') }}
        {% else %}
          {{ __('编辑入库单', [], 'catalog/document') }}
        {% endif %}
    </h1>

    <div class="receipt-view-container box-shadow">
      <div class="header-info-container">
        <div class="header-info-row">
          <div class="header-info-item"><div class="header-info-label">{{ __('入库单号') }}:</div>{{ receipt.receive_number }}</div>
          <div class="header-info-item">
            {# 已收货显示收货时间 #}
            {% if receipt.status == 7 %}
            <div class="header-info-label">{{ __('收货时间') }}: </div>{{ receipt.receive_date | default('') }}
            {% else %}
            <div class="header-info-label">{{ __('修改时间') }}: </div>{{ receipt.update_time | default('') }}
            {% endif %}
          </div>
          <div class="header-info-item red"><div class="header-info-label">{{ __('入库单状态') }}: </div>{{ receipt.status_show }}</div>
          <div class="header-info-item">
            <div class="header-info-label">{{ __('运输方式') }}: </div>
            {% if page_type == "view" or receipt.status != 1 %}
            {{ receipt.departure_show }}
            {% else %}
						<select name="shippingMethod" class="form-control edit-input" id="shippingMethod">
              {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
							{% for key,method in shipping_methods %}
								<option value="{{ key }}">{{ method }}</option>
							{% endfor %}>
						</select>
            {% endif %}
          </div>
        </div>
        <hr/>
        {% if receipt.status == 0 or receipt.status == 1 %}
          {# 待提交状态、已废弃状态第二行字段一致 #}
          <div class="header-info-row">
            <div class="header-info-item">
              <div class="header-info-label">{{ __('集装箱尺寸') }}:  </div>
              {% if page_type == "view" %}
                <div id="sizeContent">{{ receipt.container_size }}</div>
              {% else %}
              <div>
                <select name="shippingSize" class="form-control edit-input" id="shippingSize">
                  {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                  {% for key,container in containers %}
                    <option value="{{ container }}">{{ container }}</option>
                  {% endfor %}>
                </select>
                <div class="input-error-msg">{{ __('集装箱尺寸不能为空') }}</div>
              </div>
              {% endif %}
            </div>
            <div class="header-info-item">
              {% if page_type == "view" %}
                {% if receipt.shipping_way == 1 or receipt.shipping_way == 2 %}
                  <div class="header-info-label">{{ __('起运港') }}: </div>
                {% else %}
                  <div class="header-info-label">{% if receipt.shipping_way == null %}{{ __('起运港') }}{% else %}{{ __('起运城市') }}{% endif %}: </div>
                {% endif %}
                <div id="portContent">{{ receipt.port_start }}</div>
              {% else %}
              <div class="header-info-label departure-port">{{ __('起运港') }}: </div>
              <div class="header-info-label departure-city">{{ __('起运城市') }}: </div>
              <div class="departure-port">
                <select name="departurePort" class="form-control edit-input" id="departurePort">
                  {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                  {% for key,departure in departures %}
                    <option value="{{ departure }}">{{ departure }}</option>
                  {% endfor %}>
                </select>
                <div class="input-error-msg">{{ __('起运港不能为空') }}</div>
              </div>
              <div class="departure-city">
                <input name="departureCity" class="form-control edit-input" maxlength="50" id="departureCity"></input>
                <div class="input-error-msg">{{ __('起运城市不能为空') }}</div>
              </div>
              {% endif %}
            </div>
            {# 1.seller头程：预计到库时间 2.giga头程：期望船期 （已弃用）#}
            {# 1. 委托海运操作/客户自发：期望船期 2. b2b local ：期望船期 （已弃用）#}
            {# 待提交状态期望船期和预计到库时间联动 #}
            {% if receipt.status != 1 %}
              {% if receipt.shipping_way == 1  %}
              <div class="header-info-item"><div class="header-info-label">{{ __('期望船期') }}: </div>
                {% if page_type == "view" %}
                  {% if receipt.expected_shipping_date_start | default != null %}
                  {{ receipt.expected_shipping_date_start | date("Y-m-d")}} ~
                  {% endif %}
                  {% if receipt.expected_shipping_date_end | default != null %}
                  {{ receipt.expected_shipping_date_end | date("Y-m-d")}}
                  {% endif %}
                {% else %}
                <div>
                  <select name="shippingSche" class="form-control edit-input" id="shippingSche">
                    {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                    {% for key,date in shipping_date %}
                      <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{ date.end }}</option>
                    {% endfor %}>
                  </select>
                  <div class="input-error-msg">{{ __('期望船期不能为空') }}</div>
                </div>
                {% endif %}
              </div>
              {% elseif receipt.shipping_way == 2 %}
                  <div class="header-info-item"><div class="header-info-label">{{ __('期望船期') }}: </div>
                      {% if page_type == "view" %}
                          {% if receipt.expected_shipping_date_start | default != null %}
                              {{ receipt.expected_shipping_date_start | date("Y-m-d")}} ~
                          {% endif %}
                          {% if receipt.expected_shipping_date_end | default != null %}
                              {{ receipt.expected_shipping_date_end | date("Y-m-d")}}
                          {% endif %}
                      {% else %}
                          <div>
                              <select name="consignedSche" class="form-control edit-input" id="consignedSche">
                                  {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                                  {% for key,date in self_shipping_date %}
                                  <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{ date.end }}</option>
                                  {% endfor %}>
                              </select>
                              <div class="input-error-msg">{{ __('期望船期不能为空') }}</div>
                          </div>
                      {% endif %}
                  </div>
              {% else %}
              <div class="header-info-item"><div class="header-info-label">{{ __('期望发货时间') }}:</div>
                {% if page_type == "view" %}
                  {% if receipt.expected_shipping_date_start | default != null %}
                  {{ receipt.expected_shipping_date_start | date("Y-m-d")}} ~
                  {% endif %}
                  {% if receipt.expected_shipping_date_end | default != null %}
                  {{ receipt.expected_shipping_date_end | date("Y-m-d")}}
                  {% endif %}
                {% else %}
                <div>
                  <select name="deliveryDate" class="form-control edit-input" id="deliveryDate">
                    {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                    {% for key,date in delivery_date %}
                      <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{date.end}}</option>
                    {% endfor %}>
                  </select>
                  <div class="input-error-msg">{{ __('期望发货时间不能为空') }}</div>
                </div>
                {% endif %}
              </div>
              {% endif %}
            {% else %}
              <!-- 待提交申请状态 -->
              <div class="header-info-item" id="c-expect-shipping-date"><div class="header-info-label">{{ __('期望船期') }}: </div>
                {% if page_type == "view" %}
                  {% if receipt.expected_shipping_date_start | default != null %}
                  {{ receipt.expected_shipping_date_start | date("Y-m-d")}} ~
                  {% endif %}
                  {% if receipt.expected_shipping_date_end | default != null %}
                  {{ receipt.expected_shipping_date_end | date("Y-m-d")}}
                  {% endif %}
                {% else %}
                <div>
                  <select name="shippingSche" class="form-control edit-input" id="shippingSche">
                    {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                    {% for key,date in shipping_date %}
                      <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{ date.end }}</option>
                    {% endfor %}>
                  </select>
                  <div class="input-error-msg">{{ __('期望船期不能为空') }}</div>
                </div>
                {% endif %}
              </div>
              <div class="header-info-item" id="c-expect-consign-shipping-date"><div class="header-info-label">{{ __('期望船期') }}: </div>
                    {% if page_type == "view" %}
                        {% if receipt.expected_shipping_date_start | default != null %}
                            {{ receipt.expected_shipping_date_start | date("Y-m-d")}} ~
                        {% endif %}
                        {% if receipt.expected_shipping_date_end | default != null %}
                            {{ receipt.expected_shipping_date_end | date("Y-m-d")}}
                        {% endif %}
                    {% else %}
                        <div>
                            <select name="consignedSche" class="form-control edit-input" id="consignedSche">
                                {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                                {% for key,date in self_shipping_date %}
                                <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{ date.end }}</option>
                                {% endfor %}>
                            </select>
                            <div class="input-error-msg">{{ __('期望船期不能为空') }}</div>
                        </div>
                    {% endif %}
                </div>
              <div class="header-info-item" id="c-expect-delivery-date"><div class="header-info-label">{% if receipt.shipping_way == null %}{{ __('期望船期') }}{% else %}{{ __('期望发货时间') }}{% endif %}:</div>
                {% if page_type == "view" %}
                  {% if receipt.expected_shipping_date_start | default != null %}
                  {{ receipt.expected_shipping_date_start | date("Y-m-d")}} ~
                  {% endif %}
                  {% if receipt.expected_shipping_date_end | default != null %}
                  {{ receipt.expected_shipping_date_end | date("Y-m-d")}}
                  {% endif %}
                {% else %}
                <div>
                  <select name="deliveryDate" class="form-control edit-input" id="deliveryDate">
                    {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                    {% for key,date in delivery_date %}
                      <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{ date.end }}</option>
                    {% endfor %}>
                  </select>
                  <div class="input-error-msg">{{ __('期望发货时间不能为空') }}</div>
                </div>
                {% endif %}
              </div>
            {% endif %}
            <div class="header-info-item"><div class="header-info-label">{{ __('SKU总数量/总箱数') }}: </div>{{ receipt.receiptDetails|length}}/{{ receipt.total_qty }}</div>
          </div>
        {% else %}
        {# 已申请，已分仓，待订舱，已订舱，待收货，已收货，已取消，第二行字段一致 #}
        <div class="header-info-row">
          <div class="header-info-item"><div class="header-info-label">{{ __('集装箱尺寸') }}: </div>
            {% if page_type == 'view' or page_type == 'confirm_shipping' or receipt.status == 6 %}
              <div id="sizeContent">{{ receipt.container_size | default('') }}</div>
            {% else %}
            <div>
              <select name="shippingSize" class="form-control edit-input" id="shippingSize">
                {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                {% for key,container in containers %}
                  <option value="{{ container }}">{{ container }}</option>
                {% endfor %}>
              </select>
              <div class="input-error-msg">{{ __('集装箱尺寸不能为空') }}</div>
            </div>
            {% endif %}
          </div>
          <div class="header-info-item"><div class="header-info-label">{{ __('集装箱号') }}: </div>

          {% if receipt.shipping_way == 1 or receipt.shipping_way == 3 or page_type == "view" %}
          {{ receipt.container_code }}
          {% else %}
          {# 已分仓状态的seller自发的确认发船操作才能编辑 #}
            {% if receipt.status == 3 and page_type == "confirm_shipping" %}
              <div>
                <input type="text" class="edit-input form-control" name="containerCode" maxlength="30" id="containerCode"></input>
                <div class="input-error-msg">{{ __('集装箱号不能为空') }}</div>
              </div>
            {% else %}
              {{ receipt.container_code }}
            {% endif %}
          {% endif %}
          </div>
          <div class="header-info-item">
          {% if page_type == "view" or page_type == "confirm_shipping" or receipt.status == 6 %}
            {% if receipt.shipping_way == 1 or receipt.shipping_way == 2 %}
            <div class="header-info-label departure-port">{{ __('起运港') }}: </div>
            {% else %}
            <div class="header-info-label departure-city">{% if receipt.shipping_way == null %}{{ __('起运港') }}{% else %}{{ __('起运城市') }}{% endif %}: </div>
            {% endif %}
            <div id="portContent"> {{ receipt.port_start }}</div>
          {% else %}
          <div class="header-info-label departure-port">{{ __('起运港') }}: </div>
          <div class="header-info-label departure-city">{{ __('起运城市') }}: </div>
          <div class="departure-port">
            <select name="departurePort" class="form-control edit-input" id="departurePort">
              {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
              {% for key,departure in departures %}
                <option value="{{ departure }}">{{ departure }}</option>
              {% endfor %}>
            </select>
            <div class="input-error-msg">{{ __('起运港不能为空') }}</div>
          </div>
          <div class="departure-city">
            <input name="departureCity" class="form-control edit-input" maxlength="50" id="departureCity" />
            <div class="input-error-msg">{{ __('起运城市不能为空') }}</div>
          </div>
          {% endif %}
          </div>
          {% if receipt.area_warehouse %}
          <div class="header-info-item"><div class="header-info-label">{{ __('收货区域仓库') }}: </div>{{ receipt.area_warehouse | default('') }}</div>
          {% else %}
          <div class="header-info-item"><div class="header-info-label">{{ __('收货区域仓库') }}: </div>{{ __('云仓库') }}</div>
          {% endif %}
        </div>
        {% endif %}
        <hr/>
        {# 第三行 #}
        {% if receipt.status != 0 and receipt.status != 1 %}
        <div class="header-info-row">
          {% if receipt.shipping_way == 1 %}
            <div class="header-info-item"><div class="header-info-label">{{ __('期望船期') }}: </div>
          {% elseif receipt.shipping_way == 2 %}
            <div class="header-info-item">
              {% if receipt.status != 2 and page_type != "edit" %}
              <div>
                <div class="header-info-label">{{ __('期望船期') }}:</div>
                <div class="header-info-label">{{ __('预计发船周期') }}: </div>
              </div>
              {% else %}
              <div class="header-info-label">{{ __('期望船期') }}:</div>
              {% endif %}
          {% else %}
            <div class="header-info-item"><div class="header-info-label">{% if receipt.shipping_way == null %}{{ __('期望船期') }}{% else %}{{ __('期望发货时间') }}{% endif %}: </div>
          {% endif %}
          {% if page_type == "view" or page_type == "confirm_shipping" or receipt.status == 6 %}
            {% if receipt.shipping_way == 2 and receipt.status != 2 %}
              <div>
                <div style="min-height: 18px">
                  {% if receipt.expected_shipping_date_start | default != null %}
                  {{ receipt.expected_shipping_date_start | date("Y-m-d")}} ~
                  {% endif %}
                  {% if receipt.expected_shipping_date_end | default != null %}
                  {{ receipt.expected_shipping_date_end | date("Y-m-d")}}
                  {% endif %}
                </div>
                <div style="min-height: 18px">
                  {% if receipt.etd_date_start | default != null %}
                  {{ receipt.etd_date_start | date("Y-m-d")}} ~
                  {% endif %}
                  {% if receipt.etd_date_end | default != null %}
                  {{ receipt.etd_date_end | date("Y-m-d")}}
                  {% endif %}
                </div>
              </div>
            {% else %}
              {% if receipt.expected_shipping_date_start | default != null %}
              {{ receipt.expected_shipping_date_start | date("Y-m-d")}} ~
              {% endif %}
              {% if receipt.expected_shipping_date_end | default != null %}
              {{ receipt.expected_shipping_date_end | date("Y-m-d")}}
              {% endif %}
            {% endif %}
          {% else %}
            <div>
              {% if receipt.shipping_way == 1 %}
                <select name="shippingSche" class="form-control edit-input" id="shippingSche">
                  {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                  {% for key,date in shipping_date %}
                    <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{ date.end }}</option>
                  {% endfor %}>
                </select>
                <div class="input-error-msg">{{ __('期望船期不能为空') }}</div>
              {% elseif receipt.shipping_way == 2 %}
                  <select name="consignedSche" class="form-control edit-input" id="consignedSche">
                      {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                      {% for key,date in self_shipping_date %}
                      <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{ date.end }}</option>
                      {% endfor %}>
                  </select>
                  <div class="input-error-msg">{{ __('期望船期不能为空') }}</div>
              {% else %}
                <select name="deliveryDate" class="form-control edit-input" id="deliveryDate">
                  {# <option value="*">--- {{ __('请选择', {}, 'common') }} ---</option> #}
                  {% for key,date in delivery_date %}
                    <option value="{{ date.start }}/{{ date.end }}">{{ date.start }} ~ {{date.end}}</option>
                  {% endfor %}>
                </select>
                <div class="input-error-msg">{{ __('期望发货时间不能为空') }}</div>
              {% endif %}
            </div>
          {% endif %}
          </div>

          {% if receipt.status != 2 %}
            {% if receipt.shipping_way == 1 or receipt.shipping_way == null %}
              {% if receipt.status == 5 or receipt.status == 9 or ((receipt.status == 10 or receipt.status == 11 ) and receipt.last_status == 5) %}
              <div class="header-info-item"><div class="header-info-label">ETD: </div>{{ receipt.etd_date ? receipt.etd_date | date("Y-m-d") }}</div>
              {% elseif receipt.status == 6 or receipt.status == 7 %}
              {# #33631 待收货&已收货状态展示ETD #}
              <div class="header-info-item">
                <div class="header-info-label" style="display: block">
                  <div>ETD:</div>
                  <div>ATD:</div>
                </div>
                <div>
                  <div style="min-height: 18px">{{ receipt.etd_date ? receipt.etd_date | date("Y-m-d") }}</div>
                  <div style="min-height: 18px">{{ receipt.atd_date ? receipt.atd_date | date("Y-m-d") }}</div>
                </div>
              </div>

              {% else %}
                <div class="header-info-item">
                  <div class="header-info-label">{{ __('预计发船周期') }}: </div>
                  {% if receipt.etd_date_start | default != null %}
                  {{ receipt.etd_date_start | date("Y-m-d")}} ~
                  {% endif %}
                  {% if receipt.etd_date_end | default != null %}
                  {{ receipt.etd_date_end | date("Y-m-d")}}
                  {% endif %}
                </div>
              {% endif %}
              <div class="header-info-item"><div class="header-info-label">ETA: </div>{{ receipt.eta_date ? receipt.eta_date | date("Y-m-d") }}</div>
              <div class="header-info-item"><div class="header-info-label">{{ __('船公司') }}: </div>
                {{ receipt.shipping_company }}
              </div>
            {% elseif receipt.shipping_way == 2 %}
              <div class="header-info-item"><div class="header-info-label">ETD: </div>
                {% if page_type == "view" %}
                  {% if receipt.etd_date %}
                    {{ receipt.etd_date | date("Y-m-d")  }}
                  {% endif %}
                {% else %}
                  {% if receipt.status == 3 and page_type == "confirm_shipping" %}
                    <div>
                      <div class="oris-ingroup action-clear" id="etd-container">
                        <input type="text" name="etd" class="form-control oris-input brr-0-i" value="{{ receipt.etd_date }}" placeholder="{{ __('请选择', {}, 'common') }}" id="etd" readonly>
                        <i class="giga icon-v10quxiao-01 oris-clear receipt-view-oris-clear"></i>
                        <span class="oris-ingroup-date"><i class="fa fa-calendar"></i></span>
                      </div>
                      <div class="input-error-msg">{{ __('ETD不能为空') }}</div>
                    </div>
                  {% else %}
                    {% if receipt.etd_date %}
                      {{ receipt.etd_date | date("Y-m-d")  }}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
              <div class="header-info-item"><div class="header-info-label">ETA: </div>
                {% if page_type == "view" %}
                  {% if receipt.eta_date %}
                    {{ receipt.eta_date | date("Y-m-d")  }}
                  {% endif %}
                {% else %}
                  {% if receipt.status == 3 and page_type == "confirm_shipping" %}
                    <div>
                      <div class="oris-ingroup action-clear" id="eta-container">
                        <input type="text" name="eta" class="form-control oris-input brr-0-i" value="{{ receipt.eta_date }}" placeholder="{{ __('请选择', {}, 'common') }}" id="eta" readonly>
                        <i class="giga icon-v10quxiao-01 oris-clear receipt-view-oris-clear"></i>
                        <span class="oris-ingroup-date"><i class="fa fa-calendar"></i></span>
                      </div>
                      <div class="input-error-msg">{{ __('ETA不能为空') }}</div>
                    </div>
                  {% else %}
                    {% if receipt.eta_date %}
                      {{ receipt.eta_date | date("Y-m-d")  }}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
              <div class="header-info-item"><div class="header-info-label">{{ __('船公司') }}: </div>
                {% if page_type == "view" %}
                {{ receipt.shipping_company | default('') }}
                {% else %}
                  {% if receipt.status == 3 and page_type == "confirm_shipping" %}
                  <div>
                    <input type="text" class="form-control edit-input" name="shipComp" id="shipComp" maxlength="30"></input>
                    <div class="input-error-msg">{{ __('船公司不能为空') }}</div>
                  </div>
                  {% else %}
                    {{ receipt.shipping_company}}
                  {% endif %}
                {% endif %}
              </div>
            {% else %}
              <div class="header-info-item">
                <div class="header-info-label">{{ __('预计发货时间') }}: </div>
                {# {{ receipt.etd_date_start | date("Y-m-d")}} ~ {{ receipt.etd_date_end | date("Y-m-d") }} #}
                {% if receipt.etd_date_start | default != null %}
                {{ receipt.etd_date_start | date("Y-m-d")}} ~
                {% endif %}
                {% if receipt.etd_date_end | default != null %}
                {{ receipt.etd_date_end | date("Y-m-d")}}
                {% endif %}
              </div>
              <div class="header-info-item"></div>
              <div class="header-info-item"></div>
            {% endif %}
          {% endif %}

        </div>
        <hr/>
        {% endif %}
        {# 费用部分，除 待提交状态、已废弃状态 均有 #}
        {% if receipt.status != 0 and receipt.status != 1 %}
        <div class="header-info-row">
          <div class="header-info-item"><div class="header-info-label">{{ __('SKU总数量/总箱数') }}:  </div>{{ receipt.receiptDetails|length}}/{{ receipt.total_qty }}</div>
          <div class="header-info-item"><div class="header-info-label">{{ __('卸货费') }}:  </div>{{ receipt.unloading_charges }}</div>
          <div class="header-info-item"><div class="header-info-label">{{ __('额外卸货费') }}: <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title=""
            data-html="true" data-original-title="{{ __('当集装箱中SKU数量超过20个或者箱数超过700箱,将被收取额外卸货费') }}"></i></div> {{ receipt.additional_unloading_charges }}</div>
          <div class="header-info-item"><div class="header-info-label">{{ __('其他费用') }}: </div>{{ receipt.other_expenses }}</div>
        </div>
        <hr/>
        {% endif %}
        <div class="header-info-row" style="position: relative">
          <div class="header-info-item"><div class="header-info-label">{{ __('备注') }}: </div></div>
          {% if page_type == "view" or page_type == "confirm_shipping" or receipt.status == 6 %}
          <div class="remark-content">{{ receipt.remark }}</div>
          {% else %}
          {# <input type="text" class="remark-content form-control" name="remark" id="remark" maxlengt="1000"
            placeholder="{{__('如有需要拆箱需求，请填写在备注中，标明需要拆箱的产品外箱编号和特征')}}"></input> #}

          <textarea type="text" class="remark-content form-control" name="remark" id="remark" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
            placeholder="{{__('如有需要拆箱需求，请填写在备注中，标明需要拆箱的产品外箱编号和特征')}}"></textarea>
          <div id="remark-content-tips" class="remark-content-tips"><span class="value">0</span>/1000</div>
          {% endif %}
        </div>
      </div>
      <hr class="table-split-line"/>
      <div class="table-container">
        <div class="table-title">{{ __('入库单明细') }}</div>
        {% if is_usa %}
          {% set unit=__('英寸') %}
          {% set weight=__('磅') %}
        {% else%}
          {% set unit=__('Cm') %}
          {% set weight=__('Kg') %}
        {% endif %}
        <div class="table-wrapper table-responsive">
          <table class="table" id="order-detail-table">
            <thead>
              <tr>
                <th>Item Code/MPN</th>
                <th>{{ __('产品名称') }}</th>
                <th>{{ __('长') }}({{ unit }})</th>
                <th>{{ __('宽') }}({{ unit }})</th>
                <th>{{ __('高') }}({{ unit }})</th>
                <th>{{ __('重量') }}({{ weight }})</th>
                <th class="table-red-icon">{{ __('预计入库数量') }}</th>
                <th>{{ __('实际收货数量') }}</th>
                <th>
                  {{ __('数量差') }}
                  <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="" data-original-title="{{ __('数量差') }}={{ __('预计入库数量') }}-{{ __('实际收货数量') }}"></i>
                </th>
                {% if receipt.program_code !='3.0'  %}
                  {#委托海运 #}
                  {% if receipt.shipping_way == 1 and not receipt.shippingOrderBook.id and (receipt.status != 1 or page_type == "view" ) %}
                    <th class="table-red-icon" id="hscode-header">{{ __('HS编码') }}</th>
                    <th id="hscode301-header">{{ __('301 HS编码') }}</th>
                  {% endif %}
                  {#客户自发 #}
                  {% if receipt.shipping_way == 2 %}
                    <th class="table-red-icon" id="hscode-header">{{ __('HS编码') }}</th>
                    <th id="hscode301-header">{{ __('301 HS编码') }}</th>
                  {% endif %}
                {% endif %}
                {% if page_type == "edit" %}
                  <th class="oper-col">{{ __('操作') }}</th>
                {% endif %}
              </tr>
            </thead>
            <tbody id="table-body">
            {% if page_type == "view" or page_type == "confirm_shipping" %}
            {% for product in receipt.receiptDetails %}
              <tr>
                <td>{{ product.sku }}/{{ product.mpn }}</td>
                <td><div class="productname-cell" title="{{product.productDesc.name}}">
                    {{ product.productDesc.name | length > 30 ? product.productDesc.name|slice(0, 30) ~ '...' : product.productDesc.name}}
                    </div></td>
                <td>{{ product.length |number_format(2)}}</td>
                <td>{{ product.width |number_format(2)}}</td>
                <td>{{ product.height |number_format(2)}}</td>
                <td>{{ product.weight |number_format(2)}}</td>
                <td>{{ product.expected_qty == 0 ? "" : product.expected_qty }}</td>
                <td>{{ product.received_qty }}</td>
                <td>{{ product.expected_qty - product.received_qty }}</td>
                {% if receipt.program_code !='3.0'  %}
                  {#委托海运 #}
                  {% if receipt.shipping_way == 1 and not receipt.shippingOrderBook.id and (receipt.status != 1 or page_type == "view" ) %}
                    <td>{{ product.hscode }}</td>
                    <td>{{ product['301_hscode'] }}</td>
                  {% endif %}
                  {#客户自发 #}
                  {% if receipt.shipping_way == 2 %}
                    <td>{{ product.hscode }}</td>
                    <td>{{ product['301_hscode'] }}</td>
                  {% endif %}
                {% endif %}
              </tr>
            {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
        {% if receipt.shippingOrderBook.id and receipt.shipping_way == 1 and receipt.program_code != '3.0' %}
          {% if (page_type != "edit" and page_type != "confirm_shipping") or (page_type == "edit" and receipt.status !=1 ) %}
            <div>
              <button class="oris-button" type="button" data-toggle="modal" id="viewBook" data-operating="1"
                    data-target="#orderBookModalView">{{ __('查看托书') }}</button>
            </div>
          {% endif %}
        {% endif %}
        {% if receipt.shipping_way == 1  and receipt.program_code == '3.0' and (receipt.status !=1 or(receipt.status ==1 and  page_type != "edit" and page_type != "confirm_shipping")) %}
          <div>
            <button class="oris-button" type="button" data-toggle="modal" id="viewBook" data-operating="1"
                  data-target="#orderBookModalView">{{ __('查看托书') }}</button>
          </div>
        {% endif %}

        {% if (page_type == "edit" or page_type == "confirm_shipping") and canEdit %}
        <div class="button-container">
          <button class="oris-button pull-left" type="button" id="writeBook" data-toggle="modal" data-operating="0"
                  data-target="#orderBookModal">{{ __('填写托书') }}</button>
          <button class="oris-button oris-button-default" onclick="handleCancel()">{{ __('取消') }}</button>
          {% if receipt.status == 1 %}
          <button class="oris-button" onclick="handleSave()">{{ __('保存') }}</button>
          {% endif %}
          <button class="oris-button" onclick="handleSubmit()">{{ __('提交') }}</button>
        </div>
        {% endif %}
        <div class="records-container">
          <div class="table-title">{{ __('入库单编辑记录') }}</div>
          {% if receipt_order_history %}
          <table class="table" id="records-table">
            <colgroup>
              <col span="1" style="width: 15%;">
              <col span="1" style="width: 85%;">
            </colgroup>
            <thead>
              <tr>
                <th>{{ __('记录创建时间') }}</th>
                <th>{{ __('记录详情') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for record in receipt_order_history %}
                <tr>
                  <td><div class="records-date">{{ record['create_time'] }}</div></td>
                  <td>
                    {% set length = record['content']|length %}
                    <div class="records-row {{ length > 1 ? 'hasRecords' :'' }}" id="records-content-{{loop.index}}" data-id="{{loop.index}}">
                      <div class="records-type">{{ record['type'] }}</div><div class="records-content">{{ record['content'][0] }}</div>
                      {% if record['content'] | length > 1 %}
                      <span class="arrow-container">
                        <span id="arrowicon-{{loop.index}}"><i class="giga icon-iup"></i></span>
                        {# <span id="upicon-{{loop.index}}"><i class="giga icon-down-solid"></i></span> #}
                      </span>
                      {% endif %}
                    </div>
                    {% if record['content'] | length > 1 %}
                    <div id="records-detail-{{loop.index}}" >
                      {% for item in record['content'] %}
                      {% if not loop.first %}
                      <div class="records-row">
                        <div class="records-type"></div><div class="records-content">{{ item }}</div>
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div class="no-records">
            {{ __('暂无入库单编辑记录') }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
    {#      {% if receipt.shipping_way == 1 and receipt.program_code == '3.0' %}#}
    {% include "yzcTheme/template/customerpartner/warehouse/common/shipping_order_book_modal.twig"%}
    {% include "yzcTheme/template/customerpartner/warehouse/common/shipping_order_book_modal_view.twig"%}
    {#      {% endif %}#}
<script type="text/javascript" src="public/js/common/toolString.js"></script>
{{ footer }}
{% if page_type != "view" and page_type != "confirm_shipping" %}
  {% include "yzcTheme/template/customerpartner/warehouse/common/detailEditTable.twig" with {"receipt": receipt, "data_type": "edit"} %}
{% endif %}
<script type="text/javascript">
const EDIT_API = "/index.php?route=customerpartner/warehouse/receipt/doEdit";
const CONFIRM_SHIPPING_API = "/index.php?route=customerpartner/warehouse/receipt/doAddShipLaunch";
const CHECK_API = "/index.php?route=customerpartner/warehouse/receipt/checkDataIsChanged";


$(document).ready(function () {
  console.log({{ receipt }})
  //对文本框计数
  $("#remark").bind("input propertychange change", function() {
    var remarkDesc = $("#remark").val();
    //获取输入内容
    var calcReturn = toolString.calcStringLength(remarkDesc, 1000);
    $("#remark").val(calcReturn.fullStr);
    //显示字数
    $(".value").text(calcReturn.len);
  });

  //起运城市输入限制
  $("#departureCity").bind("input propertychange change", function() {
    var cityDesc = $("#departureCity").val();
    //获取输入内容
    var calcReturn = toolString.calcStringLength(cityDesc, 50);
    $("#departureCity").val(calcReturn.fullStr)
  });

  //集装箱号输入限制
  $("#containerCode").bind("input propertychange change", function() {
    var desc = $("#containerCode").val();
    //获取输入内容
    var calcReturn = toolString.calcStringLength(desc, 30);
    $("#containerCode").val(calcReturn.fullStr)
  });

  //船公司输入限制
  $("#shipComp").bind("input propertychange change", function() {
    var desc = $("#shipComp").val();
    //获取输入内容
    var calcReturn = toolString.calcStringLength(desc, 30);
    $("#shipComp").val(calcReturn.fullStr)
  });

  // eta 日期选择
  $('#eta').datetimepicker({
    format:"YYYY-MM-DD",
    pickDate: true,
	  pickTime: false
  });

  // etd 日期选择
  $('#etd').datetimepicker({
    format:"YYYY-MM-DD",
    pickDate: true,
	  pickTime: false
  });

  var receipt = {{ receipt | json_encode() | raw }};
  //设置默认值
  setDefaultValue();

  //显示 期望发货日期 or 期望船期
  $("#c-expect-delivery-date").hide();
  $("#c-expect-shipping-date").hide();
  $("#c-expect-consign-shipping-date").hide();

  //显示 起运港 or 起运城市
  $(".departure-port").hide();
  $(".departure-city").hide();
  if(receipt.shipping_way == 1 ) {
    $("#c-expect-shipping-date").css("display", "flex");
    $(".departure-port").show()
  } else if (receipt.shipping_way == 2) {
    $("#c-expect-consign-shipping-date").css("display", "flex");
    $(".departure-port").show()
  } else {
    $("#c-expect-delivery-date").css("display", "flex");
    $(".departure-city").show()
  }
});

{% if receipt.shipping_way == 1 and receipt.shippingOrderBook.id  %}
//获取托书
var bookData = {{ receipt.shippingOrderBook | js_json }};
var shipping_list = {{ receipt.shippingOrderBook.shipping_list | js_json }};
bookData.shipping_list = shipping_list;
{% else %}
var bookData;
{% endif %}

var clickEvent = 1;
//历史待提交的入库单托书同申请时均为空，按照申请逻辑走
var receiptList = {{ receipt| json_encode() | raw }};
if (receiptList.shipping_way==1 && receiptList.program_code!='3.0' && !receiptList.shipping_order_book ){
  var operate = 'apply';
}else{
  var operate;
}
//查看编辑托书
$("#writeBook").on('click',function () {
  var size = $("#shippingSize").val() ||  $("#sizeContent").text();
  var port = $("#departurePort").val() || $("#portContent").text();
  if (size && port){
    $("#bookForm").find('input[name=size]').val(size);
    $("#bookForm").find('input[name=port]').val(port);
  }
  shippingOrderBook.saveNotSubmit(operate);
  if (clickEvent){
    shippingOrderBook.bindClick();
    shippingOrderBook.bindChange();
    shippingOrderBook.initialize();
  }
});
$("#viewBook").on('click',function () {
  var size = $("#sizeContent").text() || $("#shippingSize").val();
  var port = $("#portContent").text() || $("#departurePort").val();
  if (size && port){
    $("#sizeView").html(size);
    $("#portView").html(port);
  }
  shippingOrderBookView.bindClick();
  shippingOrderBookView.initialize();
});

function setDefaultValue() {
	//设置默认值
  var receipt = {{ receipt| json_encode() | raw }};
  $("#shippingMethod").val(receipt.shipping_way);
  $("#shippingSize").val(receipt.container_size);
  if(receipt.shipping_way == 1 || receipt.shipping_way == 2) {
    $("#departurePort").val(receipt.port_start);
  } else {
    $("#departureCity").val(receipt.port_start);
  }
  addDefaultTimeOption("#shippingSche", formatDateTime(receipt.expected_shipping_date_start), formatDateTime(receipt.expected_shipping_date_end));
  addDefaultTimeOption("#consignedSche", formatDateTime(receipt.expected_shipping_date_start), formatDateTime(receipt.expected_shipping_date_end));
  addDefaultTimeOption("#deliveryDate", formatDateTime(receipt.expected_shipping_date_start), formatDateTime(receipt.expected_shipping_date_end));
  var shippingSche = formatDateTime(receipt.expected_shipping_date_start) + '/' + formatDateTime(receipt.expected_shipping_date_end);
  var consignedSche = formatDateTime(receipt.expected_shipping_date_start) + '/' + formatDateTime(receipt.expected_shipping_date_end);
  var deliveryDate = formatDateTime(receipt.expected_shipping_date_start) + '/' + formatDateTime(receipt.expected_shipping_date_end);

  $("#containerCode").val(receipt.container_code);
  $("#shipComp").val(receipt.shipping_company);
  $("#eta").val(formatDateTime(receipt.eta_date));
  $("#etd").val(formatDateTime(receipt.etd_date));

  $("#shippingSche").val(shippingSche);
  $("#consignedSche").val(consignedSche);
  $("#deliveryDate").val(deliveryDate);
  $("#remark").val(receipt.remark);

  //统计数字
  var remarkDesc = $("#remark").val() || '';
  //获取输入内容
  var calcReturn = toolString.calcStringLength(remarkDesc, 1000);
  //显示字数
  $(".value").text(calcReturn.len);

  //待提交申请且运输方式为委托海运
  if (receipt.shipping_way == 1 && receipt.status == 1) {
    $("#writeBook").show();
  } else {
    $("#writeBook").hide();
  }
  let hide = true;
  if (receipt && receipt.program_code != '3.0'){
    if ((receipt.shipping_way == 1 && !receipt.shipping_order_book && receipt.status != 1) || (receipt.shipping_way == 2)){
      hide = false;
    }
  }
  {% if page_type != "view" and page_type != "confirm_shipping" %}
  	refreshDetailTableCols(hide);
  {% endif %}
}

// add default option
function addDefaultTimeOption(dom, start, end) {
  var val = start + '/' + end;
  $(dom).append(`<option value="${val}" style="display:none">${start} ~ ${end}</option>`)
}

// 期望船期和预计到库时间联动展示
$("#shippingMethod").change(function() {
	var method = $(this).val();

  //待提交申请且运输方式为委托海运
  if (method == 1 && receipt.status == 1) {
   if(receipt.shipping_order_book){
     bookData = receipt.shipping_order_book;
     var shipping_list = JSON.parse(receipt.shipping_order_book.shipping_list);
     bookData.shipping_list = shipping_list;
   }
    $("#writeBook").show();
  } else {
    $("#writeBook").hide();
  }

  //期望船期 or 期望发货时间
  $("#c-expect-delivery-date").hide();
  $("#c-expect-consign-shipping-date").hide();
  $("#c-expect-shipping-date").hide();
  //显示 起运港 or 起运城市
  $(".departure-port").hide();
  $(".departure-city").hide();
	let hide = false; //是否隐藏明细表中的字段
  let shipping_date = {{ shipping_date | json_encode() | raw }};
  let self_shipping_date = {{ self_shipping_date | json_encode() | raw }};
  let delivery_date = {{ delivery_date | json_encode() | raw }};
  if (method == 1 || method == 2) {
    if (receipt && receipt.program_code == '2.0'){
      if (receipt.status == 1){
        $("#hscode-header").hide();
        $("#hscode301-header").hide();
        hide = true;
      }else{
        $("#hscode-header").show();
        $("#hscode301-header").show();
        hide = false;
      }
    }else{
      $("#hscode-header").hide();
      $("#hscode301-header").hide();
      hide = true;
    }
    $(".departure-port").show();
    if (method == 1) {
        $("#c-expect-shipping-date").css("display", "flex");
        let shippingSche = formatDateTime(shipping_date[0].start) + '/' + formatDateTime(shipping_date[0].end);
        $("#shippingSche").val(shippingSche);
    } else {
        $("#c-expect-consign-shipping-date").css("display", "flex");
        let consignedSche = formatDateTime(self_shipping_date[0].start) + '/' + formatDateTime(self_shipping_date[0].end);
        $("#consignedSche").val(consignedSche);
    }

	} else {
    $("#c-expect-delivery-date").css("display", "flex");
    $(".departure-city").show();
    $("#hscode-header").hide();
    $("#hscode301-header").hide();
    let deliveryDate = formatDateTime(delivery_date[0].start) + '/' + formatDateTime(delivery_date[0].end);
    $("#deliveryDate").val(deliveryDate);
    hide = true;
  }
	refreshDetailTableCols(hide);
  removeAllFormError();
});

  //下拉框错误提示
  let doms = ["#shippingSize","#departureCity","#departurePort","#shippingSche","consignedSche","#deliverySche"];
  for(let d of doms) {
    $(d).change(function(){
      var val = $(this).val();
      if (val != '*') {
        removeFormError(d)
      }
    })
  }

function formatDateTime(date) {
  if(date)
    return date.split(' ')[0];
  else return date ? data : '';
}

function removeAllFormError() {
	$(".input-error-msg").hide();
	$(".form-control").removeClass("input-invalid");
}

function showFormError(dom) {
	$(dom).addClass("input-invalid");
	$(`${dom} + .input-error-msg`).show();
}

function removeFormError(dom) {
  $(dom).removeClass("input-invalid");
  $(`${dom} + .input-error-msg`).hide();
}

//表单有效性验证
function isValid(data) {
	let valid = true;
  let method = data["shipping_way"];
  if (method == 2 && data['container_code'] == "") {
    showFormError("#containerCode");
    valid = false;
  }
  if (method == 2 && data['shipping_company'] == "") {
    showFormError("#shipComp");
    valid = false;
  }
  if (method == 2 && data['eta_date'] == "") {
    $("#eta").addClass("input-invalid");
	  $(`#eta-container + .input-error-msg`).show();
    valid = false;
  }
  if (method == 2 && data['etd_date'] == "") {
    $("#etd").addClass("input-invalid");
	  $(`#etd-container + .input-error-msg`).show();
    valid = false;
  }
  if (data["shipping_way"] == 3 && data["port_start"].trim() == "" ) {
    showFormError("#departureCity");
    valid = false;
  }
	return valid;
}

//返回列表页
function returnListPage() {
	window.location.href = "/index.php?route=customerpartner/warehouse/receipt";
}

//获取表单数据
function getData() {
	var data = {};
  var receipt = {{ receipt | json_encode() | raw }};

  data['receive_order_id'] = receipt.receive_order_id;
	data['shipping_way'] = $("#shippingMethod").val() ? $("#shippingMethod").val() : receipt.shipping_way ;

  if (receipt.status != 6) {//非待收货
    data['container_size'] = $("#shippingSize").val();

    if (data['shipping_way'] == 1 || data['shipping_way'] == 2) {
      data['port_start'] = $("#departurePort").val();
    } else {
      data['port_start'] = $("#departureCity").val().trim();
    }
    data['container_code'] = $("#containerCode").val(); // 集装箱号
    data['shipping_company'] = $("#shipComp").val(); // 船公司
    data['eta_date'] = $("#eta").val(); // eta
    data['etd_date'] = $("#etd").val(); // etd 预计发船日

    if (data['shipping_way'] == 1 ) {
      data['expected_shipping_date_start'] = $("#shippingSche").val() ? $("#shippingSche").val().split("/")[0] : null;
      data['expected_shipping_date_end'] = $("#shippingSche").val() ? $("#shippingSche").val().split("/")[1] : null;
    } else if (data['shipping_way'] == 2) {
      data['expected_shipping_date_start'] = $("#consignedSche").val() ? $("#consignedSche").val().split("/")[0] : null;
      data['expected_shipping_date_end'] = $("#consignedSche").val() ? $("#consignedSche").val().split("/")[1] : null;
    } else {
      data['expected_shipping_date_start'] = $("#deliveryDate").val() ? $("#deliveryDate").val().split("/")[0] : null;
      data['expected_shipping_date_end'] = $("#deliveryDate").val() ? $("#deliveryDate").val().split("/")[1] : null;
    }

    data['remark'] = $("#remark").val() ? $("#remark").val().trim() : "";
  }

  {# 发船确认不需要传明细数据 #}
  {% if page_type != 'confirm_shipping' %}
	  data['products'] = returnTableData();
  {% else %}
    data['products'] = [];
  {% endif %}
	return data;
}

//取消
function handleCancel() {
	returnListPage();
}

//请求接口
function innerRequest(data) {
    {% if page_type == "confirm_shipping" %}
      var url = CONFIRM_SHIPPING_API;
    {% else %}
      var url = EDIT_API;
    {% endif %}

  	$.ajax({
		url: url,
		type: 'POST',
		dataType: 'json',
		contentType: 'application/json',
		data: JSON.stringify(data),
		beforeSend: function () {
      layer.load(1, {shade: [0.3, '#000']});
    },
		success: function(res) {
      layer.closeAll('loading');
			var confirmTitle = res.msg || '';
			var tmplayer = layer.confirm(confirmTitle, {
				title: "{{ __('注意') }}",
				skin: 'yzc_layer',
				btn: ["{{ __('ok') }}"],
				btnAlign: 'c',
				cancel: function() {
					if (res.code == 200)
					  returnListPage();
				  layer.close(tmplayer);
				}
			}, function() {
				if (res.code == 200)
					returnListPage();
				layer.close(tmplayer);
			})
		},
		error: function (xhr, ajaxOptions, thrownError) {
			layer.closeAll('loading');
			layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText, {
				time: 3000,
				skin: ''
			});
		}
	});
}

//保存
function handleSave() {
	removeAllFormError();
	var data = getData();
  if (!isValid(data)) {
		return;
  }
  if(!saveCheck(data['products'])) {
    return;
  }
  //如果委托海运则需要托书
  if ($("#shippingMethod").val()==1 && !bookData){
    layer.msg("{{ __('托书不能为空') }}");
    return;
  }
  // 未选产品的行项不生效
  let products = [];
  data.products.forEach(item => {
    if(item.product_id) {
      products.push(item)
    }
  });
  data.products = products;
  //当前状态
  var curStatus ='{{ receipt.status | json_encode() | raw }}' || '0';
  data['originStatus'] = curStatus;
  //如果委托海运则需要托书
  if ($("#shippingMethod").val()==1){
    data['bookData']=bookData;
  }
  innerRequest(data);
}

//submit 二次确认弹窗
function checkSubmitProcess(data) {
  {% if page_type == "confirm_shipping" %}
    var confirmTitle = "{{ __('您确认要提交发船信息吗？') }}";
  {% else %}
    var confirmTitle = "{{ __('你确认提交这个入库单吗？') }}";
  {% endif %}
  var confirmLayer = layer.confirm(confirmTitle, {
      title: "{{ __('确认') }}",
      skin: 'yzc_layer',
      btn: ["{{ __('yes') }}", "{{ __('no') }}"],
      btnAlign: 'c',
      cancel: function() {
        layer.close(confirmLayer);
      }
    }, function() {
      layer.close(confirmLayer);
      innerRequest(data);
    }, function() {
      layer.close(confirmLayer);
    });
}

//已分仓，待订舱，已订舱状态 需要有二次弹窗确认
//检查是否需要重走分仓流程
function checkIfReProcess(data) {
  $.ajax({
		url: CHECK_API,
		type: 'POST',
		dataType: 'json',
		contentType: 'application/json',
		data: JSON.stringify(data),
		beforeSend: function () {
      layer.load(1, {shade: [0.3, '#000']});
    },
		success: function(res) {
      layer.closeAll('loading');
      if (res.code == 200) {
        var confirmTitle = `{{ __('该入库单状态为:status，修改入库单信息需要等待相关部门确认，您确认修改入库单信息吗?', { 'status': receipt.status_show }) }}`;
        var confirmLayer = layer.confirm(confirmTitle, {
            title: "{{ __('确认') }}",
            skin: 'yzc_layer',
            btn: ["{{ __('yes') }}", "{{ __('no') }}"],
            btnAlign: 'c',
            cancel: function() {
              layer.close(confirmLayer);
            }
          }, function() {
            layer.close(confirmLayer);
            if (!isValid(data)) {
              return;
            }
            innerRequest(data);
          }, function() {
            layer.close(confirmLayer);
          })
      } else {
        checkSubmitProcess(data);
      }
		},
		error: function (xhr, ajaxOptions, thrownError) {
			layer.closeAll('loading');
			layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText, {
				time: 3000,
				skin: ''
			});
		}
  });
}

//submit
function handleSubmit() {
  removeAllFormError();
	var data = getData();
  //发出确认不需要验证明细数据
  var page_type = {{ page_type | json_encode() | raw }};

  var curStatus ='{{ receipt.status | json_encode() | raw }}' || '0';

  data['originStatus'] = curStatus;

  if (curStatus != 6) {
    if (!isValid(data)) {
      return;
    }
  }

  if(page_type != "confirm_shipping" && !submitCheck(data['products'])){
    return;
  }

  //如果委托海运则需要托书
  if ($("#shippingMethod").val()==1 && !bookData){
    layer.msg("{{ __('托书不能为空') }}");
    return;
  }

  let products = [];
  data.products.forEach(item => {
    if(item.product_id) {
      products.push(item)
    }
  });
  data.products = products;

  {% if page_type == 'confirm_shipping' %}
    delete data.products;
  {% endif %}

  var shipping_way ={{  receipt.shipping_way|js_var }}
  //如果委托海运则需要托书
  if ($("#shippingMethod").val()==1 ||( !$("#shippingMethod").val()&&shipping_way==1)){
    data['bookData']=bookData;
  }

  //已分仓，待订舱，已订舱状态 需要有二次弹窗确认
  if((curStatus <= 5 && curStatus > 3) || (curStatus == 3 && page_type != "confirm_shipping") ) {
    checkIfReProcess(data);
  } else {
    if(curStatus == 1) {
      data['status'] = 2;
    }
    checkSubmitProcess(data);
  }
}

{# 入库单编辑记录操作部分 #}

$(document).ready(function () {
  $(`[id^='records-detail-']`).hide();
});

$(`[id^='records-content-']`).on("click", function() {
  var id = $(this).data('id');
  $(`#records-detail-${id}`).toggle();
  $(`#arrowicon-${id}`).find('i').toggleClass("icon-down-solid");
});
</script>
