{% trans_default_category 'catalog/view/customerpartner/warehouse/receipt_list' %}
{{ header }}
{{ css(['/css/admin/app.css','css/common/common.css']) }}
{{ js(['js/common/orisComponents.js']) }}
<link href="/catalog/view/theme/yzcTheme/stylesheet/customerpartner/warehouse/receipt_list.css" rel="stylesheet" type="text/css" />
<link href="/catalog/view/javascript/layer/theme/yzc/layuiOris.css" rel="stylesheet"/>
{{ separate_column_left }}
<div class="container-fluid" id="content" style="margin-left: 235px">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="flex-between mr-20">
    <h1>{{ __('入库管理') }}</h1>
    <div>
      <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip">
      </i>
      <a
        href="{% if isChinese %}/storage/download/Packaging Guideline for Receiving Items-cn.pdf{% else %}/storage/download/Packaging Guideline for Receiving Items.pdf{% endif %}"
        target="_blank"
        class="link-color">{{ __('入库商品包装规范') }}</a>
    </div>
  </div>

  <div class="receipt-con box-shadow">
    <div class="search-info">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label text-less" for="input-receiving-order-number">{{ __('入库单号') }}</label>
            <input type="text" autocomplete="off" name="filter_receiving_order_number" value="{{ filter_receiving_order_number }}" placeholder="{{ __('入库单号') }}" id="input-receiving-order-number" class="form-control">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label text-less" for="containerNumber">{{ __('集装箱号') }}</label>
            <input type="text" autocomplete="off" name="filter_container_code" value="{{ filter_container_code  }}" placeholder="{{ __('集装箱号') }}" id="containerNumber" class="form-control">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label text-less" for="status">{{ __('状态') }}</label>
            <select name="filter_status" class="form-control" id="status">
              <option value="" {% if filter_status == '' %}selected {% endif %}>--- {{ __('请选择', {}, 'common') }}---</option>
              {% for key,status in statusList %}
                <option
                  value="{{ key }}" {% if filter_status == key and filter_status != '' %} selected {% endif %}>{{ status }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label col-sm-10 text-less"  style="padding: 0">{{ __('收货日期') }}</label>
            <div class="col-sm-6 pd0 pdr2">
              <div class="oris-ingroup action-clear">
                <input type="text" name="filter_received_from" class="oris-input brr-0-i" value="{{ filter_received_from }}" placeholder="{{ __('选择日期') }}" id="inputDateFrom" readonly>
                <i class="giga icon-v10quxiao-01 oris-clear"></i>
                <span class="oris-ingroup-date"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
            <div class="col-sm-6 pd0 pdl2">
              <div class="oris-ingroup action-clear">
                <input type="text" name="filter_received_to" class="oris-input brr-0-i" value="{{ filter_received_to }}" placeholder="{{ __('选择日期') }}" id="inputDateTo" readonly>
                <i class="giga icon-v10quxiao-01 oris-clear"></i>
                <span class="oris-ingroup-date"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label text-less" for="shipType">{{ __('运输方式') }}</label>
            <select name="filter_shipping_way" class="form-control" id="shipType">
              <option value="">--- {{ __('请选择', {}, 'common') }} ---</option>
              {% for key,shipping in ShippingList %}
              <option value="{{ key }}" {% if filter_shipping_way == key %} selected {% endif %}>{{ shipping }}</option>
              {% endfor %}>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group pull-right " style="margin-bottom: 0">
            <label class="control-label"></label>
            <div class="">
              <button type="button" class="btn btn-primary" id="filter">{{ __('查询') }} </button>
{#              <button type="button"#}
{#                      onclick="window.location ='{{ url('customerpartner/warehouse/receipt') }}';return false;"#}
{#                      class="btn btn-default pull-right" data-toggle="tooltip"#}
{#                      title="{{ __('重置') }}">#}
{#                <i class="giga icon-refresh"></i>#}
{#              </button>#}
              <a type="button" class="btn btn-default" data-toggle="tooltip" id="download" title="{{ __('下载') }}">
                <i class="giga icon-xiazai"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-application-con">
      <div class="row">
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-primary" id="applyReceivingOrder"><i
              class="giga icon-action-add"></i> {{ __('入库单申请') }} </button>
          <button type="button" class="btn btn-primary" id="importReceivingOrder"><i
              class="giga icon-shangchuan"></i> {{ __('入库单导入') }} </button>
        </div>
      </div>
    </div>
    <div class="receipt-search-list">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ column_number }}</th>
            <th>{{ __('入库单号') }}</th>
            <th>{{ __('运输方式') }}</th>
            <th class="width-200">{{ __('集装箱号') }}</th>
            <th>{{ __('状态') }}</th>
            <th>{{ __('收货日期') }}</th>
            <th class="padding-small">
              {{ __('申请日期') }}
              <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="" data-original-title="{{ __('若修改入库单触发了重新分仓机制，则申请时间会更新为操作时间') }}"></i>
            </th>
            <th>{{ __('操作') }}</th>
          </tr>
        </thead>
        <tbody>
        {% if receiptOrderList %}
          {% for key,receiptOrder in receiptOrderList %}
            <tr>
              <td>{{ receiptOrder.num }}</td>
              <td>{{ receiptOrder.receive_number }}</td>
              <td>{{ ShippingList[receiptOrder.shipping_way] }}</td>
              <td class="width-200">{{ receiptOrder.container_code }}</td>
              <td>{{ statusList[receiptOrder.showStatus] }}</td>
              <td>{{ receiptOrder.receive_date }}</td>
              <td>{{ receiptOrder.apply_sort_date }}</td>
              <td class="text-left">
                {# 查看#}
                <a class="btn btn-primary"
                   href="{{ url('customerpartner/warehouse/receipt/view',{'receive_order_id':receiptOrder.receive_order_id}) }}"
                   target="_blank" data-toggle="tooltip" title=""
                   data-original-title="{{ __('查看') }}">
                  <i class="giga icon-chakan1"></i>
                </a>
                <div class="btn-group action-group">
                  {% if receiptOrder.canEditShow or receiptOrder.disableEdit or receiptOrder.canCancel or receiptOrder.confirmShipping or receiptOrder.container_code %}
                    <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle ml-12" ><i class="giga icon-action-more"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      {#显示编辑正常#}
                      {% if receiptOrder.canEditShow %}
                        <li class="cursor-po action-do">
                          <a
                                  href="{{ url('customerpartner/warehouse/receipt/view',{'receive_order_id':receiptOrder.receive_order_id,'page_type':'edit'}) }}">
                            <i class="giga icon-seller_bianji-big"></i>&nbsp;{{ __('编辑入库单') }}</a>
                        </li>
                      {% endif %}
                      {#显示编辑禁用#}
                      {% if receiptOrder.disableEdit %}
                        <li class="cursor-po-disabled action-do"  data-toggle="tooltip" data-original-title="{{ __('当前日期在ETD+3日之后，若要修改入库单，请联系海运物流客服') }}">
                          <a><i class="giga icon-seller_bianji-big"></i>&nbsp;{{ __('编辑入库单') }}</a>
                        </li>
                      {% endif %}
                      {#显示取消#}
                      {% if receiptOrder.canCancel %}
                        <li class="cursor-po action-do">
                          <a
                                  onclick="cancelReceiptOrder('{{ receiptOrder.receive_number }}','{{ receiptOrder.receive_order_id }}','{{ statusList[receiptOrder.showStatus] }}','{{ receiptOrder.doCancelShowConfirm }}')"><i
                                    class="giga icon-V10_danchuangguanbi"></i>&nbsp;{{ __('取消入库单') }}</a>
                        </li>
                      {% endif %}
                      {#发船确认#}
                      {% if receiptOrder.confirmShipping %}
                        <li class="cursor-po action-do">
                          <a
                                  href="{{ url('customerpartner/warehouse/receipt/view',{'receive_order_id':receiptOrder.receive_order_id,'page_type':'confirm_shipping'}) }}">
                            <i class="giga icon-ship"></i>&nbsp;{{ __('发船确认') }}</a>
                        </li>
                      {% endif %}
                      {#显示下载#}
                      {% if receiptOrder.container_code %}
                        <li class="cursor-po action-do">
                          <a onclick="downloadDetail('{{ receiptOrder.receive_order_id }}')"><i
                                    class="giga icon-xiazaixin-01"></i>&nbsp;{{ __('下载入库单') }}
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                  {% endif %}
                </div>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="8">{{ __('无记录') }}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>

    <div class="flex-end pagination-bottom-none">
        {{ pagination }}
    </div>

  </div>

{#  规范确认#}
  <div class="modal fade rules-modal" id="rulesModal" tabindex="-1" role="dialog"
       data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content modal-content-radius">
        <div class="modal-header modal-header-radius">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ __('入库商品包装规范确认') }}</h4>
        </div>
        <div class="modal-body">
          <div class="rules-con">
            <p>
              {{ __('欢迎您使用大健云仓B2B平台，为了保证您的商品顺利入库，也为了平台更好地管理您的商品，请您在申请入库单之前仔细阅读《入库商品包装规范》。') }}
              <br/>
              {{ __('文件中包含的内容如下：') }}
            </p>
            <p class="font-weight">
              {{ __('一、大健云仓产品包装及印刷要求') }}
            </p>
            <p>
              {{ __('1.1 箱唛制作') }}
            </p>
            <p>
              {{ __('1.2 包装及摔箱测试建议') }}
            </p>
            <p class="font-weight">
              {{ __('二、入库单及箱唛贴签生成') }}
            </p>
            <p>
              {{ __('2.1 入库单的重要性质') }}
            </p>
            <p>
              {{ __('2.2 箱唛贴签生成步骤') }}
            </p>
            <p class="font-weight">
              {{ __('三、箱唛贴签作业规范') }}
            </p>
            <p>
              {{ __('3.1 箱唛贴签示例') }}
            </p>
            <p>
              {{ __('3.2 箱唛贴签使用方法') }}
            </p>
            <p class="font-weight">
              {{ __('四、配件指导') }}
            </p>
            <p>
              {{ __('4.1 配件要求') }}
            </p>
            <p>
              {{ __('4.2 配件分类') }}
            </p>
            <p>
              {{ __('4.3 配件包装要求') }}
            </p>
            <p>
              {{ __('4.4 小配件装箱示例') }}
            </p>
            <p>
              {{ __('4.5 入库配件集装箱摆放要求') }}
            </p>
            <p>
              {{ __('4.6 配件作业收费') }}
            </p>
            <p class="font-weight">
              {{ __('更多详细规范内容请点击下方文件名查看完整文件') }}
            </p>
          </div>
          <div class="footer text-center">
            <p>
              <input type="checkbox" class="rule-checkbox" id="ruleCheckbox" autocomplete="off"> {{ __('我已阅读并同意') }} <a
                class="link-color font-weight"
                href="{% if isChinese %}/storage/download/Packaging Guideline for Receiving Items-cn.pdf{% else %}/storage/download/Packaging Guideline for Receiving Items.pdf{% endif %}"
                target="_blank">{{ __('入库商品包装规范') }}</a>{{ __('，理解并承担相关风险') }}
            </p>
            <span class="btn btn-disabled confirm-receipts-disabled" data-toggle="tooltip"
                  data-original-title="{{ __('请单击确认按钮同意以上平台入库商品包装规范以便继续申请入库单') }}">{{ __('确认') }}</span>
            <button class="btn btn-primary confirm-receipts-remind" id="confirmReceiptsRemind">{{ __('确认') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{#  规范确认#}
{#导入入库单文件#}
  <div class="modal fade oris-modal import-modal" id="importModal" tabindex="-1" role="dialog"
       data-backdrop="static" data-keyboard="false">
  </div>
{#导入入库单文件#}
</div>
{{ footer }}
<script type="text/javascript" src="public/js/common/toolString.js"></script>
<script>
  $(document).ready(function () {
    $('#inputDateFrom').datetimepicker({
      pickDate: true,
      pickTime: false,
      format:"YYYY-MM-DD"
    });
    $('#inputDateTo').datetimepicker({
      pickDate: true,
      pickTime: false,
      format:"YYYY-MM-DD"
    });
  });
  var enterOrImport = undefined; //1-apply incoming shipment 2-import incoming shipment
  var ruleConfirmed = false;

  $('body').on("click", '#applyReceivingOrder', function () {
    if ('{{ isReceiptsRemind }}'|| ruleConfirmed) {//确认过商品包装规范
      window.location.href = "/index.php?route=customerpartner/warehouse/receipt/add";
    } else { //未确认过商品包装规范,展示确认弹窗
      enterOrImport = 1;
      $("#rulesModal").modal('show');
      $('#ruleCheckbox').prop('checked', false)
      $(".confirm-receipts-disabled").show();
      $(".confirm-receipts-remind").hide();
    }
  })

  $('body').on("click","#importReceivingOrder",function () {
    if ('{{ isReceiptsRemind }}'|| ruleConfirmed) { //确认过商品包装规范
      showImportIncomingShipment()
    } else { //未确认过商品包装规范,展示确认弹窗
      enterOrImport = 2;
      $("#rulesModal").modal('show');
      $('#ruleCheckbox').prop('checked', false)
      $(".confirm-receipts-disabled").show();
      $(".confirm-receipts-remind").hide();
    }
  });

  function showImportIncomingShipment(){
    // 展示导入模板
    $('#importModal').html('');
    $.ajax({
      url: "{{ url('customerpartner/warehouse/receipt/importTemp') }}",
      beforeSend: function () {
        $("#importReceivingOrder").attr("disabled","disabled")
      },
      success: function(data) {
        $('#importModal').append(data).modal('show');
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      },
      complete:function () {
        $("#importReceivingOrder").removeAttr("disabled")
      }
    });
  };

  $("#ruleCheckbox").on("click",function () {
    if($('#ruleCheckbox').is(':checked')){
      $(".confirm-receipts-disabled").hide();
      $(".confirm-receipts-remind").show();
    }else{
      $(".confirm-receipts-disabled").show();
      $(".confirm-receipts-remind").hide();
    }
  })

  //入库单号模糊搜索
  $('input[name=\'filter_receiving_order_number\']').autocomplete({
    'source': function (request, response) {
      $.ajax({
        url: 'index.php?route=customerpartner/warehouse/receipt/autoComplete&filter_receiving_order_number=' + encodeURIComponent(request),
        dataType: 'json',
        success: function (json) {
          if (json.code == 200) {
            response($.map(json.data, function (item) {
              return {
                label: item['receive_number'],
                value: item['receive_number']
              }
            }));
          } else {
            response({label: '', value: ''});
          }
        }
      });
    },
    'select': function (item) {
      $('input[name=\'filter_receiving_order_number\']').val(item['label']);
    }
  });

  //搜索条件
  function getUrl(url) {
    var filter_receiving_order_number = $('input[name=\'filter_receiving_order_number\']').val().trim();
    if (filter_receiving_order_number) {
      url += '&filter_receiving_order_number=' + encodeURIComponent(filter_receiving_order_number);
    }
    var filter_container_code = $('input[name=\'filter_container_code\']').val().trim();
    if (filter_container_code) {
      url += '&filter_container_code=' + encodeURIComponent(filter_container_code);
    }
    var filter_status = $('select[name=\'filter_status\']').val();
    if (filter_status !== '') {
      url += '&filter_status=' + encodeURIComponent(filter_status);
    }
    var filter_received_from = $('input[name=\'filter_received_from\']').val();
    if (filter_received_from) {
      url += '&filter_received_from=' + encodeURIComponent(filter_received_from);
    }
    var filter_received_to = $.trim($('input[name="filter_received_to"]').val());
    if (filter_received_to) {
      url += '&filter_received_to=' + encodeURIComponent(filter_received_to);
    }
    var filter_shipping_way = $('select[name="filter_shipping_way"]').val();
    if (filter_shipping_way) {
      url += '&filter_shipping_way=' + encodeURIComponent(filter_shipping_way);
    }
    return url;
  }

  //搜索按钮点击
  $('body').on("click", "#filter", function () {
    let url = getUrl('{{ url('customerpartner/warehouse/receipt') }}');
    window.location = url;
  });

  //下载入库单按钮
  $('body').on("click", "#download", function () {
    let url = getUrl('{{ url('customerpartner/warehouse/receipt/download') }}');
    window.location = url;
  });

  /**
   * 入库单明细下载
   * @param receive_order_id receive_order_id 入库单主键id
   */
  function downloadDetail(receive_order_id) {
    if (receive_order_id) {
      let url = '{{ url('customerpartner/warehouse/receipt/downloadDetail') }}' + '&receive_order_id=' + receive_order_id;
      window.location = url;
    }
  }

  /**
   * 入库单取消
   * @param receive_number 入库单号
   * @param receive_order_id 入库单主键id
   * @param status 入库状态
   * @param showConfirm 是否显示入库单状态
   */
  function cancelReceiptOrder(receive_number, receive_order_id, status, showConfirm = false) {
    var confirmTitle = '<span class="text-bold mr10">{{ __('入库单号：') }}</span>' + receive_number + '<br><br>' + '<span class="text-bold">{{ __('你确定要取消此入库单吗?') }}</span>';
    if (showConfirm) {
      var confirmTitle = '{{ __('该入库单状态为') }}' + status + '{{ __('，取消入库单信息需要等待相关部门确认，您确认取消入库单吗？') }}';
    }
    var tmplayer = layer.confirm(confirmTitle, {
      title: '{{ __('确认')}}',
      skin: 'yzc_layer',
      btn: ['{{ __('Yes') }}', '{{ __('No') }}'],
      btnAlign: 'c',
    }, function () {
      layer.close(tmplayer);
      $.ajax({
        url: 'index.php?route=customerpartner/warehouse/receipt/cancelReceiptOrder&receive_order_id=' + receive_order_id,
        type: 'post',
        dataType: 'json',
        data: {},
        beforeSend: function () {
          layer.load(1, {shade: [0.3, '#000']});
        },
        success: function (json) {
          if (json.code == 200) {
            myToastFn(json.data, 'success',5000);
            setTimeout(function () {
              let url = getUrl('{{ url('customerpartner/warehouse/receipt') }}');
              window.location = url;
            },5000)
          } else {
            myToastFn(json.msg, 'error');
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText, {
            time: 5000,
            skin: ''
          });
        },
        complete:function () {
          layer.closeAll('loading');
        }
      });
    }, function () {
      layer.close(tmplayer);
    });
  }

  // 提示框
  function myToastFn(message, type, time) {
    time=time||5000;
    $.toast({
      heading: false,
      text: message,
      position: 'top-center',
      showHideTransition: 'fade',
      icon: type,
      hideAfter: time,
      allowToastClose: false,
      loader: false
    })
  }

  //确认入库包装规范
  $('body').on("click", "#confirmReceiptsRemind", function () {
    $('#confirmReceiptsRemind').attr('disabled', true);
    $.ajax({
      url: '{{ url('customerpartner/warehouse/receipt/addReceiptsProductPacking') }}',
      type: 'post',
      dataType: 'json',
      data: {},
      beforeSend: function () {
        layer.load(1, {shade: [0.3, '#000']});
      },
      success: function (json) {
        ruleConfirmed = true;
        $("#rulesModal").modal('hide');
        if (json.code == 200) {
          myToastFn('{{ __('提交成功') }}', 'success', 3000);
          if(enterOrImport==1){
            setTimeout(function () {
              window.location.href = "/index.php?route=customerpartner/warehouse/receipt/add";
            }, 5000)
          }else if(enterOrImport==2){
            setTimeout(function () {
              showImportIncomingShipment();
            }, 5000)
          }else{
            setTimeout(function () {
              let url = getUrl('{{ url('customerpartner/warehouse/receipt') }}');
              window.location = url;
            }, 5000)
          }

        } else {
          myToastFn('{{ __('提交失败') }}', 'error');
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        layer.msg(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText, {
          time: 5000,
          skin: ''
        });
      },
      complete:function () {
        layer.closeAll('loading');
        $('#confirmReceiptsRemind').removeAttr('disabled');
      }
    });
  });
  //入库单号输入限制
  $("#input-receiving-order-number").bind("input propertychange change", function() {
    var inputReceivingOrderNumber = $("#input-receiving-order-number").val();
    $("#input-receiving-order-number").val(inputReceivingOrderNumber.replace(/^\s*/g, ''));// 控制开始不允许输入空格)
  })
  //入库单号输入限制
  $("#containerNumber").bind("input propertychange change", function() {
    var containerNumber = $("#containerNumber").val();
    //获取输入内容
    $("#containerNumber").val(containerNumber.replace(/^\s*/g, '')); // 控制开始不允许输入空格)
  })
</script>

