{% if logs %}
  {% for log in logs %}
    <div class="change-record">
      <div class="basic-msg flex-layout text-larger">
        <span class="mark-icon mr-1"></span>
        <span class="datetime mr-1">{{ log.create_time }}</span>
        <span class="user-type">{{ log.operate_from }}</span>
      </div>
      <div class="record-detail">
        <table class="table text-size-normal mb-0">
          <tr>
            <th width="7%">Record</th>
            <th width="18%">Collection Account Status</th>
            <th width="15%">Verdict</th>
            <th width="20%">Profit Collection Account Type</th>
            <th>Log</th>
          </tr>
          <tr>
            <td>{{ log.change_type }}</td>
            <td>{{ log.account_status }}</td>
            <td>{{ log.apply_status }}</td>
            <td>{{ log.account_type }}</td>
            <td>{{ log.log_text }}</td>
          </tr>
        </table>
      </div>
    </div>
  {% endfor %}
{% else %}
<div class="no-data">
  No Records.
</div>
{% endif %}

