<style>

    .agreement-name{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      font-weight: bold;
      font-size: 14px;
      padding: 6px 0;
    }
    .agreement-detail > .active{
        background-color: #1834640c;
    }
    .agreement-detail > .agreement-list:hover{
        background-color: #1834640c;
        cursor: pointer;
    }
    .agreement-count{
      font-size: 16px;
    }
    .agreement-detail > .agreement-list:hover .agreement-name,.agreement-detail > .active .agreement-name{
      color: #183464;
    }
    .agreement-detail > .agreement-list:hover .agreement-count,.agreement-detail > .active .agreement-count{
      color: #fA6400;
    }
    .agreement-detail > .active .agreement-count{
      font-weight: bolder;
    }
</style>
<div class="agreement-detail">
    <div class="agreement-list {% if agreement_status == 0 %} active {% endif %}" onclick="loadAgreement(0, this)">
        <p class="agreement-name">{{ text_agreement_stat_quantity }}</p>
        <p class="agreement-count">{{ all_delivery.count }}</p>
    </div>
    <div class="agreement-list {% if agreement_status == 1 %} active {% endif %}" onclick="loadAgreement(1, this)">
        <p class="agreement-name">{{ text_agreement_stat_uncompleted_quantity }}</p>
        <p class="agreement-count">{{ non_delivery.count }}</p>
    </div>
    <div class="agreement-list {% if agreement_status == 2 %} active {% endif %}" onclick="loadAgreement(2, this)">
        <p class="agreement-name">{{ text_agreement_stat_delivered_quantity }}</p>
        <p class="agreement-count">{{ delivery.count }}</p>
    </div>
    <div class="agreement-list {% if agreement_status == 3 %} active {% endif %}" onclick="loadAgreement(3, this)" style="border: 0">
        <p class="agreement-name">{{ text_agreement_stat_failed_delivered_quantity }}</p>
        <p class="agreement-count">{{ cancel_delivery.count }}</p>
    </div>
    {% if left_days <= 7 and non_delivery.count > 0 and all_delivery.count > 0 %}
        {% if left_days == 0 and contract_status == 4 %}

        {% else %}
            <div class="countdown">{{ text_agreement_stat_delivery_countdown }}：{{ left_days }} Days Left</div>
        {% endif %}
    {% endif %}
</div>
<script>
    function loadAgreement(delivery_status = 0, _this) {
        let url = "{{ url('account/customerpartner/future/contract/agreements') }}" + "&contract_id=" + '{{ contract_id }}';
        if (delivery_status > 0) {
            url += '&delivery_status=' + delivery_status;
        }
        $('#agreement-list').load(url, function () {
            $('.agreement-list').removeClass('active');
            $(_this).addClass('active');
        })
    }
</script>