<script src="catalog/view/javascript/echarts/echarts.min.js"></script>
<style>
    .form-group span {
        margin-right: 20px;
    }


    .modal-content .form-group label {
        color: #333;
        font-weight: inherit;
    }

    .questionnaire .modal-body > div {
        border-bottom: 1px solid #ccc !important;
    }

    .effective-bill,
    .spot-price,
    .historical-price {
        position: relative;
    }

    .effective-bill .valid,
    .spot-price .spot,
    .historical-price .lineChart {
        background-color: #fff;
        width: 500px;
        position: absolute;
        z-index: 99;
        right: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px 10px;
        font-size: 12px;
        display: none;
    }

    .effective-bill .bill:hover,
    .spot-price:hover > span,
    .historical-price:hover > span {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }

    .effective-bill .bill:hover .valid,
    .spot-price:hover .spot,
    .historical-price:hover .lineChart {
        display: block;
    }

    .effective-bill .note {
        background-color: #fff0e6;
        padding: 3px 5px;
        color: #FA6400;
        font-weight: initial;

    }

    .effective-bill thead td{
        font-weight: bold;
    }

    .effective-bill tbody td{
        font-weight: initial;
    }
    .spot > div {
        height: 50px;
        overflow: hidden;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
    }

    .spot .pcs {
        margin-right: 20px;
        width: 30%;
    }

    .flex {
        display: flex;
    }

    .form-group label {
        display: block;
    }

    .form-group input {
        display: inline-block;
    }

    .code input {
        height: 38px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-left: 20px;
        background-color: #f3f5f7;
        width: 25%;
        padding: 4px 8px;
    }

    .msg-list > div {
        /*height: 50px;*/
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
    }

    .text-muted {
        color: #666666;
        font-size: 12px;
    }

    tbody td span:not(.vat-number__label-text) {
        color: #183464;
    }
    .valid .table thead td{
        word-break: break-word;
    }
    .giga.icon-help-inactive{
        font-size: 14px;
        font-weight: initial;
    }
</style>
{% if product_id is defined %}
    <input type="hidden" value="{{ alarm_price }}" id="alarm-price">
    <table class="table">
        <thead>
        <tr>
            <td width="100px">{{ text_product_detail_image }}</td>
            <td width="155px">{{ text_product_detail_item_code }}</td>
            <td>{{ text_product_detail_name }}</td>
            <td width="150px">{{ text_product_detail_historical_price }}
              {#31737 DE可能包含税#}
              <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title=""
                 data-original-title="{% if isDeCountry %} {{ __('Historical price of this Item Code during the past 180 days. The historical price may be VAT inclusive or VAT-free, depending on the previous orders.') }} {% else %} {{ __('History price of this Item Code during the past 180 days.') }} {% endif %}"></i>
            </td>
            <td width="150px">{{ text_product_detail_current_price }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="" data-original-title="{{ text_notice_current_price }}"></i>
            </td>
            <td width="240px">{{ text_product_detail_receiving_order }}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="" data-original-title="{{ text_notice_receiving_order }}"></i>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="{{ image }}" width="60px" id="product_image">
            </td>
            <td>
                <div style="display: inline-block" id="product-detail-sku-mpn">
                    <a href="{{ product_link }}" target="_blank" class="link fwblod" id="product-detail-sku">
                        {{ item_code }}
                    </a>
                    {% if tags %}
                        {% for tag in tags %}
                            {{ tag }}
                        {% endfor %}
                    {% endif %}
                    <br>
                    <a href="{{ product_link }}" target="_blank" class="link fwblod" id="product-detail-mpn">
                        {{ mpn }}
                    </a>
                </div>
            </td>
            <td class="over"><a class="link fwblod" target="_blank" href="{{ product_link }}" style="word-break: break-word">{{ name }}</a></td>
            <td class="historical-price">
                <span>{{ open_price }}</span>
                <div id="main" class="lineChart" style="width: 550px;height:300px;background: rgba(243,243,243)"></div>
            </td>
            <td class="spot-price">
                <span>{{ reference_price }}</span>
                <div class="spot" style="padding: 8px 0;width: 550px">
                    <div>
                        <div class="col-sm-3 spot-name">Current Price</div>
                        <div class="col-sm-9 flex">
                            <div class="pcs">
                                <strong>{{ reference_price_detail.current_price }}</strong>/Unit
                            </div>
                        </div>
                    </div>
                    {% if reference_price_detail.rebate_price %}
                        <div>
                            <div class="col-sm-3 spot-name">Rebates(Unit)</div>
                            <div class="col-sm-9 flex">
                                {% for item in  reference_price_detail.rebate_price %}
                                    <div class="pcs">
                                        <strong>{{ item.price }}</strong><br>
                                        <span class="text-muted">{{ item.msg }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if reference_price_detail.margin_price %}
                        <div>
                            <div class="col-sm-3 spot-name">Margin(Unit)</div>
                            <div class="col-sm-9 flex">
                                {% for item in  reference_price_detail.margin_price %}
                                    <div class="pcs">
                                        <strong>{{ item.price }}</strong><br>
                                        <span class="text-muted">{{ item.msg }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if reference_price_detail.spot_price %}
                        <div>
                            <div class="col-sm-3 spot-name">Spot Price(Unit)</div>
                            <div class="col-sm-9 flex">
                                {% for item in  reference_price_detail.spot_price %}
                                    <div class="pcs">
                                        <strong>{{ item.price }}</strong><br>
                                        <span class="text-muted">{{ item.msg }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </td>
            <td class="effective-bill ">
                {% if receipt_orders %}
                    <span class="bill">
                    Yes
                    <div class="valid">
                        <div class="note">
                            <i class="giga icon-icn--n"></i>
                            {{ text_product_detail_receiving_order_notice }}
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <td>#</td>
                                <td>{{ text_product_detail_receiving_order_table_number }}</td>
                                <td>{{ text_product_detail_receiving_order_table_quantity }}</td>
                                <td>{{ text_product_detail_receiving_order_table_arrival_time }}</td>
                                <td>{{ text_product_detail_receiving_order_table_receiving_time }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for index,item in  receipt_orders %}
                                <tr>
                                    <td>{{ index + 1 }}</td>
                                    <td><a target="_blank" href="{{ url('account/inbound_management', {'filter_inboundOrderNumber':item.receive_number,'show_detail':true }) }}">{{ item.receive_number }}</a></td>
                                    <td>{{ item.expected_qty }}</td>
                                    <td>{{ item.expected_date }}</td>
                                    <td>{{ item.arrived_date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </span>
                {% else %}
                    <span class="noBill">No</span>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}
{# 折线图 #}
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    var dates = '{{ open_price_detail.dates }}';
    var prices = '{{ open_price_detail.prices }}';

    //#31737 价格曲线，DE可能包含税
    var optionText = 'Historical price of this Item Code during the past 180 days.';
    if ('{{ isDeCountry }}') {
      optionText = 'Historical price of this Item Code during the past 180 days. The historical\nprice may be VAT inclusive or VAT-free, depending on the previous orders.';
    }

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: optionText,
            left: '{% if isDeCountry %}left{% else %}center{% endif %}',
            textStyle: {
                fontSize: 14,
                lineHeight: 20
            },
        },
        tooltip: {
            trigger: 'axis'
        },

        grid: {
            left: '3%',
            right: '80px',
            bottom: '3%',
            //#31737 价格曲线，德国可能包含税
            {% if isDeCountry %} top: '90px', {% endif %}
            containLabel: true
        },
        // toolbox: {
        //     feature: {
        //         saveAsImage: {}
        //     }
        // },
        xAxis: {
            type: 'category',
            // boundaryGap: false,
            data: JSON.parse(dates),
            name: '{{ open_price_detail.year }}'
        },
        yAxis: {
            type: 'value',
            name: 'unit price'
        },
        series: [
            {
                name: 'unit price',
                type: 'line',
                stack: '总量',
                smooth: true,
                data: JSON.parse(prices)
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
