<div class="product-simple-template-new box-bg">
  <div class="product-image">
    <a href="{{ product.href }}" data-cnzz-event="首页|Hm_Channel_Product" target="_blank">
      <div class="con-img">
        <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive">
        {#<img src="https://btbfile.oss-cn-hongkong.aliyuncs.com/image/wkseller/38/20210610_e8dcef9bdbfbcfaf8497001f9dca59c9.jpg?x-oss-process=image%2Fresize%2Cw_260%2Ch_260%2Cm_pad" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"> #}
        {% if download_csv_privilege %}
          <div class="check">
            <input autocomplete="off" type="checkbox" id="checkbox_{{ product.product_id }}" onclick="checkSingleProduct(this,{{ products_total }})" class="checkbox-style2 pointer expand-range" name="checkbox" data-labelauty="">
          </div>
        {% endif %}
      </div>
    </a>
    <div class="btn-group">
      {% if isLogin %}
        {#已登录#}
        {% if product['can_sell'] == 1 and product['unsee'] == 0 %}
          {#精细化可卖、上架可见#}
          {% if product['productWishList'] %}
            <a type="button" class="wishlist pointer expand-range" data-toggle="tooltip" title="{{ button_wishlist_remove }}"
               onclick="wishlist.remove('{{ product.product_id }}', this, 'home');"
                  data-cnzz-event="首页|Hm_Channel_SavedItem">
              <i class="giga fa-heart"></i>
            </a>
          {% else %}
            <a type="button" class="wishlist pointer expand-range" data-toggle="tooltip" title="{{ button_wishlist_add }}"
               onclick="wishlist.add('{{ product.product_id }}', this, 'home');"
                  data-cnzz-event="首页|Hm_Channel_SavedItem">
              <i class="giga fa-heart-o"></i>
            </a>
          {% endif %}
        {% else %}
          {% if product['productWishList'] %}
            {#14103要所有上过架的产品都可以被检索到，如果产品已失效，则在检索结果页和商品详情页标注出商品无效的原因#}
            {% if product['unsee'] == 1 %}
              <a type="button" class="wishlist pointer expand-range" data-toggle="tooltip"
                 title="{{ button_wishlist_remove }}"
                 onclick="wishlist.unavailable('{{ product.product_id }}', this, 'home');"
                    data-cnzz-event="首页|Hm_Channel_SavedItem">
                <i class="giga fa-heart"></i>
              </a>
            {% else %}
              <a type="button" class="wishlist pointer expand-range" data-toggle="tooltip"
                 title="{{ button_wishlist_remove }}"
                 onclick="wishlist.remove('{{ product.product_id }}', this, 'home');"
                    data-cnzz-event="首页|Hm_Channel_SavedItem">
                <i class="giga fa-heart"></i>
              </a>
            {% endif %}
          {% else %}
            {#14103要所有上过架的产品都可以被检索到，如果产品已失效，则在检索结果页和商品详情页标注出商品无效的原因#}
            {% if product['unsee'] == 1 %}
              <a type="button" class="wishlist pointer expand-range" data-toggle="tooltip"
                 title="{{ button_wishlist_add }}"
                 onclick="wishlist.unavailable('{{ product.product_id }}', this, 'home');"
                 data-cnzz-event="首页|Hm_Channel_SavedItem">
                <i class="giga fa-heart-o "></i>
              </a>
            {% else %}
              <a type="button" class="wishlist pointer expand-range" data-toggle="tooltip"
                 title="{{ button_wishlist_add }}"
                 onclick="wishlist.add('{{ product.product_id }}', this, 'home');"
                 data-cnzz-event="首页|Hm_Channel_SavedItem">
                <i class="giga fa-heart-o "></i>
              </a>
            {% endif %}
          {% endif %}
          {#END 精细化可卖、上架可见#}
        {% endif %}

        {#END 已登录#}
      {% endif %}
      <div class="mt-octal1">
        {% if isLogin %}
          {% if (product['can_sell']==1 or product['loginId']==product['seller_id']) and product['unsee'] == 0 %}
            <a type="button" data-toggle="tooltip" title="Download Material Package" class="btn-download pointer expand-range"
               onclick="download_file(this,{{ product['product_id'] }},{{ product['seller_id'] }})" data-cnzz-event="列表页|Lt_product_Download">
              <i class="giga icon-V10_xiazai-moren download text-most"></i>
              <i class="giga icon-V10_xiazaihover download text-most none"></i>
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% if product.advertTag %}
      <div class="advertising-site text-small">
        Sponsored
      </div>
    {% endif %}
  </div>
  <div class="product-information m8-t">
    <div class="office-text">
      <span class="line-store-name" onclick="window.location.href='{{ product.href }}'">{{ product.name }}</span>
    </div>
    <div class="default-flex">
      <div class="code-price-wrapper flex1">
        <div class="code-group text-small break-all">
          {# 1200px屏幕下隐藏 #}
          <span class="media1200">Item Code:&nbsp;</span><span>{{ product.sku }}</span>&nbsp;
          {% if product['tag'] %}
            {{ product['tag'] }}
          {% endif %}
          {#Qty Available 非缩略图#}
          {% if product['verify']['qty_available'] %}
            <div class="qty-group qty-celling text-small pop-down-new">
              {% if product['quantity']<=100 %}
                <span class="color333">Qty:&nbsp;{{ product['quantity'] }}</span>
              {% else %}
                <span class="color333">Qty:&nbsp;100+</span>
              {% endif %}
              {% if product.verify.arrival_available and product.receipt %}
                <span class="more-way"><i class="pointer will-arrive">&nbsp;more on the way</i>
                  <div class="pop-down">
                    {% if product.seller_accounting_type != 2 %}
                      <span style='font-size: 12px;line-height: 20px;'>Date of next arrival:&nbsp;{{ product['receipt']['expect_date'] }}</span>
                      <br/>
                    {% endif %}
                    <span style='font-size: 12px;line-height: 20px;'>Estimated QTY of next arrival:
                      {% if product['receipt']['expect_qty']  >= 100 %}
                        100+
                      {% elseif  product['receipt']['expect_qty']  >= 50 %}
                        50+
                      {% elseif  product['receipt']['expect_qty']  >= 20 %}
                        20+
                      {% else %}
                        less than 20
                      {% endif %}
                    </span>
                  </div>
                </span>
              {% endif %}
            </div>
          {% else %}
            <div class="qty-group text-small m6-t">
              <span class="text-light">Qty Available:&nbsp;**</span>
            </div>
          {% endif %}
        </div>
        <div class="m8-t new-top">
          <div class="price-group min-price-height">
            {#price#}
            {% if product['verify']['price_available'] %}
              <div class="price-ellipsis"
                   title="{% if product['min_price'] == product['max_price'] %}
                            {{ product['min_price_show'] }}/Unit
                          {% else %}
                            {{ product['min_price_show'] }}-{{ product['max_price_show'] }}/Unit
                          {% endif %}">
                <span class="price price1200">
                  {% if product['min_price'] == product['max_price'] %}
                    {{ product['min_price_show'] }}
                  {% else %}
                    {{ product['min_price_show'] }}-{{ product['max_price_show'] }}
                  {% endif %}
                </span>
                <span class="text-light unit1200">/Unit</span>
              </div>
            {% else %}
              {% if isLogin %}
                <div>
                  <span class="price price1200"> {{ product.currency_symbol_left }}**{{ product.currency_symbol_right }}</span>
                  <span class="text-light unit1200">/Unit</span>
                </div>
                <button class="contact-seller text-small light-btn btn-outline-clear none action-grid"
                        type="button"
                        onclick="sellerAffiliationCommonFn.actionAffiliation({{ product['seller_id'] }})"
                        title="If you want to contact this seller,please click this button to apply."
                        data-cnzz-event="首页|Hm_Channel_ContactSeller"> Seller Affiliation
                </button>
                <a class="text-warning-a text-small pointer none action-line" href="index.php?route=message/seller/addMessage&receiver_id={{ product['seller_id'] }}&item_code={{ product['sku'] }}">
                  Contact seller for pricing or quantity available
                </a>
              {% else %}
                <div>
                  <span class="price price1200">{{ product.currency_symbol_left }}**{{ product.currency_symbol_right }}</span>
                  <span class="text-light unit1200">/Unit</span>
                </div>
                <button class="login-price text-small light-btn btn-outline-clear none action-grid" type="button" onclick="window.location.href='{{ login }}'"> Login To See Price</button>
                <a class="text-warning-a text-small pointer none action-line" href="{{ login }}">
                  Login/Register to get the price and quantity available
                </a>
              {% endif %}
            {% endif %}
            {#Freight#}
            {% if product['verify']['price_available'] %}
              <div>
                <span class="text-light text-small"> Fulfillment:&nbsp;{{ product.extra_fee }}<span class="unit1200"> /Unit</span></span>
              </div>
            {% endif %}
          </div>
          {#Qty Available#}
          {% if product['verify']['qty_available'] %}
            <div class="qty-group text-small pop-down-new pos-rela m2-t">
              {% if product['quantity']<=100 %}
                <span class="color333">Qty Available:&nbsp;{{ product['quantity'] }}</span>
              {% else %}
                <span class="color333">Qty Available:&nbsp;100+</span>
              {% endif %}
              {% if product.verify.arrival_available and product.receipt %}
                <span class="more-way"><i class="pointer will-arrive">&nbsp;more on the way</i>
                  <div class="pop-down">
                    {% if product.seller_accounting_type != 2 %}
                      <span style='font-size: 12px;line-height: 20px;'>Date of next arrival:&nbsp;{{ product['receipt']['expect_date'] }}</span>
                      <br/>
                    {% endif %}
                    <span style='font-size: 12px;line-height: 20px;'>Estimated QTY of next arrival:
                      {% if product['receipt']['expect_qty']  >= 100 %}
                        100+
                      {% elseif  product['receipt']['expect_qty']  >= 50 %}
                        50+
                      {% elseif  product['receipt']['expect_qty']  >= 20 %}
                        20+
                      {% else %}
                        less than 20
                      {% endif %}
                    </span>
                  </div>
                </span>
              {% endif %}
            </div>
          {% else %}
            <div class="qty-group text-small m2-t">
              <span class="color333">Qty Available:&nbsp;**</span>
            </div>
          {% endif %}
          {#Return Rate#}
          <div class="approval-rate mb-octal2 m4-t">
            <div>
              {% if product['all_days_sale'] <= 10 %}
                Return Rate:&nbsp;N/A
                <i class="giga icon-bangzhuzhongxin text-size-normal pop-down-new">
                  <div class="popover pop-down popover-approval-rate">
                    <div class="arrow"></div>
                    <div class="text-small">
                      <div>The volume of total units sold is not enough for judging return rate.</div>
                    </div>
                  </div>
                </i>

              {% else %}
                Return Rate:&nbsp;{{ product['return_rate_str'] }}
              {% endif %}
            </div>
          </div>
          <div class="tag-group text-small flex-layout m8-t tag-group-home new-top-10">
            {% if product['rebate_status'] %}
              <div class="tag-type">
                <span>&nbsp;<i class="giga icon-duihao_10 text-small" aria-hidden="true"></i> Rebates&nbsp;</span>
              </div>
            {% endif %}
            {% if product['margin_status'] %}
              <div class="tag-type">
                <span>&nbsp;<i class="giga icon-duihao_10 text-small" aria-hidden="true"></i> Margin&nbsp;</span>
              </div>
            {% endif %}
            {% if product['future_status'] %}
              <div class="tag-type">
                <span>&nbsp;<i class="giga icon-duihao_10 text-small" aria-hidden="true"></i> Futures&nbsp;</span>
              </div>
            {% endif %}
          </div>
          <div class="clear-both"></div>
        </div>
      </div>
      <div class="store-information flex1 none">
        <div class="store-group flex-layout mb-1" qa_rate="{{ product['qa_rate'] }}" seller_id="{{ product['seller_id'] }}"
             return_approval_rate="{{ product['return_approval_rate'] }}" sku="{{ product['sku'] }}">
          <i class="giga icon-V10_dianpu text-warning"></i>
          <span class="store-name" onclick="getSeller({{ product['seller_id'] }})"
                data-cnzz-event="首页|Hm_Channel_StoreName"
                title="{{ product['screenname'] }}">{{ product['screenname'] }}&nbsp;</span>
          {% if isLogin %}
            {% if product['new_seller_score'] is defined and product['new_seller_score'] == true %}
              <span class="score pop-down-new">
                New Seller
              </span>
            {% elseif  product['score'] %}
              <span class="score pop-down-new">
                {{ product['score'] }}
                <div class="pop-down ">
                  <div class="text-small">
                    <b>GIGA Index</b>
                    <div class="text-light mtb-04">
                      <span>The GIGA Index serves as a Seller Performance Index automatically calculated by the Giga Cloud MarketPlace with a maximum possible index score of 100.</span><br>
                      <span>Click [Learn more] to learn how the GIGA Index is calculated.</span>
                    </div>
                    <a class="link underline" href="{{ url('information/information', {'information_id': product.information_id }) }}" target="_blank">Learn More</a>
                  </div>
                </div>
              </span>
            {% endif %}
          {% endif %}
          <a class="email" target="_blank" href="index.php?route=message/seller/addMessage&receiver_id={{ product['seller_id'] }}&item_code={{ product['sku'] }}" data-cnzz-event="列表页|Lt_product_ContactSeller">
            <i class="giga icon-V10_lianxidianpu-moren1 text-warning{% if product['seller_status'] == 0 %} status_no{% endif %}" data-toggle="tooltip" title="Message Seller" aria-hidden="true">
            </i></a>
        </div>
        <div class="store-evaluation text-small text-light none">
          <div class="flex-layout">
            <img class="text-medium mr-octal1" src="image/icons/return-rate.png">
            <span> Return Rate:&nbsp;</span>
            <span class="text-color-normal">{{ product['store_return_rate_mark'] }}</span>
          </div>
          <div class="flex-layout mt-octal1">
            <img class="text-medium mr-octal1" src="image/icons/return-arate.png">
            <span>Return Approval Rate:&nbsp;</span>
            {% if product['return_approval_rate'] == 0 %}
              <span class="text-color-normal">N/A</span>
            {% elseif product['return_approval_rate'] > 90 %}
              <span class="text-color-normal">High</span>
            {% elseif product['return_approval_rate'] > 60 %}
              <span class="text-color-normal">Moderate</span>
            {% else %}
              <span class="text-color-normal"> Low</span>
            {% endif %}
          </div>
          <div class="flex-layout mt-octal1">
            {% if product['store_response_rate_mark'] %}
              <img class="text-medium mr-octal1" src="image/icons/response-rate.png">
              <span> Response Rate:&nbsp;</span>
              <span class="text-color-normal">{{ product['store_response_rate_mark'] }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="add-download{% if isLogin %} text-right {% else %} mt-octal2{% endif %} mb-2 flex-layout">
      {% if isLogin %}
        {#已登录#}
        {% if product['can_sell'] == 1 and product['unsee'] == 0 %}
          {#可卖、可见#}
          <button type="button" onclick="cart.add('{{ product['product_id'] }}');" class="btn-add btn-outline-clear" data-cnzz-event="列表页|Lt_product_AddtoCart">
            {{ button_cart }}
          </button>
        {% else %}
          {#不可卖、不可见#}
          <button class="btn-add btn-outline-clear m52-r" type="button" onclick="window.location.href='index.php?route=message/seller/addMessage&receiver_id={{ product['seller_id'] }}&item_code={{ product['sku'] }}'" data-cnzz-event="首页|Hm_Channel_ContactSeller"> Contact Seller
          </button>
        {% endif %}

      {% else %}
        {#未登录#}
        <button class="btn-add btn-outline-clear" type="button" onclick="window.location.href='{{ login }}'"> Login To See Price</button>
      {% endif %}
      {% if isLogin %}
        {% if (product['can_sell']==1 or product['loginId']==product['seller_id']) and product['unsee'] == 0 %}
          <a type="button" data-toggle="tooltip" title="Download Material Package" class="ml-2 btn-download pointer expand-range"
             onclick="download_file(this,{{ product['product_id'] }},{{ product['seller_id'] }})" data-cnzz-event="列表页|Lt_product_Download">
            <i class="giga icon-V10_xiazai-moren download text-most"></i>
            <i class="giga icon-V10_xiazaihover download text-most none"></i>
          </a>
        {% endif %}
      {% endif %}
    </div>
    <div class="store-group flex-layout mt-2" qa_rate="{{ product['qa_rate'] }}" seller_id="{{ product['seller_id'] }}"
         return_approval_rate="{{ product['return_approval_rate'] }}" sku="{{ product['sku'] }}">
      <i class="giga icon-V10_dianpu text-warning"></i>
      <span class="store-name" onclick="getSeller({{ product['seller_id'] }})"
            data-cnzz-event="首页|Hm_Channel_StoreName"
            title="{{ product['screenname'] }}">{{ product['screenname'] }}&nbsp;</span>
      {% if isLogin %}
        {% if product['new_seller_score'] is defined and product['new_seller_score'] == true %}
          <span class="score pop-down-new">
            New Seller
          </span>
        {% elseif  product['score'] %}
          <span class="score pop-down-new">
            {{ product['score'] }}
            <div class="pop-down">
              <div class="text-small">
                <b>GIGA Index</b>
                <div class="text-light mtb-04">
                  <span>The GIGA Index serves as a Seller Performance Index automatically calculated by the Giga Cloud MarketPlace with a maximum possible index score of 100.</span><br>
                  <span>Click [Learn more] to learn how the GIGA Index is calculated.</span>
                </div>
                <a class="link underline" href="{{ url('information/information', {'information_id': product.information_id }) }}" target="_blank">Learn More</a>
              </div>
            </div>
          </span>
        {% endif %}
      {% endif %}
      <a class="email" target="_blank" href="index.php?route=message/seller/addMessage&receiver_id={{ product['seller_id'] }}&item_code={{ product['sku'] }}" data-cnzz-event="列表页|Lt_product_ContactSeller">
        <i class="giga icon-V10_lianxidianpu-moren1 text-warning{% if product['seller_status'] == 0 %} status_no{% endif %}" data-toggle="tooltip" title="Message Seller" aria-hidden="true">
        </i>
      </a>
    </div>
    <div class="store-pop text-muted text-small flex-layout none bot-pop m4-t">
      <div class="flex-end approval-rate pop-down-new">
        <img class="text-medium m6-r" src="image/icons/return-rate.png"><span class="text-light">{{ product['store_return_rate_mark'] }}</span>
        <div class="popover pop-down{% if product['store_return_rate_mark'] != 'N/A' %} mini-popover{% endif %}">
          <div class="arrow"></div>
          <div class="popover-content text-small{% if product['store_return_rate_mark'] != 'N/A' %} text-center{% endif %}">
            <div>Return Rate:&nbsp;{{ product['store_return_rate_mark'] }}</div>
            {% if product['store_return_rate_mark'] == 'N/A' %}
              <div>The volume of total units sold is not enough for judging return rate.</div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="flex-end approval-rate pop-down-new">
        <img class="text-medium m6-r" src="image/icons/return-arate.png">
        <span class="text-light">
          {% if product['return_approval_rate'] == 0 %}
            N/A
          {% elseif product['return_approval_rate'] > 90 %}
            High
          {% elseif product['return_approval_rate'] > 60 %}
            Moderate
          {% else %}
            Low
          {% endif %}
        </span>
        <div class="popover pop-down">
          <div class="arrow"></div>
          <div class="popover-content text-small{% if product['return_approval_rate'] != 0 %} text-center{% endif %}">
            {% if product['return_approval_rate'] == 0 %}
              <div>Return Approval Rate:&nbsp;N/A</div>
              <div>No RMA records.</div>
            {% elseif product['return_approval_rate'] > 90 %}
              <div>Return Approval Rate:&nbsp;High</div>
            {% elseif product['return_approval_rate'] > 60 %}
              <div>Return Approval Rate:&nbsp;Moderate</div>
            {% else %}
              <div>Return Approval Rate:&nbsp;Low</div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="flex-end approval-rate pop-down-new">
        {% if product['store_response_rate_mark'] %}
          <img class="text-medium m6-r" src="image/icons/response-rate.png"> <span class="text-light">{{ product['store_response_rate_mark'] }}</span>
          <div class="popover pop-down mini-popover">
            <div class="arrow"></div>
            <div class="popover-content text-small text-center">
              <div>Response Rate:&nbsp;{{ product['store_response_rate_mark'] }}</div>
            </div>
          </div>
        {% endif %}
      </div>

    </div>
  </div>
</div>
