<div class="product-simple-grid">
  <div class="image">
    <a href="{{ product.href }}" data-cnzz-event="列表页|Lt_product">
      {% if product.unsee == 0 %}
        <div class="con_img">
          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
          {% if download_csv_privilege %}
            <input autocomplete="off" type="checkbox"  id="checkbox_{{ product.product_id }}" onclick="checkSingleProduct(this,{{ products_total }})" class="img_checkbox" name="checkbox" data-labelauty="">
          {% endif %}
          {% if product.horn_mark == 'hot' %}
            <div class="horn-mark-hot"></div>
          {% elseif product.horn_mark == 'new' %}
            <div class="horn-mark-new"></div>
          {% elseif product.horn_mark == 'sale' %}
            <div class="horn-mark-sale"></div>
          {% endif %}
        </div>
      {% else %}
        <div class="con_img">
          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
          {% if download_csv_privilege %}
            <input autocomplete="off" type="checkbox" class="img_checkbox" id="checkbox_{{ product.product_id }}" onclick="checkSingleProduct(this,{{ products_total }})"  name="checkbox" data-labelauty="">
          {% endif %}
          {% if product.horn_mark == 'hot' %}
            <div class="horn-mark-hot"></div>
          {% elseif product.horn_mark == 'new' %}
            <div class="horn-mark-new"></div>
          {% elseif product.horn_mark == 'sale' %}
            <div class="horn-mark-sale"></div>
          {% endif %}
        </div>
        <div class="shadow_img"></div>
        <div class="title_img">
          <span style="color:white;font-size: 40px;text-align: center">Unavailable</span>
        </div>
      {% endif %}
    </a>

    <div class="button-group">
      {% if isLogin %}
        {% if (product['can_sell']==1 or product['loginId']==product['seller_id']) and product['unsee'] == 0 %}
          <a type="button" data-toggle="tooltip" title="Download Material Package"
             onclick="download_file(this,{{ product['product_id'] }},{{ product['seller_id'] }})" data-cnzz-event="列表页|Lt_product_Download">
            <i class="giga icon-product-down download"></i>
          </a>
        {% endif %}
      {% endif %}

      {% if isLogin %}
        {#已登录#}
        {% if product['can_sell'] == 1 and product['unsee'] == 0 %}
          {#精细化可卖、上架可见#}
          {% if product['productWishList'] %}
            <a type="button" data-toggle="tooltip" title="{{ button_wishlist_remove }}" onclick="wishlist.remove('{{ product.product_id }}', this);" data-cnzz-event="列表页|Lt_product_SavedItem">
              <i class="giga fa-heart wishlist"></i>
            </a>
          {% else %}
            <a type="button" data-toggle="tooltip" title="{{ button_wishlist_add }}" onclick="wishlist.add('{{ product.product_id }}', this);" data-cnzz-event="列表页|Lt_product_SavedItem">
              <i class="giga fa-heart-o wishlist"></i>
            </a>
          {% endif %}

        {% else %}
          {% if product['productWishList'] %}
            {#14103要所有上过架的产品都可以被检索到，如果产品已失效，则在检索结果页和商品详情页标注出商品无效的原因#}
            {% if product['unsee'] == 1 %}
              <a type="button" data-toggle="tooltip" title="{{ button_wishlist_remove }}" onclick="wishlist.unavailable('{{ product.product_id }}', this);" data-cnzz-event="列表页|Lt_product_SavedItem">
                <i class="giga fa-heart wishlist"></i>
              </a>
            {% else %}
              <a type="button" data-toggle="tooltip" title="{{ button_wishlist_remove }}" onclick="wishlist.remove('{{ product.product_id }}', this);" data-cnzz-event="列表页|Lt_product_SavedItem">
                <i class="giga fa-heart wishlist"></i>
              </a>
            {% endif %}

          {% else %}
            {#14103要所有上过架的产品都可以被检索到，如果产品已失效，则在检索结果页和商品详情页标注出商品无效的原因#}
            {% if product['unsee'] == 1 %}
              <a type="button" data-toggle="tooltip" title="{{ button_wishlist_add }}" onclick="wishlist.unavailable('{{ product.product_id }}', this);" data-cnzz-event="列表页|Lt_product_SavedItem">
                <i class="giga fa-heart-o wishlist"></i>
              </a>
            {% else %}
              <a type="button" data-toggle="tooltip" title="{{ button_wishlist_add }}" onclick="wishlist.add('{{ product.product_id }}', this);" data-cnzz-event="列表页|Lt_product_SavedItem">
                <i class="giga fa-heart-o wishlist"></i>
              </a>
            {% endif %}
          {% endif %}

          {#END 精细化可卖、上架可见#}
        {% endif %}

        {#END 已登录#}
      {% endif %}
    </div>
  </div>
  <div class="caption">
    <div class="office-text">
      {{ product.name | slice(0,150) }}{% if product.name | length > 150 %}......{% endif %}
    </div>
    <div class="code-price-wrapper">
      <div class="code-group mb-1 ">
        Item Code: <strong class="swiper-no-swiping">{{ product.sku }}</strong>
        {% if product['tag'] is not empty %}
          {% for tag in product['tag'] %}
            &nbsp;{{ tag }}
          {% endfor %}
        {% endif %}
      </div>

      <div class="price-group mb-1 ">
        {% if product['verify']['price_available'] %}
          {#其他页面样式覆盖了颜色#}
          <span style="font-size: 20px;font-weight: bold;color: red;">
            {% if product['min_price'] == product['max_price']%}
              {{ product['min_price_show'] }}
            {% else %}
              {{ product['min_price_show'] }}-{{ product['max_price_show'] }}
            {% endif %}
          </span>
          <span class="text-muted">/Unit</span>
        {% else %}
          {% if isLogin %}
            <span class="red">Affiliate with seller for pricing/QTY available</span>
          {% else %}
            <a href="{{ login }}"><span class="red">Login/Register to get the price and quantity available</span></a>
          {% endif %}
        {% endif %}
      </div>

      {% if product['verify']['price_available'] %}
        <div class="price-group mb-1 ">
          <span  class="text-muted">
            Fulfillment:&nbsp;{{ product.extra_fee }} /Unit
          </span>
        </div>
      {% endif %}

      <div class="tag-group text-muted mb-1 ">
        {% if product['rebate_status'] %}
          <span><i class="giga icon-check" aria-hidden="true"></i> Rebates</span>
        {% endif %}
        {% if product['margin_status'] %}
          <span><i class="giga icon-check" aria-hidden="true"></i> Margin</span>
        {% endif %}
        {% if product['future_status'] %}
          <span><i class="giga icon-check" aria-hidden="true"></i> Futures</span>
        {% endif %}
      </div>


      {% if product['verify']['qty_available'] %}
        <div class="quantity-group mb-1 ">
          {% if product['quantity']<=100 %}
            <span class="text-muted">Qty Available: &nbsp;{{ product['quantity'] }}</span>
          {% else %}
            <span class="text-muted">Qty Available: &nbsp;100+</span>
          {% endif %}
          {% if product.verify.arrival_available and product.receipt %}
            <span class="label label-info label-more-on-the-way tips">More on the way</span>
            <div style="position: absolute;
                    border: 1px solid #183464;
                    background: #fff;
                    border-radius: 4px;
                    width: 220px;
                    text-align: left;
                    padding: 10px;
                    margin-left: 30px;
                    z-index: 9;
                    display: none;
                    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.42);">
              {% if product['seller_accounting_type'] != 2 %}
                <span style='font-size: 12px;line-height: 20px;margin-bottom: 10px;'>Date of next arrival:&nbsp;{{ product['receipt']['expect_date'] }}</span>
                <br/>
              {% endif %}
              <span style='font-size: 12px;line-height: 20px;margin-bottom: 10px;'>Estimated QTY of next arrival:&nbsp;
                {% if product['receipt']['expect_qty']  >= 100  %}
                  100+
                {% elseif  product['receipt']['expect_qty']  >= 50  %}
                  50+
                {% elseif  product['receipt']['expect_qty']  >= 20  %}
                  20+
                {% else %}
                  less than 20
                {% endif  %}
              </span>
            </div>
          {% endif %}
        </div>
      {% endif %}


      <div class="rate-group mb-1  text-muted">
        {% if product['all_days_sale'] <= 10 %}
          Return Rate: &nbsp;N/A
          <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip"
             title="The volume of total units sold is not enough for judging return rate."></i>
        {% else %}
          Return Rate: &nbsp;{{ product['return_rate_str'] }}
        {% endif %}
      </div>
    </div>

    <div class="store-group-button">
      <div class="store-group">
        <div class="store"
             qa_rate="{{ product['qa_rate'] }}"
             seller_id="{{ product['seller_id'] }}"
             return_approval_rate="{{ product['return_approval_rate'] }}"
             sku="{{ product['sku'] }}"
        >
          <span class="store-name" onclick="getSeller({{ product['seller_id'] }})" data-cnzz-event="列表页|Lt_product_StoreName">{{ product['screenname'] }}&nbsp;</span>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
          <div class="store-pop">
            <!--#5083-->
            {% if product['comprehensive']['seller_show']==1 %}
              <div class="text-left">
                {% if product['new_seller_score'] %}
                  <span class="score">New Seller</span>
                {% else %}
                  <span class="score" title="GIGA Index">{{ product['comprehensive']['total'] }}</span>
                {% endif %}
              </div>
            {% endif %}
            <!--100548-->
            <div class="text">
              Return Rate: {{ product['store_return_rate_mark'] }}
              {% if product['store_return_rate_mark'] == 'N/A' %}
                <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="The volume of total units sold is not enough for judging return rate."></i>
              {% endif %}
            </div>
            <!--100548-->
            <div class="text">
              Return Approval Rate:
              {% if product['return_approval_rate'] == 0 %}
                N/A <i class="giga icon-V10-wenhaotishi" data-toggle="tooltip" title="No RMA records."></i>
              {% elseif product['return_approval_rate'] > 90 %}
                High
              {% elseif product['return_approval_rate'] > 60 %}
                Moderate
              {% else %}
                Low
              {% endif %}
            </div>
            <!--100548-->
            {% if product['store_response_rate_mark'] %}
              <div class="text">
                Response Rate: {{ product['store_response_rate_mark'] }}
              </div>
            {% endif %}
            <!--100548-->
          </div>
        </div>
        <a class="chat" style="display: none;"><i class="giga icon-chat-inactive"></i></a>
        <a class="email" target="_blank" href="index.php?route=message/seller/addMessage&receiver_id={{ product['seller_id'] }}&item_code={{ product['sku'] }}" data-cnzz-event="列表页|Lt_product_ContactSeller">
          <i class="giga icon-email-grey {% if product['seller_status'] == 0 %}status_no{% endif %}"  data-toggle="tooltip" title="Message Seller" aria-hidden="true">
          </i></a>
      </div>

      <div style="text-align: center; padding:15px 2% 0 2%">
        {% if isLogin %}
          {#已登录#}
          {% if product['can_sell'] == 1 and product['unsee'] == 0 %}
            {#可卖、可见#}
            <button type="button" onclick="cart.add('{{ product['product_id'] }}');" class="btn btn-default btn-block" style="padding: 8px 0" data-cnzz-event="列表页|Lt_product_AddtoCart">
              {{ button_cart }}
            </button>
          {% else %}
            {#不可卖、不可见#}
            <button type="button"
                    onclick="sellerAffiliationCommonFn.actionAffiliation({{ product['seller_id'] }})"
                    title="If you want to contact this seller,please click this button to apply."
                    class="btn btn-default btn-block " style="padding: 8px 0">
              {{ text_contact_seller }}
            </button>
          {% endif %}

        {% else %}
          {#未登录#}
          <button type="button" onclick="window.location.href='{{ login }}'" class="btn btn-default btn-block" style="padding: 8px 0">
            LOGIN TO SEE PRICE
          </button>
        {% endif %}
      </div>
    </div>

  </div>

</div>
<style>
  .label {
    color: black;
    font-weight: normal;
    font-style: italic;
    font-size: 70%;
  }
</style>